Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

chore: make verify button disabled once user edit personal details and added growthbook
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/verify-button.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: scss changes to fix tablet view issue
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.scss
  packages/account/src/Styles/account.scss
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: hide notification and show demo message when user is in demo account
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/core/src/Stores/notification-store.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix : types
  packages/account/package.json
  packages/api-v2/package.json
  packages/api/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/cashier-v2/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/stores/package.json
  packages/trader/package.json
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/__tests__/payout-selector.spec.tsx
  packages/utils/package.json
  packages/wallets/package.json
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @vinu-deriv, @markwylde-deriv, @aizad-deriv, @heorhi-deriv

Apply suggestions from code review
  packages/wallets/src/features/cfd/modals/ServerMaintenanceModal/ServerMaintenanceModal.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: duplicated type in TSocketEndpoints and TPrivateSocketEndpoints
  packages/api-v2/types.ts
  packages/api/types.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

chore: apply code review suggestions
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cfd/src/Containers/cfd-server-maintenance-modal.tsx
  packages/cfd/src/Containers/mt5-account-unavailable-modal.tsx
  packages/shared/src/utils/constants/mt5-login-list-status.ts
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @hirad-deriv, @matin-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: revert type
  package-lock.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/api/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/stores/package.json
  packages/trader/package.json
  packages/utils/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv

fix: removed availability
  packages/core/src/Stores/traders-hub-store.js
  packages/shared/src/utils/cfd/available-cfd-accounts.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: handle types manually
  package-lock.json
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @maryia-deriv

fix: fixing type
  packages/trader/src/Stores/Modules/Trading/Helpers/preview-proposal.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

fix: small fix
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/__tests__/payout-per-point-input.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/__tests__/payout-per-point-mobile-input.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/__tests__/wheel-picker.spec.tsx
Owners: @matin-deriv, @maryia-deriv

chore: implement growthbook in AppContent and added client store for it
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-verification-page.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/core/src/App/AppContent.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: remove commented code
  packages/trader/src/Modules/Trading/Components/Form/Purchase/__tests__/contract-info.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: renaming
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/__tests__/payout-selector.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/payout-selector.tsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

chore: change to redirect user back to personal details once they switch to demo
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

Maryia/DTRA-1491/feat: finalize LastDigitPrediction param + Current spot price animation (#152)
  packages/core/src/Stores/contract-trade-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot-display.tsx
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot.scss
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/digit.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.scss
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-selector.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Utils/positions-utils.ts
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[FEQ] george / FEQ-2494/ Update @deriv-com/analytics package to v1.9.0 (#16111)
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/AppContent.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

chore: move popover tablet view from right to top
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: fixed the tablet view CFD modal issues
  packages/cfd/src/Containers/cfd-password-manager-modal.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

refactor: replace walletbutton with button
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/components/WalletsErrorScreen/WalletsErrorScreen.tsx
  packages/wallets/src/features/cashier/components/WalletActionModal/WalletActionModal.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/FiatOnRamp.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/components/FiatOnRampDisclaimer/FiatOnRampDisclaimer.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/components/FiatOnRampDisclaimer/__tests__/FiatOnRampDisclaimer.spec.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/components/FiatOnRampProviderCard/FiatOnRampProviderCard.tsx
  packages/wallets/src/features/cashier/modules/ResetBalance/ResetBalance.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/CryptoTransaction/CryptoTransaction.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusError/TransactionStatusError.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusSuccess/TransactionStatusSuccess.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
  packages/wallets/src/features/cashier/modules/Transfer/Transfer.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferForm/TransferForm.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferForm/__tests__/TransferForm.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferMessages/TransferMessages.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/WithdrawalCryptoForm.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/WithdrawalCryptoReceipt.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/WithdrawalVerificationRequest/WithdrawalVerificationRequest.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/WithdrawalVerificationSent/WithdrawalVerificationSent.tsx
  packages/wallets/src/features/cashier/screens/TransferNotAvailable/TransferNotAvailableProvider.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalErrorScreen/WithdrawalErrorScreen.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalNoBalance/WithdrawalNoBalance.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @markwylde-deriv, @hirad-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

feat: added the residence in the analytics
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: type in TPrivateSocketEndpoints instead of TSocketEndpoints
  packages/api-v2/src/hooks/useTradingPlatformStatus.ts
  packages/api-v2/types.ts
  packages/api/types.ts
  packages/hooks/src/useTradingPlatformStatus.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

fix: change link filtering logic
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: replace switch case with object keys
  packages/cfd/src/Containers/cfd-server-maintenance-modal.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/modals/ServerMaintenanceModal/ServerMaintenanceModal.tsx
  packages/wallets/src/features/cfd/screens/ServerMaintenance/ServerMaintenance.tsx
Owners: @hirad-deriv, @matin-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: updated package json
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: ctrader avaiability
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: ctrader avaiability condition
  packages/core/src/Stores/traders-hub-store.js
  packages/shared/src/utils/cfd/available-cfd-accounts.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: prettier
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: added comments
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: Refactor Trading App Card component in Wallets
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.scss
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.tsx
  packages/wallets/src/components/TradingAccountCard/TradingAccountCardButton.tsx
  packages/wallets/src/components/TradingAccountCard/TradingAccountCardContent.tsx
  packages/wallets/src/components/TradingAccountCard/TradingAccountCardIcon.tsx
  packages/wallets/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.scss
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: fixed the issue of ctrader dropdown
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: hide verify button when phone number changes
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/verify-button.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: update growthbook usage based on comment
  packages/core/src/App/AppContent.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: added comments and moved the function to down
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[UPM-1233]/evgeniy/add "passkey_available" flag to cookie (#15974)
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

Ahmad/DTRA-1408/Fix Vanilla Contract in Contract Details V2 (#16018)
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

Ahmad/DTRA-1405/Multipliers fix on Contract Details V2 (#16017)
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Components/TakeProfitHistory/__tests__/take-profit-history.spec.tsx
  packages/trader/src/AppV2/Components/TakeProfitHistory/take-profit-history.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Ahmad/DTRA-1401/DTRA-1402/Add currency in payout per point and decimal point in take profit (#16012)
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
Owners: @matin-deriv, @maryia-deriv

chore: fix existing css issues for components using TradingAppCard
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.scss
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.scss
  packages/wallets/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.scss
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.scss
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.scss
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv
