Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: test remove line
  packages/bot-skeleton/src/scratch/blocks/index.js
Owners: @sandeep-deriv, @vinu-deriv

chore: test remove line
  packages/bot-skeleton/src/scratch/blocks/index.js
Owners: @sandeep-deriv, @vinu-deriv

chore: remove landscape blocker for Wallets
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.tsx
  packages/shared/src/utils/routes/routes.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: :lipstick: fixing the animation for start bot
  packages/bot-web-ui/src/components/contract-card-loading/contract-card-running-bot.tsx
  packages/bot-web-ui/src/components/summary/summary-card.scss
  packages/bot-web-ui/src/components/summary/summary.scss
Owners: @sandeep-deriv, @vinu-deriv

fix: setting pipsize
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

chore: test commit
  packages/bot-web-ui/src/app/app-main.tsx
Owners: @sandeep-deriv, @vinu-deriv

Revert "Fasih/TRAH-3793/ Removed popup (#16048)"
  packages/account/src/Components/additional-kyc-info-modal/additional-kyc-info-form.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: update @deriv/deriv-charts to 2.1.25
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: update Header for Tablet view for Wallets
  packages/core/src/App/Containers/Layout/header/traders-hub-header-wallets.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

style: status badge icon height issue
  packages/components/src/components/status-badge/status-badge.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: bring back old changes
  packages/core/src/Stores/traders-hub-store.js
  packages/shared/src/utils/cfd/available-cfd-accounts.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: change CFD and Options scss listing to support tablet view
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsSection.scss
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.scss
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListHeader/WalletListHeader.tsx
  packages/wallets/src/features/cfd/CFDPlatformsList.scss
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
  packages/wallets/src/features/cfd/components/CFDPlatformsListAccounts/CFDPlatformsListAccounts.scss
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.scss
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: fixed the next button of COJ modal
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-foot-note.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv

fix: test
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update @deriv/deriv-charts to 2.1.25 (#16176)
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/de.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: fix carousel styles for tablet
  packages/wallets/src/components/AccountsList/AccountsList.scss
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: remove trading account card border bottom for tablet view
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: added contract replay chart
  packages/trader/src/AppV2/Containers/Chart/__tests__/chart-placeholder.spec.tsx
  packages/trader/src/AppV2/Containers/Chart/__tests__/contract-details-chart.spec.tsx
  packages/trader/src/AppV2/Containers/Chart/chart-placeholder.tsx
  packages/trader/src/AppV2/Containers/Chart/chart.scss
  packages/trader/src/AppV2/Containers/Chart/contract-details-chart.scss
  packages/trader/src/AppV2/Containers/Chart/contract-details-chart.tsx
  packages/trader/src/AppV2/Containers/Chart/index.ts
Owners: @matin-deriv, @maryia-deriv

chore: updated styles for AddMoreWallets section
  packages/wallets/src/AppContent.scss
  packages/wallets/src/components/WalletsAddMoreCard/WalletsAddMoreCard.scss
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.scss
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.tsx
  packages/wallets/src/components/WalletsCarouselHeader/WalletsCarouselHeader.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

dummy pr
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
Owners: @sandeep-deriv, @vinu-deriv

fix: using get barrier pipsize
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

refactor: transfer button icon to children
  packages/trader/src/AppV2/Components/Guide/guide.tsx
Owners: @matin-deriv, @maryia-deriv

style: using WalletText component for status badge text
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.scss
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: imported URL from external URL file
  packages/account/src/Components/forms/personal-details-form.jsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: useTradingPlatformStatus.spec.tsx
  packages/hooks/src/__tests__/useTradingPlatformStatus.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv

refactor: another attempt to fix
  packages/trader/src/AppV2/Components/Guide/guide.tsx
Owners: @matin-deriv, @maryia-deriv

fix: added constants as seperate file
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/testfileConstants.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: review fix optimization
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.tsx
Owners: @matin-deriv, @maryia-deriv

fix: removing extra test condition
  packages/trader/src/Modules/Contract/Containers/__tests__/replay-chart.spec.tsx
Owners: @matin-deriv, @maryia-deriv

add dummy stuff
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
Owners: @sandeep-deriv, @vinu-deriv

chore: update expectations and conditional
  packages/wallets/component-tests/wallets-carousel-content.spec.tsx
  packages/wallets/src/AppContent.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: fixed build issue
  packages/account/src/Components/forms/personal-details-form.jsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

dummy
  packages/bot-web-ui/src/components/run-panel/run-panel.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: did improvements to the cfd-password-manager
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/cfd-password-manager-modal.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv

fix: console error
  packages/trader/src/AppV2/Components/Guide/guide.scss
  packages/trader/src/AppV2/Components/Guide/guide.tsx
Owners: @matin-deriv, @maryia-deriv

build: update analytics to version 1.10.1
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

fix: version
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

fix: add key for label trade params
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
Owners: @matin-deriv, @maryia-deriv

chore: removed the deprecated isDesktop and replaced with a new one
  packages/cfd/src/Containers/cfd-password-manager-modal.tsx
Owners: @hirad-deriv, @matin-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
