Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

[DTRA] henry/dtra-1708/fix: resolve console errors in dtrader v2 (#16666)
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[WALL] Aizad/WALL-2950/Unit test for EnterPassword (#16664)
  packages/wallets/src/features/cfd/screens/EnterPassword/__test__/EnterPassword.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: updated trade modal ui in TH and WALL
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Helpers/config.tsx
  packages/core/src/App/Containers/AccountSwitcher/helpers/account-helper.js
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: icon button header colors
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

Niloofar / Added a condition to ensure that Growthbook is fully loaded before assigning or using any feature flags (#16642)
  packages/core/src/App/Components/Layout/Header/signup-button.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Niloofar / Added a condition to ensure that Growthbook is fully loaded before assigning or using any feature flags (#16642)
  packages/core/src/App/Components/Layout/Header/signup-button.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: fix test case fail issue
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-number-verified-modal.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: disable get code when error message is displayed
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: added POAForm testcase
  packages/account/src/Sections/Verification/ProofOfAddress/__tests__/proof-of-address-form.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix(cashier): :ambulance: fix onramp provider redirection
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

test(cashier): :test_tube: fix test
  packages/cashier/src/pages/on-ramp/__tests__/on-ramp.spec.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

Suisin/chore: remove mongolian language (#16513)
  packages/components/src/components/autocomplete/autocomplete.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/shared/src/utils/config/adapters.ts
  packages/shared/src/utils/constants/default-options.ts
  packages/translations/src/i18next/i18next.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

test: improve guide-content
  packages/bot-web-ui/src/pages/tutorials/guide-content/__tests__/guide-content.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

test: improve guide-content(1)
  packages/bot-web-ui/src/pages/tutorials/guide-content/__tests__/guide-content.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

test: improve guide-content(2)
  packages/bot-web-ui/src/pages/tutorials/guide-content/__tests__/guide-content.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: [UPM-1303]/evgeniy/livechat name and email not pipulated
  packages/core/src/App/Components/Elements/LiveChat/use-livechat.ts
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: add section message to DC + update text copy
  packages/trader/src/AppV2/Components/RiskManagementInfoModal/risk-management-info-modal.scss
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
Owners: @matin-deriv, @maryia-deriv

chore: added POAForm testcase
  packages/account/src/Components/file-uploader-container/file-uploader-container.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/__tests__/proof-of-address-form.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: sanity check on styles of modal1
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

refactor: add tests
  packages/trader/src/AppV2/Components/OnboardingGuide/__tests__/guide-container.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/__tests__/guide-tooltip.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/__tests__/onboarding-guide.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/__tests__/onboarding-video.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/onboarding-video.tsx
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
Owners: @matin-deriv, @maryia-deriv

revert: extra non-aligned file from master
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

revert: extra non-aligned file from master
  packages/wallets/src/components/WalletsAddMoreCardContent/WalletsAddMoreCardContent.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: add total PnL to risk management action sheet + update sheet height
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.scss
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Components/TotalProfitLoss/total-profit-loss.scss
  packages/trader/src/AppV2/Components/TotalProfitLoss/total-profit-loss.tsx
Owners: @matin-deriv, @maryia-deriv

[WALL] / george / WALL-4812 / Banxa is not working for any crypto currencies (#16673)
  packages/cashier/src/pages/on-ramp/__tests__/on-ramp.spec.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

[WALL] / george / WALL-4812 / Banxa is not working for any crypto currencies (#16673)
  packages/cashier/src/pages/on-ramp/__tests__/on-ramp.spec.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

feat: update chart scroll behavior to allow page scroll on it in contract details
  packages/trader/src/AppV2/Containers/Chart/contract-details-chart.tsx
  packages/trader/src/Modules/Contract/Containers/replay-chart.tsx
Owners: @matin-deriv, @maryia-deriv

fix: tests
  packages/trader/src/AppV2/Components/EmptyPositions/__tests__/empty-positions.spec.tsx
  packages/trader/src/AppV2/Components/Filter/__tests__/contract-type-filter.spec.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
Owners: @matin-deriv, @maryia-deriv

revert: unnecessary changes & files from master
  packages/core/src/Stores/common-store.js
  packages/wallets/src/components/WalletsAddMoreCardContent/WalletsAddMoreCardContent.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

revert: unnecessary change
  packages/core/src/sass/app/_common/layout/header.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[BOT] sandeep/bot-2144/ server-bot fix: :fire: fixed digits contract bot error (#16630)
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/constants.ts
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/useQsSubmitHandler.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/parts/__tests__/loss-threshold-warning.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/parts/loss-threshold-warning-dialog.tsx
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: unit test
  packages/core/src/App/AppContent.tsx
  packages/wallets/src/App.tsx
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/TransactionsCompletedRowAccountDetails.scss
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/utils/__tests__/withdrawalCryptoValidators.spec.ts
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/CompareAccountsDescription.spec.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/compareAccountsConfig.spec.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: dont allow spaces as value
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/add-bot.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/add-text-input.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: remove extra validation
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/add-bot.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: cfd and options arrow direction
  packages/wallets/src/App.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/wallets/src/hooks/useIsRtl.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
