Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

chore: update code based on comments
  packages/hooks/src/useSettings.ts
Owners: @ali-hosseini-deriv, @matin-deriv

chore: update verify-button.spec.tsx based on comment
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/verify-button.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: build
  packages/components/src/components/icon/icons.js
  packages/stores/src/mockStore.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: max height of scrollable part of account switcher
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-switcher-dtrader-v2.tsx
  packages/core/src/sass/app/_common/components/account-switcher-dtrader-v2.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: and distinguish between open/closed tabs
  packages/components/src/components/loading/dtrader-v2-loaders/contract-card-loader.tsx
  packages/components/src/components/loading/dtrader-v2-loaders/contract-details-loader.tsx
  packages/components/src/components/loading/dtrader-v2-loaders/header-loader.tsx
  packages/components/src/components/loading/dtrader-v2-loaders/positions-loader.tsx
  packages/components/src/components/loading/dtrader-v2-loaders/trade-loader.tsx
  packages/components/src/components/loading/loading.scss
  packages/core/src/App/Components/Routes/binary-routes.jsx
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/shared/src/utils/helpers/__tests__/dtrader-v2-helpers.spec.ts
  packages/shared/src/utils/helpers/dtrader-v2-helpers.ts
  packages/shared/src/utils/helpers/index.ts
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/AppV2/Utils/__tests__/positions-utils.spec.ts
  packages/trader/src/AppV2/Utils/positions-utils.ts
  packages/trader/src/index.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: Mt5 bug fix
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: cashier tablet view init
  packages/cashier/src/components/page-container/page-container.scss
  packages/cashier/src/components/page-container/page-container.tsx
  packages/cashier/src/containers/cashier/cashier.scss
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/modules/deposit-fiat/components/deposit-fiat-iframe/deposit-fiat-iframe.scss
  packages/cashier/src/pages/on-ramp/on-ramp.scss
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/shared/src/utils/routes/routes.ts
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: remove unused prop
  packages/cashier/src/containers/cashier/cashier.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

feat: temp checking
  .github/actions/analyze/action.yml
  packages/account/report.json
  packages/account/treemap.html
  packages/appstore/report.json
  packages/appstore/treemap.html
  packages/bot-web-ui/report.json
  packages/bot-web-ui/treemap.html
  packages/cashier-v2/report.json
  packages/cashier-v2/treemap.html
  packages/cashier/report.json
  packages/cashier/treemap.html
  packages/cfd/report.json
  packages/cfd/treemap.html
  packages/core/report.json
  packages/p2p/report.json
  packages/p2p/treemap.html
  packages/reports/report.json
  packages/reports/treemap.html
  packages/trader/report.json
  packages/trader/treemap.html
  packages/wallets/report.json
  packages/wallets/treemap.html
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

feat: testing
  .github/actions/analyze/action.yml
  validate.sh
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: testing
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: testing
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: testing
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: testing
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: testing
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: testing
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: testing
  .github/workflows/analyze.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: testing
  .github/workflows/analyze.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: add APIProvider to CFDProviders
  packages/cfd/src/cfd-providers.tsx
Owners: @hirad-deriv, @matin-deriv

feat: testing
  .github/workflows/analyze.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

refactor: account menu height
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-switcher-dtrader-v2.tsx
  packages/core/src/sass/app/_common/components/account-switcher-dtrader-v2.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: text with localize
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: added a check to load the status
  packages/core/src/App/Components/Layout/Footer/toggle-language-settings.tsx
  packages/core/src/App/app.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: fixed mt5 scroll in desktop as well
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: on-ramp ui issues
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/pages/on-ramp/on-ramp-provider-popup/on-ramp-provider-popup.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: prettier issue
  packages/core/src/App/Components/Layout/Footer/toggle-language-settings.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update package-lock.json
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Revert "chore: redirect to login and from login for email request modal (#15720)"
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Revert "chore: redirect to login and from login for email request modal (#15720)" (#15961)
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: bundle size report to DD
  .github/actions/analyze/action.yml
  .github/actions/analyze/compareReports.js
  .github/workflows/analyze.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Revert "chore: redirect to login and from login for email request modal (#15720)" (#15961)
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/pt.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[WALL] Rostislav / WALL-4218 / Compare accounts modal new icons (#15802)
  package-lock.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/core/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsIconWithLabel.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsIconWithLabel.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsLabelHighlighted.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/compareAccountsConfig.ts
  packages/wallets/src/public/images/tradingInstruments.tsx
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-baskets.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-commodities.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-cryptocurrencies.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-derived-fx.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-etf.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-forex.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-stock-indices.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-stocks.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-synthetics.svg
  packages/wallets/src/public/images/tradingInstruments/index.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/pt.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: create useStatement hook
  packages/hooks/src/index.ts
  packages/hooks/src/useStatement.ts
Owners: @ali-hosseini-deriv, @matin-deriv

refactor: apply suggestions
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/accumulators-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/even-odd-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/higher-lower-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/matches-differs-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/multipliers-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/over-under-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/rise-fall-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/touch-no-touch-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/turbos-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/vanillas-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/video-preview.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
  packages/trader/src/AppV2/Components/Guide/decription-modal.tsx
  packages/trader/src/AppV2/Components/Guide/definition-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.scss
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-types-utils.spec.tsx
  packages/trader/src/AppV2/Utils/positions-utils.ts
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
Owners: @matin-deriv, @maryia-deriv

fix: on-ramp ui issues
  packages/cashier/src/containers/cashier/cashier.scss
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
  packages/cashier/src/pages/on-ramp/on-ramp.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

chore: update notifications icon and bottom loader in closed tab
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-actions-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/notifications-icon-dtrader-v2.tsx
  packages/core/src/sass/app/_common/layout/header.scss
  packages/trader/src/AppV2/Components/ContractCard/contract-cards-sections.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: refactor toast component
  package-lock.json
  packages/account/package.json
  packages/account/src/App.tsx
  packages/account/src/Components/network-status-toast-popup/__tests__/network-status-toast-popup.spec.tsx
  packages/account/src/Components/network-status-toast-popup/index.ts
  packages/account/src/Components/network-status-toast-popup/network-status-toast-popup.scss
  packages/account/src/Components/network-status-toast-popup/network-status-toast-popup.tsx
  packages/account/src/Containers/toast-popup.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

refactor: apply more suggestions
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/video-fragment.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/video-fragment.tsx
  packages/trader/src/AppV2/Components/Guide/Description/video-preview.tsx
Owners: @matin-deriv, @maryia-deriv
