Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

feat: removed v2s from linting
  .github/workflows/test.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

ci: add permission
  .github/workflows/sync-translations.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: fix sonar cloud
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: rudderstack issues for quick strategy and tutorial
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/analytics/rudderstack-quick-strategy.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/analytics/utils.ts
  packages/bot-web-ui/src/pages/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/tutorials/common/search-input/index.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Owners: @sandeep-deriv, @vinu-deriv

refactor: add tests for list item component
  packages/reports/src/Components/Form/CompositeCalendar/__tests__/list-item.spec.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

feat: reverted dummy change
  README.md
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: sonar cloud
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form.tsx
Owners: @sandeep-deriv, @vinu-deriv

refactor: add tests for side list file
  packages/reports/src/Components/Form/CompositeCalendar/__tests__/side-list.spec.tsx
  packages/reports/src/Components/Form/CompositeCalendar/side-list.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

chore: unified rudderstack components to analytics folder
  packages/bot-web-ui/src/analytics/__tests__/utils.spec.ts
  packages/bot-web-ui/src/analytics/constants.ts
  packages/bot-web-ui/src/analytics/rudderstack-quick-strategy.ts
  packages/bot-web-ui/src/analytics/rudderstack-tutorials.ts
  packages/bot-web-ui/src/analytics/utils.ts
  packages/bot-web-ui/src/components/trade-animation/trade-animation.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/mobile-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/tutorials/common/search-input/index.tsx
  packages/bot-web-ui/src/pages/tutorials/quick-strategy-content/quick-strategy-guides-details.tsx
Owners: @sandeep-deriv, @vinu-deriv

test: increase test coverage for getRowAction
  packages/reports/src/Containers/__tests__/statement.spec.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

fix: types
  packages/reports/src/Containers/__tests__/statement.spec.tsx
  packages/reports/src/Containers/statement.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

fix: testcases
  packages/account/src/Components/additional-kyc-info-modal/additional-kyc-info-form.tsx
  packages/account/src/Components/address-details/__tests__/address-details.spec.tsx
  packages/account/src/Components/address-details/address-details.tsx
  packages/account/src/Components/api-token/api-token-delete-button.tsx
  packages/account/src/Components/financial-details/financial-details-partials.tsx
  packages/account/src/Components/icon-with-message/icon-with-message.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: synced translations
  packages/account/build/constants.js
  packages/account/src/App.tsx
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: add ws.wait and add account_limits to the dependency array of the withdrawal component
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/cashier/src/stores/withdraw-store.ts
  packages/core/src/Stores/client-store.js
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: add tests for composite calendar
  packages/reports/src/Components/Form/CompositeCalendar/__tests__/composite-calendar.spec.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

[WALL] aum / WALL-4307 / Lazy-load-DesktopWalletsList-and-WalletsCarousel (#15517)
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
  packages/wallets/src/routes/WalletsListingRoute/__tests__/WalletsListingRoute.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/pt.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: test cases for self-exclusion and withdraw-store
  packages/account/src/Sections/Security/SelfExclusion/__tests__/self-exclusion.spec.tsx
  packages/cashier/src/stores/__tests__/withdraw-store.spec.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @farrah-deriv, @nijil-deriv, @wojciech-deriv

[COJ]/Likhith/coj 782/refactor profile section code phase1 (#15443)
  packages/account/build/webpack.config.js
  packages/account/src/App.tsx
  packages/account/src/Components/form-body/form-body.tsx
  packages/account/src/Components/form-sub-header/form-sub-header.tsx
  packages/account/src/Components/forms/form-fields/date-of-birth-field.tsx
  packages/account/src/Components/forms/form-select-field.tsx
  packages/account/src/Components/language-settings/__tests__/language-radio-button.spec.tsx
  packages/account/src/Components/language-settings/language-radio-button.tsx
  packages/account/src/Components/load-error-message/load-error-message.tsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
  packages/account/src/Components/personal-details/index.ts
  packages/account/src/Components/personal-details/personal-details.tsx
  packages/account/src/Components/poa-address-mismatch-hint-box/poa-address-mismatch-hint-box.scss
  packages/account/src/Components/poa-address-mismatch-hint-box/poa-address-mismatch-hint-box.tsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Helpers/utils.tsx
  packages/account/src/Sections/Profile/LanguageSettings/__tests__/language-settings.spec.tsx
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details-form.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/input-group.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Types/common.type.ts
  packages/core/src/sass/account-wizard.scss
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

feat: added uploading the foam chart to artifactory
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: [UPM-1162]/evgeniy/invalid date in logic history
  packages/utils/src/getLoginHistoryFormattedData.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: removed unnecessary step
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: fixed paths, added test file for faster iteration
  .github/actions/analyze/action.yml
  packages/wallets/test.html
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

feat: test
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

refactor: remove tracking of open/close actions for ce_chart_types_form and ce_market_types_form
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/chart.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/chart.ts
Owners: @matin-deriv, @maryia-deriv

feat: test
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: test
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: test
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: test
  .github/actions/analyze/action.yml
  .github/workflows/analyze.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/pt.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: test
  .github/actions/analyze/action.yml
  .gitignore
  packages/account/analyzed.html
  packages/account/report.json
  packages/appstore/analyzed.html
  packages/appstore/report.json
  packages/bot-web-ui/analyzed.html
  packages/bot-web-ui/report.json
  packages/cashier/analyzed.html
  packages/cashier/report.json
  packages/cfd/analyzed.html
  packages/cfd/report.json
  packages/core/report.json
  packages/p2p/analyzed.html
  packages/p2p/report.json
  packages/reports/analyzed.html
  packages/reports/report.json
  packages/trader/analyzed.html
  packages/trader/report.json
  packages/wallets/analyzed.html
  packages/wallets/report.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

feat: poa_account_settings
  packages/account/src/Components/poa/status/unverified/unverified.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: test
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: test
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: test
  .github/actions/analyze/action.yml
  .github/workflows/analyze.yml
  packages/account/analyzed.html
  packages/account/report.json
  packages/appstore/analyzed.html
  packages/appstore/report.json
  packages/bot-web-ui/analyzed.html
  packages/bot-web-ui/report.json
  packages/cashier/analyzed.html
  packages/cashier/report.json
  packages/cfd/analyzed.html
  packages/cfd/report.json
  packages/core/report.json
  packages/p2p/analyzed.html
  packages/p2p/report.json
  packages/reports/analyzed.html
  packages/reports/report.json
  packages/trader/analyzed.html
  packages/trader/report.json
  packages/wallets/analyzed.html
  packages/wallets/report.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

feat: test
  .gitignore
  packages/wallets/test.html
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

feat: test
  .gitignore
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: test
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: test
  .github/actions/analyze/action.yml
  .gitignore
  analyze.html
  packages/account-v2/package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/cashier-v2/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/tradershub/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @ali-hosseini-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: implemented sync b/w footer and account settings
  packages/account/src/App.tsx
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
