Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: applied comments
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: convert 404 page int TS
  packages/cfd/src/Modules/Page404/Components/Page404.tsx
  packages/cfd/src/Modules/Page404/index.js
  packages/cfd/src/Modules/Page404/index.ts
Owners: @hirad-deriv, @matin-deriv

feat: added types to work on route config
  packages/cfd/src/Containers/props.types.ts
Owners: @hirad-deriv, @matin-deriv

feat: convert routes-config to TS
  packages/cfd/src/Constants/routes-config.js
  packages/cfd/src/Constants/routes-config.tsx
Owners: @hirad-deriv, @matin-deriv

feat: convert routes component to TS
  packages/cfd/src/Containers/routes/routes.tsx
Owners: @hirad-deriv, @matin-deriv

fix: rename test cases
  packages/wallets/src/features/cashier/context/__tests__/CashierScrollContext.spec.tsx
  packages/wallets/src/features/cashier/helpers/__tests__/helpers.spec.ts
  packages/wallets/src/features/cashier/helpers/__tests__/transaction-helpers.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: make no as default value
  packages/account/src/Configs/terms-of-use-config.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: fixed Error Component according to Routes component
  packages/cfd/src/Components/Errors/error-component.tsx
Owners: @hirad-deriv, @matin-deriv

fix: rename test case
  packages/wallets/src/features/cashier/screens/TransferNotAvailable/__tests__/TransferNotAvailableProvider.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: missing imports
  packages/cfd/src/Components/Routes/index.ts
  packages/cfd/src/Modules/Page404/index.ts
Owners: @hirad-deriv, @matin-deriv

chore: remove mongolian language
  packages/shared/src/utils/constants/default-options.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: convert route-with-sub-routes to TS
  packages/cfd/src/Components/Routes/binary-routes.tsx
  packages/cfd/src/Components/Routes/index.ts
  packages/cfd/src/Components/Routes/route-with-sub-routes.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/cfd/src/types/types.ts
Owners: @hirad-deriv, @matin-deriv

fix: fixed build errors
  packages/cfd/src/Constants/routes-config.tsx
  packages/cfd/src/Containers/index.ts
Owners: @hirad-deriv, @matin-deriv

feat: removed prop types package
  packages/cfd/package.json
Owners: @hirad-deriv, @matin-deriv

fix: fixed failed import in cfd top up demo modal
  packages/cfd/src/Containers/cfd-top-up-demo-modal.tsx
Owners: @hirad-deriv, @matin-deriv

feat: added test to binary routes
  packages/cfd/src/Components/Routes/__tests__/binary-routes.spec.tsx
  packages/cfd/src/Components/Routes/binary-routes.tsx
Owners: @hirad-deriv, @matin-deriv

refactor: mulripliers dc info
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersDealCancellationInfo/__tests__/multipliers-deal-cancellation-info.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersDealCancellationInfo/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersDealCancellationInfo/multipliers-deal-cancellation-info.scss
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersDealCancellationInfo/multipliers-deal-cancellation-info.tsx
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersInformation/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
Owners: @matin-deriv, @maryia-deriv

feat: added test to route with subroute component
  packages/cfd/src/Components/Routes/__tests__/route-with-sub-routes.spec.tsx
  packages/cfd/src/Components/Routes/route-with-sub-routes.tsx
Owners: @hirad-deriv, @matin-deriv

fix: tp bug with replacement
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: Remove dangerouslySetInnerHTML
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/descriptions/strategy-description.tsx
  packages/bot-web-ui/src/pages/tutorials/faq-content/index.tsx
Owners: @sandeep-deriv, @vinu-deriv

refactor: move validation to BE
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/__tests__/take-profit.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
Owners: @matin-deriv, @maryia-deriv

chore: lazy load for passkey, added email flow and component
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-remove.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-removing-otp-verification.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-removing-verification.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-rename.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-container.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/account/src/Sections/index.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

[UPM-1358]/evgeniy/text area in account closure menu are not bold (#16432)
  packages/account/src/Styles/account.scss
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/uz.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: add tnc_acceptance field to account creation(real/malta) api req
  packages/account/src/Components/terms-of-use/__tests__/terms-of-use.spec.tsx
  packages/account/src/Components/terms-of-use/terms-of-use.tsx
  packages/account/src/Configs/terms-of-use-config.ts
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: remove unused important
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
Owners: @matin-deriv, @maryia-deriv

refactor: combained ba and fe validation
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
Owners: @matin-deriv, @maryia-deriv

chore: commented tests
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/__tests__/take-profit.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: update
  packages/wallets/src/features/cfd/modals/PasswordLimitExceededModal/PasswordLimitExceededModal.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: trader's hub link underline fix
  packages/appstore/src/components/containers/listing-container.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: trader's hub link underline fix
  packages/appstore/src/components/containers/listing-container.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: add preferred language and current language
  packages/cashier/src/containers/cashier/cashier.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: subtasks (balance field, text alignment, multiple status badges)
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/types/account.types.ts
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/utils/tradingPlatformStatusMessageFn.tsx
  packages/wallets/src/features/cfd/screens/index.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @farrah-deriv, @wojciech-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

[CFDS][TRAH] shontzu/CFDS-3959/Financial-Assessment-hyperlink-is-not-working-from-transfer-page (#16464)
  packages/appstore/src/components/account-transfer-modal/__tests__/account-transfer-modal.spec.tsx
  packages/appstore/src/components/account-transfer-modal/account-transfer-modal.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/__tests__/account-transfer-form.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.scss
  packages/components/src/components/cfd-compare-accounts-carousel/cfd-compare-accounts-carousel.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @farrah-deriv, @wojciech-deriv, @hirad-deriv, @ali-hosseini-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/uz.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: set is_loading to false as it was stuck due to the onMount function in general store (#16395)
  packages/p2p/src/stores/general-store.js
Owners: @farrah-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/uz.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: fixed client verification
  packages/wallets/src/features/cfd/flows/ClientVerification/ClientVerification.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

DTRA / Kate / DTRA-1629 / Bug: selected value is set on page refresh (#16442)
  packages/stores/src/mockStore.ts
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate-picker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike-wheel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/contract-type.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/__tests__/trade-store.spec.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/uz.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
