Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

chore: replace old mixins with newly updated ones
  packages/wallets/src/components/AccountsList/AccountsList.scss
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/Base/WalletText/WalletText.scss
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsSection.scss
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListHeader/WalletListHeader.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.scss
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.scss
  packages/wallets/src/components/WalletsCarouselHeader/WalletsCarouselHeader.scss
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.scss
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix : missed rounding for trade-store
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

chore: add isSubscribed to conditional
  packages/wallets/src/AppContent.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: remove unused imports
  packages/account/src/Components/language-settings/language-radio-button.tsx
  packages/core/src/App/Components/Routes/language-link.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: minor fixes
  packages/wallets/src/components/FormDropdown/FormDropdown.scss
  packages/wallets/src/components/FormDropdown/FormDropdown.tsx
  packages/wallets/src/components/FormField/FormField.tsx
  packages/wallets/src/components/FormField/__tests__/FormField.spec.tsx
  packages/wallets/src/components/FormField/__tests__/FormField.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/IDVService.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/components/IDVServiceErrorMessage.scss
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/components/IDVServiceErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/components/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/hooks/useIDVService.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/VerifyPersonalDetails.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/components/ErrorMessage/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/components/VerifyPersonalDetailsErrorMessage/VerifyPersonalDetailsErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/components/VerifyPersonalDetailsErrorMessage/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/components/index.ts
  packages/wallets/src/features/accounts/modules/Poa/Poa.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/DocumentSubmission/__tests__/DocumentSubmission.spec.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/TaxInformation.scss
  packages/wallets/src/features/accounts/modules/TaxInformation/TaxInformation.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/hooks/useTaxInformation.ts
  packages/wallets/src/features/accounts/modules/TaxInformation/utils/taxInformationValidator.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: apply suggestion
  packages/trader/src/AppV2/Components/DraggableList/__tests__/draggable-list.spec.tsx
  packages/trader/src/AppV2/Components/DraggableList/draggable-list-item.tsx
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.scss
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list-item.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @matin-deriv, @maryia-deriv

chore: did improvement to the form submit button for responsive view
  packages/components/src/components/form-submit-button/form-submit-button.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update ref name
  packages/wallets/src/AppContent.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: implement tablet view for fiat wallet cashier
  packages/wallets/src/features/cashier/WalletCashier.scss
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.scss
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoAddress/DepositCryptoAddress.scss
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoAddress/DepositCryptoAddress.tsx
  packages/wallets/src/features/cashier/modules/DepositFiat/DepositFiat.scss
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.scss
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: loader position, amount of progress bar dots
  packages/bot-web-ui/src/components/summary/summary.scss
  packages/bot-web-ui/src/components/trade-animation/trade-animation.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: console error for trade params label
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
Owners: @matin-deriv, @maryia-deriv

feat: added @testing-library/do (need to remove later)
  packages/cfd/package.json
Owners: @hirad-deriv, @matin-deriv

feat: added first test cases
  packages/cfd/src/Components/success-dialog/__tests__/success-dialog.spec.tsx
Owners: @hirad-deriv, @matin-deriv

Suisin/chore: add Khmer language into deriv-app (#15714)
  package-lock.json
  packages/account/package.json
  packages/account/src/Components/language-settings/language-radio-button.tsx
  packages/appstore/package.json
  packages/bot-skeleton/src/scratch/blocks/index.js
  packages/bot-web-ui/src/components/bot-notification/bot-notification.scss
  packages/cfd/package.json
  packages/components/src/components/icon/flag/ic-flag-ko.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/types/icons.types.ts
  packages/core/package.json
  packages/core/src/App/Components/Routes/language-link.tsx
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/p2p/src/components/i18next/index.ts
  packages/shared/src/utils/constants/translation-flag.tsx
  packages/shared/src/utils/date/date-time.ts
  packages/translations/src/i18next/i18next.ts
  packages/translations/src/translations/km.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @hirad-deriv, @ali-hosseini-deriv, @farrah-deriv

refactor: update quill ui lib
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: fix failing tests
  packages/wallets/component-tests/wallets-carousel-content.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: add mockbalance
  packages/wallets/component-tests/wallets-carousel-content.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: add dvh (#161)
  packages/core/src/sass/app/_common/components/account-switcher-dtrader-v2.scss
  packages/trader/src/AppV2/Components/FavoriteSymbols/favorite-symbols.scss
  packages/trader/src/AppV2/Components/Guide/guide.scss
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update cashier crypto wallets
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.scss
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoDisclaimers/DepositCryptoDisclaimers.scss
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoTryFiatOnRamp/DepositCryptoTryFiatOnRamp.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferForm/TransferForm.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferForm/TransferForm.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountSelection/TransferFormAccountSelection.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountSelection/TransferFormAccountSelection.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: indentation in api types
  packages/api-v2/types.ts
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferForm/TransferForm.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

chore: update onboarding steps for tablet
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: mockUseQuery
  packages/hooks/src/__tests__/useTradingPlatformStatus.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv

[WALL] Jim/WALL-4588/fix failing tests (#16188)
  packages/wallets/component-tests/wallets-carousel-content.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/de.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: removed isMobile
  packages/cfd/src/Containers/cfd-password-manager-modal.tsx
Owners: @hirad-deriv, @matin-deriv

feat: added test cases
  packages/cfd/src/Components/success-dialog/__tests__/success-dialog.spec.tsx
  packages/cfd/src/Components/success-dialog/success-dialog.tsx
Owners: @hirad-deriv, @matin-deriv

fix: document resubmission
  packages/wallets/src/components/FormDropdown/FormDropdown.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/IDVService.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DrivingLicenseUpload/DrivingLicenseUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/IdentityCardUpload/IdentityCardUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/NIMCSlipUpload/NIMCSlipUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/PassportUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/hooks/usePassportUpload.ts
  packages/wallets/src/features/accounts/modules/Poa/components/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/TaxInformation.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/hooks/useTaxInformation.ts
  packages/wallets/src/features/cfd/flows/ClientVerification/ClientVerification.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: remove unused unit tests
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/__tests__/VerifyDocumentDetails.spec.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/CommonMistakesExamples/__tests__/CommonMistakesExamples.spec.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/hooks/useTaxInformation.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: reset unwanted files with master
  packages/components/src/components/dropdown/dropdown.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: video loading style
  .stylelintrc.js
  packages/trader/src/AppV2/Components/Guide/Description/video-fragment.tsx
  packages/trader/src/AppV2/Components/Guide/guide.scss
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @maryia-deriv

fix: google drive issue
  packages/bot-web-ui/src/stores/google-drive-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix(cashier): :bug: content remounting, p2p remounting
  packages/cashier/package.json
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-fiat-card/cashier-onboarding-fiat-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-p2p-card/cashier-onboarding-p2p-card.tsx
  packages/components/src/components/vertical-tab/vertical-tab-content-container.tsx
  packages/p2p/package.json
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/pages/app.jsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update modal for tablet view and mt5 features
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.scss
  packages/wallets/src/components/Base/ModalWrapper/ModalWrapper.scss
  packages/wallets/src/components/DerivAppsSection/DerivAppsSuccessFooter.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/ModalProvider/ModalProvider.tsx
  packages/wallets/src/components/Page404/Page404.tsx
  packages/wallets/src/components/SentEmailContent/SentEmailContent.tsx
  packages/wallets/src/components/WalletAddedSuccess/WalletAddedSuccess.tsx
  packages/wallets/src/components/WalletError/WalletError.tsx
  packages/wallets/src/components/WalletSuccess/WalletSuccess.scss
  packages/wallets/src/components/WalletsResetMT5Password/WalletSuccessResetMT5Password.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletsErrorMT5InvestorPassword.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.scss
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.tsx
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/CTraderSuccessModal.tsx
  packages/wallets/src/features/cfd/modals/CreatePasswordModal/CreatePasswordModal.tsx
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.scss
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
  packages/wallets/src/features/cfd/modals/EnterPasswordModal/EnterPasswordModal.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.scss
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/MT5AccountAdded.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/modals/PasswordLimitExceededModal/PasswordLimitExceededModal.tsx
  packages/wallets/src/features/cfd/modals/SuccessModal/SuccessModal.tsx
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.scss
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.scss
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.scss
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardRow.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionScreen.scss
  packages/wallets/src/features/cfd/screens/MT5ResetPasswordModal/MT5ResetPasswordModal.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: goodle drive error
  packages/bot-web-ui/src/stores/google-drive-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: renamed observables
  packages/bot-web-ui/src/stores/google-drive-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: added localize
  packages/bot-web-ui/src/stores/google-drive-store.ts
Owners: @sandeep-deriv, @vinu-deriv

feat: make active_symbols API call based on the selected contract_type + quill-ui components fixes
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useActiveSymbols.spec.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

fix: testcase checks
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
  packages/account/src/Configs/__test__/user-profile-validation-config.spec.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

refactor: move handling logic to hook
  packages/api-v2/src/hooks/useTradingPlatformStatus.ts
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

fix: fallback val
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/useTransferMessages.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv
