Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

chore: test case fix
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.tsx
Owners: @matin-deriv, @maryia-deriv

fix: fix the display condition for transfer fee in withdraw crypto receipt
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/withdrawal-crypto-receipt.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

chore: TransferFormDropdown unit test
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/__tests__/TransferFormDropdown.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: client store comments implement
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: removed un necessary calls from Desktop mode
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details-form.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useResidenceList.ts
  packages/hooks/src/useStatesList.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

refactor: clean up unused
  packages/core/src/App/Components/Layout/Header/account-actions-dtrader-v2.jsx
  packages/core/src/App/Components/Layout/Header/account-actions-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/index.js
  packages/core/src/App/Containers/Layout/header/default-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/default-header.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-v2-header.tsx
  packages/core/src/App/Containers/Layout/header/header-account-actions-dtrader-v2.tsx
  packages/core/src/sass/app/_common/layout/header.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: api token layout
  packages/account/src/Sections/Security/ApiToken/api-token.scss
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

refactor(wallets): :art: refactor naming
  packages/wallets/src/components/SentEmailContent/SentEmailContent.scss
  packages/wallets/src/components/SentEmailContent/SentEmailContent.tsx
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: move setTimer useState into otp-verification
  packages/account/src/Sections/Profile/PhoneVerification/__test__/didnt-get-the-code-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/resend-code-timer.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/didnt-get-the-code-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/resend-code-timer.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

[FEQ] Sergei / FEQ - 2374, 2375, 2376 / Tablet view issues 4 (2) (#15666)
  packages/account/build/constants.js
  packages/account/package.json
  packages/account/src/Components/poa/common-mistakes/common-mistake-examples.scss
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Styles/account.scss
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.scss
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv

feat: :sparkles: hide regulation switcher and account switcher (#15441)
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: need to use React.useCallback to solve blinking issue for reInitalizeGetSettings
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/resend-code-timer.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: remove setIsButtonDisabled in validate next_email_otp_request function
  packages/account/src/Sections/Profile/PhoneVerification/resend-code-timer.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

refactor: create copy of account info file
  packages/core/src/App/Components/Layout/Header/account-actions-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/account-info-dtrader-v2.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: add isRtl for carousel in cfd compare accounts
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.tsx
  packages/components/src/components/cfd-compare-accounts-carousel/cfd-compare-accounts-carousel-button.tsx
  packages/components/src/components/cfd-compare-accounts-carousel/cfd-compare-accounts-carousel.tsx
Owners: @hirad-deriv, @matin-deriv, @ali-hosseini-deriv, @maryia-deriv

feat: :sparkles: hide regulation switcher and account switcher (#15441)
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: removed account list api call from create cfd account func
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
Owners: @hirad-deriv, @matin-deriv

chore: added testcase
  packages/hooks/src/__tests__/useResidenceList.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv

[WALL] Aizad/WALL-4339/CTraderSuccessModalButton Unit Test (#15575)
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/components/__test__/CTraderSuccessModalButtons.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/pt.json
Owners: @farrah-deriv, @nijil-deriv

[PERF] george / WALL-3732 / P2P package lazy loading (#14536)
  packages/p2p/src/pages/app.jsx
  packages/p2p/src/pages/app.scss
  packages/p2p/src/pages/index.scss
  packages/p2p/src/pages/index.tsx
  packages/p2p/src/stores/general-store.js
  packages/p2p/webpack.config.js
Owners: @farrah-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/pt.json
Owners: @farrah-deriv, @nijil-deriv

chore: added testcase
  packages/hooks/src/__tests__/useResidenceList.spec.tsx
  packages/hooks/src/__tests__/useStatesList.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv

feat: implement review suggestions
  packages/components/src/components/cfd-compare-accounts-carousel/cfd-compare-accounts-carousel-button.tsx
  packages/components/src/components/cfd-compare-accounts-carousel/cfd-compare-accounts-carousel.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: [UPM-1100]/evgeniy/withdrawal word is not translated on recent transaction page
  packages/cashier/src/components/transactions-crypto-history/transactions-crypto-history.scss
  packages/cashier/src/components/transactions-crypto-history/transactions-crypto-renderer.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: text cases
  packages/cashier/src/components/transactions-crypto-history/__tests__/transactions-crypto-renderer.spec.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: is_loading state in portfolio-store
  packages/core/src/Stores/portfolio-store.js
  packages/trader/src/AppV2/Components/EmptyPositions/__tests__/empty-positions.spec.tsx
  packages/trader/src/AppV2/Components/EmptyPositions/empty-positions.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: added testcases
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details-form.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/validation.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: ensure DTrader V2 Positions page shows loading when the app is offline
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions-content.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Owners: @matin-deriv, @maryia-deriv

feat: add condig for new accounts and currency
  packages/core/src/App/Components/Layout/Header/account-actions-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/account-info-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/account-info-wrapper.tsx
  packages/core/src/sass/app/_common/layout/header.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: revert a file
  packages/components/src/components/dropdown/dropdown.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: add new account switcher in header
  packages/core/src/App/Components/Layout/Header/account-info-dtrader-v2.tsx
  packages/core/src/sass/app/_common/layout/header.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: revert a file
  packages/components/stories/icon/icons.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: remove sonar cloud issue
  packages/core/src/App/Components/Layout/Header/account-info-dtrader-v2.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: revert a file
  packages/components/stories/icon/icons.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: clean up
  packages/core/src/App/Components/Layout/Header/account-actions-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/account-info-dtrader-v2.tsx
  packages/core/src/App/Containers/Layout/header/header-account-actions-dtrader-v2.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: create account switcher dtrader v2 file
  packages/core/src/App/Components/Layout/Header/account-actions-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/account-info-dtrader-v2.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-dtrader-v2.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/show-notifications.spec.tsx
  packages/core/src/sass/app/_common/components/account-switcher-dtrader-v2.scss
  packages/core/src/sass/app/_common/layout/header.scss
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: ts migration of some existing files in core
  packages/core/src/App/Components/Layout/Header/account-actions-dtrader-v2.tsx
  packages/core/src/App/Components/Routes/binary-link.tsx
  packages/core/src/App/Components/Routes/helpers.js
  packages/core/src/App/Components/Routes/helpers.ts
  packages/core/src/App/Components/Routes/index.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-dtrader-v2.tsx
  packages/core/src/sass/app/_common/components/account-switcher-dtrader-v2.scss
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: updared the New! word to NEW
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-card.tsx
Owners: @hirad-deriv, @matin-deriv

feat: Show users that bot is running more clearly(3)
  packages/bot-web-ui/src/components/contract-card-loading/contract-card-running-bot.tsx
  packages/bot-web-ui/src/components/summary/summary-card.scss
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/components/summary/summary.scss
  packages/bot-web-ui/src/components/summary/summary.tsx
  packages/components/src/components/icon/common/ic-circle-loader.svg
  packages/components/src/components/icon/icons.js
Owners: @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv
