Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

chore: minor styles updates
  packages/wallets/src/components/SentEmailContent/SentEmailContent.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsTitleIcon.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: remove unused import
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: dark mode refresh theme sonar cloud
  packages/bot-web-ui/src/stores/dashboard-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: comment
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
Owners: @matin-deriv, @maryia-deriv

feat: real account signup new flow (#16172)
  packages/components/src/components/button/button.tsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/__test__/crypto-transaction-processing-modal-content.spec.tsx
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/__test__/crypto-transaction-processing-modal.spec.tsx
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/crypto-transaction-processing-modal-content.tsx
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/crypto-transaction-processing-modal.scss
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/crypto-transaction-processing-modal.tsx
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/index.ts
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/__test__/deposit-now-or-later-modal.spec.tsx
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/deposit-now-or-later-modal.scss
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/deposit-now-or-later-modal.tsx
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/index.ts
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal-content.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/index.ts
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal-content.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal.scss
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal.tsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/new-status-dialog-container.jsx
  packages/core/src/App/Containers/RealAccountSignup/new-status-dialog-container.scss
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/hooks/src/useCryptoTransactions.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update live chat component
  packages/core/src/App/Components/Elements/LiveChat/live-chat.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: changed function return
  packages/bot-web-ui/src/stores/google-drive-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

chore: update packages for deriv-com/quill-ui
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: apply code review comments
  packages/api-v2/src/hooks/useTradingPlatformStatus.ts
  packages/api-v2/types.ts
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cfd/src/Containers/cfd-server-maintenance-modal.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferForm/TransferForm.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/useTransferMessages.ts
  packages/wallets/src/features/cfd/components/PlatformStatusBadge/PlatformStatusBadge.tsx
  packages/wallets/src/features/cfd/components/PlatformStatusBadge/index.ts
  packages/wallets/src/features/cfd/components/index.ts
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/modals/AccountUnavailableModal/AccountUnavailableModal.tsx
  packages/wallets/src/features/cfd/modals/AccountUnavailableModal/index.ts
  packages/wallets/src/features/cfd/modals/ServerMaintenanceModal/ServerMaintenanceModal.tsx
  packages/wallets/src/features/cfd/modals/ServerMaintenanceModal/index.ts
  packages/wallets/src/features/cfd/modals/TradingPlatformStatusModal/TradingPlatformStatusModal.tsx
  packages/wallets/src/features/cfd/modals/TradingPlatformStatusModal/index.ts
  packages/wallets/src/features/cfd/modals/index.ts
  packages/wallets/src/features/cfd/screens/AccountUnavailable/AccountUnavailable.tsx
  packages/wallets/src/features/cfd/screens/AccountUnavailable/index.ts
  packages/wallets/src/features/cfd/screens/ServerMaintenance/ServerMaintenance.scss
  packages/wallets/src/features/cfd/screens/ServerMaintenance/ServerMaintenance.tsx
  packages/wallets/src/features/cfd/screens/ServerMaintenance/index.ts
  packages/wallets/src/features/cfd/screens/TradingPlatformStatus/TradingPlatformStatus.scss
  packages/wallets/src/features/cfd/screens/TradingPlatformStatus/TradingPlatformStatus.tsx
  packages/wallets/src/features/cfd/screens/TradingPlatformStatus/index.ts
  packages/wallets/src/features/cfd/screens/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

Revert "fix: consoled"
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Revert "fix: consoled"
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Revert "fix: consoled"
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Revert "fix: consoled"
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: removed mt5 trading code from client store
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: for test case
  packages/bot-web-ui/src/components/load-modal/__tests__/local-footer.spec.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

chore: update JurisdictionTncSection styling to fit tablet
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: called response trading platforms from traders hub store
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: client country in setMT5TradingPlatformAvailableAccounts
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: barrier action sheet with description carousel
  packages/trader/src/AppV2/Components/Carousel/carousel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier-description.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier-header.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.scss
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/index.ts
Owners: @matin-deriv, @maryia-deriv

chore: update WalletError screen
  packages/wallets/src/components/WalletError/WalletError.scss
  packages/wallets/src/components/WalletsErrorScreen/WalletsErrorScreen.scss
  packages/wallets/src/components/WalletsResetMT5Password/WalletsErrorMT5InvestorPassword.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: move loggedout api call to client store
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: renamed functions
  packages/bot-web-ui/src/components/load-modal/recent-workspace.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: backward compatibility
  packages/bot-skeleton/src/scratch/backward-compatibility.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Before Purchase/purchase.js
Owners: @sandeep-deriv, @vinu-deriv

fix: active_symbols call with relevant barrier_category + error handling same like in prod
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/contract-type.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

fix: make api call from getAvailableMt5Accounts
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: disable console
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: update deriv-com/ui version
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/App.tsx
  packages/wallets/webpack.config.js
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: FormDropdown issue for TaxResidence
  packages/wallets/src/components/FormDropdown/FormDropdown.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/TaxInformation.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/hooks/useTaxInformation.ts
  packages/wallets/src/features/accounts/modules/TaxInformation/utils/taxInformationValidator.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: Dropzone styling for Poa
  packages/wallets/src/features/accounts/modules/Poa/components/DocumentSubmission/DocumentSubmission.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: update rest of the screens with Tablet view
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoAddress/__tests__/DepositCryptoAddress.spec.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/FiatOnRamp.scss
  packages/wallets/src/features/cashier/modules/FiatOnRamp/components/FiatOnRampProviderCard/FiatOnRampProviderCard.scss
  packages/wallets/src/features/cashier/modules/TransactionStatus/TransactionStatus.scss
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/CryptoTransaction/CryptoTransaction.tsx
  packages/wallets/src/features/cashier/modules/Transactions/__tests__/Transactions.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompleted/TransactionsCompleted.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedDemoResetBalance/TransactionsCompletedDemoResetBalance.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/TransactionsCompletedRow.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPending/TransactionsPending.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/__tests__/TransactionsPendingRow.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/components/TransactionsPendingRowField/TransactionsPendingRowField.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/components/TransactionsPendingRowField/TransactionsPendingRowField.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/components/TransactionsPendingRowField/__tests__/TransactionsPendingRowField.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferForm/__tests__/TransferForm.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/__tests__/TransferFormDropdown.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferMessages/TransferMessages.scss
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoDisclaimer/WithdrawalCryptoDisclaimer.scss
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoAmountConverter/WithdrawalCryptoAmountConverter.scss
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPercentageSelector/WithdrawalCryptoPercentageSelector.scss
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/WithdrawalCryptoReceipt.scss
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/components/WithdrawalCryptoDestinationAddress/WithdrawalCryptoDestinationAddress.scss
  packages/wallets/src/features/cashier/modules/WithdrawalFiat/WithdrawalFiat.scss
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/components/CTraderSuccessModalButtons.tsx
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/components/__test__/CTraderSuccessModalButtons.spec.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModalFooters.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/TradingPlatformChangePasswordScreens.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsIconWithLabel.tsx
  packages/wallets/src/features/cfd/screens/DynamicLeverage/DynamicLeverageTitle.tsx
  packages/wallets/src/features/cfd/screens/MT5ResetPasswordModal/MT5ResetPasswordModal.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: create a method and state for logged out api call
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: add validation params
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/purchase-button.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/purchase-fieldset.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/__tests__/cancel-deal-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/__tests__/contract-info.spec.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

fix: :bug: vertical tab content wrapper
  packages/components/src/components/vertical-tab/vertical-tab-content-container.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: pr comment, add modal for error handling
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-edit/business-hour-modal-edit.tsx
  packages/p2p/src/constants/api-error-codes.ts
  packages/p2p/src/stores/buy-sell-store.js
Owners: @farrah-deriv, @nijil-deriv

feat: add max-width for account switcher
  packages/core/src/sass/app/_common/components/account-switcher.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Revert "[WALL] george / WALL-4522 / Add ce_cashier_deposit_onboarding_form an…"
  packages/cashier/package.json
  packages/cashier/src/components/deposit-sub-page-event-tracker/deposit-sub-page-analytics-event-tracker.tsx
  packages/cashier/src/components/deposit-sub-page-event-tracker/index.ts
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/modules/cashier-onboarding/cashier-onboarding.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/__test__/cashier-onboarding-card.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/cashier-onboarding-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-crypto-card/cashier-onboarding-crypto-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-fiat-card/cashier-onboarding-fiat-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-onramp-card/cashier-onboarding-onramp-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-p2p-card/cashier-onboarding-p2p-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-payment-agent-card/cashier-onboarding-payment-agent-card.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-wallet-address/deposit-crypto-wallet-address.tsx
  packages/cashier/src/modules/deposit-crypto/deposit-crypto.tsx
  packages/cashier/src/modules/deposit-fiat/deposit-fiat.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.tsx
  packages/components/src/components/clipboard/clipboard.tsx
  packages/components/src/components/vertical-tab/vertical-tab-content-container.tsx
  packages/components/src/components/vertical-tab/vertical-tab.tsx
  packages/p2p/package.json
  packages/p2p/src/pages/app.jsx
  packages/p2p/webpack.config.js
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: cashier bundle size
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/account-transfer/account-transfer.tsx
  packages/cashier/src/types/websocket.types.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useTradingPlatformStatus.ts
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @ali-hosseini-deriv, @matin-deriv

fix: active tab was not highlighted on dtrader in tablet view
  packages/components/src/components/tabs/tabs.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: alternative acc content
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.scss
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
Owners: @matin-deriv, @maryia-deriv
