Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

chore: update khmer strings
  packages/translations/src/translations/km.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: fix test case
  packages/components/src/components/video-player/__tests__/video-player.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: expand draggable list item
  packages/trader/src/AppV2/Components/DraggableList/draggable-list-item.tsx
Owners: @matin-deriv, @maryia-deriv

feat: expand draggable list component
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.scss
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.tsx
Owners: @matin-deriv, @maryia-deriv

fix: run button color on run and stop status
  packages/bot-web-ui/src/components/trade-animation/trade-animation.scss
  packages/bot-web-ui/src/components/trade-animation/trade-animation.tsx
  packages/bot-web-ui/src/pages/tutorials/tutorials.scss
Owners: @sandeep-deriv, @vinu-deriv

fix: mock Localize function
  __mocks__/translation.mock.js
  packages/account/src/Components/sent-email-modal/__tests__/sent-email-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv

chore: add remporary reset styles to reset.scss
  packages/shared/src/styles/reset.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: removed unused ts-ignore
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: add trade type list item component
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list-item.tsx
Owners: @matin-deriv, @maryia-deriv

feat: add trade type list component
  packages/trader/src/AppV2/Components/TradeTypeList/index.ts
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list.scss
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list.tsx
Owners: @matin-deriv, @maryia-deriv

chore: fix test case pt.2
  packages/components/src/components/video-player/__tests__/video-player.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: made changes inside of Trader package
  packages/trader/package.json
  packages/trader/src/App/Components/Elements/VideoPlayer/__tests__/playback-rate-control.spec.tsx
  packages/trader/src/App/Components/Elements/VideoPlayer/__tests__/video-controls.spec.tsx
  packages/trader/src/App/Components/Elements/VideoPlayer/__tests__/video-overlay.spec.tsx
  packages/trader/src/App/Components/Elements/VideoPlayer/__tests__/video-player.spec.tsx
  packages/trader/src/App/Components/Elements/VideoPlayer/__tests__/volume-control.spec.tsx
  packages/trader/src/App/Components/Elements/VideoPlayer/index.ts
  packages/trader/src/App/Components/Elements/VideoPlayer/playback-rate-control.tsx
  packages/trader/src/App/Components/Elements/VideoPlayer/video-controls.tsx
  packages/trader/src/App/Components/Elements/VideoPlayer/video-overlay.tsx
  packages/trader/src/App/Components/Elements/VideoPlayer/video-player.tsx
  packages/trader/src/App/Components/Elements/VideoPlayer/volume-control.tsx
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
  packages/trader/src/Assets/Trading/Categories/contract-type-description-video.tsx
Owners: @matin-deriv, @maryia-deriv

feat: add pinned items to trade page
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @matin-deriv, @maryia-deriv

feat: updated tnc design
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-checkbox.tsx
  packages/cfd/src/sass/cfd.scss
  packages/core/src/sass/app/_common/base/common.scss
Owners: @hirad-deriv, @matin-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: remove unused class
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: strings to fix translation issue
  packages/translations/src/translations/km.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: add test cases for the trade types list components
  packages/trader/src/AppV2/Components/TradeTypeList/__tests__/trade-type-list-item.spec.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/__tests__/trade-type-list.spec.jsx
Owners: @matin-deriv, @maryia-deriv

chore: fixed console error by adding useeffect
  packages/core/src/App/Containers/Redirect/redirect.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update ui version updates and make changes to existing implementations
  package-lock.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/components/Base/WalletClipboard/WalletClipboard.scss
  packages/wallets/src/components/Base/WalletClipboard/WalletClipboard.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/components/TransactionsPendingRowField/TransactionsPendingRowField.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/components/TransactionsPendingRowField/TransactionsPendingRowField.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @hirad-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: localize in KO
  packages/shared/src/utils/date/date-time.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: updated tnc text case
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-checkbox.tsx
  packages/core/src/sass/app/_common/base/common.scss
Owners: @hirad-deriv, @matin-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: update tooltip inside of transactionspendingrow component
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: fixed the issue of digit contract tick count value getting truncated in responsive view
  packages/trader/src/sass/app/modules/contract/digits.scss
Owners: @matin-deriv, @maryia-deriv

chore: removed unused styles
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/_common/components/video-player.scss
Owners: @matin-deriv, @maryia-deriv

chore: revert wallet banner changes to master
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

refactor: connect PassportUpload and SelfieUpload + styling
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/PassportUpload.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/PassportUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/hooks/usePassportUpload.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/SelfieUpload/SelfieUpload.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/SelfieUpload/SelfieUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/SelfieUpload/hooks/useSelfieUpload.ts
  packages/wallets/src/features/accounts/modules/components/Footer/Footer.scss
  packages/wallets/src/features/accounts/modules/components/Footer/Footer.tsx
  packages/wallets/src/features/accounts/modules/components/Footer/index.ts
  packages/wallets/src/features/accounts/modules/components/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: :bookmark: Update @deriv-com/analytics package to v1.9.0 in deriv-app
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

chore(wallets): :fire: remove ignore ts comment
  packages/wallets/src/AppContent.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: update locked scenarios
  __mocks__/translation.mock.js
  packages/wallets/src/features/cashier/modules/CashierLocked/CashierLockedContent.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/DepositLockedContent.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/WithdrawalLockedContent.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: fixed leave settings button
  packages/account/src/Components/leave-confirm/leave-confirm.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

[WALL] Aizad/WALL-4403/Adding a Max button in the transfer screen for client to select max value to transfer for crypto (#16024)
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAmountInput/TransferFormAmountInput.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAmountInput/TransferFormAmountInput.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: :art: align package-lock
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/km.json
  packages/translations/src/translations/si.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: updated tnc text alginment
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-checkbox.tsx
  packages/cfd/src/sass/cfd.scss
Owners: @hirad-deriv, @matin-deriv

fix: removed FAQ section in mobile view
  packages/cashier/src/modules/deposit-fiat/components/deposit-fiat-iframe/deposit-fiat-iframe.scss
  packages/cashier/src/modules/deposit-fiat/deposit-fiat.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

chore: fix leave settings pop up
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: revert changes for Sections
  packages/account/src/Sections/index.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: setError once api returns error
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: :art: fix deriv-com/ui versioning
  package-lock.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @hirad-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

refactor: reset default tag style
  packages/shared/src/styles/reset.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv
