Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: update onMaxBtnHandler function
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAmountInput/TransferFormAmountInput.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: tests
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/accumulators-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/even-odd-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/higher-lower-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/matches-differs-trade-descriptioon.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/multiplier-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/over-under-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/rise-fall-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/touch-no-touch-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/turbos-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/vanillas-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/video-fragment.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/video-fragment.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide-definition-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide-description-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
  packages/trader/src/AppV2/Utils/__tests__/contract-description.spec.tsx
  packages/trader/src/AppV2/__tests__/app.spec.tsx
Owners: @matin-deriv, @maryia-deriv

feat: init tablet view in cashier route
  packages/cashier/build/constants.js
  packages/cashier/package.json
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/containers/cashier/cashier.scss
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/shared/src/utils/routes/routes.ts
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: resolve comments and rename css classnames
  packages/trader/src/AppV2/Components/FavoriteSymbols/favorite-symbols.scss
  packages/trader/src/AppV2/Components/FavoriteSymbols/favorite-symbols.tsx
  packages/trader/src/AppV2/Components/FavoriteSymbols/no-favorite-symbol.tsx
  packages/trader/src/AppV2/Components/MarketCategory/market-category.scss
  packages/trader/src/AppV2/Components/MarketCategory/market-category.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.scss
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Components/SymbolNotFound/symbol-not-found.scss
  packages/trader/src/AppV2/Components/SymbolNotFound/symbol-not-found.tsx
  packages/trader/src/AppV2/Components/SymbolSearchResults/symbol-search-results.scss
  packages/trader/src/AppV2/Components/SymbolSearchResults/symbol-search-results.tsx
  packages/trader/src/AppV2/Components/SymbolsSearchField/symbols-search-field.scss
  packages/trader/src/AppV2/Components/SymbolsSearchField/symbols-search-field.tsx
Owners: @matin-deriv, @maryia-deriv

fix: simplify logic
  packages/trader/src/AppV2/Utils/symbol-categories-utils.ts
Owners: @matin-deriv, @maryia-deriv

chore: fix verify-button test case based on comment
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/verify-button.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: update codes based on comment
  packages/account/src/Sections/Profile/PhoneVerification/__test__/confirm-phone-number.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/didnt-get-the-code-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/account/src/Sections/Profile/PhoneVerification/verification-link-expired-modal.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: :ambulance: put console to check the value
  packages/core/src/App/Containers/Modals/app-modals.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

build: downgrade to quill-ui v1.13.13
  package-lock.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: separate out favorite logic to separate store
  packages/stores/src/mockStore.ts
  packages/trader/src/AppV2/Components/FavoriteSymbols/__tests__/favorite-symbols.spec.tsx
  packages/trader/src/AppV2/Components/MarketCategoryItem/__tests__/market-category-item.spec.tsx
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useGetFavoriteSymbols.spec.tsx
  packages/trader/src/AppV2/Hooks/useGetFavoriteSymbols.ts
  packages/trader/src/Stores/Modules/Markets/markets-store.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
  packages/trader/src/Stores/Modules/index.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[BOT] Farabi/bot-1991/add new deriv bot videos in tutorials guide (#16070)
  packages/bot-web-ui/src/pages/tutorials/__tests__/tutorial-tab-desktop.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/__tests__/tutorial-tab-mobile.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/constants.ts
  packages/bot-web-ui/src/pages/tutorials/guide-content/__tests__/guide-content.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/tutorials.scss
  packages/core/src/public/images/common/static_images/build_a_bot.png
  packages/core/src/public/images/common/static_images/how_to_use_martingale.jpg
  packages/core/src/public/images/common/static_images/intro_to_deriv_bot.png
  packages/core/src/public/images/common/static_images/video_dbot.png
Owners: @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: resolve conflicts
  packages/account/src/Sections/index.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: tin validation issues
  packages/account/package.json
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
  packages/api-v2/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/core/src/Stores/client-store.js
  packages/p2p/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @markwylde-deriv, @aizad-deriv, @heorhi-deriv

chore: apply review suggestions
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/components/src/components/icon/appstore/ic-appstore-wallets-upgrade-unsuccessful.svg
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: minor formatting
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: pr comments
  packages/cashier/src/containers/cashier/cashier.scss
  packages/p2p/src/components/modal-manager/__tests__/modal-manager-context-provider.spec.tsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal-title/__tests__/buy-sell-modal-title.spec.tsx
  packages/p2p/src/components/modal-manager/modals/market-rate-change-error-modal/__tests__/market-rate-change-error-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/quick-add-modal.jsx
  packages/p2p/src/pages/app.scss
  packages/p2p/src/pages/my-ads/my-ads.scss
  packages/p2p/src/utils/block-user.ts
  packages/shared/src/utils/routes/routes.ts
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: setup DrivingLicenseUpload
  packages/wallets/src/features/accounts/modules/ManualService/ManualService.scss
  packages/wallets/src/features/accounts/modules/ManualService/ManualService.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentRules/DocumentRules.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DrivingLicenseUpload/DrivingLicenseUpload.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/DrivingLicenseUpload/DrivingLicenseUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DrivingLicenseUpload/hooks/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/DrivingLicenseUpload/hooks/useDrivingLicenseUpload.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/DrivingLicenseUpload/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/ManualUploadErrorMessage/ManualUploadErrorMessage.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/ManualUploadErrorMessage/ManualUploadErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/ManualUploadErrorMessage/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/PassportUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/hooks/usePassportUpload.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/UploadErrorMessage/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/utils/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/utils/utils.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat(cashier): :zap: add ce_cashier_deposit_onboarding_form analytics event
  package-lock.json
  packages/cashier/package.json
  packages/cashier/src/components/deposit-sub-page-event-tracker/deposit-sub-page-analytics-event-tracker.tsx
  packages/cashier/src/components/deposit-sub-page-event-tracker/index.ts
  packages/cashier/src/modules/cashier-onboarding/cashier-onboarding.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/__test__/cashier-onboarding-card.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/cashier-onboarding-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-crypto-card/cashier-onboarding-crypto-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-fiat-card/cashier-onboarding-fiat-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-onramp-card/cashier-onboarding-onramp-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-p2p-card/cashier-onboarding-p2p-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-payment-agent-card/cashier-onboarding-payment-agent-card.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-wallet-address/deposit-crypto-wallet-address.tsx
  packages/cashier/src/modules/deposit-crypto/deposit-crypto.tsx
  packages/cashier/src/modules/deposit-fiat/deposit-fiat.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.tsx
  packages/components/src/components/clipboard/clipboard.tsx
  packages/p2p/package.json
  packages/p2p/src/components/app-content.jsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

[WALL] george / WALL-4489 / A delay to show In-progress migration banner right after enabled migration (#15924)
  packages/appstore/src/components/banners/wallets-banner/__tests__/wallets-banner.spec.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.tsx
  packages/core/src/Stores/client-store.js
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: more setup for all Manual flows
  packages/wallets/src/features/accounts/modules/ManualService/components/DrivingLicenseUpload/hooks/useDrivingLicenseUpload.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/IdentityCardUpload/IdentityCardUpload.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/IdentityCardUpload/IdentityCardUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/IdentityCardUpload/hooks/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/IdentityCardUpload/hooks/useIdentityCardUpload.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/IdentityCardUpload/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/ManualUploadErrorMessage/ManualUploadErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/NIMCSlipUpload/NIMCSlipUpload.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/NIMCSlipUpload/NIMCSlipUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/NIMCSlipUpload/hooks/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/NIMCSlipUpload/hooks/useNIMCUpload.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/NIMCSlipUpload/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/PassportUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/hooks/usePassportUpload.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/utils/utils.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: setup for DocumentService and removed onfido component hook
  packages/wallets/src/features/accounts/modules/DocumentService/DocumentService.scss
  packages/wallets/src/features/accounts/modules/DocumentService/DocumentService.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/Onfido/Onfido.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/Onfido/hooks/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/Onfido/hooks/useOnfidoService.ts
  packages/wallets/src/features/accounts/modules/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: added disableAnimation prop form ModalStepWrapper
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.scss
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: move marketIcons to a utility file
  packages/trader/src/AppV2/Components/SymbolIconsMapper/symbol-icons-mapper.tsx
  packages/trader/src/AppV2/Utils/market-icons.ts
Owners: @matin-deriv, @maryia-deriv

fix: resolve comments
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/FavoriteSymbols/no-favorite-symbol.tsx
  packages/trader/src/AppV2/Components/MarketCategory/market-category.tsx
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: cleanup unused mockserver references
  packages/core/src/App/Components/dev-tools/index.tsx
  packages/core/src/App/Components/dev-tools/mock-dialog.scss
  packages/core/src/App/Components/dev-tools/mock-dialog.tsx
  packages/core/src/_common/base/api_middleware.js
  packages/core/src/_common/base/socket_base.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: further cleanup
  packages/core/src/_common/base/api_middleware.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: fix re-rendering issue
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAmountInput/TransferFormAmountInput.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: add test for markets-store
  packages/trader/src/Stores/Modules/Markets/markets-store.spec.ts
Owners: @matin-deriv, @maryia-deriv

fix: move scrolling logic/state into symbolssearchfield to prevent parent rerendering when scroll
  packages/trader/src/AppV2/Components/ActiveSymbolsList/active-symbols-list.tsx
  packages/trader/src/AppV2/Components/SymbolsSearchField/__tests__/symbols-search-field.spec.tsx
  packages/trader/src/AppV2/Components/SymbolsSearchField/symbols-search-field.tsx
Owners: @matin-deriv, @maryia-deriv

chore: added video player inside of componetns package
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/components/package.json
  packages/components/src/components/video-player/__tests__/playback-rate-control.spec.tsx
  packages/components/src/components/video-player/__tests__/video-controls.spec.tsx
  packages/components/src/components/video-player/__tests__/video-overlay.spec.tsx
  packages/components/src/components/video-player/__tests__/video-player.spec.tsx
  packages/components/src/components/video-player/__tests__/volume-control.spec.tsx
  packages/components/src/components/video-player/index.ts
  packages/components/src/components/video-player/playback-rate-control.tsx
  packages/components/src/components/video-player/video-controls.tsx
  packages/components/src/components/video-player/video-overlay.tsx
  packages/components/src/components/video-player/video-player.scss
  packages/components/src/components/video-player/video-player.tsx
  packages/components/src/components/video-player/volume-control.tsx
  packages/components/src/index.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: text not bold in email and password page
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: update package-lock
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: update package version to use specific version
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

Maryia/DTRA-1441/feat: add last digit selector and expand displayed spot feature for digits (#150)
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot.scss
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AccumulatorsInformation/accumulators-information.scss
  packages/trader/src/AppV2/Components/TradeParameters/AccumulatorsInformation/accumulators-information.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.scss
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.tsx
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersInformation/multipliers-information.scss
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersInformation/multipliers-information.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Containers/Chart/trade-chart.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

fix: sonar issues
  packages/p2p/src/components/floating-rate/floating-rate.tsx
  packages/p2p/src/components/modal-manager/modals/block-user-filter-modal/block-user-filter-modal.tsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/__tests__/filter-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/invalid-verification-link-modal/__tests__/invalid-verification-link-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/order-details-confirm-modal.tsx
  packages/p2p/src/pages/my-profile/block-user/block-user-table/block-user-table-error/__tests__/block-user-table-error.spec.tsx
Owners: @farrah-deriv, @nijil-deriv

fix: types
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
