Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

chore: fix verify-button test case fail
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/verify-button.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

test: add test cases for the derivappssection folder
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/DerivAppsSection/__test__/DerivAppsGetAccount.spec.tsx
  packages/wallets/src/components/DerivAppsSection/__test__/DerivAppsSection.spec.tsx
  packages/wallets/src/components/DerivAppsSection/__test__/DerivAppsSuccessFooter.spec.tsx
  packages/wallets/src/components/DerivAppsSection/__test__/DerivAppsTradingAccount.tsx.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: wallets multiple status showing multiple badges
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: added deriv go to dependency
  packages/cashier/src/containers/cashier/cashier.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

chore: select by role instead of text and remove unnecessary async
  packages/wallets/src/components/DerivAppsSection/__test__/DerivAppsGetAccount.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

style: reformat selectors
  packages/wallets/src/components/DerivAppsSection/__test__/DerivAppsSection.spec.tsx
  packages/wallets/src/components/DerivAppsSection/__test__/DerivAppsSuccessFooter.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: console error
  packages/reports/src/Stores/Modules/Profit/profit-store.js
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

style: change wording
  packages/wallets/src/components/DerivAppsSection/__test__/DerivAppsGetAccount.spec.tsx
  packages/wallets/src/components/DerivAppsSection/__test__/DerivAppsSection.spec.tsx
  packages/wallets/src/components/DerivAppsSection/__test__/DerivAppsTradingAccount.tsx.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: update track js to be on click yes, cancel in cancel pnv modal
  packages/account/src/Sections/Profile/PhoneVerification/cancel-phone-verification-modal.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: move isloading out of the data object and add expectation to footer test
  packages/wallets/src/components/DerivAppsSection/__test__/DerivAppsSection.spec.tsx
  packages/wallets/src/components/DerivAppsSection/__test__/DerivAppsSuccessFooter.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: add isLoaded to hook
  packages/appstore/src/components/banners/traders-hub-banners/traders-hub-banners.tsx
  packages/hooks/src/__tests__/useStoreHasAccountDeposited.spec.tsx
  packages/hooks/src/useStoreHasAccountDeposited.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv

[BOT] sandeep/bot-2063/fix: disable the delete button when a bot is running (#16479)
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form.tsx
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list-menu.tsx
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.scss
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.tsx
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/uz.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: remove unused opacity as quill has been updated
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.scss
Owners: @matin-deriv, @maryia-deriv

fix: test
  packages/appstore/src/components/cfds-listing/__tests__/index.spec.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: table not expanding when dropdown is shown in my-ads
  packages/p2p/src/pages/my-ads/my-ads.scss
Owners: @farrah-deriv, @nijil-deriv

fix: restart from place where client left the verification flow
  packages/wallets/src/features/cfd/flows/ClientVerification/ClientVerification.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: util function getDisplayedContractTypes
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
Owners: @matin-deriv, @maryia-deriv

chore: remove unnecessary styles and rename variable
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/TransactionsCompletedRow.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/TransactionsCompletedRow.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: generate testlink for wallets translations test
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update store to fix verified done button trigger cancel modal
  packages/account/src/Sections/Profile/PhoneVerification/cancel-phone-verification-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/core/src/Stores/ui-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: fixed setState error
  packages/wallets/src/features/accounts/modules/Poa/Poa.tsx
  packages/wallets/src/features/cfd/flows/ClientVerification/ClientVerification.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: space issue in success modal
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/MT5AccountAdded.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: added tips block
  packages/account/src/Sections/Security/Passkeys/components/passkey-remove.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.scss
  packages/hooks/src/useVerifyWithEmailSessionTimer.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: clone.tnc_acceptance condition fix
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: input validation
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
Owners: @matin-deriv, @maryia-deriv

fix: useEffect errror
  packages/wallets/src/features/accounts/modules/Poa/Poa.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: fix === true in condition
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: use local state to not hide info upon proposal error
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Owners: @matin-deriv, @maryia-deriv

fix: test cases and refactored load modal
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/components/load-modal/__tests__/local-footer.spec.tsx
  packages/bot-web-ui/src/components/load-modal/__tests__/recent-footer.spec.tsx
  packages/bot-web-ui/src/components/load-modal/__tests__/recent-workspace.spec.tsx
  packages/bot-web-ui/src/components/load-modal/local-footer.tsx
  packages/bot-web-ui/src/components/load-modal/recent-workspace.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: when there is no strategy updated
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: add is_switching check for the banner
  packages/appstore/src/components/banners/traders-hub-banners/traders-hub-banners.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

feat: undo changes
  packages/appstore/src/components/banners/traders-hub-banners/traders-hub-banners.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

refactor: create reg exp for input value
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: integrate mary changes
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

refactor: move validation to be again
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
Owners: @matin-deriv, @maryia-deriv

fix: add tp and has tp to localstorage
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

chore: handle empty input error
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Owners: @matin-deriv, @maryia-deriv

feat: integrate tp into risk management
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management-picker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.scss
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
Owners: @matin-deriv, @maryia-deriv

fix: tests for take profit
  packages/stores/src/mockStore.ts
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/__tests__/take-profit.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/__tests__/trade-parameters.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv
