Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: add a fallback value
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
Owners: @matin-deriv, @maryia-deriv

chore: mt5 trade screen components unit test
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/__test__/MT5TradeDetailsItem.spec.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/__tests__/MT5DesktopRedirectOption.spec.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/__tests__/MT5MobileRedirectOption.spec.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/__tests__/MT5TradeLink.spec.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/__tests__/constants.spec.ts
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/__test__/MT5TradeScreen.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: disable real demo switcher for disabled wallets
  packages/wallets/src/components/WalletListHeader/WalletListHeader.scss
  packages/wallets/src/components/WalletListHeader/WalletListHeader.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: get back enabled to false by default
  packages/api/src/hooks/useRemoteConfig.ts
  packages/bot-web-ui/src/pages/bot-builder/bot-builder.tsx
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
  packages/hooks/src/useIsGrowthbookLoaded.ts
Owners: @wojciech-deriv, @matin-deriv, @yashim-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @maryia-deriv

feat: add unit test for useFreshChat
  packages/hooks/src/__tests__/useFreshChat.spec.tsx
  packages/hooks/src/useFreshChat.ts
Owners: @ali-hosseini-deriv, @matin-deriv

refactor: show unchanged value in the trade param
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point.tsx
Owners: @matin-deriv, @maryia-deriv

fix: p2p buy button
  packages/p2p/src/pages/buy-sell/buy-sell-row.scss
Owners: @farrah-deriv, @nijil-deriv

fix: review fix for signup
  packages/hooks/src/index.ts
  packages/trader/src/AppV2/Components/ServiceErrorSheet/service-error-sheet.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Hooks/useSignupTrigger.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: fix
  packages/hooks/src/index.ts
Owners: @ali-hosseini-deriv, @matin-deriv

chore: add disabled account banner
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/src/components/WalletsContainer/WalletsContainer.tsx
  packages/wallets/src/components/WalletsContainer/__tests__/WalletsContainer.spec.tsx
  packages/wallets/src/components/WalletsDisabledAccountsBanner/WalletsDisabledAccountsBanner.scss
  packages/wallets/src/components/WalletsDisabledAccountsBanner/WalletsDisabledAccountsBanner.tsx
  packages/wallets/src/components/WalletsDisabledAccountsBanner/__tests__/WalletsDisabledAccountsBanner.spec.tsx
  packages/wallets/src/components/WalletsDisabledAccountsBanner/index.ts
  packages/wallets/src/components/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: unit test of useUsLiveChatWidgetAvailable
  packages/hooks/src/__tests__/useIsLiveChatWidgetAvailable.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv

chore: add fixed height
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals.scss
Owners: @matin-deriv, @maryia-deriv

fix: updated block to accept varaibles
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Time/tick_delay.js
Owners: @sandeep-deriv, @vinu-deriv

fix: password modal badge
  packages/appstore/src/components/modals/verification-docs-list-modal/verification-docs-list-modal.tsx
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-success.svg
  packages/components/src/components/status-badge/status-badge.scss
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

refactor: remove unused files
  packages/trader/src/AppV2/Containers/Markets/index.ts
  packages/trader/src/AppV2/Containers/Markets/markets.scss
  packages/trader/src/AppV2/Containers/Markets/markets.tsx
  packages/trader/src/AppV2/Containers/Menu/index.ts
  packages/trader/src/AppV2/Containers/Menu/menu.scss
  packages/trader/src/AppV2/Containers/Menu/menu.tsx
  packages/trader/src/AppV2/Routes/routes.tsx
Owners: @matin-deriv, @maryia-deriv

fix: notification button width
  packages/core/src/sass/app/_common/components/app-notification-message.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: remove more unused files
  packages/shared/src/utils/routes/routes.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: included Account opening reason in Person details
  packages/account/src/Components/additional-kyc-info-modal/form-config.tsx
  packages/account/src/Components/forms/form-fields/account-opening-reason.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Configs/__test__/user-profile-validation.spec.ts
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.scss
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: [Server Bot] - [Improvement] - Summary and Journal panels
  packages/bot-web-ui/src/pages/server-side-bot/journal/journal.tsx
  packages/bot-web-ui/src/pages/server-side-bot/server-side-bot.tsx
  packages/bot-web-ui/src/pages/server-side-bot/summary/summary.tsx
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: alligned card items
  packages/appstore/src/components/modals/verification-docs-list-modal/verification-docs-list-modal.scss
  packages/appstore/src/components/modals/verification-docs-list-modal/verification-docs-list-modal.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: server side pdf fix
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: code smell
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: code smell
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Owners: @sandeep-deriv, @vinu-deriv

chore: fix
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: hide one time deposit for mf clients in real account creation
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/deposit-now-or-later-modal.tsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: remove unused variables
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/deposit-now-or-later-modal.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: fix test cases
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/__test__/deposit-now-or-later-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: re-word the test case
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/__test__/deposit-now-or-later-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: test cases
  packages/account/src/Components/poi/status/unsupported/detail-component.tsx
  packages/account/src/Components/poi/status/unsupported/unsupported.tsx
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/cfd/src/Containers/cfd-password-modal-info.tsx
  packages/cfd/src/Containers/jurisdiction-checkbox.tsx
  packages/cfd/src/Containers/mt5-create-password/__tests__/mt5-create-password.spec.tsx
  packages/cfd/src/Containers/mt5-create-password/mt5-create-password.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/__tests__/useGetStatus.spec.tsx
  packages/hooks/src/useGetMFAccountStatus.ts
  packages/hooks/src/useGetStatus.ts
  packages/hooks/src/useIsSelectedMT5AccountCreated.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @hirad-deriv, @ali-hosseini-deriv

chore: update inline message variant
  packages/wallets/src/components/WalletsDisabledAccountsBanner/WalletsDisabledAccountsBanner.tsx
  packages/wallets/src/components/WalletsDisabledAccountsBanner/__tests__/WalletsDisabledAccountsBanner.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: remove unnecessary class name
  packages/wallets/src/components/WalletsDisabledAccountsBanner/WalletsDisabledAccountsBanner.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: console errors
  packages/wallets/src/components/OptionsAndMultipliersListing/__test__/OptionsAndMultipliersListing.spec.tsx
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.scss
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: sonarcloud
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: sonarcloud
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: test and css
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade-types.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: test case
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/__test__/AvailableDxtradeAccountsList.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: fix
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
Owners: @matin-deriv, @maryia-deriv

fix: mt5 enter password button size
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: remove remaining WalletButton components
  packages/cfd/src/Containers/ctrader-derivx-trade-modal.tsx
  packages/cfd/src/Helpers/config.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.tsx
Owners: @hirad-deriv, @matin-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: scroll fix
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
Owners: @matin-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
