Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

chore: fix ts of AnnouncementDialog
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: remove code smells
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-description.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-guide.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/trade-types-selection-guide.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Owners: @matin-deriv, @maryia-deriv

fix: :construction: fix on switch account the server bot should resume
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
  packages/stores/types.ts
Owners: @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: create reusable stream iframe component
  packages/trader/src/AppV2/Components/AccumulatorStats/__tests__/accumulator-stats.spec.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-description.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/StreamIframe/index.ts
  packages/trader/src/AppV2/Components/OnboardingGuide/StreamIframe/stream-iframe.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/StreamIframe/stream-iframe.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/index.ts
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/trade-types-selection-guide.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/trade-types-selection-guide.tsx
Owners: @matin-deriv, @maryia-deriv

chore: [UPM-1474]/evgeniy/passkey remove without verification
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-card.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-removed.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-rename.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-status-container.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/description-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/no-passkeys.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-card.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-created.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-error-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-reminder-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-remove-confirmation-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-removed.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-rename.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-learn-more.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-list.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/tips-block.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/account/src/Sections/index.js
  packages/hooks/src/__tests__/useGetPasskeysList.spec.tsx
  packages/hooks/src/__tests__/useRegisterPasskey.spec.tsx
  packages/hooks/src/__tests__/useRemovePasskey.spec.tsx
  packages/hooks/src/__tests__/useRenamePasskey.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useGetPasskeysList.ts
  packages/hooks/src/useRegisterPasskey.ts
  packages/hooks/src/useRemovePasskey.ts
  packages/hooks/src/useRenamePasskey.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: import and typo
  packages/account/src/Sections/Security/Passkeys/components/passkey-card.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: defaulting
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/index.ts
  packages/hooks/src/useGetDefaultMT5Jurisdiction.ts
  packages/stores/src/mockStore.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: removed is_tin_mandatory check from Tax section
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: modal content
  packages/appstore/src/components/modals/verification-docs-list-modal/verification-docs-list-modal.tsx
  packages/cfd/src/Containers/cfd-password-modal-info.tsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/index.ts
  packages/hooks/src/useGetStatus.ts
  packages/hooks/src/useIsSelectedMT5AccountCreated.ts
  packages/shared/src/utils/constants/jurisdictions-config.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: contract details scroll
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
Owners: @matin-deriv, @maryia-deriv

fix: contract details scroll by adjusting the height of container
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
Owners: @matin-deriv, @maryia-deriv

fix: contract details scroll by adjusting the height of container
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
Owners: @matin-deriv, @maryia-deriv

fix: adjust contract-details page to take up the whole height
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
Owners: @matin-deriv, @maryia-deriv

fix: wallets webpack config
  packages/wallets/webpack.config.js
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: logical error
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

fix: date formatting
  packages/wallets/src/components/DatePicker/DatePicker.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
  packages/wallets/src/utils/utils.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: :fire: root-store cleanup
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: change actionsheet content
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier-description.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.scss
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
Owners: @matin-deriv, @maryia-deriv

chore: add suggested review comments
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/trader/src/AppV2/Utils/client.ts
Owners: @matin-deriv, @maryia-deriv

fix: node env value on staging (#16753)
  .github/workflows/release_staging.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/km.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/uz.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: addes styling to icon
  packages/account/src/Configs/get-mt5-status-badge-config.tsx
  packages/components/src/components/status-badge/status-badge.scss
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: fix
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.scss
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
Owners: @matin-deriv, @maryia-deriv

chore: utils unit test
  packages/wallets/src/utils/__tests__/utils.spec.ts
  packages/wallets/src/utils/utils.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: issues in trade types
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Owners: @matin-deriv, @maryia-deriv

fix: fixed validation check
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Time/tick_delay.js
  packages/bot-skeleton/src/scratch/utils/index.js
Owners: @sandeep-deriv, @vinu-deriv

chore: fix cancel modal showing when GB is off
  packages/account/src/Sections/Profile/PhoneVerification/__test__/cancel-phone-verification-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/cancel-phone-verification-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: update webpack config
  packages/wallets/webpack.config.js
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[WALL] Lubega / WALL-4837 / MT5 reset password responsive broken header (#16722)
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoDisclaimer/WithdrawalCryptoDisclaimer.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/WithdrawalCryptoReceipt.tsx
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsDescription.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/CompareAccountsDescription.spec.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/compareAccountsConfig.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/km.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/uz.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update unit test case for useRequestPhoneNumberOTP & useSendOtpVerificationCode
  packages/hooks/src/__tests__/useRequestPhoneNumberOTP.spec.tsx
  packages/hooks/src/__tests__/useSendOTPVerificationCode.spec.tsx
  packages/hooks/src/useRequestPhoneNumberOTP.tsx
  packages/hooks/src/useSendOTPVerificationCode.tsx
Owners: @ali-hosseini-deriv, @matin-deriv

refactor: :fire: removed buggy test coverge from skeleton
  packages/bot-skeleton/src/services/api/__tests__/ticks-service.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/BotApi.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/Core.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/StopStart.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/UI.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/After.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/Before.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/During.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/Ticks.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/indicators.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/sanitize-test/Blocks.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/sanitize-test/Trade.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/tools-test/Candles.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/tools-test/Misc.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/tools-test/Time.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/jsi.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/shouldRestartOnError.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/stages.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/tools.js
  packages/bot-skeleton/src/services/tradeEngine/trade/state/actions/index.spec.js
  packages/bot-skeleton/src/services/tradeEngine/trade/state/reducers/index.spec.js
Owners: @sandeep-deriv, @vinu-deriv

fix: removed validation for 0
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Time/tick_delay.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Ticks.js
Owners: @sandeep-deriv, @vinu-deriv

chore: add safeParse
  packages/trader/package.json
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/utils/src/getLocalStorage.ts
  packages/utils/src/index.ts
Owners: @matin-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: remove redeclared default case
  packages/wallets/src/utils/utils.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: update inline message for personal details mt5
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/VerifyPersonalDetails.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: error modal overlapping, no paskey page show when no passkey after removing
  packages/account/src/Components/network-status-toast-popup/network-status-toast-popup.scss
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/hooks/src/useGetPasskeysList.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: issues with trade types listing
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Owners: @matin-deriv, @maryia-deriv

chore: move hooks to the top
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: change line height of title
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
Owners: @sandeep-deriv, @vinu-deriv
