Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

fix: test cases
  packages/trader/src/AppV2/Components/OrderDetails/__tests__/order-details.spec.tsx
  packages/trader/src/AppV2/Components/PayoutInfo/__tests__/payout-info.spec.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: initial is_loading state in portfolio-store
  packages/core/src/Stores/portfolio-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: incorporated review comments
  packages/hooks/src/useResidenceList.ts
Owners: @ali-hosseini-deriv, @matin-deriv

fix: update jurisdiction content test cases
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-content.spec.tsx
Owners: @hirad-deriv, @matin-deriv

fix: border radius api card
  packages/account/src/Sections/Security/ApiToken/api-token.scss
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: update Appcard to use WalletCurrencyMarketIcon
  packages/wallets/src/components/AppCard/AppCard.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: formatting
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.tsx
  packages/trader/src/AppV2/Components/DealCancellationRemainingTime/__tests__/deal-cancellation-remaining-time.spec.tsx
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: forexLabel
  packages/wallets/src/features/cfd/screens/CompareAccounts/compareAccountsConfig.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: incorporated review comments
  packages/hooks/src/useResidenceList.ts
Owners: @ali-hosseini-deriv, @matin-deriv

chore: tests for reset-email-modal
  packages/core/src/App/Containers/ResetEmailModal/__tests__/reset-email-modal.spec.tsx
  packages/core/src/App/Containers/ResetEmailModal/reset-email-modal.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: fix
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
Owners: @matin-deriv, @maryia-deriv

🤖 Remote Config file update 🤖
  packages/api/src/remote_config.json
Owners: @wojciech-deriv, @matin-deriv, @yashim-deriv

[UPM-1100]/evgeniy/withdrawal word is not translated on recent transaction page (#15674)
  packages/cashier/src/components/transactions-crypto-history/__tests__/transactions-crypto-renderer.spec.tsx
  packages/cashier/src/components/transactions-crypto-history/transactions-crypto-history.scss
  packages/cashier/src/components/transactions-crypto-history/transactions-crypto-renderer.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

🤖 Remote Config file update 🤖
  packages/api/src/remote_config.json
Owners: @wojciech-deriv, @matin-deriv, @yashim-deriv

refactor: split open-positions into 3 files
  packages/reports/src/Containers/__tests__/mobile-row-renderer.spec.tsx
  packages/reports/src/Containers/__tests__/open-positions-table.spec.tsx
  packages/reports/src/Containers/__tests__/open-positions.spec.tsx
  packages/reports/src/Containers/mobile-row-renderer.tsx
  packages/reports/src/Containers/open-positions-table.tsx
  packages/reports/src/Containers/open-positions.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

chore: update components for TransferFormAccountCard
  packages/wallets/src/components/WalletCurrencyCard/WalletCurrencyCard.scss
  packages/wallets/src/components/WalletCurrencyCard/WalletCurrencyCard.tsx
  packages/wallets/src/components/WalletCurrencyIcon/WalletCurrencyIcon.tsx
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: added translation cache
  packages/core/build/config.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: removed WalletAppLinkedWithWalletIcon component and fix alignment issues
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/WalletsAppLinkedWithWalletIcon.scss
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/WalletsAppLinkedWithWalletIcon.tsx
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/__tests__/WalletsAppLinkedWithWalletIcon.spec.tsx
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/index.ts
  packages/wallets/src/features/cashier/helpers/helpers.ts
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: removed WalletsAppLinkedWithWalletIcon from index
  packages/wallets/src/components/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: TransferFormDropdown unit test (#15667)
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/__tests__/TransferFormDropdown.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: adding the missing deriv word
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

refactor: the migration banner condition (#15348)
  packages/appstore/src/components/main-title-bar/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

[WALL] Aizad/WALL-4340/WalletsErrorMT5InvestorPassword (#15581)
  packages/wallets/src/components/WalletsResetMT5Password/__test__/WalletSuccessResetMT5Password.spec.tsx
  packages/wallets/src/components/WalletsResetMT5Password/__test__/WalletsErrorMT5InvestorPassword.spec.tsx
  packages/wallets/src/components/WalletsResetMT5Password/__test__/WalletsResetMT5Password.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[WALL] Aizad/WALL-2899/WalletMarketCurrencyIcon-test-case (#15685)
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
  packages/wallets/src/components/WalletMarketCurrencyIcon/__test__/WalletMarketCurrencyIcon.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: remove check styles
  packages/bot-web-ui/src/components/contract-card-loading/__tests__/contract-card-running-bot.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: updating the bold options text to normal
  packages/appstore/src/components/containers/trading-app-card.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

feat(wallets): :sparkles: add loader, add opacity to skeleton loader
  packages/wallets/src/components/SkeletonLoader/SkeletonLoader.scss
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.scss
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: caching pattern
  packages/core/build/config.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: confirm-email-modal test
  packages/account/src/Components/sent-email-modal/sent-email-modal.tsx
  packages/core/src/App/Containers/ConfirmEmailModal/__tests__/confirm-email-modal.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: btn aligmnent desktop
  packages/core/src/sass/app/_common/components/account-common.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: incorporated review comments
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: type of notification_messages_ui + refactor test
  packages/reports/src/Containers/__tests__/open-positions.spec.tsx
  packages/stores/types.ts
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: applied comments
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/DrivingLicenseDocumentUpload/DrivingLicenseDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/IdentityCardDocumentUpload/IdentityCardDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/NIMCSlipDocumentUpload/NIMCSlipDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/PassportDocumentUpload/PassportDocumentUpload.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountSelection/TransferFormAccountSelection.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsTitleIcon.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardBack.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

test: finalize tests for OpenPositionsTable
  packages/reports/src/Containers/__tests__/open-positions-table.spec.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: test refactor for confirm-email-modal
  packages/core/src/App/Containers/ConfirmEmailModal/__tests__/confirm-email-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: pull invalid date fix
  packages/utils/src/getLoginHistoryFormattedData.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv
