Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

fix: issue 3
  packages/wallets/src/features/cfd/components/CFDPlatformsListAccounts/CFDPlatformsListAccounts.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: import issue in CFD
  packages/account/src/Components/forms/form-fields/date-of-birth-field.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: close acnt btn alignment
  packages/components/src/components/select-native/select-native.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

test: init tests for Statement
  packages/reports/src/Containers/__tests__/statement.spec.tsx
  packages/reports/src/Containers/statement.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

chore: fix tests, added remove passkey, refactored hooks
  packages/account/src/Containers/toast-popup.tsx
  packages/account/src/Sections/Security/Passkeys/__tests__/passkeys.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/description-container.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/no-passkeys.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-card.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-created.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-error-modal.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-reminder-modal.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-rename.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-learn-more.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-list.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-status-container.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-status-layout.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/tips-block.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/description-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/no-passkeys.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-card.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-created.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-error-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-reminder-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-removed.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-removing-verification.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-rename.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-learn-more.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-list.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-layout.tsx
  packages/account/src/Sections/Security/Passkeys/components/tips-block.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/hooks/src/__tests__/useRegisterPasskey.spec.tsx
  packages/hooks/src/useGetPasskeysList.ts
  packages/hooks/src/useRegisterPasskey.ts
  packages/hooks/src/useRemovePasskey.ts
  packages/hooks/src/useRenamePasskey.ts
  setupTests.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @markwylde-deriv

perf: code-splitting for DesktopWalletsList and WalletsCarousel in WalletsListingRoute
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

test: accordion strategy group
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/accordion-strategy-group.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/form-tabs.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/accordion-strategy-group.tsx
Owners: @sandeep-deriv, @vinu-deriv

test: accordion strategy group(2)
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/accordion-strategy-group.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/form-tabs.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

refactor: replace chip component with quill ui one
  packages/trader/src/AppV2/Components/Chip/__tests__/chip.spec.tsx
  packages/trader/src/AppV2/Components/Chip/chip.scss
  packages/trader/src/AppV2/Components/Chip/chip.tsx
  packages/trader/src/AppV2/Components/Chip/index.ts
  packages/trader/src/AppV2/Components/Filter/__tests__/contract-type-filter.spec.tsx
  packages/trader/src/AppV2/Components/Filter/__tests__/time-filter.spec.tsx
  packages/trader/src/AppV2/Components/Filter/contract-type-filter.tsx
  packages/trader/src/AppV2/Components/Filter/filter.scss
  packages/trader/src/AppV2/Components/Filter/time-filter.tsx
Owners: @matin-deriv, @maryia-deriv

feat: created encryption function
  packages/trader/src/AppV2/Utils/positions-utils.ts
Owners: @matin-deriv, @maryia-deriv

refactor: update quill version and mahe action sheet collapsible
  package-lock.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/DatePicker/__tests__/date-picker.spec.tsx
  packages/trader/src/AppV2/Components/DatePicker/date-picker.tsx
  packages/trader/src/AppV2/Components/Filter/contract-type-filter.tsx
  packages/trader/src/AppV2/Components/Filter/time-filter.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv

refactor: expand existing functionality of profit store
  packages/reports/src/Stores/Modules/Profit/profit-store.js
  packages/trader/src/AppV2/Components/DatePicker/date-picker.tsx
  packages/trader/src/AppV2/Components/Filter/contract-type-filter.tsx
  packages/trader/src/AppV2/Components/Filter/time-filter.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

refactor: add setter for encyptedcontracts to the new store
  packages/trader/src/AppV2/Utils/positions-utils.ts
  packages/trader/src/Stores/Modules/Positions/positions-store.ts
Owners: @matin-deriv, @maryia-deriv

refactor: apply contract type filter function
  packages/trader/src/AppV2/Components/Filter/__tests__/contract-type-filter.spec.tsx
  packages/trader/src/AppV2/Components/Filter/contract-type-filter.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: add check for call put among positions
  packages/trader/src/AppV2/Components/EmptyPositions/__tests__/empty-positions.spec.tsx
  packages/trader/src/AppV2/Components/EmptyPositions/empty-positions.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: handle date change function from profir store
  packages/reports/src/Stores/Modules/Profit/profit-store.js
  packages/trader/src/AppV2/Components/DatePicker/date-picker.tsx
  packages/trader/src/AppV2/Components/Filter/time-filter.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

refactor: add tests
  packages/reports/src/Stores/useReportsStores.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
  packages/trader/src/AppV2/Utils/__tests__/positions-utils.spec.ts
  packages/trader/src/Stores/Modules/Positions/__tests__/positions-store.spec.ts
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

refactor: apply suggestions
  packages/reports/src/Stores/Modules/Profit/profit-store.js
  packages/reports/src/Stores/useReportsStores.tsx
  packages/trader/src/AppV2/Components/DatePicker/date-picker.tsx
  packages/trader/src/AppV2/Components/Filter/time-filter.tsx
  packages/trader/src/AppV2/Utils/__tests__/positions-utils.spec.ts
  packages/trader/src/AppV2/Utils/positions-utils.ts
  packages/trader/src/Stores/Modules/Positions/__tests__/positions-store.spec.ts
  packages/trader/src/Stores/Modules/Positions/positions-store.ts
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

chore: rename constant
  packages/reports/src/Stores/Modules/Profit/profit-store.js
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

fix: issue 4
  packages/api-v2/src/hooks/useActiveLinkedToTradingAccount.ts
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsSection.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

feat: refactored to just fetching
  packages/api-v2/src/hooks/useDepositCryptoAddress.ts
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

fix: eslint issue
  packages/wallets/src/features/cfd/components/CFDPlatformsListAccounts/CFDPlatformsListAccounts.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: fixed eslint
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: fixed the same issue within cashier-v2
  packages/cashier-v2/src/lib/DepositCrypto/components/DepositCryptoAddress/DepositCryptoAddress.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: build error
  packages/account/src/Containers/toast-popup.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

test: init tests for getRowAction
  packages/reports/src/Containers/__tests__/statement.spec.tsx
  packages/reports/src/Containers/statement.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

test: useQsSubmitHandler hook
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/useQsSubmitHandler.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

refactor: increasing test coverage of component tests desktop form wrapper
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/desktop-form-wrapper.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

refactor: increasing test coverage of component tests mobile form wrapper
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/mobile-form-wrapper.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

refactor: increasing test coverage of component tests mobile form wrapper(2)
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/mobile-form-wrapper.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: fix typo
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/useQsSubmitHandler.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: fix ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/accordion-strategy-group.tsx
Owners: @sandeep-deriv, @vinu-deriv

feat: save arshaad
  packages/components/src/components/icon/flag/ic-flag-km.svg
  packages/translations/src/i18next/i18next.ts
  packages/translations/src/translations/km.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: add error screens for email otp invalid
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/api/types.ts
  packages/core/src/Services/socket-general.js
  packages/hooks/src/useGetPhoneNumberOTP.ts
  packages/hooks/src/useSendOTPVerificationCode.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @wojciech-deriv, @yashim-deriv, @ali-hosseini-deriv

chore: remove unused package in hooks
  packages/hooks/package.json
Owners: @ali-hosseini-deriv, @matin-deriv

feat: save arshaad part 2
  packages/components/src/components/icon/flag/ic-flag-km.svg
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update useEffect dependencies
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: allow test link for in context trans
  packages/translations/src/i18next/i18next.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: px to rem fix
  packages/components/src/components/select-native/select-native.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: increase max width
  packages/components/src/components/contract-card/contract-card.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv
