Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

fix: :fire: fixed EU popup logic to check in the string instead of compare
  packages/bot-web-ui/src/stores/app-store.ts
Owners: @sandeep-deriv, @vinu-deriv

chore: removed the redundant class
  packages/appstore/src/components/containers/trading-app-card.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: creation banner and adding mt5 account (#15659)
  packages/account/src/Components/poa/common-mistakes/common-mistake-examples.scss
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Styles/account.scss
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.scss
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv

Revert "fix: creation banner and adding mt5 account (#15659)"
  packages/account/src/Components/poa/common-mistakes/common-mistake-examples.scss
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Styles/account.scss
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.scss
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv

Revert "fix: creation banner and adding mt5 account (#15659)" (#15661)
  packages/account/src/Components/poa/common-mistakes/common-mistake-examples.scss
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Styles/account.scss
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.scss
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: removing the redundant div
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
Owners: @hirad-deriv, @matin-deriv

fix: :ambulance: accept one character for first name (#15656)
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: :ambulance: accept one character for first name (#15656)
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv

chore: resolved pr comments
  packages/core/src/root_files/localstorage-sync.html
  packages/shared/src/utils/url/constants.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: changing to tokens
  packages/trader/src/AppV2/Components/CardWrapper/card-wrapper.scss
  packages/trader/src/AppV2/Components/EntryExitDetails/entry-exit-details.scss
  packages/trader/src/AppV2/Components/PayoutInfoModal/payout-info-modal.scss
  packages/trader/src/AppV2/Components/TakeProfitHistory/take-profit-history.scss
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
Owners: @matin-deriv, @maryia-deriv

chore: changing to tokens
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
Owners: @matin-deriv, @maryia-deriv

chore: use 1 useState for otp request
  packages/account/src/Sections/Profile/PhoneVerification/resend-code-timer.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: updated platform condition
  packages/account/src/Components/reset-trading-password-modal/reset-trading-password-modal.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

Shayan/sync p2p and deriv app localstorage (#15652)
  packages/core/src/App/AppContent.tsx
  packages/core/src/Modules/P2PIFrame/P2PIFrame.tsx
  packages/core/src/Modules/P2PIFrame/index.ts
  packages/core/src/Stores/client-store.js
  packages/core/src/root_files/localstorage-sync.html
  packages/shared/src/utils/url/constants.ts
  packages/shared/src/utils/url/helpers.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv

fix: :fire: fixed EU popup logic to check in the string instead of compare (#15660)
  packages/bot-web-ui/src/stores/app-store.ts
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv

fix: :fire: fixed EU popup logic to check in the string instead of compare (#15660)
  packages/bot-web-ui/src/stores/app-store.ts
Owners: @sandeep-deriv, @vinu-deriv

chore: fixes
  packages/components/src/components/remaining-time/remaining-time.tsx
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: removed the redundant fragment
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
Owners: @hirad-deriv, @matin-deriv

chore: update highlighted assets in compare acc modal
  packages/wallets/src/features/cfd/screens/CompareAccounts/compareAccountsConfig.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: updating the landing_company_shortcode in the modal
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv

chore: move to 1 useState based on comment
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: apply suggestions
  packages/trader/src/AppV2/Components/CardWrapper/__tests__/card-wrapper.spec.tsx
  packages/trader/src/AppV2/Components/DealCancellationRemainingTime/deal-cancellation-remaining-time.tsx
  packages/trader/src/AppV2/Components/OrderDetails/__tests__/order-details.spec.tsx
  packages/trader/src/AppV2/Components/OrderDetails/order-details.scss
  packages/trader/src/AppV2/Components/OrderDetails/order-details.tsx
  packages/trader/src/AppV2/Components/RiskManagementInfoModal/risk-management-info-modal.tsx
  packages/trader/src/AppV2/Components/RiskManagementItem/__tests__/risk-management-item.spec.tsx
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Components/StopLoss/__tests__/stop-loss.spec.tsx
  packages/trader/src/AppV2/Components/TakeProfit/__tests__/take-profit.spec.tsx
  packages/trader/src/AppV2/Components/TakeProfitHistory/take-profit-history.scss
  packages/trader/src/AppV2/Components/TakeProfitHistory/take-profit-history.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.tsx
  packages/trader/src/AppV2/Hooks/useContractDetails.ts
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

fix: updated the styling of the component
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv

chore: rename phone_number_verification and move setIsLoading in if else statement based on comment
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/hooks/src/useRequestPhoneNumberOTP.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: the efin content changed again in Jurisdiction modal >:(
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-bvi-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-svg-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-vanuatu-contents.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: add manage account options
  packages/core/src/App/Containers/Layout/header/dtrader-v2-header.tsx
  packages/core/src/App/Containers/Layout/header/header-account-actions-dtrader-v2.tsx
  packages/core/src/App/Containers/new-version-notification.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: updated the code a bit
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv

chore: added WalletResetMT5Password test case
  packages/wallets/src/components/WalletsResetMT5Password/__test__/WalletsResetMT5Password.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[WALL] Jim/WALL-4227/fix learn more back button issue on older ios versions (#15619)
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardBack.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv

chore: review fix
  packages/trader/src/AppV2/Components/DealCancellation/deal-cancellation.tsx
  packages/trader/src/AppV2/Components/EntryExitDetails/entry-exit-details-row.tsx
  packages/trader/src/AppV2/Components/EntryExitDetails/entry-exit-details.tsx
  packages/trader/src/AppV2/Components/StopLoss/stop-loss.tsx
  packages/trader/src/AppV2/Components/TakeProfit/take-profit.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/__tests__/contract-details.spec.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
  packages/trader/src/AppV2/Hooks/useContractDetails.ts
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
  packages/trader/src/AppV2/Utils/contract-details-config.ts
Owners: @matin-deriv, @maryia-deriv

chore:fix
  packages/trader/src/AppV2/Components/DealCancellationRemainingTime/deal-cancellation-remaining-time.tsx
Owners: @matin-deriv, @maryia-deriv

feat: add deriv-com/ui to account package json
  packages/account/package.json
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: add react/jsx-runtime to webpack resolvers because i have added deriv-com/ui to package json
  packages/account/build/constants.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

refactor: resolve prop drilling technical debt
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/AccountsList/__tests__/AccountsList.spec.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsSection.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/DesktopWalletsList/DesktopWalletsList.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/WalletListCard/WalletListCard.tsx
  packages/wallets/src/components/WalletListCard/__tests__/WalletListCard.spec.tsx
  packages/wallets/src/components/WalletListCardBalance/WalletListCardBalance.tsx
  packages/wallets/src/components/WalletListCardBalance/__tests__/WalletListCardBalance.spec.tsx
  packages/wallets/src/components/WalletListCardDetails/WalletListCardDetails.tsx
  packages/wallets/src/components/WalletListCardDetails/__tests__/WalletListCardDetails.spec.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletListCardDropdown/__tests__/WalletListCardDropdown.spec.tsx
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
  packages/wallets/src/providers/BalanceProvider.tsx
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: removing the redundant function from the trade modal
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
Owners: @hirad-deriv, @matin-deriv

chore: test case fix
  packages/trader/src/AppV2/Components/CardWrapper/__tests__/card-wrapper.spec.tsx
  packages/trader/src/AppV2/Components/ContractDetailsFooter/__tests__/contract-details-footer.spec.tsx
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.tsx
  packages/trader/src/AppV2/Components/DealCancellation/__tests__/deal-cancellation.spec.tsx
  packages/trader/src/AppV2/Components/DealCancellation/deal-cancellation.tsx
  packages/trader/src/AppV2/Components/DealCancellationRemainingTime/__tests__/deal-cancellation-remaining-time.spec.tsx
  packages/trader/src/AppV2/Components/DealCancellationRemainingTime/deal-cancellation-remaining-time.tsx
  packages/trader/src/AppV2/Components/TakeProfitHistory/__tests__/take-profit-history.spec.tsx
Owners: @matin-deriv, @maryia-deriv
