Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: incorporated changes to Financial assessment
  packages/account/package.json
  packages/account/src/Components/forms/form-fields/employment-status.tsx
  packages/account/src/Components/forms/form-fields/tax-indentification-number.tsx
  packages/account/src/Components/forms/form-fields/tax-residence.tsx
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/NavigateToPersonalDetails.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/navigate-to-personal-details.scss
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: add location check for showing loader
  packages/core/src/App/Components/Routes/binary-routes.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: updated render condition
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

[PNV] (UPM) Suisin/ chore: update title for step 1 email verification (#16998)
  packages/account/src/Sections/Profile/PhoneVerification/__test__/otp-verification.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/core/src/Stores/notification-store.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

feat: make sonar happy
  packages/api-v2/src/ws-client/__tests__/subscriptions-manager.spec.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

fix(wallets): :ambulance: align positive/negative sign for rtl language
  packages/api-v2/src/hooks/useInfiniteTransactions.ts
  packages/api-v2/src/utils/display-money.ts
  packages/wallets/src/components/AppCard/AppCard.tsx
  packages/wallets/src/components/WalletCard/WalletCard.tsx
  packages/wallets/src/components/WalletMoney/WalletMoney.tsx
  packages/wallets/src/components/WalletMoney/__tests__/WalletMoney.spec.tsx
  packages/wallets/src/components/WalletMoney/index.ts
  packages/wallets/src/components/index.ts
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/TransactionsCompletedRow.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/__tests__/TransactionsCompletedRow.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/__tests__/TransferReceipt.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/WithdrawalCryptoReceipt.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/provider/WithdrawalCryptoProvider.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/types/types.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

fix: unit tests for AvailableMT5AccountsList
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/__test__/AvailableMT5AcountsList.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: added unit tests for EnterPassword component
  packages/wallets/src/features/cfd/screens/EnterPassword/__test__/EnterPassword.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: sonarcloud issue
  packages/wallets/src/features/cfd/screens/CreatePasswordMT5/CreatePasswordMT5.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: the build CI
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: unit test for DocumentsList
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/__tests__/DocumentsList.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: fix build and resolve sonarcloud failure
  packages/api-v2/src/AuthProvider.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

fix: modified the check for undefined in trade-type utils file
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
Owners: @matin-deriv, @maryia-deriv

chore: end time fix
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

chore: add changes to the rest of the logout functions
  package-lock.json
  packages/account/src/Containers/Account/page-overlay-wrapper.tsx
  packages/account/src/Containers/Account/tradinghub-logout.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/hooks/package.json
  packages/hooks/src/__tests__/useOauth2.spec.tsx
  packages/hooks/src/useOauth2.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: incorporated review comments
  packages/account/package.json
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
  packages/account/src/Helpers/utils.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details-form.spec.tsx
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/core/src/sass/app/_common/components/account-common.scss
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: fixing test case
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
Owners: @matin-deriv, @maryia-deriv

chore: disabled employment status
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: migrate utils to deriv-com/utils
  package-lock.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/api/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/components/DatePicker/DatePicker.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/VerifyPersonalDetails.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/hooks/useVerifyPersonalDetails.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/types/types.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/DrivingLicenseUpload/DrivingLicenseUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/IdentityCardUpload/IdentityCardUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/PassportUpload.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/CryptoTransaction/CryptoTransaction.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompleted/TransactionsCompleted.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedDemoResetBalance/TransactionsCompletedDemoResetBalance.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/TransactionsCompletedRow.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPending/TransactionsPending.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
  packages/wallets/src/utils/__tests__/parse-crypto-longcode.spec.ts
  packages/wallets/src/utils/__tests__/utils.spec.ts
  packages/wallets/src/utils/parse-crypto-longcode.ts
  packages/wallets/src/utils/utils.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

fix: remove react-node-to-string
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/utils/react-node-to-string.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: fix sonarcloud
  packages/account/src/Containers/Account/tradinghub-logout.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: test case
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: remove extra logic
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

chore: updated quill-icon version
  packages/account/package.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: add flag to enable/disable localstorage-sync
  packages/core/src/App/AppContent.tsx
  packages/hooks/src/useOauth2.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: added POA others
  packages/account/src/Constants/file-uploader.tsx
  packages/wallets/src/features/accounts/modules/Poa/utils/constants.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: rerender chart on symbol or change
  packages/trader/src/AppV2/Containers/Chart/trade-chart.tsx
Owners: @matin-deriv, @maryia-deriv

chore: changing time to 23
  packages/trader/src/AppV2/Components/TradeParameters/Duration/day.tsx
Owners: @matin-deriv, @maryia-deriv

chore: time in test case
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
Owners: @matin-deriv, @maryia-deriv

chore: fixing snackbar
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
Owners: @matin-deriv, @maryia-deriv

fix: first test
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: another test
  packages/trader/src/AppV2/Components/ForwardStartingBanner/__tests__/forward-starting-banner.spec.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: update library version
  package-lock.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/api/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

fix: transfer to client input alignment
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-form/payment-agent-transfer-form.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

chore: update package-lock
  package-lock.json
  packages/hooks/src/useRequestPhoneNumberOTP.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv

chore: address comments
  packages/account/src/Containers/Account/tradinghub-logout.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: import path
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-container.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

Merge branch 'master' into TRAH_3476/amina_likhith/add_employment_status_and_tin_to_real_account_signup
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
