Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

[WALL] george / WALL-4501 / update "@deriv-com/analytics" to v1.8.0 (#15890)
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions.spec.tsx
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

feat: added modal footer style
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/sass/cfd.scss
Owners: @hirad-deriv, @matin-deriv

fix: bugs with resetting filter and icon for hight low
  packages/trader/src/AppV2/Components/ContractCard/contract-card.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/Stores/Modules/Positions/positions-store.ts
Owners: @matin-deriv, @maryia-deriv

chore: update quill-ui
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

feat: update tests for one-time-deposit-modal
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: fix authorize issue
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-verification-page.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: Added error handling for VerifyPersonalDetails through useIDVService hook
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/IDVService.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/useIDVService.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: write tests for crypto-transaction-processing modal
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/__test__/crypto-transaction-processing-modal-content.spec.tsx
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/__test__/crypto-transaction-processing-modal.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal-content.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: write tests for deposit-now-or-later-modal
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/__test__/deposit-now-or-later-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: VerifyPersonalDetails - added error handling and ErrorMessage component
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/VerifyPersonalDetails.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/components/ErrorMessage/ErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/components/ErrorMessage/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/components/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/useVerifyPersonalDetails.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: failing test cases
  packages/cashier/src/components/side-note/__tests__/side-note.spec.tsx
  packages/cashier/src/components/transactions-crypto-history/__tests__/transactions-crypto-history.spec.tsx
  packages/cashier/src/components/transactions-crypto-history/__tests__/transactions-crypto-renderer.spec.tsx
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/__tests__/withdrawal-crypto-form.spec.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

chore: update package-lock
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: prettier and test cases
  packages/trader/src/AppV2/Components/DraggableList/__tests__/draggable-list-item.spec.tsx
  packages/trader/src/AppV2/Components/DraggableList/__tests__/draggable-list.spec.tsx
  packages/trader/src/AppV2/Components/DraggableList/draggable-list-item.tsx
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.tsx
Owners: @matin-deriv, @maryia-deriv

chore: update using inset-inline and style for tablet view
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: prettier
  packages/trader/src/AppV2/Components/DraggableList/draggable-list-item.tsx
Owners: @matin-deriv, @maryia-deriv

fix: Dbot offering for Norway and Japan users (#16002)
  packages/bot-web-ui/src/stores/app-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: Dbot offering for Norway and Japan users (#16002)
  packages/bot-web-ui/src/stores/app-store.ts
Owners: @sandeep-deriv, @vinu-deriv

feat: added fullheight password modal for mobile
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

fix: Dbot offering for Norway and Japan users (#16002)
  packages/bot-web-ui/src/stores/app-store.ts
Owners: @sandeep-deriv, @vinu-deriv

chore: update modal with inset
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/core/src/App/Containers/Modals/wallets-upgrade-logout-modal/wallets-upgrade-logout-modal.scss
  packages/core/src/App/Containers/Modals/wallets-upgrade-logout-modal/wallets-upgrade-logout-modal.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

refactor: remove caret
  package-lock.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: wallets banner ui issues
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: remove_khmer_lang
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

fix: wallets banner ui issues
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: remove_khmer_language_from_langugaes_list
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

fix: fixed white page on POI status page on submission
  packages/core/src/sass/app/_common/components/account-common.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: fixed white page on POI status page on submission2
  packages/core/src/sass/app/_common/components/account-common.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: fixed white page on POI status page on submission3
  packages/core/src/sass/app/_common/components/account-common.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: added testcases to validation schema
  packages/account/src/Configs/__test__/kyc-validation-config.spec.ts
  packages/account/src/Configs/__test__/user-profile-validation-config.spec.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: remove semicolon
  packages/appstore/src/components/containers/trading-app-card.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

test: more tests for profit-store
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

fix: bug with translation of value instead of text
  packages/reports/src/Containers/open-positions.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

chore: apply comment
  packages/cashier/src/pages/deposit/deposit.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

[WALL] Aizad/WALL-4435/Refactor Icons inside of Cashier (#15700)
  packages/wallets/src/components/AppCard/AppCard.tsx
  packages/wallets/src/components/AppCard/__tests__/AppCard.spec.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/WalletCurrencyCard/WalletCurrencyCard.scss
  packages/wallets/src/components/WalletCurrencyCard/WalletCurrencyCard.tsx
  packages/wallets/src/components/WalletCurrencyIcon/WalletCurrencyIcon.tsx
  packages/wallets/src/components/WalletListCard/WalletListCard.tsx
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
  packages/wallets/src/components/WalletMarketIcon/WalletMarketIcon.tsx
  packages/wallets/src/components/WalletMarketIcon/__tests__/WalletMarketIcon.spec.tsx
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/WalletsAppLinkedWithWalletIcon.scss
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/WalletsAppLinkedWithWalletIcon.tsx
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/__tests__/WalletsAppLinkedWithWalletIcon.spec.tsx
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/index.ts
  packages/wallets/src/components/index.ts
  packages/wallets/src/constants/icons.ts
  packages/wallets/src/features/cashier/constants/constants.ts
  packages/wallets/src/features/cashier/helpers/helpers.ts
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/__tests__/TransferFormAccountCard.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountSelection/TransferFormAccountSelection.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountSelection/TransferFormAccountSelection.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.tsx
  packages/wallets/src/public/images/demo-logo.svg
  packages/wallets/src/types.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: useVerifyPersonalDetails and useIDVService - Done to separate responsibilities for IDVService and VerifyPersonalDetails - Moved hooks, utils, types to their respective folders for both
  packages/api-v2/src/hooks/useOnfido.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/IDVService.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/components/ErrorMessage.scss
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/components/ErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/components/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/hooks/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/hooks/useIDVService.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/types/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/types/types.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/utils/contants.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/utils/idvServiceValidators.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/utils/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/VerifyPersonalDetails.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/hooks/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/hooks/useVerifyPersonalDetails.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/types/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/types/types.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/utils/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/utils/verifyPersonalDetailsValidationSchema.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

chore: incorporated Personal details validation
  packages/account/package.json
  packages/account/src/Configs/__test__/user-profile-validation-config.spec.ts
  packages/api-v2/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @markwylde-deriv, @aizad-deriv, @heorhi-deriv

chore: made tax residence mandatory
  packages/account/src/Configs/__test__/user-profile-validation-config.spec.ts
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

refactor: use onMount when needed only
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

test: onMount
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv
