Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

test: add more tests to profit-store
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

test: finalize tests for profit-store
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

refactor: introduce vars for repeated values
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

chore:fix
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.scss
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.tsx
Owners: @matin-deriv, @maryia-deriv

fix: decimal point
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

fix: currency in payoutperpoint
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

chore: remove unused css styles
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: vanillas
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

feat: remove semicolon (#16009)
  packages/appstore/src/components/containers/trading-app-card.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

feat: draft wallet translations
  .github/workflows/sync-translations.yml
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
  packages/wallets/jest.config.js
  packages/wallets/package.json
  packages/wallets/src/App.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListCardBalance/WalletListCardBalance.tsx
  packages/wallets/src/components/WalletListCardDetails/WalletListCardDetails.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletListHeader/WalletListHeader.tsx
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
  packages/wallets/webpack.config.js
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

feat: remove semicolon (#16009)
  packages/appstore/src/components/containers/trading-app-card.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: remove svg badge from Options section and refactor component
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/WalletListCardBadge/WalletListCardBadge.scss
  packages/wallets/src/components/WalletListCardBadge/WalletListCardBadge.tsx
  packages/wallets/src/components/WalletListCardBadge/__tests__/WalletListCardBadge.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: updated css for mobile view
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/sass/cfd.scss
Owners: @hirad-deriv, @matin-deriv

[P2PS]farrah/P2PS-2640/poa for idv-authenticated users (#15707)
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
  packages/p2p/src/components/verification/verification.tsx
  packages/p2p/src/pages/buy-sell/buy-sell-row.jsx
  packages/p2p/src/pages/buy-sell/no-ads/no-ads.jsx
  packages/p2p/src/pages/my-ads/my-ads.jsx
  packages/p2p/src/pages/my-profile/my-profile.tsx
  packages/p2p/src/stores/general-store.js
  packages/shared/src/utils/platform/platform.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: multiplier
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Components/TakeProfitHistory/take-profit-history.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: remove_khmer_language_from_langugaes_list (#16007)
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

chore: update WalletListCardBadge in other components
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: testcase
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
Owners: @matin-deriv, @maryia-deriv

fix: only vanilla
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

feat: draft wallet translations (#16013)
  .github/workflows/sync-translations.yml
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
  packages/wallets/jest.config.js
  packages/wallets/package.json
  packages/wallets/src/App.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListCardBalance/WalletListCardBalance.tsx
  packages/wallets/src/components/WalletListCardDetails/WalletListCardDetails.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletListHeader/WalletListHeader.tsx
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
  packages/wallets/webpack.config.js
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: test case and comments
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

build: add WALLETS_TRANSLATION_PATH to env
  packages/wallets/webpack.config.js
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: updated modal info
  packages/cfd/src/Containers/cfd-password-modal-info.tsx
Owners: @hirad-deriv, @matin-deriv

fix: remove_khmer_language_from_langugaes_list (#16007)
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

chore: implemented lazy load on financial assessment and trading assesment
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/index.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: added condition to show modal in mobile view
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

chore: removed console
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

Dhruv/webrel 2896/poi status page fix (#16008)
  packages/core/src/sass/app/_common/components/account-common.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Dhruv/webrel 2896/poi status page fix (#16008)
  packages/core/src/sass/app/_common/components/account-common.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: failing unit tests
  packages/appstore/src/components/banners/wallets-banner/__tests__/wallets-banner.spec.tsx
  packages/cashier/src/components/transactions-crypto-history/__tests__/transactions-crypto-renderer.spec.tsx
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @farrah-deriv, @wojciech-deriv

chore: update quill-ui version for console log fix
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: implement Max Button inside of TransferAmountInput
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAmountInput/TransferFormAmountInput.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAmountInput/TransferFormAmountInput.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: remove variables from passing to localize
  packages/reports/src/Containers/open-positions.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

fix: separate all css for only mt5
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/sass/cfd.scss
Owners: @hirad-deriv, @matin-deriv

fix: dropdown values
  packages/bot-skeleton/src/scratch/hooks/block.js
Owners: @sandeep-deriv, @vinu-deriv

fix: resolve conflicts
  package-lock.json
  packages/cfd/package.json
  packages/core/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @hirad-deriv, @ali-hosseini-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
