Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

chore: test case fix
  packages/trader/src/Assets/Trading/Categories/__tests__/trade-categories-gif.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: handle accessibility
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
Owners: @matin-deriv, @maryia-deriv

fix: remove display name
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.tsx
Owners: @matin-deriv, @maryia-deriv

fix: remove unused imports
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.tsx
Owners: @matin-deriv, @maryia-deriv

chore: update stylings for Video Controls and minor sizing change for Onboarding video
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
  packages/components/src/components/video-player/video-player.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: remove payout and stake content from purchase buttons
  packages/trader/src/AppV2/Components/PurchaseButton/__tests__/purchase-button-content.spec.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button-content.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
Owners: @matin-deriv, @maryia-deriv

feat: update quill-ui version
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

Revert "chore: remove payout and stake content from purchase buttons"
  packages/trader/src/AppV2/Components/PurchaseButton/__tests__/purchase-button-content.spec.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button-content.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
Owners: @matin-deriv, @maryia-deriv

fix: turn element into div
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
Owners: @matin-deriv, @maryia-deriv

fix: remove unused imports
  packages/trader/src/AppV2/Components/SymbolsSearchField/symbols-search-field.tsx
Owners: @matin-deriv, @maryia-deriv

feat: remove lazy load of cfd reset password modal (#16368)
  packages/appstore/src/components/modals/modal-manager.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: reset the setProduct click on get button
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/stores/types.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv, @maryia-deriv

feat: remove lazy load of cfd reset password modal (#16368)
  packages/appstore/src/components/modals/modal-manager.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: tracking of switching tab on load strategy modal
  packages/bot-web-ui/src/analytics/rudderstack-common-events.ts
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: loader position, amount of progress bar dots
  packages/bot-web-ui/src/components/summary/summary.scss
  packages/bot-web-ui/src/components/trade-animation/trade-animation.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: The animation does not complete
  packages/bot-web-ui/src/components/trade-animation/contract-stage-text.tsx
  packages/bot-web-ui/src/components/trade-animation/trade-animation.scss
Owners: @sandeep-deriv, @vinu-deriv

fix: formatting
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/payout-selector.scss
Owners: @matin-deriv, @maryia-deriv

fix: testcase
  packages/account/src/Sections/Verification/ProofOfIncome/__tests__/proof-of-income.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: tests
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/__tests__/take-profit.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
Owners: @matin-deriv, @maryia-deriv

chore: remove payout info for high_low and touch contracts
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button-content.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

chore: Replace password button with Forgot Password link
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: wrong duration unit for digit contracts
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

chore: Remove UKGC Fund Protection logic from FE code (#16192)
  packages/api-v2/src/hooks/useAccountStatus.ts
  packages/api-v2/src/hooks/useCashierValidation.ts
  packages/api/src/hooks/useAccountStatus.ts
  packages/api/src/hooks/useCashierValidation.ts
  packages/cashier/src/components/cashier-locked/__tests__/cashier-locked.spec.tsx
  packages/cashier/src/components/cashier-locked/cashier-locked-provider.tsx
  packages/cashier/src/components/error-state/error-state.tsx
  packages/cashier/src/components/funds-protection/__tests__/funds-protection.spec.tsx
  packages/cashier/src/components/funds-protection/funds-protection.tsx
  packages/cashier/src/components/funds-protection/index.ts
  packages/cashier/src/stores/__tests__/error-store.spec.ts
  packages/cashier/src/stores/error-store.ts
  packages/cashier/src/types/error.types.ts
  packages/core/src/Stores/notification-store.js
  packages/hooks/src/useIsAccountStatusPresent.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update stylings
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: add keyboard event handler
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
Owners: @matin-deriv, @maryia-deriv

chore: clear value onblur instead of onsearch
  packages/wallets/src/features/accounts/screens/PersonalDetails/PersonalDetails.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: ui issues in PA transfer to client page
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-form/payment-agent-transfer-form.scss
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-receipt/payment-agent-transfer-receipt.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: test case
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
Owners: @matin-deriv, @maryia-deriv

feat: create trading-disabled-modal and write unit tests
  packages/appstore/src/components/banners/business-closure-banner/business-closure-banner.scss
  packages/appstore/src/components/banners/business-closure-banner/business-closure-banner.tsx
  packages/appstore/src/components/banners/business-closure-banner/index.ts
  packages/appstore/src/components/banners/senegal-business-closure-banner/index.ts
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/__tests__/trading-disabled-by-residence-modal-content.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/__tests__/trading-disabled-by-residence-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/index.ts
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/trading-disabled-by-residence-modal-content.tsx
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/trading-disabled-by-residence-modal.scss
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/trading-disabled-by-residence-modal.tsx
  packages/trader/src/App/Containers/Modals/trade-modals.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

feat: add purchase handler
  packages/trader/src/Modules/Trading/Containers/purchase.tsx
Owners: @matin-deriv, @maryia-deriv

chore: finalize wheel picker styles
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate-picker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.scss
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: add tests for strike component
  packages/trader/src/AppV2/Components/TradeParameters/Strike/__tests__/strike.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike-wheel.tsx
Owners: @matin-deriv, @maryia-deriv

chore: translate new string within component
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: remove edit svg
  packages/wallets/src/public/images/ic-edit.svg
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: remove comments
  packages/appstore/src/components/banners/business-closure-banner/business-closure-banner.scss
  packages/appstore/src/modules/traders-hub/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: made changes based on comments
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: write unit tests for business-closure-banner
  packages/appstore/src/components/banners/business-closure-banner/__tests__/business-closure-banner.spec.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

refactor: tests
  packages/trader/src/AppV2/Components/TradeParameters/Strike/__tests__/strike.spec.tsx
Owners: @matin-deriv, @maryia-deriv
