Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: fix redirectURL code fix
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Services/logout.js
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/login/login.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: remove ^ for quill version
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

refactor(wallets): :recycle: refactor wallets deposit/withdraw visibility
  packages/api-v2/src/hooks/useCurrencyConfig.ts
  packages/wallets/src/features/cashier/flows/WalletDeposit/WalletDeposit.tsx
  packages/wallets/src/features/cashier/flows/WalletDeposit/__tests__/WalletDeposit.spec.tsx
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/WalletWithdrawal.tsx
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/__tests__/WalletWithdrawal.spec.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusSuccess/__tests__/TransactionStatusSuccess.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/__tests__/useTransferMessages.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

style: rename variable
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

fix: fix console error on loading POI/POA page (#15987)
  packages/account/src/Components/poi-poa-docs-submitted/poi-poa-docs-submitted.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix(wallets): :ambulance: fix playwright tests
  packages/integration/src/mocks/general/websiteStatus.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: style issues
  packages/p2p/src/components/add-payment-method/add-payment-method.tsx
  packages/p2p/src/components/composite-calendar/composite-calendar-mobile/composite-calendar-mobile.scss
  packages/p2p/src/components/composite-calendar/composite-calendar-mobile/composite-calendar-mobile.tsx
  packages/p2p/src/pages/app.scss
  packages/p2p/src/pages/buy-sell/buy-sell-header.scss
  packages/p2p/src/pages/buy-sell/buy-sell-row.jsx
  packages/p2p/src/pages/my-ads/my-ads.scss
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-name/my-profile-name.tsx
  packages/p2p/src/pages/my-profile/my-profile.tsx
  packages/p2p/src/pages/my-profile/payment-methods/edit-payment-method-form/edit-payment-method-form.tsx
Owners: @farrah-deriv, @nijil-deriv

chore: fix tests, remove snackbar for tablet
  packages/account/src/Components/network-status-toast-popup/__tests__/network-status-toast-popup.spec.tsx
  packages/account/src/Components/network-status-toast-popup/network-status-toast-popup.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: integrate kyc_auth_status in POA
  packages/account/src/Components/poa/status/submitted/__tests__/submitted.spec.tsx
  packages/account/src/Components/poa/status/submitted/index.ts
  packages/account/src/Components/poa/status/submitted/submitted.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/__tests__/proof-of-address-container.spec.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/__tests__/proof-of-address.spec.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/hooks/useKycAuthStatus.ts
  packages/shared/src/utils/constants/auth-status-codes.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: console error on clicking verify button in personal details section
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: update standard icon in cashier
  packages/cashier/src/assets/svgs/trading-platform/ic-appstore-standard.svg
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: merge master
  package-lock.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv

[DTRA] Maryia/WEBREL-20/test: ReportsTableRowLoader, ProgressSliderStream & profit-loss.ts in Reports (#15979)
  packages/reports/src/Components/Elements/ContentLoader/__tests__/reports-table-row.spec.tsx
  packages/reports/src/Containers/__tests__/progress-slider-stream.spec.tsx
  packages/reports/src/Helpers/__tests__/profit-loss.spec.ts
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: working on personal details
  packages/account/src/Components/additional-kyc-info-modal/form-config.tsx
  packages/account/src/Components/forms/form-select-field.tsx
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

WEBREL-17/ Kate / Add tests for reports files and change jest config for absolute path (#15982)
  packages/reports/jest.config.js
  packages/reports/src/Stores/__tests__/use-reports-stores.spec.tsx
  packages/reports/src/__tests__/app.spec.tsx
  packages/reports/src/__tests__/reports-providers.spec.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: removed stake amount limit on block for multiplier (#15934)
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_multiplier.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: address review comments
  packages/api-v2/src/utils/display-money.ts
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/WalletCard/__tests__/WalletCard.spec.tsx
  packages/wallets/src/components/WalletListCardBalance/WalletListCardBalance.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.scss
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useExtendedTransferAccountProperties.ts
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoAmountConverter/WithdrawalCryptoAmountConverter.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPercentageSelector/WithdrawalCryptoPercentageSelector.tsx
  packages/wallets/src/hooks/useAllBalanceSubscription.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

chore: review fix
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

chore: fix unmounted console log issue
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/verify-button.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: use useEffect directly from react package
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

[P2PS] / Ameerul / P2PS-2914 implement user interface business hours (#15356)
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/components/icon/common/ic-arrow-drop-down.svg
  packages/components/src/components/icon/common/ic-reset-time.svg
  packages/components/src/components/icon/icons.js
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/__tests__/business-hour-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-edit/business-hour-modal-edit.scss
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-edit/business-hour-modal-edit.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-edit/index.ts
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-footer/business-hour-modal-footer.scss
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-footer/business-hour-modal-footer.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-footer/index.ts
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-main/business-hour-modal-main.scss
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-main/business-hour-modal-main.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-main/index.ts
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal.scss
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/index.ts
  packages/p2p/src/constants/business-hour-times.ts
  packages/p2p/src/constants/modals.ts
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-name/my-profile-name-business-hours/index.ts
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-name/my-profile-name-business-hours/my-profile-name-business-hours.scss
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-name/my-profile-name-business-hours/my-profile-name-business-hours.tsx
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-name/my-profile-name.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @farrah-deriv, @nijil-deriv

fix: responsive tabs not scrolling (#15985)
  packages/p2p/src/pages/app.scss
Owners: @farrah-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/km.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/uz.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: iframe height
  packages/cashier/src/components/cashier-container/real/real.scss
  packages/cashier/src/components/cashier-container/real/real.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: spacing
  packages/cashier/src/components/cashier-container/real/real.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

ci: change the bucket directory
  .github/workflows/sync-translations.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: fix
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Components/TakeProfitHistory/__tests__/take-profit-history.spec.tsx
  packages/trader/src/AppV2/Components/TakeProfitHistory/take-profit-history.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

fix: indent
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

fix: font sizes
  packages/p2p/src/components/composite-calendar/composite-calendar.tsx
  packages/p2p/src/components/file-uploader-component/file-uploader-component.tsx
  packages/p2p/src/components/modal-manager/modals/ad-error-tooltip-modal/ad-error-tooltip-modal.tsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.tsx
  packages/p2p/src/components/modal-manager/modals/create-ad-add-payment-method-modal/create-ad-add-payment-method-modal.tsx
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/order-details-confirm-modal.tsx
  packages/p2p/src/components/recommended-by/recommended-by.tsx
  packages/p2p/src/pages/advertiser-page/advertiser-page-adverts.jsx
Owners: @farrah-deriv, @nijil-deriv

fix: deal cancel
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

chore: add DC
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

chore: suggestion
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
Owners: @matin-deriv, @maryia-deriv

chore: fix test case fail issue
  packages/account/src/Sections/Profile/PhoneVerification/__test__/otp-verification.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore:types
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.tsx
Owners: @matin-deriv, @maryia-deriv

chore: fix link-expired-modal cause added a boolean value in the hooks
  packages/core/src/App/Containers/LinkExpiredModal/link-expired-modal.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
