Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/uz.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: fixed footer button in password modal's landscape mode
  packages/cfd/src/sass/cfd.scss
Owners: @hirad-deriv, @matin-deriv

feat: update contract card timer and profit styles + update empty page text
  packages/trader/src/AppV2/Components/ContractCard/contract-card.scss
  packages/trader/src/AppV2/Components/EmptyPositions/empty-positions.tsx
Owners: @matin-deriv, @maryia-deriv

feat: adapt Notifications component
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
Owners: @sandeep-deriv, @vinu-deriv

feat: adapt Notifications component (#16608)
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: cleaned code added missing style
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/mt5-create-password/mt5-create-password.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv

fix: type
  package-lock.json
  package.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/datepicker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/Modules/Trading/Components/Form/TimePicker/trading-time-picker.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/advanced-duration.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

Rupato/BOT-2004/fix: refactored bot functions (#16230)
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/components/load-modal/__tests__/local-footer.spec.tsx
  packages/bot-web-ui/src/components/load-modal/__tests__/recent-footer.spec.tsx
  packages/bot-web-ui/src/components/load-modal/__tests__/recent-workspace.spec.tsx
  packages/bot-web-ui/src/components/load-modal/local-footer.tsx
  packages/bot-web-ui/src/components/load-modal/recent-footer.tsx
  packages/bot-web-ui/src/components/load-modal/recent-workspace.tsx
  packages/bot-web-ui/src/constants/load-modal.ts
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/uz.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: order_amount data type
  packages/reports/src/Containers/open-positions.tsx
  packages/shared/src/utils/contract/contract-types.ts
  packages/shared/src/utils/helpers/limit-orders.ts
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/info.tsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-amount-modal.tsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-options.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: reaolved comments2
  packages/cfd/src/Containers/mt5-create-password/mt5-create-password.scss
Owners: @hirad-deriv, @matin-deriv

fix: set reset button state to false after last blockly event
  packages/bot-web-ui/src/pages/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/stores/toolbar-store.ts
  packages/bot-web-ui/src/types/blockly.types.ts
Owners: @sandeep-deriv, @vinu-deriv

chore: fixed the POA dropdown
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: resolved comments3
  packages/cfd/src/Containers/mt5-create-password/mt5-create-password.scss
Owners: @hirad-deriv, @matin-deriv

fix: resolved comments4
  packages/cfd/src/Containers/mt5-create-password/mt5-create-password.scss
Owners: @hirad-deriv, @matin-deriv

fix: resolved comments5
  packages/cfd/src/Containers/mt5-create-password/mt5-create-password.scss
Owners: @hirad-deriv, @matin-deriv

fix: added icon testcase
  packages/cfd/src/Containers/mt5-create-password/__tests__/mt5-create-password.spec.js
Owners: @hirad-deriv, @matin-deriv

refactor: preview proposal
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/preview-proposal.ts
Owners: @matin-deriv, @maryia-deriv

fix: fix
  packages/components/src/components/contract-card/contract-card-items/contract-update-form.tsx
  packages/shared/src/utils/contract/contract.tsx
  packages/shared/src/utils/helpers/limit-orders.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: type issues in TS
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: cleaned coded2
  packages/cfd/src/Containers/mt5-create-password/mt5-create-password.scss
Owners: @hirad-deriv, @matin-deriv

feat: add dc remaining time + update stake input using quill-ui latest updates
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/ContractCard/contract-card.scss
  packages/trader/src/AppV2/Components/ContractCard/contract-card.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

refactor: update quill and reg exp replacement logic
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

refactor: split the test case
  packages/bot-web-ui/src/pages/tutorials/guide-content/__tests__/guide-content.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: clean up code smells
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management-content.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/__tests__/take-profit.spec.tsx
Owners: @matin-deriv, @maryia-deriv

feat: c.details header and close buttons updates
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/Stores/common-store.js
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/core/src/sass/app/_common/layout/header.scss
  packages/trader/src/AppV2/Components/ContractDetailsFooter/__tests__/contract-details-footer.spec.tsx
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.scss
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: testcase for File upload
  packages/account/src/Components/file-uploader-container/__tests__/file-uploader-container.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: mn language in testlinks
  packages/components/src/components/autocomplete/autocomplete.tsx
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/config/adapters.ts
  packages/shared/src/utils/constants/default-options.ts
  packages/translations/src/i18next/i18next.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: make url trade params work
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
Owners: @matin-deriv, @maryia-deriv

chore: updated current language from useTranslations to commmon store
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: add translations
  packages/wallets/src/features/cfd/screens/DynamicLeverage/DynamicLeverageMarketCard.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: close the other password modal when another is open
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/ui-store.js
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

[TRAH] Sergei / TRAH - 3857 / Hide Binary Bot from Traders Hub/Wallets (#16391)
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-article.spec.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article.tsx
  packages/appstore/src/assets/svgs/trading-platform/branding/ic-branding-binarybot-dashboard.svg
  packages/appstore/src/assets/svgs/trading-platform/ic-appstore-binarybot-blue.svg
  packages/appstore/src/assets/svgs/trading-platform/index.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/constants/platform-config.ts
  packages/appstore/src/types/common.types.ts
  packages/components/src/components/icon/rebranding/ic-rebranding-binary-bot.svg
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/App/Constants/platform-config.ts
  packages/core/src/App/Containers/Layout/header/default-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/default-header.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.tsx
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/warning-close-create-real-account-content.jsx
  packages/core/src/Modules/BinaryBotIFrame/BinaryBotIFrame.jsx
  packages/core/src/Modules/BinaryBotIFrame/index.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/common-store.js
  packages/shared/brand.config.json
  packages/shared/src/utils/brand/brand.ts
  packages/shared/src/utils/platform/platform.ts
  packages/shared/src/utils/routes/routes.ts
  packages/shared/src/utils/url/constants.ts
  packages/shared/src/utils/url/helpers.ts
  packages/stores/types.ts
  packages/wallets/src/components/AccountsList/__tests__/AccountsList.spec.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/LinkTitle.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/__test__/LinkTitle.spec.tsx
  packages/wallets/src/constants/constants.tsx
  packages/wallets/src/constants/icons.ts
  packages/wallets/src/features/cashier/constants/constants.ts
  packages/wallets/src/features/cashier/helpers/helpers.ts
  packages/wallets/src/helpers/urls.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: update video-player to support rtl
  packages/components/package.json
  packages/components/src/components/video-player/video-player.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/uz.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: updated copywriting
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[BOT] Farabi/bot-2104/dont show notifications on theme change (#16461)
  packages/bot-skeleton/src/scratch/blockly.js
  packages/bot-skeleton/src/scratch/hooks/colours.js
  packages/bot-web-ui/src/components/summary/summary.scss
  packages/bot-web-ui/src/pages/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/toolbar-store.ts
  packages/bot-web-ui/src/types/blockly.types.ts
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/uz.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: p2p toast message nick name fix (#16485)
  packages/core/src/App/Containers/Layout/header/header-account-actions.tsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-list.tsx
  packages/p2p/src/components/modal-manager/modals/nickname-modal/nickname-modal.tsx
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @farrah-deriv, @nijil-deriv

feat: add video guide for Turbos (#16574)
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/video-preview.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/video-preview.tsx
  packages/trader/src/AppV2/Utils/__tests__/contract-description.spec.tsx
  packages/trader/src/AppV2/Utils/contract-description-utils.tsx
  packages/trader/src/Modules/Trading/Helpers/__tests__/video-config.spec.ts
  packages/trader/src/Modules/Trading/Helpers/video-config.ts
Owners: @matin-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
