Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

fix: review comments
  packages/core/src/Utils/Analytics/analytics.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: deposit-crypto-disclaimers unit test
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-disclaimers/__test__/deposit-crypto-disclaimers.test.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

[UPM-1153]/evgeniy/network status component replace to quill-ui component (#15958)
  packages/account/src/App.tsx
  packages/account/src/Components/network-status-toast-popup/__tests__/network-status-toast-popup.spec.tsx
  packages/account/src/Components/network-status-toast-popup/index.ts
  packages/account/src/Components/network-status-toast-popup/network-status-toast-popup.scss
  packages/account/src/Components/network-status-toast-popup/network-status-toast-popup.tsx
  packages/account/src/Containers/toast-popup.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: disable the delete button when a bot is running
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form.tsx
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list-menu.tsx
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.scss
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: add margin top to the transaction id on mobile
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/TransactionsCompletedRowAccountDetails.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/TransactionsCompletedRowAccountDetails.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: on click open the summary should open on mobile
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: withdrawalCryptoValidator min value
  packages/cashier-v2/src/lib/WithdrawalCrypto/utils/withdrawalCryptoValidators.ts
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/utils/withdrawalCryptoValidators.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

[CFDS] shontzu/CFDS-4266/new-password-input-field-is-misaligned-in-MT5-new-password-policy-modal (#16341)
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/sass/cfd.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: withdrawalCryptoValidators min withdrawal value
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/utils/withdrawalCryptoValidators.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: create analytics package hooks for PNV analytics
  packages/account/src/Sections/Profile/PhoneVerification/cancel-phone-verification-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-number-verified-modal.tsx
  packages/hooks/src/__tests__/usePhoneVerificationAnalytics.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/usePhoneVerificationAnalytics.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: remove extra active_symbol calls for v2
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

fix: layout height adjastment
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.scss
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

feat: added wallet badge component
  packages/wallets/src/components/WalletBadge/WalletBadge.scss
  packages/wallets/src/components/WalletBadge/WalletBadge.tsx
  packages/wallets/src/components/WalletBadge/index.ts
  packages/wallets/src/components/index.ts
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: added badge to MT5TradeScreen and AddedMT5AccountsList component
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: test failure in the build
  packages/core/src/Utils/Analytics/analytics.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: add max height for strike, growth rate and risk management
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.scss
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management-content.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.scss
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.scss
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
Owners: @matin-deriv, @maryia-deriv

chore: working
  packages/trader/src/AppV2/Components/Stats/__tests__/stats.spec.tsx
  packages/trader/src/AppV2/Components/Stats/stats-row.tsx
  packages/trader/src/AppV2/Components/Stats/stats.scss
  packages/trader/src/AppV2/Components/Stats/stats.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier-input.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @matin-deriv, @maryia-deriv

fix: design issues
  packages/wallets/src/features/cashier/modules/FiatOnRamp/components/FiatOnRampDisclaimer/FiatOnRampDisclaimer.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalNoBalance/WithdrawalNoBalance.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: renaming
  packages/trader/src/AppV2/Components/AccumulatorStats/__tests__/stats.spec.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-row.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/index.ts
  packages/trader/src/AppV2/Components/AccumulatorStats/stats.scss
Owners: @matin-deriv, @maryia-deriv

revert: box shadow on purchase button is no longer required
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.scss
Owners: @matin-deriv, @maryia-deriv

fix: failing tests
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

chore: renaming
  packages/trader/src/AppV2/Components/AccumulatorStats/__tests__/accumulator-stats.spec.tsx
Owners: @matin-deriv, @maryia-deriv

feat: add time units
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/deal-cancellation.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

chore: fix test case
  packages/trader/src/AppV2/Components/AccumulatorStats/__tests__/accumulator-stats.spec.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-row.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @matin-deriv, @maryia-deriv

feat: add deal cancel fee info
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersInformation/multipliers-information.scss
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersInformation/multipliers-information.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
Owners: @matin-deriv, @maryia-deriv

fix: removing the spacing
  packages/trader/src/AppV2/Containers/Trade/trade.scss
Owners: @matin-deriv, @maryia-deriv

fix: added trackeventwithcache in the password page
  packages/core/src/App/Containers/PasswordSelectionModal/password-selection-modal.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: scss
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
Owners: @matin-deriv, @maryia-deriv

chore: sonar cloud fix
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.tsx
Owners: @matin-deriv, @maryia-deriv

fix: localize text
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/useTransferMessages.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/utils/tradingPlatformStatusMessageFn.ts
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/utils/tradingPlatformStatusMessageFn.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: get min value from fractional digits
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/utils/withdrawalCryptoValidators.ts
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/WithdrawalLocked.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: added zero spread title to cashier
  packages/api-v2/types.ts
  packages/wallets/src/features/cashier/constants/constants.ts
  packages/wallets/src/features/cashier/helpers/helpers.ts
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useExtendedTransferAccountProperties.ts
  packages/wallets/src/types.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

fix: withdrawl verification design issues
  packages/wallets/src/features/cashier/modules/FiatOnRamp/components/FiatOnRampProviderCard/FiatOnRampProviderCard.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/WithdrawalVerificationRequest/WithdrawalVerificationRequest.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/WithdrawalVerificationSent/WithdrawalVerificationSent.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: withdrawal crypto receipt design issue
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/WithdrawalCryptoReceipt.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: add snackbar for dc save
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/deal-cancellation.tsx
Owners: @matin-deriv, @maryia-deriv

chore: fixing button
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
  packages/trader/src/AppV2/Components/AccumulatorStats/index.ts
Owners: @matin-deriv, @maryia-deriv

fix: added check for previous poi submission to stop showing onfido after idv success
  packages/api-v2/src/hooks/usePOI.ts
  packages/wallets/src/features/cfd/flows/ClientVerification/ClientVerification.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv
