Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: fix console log issue when click on success modal
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/verify-button.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-number-verified-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/verification-link-expired-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-number-verified-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/verification-link-expired-modal.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: tusdt notice banner and notification for wallets/th
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cashier/package.json
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-info-notice/__test__/deposit-crypto-info-notice.test.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-info-notice/deposit-crypto-info-notice.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-info-notice/index.ts
  packages/cashier/src/modules/deposit-crypto/components/index.ts
  packages/cashier/src/modules/deposit-crypto/deposit-crypto.tsx
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/core/src/Stores/notification-store.js
  packages/p2p/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoInfoNotice/DepositCryptoInfoNotice.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoInfoNotice/__tests__/DepositCryptoInfoNotice.spec.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoInfoNotice/index.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @farrah-deriv, @hirad-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: fix
  packages/core/src/Stores/common-store.js
  packages/stores/types.ts
  packages/trader/src/AppV2/Components/ServiceErrorSheet/service-error-sheet.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: applied comments
  packages/wallets/webpack.config.js
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: fix build fail issue
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/components/src/components/icon/icons.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

DTRA-1855 / Kate / [DTrader-V2]: Change chart height calculations based on the latest design (#16773)
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Utils/__tests__/layout-utils.spec.ts
  packages/trader/src/AppV2/Utils/layout-utils.tsx
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[DTRA]/Ahmad/Duration Fixes (#16744)
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/datepicker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.scss
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: fix the animation and scrolling behavior in step 4 for trade page onboarding (#16777)
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/guide-container.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/onboarding-guide.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/steps-config.tsx
Owners: @matin-deriv, @maryia-deriv

[DTRA-V2]fix: contract details scroll (#16762)
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: add initial values to localstorage
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point-wheel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

fix: displaying 0
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: test case
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.scss
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
Owners: @matin-deriv, @maryia-deriv

chore: fix test case
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
Owners: @matin-deriv, @maryia-deriv

aum / WALL-4754 / fix-console-error-for-poa-and-tax-info (#16523)
  packages/wallets/src/features/accounts/modules/Poa/components/DocumentSubmission/DocumentSubmission.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/pt.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: applied comments
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-info-notice/__test__/deposit-crypto-info-notice.test.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-info-notice/deposit-crypto-info-notice.tsx
  packages/cashier/src/modules/deposit-crypto/deposit-crypto.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoInfoNotice/DepositCryptoInfoNotice.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoInfoNotice/__tests__/DepositCryptoInfoNotice.spec.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: ui issue
  packages/trader/src/AppV2/Containers/Trade/trade.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: add tests
  packages/stores/src/mockStore.ts
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/__tests__/payout-per-point.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: adding in mockStore
  packages/stores/src/mockStore.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[CFDS]/hasan/CFDS-4263/Refactor JS components to TS (#16507)
  packages/cfd/package.json
  packages/cfd/src/Components/Errors/__tests__/error-component.spec.tsx
  packages/cfd/src/Components/Errors/error-component.tsx
  packages/cfd/src/Components/Errors/index.js
  packages/cfd/src/Components/Errors/index.ts
  packages/cfd/src/Components/Routes/__tests__/binary-routes.spec.tsx
  packages/cfd/src/Components/Routes/__tests__/route-with-sub-routes.spec.tsx
  packages/cfd/src/Components/Routes/binary-link.jsx
  packages/cfd/src/Components/Routes/binary-routes.jsx
  packages/cfd/src/Components/Routes/binary-routes.tsx
  packages/cfd/src/Components/Routes/helpers.js
  packages/cfd/src/Components/Routes/index.js
  packages/cfd/src/Components/Routes/index.ts
  packages/cfd/src/Components/Routes/route-with-sub-routes.tsx
  packages/cfd/src/Components/success-dialog/__tests__/success-dialog.spec.tsx
  packages/cfd/src/Components/success-dialog/index.tsx
  packages/cfd/src/Components/success-dialog/success-dialog.tsx
  packages/cfd/src/Constants/routes-config.js
  packages/cfd/src/Constants/routes-config.tsx
  packages/cfd/src/Containers/__tests__/cfd-top-up-demo-modal.spec.js
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/cfd-top-up-demo-modal.tsx
  packages/cfd/src/Containers/index.ts
  packages/cfd/src/Containers/investor-password-manager/__tests__/cfd-password-success-message.spec.tsx
  packages/cfd/src/Containers/investor-password-manager/__tests__/investor-password-manager.spec.tsx
  packages/cfd/src/Containers/investor-password-manager/cfd-password-success-message.tsx
  packages/cfd/src/Containers/investor-password-manager/index.ts
  packages/cfd/src/Containers/investor-password-manager/investor-password-manager.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/cfd/src/Containers/routes/__tests__/routes.spec.tsx
  packages/cfd/src/Containers/routes/index.ts
  packages/cfd/src/Containers/routes/routes.tsx
  packages/cfd/src/Modules/Page404/Components/Page404.tsx
  packages/cfd/src/Modules/Page404/index.js
  packages/cfd/src/Modules/Page404/index.ts
  packages/cfd/src/app.tsx
  packages/cfd/src/templates/_common/components/loading.tsx
  packages/cfd/src/templates/app/components/loading.jsx
  packages/cfd/src/types/types.ts
Owners: @hirad-deriv, @matin-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/pt.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

DTRA-1815 / Kate / [DTrader-V2]: Add Onboarding video for Draggable component (Trade types selection) (#16759)
  packages/trader/src/AppV2/Components/AccumulatorStats/__tests__/accumulator-stats.spec.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-description.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/__tests__/guide-container.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/__tests__/guide-tooltip.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/__tests__/onboarding-guide.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/__tests__/onboarding-video.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/guide-container.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/guide-tooltip.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/index.ts
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-guide.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-guide.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-video.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/steps-config.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/__tests__/trade-types-selection-guide.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/index.ts
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/trade-types-selection-guide.tsx
  packages/trader/src/AppV2/Components/StreamIframe/__tests__/stream-iframe.spec.tsx
  packages/trader/src/AppV2/Components/StreamIframe/index.ts
  packages/trader/src/AppV2/Components/StreamIframe/stream-iframe.scss
  packages/trader/src/AppV2/Components/StreamIframe/stream-iframe.tsx
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/Modules/Trading/Helpers/video-config.ts
Owners: @matin-deriv, @maryia-deriv

DTRA-1846 / Kate / Hide purchase button when the market is closed (#16772)
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/pt.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/pt.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: intermediate result
  packages/core/src/App/AppContent.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useFreshChat.ts
  types/global.d.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @markwylde-deriv

chore: icon
  packages/components/src/components/icon/icons.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update translation file
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: add some data to create correct jwt token
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/socket_base.js
  packages/hooks/src/useFreshChat.ts
  packages/stores/types.ts
  types/global.d.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @markwylde-deriv

feat: added changes for personal details (set_settings) and IDV API error handling
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/IDVService.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/components/IDVServiceErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/Onfido/Onfido.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/VerifyPersonalDetails.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/components/VerifyPersonalDetailsErrorMessage/VerifyPersonalDetailsErrorMessage.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: remove old tnc logic
  packages/cashier/src/pages/deposit/deposit-locked/__tests__/deposit-locked.spec.tsx
  packages/cashier/src/pages/deposit/deposit-locked/deposit-locked.tsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/hooks/src/__tests__/useIsTNCNeeded.spec.tsx
  packages/hooks/src/__tests__/useNeedTNC.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useDepositLocked.ts
  packages/hooks/src/useIsTNCNeeded.ts
  packages/hooks/src/useNeedTNC.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: add types for user_id
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: add await for uuid
  packages/hooks/src/useFreshChat.ts
  types/global.d.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @markwylde-deriv

feat: move ff to iseIsLiveChatWidgetAvailable
  packages/hooks/src/useFreshChat.ts
  packages/hooks/src/useIsLiveChatWidgetAvailable.ts
Owners: @ali-hosseini-deriv, @matin-deriv

feat: add correct code to check is loaded widget or not
  packages/hooks/src/__tests__/useIsLiveChatWidgetAvailable.spec.tsx
  packages/hooks/src/useFreshChat.ts
  packages/hooks/src/useIsLiveChatWidgetAvailable.ts
Owners: @ali-hosseini-deriv, @matin-deriv

chore: fix
  package-lock.json
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
