Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

feat: add is_cr and is_mf to client store
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: modify useCryptoTransactions hook
  packages/hooks/src/useCryptoTransactions.ts
Owners: @ali-hosseini-deriv, @matin-deriv

feat: intermediate result, need to think about cr and mf deposit
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: remove unnecessary changes
  packages/account/src/Components/poi/status/unsupported/card-details/card-details.scss
  packages/appstore/src/modules/traders-hub/traders-hub.scss
  packages/components/jest.config.js
  packages/components/src/components/dropdown/dropdown.scss
  packages/core/src/App/Containers/Layout/header/traders-hub-onboarding.tsx
  packages/hooks/src/index.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv

refactor: add tests for video preview and description modal
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/video-preview.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/video-preview.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/description-modal.spec.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-types-utils.spec.tsx
Owners: @matin-deriv, @maryia-deriv

feat: squashed deriv-api removal
  packages/api-v2/src/APIProvider.tsx
  packages/api-v2/src/AuthProvider.tsx
  packages/api-v2/src/hooks/useDocumentUpload.ts
  packages/api-v2/src/useAPI.ts
  packages/api-v2/src/useSubscription.ts
  packages/api-v2/src/ws-client/__tests__/request.spec.ts
  packages/api-v2/src/ws-client/__tests__/subscription.spec.ts
  packages/api-v2/src/ws-client/__tests__/subscriptions-manager.spec.ts
  packages/api-v2/src/ws-client/mock-websocket-factory.ts
  packages/api-v2/src/ws-client/request.ts
  packages/api-v2/src/ws-client/subscription.ts
  packages/api-v2/src/ws-client/subscriptions-manager.ts
  packages/api-v2/src/ws-client/ws-client.ts
  packages/wallets/component-tests/mocks/mockBalance.ts
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/__tests__/WithdrawalCryptoForm.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

[COJ]/likhith/fix: title of language change modal (#15919)
  packages/core/src/App/Components/Layout/Footer/toggle-language-settings.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/mobile-language-menu.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[COJ]/likhith/fix: title of language change modal (#15919)
  packages/core/src/App/Components/Layout/Footer/toggle-language-settings.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/mobile-language-menu.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/pt.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/zh_cn.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: test fix
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/provider/WithdrawalCryptoProvider.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: merged smaller chunks into one
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

fix: trustpilot issue
  packages/appstore/webpack.config.js
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: trustpilot issue (#15929)
  packages/appstore/webpack.config.js
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: update dropdown component with @deriv-com/ui
  package-lock.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/components/src/components/icon/icons.js
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.scss
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.tsx
  packages/wallets/src/components/Base/WalletDropdown/index.ts
  packages/wallets/src/components/Base/index.ts
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.scss
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletListCardDropdown/__tests__/WalletListCardDropdown.spec.tsx
  packages/wallets/src/features/accounts/screens/AddressSection/AddressSection.scss
  packages/wallets/src/features/accounts/screens/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/IDVDocumentUpload.scss
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/IDVDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/PersonalDetails/PersonalDetails.scss
  packages/wallets/src/features/accounts/screens/PersonalDetails/PersonalDetails.tsx
  packages/wallets/src/features/accounts/screens/PoaScreen/PoaScreen.tsx
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.scss
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.tsx
  packages/wallets/src/features/cashier/modules/Transactions/__tests__/Transactions.spec.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @hirad-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: trustpilot issue (#15929) (#15930)
  packages/appstore/webpack.config.js
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/pt.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: fixed the icon size and gap in email&passwords
  packages/account/src/Sections/Security/Passwords/deriv-password.tsx
  packages/account/src/Styles/account.scss
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: clean up code
  packages/wallets/src/features/accounts/screens/AddressSection/AddressSection.scss
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/IDVDocumentUpload.scss
  packages/wallets/src/features/accounts/screens/PersonalDetails/PersonalDetails.scss
  packages/wallets/src/features/accounts/screens/PoaScreen/PoaScreen.tsx
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.scss
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: checkbox for no tax info
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
  packages/account/src/Containers/employment-tax-info/employment-tax-info.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: incorporated language sync with BE and configured the preference of languages
  packages/core/src/App/app.jsx
  packages/core/src/Stores/client-store.js
  packages/translations/src/i18next/i18next.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: removed innergraph and sideEffects from webpack as they are default true
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

fix: fixed build issue
  packages/components/src/components/dropdown/dropdown.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: removed sideEffects from package.json
  packages/cfd/package.json
Owners: @hirad-deriv, @matin-deriv

fix: failing component test
  packages/wallets/component-tests/crypto-payment-redirection.spec.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: PoaScreen to Poa module - renamed PoaScreen to Poa module - refactored AddressSection with Formik and moved it to accounts/modules
  packages/wallets/src/features/accounts/modules/Poa/Poa.scss
  packages/wallets/src/features/accounts/modules/Poa/Poa.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/AddressSection/AddressSection.scss
  packages/wallets/src/features/accounts/modules/Poa/components/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/AddressSection/addressSectionValidationSchema.ts
  packages/wallets/src/features/accounts/modules/Poa/components/AddressSection/index.ts
  packages/wallets/src/features/accounts/modules/Poa/components/index.ts
  packages/wallets/src/features/accounts/modules/Poa/types.ts
  packages/wallets/src/features/accounts/validations.ts
  packages/wallets/src/types.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: removed @deriv/api
  packages/cfd/build/webpack.config.js
  packages/cfd/package.json
Owners: @hirad-deriv, @matin-deriv

fix: fixed scroll issue on Onfido Page
  packages/core/src/sass/app/_common/components/account-common.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: fix test case failling and update code based on comments
  package-lock.json
  packages/account/package.json
  packages/account/src/Containers/routes.tsx
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.scss
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-number-verified-modal.tsx
  packages/account/src/Styles/account.scss
  packages/core/package.json
  packages/hooks/src/__tests__/usePhoneNumberVerificationSetTimer.spec.tsx
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: prevent API call when lang is same as API
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: working favorite section
  packages/trader/src/AppV2/Components/FavoriteSymbols/favorite-symbols.scss
  packages/trader/src/AppV2/Components/FavoriteSymbols/favorite-symbols.tsx
  packages/trader/src/AppV2/Components/FavoriteSymbols/no-favorite-symbol.tsx
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.scss
  packages/trader/src/AppV2/Components/MarketCategory/market-category.scss
  packages/trader/src/AppV2/Components/MarketCategory/market-category.tsx
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.scss
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Components/SymbolNotFound/symbol-not-found.tsx
  packages/trader/src/AppV2/Hooks/useGetFavoriteSymbols.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

chore: remove phone_number_verify?.verified logic check in personal details
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: update km.json file
  packages/translations/src/translations/km.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: fixing the swap-free issues
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsScreen.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionScreen.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: incorporated review comments and made title consistent
  packages/account/src/Sections/Profile/LanguageSettings/__tests__/language-settings.spec.tsx
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/core/src/App/Components/Layout/Footer/toggle-language-settings.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/mobile-language-menu.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: rename to appropriate name and setup search
  packages/trader/src/AppV2/Components/MarketCategory/market-category.scss
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.scss
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Components/MarketSelectorSearchField/index.ts
  packages/trader/src/AppV2/Components/SymbolsSearchField/index.ts
  packages/trader/src/AppV2/Components/SymbolsSearchField/symbols-search-field.scss
  packages/trader/src/AppV2/Components/SymbolsSearchField/symbols-search-field.tsx
  packages/trader/src/AppV2/Components/SymbolsSearchResult/index.ts
  packages/trader/src/AppV2/Components/SymbolsSearchResult/symbols-search-result.scss
  packages/trader/src/AppV2/Components/SymbolsSearchResult/symbols-search-result.tsx
Owners: @matin-deriv, @maryia-deriv

fix: incorporated review comments
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/core/src/App/Components/Routes/language-link.tsx
  packages/core/src/Stores/client-store.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: removed stake amount limit on block for multiplier
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_multiplier.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
Owners: @sandeep-deriv, @vinu-deriv

chore: fix test case and remove unused imports
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/verify-button.spec.tsx
  packages/hooks/src/__tests__/usePhoneNumberVerificationSetTimer.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: validation issue with no tin checkbox
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: resolved prettier issues
  packages/core/src/App/Components/Routes/language-link.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
