Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

fix: display max payout
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake-details.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
Owners: @matin-deriv, @maryia-deriv

Revert "fix: display max payout"
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake-details.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
Owners: @matin-deriv, @maryia-deriv

fix: display max payout
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake-details.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
Owners: @matin-deriv, @maryia-deriv

fix: failing test
  packages/trader/src/AppV2/Components/TradeParameters/Stake/__tests__/stake.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: tooltip added for dashboard icons (#16827)
  packages/bot-web-ui/src/constants/dashboard.ts
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent-workspace.tsx
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

added: notification
  packages/account/src/Components/forms/form-fields/account-opening-reason.tsx
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/ui-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: speed up animation time
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot-display.tsx
Owners: @matin-deriv, @maryia-deriv

fix: maximum call stack exceeded
  packages/bot-skeleton/src/scratch/hooks/gesture.js
Owners: @sandeep-deriv, @vinu-deriv

fix: upload strategy complete event on rudderstack (#16834)
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

test: :test_tube: added test coverage for delete dialog
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/__tests__/delete-dialog.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/dashboard-bot-list.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/delete-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/index.scss
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

refactor: solution
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/clear-journal-transactions.tsx
  packages/bot-web-ui/src/pages/server-side-bot/journal/journal.tsx
  packages/bot-web-ui/src/pages/server-side-bot/performance-panel/performance-panel.tsx
  packages/bot-web-ui/src/pages/server-side-bot/summary/summary.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: add unit tests and address reviews
  packages/wallets/src/components/WalletDisabledAccountModal/WalletDisabledAccountModal.tsx
  packages/wallets/src/components/WalletsDisabledAccountsBanner/WalletsDisabledAccountsBanner.scss
  packages/wallets/src/components/WalletsDisabledAccountsBanner/WalletsDisabledAccountsBanner.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/__tests__/AddedMT5AccountsList.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: remove unnecessary props
  packages/wallets/src/components/WalletsDisabledAccountsBanner/WalletsDisabledAccountsBanner.tsx
  packages/wallets/src/components/WalletsDisabledAccountsBanner/__tests__/WalletsDisabledAccountsBanner.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: added created modal and added DocumentTile component
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/ClientVerificationModal.scss
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/ClientVerificationModal.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentTile/DocumentTile.scss
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentTile/DocumentTile.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentTile/index.ts
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/index.ts
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/index.ts
  packages/wallets/src/features/cfd/modals/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: solution(2)
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/clear-journal-transactions.tsx
  packages/bot-web-ui/src/pages/server-side-bot/performance-panel/performance-panel.tsx
Owners: @sandeep-deriv, @vinu-deriv

refactor: wrapped dragmovehandler with throttle
  packages/components/src/components/video-player/video-player.tsx
  packages/trader/src/AppV2/Components/Guide/guide.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: added DocumentsList component
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/ClientVerificationModal.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/DocumentsList.scss
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/DocumentsList.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/components/DocumentTile/DocumentTile.scss
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/components/DocumentTile/DocumentTile.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/components/DocumentTile/index.ts
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/components/index.ts
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/index.ts
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: added focus on Account opening reason field
  packages/account/src/Components/forms/form-fields/account-opening-reason.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-list.tsx
  packages/core/src/Stores/notification-store.js
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ru.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: [UPM-1450]/evgeniy/add passkey attribute to hotjar
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/app.jsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: types
  packages/account/src/Configs/get-status-badge-config.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-switcher.tsx
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Containers/props.types.ts
  packages/cfd/src/Helpers/compare-accounts-config.ts
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/__tests__/useGetStatus.spec.tsx
  packages/hooks/src/useIsSelectedMT5AccountCreated.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

refactor: make drag dot increasing optional and add tests
  packages/components/src/components/video-player/__tests__/video-controls.spec.tsx
  packages/components/src/components/video-player/video-controls.tsx
  packages/components/src/components/video-player/video-player.scss
  packages/components/src/components/video-player/video-player.tsx
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: create type of supported events
  packages/components/src/components/video-player/video-player.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: test case download added
  packages/bot-web-ui/src/utils/__tests__/download.spec.ts
  packages/bot-web-ui/src/utils/download.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: wallet list card actions
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: save phone number when on click verify
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/verify-button.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: remove wallet list card actions map
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: remove unnecessary code
  packages/wallets/src/components/WalletsDisabledAccountsBanner/WalletsDisabledAccountsBanner.scss
  packages/wallets/src/components/WalletsDisabledAccountsBanner/WalletsDisabledAccountsBanner.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

style: sort keys
  packages/wallets/src/components/WalletsDisabledAccountsBanner/__tests__/WalletsDisabledAccountsBanner.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

test: :test_tube: writing test coverage for google drive and refactored + cleanup
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/__tests__/google-drive.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/__tests__/save-modal.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/delete-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/save-modal.tsx
  packages/bot-web-ui/src/stores/google-drive-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/save-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

test: update is_disabled value to true
  packages/wallets/src/components/WalletsDisabledAccountsBanner/__tests__/WalletsDisabledAccountsBanner.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: remove unnecessary class and add aria attribute
  packages/wallets/src/components/WalletsDisabledAccountsBanner/WalletsDisabledAccountsBanner.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: default language for numbers
  packages/api-v2/src/hooks/useInfiniteTransactions.ts
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useExtendedTransferAccountProperties.ts
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/__tests__/useTransferMessages.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/useTransferMessages.tsx
  packages/wallets/src/features/cashier/modules/Transfer/provider/TransferProvider.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

fix: making tin mandatory
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: resolve sonarcloud issue
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/__tests__/AddedMT5AccountsList.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: put max_payout back in type
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
Owners: @matin-deriv, @maryia-deriv

fix: wallet list card actions demo buttons
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListCardActions/__tests__/WalletListCardActions.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[BOT]maryia/BOT-1981/feat: Add a "What's new" section to the dashboar… (#16577)
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/pages/dashboard/__tests__/user-guide.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcement-dialog.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcement.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcements.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-components.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/config.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/index.ts
  packages/bot-web-ui/src/pages/dashboard/announcements/utils/accumulator-helper-functions.ts
  packages/bot-web-ui/src/pages/dashboard/dashboard.tsx
  packages/bot-web-ui/src/pages/dashboard/user-guide.tsx
  packages/bot-web-ui/src/pages/tutorials/constants.ts
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/core/src/public/images/common/static_images/introducing_accumulators_on_deriv_bot.png
  packages/p2p/package.json
  packages/reports/package.json
  packages/reports/src/Containers/__tests__/reports.spec.tsx
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv
