Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

fix: error validation message in getPasswordErrorMessage for MT5 and DerivX
  packages/wallets/src/constants/password.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: [UPM-1064]/evgeniy/AUD currency removal
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
  packages/shared/src/utils/date/__tests__/date-time.spec.ts
  packages/shared/src/utils/date/date-time.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: integrate wheel-picker component
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike-wheel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.scss
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

feat: move webpack plugins to default plugins
  packages/appstore/webpack.config.js
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

feat: enaple save function
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike-wheel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
Owners: @matin-deriv, @maryia-deriv

feat: remove lazy load of cfd reset password modal
  packages/appstore/src/components/modals/modal-manager.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

refactor: add custom regexp for take profit
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
Owners: @matin-deriv, @maryia-deriv

feat: announcement components
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/config.ts
  packages/bot-web-ui/src/pages/dashboard/announcements/index.ts
  packages/bot-web-ui/src/pages/dashboard/dashboard.tsx
Owners: @sandeep-deriv, @vinu-deriv

feat: add payout
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike-wheel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.scss
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
Owners: @matin-deriv, @maryia-deriv

chore: fixed test
  packages/cfd/src/Components/migration-success-modal/__tests__/migration-success-modal-content.spec.tsx
Owners: @hirad-deriv, @matin-deriv

refactor: removed memo
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike-wheel.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

feat: initial - add wheel picker for growth rate
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/Carousel/carousel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate-picker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate-selector.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.scss
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/index.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: styles + close action sheet upon saving growth rate
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.scss
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: announcement config, make accounce dialog reusable
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/config.ts
Owners: @sandeep-deriv, @vinu-deriv

feat: make redirect and show block accumulator
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
Owners: @sandeep-deriv, @vinu-deriv

feat: show indicator updated upon clicking on announcements
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
Owners: @sandeep-deriv, @vinu-deriv

[BOT] Sandeep/bot-2072/ssb-fix-already-subscribed (#16348)
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.tsx
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Owners: @sandeep-deriv, @vinu-deriv

chore: video added
  packages/trader/src/AppV2/Utils/contract-description-utils.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories-gif.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Helpers/video-config.ts
Owners: @matin-deriv, @maryia-deriv

fix: remove snackbar on scroll demo
  packages/trader/src/AppV2/Components/ActiveSymbolsList/active-symbols-list.tsx
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.tsx
Owners: @matin-deriv, @maryia-deriv

chore: update video height
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: added condition to submitPassword functions setProduct call
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

chore: added the new empty div for clever tap
  packages/appstore/src/modules/traders-hub/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: initial commit setup for accummlator stats
  packages/bot-web-ui/index.js
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/pages/chart/accumlators/accumlator-stats.tsx
  packages/bot-web-ui/src/pages/chart/accumlators/accumlator.ts
  packages/bot-web-ui/src/pages/chart/accumlators/index.ts
  packages/bot-web-ui/src/pages/chart/accumlators/utils.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: remove dismiss snackbar on scroll
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.tsx
Owners: @matin-deriv, @maryia-deriv

fix: code smell
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.tsx
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
Owners: @matin-deriv, @maryia-deriv

fix: convert span to button
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
Owners: @matin-deriv, @maryia-deriv

fix: localize function with template literals
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/IDVService.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/DocumentSubmission/DocumentSubmission.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: make phone number field disable when timer is running
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: Qa fix
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/__tests__/payout-selector.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/payout-selector.scss
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker-mobile.tsx
Owners: @matin-deriv, @maryia-deriv

fix: resolved comments
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

chore: added the new empty div for clever tap (#16372)
  packages/appstore/src/modules/traders-hub/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: removed unintentional code
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: local file loaded to null on file upload
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

feat: apply suggestions
  packages/trader/src/AppV2/Components/TradeTypeList/__tests__/trade-type-list-item.spec.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list-item.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Owners: @matin-deriv, @maryia-deriv

fix: for undefined set and id (#16360)
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/stores/app-store.ts
  packages/bot-web-ui/src/stores/toolbox-store.ts
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: error validation message in getPasswordErrorMessage for MT5 and DerivX (#16364)
  packages/wallets/src/constants/password.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: error validation message in getPasswordErrorMessage for MT5 and DerivX (#16364)
  packages/wallets/src/constants/password.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv
