Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

chore: fixed the issue of cTrader expansion panel
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

[WALL-3737] deriv-api removal (#15926)
  packages/api-v2/src/APIProvider.tsx
  packages/api-v2/src/AuthProvider.tsx
  packages/api-v2/src/hooks/useDocumentUpload.ts
  packages/api-v2/src/useAPI.ts
  packages/api-v2/src/useSubscription.ts
  packages/api-v2/src/ws-client/__tests__/request.spec.ts
  packages/api-v2/src/ws-client/__tests__/subscription.spec.ts
  packages/api-v2/src/ws-client/__tests__/subscriptions-manager.spec.ts
  packages/api-v2/src/ws-client/mock-websocket-factory.ts
  packages/api-v2/src/ws-client/request.ts
  packages/api-v2/src/ws-client/subscription.ts
  packages/api-v2/src/ws-client/subscriptions-manager.ts
  packages/api-v2/src/ws-client/ws-client.ts
  packages/wallets/component-tests/mocks/mockBalance.ts
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/__tests__/WithdrawalCryptoForm.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/provider/WithdrawalCryptoProvider.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/de.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: changed the width of jurisdiction cards
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: account disabled state
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-switcher-account-list-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-switcher-dtrader-v2.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/de.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: fixed security bug for github
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: fixed security bug for github2
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: improve animation + apply suggestion for prev_contract
  packages/core/src/Stores/contract-trade-store.js
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: cleaned code
  packages/stores/src/stores/FeatureFlagsStore.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: cleaned code2
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: cleaned code3
  packages/stores/src/stores/FeatureFlagsStore.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat(wallets): :sparkles: add UI elements for XRP integration (#43)
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/wallet/ic-wallet-xrp-dark.svg
  packages/components/src/components/icon/wallet/ic-wallet-xrp-light.svg
  packages/core/src/sass/app/_common/components/wallet.scss
  packages/hooks/src/useStoreWalletAccountsList.ts
  packages/wallets/src/components/WalletGradientBackground/WalletGradientBackground.scss
  packages/wallets/src/components/WalletsAddMoreCardContent/WalletsAddMoreCardContent.tsx
  packages/wallets/src/constants/icons.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: button style
  packages/core/src/sass/app/_common/components/real-signup-banner-dtrader-v2.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: add keys for trade params
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
Owners: @matin-deriv, @maryia-deriv

chore: remove button label
  packages/trader/src/AppV2/Components/Guide/guide.tsx
Owners: @matin-deriv, @maryia-deriv

fix: remove passkeylist call on desktop
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: use Dropdown from ui library for FormDropdown - Also removed WalletDropdown
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.scss
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.tsx
  packages/wallets/src/components/Base/WalletDropdown/index.ts
  packages/wallets/src/components/Base/index.ts
  packages/wallets/src/components/FormDropdown/FormDropdown.tsx
  packages/wallets/src/components/FormField/FormField.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/TaxInformation.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/hooks/useTaxInformation.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: add key for button
  packages/trader/src/AppV2/Components/Guide/guide.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: use FormDropdown in IDVService and added case for clients without docs
  packages/wallets/src/features/accounts/modules/DocumentService/DocumentService.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/IDVService.scss
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/IDVService.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/utils/idvServiceValidators.ts
  packages/wallets/src/features/accounts/modules/Poi/Poi.tsx
  packages/wallets/src/features/accounts/modules/components/Footer/Footer.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: add key for button
  packages/trader/src/AppV2/Components/Guide/guide.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: replaced Verification.tsx with ClientVerification.tsx
  packages/wallets/src/features/cfd/flows/ClientVerification/ClientVerification.tsx
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
  packages/wallets/src/features/cfd/flows/Verification/index.ts
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/features/cfd/screens/VerificationFailed/VerificationFailed.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: integrate v2 assets component
  packages/trader/src/AppV2/Components/ActiveSymbolsList/active-symbols-list.tsx
  packages/trader/src/AppV2/Components/CurrentSpot/__tests__/current-spot.spec.tsx
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.scss
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Containers/Chart/trade-chart.tsx
  packages/trader/src/AppV2/Containers/Trade/assets.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.scss
  packages/trader/src/Stores/Modules/Trading/__tests__/trade-store.spec.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

test: fix tests that failed after assets v2 integration
  packages/trader/src/AppV2/Components/ActiveSymbolsList/__tests__/active-symbols-list.spec.tsx
  packages/trader/src/AppV2/Components/MarketSelector/__tests__/market-selector.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
Owners: @matin-deriv, @maryia-deriv

chore: add id for text fields
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
Owners: @matin-deriv, @maryia-deriv

chore: add key for guide button
  packages/trader/src/AppV2/Components/Guide/guide.tsx
Owners: @matin-deriv, @maryia-deriv

chore: remove icon from guide button
  packages/trader/src/AppV2/Components/Guide/guide.tsx
Owners: @matin-deriv, @maryia-deriv

fix: test case
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: test case
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: test case
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: test case
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: test case
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: test case
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: test case
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: stop scrolling to center on symbol selection for all category
  packages/trader/src/AppV2/Components/MarketCategory/market-category.tsx
Owners: @matin-deriv, @maryia-deriv

Update index.js
  packages/bot-skeleton/src/scratch/blocks/index.js
Owners: @sandeep-deriv, @vinu-deriv

Update index.js
  packages/bot-skeleton/src/scratch/blocks/index.js
Owners: @sandeep-deriv, @vinu-deriv

chore: test remove line
  packages/bot-skeleton/src/scratch/blocks/index.js
Owners: @sandeep-deriv, @vinu-deriv

chore: test remove line
  packages/bot-skeleton/src/scratch/blocks/index.js
Owners: @sandeep-deriv, @vinu-deriv

chore: test remove line
  packages/bot-skeleton/src/scratch/blocks/index.js
Owners: @sandeep-deriv, @vinu-deriv
