Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

chore: fix verification link expired rerendering issue
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-verification-page.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/ui-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: clicks on resend link or send via whatsapp redirect user back to confirm phone number page
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: have to include color black in button so the underline will be black
  packages/account/src/Sections/Profile/PhoneVerification/didnt-get-the-code-modal.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: animation working
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-mobile-input.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point.scss
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.scss
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.tsx
Owners: @matin-deriv, @maryia-deriv

chore: fix test cases
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

refactor: apply suggestions
  packages/reports/src/Containers/open-positions.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

fix: product reset while modal closing
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

fix: removed extra className that i added to test and forgot to remove
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

fix: modal body css
  packages/cfd/src/sass/cfd.scss
Owners: @hirad-deriv, @matin-deriv

fix: tests
  packages/reports/src/Containers/__tests__/open-positions.spec.tsx
  packages/reports/src/Containers/open-positions.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

chore: update quill-ui version
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: added should_set_trading_password to className condition
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

Revert "Sergei / Fix Localize issue (#15430)"
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/compare-account/compare-account.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.tsx
  packages/appstore/src/components/get-started-trading-banner/get-started-trading-banner.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/main-title-bar/regulators-switcher.tsx
  packages/appstore/src/components/modals/failed-veriification-modal/failed-verification-modal.tsx
  packages/appstore/src/components/modals/open-positions-svg-modal/open-positions-svg-modal.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal-content.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/appstore/src/components/multi-action-button-group/multi-action-button-group.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/components/routes/routes.tsx
  packages/appstore/src/components/trade-button/trade-button.tsx
  packages/appstore/src/modules/Page404/Components/Page404.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/translations/src/components/localize.jsx
  packages/translations/src/i18next/i18next.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: test coverage
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
Owners: @matin-deriv, @maryia-deriv

Remove `@deriv/reports` from dependencies (#15993)
  packages/trader/build/webpack.config.js
  packages/trader/package.json
Owners: @matin-deriv, @maryia-deriv

fix: footer issue in POi alligned in Desktop view
  packages/core/src/sass/app/_common/components/account-common.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: check for initial render and refetch and add mocks to component tests
  .github/workflows/test.yml
  packages/cashier-v2/src/lib/PaymentAgent/PaymentAgentWithdrawal/provider/PaymentAgentWithdrawalProvider.tsx
  packages/cashier-v2/src/lib/PaymentAgentTransfer/hooks/usePaymentAgentTransfer.ts
  packages/cashier-v2/src/lib/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPercentageSelector/WithdrawalCryptoPercentageSelector.tsx
  packages/cashier-v2/src/lib/WithdrawalCrypto/utils/__tests__/withdrawalCryptoValidators.spec.ts
  packages/cashier-v2/src/lib/WithdrawalCrypto/utils/withdrawalCryptoValidators.ts
  packages/wallets/component-tests/crypto-payment-redirection.spec.tsx
  packages/wallets/component-tests/menu.spec.tsx
  packages/wallets/component-tests/mocks/mockAccountList.ts
  packages/wallets/component-tests/wallets-carousel-content.spec.tsx
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/hooks/__tests__/useAllBalanceSubscription.spec.ts
  packages/wallets/src/hooks/useAllBalanceSubscription.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: add usd as the fallback cyrrency
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: update package-lock
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: cfd password modal test
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
Owners: @hirad-deriv, @matin-deriv

style: fix typo
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/src/hooks/__tests__/useAllBalanceSubscription.spec.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: move settimeout to useeffect
  packages/account/src/Components/network-status-toast-popup/network-status-toast-popup.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: update to include type number in InputGroupButton
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: populate TransferInputForm when clicking Max Button
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAmountInput/TransferFormAmountInput.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

test: add test case for statement store
  packages/reports/src/Stores/Modules/Statement/__tests__/statement-store.spec.js
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

chore: update useVerifyEmail hooks to fix button disabled issue
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
  packages/account/src/Sections/Profile/PhoneVerification/resend-code-timer.tsx
  packages/account/src/Sections/Profile/PhoneVerification/verification-link-expired-modal.tsx
  packages/hooks/src/useVerifyEmail.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: update standard icon
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-standard.svg
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-title-icon.tsx
Owners: @hirad-deriv, @matin-deriv

chore: should run timer also if error is returned from BE
  packages/account/src/Sections/Profile/PhoneVerification/resend-code-timer.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: removed ismobile from stores
  packages/p2p/src/hooks/__tests__/use-p2p-rendered-adverts.spec.tsx
  packages/p2p/src/hooks/use-p2p-advertiser-adverts.ts
  packages/p2p/src/hooks/use-p2p-rendered-adverts.ts
  packages/p2p/src/pages/advertiser-page/advertiser-page.jsx
  packages/p2p/src/pages/app.jsx
  packages/p2p/src/pages/my-profile/block-user/block-user.tsx
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/utils/__tests__/block-user.spec.ts
  packages/p2p/src/utils/block-user.ts
Owners: @farrah-deriv, @nijil-deriv

fix: update standard icon in appstore branding
  packages/appstore/src/assets/svgs/trading-platform/branding/ic-branding-standard-dashboard.svg
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: fixed import in statement-store
  packages/reports/src/Stores/Modules/Statement/__tests__/statement-store.spec.js
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

Revert "Sergei / Fix Localize issue (#15430)" (#16025)
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/compare-account/compare-account.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.tsx
  packages/appstore/src/components/get-started-trading-banner/get-started-trading-banner.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/main-title-bar/regulators-switcher.tsx
  packages/appstore/src/components/modals/failed-veriification-modal/failed-verification-modal.tsx
  packages/appstore/src/components/modals/open-positions-svg-modal/open-positions-svg-modal.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal-content.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/appstore/src/components/multi-action-button-group/multi-action-button-group.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/components/routes/routes.tsx
  packages/appstore/src/components/trade-button/trade-button.tsx
  packages/appstore/src/modules/Page404/Components/Page404.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/translations/src/components/localize.jsx
  packages/translations/src/i18next/i18next.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

refactor(cashier): :recycle: extract crypto_config reuqest from useCurrencyConfig hook
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-disclaimers/deposit-crypto-disclaimers.tsx
  packages/hooks/src/__tests__/useCryptoConfig.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useCryptoConfig.ts
  packages/hooks/src/useCurrencyConfig.ts
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @ali-hosseini-deriv, @matin-deriv

feat: add Localize for button text and use 2 Localize instead of ternary in default text
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/crypto-transaction-processing-modal.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal-content.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: footer issue in POi alligned in Desktop view (#16026)
  packages/core/src/sass/app/_common/components/account-common.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Revert "Sergei / Fix Localize issue (#15430)" (#16025)
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/compare-account/compare-account.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.tsx
  packages/appstore/src/components/get-started-trading-banner/get-started-trading-banner.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/main-title-bar/regulators-switcher.tsx
  packages/appstore/src/components/modals/failed-veriification-modal/failed-verification-modal.tsx
  packages/appstore/src/components/modals/open-positions-svg-modal/open-positions-svg-modal.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal-content.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/appstore/src/components/multi-action-button-group/multi-action-button-group.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/components/routes/routes.tsx
  packages/appstore/src/components/trade-button/trade-button.tsx
  packages/appstore/src/modules/Page404/Components/Page404.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/translations/src/components/localize.jsx
  packages/translations/src/i18next/i18next.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: footer issue in POi alligned in Desktop view (#16026)
  packages/core/src/sass/app/_common/components/account-common.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: init branch
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @matin-deriv, @maryia-deriv

feat: added logic for ClientVerification
  packages/wallets/src/features/cfd/flows/ClientVerification/ClientVerification.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv
