Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

feat: Placeholder value changes from 0.00 to 0 after user edits the field (#15921)
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/inputs/qs-input.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: Cannot read properties of undefined (reading 'shouldRestartOnError') (#15922)
  packages/bot-web-ui/src/stores/run-panel-store.ts
Owners: @sandeep-deriv, @vinu-deriv

[BOT]maryia/BOT-1496/test: folder bot-web-ui/src/pages/tutorials and no-search-result-foun… (#15972)
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/__tests__/symbol.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbox/search-box/__tests__/search-icon.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/__tests__/tutorial-tab-mobile.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/__tests__/tutorial-tab.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/common/no-search-result-found/__tests__/no-search-result.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/common/no-search-result-found/no-search-result.tsx
  packages/bot-web-ui/src/pages/tutorials/tutorials-tab-desktop.tsx
  packages/bot-web-ui/src/pages/tutorials/tutorials-tab-mobile.tsx
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/uz.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/uz.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: exit condition moved to separate variable
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

refactor: removed unussed logic
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

Update useIsP2PEnabled.ts
  packages/hooks/src/useIsP2PEnabled.ts
Owners: @ali-hosseini-deriv, @matin-deriv

fix: remove package lock
  packages/p2p/package-lock.json
Owners: @farrah-deriv, @nijil-deriv

fix: wallet banner illustration ui issues
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
  packages/cashier/package.json
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @farrah-deriv, @wojciech-deriv

fix: implemnented useLocation()
  packages/account/src/Components/leave-confirm/leave-confirm.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

habib/fix-cookie-sharing-for-deriv.be (#16071)
  packages/core/src/Stores/client-store.js
  packages/hooks/src/useIsP2PEnabled.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/uz.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: coveralls, moved desktop to desktop-screen
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/p2p/src/components/composite-calendar/composite-calendar.scss
  packages/p2p/src/components/floating-rate/floating-rate.scss
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.scss
  packages/p2p/src/components/modal-manager/modals/copy-advert-modal/copy-advert-modal.scss
  packages/p2p/src/components/modal-manager/modals/preferred-countries-modal/preferred-countries-modal.scss
  packages/p2p/src/pages/buy-sell/buy-sell-form.scss
  packages/p2p/src/pages/buy-sell/buy-sell-header.scss
  packages/p2p/src/pages/buy-sell/currency-dropdown.scss
  packages/p2p/src/pages/buy-sell/currency-selector/currency-selector.scss
  packages/p2p/src/pages/buy-sell/no-ads/no-ads.scss
  packages/p2p/src/pages/my-ads/ad-form-controller/ad-form-controller.scss
  packages/p2p/src/pages/my-ads/ad-wizard/ad-wizard.scss
  packages/p2p/src/pages/my-ads/copy-advert-form/copy-advert-form.scss
  packages/p2p/src/pages/my-ads/my-ads-table.scss
  packages/p2p/src/pages/my-ads/my-ads.scss
  packages/p2p/src/pages/my-ads/preferred-countries-selector/preferred-countries-selector.scss
  packages/p2p/src/pages/my-profile/block-user/block-user-table/block-user-table.scss
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-stats-table/my-profile-stats-table.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

chore: remove unused import
  packages/account/src/Containers/toast-popup.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: removed debug
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: cashier build issue
  packages/cashier/build/constants.js
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: review comments
  packages/bot-skeleton/src/scratch/backward-compatibility.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Variable/variables_get.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tick Analysis/tick_analysis.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_multiplier.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartbuysell.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartonerror.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot-skeleton/src/scratch/blocks/Logic/controls_if.js
  packages/bot-skeleton/src/scratch/index.scss
  packages/bot-skeleton/src/scratch/utils/index.js
Owners: @sandeep-deriv, @vinu-deriv

Maryia/bot 1644 (#16076)
  packages/bot-web-ui/src/components/contract-card-loading/__tests__/contract-card-loading.spec.tsx
  packages/bot-web-ui/src/components/contract-card-loading/__tests__/contract-card-running-bot.spec.tsx
  packages/bot-web-ui/src/components/contract-card-loading/contract-card-loading.tsx
  packages/bot-web-ui/src/components/contract-card-loading/contract-card-running-bot.tsx
  packages/bot-web-ui/src/components/summary/__tests__/summary-card.spec.tsx
  packages/bot-web-ui/src/components/summary/summary-card.scss
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/components/summary/summary-card.types.ts
  packages/bot-web-ui/src/components/summary/summary.scss
  packages/bot-web-ui/src/components/summary/summary.tsx
  packages/bot-web-ui/src/components/trade-animation/__tests__/contract-stage-text.spec.tsx
  packages/bot-web-ui/src/components/trade-animation/contract-stage-text.tsx
  packages/bot-web-ui/src/constants/contract-stage.ts
  packages/bot-web-ui/src/pages/main/main.scss
  packages/bot-web-ui/src/stores/summary-card-store.ts
  packages/components/src/components/icon/common/ic-circle-loader.svg
  packages/components/src/components/icon/icons.js
Owners: @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/km.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: review comments
  packages/bot-skeleton/src/scratch/hooks/field.js
Owners: @sandeep-deriv, @vinu-deriv

refactor: ManualService setup + PassportUpload setup
  packages/wallets/src/features/accounts/modules/ManualService/ManualService.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentRules/DocumentRules.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentRules/DocumentRules.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentRules/components/DocumentRuleTile/DocumentRuleTile.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentRules/components/DocumentRuleTile/DocumentRuleTile.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentRules/components/DocumentRuleTile/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentRules/components/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentRules/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentSelection/DocumentSelection.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentSelection/DocumentSelection.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentSelection/components/DocumentSelectionCard/DocumentSelectionCard.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentSelection/components/DocumentSelectionCard/DocumentSelectionCard.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentSelection/components/DocumentSelectionCard/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentSelection/components/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentSelection/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/PassportUpload.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/PassportUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/UploadErrorMessage/UploadErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/utils/constants.tsx
  packages/wallets/src/features/accounts/modules/Poi/Poi.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: check modal manager
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

[FEQ-2471] bundle size fix (#16060)
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/km.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: check modal manager
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: revert cashier changes, fix unavailable button
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/p2p/src/components/order-details/order-details.scss
  packages/p2p/src/pages/advertiser-page/advertiser-page.scss
  packages/p2p/src/pages/buy-sell/buy-sell-row-action.tsx
  packages/p2p/src/pages/buy-sell/buy-sell-row.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: import
  packages/appstore/src/components/modals/modal-manager.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: localize issue in wallet banner upgrade component
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: make order payment period default value
  packages/p2p/src/pages/my-ads/create-ad-form.jsx
Owners: @farrah-deriv, @nijil-deriv

fix: null check
  packages/p2p/src/pages/my-ads/create-ad-form.jsx
Owners: @farrah-deriv, @nijil-deriv

refactor: SelfieUpload setup + usePassportUpload hook
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/PassportUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/hooks/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/hooks/usePassportUpload.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/types/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/types/types.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/SelfieUpload/SelfieUpload.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/SelfieUpload/SelfieUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/SelfieUpload/hooks/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/SelfieUpload/hooks/useSelfieUpload.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/SelfieUpload/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/SelfieUpload/types/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/SelfieUpload/types/types.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/index.ts
  packages/wallets/src/features/accounts/modules/Poi/Poi.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: replace Loader with deriv-com/ui
  packages/wallets/src/features/accounts/modules/Poa/Poa.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/TaxInformation.tsx
  packages/wallets/src/features/cfd/flows/ClientVerification/ClientVerification.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[CFDS]/Hasan/CFDS-4115/Removed Deriv MT5 login popup (#16065)
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/mt5-notification/index.ts
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification-description.tsx
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.scss
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.tsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: remove all is_mobile and is_desktop store ref in cashier
  packages/cashier/src/components/crypto-fiat-converter/crypto-fiat-converter.tsx
  packages/cashier/src/components/side-notes/side-note-faq/__tests__/side-note-faq.spec.tsx
  packages/cashier/src/components/side-notes/side-note-faq/side-note-faq.tsx
  packages/cashier/src/components/transactions-crypto-history/__tests__/transactions-crypto-renderer.spec.tsx
  packages/cashier/src/components/transactions-crypto-history/transactions-crypto-renderer.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/cashier-onboarding-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-side-notes/__test__/cashier-onboarding-side-notes.test.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-currency-details/deposit-crypto-currency-details.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-disclaimers/deposit-crypto-disclaimers.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-wallet-address/deposit-crypto-wallet-address.tsx
  packages/cashier/src/modules/deposit-crypto/deposit-crypto.tsx
  packages/cashier/src/modules/transactions-crypto/components/transactions-crypto-transaction-status-side-note/transactions-crypto-transaction-status-side-note.tsx
  packages/cashier/src/pages/on-ramp/on-ramp-provider-card/__tests__/on-ramp-provider-card.spec.tsx
  packages/cashier/src/pages/on-ramp/on-ramp-provider-card/on-ramp-provider-card.tsx
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-form/__tests__/payment-agent-transfer-form.spec.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-container/__tests__/payment-agent-container.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/__tests__/withdrawal-crypto-form.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/withdrawal-crypto-form.tsx
  packages/cashier/src/stores/__tests__/iframe-store.spec.ts
  packages/cashier/src/stores/__tests__/withdraw-store.spec.ts
  packages/cashier/src/stores/iframe-store.ts
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: wallet banner ui issues
  packages/appstore/src/components/banners/wallets-banner/__tests__/wallets-banner.spec.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

feat: import new package for lottie and add video for acc
  package-lock.json
  packages/core/package.json
  packages/core/src/public/videos/accumulators_mobile.lottie
  packages/trader/package.json
  packages/trader/src/AppV2/Components/Guide/Description/lottie/accumulators_lottie_mobile.json
  packages/trader/src/AppV2/Components/Guide/Description/video-fragment.tsx
  packages/trader/src/AppV2/Components/Guide/guide.scss
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv

feat: add lottie video for majority of the contracts
  packages/core/src/public/videos/differs_mobile.lottie
  packages/core/src/public/videos/higher_mobile.lottie
  packages/core/src/public/videos/lower_mobile.lottie
  packages/core/src/public/videos/matches_mobile.lottie
  packages/core/src/public/videos/multipliers_down_mobile.lottie
  packages/core/src/public/videos/multipliers_up_mobile.lottie
  packages/core/src/public/videos/no_touch_mobile.lottie
  packages/core/src/public/videos/over_mobile.lottie
  packages/core/src/public/videos/touch_mobile.lottie
  packages/core/src/public/videos/turbos_down_mobile.lottie
  packages/core/src/public/videos/turbos_up_mobile.lottie
  packages/core/src/public/videos/under_mobile.lottie
  packages/core/src/public/videos/vanillas_call_mobile.lottie
  packages/core/src/public/videos/vanillas_put_mobile.lottie
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

DTRA-1455 / Kate / Create state management for purchase button (#148)
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button-content.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.scss
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
Owners: @matin-deriv, @maryia-deriv
