Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: :fire: typo fix
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: fix notification tray not closing issue
  packages/core/src/App/Containers/NotificationsDialog/notifications-list.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: :fire: typo fix (#16312)
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: barrier completed
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: add checks for phone number
  packages/core/src/Stores/notification-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: added more tests
  packages/cfd/src/Components/Errors/__tests__/error-component.spec.tsx
Owners: @hirad-deriv, @matin-deriv

refactor: show purchase notification only on trading page and add tests for notification
  packages/trader/src/AppV2/Containers/Notifications/__tests__/notifications.spec.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

chore: add inputMode types to otp input fields
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: update the purchase processing
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button-content.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/process.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/process.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

chore: update condition for phone number verification notification
  packages/core/src/Stores/notification-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: add landscape view blocker for mobile
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: added test case if mock data not provided
  packages/cfd/src/Components/Errors/__tests__/error-component.spec.tsx
Owners: @hirad-deriv, @matin-deriv

fix: updated review comments
  packages/bot-skeleton/src/scratch/hooks/variable.js
Owners: @sandeep-deriv, @vinu-deriv

[DTRA] Henry/dtra 1443/market closed message v2 (#16196)
  packages/trader/src/AppV2/Components/ActiveSymbolsList/active-symbols-list.scss
  packages/trader/src/AppV2/Components/ClosedMarketMessage/closed-market-message.scss
  packages/trader/src/AppV2/Components/ClosedMarketMessage/closed-market-message.tsx
  packages/trader/src/AppV2/Components/ClosedMarketMessage/index.ts
  packages/trader/src/AppV2/Components/MarketCategory/market-category.tsx
  packages/trader/src/AppV2/Components/MarketCountdownTimer/__tests__/market-countdown-timer.spec.tsx
  packages/trader/src/AppV2/Components/MarketCountdownTimer/index.ts
  packages/trader/src/AppV2/Components/MarketCountdownTimer/market-countdown-timer.scss
  packages/trader/src/AppV2/Components/MarketCountdownTimer/market-countdown-timer.tsx
  packages/trader/src/AppV2/Components/MarketOpeningTimeBanner/__tests__/market-opening-time-banner.spec.tsx
  packages/trader/src/AppV2/Components/MarketOpeningTimeBanner/index.ts
  packages/trader/src/AppV2/Components/MarketOpeningTimeBanner/market-opening-time-banner.scss
  packages/trader/src/AppV2/Components/MarketOpeningTimeBanner/market-opening-time-banner.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Utils/__tests__/closed-market-message-utils.spec.ts
  packages/trader/src/AppV2/Utils/closed-market-message-utils.ts
Owners: @matin-deriv, @maryia-deriv

fix: added platform label function
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: review comments
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/appstore/src/components/app-content.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/compare-account/compare-account.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-card.tsx
  packages/appstore/src/components/main-title-bar/account-type-dropdown.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/hooks/use-tradershub-tracking.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

feat: make changes for tablet view
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/IDVService.scss
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/components/IDVServiceErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/Onfido/Onfido.scss
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/VerifyPersonalDetails.scss
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/components/VerifyPersonalDetailsErrorMessage/VerifyPersonalDetailsErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentRules/DocumentRules.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentRules/components/DocumentRuleTile/DocumentRuleTile.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentSelection/DocumentSelection.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentSelection/components/DocumentSelectionCard/DocumentSelectionCard.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DrivingLicenseUpload/DrivingLicenseUpload.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/IdentityCardUpload/IdentityCardUpload.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/ManualUploadErrorMessage/ManualUploadErrorMessage.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/NIMCSlipUpload/NIMCSlipUpload.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/PassportUpload.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/SelfieUpload/SelfieUpload.scss
  packages/wallets/src/features/accounts/modules/Poa/Poa.scss
  packages/wallets/src/features/accounts/modules/Poa/components/AddressSection/AddressSection.scss
  packages/wallets/src/features/accounts/modules/Poa/components/CommonMistakesExamples/CommonMistakesExamples.scss
  packages/wallets/src/features/accounts/modules/Poa/components/DocumentSubmission/DocumentSubmission.scss
  packages/wallets/src/features/accounts/modules/Poa/components/DocumentSubmission/DocumentSubmission.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/PoaUploadErrorMessage/PoaUploadErrorMessage.scss
  packages/wallets/src/features/accounts/modules/TaxInformation/TaxInformation.scss
  packages/wallets/src/features/accounts/modules/components/Footer/Footer.scss
  packages/wallets/src/features/accounts/modules/components/Footer/Footer.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.scss
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: fixec
  packages/cfd/src/Components/__tests__/cfd-account-card.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-description.spec.tsx
Owners: @hirad-deriv, @matin-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: show sell notifications on any page and solve the problem with double notifications
  packages/core/src/Stores/portfolio-store.js
  packages/trader/src/AppV2/Containers/Notifications/notifications.scss
  packages/trader/src/AppV2/Containers/Notifications/notifications.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: build failure retriggering
  packages/appstore/src/components/compare-account/compare-account.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: added test cases for ErrorModal
  packages/cfd/src/Components/Errors/__tests__/error-component.spec.tsx
Owners: @hirad-deriv, @matin-deriv

Revert "fix: added platform label function"
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: build failure
  packages/trader/src/AppV2/Components/ClosedMarketMessage/closed-market-message.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: test
  packages/trader/src/AppV2/Containers/Notifications/__tests__/notifications.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: replaced window blockly with Blockly
  packages/bot-web-ui/src/stores/app-store.ts
  packages/bot-web-ui/src/stores/save-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: UI issues
  packages/cashier/src/components/cashier-locked/cashier-locked.scss
  packages/cashier/src/components/page-container/page-container.scss
  packages/cashier/src/components/page-container/page-container.tsx
  packages/cashier/src/containers/cashier/cashier.scss
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.scss
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
  packages/cashier/src/pages/account-transfer/account-transfer.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.scss
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-form/payment-agent-transfer-form.tsx
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.scss
  packages/cashier/src/pages/payment-agent/payment-agent.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/withdrawal-crypto-form.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/withdrawal-crypto-receipt.scss
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/withdrawal-crypto-receipt.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/components/src/components/page-overlay/page-overlay.scss
  packages/p2p/src/components/cashier-under-maintenance/cashier-under-maintenance.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: convert loading component into TS
  packages/cfd/src/templates/app/components/loading.tsx
Owners: @hirad-deriv, @matin-deriv

fix: build failure (#16321)
  packages/trader/src/AppV2/Components/ClosedMarketMessage/closed-market-message.tsx
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/de.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/de.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: replace useGrowthbookIsOn with useGrowthbookGetFeatureValue
  packages/core/src/App/AppContent.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: change px to rem
  packages/cashier/src/pages/on-ramp/on-ramp.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

chore: remove unnecessary styles
  packages/cashier/src/pages/on-ramp/on-ramp.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: added test cases
  packages/cfd/src/templates/app/components/__tests__/loading.spec.tsx
  packages/cfd/src/templates/app/components/loading.tsx
Owners: @hirad-deriv, @matin-deriv

fix: added presentation role to spinner divs to avoid querySelectorAll in test
  packages/cfd/src/templates/app/components/__tests__/loading.spec.tsx
  packages/cfd/src/templates/app/components/loading.tsx
Owners: @hirad-deriv, @matin-deriv

feat: added localization Footer and Manual flows
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentSelection/DocumentSelection.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DrivingLicenseUpload/DrivingLicenseUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DrivingLicenseUpload/utils/drivingLicenseUploadValidator.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/IdentityCardUpload/IdentityCardUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/IdentityCardUpload/utils/identityCardUploadValidator.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/ManualUploadErrorMessage/ManualUploadErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/NIMCSlipUpload/NIMCSlipUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/NIMCSlipUpload/utils/nimcSlipUploadValidator.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/PassportUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/utils/passportUploadValidators.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/SelfieUpload/SelfieUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/utils/manualServiceValidators.ts
  packages/wallets/src/features/accounts/modules/ManualService/utils/utils.tsx
  packages/wallets/src/features/accounts/modules/components/Footer/Footer.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
