Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

chore: create analytics package hooks for PNV analytics
  packages/account/src/Sections/Profile/PhoneVerification/cancel-phone-verification-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-number-verified-modal.tsx
  packages/hooks/src/__tests__/usePhoneVerificationAnalytics.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/usePhoneVerificationAnalytics.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: fix verify-button test case fail
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/verify-button.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: update track js to be on click yes, cancel in cancel pnv modal
  packages/account/src/Sections/Profile/PhoneVerification/cancel-phone-verification-modal.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: update store to fix verified done button trigger cancel modal
  packages/account/src/Sections/Profile/PhoneVerification/cancel-phone-verification-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/core/src/Stores/ui-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: animation issue when switching to another path
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Routes/router.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

chore: fix build fails issue
  package.json
  package.json.lerna_backup
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv

chore: fix typo variables
  package.json
  package.json.lerna_backup
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
  packages/account/src/Sections/Profile/PhoneVerification/resend-code-timer.tsx
  packages/hooks/src/__tests__/usePhoneNumberVerificationSetTimer.spec.tsx
  packages/hooks/src/usePhoneNumberVerificationSetTimer.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

feat: added safari condition
  packages/core/src/App/Components/Layout/Header/signup-button.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update test cases for faq-content file
  packages/bot-web-ui/src/pages/tutorials/faq-content/__tests__/faq-content.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

refactor: logic refactoring
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Owners: @matin-deriv, @maryia-deriv

chore: remove fiat from transfer messages
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/utils/__tests__/lifetimeAccountLimitsBetweenWalletsMessageFn.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/utils/lifetimeAccountLimitsBetweenWalletsMessageFn.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: updated wallet badge snapshot test
  packages/wallets/src/components/WalletBadge/__test__/__snapshots__/WalletBadge.spec.tsx.snap
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: applied comments
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsIconWithLabel.tsx
  packages/wallets/src/public/images/tradingInstruments.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: add useContractsForCompanyHook
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useContractsForCompany.spec.tsx
  packages/trader/src/AppV2/Hooks/useContractsForCompany.ts
Owners: @matin-deriv, @maryia-deriv

chore: rename is_forced_to_redirect to is_forced_to_exit_pnv
  packages/account/src/Sections/Profile/PhoneVerification/cancel-phone-verification-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/core/src/Stores/ui-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

feat: format files
  packages/core/src/_common/base/socket_base.js
  packages/trader/src/AppV2/Components/TradeTypeList/__tests__/trade-type-list.spec.jsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: resolve comments
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.scss
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: applied comments
  packages/wallets/src/components/WalletListCardBalance/WalletListCardBalance.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsPlatformLabel.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsIconWithLabel.tsx
  packages/wallets/src/public/images/tradingInstruments.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: stake styles
  packages/trader/src/AppV2/Components/TradeParameters/Stake/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.scss
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Owners: @matin-deriv, @maryia-deriv

Revert "fix: removed trading platform icon"
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-cfds.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-ctrader.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-deriv-x.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-derived.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-financial.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-standard.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-swap-free.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-zero-spread.svg
  packages/cfd/src/Assets/svgs/trading-platform/index.tsx
  packages/cfd/src/Containers/__tests__/dmt5-trade-modal.spec.tsx
Owners: @hirad-deriv, @matin-deriv

Revert "fix: updated derivx and dmt5 trade modal icon"
  packages/cfd/src/Containers/ctrader-derivx-trade-modal.tsx
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
Owners: @hirad-deriv, @matin-deriv

Revert "feat: replaced password modal's icons"
  packages/cfd/package.json
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

[WALL] Lubega / WALL-4750 /Compare accounts components unit tests (#16534)
  packages/wallets/src/components/WalletListCardBalance/WalletListCardBalance.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsHeader.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsPlatformLabel.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsTitleIcon.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsIconWithLabel.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/CompareAccountsCard.spec.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/CompareAccountsDescription.spec.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/CompareAccountsHeader.spec.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/CompareAccountsPlatformLabel.spec.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/CompareAccountsScreen.spec.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/CompareAccountsTitleIcon.spec.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/InstrumentsIconWithLabel.spec.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/InstrumentsLabelHighlighted.spec.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/compareAccountsConfig.spec.ts
  packages/wallets/src/features/cfd/screens/CompareAccounts/constants.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[WALL]Jim/WALL-2867/add test cases for deriv apps section folder (#16521)
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/DerivAppsSection/__tests__/DerivAppsGetAccount.spec.tsx
  packages/wallets/src/components/DerivAppsSection/__tests__/DerivAppsSection.spec.tsx
  packages/wallets/src/components/DerivAppsSection/__tests__/DerivAppsSuccessFooter.spec.tsx
  packages/wallets/src/components/DerivAppsSection/__tests__/DerivAppsTradingAccount.tsx.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[WALL] Jim/WALL-2869/add test cases for desktop wallets list component (#16528)
  packages/wallets/src/components/DesktopWalletsList/DesktopWalletsList.tsx
  packages/wallets/src/components/DesktopWalletsList/__tests__/DesktopWalletsList.spec.tsx
  packages/wallets/src/components/SkeletonLoader/WalletsCardLoader/WalletsCardLoader.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: add quill icons to pacakge
  packages/cfd/package.json
Owners: @hirad-deriv, @matin-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/de.json
  packages/translations/src/translations/pt.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update variable naming and typo
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
  packages/account/src/Sections/Profile/PhoneVerification/cancel-phone-verification-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/resend-code-timer.tsx
  packages/core/src/Stores/ui-store.js
  packages/hooks/src/__tests__/usePhoneNumberVerificationSetTimer.spec.tsx
  packages/hooks/src/usePhoneNumberVerificationSetTimer.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: wallets code review (translations and components from deriv-com/ui)
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/__tests__/TransferFormAccountCard.spec.tsx
  packages/wallets/src/features/cfd/components/PlatformStatusBadge/PlatformStatusBadge.tsx
  packages/wallets/src/features/cfd/screens/TradingPlatformStatus/TradingPlatformStatus.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: revert changes for messages
  packages/translations/crowdin/messages.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: styling & coloring
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.scss
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Owners: @matin-deriv, @maryia-deriv

fix: temporary fix to rectify page not loading when values arent cached
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
Owners: @matin-deriv, @maryia-deriv

chore: upgrade @deriv-com/analytics to version 1.12.0
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

chore: update analytics package
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

chore: update analytics package in package-lock
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: fix PR failing issue
  package-lock.json
  packages/cashier/package.json
  packages/p2p/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @farrah-deriv, @nijil-deriv

fix: added trading platform icon component and updated cfd password modal's traders hub icons
  packages/cfd/src/Components/trading-platform-icon/__tests__/trading-platform-icon.spec.tsx
  packages/cfd/src/Components/trading-platform-icon/index.ts
  packages/cfd/src/Components/trading-platform-icon/trading-platform-icon.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

feat: updated cfd password modal's non traders hub icons
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

feat: updated trade modal's icons
  packages/cfd/src/Components/trading-platform-icon/trading-platform-icon.tsx
  packages/cfd/src/Containers/ctrader-derivx-trade-modal.tsx
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
Owners: @hirad-deriv, @matin-deriv

feat: updated trade modal test case
  packages/cfd/src/Containers/__tests__/dmt5-trade-modal.spec.tsx
Owners: @hirad-deriv, @matin-deriv
