Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

refactor: decomposite take profit trade param
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-description.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
Owners: @matin-deriv, @maryia-deriv

fix: added condition to component title and divider
  packages/appstore/src/components/cfds-listing/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

Revert "fix: added condition to component title and divider"
  packages/appstore/src/components/cfds-listing/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: DuplicateDocument error
  packages/api-v2/src/hooks/useDocumentUpload.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

refactor: impl new useDocumentUpload in IdentityUpload
  packages/wallets/src/features/accounts/modules/ManualService/components/IdentityCardUpload/IdentityCardUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/IdentityCardUpload/hooks/useIdentityCardUpload.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/hooks/usePassportUpload.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: added condition to component title and divider
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/core/src/Stores/traders-hub-store.js
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: remove localize loader
  packages/wallets/localize-loader.js
  packages/wallets/src/utils/generate-keys.ts
  packages/wallets/webpack.config.js
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: impl of useDocumentUpload for DrivingLicenseUpload
  packages/wallets/src/features/accounts/modules/ManualService/components/DrivingLicenseUpload/DrivingLicenseUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DrivingLicenseUpload/hooks/useDrivingLicenseUpload.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: impl new useDocumentUpload for NIMCSlipUpload
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/IDVService.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/NIMCSlipUpload/NIMCSlipUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/NIMCSlipUpload/hooks/useNIMCSlipUpload.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: use growthbbook feature flag
  packages/p2p/src/pages/app.jsx
Owners: @farrah-deriv, @nijil-deriv

fix: added condition to component title and divider for logedout user
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

feat: added the tracking growthbook feature flag for tradershub dashboard
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/appstore/src/components/app-content.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/compare-account/compare-account.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-card.tsx
  packages/appstore/src/components/main-title-bar/account-type-dropdown.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/hooks/use-tradershub-tracking.ts
  packages/core/src/Stores/client-store.js
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: remove localize loader (#16268)
  packages/wallets/localize-loader.js
  packages/wallets/src/utils/generate-keys.ts
  packages/wallets/webpack.config.js
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: fix modal for Jurisdiction Modal
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.scss
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

Rupato/BOT-1935/Handle-invalid-access-token (#16190)
  packages/bot-web-ui/src/components/bot-notification/bot-notification-utils.ts
  packages/bot-web-ui/src/stores/google-drive-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

[BOT] maryia/BOT-1479/[Test Coverage] Folder: bot-web-ui/src/components/self-exclusion (#16234)
  packages/bot-web-ui/src/components/self-exclusion/__tests__/self-exclusion.spec.tsx
  packages/bot-web-ui/src/components/self-exclusion/self-exclusion.jsx
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: extracted input for focus into a separate component
  packages/trader/src/AppV2/Components/FocusedInput/__tests__/focused-input.spec.tsx
  packages/trader/src/AppV2/Components/FocusedInput/focused-input.scss
  packages/trader/src/AppV2/Components/FocusedInput/focused-input.tsx
  packages/trader/src/AppV2/Components/FocusedInput/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

fix: add else case
  packages/core/src/App/Containers/Redirect/redirect.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: reset balance tracking
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: search for FormDropdown
  packages/wallets/src/components/FormDropdown/FormDropdown.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: for custom variable strategy
  packages/bot-skeleton/src/scratch/hooks/index.js
Owners: @sandeep-deriv, @vinu-deriv

fix: add seperate variable hooks
  packages/bot-skeleton/src/scratch/hooks/index.js
  packages/bot-skeleton/src/scratch/hooks/variable.js
Owners: @sandeep-deriv, @vinu-deriv

refactor: impl new useDocumentUpload for Poa
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/components/IDVServiceErrorMessage.scss
  packages/wallets/src/features/accounts/modules/Poa/Poa.tsx
  packages/wallets/src/features/accounts/modules/Poa/hooks/usePoa.ts
  packages/wallets/src/features/accounts/modules/TaxInformation/TaxInformation.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: pr review comments
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-edit/business-hour-modal-edit.tsx
  packages/p2p/src/components/temporarily-barred-hint/temporarily-barred-hint.tsx
Owners: @farrah-deriv, @nijil-deriv

chore: name validation and stop bot issue
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/add-bot.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/config.ts
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/qs-text-input.scss
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/qs-text-input.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/types.ts
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.tsx
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Owners: @sandeep-deriv, @vinu-deriv

chore: remove forward ref
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
Owners: @matin-deriv, @maryia-deriv

chore: epty commit to test2
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/cfd/build/webpack.config.js
  packages/cfd/src/Components/cfd-personal-details-form.tsx
  packages/cfd/src/Components/cfd-poa.tsx
  packages/cfd/src/Components/cfd-poi.tsx
  packages/cfd/src/Containers/cfd-dbvi-onboarding.tsx
  packages/cfd/src/Containers/cfd-financial-stp-real-account-signup.tsx
  packages/cfd/src/Containers/cfd-password-modal-tnc.tsx
  packages/cfd/src/Containers/cfd-personal-details-container.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card-back.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card-front.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card-section.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-clickable-description.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-checkbox.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-content.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-foot-note.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-title.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-title-indicator.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-back.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-front.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-section.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-clickable-description.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-checkbox.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-foot-note.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-title.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-title-indicator.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionScreen.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: [UPM-613]/evgeniy/add passkey notification in tray / remove effortless modal (#15757)
  packages/account/src/Sections/Security/Passkeys/components/passkey-card.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/__test__/effortless-login-modal.spec.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-description.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-modal.scss
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-modal.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-tips.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/index.ts
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.tsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-list.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/hooks/src/useGetPasskeysList.ts
  packages/hooks/src/useRegisterPasskey.ts
  packages/hooks/src/useRenamePasskey.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: client-store method
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: refactor fake input
  packages/trader/src/AppV2/Components/FocusedInput/focused-input.tsx
Owners: @matin-deriv, @maryia-deriv

fix: use interval from BO
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/__tests__/business-hour-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-edit/business-hour-modal-edit.tsx
  packages/stores/src/stores/P2PSettingsContext.tsx
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: rework
  packages/trader/src/AppV2/Components/FocusedInput/focused-input.scss
  packages/trader/src/AppV2/Components/FocusedInput/focused-input.tsx
Owners: @matin-deriv, @maryia-deriv

chore: rework
  packages/trader/src/AppV2/Components/FocusedInput/focused-input.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: attempt with blur
  packages/trader/src/AppV2/Components/FocusedInput/focused-input.tsx
Owners: @matin-deriv, @maryia-deriv

fix: ci checks
  packages/wallets/src/components/DatePicker/__tests__/DatePicker.spec.tsx
  packages/wallets/src/features/accounts/modules/Poa/Poa.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: remove extra props with depends
  packages/trader/src/AppV2/Components/FocusedInput/focused-input.scss
  packages/trader/src/AppV2/Components/FocusedInput/focused-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
Owners: @matin-deriv, @maryia-deriv

fix: sonarcloud issues
  packages/wallets/src/components/FormDropdown/FormDropdown.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/IDVService.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentRules/DocumentRules.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/ManualUploadErrorMessage/ManualUploadErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/PoaUploadErrorMessage/PoaUploadErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/Poa/utils/poaValidationSchema.ts
  packages/wallets/src/features/accounts/modules/TaxInformation/utils/constants.tsx
  packages/wallets/src/features/cfd/flows/ClientVerification/components/ResubmissionSuccessMessage/ResubmissionSuccessMessage.tsx
  packages/wallets/src/utils/__tests__/utils.spec.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv
