Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

test: :white_check_mark: Updated test suits
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/__tests__/form.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/__tests__/form.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

feat: remove contract_set_up_form event from rudderstack
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.tsx
Owners: @matin-deriv, @maryia-deriv

chore: resolve conflicts
  packages/core/src/App/Containers/Layout/header/traders-hub-header-wallets.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: fixed margin top error for dtrader-v2 header
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/shared/src/styles/constants.scss
  packages/trader/src/AppV2/Utils/layout-utils.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: fixed cfd password modal test
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
Owners: @hirad-deriv, @matin-deriv

fix: CompareAccountsDescription typescript issue
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/CompareAccountsDescription.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

DTRA-1569 / Kate / Filter resetting issue (#16359)
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
  packages/reports/src/Stores/Modules/Profit/profit-store.js
  packages/trader/src/AppV2/Components/Filter/time-filter.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/Stores/Modules/Positions/__tests__/positions-store.spec.ts
  packages/trader/src/Stores/Modules/Positions/positions-store.ts
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

fix: add under_maintenance check for isMaintenance flag
  packages/wallets/src/features/cfd/components/PlatformStatusBadge/PlatformStatusBadge.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: removed initial wheel picker values for risk management
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

fix: update certificate (#16555)
  packages/core/src/public/.well-known/assetslinks.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Akmal / fix: wrong duration unit for digit contracts (#16378)
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

Akmal / fix: take profit & stop loss decimals (#16195)
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
Owners: @matin-deriv, @maryia-deriv

fix: CompareAccountsTitleIcon test cases
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/CompareAccountsTitleIcon.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: kept code commented for stats bar
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/api/accumlators.js
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: CompareAccountsTitleIcon test cases
  packages/wallets/src/features/cfd/screens/CompareAccounts/__tests__/CompareAccountsCard.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: WalletBadge test cases
  packages/wallets/src/components/WalletBadge/__test__/__snapshots__/WalletBadge.spec.tsx.snap
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

Update packages/core/src/Stores/gtm-store.js
  packages/core/src/Stores/gtm-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: revert back to previous type
  packages/wallets/src/components/Base/WalletButton/WalletButton.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: demo password modal tnc condition
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: replce WalletCheckbox with Checkbox from deriv-com/ui
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriority/WithdrawalCryptoPriority.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: show initial value in the Stake textbox
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Owners: @matin-deriv, @maryia-deriv

chore: remove WalletCheckbox from wallets package
  packages/wallets/src/components/Base/WalletCheckbox/WalletCheckbox.scss
  packages/wallets/src/components/Base/WalletCheckbox/WalletCheckbox.tsx
  packages/wallets/src/components/Base/WalletCheckbox/index.ts
  packages/wallets/src/components/Base/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: callbacks to async/await
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/cashier/src/pages/account-transfer/account-transfer.tsx
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/common-store.js
  packages/core/src/Stores/contract-replay-store.js
  packages/core/src/Stores/gtm-store.js
  packages/core/src/_common/base/socket_base.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @farrah-deriv, @nijil-deriv, @wojciech-deriv, @ali-hosseini-deriv

chore: add optional chaining
  packages/core/src/Stores/gtm-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: updated deriv x password icon
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

fix: order of checks in save function
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-container.tsx
Owners: @matin-deriv, @maryia-deriv

fix: udpated success check icon
  packages/cfd/src/Components/success-dialog.jsx
Owners: @hirad-deriv, @matin-deriv

chore: update package-lock
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: added secure flag to remove cookie
  packages/core/src/App/Containers/Redirect/redirect.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: The icon and texts are not aligned as per design
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.scss
Owners: @sandeep-deriv, @vinu-deriv

Update packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[TRAH-3987] shahzaib / populate localstorage from cookies to be authorized (#16541)
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/shared/src/utils/brand/brand.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: The cta size is different compared to design
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.scss
Owners: @sandeep-deriv, @vinu-deriv

chore: revert package-lock
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Revert "[WALL] Aizad/WALL-4274/FIx Success Button on MT5 Account Added Modal …"
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/MT5AccountAdded.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModalFooters.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: fix test case
  packages/wallets/src/components/DerivAppsSection/__tests__/DerivAppsGetAccount.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

Revert "[WALL] Aizad/WALL-4274/FIx Success Button on MT5 Account Added Modal …" (#16566)
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/MT5AccountAdded.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModalFooters.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: update package-lock
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Revert "[WALL] Aizad/WALL-4274/FIx Success Button on MT5 Account Added Modal …" (#16566)
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/MT5AccountAdded.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModalFooters.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/uz.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/uz.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv
