Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

Sui Sin/chore: remove brazil scam warning message pop up (#15750)
  packages/components/src/components/icon/common/ic-account-dont-get-scam.svg
  packages/components/src/components/icon/common/ic-account-website.svg
  packages/components/src/components/icon/icons.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/correct-message-content.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/fake-message-content.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/index.js
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-checkbox-content.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-content.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-modal.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-modal.scss
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-title.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[WALL] Aizad/WALL-4433/Desktop Wallet migration process flow update (#15718)
  packages/appstore/package.json
  packages/appstore/src/components/banners/wallets-banner/__tests__/wallets-banner.spec.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/__tests__/real-wallets-upgrade.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/desktop-real-wallets-upgrade/desktop-real-wallets-upgrade.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/desktop-real-wallets-upgrade/desktop-real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/desktop-real-wallets-upgrade/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/mobile-real-wallets-upgrade/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/mobile-real-wallets-upgrade/mobile-real-wallets-upgrade.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/mobile-real-wallets-upgrade/mobile-real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/wallet_steps.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-account/wallet-account.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-account/wallet-account.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-one/__tests__/wallets-upgrade-step-one.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-one/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-one/wallets-upgrade-step-one.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-one/wallets-upgrade-step-one.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-two/__tests__/wallets-upgrade-step-two.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-two/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-two/wallets-upgrade-step-two.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-two/wallets-upgrade-step-two.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/__tests__/wallets-upgrade-modal.spec.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/shared/src/styles/themes.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

refactor: removed unused funciton (#15740)
  packages/account/src/Components/poi/status/unsupported/card-details/card-details.tsx
  packages/account/src/Components/poi/status/unsupported/detail-component.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/__tests__/proof-of-identity-container.spec.js
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/core/src/Stores/client-store.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

[WALL] Lubega / WALL-4281 / Add transfer button to mt5 trade modal (#15786)
  packages/api-v2/src/hooks/useCtraderAccountsList.ts
  packages/api-v2/src/hooks/useDxtradeAccountsList.ts
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: added initial setup for ClientVerification - Added ClientVerification flow component - Added PoiFlow component
  packages/wallets/src/features/accounts/index.ts
  packages/wallets/src/features/accounts/modules/Poi/Poi.tsx
  packages/wallets/src/features/accounts/modules/Poi/index.ts
  packages/wallets/src/features/accounts/modules/index.ts
  packages/wallets/src/features/cfd/flows/ClientVerification/ClientVerification.tsx
  packages/wallets/src/features/cfd/flows/ClientVerification/index.ts
  packages/wallets/src/features/cfd/flows/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: remove badge from cashier overlay (#15812)
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/__tests__/WalletCashierHeader.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[WALL] Lubega / DERG-2459 / Deriv go redirection blank issue (#15713)
  packages/core/src/Stores/client-store.js
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/WalletWithdrawal.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: removed DesktopWrapper & MobileWrapper
  packages/account/src/Components/forms/form-fields/employment-status.tsx
  packages/account/src/Components/forms/form-fields/tax-residence.tsx
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
  packages/account/src/Sections/Verification/ProofOfIncome/proof-of-income-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

transactions completed row unit test (#15777)
  packages/wallets/src/components/WalletListCardBadge/WalletListCardBadge.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/__tests__/TransactionsCompletedRow.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/__tests__/TransactionsCompletedRowAccountDetails.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowTransferAccountDetails/__tests__/TransactionsCompletedRowTransferAccountDetails.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAmountInput/__tests__/TransferFormAmountInput.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[WALL] Aizad/WALL-2856/OptionsAndMultipliersListing Test Case (#15774)
  packages/wallets/src/components/OptionsAndMultipliersListing/LinkTitle.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/__test__/LinkTitle.spec.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/__test__/OptionsAndMultipliersListing.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: add step 200, 500, update step with step 100
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/underlying/ic-underlying-STPRNG.svg
  packages/components/src/components/icon/underlying/ic-underlying-STPRNG2.svg
  packages/components/src/components/icon/underlying/ic-underlying-STPRNG5.svg
  packages/shared/src/utils/constants/contract.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: Not showing default value for duration
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/duration-type.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: clear tax values on checkbox click
  packages/account/src/Components/forms/form-fields/tax-residence.tsx
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

refactor: add tests for modals and guide component
  packages/trader/src/AppV2/Components/Guide/__tests__/definition-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/description-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: expand tets cases for trade utils
  packages/trader/src/AppV2/Utils/__tests__/trade-types-utils.spec.tsx
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[WALL] farrah/WALL-3720/feat: faq side note (#15423)
  packages/cashier/src/components/side-notes/index.ts
  packages/cashier/src/components/side-notes/side-note-faq/__tests__/side-note-faq.spec.tsx
  packages/cashier/src/components/side-notes/side-note-faq/index.ts
  packages/cashier/src/components/side-notes/side-note-faq/side-note-faq.scss
  packages/cashier/src/components/side-notes/side-note-faq/side-note-faq.tsx
  packages/cashier/src/components/side-notes/side-note-payment-methods-learn-more/__test__/side-note-payment-methods-learn-more.test.tsx
  packages/cashier/src/components/side-notes/side-note-payment-methods-learn-more/index.ts
  packages/cashier/src/components/side-notes/side-note-payment-methods-learn-more/side-note-payment-methods-learn-more.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-side-notes/__test__/cashier-onboarding-side-notes.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-side-notes/cashier-onboarding-side-note-fiat.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-side-notes/cashier-onboarding-side-notes.tsx
  packages/cashier/src/modules/deposit-fiat/components/deposit-fiat-iframe/deposit-fiat-iframe.scss
  packages/cashier/src/modules/deposit-fiat/deposit-fiat.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/withdrawal-crypto-form.scss
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/withdrawal-crypto-form.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/components/src/components/icon/cashier/ic-cashier-chevron-up.svg
  packages/components/src/components/icon/icons.js
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update shortcode pattern for STPRNG indices
  packages/shared/src/utils/shortcode/shortcode.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

trade engine sepration in progress
  packages/bot-trade-engine/api/active-symbols.js
  packages/bot-trade-engine/constants/config.js
  packages/bot-trade-engine/shared/clone copy.js
  packages/bot-trade-engine/shared/config.js
  packages/bot-trade-engine/shared/currency.js
  packages/bot-trade-engine/shared/helpers.js
  packages/bot-trade-engine/shared/platform.js
  packages/bot-trade-engine/shared/routes.js
  packages/bot-trade-engine/tradeEngine/Interface/MiscInterface.js
  packages/bot-trade-engine/tradeEngine/Interface/ToolsInterface.js
  packages/bot-trade-engine/tradeEngine/trade/Proposal.js
  packages/bot-trade-engine/tradeEngine/trade/Ticks.js
  packages/bot-trade-engine/tradeEngine/trade/Total.js
  packages/bot-trade-engine/tradeEngine/trade/index.js
  packages/bot-trade-engine/tradeEngine/utils/helpers.js
  packages/bot-trade-engine/tradeEngine/utils/sanitize.js
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: resolve comments
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/__test__/AddedDxtradeAccountsList.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: added enforce to assets
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

chore: resolve comments
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/__test__/AvailableDxtradeAccountsList.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

DTRA-1278 / Kate / Create Account switcher for DTrader-V2 (#15729)
  packages/core/src/App/Components/Layout/Header/account-info-wrapper.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/Utils/__tests__/account-switcher-dtrader-v2-utils.spec.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/Utils/account-switcher-dtrader-v2-utils.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/__tests__/account-actions-dtrader-v2.spec.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/__tests__/account-group-wrapper-dtrader-v2.spec.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/__tests__/account-info-dtrader-v2.spec.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/__tests__/account-switcher-account-list-dtrader-v2.spec.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/__tests__/account-switcher-dtrader-v2.spec.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/__tests__/header-account-actions-dtrader-v2.spec.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/__tests__/real-signup-banner-dtrader-v2.spec.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-actions-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-group-wrapper-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-info-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-switcher-account-list-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-switcher-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/header-account-actions-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/real-signup-banner-dtrader-v2.tsx
  packages/core/src/App/Components/Routes/__tests__/binary-link.spec.tsx
  packages/core/src/App/Components/Routes/__tests__/helpers.spec.ts
  packages/core/src/App/Components/Routes/binary-link.tsx
  packages/core/src/App/Components/Routes/helpers.js
  packages/core/src/App/Components/Routes/helpers.ts
  packages/core/src/App/Components/Routes/index.js
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/Layout/header/__tests__/dtrader-v2-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-v2-header.tsx
  packages/core/src/sass/app/_common/components/account-switcher-dtrader-v2.scss
  packages/core/src/sass/app/_common/components/real-signup-banner-dtrader-v2.scss
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/core/src/sass/app/_common/layout/header.scss
  packages/shared/src/styles/constants.scss
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

DTRA-1368 / Kate / Position and Contract Details Page refactor: add CALLE/PUTE filtration (#15768)
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
  packages/trader/src/AppV2/Utils/__tests__/contract-details-config.spec.ts
  packages/trader/src/AppV2/Utils/__tests__/positions-utils.spec.ts
  packages/trader/src/AppV2/Utils/positions-utils.ts
Owners: @matin-deriv, @maryia-deriv

DTRA-1371 / Kate / [Position and Contract Details page]: add tabs routing navigation (#15784)
  package-lock.json
  packages/core/package.json
  packages/core/src/App/Containers/Layout/header/dtrader-v2-contract-detail-header.tsx
  packages/trader/package.json
  packages/trader/src/AppV2/Components/ContractCard/contract-card-list.tsx
  packages/trader/src/AppV2/Components/ContractCard/contract-card.tsx
  packages/trader/src/AppV2/Components/EmptyPositions/empty-positions.tsx
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/AppV2/Utils/__tests__/positions-utils.spec.ts
  packages/trader/src/AppV2/Utils/positions-utils.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/es.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

DTRA-1366 / Kate / Fix: console error on the test links for DTrader-V2 (#15749)
  packages/trader/src/AppV2/Components/Filter/contract-type-filter.tsx
  packages/trader/src/AppV2/Components/Filter/time-filter.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/es.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[DTRA] henry/webrel-16/chore: add tests (#15739)
  packages/reports/src/Components/Routes/__tests__/binary-link.spec.tsx
  packages/reports/src/Components/Routes/__tests__/binary-routes.spec.tsx
  packages/reports/src/Components/Routes/__tests__/route-with-sub-routes.spec.tsx
  packages/reports/src/Components/Routes/binary-link.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/es.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: profit-table (#15835)
  packages/reports/src/Containers/__tests__/profit-table.spec.tsx
  packages/reports/src/Containers/profit-table.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
