Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/km.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: new mock in testcase
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: fixed failing test case and touch behaviour on unpin
  packages/trader/src/AppV2/Components/DraggableList/draggable-list-item.tsx
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.scss
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade-types.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Owners: @matin-deriv, @maryia-deriv

chore: update title for step 1 email verification
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: update test case title
  packages/account/src/Sections/Profile/PhoneVerification/__test__/otp-verification.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: tabbing
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
Owners: @matin-deriv, @maryia-deriv

chore: fix growthbook FF off pnv routing issue
  packages/account/src/Sections/Profile/PhoneVerification/__test__/cancel-phone-verification-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/cancel-phone-verification-modal.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: update package and fix test
  jest.config.base.js
  package-lock.json
  packages/hooks/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv

refactor: DocumentList to use getClientVerification
  packages/wallets/src/features/cfd/components/ClientVerificationBadge/ClientVerificationStatusBadge.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/ClientVerificationModal.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/DocumentsList.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/components/DocumentTile/DocumentTile.tsx
  packages/wallets/src/features/cfd/utils/utils.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: accumulator close btn (#16973)
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/km.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: add tests
  packages/trader/build/webpack.config.js
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

Apply suggestions from code review
  packages/api-v2/src/ws-client/request.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

Apply suggestions from code review
  packages/api-v2/src/ws-client/subscription.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

Apply suggestions from code review
  packages/api-v2/src/ws-client/subscriptions-manager.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

Apply suggestions from code review
  packages/api-v2/src/ws-client/subscriptions-manager.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

chore: added unit tests for MT5LicenceMessage and DocumentList component
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/DocumentsList.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/__tests__/DocumentsList.spec.tsx
  packages/wallets/src/features/cfd/screens/components/MT5LicenceMessage/__tests__/MT5LicenceMessage.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: new button from quill
  packages/account/src/Sections/Security/Passkeys/components/passkey-remove-with-email.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-rename.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-layout.tsx
  packages/account/src/Sections/Security/Passkeys/components/resend-code-timer.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.scss
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/hooks/src/useRemovePasskey.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: testing freshchat integration in hook
  packages/core/src/App/Components/Elements/LiveChat/live-chat.tsx
  packages/core/src/App/Components/Elements/LiveChat/use-freshchat.ts
  packages/core/src/index.html
  types/global.d.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @markwylde-deriv

chore: old test cases fixes
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/day.tsx
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/zh_cn.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: update condition for useIsTNCNeeded, added documentation
  packages/hooks/src/useIsTNCNeeded.ts
Owners: @ali-hosseini-deriv, @matin-deriv

chore: test case fix
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/datepicker.tsx
Owners: @matin-deriv, @maryia-deriv

fix: remove dependencies from trade type translation
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
Owners: @matin-deriv, @maryia-deriv

chore: fixing ts errors
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/chips.tsx
Owners: @matin-deriv, @maryia-deriv

feat: :sparkles: set datalayer for balance
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: fix console log issue
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/hooks/src/usePhoneNumberVerificationSessionTimer.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: update notification title
  packages/core/src/Stores/notification-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: renamed and moved CFDPasswordModalTnc to screens/components/MT5PasswordModalTnc
  packages/wallets/src/features/cfd/components/CFDPasswordModalTnc/index.ts
  packages/wallets/src/features/cfd/screens/CreatePasswordMT5/CreatePasswordMT5.tsx
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
  packages/wallets/src/features/cfd/screens/components/MT5PasswordModalTnc/MT5PasswordModalTnc.scss
  packages/wallets/src/features/cfd/screens/components/MT5PasswordModalTnc/MT5PasswordModalTnc.tsx
  packages/wallets/src/features/cfd/screens/components/MT5PasswordModalTnc/__tests__/MT5PasswordModalTnc.spec.tsx
  packages/wallets/src/features/cfd/screens/components/MT5PasswordModalTnc/index.ts
  packages/wallets/src/features/cfd/screens/components/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: unit tests for MT5PasswordModalTnc
  packages/wallets/src/features/cfd/screens/components/MT5PasswordModalTnc/MT5PasswordModalTnc.tsx
  packages/wallets/src/features/cfd/screens/components/MT5PasswordModalTnc/__tests__/MT5PasswordModalTnc.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[PNV] UPM1635 Suisin/chore: fix growthbook FF off pnv routing issue (#16999)
  packages/account/src/Sections/Profile/PhoneVerification/__test__/cancel-phone-verification-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/cancel-phone-verification-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/hooks/src/usePhoneNumberVerificationSessionTimer.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: loaded script from use-freshchat hook
  packages/core/src/App/Components/Elements/LiveChat/live-chat.tsx
  packages/core/src/App/Components/Elements/LiveChat/use-freshchat.ts
  packages/core/src/index.html
  types/global.d.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @markwylde-deriv

fix: added temporary types for default service
  packages/api-v2/src/hooks/useSortedMT5Accounts.ts
  packages/wallets/src/features/cfd/components/CFDPlatformsListAccounts/CFDPlatformsListAccounts.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/ClientVerificationModal.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/DocumentsList.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/__tests__/DocumentsList.spec.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/screens/CreatePasswordMT5/CreatePasswordMT5.tsx
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
  packages/wallets/src/features/cfd/screens/components/MT5LicenceMessage/MT5LicenceMessage.tsx
  packages/wallets/src/features/cfd/screens/components/MT5LicenceMessage/__tests__/MT5LicenceMessage.spec.tsx
  packages/wallets/src/features/cfd/types.ts
  packages/wallets/src/features/cfd/utils/utils.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

fix: added hover feature and pointer arrow on list enabled item
  packages/appstore/src/components/modals/verification-docs-list-modal/ListItem.tsx
  packages/appstore/src/components/modals/verification-docs-list-modal/verification-docs-list-modal.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: resend button, usetime hook
  packages/account/src/Sections/Security/Passkeys/components/passkey-remove-with-email.tsx
  packages/account/src/Sections/Security/Passkeys/components/resend-code-button.tsx
  packages/account/src/Sections/Security/Passkeys/components/resend-code-timer.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.scss
  packages/hooks/src/index.ts
  packages/hooks/src/useTimeout.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

Akmal / feat: show only available trade types in guide (#16996)
  packages/trader/src/AppV2/Components/Guide/__tests__/guide-description-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.tsx
Owners: @matin-deriv, @maryia-deriv

DTRA-1879 / Kate / [DTrader-V2]: Implement Rise/Fall forward starting contract and change card structure (#16919)
  packages/shared/src/utils/shortcode/shortcode.ts
  packages/trader/src/AppV2/Components/ContractCard/__tests__/contract-card-status-timer.spec.tsx
  packages/trader/src/AppV2/Components/ContractCard/__tests__/contract-card.spec.tsx
  packages/trader/src/AppV2/Components/ContractCard/__tests__/forward-starting-tag.spec.tsx
  packages/trader/src/AppV2/Components/ContractCard/contract-card-status-timer.tsx
  packages/trader/src/AppV2/Components/ContractCard/contract-card.scss
  packages/trader/src/AppV2/Components/ContractCard/contract-card.tsx
  packages/trader/src/AppV2/Components/ContractCard/forward-starting-tag.tsx
  packages/trader/src/AppV2/Components/ForwardStartingBanner/__tests__/forward-starting-banner.spec.tsx
  packages/trader/src/AppV2/Components/ForwardStartingBanner/forward-starting-banner.scss
  packages/trader/src/AppV2/Components/ForwardStartingBanner/forward-starting-banner.tsx
  packages/trader/src/AppV2/Components/ForwardStartingBanner/index.ts
  packages/trader/src/AppV2/Components/TakeProfitHistory/__tests__/take-profit-history.spec.tsx
  packages/trader/src/AppV2/Components/TakeProfitHistory/take-profit-history.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/__tests__/contract-details.spec.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

DTRA-1902 / Kate / [DTrader-V2] Video seek timer bug when dragged to a different timestamp (#16854)
  packages/components/src/components/video-player/__tests__/video-controls.spec.tsx
  packages/components/src/components/video-player/video-controls.tsx
  packages/components/src/components/video-player/video-player.scss
  packages/components/src/components/video-player/video-player.tsx
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv
