Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

refactor: :zap: improved import
  packages/bot-web-ui/src/pages/dashboard/bot-list/dashboard-bot-list.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: strip any characters other than + and numbers for phone number
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/core/src/Services/socket-general.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

test: :fire: added test suite for main component (#16838)
  packages/bot-web-ui/src/pages/main/__tests__/main.spec.tsx
  packages/bot-web-ui/src/pages/main/main.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update packagelock
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: added testcases
  packages/appstore/src/components/modals/verification-docs-list-modal/__tests__/Listitem.spec.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: added testcases2
  packages/appstore/src/components/modals/verification-docs-list-modal/__tests__/Listitem.spec.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: test comments 3
  packages/appstore/src/components/modals/verification-docs-list-modal/__tests__/Listitem.spec.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: positioning and spelling
  packages/core/src/App/Containers/Layout/header/dtrader-v2-contract-detail-header.tsx
  packages/trader/src/AppV2/Components/StopLoss/stop-loss.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: improve take profit and stop loss validation handling
  packages/core/src/Stores/contract-store.js
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: cashier translation fixes
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoDisclaimers/DepositCryptoDisclaimers.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoDisclaimer/WithdrawalCryptoDisclaimer.tsx
  packages/wallets/src/features/cfd/screens/CreatePasswordMT5/CreatePasswordMT5.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: :bug: exclude the period from the link
  packages/appstore/src/components/elements/options-description/options-description.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: test comments 4
  packages/appstore/src/components/modals/verification-docs-list-modal/__tests__/Listitem.spec.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

DTRA-1880 / Kate / [DTrader-V2] Chunks loading order issue (#16829)
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/core/src/App/app.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[DTRA]/Ahmad/Accumulator fixes (#16796)
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-modal.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-row.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.tsx
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: :mag: add contnent for eu multiplier
  packages/appstore/src/components/elements/options-description/options-description.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: sync on focus server-bot
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.tsx
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: :bug: fix hyperlink text
  packages/appstore/src/components/elements/options-description/options-description.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: update logic based on comment
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: pr comments
  packages/bot-web-ui/src/utils/__tests__/dom-observer.spec.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: test case
  packages/trader/src/AppV2/Components/StopLoss/__tests__/stop-loss.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: resolve comments
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.tsx
Owners: @matin-deriv, @maryia-deriv

chore: update striping non numeric characters in personal details only
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/core/src/Services/socket-general.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

refactor: add changes for days duration
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/uz.json
Owners: @farrah-deriv, @nijil-deriv

chore: delete integration package
  packages/integration/README.md
  packages/integration/package.json
  packages/integration/src/exampleMock.ts
  packages/integration/src/index.ts
  packages/integration/src/mocks/auth/accountSecurity.ts
  packages/integration/src/mocks/auth/authorize.ts
  packages/integration/src/mocks/auth/balanceAll.ts
  packages/integration/src/mocks/auth/balanceOne.ts
  packages/integration/src/mocks/auth/getAccountStatus.ts
  packages/integration/src/mocks/auth/getFinancialAssessment.ts
  packages/integration/src/mocks/auth/getLimits.ts
  packages/integration/src/mocks/auth/getSelfExclusion.ts
  packages/integration/src/mocks/auth/getSettings.ts
  packages/integration/src/mocks/auth/index.ts
  packages/integration/src/mocks/auth/landingCompany.ts
  packages/integration/src/mocks/auth/mt5LoginList.ts
  packages/integration/src/mocks/auth/p2pAdvertiserInfo.ts
  packages/integration/src/mocks/auth/p2pOrderList.ts
  packages/integration/src/mocks/auth/paymentagentList.ts
  packages/integration/src/mocks/auth/platformDxtrade.ts
  packages/integration/src/mocks/auth/platformMt5.ts
  packages/integration/src/mocks/auth/portfolio.ts
  packages/integration/src/mocks/auth/statement.ts
  packages/integration/src/mocks/auth/tradingPlatformAccounts.ts
  packages/integration/src/mocks/auth/tradingPlatformAvailableAccounts.ts
  packages/integration/src/mocks/auth/transaction.ts
  packages/integration/src/mocks/general/exchangeRates.ts
  packages/integration/src/mocks/general/index.ts
  packages/integration/src/mocks/general/payoutCurrencies.ts
  packages/integration/src/mocks/general/residentsList.ts
  packages/integration/src/mocks/general/statesList.ts
  packages/integration/src/mocks/general/time.ts
  packages/integration/src/mocks/general/websiteStatus.ts
  packages/integration/src/utils/asserts/asserts.ts
  packages/integration/src/utils/mocks/generateOauthLoginFromAccounts.ts
  packages/integration/src/utils/mocks/mocks.ts
  packages/integration/src/utils/suspend/suspend.ts
  packages/integration/tsconfig.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: delete any references to the integration package in wallets
  packages/wallets/component-tests/crypto-payment-redirection.spec.tsx
  packages/wallets/component-tests/menu.spec.tsx
  packages/wallets/component-tests/mocks/mockAccountList.ts
  packages/wallets/component-tests/mocks/mockBalance.ts
  packages/wallets/component-tests/mocks/mockCryptoConfig.ts
  packages/wallets/component-tests/mocks/mockCryptoWithdraw.ts
  packages/wallets/component-tests/mocks/mockGetAccountTypes.ts
  packages/wallets/component-tests/mocks/mockProposalOpenContract.ts
  packages/wallets/component-tests/mocks/mockWalletsAuthorize.ts
  packages/wallets/component-tests/mocks/mockWalletsBalances.ts
  packages/wallets/component-tests/mocks/mockWalletsLoggedIn.ts
  packages/wallets/component-tests/wallets-carousel-content.spec.tsx
  packages/wallets/package.json
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: delete any references to the integration package in account
  packages/account/integration-tests/personal-details/menu.spec.tsx
  packages/account/integration-tests/personal-details/personal-details.spec.tsx
  packages/account/package.json
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: duration fixes
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

chore: delete playwright config
  playwright.config.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

ci: remove scripts and dependencies related to integration and component tests
  package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: add package-lock
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: change name for new store field
  packages/core/src/App/AppContent.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update jest config to remove integration and component tests related config
  .eslintrc.js
  jest.config.base.js
  jest.config.js
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: update gitignore file
  .gitignore
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

docs: update v2 migration guide
  V2-MIGRATION-GUIDE.MD
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: change name of client store new field
  packages/core/src/App/AppContent.tsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/__tests__/useLiveChat.spec.tsx
  packages/hooks/src/useLiveChat.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: change order
  packages/cashier/package.json
  packages/cfd/package.json
  packages/p2p/package.json
  packages/reports/package.json
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @hirad-deriv, @matin-deriv, @mahdiyeh-deriv, @maryia-deriv

fix(wallets): :ambulance: adjust webpack config
  packages/wallets/webpack.config.js
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv
