Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore:fix
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

[P2PS] - Nada/P2PS-3086/fix: translation handle for edit ad header (#15956)
  packages/p2p/src/pages/my-ads/edit-ad-form.jsx
Owners: @farrah-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/km.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/uz.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: replace TextField with TextFieldAddOn for confirm your phone number page
  packages/account/src/Sections/Profile/PhoneVerification/__test__/confirm-phone-number.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: incorporated review comments
  packages/account/src/hooks/__test__/useKycAuthStatus.spec.tsx
  packages/account/src/hooks/useKycAuthStatus.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: removed lazy load from personal details
  packages/account/src/Components/additional-kyc-info-modal/form-config.tsx
  packages/account/src/Components/forms/form-select-field.tsx
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: update styles to center snackbar, update tests
  packages/account/src/Components/network-status-toast-popup/__tests__/network-status-toast-popup.spec.tsx
  packages/account/src/Components/network-status-toast-popup/network-status-toast-popup.scss
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

Correct configs after package renaming
  package-lock.json
  package.json
  packages/account/build/webpack.config.js
  packages/account/tsconfig.json
  packages/appstore/tsconfig.json
  packages/bot-skeleton/tsconfig.json
  packages/bot-web-ui/tsconfig.json
  packages/bot-web-ui/webpack.config.js
  packages/cashier-v2/tsconfig.json
  packages/cashier/build/webpack.config.js
  packages/cashier/tsconfig.json
  packages/cfd/build/webpack.config.js
  packages/cfd/tsconfig.json
  packages/components/tsconfig.json
  packages/components/webpack.config.js
  packages/core/tsconfig.json
  packages/indicators/tsconfig.json
  packages/p2p/package.json
  packages/p2p/tsconfig.json
  packages/p2p/webpack.config.js
  packages/reports/build/webpack.config.js
  packages/reports/tsconfig.json
  packages/shared/tsconfig.json
  packages/trader/build/webpack.config.js
  packages/trader/tsconfig.json
  packages/wallets/tsconfig.json
  tsconfig.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: create new functional call in useVerifyEmail and remove deprecated tag
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/verify-button.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/resend-code-timer.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/resend-code-timer.tsx
  packages/account/src/Sections/Profile/PhoneVerification/verification-link-expired-modal.tsx
  packages/core/src/App/Containers/LinkExpiredModal/link-expired-modal.tsx
  packages/hooks/src/useVerifyEmail.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: test case fix
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: dropdown opening upwards in my ads table
  packages/p2p/src/pages/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/pages/my-ads/my-ads-table.scss
Owners: @farrah-deriv, @nijil-deriv

fix(wallets): :art: fix banners order
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

feat: move css top property to common dot style
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/crypto-transaction-processing-modal.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update package lock
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

refactor: change px to rem
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/crypto-transaction-processing-modal.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Maryia/DTRA-1421/feat: add temporary Trade types selector (chips) & Assets dropdown (#137)
  packages/trader/src/AppV2/Containers/Trade/trade.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @matin-deriv, @maryia-deriv

fix: issues with fonts, chat border
  packages/p2p/src/components/modal-manager/modals/block-user-filter-modal/block-user-filter-modal.tsx
  packages/p2p/src/components/order-details/order-details.scss
  packages/p2p/src/pages/app.scss
  packages/p2p/src/pages/buy-sell/buy-sell-row-action.tsx
  packages/p2p/src/pages/buy-sell/buy-sell-row.jsx
  packages/p2p/src/pages/buy-sell/buy-sell-table.jsx
  packages/p2p/src/pages/my-profile/block-user/block-user-empty/block-user-empty.scss
  packages/p2p/src/pages/my-profile/my-profile-form/my-profile-form.scss
  packages/p2p/src/pages/orders/chat/chat.scss
Owners: @farrah-deriv, @nijil-deriv

fix: add route
  packages/shared/src/utils/routes/routes.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: payment agent ui issues
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-form/__tests__/payment-agent-transfer-form.spec.tsx
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-receipt/payment-agent-transfer-receipt.scss
  packages/cashier/src/pages/payment-agent/missing-payment-method-note/missing-payment-method-note.scss
  packages/cashier/src/pages/payment-agent/payment-agent-card/payment-agent-card.scss
  packages/cashier/src/pages/payment-agent/payment-agent-container/__tests__/payment-agent-container.spec.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-deposit-details/payment-agent-deposit-details.scss
  packages/cashier/src/pages/payment-agent/payment-agent-disclaimer/payment-agent-disclaimer.scss
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-listed-withdraw-form/payment-agent-listed-withdraw-form.scss
  packages/cashier/src/pages/payment-agent/payment-agent-receipt/__tests__/payment-agent-receipt.spec.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-receipt/payment-agent-receipt.scss
  packages/cashier/src/pages/payment-agent/payment-agent-receipt/payment-agent-receipt.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-unlisted-withdraw-form/__tests__/payment-agent-withdraw-form.spec.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-unlisted-withdraw-form/payment-agent-unlisted-withdraw-form.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: withdrawal ui issues
  packages/cashier/src/components/email-verification-empty-state/email-verification-empty-state.scss
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/withdrawal-crypto-form.scss
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/withdrawal-crypto-receipt.scss
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/withdrawal-crypto-receipt.tsx
  packages/cashier/src/stores/__tests__/withdraw-store.spec.ts
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: onramp ui issues
  packages/cashier/src/pages/on-ramp/__tests__/on-ramp.spec.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.scss
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: transfer ui issues
  packages/cashier/src/components/transfer-confirm/transfer-confirm.scss
  packages/cashier/src/components/transfer-confirm/transfer-confirm.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/__tests__/account-transfer-form.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.scss
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: other ui issues
  packages/cashier/src/components/cashier-container/virtual/virtual.scss
  packages/cashier/src/components/cashier-container/virtual/virtual.tsx
  packages/cashier/src/components/error/error.scss
  packages/cashier/src/components/error/error.tsx
  packages/cashier/src/components/percentage-selector/percentage-selector.scss
  packages/cashier/src/containers/cashier/cashier.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

DTRA / Kate / DTRA-1422: Create initial layout for chart, trade params & purchase buttons (#136)
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/PurchaseButton/index.ts
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.scss
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Components/TradeParameters/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/app.tsx
Owners: @matin-deriv, @maryia-deriv

fix: contract categories scroll behavior
  packages/trader/src/AppV2/Components/ActiveSymbolsList/active-symbols-list.tsx
  packages/trader/src/AppV2/Components/FavoriteSymbols/favorite-symbols.scss
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.scss
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.tsx
  packages/trader/src/AppV2/Components/MarketCategory/market-category.scss
  packages/trader/src/AppV2/Components/MarketCategory/market-category.tsx
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
  packages/trader/src/AppV2/Components/SymbolsSearchField/symbols-search-field.scss
  packages/trader/src/AppV2/Components/SymbolsSearchField/symbols-search-field.tsx
Owners: @matin-deriv, @maryia-deriv

chore: fix: conflicts
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @matin-deriv, @maryia-deriv

fix: updated selectors for blockly
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
Owners: @sandeep-deriv, @vinu-deriv

chore: fix console log issue after clicking on verify button
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

[WALL] george / WALL-4420 / Persist selected accounts tab (CFDs or Options) in Mobile view (#15822)
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/AccountsList/__tests__/AccountsList.spec.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListCardActions/__tests__/WalletListCardActions.spec.tsx
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/__tests__/WalletCashierHeader.spec.tsx
  packages/wallets/src/routes/Router.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: moved UI and API logic for TaxInformation to useTaxInformation hook
  packages/wallets/src/features/accounts/modules/TaxInformation/TaxInformation.scss
  packages/wallets/src/features/accounts/modules/TaxInformation/TaxInformation.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/components/NeedHelpMessage/NeedHelpMessage.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/components/NeedHelpMessage/index.ts
  packages/wallets/src/features/accounts/modules/TaxInformation/components/index.ts
  packages/wallets/src/features/accounts/modules/TaxInformation/hooks/index.ts
  packages/wallets/src/features/accounts/modules/TaxInformation/hooks/useTaxInformation.ts
  packages/wallets/src/features/accounts/modules/TaxInformation/utils/constants.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/utils/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

Fasih/COJ-1247/Added lazy loading for some section (#15839)
  packages/account/src/Components/api-token/api-token-article.tsx
  packages/account/src/Components/api-token/api-token-clipboard.tsx
  packages/account/src/Components/api-token/api-token-context.ts
  packages/account/src/Components/api-token/api-token-delete-button.tsx
  packages/account/src/Components/api-token/api-token-table-row.tsx
  packages/account/src/Components/api-token/api-token-table.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article.tsx
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/Security/ApiToken/api-token.tsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-pending-conditions/closing-account-has-pending-conditions.tsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-pending-conditions/closing-account-pending-balance.tsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-pending-conditions/closing-account-pending-positions.tsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-reason-form.tsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-reason.tsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/digit-form.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication-article.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.tsx
  packages/account/src/Sections/index.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: removed popup
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

refactor: moved the logic to reusable method in client
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: restore passkey-config changes
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: add feature flag for one-time-deposit-modal
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: 2 more solution on how to restore code value and remove it from url
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/login/login.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: add setPasskeysStatusToCookie to mobx action
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: remove code from local storage
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: :ambulance: downgrade deriv-com/analytics to v1.5.9
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

fix: :ambulance: downgrade deriv-com/analytics to v 1.5.9
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
