Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: incorporated emp status and tax restrictions
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: added check for Tin & emp update
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
  packages/account/src/Containers/employment-tax-info/employment-tax-info.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: positions page dark mode
  packages/core/src/App/Containers/Layout/header/dtrader-v2-contract-detail-header.tsx
  packages/trader/src/AppV2/Components/CardWrapper/card-wrapper.scss
  packages/trader/src/AppV2/Components/ContractCard/contract-card-status-timer.tsx
  packages/trader/src/AppV2/Components/ContractCard/contract-card.scss
  packages/trader/src/AppV2/Components/DatePicker/date-picker.tsx
  packages/trader/src/AppV2/Components/Filter/custom-time-filter-button.tsx
  packages/trader/src/AppV2/Components/Filter/filter.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-guide.scss
  packages/trader/src/AppV2/Components/TotalProfitLoss/total-profit-loss.scss
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
  packages/trader/src/AppV2/Containers/Positions/positions.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: contract details dark mode
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.tsx
  packages/trader/src/AppV2/Components/DealCancellationRemainingTime/deal-cancellation-remaining-time.tsx
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.scss
  packages/trader/src/AppV2/Components/EntryExitDetails/entry-exit-details.scss
  packages/trader/src/AppV2/Components/Guide/guide.scss
  packages/trader/src/AppV2/Components/OrderDetails/order-details.scss
  packages/trader/src/AppV2/Components/RiskManagementInfoModal/risk-management-info-modal.tsx
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.scss
  packages/trader/src/AppV2/Components/TakeProfitHistory/take-profit-history.scss
Owners: @matin-deriv, @maryia-deriv

fix: test failure
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix(core): :ambulance: fix menulinks visibility
  packages/core/src/App/Containers/Layout/header/dtrader-header-wallets.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: incapsulate changes in ui store
  packages/core/src/Stores/ui-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: remove chip component for cases with one available duration
  packages/trader/src/AppV2/Components/TradeParameters/Duration/chips.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
Owners: @matin-deriv, @maryia-deriv

chore: one_time_deposit url param to trigger deposit modal if logged in (#16816)
  packages/appstore/src/components/app-content.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix(core): :ambulance: fix menulinks visibility (#16849)
  packages/core/src/App/Containers/Layout/header/dtrader-header-wallets.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[TRAH] Sergei / TRAH - 3858 / Blank screen shown for accounts with no currency (#16472)
  packages/account/src/Components/currency-selector/currency-selector.tsx
  packages/core/src/Services/socket-general.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix(core): :ambulance: fix menulinks visibility (#16849)
  packages/core/src/App/Containers/Layout/header/dtrader-header-wallets.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: json error
  packages/api-v2/src/hooks/useOnfido.ts
  packages/api/src/hooks/useOnfido.ts
  packages/shared/src/utils/url/helpers.ts
  packages/wallets/src/helpers/urls.ts
  packages/wallets/src/utils/utils.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: for accumulators stats
  packages/bot-skeleton/src/scratch/accumulators-proposal-handler.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Ticks.js
Owners: @sandeep-deriv, @vinu-deriv

fix: added comment
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Time/tickdelay.js
Owners: @sandeep-deriv, @vinu-deriv

refactor: move logic from store into a component
  packages/core/src/App/app.jsx
  packages/core/src/Stores/ui-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: tests
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: increase draggable area in the player
  packages/components/src/components/video-player/video-player.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: replace debounce with hook
  packages/components/src/components/video-player/video-player.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: cancel animation frame
  packages/components/src/components/video-player/video-player.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: notification position
  packages/core/src/App/Containers/Layout/app-contents.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: uk spelling
  packages/trader/src/AppV2/Components/MarketCategory/__tests__/market-category.spec.tsx
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade-types.spec.tsx
  packages/trader/src/AppV2/Utils/__tests__/symbol-categories-utils.spec.ts
  packages/trader/src/AppV2/Utils/symbol-categories-utils.ts
Owners: @matin-deriv, @maryia-deriv

refactor: pull lang from localstorage
  package-lock.json
  packages/api-v2/src/hooks/useOnfido.ts
  packages/api/src/hooks/useOnfido.ts
  packages/shared/package.json
  packages/shared/src/utils/url/helpers.ts
  packages/wallets/src/helpers/urls.ts
  packages/wallets/src/utils/utils.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @amina-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

fix(wallets): :ambulance: fix style issues
  packages/wallets/src/features/cfd/components/CFDPasswordModalTnc/CFDPasswordModalTnc.scss
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.scss
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.scss
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: duplication
  packages/core/src/App/Containers/Layout/app-contents.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[WALL] aum / WALL-4794 / resubmission-required-for-fully-authenticated-clients (#16720)
  packages/api-v2/src/hooks/usePOI.ts
  packages/wallets/src/features/cfd/flows/ClientVerification/ClientVerification.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix(wallets): :ambulance: fix style issues (#16856)
  packages/wallets/src/features/cfd/components/CFDPasswordModalTnc/CFDPasswordModalTnc.scss
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.scss
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.scss
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix(wallets): :ambulance: fix style issues (#16856)
  packages/wallets/src/features/cfd/components/CFDPasswordModalTnc/CFDPasswordModalTnc.scss
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.scss
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.scss
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: resolved build error
  packages/account/src/Containers/employment-tax-info/employment-tax-info.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: test cases
  packages/bot-web-ui/src/utils/__tests__/dom-observer.spec.ts
  packages/bot-web-ui/src/utils/__tests__/gtm.spec.ts
  packages/bot-web-ui/src/utils/__tests__/xml-dom-quick-strategy.spec.ts
  packages/bot-web-ui/src/utils/xml-dom-quick-strategy.ts
Owners: @sandeep-deriv, @vinu-deriv

feat: Api changes
  packages/appstore/src/components/containers/__tests__/trading-app-card.spec.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/real/__tests__/real-account-switcher.spec.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-switcher.tsx
  packages/appstore/src/components/modals/verification-docs-list-modal/verification-docs-list-modal.scss
  packages/appstore/src/components/modals/verification-docs-list-modal/verification-docs-list-modal.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-bvi-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-labuan-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-svg-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-vanuatu-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-verification-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction_maltainvest_contents.ts
  packages/cfd/src/Containers/__tests__/dmt5-trade-modal.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-description.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-platform-label.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-title-icon.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.scss
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.tsx
  packages/cfd/src/Containers/cfd-password-modal-info.tsx
  packages/cfd/src/Containers/jurisdiction-checkbox.tsx
  packages/cfd/src/Containers/mt5-create-password/mt5-create-password.scss
  packages/cfd/src/Containers/mt5-create-password/mt5-create-password.tsx
  packages/cfd/src/Helpers/cfd-config.ts
  packages/cfd/src/Helpers/compare-accounts-config.ts
  packages/cfd/src/sass/cfd.scss
  packages/components/src/components/cfd-compare-accounts-carousel/cfd-compare-accounts-carousel.scss
  packages/components/src/components/status-badge/status-badge.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/__tests__/useGetStatus.spec.tsx
  packages/hooks/src/useGetMFAccountStatus.ts
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
  packages/stores/types.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @farrah-deriv, @wojciech-deriv, @hirad-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: test cases
  packages/core/src/App/Containers/Layout/header/__tests__/dtrader-contract-details-header.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: test case
  packages/core/src/App/Containers/Layout/header/__tests__/dtrader-contract-details-header.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: add margin to favorites
  packages/trader/src/AppV2/Components/FavoriteSymbols/favorite-symbols.scss
Owners: @matin-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
