Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

chore: update @deriv/deriv-charts to 2.1.20
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: test case naming convention
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/utils/__tests__/countLimitsMessageFn.spec.ts
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/utils/__tests__/cumulativeAccountLimitsMessageFn.spec.ts
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/utils/__tests__/lifetimeAccountLimitsBetweenWalletsMessageFn.spec.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

revert: changes to logic to handle showing shared advert
  packages/p2p/src/pages/advertiser-page/advertiser-page.jsx
Owners: @farrah-deriv, @nijil-deriv

chore: revert jurisdictionTitle change
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

Update packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction_maltainvest_contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction_maltainvest_contents.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: updated deriv-com/translation
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

chore: update @deriv/deriv-charts to 2.1.20 (#15604)
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @maryia-deriv

[DTRA] Maryia/DTRA-1276/fix: update limit order barriers language without reload + hide them for closed contracts (#15436)
  packages/core/src/Stores/Helpers/limit-orders.js
  packages/core/src/Stores/chart-barrier-store.js
  packages/core/src/Stores/contract-store.js
  packages/core/src/Stores/index.js
  packages/core/src/Stores/portfolio-store.js
  packages/shared/src/utils/helpers/__tests__/barriers.ts
  packages/shared/src/utils/helpers/__tests__/chart-barrier-store.spec.ts
  packages/shared/src/utils/helpers/__tests__/limit-orders.spec.ts
  packages/shared/src/utils/helpers/barriers.ts
  packages/shared/src/utils/helpers/chart-barrier-store.ts
  packages/shared/src/utils/helpers/index.ts
  packages/shared/src/utils/helpers/limit-orders.ts
  packages/stores/types.ts
  packages/trader/src/Modules/Contract/Containers/replay-chart.tsx
  packages/trader/src/Modules/Trading/Containers/trade-chart.tsx
  packages/trader/src/Stores/Modules/SmartChart/Helpers/__tests__/barriers.ts
  packages/trader/src/Stores/Modules/SmartChart/Helpers/barriers.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/th.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/th.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: fixing the account type on password modal
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
Owners: @hirad-deriv, @matin-deriv

chore: removed implemented TODOs
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: update packages and remove temp fix
  package-lock.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/reports/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/tradershub/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @hirad-deriv, @ali-hosseini-deriv, @maryia-deriv, @mahdiyeh-deriv, @thisyahlen-deriv

chore: add routing from email verification link
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-verification-page.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/account/src/Sections/Profile/PhoneVerification/verification-link-expired-modal.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/__tests__/useRequestPhoneNumberOTP.spec.tsx
  packages/hooks/src/useRequestPhoneNumberOTP.tsx
  packages/hooks/src/useSendOTPVerificationCode.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: remove comments
  packages/account/src/Sections/Profile/PhoneVerification/verification-link-expired-modal.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: failing test
  packages/reports/src/Constants/__tests__/data-table-constants.spec.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

fix: adding jurisdiction for swap-free accounts in the accounts creation flow
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: failing testcases
  __mocks__/translation.mock.js
  packages/account/jest.config.js
  packages/account/src/Sections/Profile/LanguageSettings/__tests__/language-settings.spec.tsx
  packages/appstore/jest.config.js
  packages/cfd/jest.config.js
  packages/core/jest.config.js
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

fix: implemented review comment on the text to display transaction fee
  packages/cashier/src/modules/transactions-crypto/components/transactions-crypto-transaction-status-side-note/transactions-crypto-transaction-status-side-note.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: failing testcases
  packages/account/src/Components/language-settings/__tests__/language-radio-button.spec.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/mobile-language-menu.tsx
  packages/core/src/Stores/common-store.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: p2p_advert_info being called without id on first render, advert_info subscription updates
  packages/hooks/src/useP2PAdvertInfo.ts
  packages/p2p/src/pages/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/pages/advertiser-page/advertiser-page.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @farrah-deriv, @nijil-deriv

fix: failing test cases
  packages/p2p/src/pages/advertiser-page/__tests__/advertiser-page.spec.tsx
Owners: @farrah-deriv, @nijil-deriv

test: test
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardBack.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

test: test
  .github/workflows/analyze.yml
  .github/workflows/coveralls.yml
  .github/workflows/integration-tests.yml
  .github/workflows/test.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: eslint quick fixes
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/hooks/useSyncLocalStorageClientAccounts.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: :bug: fix currency icon in tradershub account switcher
  packages/appstore/src/assets/svgs/currency/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

Ahmad/ Fiix Strike Icon in firefox and update Deriv UI Package (#15609)
  package-lock.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/reports/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/tradershub/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @hirad-deriv, @ali-hosseini-deriv, @maryia-deriv, @mahdiyeh-deriv, @thisyahlen-deriv

refactor: split files
  packages/cfd/build/webpack.config.js
  packages/cfd/src/Containers/cfd-password-modal/cfd-create-password-form.tsx
  packages/cfd/src/Containers/cfd-password-modal/cfd-password-modal-title.tsx
  packages/cfd/src/Containers/cfd-password-modal/cfd-password-modal.types.ts
  packages/cfd/src/Containers/cfd-password-modal/create-password.tsx
  packages/cfd/src/Containers/cfd-password-modal/get-cancel-button-label.tsx
  packages/cfd/src/Containers/cfd-password-modal/icon-type.tsx
  packages/cfd/src/Containers/cfd-password-modal/index.tsx
  packages/cfd/src/Containers/cfd-password-modal/password-modal-header.tsx
  packages/cfd/src/Containers/cfd-password-modal/review-message-for-mt5.tsx
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-back-side-content.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/cfd/src/types/cfd-store.types.ts
Owners: @hirad-deriv, @matin-deriv

fix: translation mock
  __mocks__/translation.mock.js
  packages/core/src/App/Components/Routes/__tests__/language-link.spec.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv

feat: add test cases
  packages/trader/src/AppV2/Components/CardWrapper/__tests__/card-wrapper.spec.tsx
  packages/trader/src/AppV2/Components/DealCancellation/__tests__/deal-cancellation.spec.tsx
  packages/trader/src/AppV2/Components/DealCancellationRemainingTime/__tests__/deal-cancellation-remaining-time.spec.tsx
  packages/trader/src/AppV2/Components/DealCancellationRemainingTime/deal-cancellation-remaining-time.tsx
  packages/trader/src/AppV2/Components/EntryExitDetails/__tests__/entry-exit-details.spec.tsx
  packages/trader/src/AppV2/Components/OrderDetails/__tests__/order-details.spec.tsx
  packages/trader/src/AppV2/Components/OrderDetails/order-details.tsx
  packages/trader/src/AppV2/Components/PayoutInfo/__tests__/payout-info.spec.tsx
  packages/trader/src/AppV2/Components/PayoutInfo/payout-info.tsx
  packages/trader/src/AppV2/Components/RiskManagementItem/__tests__/risk-management-item.spec.tsx
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Components/StopLoss/__tests__/stop-loss.spec.tsx
  packages/trader/src/AppV2/Components/StopLoss/stop-loss.tsx
  packages/trader/src/AppV2/Components/TakeProfit/__tests__/take-profit.spec.tsx
  packages/trader/src/AppV2/Components/TakeProfit/take-profit.tsx
  packages/trader/src/AppV2/Components/TakeProfitHistory/__tests__/take-profit-history.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: remove padding
  packages/components/src/components/contract-card/contract-card.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: p2p-v2-feature-flag
  package-lock.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/p2p/src/pages/app.jsx
  packages/trader/package.json
  packages/tradershub/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

fix: update utils version
  packages/p2p-v2/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

refactor: split files
  packages/cfd/src/Containers/cfd-password-modal/cfd-password-form.tsx
  packages/cfd/src/Containers/cfd-password-modal/handle-password-input-change.tsx
  packages/cfd/src/Containers/cfd-password-modal/index.tsx
  packages/components/src/components/icon/icons.js
Owners: @hirad-deriv, @matin-deriv, @ali-hosseini-deriv, @maryia-deriv

test: test
  .github/workflows/dependency_review.yml
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardBack.scss
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: increased to 100% test coverage for toolbar components
  packages/bot-web-ui/src/pages/bot-builder/__tests__/workspace-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/__tests__/toolbar.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/__tests__/workspace-group.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/index.scss
Owners: @sandeep-deriv, @vinu-deriv

refactor: make smaller letter for desktop version
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/save-modal.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: displaying the correct broker name in MT5TradeModal
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

test: test
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: improving the quality of code
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/shared/src/utils/cfd/cfd.ts
  packages/stores/types.ts
Owners: @hirad-deriv, @matin-deriv, @ali-hosseini-deriv, @maryia-deriv
