Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

feat: create crypto transaction processing modal and finalize flow
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/components/src/components/button/button.tsx
  packages/core/src/App/Containers/CryptoTransactionProcessingModal/crypto-transaction-processing-modal-content.tsx
  packages/core/src/App/Containers/CryptoTransactionProcessingModal/crypto-transaction-processing-modal.scss
  packages/core/src/App/Containers/CryptoTransactionProcessingModal/crypto-transaction-processing-modal.tsx
  packages/core/src/App/Containers/CryptoTransactionProcessingModal/index.ts
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal.scss
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal.tsx
  packages/core/src/Stores/ui-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: replace Array.from with spread operator
  packages/components/src/components/loading/dtrader-v2-loaders/contract-details-loader.tsx
  packages/components/src/components/loading/dtrader-v2-loaders/positions-loader.tsx
  packages/components/src/components/loading/dtrader-v2-loaders/trade-loader.tsx
  packages/components/src/components/skeleton/skeleton.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

test: init ProfitTableStore
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

fix: wallet banner ui issues in TH
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
  packages/appstore/src/modules/traders-hub/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: update package.json
  package-lock.json
  packages/core/package.json
  packages/shared/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv

refactor(cashier): :recycle: refactor cashier deposit/withdraw visibility
  packages/cashier/src/pages/deposit/__tests__/deposit.spec.tsx
  packages/cashier/src/pages/deposit/deposit.tsx
  packages/cashier/src/pages/withdrawal/__tests__/withdrawal.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/hooks/src/useCurrencyConfig.ts
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @ali-hosseini-deriv, @matin-deriv

fix: :fire: replaced section message with custom comp (#15984)
  packages/bot-web-ui/src/components/load-modal/load-modal.scss
  packages/bot-web-ui/src/components/load-modal/local.tsx
  packages/bot-web-ui/src/components/load-modal/section-message/index.ts
  packages/bot-web-ui/src/components/load-modal/section-message/section-message.scss
  packages/bot-web-ui/src/components/load-modal/section-message/section-message.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: :fire: replaced section message with custom comp (#15984)
  packages/bot-web-ui/src/components/load-modal/load-modal.scss
  packages/bot-web-ui/src/components/load-modal/local.tsx
  packages/bot-web-ui/src/components/load-modal/section-message/index.ts
  packages/bot-web-ui/src/components/load-modal/section-message/section-message.scss
  packages/bot-web-ui/src/components/load-modal/section-message/section-message.tsx
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

test: :test_tube: fix test
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions.spec.tsx
Owners: @matin-deriv, @maryia-deriv

Remove `@deriv/reports` from dependencies
  packages/trader/build/webpack.config.js
  packages/trader/package.json
Owners: @matin-deriv, @maryia-deriv

feat: tests for one-time-deposit-modal
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal-content.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: testing
  packages/trader/build/webpack.config.js
  packages/trader/package.json
Owners: @matin-deriv, @maryia-deriv

refactor: rename modal
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/crypto-transaction-processing-modal-content.tsx
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/crypto-transaction-processing-modal.scss
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/crypto-transaction-processing-modal.tsx
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/index.ts
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

test: add more tests to profit-store
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
  packages/reports/src/Stores/Modules/Profit/profit-store.js
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

[DTRA] Maryia/DTRA-1364/fix: initial loading state for Profit Table and Statement (#15737)
  packages/reports/src/Stores/Modules/Profit/profit-store.js
  packages/reports/src/Stores/Modules/Statement/statement-store.js
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions-content.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Sergei / Fix Localize issue (#15430)
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/compare-account/compare-account.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.tsx
  packages/appstore/src/components/get-started-trading-banner/get-started-trading-banner.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/main-title-bar/regulators-switcher.tsx
  packages/appstore/src/components/modals/failed-veriification-modal/failed-verification-modal.tsx
  packages/appstore/src/components/modals/open-positions-svg-modal/open-positions-svg-modal.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal-content.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/appstore/src/components/multi-action-button-group/multi-action-button-group.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/components/routes/routes.tsx
  packages/appstore/src/components/trade-button/trade-button.tsx
  packages/appstore/src/modules/Page404/Components/Page404.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/translations/src/components/localize.jsx
  packages/translations/src/i18next/i18next.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update @deriv/deriv-charts to 2.1.24
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @maryia-deriv

feat: trying to add loader for total asset (#15717)
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update @deriv/deriv-charts to 2.1.24 (#15998)
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: remove packages from core
  package-lock.json
  package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: added updated mt5 icon
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-password.svg
Owners: @hirad-deriv, @matin-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: console log verified not found issue and clear otp after click resend code
  packages/account/src/Sections/Profile/PhoneVerification/__test__/didnt-get-the-code-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/resend-code-timer.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/didnt-get-the-code-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/resend-code-timer.tsx
  packages/core/src/Stores/notification-store.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: Remove tooltip component from Wallets package
  packages/wallets/src/components/Base/Tooltip/Tooltip.scss
  packages/wallets/src/components/Base/Tooltip/Tooltip.tsx
  packages/wallets/src/components/Base/Tooltip/__tests__/Tooltip.spec.tsx
  packages/wallets/src/components/Base/Tooltip/index.ts
  packages/wallets/src/components/Base/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: added title to header and fixed modal content css
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/sass/cfd.scss
Owners: @hirad-deriv, @matin-deriv

chore: update package-lock.json
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: replace TransactionsPendingRowField with tooltip from deriv/ui
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/components/TransactionsPendingRowField/TransactionsPendingRowField.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/components/TransactionsPendingRowField/TransactionsPendingRowField.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriorityFeeInfo/WithdrawalCryptoPriorityFeeInfo.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: rename component according to file
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/__tests__/TransactionsPendingRow.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: add react beautiful dnd to trader package
  package-lock.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @maryia-deriv

chore: mobile version
  package.json
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-input.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-mobile-input.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point.scss
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/barrier-selector.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.scss
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.tsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @maryia-deriv

feat: improve draggable list logic
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.tsx
Owners: @matin-deriv, @maryia-deriv

fix: Dbot offering for Norway and Japan users
  packages/bot-web-ui/src/stores/app-store.ts
Owners: @sandeep-deriv, @vinu-deriv

chore: fix test cases
  packages/wallets/src/components/Base/WalletClipboard/WalletClipboard.tsx
  packages/wallets/src/components/Base/WalletClipboard/__tests__/WalletClipboard.spec.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoAddress/DepositCryptoAddress.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoAddress/__tests__/DepositCryptoAddress.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: fix verification link keeps displaying issue
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-verification-page.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/ui-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: added testcases for hook and tin schema
  packages/account/src/Configs/__test__/user-profile-validation-config.spec.ts
  packages/hooks/src/__tests__/useTinValidations.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
