Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: key for localize
  packages/trader/src/AppV2/Components/Filter/contract-type-filter.tsx
Owners: @matin-deriv, @maryia-deriv

chore: [UPM-613]/evgeniy/add passkey notification in tray / remove effortless modal
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/__test__/effortless-login-modal.spec.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-description.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-modal.scss
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-modal.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-tips.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/index.ts
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv

feat: add final logic and add analytics for open and cta
  packages/appstore/src/components/after-signup-flow/after-signup-flow.tsx
  packages/appstore/src/components/after-signup-flow/index.ts
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/modals/setup-real-account-or-go-to-demo-modal/setup-real-account-or-go-to-demo-modal-content.tsx
  packages/appstore/src/components/modals/setup-real-account-or-go-to-demo-modal/setup-real-account-or-go-to-demo-modal.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/core/src/Stores/traders-hub-store.js
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: loading of balance used from useSubscribedBalance
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/WalletListCardBalance/WalletListCardBalance.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.scss
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
  packages/wallets/src/components/WalletsCarouselHeader/WalletsCarouselHeader.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.scss
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: removed unnecessary check for balance from WalletsCarouselContent
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: remove label prop
  packages/trader/src/AppV2/Components/Filter/contract-type-filter.tsx
  packages/trader/src/AppV2/Components/Filter/time-filter.tsx
Owners: @matin-deriv, @maryia-deriv

fix: active symbol hook
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
Owners: @matin-deriv, @maryia-deriv

fix: cover label with text quill component
  packages/trader/src/AppV2/Components/Filter/contract-type-filter.tsx
  packages/trader/src/AppV2/Components/Filter/time-filter.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Owners: @matin-deriv, @maryia-deriv

fix: fetching loading logic
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Owners: @matin-deriv, @maryia-deriv

feat: add tests for after-signup-flow component
  packages/appstore/src/components/after-signup-flow/__tests__/after-signup-flow.spec.tsx
  packages/appstore/src/components/after-signup-flow/after-signup-flow.tsx
  packages/appstore/src/components/modals/setup-real-account-or-go-to-demo-modal/setup-real-account-or-go-to-demo-modal-content.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

test: Folder bot-web-ui/src/analytics
  packages/bot-web-ui/src/analytics/__tests__/utils.spec.ts
  packages/bot-web-ui/src/analytics/utils.ts
  packages/bot-web-ui/src/pages/tutorials/__tests__/tutorial-tab-desktop.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

feat: init Skeleton
  packages/trader/src/AppV2/Components/Skeleton/index.ts
  packages/trader/src/AppV2/Components/Skeleton/skeleton.scss
  packages/trader/src/AppV2/Components/Skeleton/skeleton.tsx
Owners: @matin-deriv, @maryia-deriv

fix: add symbol not found component
  packages/trader/src/AppV2/Components/MarketCategoriesTabs/index.ts
  packages/trader/src/AppV2/Components/MarketCategoriesTabs/market-categories-tabs.scss
  packages/trader/src/AppV2/Components/MarketCategoriesTabs/market-categories-tabs.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.scss
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Components/SymbolNotFound/index.ts
  packages/trader/src/AppV2/Components/SymbolNotFound/symbol-not-found.scss
  packages/trader/src/AppV2/Components/SymbolNotFound/symbol-not-found.tsx
  packages/trader/src/AppV2/Utils/symbol-categories-utils.ts
Owners: @matin-deriv, @maryia-deriv

chore: update @deriv/deriv-charts to 2.1.22
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @maryia-deriv

[TRAH] Sergei / TRAH - 3740 / Description update for "Options" and "CFDs" (#15731)
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/elements/cfds-description/cfds-description.tsx
  packages/appstore/src/components/elements/options-description/options-description.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: match divider colours
  packages/wallets/src/features/cashier/modules/TransactionStatus/TransactionStatus.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusError/TransactionStatusError.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusSuccess/TransactionStatusSuccess.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardBack.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: update @deriv/deriv-charts to 2.1.22 (#15760)
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: updated width inside of Desktop
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: info icon size
  packages/cfd/src/Containers/cfd-password-modal-info.tsx
  packages/cfd/src/sass/cfd.scss
Owners: @hirad-deriv, @matin-deriv

fix: styles of multipliers card body for crypto in ContractDrawer on desktop (#15721)
  packages/components/src/components/contract-card/contract-card-items/multiplier-card-body.jsx
  packages/components/src/components/progress-slider-mobile/progress-slider-mobile.tsx
  packages/trader/src/App/Components/Elements/ContractDrawer/__tests__/contract-drawer-card.spec.tsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: info icon size
  packages/cfd/src/sass/cfd.scss
Owners: @hirad-deriv, @matin-deriv

fix: updated package version
  package-lock.json
  packages/cashier-v2/package.json
  packages/p2p-v2/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: update package version
  package-lock.json
  packages/cashier-v2/package.json
  packages/p2p-v2/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: removed the duplicate type
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[TRAH] Sergei / TRAH - 3699 / 'Compare CFDs accounts' page does not have side arrow options for navigation for Arabic language (#15670)
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.tsx
  packages/components/src/components/cfd-compare-accounts-carousel/cfd-compare-accounts-carousel-button.tsx
  packages/components/src/components/cfd-compare-accounts-carousel/cfd-compare-accounts-carousel.tsx
Owners: @hirad-deriv, @matin-deriv, @ali-hosseini-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: splitchunks
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

fix: :white_check_mark: should not show tick dots for accumulators
  packages/bot-web-ui/src/components/summary/summary-card.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: add value initializer in the constructor to resolve typescript error
  packages/wallets/src/hooks/useSubscribedBalance.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: separate component wrapper for employment status, tax residence and tin
  packages/account/src/Components/forms/form-fields/tax-residence.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/personal-details.tsx
  packages/account/src/Containers/employment-tax-details-container.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: tnc to bottom
  packages/cfd/src/Containers/cfd-password-modal-tnc.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/sass/cfd.scss
Owners: @hirad-deriv, @matin-deriv

chore: incorporated validation schema
  packages/account/src/Components/forms/form-fields/tax-residence.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
  packages/account/src/Components/personal-details/personal-details.tsx
  packages/account/src/Configs/kyc-validation-config.ts
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Constants/personal-details.ts
  packages/account/src/Helpers/utils.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

refactor: add calle and pute to config for fitration
  packages/trader/src/AppV2/Utils/__tests__/positions-utils.spec.ts
  packages/trader/src/AppV2/Utils/positions-utils.ts
Owners: @matin-deriv, @maryia-deriv

refactor: removed forgotten usecallback
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Owners: @matin-deriv, @maryia-deriv

fix: sanitize activeSymbols response
  packages/trader/src/AppV2/Components/MarketCategoriesTabs/market-categories-tabs.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Utils/symbol-categories-utils.ts
Owners: @matin-deriv, @maryia-deriv

feat: create tests for modal
  packages/appstore/src/components/modals/setup-real-account-or-go-to-demo-modal/__tests__/setup-real-account-or-go-to-demo-modal.spec.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

feat: optimize 2 svgs
  packages/cfd/src/Assets/banner/migrate-card-dark.svg
  packages/cfd/src/Assets/banner/migrate-card.svg
Owners: @hirad-deriv, @matin-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
