Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

feat: updated compare accounts icon
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-card.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-title-icon.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-title-icon.tsx
Owners: @hirad-deriv, @matin-deriv

feat: removed trading platform svgs
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-cfds.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-ctrader.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-deriv-x.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-derived.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-financial.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-standard.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-swap-free.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-zero-spread.svg
  packages/cfd/src/Assets/svgs/trading-platform/index.tsx
Owners: @hirad-deriv, @matin-deriv

fix: removed derived from trading-platform-icon
  packages/cfd/src/Components/trading-platform-icon/trading-platform-icon.tsx
Owners: @hirad-deriv, @matin-deriv

fix: update certificate
  packages/core/src/public/.well-known/assetslinks.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: [UPM-1368]/evgeniy/add uzbek language
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

refactor: reverted to production header for dtrader v2
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/core/src/sass/app/_common/layout/header.scss
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: add uz translation and icon
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/p2p/src/components/i18next/index.ts
  packages/shared/src/utils/constants/translation-flag.tsx
  packages/translations/src/i18next/i18next.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @farrah-deriv, @nijil-deriv

fix: fixed failing tests
  packages/trader/src/AppV2/Components/BottomNav/__tests__/bottom-nav.spec.tsx
Owners: @matin-deriv, @maryia-deriv

feat: add new error for max payout exceeded to purchase button
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button-content.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Owners: @matin-deriv, @maryia-deriv

fix: Ok cta upon mt5 account creation for unverified clients
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/MT5AccountAdded.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: use initial values from local storage for stake
  packages/stores/src/mockStore.ts
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate-picker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike-wheel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/contract-type.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/__tests__/trade-store.spec.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: rewrite with the usage of preview propoasl
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/preview-proposal.ts
Owners: @matin-deriv, @maryia-deriv

refactor: StakeDetails
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake-details.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Owners: @matin-deriv, @maryia-deriv

fix: change getTradeParams to object lookup and cleanup logic
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

feat: added trading platform icon test cases
  packages/cfd/src/Components/trading-platform-icon/__tests__/trading-platform-icon.spec.tsx
  packages/cfd/src/Components/trading-platform-icon/trading-platform-icon.tsx
Owners: @hirad-deriv, @matin-deriv

refactor: stake
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake-details.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Owners: @matin-deriv, @maryia-deriv

fix: remove unused variable
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
Owners: @matin-deriv, @maryia-deriv

chore: add descriiption to payload
  packages/api-v2/src/hooks/useTransactions.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

fix: nest css variables
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.scss
Owners: @matin-deriv, @maryia-deriv

fix: shorten css declaration
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
Owners: @matin-deriv, @maryia-deriv

chore: address review comments
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/TransactionsCompletedRowAccountDetails.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: address review comments
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/TransactionsCompletedRow.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: resolve comments
  packages/wallets/src/components/DerivAppsSection/__tests__/DerivAppsGetAccount.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: rename test file name and solve test case errors
  packages/wallets/src/components/DerivAppsSection/__tests__/DerivAppsTradingAccount.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: :bug: Fixed empty tradetype field being shown in quick strategy form
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/trade-type.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/selects/trade-type.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: for cypress loading strategy
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

feat: apply suggestions
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Owners: @matin-deriv, @maryia-deriv

feat: added zero speread icon to wallet icon
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
  packages/wallets/src/components/WalletMarketIcon/WalletMarketIcon.tsx
  packages/wallets/src/constants/icons.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: passed product to wallet icon
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: fixed design issues
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

test: Stake
  packages/stores/src/mockStore.ts
  packages/trader/src/AppV2/Components/TradeParameters/Stake/__tests__/stake.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake-details.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: updated comments
  packages/core/src/App/Containers/Redirect/redirect.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

test: add test for Stake basis
  packages/trader/src/AppV2/Components/TradeParameters/Stake/__tests__/stake.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Owners: @matin-deriv, @maryia-deriv

feat: signup feature flag
  packages/core/src/App/Components/Layout/Header/signup-button.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update pushDataLayer to check logged in state of user
  packages/core/src/Stores/gtm-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

test: fix take-profit test
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/__tests__/take-profit.spec.tsx
Owners: @matin-deriv, @maryia-deriv

feat: add new condition for swap free password modal
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: add new condition for swap free password modal
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: resolve comments
  packages/wallets/src/components/DerivAppsSection/__tests__/DerivAppsGetAccount.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: remove wallet badge's snapshot test
  packages/wallets/src/components/WalletBadge/__test__/WalletBadge.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv
