Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: failing test
  packages/trader/src/AppV2/Components/TradeParameters/Strike/__tests__/strike.spec.tsx
Owners: @matin-deriv, @maryia-deriv

chore: add safeparse
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

refactor: add tests
  packages/trader/src/AppV2/Components/OnboardingGuide/StreamIframe/__tests__/stream-iframe.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/__tests__/trade-types-selection-guide.spec.tsx
Owners: @matin-deriv, @maryia-deriv

feat: change script url
  packages/core/src/App/Components/Elements/LiveChat/use-freshchat.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: sonar cloud
  packages/trader/src/AppV2/Hooks/__tests__/useContractsForCompany.spec.tsx
Owners: @matin-deriv, @maryia-deriv

chore: remove coed smalls
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-description.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/StreamIframe/__tests__/stream-iframe.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/StreamIframe/stream-iframe.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/trade-types-selection-guide.tsx
Owners: @matin-deriv, @maryia-deriv

fix: adding is dbot to every strategy action
  packages/bot-skeleton/src/scratch/backward-compatibility.js
  packages/bot-skeleton/src/utils/index.js
  packages/bot-skeleton/src/utils/local-storage.js
  packages/bot-web-ui/src/stores/data-collection-store.ts
Owners: @sandeep-deriv, @vinu-deriv

chore: fix inline message for onfido and remove unused styles
  packages/wallets/src/features/accounts/modules/DocumentService/components/Onfido/Onfido.scss
  packages/wallets/src/features/accounts/modules/DocumentService/components/Onfido/Onfido.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: update the type of TContentItem
  packages/bot-web-ui/src/pages/dashboard/announcements/config.tsx
Owners: @sandeep-deriv, @vinu-deriv

feat(wallets): :sparkles: add WalletStatusBadge component
  packages/wallets/src/components/WalletStatusBadge/WalletStatusBadge.tsx
  packages/wallets/src/components/WalletStatusBadge/index.ts
  packages/wallets/src/components/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: one more attempt to auth user with jwt
  packages/core/src/App/Components/Elements/LiveChat/use-freshchat.ts
  types/global.d.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @markwylde-deriv

chore: test cases
  packages/account/src/Sections/Security/Passkeys/__tests__/passkeys.spec.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: test cases of accumulator announce
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcements.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
Owners: @sandeep-deriv, @vinu-deriv

Update smoketests.yml (#16733)
  .github/workflows/smoketests.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/km.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/uz.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: remove icons, isMounted
  packages/api/src/hooks/useRemoteConfig.ts
  packages/components/src/components/icon/icons.js
  packages/hooks/src/useLiveChat.ts
Owners: @wojciech-deriv, @matin-deriv, @yashim-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: reverted icons
  packages/components/src/components/icon/icons.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Ahmad/OPT-811/Turbos Redesign (#15865)
  packages/shared/src/utils/constants/contract.ts
  packages/shared/src/utils/helpers/barrier.ts
  packages/trader/src/App/Components/Form/fieldset.tsx
  packages/trader/src/Assets/Trading/Categories/Description/turbos-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/__tests__/trade-categories-gif.spec.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories-gif.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/__tests__/payout-per-point-input.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/__tests__/payout-per-point-mobile-input.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-input.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-mobile-input.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point.scss
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-glossary.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/__tests__/contract-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/value-movement.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/__tests__/barrier-selector.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/__tests__/payout-selector.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/barrier-selector.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/payout-selector.scss
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/payout-selector.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/__tests__/wheel-picker-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/__tests__/wheel-picker.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/index.ts
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.scss
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.tsx
  packages/trader/src/Modules/Trading/Components/Form/__tests__/screen-small.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.tsx
  packages/trader/src/Modules/Trading/Containers/__tests__/trade-params.spec.tsx
  packages/trader/src/Modules/Trading/Containers/trade-params.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/preview-proposal.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

DTRA-1707 / Kate / [DTrader-V2]: Fix UX issue for Turbos,Vanillas,Higher/Lower and Touch/No Touch trade type (#16747)
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.scss
  packages/trader/src/AppV2/Components/TradeParameters/__tests__/trade-parameters-container.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Containers/Trade/trade.scss
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: revert useremote default
  packages/api/src/hooks/useRemoteConfig.ts
  packages/hooks/src/useLiveChat.ts
Owners: @wojciech-deriv, @matin-deriv, @yashim-deriv, @ali-hosseini-deriv

fix: add condition for rendering purchase button
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: removed unused
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: improve styles as per design on mobile version
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.scss
Owners: @sandeep-deriv, @vinu-deriv

refactor: add id for teh video
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/trade-types-selection-guide.tsx
  packages/trader/src/Modules/Trading/Helpers/video-config.ts
Owners: @matin-deriv, @maryia-deriv

fix: fixed banners1
  packages/account/src/Configs/get-mt5-status-badge-config.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/components/src/components/status-badge/status-badge.scss
  packages/components/src/components/status-badge/status-badge.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv

fix: fixed banners2
  packages/components/src/components/status-badge/status-badge.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: fixed banners3
  packages/components/src/components/status-badge/status-badge.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: fixed banners4
  packages/account/src/Configs/get-mt5-status-badge-config.tsx
  packages/components/src/components/status-badge/status-badge.scss
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: fixed banners5
  packages/account/src/Configs/get-mt5-status-badge-config.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

refactor: update the type of TAnnounce
  packages/bot-web-ui/src/pages/dashboard/announcements/config.tsx
Owners: @sandeep-deriv, @vinu-deriv

refactor: update chart height calculations
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Utils/layout-utils.tsx
Owners: @matin-deriv, @maryia-deriv

fix: error message on invalid phone
  packages/hooks/src/useRequestPhoneNumberOTP.tsx
Owners: @ali-hosseini-deriv, @matin-deriv

fix: table alignment for languages
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

refactor: add tests
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Utils/__tests__/layout-utils.spec.ts
Owners: @matin-deriv, @maryia-deriv

refactor: apply suggestions
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-description.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/__tests__/trade-types-selection-guide.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/trade-types-selection-guide.tsx
  packages/trader/src/AppV2/Components/StreamIframe/__tests__/stream-iframe.spec.tsx
  packages/trader/src/AppV2/Components/StreamIframe/index.ts
  packages/trader/src/AppV2/Components/StreamIframe/stream-iframe.scss
  packages/trader/src/AppV2/Components/StreamIframe/stream-iframe.tsx
Owners: @matin-deriv, @maryia-deriv

chore: review comments, refactor appcontent
  packages/cashier/src/components/side-notes/side-note-faq/side-note-faq.tsx
  packages/core/src/App/AppContent.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: lc call in cashier
  packages/cashier/src/components/cashier-locked/cashier-locked-provider.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

chore: increased test coverage for symbol
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/__tests__/symbol.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: content
  packages/account/src/Components/poa/status/needs-review/__tests__/needs-review-spec.tsx
  packages/account/src/Components/poa/status/needs-review/index.ts
  packages/account/src/Components/poa/status/needs-review/needs-review.tsx
  packages/account/src/Components/poa/status/submitted/submitted.tsx
  packages/account/src/Components/poi/status/upload-complete/upload-complete.tsx
  packages/account/src/Components/route-button/__tests__/route-button.spec.tsx
  packages/account/src/Components/route-button/index.ts
  packages/account/src/Components/route-button/route-button.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/appstore/src/components/modals/verification-docs-list-modal/verification-docs-list-modal.tsx
  packages/cfd/src/Containers/cfd-enter-password-modal-title.tsx
  packages/cfd/src/Containers/cfd-password-modal-info.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/mt5-create-password/mt5-create-password.tsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/useGetStatus.ts
  packages/hooks/src/useIsSelectedMT5AccountCreated.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

fix: content
  packages/account/src/Configs/get-mt5-status-badge-config.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
