Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

feat: PositionsLoader
  packages/trader/src/AppV2/Components/Skeleton/skeleton.scss
  packages/trader/src/AppV2/Components/Skeleton/skeleton.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-loader.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.scss
Owners: @matin-deriv, @maryia-deriv

fix: remove notification on passkey creation
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

refactor: isolate ContractCardLoader
  packages/trader/src/AppV2/Components/ContractCard/contract-card-loader.tsx
  packages/trader/src/AppV2/Components/ContractCard/contract-card.scss
  packages/trader/src/AppV2/Components/ContractCard/index.ts
  packages/trader/src/AppV2/Containers/Positions/positions-loader.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.scss
Owners: @matin-deriv, @maryia-deriv

chore: created employment-tax-info section
  packages/account/build/webpack.config.js
  packages/account/src/Components/forms/form-fields/employment-status.tsx
  packages/account/src/Components/forms/form-fields/tax-residence.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/personal-details.tsx
  packages/account/src/Configs/employment-tax-info-config.ts
  packages/account/src/Configs/kyc-validation-config.ts
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Containers/employment-tax-details-container.tsx
  packages/account/src/Sections/Employment-Tax-info/employment-tax-info.scss
  packages/account/src/Sections/Employment-Tax-info/employment-tax-info.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/index.js
  packages/core/src/App/Containers/RealAccountSignup/account-wizard-form.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: balance destructure from undefined trackjs issue
  packages/bot-skeleton/src/services/tradeEngine/trade/Balance.js
Owners: @sandeep-deriv, @vinu-deriv

feat: add transfer button for mt5 trade modal
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: payment withdraw verification code
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/km.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update code to have better user flow
  packages/account/src/Sections/Profile/PhoneVerification/cancel-phone-verification-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/account/src/Sections/Profile/PhoneVerification/didnt-get-the-code-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/hooks/src/useRequestPhoneNumberOTP.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: ui
  packages/cashier/src/components/side-notes/side-note-faq/side-note-faq.tsx
  packages/cashier/src/modules/deposit-fiat/components/deposit-fiat-iframe/deposit-fiat-iframe.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

chore: move icons to constant
  packages/wallets/src/components/WalletCurrencyIcon/WalletCurrencyIcon.tsx
  packages/wallets/src/constants/icons.ts
  packages/wallets/src/public/images/demo-logo.svg
  packages/wallets/src/types.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: ui
  packages/cashier/src/modules/deposit-fiat/components/deposit-fiat-iframe/deposit-fiat-iframe.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/km.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/km.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: remove badge from wallet card
  packages/wallets/src/components/WalletCard/WalletCard.scss
  packages/wallets/src/components/WalletCard/WalletCard.tsx
  packages/wallets/src/components/WalletCard/__tests__/WalletCard.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: upload strategy start and switch tab events
  packages/bot-web-ui/src/analytics/rudderstack-dashboard.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: different approach for withdrawal verification
  packages/core/src/Stores/client-store.js
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/WalletWithdrawal.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: moved function to a separate file and fix ts errors
  packages/core/src/App/Containers/Layout/header/dtrader-v2-contract-detail-header.tsx
  packages/trader/src/AppV2/Components/ContractCard/contract-card.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/AppV2/Utils/positions-utils.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: add observer
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

feat: remove ContractCardLoader
  packages/trader/src/AppV2/Components/ContractCard/contract-card-loader.tsx
  packages/trader/src/AppV2/Components/ContractCard/contract-card.scss
  packages/trader/src/AppV2/Components/ContractCard/index.ts
  packages/trader/src/AppV2/Containers/Positions/positions-loader.tsx
Owners: @matin-deriv, @maryia-deriv

chore: add passkey id to options api call
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/hooks/src/useRemovePasskey.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: add mn to langugaes
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

fix: update minsize
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

chore: fix design inconsistencies
  packages/wallets/src/components/WalletCurrencyCard/WalletCurrencyCard.scss
  packages/wallets/src/components/WalletCurrencyCard/WalletCurrencyCard.tsx
  packages/wallets/src/components/WalletCurrencyIcon/WalletCurrencyIcon.tsx
  packages/wallets/src/components/WalletListCard/WalletListCard.tsx
  packages/wallets/src/constants/icons.ts
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: revert back some widths inside of WalletCurrencyIcon
  packages/wallets/src/components/WalletCurrencyCard/WalletCurrencyCard.tsx
  packages/wallets/src/components/WalletCurrencyIcon/WalletCurrencyIcon.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: update translation library version to support mn language
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: fix type in test case
  packages/wallets/src/components/AppCard/__tests__/AppCard.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: issue with changing duration type
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/duration-type.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: changed reset balance to transfer
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: margin alignment
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/parts/loss-threshold-warning-dialog.scss
Owners: @sandeep-deriv, @vinu-deriv

fix: style changes for Real account sign up layout
  packages/account/src/Configs/employment-tax-info-config.ts
  packages/account/src/Containers/employment-tax-details-container.tsx
  packages/account/src/Sections/Employment-Tax-info/employment-tax-info.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/components/src/components/form-progress/form-progress.scss
  packages/core/src/sass/details-form.scss
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: applied comments
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: applied comments
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: change icons in Transfer page for real and demo wallets
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.scss
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/km.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: added exluded error code
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
