Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: update test case
  packages/trader/src/AppV2/Components/TradeTypeList/__tests__/trade-type-list-item.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: update quill-ui package
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: remove redundant ModalFooter buttons
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModalFooters.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: updated useSortedMT5Accounts to include zero spread
  packages/api-v2/src/hooks/useSortedMT5Accounts.ts
  packages/api-v2/types.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

fix: upgrade quill-ui to latest version
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: renamed variable name to be consistant
  packages/api-v2/src/hooks/useSortedMT5Accounts.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

chore: update test case
  packages/trader/src/AppV2/Components/TradeTypeList/__tests__/trade-type-list-item.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: add early return to look cool
  packages/api-v2/src/hooks/useSortedMT5Accounts.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

chore: update to use IconButton
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: subpage name on all the events
  packages/bot-web-ui/src/analytics/__tests__/utils.spec.ts
  packages/bot-web-ui/src/analytics/rudderstack-common-events.ts
  packages/bot-web-ui/src/analytics/rudderstack-dashboard.ts
  packages/bot-web-ui/src/analytics/utils.ts
  packages/bot-web-ui/src/components/trade-animation/trade-animation.tsx
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/pages/dashboard/user-guide.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: update utils test case
  packages/bot-web-ui/src/analytics/__tests__/utils.spec.ts
Owners: @sandeep-deriv, @vinu-deriv

refactor: tests
  packages/trader/src/AppV2/Components/DatePicker/__tests__/date-picker.spec.tsx
  packages/trader/src/AppV2/Components/Filter/__tests__/contract-type-filter.spec.tsx
  packages/trader/src/AppV2/Components/Filter/__tests__/time-filter.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide-definition-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide-description-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/__tests__/allow-equals.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/__tests__/last-digit-prediction.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/__tests__/strike.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike-wheel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.scss
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/__tests__/take-profit.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions-content.spec.tsx
Owners: @matin-deriv, @maryia-deriv

feat: remove binary bot from deriv app
  packages/account/src/Components/self-exclusion/self-exclusion-article.tsx
  packages/appstore/src/assets/svgs/trading-platform/branding/ic-branding-binarybot-dashboard.svg
  packages/appstore/src/assets/svgs/trading-platform/ic-appstore-binarybot-blue.svg
  packages/appstore/src/assets/svgs/trading-platform/index.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/constants/platform-config.ts
  packages/appstore/src/types/common.types.ts
  packages/components/src/components/icon/rebranding/ic-rebranding-binary-bot.svg
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/App/Constants/platform-config.ts
  packages/core/src/App/Containers/Layout/header/default-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/default-header.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.tsx
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/warning-close-create-real-account-content.jsx
  packages/core/src/Modules/BinaryBotIFrame/BinaryBotIFrame.jsx
  packages/core/src/Modules/BinaryBotIFrame/index.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/common-store.js
  packages/shared/brand.config.json
  packages/shared/src/utils/brand/brand.ts
  packages/shared/src/utils/platform/platform.ts
  packages/shared/src/utils/routes/routes.ts
  packages/shared/src/utils/url/constants.ts
  packages/shared/src/utils/url/helpers.ts
  packages/stores/types.ts
  packages/wallets/src/components/OptionsAndMultipliersListing/LinkTitle.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/__test__/LinkTitle.spec.tsx
  packages/wallets/src/constants/constants.tsx
  packages/wallets/src/constants/icons.ts
  packages/wallets/src/features/cashier/constants/constants.ts
  packages/wallets/src/helpers/urls.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: lazy load PageContainer component
  packages/cashier/src/components/cashier-locked-checker/cashier-locked-checker.tsx
  packages/cashier/src/components/page-container/index.ts
  packages/cashier/src/modules/cashier-onboarding/cashier-onboarding.tsx
  packages/cashier/src/modules/deposit-crypto/deposit-crypto.tsx
  packages/cashier/src/modules/deposit-fiat/deposit-fiat.tsx
  packages/cashier/src/modules/transactions-crypto/transactions-crypto.tsx
  packages/cashier/src/pages/account-transfer/account-transfer.tsx
  packages/cashier/src/pages/deposit/deposit.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer.tsx
  packages/cashier/src/pages/payment-agent/payment-agent.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

chore: fix sonarcloud issues
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/config.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: finally remove binary type from wallets
  packages/wallets/src/components/AccountsList/__tests__/AccountsList.spec.tsx
  packages/wallets/src/features/cashier/helpers/helpers.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: remove comments
  packages/account/src/Sections/Verification/ProofOfIncome/proof-of-income-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: added the tracking for virtual signup after api call
  packages/account-v2/src/modules/scripts/webpack-entries.json
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: change text in unit test
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-article.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: trnslation issue
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/accumulators-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/multiplier-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/turbos-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/vanillas-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/accumulators-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/multipliers-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/turbos-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/vanillas-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide-definition-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
  packages/trader/src/AppV2/Components/Guide/guide-definition-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Utils/__tests__/contract-description.spec.tsx
  packages/trader/src/AppV2/Utils/contract-description-utils.tsx
Owners: @matin-deriv, @maryia-deriv

chore: fix sonarcloud issues(2)
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-components.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
Owners: @sandeep-deriv, @vinu-deriv

refactor: replace small localize with big one
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/accumulators-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/multiplier-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/turbos-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/vanillas-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/accumulators-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/multipliers-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/turbos-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/vanillas-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide-definition-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
  packages/trader/src/AppV2/Components/Guide/guide-definition-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Utils/__tests__/contract-description.spec.tsx
  packages/trader/src/AppV2/Utils/contract-description-utils.tsx
Owners: @matin-deriv, @maryia-deriv

chore: fix sonarcloud issues(3)
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: make disabled purchase buttons non-transparent + growth rate feature style and tests fixes
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.scss
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/__tests__/growth-rate.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate-picker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.scss
Owners: @matin-deriv, @maryia-deriv

chore: revert lazy load PageContainer component
  packages/cashier/src/components/cashier-locked-checker/cashier-locked-checker.tsx
  packages/cashier/src/pages/account-transfer/account-transfer.tsx
  packages/cashier/src/pages/deposit/deposit.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer.tsx
  packages/cashier/src/pages/payment-agent/payment-agent.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: height and positioning of the video
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.scss
Owners: @matin-deriv, @maryia-deriv

refactor: suggestion
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/accumulators-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/multiplier-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/turbos-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/vanillas-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/accumulators-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/multipliers-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/turbos-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/vanillas-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide-definition-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
  packages/trader/src/AppV2/Components/Guide/guide-definition-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Utils/__tests__/contract-description.spec.tsx
  packages/trader/src/AppV2/Utils/contract-description-utils.tsx
Owners: @matin-deriv, @maryia-deriv

fix: modal
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/cfd/src/Containers/cfd-password-modal-info.tsx
  packages/cfd/src/Containers/cfd-password-modal-title.tsx
  packages/cfd/src/Containers/cfd-password-modal-tnc.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/cfd-password-success-icon.tsx
  packages/cfd/src/Containers/jurisdiction-checkbox.tsx
  packages/cfd/src/Containers/jurisdiction-licence-note.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/core/src/Stores/traders-hub-store.js
  packages/shared/src/utils/cfd/cfd.ts
  packages/shared/src/utils/constants/jurisdictions-config.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: set is_loading to false as it was stuck due to the onMount function in general store
  packages/p2p/src/stores/general-store.js
Owners: @farrah-deriv, @nijil-deriv

fix: subscribe to api message after account switch (#16387)
  packages/bot-web-ui/src/app/__tests__/app-content.spec.tsx
  packages/bot-web-ui/src/app/app-content.jsx
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: added zero spread title
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/types.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: fixed mobile botton issue
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: edit workflows on build docker image
  .github/workflows/build_docker_image.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: shayan ignore environment file to ensure keys are not committed (#16382)
  .gitignore
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: edit workflows on build docker image (#16397)
  .github/workflows/build_docker_image.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: add github.ref_name
  .github/workflows/build_docker_image.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Suisin/update workflow for build docker image (#16399)
  .github/workflows/build_docker_image.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: useSortedMT5Accounts for added accounts
  packages/api-v2/src/hooks/useSortedMT5Accounts.ts
  packages/api-v2/types.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
