Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: zero spread patch
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
  packages/stores/types.ts
Owners: @hirad-deriv, @matin-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: added fallback if iframe is error
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

feat: resolved conflicts
  packages/api-v2/src/AuthProvider.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

chore: resolved comment
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: Add product filtering for swap free jurisdiction modal
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
Owners: @hirad-deriv, @matin-deriv

chore: added type
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: wrong import
  packages/core/src/App/Containers/ConfirmEmailModal/__tests__/confirm-email-modal.spec.tsx
  packages/core/src/App/Containers/ConfirmEmailModal/confirm-email-modal.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: login codn
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: rename const
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: add account icon
  packages/components/src/components/icon/appstore/ic-appstore-account.svg
  packages/components/src/components/icon/icons.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: created validation configs
  packages/account/src/Components/forms/form-fields/employment-status.tsx
  packages/account/src/Configs/validation-config.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: replace reset balance icon with transfer icon inside of demo wallet (#15706)
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: make available bot subscription after reloading the page
  packages/bot-web-ui/src/pages/server-bot/server-bot-list.tsx
  packages/bot-web-ui/src/pages/server-bot/server-bot.tsx
  packages/bot-web-ui/src/stores/server-bot-store.ts
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: loading state for Profit Table and Statement
  packages/reports/src/Stores/Modules/Profit/profit-store.js
  packages/reports/src/Stores/Modules/Statement/statement-store.js
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

[CFDS] shontzu/CFDS-4248/Add-product-filtering-for-swap-free-jurisdiction-modal (#15734)
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
  packages/stores/types.ts
Owners: @hirad-deriv, @matin-deriv, @ali-hosseini-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[CFDS] shontzu/CFDS-4248/Add-product-filtering-for-swap-free-jurisdiction-modal (#15734)
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
  packages/stores/types.ts
Owners: @hirad-deriv, @matin-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: add tests
  packages/reports/src/Components/Routes/__tests__/binary-link.spec.tsx
  packages/reports/src/Components/Routes/__tests__/binary-routes.spec.tsx
  packages/reports/src/Components/Routes/__tests__/route-with-sub-routes.spec.tsx
  packages/reports/src/Components/Routes/binary-link.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

fix: platform condition
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
  packages/shared/src/utils/platform/platform.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: fix black border issues, applied comments and remove fallback
  packages/appstore/package.json
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/shared/src/styles/themes.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

style: :lipstick: Improved position of trade type on summary panel
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: feature flag
  packages/stores/src/stores/FeatureFlagsStore.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: removed unused funciton
  packages/account/src/Components/poi/status/unsupported/card-details/card-details.tsx
  packages/account/src/Components/poi/status/unsupported/detail-component.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/__tests__/proof-of-identity-container.spec.js
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/core/src/Stores/client-store.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: shorten url and use props
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: added validations
  packages/account/src/Configs/kyc-validation-config.ts
  packages/account/src/Configs/user-profile-validation-config.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: package-lock.json
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: issue with my ads page in firefox browser
  packages/p2p/src/pages/my-ads/my-ads.scss
Owners: @farrah-deriv, @nijil-deriv

fix: awaited language change before update
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/core/src/App/Components/Routes/language-link.tsx
  packages/core/src/App/Containers/SettingsModal/settings-language.jsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: apply all renaming and grammar suggestions
  packages/core/src/App/Components/Layout/Header/dtrader-v2/Utils/__tests__/account-switcher-dtrader-v2-utils.spec.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-switcher-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/real-signup-banner-dtrader-v2.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/dtrader-v2-header.spec.tsx
  packages/core/src/sass/app/_common/components/real-signup-banner-dtrader-v2.scss
  packages/core/src/sass/app/_common/layout/header.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: use context to get balance
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[P2PS] / Ameerul / P2PS-2607 'Invalid verification link' header text and 'Get new link' button is seen when user clicks on Resend Email Pop Up (#15603)
  packages/p2p/src/components/modal-manager/modals/email-link-blocked-modal/email-link-blocked-modal.tsx
  packages/p2p/src/components/modal-manager/modals/invalid-verification-link-modal/__tests__/invalid-verification-link-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/invalid-verification-link-modal/invalid-verification-link-modal.scss
  packages/p2p/src/components/modal-manager/modals/invalid-verification-link-modal/invalid-verification-link-modal.tsx
  packages/p2p/src/stores/order-store.js
Owners: @farrah-deriv, @nijil-deriv

[P2PS] / Ameerul / P2PS-2880 p2p_advert_info sends empty ID causing the page to go blank (#15272)
  packages/p2p/src/stores/my-profile-store.js
Owners: @farrah-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: :white_check_mark: on change currency it should reflect - accumulator
  packages/bot-web-ui/src/stores/app-store.ts
Owners: @sandeep-deriv, @vinu-deriv

refactor: apply suggections for banners icon
  packages/core/src/App/Components/Layout/Header/dtrader-v2/__tests__/account-switcher-dtrader-v2.spec.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/real-signup-banner-dtrader-v2.tsx
  packages/core/src/sass/app/_common/components/real-signup-banner-dtrader-v2.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[UPM-1205]/evgeniy/reset and confirm email modals TS migration (#15689)
  packages/account/src/Components/sent-email-modal/sent-email-modal.tsx
  packages/api/types.ts
  packages/core/src/App/Containers/ConfirmEmailModal/__tests__/confirm-email-modal.spec.tsx
  packages/core/src/App/Containers/ConfirmEmailModal/confirm-email-modal.tsx
  packages/core/src/App/Containers/ResetEmailModal/__tests__/reset-email-modal.spec.tsx
  packages/core/src/App/Containers/ResetEmailModal/index.js
  packages/core/src/App/Containers/ResetEmailModal/index.ts
  packages/core/src/App/Containers/ResetEmailModal/reset-email-modal.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @wojciech-deriv, @yashim-deriv, @ali-hosseini-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv
