Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: resolve sonarcloud error
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/TransactionsCompletedRow.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: resolve sonarcloud issue
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/TransactionsCompletedRow.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: resolve sonarcloud issue
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/TransactionsCompletedRow.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: changes for showing Onfido for ng clients in manual flows
  packages/api-v2/src/hooks/usePOI.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/Onfido/Onfido.scss
  packages/wallets/src/features/accounts/modules/DocumentService/components/Onfido/Onfido.tsx
  packages/wallets/src/features/accounts/modules/ManualService/ManualService.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentSelection/DocumentSelection.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

feat: add video guide for Turbos
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/video-preview.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/video-preview.tsx
  packages/trader/src/AppV2/Utils/__tests__/contract-description.spec.tsx
  packages/trader/src/AppV2/Utils/contract-description-utils.tsx
  packages/trader/src/Modules/Trading/Helpers/__tests__/video-config.spec.ts
  packages/trader/src/Modules/Trading/Helpers/video-config.ts
Owners: @matin-deriv, @maryia-deriv

fix: change walletText to Text component
  packages/wallets/src/components/WalletBadge/WalletBadge.tsx
  packages/wallets/src/components/WalletBadge/__test__/WalletBadge.spec.tsx
  packages/wallets/src/features/cfd/components/CFDPasswordModalTnc/CFDPasswordModalTnc.tsx
  packages/wallets/src/features/cfd/components/CFDPasswordModalTnc/__tests__/CFDPasswordModalTnc.spec.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/screens/CreatePasswordMT5/CreatePasswordMT5.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[BOT]maryia/BOT-1981/feat: Add a "What's new" section to the dashboard to promote Accumulators (#16369)
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/pages/dashboard/__tests__/user-guide.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcement-dialog.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcement.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcements.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-components.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/config.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/index.ts
  packages/bot-web-ui/src/pages/dashboard/announcements/utils/accumulator-helper-functions.ts
  packages/bot-web-ui/src/pages/dashboard/dashboard.tsx
  packages/bot-web-ui/src/pages/dashboard/user-guide.tsx
  packages/bot-web-ui/src/pages/tutorials/constants.ts
  packages/core/src/public/images/common/static_images/introducing_accumulators_on_deriv_bot.png
Owners: @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: correct the payload data for manual nimc_slip upload
  packages/wallets/src/features/accounts/modules/ManualService/components/NIMCSlipUpload/hooks/useNIMCSlipUpload.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: update onfido header
  packages/wallets/src/features/accounts/modules/DocumentService/components/Onfido/Onfido.scss
  packages/wallets/src/features/accounts/modules/DocumentService/components/Onfido/Onfido.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: sonar cloud and test cases
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/__tests__/trade-type-list.spec.jsx
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list.scss
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade-types.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Owners: @matin-deriv, @maryia-deriv

chore: add cool down period modal
  packages/account/src/Sections/Profile/PhoneVerification/__test__/cool-down-period-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/otp-verification.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/cool-down-period-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/core/src/Stores/ui-store.js
  packages/hooks/src/__tests__/useSendOTPVerificationCode.spec.tsx
  packages/hooks/src/useSendOTPVerificationCode.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: remove is_forced_to_route from ui store
  packages/account/src/Sections/Profile/PhoneVerification/__test__/cool-down-period-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/cool-down-period-modal.tsx
  packages/core/src/Stores/ui-store.js
  packages/hooks/src/useSendOTPVerificationCode.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: update MT5 badge according to design
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.scss
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: make small fixes
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: removed commented Tests
  packages/account/src/Components/forms/__tests__/personal-details-form.spec.tsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: issue with VerifyPersonal details checkbox
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/hooks/useVerifyPersonalDetails.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/utils/verifyPersonalDetailsValidationSchema.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: removed commented Tests
  packages/account/src/Components/forms/form-fields/__tests__/tax-identification-number.spec.tsx
  packages/api/package.json
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @wojciech-deriv, @yashim-deriv

fix: added employment status testcases
  packages/account/src/Components/forms/form-fields/__tests__/tax-identification-number.spec.tsx
  packages/account/src/Components/forms/form-fields/tax-indentification-number.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Containers/employment-tax-details-container/__tests__/employment-tax-details-container.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: sonarcloud issues
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/validation.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/hooks/src/__tests__/useTinValidations.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

feat: WALL-4782 remnoved duplicated closing, added silent forget request
  packages/api-v2/src/APIProvider.tsx
  packages/api-v2/src/ws-client/request.ts
  packages/api-v2/src/ws-client/subscription.ts
  packages/api-v2/src/ws-client/subscriptions-manager.ts
  packages/api-v2/src/ws-client/ws-client.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

fix: failed testcases
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
  packages/account/src/Configs/__test__/user-profile-validation-config.spec.ts
  packages/account/src/Configs/user-profile-validation-config.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: fixed tests
  packages/api-v2/src/ws-client/__tests__/subscription.spec.ts
  packages/api-v2/src/ws-client/mock-websocket-factory.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

feat: extra tests
  packages/api-v2/src/ws-client/__tests__/subscriptions-manager.spec.ts
  packages/api-v2/src/ws-client/subscription.ts
  packages/api-v2/src/ws-client/subscriptions-manager.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

chore: remove unnecessary check for has_wallet (#16488)
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.tsx
Owners: @matin-deriv, @maryia-deriv

chore: replace text with loader and add missed translations
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/screens/DynamicLeverage/DynamicLeverageMarketCard.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionScreen.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: applied comments
  packages/wallets/src/features/cashier/modules/ResetBalance/ResetBalance.tsx
  packages/wallets/src/features/cashier/modules/ResetBalance/ResetBalanceContent.tsx
  packages/wallets/src/features/cashier/modules/ResetBalance/__tests__/ResetBalanceContent.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: applied comments
  packages/wallets/src/features/cashier/modules/ResetBalance/ResetBalance.tsx
  packages/wallets/src/features/cashier/modules/ResetBalance/ResetBalanceContent.tsx
  packages/wallets/src/features/cashier/modules/ResetBalance/__test__/ResetBalance.spec.tsx
  packages/wallets/src/features/cashier/modules/ResetBalance/__tests__/ResetBalanceContent.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: applied comments
  packages/wallets/src/features/cashier/modules/ResetBalance/ResetBalance.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: try to fix test cases
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade-types.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: resolved sonarcloud issues
  packages/account/src/Configs/kyc-validation-config.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: password
  packages/cfd/src/Containers/cfd-enter-password-modal-title.tsx
  packages/cfd/src/Containers/cfd-password-modal-info.tsx
  packages/cfd/src/Containers/cfd-password-modal-tnc.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/mt5-create-password.tsx
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
Owners: @hirad-deriv, @matin-deriv

fix: try to fix test cases
  packages/trader/src/AppV2/Components/TradeTypeList/__tests__/trade-type-list.spec.jsx
Owners: @matin-deriv, @maryia-deriv

fix: added personal details validation
  packages/account/src/Configs/__test__/user-profile-validation-config.spec.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: [UPM-1366]/evgeniy/page keeps loading after reastablishing the connection (#16535)
  packages/account/src/Components/network-status-toast-popup/network-status-toast-popup.tsx
  packages/hooks/src/__tests__/useGetPasskeysList.spec.tsx
  packages/hooks/src/useGetPasskeysList.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/uz.json
Owners: @farrah-deriv, @nijil-deriv

fix: reset testcases
  packages/account/src/Configs/__test__/user-profile-validation-config.spec.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: personal details
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details-form.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: add observable
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

fix: add contract_types_list_v2 to mockStore
  packages/stores/src/mockStore.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: add margin for banner
  packages/appstore/src/modules/traders-hub/traders-hub.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
