Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: trigger buy without proposal
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-actions-dtrader-v2.tsx
  packages/stores/src/stores/FeatureFlagsStore.ts
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: use refs instead of DOM methods for temporary focused input
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

chore: empty commit
  packages/cfd/src/Containers/__tests__/trading-password-manager.spec.js
Owners: @hirad-deriv, @matin-deriv

fix: Removed Jurisdiction, POI, POA, Personal details from mt5
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/cfd/build/webpack.config.js
  packages/cfd/src/Components/__tests__/cfd-account-card.spec.tsx
  packages/cfd/src/Components/__tests__/cfd-personal-details-form.spec.js
  packages/cfd/src/Components/__tests__/cfd-poa.spec.tsx
  packages/cfd/src/Components/__tests__/cfd-poi.spec.js
  packages/cfd/src/Components/cfd-personal-details-form.tsx
  packages/cfd/src/Components/cfd-poa.tsx
  packages/cfd/src/Components/cfd-poi.tsx
  packages/cfd/src/Containers/__tests__/cfd-financial-stp-real-account-signup.spec.js
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-description.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-title-icon.spec.tsx
  packages/cfd/src/Containers/cfd-dbvi-onboarding.tsx
  packages/cfd/src/Containers/cfd-financial-stp-real-account-signup.tsx
  packages/cfd/src/Containers/cfd-password-modal-tnc.tsx
  packages/cfd/src/Containers/cfd-personal-details-container.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card-back.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card-front.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card-section.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-clickable-description.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-checkbox.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-content.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-foot-note.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-title.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-title-indicator.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-back.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-front.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-section.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-clickable-description.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-checkbox.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-foot-note.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-title.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-title-indicator.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv

fix: server side bot test cases
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/__tests__/quick-strategy.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/accordion-strategy-group.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/desktop-form-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/form-tabs.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/mobile-form-wrapper.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: fix cd /Users/suisin/Documents/deriv-apppersonal-details-form test case
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details-form.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: added async await instead of then
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: added async await instead of then
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: reverted removed analytics attr
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: removed comments
  packages/cfd/src/Containers/__tests__/trading-password-manager.spec.js
Owners: @hirad-deriv, @matin-deriv

feat: add purchase notification
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Containers/Notifications/index.ts
  packages/trader/src/AppV2/Containers/Notifications/notifications.scss
  packages/trader/src/AppV2/Containers/Notifications/notifications.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

chore: removed unused code
  packages/cfd/src/Components/migration-success-modal/migration-success-modal.tsx
Owners: @hirad-deriv, @matin-deriv

chore: update otp-verification test case
  packages/account/src/Sections/Profile/PhoneVerification/__test__/otp-verification.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: refactor error component to TS
  packages/cfd/src/Components/Errors/error-component.tsx
  packages/cfd/src/Components/Errors/index.js
  packages/cfd/src/Components/Errors/index.ts
Owners: @hirad-deriv, @matin-deriv

chore: update workflows to have environment of staging
  .github/workflows/build_docker_image.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: update npm run build with a growthbook keys
  .github/workflows/build_docker_image.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Suisin/chore: update workflows to have environment of staging (#16292)
  .github/workflows/build_docker_image.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: update build_docker_image.yml file
  .github/workflows/build_docker_image.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: :construction: added download and reset feature
  packages/bot-web-ui/src/pages/server-side-bot/journal/journal.tsx
  packages/bot-web-ui/src/pages/server-side-bot/summary/summary.scss
  packages/bot-web-ui/src/pages/server-side-bot/summary/summary.tsx
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Owners: @sandeep-deriv, @vinu-deriv

Suisin/update workflow to have staging environment (#16293)
  .github/workflows/build_docker_image.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: fix card width inside of Tablet view
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: apply design changes
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/__tests__/take-profit.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-description.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.scss
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/de.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: error component import
  packages/cfd/src/Components/Errors/__tests__/error-component.spec.tsx
  packages/cfd/src/Containers/routes.jsx
Owners: @hirad-deriv, @matin-deriv

fix: server side bot test cases (#16289)
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/__tests__/quick-strategy.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/accordion-strategy-group.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/desktop-form-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/form-tabs.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/mobile-form-wrapper.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

feat: add redirect on click to contract details
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

fix: reponsive modal fix (#16286)
  packages/wallets/src/App.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: google drive import issue
  packages/bot-web-ui/src/stores/save-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: reponsive modal fix (#16286)
  packages/wallets/src/App.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/de.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: :sparkles: added country check
  packages/bot-web-ui/src/pages/main/main.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/config.ts
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list-menu.tsx
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.tsx
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: google drive import issue (#16296)
  packages/bot-web-ui/src/stores/save-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: types
  packages/cfd/src/Components/Errors/error-component.tsx
Owners: @hirad-deriv, @matin-deriv

build: update analytics package to version 1.11.0
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

feat: add error message for cashier
  packages/cashier/src/components/cashier-locked/cashier-locked-provider.tsx
  packages/cashier/src/components/cashier-locked/cashier-locked.tsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/__tests__/useDuplicateDOBPhone.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useDuplicateDOBPhone.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: :sparkles: Cleanup and updated content messages
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/add-bot.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/parts/__tests__/loss-threshold-warning.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/parts/loss-threshold-warning-dialog.tsx
  packages/bot-web-ui/src/pages/server-side-bot/container/container.tsx
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: google drive import issue (#16296)
  packages/bot-web-ui/src/stores/save-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

feat: tracking with feature flag enabled
  packages/appstore/src/components/app-content.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/types.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/de.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: build failure issue
  packages/stores/src/mockStore.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
