Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: added minsize to splitchunk
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

chore: fix desktop modal issue
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: update unit test for available dxtrade account
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/__test__/AvailableDxtradeAccountsList.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: implement market selection and default market selection
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.tsx
  packages/trader/src/AppV2/Components/MarketCategory/market-category.scss
  packages/trader/src/AppV2/Components/MarketCategory/market-category.tsx
  packages/trader/src/AppV2/Components/MarketCategoryItem/index.ts
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.scss
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Components/SymbolIconsMapper/symbol-icons-mapper.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
Owners: @matin-deriv, @maryia-deriv

refactor: add tests for rest contract types
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/accumulators-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/rise-fall-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/touch-no-touch-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/turbos-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/vanillas-trade-description.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: basket indices icon
  packages/wallets/src/public/images/tradingInstruments.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: update quill-ui version and updated codes for expired-link-modal
  package-lock.json
  packages/account/package.json
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/account/src/Sections/Profile/PhoneVerification/verification-link-expired-modal.tsx
  packages/core/package.json
  packages/hooks/src/usePhoneNumberVerificationSetTimer.tsx
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: update styles and test case
  packages/bot-web-ui/src/pages/dashboard/__tests__/user-guide.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/dashboard.scss
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/index.scss
Owners: @sandeep-deriv, @vinu-deriv

fix: component
  packages/account/src/Containers/employment-tax-details-container.tsx
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.scss
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
  packages/account/src/Containers/employment-tax-details-container/index.ts
  packages/account/src/Sections/Employment-Tax-info/employment-tax-info.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

refactor: description file
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/accumulators-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/multiplier-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/turbos-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/vanillas-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/accumulators-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/multipliers-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/turbos-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/vanillas-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/guide.scss
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
Owners: @matin-deriv, @maryia-deriv

Update smoketests.yml (#15853)
  .github/workflows/smoketests.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: separate mt5_login_list status from trading_platform_status
  packages/account/src/Configs/get-status-badge-config.tsx
  packages/account/src/Types/common.type.ts
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/shared/src/utils/constants/mt5-login-list-status.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv

fix: handle light/dark theme select markets
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.tsx
  packages/trader/src/AppV2/Components/MarketCategory/market-category.scss
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
Owners: @matin-deriv, @maryia-deriv

chore: update verification link expired modal
  packages/account/src/Sections/Profile/PhoneVerification/__test__/verification-link-expired-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/account/src/Sections/Profile/PhoneVerification/verification-link-expired-modal.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: resolve comment
  packages/wallets/package.json
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: remove unnecessary code
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/__test__/AvailableDxtradeAccountsList.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: add video to description acc
  packages/trader/src/AppV2/Components/Guide/Description/accumulators-trade-description.tsx
Owners: @matin-deriv, @maryia-deriv

fix: update package version
  packages/account/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @hirad-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv

fix: update package version
  packages/account/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @hirad-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv

chore: [UPM-1228]/evgeniy/update analytics package
  package-lock.json
  package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/components/src/components/icon/icons.js
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

feat: add react-beautiful-dnd
  package-lock.json
  package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: quick strategy form scroll
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.scss
Owners: @sandeep-deriv, @vinu-deriv

fix: fix import
  packages/account/src/Components/address-details/__tests__/address-details.spec.tsx
  packages/account/src/Components/address-details/address-details.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: update jest config
  packages/wallets/jest.config.js
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: update jest config
  packages/wallets/jest.config.js
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: update analytics in api v2
  package-lock.json
  packages/api-v2/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @amina-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @nijil-deriv, @sandeep-deriv

fix: PositionsContent test
  packages/components/src/components/loading/dtrader-v2-loaders/contract-card-loader.tsx
  packages/components/src/components/loading/dtrader-v2-loaders/contract-details-loader.tsx
  packages/components/src/components/loading/dtrader-v2-loaders/positions-loader.tsx
  packages/components/src/components/loading/dtrader-v2-loaders/trade-loader.tsx
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions-content.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: updated the declaration to inside the function scope
  packages/bot-web-ui/src/pages/tutorials/quick-strategy-content/quick-strategy-guides-details.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: fetch active symbol by contract type
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
Owners: @matin-deriv, @maryia-deriv

chore: minor changes
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/__test__/AvailableDxtradeAccountsList.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: checkbox
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.scss
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
  packages/account/src/Containers/employment-tax-info/employment-tax-info.scss
  packages/account/src/Containers/employment-tax-info/employment-tax-info.tsx
  packages/account/src/Sections/index.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: import
  packages/core/src/App/Containers/RealAccountSignup/account-wizard-form.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: updted validation schema
  packages/account/src/Components/forms/__tests__/personal-details-form.spec.tsx
  packages/account/src/Components/forms/form-fields/tax-residence.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
  packages/account/src/Containers/employment-tax-info/employment-tax-info.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: wheelpicker
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/index.ts
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.scss
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: components for forms - FlowTextField becomes FormField - removed usage of FlowProvider from FormField and DatePicker
  packages/wallets/src/components/DatePicker/DatePicker.tsx
  packages/wallets/src/components/DatePicker/__tests__/DatePicker.spec.tsx
  packages/wallets/src/components/FlowField/index.ts
  packages/wallets/src/components/FormField/FormField.tsx
  packages/wallets/src/components/FormField/__tests__/FormField.tsx
  packages/wallets/src/components/FormField/index.ts
  packages/wallets/src/components/index.ts
  packages/wallets/src/types.ts
  packages/wallets/src/utils/__tests__/utils.spec.ts
  packages/wallets/src/utils/utils.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: added AddedDxtradeAccountsList test case
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/__test__/AddedDxtradeAccountsList.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: optimize unit tests
  packages/appstore/src/components/after-signup-flow/__tests__/after-signup-flow.spec.tsx
  packages/appstore/src/components/modals/setup-real-account-or-go-to-demo-modal/__tests__/setup-real-account-or-go-to-demo-modal-content.spec.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: incorporated new checkbox in validation
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Containers/employment-tax-details-container/employment-tax-details-container.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

refactor: reorganize structure and create a separate componenet for video
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/__tests__/accumulators-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/__tests__/even-odd-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/__tests__/higher-lower-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/__tests__/matches-differs-trade-descriptioon.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/__tests__/multiplier-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/__tests__/over-under-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/__tests__/rise-fall-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/__tests__/touch-no-touch-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/__tests__/turbos-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/__tests__/vanillas-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/accumulators-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/even-odd-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/higher-lower-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/matches-differs-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/multipliers-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/over-under-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/rise-fall-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/touch-no-touch-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/turbos-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/Contract description/vanillas-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/accumulators-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/video-fragment.tsx
  packages/trader/src/AppV2/Components/Guide/decription-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.scss
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
Owners: @matin-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
