Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

fix: other ui issues
  packages/cashier/src/components/crypto-fiat-converter/crypto-fiat-converter.scss
  packages/cashier/src/containers/cashier/cashier.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: :ambulance: downgrade deriv-com/analytics to v1.5.9 (#16049)
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

fix: use useDevice instead of ui store for screen size checks
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
  packages/cashier/package.json
  packages/cashier/src/components/cashier-container/virtual/virtual.tsx
  packages/cashier/src/components/crypto-fiat-converter/crypto-fiat-converter.tsx
  packages/cashier/src/components/error/error.tsx
  packages/cashier/src/components/page-container/page-container.tsx
  packages/cashier/src/components/side-note/side-note.tsx
  packages/cashier/src/components/side-notes/side-note-faq/side-note-faq.tsx
  packages/cashier/src/components/transactions-crypto-history/__tests__/transactions-crypto-history.spec.tsx
  packages/cashier/src/components/transactions-crypto-history/transactions-crypto-history.tsx
  packages/cashier/src/components/transfer-confirm/transfer-confirm.tsx
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/__tests__/account-transfer-form.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
  packages/cashier/src/pages/on-ramp/__tests__/on-ramp.spec.tsx
  packages/cashier/src/pages/on-ramp/on-ramp-provider-popup/on-ramp-provider-popup.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-form/payment-agent-transfer-form.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-container/__tests__/payment-agent-container.spec.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-container/payment-agent-container.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-receipt/__tests__/payment-agent-receipt.spec.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-receipt/payment-agent-receipt.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-unlisted-withdraw-form/__tests__/payment-agent-withdraw-form.spec.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-unlisted-withdraw-form/payment-agent-unlisted-withdraw-form.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/__tests__/withdrawal-crypto-receipt.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/withdrawal-crypto-receipt.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @farrah-deriv, @wojciech-deriv

Maryia/DTRA-1423/feat: add config for all Trade types params + display components for Rise/Fall (#140)
  packages/core/src/App/app.jsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/Stake/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-params.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Introduce loader for TypeScript in p2p
  packages/p2p/webpack.config.js
Owners: @farrah-deriv, @nijil-deriv

Refactor namespace `@deriv-app` to `@deriv-lib`
  packages/p2p/package.json
Owners: @farrah-deriv, @nijil-deriv

fix: bump quill-ui version
  package-lock.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: handle snackbar fill for themes
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
Owners: @matin-deriv, @maryia-deriv

fix: legacywonicon not displaying properly by updating the version
  package-lock.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/core/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: :ambulance: downgrade deriv-com/analytics to v 1.5.9 (#16050)
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

fix: update svg standard icon migration flow
  packages/components/src/components/icon/mt5/ic-mt5-svg-standard.svg
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: removed from additional kyc info form
  packages/account/src/Components/additional-kyc-info-modal/additional-kyc-info-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: removed unused code
  packages/account/src/Components/additional-kyc-info-modal/additional-kyc-info-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

refactor: replace WS call with /hooks useTradingPlatformStatus
  packages/api/types.ts
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useTradingPlatformStatus.ts
Owners: @wojciech-deriv, @matin-deriv, @yashim-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv

chore: removed some props and states as well
  packages/account/src/Components/forms/personal-details-form.jsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: add correct logo colors
  packages/trader/src/AppV2/Components/FavoriteSymbols/no-favorite-symbol.tsx
  packages/trader/src/AppV2/Components/SymbolNotFound/symbol-not-found.tsx
  packages/trader/src/AppV2/Components/SymbolsSearchField/symbols-search-field.tsx
Owners: @matin-deriv, @maryia-deriv

DTRA-1422/ Kate / Add scrolling bahaviour for trade params (#139)
  packages/trader/src/AppV2/Components/TradeParameters/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-list.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Utils/layout-utils.tsx
Owners: @matin-deriv, @maryia-deriv

fix: update standard icon migration flow
  packages/components/src/components/icon/mt5/ic-mt5-bvi-standard.svg
  packages/components/src/components/icon/mt5/ic-mt5-svg-standard.svg
  packages/components/src/components/icon/mt5/ic-mt5-vanuatu-standard.svg
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: removed console
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-title-icon.tsx
Owners: @hirad-deriv, @matin-deriv

feat: :fire: server side bot improvements after api update
  packages/bot-skeleton/src/services/api/api-base.js
  packages/bot-web-ui/src/pages/server-bot/notifications.tsx
  packages/bot-web-ui/src/pages/server-bot/server-bot-list.tsx
  packages/bot-web-ui/src/pages/server-bot/server-bot.scss
  packages/bot-web-ui/src/pages/server-bot/server-bot.tsx
  packages/bot-web-ui/src/stores/server-bot-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: updated standard icon in wallets
  packages/wallets/src/constants/icons.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: move the setSession code for request_email from client store to switch case
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: add barrier trade param
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/trade-params.tsx
Owners: @matin-deriv, @maryia-deriv

chore: changed rename event, added remove events
  packages/account/src/Sections/Security/Passkeys/components/passkey-card.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: remove client-store changes
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: removed package-lock-json
  packages/bot-skeleton/package-lock.json
  packages/bot-web-ui/package-lock.json
Owners: @sandeep-deriv, @vinu-deriv

fix: remove comments
  packages/core/src/Services/logout.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: make animation faster
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-container.tsx
Owners: @matin-deriv, @maryia-deriv

feat: add barrier trade param (#141)
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-list.tsx
Owners: @matin-deriv, @maryia-deriv

Revert "fix: update standard icon migration flow"
  packages/components/src/components/icon/mt5/ic-mt5-bvi-standard.svg
  packages/components/src/components/icon/mt5/ic-mt5-svg-standard.svg
  packages/components/src/components/icon/mt5/ic-mt5-vanuatu-standard.svg
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Revert "fix: update standard icon in cashier"
  packages/cashier/src/assets/svgs/trading-platform/ic-appstore-standard.svg
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

Revert "fix: update standard icon in appstore branding"
  packages/appstore/src/assets/svgs/trading-platform/branding/ic-branding-standard-dashboard.svg
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

Revert "fix: update standard icon"
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-standard.svg
Owners: @hirad-deriv, @matin-deriv

Revert "fix: update svg standard icon migration flow"
  packages/components/src/components/icon/mt5/ic-mt5-svg-standard.svg
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update package-lock
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: rename analytic action
  packages/appstore/src/components/modals/setup-real-account-or-go-to-demo-modal/setup-real-account-or-go-to-demo-modal-content.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

feat: status badge and hint message in prod cashier
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/types/account.types.ts
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

chore: add KM tag in initmoment so that time does not get translated
  packages/shared/src/utils/date/date-time.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: test
  packages/cfd/src/sass/cfd.scss
Owners: @hirad-deriv, @matin-deriv

Remove circular dependencies between `shared` & `translations`
  packages/translations/src/i18next/i18next.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv
