Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

feat: add analytics for modals
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/deposit-now-or-later-modal.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: test case
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/__tests__/wheel-picker-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/__tests__/wheel-picker.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.scss
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.tsx
Owners: @matin-deriv, @maryia-deriv

chore: check for id instead of is_desktop
  packages/p2p/src/pages/my-ads/my-ads-row-renderer.jsx
Owners: @farrah-deriv, @nijil-deriv

refactor: unavailable status badge and hint message refac
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/types/account.types.ts
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: comments
  packages/core/src/Services/logout.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Reapply "fix: update svg standard icon migration flow"
  packages/components/src/components/icon/mt5/ic-mt5-svg-standard.svg
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: :mute: suppress ts error
  package-lock.json
  packages/wallets/package.json
  packages/wallets/src/AppContent.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: remove client-store changes in useSetLogin
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

DTRA-1425 / Kate / Feat: add trade params for Accumulators contract (#142)
  packages/trader/src/AppV2/Components/TradeParameters/AccumulatorsInformation/accumulators-information.scss
  packages/trader/src/AppV2/Components/TradeParameters/AccumulatorsInformation/accumulators-information.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AccumulatorsInformation/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/index.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-list.tsx
Owners: @matin-deriv, @maryia-deriv

fix: hideModal console error issue when cashier has maintenace, added empty array for status (#15965)
  packages/p2p/src/stores/general-store.js
Owners: @farrah-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/mn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/uz.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: converted PoiPoaDocsSubmitted to ResubmissionSuccessMessage
  packages/wallets/src/features/accounts/screens/PoiPoaDocsSubmitted/PoiPoaDocsSubmitted.scss
  packages/wallets/src/features/accounts/screens/PoiPoaDocsSubmitted/PoiPoaDocsSubmitted.tsx
  packages/wallets/src/features/accounts/screens/PoiPoaDocsSubmitted/index.ts
  packages/wallets/src/features/accounts/screens/index.ts
  packages/wallets/src/features/cfd/flows/ClientVerification/components/ResubmissionSuccessMessage/ResubmissionSuccessMessage.scss
  packages/wallets/src/features/cfd/flows/ClientVerification/components/ResubmissionSuccessMessage/ResubmissionSuccessMessage.tsx
  packages/wallets/src/features/cfd/flows/ClientVerification/components/ResubmissionSuccessMessage/index.ts
  packages/wallets/src/features/cfd/flows/ClientVerification/components/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: converted PoiUploadError to UploadErrorMessage
  packages/wallets/src/features/accounts/constants.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/UploadErrorMessage/UploadErrorMessage.scss
  packages/wallets/src/features/accounts/modules/ManualService/components/UploadErrorMessage/UploadErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/UploadErrorMessage/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/index.ts
  packages/wallets/src/features/accounts/modules/ManualService/utils/constants.tsx
  packages/wallets/src/features/accounts/modules/ManualService/utils/index.ts
  packages/wallets/src/features/accounts/screens/PoiUploadError/PoiUploadError.scss
  packages/wallets/src/features/accounts/screens/PoiUploadError/PoiUploadError.tsx
  packages/wallets/src/features/accounts/screens/PoiUploadError/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/km.json
  packages/p2p/src/translations/mn.json
Owners: @farrah-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/ar.json
Owners: @farrah-deriv, @nijil-deriv

DTRA-1436 / Kate / Feat: add trade params for multipliers (#143)
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersInformation/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersInformation/multipliers-information.scss
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersInformation/multipliers-information.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-list.tsx
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/ar.json
Owners: @farrah-deriv, @nijil-deriv

Maryia/DTRA-1427/feat: TradeTypeTabs and Strike display components (#144)
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TradeTypeTabs/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/TradeTypeTabs/trade-type-tabs.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-list.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @matin-deriv, @maryia-deriv

fix: payment method full page issue in myprofile
  packages/p2p/src/pages/app.scss
  packages/p2p/src/pages/my-profile/my-profile.scss
  packages/p2p/src/pages/my-profile/payment-methods/payment-methods-list/payment-methods-list.scss
Owners: @farrah-deriv, @nijil-deriv

feat: PayoutPerPoint + refactoring (#146)
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-list.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
Owners: @matin-deriv, @maryia-deriv

[WALL] Aizad/WALL-4397/Wallet migration banner and pop up window for Arabic language is misaligned (#15817)
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/core/src/App/Containers/Modals/wallets-upgrade-logout-modal/wallets-upgrade-logout-modal.scss
  packages/core/src/App/Containers/Modals/wallets-upgrade-logout-modal/wallets-upgrade-logout-modal.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: trade params config for Even/Odd
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

chore: replace translation, refactor, tests
  packages/account/src/Sections/Security/Passkeys/__tests__/passkeys.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-removed.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/description-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/no-passkeys.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-card.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-created.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-error-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-reminder-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-removed.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-removing-verification.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-rename.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-learn-more.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-list.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/tips-block.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

Fix package-lock.json
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Fix `@deriv/components` -> `@deriv-lib/components`
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-info-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/notifications-icon-dtrader-v2.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-v2-header-loader.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-edit/business-hour-modal-edit.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-footer/business-hour-modal-footer.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-main/business-hour-modal-main.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal.tsx
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-name/my-profile-name-business-hours/my-profile-name-business-hours.tsx
  packages/reports/src/Containers/__tests__/progress-slider-stream.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/video-fragment.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @farrah-deriv, @nijil-deriv, @mahdiyeh-deriv

feat: quick fix, proper fix to follow
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: moved validation to last step, to ensure baseline levels are always updated
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Fix `@deriv/translations` -> `@deriv-lib/translations`
  packages/appstore/src/components/compare-account/compare-account.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/accumulators-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/even-odd-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/higher-lower-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/matches-differs-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/multipliers-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/over-under-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/rise-fall-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/touch-no-touch-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/turbos-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/vanillas-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/video-fragment.tsx
  packages/trader/src/AppV2/Components/Guide/Description/video-preview.tsx
  packages/trader/src/AppV2/Components/Guide/guide-definition-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Utils/__tests__/contract-description.spec.tsx
  packages/trader/src/AppV2/Utils/contract-description-utils.tsx
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @maryia-deriv

feat: excluded master from checks
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: temporary removed conditionals
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: testing fix
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: testing fix
  .github/actions/analyze/action.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: reset_password_modal_in_logged_in_state
  packages/core/src/App/Containers/Modals/app-modals.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Reapply "fix: update standard icon"
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-standard.svg
Owners: @hirad-deriv, @matin-deriv

fix: rename component
  packages/trader/src/AppV2/Components/ActiveSymbolsList/active-symbols-list.tsx
  packages/trader/src/AppV2/Components/SymbolSearchResults/index.ts
  packages/trader/src/AppV2/Components/SymbolSearchResults/symbol-search-results.scss
  packages/trader/src/AppV2/Components/SymbolSearchResults/symbol-search-results.tsx
  packages/trader/src/AppV2/Components/SymbolsSearchResult/index.ts
Owners: @matin-deriv, @maryia-deriv

fix: fixed undefined token error
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Reapply "fix: update standard icon in appstore branding"
  packages/appstore/src/assets/svgs/trading-platform/branding/ic-branding-standard-dashboard.svg
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: removed mt5 notification modal from app-modals
  packages/core/src/App/Containers/Modals/app-modals.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: removed mt5 notification modal components
  packages/core/src/App/Containers/Modals/mt5-notification/index.ts
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification-description.tsx
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.scss
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: removed mt5 notification from stores
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv
