Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

feat: ts migration and test case
  packages/api/types.ts
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
  packages/core/src/App/Containers/ResetPasswordModal/index.js
  packages/core/src/App/Containers/ResetPasswordModal/index.ts
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @wojciech-deriv, @matin-deriv, @yashim-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: update api-types
  packages/api/types.ts
Owners: @wojciech-deriv, @matin-deriv, @yashim-deriv

chore: update api-types
  packages/api/types.ts
Owners: @wojciech-deriv, @matin-deriv, @yashim-deriv

chore: update text component
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListCardDetails/WalletListCardDetails.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletListHeader/WalletListHeader.tsx
  packages/wallets/src/features/cashier/modules/CashierLocked/CashierLockedContent.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/DepositLockedContent.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/WithdrawalLockedContent.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[DTRA]test: add test case for statement store (#16028)
  packages/reports/src/Stores/Modules/Statement/__tests__/statement-store.spec.js
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

chore: update km.json files
  packages/translations/src/translations/km.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: resolved subtasks
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletListCardDropdown/__tests__/WalletListCardDropdown.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: combined conditions
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

[CFDS]/Hasan/CFDS-4115/Removed Deriv MT5 login popup (#16065)
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/mt5-notification/index.ts
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification-description.tsx
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.scss
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.tsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: rename the tradersHubLoading function name
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/core/src/Stores/client-store.js
Owners: @hirad-deriv, @matin-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: add tests
  packages/trader/src/AppV2/Components/ActiveSymbolsList/__tests__/active-symbols-list.spec.tsx
  packages/trader/src/AppV2/Components/FavoriteSymbols/__tests__/favorite-symbols.spec.tsx
  packages/trader/src/AppV2/Components/FavoriteSymbols/__tests__/no-favorite-symbol.spec.tsx
  packages/trader/src/AppV2/Components/MarketCategories/__tests__/market-categories.spec.tsx
  packages/trader/src/AppV2/Components/MarketCategory/__tests__/market-category.spec.tsx
  packages/trader/src/AppV2/Components/MarketCategoryItem/__tests__/market-category-item.spec.tsx
  packages/trader/src/AppV2/Components/MarketCategoryTab/__tests__/market-category-tab.spec.tsx
  packages/trader/src/AppV2/Components/MarketSelector/__tests__/market-selector.spec.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Components/SymbolIconsMapper/__tests__/symbol-icons-mapper.spec.tsx
  packages/trader/src/AppV2/Components/SymbolNotFound/__tests__/symbol-not-found.spec.tsx
  packages/trader/src/AppV2/Components/SymbolSearchResults/__tests__/symbol-search-results.spec.tsx
  packages/trader/src/AppV2/Components/SymbolsSearchField/__tests__/symbols-search-field.spec.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useActiveSymbols.spec.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useGetFavoriteSymbols.spec.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useGetSymbolSearchResults.spec.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Utils/__tests__/sort-symbols-utils.spec.ts
  packages/trader/src/AppV2/Utils/__tests__/symbol-categories-utils.spec.ts
Owners: @matin-deriv, @maryia-deriv

fix: resolved comments
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/sass/cfd.scss
Owners: @hirad-deriv, @matin-deriv

chore: update api-types
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: updated the video thumbnails
  packages/bot-web-ui/src/pages/tutorials/constants.ts
  packages/core/src/public/images/common/static_images/build_a_bot.png
  packages/core/src/public/images/common/static_images/build_a_bot.webp
  packages/core/src/public/images/common/static_images/how_to_use_martingale.jpg
  packages/core/src/public/images/common/static_images/how_to_use_martingale.webp
  packages/core/src/public/images/common/static_images/intro_to_deriv_bot.png
  packages/core/src/public/images/common/static_images/intro_to_deriv_bot.webp
Owners: @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: env variables and language switcher
  packages/wallets/src/AppContent.scss
  packages/wallets/src/constants/languages.tsx
  packages/wallets/webpack.config.js
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: added rel noopener and noreferrer
  packages/bot-web-ui/src/pages/tutorials/constants.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: unnecessary comment
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

fix: clean up
  packages/trader/src/AppV2/Components/SymbolSearchResults/__tests__/symbol-search-results.spec.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

fix: remove comment
  packages/trader/src/AppV2/Components/MarketCategory/__tests__/market-category.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: import
  packages/core/src/App/Containers/ConfirmEmailModal/confirm-email-modal.tsx
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.tsx
  packages/core/src/App/Containers/UnlinkPasswordModal/unlink-password-modal.jsx
  packages/core/src/App/Containers/UpdateEmailModal/update-email-modal.jsx
  packages/shared/src/utils/url/helpers.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[BOT] Farabi/bot-1990/update dbot blogs url in faq (#16068)
  packages/bot-web-ui/src/pages/tutorials/constants.ts
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: import
  packages/shared/src/utils/url/helpers.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update test cases
  packages/bot-web-ui/src/pages/tutorials/__tests__/tutorial-tab-desktop.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/__tests__/tutorial-tab-mobile.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/guide-content/__tests__/guide-content.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: review comments
  packages/bot-skeleton/src/scratch/blocks/Advanced/Functions/procedures_callnoreturn.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Functions/procedures_defnoreturn.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Functions/procedures_ifreturn.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_create_with.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_getIndex.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_setIndex.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_split.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_statement.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Variable/variables_get.js
  packages/bot-skeleton/src/scratch/blocks/Binary/After Purchase/check_result.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Before Purchase/purchase.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Indicators/Parts/input_list.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Indicators/bb_statement.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc/balance.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc/loader.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc/total_profit.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/accumulator_take_profit.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/multiplier_stop_loss.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/multiplier_take_profit.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_accumulator.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_candleinterval.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_contracttype.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_market.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_multiplier.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartbuysell.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartonerror.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_join.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_statement.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
  packages/bot-skeleton/src/scratch/hooks/colours.js
  packages/bot-skeleton/src/scratch/index.scss
  packages/bot-web-ui/src/stores/flyout-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: resolved testcases
  packages/account/src/Components/leave-confirm/leave-confirm.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: submission of Real account signup data
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: test
  packages/core/src/App/Containers/ConfirmEmailModal/__tests__/confirm-email-modal.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: variable_name
  packages/core/src/App/Containers/Modals/app-modals.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: deleted unused mp4 and update package json
  package-lock.json
  packages/core/src/public/videos/accumulators_mobile.mp4
  packages/core/src/public/videos/differs_mobile.mp4
  packages/core/src/public/videos/even_mobile.lottie
  packages/core/src/public/videos/even_mobile.mp4
  packages/core/src/public/videos/fall_mobile.lottie
  packages/core/src/public/videos/fall_mobile.mp4
  packages/core/src/public/videos/higher_mobile.mp4
  packages/core/src/public/videos/lower_mobile.mp4
  packages/core/src/public/videos/matches_mobile.mp4
  packages/core/src/public/videos/multipliers_down_mobile.mp4
  packages/core/src/public/videos/multipliers_up_mobile.mp4
  packages/core/src/public/videos/no_touch_mobile.mp4
  packages/core/src/public/videos/odd_mobile.lottie
  packages/core/src/public/videos/odd_mobile.mp4
  packages/core/src/public/videos/over_mobile.mp4
  packages/core/src/public/videos/rise_mobile.lottie
  packages/core/src/public/videos/rise_mobile.mp4
  packages/core/src/public/videos/touch_mobile.mp4
  packages/core/src/public/videos/turbos_down_mobile.mp4
  packages/core/src/public/videos/turbos_up_mobile.mp4
  packages/core/src/public/videos/under_mobile.mp4
  packages/core/src/public/videos/vanillas_call_mobile.mp4
  packages/core/src/public/videos/vanillas_put_mobile.mp4
  packages/trader/package.json
  packages/trader/src/AppV2/Components/Guide/Description/video-fragment.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: deriv bot video placeholder styles
  packages/bot-web-ui/src/pages/tutorials/tutorials.scss
Owners: @sandeep-deriv, @vinu-deriv

feat: server-maintenance and account-unavailable modals in wallets
  packages/wallets/src/features/cfd/modals/AccountUnavailableModal/AccountUnavailableModal.tsx
  packages/wallets/src/features/cfd/modals/AccountUnavailableModal/index.ts
  packages/wallets/src/features/cfd/modals/ServerMaintenanceModal/ServerMaintenanceModal.tsx
  packages/wallets/src/features/cfd/modals/ServerMaintenanceModal/index.ts
  packages/wallets/src/features/cfd/modals/index.ts
  packages/wallets/src/features/cfd/screens/AccountUnavailable/AccountUnavailable.scss
  packages/wallets/src/features/cfd/screens/AccountUnavailable/AccountUnavailable.tsx
  packages/wallets/src/features/cfd/screens/AccountUnavailable/index.ts
  packages/wallets/src/features/cfd/screens/ServerMaintenance/ServerMaintenance.scss
  packages/wallets/src/features/cfd/screens/ServerMaintenance/ServerMaintenance.tsx
  packages/wallets/src/features/cfd/screens/ServerMaintenance/index.ts
  packages/wallets/src/features/cfd/screens/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: useTradingPlatformStatus hook in api-v2 for wallets
  packages/api-v2/src/hooks/index.ts
  packages/api-v2/src/hooks/useTradingPlatformStatus.ts
  packages/api-v2/types.ts
  packages/api/types.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

feat: status badge in MT5AccountsList
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: missing selector for modal
  packages/bot-skeleton/src/scratch/index.scss
Owners: @sandeep-deriv, @vinu-deriv

chore: use lazyLoading for phone number verification
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/Profile/PhoneVerification/didnt-get-the-code-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: memoize hooks
  packages/trader/src/AppV2/Hooks/useGetFavoriteSymbols.ts
  packages/trader/src/AppV2/Hooks/useGetSymbolSearchResults.ts
Owners: @matin-deriv, @maryia-deriv

Maryia/DTRA-1441/feat: add chart + display current spot for digit trade types (#149)
  package-lock.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot.scss
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot.tsx
  packages/trader/src/AppV2/Components/CurrentSpot/index.ts
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.scss
  packages/trader/src/AppV2/Components/TradeParameters/AccumulatorsInformation/accumulators-information.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersInformation/multipliers-information.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TradeTypeTabs/trade-type-tabs.tsx
  packages/trader/src/AppV2/Components/TradeParameters/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-list.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Containers/Chart/chart-placeholder.tsx
  packages/trader/src/AppV2/Containers/Chart/index.ts
  packages/trader/src/AppV2/Containers/Chart/trade-chart.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.tsx
  packages/trader/src/AppV2/Containers/Trade/assets.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: remove comments for p2p i18next
  packages/p2p/src/components/i18next/index.ts
Owners: @farrah-deriv, @nijil-deriv
