Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: change regex in confirm-your-phone page to strip out non numeric characters
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: fix
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

fix: wallet action modal alignment
  packages/wallets/src/features/cashier/components/WalletActionModal/WalletActionModal.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: added 24 h
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

[DTRA] henry/dtra-1672/refactor hooks and make url trade params and trade types work (#16612)
  packages/shared/src/utils/contract/contract.tsx
  packages/shared/src/utils/helpers/active-symbols.ts
  packages/shared/src/utils/platform/platform.ts
  packages/trader/package.json
  packages/trader/src/AppV2/Components/ActiveSymbolsList/__tests__/active-symbols-list.spec.tsx
  packages/trader/src/AppV2/Components/ActiveSymbolsList/active-symbols-list.tsx
  packages/trader/src/AppV2/Components/MarketCategories/__tests__/market-categories.spec.tsx
  packages/trader/src/AppV2/Components/MarketSelector/__tests__/market-selector.spec.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list.tsx
  packages/trader/src/AppV2/Containers/Chart/trade-chart.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade-types.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useActiveSymbols.spec.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useContractsForCompany.spec.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useDTraderQuery.spec.ts
  packages/trader/src/AppV2/Hooks/__tests__/useDefaultSymbol.spec.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useGetSymbolSearchResults.spec.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Hooks/useContractsForCompany.ts
  packages/trader/src/AppV2/Hooks/useDefaultSymbol.ts
  packages/trader/src/AppV2/Hooks/useDtraderQuery.ts
  packages/trader/src/AppV2/Utils/client.ts
  packages/trader/src/AppV2/Utils/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/Actions/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
  packages/trader/src/Types/common-prop.type.ts
  packages/utils/src/getLocalStorage.ts
  packages/utils/src/index.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: modals behaviour
  package-lock.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-description.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/trade-types-selection-guide.tsx
  packages/trader/src/AppV2/Components/PayoutInfoModal/__tests__/payout-info-modal.spec.tsx
  packages/trader/src/AppV2/Components/PayoutInfoModal/index.ts
  packages/trader/src/AppV2/Components/PayoutInfoModal/payout-info-modal.scss
  packages/trader/src/AppV2/Components/PayoutInfoModal/payout-info-modal.tsx
  packages/trader/src/AppV2/Components/RiskManagementInfoModal/risk-management-info-modal.tsx
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv

feat: Add Blockly update and migration guide on DBot Announcements section
  package-lock.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcements.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-components.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/config.tsx
  packages/components/src/components/icon/common/ic-migrate-strategy.svg
  packages/components/src/components/icon/common/ic-upgrade-blockly.svg
  packages/components/src/components/icon/icons.js
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: test
  packages/account/src/Configs/__test__/get-status-badge-config.spec.tsx
  packages/appstore/src/components/modals/verification-docs-list-modal/ListItem.tsx
  packages/cfd/src/Containers/mt5-create-password/__tests__/mt5-create-password.spec.tsx
  packages/cfd/src/Containers/mt5-create-password/mt5-create-password.tsx
  packages/components/src/components/icon/icons.js
  packages/hooks/src/__tests__/useGetMFAccountStatus.spec.tsx
  packages/hooks/src/__tests__/useMFAccountStatus.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

fix(cashier): :ambulance: fix header for tablet view
  packages/cashier/src/containers/cashier/cashier.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

chore: test case fi
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
Owners: @matin-deriv, @maryia-deriv

chore: test case fi
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
Owners: @matin-deriv, @maryia-deriv

fix: test cases
  packages/appstore/src/components/modals/verification-docs-list-modal/__tests__/verification-docs-list-modal.spec.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

refactor: remove acceptable range info for crypto multiplier
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
Owners: @matin-deriv, @maryia-deriv

fix: add alignement for input with steppers
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Containers/Positions/positions.scss
Owners: @matin-deriv, @maryia-deriv

refactor: useSortedMT5Accounts to get default jurisdiction accounts
  packages/api-v2/src/hooks/useSortedMT5Accounts.ts
  packages/components/src/components/icon/icons.js
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/ClientVerificationModal.scss
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/ClientVerificationModal.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/DocumentsList.tsx
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/components/DocumentTile/DocumentTile.scss
  packages/wallets/src/features/cfd/modals/ClientVerificationModal/components/DocumentsList/components/DocumentTile/DocumentTile.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

chore: end time fix
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
Owners: @matin-deriv, @maryia-deriv

fix: test
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

fix: style
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @hirad-deriv

chore: fix tests
  jest.config.base.js
  packages/core/src/App/Containers/AccountSwitcher/__tests__/account-switcher.spec.jsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: test cases
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/datepicker.tsx
Owners: @matin-deriv, @maryia-deriv

chore: key fix
  packages/trader/src/AppV2/Components/TradeParameters/Duration/chips.tsx
Owners: @matin-deriv, @maryia-deriv

chore: update packagelock
  package-lock.json
  packages/core/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: bump quill-ui
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/de.json
  packages/translations/src/translations/th.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/de.json
  packages/translations/src/translations/th.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/th.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update gh dependency
  package-lock.json
  packages/bot-web-ui/package.json
  packages/components/package.json
  packages/core/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: use latest action version
  .github/workflows/dependency_review.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: apply correct url params when ticks contarct is opened
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/de.json
  packages/translations/src/translations/sw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[UPM-1368]/evgeniy/add uzbek language (#16556)
  package-lock.json
  packages/account/package.json
  packages/api-v2/src/hooks/useOnfido.ts
  packages/api/src/hooks/useOnfido.ts
  packages/appstore/package.json
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/package.json
  packages/components/src/components/icon/icons.js
  packages/core/package.json
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/core/src/sass/app/_common/components/app-notification-message.scss
  packages/p2p/src/components/i18next/index.ts
  packages/p2p/src/pages/buy-sell/buy-sell-row.scss
  packages/shared/package.json
  packages/shared/src/utils/constants/translation-flag.tsx
  packages/shared/src/utils/url/helpers.ts
  packages/translations/src/i18next/i18next.ts
  packages/wallets/package.json
  packages/wallets/src/helpers/urls.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

feat: add failsafe condition
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

test: :test_tube: added test coverage for dashboard/recent-workspace component
  packages/bot-web-ui/src/hooks/useComponentVisibility.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/__tests__/recent-workspace.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/dashboard-bot-list.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/index.scss
  packages/bot-web-ui/src/pages/dashboard/bot-list/recent-workspace.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/types.ts
Owners: @sandeep-deriv, @vinu-deriv

feat: swap payout per point and stake in trade params
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
Owners: @matin-deriv, @maryia-deriv

fix: api provider language reconnection
  packages/api-v2/package.json
  packages/api-v2/src/APIProvider.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

fix: update deriv-com/translations version
  packages/api-v2/package.json
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

fix: updated the gh-pages package for security purpose
  package-lock.json
  packages/bot-web-ui/package.json
  packages/components/package.json
  packages/core/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: :ambulance: fix notification tray position
  packages/core/src/App/Containers/NotificationsDialog/notification-list-wrapper.tsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.tsx
  packages/core/src/sass/app/modules/notifications-dialog.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: fix
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
Owners: @matin-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
