Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: try to regenerate the issue in test link
  packages/bot-web-ui/src/app/app-content.jsx
Owners: @sandeep-deriv, @vinu-deriv

chore: replace video with the latest changes
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/core/src/public/videos/wallets_introduction.mp4
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: remove constants
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

fix: conflicts
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/sass/app/_common/layout/app-layouts.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: remove badge from cashier overlay
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/__tests__/WalletCashierHeader.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: failing testcase
  packages/core/src/App/Components/Layout/Footer/__tests__/toggle-language-settings.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: update translation library version to support mn language (#15797)
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/core/src/App/Containers/Layout/header/traders-hub-onboarding.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

fix: update translation library version to support mn language (#15797)
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/core/src/App/Containers/Layout/header/traders-hub-onboarding.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/km.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: moved constant with tabs name to utils
  packages/trader/src/AppV2/Components/EmptyPositions/empty-positions.tsx
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/AppV2/Utils/__tests__/positions-utils.spec.ts
  packages/trader/src/AppV2/Utils/positions-utils.ts
Owners: @matin-deriv, @maryia-deriv

fix: prettier issue
  packages/core/src/App/Components/Layout/Footer/__tests__/toggle-language-settings.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: temporary - replace core and trader loader with specific dtrader_v2 loaders placeholders
  packages/core/src/App/Components/Routes/binary-routes.jsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
  packages/trader/src/index.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: rudderstack events
  packages/bot-web-ui/src/analytics/rudderstack-bot-builder.ts
  packages/bot-web-ui/src/analytics/rudderstack-common-events.ts
  packages/bot-web-ui/src/analytics/rudderstack-quick-strategy.ts
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/stores/google-drive-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: removed white space between onfido and personal details
  packages/core/src/sass/app/_common/components/account-common.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: categorize symbols and render by categories on action sheet
  packages/trader/src/AppV2/Components/MarketCategories/index.ts
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.scss
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.tsx
  packages/trader/src/AppV2/Components/MarketCategoriesTabs/index.ts
  packages/trader/src/AppV2/Components/MarketCategoriesTabs/market-categories-tabs.scss
  packages/trader/src/AppV2/Components/MarketCategoriesTabs/market-categories-tabs.tsx
  packages/trader/src/AppV2/Components/MarketCategory/index.ts
  packages/trader/src/AppV2/Components/MarketCategory/market-category.scss
  packages/trader/src/AppV2/Components/MarketCategory/market-category.tsx
  packages/trader/src/AppV2/Components/MarketCategoryTab/market-category-tab.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Utils/symbol-categories-utils.ts
Owners: @matin-deriv, @maryia-deriv

chore: update deriv-com/translations package version
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

chore: moved run bot event to common events
  packages/bot-web-ui/src/analytics/rudderstack-common-events.ts
  packages/bot-web-ui/src/analytics/rudderstack-quick-strategy.ts
  packages/bot-web-ui/src/components/trade-animation/trade-animation.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: glitch showing fluctuation modal on confirm, use error message from BE for slippage
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.tsx
  packages/p2p/src/stores/buy-sell-store.js
Owners: @farrah-deriv, @nijil-deriv

Update .github/workflows/smoketests.yml
  .github/workflows/smoketests.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: added a check for current_lang and preferred_lang
  packages/core/src/App/app.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Update smoketests.yml
  .github/workflows/smoketests.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: missing transfer to for ctrader and derivx
  packages/api-v2/src/hooks/useCtraderAccountsList.ts
  packages/api-v2/src/hooks/useDxtradeAccountsList.ts
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

fix: removed commented out code
  packages/p2p/src/stores/buy-sell-store.js
Owners: @farrah-deriv, @nijil-deriv

fix: upload id on strategy upload completed event
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

chore: wrap create new order with localize
  packages/p2p/src/stores/buy-sell-store.js
Owners: @farrah-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/mn.json
  packages/translations/src/translations/si.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: add useDevice hook instead of is_mobile from the store
  packages/cfd/src/Containers/ctrader-derivx-trade-modal.tsx
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/cfd/src/features/Containers/cfd-trade-modal.tsx
  packages/cfd/src/features/Containers/mt5-trade-modal.tsx
  packages/cfd/src/features/Containers/other-cfds-trade-modal.tsx
  packages/cfd/src/sass/cfd.scss
  packages/components/src/components/page-overlay/page-overlay.scss
Owners: @hirad-deriv, @matin-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: safari transactions toggle ui fix
  packages/wallets/src/components/ToggleSwitch/ToggleSwitch.scss
  packages/wallets/src/components/WalletListHeader/WalletListHeader.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: updated content for RTL languages
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
  packages/core/src/App/Containers/Modals/wallets-upgrade-logout-modal/wallets-upgrade-logout-modal.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

Markodonnell deriv manual smoketests v2 (#15809)
  .github/workflows/smoketests.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Revert "fix: remove constants"
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

Revert "fix: update minsize"
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

Revert "fix: update minsize"
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

Revert "fix: splitchunks"
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

fix: resolve comments
  packages/reports/src/Components/Routes/__tests__/binary-link.spec.tsx
  packages/reports/src/Components/Routes/__tests__/binary-routes.spec.tsx
  packages/reports/src/Components/Routes/__tests__/route-with-sub-routes.spec.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

feat: add more blocks to ContractDetailsLoader
  packages/trader/src/AppV2/Components/Skeleton/skeleton.scss
  packages/trader/src/AppV2/Components/Skeleton/skeleton.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details-loader.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
Owners: @matin-deriv, @maryia-deriv

refactor: change property
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/parts/loss-threshold-warning-dialog.scss
Owners: @sandeep-deriv, @vinu-deriv

feat: changed a lot of stuff
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/components/src/components/form-progress/form-progress.scss
  packages/components/src/components/form-progress/form-progress.tsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/VerificationModal/verification-modal.scss
  packages/core/src/Constants/ui.js
  packages/core/src/sass/account-wizard.scss
  packages/shared/src/utils/screen/responsive.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
