Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

[BOT] maryia/ BOT-1623/feat: Bring user to top of page when switching between strategies on QS modal (#15531)
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/save-modal.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: multiple improvements
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/AppV2/Components/RiskManagementItem/__tests__/risk-management-item.spec.tsx
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/de.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: footer and other fix
  packages/core/src/sass/app/_common/layout/header.scss
  packages/trader/src/AppV2/Components/ContractDetailsFooter/__tests__/contract-details-footer.spec.tsx
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.tsx
  packages/trader/src/AppV2/Components/DealCancellation/__tests__/deal-cancellation.spec.tsx
  packages/trader/src/AppV2/Components/EntryExitDetails/entry-exit-details-row.tsx
  packages/trader/src/AppV2/Components/EntryExitDetails/entry-exit-details.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update to use is_email_verified
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/account/src/Sections/Profile/PhoneVerification/didnt-get-the-code-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: :zap: fixed edit take profit for the accumulator type contract for bots
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/stores/summary-card-store.ts
Owners: @sandeep-deriv, @vinu-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: testcases
  packages/trader/src/AppV2/Components/EntryExitDetails/__tests__/entry-exit-details.spec.tsx
  packages/trader/src/AppV2/Components/EntryExitDetails/entry-exit-details-row.tsx
  packages/trader/src/AppV2/Components/EntryExitDetails/entry-exit-details.tsx
Owners: @matin-deriv, @maryia-deriv

fix: testcases
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

chore: Leverage --> Leverage up to
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-bvi-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-labuan-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-svg-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-vanuatu-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction_maltainvest_contents.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: added new tag to logged out page
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: bump quill-icons
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @markwylde-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: add WS call when redirect from notification tray
  packages/core/src/App/Containers/NotificationsDialog/notifications-list.tsx
  packages/core/src/Stores/notification-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: remove unused comment
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: :zap: show apporpriate message on server errir
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
Owners: @sandeep-deriv, @vinu-deriv

feat: add min-height and height for mobile screen
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.scss
Owners: @hirad-deriv, @matin-deriv

chore: update quill-ui in package.json
  packages/account/package.json
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

refactor: [UPM-11XX]/evgeniy/reset and confirm email modals TS migration
  packages/api/types.ts
  packages/core/src/App/Containers/ConfirmEmailModal/confirm-email-modal.tsx
  packages/core/src/App/Containers/ResetEmailModal/index.js
  packages/core/src/App/Containers/ResetEmailModal/index.ts
  packages/core/src/App/Containers/ResetEmailModal/reset-email-modal.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @wojciech-deriv, @matin-deriv, @yashim-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: removed the Demo word from the TH dashboard
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: tablet view suggestion
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

test: finalize tests for OpenPositions
  packages/reports/src/Containers/__tests__/open-positions.spec.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

test: finalize getRowAction tests
  packages/reports/src/Containers/__tests__/open-positions.spec.tsx
  packages/reports/src/Containers/open-positions.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

chore: removed getCounterpartyAdvertiserInfo
  packages/p2p/src/pages/my-profile/block-user/block-user-table/block-user-row/__tests__/block-user-row.spec.tsx
  packages/p2p/src/pages/my-profile/block-user/block-user-table/block-user-row/block-user-row.tsx
  packages/p2p/src/stores/my-profile-store.js
Owners: @farrah-deriv, @nijil-deriv

chore: fixed width of tray on mobile
  packages/core/src/sass/app/_common/components/account-switcher.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: useOrderDetail fix
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: financial-labuan spread should be 0.6pips
  packages/wallets/src/features/cfd/screens/CompareAccounts/compareAccountsConfig.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: replaced p2p_advertiser_adverts with p2p_advert_list
  packages/p2p/src/stores/my-ads-store.js
Owners: @farrah-deriv, @nijil-deriv

chore: added test case for toolbox component
  packages/bot-web-ui/src/pages/bot-builder/toolbox/__tests__/toolbox.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: updated the style of options and CFDs switcher
  packages/appstore/src/modules/traders-hub/traders-hub.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: added the keyword Deriv to demo success modal
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

fix: multiple improvements
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.tsx
  packages/trader/src/AppV2/Utils/__tests__/helper.spec.ts
  packages/trader/src/AppV2/Utils/helper.ts
Owners: @matin-deriv, @maryia-deriv

fix: last fixes
  packages/core/src/sass/app/_common/layout/header.scss
  packages/trader/src/AppV2/Components/ContractDetailsFooter/__tests__/contract-details-footer.spec.tsx
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.tsx
  packages/trader/src/AppV2/Components/RiskManagementInfoModal/__tests__/risk-management-info-modal.spec.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: added the MT5 word for demo success modal
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv
