Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

feat: unset margin-top (#15830)
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

feat: unset margin-top (#15830)
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/km.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/bn.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Update .github/workflows/smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Update .github/workflows/smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Update .github/workflows/smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

refactor: remove account switching for onboarding
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: added formik to external
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

fix: added react transition group to external
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

feat: unset margin-top (#15825)
  packages/appstore/src/components/main-title-bar/account-type-dropdown.scss
  packages/appstore/src/modules/traders-hub/traders-hub.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

feat: unset margin-top (#15825)
  packages/appstore/src/components/main-title-bar/account-type-dropdown.scss
  packages/appstore/src/modules/traders-hub/traders-hub.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: ci
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/km.json
Owners: @farrah-deriv, @nijil-deriv

feat: inform user reagarding strategy conversion - flow
  packages/bot-web-ui/src/analytics/utils.ts
  packages/bot-web-ui/src/components/bot-notification/bot-notification-utils.ts
  packages/bot-web-ui/src/components/bot-notification/bot-notification.tsx
  packages/bot-web-ui/src/components/load-modal/load-modal.scss
  packages/bot-web-ui/src/components/load-modal/local.tsx
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

chore: added notification cta event, removed unnecessary TODOs
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-list.tsx
  packages/hooks/src/useGetPasskeysList.ts
  packages/hooks/src/useRegisterPasskey.ts
  packages/hooks/src/useRenamePasskey.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

Mark/pr commit v3 (#15844)
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: added classnames to external
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/km.json
Owners: @farrah-deriv, @nijil-deriv

chore: adding some missing externals
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

fix: removed CFDFinancialStpRealAccountSignup from entry points
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

feat: add definition glossary
  packages/trader/src/AppV2/Components/Filter/contract-type-filter.tsx
  packages/trader/src/AppV2/Components/Guide/Description/accumulators-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/decription-modal.tsx
  packages/trader/src/AppV2/Components/Guide/definition-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.scss
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Components/Guide/trade-description.tsx
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
Owners: @matin-deriv, @maryia-deriv

chore: add timer to personal-details, expired modal and notification
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/verify-button.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/resend-code-timer.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/validation.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/verification-link-expired-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/resend-code-timer.tsx
  packages/account/src/Sections/Profile/PhoneVerification/validation.ts
  packages/account/src/Sections/Profile/PhoneVerification/verification-link-expired-modal.tsx
  packages/account/src/Styles/account.scss
  packages/core/package.json
  packages/core/src/Stores/notification-store.js
  packages/hooks/package.json
  packages/hooks/src/__tests__/usePhoneNumberVerificationSetTimer.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/usePhoneNumberVerificationSetTimer.tsx
  packages/hooks/src/useRequestPhoneNumberOTP.tsx
  packages/hooks/src/useSendOTPVerificationCode.ts
  packages/shared/package.json
  packages/shared/src/utils/constants/phone-number-verification.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: small changes
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

chore: remove unused dayjs in account package
  packages/account/package.json
  packages/account/src/Sections/Profile/PhoneVerification/__test__/validation.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: replace tosort with sort
  packages/trader/src/AppV2/Components/Guide/decription-modal.tsx
Owners: @matin-deriv, @maryia-deriv

fix: removed tradeModal from entry points
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

feat: change js breakpoints, add styles for tablet screens and fix tests
  packages/account/src/Components/address-details/__tests__/address-details.spec.tsx
  packages/account/src/Components/address-details/address-details.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/core/src/App/Containers/RealAccountSignup/finished-add-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
  packages/core/src/sass/add-or-manage.scss
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: resolving the conflicts
  packages/cfd/build/webpack.config.js
Owners: @hirad-deriv, @matin-deriv

feat: add description for multipliers
  packages/trader/src/AppV2/Components/Guide/Description/multipliers-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/rise-fall-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/definition-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Components/Guide/trade-description.tsx
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
Owners: @matin-deriv, @maryia-deriv

chore: default value for tax residence
  packages/account/src/Components/forms/form-fields/tax-residence.tsx
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Containers/employment-tax-details-container.tsx
  packages/account/src/Sections/Employment-Tax-info/employment-tax-info.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

refactor: adopt function for getting definitions
  packages/trader/src/AppV2/Components/Guide/definition-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
Owners: @matin-deriv, @maryia-deriv

[WEBREL] Sergei / WEBREL - 2856 / UI Bugs for Tablet View Implementation (#15815)
  packages/account/src/Components/address-details/__tests__/address-details.spec.tsx
  packages/account/src/Components/address-details/address-details.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/cfd/src/Containers/ctrader-derivx-trade-modal.tsx
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/cfd/src/features/Containers/cfd-trade-modal.tsx
  packages/cfd/src/features/Containers/mt5-trade-modal.tsx
  packages/cfd/src/features/Containers/other-cfds-trade-modal.tsx
  packages/cfd/src/sass/cfd.scss
  packages/components/src/components/form-progress/form-progress.scss
  packages/components/src/components/form-progress/form-progress.tsx
  packages/components/src/components/page-overlay/page-overlay.scss
  packages/core/src/App/Containers/RealAccountSignup/finished-add-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
  packages/core/src/App/Containers/VerificationModal/verification-modal.scss
  packages/core/src/Constants/ui.js
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
  packages/shared/src/utils/screen/responsive.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @hirad-deriv, @ali-hosseini-deriv

[WEBREL] Sergei / WEBREL - 2856 / UI Bugs for Tablet View Implementation (#15815)
  packages/account/src/Components/address-details/__tests__/address-details.spec.tsx
  packages/account/src/Components/address-details/address-details.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/cfd/src/Containers/ctrader-derivx-trade-modal.tsx
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/cfd/src/features/Containers/cfd-trade-modal.tsx
  packages/cfd/src/features/Containers/mt5-trade-modal.tsx
  packages/cfd/src/features/Containers/other-cfds-trade-modal.tsx
  packages/cfd/src/sass/cfd.scss
  packages/components/src/components/form-progress/form-progress.scss
  packages/components/src/components/form-progress/form-progress.tsx
  packages/components/src/components/page-overlay/page-overlay.scss
  packages/core/src/App/Containers/RealAccountSignup/finished-add-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
  packages/core/src/App/Containers/VerificationModal/verification-modal.scss
  packages/core/src/Constants/ui.js
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
  packages/shared/src/utils/screen/responsive.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @hirad-deriv, @ali-hosseini-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/km.json
Owners: @farrah-deriv, @nijil-deriv

chore: adding some lazy loading
  packages/cfd/src/Containers/cfd-password-modal.tsx
Owners: @hirad-deriv, @matin-deriv

chore: added test coverage for files under dashboard folder
  packages/bot-web-ui/src/pages/dashboard/__tests__/cards.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/__tests__/dashboard.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/__tests__/info-panel.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/dashboard/intro-card.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: made tin optional
  packages/account/src/Configs/user-profile-validation-config.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: cover google drive load modal opened case
  packages/bot-web-ui/src/pages/dashboard/__tests__/cards.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

feat: add description for vanillas and turbos
  packages/trader/src/AppV2/Components/Guide/Description/multipliers-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/turbos-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/vanillas-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/definition-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.scss
  packages/trader/src/AppV2/Components/Guide/trade-description.tsx
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
Owners: @matin-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
