Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

chore: update options component with deriv app account
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsSection.scss
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: bump deriv-com/ui version from 1.29.8 to 1.29.9
  package-lock.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @hirad-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

feat: updated migration banner
  packages/cfd/src/Assets/banner/migrate-card-dark-modal.svg
  packages/cfd/src/Assets/banner/migrate-card-modal.svg
  packages/cfd/src/Containers/migration-banner/migration-banner-image.tsx
  packages/cfd/src/Containers/migration-banner/migration-banner.scss
  packages/cfd/src/Containers/migration-banner/migration-banner.tsx
Owners: @hirad-deriv, @matin-deriv

fix: update github workflow
  .github/workflows/sync-translations.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: optimized migration banner
  packages/cfd/src/Assets/banner/migrate-card-dark-modal.svg
  packages/cfd/src/Assets/banner/migrate-card-dark.svg
  packages/cfd/src/Assets/banner/migrate-card-modal.svg
  packages/cfd/src/Assets/banner/migrate-card.svg
Owners: @hirad-deriv, @matin-deriv

fix: review fix
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-input.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-mobile-input.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point.scss
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/payout-selector.scss
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/payout-selector.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker-mobile.tsx
  packages/trader/src/Modules/Trading/Containers/trade-params.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

feat: updated the analytics version
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

chore: apply suggestions
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-container.tsx
Owners: @matin-deriv, @maryia-deriv

chore: bump deriv-com/ui version from 1.29.3 to 1.29.9
  package-lock.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @hirad-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: Missed the typing here
  packages/api-v2/src/hooks/useTradingPlatformStatus.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv

chore: update code
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Rupato/BOT-2013/fix: added missing translations for blockly context menu (#16156)
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_create_with.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_getIndex.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_getSublist.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_indexOf.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_isEmpty.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_length.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_repeat.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_setIndex.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_sort.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_split.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_statement.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_flow_statements.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_for.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_forEach.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_repeat.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_repeat_ext.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_whileUntil.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Variable/variables_get.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Variable/variables_set.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/accumulator_take_profit.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_candleinterval.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_contracttype.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_market.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartbuysell.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartonerror.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradetype.js
  packages/bot-skeleton/src/scratch/utils/index.js
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: merged master to branch
  packages/account/src/Components/leave-confirm/leave-confirm.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: moved success dialog to it's directory
  packages/cfd/src/Components/success-dialog/index.ts
  packages/cfd/src/Components/success-dialog/success-dialog.jsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/cfd-top-up-demo-modal.tsx
Owners: @hirad-deriv, @matin-deriv

fix: not using quill
  package.json
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point.scss
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/payout-selector.scss
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @maryia-deriv

chore: address review comments
  packages/core/src/Stores/contract-trade-store.js
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot-display.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: small fix
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/__tests__/payout-per-point-input.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: bottom layout
  packages/trader/src/AppV2/Containers/Trade/trade.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @matin-deriv, @maryia-deriv

fix: pass currency across closed positions and contract details
  packages/trader/src/AppV2/Components/ContractCard/contract-cards-sections.tsx
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Owners: @matin-deriv, @maryia-deriv

fix: add a comment
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.tsx
Owners: @matin-deriv, @maryia-deriv

feat: updated migration success icons
  packages/components/src/components/icon/mt5/ic-mt5-standard-financial-bvi.svg
  packages/components/src/components/icon/mt5/ic-mt5-standard-financial-vanuatu.svg
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: resolved github issues
  packages/account/src/Components/leave-confirm/leave-confirm.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

refactor: add button type function
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: remove hardcoding pt1
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/useTransferMessages.ts
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useTransferMessages/utils/tradingPlatformStatusMessageFn.ts
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: getWalletHeaderButtons format
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: sonar lint fix
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-mobile-input.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point.scss
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.scss
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.tsx
Owners: @matin-deriv, @maryia-deriv

chore: delete dead directory
  packages/wallets/src/features/cfd/modals/ServerMaintenanceModal/ServerMaintenanceModal.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: remove passkey notif when user goes to desktop mode
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Aswathy/CRO-675/feat: added the residence in the analytics (#16147)
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/core/src/Stores/client-store.js
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

fix: errorMessage shown on initial focus
  packages/wallets/src/components/FormField/FormField.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: fix
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/payout-selector.tsx
Owners: @matin-deriv, @maryia-deriv

fix: fixed merge issues4
  packages/account/src/Components/leave-confirm/leave-confirm.tsx
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

chore: remove extra ! from passkey notification heading
  packages/core/src/Stores/notification-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: remove comments
  packages/core/src/Stores/notification-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: sonar lint
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/payout-selector.scss
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/payout-selector.tsx
Owners: @matin-deriv, @maryia-deriv

feat: converted to typescript
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Components/success-dialog/success-dialog.tsx
Owners: @hirad-deriv, @matin-deriv

fix: fixed test case
  packages/account/src/Components/leave-confirm/leave-confirm.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/de.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: created test file
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Components/success-dialog/__tests__/success-dialog.spec.tsx
  packages/cfd/src/Components/success-dialog/success-dialog.tsx
Owners: @hirad-deriv, @matin-deriv
