Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

chore: remove unused thing
  package.json
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/advanced-duration.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @maryia-deriv

chore: update @deriv/deriv-charts to 2.5.0
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: update modal based on design
  packages/account/src/Sections/Profile/PhoneVerification/__test__/verification-link-expired-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/cool-down-period-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/didnt-get-the-code-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-number-verified-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/account/src/Sections/Profile/PhoneVerification/verification-link-expired-modal.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: add potential payout to all old trade types
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @matin-deriv, @maryia-deriv

chore: update @deriv/deriv-charts to 2.5.0 (#16651)
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

revert: extra file from master
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: empty commit
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/__tests__/business-hour-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-main/business-hour-modal-main.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal.tsx
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-name/my-profile-name.tsx
  packages/p2p/src/stores/general-store.js
Owners: @farrah-deriv, @nijil-deriv

fix: updated package.json
  packages/p2p/package.json
Owners: @farrah-deriv, @nijil-deriv

feat: add steps 3 5 6 and remove skip button
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav-item.tsx
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/guide-container.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/onboarding-guide.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/onboarding-video.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @matin-deriv, @maryia-deriv

Akmal / feat: add trade types v2 (#15967)
  package-lock.json
  packages/core/src/_common/base/socket_base.js
  packages/stores/src/mockStore.ts
  packages/trader/package.json
  packages/trader/src/AppV2/Components/DraggableList/__tests__/draggable-list-item.spec.tsx
  packages/trader/src/AppV2/Components/DraggableList/__tests__/draggable-list.spec.tsx
  packages/trader/src/AppV2/Components/DraggableList/draggable-list-item.tsx
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.scss
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.tsx
  packages/trader/src/AppV2/Components/DraggableList/index.ts
  packages/trader/src/AppV2/Components/TradeTypeList/__tests__/trade-type-list-item.spec.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/__tests__/trade-type-list.spec.jsx
  packages/trader/src/AppV2/Components/TradeTypeList/index.ts
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list-item.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list.scss
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade-types.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useContractsForCompany.spec.tsx
  packages/trader/src/AppV2/Hooks/useContractsForCompany.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv

[DTRA] Maryia/DTRA-1410/fix: show all chart tools for minimized screen on a desktop device (#16587)
  packages/trader/src/Modules/SmartChart/Components/__tests__/toolbar-widgets.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/toolbar-widgets.tsx
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: double click next to submit IDV
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: add margin to wrapper instead of children (#16648)
  packages/appstore/src/modules/traders-hub/traders-hub.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: test failing
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/__tests__/business-hour-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-main/business-hour-modal-main.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal.tsx
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-name/my-profile-name-business-hours/my-profile-name-business-hours.tsx
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-name/my-profile-name.tsx
Owners: @farrah-deriv, @nijil-deriv

chore: incorporated Mobile layout
  packages/account/src/Constants/file-uploader.tsx
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Containers/Account/page-overlay-wrapper.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/poa-desktop-layout.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/poa-mobile-layout.scss
  packages/account/src/Sections/Verification/ProofOfAddress/poa-mobile-layout.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Types/common.type.ts
  packages/components/src/components/inline-message/inline-message.tsx
  packages/components/src/components/page-overlay/page-overlay.tsx
  packages/shared/src/utils/route/route.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

feat: add margin to wrapper instead of children (#16648)
  packages/appstore/src/modules/traders-hub/traders-hub.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: style issue in my profile page
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal.scss
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal.tsx
Owners: @farrah-deriv, @nijil-deriv

fix: resolved comments4
  packages/cfd/src/Containers/mt5-create-password/mt5-create-password.scss
  packages/cfd/src/Containers/mt5-create-password/mt5-create-password.tsx
Owners: @hirad-deriv, @matin-deriv

fix: cleaned testcases
  packages/cfd/src/Containers/mt5-create-password/__tests__/mt5-create-password.spec.js
Owners: @hirad-deriv, @matin-deriv

fix: resolved testcases
  packages/cfd/src/Containers/mt5-create-password/__tests__/mt5-create-password.spec.js
Owners: @hirad-deriv, @matin-deriv

fix: add optioonal chaining for guide component
  packages/trader/src/AppV2/Components/Guide/guide.tsx
Owners: @matin-deriv, @maryia-deriv

chore: rename prop of notifications
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: rename prop of notifications (#16658)
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: update Chart height
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.scss
  packages/trader/src/AppV2/Containers/Chart/contract-details-chart.scss
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
Owners: @matin-deriv, @maryia-deriv

refactor: make guide modal reusable for positions page
  packages/trader/src/AppV2/Components/OnboardingGuide/onboarding-guide.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/onboarding-guide.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @matin-deriv, @maryia-deriv

chore: incorporated POA for mobile
  packages/account/src/Components/file-uploader-container/file-uploader-container.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/poa-desktop-layout.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/poa-mobile-layout.scss
  packages/account/src/Sections/Verification/ProofOfAddress/poa-mobile-layout.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: failing testcases
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Sections/Verification/ProofOfIncome/__tests__/proof-of-income.spec.tsx
  packages/cfd/src/Components/__tests__/cfd-poa.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @hirad-deriv

fix: fiat-onramp contaier alignment issue
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoTryFiatOnRamp/DepositCryptoTryFiatOnRamp.scss
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoTryFiatOnRamp/DepositCryptoTryFiatOnRamp.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: add testid to sent email content wrapper
  packages/wallets/src/features/cfd/screens/ChangePassword/MT5ChangePasswordScreens.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: update breakpoints for scss files inside of wallets
  packages/wallets/src/components/AppCardBadge/AppCardBadge.scss
  packages/wallets/src/components/Base/ATMAmountInput/ATMAmountInput.scss
  packages/wallets/src/components/Base/IconButton/IconButton.scss
  packages/wallets/src/components/Base/InlineMessage/InlineMessage.scss
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.scss
  packages/wallets/src/components/Base/WalletAlertMessage/WalletAlertMessage.scss
  packages/wallets/src/components/SkeletonLoader/WalletsPriorityCryptoWithdrawLoader/WalletsPriorityCryptoWithdrawLoader.scss
  packages/wallets/src/components/ToggleSwitch/ToggleSwitch.scss
  packages/wallets/src/components/WalletListCardBadge/WalletListCardBadge.scss
  packages/wallets/src/components/WalletsPercentageSelector/WalletsPercentageSelector.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/TransactionsCompletedRowAccountDetails.scss
  packages/wallets/src/features/cfd/flows/ClientVerification/components/ResubmissionSuccessMessage/ResubmissionSuccessMessage.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: removed comment and added variable in botton-nav scss file
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
Owners: @matin-deriv, @maryia-deriv

chore: add unit tests for change password mt5 change password and trading platform change password
  packages/wallets/src/features/cfd/screens/ChangePassword/__tests__/ChangePassword.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/__tests__/MT5ChangePasswordScreens.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/__tests__/TradingPlatformChangePasswordScreens.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: add unit tests for investor password screens
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/__tests__/MT5ChangeInvestorPasswordInputsScreen.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/__tests__/MT5ChangeInvestorPasswordSavedScreen.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/__tests__/MT5ChangeInvestorPasswordScreens.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: remove unused import
  packages/wallets/src/features/cfd/screens/ChangePassword/__tests__/MT5ChangePasswordScreens.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: added tablet potrait screen css
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/shared/src/styles/devices.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

Update trade-type-list.spec.jsx
  packages/trader/src/AppV2/Components/TradeTypeList/__tests__/trade-type-list.spec.jsx
Owners: @matin-deriv, @maryia-deriv
