Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

fix: resolve comments for size and testcase
  packages/core/src/App/Containers/Modals/tnc-status-update-modal/__test__/tnc-status-update-modal.spec.tsx
  packages/core/src/App/Containers/Modals/tnc-status-update-modal/tnc-status-update-modal.scss
  packages/core/src/App/Containers/Modals/tnc-status-update-modal/tnc-status-update-modal.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

test: announcement-dialog component
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcement-dialog.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: resolving comments
  packages/core/src/App/Containers/Modals/tnc-status-update-modal/tnc-status-update-modal.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

test: announcements component
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcements.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore: add cursor for the button
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.scss
Owners: @sandeep-deriv, @vinu-deriv

chore: remove temporary other announcements except of accumulator feature
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcements.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
Owners: @sandeep-deriv, @vinu-deriv

refactor: increase height and width of the video
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: increase height and width of the video
  packages/trader/src/AppV2/Components/Guide/guide.scss
Owners: @matin-deriv, @maryia-deriv

refactor: styles and remove unused import
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: Add_and_enter_password_modals
  packages/cfd/src/Containers/cfd-enter-password-modal-title.tsx
  packages/cfd/src/Containers/cfd-password-modal-title.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/cfd-password-success-icon.tsx
  packages/cfd/src/Containers/mt5-create-password.tsx
Owners: @hirad-deriv, @matin-deriv

fix: mt5 default account
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Containers/cfd-password-change.tsx
  packages/cfd/src/Containers/cfd-password-modal-info.tsx
  packages/cfd/src/Containers/cfd-password-modal-tnc.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/jurisdiction-checkbox.tsx
  packages/cfd/src/Containers/jurisdiction-licence-note.tsx
  packages/cfd/src/Containers/mt5-create-password.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/index.ts
  packages/hooks/src/useGetDefaultMT5Jurisdiction.ts
  packages/stores/types.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: improve bottom nav styles + add fixed height to trade params minimized
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Owners: @matin-deriv, @maryia-deriv

chore: remove workflow and processes
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/shared/src/utils/routes/routes.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: remove cashier-v2 related line in robots.txt
  packages/core/src/root_files/robots.txt
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update package lock
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: blockly drag and zoom
  packages/bot-skeleton/src/scratch/hooks/gesture.js
Owners: @sandeep-deriv, @vinu-deriv

fix: blockly drag and zoom
  packages/bot-skeleton/src/scratch/hooks/gesture.js
Owners: @sandeep-deriv, @vinu-deriv

fix: blockly drag and zoom
  packages/bot-skeleton/src/scratch/hooks/gesture.js
Owners: @sandeep-deriv, @vinu-deriv

chore: update jest config file
  jest.config.js
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/km.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[WALL] farrah/WALL-4530/fixed iframe height in withdrawal (#16042)
  packages/cashier/src/components/cashier-container/real/real.scss
  packages/cashier/src/components/cashier-container/real/real.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/km.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: add expires on multiplier info
  packages/trader/src/AppV2/Components/MultipliersExpirationInfo/index.ts
  packages/trader/src/AppV2/Components/MultipliersExpirationInfo/multipliers-expiration-info.scss
  packages/trader/src/AppV2/Components/MultipliersExpirationInfo/multipliers-expiration-info.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
Owners: @matin-deriv, @maryia-deriv

fix: dont show info panel on landscape view
  packages/bot-web-ui/src/app/app-content.jsx
Owners: @sandeep-deriv, @vinu-deriv

feat: updated password modal design for desktop
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.scss
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: move multipliers-expiration-info to tradeparams folder
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersExpirationInfo/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersExpirationInfo/multipliers-expiration-info.scss
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersExpirationInfo/multipliers-expiration-info.tsx
Owners: @matin-deriv, @maryia-deriv

fix: added the console for analytics track
  packages/core/src/index.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: add barrier-info
  packages/trader/src/AppV2/Components/TradeParameters/BarrierInfo/barrier-info.scss
  packages/trader/src/AppV2/Components/TradeParameters/BarrierInfo/barrier-info.tsx
  packages/trader/src/AppV2/Components/TradeParameters/BarrierInfo/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

feat: updated password modal design for mobile
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.scss
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: removed commented css
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: resolved comments and added file which was removed
  packages/appstore/src/components/modals/failed-veriification-modal/failed-verification-modal.tsx
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-card.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-title-icon.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts.spec.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/cfd/src/types/cfd-store.types.ts
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv

feat: create mt5 create password
  packages/wallets/src/features/cfd/screens/CreatePasswordMT5/CreatePassword.scss
  packages/wallets/src/features/cfd/screens/CreatePasswordMT5/CreatePassword.tsx
  packages/wallets/src/features/cfd/screens/CreatePasswordMT5/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: revert create password
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.scss
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: fixed mt5 create password screen
  packages/wallets/src/features/cfd/screens/CreatePasswordMT5/CreatePasswordMT5.scss
  packages/wallets/src/features/cfd/screens/CreatePasswordMT5/CreatePasswordMT5.tsx
  packages/wallets/src/features/cfd/screens/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: fixed mt5 create password screen
  packages/wallets/src/features/cfd/screens/CreatePasswordMT5/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: added mt5 create password screen to mt5 password modal
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: rename css and show parameter info according to design
  packages/trader/src/AppV2/Components/TradeParameters/BarrierInfo/barrier-info.scss
  packages/trader/src/AppV2/Components/TradeParameters/BarrierInfo/barrier-info.tsx
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersExpirationInfo/multipliers-expiration-info.scss
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersExpirationInfo/multipliers-expiration-info.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
Owners: @matin-deriv, @maryia-deriv

fix: fixed css and classNames
  packages/wallets/src/features/cfd/screens/CreatePasswordMT5/CreatePasswordMT5.scss
  packages/wallets/src/features/cfd/screens/CreatePasswordMT5/CreatePasswordMT5.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: remove is_real for clevertab div
  packages/appstore/src/modules/traders-hub/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: for flyout gesture
  packages/bot-skeleton/src/scratch/dbot.js
Owners: @sandeep-deriv, @vinu-deriv
