Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

fix: for flyout gesture
  packages/bot-skeleton/src/scratch/hooks/gesture.js
Owners: @sandeep-deriv, @vinu-deriv

fix: added the await
  packages/core/src/Utils/Analytics/index.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: bug fixes in tablet view
  packages/p2p/src/components/block-selector/block-selector.scss
  packages/p2p/src/components/floating-rate/floating-rate.scss
  packages/p2p/src/components/modal-manager/modals/rating-modal/rating-modal.scss
  packages/p2p/src/components/modal-manager/modals/rating-modal/rating-modal.tsx
  packages/p2p/src/components/order-details/order-details-complain-modal-radio-group.scss
  packages/p2p/src/components/order-details/order-details-complain-modal.jsx
  packages/p2p/src/components/order-details/order-details-complain-modal.scss
  packages/p2p/src/components/order-details/order-details-footer.scss
  packages/p2p/src/components/order-details/order-details.scss
  packages/p2p/src/components/toggle-container/toggle-container.scss
  packages/p2p/src/pages/advertiser-page/advertiser-page-adverts.scss
  packages/p2p/src/pages/advertiser-page/advertiser-page-stats.jsx
  packages/p2p/src/pages/advertiser-page/advertiser-page.jsx
  packages/p2p/src/pages/buy-sell/buy-sell-header.scss
  packages/p2p/src/pages/my-ads/ad-type-section/ad-type-section-trailing-icon.tsx
  packages/p2p/src/pages/my-ads/toggle-ads.scss
  packages/p2p/src/pages/orders/chat/chat-header.scss
  packages/p2p/src/pages/orders/chat/chat.scss
  packages/p2p/src/pages/orders/order-table/order-table.scss
Owners: @farrah-deriv, @nijil-deriv

fix: create initial value for growth rate for backup
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate-picker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

chore: add new variables to mockstore
  packages/stores/src/mockStore.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: use global colors
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-components.tsx
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
Owners: @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: update banenr icon for responsive
  packages/components/src/components/icon/appstore/ic-appstore-deposit-now-coins-responsive.svg
  packages/components/src/components/icon/icons.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: add payout per point info
  packages/trader/src/AppV2/Components/TradeParameters/BarrierInfo/barrier-info.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPointInfo/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPointInfo/payout-per-point-info.scss
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPointInfo/payout-per-point-info.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

fix: blank page after removing last passkey, cookie flag add
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

[BOT] Farabi/bot-2027/rudderstack update dashboard shortcut events (#16334)
  packages/bot-web-ui/src/analytics/__tests__/utils.spec.ts
  packages/bot-web-ui/src/analytics/rudderstack-bot-builder.ts
  packages/bot-web-ui/src/analytics/rudderstack-common-events.ts
  packages/bot-web-ui/src/analytics/rudderstack-dashboard.ts
  packages/bot-web-ui/src/analytics/rudderstack-quick-strategy.ts
  packages/bot-web-ui/src/analytics/rudderstack-tutorials.ts
  packages/bot-web-ui/src/analytics/utils.ts
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/components/trade-animation/trade-animation.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/pages/dashboard/user-guide.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/km.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[BOT] Farabi/bot-2032/add mobile landscape blocker (#16316)
  packages/bot-web-ui/src/app/app-content.jsx
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.tsx
Owners: @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[BOT] maryia/fix: loader position, amount of progress bar dots (#16377)
  packages/bot-web-ui/src/components/contract-card-loading/__tests__/contract-card-loading.spec.tsx
  packages/bot-web-ui/src/components/contract-card-loading/__tests__/contract-card-running-bot.spec.tsx
  packages/bot-web-ui/src/components/contract-card-loading/contract-card-loading.tsx
  packages/bot-web-ui/src/components/contract-card-loading/contract-card-running-bot.tsx
  packages/bot-web-ui/src/components/summary/__tests__/summary-card.spec.tsx
  packages/bot-web-ui/src/components/summary/summary-card.scss
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/components/summary/summary-card.types.ts
  packages/bot-web-ui/src/components/summary/summary.scss
  packages/bot-web-ui/src/components/summary/summary.tsx
  packages/bot-web-ui/src/components/trade-animation/__tests__/contract-stage-text.spec.tsx
  packages/bot-web-ui/src/components/trade-animation/contract-stage-text.tsx
  packages/bot-web-ui/src/components/trade-animation/trade-animation.scss
  packages/bot-web-ui/src/components/trade-animation/trade-animation.tsx
  packages/bot-web-ui/src/constants/contract-stage.ts
  packages/bot-web-ui/src/pages/main/main.scss
  packages/bot-web-ui/src/stores/summary-card-store.ts
  packages/components/src/components/icon/common/ic-circle-loader.svg
  packages/components/src/components/icon/icons.js
Owners: @sandeep-deriv, @vinu-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/km.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: add initial values for strike
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate-picker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike-wheel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

fix: remove multiplier infos
  packages/trader/src/AppV2/Components/TradeParameters/BarrierInfo/barrier-info.tsx
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersInformation/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersInformation/multipliers-information.scss
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersInformation/multipliers-information.tsx
  packages/trader/src/AppV2/Components/TradeParameters/__tests__/trade-parameters.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Owners: @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: do not lazy load CashierBreadcrumb in PageContainer
  packages/cashier/src/components/page-container/page-container.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: added the cache storage for the events
  packages/core/src/index.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: add unit tests for derivappsgetaccount section
  packages/wallets/src/components/DerivAppsSection/__test__/DerivAppsGetAccount.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: update yml file to build docker image
  .github/workflows/build_docker_image.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: fix failing tests on master
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/CryptoTransaction/__tests__/CryptoTransaction.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: finished with styles for banner
  packages/appstore/src/components/banners/deposit-now-banner/deposit-now-banner.scss
  packages/appstore/src/components/banners/deposit-now-banner/deposit-now-banner.tsx
  packages/appstore/src/components/banners/traders-hub-banners/traders-hub-banners.tsx
  packages/components/src/components/icon/appstore/ic-appstore-deposit-now-non-eu-coins-desktop.svg
  packages/components/src/components/icon/appstore/ic-appstore-deposit-now-non-eu-coins-responsive.svg
  packages/components/src/components/icon/icons.js
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: height for order details complain modal
  packages/p2p/src/components/order-details/order-details-complain-modal.scss
  packages/p2p/src/components/order-details/order-details.scss
Owners: @farrah-deriv, @nijil-deriv

Jim/wall 4713/deriv apps get account test cases (#16447)
  packages/wallets/src/components/DerivAppsSection/__test__/DerivAppsGetAccount.spec.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/CryptoTransaction/__tests__/CryptoTransaction.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

Jim/wall 4713/deriv apps get account test cases (#16447)
  packages/wallets/src/components/DerivAppsSection/__test__/DerivAppsGetAccount.spec.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/CryptoTransaction/__tests__/CryptoTransaction.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: update ff name
  packages/appstore/src/components/banners/traders-hub-banners/traders-hub-banners.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

Suisin/update workflow for build docker image (#16427)
  .github/workflows/build_docker_image.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[UPM] Sergei / UPM - 1209 / Notification and Banner for Senegal business closure (#16349)
  packages/appstore/src/components/banners/business-closure-banner/__tests__/business-closure-banner.spec.tsx
  packages/appstore/src/components/banners/business-closure-banner/business-closure-banner.scss
  packages/appstore/src/components/banners/business-closure-banner/business-closure-banner.tsx
  packages/appstore/src/components/banners/business-closure-banner/index.ts
  packages/appstore/src/modules/traders-hub/__tests__/index.spec.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/cashier/src/components/cashier-locked/cashier-locked-provider.tsx
  packages/cashier/src/components/cashier-locked/cashier-locked.tsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/ui-store.js
  packages/hooks/src/useDepositLocked.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/__tests__/trading-disabled-by-residence-modal-content.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/__tests__/trading-disabled-by-residence-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/index.ts
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/trading-disabled-by-residence-modal-content.tsx
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/trading-disabled-by-residence-modal.scss
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/trading-disabled-by-residence-modal.tsx
  packages/trader/src/App/Containers/Modals/trade-modals.tsx
  packages/trader/src/Modules/Trading/Containers/purchase.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @farrah-deriv, @wojciech-deriv, @ali-hosseini-deriv, @maryia-deriv

feat: added tnc check
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/screens/CreatePasswordMT5/CreatePasswordMT5.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

revert: do not lazy load CashierBreadcrumb in PageContainer
  packages/cashier/src/components/page-container/page-container.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv

fix: move logic from client-store to hooks
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/index.ts
  packages/hooks/src/useTncStatusUpdate.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: resolve comments
  packages/api/src/hooks/useDocumentUpload.ts
Owners: @wojciech-deriv, @matin-deriv, @yashim-deriv

refactor: change ff name again
  packages/appstore/src/components/banners/traders-hub-banners/traders-hub-banners.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: higher z index for notifications
  packages/p2p/src/pages/app.scss
Owners: @farrah-deriv, @nijil-deriv

fix: added the cache storage in the account country selection page
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/index.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[WALL] george / WALL-4522 / Add ce_cashier_deposit_onboarding_form analytics events (#16260)
  packages/cashier/package.json
  packages/cashier/src/components/deposit-sub-page-analytics-event-tracker/deposit-sub-page-analytics-event-tracker.tsx
  packages/cashier/src/components/deposit-sub-page-analytics-event-tracker/index.ts
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/modules/cashier-onboarding/cashier-onboarding.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/__test__/cashier-onboarding-card.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/cashier-onboarding-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-crypto-card/cashier-onboarding-crypto-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-fiat-card/cashier-onboarding-fiat-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-onramp-card/cashier-onboarding-onramp-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-p2p-card/cashier-onboarding-p2p-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-payment-agent-card/cashier-onboarding-payment-agent-card.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-wallet-address/deposit-crypto-wallet-address.tsx
  packages/cashier/src/modules/deposit-crypto/deposit-crypto.tsx
  packages/cashier/src/modules/deposit-fiat/deposit-fiat.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.tsx
  packages/components/src/components/clipboard/clipboard.tsx
  packages/components/src/components/vertical-tab/vertical-tab-content-container.tsx
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/components/src/components/vertical-tab/vertical-tab.tsx
  packages/p2p/package.json
  packages/p2p/src/pages/app.jsx
  packages/p2p/webpack.config.js
Owners: @farrah-deriv, @nijil-deriv, @wojciech-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv
