Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv

fix: added await before userEventcd
  packages/bot-web-ui/src/pages/bot-builder/toolbar/__tests__/toolbar.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

refactor: the migration banner condition
  packages/appstore/src/components/main-title-bar/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

[BOT] Farabi/bot-1469/update locators on dbot (#15557)
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/components/bot-notification/bot-notification.tsx
  packages/bot-web-ui/src/components/transactions/transaction.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/__tests__/form.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/inputs/__tests__/qs-input.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/inputs/qs-input.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/__tests__/contract_type.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/__tests__/duration_type.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/__tests__/symbol.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/__tests__/trade-type.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/contract-type.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/duration-type.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/symbol.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/trade-type.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent-workspace.tsx
Owners: @sandeep-deriv, @vinu-deriv

[FEQ]farrah/FEQ-2347/refactor: p2p-v2-feature-flag (#15610)
  package-lock.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/p2p/package.json
  packages/p2p/src/pages/app.jsx
  packages/trader/package.json
  packages/tradershub/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/si.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

style: address review comments
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[BOT] Farabi/bot 1900/fix qs run and edit rudderstack event (#15624)
  packages/bot-web-ui/src/analytics/utils.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/useQsSubmitHandler.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/useQsSubmitHandler.tsx
Owners: @sandeep-deriv, @vinu-deriv

feat: remove comment after confirmation from cfd squad
  packages/appstore/src/components/modals/modal-manager.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/si.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[BOT] Farabi/bot-1489/test cases for toolbar folder (#15613)
  packages/bot-web-ui/src/pages/bot-builder/__tests__/workspace-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/__tests__/toolbar.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/__tests__/workspace-group.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/index.scss
Owners: @sandeep-deriv, @vinu-deriv

chore: revert tradershub store conditions after using base store localstorage methods
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/core/src/Stores/traders-hub-store.js
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: incorporated css fix for mt5 poi
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/sass/app.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[WALL-4360] migrate account creation to async flow (#15599)
  packages/api-v2/src/hooks/useCreateWallet.ts
  packages/api-v2/src/hooks/useDerivAccountsList.ts
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/__tests__/WalletsAddMoreCardBanner.spec.tsx
  packages/wallets/src/hooks/__tests__/useSyncLocalStorageClientAccounts.spec.ts
  packages/wallets/src/hooks/__tests__/useSyncLocalStorageClientAccounts.spec.tsx
  packages/wallets/src/hooks/useSyncLocalStorageClientAccounts.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

chore: resolved comments and added fragment
  packages/account/src/Components/trading-assessment/trading-assessment-dropdown.tsx
  packages/account/src/Sections/Assessment/TradingAssessment/trading-assessment.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: add forgotten param
  packages/reports/src/Stores/Modules/Profit/profit-store.js
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

fix: mt5 platform loading for restricted countries
  packages/appstore/src/components/cfds-listing/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: contract details test case
  packages/trader/src/AppV2/Containers/ContractDetails/__tests__/contract-details.spec.tsx
Owners: @matin-deriv, @maryia-deriv

chore(logout): remove traders_hub_store from localstorage on logout
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore(tradershub): show loading until the landing company is loaded once
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/core/src/Stores/traders-hub-store.js
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: making small changes based on the demo
  packages/cfd/src/Helpers/cfd-config.ts
  packages/cfd/src/Helpers/compare-accounts-config.ts
Owners: @hirad-deriv, @matin-deriv

Markodonnell deriv manual smoketests v2 (#15626)
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

feat: refactoring, sorting, extracting
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: change mobile mixin to mobile-or-tablet-screen
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.scss
  packages/bot-web-ui/src/pages/dashboard/dashboard.scss
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/index.scss
  packages/wallets/src/features/cfd/screens/Onfido/Onfido.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: change mixins
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/core/src/sass/account-wizard.scss
  packages/trader/src/sass/app/_common/components/allow-equals.scss
  packages/trader/src/sass/app/_common/components/contract-audit.scss
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
  packages/trader/src/sass/app/_common/components/contract-type-list.scss
  packages/trader/src/sass/app/_common/components/market-is-closed-overlay.scss
  packages/trader/src/sass/app/_common/components/purchase-button.scss
  packages/trader/src/sass/app/_common/components/video-player.scss
  packages/trader/src/sass/app/_common/drawer/contract-drawer.scss
  packages/trader/src/sass/app/_common/drawer/positions-modal-card.scss
  packages/trader/src/sass/app/modules/contract.scss
  packages/trader/src/sass/app/modules/contract/digits.scss
  packages/trader/src/sass/app/modules/smart-chart.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
  packages/trader/src/sass/app/modules/trading.scss
  packages/wallets/src/components/WalletsErrorScreen/WalletsErrorScreen.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: made changes based on comments
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-description.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-title-icon.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-zero-spread-platform.svg
Owners: @hirad-deriv, @matin-deriv, @ali-hosseini-deriv, @maryia-deriv

chore: fix logged out available platforms
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: capitalising the spread word
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-title-icon.spec.tsx
  packages/cfd/src/Helpers/compare-accounts-config.ts
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
  packages/core/src/Constants/cfd-text.js
  packages/core/src/Stores/traders-hub-store.js
  packages/shared/src/utils/cfd/cfd.ts
Owners: @hirad-deriv, @matin-deriv, @ali-hosseini-deriv, @maryia-deriv

[TRAH]/Mitra/TRAH-3670/Regex for first and last name validation (#15550)
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Helpers/utils.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details-form.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/shared/src/utils/validation/declarative-validation-rules.ts
  packages/wallets/src/features/accounts/validations.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/km.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/mn.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/uz.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: cfd-poa
  packages/account/src/Components/poi/status/unsupported/detail-component.tsx
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Components/__tests__/cfd-poa.spec.tsx
  packages/cfd/src/Components/cfd-poa.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv

fix: test case
  packages/account/src/Components/poi-manual-upload-failed/__tests__/poi-manual-upload-failed.spec.tsx
  packages/account/src/Components/poi-manual-upload-failed/poi-manual-upload-failed.tsx
  packages/components/src/components/icon-message-content/icon-message-content.scss
  packages/components/src/components/icon-message-content/icon-message-content.tsx
  packages/components/src/components/icon-message-content/index.ts
  packages/components/src/index.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: test case fix
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Components/cfd-poa.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv

fix: self exclusion and css
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-article.spec.tsx
  packages/core/src/sass/app/_common/components/account-common.scss
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

feat: added base components for flow-free DatePicker and TextField
  packages/wallets/src/components/FormDatePicker/FormDatePicker.scss
  packages/wallets/src/components/FormDatePicker/FormDatePicker.tsx
  packages/wallets/src/components/FormDatePicker/__tests__/DatePicker.spec.tsx
  packages/wallets/src/components/FormDatePicker/index.ts
  packages/wallets/src/components/FormDatePicker/utils.ts
  packages/wallets/src/components/FormTextField/FormTextField.tsx
  packages/wallets/src/components/FormTextField/__tests__/FormTextField.tsx
  packages/wallets/src/components/FormTextField/index.ts
  packages/wallets/src/components/index.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: use ObjectUtils.hashObject function instead of JSON.stringify
  packages/api/package.json
  packages/api/src/hooks/useRemoteConfig.ts
Owners: @wojciech-deriv, @matin-deriv, @yashim-deriv

fix: constant value
  packages/account/src/Components/poa/status/unverified/unverified.tsx
  packages/account/src/Components/poi-manual-upload-failed/poi-manual-upload-failed.tsx
  packages/account/src/Components/poi/status/unsupported/detail-component.tsx
  packages/account/src/Constants/api-error-codes.ts
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: linting:
  packages/account/src/Components/poa/status/unverified/unverified.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv
