Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

refactor: make reusable object with the text contract stages for component and test case
  packages/bot-web-ui/src/components/trade-animation/__tests__/contract-stage-text.spec.tsx
  packages/bot-web-ui/src/components/trade-animation/contract-stage-text.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: all ts errors
  packages/core/src/App/Components/Layout/Header/account-info-dtrader-v2.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list-dtrader-v2.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-dtrader-v2.tsx
  packages/core/src/sass/app/_common/components/account-switcher-dtrader-v2.scss
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

test: ContractCardLoader and ContractCardRunningBot components
  packages/bot-web-ui/src/components/contract-card-loading/__tests__/contract-card-loading.spec.tsx
  packages/bot-web-ui/src/components/contract-card-loading/__tests__/contract-card-running-bot.spec.tsx
  packages/bot-web-ui/src/components/contract-card-loading/contract-card-running-bot.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: dtrader url params missing upon return from c.details/if DTrader is selected from Header twice
  packages/core/package.json
  packages/core/src/App/Components/Layout/Header/__tests__/platform-dropdown.spec.tsx
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
  packages/shared/src/utils/contract/trade-url-params-config.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: [UPM-1188]/evgeniy/remove language settings section in account settings
  packages/account/integration-tests/personal-details/menu.spec.tsx
  packages/account/src/Components/language-settings/__tests__/language-radio-button.spec.tsx
  packages/account/src/Components/language-settings/index.ts
  packages/account/src/Components/language-settings/language-radio-button.tsx
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Containers/Account/account.tsx
  packages/account/src/Sections/Profile/LanguageSettings/__tests__/language-settings.spec.tsx
  packages/account/src/Sections/Profile/LanguageSettings/index.ts
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/sass/app/_common/components/settings-language.scss
  packages/shared/src/utils/routes/routes.ts
  packages/stores/types.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

test: SummaryCard component
  packages/bot-web-ui/src/components/summary/__tests__/summary-card.spec.tsx
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/components/summary/summary-card.types.ts
  packages/bot-web-ui/src/components/summary/summary.tsx
Owners: @sandeep-deriv, @vinu-deriv

refactor: test SummaryCard component
  packages/bot-web-ui/src/components/summary/__tests__/summary-card.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

refactor: clean sonar cloud smells
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-dtrader-v2.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: remove unnecessary test for menu-link
  packages/core/src/App/Components/Layout/Header/__tests__/menu-link.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat(wallets): :sparkles: add analytics to track wallets events
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/desktop-real-wallets-upgrade/desktop-real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/mobile-real-wallets-upgrade/mobile-real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/appstore/src/constants/upgrade-wallets-modal.ts
  packages/core/src/App/Containers/Modals/wallets-upgrade-logout-modal/wallets-upgrade-logout-modal.tsx
  packages/core/src/Stores/client-store.js
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

refactor: add function for selecting account name
  packages/core/src/App/Components/Layout/Header/account-actions-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/account-info-dtrader-v2.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-dtrader-v2.tsx
  packages/core/src/App/Containers/Layout/header/header-account-actions-dtrader-v2.tsx
  packages/core/src/sass/app/_common/components/account-switcher-dtrader-v2.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: add loader and indeterminate state
  packages/core/src/App/Components/Layout/Header/account-actions-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/account-info-dtrader-v2.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-dtrader-v2.tsx
  packages/core/src/App/Containers/Layout/header/header-account-actions-dtrader-v2.tsx
  packages/core/src/sass/app/_common/layout/header.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: add wrapper with separators
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list-dtrader-v2.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-dtrader-v2.tsx
  packages/core/src/sass/app/_common/components/account-switcher-dtrader-v2.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

test: init tests for open-positions
  packages/reports/src/Containers/__tests__/open-positions-table.spec.tsx
  packages/reports/src/Containers/__tests__/open-positions.spec.tsx
  packages/stores/types.ts
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv, @ali-hosseini-deriv

refactor: extract new files into a specific folder
  packages/core/src/App/Components/Layout/Header/account-info-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/Utils/account-switcher-dtrader-v2-utils.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-actions-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-info-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-switcher-account-list-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-switcher-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/header-account-actions-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/index.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list-dtrader-v2.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-v2-header.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[DTRA] henry/webrel-23/chore: add tests (#15518)
  packages/reports/src/Constants/__tests__/data-table-constants.spec.tsx
  packages/reports/src/Constants/data-table-constants.tsx
  packages/reports/src/Types/common-prop.type.ts
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

DTRA-1328 / Kate / [Position and Contract Details page] Filtration refactoring (#15485)
  package-lock.json
  packages/core/package.json
  packages/reports/src/Stores/Modules/Profit/profit-store.js
  packages/reports/src/Stores/useReportsStores.tsx
  packages/trader/package.json
  packages/trader/src/AppV2/Components/Chip/__tests__/chip.spec.tsx
  packages/trader/src/AppV2/Components/Chip/chip.scss
  packages/trader/src/AppV2/Components/Chip/chip.tsx
  packages/trader/src/AppV2/Components/Chip/index.ts
  packages/trader/src/AppV2/Components/DatePicker/__tests__/date-picker.spec.tsx
  packages/trader/src/AppV2/Components/DatePicker/date-picker.tsx
  packages/trader/src/AppV2/Components/EmptyPositions/__tests__/empty-positions.spec.tsx
  packages/trader/src/AppV2/Components/EmptyPositions/empty-positions.tsx
  packages/trader/src/AppV2/Components/Filter/__tests__/contract-type-filter.spec.tsx
  packages/trader/src/AppV2/Components/Filter/__tests__/time-filter.spec.tsx
  packages/trader/src/AppV2/Components/Filter/contract-type-filter.tsx
  packages/trader/src/AppV2/Components/Filter/filter.scss
  packages/trader/src/AppV2/Components/Filter/time-filter.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
  packages/trader/src/AppV2/Utils/__tests__/positions-utils.spec.ts
  packages/trader/src/AppV2/Utils/positions-utils.ts
  packages/trader/src/Stores/Modules/Positions/__tests__/positions-store.spec.ts
  packages/trader/src/Stores/Modules/Positions/positions-store.ts
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @ali-hosseini-deriv, @maryia-deriv, @mahdiyeh-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/tr.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: fixed p2p iframe url issue + send language to p2p
  packages/core/src/Modules/P2PIFrame/P2PIFrame.tsx
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: changing the placement of zero spread in compare accounts page
  packages/cfd/src/Helpers/compare-accounts-config.ts
Owners: @hirad-deriv, @matin-deriv

chore: subtask/CFDS-4209
  packages/wallets/src/features/cfd/screens/CompareAccounts/compareAccountsConfig.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: subtask/CFDS-4215
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-verification-contents.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: fixed p2p iframe url issue + send language to p2p (#15682)
  packages/core/src/Modules/P2PIFrame/P2PIFrame.tsx
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/tr.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: fixed p2p iframe url issue + send language to p2p (#15682)
  packages/core/src/Modules/P2PIFrame/P2PIFrame.tsx
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update test case
  packages/wallets/src/components/WalletsResetMT5Password/__test__/WalletsResetMT5Password.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: added non async account list api call at the end of the func
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
Owners: @hirad-deriv, @matin-deriv

chore: update code based on comments
  packages/account/src/Sections/Profile/PhoneVerification/__test__/validation.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/resend-code-timer.tsx
  packages/account/src/Sections/Profile/PhoneVerification/validation.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: unique keys
  packages/trader/src/AppV2/Components/OrderDetails/order-details.tsx
  packages/trader/src/AppV2/Components/TakeProfitHistory/take-profit-history.tsx
Owners: @matin-deriv, @maryia-deriv

fix: removed step-idex undefined
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/cfd/src/Components/cfd-poa.tsx
  packages/cfd/src/features/Components/proof-of-address.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @hirad-deriv

revert: reverting the revert :woman-facepalming:
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: test case description
  packages/cfd/src/Components/__tests__/cfd-poa.spec.tsx
Owners: @hirad-deriv, @matin-deriv

header fix
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/trader/src/AppV2/Routes/router.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: :bug: just for test
  packages/appstore/src/modules/traders-hub/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

chore: added WalletMarketCurrencyIcon test case
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
  packages/wallets/src/components/WalletMarketCurrencyIcon/__test__/WalletMarketCurrencyIcon.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: multiple improvements
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/AppV2/Components/CardWrapper/__tests__/card-wrapper.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: rename status as per design
  packages/bot-web-ui/src/components/trade-animation/contract-stage-text.tsx
Owners: @sandeep-deriv, @vinu-deriv

chore(wallets): :bookmark: update analytics package to v1.6.2
  package-lock.json
  package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @hirad-deriv, @ali-hosseini-deriv

test: more tests for open-positions
  packages/reports/src/Containers/__tests__/open-positions.spec.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

fix: The issue of investor password modal is fixed
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/shared/src/utils/cfd/cfd.ts
Owners: @hirad-deriv, @matin-deriv, @ali-hosseini-deriv, @maryia-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
