Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

chore: files
  packages/reports/src/Containers/__tests__/profit-table.spec.tsx
  packages/reports/src/Containers/profit-table.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

chore: small fix
  packages/cashier-v2/src/types.ts
  packages/reports/src/Containers/profit-table.tsx
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @mahdiyeh-deriv, @maryia-deriv

chore: profit-table
  packages/reports/src/Containers/__tests__/profit-table.spec.tsx
  packages/reports/src/Containers/profit-table.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

fix: multiple derived svg mt5 accounts check
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: remove all badges
  packages/wallets/src/components/WalletListCardBadge/WalletListCardBadge.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/TransactionsCompletedRowAccountDetails.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

revert: revert type change
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/TransactionsCompletedRowAccountDetails.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: implemented new validation config
  packages/account/src/Components/forms/form-fields/tax-residence.tsx
  packages/account/src/Configs/user-profile-validation-config.ts
  packages/account/src/Containers/employment-tax-details-container.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useTinValidations.ts
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

build: add DR vercel config
  vercel_DR.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

ci: add vercel DR temp workflow
  .github/workflows/deploy_DR.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

ci: rename the workflow
  .github/workflows/deploy_DR.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: resolved comment
  packages/account/src/Components/poi/idv-status/idv-failed/__tests__/idv-failed.spec.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

[WEBREL] / Ameerul / WEBREL-2858 Order unsuccessful error modal showing in glitch when trying to place order again after market rate change (#15814)
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.tsx
  packages/p2p/src/stores/buy-sell-store.js
Owners: @farrah-deriv, @nijil-deriv

fix: resolved comment webpack
  packages/account/build/webpack.config.js
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: remove unused props
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowTransferAccountDetails/TransactionsCompletedRowTransferAccountDetails.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[WEBREL] / Ameerul / WEBREL-2858 Order unsuccessful error modal showing in glitch when trying to place order again after market rate change (#15814)
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.tsx
  packages/p2p/src/stores/buy-sell-store.js
Owners: @farrah-deriv, @nijil-deriv

chore: added lazy loading for some section
  packages/account/src/Components/api-token/api-token-article.tsx
  packages/account/src/Components/api-token/api-token-clipboard.tsx
  packages/account/src/Components/api-token/api-token-context.ts
  packages/account/src/Components/api-token/api-token-delete-button.tsx
  packages/account/src/Components/api-token/api-token-table-row.tsx
  packages/account/src/Components/api-token/api-token-table.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article.tsx
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/Security/ApiToken/api-token.tsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/digit-form.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication-article.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/km.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/bn.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[WEBREL] / Ameerul / WEBREL-2860 UI Bug : The search and filter boxes on P2P buy/sell tab are not aligned in desktop and responsive mode (#15832)
  packages/components/src/components/dropdown/dropdown.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: scroll to top for qs guide details page
  packages/bot-web-ui/src/pages/tutorials/quick-strategy-content/quick-strategy-guides-details.tsx
Owners: @sandeep-deriv, @vinu-deriv

[WEBREL] / Ameerul / WEBREL-2860 UI Bug : The search and filter boxes on P2P buy/sell tab are not aligned in desktop and responsive mode (#15832)
  packages/components/src/components/dropdown/dropdown.scss
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: added sideEffects
  packages/cfd/build/webpack.config.js
  packages/cfd/package.json
Owners: @hirad-deriv, @matin-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/km.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/bn.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: add descriprion for rise fall and added sorting for contracts
  packages/trader/src/AppV2/Components/Guide/Description/accumulators-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/rise-fall-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/decription-modal.tsx
  packages/trader/src/AppV2/Components/Guide/definition-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.scss
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Components/Guide/trade-description.tsx
Owners: @matin-deriv, @maryia-deriv

feat: unset margin-top (#15826)
  packages/account/src/Styles/account.scss
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: added validation check in Real account sign up
  packages/account/src/Sections/Employment-Tax-info/employment-tax-info.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: unset margin-top (#15826)
  packages/account/src/Styles/account.scss
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: change text size for desktop (#15831)
  packages/appstore/src/modules/traders-hub/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

feat: change text size for desktop (#15831)
  packages/appstore/src/modules/traders-hub/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/km.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/bn.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[WEBREL] Sergei / WEBREL - 2863 / Wallet issues (#15823)
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[WEBREL] Sergei / WEBREL - 2863 / Wallet issues (#15823)
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/km.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/bn.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: map symbol icons
  packages/trader/src/AppV2/Components/MarketCategory/market-category.scss
  packages/trader/src/AppV2/Components/MarketCategory/market-category.tsx
  packages/trader/src/AppV2/Components/SymbolIconsMapper/symbol-icons-mapper.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: throwErrorForExceptionCountries()
  packages/bot-web-ui/src/stores/app-store.ts
Owners: @sandeep-deriv, @vinu-deriv

Removed inputs
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/km.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/mn.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/sw.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/bn.json
Owners: @farrah-deriv, @nijil-deriv, @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

Update smoketests_manual.yml
  .github/workflows/smoketests_manual.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

build: override install command
  vercel_DR.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

ci: rename job name
  .github/workflows/deploy_DR.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: fix failing tests
  packages/wallets/src/components/WalletListCardBadge/__tests__/WalletListCardBadge.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/__tests__/TransferFormAccountCard.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
