Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

shafin/fix: server bot empty name save issue fix (#16667)
  packages/bot-web-ui/src/components/load-modal/__tests__/load-modal.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/add-text-input.tsx
Owners: @sandeep-deriv, @vinu-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: added unit tests for VerificationFailed component
  packages/wallets/src/features/cfd/screens/VerificationFailed/__tests__/VerificationFailed.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

refactor: add bo disabling text on purchase button
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button-content.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPointInfo/payout-per-point-info.tsx
Owners: @matin-deriv, @maryia-deriv

fix: save button enabled first time
  packages/components/src/components/icon/common/ic-reset-time.svg
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-edit/business-hour-modal-edit.scss
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-edit/business-hour-modal-edit.tsx
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal.scss
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal.tsx
  packages/p2p/src/stores/my-profile-store.js
  packages/p2p/src/utils/business-hours.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @farrah-deriv, @nijil-deriv

fix: udpated z index for popover
  packages/p2p/src/components/modal-manager/modals/business-hour-modal/business-hour-modal-edit/business-hour-modal-edit.tsx
Owners: @farrah-deriv, @nijil-deriv

refactor: add conditional rendering and loader for acc info and barroer info and added tests
  packages/trader/src/AppV2/Components/PurchaseButton/__tests__/purchase-button-content.spec.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/__tests__/purchase-button.spec.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button-content.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AccumulatorsInformation/__tests__/accumulators-information.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AccumulatorsInformation/accumulators-information.tsx
  packages/trader/src/AppV2/Components/TradeParameters/BarrierInfo/__tests__/barrier-info.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/BarrierInfo/barrier-info.tsx
Owners: @matin-deriv, @maryia-deriv

refactor: purchase button
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
Owners: @matin-deriv, @maryia-deriv

feat: add useFreshChat hook as temp solution
  packages/core/src/App/Components/Elements/LiveChat/live-chat.tsx
  packages/core/src/App/Components/Elements/LiveChat/use-freshchat.ts
  packages/core/src/index.html
  types/global.d.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @markwylde-deriv

chore: update the version of deriv-com/ui
  packages/account/package.json
  packages/appstore/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @mahdiyeh-deriv, @nijil-deriv, @farrah-deriv, @wojciech-deriv, @hirad-deriv, @ali-hosseini-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

fix: the issue after update the version in dtrader
  packages/reports/src/Containers/__tests__/reports.spec.tsx
  packages/trader/src/App/Containers/__tests__/trade-header-extensions.spec.tsx
Owners: @mahdiyeh-deriv, @matin-deriv, @maryia-deriv

fix: provide the notifications component with new mandatory prop loadMoreFunction
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
Owners: @sandeep-deriv, @vinu-deriv

fix: failing tests
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade-types.spec.tsx
Owners: @matin-deriv, @maryia-deriv

fix: failing workflow
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/WithdrawalVerificationSent/WithdrawalVerificationSent.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: applied comments
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.tsx
  packages/wallets/src/hooks/useIsRtl.ts
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[WALL] Jim/WALL-2952/add unit tests for jurisdiction screen (#16692)
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionScreen.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/__tests__/JurisdictionScreen.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: choosen trade type to be visible
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
Owners: @matin-deriv, @maryia-deriv

[WALL] Aizad/WALL-4691/ Replace WalletCheckbox with Checkbox from deriv-com/ui (#16565)
  packages/wallets/src/components/Base/WalletCheckbox/WalletCheckbox.scss
  packages/wallets/src/components/Base/WalletCheckbox/WalletCheckbox.tsx
  packages/wallets/src/components/Base/WalletCheckbox/index.ts
  packages/wallets/src/components/Base/index.ts
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriority/WithdrawalCryptoPriority.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

[WALL] Lubega / WALL-4810 / Add missing crowdin strings (#16662)
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/Base/WalletClipboard/WalletClipboard.tsx
  packages/wallets/src/components/WalletsPercentageSelector/WalletsPercentageSelector.tsx
  packages/wallets/src/features/accounts/modules/ManualService/ManualService.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/TaxInformation.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/FiatOnRamp.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/components/FiatOnRampDisclaimer/FiatOnRampDisclaimer.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoAmountConverter/WithdrawalCryptoAmountConverter.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriorityFeeInfo/WithdrawalCryptoPriorityFeeInfo.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/utils/withdrawalCryptoValidators.ts
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/WithdrawalVerificationSent/WithdrawalVerificationSent.tsx
  packages/wallets/src/features/cfd/CFDPlatformsListEmptyState.tsx
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordInputsScreen.tsx
  packages/wallets/src/features/cfd/screens/DynamicLeverage/DynamicLeverageMarketCard.tsx
  packages/wallets/src/features/cfd/screens/DynamicLeverage/DynamicLeverageScreen.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5MobileRedirectOption.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

Lubega / TRAH-3965 / Trader's hub link underline fix (#16517)
  packages/appstore/src/components/containers/listing-container.scss
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

[WALL] Aizad/WALL-4655/Translating the migration video to Arabic (#16570)
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/appstore/src/constants/wallet-migration-video-translations.ts
  packages/components/package.json
  packages/components/src/components/video-player/video-player.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/uz.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: issue with landing company switch
  packages/shared/src/utils/platform/platform.ts
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Hooks/useContractsForCompany.ts
  packages/trader/src/AppV2/Hooks/useDtraderQuery.ts
  packages/trader/src/AppV2/Utils/client.ts
  packages/trader/src/Stores/Modules/Trading/Actions/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

refactor: rename to is_fetching
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Hooks/useContractsForCompany.ts
  packages/trader/src/AppV2/Hooks/useDtraderQuery.ts
Owners: @matin-deriv, @maryia-deriv

chore: fix
  packages/trader/src/App/Components/Form/fieldset.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/payout-selector.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/__tests__/wheel-picker.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Owners: @matin-deriv, @maryia-deriv

chore: fix email otp code not passing into phone_number_challenge
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: update test cases
  packages/wallets/src/components/Page404/__test__/Page404.spec.tsx
  packages/wallets/src/components/WalletsResetMT5Password/__test__/WalletsResetMT5Password.spec.tsx
  packages/wallets/src/features/cfd/__tests__/CFDPlatformsList.spec.tsx
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/__tests__/MT5AccountAdded.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/__tests__/MT5ChangeInvestorPasswordInputsScreen.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

fix: setting aspect ratio
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-description.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
Owners: @matin-deriv, @maryia-deriv

build: update to version 1.14
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @ali-hosseini-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @aizad-deriv, @heorhi-deriv

ci: fix failing tests
  packages/wallets/src/features/cfd/screens/Jurisdiction/__tests__/JurisdictionScreen.spec.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

feat: add user_id only if its available
  packages/core/src/Stores/client-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: update sizing inside wallet carousel header
  packages/wallets/src/components/WalletsCarouselHeader/WalletsCarouselHeader.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

test: fix analytics test cases
  packages/appstore/src/components/modals/setup-real-account-or-go-to-demo-modal/__tests__/setup-real-account-or-go-to-demo-modal-content.spec.tsx
  packages/appstore/src/components/modals/setup-real-account-or-go-to-demo-modal/__tests__/setup-real-account-or-go-to-demo-modal.spec.tsx
  packages/components/src/components/icon/icons.js
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv, @ali-hosseini-deriv, @maryia-deriv

fix: :bug: fixed stop bot warning inherited from quick-strategy form
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/__tests__/add-bot.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/__tests__/form.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/add-bot.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/config.ts
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/desktop-form-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/mobile-form-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/useSubmitHandler.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/mobile-form-wrapper.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/useQsSubmitHandler.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/useSubmitHandler.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/add-input.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/parts/__tests__/loss-threshold-warning.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/parts/loss-threshold-warning-dialog.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/selects/contract-type.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/selects/duration-type.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/selects/symbol.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/selects/trade-type.tsx
  packages/bot-web-ui/src/pages/server-side-bot/config.ts
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Owners: @sandeep-deriv, @vinu-deriv

fix: link color in account settings page
  package-lock.json
  packages/account/package.json
  packages/components/src/components/icon/icons.js
  packages/core/package.json
  packages/trader/package.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
