Repository deriv-com/deriv-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv, @mahdiyeh-deriv, @nijil-deriv, @sandeep-deriv, @vinu-deriv, @farrah-deriv, @hirad-deriv, @thisyahlen-deriv, @adrienne-deriv, @farhan-nurzi-deriv, @aizad-deriv, @heorhi-deriv

Fix tablet view issues (#15469)
  packages/components/src/components/contract-card/contract-card.scss
  packages/reports/src/Containers/__tests__/reports.spec.tsx
  packages/reports/src/sass/app/modules/reports.scss
  packages/trader/jest.config.js
  packages/trader/src/App/Containers/__tests__/trade-header-extensions.spec.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv, @mahdiyeh-deriv

fix: contract type dialog height (#15476)
  packages/trader/src/sass/app/_common/components/contract-type-dialog.scss
Owners: @matin-deriv, @maryia-deriv

Sergei / Add Trustpilot api key to 2 more github actions (#15463)
  .github/actions/analyze/action.yml
  .github/actions/build/action.yml
  .github/workflows/analyze.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Sergei / Add Trustpilot api key to 2 more github actions (#15463)
  .github/actions/analyze/action.yml
  .github/actions/build/action.yml
  .github/workflows/analyze.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

chore: strike icon
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.tsx
  packages/trader/src/sass/app/_common/components/contract-audit.scss
Owners: @matin-deriv, @maryia-deriv

fix: repair test case
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

fix: color of the button text in mobile for DatePicker (#15475)
  packages/wallets/src/components/DatePicker/DatePicker.scss
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: added isDesktop to missing places2
  packages/account/src/Components/additional-kyc-info-modal/additional-kyc-info-form.tsx
  packages/account/src/Components/file-uploader-container/file-uploader.tsx
  packages/account/src/Components/financial-details/financial-details.tsx
  packages/account/src/Components/form-body-section/form-body-section.tsx
  packages/account/src/Components/form-field-info/form-field-info.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/icon-with-message/icon-with-message.tsx
  packages/account/src/Components/leave-confirm/leave-confirm.tsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/poa/common-mistakes/common-mistake-examples.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Components/poi/poi-country-selector/poi-country-selector.tsx
  packages/account/src/Components/poi/status/unsupported/card-details/documents-upload.tsx
  packages/account/src/Components/poi/status/unsupported/card-details/selfie-upload.tsx
  packages/account/src/Components/poi/status/unsupported/card-details/uploader.tsx
  packages/account/src/Components/poi/status/unsupported/card-with-arrow.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-inputs.tsx
  packages/account/src/Sections/Assessment/TradingAssessment/trading-assessment.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: fixed minor issues
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/url/constants.ts
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: improved bundle analysis
  .github/actions/analyze/action.yml
  .github/actions/analyze/compareReports.js
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

chore: fixed the issue of account creation flow
  packages/core/src/Stores/traders-hub-store.js
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: revert all
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.tsx
  packages/trader/src/sass/app/_common/components/contract-audit.scss
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Owners: @matin-deriv, @maryia-deriv

chore: fixed modal height issue and semicolon issue
  packages/account/src/Components/financial-details/financial-details-partials.tsx
  packages/account/src/Components/leave-confirm/leave-confirm.tsx
  packages/account/src/Components/trading-assessment/trading-assessment-dropdown.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
  packages/account/src/Sections/Assessment/TradingAssessment/trading-assessment.jsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

chore: removed extra semicolon
  packages/account/src/Components/poi/poi-country-selector/poi-country-selector.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

fix: added isDesktop to missing places3
  packages/account/src/Components/financial-details/financial-details.tsx
  packages/account/src/Components/icon-message-list/list-item.tsx
  packages/account/src/Components/leave-confirm/leave-confirm.tsx
  packages/account/src/Styles/account.scss
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: remove the go to deriv.com item from mobile drawer for legacy and wallets TH
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: broken onboarding (#15434)
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: add TH button to all headers
  packages/core/src/App/Containers/Layout/header/default-header.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

test: comment
  packages/trader/src/Modules/Trading/Containers/trade.tsx
Owners: @matin-deriv, @maryia-deriv

feat: add responsible trading and delete go to deriv.com items
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

fix: personal details error
  packages/account/src/Styles/account.scss
  packages/components/src/components/form-submit-error-message/form-submit-error-message.scss
Owners: @matin-deriv, @amina-deriv, @maryia-deriv, @ali-hosseini-deriv

fix: banner issue
  packages/appstore/src/components/banners/book-banner/book-banner.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

feat: fixed deposit crypto too
  packages/api-v2/src/hooks/useDepositCryptoAddress.ts
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @ali-hosseini-deriv, @amina-deriv, @balakrishna-deriv, @farrah-deriv, @hirad-deriv, @mahdiyeh-deriv, @maryia-deriv, @matin-deriv, @nijil-deriv, @sandeep-deriv, @yashim-deriv, @aizad-deriv, @heorhi-deriv

feat: change home icon
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/traders-hub-home-button.tsx
Owners: @ali-hosseini-deriv, @matin-deriv, @maryia-deriv

feat: fixed deposit crypto too
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.tsx
Owners: @adrienne-deriv, @thisyahlen-deriv, @farhan-nurzi-deriv, @wojciech-deriv, @aizad-deriv, @heorhi-deriv

chore: reverted translation version
  package-lock.json
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: added isDesktop to missing places4
  packages/account/src/Components/icon-message-list/list-item.tsx
Owners: @matin-deriv, @amina-deriv, @maryia-deriv

feat: removed unnecessary table
  .github/actions/analyze/compareReports.js
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

Update smoketests.yml
  .github/workflows/smoketests.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: :ambulance: platform toggle issue
  packages/appstore/src/modules/traders-hub/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

feat: added a bit of tolerance for orange, so it will not trigger orange for too minuscule changes
  .github/actions/analyze/compareReports.js
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

fix: :coffin: remove unused code
  packages/appstore/src/modules/traders-hub/index.tsx
Owners: @matin-deriv, @mahdiyeh-deriv, @nijil-deriv

Update smoketests.yml
  .github/workflows/smoketests.yml
Owners: @balakrishna-deriv, @yashim-deriv, @wojciech-deriv, @matin-deriv, @markwylde-deriv

test: form-tabs component
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/form-tabs.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

refactor: form-tabs component
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/form-tabs.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

refactor: form-tabs component(2)
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/form-tabs.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

test: desktop form wrapper
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/desktop-form-wrapper.spec.tsx
Owners: @sandeep-deriv, @vinu-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-app repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ali-hosseini-deriv
#  amina-deriv
#  balakrishna-deriv
#  farrah-deriv
#  hirad-deriv
#  mahdiyeh-deriv
#  maryia-deriv
#  matin-deriv
#  nijil-deriv
#  sandeep-deriv
#  yashim-deriv
#  wojciech-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @balakrishna-deriv @yashim-deriv @wojciech-deriv @matin-deriv @markwylde-deriv


# ==============================================================
#  deriv-app/account
# ==============================================================

/packages/account/**/*                                          @matin-deriv @amina-deriv @maryia-deriv


# ==============================================================
#  deriv-app/analytics
# ==============================================================

/packages/analytics/**/*                                        @ali-hosseini-deriv


# ==============================================================
#  deriv-app/appstore
# ==============================================================

/packages/appstore/**/*                                         @matin-deriv @mahdiyeh-deriv @nijil-deriv


# ==============================================================
#  deriv-app/bot
# ==============================================================

/packages/bot-skeleton/**/*                                     @sandeep-deriv @vinu-deriv
/packages/bot-web-ui/**/*                                       @sandeep-deriv @vinu-deriv
/packages/indicators/**/*                                       @sandeep-deriv @vinu-deriv


# ==============================================================
#  deriv-app/cashier
# ==============================================================

/packages/cashier/**/*                                          @farrah-deriv @nijil-deriv @wojciech-deriv


# ==============================================================
#  deriv-app/cfd
# ==============================================================

/packages/cfd/**/*                                              @hirad-deriv @matin-deriv


# ==============================================================
#  deriv-app/core
# ==============================================================

/packages/api/**/*                                              @ali-hosseini-deriv @matin-deriv
/packages/core/**/*                                             @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/shared/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/components/**/*                                       @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/translations/**/*                                     @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/utils/**/*                                            @ali-hosseini-deriv @matin-deriv @maryia-deriv
/packages/hooks/**/*                                            @ali-hosseini-deriv @matin-deriv
/packages/stores/**/*                                           @ali-hosseini-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/p2p
# ==============================================================

/packages/p2p/**/*                                              @farrah-deriv @nijil-deriv


# ==============================================================
#  deriv-app/publisher
# ==============================================================

/packages/publisher/**/*                                        @nijil-deriv


# ==============================================================
#  deriv-app/reports
# ==============================================================

/packages/reports/**/*                                          @mahdiyeh-deriv @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/trader
# ==============================================================

/packages/trader/**/*                                           @matin-deriv @maryia-deriv


# ==============================================================
#  deriv-app/tradershub
# ==============================================================

/packages/tradershub/**/*                                       @matin-deriv @mahdiyeh-deriv @thisyahlen-deriv 


# ==============================================================
#  deriv-app/wallets
# ==============================================================

/packages/wallets/**/*                                          @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @aizad-deriv @heorhi-deriv


# ==============================================================
#  deriv-app/api
#  Deprecated - do not use. For -v2 projects use api-v2. For old projects - do not use api nor api-v2, use old patterns / old hooks. 
# ==============================================================

/packages/api/**/*                                              @wojciech-deriv @matin-deriv @yashim-deriv

# ==============================================================
#  deriv-app/api-v2
# ==============================================================

/packages/api-v2/**/*                                           @adrienne-deriv @thisyahlen-deriv @farhan-nurzi-deriv @wojciech-deriv @ali-hosseini-deriv @amina-deriv @balakrishna-deriv @farrah-deriv @hirad-deriv @mahdiyeh-deriv @maryia-deriv @matin-deriv @nijil-deriv @sandeep-deriv @yashim-deriv

# ==============================================================
#  scripts/check-imports.js 
# ==============================================================

/scripts/check-imports.js                                       @wojciech-deriv @matin-deriv @yashim-deriv
