Repository deriv-com/deriv-app, pull requests merged in 2019-08, with the labels that each got.

#298 [core|trader] Mahboobeh / Enable deploy to staging for bot
  packages/bot/src/app.js
  packages/core/src/App/app.jsx
  packages/core/src/_common/url.js
  packages/core/src/root_files/404.html
  packages/trader/scripts/release-staging.sh
  packages/trader/src/App/app.jsx
  packages/trader/src/_common/url.js
  packages/trader/src/root_files/404.html
Labels: Core, Trader

#297 [shared|components|trader] mahdi/forms_and_virtual_signup
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/button/button.jsx
  packages/components/src/components/dropdown-list/dropdown-list.jsx
  packages/components/src/components/dropdown-list/dropdown-list.scss
  packages/components/src/components/dropdown-list/index.js
  packages/components/src/components/forms/autocomplete/autocomplete.jsx
  packages/components/src/components/forms/autocomplete/autocomplete.scss
  packages/components/src/components/forms/autocomplete/index.js
  packages/components/src/components/forms/form/form.jsx
  packages/components/src/components/forms/form/form.scss
  packages/components/src/components/forms/form/index.js
  packages/components/src/components/forms/input/index.js
  packages/components/src/components/forms/input/input.jsx
  packages/components/src/components/forms/input/input.scss
  packages/components/webpack.config.js
  packages/core/src/_common/base/login.js
  packages/core/src/_common/base/socket_base.js
  packages/shared/src/styles/themes.scss
  packages/trader/build/config.js
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Components/Layout/Header/signup-button.jsx
  packages/trader/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/trader/src/App/Containers/Modals/modals.jsx
  packages/trader/src/App/Containers/Redirect/redirect.jsx
  packages/trader/src/Services/ws-methods.js
  packages/trader/src/Stores/client-store.js
  packages/trader/src/Utils/Validator/declarative-validation-rules.js
  packages/trader/src/_common/base/login.js
  packages/trader/src/_common/base/socket_base.js
  packages/trader/src/sass/app/_common/base/themes.scss
  packages/trader/src/sass/app/modules/account-signup.scss
Labels: Componenets, Shared, Trader

#305 mahdi/update_login_url
  packages/core/src/_common/base/login.js
  packages/trader/src/_common/base/login.js
Labels: Core, Trader

#307 mahdi/proposal_refresh_after_login
  packages/trader/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/trader/src/Stores/client-store.js
Labels: Trader

#309 Nazanin/Remove_slider
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeTypeInfo/__tests__/trade-type-info-item.spec.js
  packages/trader/src/Modules/Trading/Components/Form/TradeTypeInfo/trade-type-info-item.jsx
Labels: Trader

#310 mahdi/signup_gclid_affiliate_handling
  packages/trader/src/App/Containers/Redirect/redirect.jsx
Labels: Trader

#301 Nazanin/request_settings_once
  packages/trader/src/Services/socket-general.js
  packages/trader/src/Services/ws-methods.js
  packages/trader/src/Stores/Helpers/client-notifications.js
  packages/trader/src/Stores/client-store.js
  packages/trader/src/_common/base/__tests__/client_base.js
  packages/trader/src/_common/base/client_base.js
  packages/trader/src/_common/base/socket_base.js
Labels: Trader

#308 Replay and trade store fixes
  packages/trader/src/App/Components/Layout/Header/account-actions.jsx
  packages/trader/src/Modules/Contract/Containers/contract.jsx
  packages/trader/src/Modules/Reports/Components/indicative-cell.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Services/ws-methods.js
  packages/trader/src/Stores/Modules/Contract/contract-replay-store.js
  packages/trader/src/Stores/Modules/Contract/contract-trade-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/Stores/client-store.js
Labels: Trader

#314 mahdi/move-label-component
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/autocomplete/autocomplete.scss
  packages/components/src/components/autocomplete/index.js
  packages/components/src/components/button/index.js
  packages/components/src/components/form/form.jsx
  packages/components/src/components/form/form.scss
  packages/components/src/components/form/index.js
  packages/components/src/components/input/index.js
  packages/components/src/components/input/input.jsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/label/index.js
  packages/components/src/components/label/label.jsx
  packages/components/src/components/label/label.scss
  packages/components/webpack.config.js
  packages/shared/src/styles/index.js
  packages/trader/src/App/Components/Elements/Label/index.js
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/wallet-information.jsx
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/_common/components/label.scss
  packages/trader/src/sass/app/_common/components/wallet-information.scss
Labels: Components, Trader

#299 oskar/base_style_to_app
  packages/bot/src/assets/sass/base/common.scss
  packages/bot/src/assets/sass/base/mixins.scss
  packages/bot/src/assets/sass/bot.scss
  packages/bot/src/assets/sass/scratch/toolbox.scss
  packages/bot/webpack.config.js
  packages/components/webpack.config.js
  packages/core/src/sass/app/_common/base/typography.scss
  packages/shared/README.md
  packages/shared/src/styles/themes.scss
  packages/trader/README.md
  packages/trader/build/loaders-config.js
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/index.html
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/_common/base/common.scss
  packages/trader/src/sass/app/_common/base/constants.scss
  packages/trader/src/sass/app/_common/base/index.scss
  packages/trader/src/sass/app/_common/base/mixin.scss
  packages/trader/src/sass/app/_common/base/reset.scss
  packages/trader/src/sass/app/_common/base/themes.scss
  packages/trader/src/sass/app/_common/base/typography.scss
Labels: Bot, Components, Trader

#318 mahdi/move_checkbox_components
  packages/components/src/components/checkbox/checkbox.jsx
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/checkbox/index.js
  packages/components/webpack.config.js
  packages/shared/src/loaders/deriv-components-loader.js
  packages/trader/build/loaders-config.js
  packages/trader/src/App/Components/Form/Checkbox/checkbox.jsx
  packages/trader/src/App/Components/Form/Checkbox/index.js
  packages/trader/src/App/Containers/SettingsModal/settings-chart.jsx
  packages/trader/src/App/Containers/SettingsModal/settings-purchase.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/allow-equals.jsx
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/_common/components/allow-equals.scss
Labels: Components, Shared, Trader
