Repository deriv-com/deriv-app, pull requests merged in 2019-12, with the labels that each got.

#527 [trader] brandon/fix_popover
  packages/bot/src/assets/sass/run-panel.scss
  packages/bot/src/assets/sass/scratch/toolbar.scss
  packages/bot/src/components/run-panel.jsx
  packages/bot/src/components/toolbar.jsx
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/dropdown/items.jsx
  packages/components/src/components/popover/index.js
  packages/components/src/components/popover/popover.jsx
  packages/components/src/components/popover/popover.scss
  packages/components/stories/popover/popover.stories.js
  packages/components/webpack.config.js
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/sass/app/_common/layout/footer.scss
  packages/trader/src/Modules/Contract/Components/Digits/digits.jsx
  packages/trader/src/sass/app/_common/layout/footer.scss
Labels: Bot, Components, Core, Trader

#576 Mahboobeh/ Enable real account for bot
  packages/bot/package.json
  packages/bot/src/assets/sass/run-panel.scss
  packages/bot/src/components/notification-messages.jsx
  packages/bot/src/services/tradeEngine/trade/Balance.js
  packages/bot/src/services/tradeEngine/trade/OpenContract.js
  packages/bot/src/services/tradeEngine/trade/Total.js
  packages/bot/src/services/tradeEngine/utils/helpers.js
  packages/bot/src/stores/journal-store.js
  packages/bot/src/stores/run-panel-store.js
  packages/bot/src/utils/firestore.js
  packages/bot/src/utils/notifications/bot-notifications.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/_common/url.js
  packages/shared/src/utils/currency/currency.js
  packages/shared/src/utils/currency/index.js
  packages/trader/src/App/Components/Elements/Modals/DenialOfServiceModal/denial-of-service.jsx
  packages/trader/src/App/Components/Elements/Modals/DenialOfServiceModal/index.js
  packages/trader/src/App/Containers/Modals/trade-modals.jsx
Labels: Bot

#585 mamali/remove-babel-unicode-regex plugin
  packages/components/package-lock.json
  packages/core/package.json
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/Utils/Validator/declarative-validation-rules.js
  packages/trader/.babelrc
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/trader/src/Modules/Account/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/trader/src/Utils/Validator/declarative-validation-rules.js
Labels: Core, Trader

#592 mahdi/project_updates
  README.md
  docs/JavaScript/README.md
  docs/Modules/README.md
  docs/README.md
  docs/Stylesheet/README.md
  package.json
  packages/bot/README.md
  packages/bot/docs/Modules/README.md
  packages/bot/docs/README.md
  packages/bot/package.json
  packages/components/README.md
  packages/components/docs/Modules/README.md
  packages/components/docs/README.md
  packages/components/package.json
  packages/core/README.md
  packages/core/docs/Modules/README.md
  packages/core/docs/README.md
  packages/core/package.json
  packages/core/scripts/release-prod.sh
  packages/core/scripts/release-staging.sh
  packages/p2p/README.md
  packages/p2p/docs/Modules/README.md
  packages/p2p/docs/README.md
  packages/shared/README.md
  packages/shared/docs/Modules/README.md
  packages/shared/docs/README.md
  packages/shared/package.json
  packages/trader/README.md
  packages/trader/docs/Modules/README.md
  packages/trader/docs/README.md
  packages/trader/package.json
  packages/trader/src/sass/README.md
  packages/trader/src/templates/README.md
  packages/translations/README.md
  packages/translations/docs/Modules/README.md
  packages/translations/docs/README.md
  packages/translations/package.json
Labels: Bot, Components, Core, Shared, Trader, Translations

#593 zaki/real_account_states_to_autocomplete
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/sass/app/modules/notifications-dialog.scss
  packages/core/src/sass/details-form.scss
  packages/trader/src/App/Components/Form/DateOfBirth/date-of-birth-calendar.jsx
  packages/trader/src/App/Components/Form/DateOfBirth/date-of-birth-picker.jsx
  packages/trader/src/App/Components/Form/DateOfBirth/index.js
  packages/trader/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/trader/src/Modules/Account/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/trader/src/Modules/MT5/Components/mt5-form-submit-button.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/sass/account-wizard.scss
  packages/trader/src/sass/add-or-manage.scss
  packages/trader/src/sass/app/modules/account.scss
  packages/trader/src/sass/change-account.scss
  packages/trader/src/sass/currency-select-radio.scss
  packages/trader/src/sass/details-form.scss
  packages/trader/src/sass/real-account-signup.scss
  packages/trader/src/sass/terms-of-use.scss
Labels: Core, Trader

#601 zaki/fix_already_subscribed_poc_error
  packages/core/src/_common/base/socket_base.js
  packages/core/src/_common/base/socket_cache.js
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/Stores/Modules/Trading/Actions/purchase.js
Labels: Core, Trader

#579 mamali/block-non-cr-to-mt5
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/Stores/client-store.js
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
Labels: Core, Trader

#607 zaki/fix_currency_dropdown
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.jsx
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader

#599 Oskar/add table
  packages/components/src/components/table/index.js
  packages/components/src/components/table/table-body.jsx
  packages/components/src/components/table/table-cell.jsx
  packages/components/src/components/table/table-head.jsx
  packages/components/src/components/table/table-header.jsx
  packages/components/src/components/table/table-row.jsx
  packages/components/src/components/table/table.jsx
  packages/components/src/components/table/table.scss
  packages/components/webpack.config.js
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/table/infinite-loader-list.jsx
Labels: Components, P2P

#600 amam/p2p_popups
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/Assets/Cashier/icon-p2p-cashier.jsx
  packages/core/src/Assets/icon.jsx
  packages/p2p/src/assets/icon-close.jsx
  packages/p2p/src/components/ads/ads.jsx
  packages/p2p/src/components/ads/ads.scss
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/trader/src/Assets/Cashier/icon-p2p-cashier.jsx
  packages/trader/src/Assets/icon.jsx
Labels: Core, P2P, Trader

#552 Ali / Invalid withdrawal token should not log user out
  packages/core/src/Services/socket-general.js
Labels: Trader

#604 zaki/handle_mt5_wrong_responses
  packages/core/src/App/Components/Layout/Header/Components/Preloader/accounts-info.jsx
  packages/core/src/App/Components/Layout/Header/Components/Preloader/accounts-item.jsx
  packages/core/src/App/Components/Layout/Header/Components/Preloader/index.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/trader/src/Modules/Account/Containers/account.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Core, Trader

#614 aaron/Update App IDs
  packages/bot/src/services/api/appId.js
  packages/bot/src/services/api/appIdResolver.js
  packages/bot/src/utils/urlHelper.js
Labels: Bot

#613 mahdi|negar/p2p_order_details
  packages/core/src/Utils/pwa/register-service-worker.js
  packages/p2p/package.json
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/footer-actions/footer-actions.jsx
  packages/p2p/src/components/footer-actions/footer-actions.scss
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/p2p/src/components/orders/order-info.js
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/components/page-return/page-return.jsx
  packages/p2p/src/components/page-return/page-return.scss
  packages/p2p/src/utils/date-time.js
  packages/p2p/webpack.config.js
Labels: Core, P2P

#619 mahdi/p2p_build_issues_fix
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/page-return/page-return.jsx
Labels: P2P

#608 kelly/purchase_error_modal
  packages/components/src/components/modal/modal-body.jsx
  packages/components/src/components/modal/modal-footer.jsx
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/modal/modal.scss
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/utils/string/index.js
  packages/p2p/src/utils/string/string.js
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/authorization-required-modal.jsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/insufficient-balance-modal.jsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/services-error-modal.jsx
  packages/trader/src/sass/app/modules/settings.scss
Labels: Components, Trader

#624 Mahboobeh/Use custom token for authenticating Firestore user
  packages/bot/src/utils/firestore.js
Labels: Bot

#623 mahdi|negar/p2p_order_table
  packages/components/src/components/table/table.scss
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/buy-table.jsx
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/buy-sell/row.jsx
  packages/p2p/src/components/buy-sell/sell-table.jsx
  packages/p2p/src/components/i18next/index.js
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-ads/toggle-ads.jsx
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-info.js
  packages/p2p/src/components/orders/order-table/order-table-buy-row.jsx
  packages/p2p/src/components/orders/order-table/order-table-sell-row.jsx
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/utils/date-time.js
  packages/p2p/webpack.config.js
Labels: Components, P2P

#617 amam/order_popup
  packages/components/src/components/dialog/dialog.jsx
  packages/p2p/.eslintrc.js
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/buy-sell/row.jsx
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/toggle-ads.jsx
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/components/orders/popup.jsx
  packages/p2p/src/components/table/infinite-loader-list.jsx
  packages/p2p/webpack.config.js
Labels: Components, P2P

#618 mamali/fix-invisible-dmt5-virtual-cr
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/Stores/client-store.js
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
Labels: Core, Trader

#630 oskar|negar|amam/p2p_mock_api
  packages/core/src/Modules/Cashier/Containers/p2p-cashier.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/buy-table.jsx
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/buy-sell/row.jsx
  packages/p2p/src/components/buy-sell/sell-table.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-info.js
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/utils/websocket.js
Labels: Core, P2P

#634 negar/missed_fixes
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-info.js
  packages/p2p/src/components/orders/order-table/order-table-buy-row.jsx
  packages/p2p/src/components/orders/order-table/order-table-sell-row.jsx
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/utils/websocket.js
Labels: P2P

#633 amam/p2p-bug-fix
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/p2p/src/components/buy-sell/buy-table.jsx
  packages/p2p/src/components/buy-sell/sell-table.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/table/infinite-loader-list.jsx
  packages/p2p/src/components/table/table-dimensions.jsx
Labels: P2P

#637 mahdi/negar|p2p_housekeeping
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/buy-sell/row.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/p2p/src/utils/websocket.js
Labels: P2P

#547 Mahboobeh/Add smartchart to bot
  packages/bot/.stylelintrc
  packages/bot/package-lock.json
  packages/bot/package.json
  packages/bot/src/app.jsx
  packages/bot/src/assets/sass/app.scss
  packages/bot/src/assets/sass/chart.scss
  packages/bot/src/assets/sass/footer-extensions.scss
  packages/bot/src/assets/sass/main-content.scss
  packages/bot/src/assets/sass/notification-messages.scss
  packages/bot/src/assets/sass/run-panel.scss
  packages/bot/src/assets/sass/scratch/flyout.scss
  packages/bot/src/assets/sass/scratch/toolbar.scss
  packages/bot/src/assets/sass/trade-animation.scss
  packages/bot/src/components/chart/chart.jsx
  packages/bot/src/components/chart/control-widgets.jsx
  packages/bot/src/components/footer-extension.jsx
  packages/bot/src/components/main-content.jsx
  packages/bot/src/components/quick-strategy.jsx
  packages/bot/src/components/run-panel.jsx
  packages/bot/src/components/toolbar.jsx
  packages/bot/src/components/transactions.jsx
  packages/bot/src/components/workspace.jsx
  packages/bot/src/constants/bot-contents.js
  packages/bot/src/public-path.js
  packages/bot/src/scratch/index.js
  packages/bot/src/scratch/utils/index.js
  packages/bot/src/scratch/utils/scratchHelper.js
  packages/bot/src/scratch/utils/workspace.js
  packages/bot/src/services/api/chartTicksService.js
  packages/bot/src/services/api/server_time.js
  packages/bot/src/stores/chart-store.js
  packages/bot/src/stores/index.js
  packages/bot/src/stores/main-content-store.js
  packages/bot/src/stores/run-panel-store.js
  packages/bot/src/stores/toolbar-store.js
  packages/bot/src/utils/firestore.js
  packages/bot/src/utils/window-size.js
  packages/bot/webpack.config.js
  packages/components/src/components/tabs/tab.jsx
  packages/components/src/components/tabs/tabs.jsx
  packages/components/src/components/tabs/tabs.scss
  packages/core/build/constants.js
  packages/core/package-lock.json
  packages/core/package.json
  packages/p2p/src/components/app.jsx
  packages/trader/build/webpack.config.js
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
Labels: Bot, Components

#628 zaki/mt5_wrong_response_updates
  packages/core/src/App/Components/Layout/Header/Components/Preloader/accounts-info.jsx
  packages/core/src/App/Components/Layout/Header/Components/Preloader/accounts-item.jsx
  packages/core/src/Services/socket-general.js
  packages/core/src/_common/base/socket_cache.js
  packages/trader/src/App/Components/Elements/ContentLoader/reports-table-row.jsx
Labels: Core

#560 aaron/Checkboxes
  packages/bot/src/assets/sass/scratch/workspace.scss
  packages/bot/src/scratch/backward-compatibility.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartbuysell.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartonerror.js
  packages/bot/src/scratch/hooks/field.js
  packages/bot/src/scratch/hooks/field_image.js
  packages/bot/src/scratch/hooks/index.js
  packages/bot/src/scratch/xml/dalembert.xml
  packages/bot/src/scratch/xml/main.xml
  packages/bot/src/scratch/xml/martingale.xml
  packages/bot/src/scratch/xml/oscars_grind.xml
  packages/bot/src/scratch/xml/toolbox.xml
Labels: Bot

#649 aaron/Compatibility
  packages/bot/src/constants/messages.js
  packages/bot/src/scratch/backward-compatibility.js
  packages/bot/src/stores/chart-store.js
Labels: Bot

#626 aaron/Download block context menu item
  packages/bot/src/scratch/blocks/Binary/Before Purchase/purchase.js
  packages/bot/src/scratch/hooks/block_svg.js
  packages/bot/src/scratch/hooks/index.js
  packages/bot/src/scratch/hooks/workspace.js
Labels: Bot

#558 aaron/Transaction tab improvements
  packages/bot/src/assets/icons/ic-starttime.svg
  packages/bot/src/assets/sass/app.scss
  packages/bot/src/assets/sass/journal.scss
  packages/bot/src/assets/sass/trade-animation.scss
  packages/bot/src/assets/sass/transactions.scss
  packages/bot/src/components/contract-card-loading.jsx
  packages/bot/src/components/journal.jsx
  packages/bot/src/components/summary.jsx
  packages/bot/src/components/trade-animation.jsx
  packages/bot/src/components/transaction.jsx
  packages/bot/src/components/transactions.jsx
  packages/bot/src/constants/transactions.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot/src/scratch/hooks/trashcan.js
  packages/bot/src/stores/run-panel-store.js
  packages/bot/src/stores/transactions-store.js
  packages/bot/src/utils/firestore.js
  packages/bot/src/utils/window-size.js
  packages/components/src/components/drawer/drawer.jsx
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/popover/popover.jsx
  packages/components/src/components/tabs/tabs.scss
Labels: Bot, Components

#589 aaron/Block behaviour improvements
  packages/bot/src/app.jsx
  packages/bot/src/scratch/blocks/Binary/After Purchase/read_details.js
  packages/bot/src/scratch/blocks/Binary/After Purchase/trade_again.js
  packages/bot/src/scratch/blocks/Binary/Before Purchase/purchase.js
  packages/bot/src/scratch/blocks/Binary/During Purchase/check_sell.js
  packages/bot/src/scratch/blocks/Binary/During Purchase/sell_at_market.js
  packages/bot/src/scratch/blocks/Binary/During Purchase/sell_price.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot/src/scratch/blocks/Text/text_getSubstring.js
  packages/bot/src/scratch/index.js
  packages/bot/src/scratch/utils/index.js
  packages/bot/src/stores/scratch-store.js
Labels: Bot

#644 mahdi|mahdi/dp2p_publishing_build
  README.md
  docs/README.md
  lerna.json
  package.json
  packages/bot/package.json
  packages/components/package.json
  packages/components/src/components/button-toggle/button-highlight-wrapper.jsx
  packages/components/src/components/button-toggle/button-highlight.jsx
  packages/core/package.json
  packages/core/src/Modules/Cashier/Containers/p2p-cashier.jsx
  packages/p2p/README.md
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/p2p/scripts/dp2p-css-unit-loader.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/webpack.config.js
  packages/shared/package.json
  packages/shared/src/styles/themes.scss
  packages/trader/package.json
  packages/translations/package.json
Labels: Bot, Components, Core, P2P, Shared, Trader, Translations

#656 zaki/fix_proposal_error_popover
  packages/components/src/components/popover/popover.jsx
  packages/components/src/components/popover/popover.scss
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.jsx
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
  packages/trader/src/sass/app/modules/trading.scss
Labels: Components, Trader

#648 zaki/update_account_switcher
  packages/components/src/components/dropdown/list.scss
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/popover/popover.jsx
  packages/components/src/components/tabs/tabs.scss
  packages/core/src/App/Components/Layout/Header/account-info.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-wrapper.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-add-account-button.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/SetAccountCurrencyModal/index.js
  packages/core/src/App/Containers/SetAccountCurrencyModal/set-currency-modal.jsx
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/trader/src/App/Components/Form/RangeSlider/range-slider.jsx
  packages/trader/src/Modules/Account/Sections/Security/AccountLimits/account-limits-info.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Components, Core, Trader

#671 Merge dev into mobile
  package.json
  packages/bot/package.json
  packages/bot/src/assets/sass/footer-extensions.scss
  packages/bot/src/assets/sass/transactions.scss
  packages/bot/src/components/journal.jsx
  packages/bot/webpack.config.js
  packages/components/.storybook/webpack.config.js
  packages/components/src/components/dropdown/list.scss
  packages/components/src/components/icon/icon.jsx
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/popover/popover-bubble.jsx
  packages/components/src/components/popover/popover.jsx
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/tabs/tabs.scss
  packages/components/stories/icon/README.md
  packages/core/build/config.js
  packages/core/src/App/Components/Layout/Header/account-info.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-wrapper.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-add-account-button.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/SetAccountCurrencyModal/index.js
  packages/core/src/App/Containers/SetAccountCurrencyModal/set-currency-modal.jsx
  packages/core/src/Services/outdated-browser.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/segment-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/Utils/Validator/declarative-validation-rules.js
  packages/core/src/Utils/pwa/register-service-worker.js
  packages/core/src/index.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/trader/package.json
  packages/trader/src/App/Components/Elements/DataTable/data-table.jsx
  packages/trader/src/App/Components/Form/InputField/input-field.jsx
  packages/trader/src/App/Components/Form/InputField/input.jsx
  packages/trader/src/App/Components/Form/RangeSlider/range-slider.jsx
  packages/trader/src/Modules/Account/Sections/Security/AccountLimits/account-limits-info.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.jsx
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
  packages/trader/src/Services/outdated-browser.js
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.js
  packages/trader/src/Utils/Validator/declarative-validation-rules.js
  packages/trader/src/sass/app/_common/form/time-picker.scss
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Mobile
