Repository deriv-com/deriv-app, pull requests merged in 2019-11, with the labels that each got.

#504 zaki/notifications_center
  packages/trader/src/App/Components/Elements/NotificationMessage/constants.js
  packages/trader/src/App/Components/Elements/NotificationMessage/notification-status-icons.jsx
  packages/trader/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/trader/src/App/Components/Elements/Notifications/empty-notification.jsx
  packages/trader/src/App/Components/Elements/Notifications/index.js
  packages/trader/src/App/Components/Elements/Notifications/notifications.jsx
  packages/trader/src/App/Components/Layout/Header/account-actions.jsx
  packages/trader/src/App/Components/Layout/Header/toggle-notifications-drawer.jsx
  packages/trader/src/App/Components/Layout/Header/toggle-notifications.jsx
  packages/trader/src/App/Containers/Layout/header.jsx
  packages/trader/src/App/Containers/NotificationsDialog/__tests__/notifications.spec.js
  packages/trader/src/App/Containers/NotificationsDialog/index.js
  packages/trader/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/trader/src/App/Containers/notification-messages.jsx
  packages/trader/src/Assets/Common/icon-danger.jsx
  packages/trader/src/Assets/Common/icon-empty-notification.jsx
  packages/trader/src/Assets/Common/icon-info-blue.jsx
  packages/trader/src/Assets/Common/icon-success.jsx
  packages/trader/src/Assets/Common/icon-warning.jsx
  packages/trader/src/Assets/Header/NavBar/icon-bell.jsx
  packages/trader/src/Assets/Header/NavBar/icon-user.jsx
  packages/trader/src/Assets/icon.jsx
  packages/trader/src/Modules/Account/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/trader/src/Stores/Helpers/client-notifications.js
  packages/trader/src/Stores/Modules/Contract/contract-replay-store.js
  packages/trader/src/Stores/Modules/Contract/contract-trade-store.js
  packages/trader/src/Stores/Modules/Portfolio/Helpers/portfolio-notifications.js
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/Stores/client-store.js
  packages/trader/src/Stores/common-store.js
  packages/trader/src/Stores/ui-store.js
  packages/trader/src/sass/app/_common/components/account-settings-toggle.scss
  packages/trader/src/sass/app/_common/components/notification-message.scss
  packages/trader/src/sass/app/modules/account.scss
  packages/trader/src/sass/app/modules/notifications-dialog.scss
Labels: Trader

#520 Mahboobeh/Fix issue with martingale having empty params
  packages/bot/src/assets/sass/dialog.scss
  packages/bot/src/constants/messages.js
Labels: Bot

#525 aaron/Unknown contract proposal
  packages/bot/src/services/tradeEngine/trade/Proposal.js
Labels: Bot

#486 Sam/Prevent bot run when main blocks not in workspace
  packages/bot/src/constants/index.js
  packages/bot/src/scratch/utils/scratchHelper.js
  packages/bot/src/stores/run-panel-store.js
Labels: Bot

#538 Mahboobeh/Setup Firestore
  packages/bot/package-lock.json
  packages/bot/package.json
  packages/bot/src/app.jsx
  packages/bot/src/components/summary.jsx
  packages/bot/src/constants/messages.js
  packages/bot/src/stores/connect.js
  packages/bot/src/stores/index.js
  packages/bot/src/stores/summary-store.js
  packages/bot/src/utils/firestore.js
Labels: Bot

#316 Sam/Search improvement
  packages/bot/src/assets/sass/scratch/flyout.scss
  packages/bot/src/assets/sass/scratch/toolbar.scss
  packages/bot/src/components/flyout-block-group.jsx
  packages/bot/src/components/flyout.jsx
  packages/bot/src/components/toolbar.jsx
  packages/bot/src/scratch/help-content/flyout-help-base.jsx
  packages/bot/src/scratch/hooks/toolbox.js
  packages/bot/src/scratch/hooks/workspace_svg.js
  packages/bot/src/scratch/index.js
  packages/bot/src/stores/flyout-help-store.js
  packages/bot/src/stores/flyout-store.js
  packages/bot/src/stores/index.js
  packages/bot/src/stores/toolbar-store.js
  packages/bot/src/utils/tools.js
Labels: Bot, Needs Review

#543 anton/Block shapes
  packages/bot/src/scratch/blocks/Advanced/List/lists_isEmpty.js
  packages/bot/src/scratch/blocks/Binary/After Purchase/check_result.js
  packages/bot/src/scratch/blocks/Binary/During Purchase/check_sell.js
  packages/bot/src/scratch/blocks/Binary/Tick Analysis/check_direction.js
  packages/bot/src/scratch/blocks/Binary/Tick Analysis/tick.js
  packages/bot/src/scratch/blocks/Binary/Tools/Candle/is_candle_black.js
  packages/bot/src/scratch/blocks/Binary/Tools/Misc./balance.js
  packages/bot/src/scratch/blocks/Binary/Tools/Misc./total_profit.js
  packages/bot/src/scratch/blocks/Binary/Tools/Time/todatetime.js
  packages/bot/src/scratch/blocks/Logic/logic_boolean.js
  packages/bot/src/scratch/blocks/Logic/logic_compare.js
  packages/bot/src/scratch/blocks/Logic/logic_negate.js
  packages/bot/src/scratch/blocks/Logic/logic_operation.js
  packages/bot/src/scratch/blocks/Math/math_number_property.js
  packages/bot/src/scratch/blocks/Text/text.js
  packages/bot/src/scratch/blocks/Text/text_changeCase.js
  packages/bot/src/scratch/blocks/Text/text_charAt.js
  packages/bot/src/scratch/blocks/Text/text_getSubstring.js
  packages/bot/src/scratch/blocks/Text/text_indexOf.js
  packages/bot/src/scratch/blocks/Text/text_isEmpty.js
  packages/bot/src/scratch/blocks/Text/text_prompt_ext.js
  packages/bot/src/scratch/blocks/Text/text_trim.js
  packages/bot/src/scratch/hooks/field_dropdown.js
  packages/bot/src/scratch/hooks/field_textinput.js
  packages/bot/src/scratch/hooks/index.js
Labels: Bot

#553 negar/add_meta_referrer
  packages/core/src/index.html
  packages/core/src/root_files/404.html
  packages/trader/src/index.html
  packages/trader/src/root_files/404.html
  packages/trader/src/templates/app/head.jsx
Labels: Core, Trader

#533 zaki/fix_poa_pdf
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfAddress/file-uploader-utils.js
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/trader/src/sass/app/_common/components/range-slider.scss
Labels: Trader

#554 Sam/Temporaily css fix
  packages/bot/src/assets/sass/run-panel.scss
  packages/bot/src/assets/sass/saveload-modal.scss
Labels: Bot

#528 negar/cashier_improvements
  packages/components/src/components/accordion/accordion.scss
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/dropdown/list.scss
  packages/components/src/components/input/input.scss
  packages/core/src/App/Containers/CashierModal/AccountTransfer/account-transfer-form.jsx
  packages/core/src/App/Containers/CashierModal/AccountTransfer/account-transfer-receipt.jsx
  packages/core/src/App/Containers/CashierModal/Layout/cashier-container.jsx
  packages/core/src/App/Containers/CashierModal/PaymentAgent/payment-agent-list.jsx
  packages/core/src/App/Containers/CashierModal/PaymentAgent/payment-agent-receipt.jsx
  packages/core/src/App/Containers/CashierModal/PaymentAgent/payment-agent-withdraw.jsx
  packages/core/src/App/Containers/CashierModal/PaymentAgentTransfer/payment-agent-transfer-form.jsx
  packages/core/src/App/Containers/CashierModal/PaymentAgentTransfer/payment-agent-transfer-receipt.jsx
  packages/core/src/App/Containers/CashierModal/email-sent.jsx
  packages/core/src/App/Containers/CashierModal/error.jsx
  packages/core/src/App/Containers/CashierModal/virtual.jsx
  packages/core/src/Assets/Common/icon-account-transfer.jsx
  packages/core/src/Assets/Common/icon-payment-agent.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/sass/app/modules/cashier.scss
  packages/shared/src/styles/mixins.scss
  packages/trader/src/Assets/Common/icon-account-transfer.jsx
  packages/trader/src/Assets/Common/icon-payment-agent.jsx
  packages/trader/src/Assets/icon.jsx
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/_common/components/side-menu.scss
  packages/trader/src/sass/app/_common/drawer/drawer.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer-card-overlay.scss
  packages/trader/src/sass/app/_common/form/input-field.scss
  packages/trader/src/sass/app/_common/form/time-picker.scss
  packages/trader/src/sass/app/modules/account.scss
  packages/trader/src/sass/app/modules/cashier.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Shared, Trader

#522 zaki/notification_updates
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/trader/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/trader/src/App/Components/Elements/Notifications/empty-notification.jsx
  packages/trader/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/trader/src/Modules/Account/Containers/account.jsx
  packages/trader/src/Stores/Helpers/client-notifications.js
  packages/trader/src/sass/app/_common/components/notification-message.scss
  packages/trader/src/sass/app/modules/notifications-dialog.scss
Labels: Core, Trader

#542 aaron/Reflect correct currency in summary
  packages/bot/src/components/summary.jsx
  packages/bot/src/stores/summary-store.js
Labels: Bot

#540 zaki/fix_vol_aus
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/Helpers/duration.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#544 zaki/add_login_preloader
  packages/core/src/App/Components/Layout/Header/Components/Preloader/accounts-info.jsx
  packages/core/src/App/Components/Layout/Header/Components/Preloader/index.js
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/core/src/sass/app/_common/layout/header.scss
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
  packages/trader/src/Stores/Helpers/client-notifications.js
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/_common/components/account-switcher.scss
  packages/trader/src/sass/app/_common/layout/header.scss
Labels: Core, Trader

#541 aaron/Block conversion bug
  packages/bot/src/scratch/backward-compatibility.js
  packages/bot/src/scratch/hooks/block_render_svg_vertical.js
Labels: Bot

#537 aaron/Minor Fixes + Improvements
  packages/bot/.eslintrc.js
  packages/bot/package-lock.json
  packages/bot/package.json
  packages/bot/src/app.js
  packages/bot/src/components/Icons.jsx
  packages/bot/src/components/flyout.jsx
  packages/bot/src/public-path.js
  packages/bot/src/scratch/backward-compatibility.js
  packages/bot/src/scratch/blocks/Text/text_getSubstring.js
  packages/bot/src/scratch/help-content/help-content.config.js
  packages/bot/src/scratch/hooks/.eslintrc.js
  packages/bot/src/scratch/hooks/block.js
  packages/bot/src/scratch/hooks/block_render_svg_vertical.js
  packages/bot/src/scratch/hooks/block_svg.js
  packages/bot/src/scratch/hooks/contextmenu.js
  packages/bot/src/scratch/hooks/css.js
  packages/bot/src/scratch/hooks/data_category.js
  packages/bot/src/scratch/hooks/field_dropdown.js
  packages/bot/src/scratch/hooks/field_image.js
  packages/bot/src/scratch/hooks/flyout_base.js
  packages/bot/src/scratch/hooks/gesture.js
  packages/bot/src/scratch/hooks/icon.js
  packages/bot/src/scratch/hooks/index.js
  packages/bot/src/scratch/hooks/procedures.js
  packages/bot/src/scratch/hooks/toolbox.js
  packages/bot/src/scratch/hooks/trashcan.js
  packages/bot/src/scratch/hooks/variable_map.js
  packages/bot/src/scratch/hooks/variables.js
  packages/bot/src/scratch/hooks/workspace_svg.js
  packages/bot/src/scratch/index.js
  packages/bot/src/scratch/utils.js
  packages/bot/src/scratch/xml/main.xml
  packages/bot/src/stores/flyout-help-store.js
  packages/bot/src/stores/flyout-store.js
  packages/bot/src/stores/index.js
  packages/bot/src/stores/quick-strategy-store.js
  packages/bot/src/stores/run-panel-store.js
  packages/bot/src/stores/toolbar-store.js
Labels: Bot

#551 zaki/add_residence_dialog_modal
  packages/components/src/components/dialog/dialog.jsx
  packages/components/src/components/dialog/dialog.scss
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/App/Containers/SetResidenceModal/index.js
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-modal.jsx
  packages/core/src/App/app.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app/_common/layout/header.scss
  packages/core/src/sass/app/modules/notifications-dialog.scss
  packages/core/src/sass/app/modules/set-residence.scss
  packages/trader/src/App/Components/Layout/Header/toggle-notifications.jsx
  packages/trader/src/App/Containers/NotificationsDialog/__tests__/notifications.spec.js
  packages/trader/src/App/Containers/NotificationsDialog/index.js
  packages/trader/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/modules/notifications-dialog.scss
Labels: Components, Core, Trader

#567 Mahboobeh/Fix drawer toggle
  packages/bot/src/assets/sass/run-panel.scss
  packages/bot/src/stores/run-panel-store.js
Labels: Bot

#561 zaki/move_notifications_to_core
  packages/bot/src/assets/sass/notification-messages.scss
  packages/bot/src/assets/sass/scratch/workspace.scss
  packages/bot/src/components/notification-messages.jsx
  packages/bot/src/components/workspace.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification-status-icons.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Components/Elements/Notifications/empty-notification.jsx
  packages/core/src/App/Containers/notification-messages.jsx
  packages/core/src/App/app.js
  packages/core/src/App/app.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app/_common/components/notification-message.scss
  packages/core/src/sass/app/_common/components/platform-dropdown.scss
  packages/trader/src/App/Components/Elements/NotificationMessage/__tests__/close-button.spec.jsx
  packages/trader/src/App/Components/Elements/NotificationMessage/__tests__/notification.spec.jsx
  packages/trader/src/App/Components/Elements/NotificationMessage/close-button.jsx
  packages/trader/src/App/Components/Elements/NotificationMessage/constants.js
  packages/trader/src/App/Components/Elements/NotificationMessage/index.js
  packages/trader/src/App/Components/Elements/NotificationMessage/notification-status-icons.jsx
  packages/trader/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/trader/src/App/Components/Elements/Notifications/__tests__/empty-notification.spec.js
  packages/trader/src/App/Components/Elements/Notifications/empty-notification.jsx
  packages/trader/src/App/Components/Elements/Notifications/notification-bar.jsx
  packages/trader/src/App/Containers/push-notification.jsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Helpers/client-notifications.js
  packages/trader/src/Stores/Modules/Contract/Helpers/chart-notifications.js
  packages/trader/src/Stores/Modules/Contract/contract-trade-store.js
  packages/trader/src/sass/app/_common/components/notification-message.scss
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Bot, Core, Trader

#545 amam/integration_segment
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/connect.js
  packages/core/src/Stores/index.js
  packages/core/src/Stores/segment-store.js
  packages/core/src/index.html
  packages/trader/src/Stores/connect.js
  packages/trader/src/Stores/index.js
  packages/trader/src/index.html
Labels: Core, Trader

#565 zaki/firefox_chart_performance_fix
  packages/trader/src/Modules/SmartChart/Components/all-markers.jsx
Labels: Trader

#570 Sam/ Fix jest timeout error
  packages/bot/src/services/tradeEngine/trade/OpenContract.js
Labels: Bot

#569 zaki/marked_notifications
  packages/core/src/App/Containers/notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/ui-store.js
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Core

#556 Sam/Fix error on multiple dynamic block created
  packages/bot/src/components/flyout.jsx
Labels: Bot

#534 Sam/Quick strategy improvement
  packages/bot/src/assets/sass/quick-strategy.scss
  packages/bot/src/components/quick-strategy.jsx
  packages/bot/src/scratch/xml/dalembert.xml
  packages/bot/src/scratch/xml/martingale.xml
  packages/bot/src/scratch/xml/oscars_grind.xml
  packages/bot/src/services/api/contracts-for.js
  packages/bot/src/stores/quick-strategy-store.js
  packages/components/src/components/popover/popover-bubble.jsx
Labels: Bot

#548 mamali/fix phone in real account signup
  packages/core/.babelrc
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Utils/Validator/declarative-validation-rules.js
  packages/trader/src/Modules/Account/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/trader/src/Utils/Validator/declarative-validation-rules.js
Labels: Trader
