Repository deriv-com/deriv-app, pull requests merged in 2019-10, with the labels that each got.

#389 aaron/Minor fixes
  packages/bot/src/components/journal.jsx
  packages/bot/src/stores/journal-store.js
  packages/trader/src/App/Containers/CashierModal/AccountTransfer/account-transfer-form.jsx
Labels: Bot, Trader

#394 aaron/Set correct URL on redirect
  packages/bot/src/app.js
  packages/bot/src/public-path.js
  packages/core/src/App/app.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/url.js
  packages/core/src/root_files/404.html
Labels: Core

#392 negar/update_account_dropdown
  packages/components/src/components/money/money.jsx
  packages/trader/src/App/Components/Elements/__tests__/money.spec.js
  packages/trader/src/App/Components/Layout/Header/__tests__/account-info.spec.js
  packages/trader/src/App/Components/Layout/Header/account-actions.jsx
  packages/trader/src/App/Components/Layout/Header/account-info.jsx
  packages/trader/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/trader/src/App/Containers/Layout/header.jsx
  packages/trader/src/App/Containers/RealAccountSignup/upgrade-button.jsx
  packages/trader/src/Assets/Header/AccountsCurrency/icon_accounts_currency.jsx
  packages/trader/src/Assets/Signup/icon-add.jsx
  packages/trader/src/Services/socket-general.js
  packages/trader/src/Stores/Modules/Cashier/cashier-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/Stores/client-store.js
  packages/trader/src/_common/base/currency_base.js
  packages/trader/src/_common/base/socket_base.js
  packages/trader/src/sass/app/_common/components/account-switcher.scss
Labels: Components, Trader

#401 negar/pa_transfer_to_client
  packages/components/src/components/input/input.jsx
  packages/components/src/components/input/input.scss
  packages/trader/src/App/Components/Layout/Header/account-actions.jsx
  packages/trader/src/App/Components/Layout/Header/toggle-cashier.jsx
  packages/trader/src/App/Containers/CashierModal/AccountTransfer/account-transfer-form.jsx
  packages/trader/src/App/Containers/CashierModal/AccountTransfer/account-transfer-receipt.jsx
  packages/trader/src/App/Containers/CashierModal/PaymentAgent/payment-agent-withdraw.jsx
  packages/trader/src/App/Containers/CashierModal/PaymentAgentTransfer/payment-agent-transfer-form.jsx
  packages/trader/src/App/Containers/CashierModal/PaymentAgentTransfer/payment-agent-transfer-receipt.jsx
  packages/trader/src/App/Containers/CashierModal/account-transfer.jsx
  packages/trader/src/App/Containers/CashierModal/payment-agent-transfer.jsx
  packages/trader/src/App/Containers/CashierModal/transfer-no-balance.jsx
  packages/trader/src/App/Containers/Layout/header.jsx
  packages/trader/src/Stores/Modules/Cashier/cashier-store.js
  packages/trader/src/_common/base/socket_base.js
  packages/trader/src/sass/app/modules/cashier.scss
Labels: Components, Trader

#398 Add transactions panel
  packages/bot/src/assets/icons/buy-price.svg
  packages/bot/src/assets/icons/contract-completed.svg
  packages/bot/src/assets/icons/contract-pending.svg
  packages/bot/src/assets/icons/ic-entryspot.svg
  packages/bot/src/assets/icons/ic-exitspot.svg
  packages/bot/src/assets/icons/ic-id.svg
  packages/bot/src/assets/sass/run-panel.scss
  packages/bot/src/assets/sass/transactions.scss
  packages/bot/src/components/Icons.jsx
  packages/bot/src/components/icon-trade-types.jsx
  packages/bot/src/components/journal.jsx
  packages/bot/src/components/run-panel.jsx
  packages/bot/src/components/transactions.jsx
  packages/bot/src/stores/contract-card-store.js
  packages/bot/src/stores/index.js
  packages/bot/src/stores/journal-store.js
  packages/bot/src/stores/run-panel-store.js
  packages/bot/src/stores/transactions-store.js
  packages/bot/src/utils/observer.js
  packages/components/src/components/popover/popover.jsx
Labels: Bot, Components

#399 mamali/improve-real-account-signup
  packages/components/src/components/input/input.scss
  packages/trader/.babelrc
  packages/trader/package.json
  packages/trader/src/App/Components/Elements/Calendar/panels/calendar-years.jsx
  packages/trader/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/trader/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/trader/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/trader/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/trader/src/App/Containers/RealAccountSignup/change-account-currency.jsx
  packages/trader/src/App/Containers/RealAccountSignup/checkbox-field.jsx
  packages/trader/src/App/Containers/RealAccountSignup/checkbox.jsx
  packages/trader/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/trader/src/App/Containers/RealAccountSignup/date-picker-calendar.jsx
  packages/trader/src/App/Containers/RealAccountSignup/form-progress.jsx
  packages/trader/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/trader/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/trader/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/trader/src/Assets/Signup/icon-datepicker.jsx
  packages/trader/src/Assets/Signup/icon-duplicate.jsx
  packages/trader/src/Stores/client-store.js
  packages/trader/src/sass/account-wizard.scss
  packages/trader/src/sass/change-account.scss
  packages/trader/src/sass/currency-select-radio.scss
  packages/trader/src/sass/details-form.scss
  packages/trader/src/sass/real-account-signup.scss
Labels: Components, Trader

#393 aaron/Account Switch + Real Money Accounts
  packages/bot/src/assets/sass/dialog.scss
  packages/bot/src/assets/sass/saveload-modal.scss
  packages/bot/src/components/contract-card.jsx
  packages/bot/src/components/journal.jsx
  packages/bot/src/components/run-panel.jsx
  packages/bot/src/components/summary.jsx
  packages/bot/src/scratch/index.js
  packages/bot/src/services/api/api-helpers.js
  packages/bot/src/stores/contract-card-store.js
  packages/bot/src/stores/journal-store.js
  packages/bot/src/stores/run-panel-store.js
  packages/bot/src/stores/summary-store.js
  packages/bot/webpack.config.js
  packages/components/src/components/tabs/tab.jsx
  packages/components/src/components/tabs/tabs.jsx
Labels: Bot, Components

#397 oskar/update_duration_toggle
  packages/trader/src/Modules/Trading/Components/Form/DatePicker/trading-date-picker.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-wrapper.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration.jsx
Labels: Trader

#357 Sam/Animation Panel
  packages/bot/src/assets/sass/contract-result-overlay.scss
  packages/bot/src/assets/sass/dialog.scss
  packages/bot/src/assets/sass/run-panel.scss
  packages/bot/src/assets/sass/saveload-modal.scss
  packages/bot/src/assets/sass/scratch/toolbar.scss
  packages/bot/src/assets/sass/trade-animation.scss
  packages/bot/src/components/journal.jsx
  packages/bot/src/components/run-panel.jsx
  packages/bot/src/components/toolbar.jsx
  packages/bot/src/components/trade-animation.jsx
  packages/bot/src/components/transactions.jsx
  packages/bot/src/constants/contract-stage.js
  packages/bot/src/stores/index.js
  packages/bot/src/stores/run-panel-store.js
  packages/components/src/components/drawer/drawer.scss
Labels: Bot, Needs Review

#422 aaron/Revert redirect URI
  packages/core/src/Stores/client-store.js
Labels: Core

#407 Mahboobeh/Regression Bugs Fixes
  packages/bot/src/assets/sass/dialog.scss
  packages/bot/src/assets/sass/run-panel.scss
  packages/bot/src/components/dialog.jsx
  packages/bot/src/components/journal.jsx
  packages/bot/src/components/run-panel.jsx
  packages/bot/src/components/saveload-modal.jsx
  packages/bot/src/constants/message-types.js
  packages/bot/src/services/tradeEngine/utils/interpreter.js
  packages/bot/src/stores/contract-card-store.js
  packages/bot/src/stores/index.js
  packages/bot/src/stores/journal-store.js
  packages/bot/src/stores/run-panel-store.js
  packages/bot/src/stores/transactions-store.js
  packages/bot/src/utils/observer.js
Labels: Bot

#416 negar/update_cashier_error_messages
  packages/components/src/components/input/input.scss
  packages/trader/src/App/Containers/CashierModal/PaymentAgent/payment-agent-withdraw.jsx
  packages/trader/src/App/Containers/CashierModal/Withdrawal/withdraw.jsx
  packages/trader/src/App/Containers/CashierModal/account-transfer.jsx
  packages/trader/src/App/Containers/CashierModal/error.jsx
  packages/trader/src/App/Containers/CashierModal/payment-agent-transfer.jsx
  packages/trader/src/App/Containers/CashierModal/payment-agent.jsx
  packages/trader/src/App/Containers/CashierModal/withdrawal.jsx
  packages/trader/src/App/Containers/Redirect/redirect.jsx
  packages/trader/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
  packages/trader/src/Stores/Modules/Cashier/cashier-store.js
  packages/trader/src/Stores/client-store.js
  packages/trader/src/_common/base/socket_base.js
  packages/trader/src/sass/app/modules/cashier.scss
Labels: Trader

#429 negar/cashier_link
  packages/trader/src/App/Components/Layout/Header/menu-links.jsx
  packages/trader/src/App/Constants/header-links.js
  packages/trader/src/App/Containers/Layout/header.jsx
  packages/trader/src/Assets/Header/NavBar/icon-cashier.jsx
Labels: Trader

#427 zaki/color_and_other_fixes
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/autocomplete/autocomplete.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/input/input.scss
  packages/shared/src/styles/constants.scss
  packages/shared/src/utils/object/index.js
  packages/shared/src/utils/object/object.js
  packages/trader/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/trader/src/App/Containers/CashierModal/error.jsx
  packages/trader/src/App/Containers/Modals/success-dialog.jsx
  packages/trader/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/trader/src/App/Containers/RealAccountSignup/finished-set-currency.jsx
  packages/trader/src/App/Containers/RealAccountSignup/form-submit-button.jsx
  packages/trader/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/trader/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/trader/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/trader/src/Assets/Common/icon-deposit.jsx
  packages/trader/src/Assets/Common/icon-withdrawal.jsx
  packages/trader/src/Assets/SvgComponents/contract_details/dark/ic-entryspot.svg
  packages/trader/src/Assets/SvgComponents/contract_details/light/ic-entryspot.svg
  packages/trader/src/Stores/client-store.js
  packages/trader/src/Stores/ui-store.js
  packages/trader/src/sass/account-wizard.scss
  packages/trader/src/sass/add-or-manage.scss
  packages/trader/src/sass/app/_common/components/account-switcher.scss
  packages/trader/src/sass/app/_common/drawer/positions-progress-slider.scss
  packages/trader/src/sass/app/modules/account.scss
  packages/trader/src/sass/currency-select-radio.scss
  packages/trader/src/sass/details-form.scss
  packages/trader/src/sass/real-account-signup.scss
Labels: Components, Shared, Trader

#410 aaron/Regression Bug Fixes + Branding
  packages/bot/src/assets/icons/new-file.svg
  packages/bot/src/assets/icons/open.svg
  packages/bot/src/assets/icons/performance-window.svg
  packages/bot/src/assets/icons/rearrange.svg
  packages/bot/src/assets/icons/redo.svg
  packages/bot/src/assets/icons/save.svg
  packages/bot/src/assets/icons/undo.svg
  packages/bot/src/assets/icons/zoom-in.svg
  packages/bot/src/assets/icons/zoom-out.svg
  packages/bot/src/assets/sass/contract-card.scss
  packages/bot/src/assets/sass/dialog.scss
  packages/bot/src/assets/sass/journal.scss
  packages/bot/src/assets/sass/scratch/toolbar.scss
  packages/bot/src/constants/index.js
  packages/bot/src/scratch/blocks/Binary/After Purchase/check_result.js
  packages/bot/src/scratch/blocks/Binary/After Purchase/read_details.js
  packages/bot/src/scratch/blocks/Binary/Tools/Time/todatetime.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition_contracttype.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition_market.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradetype.js
  packages/bot/src/scratch/hooks/block.js
  packages/bot/src/scratch/hooks/contextmenu.js
  packages/bot/src/scratch/hooks/css.js
  packages/bot/src/scratch/hooks/index.js
  packages/bot/src/scratch/hooks/toolbox.js
  packages/bot/src/scratch/hooks/workspace_svg.js
  packages/bot/src/scratch/index.js
  packages/bot/src/scratch/xml/main.xml
  packages/bot/src/services/api/contracts-for.js
  packages/bot/src/services/api/trading-times.js
  packages/bot/src/services/tradeEngine/utils/interpreter.js
  packages/bot/src/stores/run-panel-store.js
Labels: Bot

#436 Set currency legacy account
  packages/components/src/components/dropdown/display-text.jsx
  packages/trader/src/App/Components/Layout/Header/account-actions.jsx
  packages/trader/src/App/Components/Layout/Header/account-info.jsx
  packages/trader/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/trader/src/App/Containers/Layout/header.jsx
  packages/trader/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/trader/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/trader/src/App/Containers/RealAccountSignup/change-account-currency.jsx
  packages/trader/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/trader/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/trader/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/trader/src/Assets/Header/AccountsCurrency/icon_accounts_currency.jsx
  packages/trader/src/Stores/Helpers/client-notifications.js
  packages/trader/src/Stores/Modules/Contract/contract-trade-store.js
  packages/trader/src/Stores/client-store.js
  packages/trader/src/Stores/common-store.js
  packages/trader/src/sass/account-wizard.scss
  packages/trader/src/sass/app/_common/base/common.scss
  packages/trader/src/sass/app/_common/components/account-switcher.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Trader

#450 Use file_name
  packages/bot/src/components/toolbar.jsx
Labels: Bot

#449 zaki/fix_overflowing_table_details
  packages/components/src/components/dropdown/list.scss
  packages/components/src/components/popover/popover.scss
  packages/trader/src/App/Components/Elements/DataTable/table-row-info.jsx
  packages/trader/src/sass/app/_common/components/data-table.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Components, Trader

#452 zaki/fix_no_currency_accounts_bug
  packages/trader/src/App/Components/Layout/Header/account-actions.jsx
  packages/trader/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/trader/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/_common/components/account-switcher.scss
Labels: Trader

#456 zaki/add_themed_scrollbars
  packages/bot/src/assets/icons/trade-types/digiteven.svg
  packages/bot/src/components/journal.jsx
  packages/bot/src/components/transactions.jsx
  packages/components/src/components/dropdown-list/dropdown-list.jsx
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/themed-scrollbars/index.js
  packages/components/src/components/themed-scrollbars/themed-scrollbars.jsx
  packages/components/src/components/themed-scrollbars/themed-scrollbars.scss
  packages/components/webpack.config.js
  packages/trader/package.json
  packages/trader/src/App/Components/Elements/ContractAudit/contract-audit.jsx
  packages/trader/src/App/Components/Elements/DataTable/data-table.jsx
  packages/trader/src/App/Components/Elements/DataTable/table-row-info.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
  packages/trader/src/App/Containers/CashierModal/Layout/cashier-container.jsx
  packages/trader/src/App/Containers/CashierModal/PaymentAgent/payment-agent-list.jsx
  packages/trader/src/App/Containers/Layout/app-contents.jsx
  packages/trader/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/trader/src/Modules/Account/Components/layout-components.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeTypeInfo/trade-type-info-item.jsx
Labels: Bot, Components, Trader

#459 zaki/clear_positions_once_acc_switcher_broadcasts
  packages/trader/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
Labels: Trader

#457 Amam/fix_transparentize
  packages/shared/src/styles/constants.scss
Labels: Shared

#461 mahdi/mt5_bug_fixes
  packages/components/src/components/button/button.jsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/password-input/index.js
  packages/components/src/components/password-input/password-input.jsx
  packages/components/src/components/password-input/password-input.scss
  packages/components/webpack.config.js
  packages/trader/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/trader/src/App/Containers/Layout/header.jsx
  packages/trader/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/trader/src/App/Containers/RealAccountSignup/change-account-currency.jsx
  packages/trader/src/App/Containers/RealAccountSignup/form-submit-button.jsx
  packages/trader/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
  packages/trader/src/Assets/Common/icon-password-hide.jsx
  packages/trader/src/Assets/Common/icon-password-show.jsx
  packages/trader/src/Assets/SvgComponents/mt5/download-center/icon-device-desktop.svg
  packages/trader/src/Assets/SvgComponents/mt5/download-center/icon-device-laptop.svg
  packages/trader/src/Assets/SvgComponents/mt5/download-center/icon-device-mac.svg
  packages/trader/src/Assets/SvgComponents/mt5/download-center/icon-device-mobile.svg
  packages/trader/src/Assets/SvgComponents/mt5/download-center/icon-device-phone.svg
  packages/trader/src/Assets/SvgComponents/mt5/download-center/icon-device-tablet.svg
  packages/trader/src/Assets/SvgComponents/mt5/download-center/icon-installation-google.svg
  packages/trader/src/Assets/SvgComponents/mt5/download-center/icon-installation-linux.svg
  packages/trader/src/Assets/SvgComponents/mt5/download-center/icon-installation-mac.svg
  packages/trader/src/Assets/SvgComponents/mt5/download-center/icon-installation-web.svg
  packages/trader/src/Assets/SvgComponents/mt5/download-center/icon-installation-windows.svg
  packages/trader/src/Assets/SvgComponents/settings/img-theme-dark.svg
  packages/trader/src/Assets/SvgComponents/settings/img-theme-light.svg
  packages/trader/src/Assets/icon.jsx
  packages/trader/src/Modules/Account/Sections/Security/DerivPassword/change-password-form.jsx
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-top-up-demo-modal.jsx
  packages/trader/src/Stores/Modules/Cashier/cashier-store.js
  packages/trader/src/Stores/Modules/MT5/Helpers/mt5-config.js
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Components, Trader

#223 sam|aaron/Getting Started Wizard
  packages/bot/src/app.jsx
  packages/bot/src/assets/sass/_tutorial.scss
  packages/bot/src/assets/sass/quick-strategy.scss
  packages/bot/src/assets/sass/scratch/toolbox.scss
  packages/bot/src/components/quick-strategy.jsx
  packages/bot/src/components/saveload-modal.jsx
  packages/bot/src/constants/index.js
  packages/bot/src/scratch/blocks/Advanced/Functions/procedures_defnoreturn.js
  packages/bot/src/scratch/blocks/Binary/After Purchase/after_purchase.js
  packages/bot/src/scratch/blocks/Binary/After Purchase/trade_again.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot/src/scratch/hooks/contextmenu.js
  packages/bot/src/scratch/hooks/toolbox.js
  packages/bot/src/scratch/index.js
  packages/bot/src/scratch/xml/dalembert.xml
  packages/bot/src/scratch/xml/martingale.xml
  packages/bot/src/scratch/xml/oscars_grind.xml
  packages/bot/src/services/api/active-symbols.js
  packages/bot/src/services/api/contracts-for.js
  packages/bot/src/services/tradeEngine/Interface/index.js
  packages/bot/src/stores/index.js
  packages/bot/src/stores/quick-strategy-store.js
  packages/bot/src/stores/run-panel-store.js
  packages/bot/src/stores/scratch-store.js
  packages/bot/src/stores/toolbar-store.js
Labels: Bot

#445 Mahboobeh / Fix bugs 3
  packages/bot/src/assets/sass/journal.scss
  packages/bot/src/assets/sass/run-panel.scss
  packages/bot/src/assets/sass/saveload-modal.scss
  packages/bot/src/assets/sass/scratch/toolbar.scss
  packages/bot/src/assets/sass/summary.scss
  packages/bot/src/components/journal.jsx
  packages/bot/src/components/run-panel.jsx
  packages/bot/src/components/saveload-modal.jsx
  packages/bot/src/components/toolbar.jsx
  packages/bot/src/components/transactions.jsx
  packages/bot/src/constants/contract-stage.js
  packages/bot/src/services/tradeEngine/utils/interpreter.js
  packages/bot/src/stores/journal-store.js
  packages/bot/src/stores/run-panel-store.js
Labels: Bot

#469 Enable stop button after error happens
  packages/bot/src/stores/journal-store.js
  packages/bot/src/stores/run-panel-store.js
Labels: Bot

#476 mahdi/dialog_alignment
  packages/components/src/components/dialog/dialog.jsx
  packages/components/src/components/dialog/dialog.scss
  packages/trader/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
Labels: Components, Trader

#477 mahdi/update_scrollbar_refs
  packages/core/package.json
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/trader/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/trader/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/trader/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/trader/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfIdentity/onfido.jsx
Labels: Core, Trader

#447 Mahdi.aryayi / Fix design bugs
  packages/trader/src/App/Components/Elements/SideMenu/side-menu-headers.jsx
  packages/trader/src/App/Components/Elements/VerticalTabs/vertical-tab-content-container.jsx
  packages/trader/src/Modules/Account/Containers/account.jsx
  packages/trader/src/Modules/Account/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/trader/src/sass/app/modules/account.scss
Labels: Trader

#462 negar/handle_disabled_account
  packages/trader/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/trader/src/App/Containers/CashierModal/virtual.jsx
  packages/trader/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/trader/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
  packages/trader/src/Stores/client-store.js
  packages/trader/src/sass/app/_common/components/account-switcher.scss
Labels: Trader

#465 bala/Profit table totals fix
  packages/trader/src/Stores/Modules/Profit/profit-store.js
Labels: Trader

#414 sam/fix console error when closing modal by clicking x
  packages/bot/src/components/saveload-modal.jsx
Labels: Bot

#483 zaki/fix_reports_scrollbar
  packages/trader/src/App/Components/Elements/DataTable/data-table.jsx
Labels: Trader

#482 Sam/Quick Strategy (Bug Fixing)
  packages/bot/src/components/quick-strategy.jsx
  packages/bot/src/services/api/contracts-for.js
Labels: Bot, Needs Review

#400 Don't sent a portfolio call on transaction.buy anymore
  packages/trader/src/Modules/SmartChart/Components/all-markers.jsx
  packages/trader/src/Modules/SmartChart/Components/icons.js
  packages/trader/src/Stores/Modules/Contract/contract-trade-store.js
  packages/trader/src/Stores/Modules/Portfolio/Helpers/format-response.js
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/modules/contract/digits.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader

#485 Mahdi.aryayi / Updated birth-date format
  packages/trader/src/App/Containers/RealAccountSignup/personal-details.jsx
Labels: Trader

#494 Use workbox only in 'IS_RELEASE' scripts
  packages/trader/build/config.js
Labels: Trader

#491 negar/cashier_get_latest_balance
  packages/trader/src/App/Containers/CashierModal/payment-agent-transfer.jsx
  packages/trader/src/App/Containers/CashierModal/withdrawal.jsx
  packages/trader/src/Stores/Modules/Cashier/cashier-store.js
  packages/trader/src/public/images/app/cashier/account_switcher.jpg
  packages/trader/src/public/images/app/cashier/account_switcher.png
  packages/trader/src/sass/app/modules/cashier.scss
Labels: Trader

#496 zaki/clear_contracts_on_acc_switch
  packages/trader/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Trader

#481 Sam/fix dalembert & oscar grind initial stake
  packages/bot/src/scratch/xml/dalembert.xml
  packages/bot/src/scratch/xml/oscars_grind.xml
Labels: Bot, Needs Review

#487 Mahboobeh/ Clean up shared and remove themify
  packages/bot/src/assets/sass/quick-strategy.scss
  packages/bot/src/assets/sass/scratch/flyout.scss
  packages/components/src/components/accordion/accordion.jsx
  packages/components/src/components/accordion/index.js
  packages/components/src/components/file-dropzone/file-dropzone.jsx
  packages/components/src/components/input/input.jsx
  packages/components/src/components/radio-group/radio-group.scss
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/components/error-boundary.scss
  packages/core/src/sass/app/_common/components/notification-bar.scss
  packages/core/src/sass/app/_common/components/notification-message.scss
  packages/core/src/sass/app/_common/drawer/positions-drawer-card.scss
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/index.js
  packages/shared/src/styles/mixins.scss
  packages/shared/src/styles/themes.scss
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/_common/components/error-boundary.scss
  packages/trader/src/sass/app/_common/components/notification-bar.scss
  packages/trader/src/sass/app/_common/components/notification-message.scss
  packages/trader/src/sass/app/_common/components/purchase-button.scss
  packages/trader/src/sass/app/_common/components/select.scss
  packages/trader/src/sass/app/_common/components/switch-button.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer-card.scss
  packages/trader/src/sass/app/_common/themes/dark.scss
Labels: Bot, Components, Core, Shared, Trader

#505 Mahboobeh/Show PL only when contract closes
  packages/bot/src/components/transactions.jsx
  packages/bot/src/stores/transactions-store.js
Labels: Bot

#503 oskar/autocomplete_fixes
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/dropdown-list/dropdown-list.jsx
  packages/components/src/components/dropdown-list/dropdown-list.scss
  packages/components/src/components/themed-scrollbars/themed-scrollbars.jsx
  packages/trader/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/trader/src/Modules/Account/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Components, Trader

#375 zaki/one_second_tick_synthetic_updates
  packages/shared/src/styles/symbols.scss
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Components/Elements/market-is-closed-overlay.jsx
  packages/trader/src/Constants/contract.js
  packages/trader/src/Modules/Account/Sections/Security/AccountLimits/account-limits.jsx
  packages/trader/src/Modules/Reports/Helpers/shortcode.js
  packages/trader/src/Modules/SmartChart/Components/all-markers.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/active-symbols.js
  packages/trader/src/public/images/app/portfolio/underlying-icons/ic-1HZ100V.svg
  packages/trader/src/public/images/app/portfolio/underlying-icons/ic-1HZ10V.svg
  packages/trader/src/public/images/app/portfolio/underlying-icons/ic-FRXGBPNZD.svg
  packages/trader/src/public/images/app/portfolio/underlying-icons/ic-FRXUSDMXN.svg
  packages/trader/src/public/images/app/portfolio/underlying-icons/ic-RDBEAR.svg
  packages/trader/src/public/images/app/portfolio/underlying-icons/ic-RDBULL.svg
  packages/trader/src/public/images/app/portfolio/underlying-icons/ic-R_10.svg
  packages/trader/src/public/images/app/portfolio/underlying-icons/ic-R_100.svg
  packages/trader/src/public/images/app/portfolio/underlying-icons/ic-R_25.svg
  packages/trader/src/public/images/app/portfolio/underlying-icons/ic-R_50.svg
  packages/trader/src/public/images/app/portfolio/underlying-icons/ic-R_75.svg
Labels: Shared, Trader

#501 Mahboobeh/ Refactoring run-panel and bug fixes
  packages/bot/src/assets/sass/contract-card.scss
  packages/bot/src/assets/sass/journal.scss
  packages/bot/src/assets/sass/run-panel.scss
  packages/bot/src/assets/sass/trade-animation.scss
  packages/bot/src/components/contract-card.jsx
  packages/bot/src/components/journal.jsx
  packages/bot/src/components/run-panel.jsx
  packages/bot/src/components/saveload-modal.jsx
  packages/bot/src/components/summary.jsx
  packages/bot/src/components/toolbar.jsx
  packages/bot/src/components/transactions.jsx
  packages/bot/src/constants/contract-stage.js
  packages/bot/src/constants/messages.js
  packages/bot/src/scratch/index.js
  packages/bot/src/services/tradeEngine/trade/OpenContract.js
  packages/bot/src/services/tradeEngine/trade/Purchase.js
  packages/bot/src/services/tradeEngine/trade/Total.js
  packages/bot/src/services/tradeEngine/utils/interpreter.js
  packages/bot/src/stores/contract-card-store.js
  packages/bot/src/stores/google-drive-store.js
  packages/bot/src/stores/index.js
  packages/bot/src/stores/journal-store.js
  packages/bot/src/stores/run-panel-store.js
  packages/bot/src/stores/summary-store.js
  packages/bot/src/stores/transactions-store.js
  packages/components/src/components/drawer/drawer.scss
Labels: Bot

#466 kelly/real_account_signup_modal
  packages/trader/src/App/Containers/CashierModal/Layout/cashier-container.jsx
  packages/trader/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/trader/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/trader/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/trader/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/trader/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/trader/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/trader/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/trader/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/trader/src/Stores/client-store.js
  packages/trader/src/sass/account-wizard.scss
  packages/trader/src/sass/add-or-manage.scss
  packages/trader/src/sass/currency-select-radio.scss
  packages/trader/src/sass/details-form.scss
  packages/trader/src/sass/real-account-signup.scss
  packages/trader/src/sass/terms-of-use.scss
Labels: Trader

#511 negar/fix_cashier_switch
  packages/trader/src/Stores/Modules/Cashier/cashier-store.js
Labels: Trader

#513 aaron/Remove legacy tests
  packages/bot/src/services/api/__tests__/index.js
  packages/bot/src/services/api/shared.js
  packages/bot/src/services/api/symbolApi/index.js
Labels: Bot

#512 zaki/trader_bug_fixes
  packages/trader/src/Modules/SmartChart/Components/all-markers.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-wrapper.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/Stores/common-store.js
Labels: Trader

#509 Shayan/Derivapp Barrier Style
  packages/trader/src/Stores/Modules/SmartChart/Constants/barriers.js
Labels: Trader

#510 negar/mt5_account_switcher
  packages/trader/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/trader/src/Assets/Header/Drawer/icon-logout.jsx
  packages/trader/src/Modules/Account/Sections/Security/AccountLimits/account-limits-info.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Stores/Helpers/client.js
  packages/trader/src/Stores/Modules/Cashier/cashier-store.js
  packages/trader/src/Stores/client-store.js
  packages/trader/src/_common/base/socket_base.js
  packages/trader/src/sass/app/_common/components/account-switcher.scss
Labels: Trader

#515 zaki/merge_underlying_icons_to_core
  packages/core/src/public/images/app/portfolio/underlying-icons/ic-1HZ100V.svg
  packages/core/src/public/images/app/portfolio/underlying-icons/ic-1HZ10V.svg
  packages/core/src/public/images/app/portfolio/underlying-icons/ic-FRXGBPNZD.svg
  packages/core/src/public/images/app/portfolio/underlying-icons/ic-FRXUSDMXN.svg
  packages/core/src/public/images/app/portfolio/underlying-icons/ic-RDBEAR.svg
  packages/core/src/public/images/app/portfolio/underlying-icons/ic-RDBULL.svg
  packages/core/src/public/images/app/portfolio/underlying-icons/ic-R_10.svg
  packages/core/src/public/images/app/portfolio/underlying-icons/ic-R_100.svg
  packages/core/src/public/images/app/portfolio/underlying-icons/ic-R_25.svg
  packages/core/src/public/images/app/portfolio/underlying-icons/ic-R_50.svg
  packages/core/src/public/images/app/portfolio/underlying-icons/ic-R_75.svg
Labels: Core

#506 aaron/Synthetic indices
  packages/bot/src/assets/icons/trade-types/asiand.svg
  packages/bot/src/assets/icons/trade-types/asianu.svg
  packages/bot/src/assets/icons/trade-types/call.svg
  packages/bot/src/assets/icons/trade-types/call_barrier.svg
  packages/bot/src/assets/icons/trade-types/calle_light.svg
  packages/bot/src/assets/icons/trade-types/callspread.svg
  packages/bot/src/assets/icons/trade-types/digitdiff.svg
  packages/bot/src/assets/icons/trade-types/digiteven.svg
  packages/bot/src/assets/icons/trade-types/digitmatch.svg
  packages/bot/src/assets/icons/trade-types/digitodd.svg
  packages/bot/src/assets/icons/trade-types/digitover.svg
  packages/bot/src/assets/icons/trade-types/digitunder.svg
  packages/bot/src/assets/icons/trade-types/expirymiss.svg
  packages/bot/src/assets/icons/trade-types/expiryrange.svg
  packages/bot/src/assets/icons/trade-types/expiryrangee.svg
  packages/bot/src/assets/icons/trade-types/notouch.svg
  packages/bot/src/assets/icons/trade-types/onetouch.svg
  packages/bot/src/assets/icons/trade-types/put.svg
  packages/bot/src/assets/icons/trade-types/put_barrier.svg
  packages/bot/src/assets/icons/trade-types/putspread.svg
  packages/bot/src/assets/icons/trade-types/range.svg
  packages/bot/src/assets/icons/trade-types/resetcall.svg
  packages/bot/src/assets/icons/trade-types/resetput.svg
  packages/bot/src/assets/icons/trade-types/runhigh.svg
  packages/bot/src/assets/icons/trade-types/runlow.svg
  packages/bot/src/assets/icons/trade-types/tickhigh.svg
  packages/bot/src/assets/icons/trade-types/ticklow.svg
  packages/bot/src/assets/icons/trade-types/unknown.svg
  packages/bot/src/assets/icons/trade-types/upordown.svg
  packages/bot/src/components/Icons.jsx
  packages/bot/src/components/icon-trade-types.jsx
  packages/bot/src/scratch/utils.js
Labels: Bot, Core, Shared
