Repository deriv-com/deriv-app, pull requests merged in 2020-09, with the labels that each got.

#1683 negar/update password regex
  packages/account/src/Duplicated/Utils/Validator/declarative-validation-rules.js
  packages/account/src/Sections/Security/DerivPassword/change-password-form.jsx
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
  packages/core/src/Utils/Validator/declarative-validation-rules.js
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-reset-password-modal.jsx
  packages/trader/src/Utils/Validator/declarative-validation-rules.js
Labels: Account, Core, Trader

#1687 amam/hotfix_onfido
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.js
Labels: Account

#1684 zaki / make_popover_hooky
  packages/bot-skeleton/package-lock.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/popover/popover.jsx
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Components/Layout/Header/toggle-notifications.jsx
  packages/core/src/App/Containers/Layout/header.jsx
Labels: Bot, Components, Core

#1577 Bala/onfido overlap fix
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Trader

#1650 salar / Fix dtrader buttons not working after error message
  packages/bot-web-ui/src/app.jsx
  packages/components/src/components/page-error/page-error.jsx
  packages/core/src/App/Components/Elements/Errors/error-component.jsx
  packages/core/src/App/Components/Routes/binary-link.jsx
  packages/core/src/Services/outdated-browser.js
  packages/core/src/Stores/common-store.js
  packages/shared/src/utils/digital-options/digital-options.js
  packages/trader/src/Services/outdated-browser.js
  packages/trader/src/Stores/Modules/Trading/Helpers/active-symbols.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Bot, Components, Core, Shared, Trader

#1636 Mahdi Aryayi / Fixed state bug
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/shared/src/index.js
  packages/shared/src/utils/location/index.js
  packages/shared/src/utils/location/location.js
Labels: Account, Core, Shared

#1606 amam/shareable cookie for livechat
  packages/core/src/App/Components/Elements/live-chat.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#1604 negar/update_closure_error
  packages/account/src/Sections/Security/DeactivateAccount/account-has-balance.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#1410 carol/download transactions and journal as csv file
  packages/bot-skeleton/src/constants/messages.js
  packages/bot-web-ui/src/assets/sass/download.scss
  packages/bot-web-ui/src/assets/sass/journal.scss
  packages/bot-web-ui/src/assets/sass/transactions.scss
  packages/bot-web-ui/src/components/download.jsx
  packages/bot-web-ui/src/components/journal.jsx
  packages/bot-web-ui/src/components/transactions.jsx
  packages/bot-web-ui/src/stores/download-store.js
  packages/bot-web-ui/src/stores/index.js
Labels: Bot

#1605 bahar/some_improvement_for_import_pop-up_menu
  packages/bot-web-ui/src/assets/sass/load-modal.scss
Labels: Bot

#1603 carol/highlight executed blocks when the bot is running
  packages/bot-skeleton/src/scratch/blocks/Binary/After Purchase/after_purchase.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Before Purchase/before_purchase.js
  packages/bot-skeleton/src/scratch/blocks/Binary/During Purchase/during_purchase.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition.js
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
  packages/bot-skeleton/src/scratch/hooks/css.js
  packages/bot-skeleton/src/services/tradeEngine/Interface/ToolsInterface.js
Labels: Bot

#1640 aaron/Expand block icon
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
  packages/bot-skeleton/src/scratch/utils/index.js
Labels: Bot

#1655 bahar/firefox_console_error_on_quick_strategy_modal
  packages/components/src/components/modal/modal.jsx
Labels: Components

#1578 aaron/DBot collection
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/stores/data-collection-store.js
  packages/bot-web-ui/src/stores/index.js
Labels: Account, Bot, Components, Core

#1648 aaron/DBot terms for Google Drive
  packages/bot-web-ui/src/app.jsx
  packages/bot-web-ui/src/assets/sass/bot-footer-extensions.scss
  packages/bot-web-ui/src/assets/sass/footer-extensions.scss
  packages/bot-web-ui/src/assets/sass/load-modal.scss
  packages/bot-web-ui/src/components/bot-footer-extensions.jsx
  packages/bot-web-ui/src/components/footer-extension.jsx
  packages/bot-web-ui/src/components/load-modal/google-drive.jsx
  packages/bot-web-ui/src/constants/z-indexes.js
  packages/components/src/components/icon/common/ic-security-and-privacy.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/Stores/ui-store.js
  packages/shared/src/utils/url/url.js
  packages/trader/src/App/Containers/trade-footer-extensions.jsx
Labels: Bot, Components, Core, Shared, Trader

#1660 aaron/Carry over proposal fix from binary-com/binary-bot
  packages/bot-skeleton/src/services/tradeEngine/Interface/index.js
  packages/bot-skeleton/src/services/tradeEngine/trade/OpenContract.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Proposal.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Purchase.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
Labels: Bot

#1591 Mehrzad / close market console error
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Ticks.js
Labels: Bot

#1637 carol/P2p bug fix
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Core

#1674 amam/fix_regulatory_policy
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
Labels: Core

#1200 Mehrzad/dbot restriction
  packages/bot-skeleton/src/constants/messages.js
  packages/bot-web-ui/src/assets/sass/run-panel.scss
  packages/bot-web-ui/src/components/run-panel.jsx
  packages/bot-web-ui/src/components/self-exclusion.jsx
  packages/bot-web-ui/src/stores/index.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/self-exclusion-store.js
  packages/core/src/Stores/client-store.js
Labels: Account, Bot, Components, Core, P2P

#1609 Shayan/update account opening error message to open livechat instead of email
  packages/core/src/App/Containers/RealAccountSignup/signup-error-content.jsx
  packages/core/src/sass/account-wizard.scss
Labels: Core

#1693 negar/show_password_errors
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
Labels: Core

#1570 Shayan/Dropdown overlapped with state for belgium clients
  packages/components/src/components/autocomplete/autocomplete.scss
Labels: Components

#1685 Mehrzad / update flyout + scroll to active item
  packages/bot-skeleton/src/scratch/hooks/toolbox.js
  packages/bot-web-ui/src/components/flyout-block-group.jsx
  packages/bot-web-ui/src/components/flyout.jsx
  packages/bot-web-ui/src/stores/flyout-help-store.js
  packages/bot-web-ui/src/stores/flyout-store.js
Labels: Bot

#1690 Nijil/DBot - Fix quick strategy run button issue
  packages/bot-web-ui/src/assets/sass/quick-strategy.scss
  packages/bot-web-ui/src/components/quick-strategy.jsx
Labels: Bot

#1665 Sara / Added checkdomain to avoid copying codes
  packages/core/src/App/Containers/Layout/app-contents.jsx
Labels: Core

#1681 Bala/fix-profit-table-missing-records
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/Stores/Modules/Profit/profit-store.js
  packages/trader/src/sass/app/_common/components/composite-calendar.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader

#1704 zaki/clipboard_tooltip_fix
  packages/components/src/components/clipboard/clipboard.jsx
  packages/core/src/sass/account-wizard.scss
Labels: Components, Core

#1702 Nijil/DBot Hotfix - Load-modal footer issue
  packages/bot-web-ui/src/components/load-modal.jsx
  packages/bot-web-ui/src/constants/load-modal.js
  packages/bot-web-ui/src/stores/load-modal-store.js
Labels: Bot

#1709 carol/cashier hotfix
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
Labels: Core

#1719 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1700 salar / Fix: show loading when account is switching
  packages/trader/src/Modules/Reports/Containers/statement.jsx
Labels: Trader

#1654 Mehrzad / add disclaimer content to indicators
  packages/bot-web-ui/src/assets/sass/flyout.scss
  packages/bot-web-ui/src/components/flyout.jsx
  packages/bot-web-ui/src/stores/flyout-store.js
  packages/components/src/components/icon/common/ic-black-warning.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Bot, Components

#1691 Mahdi Aryayi / Fix reports bug
  packages/trader/src/Modules/Reports/Components/placeholder-component.jsx
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader

#1632 bahar/multiple_active-symbols_and_ticks-history_when_starting_a_bot_loop
  packages/bot-skeleton/src/services/api/ticks_service.js
Labels: Bot

#1527 Mahdi Aryayi / Fixed change currency UI
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/change-account-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
Labels: Account, Components, Core

#1694 zaki/ add_address_po_box_validation
  packages/core/src/App/Containers/RealAccountSignup/address-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/Utils/Validator/declarative-validation-rules.js
Labels: Core

#1682 bahar/invisible_popover_element_issue
  packages/bot-web-ui/src/components/toolbar.jsx
  packages/bot-web-ui/src/components/trade-animation.jsx
  packages/components/src/components/popover/popover.jsx
  packages/components/src/components/popover/popover.scss
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Components/Layout/Header/toggle-notifications.jsx
Labels: Bot, Components, Core, Trader

#1567 Nijil/Move indicators to shared
  packages/bot-skeleton/package-lock.json
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/services/tradeEngine/Interface/IndicatorsInterface.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/indicators.js
  packages/components/src/components/expansion-panel/expansion-panel.jsx
  packages/shared/package-lock.json
  packages/shared/src/index.js
  packages/shared/src/test_utils/macd-data.js
  packages/shared/src/utils/indicators/__tests__/bollinger-bands.spec.js
  packages/shared/src/utils/indicators/__tests__/exponential-moving-average.spec.js
  packages/shared/src/utils/indicators/__tests__/macd.spec.js
  packages/shared/src/utils/indicators/__tests__/math.spec.js
  packages/shared/src/utils/indicators/__tests__/relative-strength-index.spec.js
  packages/shared/src/utils/indicators/__tests__/simple-moving-average.spec.js
  packages/shared/src/utils/indicators/bollinger-bands.js
  packages/shared/src/utils/indicators/exponential-moving-average.js
  packages/shared/src/utils/indicators/index.js
  packages/shared/src/utils/indicators/macd.js
  packages/shared/src/utils/indicators/math.js
  packages/shared/src/utils/indicators/relative-strength-index.js
  packages/shared/src/utils/indicators/simple-moving-average.js
  packages/shared/src/utils/object/object.js
  packages/translations/package-lock.json
Labels: Bot, Components, Shared, Translations

#1708 Bala/multiplier responsive improvements
  packages/components/src/components/icon/tradetype/ic-tradetype-multdown.svg
  packages/components/src/components/icon/tradetype/ic-tradetype-multup.svg
  packages/components/src/components/popover/popover.jsx
  packages/components/src/components/select-native/select-native.jsx
  packages/core/src/index.html
  packages/trader/src/App/Components/Elements/PositionsDrawer/contract-update-form.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/toggle-positions-drawer-dialog.jsx
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.jsx
  packages/trader/src/Modules/Reports/Components/market-symbol-icon-row.jsx
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/reports.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/Modules/Reports/Helpers/shortcode.js
  packages/trader/src/Modules/Trading/Components/Elements/Multiplier/cancel-deal-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/cancel-deal.jsx
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/sass/app/_common/components/composite-calendar.scss
  packages/trader/src/sass/app/_common/components/market-symbol-icon.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer-dialog.scss
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/reports.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Components, Core, Trader

#1714 oskar/reset_combine_fa_display_logic
  packages/account/src/Containers/account.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/Stores/client-store.js
Labels: Account, Core

#1735 bahar/strategies_result_returns_nan
  packages/bot-skeleton/src/services/api/ticks_service.js
Labels: Bot

#1737 zaki / fix_po_box_svg
  packages/core/src/App/Containers/RealAccountSignup/address-details-form.js
Labels: Core

#1739 aaron/Remove ID from strategies
  packages/bot-web-ui/src/stores/data-collection-store.js
Labels: Bot

#1740 aaron/Update P2P text
  packages/p2p/src/components/orders/order-details/order-actions-block.jsx
Labels: P2P

#1733 Shayan/Reports page inconsistency
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader

#1728 mamali/populate financial assessment when available
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/financial-details-form.js
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/socket_base.js
Labels: Core

#1707 Nijil/DBot save modal UI fix
  packages/bot-web-ui/src/components/save-modal.jsx
Labels: Bot

#1699 [wip] prefetch/preload
  packages/core/build/config.js
Labels: Core

#1723 Mehrzad / xml darg updated
  packages/bot-web-ui/src/components/load-modal/local.jsx
Labels: Bot

#1726 aaron/Update onramp copy to use website_name
  packages/core/src/Modules/Cashier/Components/on-ramp-provider-popup.jsx
Labels: Core

#1500 Mehrzad / update dialog
  packages/bot-web-ui/src/components/dialog.jsx
  packages/bot-web-ui/src/components/run-panel.jsx
  packages/bot-web-ui/src/components/toolbar.jsx
  packages/bot-web-ui/src/stores/toolbar-store.js
  packages/components/src/components/dialog/dialog.jsx
  packages/components/src/components/dialog/dialog.scss
Labels: Account, Bot, Components, Core, P2P, Trader

#1736 Shayan/'Sell time' icon should not appear in profit table
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
Labels: Trader

#1722 Mahdi Aryayi / Fixed POA form styling
  packages/account/src/Duplicated/Utils/Validator/declarative-validation-rules.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/account/src/Styles/account.scss
  packages/core/src/Utils/Validator/declarative-validation-rules.js
  packages/trader/src/Utils/Validator/declarative-validation-rules.js
Labels: Account, Core, Trader

#1725 Mahdi Aryayi / Fixed state dropdown issue
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
Labels: Core

#1473 negar/use_limits_mt5
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Account, Core

#1727 negar/fix_error_structure
  packages/core/src/Modules/Cashier/Components/Confirm/payment-agent-transfer-confirm.jsx
  packages/core/src/Modules/Cashier/Components/Confirm/payment-agent-withdraw-confirm.jsx
  packages/core/src/Modules/Cashier/Components/confirm.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/sass/app/modules/cashier.scss
Labels: Core

#1742 aaron/P2P Fix double tinted background
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/modal/modal.scss
  packages/core/src/Modules/Cashier/Containers/p2p-cashier.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/form/form.scss
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/orders/order-details/order-actions-block.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/components/orders/popup.jsx
Labels: Components, Core, P2P

#1744 Amir / on safari remove extra space in footer of account creation modal
  packages/core/src/sass/account-wizard.scss
Labels: Core

#1734 Amir / update: change text Deriv (SVG) Limited to Deriv (SVG) LLC
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use-messages.jsx
Labels: Core

#1711 Nijil/DBot - Fix run panel UI issues
  packages/bot-web-ui/src/assets/sass/transactions.scss
  packages/bot-web-ui/src/components/download.jsx
  packages/bot-web-ui/src/components/journal.jsx
  packages/bot-web-ui/src/components/transactions.jsx
Labels: Bot

#1748 negar/redirect_to_chat
  packages/account/src/Components/poi-unsupported/unsupported.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#1746 mamali/Change active tab text & icon color
  packages/components/src/components/vertical-tab/vertical-tab.scss
Labels: Components

#1752 Mahdi Aryayi / Fixed choose multiplier button styling
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info-card.jsx
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
Labels: Trader

#1743 Shayan/Cashier - Transfer - Amount balance looks a bit messy in the drop down
  packages/core/src/sass/app/modules/cashier.scss
Labels: Core

#1729 Shayan/Alert message for Max character limit
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
Labels: Account

#1592 mamali/Add autorefresh threshold
  packages/core/src/Utils/pwa/register-service-worker.js
Labels: Core

#1757 zaki / fix_error_history_callback_hook
  packages/core/src/App/Components/Elements/Errors/error-component.jsx
Labels: Core

#1758 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1767 zaki / fix_signup_validaitons
  packages/core/src/App/Containers/RealAccountSignup/address-details-form.js
  packages/core/src/Constants/form-error-messages.js
  packages/shared/src/utils/validation/declarative-validation-rules.js
Labels: Core, Shared

#1771 Update deriv app translations
  packages/translations/src/translations/es.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1730 mamali/dynamically set tax identifaction rules based on API
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-financial-stp-real-account-signup.jsx
Labels: Trader

#1713 Amir / fix: allow user to select date on calendar icon click
  packages/components/src/components/date-picker/date-picker-input.jsx
  packages/components/src/components/date-picker/date-picker.scss
  packages/trader/src/App/Components/Form/CompositeCalendar/calendar-icon.jsx
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar.jsx
Labels: Components, Trader

#1671 aaron+carol/Add mobx to p2p
  packages/bot-skeleton/src/services/api/ticks_service.js
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/stores/general-store.js
  packages/p2p/stores/index.js
Labels: Bot, P2P

#1749 negar/fix_signup_error
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/signup-error-content.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#1756 amam/remove_pwa_source
  packages/core/src/templates/app/manifest.json
  packages/trader/build/config.js
  packages/trader/src/templates/app/manifest.json
Labels: Core, Trader

#1766 reword crypto withdrawal page
  packages/core/src/Modules/Cashier/Components/Email/send-email.jsx
Labels: Core

#1759 Nijil/DBot run panel - invisible cursor issue
  packages/components/src/components/drawer/drawer.scss
Labels: Components

#1761 aaron/Update reference to contract
  packages/bot-skeleton/src/services/tradeEngine/trade/OpenContract.js
Labels: Bot

#1675 amam/update_self_exclusion
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/account/src/Sections/Security/SelfExclusion/article-content.jsx
  packages/account/src/Sections/Security/SelfExclusion/article.jsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#1764 matin/chrome-version-issue
  packages/core/src/App/Containers/RealAccountSignup/form-validations.js
Labels: Core

#1773 Revert "amam/update_self_exclusion"
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/account/src/Sections/Security/SelfExclusion/article-content.jsx
  packages/account/src/Sections/Security/SelfExclusion/article.jsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#1750 Mahdi Aryayi / Fixed DMT5 password model styling
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-reset-password-modal.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Trader

#1754 Mahdi Aryayi / fixed popover not showing bug
  packages/components/src/components/popover/popover.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/toggle-positions-drawer-dialog.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/cancel-deal.jsx
Labels: Components, Trader

#1769 bahar/safari_browser_reset_modal_broken
  packages/bot-web-ui/src/assets/sass/download.scss
Labels: Bot

#1753 mamali/deriv-crypto build
  package.json
  packages/account/src/Components/Routes/binary-link.jsx
  packages/account/src/Components/Routes/binary-routes.jsx
  packages/account/src/Constants/routes-config.js
  packages/account/src/Containers/account.jsx
  packages/account/src/Duplicated/_common/base/login.js
  packages/account/src/Duplicated/_common/storage.js
  packages/core/build/constants.js
  packages/core/build/webpack.config-test.js
  packages/core/build/webpack.config.js
  packages/core/package.json
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/PlatformContainer/PlatformContainer.jsx
  packages/core/src/App/Containers/PlatformContainer/index.js
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/App/app.jsx
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/core/src/Services/logout.js
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/_common/base/__tests__/client_base.js
  packages/core/src/_common/base/client_base.js
  packages/core/src/_common/base/login.js
  packages/core/src/_common/base/socket_base.js
  packages/core/src/_common/base/socket_cache.js
  packages/core/src/_common/storage.js
  packages/shared/package-lock.json
  packages/shared/package.json
  packages/shared/src/index.js
  packages/shared/src/utils/config/config.js
  packages/shared/src/utils/login/index.js
  packages/shared/src/utils/login/login.js
  packages/shared/src/utils/platform/index.js
  packages/shared/src/utils/platform/platform-context.js
  packages/shared/src/utils/storage/index.js
  packages/shared/src/utils/storage/storage.js
  packages/trader/src/Stores/Modules/Contract/contract-trade-store.js
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/active-symbols.js
  packages/trader/src/Stores/Modules/Trading/Helpers/active-symbols.js
  packages/trader/src/_common/base/login.js
Labels: Account, Core, Shared

#1768 shayan/Barrier and entry spot formatting
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
Labels: Trader

#1783 carol/p2p nickname hotfix
  packages/p2p/src/components/app.jsx
Labels: P2P

#1782 .
  packages/p2p/src/components/orders/order-details/order-actions-block.jsx
Labels: P2P

#1781 zaki / mt5_stp_fixes
  packages/account/src/Sections/Security/DerivPassword/change-password-form.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/components/src/components/div100vh-container/div100vh-container.jsx
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/mobile-dialog/mobile-dialog.scss
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details-form.js
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poi.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-financial-stp-real-account-signup.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-reset-password-modal.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Account, Components, Core, Trader

#1793 zaki / fix_real_acc_and_province_loader
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/components/src/components/mobile-dialog/mobile-dialog.scss
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/sass/details-form.scss
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
Labels: Components, Core, Trader

#1794 Bala/fix-reports-loading-indicator
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
Labels: Trader

#1789 mamali/Use tin_format for validation
  packages/account/build/webpack.config.js
  packages/account/src/Components/form-submit-error-message/index.js
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Security/DerivPassword/change-password-form.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/form-submit-button/form-submit-button.scss
  packages/components/src/components/form-submit-error-message/form-submit-error-message.jsx
  packages/components/src/components/form-submit-error-message/form-submit-error-message.scss
  packages/components/src/components/form-submit-error-message/index.js
  packages/components/src/index.js
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-financial-stp-real-account-signup.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Account, Components, Trader

#1824 zaki / hotfixes_poi_poa_autocomplete
  packages/account/src/Styles/account.scss
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/autocomplete/autocomplete.scss
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Account, Components, Trader

#1823 aaron/Update reference to proposals
  packages/bot-skeleton/src/services/tradeEngine/Interface/index.js
Labels: Bot

#1774 Revert "Revert "amam/update_self_exclusion""
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/account/src/Sections/Security/SelfExclusion/article-content.jsx
  packages/account/src/Sections/Security/SelfExclusion/article.jsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#1788 oskar/filter_pages_for_crypto
  packages/account/src/Components/Routes/binary-link.jsx
  packages/account/src/Components/Routes/binary-routes.jsx
  packages/account/src/Constants/routes-config.js
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Components/Routes/binary-link.jsx
  packages/core/src/App/Components/Routes/binary-routes.jsx
  packages/core/src/App/Constants/routes-config.js
Labels: Account, Core

#1791 mamali/crypto-update-app-id
  packages/shared/src/utils/config/app-config.js
  packages/shared/src/utils/config/config.js
Labels: Shared

#1835 zaki/fix_incorrect_oauth_urls [production]
  packages/shared/src/utils/login/login.js
Labels: Shared

#1836 zaki / fix_incorrect_oauth_domains
  packages/shared/src/utils/login/login.js
Labels: Shared

#1847 oskar/staging_crypto_check
  packages/shared/src/utils/config/config.js
Labels: Shared

#1849 oskar/update_env_handling
  packages/core/build/constants.js
  packages/core/build/webpack.config.js
  packages/core/package.json
  packages/core/src/App/Containers/PlatformContainer/PlatformContainer.jsx
  packages/shared/src/utils/config/config.js
Labels: Core, Shared

#1851 mamali/Use direct string comparison against localStorage
  packages/core/src/App/Containers/PlatformContainer/PlatformContainer.jsx
Labels: Core

#1855 mamali/convert process.env.IS_CRYPTO_APP to boolean
  packages/core/build/constants.js
  packages/core/src/App/Containers/PlatformContainer/PlatformContainer.jsx
Labels: Core

#1856 Use process.env.IS_CRYPTO_APP as a fallback for websocket brand
  packages/shared/src/utils/config/app-config.js
Labels: Shared

#1857 mamali/Use localstorage if false
  packages/core/package.json
  packages/core/src/App/Containers/PlatformContainer/PlatformContainer.jsx
  packages/shared/src/utils/config/app-config.js
  packages/shared/src/utils/config/config.js
Labels: Core, Shared

#1843 Shayan/Remove numbers from mt5 compare account
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
Labels: Trader

#1841 mamali/add-logged-in-state
  packages/core/src/App/Containers/Layout/app-contents.jsx
Labels: Core

#1801 negar/remove_commission
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
Labels: Trader

#1827 mamali/Add poa check to enable button
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
Labels: Trader

#1808 zaki / fix_transfer_limit_verification
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Services/socket-general.js
Labels: Core

#1798 Bala/fix-crypto-min-transfer
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Core

#1806 abdalla/fix account closure error if client has MT5 fund
  packages/account/src/Sections/Security/DeactivateAccount/account-has-balance.jsx
Labels: Account

#1809 zaki / fix_closed_markets_mobile
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Labels: Trader

#1770 aaron/Remove auto-update on IgnorePWAUpdate
  packages/core/src/App/Containers/Layout/header.jsx
Labels: Core

#1822 aaron/P2P chat token invalid
  packages/p2p/src/components/app.jsx
  packages/p2p/stores/general-store.js
Labels: P2P

#1792 mamali/[deriv-crypto]Update urls and test
  packages/account/src/Components/Routes/route-with-sub-routes.jsx
  packages/account/src/Duplicated/_common/base/login.js
  packages/account/src/Sections/Security/AccountDeactivated/account-deactivated.jsx
  packages/account/src/Sections/Security/AccountLimits/account-limits.jsx
  packages/account/src/Sections/Security/SelfExclusion/article.jsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/bot-web-ui/src/components/bot-footer-extensions.jsx
  packages/bot-web-ui/src/components/load-modal/google-drive.jsx
  packages/components/src/components/static-url/index.js
  packages/components/src/components/static-url/static-url.jsx
  packages/components/src/index.js
  packages/core/src/App/Components/Elements/CookieBanner/cookie-banner.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Components/Layout/Footer/account-limits.jsx
  packages/core/src/App/Components/Layout/Footer/go-to-deriv.jsx
  packages/core/src/App/Components/Layout/Footer/help-centre.jsx
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
  packages/core/src/App/Components/Layout/Footer/responsible-trading.jsx
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Components/Layout/Header/signup-button.jsx
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/modal-login-prompt.jsx
  packages/core/src/App/Containers/RealAccountSignup/signup-error-content.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/Modules/Cashier/Components/Error/deposit-locked.jsx
  packages/core/src/Modules/Cashier/Components/Error/error.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/_common/base/login.js
  packages/p2p/scripts/__tests__/extract-string.spec.js
  packages/shared/src/test_utils/common.js
  packages/shared/src/utils/config/config.js
  packages/shared/src/utils/login/login.js
  packages/shared/src/utils/routes/routes.js
  packages/shared/src/utils/storage/index.js
  packages/shared/src/utils/storage/storage_events.js
  packages/shared/src/utils/url/__tests__/url.js
  packages/shared/src/utils/url/helpers.js
  packages/shared/src/utils/url/index.js
  packages/shared/src/utils/url/url.js
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/authorization-required-modal.jsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/services-error-modal.jsx
  packages/trader/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/trader/src/_common/base/login.js
  packages/translations/scripts/__tests__/extract-string.spec.js
  packages/translations/src/i18next/i18next.js
Labels: Account, Bot, Components, Core, P2P, Shared, Translations

#1860 aaron/Update PropType
  packages/core/src/App/Containers/Layout/header.jsx
Labels: Core

#1862 aaron/Core update proptype
  packages/core/src/App/Containers/Layout/header.jsx
Labels: Core

#1861 mamali/properly attach logged_in_state to gtm
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/Stores/gtm-store.js
Labels: Core

#1865 mamali/fix/staging-crypto default app id
  packages/shared/src/utils/config/config.js
Labels: Shared
