Repository deriv-com/deriv-app, pull requests merged in 2020-01, with the labels that each got.

#518 aliafsah-fs/add performance checker
  packages/core/src/Stores/gtm-store.js
  packages/core/src/index.html
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Services/performance-checker.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/_common/browser_detect.js
Labels: Core, Trader

#672 zaki/basic_mobile_template
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/App/app.jsx
  packages/core/src/sass/app/_common/layout/header.scss
  packages/core/src/sass/app/_common/layout/layouts.scss
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Components/Elements/ContentLoader/trade-params.jsx
  packages/trader/src/Modules/SmartChart/Components/control-widgets.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
  packages/trader/src/Modules/Trading/Components/Form/form-layout.jsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/sass/app/_common/components/contract-type-widget.scss
  packages/trader/src/sass/app/_common/layout/layouts.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Core, Mobile, Trader

#645 [mobile] mamali/trade-params purchase-buttons collapsible
  packages/components/src/components/collapsible/arrow-button.jsx
  packages/components/src/components/collapsible/collapsible.jsx
  packages/components/src/components/collapsible/collapsible.scss
  packages/components/src/components/collapsible/index.js
  packages/components/src/components/collapsible/utils.js
  packages/components/src/components/desktop-wrapper/desktop-wrapper.jsx
  packages/components/src/components/desktop-wrapper/desktop-wrapper.scss
  packages/components/src/components/desktop-wrapper/index.js
  packages/components/src/components/mobile-wrapper/index.js
  packages/components/src/components/mobile-wrapper/mobile-wrapper.jsx
  packages/components/src/components/mobile-wrapper/mobile-wrapper.scss
  packages/components/stories/collapsible/README.md
  packages/components/stories/collapsible/collapsible.stories.js
  packages/components/webpack.config.js
  packages/shared/src/styles/devices.scss
  packages/shared/src/utils/screen/index.js
  packages/shared/src/utils/screen/responsive.js
  packages/shared/webpack.config.js
  packages/trader/src/App/Components/Elements/ContentLoader/trade-params.jsx
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/form-layout.jsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
  packages/trader/src/Modules/Trading/Containers/allow-equals.jsx
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/_common/base/index.scss
  packages/trader/src/sass/app/_common/components/contract-type-widget.scss
  packages/trader/src/sass/app/_common/components/purchase-button.scss
  packages/trader/src/sass/app/_common/mobile-widget.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Components, Core, Mobile, Trader

#605 aaron/Misc bug fixes + Undo/redo improvement
  packages/bot/package-lock.json
  packages/bot/src/assets/sass/scratch/toolbar.scss
  packages/bot/src/components/toolbar.jsx
  packages/bot/src/constants/index.js
  packages/bot/src/constants/messages.js
  packages/bot/src/scratch/blocks/Advanced/List/lists_create_with.js
  packages/bot/src/scratch/blocks/Advanced/List/lists_statement.js
  packages/bot/src/scratch/blocks/Binary/After Purchase/after_purchase.js
  packages/bot/src/scratch/blocks/Binary/Before Purchase/before_purchase.js
  packages/bot/src/scratch/blocks/Binary/During Purchase/during_purchase.js
  packages/bot/src/scratch/blocks/Binary/Indicators/Parts/input_list.js
  packages/bot/src/scratch/blocks/Binary/Tick Analysis/tick_analysis.js
  packages/bot/src/scratch/blocks/Binary/Tools/Misc./block_holder.js
  packages/bot/src/scratch/blocks/Binary/Tools/Misc./loader.js
  packages/bot/src/scratch/blocks/Binary/Tools/Misc./useless_block.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition_market.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot/src/scratch/blocks/Logic/controls_if.js
  packages/bot/src/scratch/blocks/Text/text_join.js
  packages/bot/src/scratch/blocks/Text/text_statement.js
  packages/bot/src/scratch/hooks/block_svg.js
  packages/bot/src/scratch/hooks/bubble.js
  packages/bot/src/scratch/hooks/contextmenu.js
  packages/bot/src/scratch/hooks/field.js
  packages/bot/src/scratch/hooks/field_dropdown.js
  packages/bot/src/scratch/hooks/flyout_base.js
  packages/bot/src/scratch/hooks/index.js
  packages/bot/src/scratch/hooks/variables.js
  packages/bot/src/scratch/hooks/workspace.js
  packages/bot/src/scratch/hooks/workspace_svg.js
  packages/bot/src/scratch/index.js
  packages/bot/src/scratch/utils/index.js
  packages/bot/src/scratch/utils/workspace.js
  packages/bot/src/services/api/api-helpers.js
  packages/bot/src/services/tradeEngine/trade/Balance.js
  packages/bot/src/stores/flyout-store.js
  packages/bot/src/stores/toolbar-store.js
  packages/components/package-lock.json
Labels: Bot

#679 Sam/Animation redesign
  packages/bot/src/assets/sass/trade-animation.scss
  packages/bot/src/constants/contract-stage.js
Labels: Bot

#620 Sam/fix quick strategy extra height & popover
  packages/bot/src/assets/sass/quick-strategy.scss
  packages/bot/src/components/quick-strategy.jsx
Labels: Bot

#677 Sam/Change dropdown to label for currency type
  packages/bot/src/assets/sass/scratch/flyout.scss
  packages/bot/src/constants/index.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot/src/stores/scratch-store.js
Labels: Bot

#691 zaki/update_contract_type_mobile
  packages/components/src/components/mobile-dialog/index.js
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/components/src/components/mobile-dialog/mobile-dialog.scss
  packages/components/src/components/mobile-drawer/mobile-drawer.scss
  packages/components/webpack.config.js
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/Utils/PlatformSwitcher/platform-switcher.js
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/core/src/sass/app/_common/components/platform-dropdown.scss
  packages/core/src/sass/app/_common/components/platform-switcher.scss
  packages/core/src/sass/app/_common/mobile-dialog.scss
  packages/trader/src/Modules/Trading/Components/Elements/mobile-dialog.jsx
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-dialog.spec.js
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-dialog.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-item.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-list.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeTypeInfo/trade-type-info-dialog.jsx
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/_common/components/contract-type-widget.scss
  packages/trader/src/sass/app/_common/mobile-dialog.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Components, Core, Mobile, Trader

#698 mamali/Add Numpad Component
  packages/components/src/components/numpad/index.js
  packages/components/src/components/numpad/number-button.jsx
  packages/components/src/components/numpad/number-grid.jsx
  packages/components/src/components/numpad/numpad.jsx
  packages/components/src/components/numpad/numpad.scss
  packages/components/src/components/numpad/step-input.jsx
  packages/components/stories/numpad/numpad.stories.js
Labels: Components, Mobile

#699 aaron/Disable bot tests
  packages/bot/package.json
Labels: Bot

#695 zaki/update_mobile_account_switcher
  packages/components/src/components/modal/modal.scss
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Components/Layout/Header/account-info.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-mobile.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/sass/app/_common/components/account-switcher.scss
Labels: Components, Core, Mobile

#701 mamali / Add Collapsible in Trader
  packages/components/src/components/collapsible/collapsible.jsx
  packages/trader/src/sass/app/modules/trading.scss
Labels: Mobile, Trader

#668 Sam/ Fix run panel overlay switcher & Popover zIndex
  packages/bot/src/components/quick-strategy.jsx
  packages/bot/src/components/run-panel.jsx
  packages/bot/src/components/toolbar.jsx
  packages/bot/src/constants/index.js
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/popover/popover.jsx
Labels: Bot, Components

#703 Merge dev into mobile
  packages/bot/package-lock.json
  packages/bot/package.json
  packages/bot/src/assets/sass/quick-strategy.scss
  packages/bot/src/assets/sass/scratch/flyout.scss
  packages/bot/src/assets/sass/scratch/toolbar.scss
  packages/bot/src/assets/sass/trade-animation.scss
  packages/bot/src/components/quick-strategy.jsx
  packages/bot/src/components/run-panel.jsx
  packages/bot/src/components/toolbar.jsx
  packages/bot/src/constants/contract-stage.js
  packages/bot/src/constants/index.js
  packages/bot/src/constants/messages.js
  packages/bot/src/scratch/blocks/Advanced/List/lists_create_with.js
  packages/bot/src/scratch/blocks/Advanced/List/lists_statement.js
  packages/bot/src/scratch/blocks/Binary/After Purchase/after_purchase.js
  packages/bot/src/scratch/blocks/Binary/Before Purchase/before_purchase.js
  packages/bot/src/scratch/blocks/Binary/During Purchase/during_purchase.js
  packages/bot/src/scratch/blocks/Binary/Indicators/Parts/input_list.js
  packages/bot/src/scratch/blocks/Binary/Tick Analysis/tick_analysis.js
  packages/bot/src/scratch/blocks/Binary/Tools/Misc./block_holder.js
  packages/bot/src/scratch/blocks/Binary/Tools/Misc./loader.js
  packages/bot/src/scratch/blocks/Binary/Tools/Misc./useless_block.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition_market.js
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot/src/scratch/blocks/Logic/controls_if.js
  packages/bot/src/scratch/blocks/Text/text_join.js
  packages/bot/src/scratch/blocks/Text/text_statement.js
  packages/bot/src/scratch/hooks/block_svg.js
  packages/bot/src/scratch/hooks/bubble.js
  packages/bot/src/scratch/hooks/contextmenu.js
  packages/bot/src/scratch/hooks/field.js
  packages/bot/src/scratch/hooks/field_dropdown.js
  packages/bot/src/scratch/hooks/flyout_base.js
  packages/bot/src/scratch/hooks/index.js
  packages/bot/src/scratch/hooks/variables.js
  packages/bot/src/scratch/hooks/workspace.js
  packages/bot/src/scratch/hooks/workspace_svg.js
  packages/bot/src/scratch/index.js
  packages/bot/src/scratch/utils/index.js
  packages/bot/src/scratch/utils/workspace.js
  packages/bot/src/services/api/api-helpers.js
  packages/bot/src/services/tradeEngine/trade/Balance.js
  packages/bot/src/stores/flyout-store.js
  packages/bot/src/stores/scratch-store.js
  packages/bot/src/stores/toolbar-store.js
  packages/components/package-lock.json
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/popover/popover.jsx
  packages/core/src/_common/base/login.js
  packages/trader/src/_common/base/login.js
Labels: Mobile

#659 Sam/Highlight block when duration input out of range
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot/src/scratch/hooks/block_svg.js
  packages/bot/src/scratch/index.js
Labels: Bot

#705 Merge dev into mobile
  packages/bot/.eslintrc.js
  packages/bot/package.json
  packages/bot/src/components/quick-strategy.jsx
  packages/bot/src/components/toolbar.jsx
  packages/bot/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot/src/scratch/hooks/block_svg.js
  packages/bot/src/scratch/index.js
Labels: Mobile

#688 aaron/Bump Blockly version
  packages/bot/.babelrc
  packages/bot/.eslintrc.js
  packages/bot/package-lock.json
  packages/bot/package.json
Labels: Bot

#709 Include tablet in desktop sizes as well
  packages/shared/src/utils/screen/responsive.js
Labels: Mobile

#708 negar/order_list_subscription
  packages/core/src/_common/base/socket_base.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/utils/websocket.js
Labels: Core, P2P

#693 Arash/Tickpicker
  packages/components/src/components/button/button.jsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/tick-picker/index.js
  packages/components/src/components/tick-picker/tick-picker.jsx
  packages/components/src/components/tick-picker/tick-picker.scss
  packages/components/stories/tick-picker/tick-picker.stories.js
Labels: Components, Mobile

#711 msamprz/publish_p2p_v0.2.0
  packages/core/package.json
  packages/p2p/package.json
Labels: P2P

#706 zaki/update_smartcharts_for_mobile
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/components/src/components/button/button.jsx
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/components/src/components/progress-bar/progress-bar.jsx
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/sass/app/_common/layout/header.scss
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions.jsx
  packages/trader/src/App/Containers/trade-header-extensions.jsx
  packages/trader/src/Modules/SmartChart/Components/top-widgets.jsx
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-dialog.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeTypeInfo/trade-type-info-dialog.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/sass/app/_common/components/positions-toggle.scss
  packages/trader/src/sass/app/_common/components/purchase-button.scss
  packages/trader/src/sass/app/_common/layout/layouts.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Bot, Components, Core, Mobile, Trader

#717 zaki/add_mobile_trade_params_modal
  packages/components/src/components/numpad/numpad.scss
  packages/components/src/components/tick-picker/index.js
  packages/components/webpack.config.js
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Components, Mobile, Trader

#714 negar/p2p_update_ads
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/dropdown.scss
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/buy-sell/row.jsx
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-table/order-table-buy-row.jsx
  packages/p2p/src/components/orders/order-table/order-table-sell-row.jsx
  packages/p2p/src/components/table/infinite-loader-list.jsx
  packages/p2p/src/utils/websocket.js
Labels: P2P, Shared

#713 msamprz/update_cookie_policy
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Labels: Trader

#725 zaki/move_div100vh_to_components
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/div100vh-container/div100vh-container.jsx
  packages/components/src/components/div100vh-container/div100vh-container.scss
  packages/components/src/components/div100vh-container/index.js
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/components/webpack.config.js
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Components, Core, Trader

#721 Update modal for mobile
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/modal/modal.scss
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/insufficient-balance-modal.jsx
Labels: Mobile

#723 msamprz/minor_bug_fixes
  packages/components/src/components/dropdown/dropdown.jsx
Labels: Components

#727 zaki/move_recent_positions_to_modal
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/modal/modal.scss
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-mobile.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.jsx
  packages/trader/src/App/Containers/trade-header-extensions.jsx
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
  packages/trader/src/sass/app/_common/components/positions-toggle.scss
  packages/trader/src/sass/app/_common/layout/layouts.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Components, Core, Mobile, Trader

#732 aaron/Journal time notation
  packages/bot-web-ui/src/stores/journal-store.js
Labels: Bot

#736 aaron/Undo Fix
  packages/bot-skeleton/src/scratch/index.js
  packages/bot-web-ui/src/app.jsx
  packages/bot-web-ui/src/assets/sass/notification-messages.scss
  packages/bot-web-ui/src/components/notification-messages.jsx
Labels: Bot

#729 negar/update_buy_sell_popup
  packages/core/src/App/Constants/routes-config.js
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/buy-sell/row.jsx
  packages/p2p/src/components/orders/order-details/order-details-result-message.jsx
  packages/p2p/src/components/orders/order-info.js
  packages/p2p/src/components/orders/popup.jsx
Labels: Core, P2P

#647 aaron/Optimisations
  packages/bot-skeleton/package-lock.json
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/scratch/backward-compatibility.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/block.js
  packages/bot-skeleton/src/scratch/hooks/toolbox.js
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
  packages/bot-skeleton/webpack.config.js
  packages/bot-web-ui/.eslintrc.js
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/assets/sass/contract-card.scss
  packages/bot-web-ui/src/stores/flyout-store.js
  packages/bot-web-ui/src/stores/quick-strategy-store.js
  packages/bot-web-ui/src/xml/dalembert.xml
  packages/bot-web-ui/src/xml/martingale.xml
  packages/bot-web-ui/src/xml/oscars_grind.xml
  packages/bot-web-ui/webpack.config.js
  packages/core/build/config.js
Labels: Bot, Components, Core

#666 Sam/ Filter journal messages
  packages/bot-skeleton/src/services/tradeEngine/Interface/MiscInterface.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Purchase.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Sell.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Total.js
  packages/bot-skeleton/src/services/tradeEngine/utils/broadcast.js
  packages/bot-skeleton/src/services/tradeEngine/utils/cli.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-web-ui/src/assets/sass/journal.scss
  packages/bot-web-ui/src/components/journal.jsx
  packages/bot-web-ui/src/stores/journal-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/saveload-modal-store.js
  packages/bot-web-ui/src/utils/settings.js
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/icon/common/ic-download.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Bot

#746 msamprz/publish_p2p
  packages/core/package.json
  packages/p2p/package.json
Labels: P2P
