Repository deriv-com/deriv-app, pull requests merged in 2020-10, with the labels that each got.

#1868 mamali/fix-platform-detection
  packages/shared/src/utils/config/config.js
  packages/shared/src/utils/url/helpers.js
Labels: Shared

#1864 carol/p2p notification hotfix
  packages/p2p/stores/general-store.js
Labels: P2P

#1869 amam/fix_hotfix_conflict_static_url
  packages/account/src/Sections/Security/SelfExclusion/article-content.jsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#1703 Sara / Changed the style of adjustment record
  packages/components/src/components/icon/common/ic-adjustment.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/label/label.jsx
  packages/components/src/components/label/label.scss
  packages/components/stories/icon/icons.js
  packages/shared/src/styles/themes.scss
  packages/trader/src/Modules/Reports/Components/market-symbol-icon-row.jsx
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/statement.jsx
Labels: Components, Shared, Trader

#1796 Mahdi Aryayi / Add welcome popup
  packages/components/src/components/icon/common/ic-arrow-left-curly.svg
  packages/components/src/components/icon/common/ic-arrow-right-curly.svg
  packages/components/src/components/icon/common/ic-cross-solid.svg
  packages/components/src/components/icon/common/ic-percent-solid.svg
  packages/components/src/components/icon/common/ic-up-down-solid.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/WelcomeModal/index.js
  packages/core/src/App/Containers/WelcomeModal/welcome-modal.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/public/images/common/welcome-bg-blue.svg
  packages/core/src/public/images/common/welcome-bg-red.svg
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/modules/welcome.scss
Labels: Components, Core

#1852 Akmal / Fixed multiplier contract showing 0 instead of -
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
Labels: Trader

#1845 Mahdi Aryayi / Fixed self exclusion bug
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
Labels: Account

#1830 abdalla/fix Back to P2P button does not appear correctly
  packages/shared/src/utils/platform/platform.js
Labels: Shared

#1816 abdalla/read/write 'date_first_content' and 'signup_device' from/to cookies
  packages/core/src/Stores/Helpers/device.js
  packages/core/src/Stores/client-store.js
Labels: Account, Core, Trader

#1810 Mahdi Aryayi / Remove DP2P for EU users
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/Stores/client-store.js
Labels: Core

#1832 Mahdi Aryayi / Fixed trivial bugs in text
  packages/account/src/Sections/Security/AccountLimits/account-limits.jsx
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
Labels: Account

#1807 Shayan/add more space for the ip column
  packages/account/src/Sections/Security/LoginHistory/login-history.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#1825 abdalla/add '-' to endpoint
  packages/core/src/Modules/Endpoint/Endpoint.jsx
Labels: Core

#1820 abdalla/fix Safari – Multiplier & deal cancellation menu is not justify
  packages/components/src/components/dropdown/list.scss
Labels: Components

#1804 Matin/Fix missing article component in API token page
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/account/src/Sections/Security/ApiToken/article.jsx
Labels: Account

#1765 Bala/remove reports title
  packages/trader/src/App/Containers/trade-footer-extensions.jsx
  packages/trader/src/Modules/Reports/Components/reports-meta.jsx
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader

#1777 Mahdi Aryayi / Fixed get limits error
  packages/core/src/Stores/client-store.js
Labels: Core

#1813 Bala/handle-mt5-suspended-error
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
Labels: Core

#1724 Mehrzad / collapse block
  packages/bot-skeleton/src/scratch/hooks/variables.js
Labels: Bot

#1787 abdalla/fix console error
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Labels: Core

#1785 aaron/Guarantee undo/redo chain is correct
  packages/bot-skeleton/src/scratch/blocks/Logic/controls_if.js
Labels: Bot

#1799 abdalla/hide default eye icon in Edge browser
  packages/components/src/components/input/input.scss
Labels: Components

#1778 shayan/Contract details overlapped in mobile
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Labels: Core, Trader

#1772 abdalla/modify phone number error message
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details-form.js
  packages/shared/src/utils/validation/declarative-validation-rules.js
Labels: Account, Core, Shared

#1803 mamali/Check contract id against integer regex
  packages/components/src/components/page-error/page-error.jsx
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/Modules/Contract/Containers/contract.jsx
Labels: Components, Trader

#1779 mamali/remove unused state from query string
  packages/core/src/Stores/client-store.js
Labels: Core

#1784 Bala/fix-account-creation-old-currency-visibility
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
Labels: Core

#1712 salar / Fix: refactor account swithing procedure
  packages/core/src/Stores/base-store.js
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/Stores/base-store.js
Labels: Core, Trader

#1760 carol/P2P My profile tab
  packages/components/src/components/icon/cashier/ic-cashier-verification-badge.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/input/input.jsx
  packages/components/src/components/tabs/tabs.jsx
  packages/components/stories/icon/icons.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell-table-content.jsx
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/my-profile/my-profile.scss
  packages/p2p/stores/general-store.js
Labels: Components, P2P

#1701 Mehrzad / stop bot on reset
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
  packages/bot-web-ui/src/assets/sass/toolbar.scss
  packages/bot-web-ui/src/components/toolbar.jsx
  packages/bot-web-ui/src/stores/toolbar-store.js
Labels: Bot

#1829 Shayan/Forcing chart to render light them for contract type when it comes from the DBot
  packages/account/src/Styles/account.scss
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
Labels: Account, Trader

#1866 Bala/update deriv-api version
  packages/core/package-lock.json
  packages/core/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
Labels: Core, Trader

#1821 Bala/remove-redundant-notifications
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/sass/app/_common/components/app-notification-message.scss
  packages/core/src/sass/app/modules/notifications-dialog.scss
Labels: Core

#1811 Bala/fix-statement-totals-alignment
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/Stores/Modules/Statement/statement-store.js
  packages/trader/src/sass/app/_common/components/composite-calendar.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader

#1837 amam/popup_eu_update
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/translations/scripts/__tests__/extract-string.spec.js
Labels: Core, Translations

#1738 Carol+Nijil/DBot - Refactor info popovers to modals
  packages/bot-web-ui/src/assets/sass/app.scss
  packages/bot-web-ui/src/assets/sass/run-panel.scss
  packages/bot-web-ui/src/assets/sass/trade-animation.scss
  packages/bot-web-ui/src/components/run-panel.jsx
  packages/bot-web-ui/src/components/trade-animation.jsx
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/toolbar-store.js
Labels: Bot

#1875 carol/P2P changes
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/row.jsx
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-profile/my-profile.jsx
Labels: P2P

#1812 Matin/Fix missing articles in Account limits and 2FA tabs under security and safety
  packages/account/src/Sections/Security/AccountLimits/account-limits.jsx
  packages/account/src/Sections/Security/AccountLimits/article.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/article.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#1877 Fix macda indicator arg issue in DBot
  packages/bot-skeleton/src/scratch/blocks/Binary/Indicators/macda_statement.js
Labels: Bot

#1882 aaron/Remove outdated function call
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
Labels: Core

#1881 zaki / fix_constant_welcome_modal
  packages/core/src/App/Containers/WelcomeModal/welcome-modal.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
Labels: Core

#1880 oskar/mt5_account_number
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Trader, Translations

#1883 Bala/fix-localize-for-routes-title
  packages/account/src/Components/Routes/route-with-sub-routes.jsx
  packages/account/src/Constants/routes-config.js
  packages/account/src/Containers/account.jsx
  packages/account/src/Duplicated/App/Components/Elements/login-prompt.jsx
  packages/components/src/components/vertical-tab/vertical-tab-header.jsx
  packages/core/src/App/Components/Elements/login-prompt.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/sass/app/_common/layout/header.scss
  packages/trader/src/App/Components/Elements/login-prompt.jsx
  packages/trader/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/Modules/Reports/Containers/reports.jsx
Labels: Account, Components, Core, Trader

#1885 zaki / no_welcome_modal_if_no_mt5
  packages/components/src/components/vertical-tab/vertical-tab.jsx
  packages/core/src/Stores/client-store.js
Labels: Components, Core

#1886 amam/fix_mt5_button
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_tw.json
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/translations/README.md
  packages/translations/src/translations/es.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_tw.json
Labels: Docs, P2P, Trader, Translations

#1896 amam/fix_routes_title
  packages/account/src/Components/Routes/route-with-sub-routes.jsx
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/trader/src/App/Components/Routes/route-with-sub-routes.jsx
Labels: Account, Core, Trader

#1899 zaki / remove_domain_checks
  packages/core/src/App/Containers/Layout/app-contents.jsx
Labels: Core

#1887 carol/Order type
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/orders/orders.jsx
Labels: P2P

#1904 zaki / fix_missing_demo_badge
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
Labels: Core

#1884 abdalla/fix Back p2p button
  packages/shared/src/utils/platform/platform.js
Labels: Shared

#1903 carol/Average release time
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
Labels: P2P

#1814 aaron/DBot various bug fixes
  packages/bot-skeleton/package-lock.json
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/scratch/backward-compatibility.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
  packages/bot-skeleton/src/scratch/hooks/bubble.js
  packages/bot-skeleton/src/scratch/hooks/contextmenu.js
  packages/bot-skeleton/src/scratch/hooks/index.js
  packages/bot-skeleton/src/scratch/hooks/scratch_block_comment.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/StopStart.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/tools.js
  packages/bot-skeleton/src/services/tradeEngine/utils/cliTools.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-skeleton/src/utils/google-drive-helper.js
  packages/bot-skeleton/src/utils/lang/i18n.js
  packages/bot-skeleton/src/utils/lang/lang.js
  packages/bot-skeleton/src/utils/local-storage.js
  packages/bot-web-ui/src/app.jsx
  packages/bot-web-ui/src/components/load-modal.jsx
  packages/bot-web-ui/src/components/load-modal/recent-workspace.jsx
  packages/bot-web-ui/src/components/load-modal/recent.jsx
  packages/bot-web-ui/src/stores/load-modal-store.js
Labels: Bot

#1878 mamali/fix-next-button-disabled
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/core/src/App/Containers/RealAccountSignup/financial-details-form.js
Labels: Account, Core

#1901 zaki / fix_mf_poa
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
Labels: Account

#1872 negar/enable_eu
  packages/core/src/App/Components/Elements/Modals/DenialOfServiceModal/denial-of-service.jsx
  packages/core/src/App/Components/Elements/Modals/DenialOfServiceModal/index.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
Labels: Core, Trader

#1858 Matin/New Wizard component
  packages/components/src/components/wizard/index.js
  packages/components/src/components/wizard/wizard-header.jsx
  packages/components/src/components/wizard/wizard.jsx
  packages/components/src/components/wizard/wizard.scss
  packages/components/src/index.js
  packages/components/stories/wizard/wizard.stories.js
Labels: Components

#1898 Matin/Add: New Card component and storybook
  packages/components/src/components/card/card.jsx
  packages/components/src/components/card/card.scss
  packages/components/src/components/card/index.js
  packages/components/src/index.js
  packages/components/stories/card/card.stories.js
  packages/components/stories/card/card.stories.scss
Labels: Components

#1863 oskar/signup_manage_account_from_smarttrader
  packages/bot-skeleton/src/scratch/backward-compatibility.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Indicators/macda_statement.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
  packages/bot-skeleton/src/scratch/hooks/contextmenu.js
  packages/bot-skeleton/src/scratch/hooks/scratch_block_comment.js
  packages/bot-skeleton/src/scratch/hooks/toolbox.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/StopStart.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/tools.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-skeleton/src/utils/google-drive-helper.js
  packages/bot-skeleton/src/utils/local-storage.js
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Labels: Bot, Core

#1786 Nijil/Create new @deriv/indicators package
  .circleci/config.yml
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/services/tradeEngine/Interface/IndicatorsInterface.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/indicators.js
  packages/indicators/.eslintignore
  packages/indicators/.eslintrc.js
  packages/indicators/.lintstagedrc.yml
  packages/indicators/.prettierrc
  packages/indicators/README.md
  packages/indicators/babel.config.json
  packages/indicators/jest.config.js
  packages/indicators/package-lock.json
  packages/indicators/package.json
  packages/indicators/src/__tests__/bollinger-bands.spec.js
  packages/indicators/src/__tests__/exponential-moving-average.spec.js
  packages/indicators/src/__tests__/macd.spec.js
  packages/indicators/src/__tests__/math.spec.js
  packages/indicators/src/__tests__/relative-strength-index.spec.js
  packages/indicators/src/__tests__/simple-moving-average.spec.js
  packages/indicators/src/index.js
  packages/indicators/src/indicators/bollinger-bands.js
  packages/indicators/src/indicators/exponential-moving-average.js
  packages/indicators/src/indicators/macd.js
  packages/indicators/src/indicators/relative-strength-index.js
  packages/indicators/src/indicators/simple-moving-average.js
  packages/indicators/src/test_utils/macd-data.js
  packages/indicators/src/utils/math.js
  packages/shared/src/index.js
  packages/shared/src/utils/indicators/index.js
  packages/shared/src/utils/indicators/math.js
Labels: Bot, Docs, Shared

#1805 aaron/DBot stopping for no reason
  packages/bot-skeleton/src/scratch/backward-compatibility.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Indicators/macda_statement.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
  packages/bot-skeleton/src/scratch/hooks/contextmenu.js
  packages/bot-skeleton/src/scratch/hooks/scratch_block_comment.js
  packages/bot-skeleton/src/scratch/hooks/toolbox.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-skeleton/src/services/tradeEngine/Interface/index.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/StopStart.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/tools.js
  packages/bot-skeleton/src/services/tradeEngine/trade/OpenContract.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Proposal.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Sell.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/broadcast.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-skeleton/src/utils/google-drive-helper.js
  packages/bot-skeleton/src/utils/local-storage.js
  packages/bot-skeleton/src/utils/observer.js
  packages/shared/src/utils/object/object.js
Labels: Bot, Shared

#1916 amam/update latest translation
  packages/p2p/README.md
  packages/p2p/crowdin.yml
  packages/p2p/src/translations/fr.json
  packages/translations/README.md
  packages/translations/crowdin.yml
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
Labels: Docs, P2P, Translations

#1924 Revert "negar/enable_eu"
  packages/core/src/App/Components/Elements/Modals/DenialOfServiceModal/denial-of-service.jsx
  packages/core/src/App/Components/Elements/Modals/DenialOfServiceModal/index.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
Labels: Core, Trader

#1922 zaki / fix_mx_poa
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
Labels: Account

#1923 oskar/currency_page_alignment
  packages/core/src/sass/currency-select-radio.scss
Labels: Core

#1928 aaron/Fix immediate bot stop
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
Labels: Bot

#1930 zaki / mt5_card_currency_fix
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
Labels: Trader

#1921 amam/fix_regulatory_link
  packages/bot-web-ui/src/components/bot-footer-extensions.jsx
  packages/bot-web-ui/src/components/load-modal/google-drive.jsx
  packages/components/src/components/static-url/static-url.jsx
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
  packages/shared/src/utils/url/__tests__/url.js
  packages/shared/src/utils/url/url.js
Labels: Bot, Components, Core, Shared

#1944 zaki / fix_missing_currency_in_account_transfer
  packages/components/src/components/input/input.scss
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/account-transfer-receipt.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-receipt.jsx
  packages/core/src/sass/app/modules/cashier.scss
  packages/trader/src/Stores/Modules/Portfolio/Helpers/portfolio-notifications.js
Labels: Components, Core, Trader

#1937 aaron/DBot missing currency in stats, transactions, and journal
  packages/bot-skeleton/src/services/tradeEngine/trade/Total.js
  packages/bot-web-ui/src/components/journal.jsx
  packages/bot-web-ui/src/components/run-panel.jsx
  packages/bot-web-ui/src/components/transaction.jsx
Labels: Bot

#1949 zaki / fix_position_drawer_bugs
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
  packages/trader/src/sass/app/_common/drawer/positions-drawer.scss
Labels: Trader

#1957 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1716 mamali/ use immutable fields for set settings
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/object/object.js
Labels: Account, Bot, Core, Shared

#1961 zaki / fix_cryptocashier_mobile
  packages/core/src/Modules/Cashier/Containers/deposit.jsx
Labels: Core

#1960 zaki / fix_cryptocashier_mobile
  packages/core/src/Modules/Cashier/Containers/deposit.jsx
  packages/core/src/Modules/Cashier/Containers/withdrawal.jsx
Labels: Core

#1938 aaron/Fix synchronisation between Deriv.app + DSmartTrader
  packages/core/src/Modules/SmartTraderIFrame/SmartTraderIFrame.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/root_files/localstorage-sync.html
  packages/shared/src/utils/url/__tests__/url.js
  packages/shared/src/utils/url/constants.js
  packages/shared/src/utils/url/helpers.js
  packages/shared/src/utils/url/index.js
  packages/shared/src/utils/url/url.js
Labels: Core, Shared

#1952 oskar/remove_currency_base
  packages/core/src/_common/base/__tests__/currency_base.js
  packages/core/src/_common/base/currency_base.js
  packages/trader/src/_common/base/__tests__/currency_base.js
Labels: Core, Trader

#1902 Sara / Added text component
  packages/components/src/components/text/index.js
  packages/components/src/components/text/text.jsx
  packages/components/src/components/text/text.scss
  packages/components/src/index.js
  packages/components/stories/text/text.stories.js
  packages/shared/src/styles/themes.scss
Labels: Components, Core, Shared

#1963 oskar/missing_currency_input_cashier
  packages/core/src/Modules/Cashier/Components/Form/payment-agent-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Form/payment-agent-withdraw-form.jsx
Labels: Core

#1917 Bala/fix-history-tab-style
  packages/trader/src/sass/app/_common/components/contract-audit.scss
  packages/trader/src/sass/app/_common/components/positions-toggle.scss
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Labels: Trader

#1859 Shayan/Implement new design of trade types
  packages/components/src/components/icon/common/ic-cat-all.svg
  packages/components/src/components/icon/common/ic-cat-multiplier.svg
  packages/components/src/components/icon/common/ic-cat-options.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/contract-type-menu.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-dialog.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
  packages/trader/src/Modules/Trading/Helpers/contract-type.js
  packages/trader/src/Stores/Modules/Trading/Constants/contract.js
  packages/trader/src/sass/app/_common/components/contract-type-dialog.scss
  packages/trader/src/sass/app/_common/components/contract-type-list.scss
Labels: Components, Trader

#1953 Matin/Fix: misaligned Hr element in terms of use component and msgs.
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use-messages.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/sass/terms-of-use.scss
Labels: Core

#1795 Matin/Fix Eslint warnings to improve performance and eliminate warnings in @Deriv/core
  packages/core/src/App/Components/Elements/Modals/RedirectNotice/redirect-notice-modal.jsx
  packages/core/src/App/Components/Routes/binary-routes.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealityCheckModal/summary-modal.jsx
  packages/core/src/App/Containers/new-version-notification.jsx
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Containers/deposit.jsx
  packages/core/src/Modules/Cashier/Containers/on-ramp.jsx
  packages/core/src/Modules/Cashier/Containers/p2p-cashier.jsx
Labels: Core

#1958 zaki / fix welcome screen
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
Labels: Core

#1775 Matin/Fix Eslint warnings to improve performance and eliminate warnings
  packages/trader/src/App/Components/Form/InputField/input-with-checkbox.jsx
  packages/trader/src/App/Components/Form/InputField/input.jsx
  packages/trader/src/App/Containers/trade-footer-extensions.jsx
  packages/trader/src/Modules/Contract/Components/Digits/digits.jsx
  packages/trader/src/Modules/Contract/Components/LastDigitPrediction/digit-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-amount-modal.jsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-options-modal.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader

#1910 ali / fix modal close issue
  packages/components/src/components/modal/modal.jsx
Labels: Components

#1915 Akmal / Fixed field validation binding
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
Labels: Account

#1942 salar / Lazy load zxcvbn
  packages/components/src/components/password-meter/password-meter.jsx
  packages/components/webpack.config.js
Labels: Components

#1834 carol/p2p bug fix
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-profile/my-profile.scss
  packages/p2p/src/utils/validations.js
Labels: P2P

#1939 Shayan/remove the force of showing virtual icons
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#1867 negar/mt5_redesign_tab
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Trader

#1688 Bala/ Add sell button in open positions
  packages/bot-web-ui/src/constants/contract.js
  packages/components/src/components/contract-card/contract-card-items/contract-card-footer.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-sell.jsx
  packages/components/src/components/contract-card/contract-card.jsx
  packages/components/src/components/contract-card/contract-card.scss
  packages/components/src/components/data-list/data-list.scss
  packages/shared/src/utils/contract/contract.js
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.jsx
  packages/trader/src/Constants/contract.js
  packages/trader/src/Modules/Reports/Components/indicative-cell.jsx
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/sass/app/_common/components/contract-audit.scss
  packages/trader/src/sass/app/_common/drawer/contract-drawer.scss
  packages/trader/src/sass/app/modules/portfolio.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Bot, Components, Shared, Trader

#1914 Bala/Reactive contract update form
  packages/components/src/components/contract-card/contract-card-items/contract-card-footer.jsx
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.jsx
  packages/trader/src/Stores/Modules/Contract/Helpers/multiplier.js
Labels: Components, Trader

#1848 Bala/remove-duplicate-poi-notification
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Core

#1815 bahar/previously_recorded_data_be_intact_when_switching_platforms
  packages/bot-web-ui/src/stores/journal-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/transactions-store.js
Labels: Bot

#1912 Matin/Improvement: Accept null self-exclusion values for CR clients only
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
Labels: Account

#1926 sean / fix: Updated all flag svgs
  packages/components/src/components/icon/flag/ic-flag-de.svg
  packages/components/src/components/icon/flag/ic-flag-es.svg
  packages/components/src/components/icon/flag/ic-flag-fr.svg
  packages/components/src/components/icon/flag/ic-flag-id.svg
  packages/components/src/components/icon/flag/ic-flag-it.svg
  packages/components/src/components/icon/flag/ic-flag-pl.svg
  packages/components/src/components/icon/flag/ic-flag-pt.svg
  packages/components/src/components/icon/flag/ic-flag-ru.svg
  packages/components/src/components/icon/flag/ic-flag-th.svg
  packages/components/src/components/icon/flag/ic-flag-uk.svg
  packages/components/src/components/icon/flag/ic-flag-vi.svg
  packages/components/src/components/icon/flag/ic-flag-zh-cn.svg
  packages/components/src/components/icon/flag/ic-flag-zh-tw.svg
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/sass/app/_common/layout/header.scss
Labels: Components, Core

#1888 Nijil/Handle NaN notification in DBot journal
  packages/bot-web-ui/src/utils/journal-notifications.js
Labels: Bot

#1908 carol/P2P highlight advertiser name on hover
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/buy-sell/row.jsx
Labels: P2P

#1951 Bala/fix-purchase-buttons-winking
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.jsx
Labels: Trader

#1894 Akmal / Updated card detail labels according to the design
  packages/trader/src/Constants/contract.js
Labels: Trader

#1905 Nijil/DBot - Add contract-card footer
  packages/bot-skeleton/src/services/tradeEngine/trade/Sell.js
  packages/bot-web-ui/src/components/summary-card.jsx
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#1931 aaron/Emit error on proposal errors
  packages/bot-skeleton/src/services/tradeEngine/trade/Proposal.js
Labels: Bot

#1895 bahar/missing_images_in_set_variable_information
  packages/bot-skeleton/src/assets/images/create_variable.png
  packages/bot-skeleton/src/assets/images/create_variable_popup.png
  packages/bot-skeleton/src/scratch/help-content/help-content.config.js
  packages/bot-skeleton/src/scratch/help-content/help-strings/variables_set.js
Labels: Bot

#1876 mamali/move login module to shared package
  packages/account/src/Components/Routes/route-with-sub-routes.jsx
  packages/account/src/Duplicated/_common/base/login.js
  packages/core/src/App/Components/Layout/Header/login-button.jsx
  packages/core/src/App/Components/Layout/Header/signup-button.jsx
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/core/src/App/Containers/RealAccountSignup/modal-login-prompt.jsx
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/gtm-store.js
  packages/core/src/Stores/segment-store.js
  packages/core/src/_common/base/login.js
  packages/shared/src/utils/login/login.js
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/authorization-required-modal.jsx
  packages/trader/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/trader/src/Stores/Modules/Trading/Helpers/active-symbols.js
  packages/trader/src/_common/base/login.js
Labels: Account, Core, Shared, Trader

#1906 aaron/Ensure toolbox opens/closes at all times
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/hooks/toolbox.js
  packages/bot-web-ui/src/app.jsx
  packages/bot-web-ui/src/components/flyout.jsx
  packages/bot-web-ui/src/components/main-content.jsx
  packages/bot-web-ui/src/components/toolbar.jsx
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/flyout-store.js
  packages/bot-web-ui/src/stores/index.js
  packages/bot-web-ui/src/stores/toolbar-store.js
Labels: Bot

#1913 Sean / FA submit button not grey out
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
Labels: Account

#1968 carol/avg release 'time'
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
Labels: P2P

#1946 Mahdi Aryayi / Refactor carousel
  packages/components/src/components/carousel/carousel-card.jsx
  packages/components/src/components/carousel/carousel-nav.jsx
  packages/components/src/components/carousel/carousel.jsx
  packages/components/src/components/carousel/carousel.scss
  packages/components/src/components/carousel/index.js
  packages/components/src/hooks/index.js
  packages/components/src/hooks/use-interval.js
  packages/components/src/index.js
  packages/components/stories/carousel/carousel.stories.js
  packages/components/stories/circular-progress/circular-progress.stories.js
  packages/components/stories/tick-progress/tick-progress.stories.js
  packages/core/src/App/Containers/WelcomeModal/welcome-modal.jsx
  packages/core/src/sass/app/modules/welcome.scss
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info-card.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info-nav.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/index.js
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
Labels: Components, Core, Trader

#1893 zaki / empty5_redirect
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
Labels: Trader

#1747 bahar/quick_strategy_editable_field
  packages/bot-web-ui/src/assets/sass/quick-strategy.scss
  packages/bot-web-ui/src/components/quick-strategy.jsx
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/dropdown/native-select.jsx
  packages/components/src/components/select-native/select-native.scss
Labels: Bot, Components

#1873 aaron/P2P expired orders can confirm
  packages/core/src/Modules/Cashier/Containers/deposit.jsx
  packages/core/src/Services/socket-general.js
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/row.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/toggle-ads.jsx
  packages/p2p/src/components/orders/order-details/order-details-footer.jsx
  packages/p2p/src/components/orders/order-details/order-details-timer.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/table/infinite-loader-list.jsx
  packages/p2p/src/utils/orders.js
  packages/p2p/stores/general-store.js
Labels: Core, P2P

#1676 Mehrzad / update mobile wrapper
  packages/bot-web-ui/src/assets/sass/load-modal.scss
  packages/bot-web-ui/src/assets/sass/quick-strategy.scss
  packages/bot-web-ui/src/assets/sass/save-modal.scss
  packages/bot-web-ui/src/components/load-modal.jsx
  packages/bot-web-ui/src/components/quick-strategy.jsx
  packages/bot-web-ui/src/components/save-modal.jsx
  packages/bot-web-ui/src/components/self-exclusion.jsx
  packages/components/src/components/input/input.jsx
  packages/components/src/components/mobile-full-page-modal/index.js
  packages/components/src/components/mobile-full-page-modal/mobile-full-page-modal.jsx
  packages/components/src/components/mobile-full-page-modal/mobile-full-page-modal.scss
  packages/components/src/index.js
  packages/core/src/Stores/ui-store.js
  packages/shared/src/styles/constants.scss
Labels: Bot, Components, Core, Shared

#1732 Mehrzad / update if condition button
  packages/bot-skeleton/src/scratch/blocks/Advanced/Functions/procedures_defnoreturn.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_create_with.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_statement.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_join.js
  packages/bot-skeleton/src/scratch/hooks/field.js
  packages/bot-skeleton/src/scratch/hooks/field_image.js
Labels: Bot

#1975 Bala/fix-use-hover-effect
  packages/components/src/hooks/use-hover.js
Labels: Components

#1978 negar/add_missing_currency
  packages/core/src/Modules/Cashier/Components/Confirm/payment-agent-transfer-confirm.jsx
  packages/core/src/Modules/Cashier/Components/Confirm/payment-agent-withdraw-confirm.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/account-transfer-receipt.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-receipt.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-transfer-receipt.jsx
Labels: Core

#1977 aaron/Safari fixes
  packages/bot-web-ui/src/components/quick-strategy.jsx
Labels: Bot

#1974 oskar/mt5_redirect
  packages/core/src/Stores/client-store.js
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
Labels: Core, Trader

#1994 carol/Advertiser page hotfix
  packages/p2p/stores/general-store.js
  packages/p2p/stores/index.js
Labels: P2P

#1997 Bala/Fix open positions style
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader

#1990 Matin/Fix: Arrow overlays contract details pop-up
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.jsx
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.scss
  packages/trader/src/Constants/contract.js
Labels: Components, Trader

#1995 carol/Completed order status hotfix
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/utils/orders.js
Labels: P2P

#1985 Sara / Changes Text component font weight
  packages/components/src/components/text/text.jsx
  packages/shared/src/styles/themes.scss
Labels: Components, Shared

#2005 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1973 aaron/Check whether options are equal
  packages/bot-skeleton/src/services/api/ticks_service.js
Labels: Bot

#2003 Amir / fix: Changes on the Option page on first time Deriv login
  packages/core/src/App/Containers/WelcomeModal/welcome-modal.jsx
Labels: Core

#1982 Akmal / Fixed incorrect transfer fee returned
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Core

#1991 aaron/Naively fix legacy strategies
  packages/bot-skeleton/src/scratch/backward-compatibility.js
Labels: Bot

#1980 Matin/Fix: Reset date filters and clear Profit table onUnmount
  packages/trader/src/Stores/Modules/Profit/profit-store.js
  packages/trader/src/Stores/Modules/Statement/statement-store.js
Labels: Trader

#1956 Amir / fix: don't show "appropriateness test warning" on update
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
Labels: Account

#1988 negar/cashier_error_ui
  packages/core/src/App/Containers/AccountTransferLimitDialog/account-transfer-limit.jsx
  packages/core/src/App/Containers/AccountTransferLimitDialog/index.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/Modules/Cashier/Components/Confirm/payment-agent-transfer-confirm.jsx
  packages/core/src/Modules/Cashier/Components/Confirm/payment-agent-withdraw-confirm.jsx
  packages/core/src/Modules/Cashier/Components/Error/form-error.jsx
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Form/payment-agent-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Form/payment-agent-withdraw-form.jsx
  packages/core/src/Modules/Cashier/Components/confirm.jsx
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app/modules/cashier.scss
Labels: Core

#1943 Amir / fix: keep account limit page tooltip box inside
  packages/account/src/Sections/Security/AccountLimits/account-limits.jsx
  packages/components/src/components/popover/popover.jsx
Labels: Account, Components

#1979 Matin/Fix: Hide Denial of Service modal for Deriv crypto
  packages/core/src/Stores/client-store.js
Labels: Core

#1941 Amir / fix: add UKGC account number to complaint policy for MLT
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
Labels: Core

#1999 Sean/fix: platform selector during reports or cashier page
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/App/Constants/platform-config.js
  packages/shared/src/utils/platform/platform.js
Labels: Core, Shared

#1965 salar / Fix: PA invalid ID and minor UI issues
  packages/core/src/Modules/Cashier/Components/Confirm/payment-agent-transfer-confirm.jsx
  packages/core/src/Modules/Cashier/Components/Confirm/payment-agent-withdraw-confirm.jsx
  packages/core/src/Modules/Cashier/Components/Error/error.jsx
  packages/core/src/Modules/Cashier/Components/confirm.jsx
  packages/core/src/sass/app/modules/cashier.scss
Labels: Core

#1907 Akmal / Fixed alignment for reports > open positions
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader

#1996 Matin/Fix: set field touched to true on changing its respective value
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
Labels: Core

#1992 bahar/new_design_for_tooltips
  packages/bot-skeleton/src/scratch/blocks/images.js
  packages/bot-skeleton/src/scratch/hooks/css.js
  packages/bot-skeleton/src/scratch/hooks/field_dropdown.js
  packages/bot-skeleton/src/scratch/hooks/index.js
  packages/bot-skeleton/src/scratch/hooks/tooltip.js
Labels: Bot

#1962 Akmal / Fixed currency bugs for responsive design
  packages/components/src/components/contract-card/contract-card.scss
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
  packages/core/src/sass/currency-select-radio.scss
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/amount-widget.jsx
  packages/trader/src/sass/app/_common/form/input-field.scss
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Labels: Components, Core, Trader

#1927 Matin/Add: Real money account creation for Deriv Crypto
  packages/components/src/components/modal/modal.scss
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard-form.js
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use-messages.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/account-wizard.scss
Labels: Components, Core

#2002 Mahdi Aryayi / Fixed 2 popups bug
  packages/core/src/Stores/client-store.js
Labels: Core

#1993 Bala/Fix positions card result on deal cancellation
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-update-form.jsx
  packages/shared/src/utils/contract/contract.js
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Stores/Modules/Contract/Constants/validation-rules.js
  packages/trader/src/Stores/Modules/Contract/Helpers/logic.js
Labels: Account, Components, Shared, Trader

#1950 Bala/fix-trading-for-mf-real-accounts
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/Helpers/allow-equals.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Core, Trader

#2010 negar/deposit_limits_prod
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
Labels: Account

#1800 negar/deposit_limits
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
Labels: Account

#1945 Nijil/Code cleanup following contract-card refactor
  packages/components/src/components/contract-card/contract-card-items/contract-card-footer.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-update-form.jsx
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.jsx
  packages/components/src/components/input-field/input-field.jsx
  packages/components/src/components/input-field/input-field.scss
  packages/components/src/components/input-field/input.jsx
  packages/components/src/components/input-wth-checkbox/input-with-checkbox.jsx
  packages/components/src/components/tooltip/index.js
  packages/components/src/components/tooltip/tooltip.scss
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.jsx
  packages/trader/src/App/Components/Elements/tooltip.jsx
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar-mobile.jsx
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar.jsx
  packages/trader/src/App/Components/Form/InputField/increment-buttons.jsx
  packages/trader/src/App/Components/Form/InputField/index.js
  packages/trader/src/App/Components/Form/InputField/input-field.jsx
  packages/trader/src/App/Components/Form/InputField/input-with-checkbox.jsx
  packages/trader/src/App/Components/Form/InputField/input.jsx
  packages/trader/src/App/Components/Form/TimePicker/time-picker.jsx
  packages/trader/src/Modules/Trading/Components/Elements/Multiplier/cancel-deal-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/DatePicker/trading-date-picker.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/advanced-duration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/simple-duration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/cancel-deal.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/stop-loss.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/take-profit.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/barrier.jsx
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/_common/components/composite-calendar.scss
  packages/trader/src/sass/app/_common/drawer/contract-drawer.scss
  packages/trader/src/sass/app/_common/form/input-field.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Components, Trader

#2012 zaki / fix_contract_type_info_carousel
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
Labels: Trader

#1874 Bala/react-virtualized
  packages/account/src/Sections/Security/ConnectedApps/connected-apps.jsx
  packages/account/src/Sections/Security/LoginHistory/login-history.jsx
  packages/account/src/Styles/account.scss
  packages/bot-web-ui/src/assets/sass/journal.scss
  packages/bot-web-ui/src/components/journal.jsx
  packages/bot-web-ui/src/components/transactions.jsx
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-footer.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.jsx
  packages/components/src/components/contract-card/contract-card-items/sass/contract-card-dialog.scss
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.jsx
  packages/components/src/components/contract-card/contract-card.scss
  packages/components/src/components/contract-card/result-overlay/result-overlay.jsx
  packages/components/src/components/contract-card/result-overlay/result-overlay.scss
  packages/components/src/components/data-list/data-list.jsx
  packages/components/src/components/data-list/data-list.scss
  packages/components/src/components/data-table/data-table.jsx
  packages/components/src/components/data-table/data-table.scss
  packages/components/src/components/themed-scrollbars/themed-scrollbars.jsx
  packages/components/stories/data-list/data-list.stories.js
  packages/components/stories/data-table/data-table.stories.js
  packages/core/package-lock.json
  packages/core/package.json
  packages/shared/src/utils/hooks/index.js
  packages/shared/src/utils/hooks/new-row-transition.js
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.jsx
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/Modules/Reports/Helpers/market-underlying.js
  packages/trader/src/Stores/Modules/Portfolio/Helpers/format-response.js
  packages/trader/src/sass/app/_common/components/positions-toggle.scss
  packages/trader/src/sass/app/_common/drawer/contract-drawer.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer.scss
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Account, Bot, Components, Core, Shared, Trader

#2014 Matin/Improvement: Wizard component enhancement
  packages/components/src/components/wizard/wizard-header.jsx
  packages/components/src/components/wizard/wizard-step.jsx
  packages/components/src/components/wizard/wizard.jsx
  packages/components/src/components/wizard/wizard.scss
  packages/components/stories/wizard/wizard.stories.js
Labels: Components

#2016 aaron/Turn onBeforeUnload into an arrow ➼
  packages/bot-web-ui/src/stores/app-store.js
Labels: Bot
