Repository deriv-com/deriv-app, pull requests merged in 2020-06, with the labels that each got.

#1180 Shayan/Barrier shadow disappears issue
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#1208 negar/remove_missed_func_call
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Core

#1215 aaron/Update QA10 token
  packages/p2p/src/components/app.jsx
Labels: P2P

#1212 negar/fix_import
  packages/trader/src/App/Containers/Modals/trade-modals.jsx
Labels: Trader

#1213 zaki/ style_conflicts
  packages/components/src/components/send-email-template/send-email-template.jsx
  packages/core/src/sass/app/modules/cashier.scss
  packages/trader/src/Modules/MT5/Containers/mt5-reset-password-modal.jsx
Labels: Components, Core, Trader

#1205 mamali/Add Resend email button to reset password
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Trader

#1176 Shayan/Fix issue of crosshair visiblity in mobile mode
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader

#1207 Bala/double tap on outside reopens modal fix
  packages/components/src/components/modal/modal.jsx
Labels: Components

#1204 Bala/reports date filter fix for mobile
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar-mobile.jsx
Labels: Trader

#1202 negar/switch_account_after_transfer
  packages/components/src/components/button/button.scss
  packages/core/src/Modules/Cashier/Components/Receipt/account-transfer-receipt.jsx
  packages/core/src/sass/app/modules/cashier.scss
Labels: Components, Core

#1221 Oskar/wait for authorize cashier [hotfix]
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Components, Core, Trader

#1223 V20200529_2
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Core

#1220 oskar/wait_for_authorize_cashier_store
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Core

#1195 aaron/P2p mobile redirect to verification
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/_common/base/login.js
Labels: Core

#1181 mamali/Add account opening reason as requried for mt5 labuan
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-financial-stp-real-account-signup.jsx
Labels: Trader

#1185 salar / move datalist to components
  packages/components/src/components/data-list/data-list-cell.jsx
  packages/components/src/components/data-list/data-list.jsx
  packages/components/src/components/data-list/data-list.scss
  packages/components/src/components/data-list/index.js
  packages/components/stories/data-list/data-list.stories.js
  packages/components/webpack.config.js
  packages/trader/src/App/Components/Elements/DataList/index.js
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
Labels: Components, Trader

#1225 zaki/fix_broken_barrier_input
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#1226 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1235 Update deriv app translations
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1236 msamprz/deriv_app_translations
  packages/p2p/crowdin/messages.json
  packages/p2p/scripts/update-translations.sh
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/ru.json
Labels: P2P, Translations

#1243 msamprz/clean-dep-lists
  .circleci/config.yml
  .travis.yml
  README.md
Labels: Docs

#1230 [hotfix] mamali/Double check to retain the cache when stp is created
  packages/core/src/Services/logout.js
  packages/trader/src/Modules/MT5/Containers/mt5-financial-stp-real-account-signup.jsx
Labels: Core, Trader

#1247 msamprz/deriv_app_translations
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc./console.js
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/vi.json
Labels: Bot, P2P, Translations

#1184 Mahdi Aryayi / Remove restrictions
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
Labels: Core, Trader

#1148 Sara / Changed salutation dropdown to radio group
  packages/bot-web-ui/src/components/save-modal.jsx
  packages/components/src/components/radio-group/radio-group.jsx
  packages/components/stories/radio-group/radio-group.stories.js
  packages/core/src/App/Containers/RealAccountSignup/personal-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/sass/details-form.scss
Labels: Bot, Components, Core, Trader

#1255 oskar/fix_proposal_request_race_condition
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Core, Trader

#1219 Bala/cashier mobile menu fix
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/trader/src/App/Containers/trade-header-extensions.jsx
Labels: Core, Trader

#1261 oskar/split_gtm_signup_events
  packages/core/src/Stores/client-store.js
Labels: Core

#1206 aaron/P2p fix order updates
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/p2p/src/components/orders/order-table/order-table-header.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/utils/websocket.js
Labels: P2P

#1239 Bala/recent positions stepper fix for mobile
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
Labels: Trader

#1171 Sam/p2p Verification Flow
  packages/components/src/components/checklist/checklist.jsx
  packages/components/src/components/checklist/checklist.scss
  packages/components/src/components/checklist/index.js
  packages/components/src/components/dialog/dialog.scss
  packages/components/webpack.config.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/nickname/nickname-form.jsx
  packages/p2p/src/components/nickname/nickname-form.scss
  packages/p2p/src/components/verification/verification.jsx
  packages/p2p/src/components/verification/verification.scss
Labels: Components, P2P

#1240 mamali/fix-mt5-poa-upload
  packages/account/src/Components/file-uploader-container/file-uploader-container.jsx
  packages/account/src/Components/file-uploader-container/file-uploader.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
Labels: Trader

#1156 Amam/two factor auth
  packages/account/package-lock.json
  packages/account/package.json
  packages/account/src/Constants/routes-config.js
  packages/account/src/Sections/Security/TwoFactorAuthentication/article.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/digit-form.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/index.js
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/account/src/Sections/Security/two-factor-authentication.jsx
  packages/account/src/Sections/index.js
  packages/account/src/Styles/account.scss
  packages/components/src/components/clipboard/clipboard.jsx
  packages/components/src/components/icon/common/ic-qr-phone.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/clipboard/README.md
  packages/components/stories/clipboard/clipboard.stories.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Constants/routes-config.js
  packages/shared/src/styles/reset.scss
  packages/shared/src/utils/routes/routes.js
Labels: Components, Core, Docs, Shared, Trader

#1211 Bala/unsupported-market-mobile-modal-styling-fix
  packages/components/src/components/dialog/dialog.jsx
  packages/components/src/components/dialog/dialog.scss
  packages/trader/src/App/Components/Elements/Modals/MarketUnavailableModal/market-unavailable.jsx
  packages/trader/src/sass/app/modules/trading.scss
Labels: Components, Trader

#1232 Bala/remove disabled options on mobile
  packages/components/src/components/select-native/select-native.jsx
Labels: Components

#1150 Sam/update text in save modal
  packages/bot-web-ui/src/assets/sass/save-modal.scss
  packages/bot-web-ui/src/components/save-modal.jsx
Labels: Bot

#1249 Bala/duration modal fix
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
Labels: Trader

#1245 Bala/deal cancellation duration dropdown
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/trader/src/Assets/Trading/Categories/trade-categories.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/cancel-deal.jsx
  packages/trader/src/Stores/Modules/Portfolio/Helpers/details.js
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.js
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Core, Trader

#1165 zaki/kill_react_custom_scrollbars
  packages/account/src/Components/file-uploader-container/file-uploader.jsx
  packages/account/src/Components/scrollbars-container/scrollbars-container.jsx
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Styles/account.scss
  packages/bot-web-ui/src/assets/sass/bot-notification-messages.scss
  packages/bot-web-ui/src/components/journal.jsx
  packages/bot-web-ui/src/components/quick-strategy.jsx
  packages/bot-web-ui/src/components/summary.jsx
  packages/bot-web-ui/src/components/toolbar.jsx
  packages/bot-web-ui/src/components/transactions.jsx
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/data-list/data-list.jsx
  packages/components/src/components/data-table/data-table.jsx
  packages/components/src/components/data-table/table-row-info.jsx
  packages/components/src/components/dropdown-list/dropdown-list.jsx
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/list.scss
  packages/components/src/components/loading/loading.scss
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/components/src/components/numpad/numpad.js
  packages/components/src/components/page-error/page-error.scss
  packages/components/src/components/table/table.jsx
  packages/components/src/components/themed-scrollbars/themed-scrollbars.js
  packages/components/src/components/themed-scrollbars/themed-scrollbars.jsx
  packages/components/src/components/themed-scrollbars/themed-scrollbars.scss
  packages/components/webpack.config.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/sass/app/_common/components/login-prompt.scss
  packages/core/src/sass/app/_common/layout/footer.scss
  packages/core/src/sass/details-form.scss
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/nickname/nickname-form.jsx
  packages/p2p/src/components/orders/popup.jsx
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
  packages/trader/src/App/Components/Elements/ContractAudit/contract-history.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info-card.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/contract-type-menu.jsx
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Bot, Components, Core, Trader

#1264 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1229 aaron/P2p orders navigation + user colours
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/utils/string.js
Labels: P2P

#1276 Revert "Update eu branch"
  packages/account/src/Layout/send-email.jsx
  packages/bot-web-ui/src/components/save-modal.jsx
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/radio-group/radio-group.jsx
  packages/components/stories/radio-group/radio-group.stories.js
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-card.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/App/Containers/AccountTypesModal/index.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/success-dialog.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/finished-set-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/form-validations.js
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-buttons.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-heading.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-message.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use-form.js
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/Utils/Validator/declarative-validation-rules.js
  packages/core/src/sass/add-or-manage.scss
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/core/src/sass/app/modules/account-types.scss
  packages/core/src/sass/details-form.scss
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Account, Bot, Components, Core

#1250 mamali/change-link-for-mt5-web-terminal
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard-container.jsx
  packages/trader/src/Modules/MT5/Helpers/constants.js
Labels: Trader

#1216 Nijil/Dbot - Responsive run panel
  packages/bot-web-ui/src/assets/sass/run-panel.scss
  packages/bot-web-ui/src/components/run-panel.jsx
  packages/components/src/components/drawer/drawer.jsx
  packages/components/src/components/drawer/drawer.scss
Labels: Bot, Components

#1270 negar/handle_withdrawal_locked_review
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Core

#1132 Sam/Search improvement
  packages/bot-skeleton/src/scratch/blocks/Binary/After Purchase/trade_again.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Before Purchase/purchase.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition.js
  packages/bot-skeleton/src/scratch/blocks/Math/math_number.js
  packages/bot-skeleton/src/scratch/hooks/toolbox.js
  packages/bot-web-ui/src/components/flyout.jsx
Labels: Bot

#1278 zaki/fix_mt5_stp_mobile
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
Labels: Trader

#1284 Sam/fix verification not showing
  packages/p2p/src/components/verification/verification.jsx
Labels: P2P

#1283 Sam/fix `block` search not showing result
  packages/bot-skeleton/src/scratch/hooks/toolbox.js
Labels: Bot

#1287 zaki/chop_fix
  packages/core/src/sass/terms-of-use.scss
Labels: Core, Mobile

#1280 Sam/fix my-ads not load
  packages/components/src/components/checklist/checklist.scss
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/verification/verification.scss
Labels: Components, P2P

#1292 Sam/Revert "flow changes"
  packages/components/src/components/checklist/checklist.jsx
  packages/components/src/components/checklist/checklist.scss
  packages/components/src/components/checklist/index.js
  packages/components/webpack.config.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/verification/verification.jsx
  packages/p2p/src/components/verification/verification.scss
Labels: Components, P2P

#1293 Revert "Sam/Revert "flow changes""
  packages/components/src/components/checklist/checklist.jsx
  packages/components/src/components/checklist/checklist.scss
  packages/components/src/components/checklist/index.js
  packages/components/webpack.config.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/verification/verification.jsx
  packages/p2p/src/components/verification/verification.scss
Labels: Components, P2P

#1295 Update deriv app translations
  packages/translations/src/translations/id.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1254 mamali/resolve-console-error-on-invalid-token
  packages/core/src/Stores/client-store.js
Labels: Core

#1281 amam/fix_api_token
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
Labels: Account

#1227 Shayan/ Fix Digital Number position
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/sass/app/modules/contract/digits.scss
Labels: Trader

#1179 Shayan/Export PNG issue
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Labels: Trader

#1260 Shayan/update market icons
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/underlying/ic-underlying-1HZ25V.svg
  packages/components/src/components/icon/underlying/ic-underlying-1HZ50V.svg
  packages/components/src/components/icon/underlying/ic-underlying-1HZ75V.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_AEX.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_AS51.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_DJI.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_FCHI.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_FTSE.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_GDAXI.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_HSI.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_IBEX35.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_N225.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_NDX.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_SPC.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_SSMI.svg
  packages/components/stories/icon/icons.js
Labels: Components

#1300 zaki/update_smartcharts
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
Labels: Bot, Core, Trader

#1297 oskar/fix_landing_company_request
  packages/core/src/Stores/client-store.js
Labels: Core

#1301 zaki/update_deriv_charts
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
Labels: Bot, Core, Trader

#1310 zaki/mt5_stp_poi_fix
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Trader

#1308 Shayan/Chart area overlap
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
Labels: Trader

#1313 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1316 V20200616_0
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/underlying/ic-underlying-1HZ25V.svg
  packages/components/src/components/icon/underlying/ic-underlying-1HZ50V.svg
  packages/components/src/components/icon/underlying/ic-underlying-1HZ75V.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_AEX.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_AS51.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_DJI.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_FCHI.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_FTSE.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_GDAXI.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_HSI.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_IBEX35.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_N225.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_NDX.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_SPC.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_SSMI.svg
  packages/components/stories/icon/icons.js
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/Stores/client-store.js
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/contract/digits.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Account, Bot, Components, Core, Trader

#1299 Bala/set default contract type
  packages/trader/src/Modules/Trading/Containers/contract-type.jsx
  packages/trader/src/Modules/Trading/Helpers/contract-type.js
  packages/trader/src/Stores/Modules/Trading/Constants/contract.js
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#1268 aaron/DBot use npm packages
  packages/bot-skeleton/package-lock.json
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/scratch/blockly.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_statement.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_repeat_ext.js
  packages/bot-skeleton/src/scratch/blocks/Binary/After Purchase/after_purchase.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tick Analysis/tick_analysis.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Candle/is_candle_black.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Candle/ohlc_values_in_list.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Candle/read_ohlc_obj.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc./console.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc./notify.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot-skeleton/src/scratch/blocks/Logic/logic_operation.js
  packages/bot-skeleton/src/scratch/blocks/Math/math_on_list.js
  packages/bot-skeleton/src/scratch/blocks/Math/math_round.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_statement.js
  packages/bot-skeleton/src/scratch/hooks/block.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/shared/src/utils/object/clone.js
  packages/shared/src/utils/object/index.js
  packages/shared/src/utils/object/object.js
Labels: Bot, Shared

#1258 Sam/update nickname popup design
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/nickname/nickname-form.jsx
  packages/p2p/src/components/nickname/nickname-form.scss
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: P2P, Trader

#1267 oskar/add_stores_to_test
  packages/trader/src/Modules/Trading/Containers/test.jsx
Labels: Trader

#1248 Nijil/Responsive workspace scale
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
  packages/bot-web-ui/src/app.jsx
Labels: Bot

#1279 negar/update_auth_doc_names
  packages/account/src/Components/file-uploader-container/file-uploader-utils.js
Labels: Account

#1317 Sam/Verification endpoint
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Modules/Cashier/Containers/p2p-cashier.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/verification/verification.jsx
Labels: Core, P2P, Trader

#1323 negar/update_mt5_links_prod
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard-container.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Helpers/constants.js
Labels: Trader

#1322 negar/update_mt5_links
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard-container.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Helpers/constants.js
Labels: Trader

#1327 zaki/digit_spot_fixes
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/contract/digits.scss
Labels: Mobile, Trader

#1331 negar/update_mt5_links
  packages/trader/src/Modules/MT5/Helpers/constants.js
Labels: Trader

#1334 V20200619_0
  packages/account/src/Components/file-uploader-container/file-uploader-utils.js
  packages/bot-skeleton/package-lock.json
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/constants/config.js
  packages/bot-skeleton/src/scratch/blockly.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_statement.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_repeat_ext.js
  packages/bot-skeleton/src/scratch/blocks/Binary/After Purchase/after_purchase.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tick Analysis/tick_analysis.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Candle/is_candle_black.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Candle/ohlc_values_in_list.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Candle/read_ohlc_obj.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc./block_holder.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc./console.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc./notify.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot-skeleton/src/scratch/blocks/Logic/logic_operation.js
  packages/bot-skeleton/src/scratch/blocks/Math/math_on_list.js
  packages/bot-skeleton/src/scratch/blocks/Math/math_round.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_getSubstring.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_statement.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/help-content/help-strings/console.js
  packages/bot-skeleton/src/scratch/hooks/block.js
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-web-ui/src/app.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Modules/Cashier/Containers/p2p-cashier.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/nickname/nickname-form.jsx
  packages/p2p/src/components/nickname/nickname-form.scss
  packages/p2p/src/components/verification/verification.jsx
  packages/shared/src/utils/object/clone.js
  packages/shared/src/utils/object/index.js
  packages/shared/src/utils/object/object.js
  packages/trader/src/Modules/MT5/Helpers/constants.js
  packages/trader/src/Modules/Trading/Containers/contract-type.jsx
  packages/trader/src/Modules/Trading/Containers/test.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Modules/Trading/Helpers/contract-type.js
  packages/trader/src/Stores/Modules/Trading/Constants/contract.js
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/contract/digits.scss
Labels: Account, Bot, Core

#1237 zaki/multiplier_fixes
  packages/components/src/components/tabs/tabs.scss
  packages/core/src/Stores/ui-store.js
  packages/trader/src/App/Components/Elements/ContractAudit/contract-audit.jsx
  packages/trader/src/App/Components/Elements/ContractCard/contract-card-item.jsx
  packages/trader/src/App/Components/Elements/ContractCard/contract-card.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card-body.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card-footer.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card-header.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/multiplier-close-actions.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card-body.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card-footer.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card-header.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/contract-type-cell.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/contract-update-form.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/toggle-positions-drawer-dialog.jsx
  packages/trader/src/App/Components/Form/InputField/input-field.jsx
  packages/trader/src/App/Components/Form/InputField/input-with-checkbox.jsx
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/contract-type-menu.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/cancel-deal.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/multiplier.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/stop-loss.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/take-profit.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Modules/Trading/Helpers/contract-type.js
  packages/trader/src/Stores/Modules/Contract/Helpers/logic.js
  packages/trader/src/Stores/Modules/Contract/contract-replay-store.js
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/Stores/Modules/Trading/Constants/contract.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/_common/components/contract-audit.scss
  packages/trader/src/sass/app/_common/drawer/contract-drawer.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer-card.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer-dialog.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer.scss
  packages/trader/src/sass/app/_common/drawer/positions-modal-card.scss
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Components, Core, Trader

#1288 Bala/Multiplier changes
  packages/components/src/components/tabs/tabs.scss
  packages/core/src/Stores/ui-store.js
  packages/trader/src/App/Components/Elements/ContractAudit/contract-audit.jsx
  packages/trader/src/App/Components/Elements/ContractCard/contract-card-item.jsx
  packages/trader/src/App/Components/Elements/ContractCard/contract-card.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card-body.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card-footer.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card-header.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/multiplier-close-actions.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card-body.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card-footer.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card-header.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/contract-type-cell.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/contract-update-form.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/toggle-positions-drawer-dialog.jsx
  packages/trader/src/App/Components/Form/InputField/input-field.jsx
  packages/trader/src/App/Components/Form/InputField/input-with-checkbox.jsx
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/cancel-deal.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/multiplier.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/stop-loss.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/take-profit.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Modules/Trading/Helpers/contract-type.js
  packages/trader/src/Stores/Modules/Contract/Helpers/logic.js
  packages/trader/src/Stores/Modules/Contract/contract-replay-store.js
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/Stores/Modules/Trading/Constants/contract.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/_common/components/contract-audit.scss
  packages/trader/src/sass/app/_common/drawer/contract-drawer.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer-card.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer-dialog.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer.scss
  packages/trader/src/sass/app/_common/drawer/positions-modal-card.scss
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Components, Core, Trader

#1335 Bala/multiplier ui fixes
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.jsx
  packages/trader/src/sass/app/_common/components/purchase-button.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader

#1342 V20200623_0
  packages/components/src/components/tabs/tabs.scss
  packages/core/src/Stores/ui-store.js
  packages/trader/src/App/Components/Elements/ContractAudit/contract-audit.jsx
  packages/trader/src/App/Components/Elements/ContractCard/contract-card-item.jsx
  packages/trader/src/App/Components/Elements/ContractCard/contract-card.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card-body.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card-footer.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card-header.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/multiplier-close-actions.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card-body.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card-footer.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card-header.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/contract-type-cell.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/contract-update-form.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/toggle-positions-drawer-dialog.jsx
  packages/trader/src/App/Components/Form/InputField/input-field.jsx
  packages/trader/src/App/Components/Form/InputField/input-with-checkbox.jsx
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/contract-type-menu.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/cancel-deal.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/multiplier.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/stop-loss.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/take-profit.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Modules/Trading/Helpers/contract-type.js
  packages/trader/src/Stores/Modules/Contract/Helpers/logic.js
  packages/trader/src/Stores/Modules/Contract/contract-replay-store.js
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/Stores/Modules/Trading/Constants/contract.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/_common/components/contract-audit.scss
  packages/trader/src/sass/app/_common/components/purchase-button.scss
  packages/trader/src/sass/app/_common/drawer/contract-drawer.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer-card.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer-dialog.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer.scss
  packages/trader/src/sass/app/_common/drawer/positions-modal-card.scss
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Components, Core, Trader

#1328 amam|oskar/save_params_to_storage
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#1343 V20200623_1
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#1341 negar/update_mt5_links
  packages/trader/src/Modules/MT5/Helpers/constants.js
Labels: Trader

#1346 V20200624_0
  packages/trader/src/Modules/MT5/Helpers/constants.js
Labels: Trader

#1305 negar/handle_mt5_Bbook_HighRisk_groups
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/Helpers/client.js
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/client_base.js
  packages/trader/src/Stores/Helpers/client.js
  packages/trader/src/Stores/Modules/MT5/Helpers/mt5-config.js
Labels: Core, Trader

#1314 negar/notification_issues
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Core

#1336 mamali/Change dbot icon to deriv icon
  packages/core/build/config.js
  packages/core/src/index.html
  packages/core/src/public/images/favicons/favicon.ico
Labels: Core

#1194 Nijil/Fix Journal Filter Behaviour
  packages/bot-skeleton/src/constants/messages.js
  packages/bot-web-ui/src/components/journal.jsx
  packages/bot-web-ui/src/stores/journal-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#1344 zaki/fix_acc_opening_reason
  packages/trader/src/Modules/MT5/Containers/mt5-financial-stp-real-account-signup.jsx
Labels: Trader

#1257 Mehrzad / save modal responsive
  packages/bot-web-ui/src/assets/sass/save-modal.scss
  packages/bot-web-ui/src/components/save-modal.jsx
  packages/bot-web-ui/src/stores/save-modal-store.js
  packages/components/src/components/icon/brand/ic-google-drive.svg
  packages/components/src/components/icon/common/ic-google-drive.svg
  packages/components/src/components/icon/common/ic-mobile.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Bot, Components

#1315 Sam/fix incorrect my-ads status
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/toggle-ads.jsx
Labels: P2P

#1274 mamali/feature-ignore-update-notification
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/App/Containers/new-version-notification.jsx
Labels: Core

#1306 carol/lists sort updated to sort as per ascii
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_sort.js
Labels: Bot

#1128 Nijil/Expansion-panel component
  packages/bot-skeleton/src/scratch/blocks/Math/math_number.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_join.js
  packages/bot-web-ui/src/components/notify-item.jsx
  packages/bot-web-ui/src/stores/journal-store.js
  packages/bot-web-ui/src/utils/journal-notifications.js
  packages/components/src/components/expansion-panel/expansion-panel.jsx
  packages/components/src/components/expansion-panel/expansion-panel.scss
  packages/components/src/components/expansion-panel/index.js
  packages/components/webpack.config.js
Labels: Bot, Components

#1096 Nijil/Handle division by zero in remainder block - DBot
  packages/bot-skeleton/src/scratch/blocks/Math/math_modulo.js
  packages/bot-web-ui/src/stores/journal-store.js
  packages/bot-web-ui/src/utils/journal-notifications.js
Labels: Bot

#1303 aaron/P2p notification persistence
  packages/core/src/Modules/Cashier/Containers/p2p-cashier.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/verification/verification.jsx
Labels: Core, P2P

#1319 negar/update_transfer_design
  packages/account/src/Containers/account.jsx
  packages/components/src/components/page-overlay/page-overlay.jsx
  packages/components/src/components/vertical-tab/vertical-tab-content-container.jsx
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/account-transfer-receipt.jsx
  packages/core/src/Modules/Cashier/Containers/account-transfer.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/sass/app/modules/cashier.scss
Labels: Account, Components, Core

#1329 Mahdi Aryayi / Changed cashier demo design
  packages/core/src/Modules/Cashier/Components/Error/virtual.jsx
  packages/core/src/public/images/app/cashier/account_switcher.png
  packages/core/src/public/images/app/cashier/cashier-demo-dark.svg
  packages/core/src/public/images/app/cashier/cashier-demo-light.svg
  packages/core/src/sass/app/modules/cashier.scss
Labels: Core

#1351 aaron/Revert Nijil/Handle division by zero in remainder block - DBot
  packages/bot-web-ui/src/stores/journal-store.js
  packages/bot-web-ui/src/utils/journal-notifications.js
Labels: Bot

#1345 Sam/update responsive for verification page
  packages/p2p/src/components/verification/verification.scss
Labels: P2P

#1324 oskar/fix_pathcheck_and_click_outside_hook
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/items.jsx
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/numpad/numpad.jsx
  packages/components/src/components/page-overlay/page-overlay.jsx
  packages/components/src/components/themed-scrollbars/themed-scrollbars.jsx
  packages/components/src/hooks/use-hover.js
  packages/components/src/hooks/use-onclickoutside.js
  packages/components/src/hooks/use-onlongpress.js
Labels: Components

#1352 zaki/hide_disabled_accounts_without_currency
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
Labels: Core

#1359 negar|mehdi/fix_render_loop
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/sass/app/modules/cashier.scss
Labels: Core

#1361 oskar/fix_render_loop_in_input
  packages/trader/src/App/Components/Form/InputField/input.jsx
Labels: Trader

#1360 oskar/move datalayer page_load event to route switch
  packages/account/src/Components/Routes/route-with-sub-routes.jsx
  packages/core/src/App/Components/Routes/binary-routes.jsx
  packages/core/src/Stores/ui-store.js
  packages/trader/src/App/Components/Routes/route-with-sub-routes.jsx
Labels: Account, Core, Trader

#1189 mamali/mlt-signup-and-other-bugfixes
  packages/account/build/webpack.config.js
  packages/components/src/components/autocomplete/autocomplete.scss
  packages/components/src/components/form-progress/form-progress.scss
  packages/components/src/components/modal/modal.scss
  packages/components/src/components/radio-group/radio-group.jsx
  packages/components/src/components/radio-group/radio-group.scss
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard-form.js
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/change-account-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector-form.js
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/financial-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/financial-details-partials.jsx
  packages/core/src/App/Containers/RealAccountSignup/financial-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/form-validations.js
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-buttons.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-heading.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-message.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/proof-of-address-form.js
  packages/core/src/App/Containers/RealAccountSignup/proof-of-identity-form.js
  packages/core/src/App/Containers/RealAccountSignup/proof-of-identity.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use-form.js
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use-messages.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/_common/base/socket_base.js
  packages/core/src/sass/account-wizard.scss
Labels: Account, Components, Core

#1265 negar/update_service_token
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/p2p/src/components/app.jsx
Labels: Account, P2P

#1356 Nijil/Fix the revert which caused Journal array message (expansion panel) issue.
  packages/bot-web-ui/src/stores/journal-store.js
  packages/bot-web-ui/src/utils/journal-notifications.js
Labels: Bot

#1369 Update deriv app translations
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1238 Sam/P2p verification new
  packages/components/src/components/checklist/checklist.jsx
  packages/core/src/Modules/Cashier/Containers/p2p-cashier.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell-table-content.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/nickname/nickname-form.jsx
  packages/p2p/src/components/verification/verification.jsx
  packages/p2p/src/components/verification/verification.scss
Labels: Components, Core, P2P, Trader

#1358 aaron/Show correct refunded status
  packages/p2p/src/components/orders/order-details/order-details-status-block.jsx
Labels: P2P

#1355 carol/update create and edit
  packages/bot-web-ui/src/components/quick-strategy.jsx
Labels: Bot

#1338 oskar/ws_calls_optimize
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
Labels: Core

#1333 Sam/remove number checking in math block
  packages/bot-skeleton/src/scratch/blocks/Text/text_prompt_ext.js
Labels: Bot

#1330 Sam/P2p verification responsive
  packages/core/src/Modules/Cashier/Containers/p2p-cashier.jsx
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/p2p/src/assets/svgComponents/logo-play-store.svg
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/nickname/nickname-form.jsx
  packages/p2p/src/components/nickname/nickname-form.scss
  packages/p2p/src/components/verification/download.jsx
  packages/p2p/src/components/verification/download.scss
  packages/p2p/webpack.config.js
Labels: Bot, Components, Core, P2P

#1366 Footer links
  packages/components/src/components/icon/common/ic-account-limits.svg
  packages/components/src/components/icon/common/ic-deriv-outline.svg
  packages/components/src/components/icon/common/ic-regulatory-information.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Footer/account-limits.jsx
  packages/core/src/App/Components/Layout/Footer/go-to-deriv.jsx
  packages/core/src/App/Components/Layout/Footer/index.js
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
  packages/core/src/App/Components/Layout/Footer/responsible-trading.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/Assets/SvgComponents/footer/mga.svg
  packages/core/src/sass/app/_common/layout/footer.scss
Labels: Components, Core

#1357 carol/numeric-sort
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_sort.js
Labels: Bot

#1374 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1373 Sam/fix popup css
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/verification/verification.jsx
  packages/p2p/src/components/verification/verification.scss
Labels: P2P
