Repository deriv-com/deriv-app, pull requests merged in 2020-03, with the labels that each got.

#865 zaki/fix_ios_issues
  packages/components/src/components/mobile-dialog/mobile-dialog.scss
  packages/core/src/sass/app/_common/layout/layouts.scss
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
Labels: Components, Core, Mobile, Trader

#855 Bala/recent trade info
  packages/core/src/sass/app/_common/layout/layouts.scss
  packages/trader/src/Modules/SmartChart/Components/top-widgets.jsx
  packages/trader/src/Modules/Trading/Containers/chart-widgets.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/sass/app/_common/layout/layouts.scss
Labels: Core, Mobile, Trader

#867 negar/rename_binary_options_to_digital_options
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/index.html
  packages/trader/src/index.html
  packages/trader/src/templates/app/head.jsx
Labels: Core, Trader

#864 kelly/contract_audit_scroll
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.jsx
Labels: Mobile, Trader

#876 zaki/update_mobile_smartcharts
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/assets/sass/chart.scss
  packages/components/src/components/div100vh-container/div100vh-container.jsx
  packages/core/package-lock.json
  packages/core/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Components/Form/RangeSlider/tick-steps.jsx
  packages/trader/src/Modules/SmartChart/Components/control-widgets.jsx
  packages/trader/src/Modules/SmartChart/index.js
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/sass/app/_common/layout/layouts.scss
Labels: Bot, Components, Core, Mobile, Trader

#868 Bala/show-important-notifications-on-mobile
  packages/components/src/components/dialog/dialog.scss
  packages/core/src/App/Containers/notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app/_common/base/common.scss
  packages/core/src/sass/app/_common/components/notification-message.scss
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Components, Core, Trader

#874 Bala/Reports footer fix
  packages/core/src/sass/app/_common/layout/layouts.scss
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/sass/app/modules/reports.scss
Labels: Core, Trader

#875 kelly/network_status_toast_error
  packages/components/src/components/toast-error/toast-error.jsx
  packages/components/src/components/toast-error/toast-error.scss
  packages/core/src/sass/app/_common/layout/layouts.scss
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.jsx
  packages/trader/src/App/app.jsx
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/Modules/Trading/Containers/toast-error-popup.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/Stores/Modules/Profit/profit-store.js
  packages/trader/src/Stores/Modules/Statement/statement-store.js
Labels: Components, Core, Trader

#878 mahdi/add_babel_plugins
  packages/bot-skeleton/.babelrc
  packages/bot-skeleton/package-lock.json
  packages/bot-skeleton/package.json
  packages/bot-web-ui/.babelrc
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/components/.babelrc
  packages/components/package-lock.json
  packages/components/package.json
  packages/core/.babelrc
  packages/core/package-lock.json
  packages/core/package.json
  packages/p2p/.babelrc
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/shared/.babelrc
  packages/shared/package-lock.json
  packages/shared/package.json
  packages/trader/.babelrc
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/translations/.babelrc
  packages/translations/package-lock.json
  packages/translations/package.json
Labels: Bot, Components, Core, P2P, Shared, Trader, Translations

#877 negar|mahdi/fix_digit_display_contract_details
  packages/components/package-lock.json
  packages/components/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Components/Animations/bounce.jsx
Labels: Components, Core, Trader

#866 zaki/fix_remaining_validation_popup_issues
  packages/components/src/components/button/button.scss
  packages/components/src/components/numpad/numpad.jsx
  packages/components/src/components/numpad/numpad.scss
  packages/components/src/components/numpad/step-input.jsx
  packages/components/src/components/tick-picker/tick-picker.jsx
  packages/components/src/components/tick-picker/tick-picker.scss
  packages/components/src/components/toast-error/toast-error.scss
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/index.html
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/core/src/sass/app/modules/notifications-dialog.scss
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/result-mobile.jsx
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.jsx
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-dialog.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount-mobile.jsx
  packages/trader/src/Modules/Trading/Containers/toast-error-popup.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/_common/components/purchase-button.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer-card-overlay.scss
  packages/trader/src/sass/app/_common/drawer/positions-modal-card.scss
  packages/trader/src/sass/app/_common/layout/layouts.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Components, Core, Mobile, Trader

#872 aaron/SmartTrader iFrame sync
  packages/core/build/config.js
  packages/core/src/App/app.jsx
  packages/core/src/Modules/SmartTraderIFrame/SmartTraderIFrame.jsx
  packages/core/src/Modules/SmartTraderIFrame/index.js
  packages/core/src/Stores/client-store.js
  packages/core/src/root_files/localstorage-sync.html
Labels: Core

#885 aaron/Sandbox iframe
  packages/core/src/Modules/SmartTraderIFrame/SmartTraderIFrame.jsx
Labels: Core

#886 Sam/Add account redirect
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#884 zaki/update_smartcharts_betam
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/Modules/SmartChart/Components/toolbar-widgets.jsx
  packages/trader/src/Modules/SmartChart/index.js
  packages/trader/src/Modules/Trading/Containers/chart-widgets.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/sass/app/_common/layout/layouts.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Bot, Core, Mobile, Trader

#882 zaki-mamali/add_long_press_clear
  packages/components/src/components/button/button.jsx
  packages/components/src/components/numpad/numpad.js
  packages/components/src/components/numpad/numpad.jsx
  packages/components/src/components/numpad/numpad.scss
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount-mobile.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/_common/drawer/positions-modal-card.scss
  packages/trader/src/sass/app/_common/layout/layouts.scss
Labels: Components, Mobile, Trader

#888 mahdi/publish_p2p
  packages/core/package.json
  packages/p2p/package-lock.json
  packages/p2p/package.json
Labels: Core, P2P

#887 zaki/update_smartcharts_and_fixes
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/components/src/components/mobile-dialog/mobile-dialog.scss
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/core/src/sass/app/modules/notifications-dialog.scss
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar-mobile.jsx
  packages/trader/src/Modules/SmartChart/Components/top-widgets.jsx
  packages/trader/src/Stores/Modules/Contract/contract-trade-store.js
  packages/trader/src/sass/app/_common/layout/layouts.scss
  packages/trader/src/sass/app/modules/contract.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Bot, Components, Core, Mobile, Trader

#889 Sam/Fix unable to create account
  packages/bot-web-ui/src/assets/sass/load-modal.scss
  packages/components/src/components/modal/modal.scss
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Labels: Bot, Components, Core

#890 negar/update_platform_descriptions
  packages/core/src/App/Constants/platform-config.js
  packages/trader/src/App/Constants/platform-config.js
Labels: Core, Trader

#853 aaron/Quick strategy GTM events
  packages/bot-web-ui/src/components/quick-strategy.jsx
  packages/bot-web-ui/src/stores/quick-strategy-store.js
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/button/button.jsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/dropdown-list/dropdown-list.jsx
Labels: Bot, Components

#900 mahdi/revert_gitlab
  .gitlab-ci.yml
  packages/core/package.json
Labels: Core

#904 kelly /contract_details_responsive_fixes
  packages/components/src/components/modal/modal.scss
  packages/core/src/App/app.jsx
  packages/trader/src/App/Components/Elements/DataList/data-list.scss
  packages/trader/src/App/Containers/trade-header-extensions.jsx
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/Modules/Reports/Helpers/shortcode.js
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/Stores/Modules/Profit/profit-store.js
  packages/trader/src/Stores/Modules/Statement/statement-store.js
  packages/trader/src/sass/app/_common/layout/layouts.scss
  packages/trader/src/sass/app/modules/contract.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Components, Core, Trader

#908 oskar/update_production_check_for_datadog
  packages/core/src/index.html
Labels: Core

#901 zaki / Add mobile account signup
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/themed-scrollbars/themed-scrollbars.jsx
  packages/core/src/App/Components/Layout/Header/account-info.jsx
  packages/core/src/App/Containers/Modals/success-dialog.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/core/src/sass/currency-select-radio.scss
  packages/core/src/sass/details-form.scss
  packages/core/src/sass/terms-of-use.scss
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, Core, Mobile, Trader

#911 Bala/Personal details mobile
  packages/components/src/components/mobile-drawer/mobile-drawer-submenu-section.jsx
  packages/components/src/components/mobile-drawer/mobile-drawer.jsx
  packages/components/src/components/mobile-drawer/mobile-drawer.scss
  packages/components/src/components/page-overlay/page-overlay.scss
  packages/components/src/components/select-native/index.js
  packages/components/src/components/select-native/select-native.jsx
  packages/components/src/components/select-native/select-native.scss
  packages/components/src/components/vertical-tab/vertical-tab.jsx
  packages/components/webpack.config.js
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/sass/app/_common/components/date-picker.scss
  packages/core/src/sass/details-form.scss
  packages/shared/src/utils/route/index.js
  packages/shared/webpack.config.js
  packages/trader/src/App/Components/Form/DatePicker/date-picker.jsx
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/Modules/Account/Components/icon-message-content.jsx
  packages/trader/src/Modules/Account/Components/layout-components.jsx
  packages/trader/src/Modules/Account/Components/leave-confirm.jsx
  packages/trader/src/Modules/Account/Containers/account.jsx
  packages/trader/src/Modules/Account/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/trader/src/Modules/Reports/Containers/reports.jsx
  packages/trader/src/sass/app/modules/account.scss
Labels: Components, Core, Shared, Trader

#910 Mehrzad /Negative stake
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
Labels: Bot

#914 Mehrzad /Quick strategy remove autocomplete
  packages/bot-web-ui/src/components/quick-strategy.jsx
Labels: Bot

#902 Amam/add help centre
  packages/components/src/components/icon/common/ic-help-centre.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Footer/help-centre.jsx
  packages/core/src/App/Components/Layout/Footer/index.js
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/Modules/Cashier/Components/Error/error.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/_common/base/login.js
  packages/core/src/_common/url.js
  packages/trader/src/Modules/Account/Sections/Security/AccountLimits/account-limits.jsx
  packages/trader/src/_common/base/login.js
  packages/trader/src/_common/url.js
Labels: Components, Core, Trader

#903 zaki / password_mobile_page
  packages/components/src/components/mobile-dialog/mobile-dialog.scss
  packages/components/src/components/page-overlay/page-overlay.scss
  packages/trader/src/Modules/Account/Sections/Security/DerivPassword/change-password-form.jsx
  packages/trader/src/Modules/Account/Sections/Security/DerivPassword/forgot-your-password.jsx
  packages/trader/src/sass/app/_common/layout/send-email-template.scss
  packages/trader/src/sass/app/modules/account.scss
Labels: Components, Core, Mobile, Shared, Trader
