Repository deriv-com/deriv-app, pull requests merged in 2020-02, with the labels that each got.

#753 msamprz/minor_bug_fixes
  packages/components/.prettierrc
Labels: Components

#609 aaron/Move vertical tabs to components
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/vertical-tab/__tests__/vertical-tab.spec.js
  packages/components/src/components/vertical-tab/index.js
  packages/components/src/components/vertical-tab/vertical-tab-content-container.jsx
  packages/components/src/components/vertical-tab/vertical-tab-header-title.jsx
  packages/components/src/components/vertical-tab/vertical-tab-header.jsx
  packages/components/src/components/vertical-tab/vertical-tab-headers.jsx
  packages/components/src/components/vertical-tab/vertical-tab-layout.jsx
  packages/components/src/components/vertical-tab/vertical-tab-wrapper.jsx
  packages/components/src/components/vertical-tab/vertical-tab.jsx
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/components/stories/vertical-tabs/vertical-tabs.stories.js
  packages/components/webpack.config.js
  packages/core/src/App/Components/Elements/VerticalTabs/index.js
  packages/core/src/App/Components/Elements/VerticalTabs/vertical-tab-headers.jsx
  packages/core/src/App/Components/Layout/Footer/toggle-settings.jsx
  packages/core/src/Modules/Cashier/Components/Error/no-balance.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app.scss
  packages/trader/src/App/Components/Elements/SideMenu/side-menu-headers.jsx
  packages/trader/src/App/Components/Elements/SideMenu/side-menu.jsx
  packages/trader/src/App/Components/Elements/VerticalTabs/__tests__/vertical-tab.spec.js
  packages/trader/src/App/Components/Elements/VerticalTabs/index.js
  packages/trader/src/App/Components/Elements/VerticalTabs/vertical-tab-content-container.jsx
  packages/trader/src/App/Components/Elements/VerticalTabs/vertical-tab-header.jsx
  packages/trader/src/App/Components/Elements/VerticalTabs/vertical-tab-headers.jsx
  packages/trader/src/App/Components/Elements/VerticalTabs/vertical-tab-layout.jsx
  packages/trader/src/App/Components/Elements/VerticalTabs/vertical-tab-wrapper.jsx
  packages/trader/src/App/Components/Elements/VerticalTabs/vertical-tab.jsx
  packages/trader/src/App/Components/Layout/Footer/toggle-settings.jsx
  packages/trader/src/Modules/Reports/Containers/reports.jsx
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/_common/components/contract-replay.scss
  packages/trader/src/sass/app/_common/components/side-menu.scss
  packages/trader/src/sass/app/modules/account.scss
Labels: Components, Core, Trader

#748 aaron/DBot GTM events
  packages/bot-web-ui/src/components/flyout-block-group.jsx
  packages/bot-web-ui/src/components/help-contents/flyout-help-base.jsx
  packages/bot-web-ui/src/components/run-panel.jsx
  packages/bot-web-ui/src/components/toolbar.jsx
  packages/bot-web-ui/src/stores/flyout-store.js
  packages/bot-web-ui/src/utils/gtm.js
  packages/components/src/components/icon/icon.jsx
  packages/components/src/components/tabs/tab.jsx
  packages/components/src/components/tabs/tabs.jsx
  packages/components/src/components/vertical-tab/vertical-tab-header-title.jsx
  packages/components/src/components/vertical-tab/vertical-tab-headers.jsx
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/components/stories/vertical-tabs/vertical-tabs.stories.js
  packages/trader/src/sass/app/_common/components/contract-replay.scss
Labels: Bot, Components

#751 Sam/fix contract popup glimpse bug
  packages/bot-web-ui/src/components/transaction.jsx
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#750 Fix style bleed
  packages/components/README.md
  packages/components/src/components/button-toggle/button-toggle.jsx
  packages/components/src/components/numpad/numpad.jsx
  packages/components/src/components/numpad/step-input.jsx
  packages/components/src/components/tick-picker/tick-picker.jsx
Labels: Mobile

#761 oskar/amount
  packages/components/src/components/button-toggle/button-toggle.jsx
  packages/components/src/components/collapsible/index.js
  packages/components/src/components/desktop-wrapper/desktop-wrapper.jsx
  packages/components/src/components/desktop-wrapper/index.js
  packages/components/src/components/div100vh-container/index.js
  packages/components/src/components/mobile-dialog/index.js
  packages/components/src/components/mobile-drawer/index.js
  packages/components/src/components/mobile-wrapper/index.js
  packages/components/src/components/mobile-wrapper/mobile-wrapper.jsx
  packages/components/src/components/numpad/index.js
  packages/components/src/components/numpad/step-input.jsx
  packages/components/src/components/progress-bar/index.js
  packages/components/src/components/tick-picker/index.js
  packages/components/src/components/toast-error/index.js
  packages/components/stories/collapsible/collapsible.stories.js
  packages/components/stories/numpad/numpad.stories.js
  packages/components/stories/progress-bar/progress-bar.stories.js
  packages/components/stories/tick-picker/tick-picker.stories.js
  packages/components/stories/toast-error/toast-error.stories.js
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount-mobile.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Mobile, Trader

#712 Sam/ fix help content navigation not working
  packages/bot-skeleton/src/scratch/help-content/help-content.config.js
  packages/bot-web-ui/src/assets/sass/flyout.scss
  packages/bot-web-ui/src/components/flyout.jsx
  packages/bot-web-ui/src/components/help-contents/flyout-help-base.jsx
  packages/bot-web-ui/src/stores/flyout-help-store.js
  packages/bot-web-ui/webpack.config.js
Labels: Bot

#760 zaki/mobile_contract_details
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/components/src/components/mobile-drawer/mobile-drawer.jsx
  packages/components/src/components/numpad/numpad.scss
  packages/components/src/components/page-overlay/index.js
  packages/components/src/components/page-overlay/page-overlay.jsx
  packages/components/src/components/page-overlay/page-overlay.scss
  packages/components/src/components/vertical-tab/vertical-tab-content-container.jsx
  packages/components/src/components/vertical-tab/vertical-tab-header.jsx
  packages/components/src/components/vertical-tab/vertical-tab-headers.jsx
  packages/components/src/components/vertical-tab/vertical-tab.jsx
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/components/webpack.config.js
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Routes/routes.jsx
  packages/core/src/Constants/routes.js
  packages/core/src/Modules/Cashier/Components/Error/account-transfer-no-account.jsx
  packages/core/src/Modules/Cashier/Components/Error/error.jsx
  packages/core/src/Modules/Cashier/Components/Error/no-balance.jsx
  packages/core/src/Modules/Cashier/Components/Error/virtual.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-receipt.jsx
  packages/core/src/Modules/Cashier/Components/cashier-container.jsx
  packages/core/src/Modules/Cashier/Components/payment-agent-list.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/Stores/common-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app/_common/components/side-menu.scss
  packages/core/src/sass/app/_common/components/vertical-tabs.scss
  packages/core/src/sass/app/_common/drawer/contract-drawer.scss
  packages/core/src/sass/app/_common/layout/layouts.scss
  packages/core/src/sass/app/modules/cashier.scss
  packages/core/src/sass/real-account-signup.scss
  packages/p2p/postcss.config.js
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.jsx
  packages/trader/src/App/Components/Layout/Footer/__tests__/toggle-positions.spec.js
  packages/trader/src/App/Components/Layout/Footer/toggle-positions.jsx
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/App/Containers/trade-footer-extensions.jsx
  packages/trader/src/App/Containers/trade-header-extensions.jsx
  packages/trader/src/Modules/Account/Containers/account.jsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/Contract/Containers/contract.jsx
  packages/trader/src/Modules/Reports/Containers/reports.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
  packages/trader/src/Stores/Modules/Contract/Helpers/chart-marker-helpers.js
  packages/trader/src/Stores/Modules/Contract/contract-replay-store.js
  packages/trader/src/sass/app/_common/components/contract-audit.scss
  packages/trader/src/sass/app/_common/components/contract-replay.scss
  packages/trader/src/sass/app/_common/drawer/contract-drawer.scss
  packages/trader/src/sass/app/_common/form/input-field.scss
  packages/trader/src/sass/app/_common/layout/layouts.scss
  packages/trader/src/sass/app/modules/account.scss
  packages/trader/src/sass/app/modules/contract.scss
  packages/trader/src/sass/app/modules/reports.scss
  packages/trader/src/sass/app/modules/smart-chart.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Mobile

#744 amam/p2p notification
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/core/src/App/Constants/header-links.js
  packages/core/src/App/app.js
  packages/core/src/Modules/Cashier/Containers/cashier-notifications.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Modules/Cashier/Containers/p2p-cashier.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/sass/app/modules/cashier.scss
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/orders/order-table/order-table-buy-row.jsx
  packages/p2p/src/components/orders/order-table/order-table-sell-row.jsx
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/utils/websocket.js
Labels: Components, Core, P2P

#766 msamprz/p2p_publish_v0.4.0
  packages/core/package.json
  packages/p2p/package.json
Labels: Core, P2P

#772 zaki/mobile_drawer_gestures_and_fixes
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/collapsible/collapsible.scss
  packages/components/src/components/div100vh-container/div100vh-container.jsx
  packages/components/src/components/mobile-drawer/mobile-drawer.jsx
  packages/components/src/components/mobile-drawer/mobile-drawer.scss
  packages/components/src/components/modal/modal.jsx
  packages/components/webpack.config.js
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-mobile.jsx
  packages/core/src/sass/app/_common/components/platform-dropdown.scss
  packages/core/src/sass/app/_common/layout/layouts.scss
  packages/shared/src/styles/themes.scss
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Components/Elements/ContentLoader/trade-params.jsx
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
  packages/trader/src/sass/app/_common/components/platform-dropdown.scss
  packages/trader/src/sass/app/_common/components/platform-switcher.scss
  packages/trader/src/sass/app/_common/layout/layouts.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Bot, Components, Core, Mobile, Trader

#755 aaron/Number validation
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot-skeleton/src/scratch/blocks/Math/math_number.js
  packages/bot-skeleton/src/scratch/blocks/Math/math_number_positive.js
  packages/bot-skeleton/src/scratch/xml/main.xml
Labels: Bot

#747 negar/update_p2p_api
  packages/components/.eslintrc.js
  packages/components/.stylelintrc.js
  packages/components/webpack.config.js
  packages/core/.eslintrc.js
  packages/core/.stylelintrc.js
  packages/p2p/.eslintrc.js
  packages/p2p/.stylelintrc.js
  packages/p2p/postcss.config.js
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/buy-sell/row.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/utils/websocket.js
  packages/p2p/webpack.config.js
  packages/shared/.eslintrc.js
  packages/shared/.stylelintrc.js
  packages/trader/.eslintrc.js
  packages/trader/.stylelintrc.js
Labels: P2P

#782 Update Numpad number orders
  packages/components/src/components/numpad/number-button.jsx
  packages/components/src/components/numpad/numpad.scss
Labels: Components, Mobile

#779 Conditionally render allow-equals component
  packages/trader/src/Modules/Trading/Containers/allow-equals.jsx
Labels: Mobile

#798 negar/remove_salutation
  packages/core/src/Stores/client-store.js
Labels: Core

#765 aaron/Register clicks outside Blockly
  packages/bot-skeleton/src/hooks/bubble.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-web-ui/src/app.jsx
Labels: Bot

#794 negar/fix_first_load_statement_style
  README.md
  packages/trader/src/sass/app/modules/reports.scss
Labels: Docs, Trader

#781 arash/relative native date picker
  packages/components/src/components/numpad/numpad.jsx
  packages/components/src/components/relative-datepicker/index.js
  packages/components/src/components/relative-datepicker/relative-datepicker.jsx
  packages/components/src/components/relative-datepicker/relative-datepicker.scss
  packages/components/stories/relative-datepicker/relative-datepicker.stories.js
  packages/components/webpack.config.js
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
Labels: Components, Mobile, Trader

#799 zaki/fix_trade_parameter_bugs
  packages/components/src/components/mobile-drawer/mobile-drawer.scss
  packages/components/src/components/tabs/tab.jsx
  packages/components/src/components/tabs/tabs.jsx
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/components/tick-picker/tick-picker.scss
  packages/core/src/sass/app/_common/layout/layouts.scss
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount-mobile.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Components, Core, Trader

#739 aaron/Quick strategy improvements
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/workspace.js
  packages/bot-skeleton/src/services/api/active-symbols.js
  packages/bot-web-ui/src/assets/sass/quick-strategy.scss
  packages/bot-web-ui/src/components/quick-strategy.jsx
  packages/bot-web-ui/src/components/transaction.jsx
  packages/bot-web-ui/src/stores/quick-strategy-store.js
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/button/button.jsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/dropdown-list/dropdown-list.jsx
  packages/components/src/components/dropdown-list/dropdown-list.scss
  packages/components/src/components/modal/modal.jsx
Labels: Bot, Components

#785 aaron/JS-Interpreter@^2.1.0
  packages/bot-skeleton/package-lock.json
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
Labels: Bot

#810 Bala/profit table mobile
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/components/src/components/mobile-dialog/mobile-dialog.scss
  packages/components/src/components/page-overlay/page-overlay.scss
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/sass/app/_common/components/date-picker.scss
  packages/shared/src/styles/constants.scss
  packages/trader/src/App/Components/Elements/DataList/data-list-cell.jsx
  packages/trader/src/App/Components/Elements/DataList/data-list.jsx
  packages/trader/src/App/Components/Elements/DataList/data-list.scss
  packages/trader/src/App/Components/Elements/DataList/index.js
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar-mobile.jsx
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar.jsx
  packages/trader/src/App/Components/Form/CompositeCalendar/list-item.jsx
  packages/trader/src/App/Components/Form/DatePicker/date-picker.jsx
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/reports.jsx
  packages/trader/src/Modules/Reports/Helpers/market-underlying.js
  packages/trader/src/Stores/Modules/Profit/profit-store.js
  packages/trader/src/sass/app/_common/components/composite-calendar.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Components, Core, Shared, Trader

#812 mamali/bugfix remove collapsible icon when empty
  packages/components/src/components/collapsible/collapsible.jsx
  packages/components/stories/collapsible/README.md
  packages/components/stories/collapsible/collapsible.stories.js
Labels: Components, Docs, Mobile

#801 aaron/Update wording text_print & text_prompt_ext
  packages/bot-skeleton/src/scratch/blocks/Text/text_print.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_prompt_ext.js
  packages/bot-skeleton/src/scratch/help-content/help-strings/text_print.js
  packages/bot-skeleton/src/scratch/help-content/help-strings/text_prompt_ext.js
Labels: Bot

#816 Bala/Statement report mobile
  packages/trader/src/App/Components/Elements/DataList/data-list.jsx
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/Stores/Modules/Statement/statement-store.js
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader

#769 Sam/Notify improvement
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc./notify.js
  packages/bot-skeleton/src/services/tradeEngine/utils/broadcast.js
  packages/bot-skeleton/webpack.config.js
  packages/bot-web-ui/src/app.jsx
  packages/bot-web-ui/src/assets/sass/journal.scss
  packages/bot-web-ui/src/components/audio.jsx
  packages/bot-web-ui/src/components/journal.jsx
  packages/bot-web-ui/src/stores/journal-store.js
Labels: Bot

#802 kelly/refactor_digits
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/swipeable-wrapper/index.js
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.jsx
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.scss
  packages/components/webpack.config.js
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/sass/app/_common/layout/layouts.scss
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/Modules/Contract/Components/Digits/digits.jsx
  packages/trader/src/Modules/Contract/Components/LastDigitPrediction/digit-display.jsx
  packages/trader/src/Modules/Contract/Components/LastDigitPrediction/index.js
  packages/trader/src/Modules/Contract/Components/LastDigitPrediction/last-digit-pointer.jsx
  packages/trader/src/Modules/Contract/Components/LastDigitPrediction/last-digit-prediction.jsx
  packages/trader/src/Modules/Contract/Containers/contract-replay-widget.jsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/SmartChart/Components/top-widgets.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/last-digit.jsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
  packages/trader/src/Modules/Trading/Containers/chart-widgets.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/sass/app/_common/components/number-selector.scss
  packages/trader/src/sass/app/modules/contract.scss
  packages/trader/src/sass/app/modules/contract/digits.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Bot, Components, Core, Trader

#821 kelly/update_vertical_tab_index
  packages/components/src/components/vertical-tab/vertical-tab.jsx
Labels: Components

#818 kelly/handle_contracts_list_change
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
Labels: Trader

#807 aaron/Add ids to bot
  packages/bot-web-ui/src/assets/sass/toolbar.scss
  packages/bot-web-ui/src/components/saveload-modal.jsx
  packages/bot-web-ui/src/components/toolbar.jsx
Labels: Bot

#825 Bala/Open positions report mobile
  packages/trader/src/App/Components/Elements/DataList/data-list.jsx
  packages/trader/src/Modules/Reports/Components/reports-meta.jsx
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader

#827 kelly/compare_prev_props
  packages/components/src/components/vertical-tab/vertical-tab.jsx
Labels: Components

#819 Fix collapsible Icon being shown
  packages/components/src/components/collapsible/collapsible.jsx
  packages/components/src/components/collapsible/collapsible.scss
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
  packages/trader/src/Modules/Trading/Containers/allow-equals.jsx
  packages/trader/src/Stores/Modules/Trading/Helpers/allow-equals.js
Labels: Components, Trader

#817 zaki/set_defaults_if_tick
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
  packages/trader/src/sass/app/modules/contract/digits.scss
Labels: Mobile, Trader

#814 Mahdi Aryayi / Mobile open positions
  packages/components/src/components/circular-progress/circular-progress.jsx
  packages/components/src/components/circular-progress/circular-progress.scss
  packages/components/src/components/circular-progress/index.js
  packages/components/src/components/tick-progress/index.js
  packages/components/src/components/tick-progress/tick-progress.jsx
  packages/components/src/components/tick-progress/tick-progress.scss
  packages/components/stories/circular-progress/circular-progress.stories.js
  packages/components/stories/tick-progress/tick-progress.stories.js
  packages/components/webpack.config.js
  packages/trader/src/App/Components/Elements/PositionsDrawer/ProgressSliderMobile/index.js
  packages/trader/src/App/Components/Elements/PositionsDrawer/ProgressSliderMobile/positions-progress-slider-mobile.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/ProgressSliderMobile/progress-ticks-mobile.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.jsx
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.jsx
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer-modal.scss
Labels: Components, Trader

#828 zaki/fix_collapsible_digits
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
Labels: Trader

#832 zaki/add_purchase_disabled_style
  packages/trader/src/sass/app/_common/components/purchase-button.scss
Labels: Trader

#831 aaron/Filter trade types in quick strategy
  packages/bot-skeleton/src/constants/config.js
  packages/bot-skeleton/src/scratch/hooks/workspace.js
  packages/bot-web-ui/src/stores/quick-strategy-store.js
Labels: Bot

#768 negar/p2p_updates
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/socket_base.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/buy-sell/buy-table.jsx
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/buy-sell/row.jsx
  packages/p2p/src/components/buy-sell/sell-table.jsx
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-ads/my-ads-summary.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-ads/toggle-ads.jsx
  packages/p2p/src/components/orders/order-details/order-actions-block.jsx
  packages/p2p/src/components/orders/order-details/order-details-result-message.jsx
  packages/p2p/src/components/orders/order-details/order-details-status-block.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-info.js
  packages/p2p/src/components/orders/order-table/order-table-buy-row.jsx
  packages/p2p/src/components/orders/order-table/order-table-sell-row.jsx
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/utils/websocket.js
Labels: Core, P2P

#836 zaki/disable_unsupported_trade_types
  packages/components/src/components/mobile-dialog/mobile-dialog.scss
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
  packages/trader/src/Modules/Trading/Helpers/contract-type.js
  packages/trader/src/sass/app/_common/components/composite-calendar.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Components, Trader

#815 Sam/add serve:bot script
  README.md
  package.json
  packages/core/build/webpack.config.js
  packages/core/package.json
Labels: Core, Docs

#800 aaron/Miscellaneous Bug fixes
  packages/bot-skeleton/src/constants/messages.js
  packages/bot-skeleton/src/scratch/blocks/Binary/After Purchase/after_purchase.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Before Purchase/before_purchase.js
  packages/bot-skeleton/src/scratch/blocks/Binary/During Purchase/during_purchase.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tick Analysis/tick_analysis.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc./block_holder.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc./useless_block.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition.js
  packages/bot-skeleton/src/scratch/blocks/Math/math_number.js
  packages/bot-skeleton/src/scratch/blocks/Math/math_number_positive.js
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
  packages/bot-skeleton/src/scratch/hooks/index.js
  packages/bot-skeleton/src/scratch/hooks/utils.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/assets/sass/workspace.scss
  packages/bot-web-ui/src/components/journal.jsx
Labels: Bot

#830 Add swipeable gestures
  packages/components/src/components/collapsible/collapsible.jsx
  packages/components/src/components/tick-picker/tick-picker.jsx
  packages/components/stories/collapsible/README.md
  packages/core/src/sass/app/_common/layout/layouts.scss
Labels: Components, Core, Docs, Mobile, Trader

#823 Mehrzad / Category color change
  packages/bot-web-ui/src/assets/sass/toolbox.scss
Labels: Bot, Core

#839 negar/clear_error_on_toggle
  packages/p2p/src/components/my-ads/toggle-ads.jsx
Labels: P2P

#840 negar/allow_plus
  packages/p2p/src/components/my-ads/form-ads.jsx
Labels: P2P

#842 V20200220_0
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/socket_base.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/buy-sell/buy-table.jsx
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/buy-sell/row.jsx
  packages/p2p/src/components/buy-sell/sell-table.jsx
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-ads/my-ads-summary.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-ads/toggle-ads.jsx
  packages/p2p/src/components/orders/order-details/order-actions-block.jsx
  packages/p2p/src/components/orders/order-details/order-details-result-message.jsx
  packages/p2p/src/components/orders/order-details/order-details-status-block.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-info.js
  packages/p2p/src/components/orders/order-table/order-table-buy-row.jsx
  packages/p2p/src/components/orders/order-table/order-table-sell-row.jsx
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/utils/websocket.js
Labels: Core, P2P

#789 mehrzad / toolbar-button-order-reset-icon
  packages/bot-web-ui/src/components/toolbar.jsx
  packages/components/src/components/icon/common/ic-reset.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Bot, Components

#841 zaki/add_landscape_blocker_ui
  packages/core/src/index.html
  packages/core/src/sass/app/_common/layout/layouts.scss
  packages/shared/src/styles/devices.scss
Labels: Core, Mobile, Shared

#804 aaron/Account switch disable
  packages/bot-web-ui/src/app.jsx
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/components/src/components/icon/common/ic-lock.svg
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Components/Layout/Header/account-info.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
Labels: Bot, Components, Core

#820 Mehrzad / change button style to secondary
  packages/bot-web-ui/src/components/help-contents/flyout-help-base.jsx
Labels: Bot

#833 aaron/Default to Synthetic Index when Forex is closed
  packages/bot-skeleton/src/services/api/active-symbols.js
Labels: Bot

#684 Sam/Show recent file
  packages/bot-skeleton/src/constants/config.js
  packages/bot-skeleton/src/constants/index.js
  packages/bot-skeleton/src/constants/save-type.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradetype.js
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-skeleton/src/utils/date-time-helper.js
  packages/bot-skeleton/src/utils/index.js
  packages/bot-skeleton/src/utils/local-storage.js
  packages/bot-web-ui/src/app.jsx
  packages/bot-web-ui/src/assets/sass/load-modal.scss
  packages/bot-web-ui/src/assets/sass/save-modal.scss
  packages/bot-web-ui/src/components/load-modal.jsx
  packages/bot-web-ui/src/components/save-modal.jsx
  packages/bot-web-ui/src/components/saveload-modal.jsx
  packages/bot-web-ui/src/components/toolbar.jsx
  packages/bot-web-ui/src/constants/bot-contents.js
  packages/bot-web-ui/src/constants/button-status.js
  packages/bot-web-ui/src/constants/transactions.js
  packages/bot-web-ui/src/constants/z-indexes.js
  packages/bot-web-ui/src/stores/flyout-store.js
  packages/bot-web-ui/src/stores/google-drive-store.js
  packages/bot-web-ui/src/stores/index.js
  packages/bot-web-ui/src/stores/load-modal-store.js
  packages/bot-web-ui/src/stores/quick-strategy-store.js
  packages/bot-web-ui/src/stores/save-modal-store.js
  packages/bot-web-ui/src/stores/saveload-modal-store.js
  packages/bot-web-ui/src/stores/toolbar-store.js
  packages/bot-web-ui/src/stores/transactions-store.js
  packages/components/src/components/icon/brand/ic-google-drive.svg
  packages/components/src/components/icon/common/ic-empty-folder.svg
  packages/components/src/components/icon/common/ic-pc.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/modal/modal.scss
  packages/components/src/components/tabs/tabs.jsx
  packages/components/src/components/tabs/tabs.scss
  packages/components/stories/icon/icons.js
  packages/shared/src/styles/constants.scss
Labels: Bot, Components

#849 Mehrzad / quick strategy sentence case
  packages/bot-skeleton/src/scratch/hooks/toolbox.js
Labels: Bot

#854 zaki/hide_other_platforms
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/sass/app/_common/components/platform-switcher.scss
Labels: Core, Mobile

#856 kelly/handle_undefined_min_max
  packages/trader/src/App/Components/Form/RangeSlider/tick-steps.jsx
Labels: Trader

#838 kelly/contract_details_mobile
  packages/components/src/components/collapsible/arrow-button.jsx
  packages/components/src/components/collapsible/collapsible.jsx
  packages/components/src/components/collapsible/collapsible.scss
  packages/components/src/components/collapsible/index.js
  packages/components/src/components/icon/common/ic-chevron-up.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/page-overlay/page-overlay.jsx
  packages/components/src/components/page-overlay/page-overlay.scss
  packages/components/src/components/swipeable-wrapper/index.js
  packages/components/stories/icon/icons.js
  packages/core/src/sass/app/_common/components/notification-message.scss
  packages/core/src/sass/app/_common/drawer/contract-drawer.scss
  packages/core/src/sass/app/_common/layout/layouts.scss
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-card-footer.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/swipeable-components.jsx
  packages/trader/src/App/Components/Elements/DataList/data-list.scss
  packages/trader/src/App/Components/Elements/PositionsDrawer/contract-type-cell.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/result-overlay.jsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
  packages/trader/src/sass/app/_common/components/number-selector.scss
  packages/trader/src/sass/app/_common/drawer/contract-drawer.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer-modal.scss
  packages/trader/src/sass/app/_common/layout/layouts.scss
  packages/trader/src/sass/app/_common/mobile-widget.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Components, Core, Mobile, Trader

#858 zaki/open_positions_and_duration_label_fix
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.jsx
  packages/trader/src/Modules/Reports/Helpers/market-underlying.js
Labels: Mobile, Trader

#859 Mahdi Aryayi / Added the new won/lost badge to the positions-modal-card
  packages/trader/src/App/Components/Elements/PositionsDrawer/ProgressSliderMobile/positions-progress-slider-mobile.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/result-mobile.jsx
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/_common/drawer/positions-modal-card.scss
Labels: Mobile, Trader

#861 zaki/ update_smartcharts_mobile
  package-lock.json
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
Labels: Bot, Core, Mobile, Trader

#863 zaki/smartchart_and_mobile_updates
  packages/components/src/components/numpad/numpad.jsx
  packages/components/src/components/numpad/numpad.scss
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/Trading/Containers/allow-equals.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Components, Mobile, Trader

#860 Bala/default routing
  packages/trader/src/Modules/Reports/Containers/reports.jsx
Labels: Trader

#852 Bala/Numpad fixes
  packages/components/src/components/numpad/numpad.jsx
  packages/components/src/components/numpad/step-input.jsx
  packages/components/src/components/tabs/tab.jsx
  packages/components/src/components/tabs/tabs.jsx
  packages/components/src/components/tabs/tabs.scss
  packages/shared/src/styles/constants.scss
  packages/shared/src/utils/currency/currency.js
  packages/shared/src/utils/currency/index.js
  packages/trader/src/App/Components/Elements/DataList/data-list.scss
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
  packages/trader/src/sass/app/_common/components/composite-calendar.scss
  packages/trader/src/sass/app/modules/reports.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Components, Mobile, Shared, Trader
