Repository deriv-com/deriv-app, pull requests merged in 2020-07, with the labels that each got.

#1385 V20200630_0
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_sort.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_prompt_ext.js
  packages/bot-web-ui/src/components/quick-strategy.jsx
  packages/components/src/components/checklist/checklist.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/Modules/Cashier/Containers/p2p-cashier.jsx
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/p2p/src/assets/svgComponents/logo-play-store.svg
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell-table-content.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/nickname/nickname-form.jsx
  packages/p2p/src/components/nickname/nickname-form.scss
  packages/p2p/src/components/orders/order-details/order-details-status-block.jsx
  packages/p2p/src/components/verification/download.jsx
  packages/p2p/src/components/verification/download.scss
  packages/p2p/src/components/verification/verification.jsx
  packages/p2p/src/components/verification/verification.scss
  packages/p2p/webpack.config.js
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Bot, Components, Core, P2P, Translations

#1387 oskar/update_balance_all_handling
  packages/core/src/Stores/client-store.js
Labels: Core

#1388 V20200630_1
  packages/core/src/Stores/client-store.js
Labels: Core

#1390 Update eu 02 07
  packages/core/src/Stores/client-store.js
Labels: Core

#1382 zaki/add_mt5_server_broker
  packages/trader/src/Modules/MT5/Components/mt5-info-copy.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Helpers/constants.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Trader

#1379 oskar/invalidtoken_to_trackjs
  packages/core/src/Services/socket-general.js
Labels: Core

#1394 zaki/broker_name_hotfix
  packages/trader/src/Modules/MT5/Components/mt5-info-copy.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Helpers/constants.js
Labels: Trader

#1396 V20200702_0
  packages/core/src/Services/socket-general.js
  packages/trader/src/Modules/MT5/Components/mt5-info-copy.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Helpers/constants.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Core, Trader

#1256 Sam/fix constant not translated in bot
  packages/bot-web-ui/src/components/footer-extension.jsx
  packages/bot-web-ui/src/components/journal.jsx
  packages/bot-web-ui/src/components/load-modal.jsx
  packages/bot-web-ui/src/components/trade-animation.jsx
  packages/bot-web-ui/src/components/transactions.jsx
  packages/bot-web-ui/src/constants/bot-contents.js
  packages/bot-web-ui/src/constants/contract-stage.js
  packages/bot-web-ui/src/stores/contract-card-store.js
  packages/bot-web-ui/src/stores/load-modal-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/utils/firestore.js
Labels: Bot

#1302 Mehrzad/update transactions and journal icon position
  packages/bot-web-ui/src/assets/sass/journal.scss
  packages/bot-web-ui/src/assets/sass/transactions.scss
Labels: Bot

#1337 Bala/Trade params shallow copy
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.js
  packages/trader/src/Stores/Modules/Trading/Helpers/process.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#1391 oskar/invalid_token_new_account
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
Labels: Core

#1383 carol/Aggregate operations bug
  packages/bot-skeleton/src/scratch/blocks/Math/math_on_list.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
Labels: Bot

#1378 Sam/remove last pass icon from input
  packages/p2p/src/components/my-ads/form-ads.jsx
Labels: P2P

#1312 Sam/P2p copy update
  packages/components/src/components/input/input.jsx
  packages/components/src/components/input/input.scss
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/orders/order-details/order-actions-block.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/components/orders/popup.jsx
  packages/p2p/src/components/verification/verification.jsx
  packages/p2p/src/components/verification/verification.scss
Labels: Components, P2P

#1199 Sam/toolbar responsive
  packages/bot-web-ui/src/assets/sass/toolbar.scss
  packages/bot-web-ui/src/components/toolbar.jsx
  packages/components/src/components/icon/common/ic-folder-open-filled.svg
  packages/components/src/components/icon/common/ic-puzzle.svg
  packages/components/src/components/icon/common/ic-save-filled.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Bot, Components

#1377 Sam/ Bot search not working
  packages/bot-skeleton/src/scratch/blocks/Text/text_prompt_ext.js
Labels: Bot

#1304 Shayan/modify classname of chart
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/smart-chart.scss
Labels: Trader

#1397 oskar/fix_login_from_deriv
  packages/core/src/Stores/client-store.js
Labels: Core

#1381 Sam/update status refunded to expired
  packages/p2p/src/components/orders/order-details/order-details-status-block.jsx
  packages/p2p/src/components/orders/order-info.js
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
Labels: P2P

#1400 Sam/update sendbird appid on production
  packages/p2p/src/components/app.jsx
Labels: P2P

#1405 mamali/Fix deriv-shared imports
  packages/components/stories/relative-datepicker/relative-datepicker.stories.js
  packages/core/src/App/Components/Layout/Footer/account-limits.jsx
  packages/core/src/App/Components/Layout/Footer/go-to-deriv.jsx
  packages/core/src/App/Components/Layout/Footer/responsible-trading.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use-form.js
Labels: Components, Core

#1348 mamali/Mt5 account visibility
  packages/core/src/App/Components/Elements/Modals/mt5-account-needed-modal.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/Stores/Helpers/client.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Stores/Modules/MT5/Helpers/mt5-config.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Account, Components, Core, Trader

#1409 Remove deriv-eu related commits from mt5 link generators
  packages/trader/src/Modules/MT5/Helpers/constants.js
Labels: Trader

#1412 zaki/fix_notouch_sell_bug
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
Labels: Trader

#1398 mamali|mahdi.a/Fix iom bugs
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-card.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/core/src/sass/app/modules/account-types.scss
Labels: Core, Shared

#1411 aaron/DBot Fix stop button
  packages/bot-skeleton/src/scratch/blocks/Binary/During Purchase/sell_price.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_getSubstring.js
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#1392 Eu bug fix 1
  packages/account/src/Components/form-sub-header/form-sub-header.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/field-error/field-error.scss
  packages/components/src/components/form-progress/form-progress.scss
  packages/components/src/components/form-submit-button/form-submit-button.scss
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/financial-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-buttons.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-heading.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-message.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use-messages.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
  packages/core/src/sass/currency-select-radio.scss
  packages/core/src/sass/details-form.scss
  packages/trader/src/Stores/Modules/MT5/Helpers/mt5-config.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Account, Components, Core, Trader

#1414 msamprz/deriv_app_translations
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#1418 aaron/DBot Hotfix run/stop button state
  packages/bot-web-ui/src/components/trade-animation.jsx
  packages/bot-web-ui/src/components/transactions.jsx
  packages/bot-web-ui/src/stores/contract-card-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#1277 negar/update_mt5_names
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/Helpers/client.js
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/_common/base/client_base.js
  packages/trader/src/Stores/Helpers/client.js
  packages/trader/src/Stores/Modules/MT5/Helpers/mt5-config.js
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
Labels: Core, Trader

#1401 Shayan/fix issue of crosshair option for contract detail chart
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
Labels: Trader

#1423 negar/update_mt5_names_prod
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/Helpers/client.js
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/_common/base/client_base.js
  packages/trader/src/Stores/Helpers/client.js
  packages/trader/src/Stores/Modules/MT5/Helpers/mt5-config.js
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
Labels: Core, Trader

#1426 Revert "negar/update_mt5_names_prod"
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/Helpers/client.js
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/_common/base/client_base.js
  packages/trader/src/Stores/Helpers/client.js
  packages/trader/src/Stores/Modules/MT5/Helpers/mt5-config.js
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
Labels: Core, Trader

#1425 Revert "negar/update_mt5_names"
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/Helpers/client.js
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/_common/base/client_base.js
  packages/trader/src/Stores/Helpers/client.js
  packages/trader/src/Stores/Modules/MT5/Helpers/mt5-config.js
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
Labels: Core, Trader

#1436 negar/update_mt5_names_prod
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/Helpers/client.js
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/_common/base/client_base.js
  packages/trader/src/Stores/Helpers/client.js
  packages/trader/src/Stores/Modules/MT5/Helpers/mt5-config.js
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
Labels: Core, Trader

#1437 negar/update_mt5_names
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/Helpers/client.js
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/_common/base/client_base.js
  packages/trader/src/Stores/Helpers/client.js
  packages/trader/src/Stores/Modules/MT5/Helpers/mt5-config.js
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
Labels: Core, Trader

#1435 msamprz/update_app_links
  .circleci/config.yml
  docs/JavaScript/README.md
  docs/README.md
  packages/account/src/Duplicated/App/Constants/app-config.js
  packages/account/src/Duplicated/_common/base/login.js
  packages/account/src/Duplicated/config.js
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/services/api/appIdResolver.js
  packages/bot-web-ui/package.json
  packages/core/README.md
  packages/core/src/App/Components/Elements/Modals/DenialOfServiceModal/denial-of-service.jsx
  packages/core/src/App/Constants/app-config.js
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/gtm-store.js
  packages/core/src/_common/base/login.js
  packages/core/src/index.html
  packages/core/src/root_files/localstorage-sync.html
  packages/core/src/root_files/sitemap.xml
  packages/shared/src/utils/config/config.js
  packages/shared/src/utils/storage/storage_events.js
  packages/shared/src/utils/url/__tests__/url.js
  packages/trader/README.md
  packages/trader/build/config.js
  packages/trader/src/App/Components/Elements/Modals/UnsupportedContractModal/unsupported-contract-modal.jsx
  packages/trader/src/App/Constants/app-config.js
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/barrier.jsx
  packages/trader/src/_common/base/login.js
  packages/trader/src/root_files/404.html
  packages/trader/src/root_files/robots.txt
  packages/trader/src/root_files/sitemap.xml
Labels: Account, Bot, Core, Docs, Shared, Trader

#1441 msamprz/update_app_links
  packages/account/src/Duplicated/_common/base/login.js
  packages/account/src/Duplicated/config.js
  packages/core/src/_common/base/login.js
  packages/shared/src/utils/config/config.js
  packages/trader/src/_common/base/login.js
Labels: Account, Core, Shared, Trader

#1307 Bala/Complaints policy
  packages/account/src/Constants/routes-config.js
  packages/components/src/components/icon/common/ic-complaints-policy.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/mobile-drawer/mobile-drawer-submenu.jsx
  packages/components/src/components/mobile-drawer/mobile-drawer.scss
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Footer/index.js
  packages/core/src/App/Components/Layout/Footer/toggle-complaints-policy.jsx
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy.jsx
  packages/core/src/Modules/ComplaintsPolicy/index.js
  packages/core/src/_common/lazy-load.js
  packages/core/src/sass/app/_common/components/platform-dropdown.scss
  packages/core/src/sass/app/_common/layout/footer.scss
  packages/core/src/sass/app/_common/layout/header.scss
  packages/core/src/sass/app/modules/complaints-policy.scss
  packages/shared/src/utils/route/route.js
  packages/shared/src/utils/routes/routes.js
  packages/trader/src/App/Constants/routes-config.js
Labels: Account, Components, Core, Shared, Trader

#1367 Nijil/Journal filter design update
  packages/bot-web-ui/src/assets/sass/bot-ui-dialog.scss
  packages/bot-web-ui/src/assets/sass/journal.scss
  packages/bot-web-ui/src/components/journal.jsx
  packages/bot-web-ui/src/stores/journal-store.js
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/icon/common/ic-filter.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/page-overlay/page-overlay.jsx
  packages/components/src/hooks/use-onclickoutside.js
  packages/components/stories/icon/icons.js
  packages/components/webpack.config.js
Labels: Bot, Components

#1122 salar / login history (Deriv EU)
  packages/account/package-lock.json
  packages/account/package.json
  packages/account/src/Constants/routes-config.js
  packages/account/src/Sections/Security/LoginHistory/index.js
  packages/account/src/Sections/Security/LoginHistory/login-history.jsx
  packages/account/src/Sections/Security/login-history.jsx
  packages/account/src/Sections/index.js
  packages/account/src/Styles/account.scss
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/_common/base/socket_base.js
  packages/shared/src/utils/routes/routes.js
Labels: Account, Core, Shared, Trader

#1318 Amam/self exclusion
  packages/account/src/Components/article/article.jsx
  packages/account/src/Components/article/index.js
  packages/account/src/Constants/routes-config.js
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/account/src/Sections/Security/ApiToken/article.jsx
  packages/account/src/Sections/Security/SelfExclusion/article.jsx
  packages/account/src/Sections/Security/SelfExclusion/index.js
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/article.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/account/src/Sections/Security/self-exclusion.jsx
  packages/account/src/Sections/index.js
  packages/account/src/Styles/account.scss
  packages/components/src/components/calendar/calendar-footer.jsx
  packages/components/src/components/date-picker/date-picker.jsx
  packages/components/src/components/date-picker/date-picker.scss
  packages/components/src/components/icon/common/ic-stop.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Constants/routes-config.js
  packages/shared/src/utils/currency/currency.js
  packages/shared/src/utils/date/date-time.js
  packages/shared/src/utils/routes/routes.js
Labels: Account, Components, Core, Shared

#1422 Sam/append hashtag to replaceState
  packages/core/src/Stores/client-store.js
Labels: Core

#1413 Sam/add release button after expired
  packages/p2p/src/components/orders/order-details/order-actions-block.jsx
Labels: P2P

#1320 Shayan/update the barrier with previous state
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#1142 salar / cookie banner eu
  packages/core/src/App/Components/Elements/CookieBanner/cookie-banner.jsx
  packages/core/src/App/Constants/app-config.js
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/_common/utility.js
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/components/cookie-banner.scss
  packages/shared/src/utils/url/url.js
Labels: Core, Shared

#1246 aaron/Cashier onramp
  packages/components/src/components/button/button.jsx
  packages/components/src/components/hint-box/hint-box.jsx
  packages/components/src/components/hint-box/hint-box.scss
  packages/components/src/components/hint-box/index.js
  packages/components/src/components/icon/cashier/ic-cashier-changelly.svg
  packages/components/src/components/icon/cashier/ic-cashier-maestro.svg
  packages/components/src/components/icon/cashier/ic-cashier-mastercard.svg
  packages/components/src/components/icon/cashier/ic-cashier-off-ramp.svg
  packages/components/src/components/icon/cashier/ic-cashier-on-ramp.svg
  packages/components/src/components/icon/cashier/ic-cashier-visa.svg
  packages/components/src/components/icon/common/ic-copy.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/components/webpack.config.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/Modules/Cashier/Components/on-ramp-provider-card.jsx
  packages/core/src/Modules/Cashier/Components/on-ramp-provider-popup.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Modules/Cashier/Containers/on-ramp.jsx
  packages/core/src/Modules/Cashier/index.js
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/Stores/Modules/Cashier/on-ramp-store.js
  packages/core/src/_common/base/socket_base.js
  packages/core/src/sass/app/modules/on-ramp.scss
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
  packages/shared/src/utils/routes/routes.js
Labels: Components, Core, Shared

#1406 aaron/Remove Firebase
  packages/bot-skeleton/package-lock.json
  packages/bot-skeleton/package.json
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/utils/firestore.js
Labels: Bot

#1389 Sam/route back from poi
  packages/account/src/Components/poi-upload-complete/upload-complete.jsx
  packages/account/src/Components/poi-verified/verified.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/account/src/Styles/account.scss
  packages/core/src/Modules/Cashier/Containers/p2p-cashier.jsx
  packages/core/src/Stores/common-store.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/verification/verification.jsx
  packages/p2p/src/components/verification/verification.scss
  packages/shared/src/utils/platform/platform.js
Labels: Account, Core, P2P, Shared

#1290 Mehrzad / update load strategy
  packages/bot-web-ui/src/assets/sass/load-modal.scss
  packages/bot-web-ui/src/components/load-modal.jsx
  packages/bot-web-ui/src/stores/google-drive-store.js
  packages/bot-web-ui/src/stores/load-modal-store.js
  packages/components/src/components/icon/common/ic-mobile.svg
  packages/components/src/components/page-overlay/page-overlay.jsx
Labels: Bot, Components

#1444 zaki / sync dev and master
  packages/account/package-lock.json
  packages/account/package.json
  packages/account/src/Constants/routes-config.js
  packages/account/src/Sections/Security/LoginHistory/index.js
  packages/account/src/Sections/Security/LoginHistory/login-history.jsx
  packages/account/src/Sections/Security/login-history.jsx
  packages/account/src/Sections/index.js
  packages/account/src/Styles/account.scss
  packages/core/src/App/Components/Elements/CookieBanner/cookie-banner.jsx
  packages/core/src/App/Constants/app-config.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/_common/base/socket_base.js
  packages/core/src/_common/utility.js
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/components/cookie-banner.scss
  packages/p2p/src/components/orders/order-details/order-actions-block.jsx
  packages/shared/src/utils/routes/routes.js
  packages/shared/src/utils/url/url.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Account, Core, P2P, Shared, Trader

#1445 zaki / fixed_cookie_banner_import
  packages/core/src/App/Components/Elements/CookieBanner/cookie-banner.jsx
Labels: Core

#1449 msamprz/update_app_links
  packages/account/src/Duplicated/config.js
  packages/shared/src/utils/config/config.js
Labels: Account, Shared

#1450 zaki / fix_wrong_subroute_title
  packages/core/src/App/Constants/routes-config.js
Labels: Core

#1417 Sara / Updated statement header
  packages/core/src/_common/base/socket_base.js
  packages/trader/src/Modules/Reports/Components/reports-meta.jsx
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/sass/app/_common/components/composite-calendar.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Core, Trader

#1415 mamali/eu-bug-fix-iteration-2
  packages/components/src/components/form-progress/form-progress.scss
  packages/components/src/components/icon/common/ic-circle.svg
  packages/components/src/components/mobile-carousel/index.js
  packages/components/src/components/mobile-carousel/mobile-carousel.jsx
  packages/components/src/components/mobile-carousel/mobile-carousel.scss
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/components/stories/icon/icons.js
  packages/components/webpack.config.js
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/financial-details-partials.jsx
  packages/core/src/App/Containers/RealAccountSignup/financial-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-buttons.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-heading.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-message.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/signup-error-content.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use-messages.jsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/_common/base/cancellable_promise.js
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
  packages/core/src/sass/app/modules/account-types.scss
  packages/core/src/sass/currency-select-radio.scss
  packages/core/src/sass/details-form.scss
Labels: Components, Core

#1453 aaron/Hide on-ramp on mobile
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/Modules/Cashier/Containers/on-ramp.jsx
  packages/core/src/Stores/Modules/Cashier/on-ramp-store.js
  packages/core/src/sass/app/modules/on-ramp.scss
Labels: Core

#1462 amam-zaki/fix_affiliate_token
  packages/core/src/Stores/client-store.js
Labels: Core

#1455 [eu] mamali/swipe gesture for account modal
  packages/components/src/components/mobile-carousel/mobile-carousel.jsx
Labels: Components, Core

#1457 amam/fix onfido staging breaks
  packages/account/package-lock.json
  packages/account/package.json
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
Labels: Account

#1478 Update eu 20 07
  packages/account/package-lock.json
  packages/account/package.json
  packages/account/src/Duplicated/config.js
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/Modules/Cashier/Containers/on-ramp.jsx
  packages/core/src/Stores/Modules/Cashier/on-ramp-store.js
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/modules/on-ramp.scss
  packages/shared/src/utils/config/config.js
Labels: Account, Core, Shared

#1475 zaki / fix_truncated_set_currency_dialog_mobile
  packages/core/src/App/Containers/SetAccountCurrencyModal/set-currency-modal.jsx
  packages/core/src/sass/account-wizard.scss
Labels: Core

#1474 Sam/fix p2p verification blank
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
Labels: Core

#1472 oskar/fix_fractional_digits_check
  packages/core/src/Stores/client-store.js
Labels: Core

#1432 amam/enable_livechat
  packages/components/src/components/icon/common/ic-live-chat.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/mobile-drawer/mobile-drawer.jsx
  packages/components/src/components/mobile-drawer/mobile-drawer.scss
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Elements/live-chat.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/Stores/ui-store.js
  packages/core/src/index.html
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/components/live-chat.scss
Labels: Components, Core, Trader

#1273 Mehrzad/quick strategy responsive
  packages/bot-web-ui/src/assets/sass/quick-strategy.scss
  packages/bot-web-ui/src/components/quick-strategy.jsx
  packages/core/src/Stores/ui-store.js
Labels: Account, Bot, Core, Docs, Shared, Trader

#1443 aaron/P2p verification race condition
  packages/p2p/src/components/app.jsx
  packages/p2p/src/utils/websocket.js
Labels: P2P

#1403 aaron/P2p content misaligned
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell-table-content.jsx
  packages/p2p/src/components/empty/empty.jsx
  packages/p2p/src/components/empty/empty.scss
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
  packages/p2p/src/utils/height_constants.js
Labels: P2P

#1420 mamali/fix-dropdown-focus-issue
  packages/components/src/components/dropdown/dropdown.jsx
Labels: Account, Components

#1476 Sam/fix wrong name in sell type
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/utils/websocket.js
Labels: P2P

#1442 Mehrzad / Save modal radio
  packages/bot-web-ui/src/assets/sass/save-modal.scss
  packages/bot-web-ui/src/components/save-modal.jsx
  packages/components/src/components/icon/common/ic-desktop.svg
  packages/components/src/components/radio-group/radio.jsx
Labels: Bot, Components

#1486 Bala/Hide complaints policy
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
Labels: Core

#1253 Nijil/Responsive transactions tab
  packages/bot-web-ui/src/assets/sass/app.scss
  packages/bot-web-ui/src/assets/sass/journal.scss
  packages/bot-web-ui/src/assets/sass/run-panel.scss
  packages/bot-web-ui/src/assets/sass/transactions.scss
  packages/bot-web-ui/src/components/journal.jsx
  packages/bot-web-ui/src/components/transaction.jsx
  packages/bot-web-ui/src/components/transactions.jsx
Labels: Bot

#1464 Sam/Responsive animation panel
  packages/bot-skeleton/src/constants/config.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Total.js
  packages/bot-web-ui/src/assets/sass/app.scss
  packages/bot-web-ui/src/assets/sass/bot-ui-dialog.scss
  packages/bot-web-ui/src/assets/sass/run-panel.scss
  packages/bot-web-ui/src/assets/sass/toolbar.scss
  packages/bot-web-ui/src/assets/sass/trade-animation.scss
  packages/bot-web-ui/src/assets/sass/transactions.scss
  packages/bot-web-ui/src/components/contract-result-overlay.jsx
  packages/bot-web-ui/src/components/dialog.jsx
  packages/bot-web-ui/src/components/journal.jsx
  packages/bot-web-ui/src/components/run-panel.jsx
  packages/bot-web-ui/src/components/summary.jsx
  packages/bot-web-ui/src/components/toolbar.jsx
  packages/bot-web-ui/src/components/trade-animation.jsx
  packages/bot-web-ui/src/components/transactions.jsx
  packages/bot-web-ui/src/constants/z-indexes.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/summary-store.js
  packages/bot-web-ui/src/utils/gtm.js
  packages/components/src/components/drawer/drawer.jsx
  packages/components/src/components/drawer/drawer.scss
Labels: Account, Bot, Components, Core

#1380 Sam/add notification count to order button toggle
  packages/components/src/components/button-toggle/button-toggle.jsx
  packages/components/src/components/button-toggle/button-toggle.scss
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/components/table/infinite-loader-list.jsx
Labels: Components, P2P

#1034 Arash/Connected apps
  packages/account/src/Constants/routes-config.js
  packages/account/src/Sections/Security/ConnectedApps/connected-apps.jsx
  packages/account/src/Sections/Security/ConnectedApps/data-table-template.jsx
  packages/account/src/Sections/Security/ConnectedApps/index.js
  packages/account/src/Sections/Security/connected-apps.jsx
  packages/account/src/Sections/index.js
  packages/account/src/Styles/account.scss
  packages/components/src/components/data-list/data-list-cell.jsx
  packages/components/src/components/icon/common/ic-account-trash-can.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Constants/routes-config.js
  packages/shared/src/utils/routes/routes.js
Labels: Account, Bot, Components, Core, Shared, Trader

#1454 [eu] mamali/mt5 account rename
  packages/components/src/components/auto-height-wrapper/auto-height-wrapper.jsx
  packages/components/stories/icon/icons.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/Stores/Helpers/client.js
  packages/core/src/sass/details-form.scss
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Stores/Helpers/client.js
  packages/trader/src/Stores/Modules/MT5/Helpers/mt5-config.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, Core, Trader

#1471 Mahdi Aryayi / Footer icon colors fixed
  packages/components/src/components/icon/common/ic-account-limits.svg
  packages/components/src/components/icon/common/ic-deriv-outline.svg
  packages/components/src/components/icon/common/ic-regulatory-information.svg
  packages/core/src/App/Components/Layout/Footer/account-limits.jsx
  packages/core/src/App/Components/Layout/Footer/go-to-deriv.jsx
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
  packages/core/src/App/Components/Layout/Footer/responsible-trading.jsx
  packages/core/src/App/Components/Layout/Footer/toggle-fullscreen.jsx
  packages/core/src/App/Components/Layout/Footer/toggle-settings.jsx
Labels: Components, Core

#1470 Fix eu bugs 3
  packages/account/src/Styles/account.scss
  packages/components/src/components/date-picker/date-picker-native.jsx
  packages/components/src/components/date-picker/date-picker.jsx
  packages/components/src/components/select-native/select-native.scss
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/financial-details-partials.jsx
  packages/core/src/App/Containers/RealAccountSignup/finished-set-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/signup-error-content.jsx
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
  packages/core/src/sass/details-form.scss
Labels: Account, Components, Core

#1428 salar / TIN bugfix
  packages/components/src/components/checkbox/checkbox.jsx
  packages/components/src/components/field-error/field-error.jsx
  packages/components/src/components/field-error/field-error.scss
  packages/components/src/components/field-error/index.js
  packages/components/src/components/field/field.jsx
  packages/components/src/components/field/field.scss
  packages/components/src/components/field/index.js
  packages/components/src/components/input/input.jsx
  packages/components/src/components/password-meter/password-meter.jsx
  packages/components/src/components/select-native/select-native.jsx
  packages/components/src/index.js
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/financial-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/form-validations.js
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
  packages/core/src/App/Containers/RealAccountSignup/helpers/utils.js
  packages/core/src/App/Containers/RealAccountSignup/personal-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/Utils/Validator/declarative-validation-rules.js
  packages/core/src/sass/details-form.scss
Labels: Components, Core

#1468 mamali/fix empty dialog status for Safari
  packages/components/src/components/modal/modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/sass/account-wizard.scss
Labels: Components, Core

#1452 Sara / Added redirect notice modal for external links
  packages/components/src/components/dialog/dialog.jsx
  packages/core/src/App/Components/Elements/Modals/RedirectNotice/index.js
  packages/core/src/App/Components/Elements/Modals/RedirectNotice/redirect-notice-modal.jsx
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/shared/src/utils/config/config.js
Labels: Components, Core, Shared

#1501 Update deriv app translations
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1492 Nijil/Fix DBot responsive UI issues
  packages/bot-web-ui/src/assets/sass/app.scss
  packages/bot-web-ui/src/assets/sass/journal.scss
  packages/bot-web-ui/src/assets/sass/load-modal.scss
  packages/bot-web-ui/src/assets/sass/quick-strategy.scss
  packages/bot-web-ui/src/assets/sass/run-panel.scss
  packages/bot-web-ui/src/assets/sass/save-modal.scss
  packages/bot-web-ui/src/assets/sass/summary.scss
  packages/bot-web-ui/src/assets/sass/toolbar.scss
  packages/bot-web-ui/src/assets/sass/transactions.scss
  packages/bot-web-ui/src/components/journal.jsx
  packages/bot-web-ui/src/components/load-modal.jsx
  packages/bot-web-ui/src/components/quick-strategy.jsx
  packages/bot-web-ui/src/components/run-panel.jsx
  packages/bot-web-ui/src/components/summary.jsx
  packages/bot-web-ui/src/components/transactions.jsx
  packages/components/src/components/button-toggle/button-toggle.jsx
  packages/components/src/components/drawer/drawer.scss
Labels: Bot, Components

#1419 negar/reality_check
  packages/components/src/components/form-submit-button/form-submit-button.jsx
  packages/components/src/components/form-submit-button/form-submit-button.scss
  packages/components/src/components/modal/modal-footer.jsx
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/modal/modal.scss
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/RealityCheckModal/brief-modal.jsx
  packages/core/src/App/Containers/RealityCheckModal/index.js
  packages/core/src/App/Containers/RealityCheckModal/reality-check-modal.jsx
  packages/core/src/App/Containers/RealityCheckModal/summary-modal.jsx
  packages/core/src/App/app.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/_common/base/socket_base.js
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/modules/reality-check.scss
  packages/shared/src/utils/storage/storage_events.js
  packages/trader/src/Modules/Reports/Containers/reports.jsx
Labels: Components, Core, Shared, Trader

#1481 Shayan/YAxis margin for on-going contract
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
Labels: Trader

#1477 Shayan/Search result in trade types is misaligned
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/_common/components/contract-type-no-result.scss
Labels: Trader

#1484 oskar/remove_translation_build
  packages/core/build/config.js
  packages/translations/.babelrc
  packages/translations/.eslintrc.js
  packages/translations/package-lock.json
  packages/translations/package.json
  packages/translations/src/i18next/i18next.js
  packages/translations/src/i18next/index.js
  packages/translations/src/index.js
  packages/translations/webpack.config.js
Labels: Core, Translations

#1456 msamprz/fix_trader_title
  packages/trader/src/App/Constants/routes-config.js
Labels: Trader

#1496 [eu] mamali/eu-bugs-4
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/sass/add-or-manage.scss
  packages/core/src/sass/real-account-signup.scss
Labels: Core

#1517 mamali/[eu] fix modal footer
  packages/components/src/components/form-submit-button/form-submit-button.scss
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/financial-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/sass/account-wizard.scss
Labels: Components, Core

#1480 Mahdi Aryayi / Update self exclusion content
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#1504 negar/pa_confirmation
  packages/components/src/components/icon/common/ic-client.svg
  packages/components/src/components/icon/common/ic-confirm-details.svg
  packages/components/src/components/icon/common/ic-pa.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/Modules/Cashier/Components/Confirm/payment-agent-transfer-confirm.jsx
  packages/core/src/Modules/Cashier/Components/Confirm/payment-agent-withdraw-confirm.jsx
  packages/core/src/Modules/Cashier/Components/Error/form-error.jsx
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Form/payment-agent-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Form/payment-agent-withdraw-form.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-receipt.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-transfer-receipt.jsx
  packages/core/src/Modules/Cashier/Components/confirm.jsx
  packages/core/src/Modules/Cashier/Containers/payment-agent-transfer.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/_common/base/socket_base.js
  packages/core/src/sass/app/modules/cashier.scss
Labels: Components, Core

#1510 mamali/Fix storybook script
  packages/components/.storybook/webpack.config.js
  packages/components/package-lock.json
  packages/components/package.json
Labels: Components

#1521 aaron/Update SmartTrader staging URL
  packages/shared/src/utils/storage/storage_events.js
Labels: Shared

#1524 update legacy to point directly to binary
  packages/shared/src/utils/url/url.js
Labels: Shared

#1516 bahar/resolve_minor_issues_in_update_text_across_app
  packages/bot-skeleton/src/scratch/blocks/Binary/Tick Analysis/tick.js
Labels: Bot

#1526 salar / fix: apply CW changes
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/signup-error-content.jsx
Labels: Core

#1531 negar/fix_reality_check_request
  packages/core/src/App/Containers/RealityCheckModal/reality-check-modal.jsx
Labels: Core

#1532 mamali[eu]/Update eu
  packages/bot-skeleton/src/scratch/blocks/Binary/Tick Analysis/tick.js
  packages/components/.storybook/webpack.config.js
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/icon/common/ic-client.svg
  packages/components/src/components/icon/common/ic-confirm-details.svg
  packages/components/src/components/icon/common/ic-pa.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Containers/RealityCheckModal/reality-check-modal.jsx
  packages/core/src/Modules/Cashier/Components/Confirm/payment-agent-transfer-confirm.jsx
  packages/core/src/Modules/Cashier/Components/Confirm/payment-agent-withdraw-confirm.jsx
  packages/core/src/Modules/Cashier/Components/Error/form-error.jsx
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Form/payment-agent-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Form/payment-agent-withdraw-form.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-receipt.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-transfer-receipt.jsx
  packages/core/src/Modules/Cashier/Components/confirm.jsx
  packages/core/src/Modules/Cashier/Containers/payment-agent-transfer.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/Stores/gtm-store.js
  packages/core/src/_common/base/socket_base.js
  packages/core/src/index.html
  packages/core/src/index.js
  packages/core/src/sass/app/modules/cashier.scss
  packages/shared/src/utils/config/config.js
  packages/shared/src/utils/storage/storage_events.js
  packages/shared/src/utils/url/url.js
  packages/translations/src/i18next/i18next.js
Labels: Bot, Components, Core, Shared, Translations

#1533 Fix regex for staging
  packages/shared/src/utils/url/url.js
Labels: Shared

#1490 carol/p2p-chat-header-nickname
  packages/p2p/src/components/orders/order-details/order-details-chatbox.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
Labels: P2P

#1446 suthesh/make_mt5dashboard_public
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/Stores/client-store.js
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Core, Trader

#1539 oskar/remove_unused_method_call
  packages/bot-web-ui/src/stores/main-content-store.js
Labels: Bot

#1282 Arash/Account closure
  packages/account/src/Constants/routes-config.js
  packages/account/src/Containers/account.jsx
  packages/account/src/Sections/Security/AccountDeactivated/account-deactivated.jsx
  packages/account/src/Sections/Security/AccountDeactivated/index.js
  packages/account/src/Sections/Security/DeactivateAccount/account-has-balance.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-steps.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account.jsx
  packages/account/src/Sections/Security/DeactivateAccount/index.js
  packages/account/src/Sections/index.js
  packages/account/src/Styles/account.scss
  packages/components/src/components/icon/common/ic-red-warning.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/modules/account-deactivated.scss
  packages/shared/src/utils/routes/routes.js
Labels: Account, Components, Core, Shared, Trader

#1530 salar / Rename Binary options to Digital options
  packages/core/src/App/Containers/RealAccountSignup/financial-details-partials.jsx
Labels: Core

#1534 Mahdi Aryayi / Add market type postfixes
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#1518 Arash/remove article
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
Labels: Account

#1493 [eu]disable-eu
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
Labels: Core, Trader

#1543 Update eu 30 07
  .github/CODEOWNERS
  packages/account/src/Constants/routes-config.js
  packages/account/src/Containers/account.jsx
  packages/account/src/Sections/Security/AccountDeactivated/account-deactivated.jsx
  packages/account/src/Sections/Security/AccountDeactivated/index.js
  packages/account/src/Sections/Security/DeactivateAccount/account-has-balance.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-steps.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account.jsx
  packages/account/src/Sections/Security/DeactivateAccount/index.js
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/account/src/Sections/index.js
  packages/account/src/Styles/account.scss
  packages/bot-web-ui/src/stores/main-content-store.js
  packages/components/src/components/icon/common/ic-red-warning.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/modules/account-deactivated.scss
  packages/p2p/src/components/orders/order-details/order-details-chatbox.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/shared/src/utils/routes/routes.js
  packages/shared/src/utils/url/url.js
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Account, Bot, Components, Core, P2P, Shared, Trader
