Repository deriv-com/deriv-app, pull requests merged in 2020-04, with the labels that each got.

#907 Shayan/Integeration for SmartChart Components
  packages/trader/src/Modules/SmartChart/Components/control-widgets.jsx
Labels: Trader

#930 zaki / apply fixes for ui bugs for account signup
  packages/components/src/components/select-native/select-native.scss
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/sass/terms-of-use.scss
Labels: Components, Core, Mobile

#922 zaki / Add poa mobile
  packages/trader/src/Modules/Account/Components/icon-message-content.jsx
  packages/trader/src/Modules/Account/Components/layout-components.jsx
  packages/trader/src/Modules/Account/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/trader/src/Modules/Account/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/trader/src/Modules/Account/Sections/Security/DerivPassword/change-password-form.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/trader/src/sass/app/modules/account.scss
Labels: Mobile, Trader

#920 oskar/translations_to_header
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
  packages/core/src/App/Constants/header-links.js
  packages/core/src/App/Constants/platform-config.js
  packages/core/src/App/Containers/Layout/header.jsx
  packages/translations/src/i18next/i18next.js
Labels: Core, Translations

#909 aaron/Route back to smarttrader
  packages/bot-skeleton/package.json
  packages/bot-web-ui/package.json
  packages/core/src/App/Components/Layout/Header/Components/Preloader/index.js
  packages/core/src/App/Components/Layout/Header/Components/Preloader/platform-switcher.jsx
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/App/Containers/Routes/routes.jsx
  packages/core/src/Constants/routes.js
  packages/core/src/Modules/SmartTraderIFrame/SmartTraderIFrame.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/common-store.js
  packages/core/src/Utils/Events/storage.js
  packages/core/src/Utils/PlatformSwitcher/platform-switcher.js
  packages/core/src/index.html
  packages/core/src/sass/app/_common/components/platform-switcher.scss
Labels: Bot, Core

#926 Amam/handle p2p subscription inside package
  packages/components/src/components/table/table.scss
  packages/core/src/Modules/Cashier/Containers/p2p-cashier.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/p2p/src/components/app.jsx
Labels: Components, Core, P2P, Trader

#928 zaki / Add poi mobile
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/trader/src/Modules/Account/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/trader/src/sass/app/modules/account.scss
Labels: Core, Trader

#936 oskar/remove_empty_localize
  packages/bot-skeleton/src/scratch/blocks/Advanced/Variable/variables_get.js
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
Labels: Bot, Trader

#921 msamprz/eliminate_refresh
  packages/core/src/App/Components/Routes/binary-routes.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/app.jsx
  packages/core/src/Constants/routes.js
  packages/core/src/Stores/common-store.js
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Core, Trader

#940 zaki/ new_account_signup_mobile
  packages/components/src/components/dialog/dialog.jsx
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/select-native/select-native.jsx
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
  packages/core/src/sass/app/modules/account-signup.scss
Labels: Components, Core, Mobile

#923 Bala/financial-assessment-mobile
  packages/components/src/components/icon/common/ic-success.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/trader/src/Modules/Account/Components/leave-confirm.jsx
  packages/trader/src/Modules/Account/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/trader/src/sass/app/modules/account.scss
Labels: Components, Trader

#934 Bala/account-limits-mobile
  packages/trader/src/Modules/Account/Sections/Security/AccountLimits/account-limits.jsx
  packages/trader/src/sass/app/modules/account.scss
Labels: Trader

#912 Mehrzad / scroll added to strategy
  packages/bot-web-ui/src/assets/sass/quick-strategy.scss
  packages/bot-web-ui/src/components/quick-strategy.jsx
Labels: Bot

#944 Bala/show only important notifications as toast on mobile
  packages/core/src/App/Containers/notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Core

#951 msamprz/publish_p2p
  packages/core/package.json
  packages/p2p/package-lock.json
  packages/p2p/package.json
Labels: Core, P2P

#947 kelly/poa_verified_status_check
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
Labels: Trader

#949 amam/update_tooltip_text
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/multiplier.jsx
Labels: Trader

#948 kelly/allow_document_upload
  packages/trader/src/Modules/Account/Containers/account.jsx
  packages/trader/src/Modules/Account/Sections/Profile/FinancialAssessment/financial-assessment.jsx
Labels: Trader

#953 amam/update onfido-sdk-ui
  packages/trader/package-lock.json
  packages/trader/package.json
Labels: Trader

#950 kelly/multiplier_proposal_error
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
  packages/trader/src/App/Components/Form/InputField/input-with-checkbox.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/stop-loss.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/take-profit.jsx
  packages/trader/src/Stores/Modules/Trading/Constants/validation-rules.js
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Components, Trader

#946 Mahdi Aryayi / Add account card
  packages/core/src/App/Containers/AccountTypesModal/account-card.jsx
  packages/core/src/sass/app/modules/account-types.scss
Labels: Core

#945 zaki / Add cashier mobile
  packages/components/src/components/select-native/select-native.jsx
  packages/components/src/components/select-native/select-native.scss
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
  packages/core/src/Modules/Cashier/Components/Error/error.jsx
  packages/core/src/Modules/Cashier/Components/Form/payment-agent-withdraw-form.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-receipt.jsx
  packages/core/src/Modules/Cashier/Components/payment-agent-list.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/sass/app/modules/cashier.scss
  packages/trader/src/App/Containers/trade-header-extensions.jsx
  packages/trader/src/Modules/Account/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/trader/src/sass/app/modules/account.scss
Labels: Components, Core, Mobile, Trader

#927 shayan/The chart shouldn't scrollable in scale 1:1 mode
  packages/trader/src/Stores/Modules/Contract/contract-replay-store.js
Labels: Trader

#954 Bala/Cashier-crypto-mobile
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/select-native/select-native.jsx
  packages/components/src/components/select-native/select-native.scss
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/account-transfer-receipt.jsx
  packages/core/src/Modules/Cashier/Components/cashier-container.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/sass/app/modules/cashier.scss
Labels: Components, Core, Trader

#957 Sam/fix input label incorrect behavior
  packages/p2p/src/components/my-ads/form-ads.jsx
Labels: P2P

#941 oskar/toggle_autocomplete_on_click
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/tabs/tabs.scss
  packages/trader/src/Modules/Account/Components/leave-confirm.jsx
  packages/trader/src/Modules/Account/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/trader/src/Modules/Account/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/trader/src/sass/app/modules/account.scss
Labels: Components, Trader

#979 Eu 20 04 12
  .circleci/config.yml
  .github/CODEOWNERS
  default.conf
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/tabs/tabs.scss
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/trader/src/Modules/Account/Components/leave-confirm.jsx
  packages/trader/src/Modules/Account/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/trader/src/Modules/Account/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/trader/src/sass/app/modules/account.scss
Labels: Components, Core, P2P, Trader

#964 Mahdi Aryayi / Add accounts layout
  packages/core/src/App/Containers/AccountTypesModal/account-card.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/sass/app/modules/account-types.scss
Labels: Core

#974 Bala/fix contract sold notification on mobile
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Core, Mobile

#674 mamali/[deriv-app]add-dmt5-advanced
  packages/components/src/components/dropdown-list/dropdown-list.jsx
  packages/components/src/components/dropdown-list/dropdown-list.scss
  packages/components/src/components/form-progress/form-progress.jsx
  packages/components/src/components/form-progress/form-progress.scss
  packages/components/src/components/form-progress/index.js
  packages/components/src/components/form-submit-button/form-submit-button.jsx
  packages/components/src/components/form-submit-button/form-submit-button.scss
  packages/components/src/components/form-submit-button/index.js
  packages/components/src/components/form/form.jsx
  packages/components/src/components/form/index.js
  packages/components/webpack.config.js
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/change-account-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/form-submit-button.jsx
  packages/core/src/App/Containers/RealAccountSignup/loading-modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/signup-error-content.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/real-account-signup.scss
  packages/shared/src/loaders/deriv-components-loader.js
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfAddress/file-uploader-container.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfAddress/proof-of-address-messages.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfIdentity/proof-of-identity-messages.jsx
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/trader/src/Modules/MT5/Components/mt5-advanced-pending-dialog.jsx
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-pending-verification-modal.jsx
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poi.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Constants/mt5-specifications.js
  packages/trader/src/Modules/MT5/Containers/advanced-description.jsx
  packages/trader/src/Modules/MT5/Containers/loading-mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/missing-real-account.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-account-opening-real-advanced-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-advanced-real-account-signup.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard-container.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-welcome-message.jsx
  packages/trader/src/Modules/MT5/Helpers/constants.js
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Components, Core, Shared, Trader

#962 aaron/Update DBot strings
  packages/bot-skeleton/src/constants/config.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_statement.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_append.js
  packages/bot-skeleton/src/scratch/help-content/help-strings/controls_forEach.js
  packages/bot-skeleton/src/scratch/help-content/help-strings/controls_whileUntil.js
  packages/bot-skeleton/src/scratch/help-content/help-strings/read_details.js
  packages/bot-skeleton/src/scratch/hooks/constant.js
Labels: Bot

#990 Revert "Merge branch 'eu' into dev"
  packages/core/src/App/Containers/AccountTypesModal/account-card.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/sass/app/modules/account-types.scss
Labels: Core

#984 Bala/unknown proposal contract fix
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#960 negar/update_transfer_ui
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/dropdown/list.scss
  packages/components/src/components/icon/cashier/ic-cashier-transfer-done.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/page-overlay/page-overlay.scss
  packages/components/src/components/select-native/select-native.jsx
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/components/stories/icon/icons.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/account-transfer-receipt.jsx
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/core/src/sass/app/modules/cashier.scss
  packages/trader/src/sass/app/modules/account.scss
Labels: Components, Core, Trader

#981 kelly/improve_contract_update_flow
  packages/shared/src/utils/date/date-time.js
  packages/shared/src/utils/date/index.js
  packages/trader/src/App/Components/Elements/ContractAudit/contract-audit.jsx
  packages/trader/src/App/Components/Elements/ContractAudit/contract-history.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card-body.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card-body.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/contract-update-form.jsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Stores/Modules/Contract/Constants/validation-rules.js
  packages/trader/src/Stores/Modules/Contract/Helpers/limit-orders.js
  packages/trader/src/Stores/Modules/Contract/Helpers/logic.js
  packages/trader/src/Stores/Modules/Contract/contract-replay-store.js
  packages/trader/src/Stores/Modules/Contract/contract-store.js
  packages/trader/src/Stores/Modules/Contract/contract-trade-store.js
  packages/trader/src/Stores/Modules/Portfolio/Helpers/format-response.js
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/sass/app/_common/drawer/contract-drawer.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Shared, Trader

#986 aaron/Update translation regex
  packages/bot-skeleton/src/scratch/help-content/help-strings/controls_forEach.js
  packages/bot-web-ui/src/components/flyout.jsx
  packages/trader/src/Modules/Contract/Components/Digits/digits.jsx
  packages/translations/scripts/extract-translations.js
Labels: Bot, Trader, Translations

#975 aaron/P2p order pagination
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/buy-sell/buy-table-content.jsx
  packages/p2p/src/components/buy-sell/buy-table.jsx
  packages/p2p/src/components/buy-sell/sell-table.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/orders/orders.jsx
Labels: P2P

#985 Sam/fix tradeoptions not cached on refresh
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_contracttype.js
  packages/bot-skeleton/src/scratch/dbot.js
Labels: Bot

#966 zaki / payment_transfer_mobile
  packages/core/src/Modules/Cashier/Components/Email/email-sent.jsx
  packages/core/src/Modules/Cashier/Components/Form/payment-agent-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-receipt.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-transfer-receipt.jsx
  packages/core/src/Modules/Cashier/Components/payment-agent-details.jsx
  packages/core/src/sass/app/modules/cashier.scss
Labels: Components, Core, Mobile, Trader

#973 oskar/ally
  packages/core/src/App/Components/Elements/NotificationMessage/close-button.jsx
  packages/core/src/App/Components/Layout/Footer/help-centre.jsx
  packages/core/src/index.html
  packages/trader/src/App/Components/Form/InputField/increment-buttons.jsx
  packages/trader/src/App/Components/Form/InputField/input-field.jsx
  packages/trader/src/App/Components/Form/InputField/input.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-toggle.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.jsx
  packages/translations/src/i18next/i18next.js
Labels: Core, Trader, Translations

#1002 negar/fix_dropdown
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/list.scss
Labels: Components

#1000 Fix mt5 scroll bug
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poi.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Trader

#1005 Sam/fix dark theme
  packages/core/src/Stores/ui-store.js
  packages/core/src/Utils/Events/storage.js
Labels: Core

#982 zaki/digits_stats_toast_message
  packages/core/src/sass/app/modules/cashier.scss
  packages/trader/src/Modules/Contract/Components/Digits/digits.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/toast-info-popup.jsx
  packages/trader/src/Modules/Trading/Containers/contract-type.jsx
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/contract/digits.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Core, Mobile, Trader

#1001 zaki/fix_digits_mobile_issues
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.jsx
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.scss
  packages/trader/src/Modules/Contract/Components/Digits/digits.jsx
  packages/trader/src/Modules/Trading/Containers/contract-type.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/modules/contract/digits.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Components, Core, Mobile, Trader

#1011 zaki/fix_account_transfer_mobile
  packages/core/src/Modules/Cashier/Components/Receipt/account-transfer-receipt.jsx
  packages/core/src/sass/app/modules/cashier.scss
Labels: Core

#991 Bala/datepicker fixes
  packages/components/src/components/calendar/helpers/constants.js
  packages/components/src/components/date-of-birth-picker/date-of-birth-picker.jsx
  packages/components/src/components/date-picker/date-picker-input.jsx
  packages/components/src/components/date-picker/date-picker-native.jsx
  packages/components/src/components/date-picker/date-picker.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar-mobile.jsx
  packages/trader/src/Modules/Account/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/trader/src/Modules/Trading/Components/Form/DatePicker/trading-date-picker.jsx
Labels: Components, Core, Trader

#1013 Sam/hotfix - setting/fullscreen not clickable
  packages/bot-web-ui/src/assets/sass/run-panel.scss
Labels: Bot

#1018 Update eu 21 04
  packages/components/src/components/calendar/helpers/constants.js
  packages/components/src/components/date-of-birth-picker/date-of-birth-picker.jsx
  packages/components/src/components/date-picker/date-picker-input.jsx
  packages/components/src/components/date-picker/date-picker-native.jsx
  packages/components/src/components/date-picker/date-picker.jsx
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.jsx
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.scss
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/account-transfer-receipt.jsx
  packages/core/src/sass/app/modules/cashier.scss
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar-mobile.jsx
  packages/trader/src/Modules/Account/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/trader/src/Modules/Contract/Components/Digits/digits.jsx
  packages/trader/src/Modules/Trading/Components/Form/DatePicker/trading-date-picker.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/toast-info-popup.jsx
  packages/trader/src/Modules/Trading/Containers/contract-type.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/contract/digits.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Components, Core, Trader

#1009 Add composite checkbox component
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/composite-checkbox/composite-checkbox.jsx
  packages/components/src/components/composite-checkbox/composite-checkbox.scss
  packages/components/src/components/composite-checkbox/index.js
  packages/components/stories/composite-checkbox/composite-checkbox.stories.js
  packages/components/webpack.config.js
Labels: Components, EU

#1017 zaki/fix_withdrawal_to_deposit_issue
  packages/core/src/Modules/Cashier/Components/Error/no-balance.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Core

#1019 zaki / Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#992 kelly/dmt5_advanced_account_responsive
  packages/components/src/components/select-native/select-native.scss
  packages/trader/src/App/Containers/Modals/success-dialog.jsx
  packages/trader/src/Modules/MT5/Components/mt5-advanced-pending-dialog.jsx
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poi.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-account-opening-real-advanced-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-advanced-real-account-signup.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-top-up-demo-modal.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Components, Trader

#1020 negar/fix_currency_dropdown
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/list.scss
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
Labels: Components, Core

#916 mamali/add-notification-on-new-update
  packages/components/src/components/linear-progress/index.js
  packages/components/src/components/linear-progress/linear-progress-container.jsx
  packages/components/src/components/linear-progress/linear-progress.jsx
  packages/components/src/components/linear-progress/linear-progress.scss
  packages/components/webpack.config.js
  packages/core/build/config.js
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Utils/pwa/register-service-worker.js
  packages/core/src/index.js
  packages/trader/src/Utils/pwa/index.js
  packages/trader/src/Utils/pwa/register-service-worker.js
Labels: Components, Core, Trader

#1023 zaki / responsive fixes part 2
  packages/core/src/sass/app/modules/cashier.scss
Labels: Core

#1028 zaki / ui_and_redirection_hotfixes
  packages/components/src/components/date-picker/date-picker-input.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, Core, Trader

#1029 V20200422_0
  packages/components/src/components/date-picker/date-picker-input.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, Core, Trader

#931 aaron/Update P2P ad fields
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/orders/order-details/order-details-status-block.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/p2p/src/components/orders/order-details/order-info-block.jsx
  packages/p2p/src/components/orders/order-info.js
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/utils/validations.js
  packages/p2p/src/utils/websocket.js
Labels: Components, P2P

#995 aaron/P2p hide limits + Update messaging
  packages/p2p/src/components/buy-sell/buy-table-content.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
Labels: P2P

#994 Bala/persist trade params expansion state to local storage
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Core, Trader

#1010 msamprz/cashier_tabs_note
  packages/components/src/components/vertical-tab/vertical-tab.jsx
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/sass/app/modules/cashier.scss
Labels: Components, Core

#905 oskar|mahdi/preload_prefetch_assets
  packages/core/build/config.js
  packages/core/build/constants.js
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/index.html
Labels: Core

#952 oskar/mobx_v6
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/app.jsx
  packages/bot-web-ui/src/stores/connect.js
  packages/bot-web-ui/webpack.config.js
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/App/app.jsx
  packages/core/src/Stores/connect.js
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Containers/SettingsModal/settings-chart.jsx
  packages/trader/src/App/Containers/trade-settings-extensions.jsx
  packages/trader/src/App/app.jsx
  packages/trader/src/Stores/connect.js
Labels: Bot, Core, Trader

#996 Sam/new console block
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc./console.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc./index.js
  packages/bot-skeleton/src/scratch/help-content/help-content.config.js
  packages/bot-skeleton/src/scratch/help-content/help-strings/console.js
  packages/bot-skeleton/src/scratch/help-content/help-strings/index.js
  packages/bot-skeleton/src/scratch/xml/toolbox.xml
  packages/bot-skeleton/src/services/tradeEngine/Interface/MiscInterface.js
  packages/bot-skeleton/src/services/tradeEngine/utils/cli.js
Labels: Bot

#906 oskar|mahdi/code_split_route_modules
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/App/Components/Layout/Footer/toggle-settings.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Lazy/index.js
  packages/core/src/App/Containers/Routes/routes.jsx
  packages/core/src/Modules/Cashier/index.js
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar.jsx
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/App/Containers/Lazy/index.js
  packages/trader/src/App/Containers/Routes/routes.jsx
  packages/trader/src/App/Containers/trade-settings-extensions.jsx
  packages/trader/src/App/app.jsx
  packages/trader/src/Modules/Account/index.js
  packages/trader/src/Modules/Reports/index.js
  packages/trader/src/Modules/Trading/Components/Form/form-layout.jsx
Labels: Core, Trader

#1040 Revert "oskar|mahdi/code_split_route_modules"
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/App/Components/Layout/Footer/toggle-settings.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Lazy/index.js
  packages/core/src/App/Containers/Routes/routes.jsx
  packages/core/src/Modules/Cashier/index.js
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar.jsx
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/App/Containers/Lazy/index.js
  packages/trader/src/App/Containers/Routes/routes.jsx
  packages/trader/src/App/Containers/trade-settings-extensions.jsx
  packages/trader/src/App/app.jsx
  packages/trader/src/Modules/Account/index.js
  packages/trader/src/Modules/Reports/index.js
  packages/trader/src/Modules/Trading/Components/Form/form-layout.jsx
Labels: Core, Trader

#1031 aaron/Terminate Bot on routing away
  packages/bot-web-ui/src/app.jsx
Labels: Bot

#1042 Revert "oskar/mobx_v6"
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/app.jsx
  packages/bot-web-ui/src/stores/connect.js
  packages/bot-web-ui/webpack.config.js
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/App/app.jsx
  packages/core/src/Stores/connect.js
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Containers/SettingsModal/settings-chart.jsx
  packages/trader/src/App/Containers/trade-settings-extensions.jsx
  packages/trader/src/App/app.jsx
  packages/trader/src/Stores/connect.js
Labels: Bot, Core, Trader

#1015 negar/explain_ust_and_rename
  packages/components/src/components/dropdown/items.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Modules/Cashier/Components/Error/no-balance.jsx
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-receipt.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-transfer-receipt.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/sass/currency-select-radio.scss
  packages/shared/src/utils/currency/currency.js
  packages/shared/src/utils/currency/index.js
  packages/trader/src/Modules/Account/Sections/Security/AccountLimits/account-limits-info.jsx
Labels: Components, Core, Shared, Trader

#969 Add iom detection
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/components/src/components/modal/modal.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Modals/success-dialog.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/finished-set-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/form-validations.js
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-buttons.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-heading.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-message.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use-form.js
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Utils/Validator/declarative-validation-rules.js
  packages/core/src/sass/add-or-manage.scss
  packages/trader/src/App/Containers/Modals/success-dialog.jsx
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Components, Core, EU, Trader

#1036 negar/update_balance_after_transfer
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Components, Core

#1038 zaki/fix_terms_of_use_redirect
  packages/components/src/components/date-picker/date-picker.scss
  packages/components/src/components/modal/modal.scss
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/sass/app/modules/account-signup.scss
  packages/core/src/sass/details-form.scss
  packages/trader/src/App/Containers/trade-header-extensions.jsx
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, Core, Trader

#1014 Bala/financial-assessment unable to select first option fix
  packages/components/src/components/select-native/select-native.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Form/payment-agent-withdraw-form.jsx
  packages/core/src/Modules/Cashier/Components/payment-agent-list.jsx
  packages/trader/src/Modules/Account/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/trader/src/Modules/Account/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/trader/src/sass/app/modules/account.scss
Labels: Components, Core, Trader

#776 Sam/ Animation (Journal, Transactions)
  packages/bot-skeleton/src/constants/messages.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc./loader.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc./notify.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
  packages/bot-skeleton/src/scratch/hooks/css.js
  packages/bot-skeleton/src/scratch/hooks/toolbox.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Purchase.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Sell.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Total.js
  packages/bot-skeleton/src/services/tradeEngine/utils/broadcast.js
  packages/bot-web-ui/src/assets/sass/app.scss
  packages/bot-web-ui/src/assets/sass/flyout.scss
  packages/bot-web-ui/src/assets/sass/journal.scss
  packages/bot-web-ui/src/assets/sass/load-modal.scss
  packages/bot-web-ui/src/assets/sass/notify-item.scss
  packages/bot-web-ui/src/assets/sass/run-panel.scss
  packages/bot-web-ui/src/assets/sass/toolbox.scss
  packages/bot-web-ui/src/assets/sass/transactions.scss
  packages/bot-web-ui/src/components/journal.jsx
  packages/bot-web-ui/src/components/load-modal.jsx
  packages/bot-web-ui/src/components/notify-item.jsx
  packages/bot-web-ui/src/components/run-panel.jsx
  packages/bot-web-ui/src/components/summary.jsx
  packages/bot-web-ui/src/components/toolbar.jsx
  packages/bot-web-ui/src/components/transaction.jsx
  packages/bot-web-ui/src/components/transactions.jsx
  packages/bot-web-ui/src/stores/journal-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/drawer/drawer.jsx
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/themed-scrollbars/themed-scrollbars.jsx
  packages/shared/src/styles/themes.scss
Labels: Bot, Components, Shared

#1050 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#970 Sam/p2p buy/sell listing ui update
  packages/components/src/components/button-toggle/button-toggle.scss
  packages/components/src/components/icon/common/ic-no-ad.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/table/table-row.jsx
  packages/components/src/components/tabs/tabs.scss
  packages/components/stories/icon/icons.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell-table-content.jsx
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/buy-sell/row.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
Labels: Components, P2P

#1035 Mehrzad /update scss
  packages/bot-web-ui/src/assets/sass/load-modal.scss
Labels: Bot

#913 Mehrzad / Quick strategy persist data
  packages/bot-web-ui/src/stores/quick-strategy-store.js
Labels: Bot

#1012 Nijil/Utils cleanup and refactoring
  packages/bot-skeleton/src/services/api/__tests__/ticks-service.js
  packages/bot-skeleton/src/services/api/appId.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-skeleton/src/utils/date-time-helper.js
  packages/bot-skeleton/src/utils/token-helper.js
Labels: Bot, Shared

#1030 aaron/Update translations regexp
  packages/bot-web-ui/src/components/run-panel.jsx
  packages/trader/src/Modules/Account/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/trader/src/Modules/Trading/Containers/contract-type.jsx
  packages/translations/package-lock.json
  packages/translations/package.json
  packages/translations/scripts/__tests__/extract-string.spec.js
  packages/translations/scripts/extract-string.js
  packages/translations/scripts/extract-translations.js
Labels: Bot, Trader, Translations

#1059 msamprz/disable_cryptocashier_note
  packages/components/src/components/vertical-tab/vertical-tab.jsx
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
Labels: Components, Core

#1041 mamali/fix-try-synthetic-button-bug
  packages/trader/src/App/Components/Elements/market-is-closed-overlay.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/Helpers/allow-equals.js
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.js
  packages/trader/src/sass/app/_common/components/market-is-closed-overlay.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader

#1043 aaron/Move dateTimeStringToTimestamp logic
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Time/totimestamp.js
  packages/bot-skeleton/src/services/tradeEngine/Interface/ToolsInterface.js
Labels: Bot

#1057 Mehrzad / show help flyout
  packages/bot-web-ui/src/assets/sass/flyout.scss
Labels: Bot

#1052 zaki/fix_ios_zoom
  packages/components/src/components/select-native/select-native.scss
  packages/core/src/index.html
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/insufficient-balance-modal.jsx
Labels: Components, Core, Trader

#1056 Mahdi Aryayi / Fixed reports loading scroll bug
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
Labels: Trader

#1061 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1066 Sam/fix trading form button toggle style
  packages/components/src/components/button-toggle/button-highlight-wrapper.jsx
  packages/components/src/components/button-toggle/button-highlight.jsx
  packages/components/src/components/button-toggle/button-toggle.jsx
  packages/components/src/components/button-toggle/button-toggle.scss
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
Labels: Components, P2P, Trader

#1068 V20200427_1
  packages/components/src/components/button-toggle/button-highlight-wrapper.jsx
  packages/components/src/components/button-toggle/button-highlight.jsx
  packages/components/src/components/button-toggle/button-toggle.jsx
  packages/components/src/components/button-toggle/button-toggle.scss
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
Labels: Components, P2P

#1046 Mehrzad / DBot workspace cache
  packages/bot-web-ui/src/app.jsx
  packages/bot-web-ui/src/stores/main-content-store.js
Labels: Bot

#1067 msamprz/fix_cashier_animation
  packages/components/src/components/fade-wrapper/fade-wrapper.jsx
Labels: Components

#1003 negar/redesign add button
  packages/components/src/components/icon/common/ic-add-circle.svg
  packages/components/src/components/icon/common/ic-deriv.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Components/Layout/Header/account-info.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-add-account-button.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/App/Containers/RealAccountSignup/upgrade-button.jsx
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
Labels: Components, Core, Trader

#1060 Bala/no proposal after insufficient balance fix
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/insufficient-balance-modal.jsx
Labels: Trader

#1070 negar/add_missing_check
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#1058 Added timeline component
  packages/components/src/components/timeline/index.js
  packages/components/src/components/timeline/timeline.jsx
  packages/components/src/components/timeline/timeline.scss
  packages/components/stories/timeline/timeline.stories.js
Labels: Components

#1049 aaron/Use getCurrencyDisplayCode for display
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
Labels: Bot

#1069 Mehrzad / update component input
  packages/components/src/components/input/input.jsx
  packages/components/src/components/input/input.scss
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
Labels: Components, P2P

#1047 Nijil/Fix charts control widget icons in DBot
  packages/bot-web-ui/src/assets/sass/chart.scss
  packages/bot-web-ui/src/components/chart/control-widgets.jsx
Labels: Bot

#1073 negar/fix_404
  packages/components/src/components/page-error/page-error.jsx
  packages/core/src/Modules/Page404/Components/Page404.jsx
  packages/trader/src/Modules/Page404/Components/Page404.jsx
Labels: Components, Core, Trader

#1048 Sam/popover refactor to support dom hierarchy layering
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/popover/popover.jsx
  packages/components/src/components/popover/popover.scss
  packages/trader/src/App/Components/Form/InputField/input-field.jsx
  packages/trader/src/App/Components/Form/InputField/input-with-checkbox.jsx
  packages/trader/src/App/Components/Form/fieldset.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.jsx
  packages/trader/src/Modules/Trading/Components/Form/DatePicker/trading-date-picker.jsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/cancel-deal.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/multiplier.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/allow-equals.jsx
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.js
  packages/trader/src/sass/app/_common/components/allow-equals.scss
  packages/trader/src/sass/app/_common/components/purchase-button.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Components, Trader

#1074 negar/convert_amount_to_number
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
Labels: Core

#1076 negar/fallback_default_currency
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader
