Repository deriv-com/deriv-app, pull requests merged in 2020-11, with the labels that each got.

#2041 Bala/Remove caching in profit table
  packages/components/src/components/data-list/data-list.jsx
  packages/components/src/components/data-list/data-list.scss
  packages/components/src/components/data-table/data-table.jsx
  packages/trader/src/Stores/Modules/Profit/profit-store.js
  packages/trader/src/Stores/Modules/Statement/statement-store.js
Labels: Components, Trader

#2054 zaki / fix_mt5_poa_upload_woes
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
Labels: Trader

#2050 shayan / Console error open transfer page with demo account
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Core

#2046 Akmal / Fixed notification auto refresh text overlap issue
  packages/core/src/sass/app/_common/components/app-notification-message.scss
Labels: Core

#2049 Matin/Fix: Timeline item title name has been updated to `item_title`
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/components/src/components/timeline/timeline.jsx
  packages/components/stories/timeline/timeline.stories.js
Labels: Account, Components

#2051 Amir / Changes on the Option page on first time Deriv login
  packages/core/src/App/Containers/WelcomeModal/welcome-modal.jsx
Labels: Core

#2052 Mehrzad / tracj-js error
  packages/bot-web-ui/src/components/save-modal.jsx
Labels: Bot

#2021 Shayan / Modify style of info box and barrier line
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/contract.scss
  packages/trader/src/sass/app/modules/smart-chart.scss
Labels: Trader

#2020 zaki / add_content_expander_component
  packages/components/src/components/collapsible/collapsible.jsx
  packages/components/src/components/content-expander/content-expander.jsx
  packages/components/src/components/content-expander/content-expander.scss
  packages/components/src/components/content-expander/index.js
  packages/components/src/index.js
  packages/components/stories/content-expander/README.md
  packages/components/stories/content-expander/content-expander.stories.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-wrapper.jsx
  packages/core/src/sass/app/_common/components/account-switcher.scss
Labels: Components, Core, Docs

#1976 negar/add_border_blocks
  packages/bot-skeleton/src/scratch/hooks/block_render_svg_vertical.js
  packages/bot-skeleton/src/scratch/hooks/colours.js
  packages/bot-skeleton/src/scratch/hooks/css.js
  packages/bot-skeleton/src/scratch/hooks/field.js
  packages/bot-skeleton/src/scratch/hooks/field_dropdown.js
  packages/bot-skeleton/src/scratch/hooks/field_textinput.js
Labels: Bot

#2035 Matin/Fix: Contract type dialog max height has been reverted back to …
  packages/trader/src/sass/app/_common/components/contract-type-dialog.scss
Labels: Trader

#1981 Amam/fix translation es pt
  packages/account/src/Sections/Security/ConnectedApps/connected-apps.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/button-toggle/button-toggle.scss
  packages/components/src/components/data-table/table-row-info.jsx
  packages/core/src/App/Components/Elements/CookieBanner/cookie-banner.jsx
  packages/core/src/App/app.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/_common/components/cookie-banner.scss
  packages/core/src/sass/app/modules/cashier.scss
  packages/core/src/sass/app/modules/settings.scss
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/Modules/Reports/Helpers/market-underlying.js
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
  packages/trader/src/sass/app/modules/reports.scss
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Account, Components, Core, Trader, Translations

#2048 zaki / fix_acc_transfer_mobile
  packages/core/src/sass/app/modules/cashier.scss
Labels: Core

#1986 Ali | Amir / Storybook for new mobile components
  packages/components/stories/date-picker-native/README.md
  packages/components/stories/date-picker-native/date-picker-native.stories.js
  packages/components/stories/date-picker-native/stories/basic.js
  packages/components/stories/date-picker-native/stories/disabled.js
  packages/components/stories/date-picker-native/stories/has-error.js
  packages/components/stories/date-picker-native/stories/has-min-max.js
  packages/components/stories/date-picker-native/wrapper.js
  packages/components/stories/mobile-dialog/README.md
  packages/components/stories/mobile-dialog/mobile-dialog.stories.js
  packages/components/stories/mobile-dialog/mobile-dialog.stories.scss
  packages/components/stories/mobile-drawer/README.md
  packages/components/stories/mobile-drawer/mobile-deawer.stories.scss
  packages/components/stories/mobile-drawer/mobile-drawer.stories.js
  packages/components/stories/relative-datepicker/README.md
  packages/components/stories/relative-datepicker/relative-datepicker.stories.js
  packages/components/stories/select-native/README.md
  packages/components/stories/select-native/items.js
  packages/components/stories/select-native/select-native.stories.js
  packages/components/stories/select-native/stories/basic.js
  packages/components/stories/select-native/stories/disabled.js
  packages/components/stories/select-native/stories/has-error.js
  packages/components/stories/select-native/stories/no-empty.js
  packages/components/stories/select-native/stories/with-helper.js
  packages/components/stories/select-native/wrapper.js
Labels: Components, Docs

#2045 Matin/Fix: Hide cashier Transfer tab for IOM clients
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Core

#1669 bahar/responding_correctly_when_deriv_theme_is_dark
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/App/Containers/Routes/routes.jsx
  packages/core/src/Stores/ui-store.js
  packages/shared/src/utils/platform/platform.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Bot, Core, Shared, Trader

#2017 Bala/fix-race-condition-in-contract-update
  packages/components/src/components/contract-card/contract-card-items/contract-update-form.jsx
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.jsx
  packages/trader/src/Stores/Modules/Contract/contract-store.js
Labels: Components, Trader

#2026 negar/update_withdrawal_text
  packages/core/src/Modules/Cashier/Components/Email/send-email.jsx
Labels: Core

#2028 Akmal / Fixed horizontal scrolling issue on report page
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/sass/app/modules/reports.scss
Labels: Core, Trader

#2034 Mehrzad / add scroll to empty transactions
  packages/bot-web-ui/src/assets/sass/transactions.scss
  packages/bot-web-ui/src/components/transactions.jsx
Labels: Bot

#1967 salar / Crypto minor issues
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/components/src/components/contract-card/contract-card.scss
  packages/components/src/components/input/input.scss
  packages/core/src/App/Containers/RealAccountSignup/finished-set-currency.jsx
  packages/core/src/Modules/Cashier/Components/Confirm/account-transfer-confirm.jsx
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Form/payment-agent-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/account-transfer-receipt.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-transfer-receipt.jsx
  packages/core/src/Modules/Cashier/Components/confirm.jsx
  packages/core/src/Modules/Cashier/Components/usdt-side-note.jsx
  packages/core/src/Modules/Cashier/Containers/account-transfer.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/public/images/app/cashier/cashier-demo-dark.svg
  packages/core/src/public/images/app/cashier/cashier-demo-light.svg
  packages/core/src/sass/add-or-manage.scss
  packages/core/src/sass/app/modules/cashier.scss
  packages/core/src/sass/currency-select-radio.scss
  packages/shared/src/utils/currency/currency.js
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/multiplier.jsx
  packages/trader/src/sass/app/_common/drawer/contract-drawer.scss
  packages/trader/src/sass/app/modules/reports.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Account, Components, Core, Shared, Trader

#2058 zaki / add_password_warning_phrases_localization
  packages/account/src/Sections/Security/DerivPassword/change-password-form.jsx
  packages/components/src/components/password-meter/password-meter.jsx
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
  packages/core/src/Constants/form-error-messages.js
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-reset-password-modal.jsx
Labels: Account, Components, Core, Trader

#2062 carol/DP2P alignment hotfix
  packages/p2p/src/components/orders/orders.scss
Labels: P2P

#2063 zaki / fix_amount_input_alignment
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/stop-loss.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/take-profit.jsx
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader

#2023 Matin/Improvement: Refactor and replace Account Wizard
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/financial-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
  packages/core/src/sass/details-form.scss
  packages/core/src/sass/terms-of-use.scss
Labels: Core

#2069 Bala/upgrade-deriv-charts-v0.3.8
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
Labels: Bot, Core, Trader

#2068 mamali/Initialize language with the default when not available
  packages/translations/src/i18next/i18next.js
Labels: Translations

#2065 amam/fix_alignment_fiat
  packages/core/src/App/Containers/RealAccountSignup/change-account-currency.jsx
  packages/core/src/sass/account-wizard.scss
Labels: Core

#2070 Bala/reports-style-fix
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader

#2004 Bala/add-callback-to-get-markets-order
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader

#1959 Shayan/Keep the loading till the the chart notify for being ready
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Stores/Modules/Contract/contract-replay-store.js
Labels: Trader

#2061 Matin/Fix: Long text overlap other table cells
  packages/account/src/Sections/Security/ConnectedApps/connected-apps.jsx
  packages/account/src/Sections/Security/ConnectedApps/data-table-template.jsx
  packages/account/src/Styles/account.scss
Labels: Account, Components

#2085 amam/update_translation
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2089 Nijil/Fix trailing icon issue in Input component
  packages/bot-web-ui/src/assets/sass/toolbar.scss
  packages/components/src/components/input/input.scss
Labels: Bot, Components

#2086 Bala/Fix account transfer on real account switch
  packages/core/src/Modules/Cashier/Containers/account-transfer.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/Stores/client-store.js
Labels: Core

#2091 Matin/Fix: account wizard stays open on click external links
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#2098 carol/P2P Highlight rows on hover
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
Labels: P2P

#2057 mehrzad / my profile responsive
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/my-profile/my-profile.scss
Labels: P2P

#2092 Matin/Fix: Date field in self exclusion is not hidden on small screens
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#2096 Matin/Fix: alignments has been updated in Payment Agent Receipt page
  packages/core/src/sass/app/modules/cashier.scss
Labels: Core

#2094 aaron/POI/POA bug
  packages/account/src/Containers/account.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/Stores/client-store.js
Labels: Account, Core

#2083 salar / demo account cant create real MT5 financial stp
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/ui-store.js
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Core, Trader

#2011 Akmal / Fixed popover message disappearing after a mouse click
  packages/components/src/components/popover/popover.jsx
Labels: Components

#2080 aaron/Onramp integrate SendWyre
  packages/components/src/components/icon/cashier/ic-cashier-wyre-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-wyre-light.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/Modules/Cashier/Components/on-ramp-provider-popup.jsx
  packages/core/src/Modules/Cashier/Config/on-ramp-providers.js
  packages/core/src/Stores/Modules/Cashier/on-ramp-store.js
Labels: Components, Core

#2093 Bala/fix-toast-style
  packages/components/src/components/toast/toast.scss
Labels: Components

#1998 Akmal / Updated currency code to currency full name for transfer currency lists
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
Labels: Core

#2090 Sara / Applied some changes on text component
  packages/components/src/components/text/text.jsx
  packages/components/src/components/text/text.scss
Labels: Components

#2097 Remove is_high_risk as a flag to check financial_assessment
  packages/core/src/Stores/client-store.js
Labels: Core

#2037 Akmal / Renamed Isle of Man account type to Deriv Account
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#2073 aaron/Onramp ticker
  packages/components/src/components/news-ticker/index.js
  packages/components/src/components/news-ticker/news-ticker-children.jsx
  packages/components/src/components/news-ticker/news-ticker.jsx
  packages/components/src/components/news-ticker/news-ticker.scss
  packages/components/src/index.js
  packages/components/stories/news-ticker/news-ticker.stories.js
  packages/core/src/Modules/Cashier/Components/on-ramp-provider-card.jsx
Labels: Components, Core

#2059 Akmal / Fixed validation to not allow entering 0 for 30 days max total stake
  packages/core/src/Modules/Cashier/Components/Form/max-turnover-form.jsx
Labels: Core

#2076 Bala/fix-data-list-warning
  packages/components/src/components/data-list/data-list.jsx
Labels: Components

#2104 Akmal / Fixed tooltip display when there is no message / by default
  packages/components/src/components/clipboard/clipboard.jsx
  packages/components/src/components/popover/popover.jsx
Labels: Components

#2100 Matin/Improvement: Added Loading to transfer page
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Core

#2064 zaki / fix_remaining_workflow_authentication_bugs
  packages/account/src/Components/poa-not-required/index.js
  packages/account/src/Components/poa-not-required/not-required.jsx
  packages/account/src/Components/poi-not-required/index.js
  packages/account/src/Components/poi-not-required/onfido-not-required.jsx
  packages/account/src/Containers/account.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.js
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
Labels: Account, Core

#1890 carol/Handle p2p disputed orders
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/orders/order-details/order-details-footer.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/p2p/src/utils/orders.js
  packages/p2p/stores/general-store.js
Labels: P2P

#2102 Sara / Fixed issue with className
  packages/components/src/components/text/text.jsx
Labels: Components

#2105 carol/P2P remove hyperlink from modal
  packages/p2p/src/components/orders/order-details/order-details-footer.jsx
Labels: P2P

#2106 Bala/fix-data-list-desktop-scroll
  packages/components/src/components/data-list/data-list.jsx
  packages/components/src/components/data-list/data-list.scss
Labels: Components

#2075 Bala/set-default-stake-on-account-switch
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#2056 Bala/Refactor autocomplete and dropdown
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/date-picker/date-picker-input.jsx
  packages/components/src/components/dropdown-list/dropdown-list.jsx
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/modal/modal.jsx
  packages/components/src/hooks/index.js
  packages/components/src/hooks/use-blockscroll.js
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/financial-details-partials.jsx
  packages/core/src/App/Containers/RealAccountSignup/financial-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
  packages/core/src/sass/app/modules/account-signup.scss
  packages/shared/src/index.js
  packages/shared/src/utils/dom/index.js
  packages/shared/src/utils/dom/position.js
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
  packages/trader/src/sass/app/modules/trading.scss
Labels: Components, Core, Shared, Trader

#2087 carol/P2P nickname modal bug
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/nickname/nickname-form.jsx
  packages/p2p/src/components/nickname/nickname-form.scss
Labels: P2P

#2066 Akmal / Added language query parameter on URL for all routes
  packages/core/src/App/Containers/Routes/routes.jsx
  packages/core/src/Utils/Language/language.js
  packages/shared/src/utils/url/url.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Core, Shared, Trader

#2101 Mehrzad / improve load modal size on screen size < 1140px
  packages/bot-web-ui/src/assets/sass/load-modal.scss
  packages/bot-web-ui/src/components/load-modal.jsx
Labels: Bot

#2108 salar / Fix text warnings
  packages/components/src/components/text/text.jsx
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
Labels: Components, P2P, Trader

#2031 salar / Invalid token session
  packages/account/src/Sections/Security/ConnectedApps/connected-apps.jsx
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/core/src/Services/socket-general.js
Labels: Account, Bot, Core, Shared, Trader

#2071 Nijil/DBot - Session storage exceeded error
  packages/bot-skeleton/package-lock.json
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/utils/local-storage.js
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/assets/sass/transactions.scss
  packages/bot-web-ui/src/stores/journal-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/transactions-store.js
Labels: Bot

#2109 Mehrzad / update complain modal checkbox position
  packages/p2p/src/components/orders/order-details/order-details.scss
Labels: P2P

#2030 Sara / Refactoring texts
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Components/Elements/Notifications/empty-notification.jsx
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/App/Containers/RealAccountSignup/signup-error-content.jsx
  packages/core/src/App/Containers/SettingsModal/settings-language.jsx
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/account-transfer-receipt.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-transfer-receipt.jsx
  packages/core/src/Modules/Cashier/Components/payment-agent-list.jsx
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/core/src/sass/app/_common/components/settings-language.scss
  packages/core/src/sass/app/modules/cashier.scss
  packages/core/src/sass/app/modules/notifications-dialog.scss
Labels: Components, Core

#2111 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2119 Bala/add back transition group in data-list
  packages/components/src/components/data-list/data-list.jsx
Labels: Components

#2120 aaron/Update p2p translations
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_tw.json
Labels: P2P

#2116 Akmal / DMT5 currency label changes on transfer page
  packages/components/src/components/select-native/select-native.jsx
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
Labels: Components, Core

#2135 carol/DP2P My profile daily value hotfix
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/utils/orders.js
Labels: P2P

#2145 Update p2p translations
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_tw.json
Labels: P2P

#2125 Amir / fix: Remove unnecessary account transfer notes
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
Labels: Core

#2137 salar / Fix: add check for client email presence
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Core

#2131 Mahdi Aryayi / Fixed self exclusion bug
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/sass/app/_common/components/app-notification-message.scss
Labels: Core

#2113 Matin/Fix: Should not proceed with real account wizard if missing financial assessment field
  packages/core/src/App/Containers/RealAccountSignup/financial-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/financial-details.jsx
Labels: Core

#2084 Matin/Fix: Currency selector page misalignments fixed
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/change-account-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
  packages/core/src/sass/add-or-manage.scss
  packages/core/src/sass/currency-select-radio.scss
Labels: Core

#2118 zaki / fix_mt5_topup_button
  packages/core/src/Stores/ui-store.js
  packages/trader/src/Modules/MT5/Containers/mt5-top-up-demo-modal.jsx
  packages/trader/src/Modules/MT5/Helpers/constants.js
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
Labels: Core, Trader

#2067 mamali/add Install pwa prompt to notifications
  packages/components/src/components/icon/common/ic-announce.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Elements/NotificationMessage/constants.js
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/ui-store.js
  packages/shared/src/utils/config/config.js
Labels: Components, Core, Shared

#2042 shayan / Showing SmartTrader logo platform in Dtrader platform
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
Labels: Core

#2112 Shayan/upgrading deriv-charts to 0.3.9
  packages/account/package-lock.json
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
Labels: Account, Bot, Core, Trader

#2121 Akmal / Changed error page alignment
  packages/components/src/components/page-error/page-error.jsx
  packages/components/src/components/page-error/page-error.scss
  packages/core/src/sass/app/modules/page-404.scss
Labels: Components, Core

#2134 salar / Fix: allow CR to deposit without latest TnC
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Core

#2126 Sara / Fix bug core span refactoring
  packages/components/src/components/text/text.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
Labels: Components, Core

#2114 Bala/contract drawer mobile - auto height
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/swipeable-components.jsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/sass/app/_common/components/contract-audit.scss
  packages/trader/src/sass/app/_common/drawer/contract-drawer.scss
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Labels: Core, Trader

#2036 Sara / Refactoring paragraph
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-card.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/set-currency.jsx
  packages/core/src/App/Containers/RealityCheckModal/brief-modal.jsx
  packages/core/src/App/Containers/RealityCheckModal/summary-modal.jsx
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-modal.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-modal.jsx
  packages/core/src/Modules/Cashier/Components/Email/email-sent.jsx
  packages/core/src/Modules/Cashier/Components/Email/send-email.jsx
  packages/core/src/Modules/Cashier/Components/Error/account-transfer-no-account.jsx
  packages/core/src/Modules/Cashier/Components/Error/deposit-locked.jsx
  packages/core/src/Modules/Cashier/Components/Error/no-balance.jsx
  packages/core/src/Modules/Cashier/Components/Error/virtual.jsx
  packages/core/src/Modules/Cashier/Components/payment-agent-list.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/sass/add-or-manage.scss
  packages/core/src/sass/app/modules/account-signup.scss
  packages/core/src/sass/app/modules/account-types.scss
  packages/core/src/sass/app/modules/cashier.scss
  packages/core/src/sass/app/modules/reality-check.scss
  packages/core/src/sass/app/modules/reset-password.scss
  packages/core/src/sass/app/modules/set-residence.scss
  packages/core/src/sass/details-form.scss
  packages/core/src/sass/set-currency.scss
Labels: Core

#2144 Ali / change info icon in DBot
  packages/bot-skeleton/src/scratch/blocks/images.js
  packages/bot-skeleton/src/scratch/hooks/css.js
Labels: Bot

#2000 aaron/Allow @deriv/p2p to be published (again)
  packages/core/package-lock.json
  packages/core/package.json
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/p2p/scripts/publish.js
  packages/p2p/src/components/app.scss
  packages/p2p/webpack.config.js
Labels: Core, P2P

#2107 Matin/ Improvement: Move Account Wizard components to functional components
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/financial-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/set-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/sass/details-form.scss
Labels: Core

#2099 Sean / feat: p2p banner for notifications
  packages/components/src/components/icon/common/ic-close-light.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Elements/NotificationMessage/constants.js
  packages/core/src/App/Components/Elements/NotificationMessage/notification-banner.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/App/app.js
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/public/images/common/static_images/dp2p_banner.png
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/components/app-notification-message.scss
  packages/core/src/sass/app/_common/components/notification-banner.scss
Labels: Components, Core

#2146 aaron/Minor issues in Spanish
  packages/p2p/src/components/orders/orders.scss
Labels: P2P

#2060 amam/add onramp description
  packages/components/src/components/vertical-tab/vertical-tab-content-container.jsx
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/components/src/hooks/index.js
  packages/components/src/hooks/use-previous-state.js
  packages/core/src/Modules/Cashier/Components/side-note.jsx
  packages/core/src/Modules/Cashier/Containers/deposit.jsx
  packages/core/src/Modules/Cashier/Containers/on-ramp.jsx
  packages/core/src/Modules/Cashier/Containers/withdrawal.jsx
  packages/core/src/sass/app/modules/cashier.scss
Labels: Components, Core

#2123 Sara / Changed line height label
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/account-transfer-receipt.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-transfer-receipt.jsx
  packages/core/src/Modules/Cashier/Components/payment-agent-list.jsx
  packages/core/src/sass/app/modules/cashier.scss
  packages/shared/src/styles/themes.scss
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
Labels: Core, Shared, Trader

#2147 Akmal / Fixed issue with setting currency
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
Labels: Core

#2133 zaki / fix_mt5_stp_woes_part2
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poi.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Core, Trader

#2151 negar/account_transfer_fix_rendering
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Containers/deposit.jsx
  packages/core/src/Modules/Cashier/Containers/on-ramp.jsx
  packages/core/src/Modules/Cashier/Containers/withdrawal.jsx
Labels: Core

#2160 carol/DP2P re-add disputed footer
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/utils/orders.js
Labels: P2P

#2150 Sean / disable p2p banner and fix routes
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Core

#2142 Matin/Add: Reset balance feature for virtual accounts
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/core/src/sass/app/_common/components/app-notification-message.scss
  packages/core/src/sass/app/modules/notifications-dialog.scss
Labels: Core

#2153 salar / Refactor login history
  packages/account/src/Sections/Security/LoginHistory/login-history.jsx
  packages/account/src/Styles/account.scss
  packages/core/src/_common/base/socket_base.js
Labels: Account, Core

#2047 aaron/Rewrite DP2P chat + responsive details + chat
  packages/components/src/components/icon/common/ic-attachment.svg
  packages/components/src/components/icon/common/ic-chat.svg
  packages/components/src/components/icon/common/ic-message-delivered.svg
  packages/components/src/components/icon/common/ic-message-errored.svg
  packages/components/src/components/icon/common/ic-message-pending.svg
  packages/components/src/components/icon/common/ic-message-seen.svg
  packages/components/src/components/icon/common/ic-send-message.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/input/input.jsx
  packages/components/src/components/mobile-full-page-modal/mobile-full-page-modal.jsx
  packages/components/src/components/mobile-full-page-modal/mobile-full-page-modal.scss
  packages/components/src/components/radio-group/radio-group.jsx
  packages/components/stories/icon/icons.js
  packages/core/src/Modules/Cashier/Containers/p2p-cashier.jsx
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/p2p/src/assets/icon-back.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/orders/chat/chat-footer-icon.jsx
  packages/p2p/src/components/orders/chat/chat-footer.jsx
  packages/p2p/src/components/orders/chat/chat-footer.scss
  packages/p2p/src/components/orders/chat/chat-header.jsx
  packages/p2p/src/components/orders/chat/chat-header.scss
  packages/p2p/src/components/orders/chat/chat-message-receipt.jsx
  packages/p2p/src/components/orders/chat/chat-message-text.jsx
  packages/p2p/src/components/orders/chat/chat-messages.jsx
  packages/p2p/src/components/orders/chat/chat-messages.scss
  packages/p2p/src/components/orders/chat/chat-wrapper.jsx
  packages/p2p/src/components/orders/chat/chat.jsx
  packages/p2p/src/components/orders/chat/chat.scss
  packages/p2p/src/components/orders/order-details/order-details-cancel-modal.jsx
  packages/p2p/src/components/orders/order-details/order-details-cancel-modal.scss
  packages/p2p/src/components/orders/order-details/order-details-chatbox.jsx
  packages/p2p/src/components/orders/order-details/order-details-complain-modal-radio-group.jsx
  packages/p2p/src/components/orders/order-details/order-details-complain-modal.jsx
  packages/p2p/src/components/orders/order-details/order-details-complain-modal.scss
  packages/p2p/src/components/orders/order-details/order-details-confirm-modal.jsx
  packages/p2p/src/components/orders/order-details/order-details-confirm-modal.scss
  packages/p2p/src/components/orders/order-details/order-details-footer.jsx
  packages/p2p/src/components/orders/order-details/order-details-timer.jsx
  packages/p2p/src/components/orders/order-details/order-details-wrapper.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/p2p/src/components/orders/order-details/order-info-block.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/orders/popup.jsx
  packages/p2p/src/components/page-return/page-return.jsx
  packages/p2p/src/components/page-return/page-return.scss
  packages/p2p/src/utils/chat-message.js
  packages/p2p/src/utils/orders.js
  packages/p2p/stores/advertiser-page-store.js
  packages/p2p/stores/base_store.js
  packages/p2p/stores/general-store.js
  packages/p2p/stores/index.js
  packages/p2p/stores/my-profile-store.js
  packages/p2p/stores/sendbird-store.js
Labels: Components, Core, P2P

#2167 Akmal / Fixed extra digits shown in an inappropriate place
  packages/core/src/App/Components/Layout/Header/account-info.jsx
Labels: Core

#2172 Matin/Fix: Reset virtual account balance bugs fixed
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/_common/components/app-notification-message.scss
Labels: Core

#1947 carol/Add mobx stores
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell-table-content.jsx
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/buy-sell/row.jsx
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-ads/my-ads-summary.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/my-ads/toggle-ads.jsx
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/nickname/nickname-form.jsx
  packages/p2p/src/components/order-details/order-details-cancel-modal.jsx
  packages/p2p/src/components/order-details/order-details-cancel-modal.scss
  packages/p2p/src/components/order-details/order-details-complain-modal-radio-group.jsx
  packages/p2p/src/components/order-details/order-details-complain-modal.jsx
  packages/p2p/src/components/order-details/order-details-complain-modal.scss
  packages/p2p/src/components/order-details/order-details-confirm-modal.jsx
  packages/p2p/src/components/order-details/order-details-confirm-modal.scss
  packages/p2p/src/components/order-details/order-details-footer.jsx
  packages/p2p/src/components/order-details/order-details-timer.jsx
  packages/p2p/src/components/order-details/order-details-wrapper.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/order-details/order-details.scss
  packages/p2p/src/components/order-details/order-info-block.jsx
  packages/p2p/src/components/orders/order-table-content.jsx
  packages/p2p/src/components/orders/order-table-header.jsx
  packages/p2p/src/components/orders/order-table-row.jsx
  packages/p2p/src/components/orders/order-table.jsx
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
  packages/p2p/src/components/orders/order-table/order-table-header.jsx
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/orders/popup.jsx
  packages/p2p/src/components/verification/download.jsx
  packages/p2p/src/components/verification/verification.jsx
  packages/p2p/src/constants/order-list.js
  packages/p2p/stores/advertiser-page-store.js
  packages/p2p/stores/buy-sell-store.js
  packages/p2p/stores/general-store.js
  packages/p2p/stores/index.js
  packages/p2p/stores/my-ads-store.js
  packages/p2p/stores/order-details-store.js
  packages/p2p/stores/order-store.js
  packages/p2p/webpack.config.js
Labels: P2P

#2176 bahar/show_description_for_hold_and_release_in_statement
  packages/trader/src/Modules/Reports/Containers/statement.jsx
Labels: Trader

#2155 salar / refactor AccountLimits component
  packages/account/src/Sections/Security/AccountLimits/account-limits.jsx
Labels: Account

#2177 Matin/Improvement: `cashier__text` has been improved to support all languages text width
  packages/core/src/Modules/Cashier/Components/Error/virtual.jsx
  packages/core/src/sass/app/modules/cashier.scss
Labels: Core

#2156 Matin/Fix: click on footer icons will redirect to that page with chosen language
  packages/shared/src/utils/url/url.js
Labels: Shared

#2189 amam/fix_race_condition_onfido
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Account, Core

#2192 amam/fix_race_condition_onfido (#2189)
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Account, Core

#2178 Akmal / Fixed incorrect variable initiation
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/change-account-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/set-currency.jsx
  packages/core/src/sass/add-or-manage.scss
  packages/core/src/sass/currency-select-radio.scss
  packages/core/src/sass/set-currency.scss
Labels: Core

#2187 Matin/Fix: Hide `Reset balance` button in account switcher if real account is active
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#2158 Sara / Renamed lineHeight prop in text component
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/set-currency.jsx
  packages/core/src/App/Containers/RealityCheckModal/brief-modal.jsx
  packages/core/src/App/Containers/RealityCheckModal/summary-modal.jsx
  packages/core/src/Modules/Cashier/Components/Email/email-sent.jsx
  packages/core/src/Modules/Cashier/Components/Error/account-transfer-no-account.jsx
  packages/core/src/Modules/Cashier/Components/Error/no-balance.jsx
  packages/core/src/Modules/Cashier/Components/Error/virtual.jsx
  packages/core/src/Modules/Cashier/Components/payment-agent-list.jsx
Labels: Core

#2199 zaki / fix_cashier_acc_creation_deposit_btn
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core
