Repository deriv-com/deriv-app, pull requests merged in 2020-05, with the labels that each got.

#1075 aaron/P2P fix field values
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/utils/websocket.js
Labels: P2P

#1051 aaron/Indicate bot stopped when bot cannot recover
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#999 Nijil/Version updates + Text updates
  packages/bot-skeleton/package-lock.json
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_statement.js
  packages/bot-skeleton/src/scratch/blocks/Logic/logic_negate.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_statement.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-web-ui/src/components/load-modal.jsx
Labels: Bot

#1027 Nijil/Fix issue - not able to scroll preview workspace
  packages/bot-web-ui/src/assets/sass/load-modal.scss
  packages/bot-web-ui/src/components/load-modal.jsx
  packages/bot-web-ui/src/stores/load-modal-store.js
  packages/components/src/components/modal/modal.jsx
Labels: Bot, Components, Core, Trader

#961 negar/update_mt5_names
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-advanced.svg
  packages/components/src/components/icon/mt5/ic-mt5-financial-platform.svg
  packages/components/src/components/icon/mt5/ic-mt5-financial-stp-platform.svg
  packages/components/src/components/icon/mt5/ic-mt5-financial-stp.svg
  packages/components/src/components/icon/mt5/ic-mt5-financial.svg
  packages/components/src/components/icon/mt5/ic-mt5-standard.svg
  packages/components/src/components/icon/mt5/ic-mt5-synthetic-indices.svg
  packages/components/src/components/icon/mt5/ic-mt5-synthetic-platform.svg
  packages/components/src/components/icon/mt5/ic-mt5-synthetic.svg
  packages/components/stories/icon/icons.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/account-transfer-receipt.jsx
  packages/core/src/Stores/Helpers/client.js
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/trader/src/App/Components/Elements/market-is-closed-overlay.jsx
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-financial-stp-pending-dialog.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Constants/mt5-specifications.js
  packages/trader/src/Modules/MT5/Containers/advanced-description.jsx
  packages/trader/src/Modules/MT5/Containers/financial-stp-description.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-account-opening-real-advanced-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-account-opening-real-financial-stp-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-financial-stp-real-account-signup.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Helpers/client.js
  packages/trader/src/Stores/Modules/MT5/Helpers/mt5-config.js
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
  packages/trader/src/Stores/Modules/Trading/Helpers/allow-equals.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, Core, Trader

#1078 msamprz/remove_beta
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/sass/app/_common/components/platform-switcher.scss
Labels: Core

#1085 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1090 aaron/Support prod object structure
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
Labels: Bot

#1092 aaron/DBot Workspace & Chart navigation fix
  packages/bot-skeleton/src/scratch/hooks/workspace.js
  packages/bot-skeleton/src/utils/workspace.js
  packages/bot-web-ui/src/components/main-content.jsx
Labels: Bot

#1071 oskar|mahdi/lazy_load_routes
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/App/Components/Layout/Footer/toggle-settings.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Lazy/index.js
  packages/core/src/App/Containers/Lazy/lazy.jsx
  packages/core/src/App/Containers/Routes/routes.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Modules/Cashier/index.js
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/core/src/sass/app/_common/components/app-notification-message.scss
  packages/core/src/sass/app/modules/account-signup.scss
  packages/core/src/sass/app/modules/set-residence.scss
  packages/core/src/sass/app/modules/settings.scss
  packages/core/src/sass/change-account.scss
  packages/core/src/sass/currency-select-radio.scss
  packages/core/src/sass/details-form.scss
  packages/core/src/sass/real-account-signup.scss
  packages/core/src/sass/terms-of-use.scss
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar.jsx
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/App/Containers/Lazy/index.js
  packages/trader/src/App/Containers/Lazy/lazy.jsx
  packages/trader/src/App/Containers/Routes/routes.jsx
  packages/trader/src/App/Containers/trade-settings-extensions.jsx
  packages/trader/src/App/app.jsx
  packages/trader/src/Modules/Account/index.js
  packages/trader/src/Modules/Reports/index.js
  packages/trader/src/Modules/Trading/Components/Form/form-layout.jsx
Labels: Core, Trader

#1072 mamali/dmt5-advanced-form-height
  packages/components/src/components/auto-height-wrapper/auto-height-wrapper.jsx
  packages/components/src/components/auto-height-wrapper/index.js
  packages/components/src/components/form-submit-button/form-submit-button.scss
  packages/components/webpack.config.js
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
  packages/core/src/sass/details-form.scss
  packages/core/src/sass/terms-of-use.scss
  packages/shared/src/loaders/deriv-components-loader.js
  packages/trader/src/Modules/Account/Components/icon-message-content.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poi.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-account-opening-real-financial-stp-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-financial-stp-real-account-signup.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
  packages/trader/src/sass/app/modules/account.scss
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Components, Core, Shared, Trader

#1091 salar / WIP: fix dropdown icon toggle effect
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/dropdown.scss
Labels: Components

#1045 mamali/Composite checkbox component
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/composite-checkbox/composite-checkbox.jsx
  packages/components/src/components/composite-checkbox/composite-checkbox.scss
  packages/components/src/components/composite-checkbox/index.js
  packages/components/stories/composite-checkbox/composite-checkbox.stories.js
  packages/components/webpack.config.js
Labels: Components

#1087 salar / update smart-trader logo
  packages/components/src/components/icon/brand/ic-brand-smarttrader.svg
Labels: Components

#1024 aaron/p2p My Ads page
  packages/components/src/components/icon/common/ic-delete.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/progress-indicator/index.js
  packages/components/src/components/progress-indicator/progress-indicator.jsx
  packages/components/src/components/progress-indicator/progress-indicator.scss
  packages/components/src/components/table/table-row.jsx
  packages/components/stories/icon/icons.js
  packages/components/webpack.config.js
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/buy-sell/row.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-ads/toggle-ads.jsx
  packages/p2p/src/components/orders/order-table/order-table-buy-row.jsx
  packages/p2p/src/components/orders/order-table/order-table-sell-row.jsx
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/utils/websocket.js
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, P2P, Trader

#1063 Mehrzad / update market order
  packages/bot-skeleton/src/services/api/active-symbols.js
Labels: Bot

#1077 Nijil/Added antimode function in Aggregate Operations - DBot
  packages/bot-skeleton/src/scratch/blocks/Math/math_on_list.js
Labels: Bot

#1022 Mehrzad / back button fixed
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/orders/orders.jsx
Labels: Bot, P2P

#1008 Sam/Save modal UI Update
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/index.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-skeleton/src/utils/local-storage.js
  packages/bot-web-ui/src/app.jsx
  packages/bot-web-ui/src/assets/sass/save-modal.scss
  packages/bot-web-ui/src/components/save-modal.jsx
  packages/bot-web-ui/src/components/toolbar.jsx
  packages/bot-web-ui/src/stores/save-modal-store.js
  packages/bot-web-ui/src/stores/toolbar-store.js
Labels: Bot

#1093 Mehrzad / update bank detail and contact textarea
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/my-ads/form-ads.jsx
Labels: P2P

#943 Redirect to SmartTrader after setting the currency.
  packages/core/src/App/Containers/RealAccountSignup/modal-login-prompt.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/sass/modal-login-prompt.scss
Labels: Core

#1080 aaron/P2P: Hide Payment methods + Empty state handling
  packages/components/src/components/icon/cashier/ic-cashier-dp2p.svg
  packages/components/src/components/icon/cashier/ic-cashier-no-ads.svg
  packages/components/src/components/icon/cashier/ic-cashier-no-orders.svg
  packages/components/src/components/icon/cashier/ic-cashier-send-email.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell-table-content.jsx
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/shared/src/loaders/deriv-components-loader.js
  packages/trader/src/Modules/Account/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poi.jsx
Labels: Components, P2P, Shared, Trader

#1102 Mahdi Aryayi / Fixed statements table bug
  packages/trader/src/Stores/Modules/Statement/statement-store.js
Labels: Trader

#1100 salar / signup dob state
  packages/components/src/components/date-picker/date-picker.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
Labels: Components, Core

#1112 aaron/Subscribe to p2p_advertiser_info
  packages/p2p/src/components/app.jsx
Labels: P2P

#1113 mamali/add-remove-event-listener
  packages/core/src/App/Containers/Layout/header.jsx
Labels: Core

#1105 salar / add redirect after logout
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#976 amam/p2p_unique_order_link
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/Modules/Cashier/Containers/p2p-cashier.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/p2p/src/components/orders/orders.jsx
Labels: Core, P2P

#1104 aaron/P2p unmounted component error
  packages/components/src/components/button-toggle/button-highlight-wrapper.jsx
  packages/components/src/components/button-toggle/button-toggle.jsx
  packages/components/src/components/tabs/tab.jsx
  packages/components/src/components/tabs/tabs.jsx
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell-table-content.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/buy-sell/row.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/components/table/infinite-loader-list.jsx
  packages/p2p/src/utils/string.js
  packages/p2p/src/utils/websocket.js
Labels: Components, P2P

#1116 Sam/prompt before route
  packages/bot-web-ui/src/app.jsx
  packages/bot-web-ui/src/assets/sass/transactions.scss
  packages/bot-web-ui/src/components/route-prompt-dialog.jsx
  packages/bot-web-ui/src/stores/index.js
  packages/bot-web-ui/src/stores/route-prompt-dialog-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/components/src/components/dialog/dialog.scss
  packages/core/src/App/Components/Routes/binary-routes.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/Stores/ui-store.js
  packages/trader/src/App/Containers/Routes/routes.jsx
  packages/trader/src/App/app.jsx
Labels: Bot, Components, Core, Trader

#1124 negar/consistent_casing
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.jsx
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar-mobile.jsx
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/Modules/Account/Sections/Security/DerivPassword/change-password-form.jsx
Labels: Core, Trader

#1099 zaki/fix_ui_bugs
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/autocomplete/autocomplete.scss
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/dropdown/list.scss
  packages/components/src/components/icon/common/ic-full-screen-restore.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Footer/toggle-fullscreen.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/finished-set-currency.jsx
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/core/src/sass/app/modules/account-signup.scss
  packages/core/src/sass/app/modules/cashier.scss
  packages/core/src/sass/app/modules/settings.scss
  packages/shared/src/utils/currency/currency.js
  packages/trader/src/sass/app/_common/components/purchase-button.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Components, Core, Shared, Trader

#1016 Bala/accounts forms dirty check
  packages/trader/src/Modules/Account/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/trader/src/Modules/Account/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Trader

#1062 Bala/forget proposal fix
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Core, Trader

#1101 salar / fix unsupported trade type msg position
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader

#1130 zaki/update_deriv_api
  packages/core/package-lock.json
  packages/core/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
Labels: Core, Trader

#1097 Sam/P2p order design
  packages/components/src/components/button-toggle/button-highlight-wrapper.jsx
  packages/components/src/components/button-toggle/button-highlight.jsx
  packages/components/src/components/button-toggle/button-toggle.jsx
  packages/components/src/components/button-toggle/button-toggle.scss
  packages/components/src/components/button/button.jsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/icon/common/ic-no-order.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/table/table.scss
  packages/components/src/components/tabs/tabs.scss
  packages/components/stories/icon/icons.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/orders/order-info.js
  packages/p2p/src/components/orders/order-table/order-table-buy-row.jsx
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
  packages/p2p/src/components/orders/order-table/order-table-header.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/orders/order-table/order-table-sell-row.jsx
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/utils/date-time.js
Labels: Components, P2P, Shared

#1108 oskar/dropdown_keyboard_events
  packages/components/src/components/dropdown/dropdown.js
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/items.jsx
  packages/components/src/components/dropdown/list.scss
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/trader/src/sass/app/modules/account.scss
Labels: Components, Core, Trader

#1127 mamali/Fix POA on mobile
  packages/trader/src/sass/app/modules/account.scss
Labels: Trader

#1103 Nijil/DBot Workspace color update
  packages/bot-skeleton/src/scratch/blocks/images.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/colours.js
  packages/bot-skeleton/src/scratch/hooks/css.js
  packages/bot-skeleton/src/scratch/hooks/field.js
  packages/bot-skeleton/src/scratch/hooks/field_dropdown.js
  packages/bot-web-ui/src/assets/sass/workspace.scss
Labels: Bot

#1107 Mahdi Aryayi / Fixed cashier
  packages/core/src/sass/app/modules/cashier.scss
Labels: Core

#1114 mamali/Update account switcher to list all available accounts
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
Labels: Core, EU

#1134 zaki/fix_poa_mobile
  packages/trader/src/sass/app/modules/account.scss
Labels: Trader

#1137 Sam/fix trader button toggle css
  packages/components/src/components/button-toggle/button-toggle.scss
  packages/p2p/src/components/app.scss
Labels: Components, P2P

#1054 Mahdi Aryayi / Add types popup
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-card.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/App/Containers/AccountTypesModal/index.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/core/src/sass/app/modules/account-types.scss
Labels: Core, EU, Needs Review

#1152 aaron/DBot - Help content hotfix
  packages/bot-skeleton/src/assets/images/break_out.png
  packages/bot-skeleton/src/assets/images/candle_list.png
  packages/bot-skeleton/src/assets/images/candle_list_1.png
  packages/bot-skeleton/src/assets/images/check_result.png
  packages/bot-skeleton/src/assets/images/compare_logic.png
  packages/bot-skeleton/src/assets/images/constrain.png
  packages/bot-skeleton/src/assets/images/continue.png
  packages/bot-skeleton/src/assets/images/controls_for.png
  packages/bot-skeleton/src/assets/images/controls_forEach.png
  packages/bot-skeleton/src/assets/images/controls_if.png
  packages/bot-skeleton/src/assets/images/epoch.png
  packages/bot-skeleton/src/assets/images/get_candle.png
  packages/bot-skeleton/src/assets/images/if-return.png
  packages/bot-skeleton/src/assets/images/in_candle_list_read.png
  packages/bot-skeleton/src/assets/images/logic.png
  packages/bot-skeleton/src/assets/images/notify_telegram.png
  packages/bot-skeleton/src/assets/images/read_candle_value.png
  packages/bot-skeleton/src/assets/images/repeat_until.png
  packages/bot-skeleton/src/assets/images/repeat_while.png
  packages/bot-skeleton/src/assets/images/sell_available.png
  packages/bot-skeleton/src/assets/images/sell_pl.png
  packages/bot-skeleton/src/assets/images/sma_array.png
  packages/bot-skeleton/src/assets/images/sma_block_example.png
  packages/bot-skeleton/src/assets/images/sma_block_example_1.png
  packages/bot-skeleton/src/assets/images/todatetime.png
  packages/bot-skeleton/src/assets/images/totimestamp.png
  packages/bot-skeleton/src/assets/images/trade_again.png
  packages/bot-skeleton/src/scratch/hooks/css.js
  packages/bot-web-ui/src/assets/sass/workspace.scss
Labels: Bot

#1145 shayan | zaki / update_deriv-charts
  packages/bot-skeleton/webpack.config.js
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/components/chart/chart.jsx
  packages/bot-web-ui/src/components/chart/control-widgets.jsx
  packages/bot-web-ui/src/components/chart/toolbar-widgets.jsx
  packages/bot-web-ui/src/public-path.js
  packages/bot-web-ui/webpack.config.js
  packages/core/build/constants.js
  packages/core/package-lock.json
  packages/core/package.json
  packages/trader/build/config.js
  packages/trader/build/webpack.config.js
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Containers/SettingsModal/settings-chart.jsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/SmartChart/Components/toolbar-widgets.jsx
  packages/trader/src/Modules/SmartChart/index.js
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Contract/contract-trade-store.js
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/smart-chart.scss
Labels: Bot, Core, Trader

#1149 oskar/fa_for_financial_information_not_complete
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/trader/src/Modules/Account/Containers/account.jsx
  packages/trader/src/Modules/Account/Sections/Profile/FinancialAssessment/financial-assessment.jsx
Labels: Core, Trader

#1025 mamali/add-malta-(belgium residence)-account-signup
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-buttons.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-heading.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-message.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/Stores/client-store.js
Labels: Components, Core, Trader

#1144 oskar/unsupported_market
  packages/trader/src/App/Containers/Modals/trade-modals.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#1154 msamprz/password_hint_fix
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
Labels: Trader

#1135 aaron/Update p2p translations
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
Labels: P2P

#1138 aaron/P2P Order Empty State (Bug)
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
Labels: P2P

#1141 Sam/validate nan in p2p my-ad form
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/my-ads/form-ads.jsx
Labels: P2P

#1160 Fix standpoint bug on switching accounts
  packages/core/src/Stores/client-store.js
Labels: Core

#1161 mamali/fix-standpoint-default
  packages/core/src/Stores/client-store.js
Labels: Core

#1153 aaron/Set staging endpoint through GET params
  packages/core/src/App/app.jsx
  packages/shared/src/utils/config/config.js
  packages/shared/src/utils/config/index.js
Labels: Core, Shared

#1140 order details footer update
  packages/p2p/src/components/footer-actions/footer-actions.jsx
  packages/p2p/src/components/orders/order-details/order-actions-block.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/orders/popup.jsx
Labels: Components, P2P

#1094 Bala/put synthetic indices on top
  packages/core/src/Stores/Modules/Trading/Helpers/__tests__/active-symbols.js
  packages/core/src/Stores/Modules/Trading/Helpers/active-symbols.js
  packages/core/src/Stores/client-store.js
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/Helpers/active-symbols.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Core, Trader

#1170 zaki/fix_account_subroutes_mobile
  packages/account/src/Sections/Security/DerivPassword/change-password-form.jsx
  packages/account/src/Styles/account.scss
  packages/core/src/App/Constants/routes-config.js
Labels: Core

#1172 V20200521_1
  packages/account/src/Sections/Security/DerivPassword/change-password-form.jsx
  packages/account/src/Styles/account.scss
  packages/core/src/App/Constants/routes-config.js
Labels: Core

#1173 negar/account_fixes
  packages/account/build/webpack.config.js
  packages/account/src/Components/multi-step/index.js
  packages/account/src/Layout/send-email.jsx
  packages/account/src/Sections/Security/DerivPassword/deriv-password.jsx
  packages/account/src/Sections/Security/DerivPassword/forgot-your-password.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/multi-step/index.js
  packages/components/src/components/multi-step/multi-step.jsx
  packages/components/src/components/multi-step/multi-step.scss
  packages/components/src/components/send-email-template/index.js
  packages/components/src/components/send-email-template/send-email-template.jsx
  packages/components/src/components/send-email-template/send-email-template.scss
  packages/components/webpack.config.js
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, Trader

#1175 V20200525_0
  .github/CODEOWNERS
  packages/account/build/webpack.config.js
  packages/account/src/Components/multi-step/index.js
  packages/account/src/Layout/send-email.jsx
  packages/account/src/Sections/Security/DerivPassword/deriv-password.jsx
  packages/account/src/Sections/Security/DerivPassword/forgot-your-password.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/multi-step/index.js
  packages/components/src/components/multi-step/multi-step.jsx
  packages/components/src/components/multi-step/multi-step.scss
  packages/components/src/components/send-email-template/index.js
  packages/components/src/components/send-email-template/send-email-template.jsx
  packages/components/src/components/send-email-template/send-email-template.scss
  packages/components/webpack.config.js
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, Trader

#1166 salar / add correct size platform switcher icons
  packages/components/src/components/icon/brand/ic-brand-dtrader.svg
  packages/components/src/components/icon/brand/ic-brand-smarttrader.svg
Labels: Components

#1167 msamprz/autoclose_date_prompt
  packages/account/src/Containers/account.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar.jsx
  packages/trader/src/Modules/Reports/Containers/reports.jsx
Labels: Core, Trader

#1143 Mehrzad / update order details header
  packages/p2p/src/components/orders/order-details/order-details-result-message.jsx
  packages/p2p/src/components/orders/order-details/order-details-status-block.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/p2p/src/components/orders/orders.jsx
Labels: P2P

#1131 negar/redesign_dmt5
  packages/account/src/Sections/Security/DerivPassword/change-password-form.jsx
  packages/components/src/components/form-submit-button/form-submit-button.jsx
  packages/components/src/components/form-submit-button/form-submit-button.scss
  packages/components/src/components/icon/cashier/ic-cashier-wallet.svg
  packages/components/src/components/icon/common/ic-checkmark-circle.svg
  packages/components/src/components/icon/common/ic-installation-linux.svg
  packages/components/src/components/icon/common/ic-installation-mac.svg
  packages/components/src/components/icon/common/ic-installation-web-demo.svg
  packages/components/src/components/icon/common/ic-installation-web-real.svg
  packages/components/src/components/icon/common/ic-installation-web.svg
  packages/components/src/components/icon/common/ic-installation-windows.svg
  packages/components/src/components/icon/common/ic-password-eye-visible.svg
  packages/components/src/components/icon/common/ic-password-updated.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/input/input.scss
  packages/components/src/components/modal/modal.scss
  packages/components/src/components/password-input/password-input.jsx
  packages/components/src/components/password-meter/password-meter.jsx
  packages/components/src/components/password-meter/password-meter.scss
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/tabs/tabs.jsx
  packages/components/src/components/tabs/tabs.scss
  packages/components/stories/icon/icons.js
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/Modals/success-dialog.jsx
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
  packages/core/src/sass/add-or-manage.scss
  packages/trader/src/App/Containers/Modals/success-dialog.jsx
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/trader/src/Modules/MT5/Components/mt5-account-copy.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/financial-stp-description.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard-container.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-top-up-demo-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-welcome-message.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Components, Core, Trader

#1182 Update eu 26 05
  .github/CODEOWNERS
  packages/account/build/webpack.config.js
  packages/account/src/Components/multi-step/index.js
  packages/account/src/Containers/account.jsx
  packages/account/src/Layout/send-email.jsx
  packages/account/src/Sections/Security/DerivPassword/change-password-form.jsx
  packages/account/src/Sections/Security/DerivPassword/deriv-password.jsx
  packages/account/src/Sections/Security/DerivPassword/forgot-your-password.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/icon/brand/ic-brand-dtrader.svg
  packages/components/src/components/icon/brand/ic-brand-smarttrader.svg
  packages/components/src/components/multi-step/index.js
  packages/components/src/components/multi-step/multi-step.jsx
  packages/components/src/components/multi-step/multi-step.scss
  packages/components/src/components/send-email-template/index.js
  packages/components/src/components/send-email-template/send-email-template.jsx
  packages/components/src/components/send-email-template/send-email-template.scss
  packages/components/webpack.config.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Stores/Modules/Trading/Helpers/__tests__/active-symbols.js
  packages/core/src/Stores/Modules/Trading/Helpers/active-symbols.js
  packages/core/src/Stores/client-store.js
  packages/p2p/src/components/footer-actions/footer-actions.jsx
  packages/p2p/src/components/orders/order-details/order-actions-block.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/orders/popup.jsx
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/Reports/Containers/reports.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/Helpers/active-symbols.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, Core, P2P, Trader

#1095 negar/update_whoops
  packages/account/src/Helpers/flatten.js
  packages/account/src/Modules/Page404/Components/Page404.jsx
  packages/account/src/Services/ws-methods.js
  packages/components/src/components/button-link/button-link.jsx
  packages/components/src/components/dialog/dialog.jsx
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/icon/icon.jsx
  packages/components/src/components/page-error/page-error.jsx
  packages/components/src/components/page-error/page-error.scss
  packages/core/build/config.js
  packages/core/src/App/Components/Elements/Errors/error-component.jsx
  packages/core/src/App/Components/Elements/Modals/DenialOfServiceModal/denial-of-service.jsx
  packages/core/src/App/Components/Elements/Modals/MarketUnavailableModal/index.js
  packages/core/src/App/Components/Elements/Modals/MarketUnavailableModal/market-unavailable.jsx
  packages/core/src/App/Containers/RealAccountSignup/signup-error-content.jsx
  packages/core/src/Modules/Page404/Components/Icon404.jsx
  packages/core/src/Modules/Page404/Components/Page404.jsx
  packages/core/src/Modules/SmartTraderIFrame/SmartTraderIFrame.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/common-store.js
  packages/core/src/public/images/common/static_images/404.png
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/modules/page-404.scss
  packages/p2p/src/components/orders/orders.scss
  packages/shared/src/styles/fonts.scss
  packages/shared/src/utils/routes/routes.js
  packages/shared/src/utils/storage/index.js
  packages/shared/src/utils/storage/storage_events.js
  packages/trader/src/App/Components/Elements/Errors/error-component.jsx
  packages/trader/src/App/Components/Elements/Modals/MarketUnavailableModal/market-unavailable.jsx
  packages/trader/src/App/Components/Elements/Modals/UnsupportedContractModal/unsupported-contract-modal.jsx
  packages/trader/src/App/Containers/Modals/trade-modals.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-server-error-dialog.jsx
  packages/trader/src/Modules/Page404/Components/Icon404.jsx
  packages/trader/src/Modules/Page404/Components/Page404.jsx
Labels: Components, Core, P2P, Shared, Trader

#1187 msamprz/fix_i18n_regex
  packages/p2p/scripts/extract-translations.js
  packages/translations/scripts/__tests__/extract-string.spec.js
  packages/translations/scripts/extract-string.js
Labels: P2P, Translations

#1147 Nijil/Text update across app
  packages/bot-skeleton/src/scratch/blocks/Binary/Tick Analysis/tick.js
  packages/bot-skeleton/src/scratch/blocks/Logic/logic_negate.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_indexOf.js
  packages/bot-skeleton/src/scratch/help-content/help-strings/read_details.js
Labels: Bot

#1191 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1129 zaki/add_barrier_trade_types_mobile
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/barrier.jsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
  packages/trader/src/Modules/Trading/Helpers/contract-type.js
  packages/trader/src/Stores/Modules/Trading/Helpers/barrier.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Mobile, Trader

#939 amam-brandon-aaron/sendbird_integration
  packages/components/src/components/button/button.scss
  packages/components/src/components/icon/cashier/ic-cashier-p2p-user.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/buy-sell/nickname-form.jsx
  packages/p2p/src/components/buy-sell/popup.jsx
  packages/p2p/src/components/buy-sell/row.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-ads/toggle-ads.jsx
  packages/p2p/src/components/orders/order-details/order-actions-block.jsx
  packages/p2p/src/components/orders/order-details/order-details-chatbox.jsx
  packages/p2p/src/components/orders/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/p2p/src/components/orders/order-info.js
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/components/page-return/page-return.scss
  packages/p2p/src/utils/sendbird.js
  packages/p2p/src/utils/string.js
  packages/p2p/src/utils/websocket.js
  packages/p2p/webpack.config.js
  packages/shared/src/utils/config/config.js
Labels: Bot, Components, Core, P2P, Trader, Translations

#1151 Bala/long press on Input to increment
  packages/trader/src/App/Components/Form/InputField/increment-buttons.jsx
  packages/trader/src/App/Components/Form/InputField/input-field.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/barrier.jsx
Labels: Trader

#1178 Shayan/Crosshair cut down under left panel in deriv.app
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader

#1169 aaron/P2p session validation
  packages/core/src/App/app.js
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/Stores/client-store.js
  packages/p2p/src/components/orders/popup.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Core, P2P, Trader

#1121 amam/api_token
  packages/account/src/Constants/routes-config.js
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/account/src/Sections/Security/ApiToken/article.jsx
  packages/account/src/Sections/Security/ApiToken/card.jsx
  packages/account/src/Sections/Security/ApiToken/index.js
  packages/account/src/Sections/Security/api-token.jsx
  packages/account/src/Sections/index.js
  packages/account/src/Styles/account.scss
  packages/components/src/components/clipboard/clipboard.jsx
  packages/components/src/components/clipboard/clipboard.scss
  packages/components/src/components/clipboard/index.js
  packages/components/src/components/composite-checkbox/composite-checkbox.scss
  packages/components/src/components/icon/common/ic-remove-token.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/input/input.scss
  packages/components/src/components/timeline/timeline.jsx
  packages/components/src/components/timeline/timeline.scss
  packages/components/stories/clipboard/README.MD
  packages/components/stories/clipboard/clipboard.stories.js
  packages/components/stories/icon/icons.js
  packages/components/webpack.config.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/_common/utility.js
  packages/shared/src/styles/fonts.scss
  packages/shared/src/styles/mixins.scss
  packages/shared/src/utils/routes/routes.js
  packages/shared/src/utils/string/index.js
  packages/trader/src/Modules/MT5/Components/mt5-account-copy.jsx
  packages/trader/src/_common/utility.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Components, Core, Docs, P2P, Shared, Trader

#1146 msamprz/zip_code_regex
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/Utils/Validator/declarative-validation-rules.js
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
  packages/trader/src/Utils/Validator/declarative-validation-rules.js
Labels: Core, Trader

#1201 zaki/fix_barrier_input
  packages/account/src/Styles/account.scss
  packages/trader/src/Stores/Modules/Trading/Helpers/barrier.js
Labels: Trader

#1192 Bala/clear socket cache on login
  packages/core/src/Stores/client-store.js
Labels: Core

#1183 salar / move datatable to components
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/data-table/data-table.jsx
  packages/components/src/components/data-table/data-table.scss
  packages/components/src/components/data-table/index.js
  packages/components/src/components/data-table/table-cell.jsx
  packages/components/src/components/data-table/table-row-info.jsx
  packages/components/src/components/data-table/table-row.jsx
  packages/components/stories/data-table/data-table.stories.css
  packages/components/stories/data-table/data-table.stories.js
  packages/components/webpack.config.js
  packages/trader/src/App/Components/Elements/DataTable/index.js
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Components, Trader

#1155 mamali/mt5-password-reset
  packages/components/src/components/form-submit-button/form-submit-button.jsx
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-expired.svg
  packages/components/src/components/icon/mt5/ic-mt5-password-updated.svg
  packages/components/stories/icon/icons.js
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Services/socket-general.js
  packages/core/src/_common/base/socket_base.js
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-reset-password-modal.jsx
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Components, Core, Trader
