Repository deriv-com/deriv-app, pull requests merged in 2020-08, with the labels that each got.

#1523 bahar/remove_extra_dollar_sign
  packages/bot-web-ui/src/components/transaction.jsx
Labels: Bot

#1525 carol/enable-dbot-in-platform-switcher
  packages/core/src/App/Constants/platform-config.js
Labels: Core

#1512 suthesh/mt5_comparison_table
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
Labels: Trader

#1505 msamprz/no_skelly_build
  packages/account/babel.config.json
  packages/bot-skeleton/.babelrc
  packages/bot-skeleton/.eslintrc.js
  packages/bot-skeleton/babel.config.json
  packages/bot-skeleton/package-lock.json
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/app.js
  packages/bot-skeleton/src/constants/index.js
  packages/bot-skeleton/src/scratch/help-content/help-strings/index.js
  packages/bot-skeleton/src/scratch/index.js
  packages/bot-skeleton/src/services/api/index.js
  packages/bot-skeleton/src/utils/index.js
  packages/bot-skeleton/webpack.config.js
  packages/bot-web-ui/.babelrc
  packages/bot-web-ui/babel.config.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/webpack.config.js
  packages/core/babel.config.json
  packages/p2p/babel.config.json
  packages/trader/babel.config.json
Labels: Account, Bot, Core, P2P, Trader

#1548 staging release
  packages/account/babel.config.json
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/bot-skeleton/.babelrc
  packages/bot-skeleton/.eslintrc.js
  packages/bot-skeleton/babel.config.json
  packages/bot-skeleton/package-lock.json
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/app.js
  packages/bot-skeleton/src/constants/index.js
  packages/bot-skeleton/src/scratch/help-content/help-strings/index.js
  packages/bot-skeleton/src/scratch/index.js
  packages/bot-skeleton/src/services/api/index.js
  packages/bot-skeleton/src/utils/index.js
  packages/bot-skeleton/webpack.config.js
  packages/bot-web-ui/.babelrc
  packages/bot-web-ui/babel.config.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/components/transaction.jsx
  packages/bot-web-ui/webpack.config.js
  packages/core/babel.config.json
  packages/core/src/App/Constants/platform-config.js
  packages/p2p/babel.config.json
  packages/trader/babel.config.json
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
Labels: Account, Bot, Core, P2P, Trader

#1542 Mahdi Aryayi / Remove digital options notifications
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Core

#1544 mamali/[eu] eu-regression-fix
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Security/AccountLimits/account-limits.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/auto-height-wrapper/auto-height-wrapper.jsx
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/field/field.jsx
  packages/components/src/components/field/field.scss
  packages/components/src/components/input/input.scss
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use-messages.jsx
  packages/core/src/sass/app/modules/account-signup.scss
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poi.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Account, Components, Core, Trader

#1550 mamali/Update eu 03 08
  packages/account/babel.config.json
  packages/bot-skeleton/.babelrc
  packages/bot-skeleton/.eslintrc.js
  packages/bot-skeleton/babel.config.json
  packages/bot-skeleton/package-lock.json
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/app.js
  packages/bot-skeleton/src/constants/index.js
  packages/bot-skeleton/src/scratch/help-content/help-strings/index.js
  packages/bot-skeleton/src/scratch/index.js
  packages/bot-skeleton/src/services/api/index.js
  packages/bot-skeleton/src/utils/index.js
  packages/bot-skeleton/webpack.config.js
  packages/bot-web-ui/.babelrc
  packages/bot-web-ui/babel.config.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/components/transaction.jsx
  packages/bot-web-ui/webpack.config.js
  packages/core/babel.config.json
  packages/core/src/App/Constants/platform-config.js
  packages/p2p/babel.config.json
  packages/trader/babel.config.json
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/translations/package-lock.json
Labels: Account, Bot, Core, P2P, Trader, Translations

#1551 Fix bad conflicts
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
Labels: Trader

#1546 mamali/Fix POA validation reference
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-financial-stp-real-account-signup.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Trader

#1559 Update eu 04 08
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-financial-stp-real-account-signup.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Trader

#1564 sam(⚰️)+aaron/P2p remove show
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Stores/common-store.js
Labels: Core

#1562 oskar/update_crowdin_documentation
  packages/p2p/README.md
  packages/p2p/scripts/update-translations.sh
  packages/translations/README.md
  packages/translations/scripts/update-translations.sh
Labels: Docs, P2P, Translations

#1569 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1545 Mehrzad / quick strategy frozen
  packages/bot-web-ui/src/assets/sass/quick-strategy.scss
  packages/bot-web-ui/src/components/quick-strategy.jsx
Labels: Account, Bot

#1572 suthesh/fix_commission_description_on_comparison_table
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
Labels: Trader

#1566 bahar/resolve_empty_content_for_some_help_blocks
  packages/bot-web-ui/src/stores/flyout-help-store.js
Labels: Bot

#1565 Singleton modals3
  packages/components/src/components/modal/modal.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/RealityCheckModal/brief-modal.jsx
  packages/core/src/sass/app/_common/layout/modal-root.scss
Labels: Account, Bot, Components, Core

#1581 oskar/cashier_refresh
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/trader/src/App/Containers/trade-header-extensions.jsx
Labels: Core, Trader

#1585 aaron/Fix load modal issues
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot-web-ui/src/assets/sass/load-modal.scss
  packages/bot-web-ui/src/assets/sass/quick-strategy.scss
  packages/bot-web-ui/src/components/load-modal.jsx
  packages/bot-web-ui/src/stores/load-modal-store.js
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/page-overlay/page-overlay.jsx
Labels: Bot, Components

#1583 aaron/Show P2P + oskar/cashier_refresh (merges into V20200730_0)
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Stores/common-store.js
  packages/trader/src/App/Containers/trade-header-extensions.jsx
Labels: Core, Trader

#1582 mamali/update tax tooltip
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
Labels: Core

#1594 carol/p2p active_flag and statements combined
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/orders/order-info.js
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
  packages/trader/src/Modules/Reports/Components/market-symbol-icon-row.jsx
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
Labels: P2P, Trader

#1571 mama-zaki/fix_account_bugs
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/account/src/Sections/Security/ConnectedApps/connected-apps.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/account/src/Styles/account.scss
  packages/bot-web-ui/src/assets/sass/load-modal.scss
  packages/bot-web-ui/src/assets/sass/transactions.scss
  packages/components/src/components/autocomplete/autocomplete.scss
  packages/components/src/components/calendar/calendar.scss
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/form-progress/form-progress.scss
  packages/components/src/components/form-submit-button/form-submit-button.scss
  packages/components/src/components/modal/modal-footer.jsx
  packages/components/src/components/modal/modal.scss
  packages/components/src/components/select-native/select-native.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/financial-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/Utils/Validator/declarative-validation-rules.js
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
  packages/core/src/sass/app/_common/components/platform-dropdown.scss
  packages/core/src/sass/app/modules/account-signup.scss
  packages/core/src/sass/app/modules/complaints-policy.scss
  packages/core/src/sass/app/modules/reset-password.scss
  packages/core/src/sass/currency-select-radio.scss
  packages/core/src/sass/details-form.scss
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poi.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Utils/Validator/declarative-validation-rules.js
  packages/trader/src/sass/app/_common/drawer/positions-drawer-card.scss
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Account, Bot, Components, Core, Trader

#1587 Mahdi Aryayi / Fixed DMT5 password modal title
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
Labels: Trader

#1580 mamali/Hide microlots for eu
  packages/core/src/App/Containers/RealityCheckModal/brief-modal.jsx
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Constants/mt5-specifications.js
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
Labels: Core, Trader

#1596 aaron/Consider expired orders as active orders (merges into V20200730_0)
  packages/p2p/src/components/orders/order-info.js
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/table/infinite-loader-list.jsx
Labels: Core, P2P, Trader

#1574 Fix uk popup not prompting for UK clients
  packages/components/src/components/modal/modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/modules/external-link.scss
Labels: Components, Core

#1595 aaron/Consider expired orders as active orders
  packages/p2p/src/components/orders/order-info.js
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/table/infinite-loader-list.jsx
Labels: P2P

#1593 carol/Update P2P statement row
  packages/trader/src/Modules/Reports/Components/market-symbol-icon-row.jsx
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
Labels: Trader

#1573 carol/p2p-add-active-flag
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/orders/order-info.js
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
Labels: P2P

#1599 zaki/mt5_password_modal_bugs
  packages/components/src/components/form-submit-button/form-submit-button.scss
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Components, Trader

#1589 Mahdi Aryayi / Fixed dropdown component initial rendering issue
  packages/components/src/components/dropdown/dropdown.jsx
Labels: Components

#1556 Mahdi Aryayi / Add enable eu to endpoint
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/core/src/Stores/ui-store.js
Labels: Account, Bot, Components, Core

#1576 Bala/modal footer buttons - style fix
  packages/components/src/components/modal/modal.scss
Labels: Components

#1584 msamprz/update-mt5-creation-note
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
Labels: Trader

#1541 amam/fix id livechat for GTM trigger
  packages/core/src/App/Components/Elements/live-chat.jsx
Labels: Core

#1607 negar/remove duplicated prop
  packages/core/src/App/Components/Elements/live-chat.jsx
Labels: Core

#1602 zaki/fix_eu_account_types_and_reality_check
  packages/components/src/components/form-submit-button/form-submit-button.scss
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/financial-details-form.js
  packages/core/src/App/Containers/RealAccountSignup/financial-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/proof-of-identity.jsx
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use.jsx
  packages/core/src/sass/app/modules/account-types.scss
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poi.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
Labels: Components, Core, Trader

#1611 mamali/Make upgradeable landing companies unique in case api sends duplicate
  packages/core/src/Stores/client-store.js
Labels: Core

#1608 mamali/mf currencies
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
Labels: Core

#1614 negar/update_values_dmt5_financial
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
Labels: Core

#1615 negar|zaki/handle_no_cur_exceptions
  packages/core/src/App/Components/Layout/Header/account-info.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details-form.js
Labels: Core

#1613 zaki/ fix_staging_bugs
  packages/components/src/components/select-native/select-native.scss
  packages/core/src/App/Containers/RealAccountSignup/financial-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, Core, Trader

#1618 mamali/Fix undefined gaming legal currencies
  packages/core/src/Stores/client-store.js
Labels: Core

#1621 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1617 mamali/close Real account signup on logout
  packages/core/src/Stores/client-store.js
Labels: Core

#1519 salar / Disable cookie loggedin & syc cookes between domains
  packages/core/src/App/Constants/app-config.js
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/_common/storage.js
Labels: Account, Components, Core

#1612 mamali/Update Tablet design for popup
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/sass/app/modules/account-types.scss
Labels: Core

#1616 Mahdi Aryayi / Fixed DMT5 dashboard bug
  packages/components/src/components/dialog/dialog.scss
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/ui-store.js
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, Core, Trader

#1494 salar / Maltainvest disale trader
  packages/bot-web-ui/src/app.jsx
  packages/core/src/App/Components/Routes/binary-link.jsx
  packages/core/src/Stores/client-store.js
  packages/shared/src/index.js
  packages/shared/src/utils/digital-options/digital-options.js
  packages/shared/src/utils/digital-options/index.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Account, Bot, Components, Core, Shared, Trader

#1630 oskar/reduce_dd_sample_rate
  packages/core/src/index.html
Labels: Core

#1629 Mahdi Aryayi / Fixed compare DMT5 popup
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
Labels: Trader

#1451 amam/cashier_eu
  packages/account/src/Containers/account.jsx
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Profile/FinancialAssessment/financial-information-list.js
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/components/src/components/checklist/checklist.jsx
  packages/components/src/components/checklist/checklist.scss
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/field/field.scss
  packages/components/src/components/icon/cashier/ic-cashier-deposit-lock.svg
  packages/components/src/components/icon/cashier/ic-cashier-funds-protection.svg
  packages/components/src/components/icon/cashier/ic-cashier-locked.svg
  packages/components/src/components/icon/cashier/ic-cashier-withdrawal-lock.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/Modules/Cashier/Components/Error/account-transfer-no-account.jsx
  packages/core/src/Modules/Cashier/Components/Error/cashier-locked.jsx
  packages/core/src/Modules/Cashier/Components/Error/deposit-locked.jsx
  packages/core/src/Modules/Cashier/Components/Error/error.jsx
  packages/core/src/Modules/Cashier/Components/Error/funds-protection.jsx
  packages/core/src/Modules/Cashier/Components/Error/transfer-locked.jsx
  packages/core/src/Modules/Cashier/Components/Error/withdrawal-locked.jsx
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Form/max-turnover-form.jsx
  packages/core/src/Modules/Cashier/Containers/account-transfer.jsx
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Modules/Cashier/Containers/deposit.jsx
  packages/core/src/Modules/Cashier/Containers/withdrawal.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/modules/cashier.scss
Labels: Account, Components, Core

#1628 Mahdi Aryayi / Added new markets to accounts type popup
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/sass/app/modules/account-types.scss
Labels: Core

#1620 mamali/hide create account banner for logged in users
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
Labels: Trader

#1463 Bala/eu complaints policy
  packages/components/src/components/icon/common/ic-complaints-policy.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Footer/index.js
  packages/core/src/App/Components/Layout/Footer/toggle-complaints-policy.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy.jsx
  packages/core/src/sass/app/_common/layout/footer.scss
Labels: Account, Components, Core

#1633 zaki/fix_staging_warnings_and_account_switcher_toggle
  packages/components/src/components/select-native/select-native.jsx
  packages/core/src/App/Components/Layout/Header/account-info.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/Modules/Cashier/Components/confirm.jsx
Labels: Components, Core

#1579 carol/Onramp add gtm tracking
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/Modules/Cashier/Components/on-ramp-provider-card.jsx
  packages/core/src/Modules/Cashier/Components/on-ramp-provider-popup.jsx
Labels: Core

#1634 aaron/Cleanup load-modal
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-web-ui/src/assets/sass/load-modal.scss
  packages/bot-web-ui/src/components/load-modal.jsx
  packages/bot-web-ui/src/components/load-modal/google-drive.jsx
  packages/bot-web-ui/src/components/load-modal/local-footer.jsx
  packages/bot-web-ui/src/components/load-modal/local.jsx
  packages/bot-web-ui/src/components/load-modal/recent-footer.jsx
  packages/bot-web-ui/src/components/load-modal/recent-workspace.jsx
  packages/bot-web-ui/src/components/load-modal/recent.jsx
  packages/bot-web-ui/src/components/load-modal/workspace-control.jsx
  packages/bot-web-ui/src/stores/load-modal-store.js
Labels: Bot, Components

#1635 zaki/fix_personal_details_and_cashier_mobile_eu
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/components/src/components/mobile-drawer/mobile-drawer.scss
  packages/core/src/App/Containers/RealityCheckModal/brief-modal.jsx
  packages/core/src/App/Containers/RealityCheckModal/summary-modal.jsx
  packages/core/src/sass/app/modules/cashier.scss
  packages/core/src/sass/app/modules/reality-check.scss
Labels: Account, Components, Core

#1641 Amam/fix cashier hotfix
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Core

#1643 Bala/financial assessment mobile - dropdown fix
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Profile/FinancialAssessment/financial-information-list.js
Labels: Account

#1622 oskar/wizard_loading
  packages/components/src/components/form-submit-button/form-submit-button.scss
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/finished-set-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup-loader.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/SetAccountCurrencyModal/set-currency-modal.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
  packages/core/src/sass/real-account-signup.scss
Labels: Components, Core

#1651 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#1652 zaki/fix_modalception
  packages/components/src/components/modal/modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
  packages/core/src/App/Containers/RealityCheckModal/brief-modal.jsx
  packages/core/src/App/Containers/RealityCheckModal/summary-modal.jsx
  packages/core/src/App/Containers/SetAccountCurrencyModal/set-currency-modal.jsx
  packages/core/src/Modules/Cashier/Components/on-ramp-provider-popup.jsx
  packages/core/src/index.html
  packages/core/src/sass/app/_common/layout/modal-root.scss
  packages/core/src/sass/app/modules/reality-check.scss
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
Labels: Components, Core, Trader

#1597 Mahdi Aryayi / Fixed dependencies security issues
  package-lock.json
  packages/bot-skeleton/package-lock.json
  packages/components/package-lock.json
  packages/shared/package-lock.json
  packages/translations/package.json
Labels: Bot, Components, Shared, Translations

#1659 Revert "Mahdi Aryayi / Fixed dependencies security issues"
  package-lock.json
  packages/bot-skeleton/package-lock.json
  packages/components/package-lock.json
  packages/shared/package-lock.json
  packages/translations/package.json
Labels: Bot, Components, Shared, Translations

#1663 zaki/fix_personal_details_submission
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Account

#1664 zaki/fix_crashing_account_creation
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#1662 Bala/account transfer ui - hotfix
  packages/core/src/sass/app/modules/cashier.scss
Labels: Core

#1649 zaki/fix_mf_fa_and_poi_poa
  packages/account/src/Containers/account.jsx
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/dropdown/dropdown.js
  packages/components/src/components/select-native/select-native.jsx
  packages/components/src/components/select-native/select-native.scss
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/account-wizard.scss
Labels: Account, Components, Core

#1668 Bala/Multiplier responsive hotfixes
  packages/trader/src/App/Components/Elements/PositionsDrawer/contract-update-form.jsx
  packages/trader/src/App/Components/Form/InputField/input-with-checkbox.jsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Helpers/market-underlying.js
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/stop-loss.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/take-profit.jsx
  packages/trader/src/Stores/Modules/Contract/contract-replay-store.js
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/smart-chart.scss
Labels: Trader

#1672 Bala/fix-limit-order-barriers-overlap
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/smart-chart.scss
Labels: Trader

#1658 aaron/App vertical tab ID + prefix
  packages/components/src/components/vertical-tab/vertical-tab-header.jsx
Labels: Components

#1670 oskar/update_theme_gtm
  packages/core/src/Stores/gtm-store.js
Labels: Core

#1549 negar/update_postcode_regex
  packages/account/src/Duplicated/Utils/Validator/declarative-validation-rules.js
  packages/core/src/App/Containers/RealAccountSignup/address-details-form.js
  packages/core/src/Utils/Validator/declarative-validation-rules.js
  packages/trader/src/Utils/Validator/declarative-validation-rules.js
Labels: Account, Bot, Core, P2P, Trader

#1598 amam/fix POI unsupported country
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Labels: Account

#1645 amam|mamali/fix-tin-tooltip-mobile
  packages/components/src/components/popover/popover.jsx
  packages/core/src/App/Containers/RealAccountSignup/personal-details.jsx
Labels: Components, Core

#1624 carol/P2P order info API subscription
  packages/p2p/src/components/orders/orders.jsx
Labels: P2P

#1561 carol/p2p-nickname-error
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/nickname/nickname-form.jsx
  packages/p2p/src/components/nickname/nickname-form.scss
Labels: P2P

#1673 amam/fix_deposit_lock_CR
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Core

#1656 bahar/stake_wont_accept_ten_with_decimal
  packages/bot-skeleton/src/scratch/blocks/Math/math_number.js
  packages/bot-skeleton/src/scratch/blocks/Math/math_number_positive.js
Labels: Bot

#1459 aaron/Don't add duplicated events
  packages/bot-skeleton/src/scratch/hooks/workspace.js
  packages/bot-skeleton/src/services/api/active-symbols.js
  packages/bot-skeleton/src/utils/pending-promise.js
  packages/bot-web-ui/src/components/quick-strategy.jsx
  packages/bot-web-ui/src/stores/quick-strategy-store.js
Labels: Bot

#1639 update gtm
  packages/bot-web-ui/src/utils/gtm.js
Labels: Bot

#1661 Revert "Revert "Mahdi Aryayi / Fixed dependencies security issues""
  package-lock.json
  packages/bot-skeleton/package-lock.json
  packages/components/package-lock.json
  packages/shared/package-lock.json
  packages/translations/package.json
Labels: Bot, Components, Shared, Translations

#1657 bahar/fix_extra_quotation_mark_in_string
  packages/bot-skeleton/src/scratch/help-content/help-strings/check_direction.js
Labels: Bot

#1554 Bala/Single poc subscription
  packages/core/src/_common/base/socket_cache.js
  packages/trader/src/Stores/Modules/Contract/contract-replay-store.js
  packages/trader/src/Stores/Modules/Contract/contract-store.js
  packages/trader/src/Stores/Modules/Contract/contract-trade-store.js
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Account, Bot, Core, P2P, Trader

#1666 Mahdi Aryayi / Fixed not showing balance after setting the currency
  packages/core/src/Stores/client-store.js
Labels: Core

#1590 Nijil/Dbot - disable dark theme toggle
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header.jsx
Labels: Core

#1502 aaron/Miscellaneous bug fixes
  packages/core/src/Modules/Cashier/Containers/p2p-cashier.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/nickname/nickname-form.jsx
  packages/p2p/src/components/nickname/nickname-form.scss
  packages/p2p/src/components/orders/order-details/order-details-chatbox.jsx
  packages/p2p/src/components/orders/order-details/order-details.scss
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
  packages/p2p/src/utils/date-time.js
  packages/p2p/src/utils/websocket.js
Labels: Core, P2P

#1522 Shayan/Remove the lastpass icon appearing in the text field
  packages/components/src/components/input/input.jsx
Labels: Components, Core

#1625 salar / fix: assign default symbol when not offered
  packages/trader/src/Stores/Modules/Trading/Helpers/active-symbols.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#1667 Mahdi Aryayi / Fixed address form styling
  packages/core/src/App/Containers/RealAccountSignup/address-details.jsx
  packages/core/src/sass/details-form.scss
Labels: Core

#1677 Mahdi Aryayi / Fixed address form bug
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/details-form.scss
Labels: Core

#1678 carol/p2p disabled nickname confirm button
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/nickname/nickname-form.jsx
Labels: P2P

#1680 Mahdi Aryayi / Fixed security issues
  package-lock.json
  packages/shared/package-lock.json
Labels: Shared

#1610 Nijil/DBot - save-modal selected item UI fix
  packages/bot-web-ui/src/assets/sass/save-modal.scss
Labels: Bot, Components
