Repository deriv-com/deriv-app, pull requests merged in 2020-12, with the labels that each got.

#2206 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2220 Bala/fix-market-selector
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Labels: Trader

#2202 Sean / fix: p2p banner issues when switching accounts
  packages/core/src/App/Components/Elements/NotificationMessage/constants.js
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app/_common/components/app-notification-message.scss
  packages/core/src/sass/app/_common/components/notification-banner.scss
Labels: Core

#2236 amam/onfido_onmount
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
Labels: Account

#2243 amam/onfido_onmount_copy
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
Labels: Account

#2229 Akmal / Fixed Log user out when switch to virtual account
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Core

#2227 aaron/@deriv/publisher
  .github/CODEOWNERS
  package.json
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/p2p/scripts/publish.js
  packages/p2p/webpack.config.js
  packages/publisher/README.md
  packages/publisher/index.js
  packages/publisher/package-lock.json
  packages/publisher/package.json
  packages/publisher/utils/index.js
  packages/publisher/utils/shared.js
  packages/publisher/utils/webpack-utils.js
Labels: Docs, P2P

#2168 Bala|Zaki/Add crash, boom and step index
  packages/bot-web-ui/src/constants/contract.js
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.jsx
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/underlying/ic-underlying-BOOM1000.svg
  packages/components/src/components/icon/underlying/ic-underlying-BOOM500.svg
  packages/components/src/components/icon/underlying/ic-underlying-CRASH1000.svg
  packages/components/src/components/icon/underlying/ic-underlying-CRASH500.svg
  packages/components/src/components/icon/underlying/ic-underlying-STPRNG.svg
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Header/Components/Preloader/accounts-info.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/Constants/contract.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/core/src/sass/app/_common/layout/header.scss
  packages/shared/src/utils/contract/contract.js
  packages/shared/src/utils/shortcode/shortcode.js
  packages/trader/src/App/Components/Form/fieldset.jsx
  packages/trader/src/Constants/contract.js
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Helpers/market-underlying.js
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.jsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/cancel-deal-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/info.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/multiplier.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/widgets.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.jsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-amount-modal.jsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/risk-management-dialog.jsx
  packages/trader/src/Stores/Modules/Trading/Constants/contract.js
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.js
  packages/trader/src/Stores/Modules/Trading/Helpers/preview-proposal.js
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/_common/components/positions-toggle.scss
  packages/trader/src/sass/app/_common/components/purchase-button.scss
  packages/trader/src/sass/app/_common/mobile-widget.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Bot, Components, Core, Shared, Trader

#2249 salar / Refactor SelectNative to functional component
  packages/components/src/components/input/input.jsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/select-native/select-native.jsx
Labels: Components

#2221 Akmal / Refactor: linearProgressContainer from class to functional
  packages/components/src/components/linear-progress/linear-progress-container.jsx
Labels: Components

#2228 Salar / Refactor Routes (trader) to functional component
  packages/trader/src/App/Containers/Routes/routes.jsx
Labels: Trader

#2226 Amir / Refactor DurationWrapper component
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-wrapper.jsx
Labels: Trader

#2141 Amir / Refactoring all <span> tags to the <Text> component inside the Account package
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Security/AccountLimits/account-limits.jsx
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/account/src/Sections/Security/ConnectedApps/data-table-template.jsx
  packages/account/src/Sections/Security/DeactivateAccount/account-has-balance.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
  packages/account/src/Sections/Security/SelfExclusion/article.jsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#2234 Matin/Refactor: AddCryptoCurrency class to functional component
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
Labels: Core

#2251 salar / Fix: remove console warning
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
Labels: Trader

#2231 Matin/Refactor: ChangeAccountCurrency class to functional component
  packages/core/src/App/Containers/RealAccountSignup/change-account-currency.jsx
Labels: Core

#2225 Salar / Refactor ResetPassword to functional component
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
Labels: Core

#2230 Amir / Refactor Ticks component
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
Labels: Trader

#2242 suthesh/updated regulatory information for MX and MLT
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
Labels: Core

#2215 Mehrzad / refactor tab component
  packages/components/src/components/tabs/tab.jsx
Labels: Components

#2148 Ali / Fix routing for reports and cashier
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/trader/src/App/Components/Routes/route-with-sub-routes.jsx
Labels: Core, Trader

#2204 bahar/remove_flyouts_routing_buttons_for_those_with_one_learn_more
  packages/bot-web-ui/src/components/help-contents/flyout-help-base.jsx
Labels: Bot

#1850 Mehrzad / on-ramp-responsive
  packages/components/src/components/icon/common/ic-copy.svg
  packages/components/src/components/read-more/index.js
  packages/components/src/components/read-more/read-more.jsx
  packages/components/src/components/read-more/read-more.scss
  packages/components/src/index.js
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/Modules/Cashier/Components/on-ramp-provider-card.jsx
  packages/core/src/Modules/Cashier/Components/on-ramp-provider-popup.jsx
  packages/core/src/Modules/Cashier/Config/on-ramp-providers.js
  packages/core/src/Modules/Cashier/Containers/cashier.jsx
  packages/core/src/Modules/Cashier/Containers/on-ramp.jsx
  packages/core/src/Stores/Modules/Cashier/on-ramp-store.js
  packages/core/src/sass/app/modules/on-ramp.scss
Labels: Components, Core

#2152 bahar/synchronous_active_symbols
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_market.js
  packages/bot-skeleton/src/services/api/active-symbols.js
  packages/bot-web-ui/src/app.jsx
Labels: Bot

#2212 Mehrzad / refactor no balance
  packages/core/src/Modules/Cashier/Components/Error/no-balance.jsx
Labels: Core

#2203 Amir / Fix tax tooltip on iOS
  packages/components/src/components/popover/popover.jsx
Labels: Components

#2211 Akmal / Fixed background color issue for set residence
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
Labels: Core

#2175 salar / Refactor reports landing (main page) to functional
  packages/components/src/components/vertical-tab/vertical-tab-content-container.jsx
  packages/components/src/hooks/index.js
  packages/components/src/hooks/use-previous.js
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/reports.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
Labels: Components, Trader

#2201 Mehrzad / enabled confirm button by profile info
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/stores/buy-sell-store.js
Labels: P2P

#2174 amam/add_utm_term_and_content
  packages/core/src/Stores/Helpers/device.js
Labels: Core

#2198 Shayan / Trade type search broken
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
Labels: Trader

#2182 Matin/Fix: disable `Create` api token button on first page load
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
Labels: Account

#2166 negar/handle_update_status
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/socket_base.js
Labels: Core

#2143 Akmal / Added error screen for disallowed mt5 access
  packages/account/src/Components/error-component/error-component.jsx
  packages/account/src/Modules/Page404/Components/Page404.jsx
  packages/components/src/components/page-error/page-error.jsx
  packages/components/src/components/page-error/page-error.scss
  packages/core/src/App/Components/Elements/Errors/error-component.jsx
  packages/core/src/Modules/Page404/Components/Page404.jsx
  packages/trader/src/App/Components/Elements/Errors/error-component.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/Page404/Components/Page404.jsx
Labels: Account, Components, Core, Trader

#2055 Shayan/fix issue of console error about Proposal ID
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#2193 Nijil/DBot - Quick-strategy popover icon misalignment issue
  packages/bot-web-ui/src/assets/sass/quick-strategy.scss
Labels: Bot

#2124 carol/P2P allow user to show real name
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-transfer-receipt.jsx
  packages/core/src/Modules/Cashier/Components/payment-agent-list.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/my-profile/my-profile.scss
  packages/p2p/stores/advertiser-page-store.js
  packages/p2p/stores/general-store.js
  packages/p2p/stores/my-profile-store.js
Labels: Core, P2P, Shared

#2222 Salar / Refactor Radio to functional component
  packages/components/src/components/radio-group/radio.jsx
Labels: Components

#2164 salar / refactor 2FA component (code improvement + change to functional)
  packages/account/src/Sections/Security/TwoFactorAuthentication/digit-form.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
Labels: Account

#2200 abdalla/Center: reset-password subtext
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
Labels: Core

#2205 abdalla/Capitalize: a letter in account-deactivation modal
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
Labels: Account

#2165 salar / refactor SendEmail and EmailSent to functional
  packages/core/src/Modules/Cashier/Components/Email/email-sent.jsx
  packages/core/src/Modules/Cashier/Components/Email/send-email.jsx
Labels: Core

#2216 Salar / Refactor Withdraw to functional component
  packages/core/src/Modules/Cashier/Components/withdraw.jsx
Labels: Core

#2149 salar / Fix: typo in class name
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/account/src/Sections/Security/DerivPassword/change-password-form.jsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Styles/account.scss
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
Labels: Account, Core, Trader

#2179 salar / Refactor Accordion to functional component
  packages/components/src/components/accordion/accordion.jsx
Labels: Components

#2264 zaki / fix_useprevious_name_change
  packages/components/src/components/accordion/accordion.jsx
Labels: Components

#2260 fix:dependency checks and missing packages
  .eslintrc.js
  package.json
  packages/account/package.json
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.js
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/shared/src/test_utils/test_common.js
  packages/shared/src/utils/url/__tests__/url.js
  packages/trader/package-lock.json
  packages/trader/package.json
Labels: Account, P2P, Shared, Trader

#2270 Fix failing test for personal details
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.js
Labels: Account

#2266 salar / Withdraw issue
  packages/core/src/Modules/Cashier/Components/withdraw.jsx
Labels: Components, Core

#2169 aaron/Onramp add XanPool
  packages/components/src/components/icon/cashier/ic-cashier-ali-pay-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-ali-pay-light.svg
  packages/components/src/components/icon/cashier/ic-cashier-cebuana-lhuillier-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-cebuana-lhuillier-light.svg
  packages/components/src/components/icon/cashier/ic-cashier-fps-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-fps-light.svg
  packages/components/src/components/icon/cashier/ic-cashier-go-pay-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-go-pay-light.svg
  packages/components/src/components/icon/cashier/ic-cashier-insta-pay-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-insta-pay-light.svg
  packages/components/src/components/icon/cashier/ic-cashier-mandiri-pay.svg
  packages/components/src/components/icon/cashier/ic-cashier-pay-now-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-pay-now-light.svg
  packages/components/src/components/icon/cashier/ic-cashier-prompt-pay-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-prompt-pay-light.svg
  packages/components/src/components/icon/cashier/ic-cashier-upi-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-upi-light.svg
  packages/components/src/components/icon/cashier/ic-cashier-viettle-pay.svg
  packages/components/src/components/icon/cashier/ic-cashier-xanpool-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-xanpool-light.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/Modules/Cashier/Config/on-ramp-providers.js
  packages/core/src/Stores/Modules/Cashier/on-ramp-store.js
Labels: Components, Core

#2237 bahar/refactor_password_input_component
  packages/components/src/components/password-input/password-input.jsx
Labels: Components

#2250 bahar/refactor_payment_agent_component
  packages/core/src/Modules/Cashier/Containers/payment-agent.jsx
Labels: Core

#2245 Bala/fix fetching states list
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Account

#2232 bahar/refactor_table_row_info_component
  packages/components/src/components/data-table/table-row-info.jsx
  packages/components/src/components/data-table/table-row.jsx
Labels: Components

#2273 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2259 Akmal / Refactor: theme from class component to functional
  packages/components/stories/shared/theme.jsx
Labels: Components

#2276 suthesh/fix-livechat
  packages/core/src/App/Components/Elements/live-chat.jsx
Labels: Core

#2263 negar/handle_hash_tab
  packages/components/src/components/tabs/tabs.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
Labels: Components, Trader

#2208 negar/use_new_mt5_fields
  packages/account/src/Sections/Security/DeactivateAccount/account-has-balance.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/gtm-store.js
  packages/shared/src/utils/mt5/mt5.js
  packages/trader/src/Modules/MT5/Components/mt5-account-copy.jsx
  packages/trader/src/Stores/Modules/MT5/Helpers/mt5-config.js
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Account, Core, Shared, Trader

#2274 Sean / refactor toggle positions mobile to functional component
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.jsx
Labels: Trader

#2275 Sean / refactor unsupported contract modal to functional component
  packages/trader/src/App/Components/Elements/Modals/UnsupportedContractModal/unsupported-contract-modal.jsx
Labels: Trader

#2283 negar/fix_tab_hash
  packages/components/src/components/tabs/tabs.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
Labels: Components, Trader

#2272 Sean / refactor MT5 server error dialog to functional component
  packages/trader/src/Modules/MT5/Containers/mt5-server-error-dialog.jsx
Labels: Trader

#2278 zaki / fix_mt5_for_logged_out_users
  packages/core/src/App/Components/Elements/live-chat.jsx
  packages/core/src/App/Components/Layout/Footer/__tests__/toggle-fullscreen.spec.js
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
  packages/shared/src/utils/config/config.js
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
Labels: Core, Shared, Trader

#2279 Mehrzad / refactor account transfer
  packages/core/src/Modules/Cashier/Containers/account-transfer.jsx
Labels: Core

#2246 Akmal / Refactor: toggleFullScreen component from class to functional
  packages/core/src/App/Components/Layout/Footer/toggle-fullscreen.jsx
Labels: Core

#2285 zaki / fix_toggleScreen_tests
  packages/core/src/App/Components/Layout/Footer/__tests__/toggle-fullscreen.spec.js
Labels: Core

#2261 Akmal / Refactor: AccountTypesModal component from class to functional
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
Labels: Core

#2183 salar / Refactor HighlightWrapper to functional component
  packages/components/src/components/button-toggle/button-highlight-wrapper.jsx
  packages/components/src/components/button-toggle/button-toggle.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.jsx
Labels: Components, Trader

#2258 Akmal / Fixed text overlap in spanish on reality check
  packages/core/src/App/Containers/RealityCheckModal/summary-modal.jsx
  packages/core/src/sass/app/modules/reality-check.scss
Labels: Core

#2288 Update deriv app translations
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2300 carol/Fix minor p2p issue
  packages/p2p/stores/advertiser-page-store.js
Labels: P2P

#2296 negar/use_new_mt5_fields
  packages/account/src/Sections/Security/DeactivateAccount/account-has-balance.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/gtm-store.js
  packages/shared/src/utils/mt5/mt5.js
  packages/trader/src/Modules/MT5/Components/mt5-account-copy.jsx
  packages/trader/src/Stores/Modules/MT5/Helpers/mt5-config.js
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Account, Core, Shared, Trader

#2171 aaron/P2P fix translation bugs
  packages/account/src/Constants/onfido-phrases.js
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/p2p/src/components/my-ads/my-ads-summary.jsx
  packages/p2p/src/components/my-profile/my-profile.scss
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_tw.json
Labels: Account, P2P

#2284 mamali/refactor into functional component
  packages/trader/src/App/Components/Form/TimePicker/time-picker.jsx
Labels: Trader

#2138 Ali / change <p> to <Text>
  packages/account/build/webpack.config.js
  packages/account/src/Components/article/article.jsx
  packages/account/src/Components/form-sub-header/form-sub-header.jsx
  packages/account/src/Components/icon-message-content/icon-message-content.jsx
  packages/account/src/Components/poa-button/poa-button.jsx
  packages/account/src/Components/poa-continue-trading-button/continue-trading-button.jsx
  packages/account/src/Components/poa-expired/expired.jsx
  packages/account/src/Components/poa-submitted/submitted.jsx
  packages/account/src/Components/poi-button/poi-button.jsx
  packages/account/src/Components/poi-missing-personal-details/missing-personal-details.jsx
  packages/account/src/Components/poi-unsupported/unsupported.jsx
  packages/account/src/Components/poi-upload-complete/upload-complete.jsx
  packages/account/src/Components/text/index.js
  packages/account/src/Components/text/text.jsx
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Security/AccountDeactivated/account-deactivated.jsx
  packages/account/src/Sections/Security/AccountLimits/account-limits-info.jsx
  packages/account/src/Sections/Security/AccountLimits/account-limits.jsx
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/account/src/Sections/Security/ConnectedApps/connected-apps.jsx
  packages/account/src/Sections/Security/ConnectedApps/data-table-template.jsx
  packages/account/src/Sections/Security/DeactivateAccount/account-has-balance.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-steps.jsx
  packages/account/src/Sections/Security/DerivPassword/forgot-your-password.jsx
  packages/account/src/Sections/Security/LoginHistory/login-history.jsx
  packages/account/src/Sections/Security/SelfExclusion/article-content.jsx
  packages/account/src/Sections/Security/SelfExclusion/article.jsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#2271 Sean / refactor mt5 opening real financial stp modal to functional component
  packages/trader/src/Modules/MT5/Containers/mt5-account-opening-real-financial-stp-modal.jsx
Labels: Core, Shared, Trader

#2184 Mehrzad / refactor trade params
  packages/trader/src/Modules/Trading/Containers/trade-params.jsx
Labels: Trader

#2224 Akmal / Refactor: inputField component from class to functional
  packages/components/src/components/input-field/input-field.jsx
Labels: Components

#2299 bahar/redirect_to_dbot_from_platform_switcher_crashes
  packages/bot-skeleton/src/utils/workspace.js
  packages/bot-web-ui/src/components/main-content.jsx
  packages/bot-web-ui/src/stores/app-store.js
Labels: Bot

#2317 salar / Fix: prevent mapping on undefined
  packages/components/src/components/page-error/page-error.jsx
Labels: Components

#2318 Bala/fix multiplier validation rules
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#2319 zaki / fix_mt5_error_message_showing_up
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
Labels: Trader

#2320 Mehrzad / changelly console error
  packages/core/src/Modules/Cashier/Config/on-ramp-providers.js
Labels: Core

#2332 Sara / Fixed issue with font size on receipt
  packages/core/src/Modules/Cashier/Components/Error/error.jsx
  packages/core/src/Modules/Cashier/Components/Form/payment-agent-withdraw-form.jsx
  packages/core/src/Modules/Cashier/Components/Receipt/payment-agent-receipt.jsx
  packages/core/src/sass/app/modules/cashier.scss
Labels: Core

#2329 bahar/not_able_to_see_password_in_console
  packages/components/src/components/password-input/password-input.jsx
  packages/components/stories/password-input/README.md
  packages/components/stories/password-input/stories/basic.js
  packages/components/stories/password-input/stories/has-error.js
  packages/components/stories/password-meter/README.md
  packages/components/stories/password-meter/stories/basic.js
  packages/components/stories/password-meter/stories/has-error.js
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-reset-password-modal.jsx
Labels: Components, Core, Docs, Trader

#2217 Ali / Refactor AccountSwitcher to functional component
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core, Shared

#2339 Akmal / Removed extra state set
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
Labels: Core

#2354 salar / Feat: add fstp form and password actions to switcher
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
Labels: Core, Trader

#2360 Update deriv app translations
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
Labels: Translations

#2334 Bala/fix account transfer dropdown
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
Labels: Core

#2290 zaki/refactor_authentication_components
  packages/account/package-lock.json
  packages/account/package.json
  packages/account/src/Components/file-uploader-container/file-uploader-container.jsx
  packages/account/src/Components/file-uploader-container/file-uploader.jsx
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.js
  packages/account/src/Styles/account.scss
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/hooks/index.js
  packages/components/src/hooks/use-state-callback.js
  packages/components/webpack.config.js
  packages/shared/package-lock.json
  packages/shared/package.json
  packages/shared/src/index.js
  packages/shared/src/utils/files/file-uploader-utils.js
  packages/shared/src/utils/files/image/image_utility.js
  packages/shared/src/utils/files/index.js
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-account-opening-real-financial-stp-modal.jsx
Labels: Account, Components, Core, Shared, Trader

#2238 Bala/refactor datepicker to functional component
  packages/components/src/components/calendar/calendar.jsx
  packages/components/src/components/date-of-birth-picker/date-of-birth-picker.jsx
  packages/components/src/components/date-picker/date-picker-calendar.jsx
  packages/components/src/components/date-picker/date-picker.jsx
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar-mobile.jsx
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar.jsx
  packages/trader/src/App/Components/Form/CompositeCalendar/two-month-picker.jsx
  packages/trader/src/Modules/Trading/Components/Form/DatePicker/trading-date-picker.jsx
Labels: Components, Trader

#2316 Amir / Refactor "ContractDrawer" component
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.jsx
Labels: Trader

#2347 Matin/Fix: display transfer amount hint on page load
  packages/core/src/Modules/Cashier/Components/Form/account-transfer-form.jsx
  packages/core/src/Stores/Modules/Cashier/cashier-store.js
Labels: Core

#2267 Amir / add padding for long currency name
  packages/core/src/sass/currency-select-radio.scss
Labels: Core

#2294 Amir / fix: On `Account Transfer` page hide the notes on `no funds` error
  packages/core/src/Modules/Cashier/Containers/account-transfer.jsx
Labels: Core

#2357 aaron/wrap strings in localize for DBot
  packages/bot-skeleton/src/constants/config.js
Labels: Bot

#2323 Amir / fix: Add padding below the 'Resend email' button in the 'Manage DMT5 account password' modal
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Trader

#2337 Matin/Fix: redirect to Personal Details upon completing FA
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
Labels: Account

#2330 Matin/Fix: Enable Email Preference checkbox for virtual accounts
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Account

#2325 salar / Fix: add allow_copiers to hidden settings
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Account

#2303 Ali / Set currency modal height bug fix
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/sass/currency-select-radio.scss
Labels: Core

#2311 Matin/Fix: form submit error msg misalignment
  packages/account/src/Sections/Security/DerivPassword/change-password-form.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/form-submit-error-message/form-submit-error-message.jsx
  packages/components/src/components/form-submit-error-message/form-submit-error-message.scss
Labels: Account, Components

#2351 carol/Use 0 for null total orders
  packages/p2p/src/components/my-profile/my-profile.jsx
Labels: P2P

#2289 negar/show_mt5_by_default
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/App/Containers/Layout/header.jsx
  packages/core/src/Stores/client-store.js
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
Labels: Core, Trader

#2359 Matin/Fix: legal_allowed_currencies excludes currencies which does not exists for current_landing_company
  packages/core/src/Stores/client-store.js
Labels: Core

#2361 Matin/Fix: News banner misalignments
  packages/core/src/sass/app/_common/components/notification-banner.scss
Labels: Core

#2367 zaki / fix_mt5_pw_issues [production]
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-reset-password-modal.jsx
Labels: Core, Trader

#2366 salar | zaki / fix_mt5_reset_pw
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-reset-password-modal.jsx
Labels: Core, Trader

#2376 carol/P2P My profile hotfix
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/my-profile/my-profile.scss
Labels: P2P

#2378 aaron/P2P: Restore missing adverts on mobile (hotfix)
  packages/components/src/components/infinite-data-list/infinite-data-list.jsx
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/stores/buy-sell-store.js
Labels: Components, P2P

#2387 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2392 zaki / fix_mt5_stp_poi
  packages/core/src/Stores/client-store.js
  packages/trader/src/Modules/MT5/Components/mt5-poi.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-financial-stp-real-account-signup.jsx
Labels: Core, Trader

#2395 Bala/fix add account
  packages/core/src/Stores/client-store.js
Labels: Core

#2400 carol/fix buy value in my profile
  packages/p2p/src/components/my-profile/my-profile.jsx
Labels: P2P

#2410 aaron/P2P: Ensure orders are updated on p2p_order_list response
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/stores/general-store.js
  packages/p2p/stores/order-store.js
Labels: P2P
