Repository deriv-com/deriv-app, pull requests merged in 2021-01, with the labels that each got.

#2413 bahar/broken_css_for_unapproved_advertiser_on_my_adds
  packages/p2p/src/components/app.scss
Labels: P2P

#2385 zaki / fix_positions_bug_on_sibiling_acc_creation
  packages/core/src/index.html
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
Labels: Core, Trader

#2327 Amir / fix: redirect to login page on password change
  packages/account/src/Sections/Security/DerivPassword/change-password-form.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/RedirectToLoginModal/index.js
  packages/core/src/App/Containers/RedirectToLoginModal/redirect-to-login-modal.jsx
  packages/core/src/App/app.jsx
  packages/shared/src/utils/login/login.js
Labels: Account, Core, Shared

#2382 Bala/fix duration dependencies
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-wrapper.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/simple-duration.jsx
  packages/trader/src/Stores/Modules/Trading/Actions/duration.js
Labels: Trader

#2371 bahar/search_is_not_working_when_side_toolbar_is_active
  packages/bot-skeleton/src/scratch/hooks/toolbox.js
Labels: Bot

#2309 Akmal / Made dark theme enabled on mobile
  packages/core/src/Stores/ui-store.js
Labels: Core

#2207 aaron/P2P Show available balance
  packages/components/src/components/line-separated-components/index.js
  packages/components/src/components/line-separated-components/line-separated-components.jsx
  packages/components/src/components/line-separated-components/line-separated-components.scss
  packages/components/src/components/modal/modal.scss
  packages/components/src/components/popover-mobile/index.js
  packages/components/src/components/popover-mobile/popover-mobile.jsx
  packages/components/src/components/popover-mobile/popover-mobile.scss
  packages/components/src/components/popover/popover.jsx
  packages/components/src/hooks/use-on-scroll.js
  packages/components/src/index.js
  packages/components/stories/line-separated-components/line-separated-components.stories.js
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/my-profile/my-profile.scss
  packages/p2p/stores/my-profile-store.js
Labels: Components, P2P

#2286 abdalla/Refactor: vertical tab Container
  packages/components/src/components/vertical-tab/vertical-tab-content-container.jsx
  packages/components/src/components/vertical-tab/vertical-tab-header-group.jsx
  packages/components/src/components/vertical-tab/vertical-tab-headers.jsx
  packages/components/src/components/vertical-tab/vertical-tab.jsx
Labels: Components

#2391 abdalla/Add: display -ve balance in mt5
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
Labels: Core, Trader

#2350 abdalla/Add: cashier withdraw error
  packages/cashier/src/Components/payment-agent-list.jsx
  packages/cashier/src/Stores/Cashier/cashier-store.js
Labels: Core

#2130 amam/update onfido version
  packages/account/package.json
  packages/account/src/Constants/onfido-phrases.js
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/trader/package.json
Labels: Account, Trader

#2375 Amir / Show seconds instead of mili seconds on the auto update banner
  packages/components/src/components/linear-progress/linear-progress-container.jsx
Labels: Components

#2409 Matin/Fix: Add account button positions correctly
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
Labels: Core

#2157 aaron/contract recovery on platform re-enter
  packages/bot-skeleton/src/constants/index.js
  packages/bot-skeleton/src/constants/messages.js
  packages/bot-web-ui/src/components/journal.jsx
  packages/bot-web-ui/src/stores/data-collection-store.js
  packages/bot-web-ui/src/stores/download-store.js
  packages/bot-web-ui/src/stores/journal-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/transactions-store.js
  packages/bot-web-ui/src/utils/session-storage.js
Labels: Bot

#2368 aaron/P2P: Reload adverts when user becomes (un)listed
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/stores/buy-sell-store.js
  packages/p2p/stores/general-store.js
Labels: P2P

#2373 zaki / fix_long_uploaded_document_name
  packages/account/src/Components/file-uploader-container/file-uploader.jsx
  packages/components/src/components/file-dropzone/file-dropzone.jsx
  packages/shared/src/utils/files/file-uploader-utils.js
Labels: Account, Components, Shared

#2345 Ali / Fix table header stick to the top on scroll
  packages/account/src/Sections/Security/LoginHistory/login-history.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/table/table.jsx
  packages/components/src/components/table/table.scss
Labels: Account, Components

#2255 Ali / Add capability of showing error desc on DataList item for mobile
  packages/components/src/components/data-list/data-list-cell.jsx
  packages/components/src/components/data-list/data-list-row.jsx
  packages/components/src/components/data-list/data-list.jsx
  packages/components/src/components/data-list/data-list.scss
Labels: Components

#2328 Bala/fix account wizard console error
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Labels: Core

#2190 Akmal / Self exclusion fields improvements
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/shared/src/utils/validation/declarative-validation-rules.js
Labels: Account, Shared

#2383 carol/P2P Incorrect create ad message
  packages/p2p/src/components/my-ads/my-ads-summary.jsx
Labels: P2P

#2381 Bala/Fix contract type switch
  packages/core/src/sass/app/_common/components/cookie-banner.scss
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
Labels: Core, Trader

#2235 aaron/Update URL to ewallet.exchange
  packages/cashier/src/Containers/cashier.jsx
Labels: Core

#2210 Amir / fix: On market warning modal separate buttons into two rows on mobile
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader

#2414 aaron/Onramp: Update Changelly description
  packages/cashier/src/Config/on-ramp-providers.js
Labels: Core

#2394 mamali / disable refresh on first installation of sw
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/core/src/Utils/pwa/register-service-worker.js
Labels: Core

#2372 Shayan / Contract type search modification
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
Labels: Trader

#2170 Amam/add client info on signed up
  packages/core/src/Stores/client-store.js
Labels: Core

#2257 aaron/Update tooltip for user's stats
  packages/p2p/src/components/my-profile/my-profile.jsx
Labels: P2P

#2338 Akmal / Updated personal details logic for MX and SVG clients
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/components/src/components/date-picker/date-picker-native.jsx
  packages/components/src/components/date-picker/date-picker.scss
  packages/components/src/components/select-native/select-native.scss
Labels: Account, Components

#2305 abdalla/Add: Cookies script
  packages/core/src/Stores/Helpers/device.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/gtm-store.js
  packages/core/src/index.html
Labels: Core

#2161 Mehrzad / p2p orders responsive
  packages/components/src/components/content-expander/content-expander.jsx
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/orders/orders.scss
Labels: Components, P2P

#2386 bahar/when_load_strategy_to_dbot_delayed_run_is_disabled_onload
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Time/timeout.js
Labels: Bot

#2396 aaron/DBot: Disable multiplier-only submarkets
  packages/bot-skeleton/src/services/api/active-symbols.js
Labels: Bot

#2358 Mehrzad / Quick strategy update form
  packages/bot-web-ui/src/assets/sass/quick-strategy.scss
  packages/bot-web-ui/src/components/quick-strategy.jsx
Labels: Bot

#2401 Sara / Added Header component
  packages/components/src/components/text/text.jsx
  packages/components/stories/text/text.stories.js
  packages/shared/src/styles/themes.scss
Labels: Components, Shared

#2362 Mehrzad / add ReadMore to stroybook
  packages/components/stories/read-more/README.md
  packages/components/stories/read-more/read-more.stories.js
Labels: Components, Docs

#2297 Added hosts file configuration
  README.md
Labels: Docs

#2015 bahar/improvements_on_create_variable
  packages/bot-skeleton/src/assets/images/create_variable.jpg
  packages/bot-skeleton/src/assets/images/create_variable.png
  packages/bot-skeleton/src/assets/images/create_variable_popup.png
  packages/bot-skeleton/src/assets/images/set_variable.png
  packages/bot-skeleton/src/scratch/help-content/help-content.config.js
  packages/bot-skeleton/src/scratch/help-content/help-strings/variables_set.js
  packages/bot-skeleton/src/scratch/hooks/data_category.js
  packages/bot-skeleton/src/scratch/hooks/xml.js
  packages/bot-web-ui/src/assets/sass/flyout.scss
  packages/bot-web-ui/src/components/flyout-block-group.jsx
  packages/bot-web-ui/src/components/flyout-block.jsx
  packages/bot-web-ui/src/components/flyout.jsx
  packages/bot-web-ui/src/stores/flyout-store.js
  packages/shared/src/styles/themes.scss
Labels: Account, Bot, Core, Shared, Translations

#2356 Suthesh/livechat routing
  packages/core/src/App/Components/Elements/LiveChat/index.js
  packages/core/src/App/Components/Elements/LiveChat/live-chat.js
  packages/core/src/App/Components/Elements/LiveChat/live-chat.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
Labels: Core

#2417 carol/Add DWallet wallet themes + icons
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/wallet/ic-wallet-deriv.svg
  packages/components/src/components/icon/wallet/ic-wallet-neteller.svg
  packages/components/src/components/icon/wallet/ic-wallet-sticpay.svg
  packages/components/src/components/icon/wallet/ic-wallet-transactions.svg
  packages/components/src/components/icon/wallet/ic-wallet-webmoney.svg
  packages/components/stories/icon/icons.js
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
Labels: Components, Shared

#2369 bahar/getting_invalid_request_error_screen_on_withdrawal
  packages/cashier/src/Components/withdraw.jsx
Labels: Core

#2384 Bala/Fix account signup style
  packages/core/src/sass/app/modules/account-signup.scss
Labels: Core

#2324 mamali/replace react-loadable with react-loadable-hooks
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/App/Components/Layout/Footer/toggle-settings.jsx
  packages/core/src/App/Containers/Routes/routes.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/lazy-load.js
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar.jsx
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/App/Containers/Routes/routes.jsx
  packages/trader/src/App/Containers/trade-settings-extensions.jsx
  packages/trader/src/App/app.jsx
  packages/trader/src/Modules/Trading/Components/Form/form-layout.jsx
Labels: Core, Trader

#2425 fix proptype
  packages/components/src/components/input/input.jsx
Labels: Components

#2427 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2434 Mehrzad / text align
  packages/components/src/components/text/text.scss
Labels: Components

#2433 Revert "mamali/replace react-loadable with react-loadable-hooks"
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/App/Components/Layout/Footer/toggle-settings.jsx
  packages/core/src/App/Containers/Routes/routes.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/lazy-load.js
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar.jsx
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/App/Containers/Routes/routes.jsx
  packages/trader/src/App/Containers/trade-settings-extensions.jsx
  packages/trader/src/App/app.jsx
  packages/trader/src/Modules/Trading/Components/Form/form-layout.jsx
Labels: Core, Trader

#2436 mamali/Fix loading cashier assets
  packages/core/build/config.js
Labels: Core

#2441 Revert "Suthesh/livechat routing"
  packages/core/src/App/Components/Elements/LiveChat/index.js
  packages/core/src/App/Components/Elements/LiveChat/live-chat.js
  packages/core/src/App/Components/Elements/live-chat.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
Labels: Core

#2444 zaki / fix_incorrect_onfido_sdk_and_regenerate_package_lock
  packages/account/package-lock.json
  packages/account/package.json
  packages/cashier/package-lock.json
  packages/components/package-lock.json
  packages/dashboard/package-lock.json
  packages/p2p/package-lock.json
  packages/trader/package-lock.json
Labels: Account, Components, P2P, Trader

#2445 zaki / fix_trader_build
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
Labels: Bot, Core, Trader

#2440 Abdalla/Update: complaints for MF and UK
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
Labels: Core

#2447 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2252 Mehrzad / refactor tabs component
  packages/bot-web-ui/src/components/load-modal.jsx
  packages/bot-web-ui/src/stores/load-modal-store.js
  packages/components/src/components/tabs/tabs.jsx
  packages/components/src/components/tabs/tabs.scss
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
Labels: Bot, Components, Trader

#2443 Bala/Fix incorrect expiry time
  packages/components/src/components/data-list/data-list-row.jsx
  packages/trader/src/App/Components/Form/TimePicker/dialog.jsx
  packages/trader/src/App/Components/Form/TimePicker/time-picker.jsx
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Modules/Trading/Components/Form/TimePicker/trading-time-picker.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/start-date.jsx
  packages/trader/src/Stores/Modules/Trading/Constants/ui.js
  packages/trader/src/Stores/Modules/Trading/Helpers/end-time.js
Labels: Components, Trader

#2019 zaki / improve_landscape_detection
  packages/cashier/src/Containers/cashier.jsx
  packages/core/src/App/app.jsx
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app/_common/layout/app-layouts.scss
Labels: Core

#2399 Amir / fix: remove warning console log when trying to withdraw with invalid PA will throws
  packages/cashier/src/Components/Form/payment-agent-withdraw-form.jsx
Labels: Core

#2406 Amir / fix: center banner on Cashier Page
  packages/cashier/src/Sass/cashier.scss
Labels: Core

#2326 Ali / Fix login prompt appears again after login in is_authenticated pages
  packages/account/src/Components/Routes/route-with-sub-routes.jsx
  packages/account/src/Containers/account.jsx
  packages/account/src/Containers/routes.jsx
  packages/cashier/src/Containers/cashier.jsx
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Routes/routes.jsx
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy.jsx
  packages/trader/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/trader/src/App/Containers/Routes/routes.jsx
  packages/trader/src/Modules/Reports/Containers/reports.jsx
Labels: Account, Core, Trader

#2419 Bala/disable mt5 add button where there is no real account
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
Labels: Core, Trader

#2398 Ali / Add macOS download link for MT5
  packages/components/src/components/icon/common/ic-installation-macos.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard-container.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Helpers/constants.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, Trader

#2117 Matin/Fix: display error msgs of create new ads in modal
  packages/p2p/src/components/my-ads/form-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
Labels: P2P

#2248 Sean / Refactor toggle switch
  packages/components/src/components/toggle-switch/toggle-switch.jsx
Labels: Components

#2370 Akmal / Refactor: AccountActions to functional component
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
Labels: Core

#2218 Akmal / Refactor: Dialog class component to functional
  packages/components/src/components/dialog/dialog.jsx
Labels: Components

#2287 abdalla/Refactor Account signup modal
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
Labels: Core

#2295 Sean / refactor account transfer receipt
  packages/cashier/src/Components/Receipt/account-transfer-receipt.jsx
Labels: Core

#2415 Bala/fix popover bubble hover
  packages/components/src/components/popover/popover.jsx
  packages/components/src/hooks/use-hover.js
  packages/core/src/Stores/client-store.js
Labels: Components, Core

#2269 bahar/refactor_payment_agent_list_component
  packages/cashier/src/Components/payment-agent-list.jsx
Labels: Core

#2393 aaron/P2P: My Profile alignment improvements
  packages/components/src/components/autosizer/autosizer.scss
  packages/components/src/components/autosizer/index.js
  packages/components/src/components/line-separated-components/index.js
  packages/components/src/components/line-separated-components/line-separated-components.jsx
  packages/components/src/components/toggle-switch/toggle-switch.jsx
  packages/components/src/index.js
  packages/components/stories/line-separated-components/line-separated-components.stories.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/my-profile/index.js
  packages/p2p/src/components/my-profile/my-profile-balance/index.js
  packages/p2p/src/components/my-profile/my-profile-balance/my-profile-balance.jsx
  packages/p2p/src/components/my-profile/my-profile-balance/my-profile-balance.scss
  packages/p2p/src/components/my-profile/my-profile-form/index.js
  packages/p2p/src/components/my-profile/my-profile-form/my-profile-form.jsx
  packages/p2p/src/components/my-profile/my-profile-form/my-profile-form.scss
  packages/p2p/src/components/my-profile/my-profile-header/index.js
  packages/p2p/src/components/my-profile/my-profile-header/my-profile-header.jsx
  packages/p2p/src/components/my-profile/my-profile-header/my-profile-header.scss
  packages/p2p/src/components/my-profile/my-profile-privacy/index.js
  packages/p2p/src/components/my-profile/my-profile-privacy/my-profile-privacy.jsx
  packages/p2p/src/components/my-profile/my-profile-privacy/my-profile-privacy.scss
  packages/p2p/src/components/my-profile/my-profile-separator-container/index.js
  packages/p2p/src/components/my-profile/my-profile-separator-container/my-profile-separator-container.jsx
  packages/p2p/src/components/my-profile/my-profile-separator-container/my-profile-separator-container.scss
  packages/p2p/src/components/my-profile/my-profile-stats/index.js
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats.scss
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/my-profile/my-profile.scss
  packages/p2p/stores/my-profile-store.js
Labels: Components, Core, P2P

#2389 Mehrzad / refactor payment agent details
  packages/cashier/src/Components/payment-agent-details.jsx
Labels: Core

#2307 abdalla/Refactor PaymentAgentTransfer
  packages/cashier/src/Containers/payment-agent-transfer.jsx
Labels: Core

#2304 abdalla/Refactor: SendEmailTemplate Component
  packages/components/src/components/send-email-template/send-email-template.jsx
Labels: Components

#2268 bahar/refactor_cashier_container_component
  packages/cashier/src/Components/cashier-container.jsx
Labels: Core

#2281 Matin/refactor real account signup whole flow
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/signup-error-content.jsx
  packages/core/src/sass/currency-select-radio.scss
Labels: Account, Bot, Components, Core, Docs

#2280 Sean / refactor payment agent transfer form to functional component
  packages/cashier/src/Components/Form/payment-agent-transfer-form.jsx
Labels: Core

#2452 amam/fix_complaint_disputes
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
Labels: Core

#2453 amam/fix_complaint_disputes
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
Labels: Core

#2458 salar / Fix failed test on matchMedia in ui-store
  packages/core/src/Stores/ui-store.js
Labels: Core

#2461 zaki / Revert onfido
  packages/account/package-lock.json
  packages/account/package.json
  packages/account/src/Constants/onfido-phrases-new.backup.js
  packages/account/src/Constants/onfido-phrases.js
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
Labels: Account, Trader

#2466 Mehrzad / use PlatformContext for dashboard routing
  packages/core/src/App/Containers/Layout/header/header.jsx
  packages/core/src/App/Containers/PlatformContainer/PlatformContainer.jsx
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/shared/src/utils/platform/platform.js
Labels: Core, Shared

#2492 Mahdi Aryayi - Mamali / Added multi server MT5 Synthetic [production_branch]
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/components/src/components/carousel/carousel-nav.jsx
  packages/components/src/components/carousel/carousel.jsx
  packages/components/src/components/radio-group/radio-group.jsx
  packages/components/src/components/radio-group/radio-group.scss
  packages/components/stories/carousel/carousel.stories.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/socket_base.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-reset-password-modal.jsx
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Components, Core, Trader

#2472 Mahdi Aryayi - Mamali / Adding server selection to deriv MT5
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/components/src/components/carousel/carousel-nav.jsx
  packages/components/src/components/carousel/carousel.jsx
  packages/components/src/components/radio-group/radio-group.jsx
  packages/components/src/components/radio-group/radio-group.scss
  packages/components/stories/carousel/carousel.stories.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/socket_base.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-reset-password-modal.jsx
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Components, Core, Trader

#2308 abdalla/Refactor: cashier
  packages/cashier/src/Containers/cashier.jsx
Labels: Core

#2416 Matin/Feature: Added close button for `Reset balance` notification
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/sass/app/_common/components/app-notification-message.scss
Labels: Core

#2448 aaron/P2P: Ensure user cannot submit from if incomplete
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/create-ad-summary.jsx
  packages/p2p/src/components/my-ads/create-ad.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/stores/my-ads-store.js
Labels: P2P

#2475 kseniya / fix: error: invalid path 'packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc.'
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc/balance.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc/barrier_offset.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc/block_holder.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc/console.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc/index.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc/loader.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc/notify.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc/notify_telegram.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc/total_profit.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc/total_runs.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Misc/useless_block.js
  packages/bot-skeleton/src/scratch/blocks/index.js
Labels: Bot

#2483 Sean / text: update complaints policy
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
Labels: Core

#2463 Ali / Fix total real asset calculation
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#2473 Akmal / Fixed wrong padding on safari ios
  packages/account/src/Sections/Security/SelfExclusion/article-content.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#2479 Matin/Fix: Table header cells fit content
  packages/account/src/Styles/account.scss
Labels: Account

#2437 Sara / Added tradetype layout
  packages/core/build/config.js
  packages/core/src/App/Containers/Layout/header/dashboard-header.jsx
  packages/dashboard/src/components/pages/home/home.scss
  packages/dashboard/src/components/template/app-to-trade/app-to-trade-benefit.tsx
  packages/dashboard/src/components/template/app-to-trade/app-to-trade-card.tsx
  packages/dashboard/src/components/template/app-to-trade/app-to-trade.scss
  packages/dashboard/src/components/template/app-to-trade/app-to-trade.tsx
  packages/dashboard/src/components/template/app-to-trade/index.ts
  packages/dashboard/src/components/template/banner/banner.scss
  packages/dashboard/src/components/template/banner/banner.tsx
  packages/dashboard/src/components/template/banner/index.ts
  packages/dashboard/src/components/template/indices/index.ts
  packages/dashboard/src/components/template/indices/indice.tsx
  packages/dashboard/src/components/template/indices/indices.scss
  packages/dashboard/src/components/template/indices/indices.tsx
  packages/dashboard/src/components/template/instruments/index.ts
  packages/dashboard/src/components/template/instruments/instruments.scss
  packages/dashboard/src/components/template/instruments/instruments.tsx
  packages/dashboard/src/components/template/instruments/pair.tsx
  packages/dashboard/src/components/template/you-might-like/index.ts
  packages/dashboard/src/components/template/you-might-like/you-might-like-card.tsx
  packages/dashboard/src/components/template/you-might-like/you-might-like.scss
  packages/dashboard/src/components/template/you-might-like/you-might-like.tsx
Labels: Core

#2432 Ali / Fix icon color in POA section while creating financial DMT5
  packages/components/src/components/icon/common/ic-bank.svg
  packages/components/src/components/icon/common/ic-utility.svg
Labels: Components

#2365 behnaz/p-text-propertyweight-bold
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
Labels: Core

#2364 Amir / fix: on personal details page, set the disabled styles on mobile
  packages/components/src/components/date-picker/date-picker.scss
  packages/components/src/components/input/input.jsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/select-native/select-native.scss
Labels: Components

#2439 bahar/change_the_design_of_flyouts_add_button_and_corners
  packages/bot-web-ui/src/assets/sass/flyout.scss
  packages/bot-web-ui/src/components/flyout-block-group.jsx
  packages/components/src/components/button/button.jsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/icon/common/ic-add-bold.svg
  packages/components/src/components/icon/icon.jsx
  packages/components/src/components/icon/icon.scss
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Bot, Components

#2465 aaron/App: Update README.md
  docs/README.md
  docs/package_dependencies.png
Labels: Docs

#2450 Sean / feat(component): add dashboard header component
  packages/components/src/components/button/button.jsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/icon/common/ic-notification.svg
  packages/components/src/components/icon/common/ic-profile.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Header/Components/Preloader/header-items.jsx
  packages/core/src/App/Containers/Layout/header/dashboard-header.jsx
  packages/core/src/Assets/SvgComponents/header/deriv-logo-light.svg
  packages/core/src/Assets/SvgComponents/header/deriv-logo.svg
  packages/core/src/Assets/SvgComponents/header/deriv-text.svg
  packages/core/src/sass/app/_common/layout/dashboard-header.scss
Labels: Components, Core

#2455 Nijil / Dwallet: App-cards
  packages/components/src/components/app-card/app-card-items/app-card-action-item.jsx
  packages/components/src/components/app-card/app-card-items/app-card-actions.jsx
  packages/components/src/components/app-card/app-card-items/app-card-body.jsx
  packages/components/src/components/app-card/app-card-items/app-card-footer-item.jsx
  packages/components/src/components/app-card/app-card-items/app-card-footer.jsx
  packages/components/src/components/app-card/app-card-items/app-card-header.jsx
  packages/components/src/components/app-card/app-card-items/real-app-card-background.jsx
  packages/components/src/components/app-card/app-card.jsx
  packages/components/src/components/app-card/app-card.scss
  packages/components/src/components/app-card/index.js
  packages/components/src/components/icon/brand/ic-brand-binarybot.svg
  packages/components/src/components/icon/brand/ic-brand-deriv-apps.svg
  packages/components/src/components/icon/brand/ic-brand-dmt5-financial-stp.svg
  packages/components/src/components/icon/brand/ic-brand-dmt5-financial.svg
  packages/components/src/components/icon/brand/ic-brand-dmt5-synthetics.svg
  packages/components/src/components/icon/common/ic-transactions.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/wallet/ic-wallet-transactions.svg
  packages/components/src/hooks/use-hover.js
  packages/components/src/index.js
  packages/components/stories/app-card/README.md
  packages/components/stories/app-card/app-card.stories.js
  packages/components/stories/app-card/statics/labels.js
  packages/components/stories/icon/icons.js
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
Labels: Bot, Components, Docs, Shared

#2460 Akmal / Add dwallet sidebar
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/wallet/ic-wallet-explore.svg
  packages/components/src/components/icon/wallet/ic-wallet-markets.svg
  packages/components/src/components/icon/wallet/ic-wallet-neteller.svg
  packages/components/src/components/icon/wallet/ic-wallet-platforms.svg
  packages/components/src/components/icon/wallet/ic-wallet-sticpay.svg
  packages/components/src/components/icon/wallet/ic-wallet-trade-types.svg
  packages/components/src/components/icon/wallet/ic-wallet-wallets.svg
  packages/components/src/components/icon/wallet/ic-wallet-webmoney.svg
  packages/components/src/components/vertical-tab/vertical-tab-header-group.jsx
  packages/components/src/components/vertical-tab/vertical-tab-headers.jsx
  packages/components/src/components/vertical-tab/vertical-tab.jsx
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/components/stories/icon/icons.js
  packages/dashboard/src/components/app.scss
  packages/dashboard/src/components/pages/home/home.scss
  packages/dashboard/src/components/pages/home/home.tsx
  packages/dashboard/src/types/params.types.ts
Labels: Components

#2471 Akmal / Fixed login history translation bug
  packages/account/src/Sections/Security/LoginHistory/login-history.jsx
Labels: Account

#2426 aaron/P2P: Update limits on an interval
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/hooks/index.js
  packages/p2p/src/components/hooks/use-updating-available-balance.jsx
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-profile/my-profile-balance/my-profile-balance.jsx
Labels: Core, P2P

#2500 fix(icons.js): remove non-existing ic-wallet-transactions.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components

#2499 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2459 carol/DWallet: Add wallet cards
  packages/components/src/components/app-card/app-card.scss
  packages/components/src/components/icon/common/ic-add-outline.svg
  packages/components/src/components/icon/common/ic-checkmark-blue.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/wallet/ic-wallet-credit.svg
  packages/components/src/components/real-wallet-card/index.js
  packages/components/src/components/real-wallet-card/real-wallet-card-content.jsx
  packages/components/src/components/real-wallet-card/real-wallet-card-footer-actions.jsx
  packages/components/src/components/real-wallet-card/real-wallet-card-footer.jsx
  packages/components/src/components/real-wallet-card/real-wallet-card-header.jsx
  packages/components/src/components/real-wallet-card/real-wallet-card.jsx
  packages/components/src/components/real-wallet-card/real-wallet-card.scss
  packages/components/src/components/virtual-wallet-card/index.js
  packages/components/src/components/virtual-wallet-card/virtual-wallet-card-content.jsx
  packages/components/src/components/virtual-wallet-card/virtual-wallet-card-footer-actions.jsx
  packages/components/src/components/virtual-wallet-card/virtual-wallet-card-footer.jsx
  packages/components/src/components/virtual-wallet-card/virtual-wallet-card-header.jsx
  packages/components/src/components/virtual-wallet-card/virtual-wallet-card.jsx
  packages/components/src/components/virtual-wallet-card/virtual-wallet-card.scss
  packages/components/src/index.js
  packages/components/stories/icon/icons.js
  packages/components/stories/real-wallet-card/README.md
  packages/components/stories/real-wallet-card/real-wallet-card.stories.js
  packages/components/stories/real-wallet-card/wallet-labels.js
  packages/components/stories/virtual-wallet-card/README.md
  packages/components/stories/virtual-wallet-card/virtual-wallet-card.stories.js
  packages/dashboard/src/constants/wallet-labels.ts
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
Labels: Components, Docs, Shared

#2043 mamali/qawolf-setup
  .env.example
  .github/workflows/generate_app_id.yml
  .github/workflows/run-e2e-test.yml
  .gitignore
  e2e_tests/.gitignore
  e2e_tests/create_test.js
  e2e_tests/jest.config.json
  e2e_tests/jest.setup.js
  e2e_tests/package-lock.json
  e2e_tests/package.json
  e2e_tests/src/__tests__/core/cr_signup.test.js
  e2e_tests/src/__tests__/core/website_status.test.js
  e2e_tests/src/__tests__/trader/contract_purchase.test.js
  e2e_tests/src/_config/context.js
  e2e_tests/src/_utils/test_template.js
  e2e_tests/src/_utils/websocket.js
  e2e_tests/src/bootstrap.js
  e2e_tests/src/objects/common.js
  e2e_tests/src/objects/deriv_com.js
  e2e_tests/src/objects/qa_emails.js
  e2e_tests/src/objects/trader.js
  e2e_tests/states/.gitignore
  package-lock.json
  package.json
  packages/components/src/components/tabs/tabs.jsx
  packages/core/build/constants.js
  packages/core/build/webpack.config.js
  packages/core/package.json
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/trader/src/App/Components/Form/RangeSlider/tick-steps.jsx
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
  qawolf.config.js
Labels: Components, Core, Trader

#2502 Ali / Total balance amount fix.
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/ui-store.js
Labels: Core

#2477 zaki / mt5_decoupling [production_branch]
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
  packages/account/src/Styles/account.scss
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Account, Components, Core, Trader

#2478 zaki / mt5_decoupling
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Account, Core, Trader

#2496 Matin/Fix: Add or manage page misalignments
  packages/components/src/components/form-submit-button/form-submit-button.scss
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/currency-select-radio.scss
  packages/core/src/sass/real-account-signup.scss
Labels: Components, Core

#2493 priojeet/text: update links to 39495 and 39172 in regulatory modal
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
Labels: Account, Bot, Components, Core, Docs

#2159 Nijil/DBot - Toolbox redesign
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
  packages/bot-skeleton/src/scratch/hooks/data_category.js
  packages/bot-skeleton/src/scratch/hooks/flyout_base.js
  packages/bot-skeleton/src/scratch/hooks/index.js
  packages/bot-skeleton/src/scratch/hooks/toolbox.js
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-skeleton/src/scratch/xml/toolbox.xml
  packages/bot-web-ui/src/assets/sass/flyout.scss
  packages/bot-web-ui/src/assets/sass/run-panel.scss
  packages/bot-web-ui/src/assets/sass/toolbar.scss
  packages/bot-web-ui/src/assets/sass/toolbox.scss
  packages/bot-web-ui/src/components/flyout.jsx
  packages/bot-web-ui/src/components/main-content.jsx
  packages/bot-web-ui/src/components/run-panel.jsx
  packages/bot-web-ui/src/components/toolbar.jsx
  packages/bot-web-ui/src/components/toolbox/toolbox-items.jsx
  packages/bot-web-ui/src/components/toolbox/toolbox.jsx
  packages/bot-web-ui/src/stores/flyout-help-store.js
  packages/bot-web-ui/src/stores/flyout-store.js
  packages/bot-web-ui/src/stores/index.js
  packages/bot-web-ui/src/stores/main-content-store.js
  packages/bot-web-ui/src/stores/toolbar-store.js
  packages/bot-web-ui/src/stores/toolbox-store.js
  packages/components/src/components/drawer/drawer.jsx
  packages/components/src/components/drawer/drawer.scss
Labels: Bot, Components

#2507 zaki / mt5_mobile_bugfix
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
Labels: Trader

#2509 zaki / fix_mt5_mobile_card_render_bug
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
Labels: Trader

#2510 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2515 Sean / fix: conditional copyrighting for DEL
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
Labels: Core

#2517 Bala/fix stop_out value in stake popover
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.jsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-amount-modal.jsx
Labels: Trader

#2532 aaron/P2P: fix: only request new data when not already loading (merges into master)
  packages/p2p/stores/buy-sell-store.js
Labels: P2P

#2531 aaron/P2P: fix: only request new data when not already loading (merges into V20210105_1)
  packages/p2p/stores/buy-sell-store.js
Labels: P2P

#2526 Matin/Fix: real_account_signup_target resets on closeRealAccountSignup
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/add-or-manage.scss
Labels: Core

#2524 Akmal / Fixed: vertical tab selected item undefined
  packages/components/src/components/vertical-tab/vertical-tab.jsx
Labels: Components

#2529 Bala/fix mt5 add button for eu
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/mt5/mt5.js
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Stores/Modules/MT5/Helpers/mt5-config.js
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
Labels: Core, Shared, Trader

#2538 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2540 mamali/Add real_account check for trade_servers
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
Labels: Trader

#2533 Bala/Fix tabs component
  packages/components/src/components/tabs/tabs.jsx
  packages/components/src/hooks/index.js
  packages/components/src/hooks/use-constructor.js
Labels: Components

#2548 Akmal / Fixed inability to change tabs from outside
  packages/components/src/components/tabs/tabs.jsx
Labels: Components

#2551 carol/ P2P: Show correct ad
  packages/p2p/src/components/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-profile/my-profile-form/my-profile-form.jsx
  packages/p2p/stores/buy-sell-store.js
  packages/p2p/stores/my-profile-store.js
Labels: P2P

#2555 zaki / update_regulatory_stuff [production]
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
Labels: Core

#2504 Akmal / Changed a label & an icon for virtual accounts
  packages/components/src/components/data-list/data-list-cell.jsx
  packages/components/src/components/data-list/data-list-row.jsx
  packages/components/src/components/data-list/data-list.jsx
  packages/components/src/components/data-table/data-table.jsx
  packages/components/src/components/data-table/table-row.jsx
  packages/components/src/components/icon/cashier/ic-cashier-top-up.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/trader/src/Modules/Reports/Components/market-symbol-icon-row.jsx
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/statement.jsx
Labels: Components, Trader

#2528 Amir / fix unsupported message for Onfido
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
Labels: Account

#2543 amam/fix_lang_params
  packages/translations/src/i18next/i18next.js
Labels: Translations

#2547 suthesh/responsible-trading-redirect
  packages/account/src/Sections/Security/SelfExclusion/article-content.jsx
  packages/account/src/Sections/Security/SelfExclusion/article.jsx
  packages/core/src/App/Components/Layout/Footer/responsible-trading.jsx
Labels: Account, Core

#2544 Priojeet/fix: show phone number to MLT clients only
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
Labels: Core

#2464 suthesh/rudderstack
  packages/account/src/Stores/index.js
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/index.js
  packages/core/src/Stores/rudderstack-store.js
  packages/core/src/index.html
  packages/trader/src/Stores/index.js
Labels: Account, Core, Trader

#2306 Shayan/ fix console errors that are related to wrong prop passing
  packages/cashier/src/Components/Confirm/account-transfer-confirm.jsx
  packages/cashier/src/Components/Error/virtual.jsx
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/cashier/src/Components/Form/payment-agent-transfer-form.jsx
  packages/cashier/src/Containers/account-transfer.jsx
Labels: Components, Core, Trader

#2535 Ali / Fix truncated header in self-exclusion modal for safari
  packages/account/src/Styles/account.scss
Labels: Account

#2521 Ali / Fix unwanted modal close when click on popover
  packages/components/src/components/modal/modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Components, Core

#2407 shayan / MT5 reset password modal
  packages/components/src/components/page-overlay/page-overlay.scss
Labels: Components

#2163 Ali / Bug fix for forward starting contracts
  packages/shared/src/utils/shortcode/shortcode.js
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/Stores/Modules/Contract/contract-replay-store.js
  packages/trader/src/Stores/Modules/Portfolio/Helpers/details.js
  packages/trader/src/Stores/Modules/Portfolio/Helpers/format-response.js
  packages/trader/src/Stores/Modules/Profit/Helpers/format-response.js
  packages/trader/src/Stores/Modules/Statement/Helpers/__tests__/format-response.spec.js
  packages/trader/src/Stores/Modules/Statement/Helpers/format-response.js
Labels: Shared, Trader

#2301 Amir / Refactor "TradeHeaderExtensions" and "TradeSettingsExtensions"
  packages/trader/src/App/Containers/trade-header-extensions.jsx
  packages/trader/src/App/Containers/trade-settings-extensions.jsx
Labels: Trader

#2344 Sara / Replaced paragraph with text in component package
  packages/components/src/components/composite-checkbox/composite-checkbox.jsx
  packages/components/src/components/composite-checkbox/composite-checkbox.scss
  packages/components/src/components/data-table/table-row-info.jsx
  packages/components/src/components/dialog/dialog.jsx
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/field/field.scss
  packages/components/src/components/form-progress/form-progress.jsx
  packages/components/src/components/form-progress/form-progress.scss
  packages/components/src/components/form-submit-button/form-submit-button.jsx
  packages/components/src/components/form-submit-button/form-submit-button.scss
  packages/components/src/components/form-submit-error-message/form-submit-error-message.jsx
  packages/components/src/components/form-submit-error-message/form-submit-error-message.scss
  packages/components/src/components/input/input.jsx
  packages/components/src/components/progress-bar/progress-bar.jsx
  packages/components/src/components/progress-bar/progress-bar.scss
  packages/components/src/components/select-native/select-native.jsx
  packages/components/src/components/select-native/select-native.scss
  packages/components/src/components/send-email-template/send-email-template.jsx
  packages/components/src/components/send-email-template/send-email-template.scss
  packages/components/src/components/vertical-tab/vertical-tab-header-title.jsx
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, P2P, Trader

#2476 Amam/layout app store
  packages/components/src/components/button/button.jsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/icon/common/ic-get-platform.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-high-leverage.svg
  packages/components/src/components/icon/mt5/ic-mt5-liquid-risk.svg
  packages/components/src/components/icon/mt5/ic-mt5-margin-trading.svg
  packages/components/src/components/icon/mt5/ic-mt5-open-markets.svg
  packages/components/src/components/icon/mt5/ic-mt5-responsive.svg
  packages/components/src/components/icon/mt5/ic-mt5-support.svg
  packages/components/src/components/icon/mt5/ic-mt5-synthetic-dashboard.svg
  packages/components/src/components/icon/mt5/ic-mt5-synthetic-indices.svg
  packages/components/src/components/icon/mt5/ic-mt5-trade-types.svg
  packages/components/stories/icon/icons.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/Modules/Dashboard/dashboard.jsx
  packages/dashboard/README.md
  packages/dashboard/src/assets/images/platforms/dmt5-synthetic-1.png
  packages/dashboard/src/assets/images/platforms/dmt5-synthetic-2.png
  packages/dashboard/src/components/elements/divider/divider.scss
  packages/dashboard/src/components/elements/divider/divider.tsx
  packages/dashboard/src/components/elements/divider/index.ts
  packages/dashboard/src/components/pages/about-us/about-us.tsx
  packages/dashboard/src/components/pages/platforms/components/back-button/back-button.scss
  packages/dashboard/src/components/pages/platforms/components/back-button/back-button.tsx
  packages/dashboard/src/components/pages/platforms/components/back-button/index.ts
  packages/dashboard/src/components/pages/platforms/components/description/description.scss
  packages/dashboard/src/components/pages/platforms/components/description/description.tsx
  packages/dashboard/src/components/pages/platforms/components/description/index.ts
  packages/dashboard/src/components/pages/platforms/components/facts/facts.scss
  packages/dashboard/src/components/pages/platforms/components/facts/facts.tsx
  packages/dashboard/src/components/pages/platforms/components/facts/index.ts
  packages/dashboard/src/components/pages/platforms/components/get-section/get-section.scss
  packages/dashboard/src/components/pages/platforms/components/get-section/get-section.tsx
  packages/dashboard/src/components/pages/platforms/components/get-section/index.ts
  packages/dashboard/src/components/pages/platforms/components/instruments/index.ts
  packages/dashboard/src/components/pages/platforms/components/instruments/instruments.scss
  packages/dashboard/src/components/pages/platforms/components/instruments/instruments.tsx
  packages/dashboard/src/components/pages/platforms/components/preview/index.ts
  packages/dashboard/src/components/pages/platforms/components/preview/preview.scss
  packages/dashboard/src/components/pages/platforms/components/preview/preview.tsx
  packages/dashboard/src/components/pages/platforms/components/wrapper/index.ts
  packages/dashboard/src/components/pages/platforms/components/wrapper/wrapper.scss
  packages/dashboard/src/components/pages/platforms/components/wrapper/wrapper.tsx
  packages/dashboard/src/components/pages/platforms/dmt5_synthetic/dmt5-synthetic.tsx
  packages/dashboard/src/components/pages/platforms/dmt5_synthetic/index.ts
  packages/dashboard/src/components/routes/routes-wrapper.tsx
  packages/dashboard/src/components/temp-buttons/temp-buttons.tsx
  packages/dashboard/src/components/template/app-to-trade/app-to-trade-card.tsx
  packages/dashboard/src/constants/routes-config.ts
  packages/dashboard/src/stores/config-store.ts
  packages/dashboard/src/types/props.types.ts
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
  packages/shared/src/utils/routes/routes.js
Labels: Components, Core, Docs

#2503 Sean / feat(component): added responsiveness to dashboard header
  packages/components/src/components/icon/common/ic-hamburger-white.svg
  packages/components/src/components/icon/common/ic-notification-clear.svg
  packages/components/src/components/icon/common/ic-notification.svg
  packages/components/src/components/icon/common/ic-profile.svg
  packages/components/src/components/icon/icon.scss
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Header/Components/Preloader/header-items.jsx
  packages/core/src/App/Containers/Layout/header/dashboard-header.jsx
  packages/core/src/Assets/SvgComponents/header/deriv-logo-dark-mobile.svg
  packages/core/src/Assets/SvgComponents/header/deriv-logo-dark.svg
  packages/core/src/Assets/SvgComponents/header/deriv-logo-light-mobile.svg
  packages/core/src/Assets/SvgComponents/header/deriv-logo-light.svg
  packages/core/src/Assets/SvgComponents/header/deriv-logo-text.svg
  packages/core/src/sass/app/_common/layout/dashboard-header.scss
  packages/shared/src/styles/themes.scss
Labels: Components, Core, Shared

#2352 Mehrzad / refactor DBot chart
  packages/bot-web-ui/src/components/chart/chart.jsx
  packages/bot-web-ui/src/stores/chart-store.js
Labels: Bot

#2209 Ali / Refactoring checkbox to functional component
  packages/components/src/components/checkbox/checkbox.jsx
  packages/components/src/components/checkbox/checkbox.scss
  packages/core/src/App/Containers/RealAccountSignup/terms-of-use-form.js
  packages/shared/src/utils/config/config.js
Labels: Components, Core, Shared

#2253 bahar/refactor_contract_audit_component
  packages/trader/src/App/Components/Elements/ContractAudit/contract-audit.jsx
Labels: Trader

#2240 Matin/Refactor: StatusDialogContainer class to functional component
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
Labels: Core

#2312 Mehrzad / refactor notification messages
  packages/core/src/App/Containers/app-notification-messages.jsx
Labels: Core

#2254 Mehrzad / refactor notification dialog
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
Labels: Core
