Repository deriv-com/deriv-app, pull requests merged in 2021-06, with the labels that each got.

#3351 Matin/Fix: Pass missing props properly
  packages/account/src/Sections/Security/Passwords/passwords.jsx
Labels: Account

#3356 Revert "Sean/feat(account-closure): add pending withdrawals as a third reason for disallowing account closures"
  packages/account/src/Sections/Security/DeactivateAccount/account-has-balance.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#3354 Mahdi Aryayi / Fixed compare account table bug for australian users
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
Labels: Trader

#3349 zaki / fix_crypto_multipliers_positions_mobile_timer
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.jsx
Labels: Components, Trader

#3362 translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#3365 carol/ Account: Onfido Hotfix
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Labels: Account

#3378 translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#3379 Bala/fix mt5 financial stp account card
  packages/trader/src/Modules/CFD/Components/cfd-demo-account-display.jsx
  packages/trader/src/Modules/CFD/Components/cfd-real-account-display.jsx
Labels: Trader

#3380 translations: 📚 sync translations with crowdin
  packages/translations/src/translations/id.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#3391 Bala/ update derivx app links
  packages/trader/src/Modules/CFD/Helpers/constants.js
  packages/trader/src/sass/app/modules/mt5/cfd-dashboard.scss
Labels: Trader

#3392 translations: 📚 sync translations with crowdin
  packages/translations/src/translations/es.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/ru.json
Labels: Translations

#3395 translations: 📚 sync translations with crowdin
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
Labels: Translations

#3383 Kseniya/Login History returns browser unknown for p2p mobile app upon logout
  packages/account/src/Sections/Security/LoginHistory/login-history.jsx
Labels: Account

#3326 zaki / add_jump_index_icons
  packages/account/package-lock.json
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/underlying/ic-underlying-JD10.svg
  packages/components/src/components/icon/underlying/ic-underlying-JD100.svg
  packages/components/src/components/icon/underlying/ic-underlying-JD25.svg
  packages/components/src/components/icon/underlying/ic-underlying-JD50.svg
  packages/components/src/components/icon/underlying/ic-underlying-JD75.svg
  packages/components/stories/icon/icons.js
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/Constants/contract.js
  packages/shared/src/utils/contract/contract.js
  packages/shared/src/utils/shortcode/shortcode.js
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/Constants/contract.js
Labels: Account, Bot, Components, Core, Shared, Trader

#3401 translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ko.json
Labels: Translations

#3366 yashim/fix: pushwoosh trackjs errors
  packages/core/src/Stores/pushwoosh-store.js
Labels: Core

#3384 Mikita/removed account in message while setting currency for MX clients
  packages/account/src/Components/currency-selector/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
Labels: Account, Core

#3325 Hojjat/add new desgin for welcome modal
  packages/core/build/loaders-config.js
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-item.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-modal.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome.jsx
  packages/core/src/Assets/SvgComponents/onboarding/cfds-mobile.svg
  packages/core/src/Assets/SvgComponents/onboarding/cfds.svg
  packages/core/src/Assets/SvgComponents/onboarding/digital-options-mobile.svg
  packages/core/src/Assets/SvgComponents/onboarding/digital-options.svg
  packages/core/src/Assets/SvgComponents/onboarding/multipliers-mobile.svg
  packages/core/src/Assets/SvgComponents/onboarding/multipliers.svg
  packages/core/src/Assets/SvgComponents/onboarding/not-sure-mobile.svg
  packages/core/src/Assets/SvgComponents/onboarding/not-sure.svg
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app/modules/welcome.scss
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Core, Shared, Trader

#3328 Bala/resubscribe to proposals when we get `AlreadySubscribed` error
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#3268 carol/ DP2P: Allow users to activate and deactivate ads
  packages/components/src/components/horizontal-swipe/horizontal-swipe.scss
  packages/components/src/components/icon/common/ic-archive.svg
  packages/components/src/components/icon/common/ic-unarchive.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/p2p/src/components/buy-sell/buy-sell-form-receive-amount.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/my-ads/ad-status.jsx
  packages/p2p/src/components/my-ads/ad-status.scss
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads-delete-modal.jsx
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/order-details/order-details-footer.jsx
  packages/p2p/src/stores/my-ads-store.js
  packages/shared/src/styles/themes.scss
Labels: Components, P2P, Shared

#3275 Nikita/New line not allow in comment field in Account closure
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
Labels: Account, Core

#3100 Prince/ Datepicker future dates on IOS devices
  packages/components/src/components/date-picker/date-picker-native.jsx
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar-mobile.jsx
Labels: Components, Trader

#3316 Nikita/add separator in native dropdown
  packages/components/src/components/select-native/select-native.jsx
Labels: Components

#3375 zaki / mt5_poa_long_filenames
  packages/account/src/Components/file-uploader-container/file-uploader.jsx
  packages/components/src/components/file-dropzone/file-dropzone.jsx
  packages/components/src/components/file-dropzone/file-dropzone.scss
  packages/trader/src/sass/app/modules/mt5/cfd-dashboard.scss
Labels: Account, Components, Trader

#3355 Mehrzad / disable double click
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#3371 nikolai/remove multipliers-only options
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_market.js
Labels: Bot

#3389 Kseniya/the radio button is not fully circle in complaint modal
  packages/p2p/src/components/order-details/order-details-complain-modal.scss
Labels: P2P

#3350 Nijil/Fix typo in ema indicator
  packages/bot-skeleton/src/scratch/blocks/Binary/Indicators/ema_statement.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Indicators/emaa_statement.js
Labels: Bot

#3372 Akmal / Remove styles for calendar between hover
  packages/components/src/components/calendar/calendar.scss
  packages/components/src/components/calendar/views/calendar-days.jsx
Labels: Components

#3373 Akmal / Add y-padding for indicative cell
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader

#3376 Matin/Fix: TP improvements - success button width
  packages/account/src/Sections/Security/Passwords/deriv-password.jsx
  packages/account/src/Sections/Security/Passwords/passwords-footer.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#3297 Hubert / fixing signup modal design
  packages/core/src/sass/app/modules/account-signup.scss
Labels: Core

#3386 nikolai/Load strategy modal fix
  packages/bot-web-ui/src/components/load-modal/load-modal.scss
Labels: Bot

#3385 daniil/quick strategy tooltips
  packages/components/src/components/popover/popover.jsx
Labels: Bot, Components

#3398 Bala/fix derivx financial description
  packages/trader/src/Modules/CFD/Components/cfd-demo-account-display.jsx
  packages/trader/src/Modules/CFD/Components/cfd-real-account-display.jsx
  packages/trader/src/Modules/CFD/Constants/cfd-shared-strings.js
Labels: Trader

#3430 Bala/update derivx content
  packages/trader/src/Modules/CFD/Constants/cfd-shared-strings.js
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.jsx
  packages/trader/src/Modules/CFD/Containers/compare-accounts-modal.jsx
  packages/trader/src/sass/app/modules/mt5/cfd-dashboard.scss
Labels: Trader

#3353 yashim/hotfix: downgrade onfido version
  packages/account/package-lock.json
  packages/account/package.json
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/date-picker/date-picker-native.jsx
Labels: Account, Components

#3435 Hubert / Fixing broken signup modal in mobile view.
  packages/core/src/sass/app/modules/account-signup.scss
Labels: Components, Core

#3441 Hojjat/Fix existing welcome modal for non cr
  packages/core/src/App/Containers/WelcomeModal/welcome-cr.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-item-cr.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-modal-cr.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-modal-non-cr.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-modal.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/modules/welcome.scss
Labels: Core

#3446 nikolai/hide crypto and JI in quick strategy
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.jsx
Labels: Bot

#3447 Hojjat / fix: hide welcome modal for uk clients
  packages/core/src/Stores/client-store.js
Labels: Core

#3432 Mehrzad / increase disable run button timeout
  packages/bot-web-ui/src/components/trade-animation/trade-animation.jsx
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#3310 Hojjat / fix: shared auth with smarttrader in staging
  packages/core/src/root_files/localstorage-sync.html
Labels: Core

#3452 translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3272 Ako/ React Testing Library and jest configurations improvements
  jest.config.base.js
  jest.config.js
  package-lock.json
  package.json
  packages/account/jest.config.js
  packages/account/package.json
  packages/bot-web-ui/package.json
  packages/core/jest.config.js
  packages/dashboard/jest.config.js
  packages/dashboard/package-lock.json
  packages/dashboard/package.json
  packages/indicators/jest.config.js
  packages/indicators/package-lock.json
  packages/indicators/package.json
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/shared/jest.config.js
  packages/shared/package-lock.json
  packages/shared/package.json
  packages/trader/jest.config.js
  setupTests.js
Labels: Account, Bot, Components, Core, Dashboard, P2P, Shared, Trader, Translations

#3434 Hubert / Changing notification for authenticated user registering a STP account.
  packages/trader/src/Modules/CFD/Components/cfd-financial-stp-pending-dialog.jsx
Labels: Components, Trader

#3456 Nikita/ Required Field Validation for Address not showing
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Account

#3377 Kseniya/Responsive tabs not as per design
  packages/p2p/src/components/app.scss
Labels: Components, P2P

#3458 Akmal / Fix console errors
  packages/components/src/components/data-table/data-table.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Components, Trader

#3299 Hubert / fixing address input fields error messages
  packages/account/src/Configs/address-details-config.js
  packages/account/src/Configs/personal-details-config.js
  packages/components/src/components/input/input.scss
  packages/core/src/sass/details-form.scss
Labels: Account, Components, Core, Trader

#3359 Mahdiyeh/fix: compare_accounts_modal
  packages/trader/src/Modules/CFD/Components/cfd-demo-account-display.jsx
  packages/trader/src/Modules/CFD/Constants/cfd-specifications.js
  packages/trader/src/Modules/CFD/Containers/compare-accounts-modal.jsx
Labels: Trader

#3267 Mehrzad / remove undefined function
  packages/bot-skeleton/src/scratch/blocks/Advanced/Functions/procedures_defreturn.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Variable/variables_get.js
Labels: Bot

#3108 Prince/ Deactivate account input counters
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
Labels: Account, Components

#3276 Mehrzad / Add stake and payout limitations
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/xml/main.xml
  packages/bot-skeleton/src/services/api/account-limits.js
  packages/bot-skeleton/src/services/api/api-helpers.js
  packages/bot-web-ui/src/components/toolbox/toolbox-items.jsx
Labels: Bot

#3258 Mikita/arranged every icon opposite text
  packages/account/src/Components/icon-message-list/icon-message-list.jsx
  packages/trader/src/sass/app/modules/mt5/cfd-dashboard.scss
Labels: Account, Trader

#3370 Nikita/P2P notification jumpy
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
Labels: Account, Core, Trader

#3475 translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#3433 Sara / Added ids to Onfido documents
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Labels: Account

#3486 test staging
  packages/core/src/Stores/ui-store.js
Labels: Core

#3491 Revert "Ako/ React Testing Library and jest configurations improvements"
  jest.config.base.js
  jest.config.js
  package-lock.json
  package.json
  packages/account/jest.config.js
  packages/account/package.json
  packages/bot-web-ui/package.json
  packages/core/jest.config.js
  packages/dashboard/jest.config.js
  packages/dashboard/package-lock.json
  packages/dashboard/package.json
  packages/indicators/jest.config.js
  packages/indicators/package-lock.json
  packages/indicators/package.json
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/shared/jest.config.js
  packages/shared/package-lock.json
  packages/shared/package.json
  packages/trader/jest.config.js
  setupTests.js
Labels: Account, Bot, Core, Dashboard, P2P, Shared, Trader

#3496 fix: revert config release staging
  .circleci/config.yml
  packages/core/src/Stores/ui-store.js
Labels: Core

#3493 amam/yashim/fix: trackjs pushwoosh subscription errors
  package-lock.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/Stores/pushwoosh-store.js
Labels: Core

#3479 Kseniya/Missing currency option when switching for MX to MF account
  packages/core/src/Stores/client-store.js
Labels: Core

#3410 daniil/made multiplier down immovable and undeletable
  packages/bot-skeleton/src/scratch/blocks/Binary/Indicators/Parts/std_dev_multiplier_down.js
Labels: Bot

#3495 Akmal / Remove DTrader Installation notification after the app is installed
  packages/core/src/Stores/ui-store.js
Labels: Core

#3481 daniil/made qs modal wider on desktop, changed layout on mobile
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.jsx
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.scss
Labels: Bot

#3502 Mahdi Aryayi / Fixed MT5 modal flash
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.jsx
Labels: Trader

#3425 nikolai/restrict non-movable tradeoption blocks from disabling
  packages/bot-skeleton/src/scratch/blocks/Binary/Before Purchase/purchase.js
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
Labels: Bot

#3478 farrah/added copy icon for crypto withdrawal address
  packages/trader/src/Modules/Reports/Containers/statement.jsx
Labels: Trader

#3522 Matin/Fix: legal_allowed_currencies missing conditions
  packages/core/src/Stores/client-store.js
Labels: Core

#3523 daniil/dbot safari fix
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.scss
Labels: Bot

#3521 Kseniya/Missing currency option when switching for MX to MF account
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
Labels: Core

#3527 translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/it.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3528 Matin/Fix: wrongly detected forward starting contracts
  packages/shared/src/utils/shortcode/shortcode.js
Labels: Shared

#3442 Sara / Fixed inconsistency between sentences on signup
  packages/account/src/Components/terms-of-use/terms-of-use-messages.jsx
Labels: Account

#3508 Prince/ DP2P ad page scroll height issue
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
Labels: P2P

#3440 Bala/invalidate static files cache
  .gitignore
  packages/account/build/config.js
  packages/account/build/webpack.config.js
  packages/account/package.json
  packages/account/src/index.js
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/app/app.js
  packages/bot-web-ui/src/app/app.jsx
  packages/bot-web-ui/src/components/main-content/toolbox.scss
  packages/bot-web-ui/src/components/save-modal/save-modal.scss
  packages/bot-web-ui/src/components/toolbox/toolbox.jsx
  packages/bot-web-ui/src/public-path.js
  packages/bot-web-ui/webpack.config.js
  packages/cashier/build/config.js
  packages/cashier/build/loaders-config.js
  packages/cashier/build/webpack.config.js
  packages/cashier/package.json
  packages/cashier/src/Constants/routes-config.js
  packages/cashier/src/index.js
  packages/components/package.json
  packages/components/src/components/icon/cashier/ic-cashier-add.svg
  packages/components/src/components/icon/cashier/ic-cashier-minus.svg
  packages/components/src/components/icon/cashier/ic-cashier.svg
  packages/components/src/components/icon/icon.jsx
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/components/utils/build-icons-manifest.js
  packages/components/utils/build-icons.js
  packages/components/utils/helper.js
  packages/components/webpack.config.js
  packages/core/build/config.js
  packages/core/build/loaders-config.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/app.jsx
  packages/dashboard/webpack.config.js
  packages/shared/package-lock.json
  packages/shared/package.json
  packages/shared/src/index.js
  packages/shared/src/loaders/deriv-account-loader.js
  packages/shared/src/loaders/deriv-cashier-loader.js
  packages/shared/src/loaders/deriv-trader-loader.js
  packages/shared/src/utils/loader/index.js
  packages/shared/src/utils/loader/lazy-load.js
  packages/trader/build/config.js
  packages/trader/build/constants.js
  packages/trader/build/webpack.config.js
  packages/trader/package.json
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/index.js
  packages/trader/src/sass/app/modules/portfolio.scss
  packages/translations/src/i18next/i18next.js
Labels: Account, Bot, Components, Core, Shared, Trader

#3455 Hubert / Changing text for deactivating account modal.
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#3504 Amina/ Incorrect_POA_upload_error_message_for_large_files
  packages/account/src/Components/file-uploader-container/file-uploader.jsx
Labels: Account

#3537 translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/vi.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3538 translations: 📚 sync translations with crowdin
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
Labels: Translations

#3545 Revert "Bala/invalidate static files cache"
  .gitignore
  packages/account/build/config.js
  packages/account/build/webpack.config.js
  packages/account/package.json
  packages/account/src/index.js
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/app/app.js
  packages/bot-web-ui/src/app/app.jsx
  packages/bot-web-ui/src/components/main-content/toolbox.scss
  packages/bot-web-ui/src/components/save-modal/save-modal.scss
  packages/bot-web-ui/src/components/toolbox/toolbox.jsx
  packages/bot-web-ui/src/public-path.js
  packages/bot-web-ui/webpack.config.js
  packages/cashier/build/config.js
  packages/cashier/build/loaders-config.js
  packages/cashier/build/webpack.config.js
  packages/cashier/package.json
  packages/cashier/src/Constants/routes-config.js
  packages/cashier/src/index.js
  packages/components/package.json
  packages/components/src/components/icon/common/ic-cashier.svg
  packages/components/src/components/icon/common/ic-wallet-add.svg
  packages/components/src/components/icon/common/ic-wallet-minus.svg
  packages/components/src/components/icon/icon.jsx
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/components/utils/build-icons-manifest.js
  packages/components/utils/build-icons.js
  packages/components/utils/helper.js
  packages/components/webpack.config.js
  packages/core/build/config.js
  packages/core/build/loaders-config.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/app.jsx
  packages/core/src/_common/lazy-load.js
  packages/dashboard/webpack.config.js
  packages/shared/package-lock.json
  packages/shared/package.json
  packages/shared/src/index.js
  packages/shared/src/loaders/deriv-account-loader.js
  packages/shared/src/loaders/deriv-cashier-loader.js
  packages/shared/src/loaders/deriv-trader-loader.js
  packages/shared/src/utils/loader/index.js
  packages/trader/build/config.js
  packages/trader/build/constants.js
  packages/trader/build/webpack.config.js
  packages/trader/package.json
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/index.js
  packages/trader/src/sass/app/modules/portfolio.scss
  packages/translations/src/i18next/i18next.js
Labels: Account, Bot, Components
