Repository deriv-com/deriv-app, pull requests merged in 2021-07, with the labels that each got.

#3554 translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3550 Bala/invalidate static files cache - Attempt #2
  .gitignore
  .stylelintrc.js
  default.conf
  package.json
  packages/account/build/config.js
  packages/account/build/webpack.config.js
  packages/account/package.json
  packages/account/src/index.js
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/app/app.js
  packages/bot-web-ui/src/app/app.jsx
  packages/bot-web-ui/src/components/main-content/toolbox.scss
  packages/bot-web-ui/src/components/save-modal/save-modal.scss
  packages/bot-web-ui/src/components/toolbox/toolbox.jsx
  packages/bot-web-ui/src/public-path.js
  packages/bot-web-ui/webpack.config.js
  packages/cashier/build/config.js
  packages/cashier/build/loaders-config.js
  packages/cashier/build/webpack.config.js
  packages/cashier/package.json
  packages/cashier/src/Constants/routes-config.js
  packages/cashier/src/index.js
  packages/components/package.json
  packages/components/src/components/icon/cashier/ic-cashier-add.svg
  packages/components/src/components/icon/cashier/ic-cashier-minus.svg
  packages/components/src/components/icon/cashier/ic-cashier.svg
  packages/components/src/components/icon/icon.jsx
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/components/utils/build-icons-manifest.js
  packages/components/utils/build-icons.js
  packages/components/utils/helper.js
  packages/components/webpack.config.js
  packages/core/build/config.js
  packages/core/build/loaders-config.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/app.jsx
  packages/dashboard/webpack.config.js
  packages/shared/package-lock.json
  packages/shared/package.json
  packages/shared/src/index.js
  packages/shared/src/loaders/deriv-account-loader.js
  packages/shared/src/loaders/deriv-cashier-loader.js
  packages/shared/src/loaders/deriv-trader-loader.js
  packages/shared/src/utils/loader/index.js
  packages/shared/src/utils/loader/lazy-load.js
  packages/trader/build/config.js
  packages/trader/build/constants.js
  packages/trader/build/webpack.config.js
  packages/trader/package.json
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/index.js
  packages/trader/src/sass/app/modules/portfolio.scss
  packages/translations/src/i18next/i18next.js
Labels: Account, Bot, Components

#3548 Hojjat / fix legal currencies for au
  packages/core/src/Stores/client-store.js
Labels: Core

#3530 khalid/save user_id to cookies
  packages/core/src/Stores/client-store.js
Labels: Core

#3542 Prince/ DP2P mobile scroller height issue
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
Labels: P2P

#3541 Matin/Fix: Digit contract tick misalignment and dark theme color
  packages/trader/src/Modules/Contract/Components/Digits/digits.jsx
Labels: Trader

#3451 Bala/update compare accounts foot notes
  packages/trader/src/Modules/CFD/Containers/compare-accounts-modal.jsx
Labels: Trader

#3400 Amina/Dtrader time format on market close
  packages/shared/src/utils/date/date-time.js
  packages/trader/src/App/Components/Elements/market-countdown-timer.jsx
Labels: Shared, Trader

#3543 carol/ DP2P: Update text
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats.jsx
Labels: P2P

#3552 Bala/ add validation to check if relative barrier is zero
  packages/trader/src/Stores/Modules/Trading/Constants/validation-rules.js
Labels: Trader

#3505 Mahdi / Fix MT5 password meter bug
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.jsx
Labels: Trader

#3567 translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3569 Bala/fix compare accounts typo
  packages/trader/src/Modules/CFD/Containers/compare-accounts-modal.jsx
Labels: Trader

#3571 Bala/Fix compare accounts typo
  packages/trader/src/Modules/CFD/Containers/compare-accounts-modal.jsx
Labels: Trader

#3572 translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3573 translations: 📚 sync translations with crowdin
  packages/translations/src/translations/id.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#3556 Add docker-compose for storybook app
  packages/components/README.md
  storybook.Dockerfile
  storybook/README.md
  storybook/docker-compose.yaml
Labels: Components, Docs

#3357 Revert "Revert "Sean/feat(account-closure): add pending withdrawals as a third reason for disallowing account closures""
  packages/account/src/Sections/Security/DeactivateAccount/account-has-balance.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#3578 Mehrzad / getAllBlocks trackJS error
  packages/bot-skeleton/src/scratch/dbot.js
Labels: Bot

#3506 Sara / Added system-maintenance to client notification
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Core

#3588 translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/ru.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3590 Revert "Sara / Added system-maintenance to client notification"
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Core

#3596 Fix: set contract type to rise_fall_equal if user checks allow equal checkbox
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#3579 Bala/remove `Deriv X` from cashier message
  packages/account/src/Components/currency-selector/currency-selector.jsx
  packages/cashier/src/Components/Error/account-transfer-no-account.jsx
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/core/src/App/Containers/RealAccountSignup/change-account-currency.jsx
Labels: Account, Core

#3529 Bala/handle derivx landing companies
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/AccountSwitcher/helpers/account-helper.js
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/cfd/cfd.js
  packages/trader/src/Modules/CFD/Components/cfd-demo-account-display.jsx
  packages/trader/src/Modules/CFD/Components/cfd-real-account-display.jsx
  packages/trader/src/Modules/CFD/Containers/compare-accounts-modal.jsx
Labels: Core, Shared, Trader

#3581 carol/ DP2P: Show local timestamp in chat
  packages/p2p/src/components/orders/chat/chat-messages.jsx
  packages/p2p/src/stores/order-store.js
  packages/p2p/src/utils/orders.js
  packages/shared/src/utils/date/date-time.js
  packages/trader/src/Stores/Modules/Portfolio/Helpers/details.js
Labels: P2P, Shared, Trader

#3594 Mahdiyeh/fix: mt5_financial_descrioption
  packages/trader/src/Modules/CFD/Components/cfd-demo-account-display.jsx
  packages/trader/src/Modules/CFD/Components/cfd-real-account-display.jsx
  packages/trader/src/Modules/CFD/Constants/cfd-shared-strings.js
  packages/trader/src/Modules/CFD/Containers/compare-accounts-modal.jsx
Labels: Trader

#3509 Hojjat | Mitchel / Add signup onboarding for CR
  packages/components/src/components/dialog/dialog.jsx
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/icon/common/ic-android.svg
  packages/components/src/components/icon/common/ic-browser.svg
  packages/components/src/components/icon/common/ic-ios.svg
  packages/components/src/components/icon/common/ic-linux2.svg
  packages/components/src/components/icon/common/ic-macos2.svg
  packages/components/src/components/icon/common/ic-verify.svg
  packages/components/src/components/icon/common/ic-windows-gray.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-commodities.svg
  packages/components/src/components/icon/mt5/ic-mt5-cryptos.svg
  packages/components/src/components/icon/mt5/ic-mt5-forex.svg
  packages/components/src/components/icon/mt5/ic-mt5-indices.svg
  packages/components/src/components/icon/mt5/ic-mt5-stocks.svg
  packages/components/src/components/icon/mt5/ic-mt5-synthetics.svg
  packages/components/src/components/table/table-footer.jsx
  packages/components/src/components/table/table.jsx
  packages/components/src/components/table/table.scss
  packages/components/stories/icon/icons.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/AccountSignupModal/index.js
  packages/core/src/App/Containers/AccountSignupModal/signup-separator-container.jsx
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/App/Containers/Layout/header/header.jsx
  packages/core/src/App/Containers/Layout/header/signup-onboarding-header.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Onboarding/account-signup-password.jsx
  packages/core/src/App/Containers/Onboarding/account-signup-resident.jsx
  packages/core/src/App/Containers/Onboarding/account-signup.jsx
  packages/core/src/App/Containers/Onboarding/cfds-platforms.jsx
  packages/core/src/App/Containers/Onboarding/index.js
  packages/core/src/App/Containers/Onboarding/onboarding.jsx
  packages/core/src/App/Containers/Onboarding/welcome-item.jsx
  packages/core/src/App/Containers/Onboarding/welcome.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/App/Containers/WelcomeModal/index.js
  packages/core/src/App/Containers/WelcomeModal/welcome-cr.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-modal-cr.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-modal.jsx
  packages/core/src/Assets/SvgComponents/header/deriv-onboarding-logo-mobile.svg
  packages/core/src/Assets/SvgComponents/header/deriv-onboarding-logo.svg
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/core/src/sass/app/_common/layout/signup-onboarding-header.scss
  packages/core/src/sass/app/modules/account-signup.scss
  packages/core/src/sass/app/modules/onboarding-cfds-platform.scss
  packages/core/src/sass/app/modules/welcome.scss
  packages/shared/src/styles/constants.scss
  packages/shared/src/utils/routes/routes.js
  packages/shared/src/utils/url/constants.js
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Components, Core

#3589 Hojjat / Check before accessing prefered language
  packages/core/src/Stores/client-store.js
Labels: Core

#3595 Kseniya/submit proof of authentication for MF required
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-buttons.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-message.jsx
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
Labels: Core

#3510 Hubert / Fixing bug where user can have not yet supported language during signup.
  packages/components/src/components/icon/icons-manifest.js
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Routes/routes.jsx
  packages/core/src/App/Containers/SettingsModal/settings-language.jsx
  packages/core/src/Stores/common-store.js
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/core/src/Utils/Language/language.js
  packages/translations/src/i18next/i18next.js
Labels: Components, Core, Translations

#3575 Ali / Fix trackjs error for livechat
  packages/core/src/App/Components/Elements/LiveChat/live-chat.jsx
Labels: Core

#3549 Mahdi / Fixing suspended MT5 server list UI
  packages/core/src/Stores/client-store.js
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.jsx
  packages/trader/src/sass/app/modules/mt5/cfd.scss
Labels: Core, Trader

#3613 translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/th.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3615 Revert "Hojjat | Mitchel / Add signup onboarding for CR "
  packages/components/src/components/dialog/dialog.jsx
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/icon/common/ic-android.svg
  packages/components/src/components/icon/common/ic-browser.svg
  packages/components/src/components/icon/common/ic-ios.svg
  packages/components/src/components/icon/common/ic-linux2.svg
  packages/components/src/components/icon/common/ic-macos2.svg
  packages/components/src/components/icon/common/ic-verify.svg
  packages/components/src/components/icon/common/ic-windows-gray.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-commodities.svg
  packages/components/src/components/icon/mt5/ic-mt5-cryptos.svg
  packages/components/src/components/icon/mt5/ic-mt5-forex.svg
  packages/components/src/components/icon/mt5/ic-mt5-indices.svg
  packages/components/src/components/icon/mt5/ic-mt5-stocks.svg
  packages/components/src/components/icon/mt5/ic-mt5-synthetics.svg
  packages/components/src/components/table/table-footer.jsx
  packages/components/src/components/table/table.jsx
  packages/components/src/components/table/table.scss
  packages/components/stories/icon/icons.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/AccountSignupModal/index.js
  packages/core/src/App/Containers/AccountSignupModal/signup-separator-container.jsx
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/App/Containers/Layout/header/header.jsx
  packages/core/src/App/Containers/Layout/header/signup-onboarding-header.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Onboarding/account-signup-password.jsx
  packages/core/src/App/Containers/Onboarding/account-signup-resident.jsx
  packages/core/src/App/Containers/Onboarding/account-signup.jsx
  packages/core/src/App/Containers/Onboarding/cfds-platforms.jsx
  packages/core/src/App/Containers/Onboarding/index.js
  packages/core/src/App/Containers/Onboarding/onboarding.jsx
  packages/core/src/App/Containers/Onboarding/welcome.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/App/Containers/WelcomeModal/index.js
  packages/core/src/App/Containers/WelcomeModal/welcome-cr.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-item-cr.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-modal-cr.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-modal.jsx
  packages/core/src/Assets/SvgComponents/header/deriv-onboarding-logo-mobile.svg
  packages/core/src/Assets/SvgComponents/header/deriv-onboarding-logo.svg
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/core/src/sass/app/_common/layout/signup-onboarding-header.scss
  packages/core/src/sass/app/modules/account-signup.scss
  packages/core/src/sass/app/modules/onboarding-cfds-platform.scss
  packages/core/src/sass/app/modules/welcome.scss
  packages/shared/src/styles/constants.scss
  packages/shared/src/utils/routes/routes.js
  packages/shared/src/utils/url/constants.js
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Components, Core

#3585 Mahdiyeh/Fix: adding new account from DsmartTrader
  packages/core/src/Stores/client-store.js
Labels: Core

#3620 [Hotfix] Mahdi / Fixed showing trading password popup after MT5 account creation
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.jsx
  packages/trader/src/Stores/Modules/CFD/cfd-store.js
Labels: Trader

#3621 translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#3622 farrah/added system maintenance to cashier and notification
  packages/cashier/src/Components/Error/cashier-locked.jsx
  packages/cashier/src/Components/Error/withdrawal-locked.jsx
  packages/cashier/src/Containers/deposit.jsx
  packages/cashier/src/Containers/on-ramp.jsx
  packages/cashier/src/Containers/withdrawal.jsx
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
Labels: Core

#3599 Hojjat / fix: check for existence before call close chat
  packages/core/src/Services/logout.js
Labels: Core

#3320 Mikita / fixed issue according to reboot au account
  packages/bot-web-ui/src/app/app.jsx
  packages/core/src/Stores/client-store.js
Labels: Bot, Core

#3587 nikolai/make synthetic indices top option in charts
  packages/bot-web-ui/src/components/chart/chart.jsx
  packages/bot-web-ui/src/stores/chart-store.js
Labels: Bot

#3080 Nijil/DBot - Add multipliers
  packages/bot-skeleton/src/constants/config.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/index.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/multiplier_stop_loss.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/multiplier_take_profit.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_multiplier.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartonerror.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-skeleton/src/services/api/contracts-for.js
  packages/bot-skeleton/src/services/tradeEngine/trade/OpenContract.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/summary/summary-card.jsx
  packages/bot-web-ui/src/components/summary/summary-card.scss
  packages/bot-web-ui/src/components/summary/summary.jsx
  packages/bot-web-ui/src/components/toolbar/toolbar.jsx
  packages/bot-web-ui/src/components/toolbox/toolbox-items.jsx
  packages/bot-web-ui/src/constants/contract.js
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/quick-strategy-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/summary-card-store.js
  packages/bot-web-ui/src/utils/multiplier.js
  packages/bot-web-ui/src/utils/validator/errors.js
  packages/bot-web-ui/src/utils/validator/index.js
  packages/bot-web-ui/src/utils/validator/validator.js
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-dialog.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-footer.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-item.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-sell.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-type-cell.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-update-form.jsx
  packages/components/src/components/contract-card/contract-card-items/sass/contract-card-dialog.scss
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.jsx
  packages/components/src/components/contract-card/contract-card.jsx
  packages/components/src/components/dialog/dialog.jsx
Labels: Bot, Components

#3627 translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#3629 Revert "Nijil/DBot - Add multipliers"
  packages/bot-skeleton/src/constants/config.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/index.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/multiplier_stop_loss.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/multiplier_take_profit.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_multiplier.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartonerror.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-skeleton/src/services/api/contracts-for.js
  packages/bot-skeleton/src/services/tradeEngine/trade/OpenContract.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/summary/summary-card.jsx
  packages/bot-web-ui/src/components/summary/summary-card.scss
  packages/bot-web-ui/src/components/summary/summary.jsx
  packages/bot-web-ui/src/components/toolbar/toolbar.jsx
  packages/bot-web-ui/src/components/toolbox/toolbox-items.jsx
  packages/bot-web-ui/src/constants/contract.js
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/quick-strategy-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/summary-card-store.js
  packages/bot-web-ui/src/utils/multiplier.js
  packages/bot-web-ui/src/utils/validator/errors.js
  packages/bot-web-ui/src/utils/validator/index.js
  packages/bot-web-ui/src/utils/validator/validator.js
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-dialog.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-footer.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-item.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-sell.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-type-cell.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-update-form.jsx
  packages/components/src/components/contract-card/contract-card-items/sass/contract-card-dialog.scss
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.jsx
  packages/components/src/components/contract-card/contract-card.jsx
  packages/components/src/components/dialog/dialog.jsx
Labels: Bot, Components

#3631 translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/vi.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3647 Revert "Mikita / fixed issue according to reboot au account"
  packages/bot-web-ui/src/app/app.jsx
  packages/core/src/Stores/client-store.js
Labels: Bot, Core

#3644 Maryia/Updated links for MLT and MX licences in regulatory information
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
Labels: Core

#3636 add apple app association
  packages/core/build/config.js
  packages/core/src/public/.well-known/apple-app-site-association
  packages/core/src/public/.well-known/assetslinks.json
Labels: Core

#3632 carol/ DP2P: Fix nickname error bug
  packages/p2p/src/components/nickname-form/nickname-form-wrapper.jsx
  packages/p2p/src/components/nickname-form/nickname-form.jsx
  packages/p2p/src/stores/general-store.js
Labels: P2P

#3639 Nikita / Implementation of 404 page in Responsive mode
  packages/account/src/Modules/Page404/Components/Page404.jsx
  packages/cashier/src/Components/Page404.jsx
  packages/components/src/components/page-error/page-error.jsx
  packages/components/src/components/page-error/page-error.scss
  packages/components/stories/page-error/README.md
  packages/components/stories/page-error/stories/basic.js
  packages/components/stories/page-error/stories/has-image.js
  packages/components/stories/page-error/stories/has-redirect.js
  packages/core/src/Modules/Page404/Components/Page404.jsx
  packages/core/src/sass/app/modules/page-404.scss
  packages/trader/src/Modules/Page404/Components/Page404.jsx
Labels: Account, Components, Core, Docs, Trader

#3638 Maryia/Update dropdown description and hover state
  packages/core/src/sass/app/_common/components/platform-dropdown.scss
Labels: Core

#3574 farrah/fixed mf account creation if there is no assigned currency
  packages/account/src/Components/currency-selector/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/set-currency.jsx
Labels: Account, Core

#3641 Maryia/Added padding under step 1 on api-token page
  packages/account/src/Components/api-token/api-token.scss
Labels: Account

#3637 Mahdiyeh/ fix: sell_time and purchase_time cell on smaller resolution
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader

#3664 translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/pl.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3547 Amina/Dmt5_carousal_arrow_update
  packages/components/src/components/carousel/carousel.jsx
  packages/components/src/components/carousel/carousel.scss
  packages/components/src/components/icon/common/ic-chevron-left-bold-mt5.svg
  packages/components/src/components/icon/common/ic-chevron-right-bold-mt5.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components

#3666 translations: 📚 sync translations with crowdin
  packages/translations/src/translations/id.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/th.json
Labels: Translations

#3670 translations: 📚 sync translations with crowdin
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/ru.json
Labels: Translations
