Repository deriv-com/deriv-app, pull requests merged in 2021-12, with the labels that each got.

#4381 mamali/Adding console info (harmless) to trigger content change
  packages/core/src/App/app.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Core

#4379 Maryia/Defining the country by the client's country of residence in showMxMltUnavailableError()
  packages/trader/src/Stores/Modules/Trading/Helpers/active-symbols.js
Labels: Trader

#4185 yashim/fix: tooltip ref & idv submit layout
  packages/account/src/Components/poi-idv-document-submit/poi-idv-document-submit.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Styles/account.scss
  packages/components/package.json
  packages/components/src/components/popover/popover.jsx
  packages/core/package.json
Labels: Core, Components, Account

#4209 farrah/refactor_cashier_scss
  packages/cashier/src/Components/CashierDefault/cashier-default-details.jsx
  packages/cashier/src/Components/CashierDefault/cashier-default-side-note.jsx
  packages/cashier/src/Components/Email/email-sent.jsx
  packages/cashier/src/Components/Email/send-email.jsx
  packages/cashier/src/Components/Error/account-transfer-no-account.jsx
  packages/cashier/src/Components/Error/error.jsx
  packages/cashier/src/Components/Error/funds-protection.jsx
  packages/cashier/src/Components/Error/no-balance.jsx
  packages/cashier/src/Components/Error/virtual.jsx
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/cashier/src/Components/Form/crypto-fiat-converter.jsx
  packages/cashier/src/Components/Form/crypto-withdraw-form.jsx
  packages/cashier/src/Components/Form/max-turnover-form.jsx
  packages/cashier/src/Components/Form/payment-agent-transfer-form.jsx
  packages/cashier/src/Components/Form/payment-agent-withdraw-form.jsx
  packages/cashier/src/Components/Receipt/account-transfer-receipt.jsx
  packages/cashier/src/Components/Receipt/crypto-withdraw-receipt.jsx
  packages/cashier/src/Components/Receipt/payment-agent-receipt.jsx
  packages/cashier/src/Components/Receipt/payment-agent-transfer-receipt.jsx
  packages/cashier/src/Components/cashier-container.jsx
  packages/cashier/src/Components/confirm.jsx
  packages/cashier/src/Components/on-ramp-provider-popup.jsx
  packages/cashier/src/Components/payment-agent-details.jsx
  packages/cashier/src/Components/payment-agent-list.jsx
  packages/cashier/src/Components/percentage-selector/percentage-selector.jsx
  packages/cashier/src/Components/percentage-selector/percentage-selector.scss
  packages/cashier/src/Components/recent-transaction.jsx
  packages/cashier/src/Components/side-note.jsx
  packages/cashier/src/Components/usdt-side-note.jsx
  packages/cashier/src/Containers/cashier.jsx
  packages/cashier/src/Containers/crypto-deposit.jsx
  packages/cashier/src/Sass/account-transfer-form.scss
  packages/cashier/src/Sass/account-transfer-no-account.scss
  packages/cashier/src/Sass/account-transfer-receipt.scss
  packages/cashier/src/Sass/cashier-container.scss
  packages/cashier/src/Sass/cashier-default.scss
  packages/cashier/src/Sass/cashier.scss
  packages/cashier/src/Sass/confirm.scss
  packages/cashier/src/Sass/crypto-deposit.scss
  packages/cashier/src/Sass/crypto-fiat-converter.scss
  packages/cashier/src/Sass/crypto-transactions-history.scss
  packages/cashier/src/Sass/crypto-withdraw-form.scss
  packages/cashier/src/Sass/crypto-withdraw-receipt.scss
  packages/cashier/src/Sass/email-sent.scss
  packages/cashier/src/Sass/error.scss
  packages/cashier/src/Sass/funds-protection.scss
  packages/cashier/src/Sass/max-turnover.scss
  packages/cashier/src/Sass/on-ramp.scss
  packages/cashier/src/Sass/payment-agent-details.scss
  packages/cashier/src/Sass/payment-agent-list.scss
  packages/cashier/src/Sass/payment-agent-receipt.scss
  packages/cashier/src/Sass/payment-agent-transfer-form.scss
  packages/cashier/src/Sass/payment-agent-transfer-receipt.scss
  packages/cashier/src/Sass/payment-agent-withdraw-form.scss
  packages/cashier/src/Sass/recent-transaction.scss
  packages/cashier/src/Sass/send-email.scss
  packages/cashier/src/Sass/side-note.scss
  packages/cashier/src/Sass/usdt-side-note.scss
  packages/cashier/src/Sass/virtual.scss
  packages/cashier/src/Sass/withdraw.scss
Labels: Bot, Docs, Account

#4262 George/fixed transfer page visibility MLT
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/dashboard-platform-header.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
Labels: Core

#4270 Mikita / refactoring Drawer component
  packages/components/src/components/drawer/drawer.jsx
Labels: Components

#4321 farrah/datatable_functional_component_conversion
  packages/components/src/components/data-table/data-table.jsx
  packages/components/src/components/data-table/table-row-info.jsx
  packages/components/src/components/data-table/table-row.jsx
Labels: Components

#4362 Mitra/Bug: adding full stop for smartTrader platform in header
  packages/core/src/App/Constants/platform-config.js
Labels: Core

#4374 Maryia/Converted CFDResetPasswordModal class component to FC
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-reset-password-modal.jsx
Labels: Trader, Core

#4395 Revert "Mikita / refactoring Drawer component"
  packages/components/src/components/drawer/drawer.jsx
Labels: Components

#4396 Matin/Chore: Remove console logs
  packages/core/src/App/app.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Core

#4376 MaryiaF/fix: error TrackJS 'Cannot read property '0' of undefined'
  packages/dashboard/src/components/pages/platforms/components/get-section/get-section.tsx
Labels: Dashboard

#4402 Revert "MaryiaF/fix: error TrackJS 'Cannot read property '0' of undefined'"
  packages/dashboard/src/components/pages/platforms/components/get-section/get-section.tsx
Labels: Dashboard

#4393 farrah/fix_maybe_later_button_redirection_upon_account_creation
  packages/cashier/src/Components/CashierDefault/cashier-default-side-note.jsx
  packages/core/src/App/Containers/RealAccountSignup/finished-set-currency.jsx
Labels: Core

#4317 Bala/fix gh-pages folder build
  packages/account/package.json
  packages/bot-web-ui/package.json
  packages/cashier/package.json
Labels: Bot, Account

#4412 Revert "Bala/fix gh-pages folder build"
  packages/account/package.json
  packages/bot-web-ui/package.json
  packages/cashier/package.json
Labels: Bot, Account

#4414 Bala/fix gh-pages folder build
  packages/account/package.json
  packages/bot-web-ui/package.json
  packages/cashier/package.json
Labels: Bot, Account

#4416 Revert "yashim/fix: tooltip ref & idv submit layout"
  packages/account/src/Components/poi-idv-document-submit/poi-idv-document-submit.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Styles/account.scss
  packages/components/package.json
  packages/components/src/components/popover/popover.jsx
  packages/core/package.json
Labels: Core, Components, Account

#4383 Hubert / Changing text for modal and popup UK
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/core/src/App/Containers/CloseMxMltAccountModal/close-mx-mlt-account-modal.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Core, Components

#4406 yashim/fix: query strings not passed during passthrough login
  packages/core/src/Stores/client-store.js
Labels: Core

#4343 yashim/fix: idv layout for mt5 real account sign up
  packages/account/src/Components/poi-idv-document-submit/poi-idv-document-submit.jsx
  packages/account/src/Components/poi-idv-document-submit/utils.js
  packages/account/src/Styles/account.scss
  packages/trader/src/sass/app/modules/mt5/cfd-dashboard.scss
Labels: Trader, Account

#3791 Bala/dxtrade trading servers
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/AccountSwitcher/helpers/account-helper.js
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/socket_base.js
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.jsx
  packages/trader/src/Stores/Modules/CFD/cfd-store.js
Labels: Trader, Core, Account

#4377 Mahdiyeh/Fix: allow equals overlap
  packages/components/src/components/input-field/input-field.scss
Labels: Components, Account

#4386 Fix: Infinite load for Belgium and Isle of man IP addresses while logout
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#4430 Amina/Inconsistency on leverage value on vpn change
  packages/trader/src/Modules/CFD/Components/cfd-demo-account-display.jsx
Labels: Trader

#4394 Maryia/Fix:Avoided a console error when account_status is undefined
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Core

#4384 Mitra/ fix: change financial to CFDs and account information details for mt5 eu
  packages/trader/src/Modules/CFD/Containers/compare-accounts-modal.jsx
Labels: Trader

#4315 Mahdiyeh/Improvement: convert range-slider class component to functional
  packages/trader/src/App/Components/Form/RangeSlider/__tests__/range-slider.spec.js
  packages/trader/src/App/Components/Form/RangeSlider/__tests__/tick-steps.spec.js
  packages/trader/src/App/Components/Form/RangeSlider/range-slider.jsx
  packages/trader/src/App/Components/Form/RangeSlider/tick-steps.jsx
Labels: Trader

#4442 Mehrzad / fix issue poi-idv-document
  packages/account/src/Components/poi-idv-document-submit/poi-idv-document-submit.jsx
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/trader/src/App/Components/Form/RangeSlider/__tests__/range-slider.spec.js
  packages/trader/src/App/Components/Form/RangeSlider/__tests__/tick-steps.spec.js
  packages/trader/src/App/Components/Form/RangeSlider/range-slider.jsx
Labels: Trader, Account

#4445 Bala/Fix MT5 region
  packages/trader/src/Stores/Modules/CFD/cfd-store.js
Labels: Trader, Components

#4454 Maryia/Fix to show correct notifications at once without flickering
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Core

#4378 Ako/ add professional client to personal details
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/checkbox/checkbox.jsx
  packages/components/src/components/checkbox/checkbox.scss
  packages/shared/src/styles/themes.scss
Labels: Shared, Components, Account

#4422 Nikita/Token name and create buttons should follow the design
  packages/account/src/Components/api-token/api-token.jsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/input/input.scss
Labels: Components, Account

#4323 Mohammad/ Fix the broken withdrawal page on Safari both mobile and desktop
  packages/cashier/src/Components/Form/crypto-withdraw-form.jsx
  packages/cashier/src/Sass/crypto-withdraw-form.scss
Labels: Components

#4356 George/convert 'sub menu section' class component to functional component
  packages/components/src/components/mobile-drawer/mobile-drawer-submenu-section.jsx
Labels: Components

#4344 Mahdiyeh/Improvement: convert ResultMobile class component to functional
  packages/trader/src/App/Components/Elements/PositionsDrawer/__tests__/result-mobile.spec.js
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/result-mobile.jsx
Labels: Trader

#4342 Mahdiyeh/Improvement: convert positionDrawer class component to functional
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
Labels: Trader

#4357 Artsem / convert mobile-drawer-submenu from class to func
  packages/components/src/components/mobile-drawer/mobile-drawer-submenu.jsx
Labels: Components

#4375 Mahdiyeh/Improvement: convert IndicativeCell class component to functional component
  packages/trader/src/Modules/Reports/Components/indicative-cell.jsx
Labels: Trader

#4373 artsem / convert ProofOfIdentityForm from class to func
  packages/core/src/App/Containers/RealAccountSignup/proof-of-identity.jsx
Labels: Core

#4404 "MaryiaF/fix: error TrackJS 'Cannot read property '0' of undefined'""
  packages/dashboard/src/components/pages/platforms/components/get-section/get-section.tsx
Labels: Dashboard

#4480 bahar/payment_problems_pop_up_doesnt_shown_upon_login
  packages/cashier/src/Containers/cashier.jsx
  packages/cashier/src/Stores/general-store.js
  packages/components/src/components/mobile-drawer/mobile-drawer-submenu-section.jsx
  packages/core/src/App/app.jsx
Labels: Core, Components

#4293 Artsem/ FormProgress convert from class to func
  packages/components/src/components/form-progress/form-progress.jsx
Labels: Components

#4390 farrah/convert_transition_blocker_to_functional_component
  packages/account/src/Components/leave-confirm/leave-confirm.jsx
Labels: Account

#4398 NikitaK/Bug: fix transfer limit in account-transfer-form.jsxFix cashier transfer limit
  packages/cashier/src/Stores/account-transfer-store.js
Labels: Components

#4425 NikitaK/Bug Positioning of the Complain link(#50670)
  packages/p2p/src/components/order-details/order-details.scss
Labels: P2P

#4264 Hubert / Refactoring purchase-fieldset component
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.jsx
Labels: Trader

#4389 Mahdiyeh/Improvement: convert CFDFinancialStpRealAccountSignup class component to function
  packages/trader/src/Modules/CFD/Containers/cfd-financial-stp-real-account-signup.jsx
Labels: Trader

#4452 Hojjat|Mahdiyeh/ Improvement: connected apps
  packages/account/src/Sections/Security/ConnectedApps/__tests__/connected-apps.spec.js
  packages/account/src/Sections/Security/ConnectedApps/connected-apps.jsx
  packages/components/jest.config.js
  packages/components/package.json
  packages/components/src/components/modal/__tests__/modal.spec.js
  packages/components/src/components/modal/modal.jsx
Labels: Components, Account

#4448 Mahdiyeh/ Improvement: convert ContractTypeWidget class component to functional
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-widget.spec.js
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
Labels: Trader

#4426 farrah/convert_financial_assessment_to_functional_component
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
Labels: Account

#4446 Artsem / convert Test.jsx component from class to func
  packages/trader/src/Modules/Trading/Containers/test.jsx
Labels: Trader

#4163 Artsem / remove redundant ws requests
  packages/cashier/src/Stores/deposit-store.js
  packages/cashier/src/Stores/transaction-history-store.js
Labels: Bot, Account

#4372 george/esc key is not working for pop up error on cashier page
  packages/cashier/src/Components/Error/form-error.jsx
  packages/cashier/src/Components/error-dialog.jsx
  packages/components/src/components/dialog/dialog.jsx
Labels: Components

#4295 bahar/safari_issue_when_logging_out_from_cashier_and_account
  packages/components/src/components/input-field/input-field.scss
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core, Components

#4359 Ako/ add git branch to version meta tag
  packages/core/build/config.js
  packages/core/package.json
Labels: Core

#4516 Artsem / black screen appearing hotfix
  packages/trader/src/Modules/Trading/Containers/test.jsx
Labels: Trader

#4522 Revert "Hubert / Refactoring purchase-fieldset component"
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.jsx
Labels: Trader
