Repository deriv-com/deriv-app, pull requests merged in 2021-10, with the labels that each got.

#3824 Ako/ update label of maximum open position in self exclusion
  packages/account/src/Components/self-exclusion/self-exclusion-inputs.jsx
Labels: Account

#4055 Prod: Prince/Updated Synthetic Accounts to Gaming Accounts
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#4057 Prod: Prince/Added Deriv Gaming
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
Labels: Core

#3374 mustofa/yashim/feat: idv smile identity
  packages/account/build/webpack.config.js
  packages/account/package-lock.json
  packages/account/package.json
  packages/account/src/Assets/ic-document-submit-icon.svg
  packages/account/src/Assets/ic-idv-document-pending.svg
  packages/account/src/Assets/ic-idv-document-rejected.svg
  packages/account/src/Assets/ic-idv-verified.svg
  packages/account/src/Assets/ic-poi-back-btn.svg
  packages/account/src/Components/icon-message-content/icon-message-content.jsx
  packages/account/src/Components/icon-message-list/icon-message-list.jsx
  packages/account/src/Components/poa-button/poa-button.jsx
  packages/account/src/Components/poi-country-selector/index.js
  packages/account/src/Components/poi-country-selector/poi-country-selector.jsx
  packages/account/src/Components/poi-expired/expired.jsx
  packages/account/src/Components/poi-idv-document-submit/index.js
  packages/account/src/Components/poi-idv-document-submit/poi-idv-document-submit.jsx
  packages/account/src/Components/poi-idv-document-submit/utils.js
  packages/account/src/Components/poi-idv-expired/index.js
  packages/account/src/Components/poi-idv-expired/poi-idv-expired.jsx
  packages/account/src/Components/poi-idv-limited/index.js
  packages/account/src/Components/poi-idv-limited/poi-idv-limited.jsx
  packages/account/src/Components/poi-idv-rejected/index.js
  packages/account/src/Components/poi-idv-rejected/poi-idv-rejected.jsx
  packages/account/src/Components/poi-idv-submit-complete/index.js
  packages/account/src/Components/poi-idv-submit-complete/poi-idv-submit-complete.jsx
  packages/account/src/Components/poi-idv-verified/index.js
  packages/account/src/Components/poi-idv-verified/poi-idv-verified.jsx
  packages/account/src/Components/poi-missing-personal-details/missing-personal-details.jsx
  packages/account/src/Components/poi-rejected-reasons/poi-rejected-reasons.jsx
  packages/account/src/Components/poi-upload-complete/upload-complete.jsx
  packages/account/src/Components/poi-verified/verified.jsx
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfIdentity/idv.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-utils.js
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.js
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/icon/common/ic-poi-failed.svg
  packages/components/src/components/input/input.jsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/select-native/select-native.jsx
  packages/core/src/App/Containers/RealAccountSignup/proof-of-identity.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/public/images/common/static_images/ke_alien_card.png
  packages/core/src/public/images/common/static_images/ke_national_identity_card.png
  packages/core/src/public/images/common/static_images/ke_passport.png
  packages/core/src/public/images/common/static_images/ng_drivers_license.png
  packages/core/src/public/images/common/static_images/ng_nin_slip.png
  packages/core/src/public/images/common/static_images/ng_voter_id.png
  packages/core/src/public/images/common/static_images/za_national_identity_card.png
  packages/shared/src/styles/themes.scss
  packages/shared/src/utils/string/string_util.js
  packages/trader/src/Modules/CFD/Components/cfd-poi.jsx
  packages/trader/src/sass/app/modules/mt5/cfd-dashboard.scss
Labels: Core, Shared, Account

#4068 carol/ Hotfix: POI redirect to P2P
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Labels: Account

#4072 yashim/fix: add token fetching retry
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.jsx
Labels: Account

#4064 Prince/ Update synthetic accounts and account switcher
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#4082 Hotfix:Prince/ Keep real synthetic account label for EU
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#4092 Hubert / HOTFIX change account label from synthetic/options to gaming for UK-MX clients.
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Components/Layout/Header/account-info.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-message.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealityCheckModal/brief-modal.jsx
  packages/core/src/App/Containers/RealityCheckModal/reality-check-modal.jsx
Labels: Core

#4091 Hubert / HOTFIX changing title dmt5 back to what it is on production
  packages/trader/src/Modules/CFD/Constants/cfd-shared-strings.js
Labels: Trader

#4118 Amina/double_close_button_on_toastbox
  packages/core/src/public/images/common/static_images/derivgo_banner.png
  packages/core/src/sass/app/_common/components/notification-promo.scss
Labels: Core

#4117 bahar/deposit_now_button_does_not_redirect_to_cashier_onboarding
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/menu-store.js
Labels: Core

#4164 Revert "Nijil/DBot - Add Multipliers"
  packages/bot-skeleton/src/constants/config.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/index.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/multiplier_stop_loss.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/multiplier_take_profit.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_multiplier.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartonerror.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
  packages/bot-skeleton/src/scratch/hooks/contextmenu.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-skeleton/src/services/api/contracts-for.js
  packages/bot-skeleton/src/services/tradeEngine/trade/OpenContract.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/summary/summary-card.jsx
  packages/bot-web-ui/src/components/summary/summary-card.scss
  packages/bot-web-ui/src/components/summary/summary.jsx
  packages/bot-web-ui/src/components/toolbar/toolbar.jsx
  packages/bot-web-ui/src/components/toolbox/toolbox-items.jsx
  packages/bot-web-ui/src/components/transactions/transaction.jsx
  packages/bot-web-ui/src/constants/contract.js
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/quick-strategy-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/summary-card-store.js
  packages/bot-web-ui/src/stores/transactions-store.js
  packages/bot-web-ui/src/utils/multiplier.js
  packages/bot-web-ui/src/utils/validator/errors.js
  packages/bot-web-ui/src/utils/validator/index.js
  packages/bot-web-ui/src/utils/validator/validator.js
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-dialog.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-footer.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-item.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-sell.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-type-cell.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-update-form.jsx
  packages/components/src/components/contract-card/contract-card-items/sass/contract-card-dialog.scss
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.jsx
  packages/components/src/components/contract-card/contract-card.jsx
  packages/components/src/components/dialog/dialog.jsx
Labels: Bot
