Repository deriv-com/deriv-app, pull requests merged in 2021-11, with the labels that each got.

#4210 Matin/Fix: Update active tab index
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
Labels: Trader

#4211 Ako/ RTL and Jest improvements
  jest.config.base.js
  jest.config.js
  package-lock.json
  package.json
  packages/account/jest.config.js
  packages/bot-web-ui/package.json
  packages/core/jest.config.js
  packages/dashboard/jest.config.js
  packages/dashboard/package.json
  packages/indicators/jest.config.js
  packages/indicators/package.json
  packages/p2p/package.json
  packages/shared/jest.config.js
  packages/shared/package.json
  packages/trader/jest.config.js
  setupTests.js
Labels: Trader, Core, Bot, Shared, Components, P2P, Account, Dashboard

#4187 Ali / Removing playwright setup on lerna bootstrap
  e2e_tests/README.md
  package.json
Labels: Docs

#4206 Mikita / fixed fontSize issues in Text comp-t
  packages/components/src/components/text/text.jsx
Labels: Components

#4173 hirad/Onfido personal detail text
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.jsx
Labels: Account

#4158 MaryiaF/fix: indenting of currency note on web and on mobile versions
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.scss
  packages/core/src/sass/add-or-manage.scss
Labels: Core

#4130 Move the poi message
  packages/account/src/Components/poi-idv-document-submit/poi-idv-document-submit.jsx
  packages/account/src/Styles/account.scss
Labels: Core, Account

#4022 Amina/name_field_validation_on_personal_details_config
  packages/account/src/Configs/personal-details-config.js
Labels: Account

#3829 Hubert / Implementing warning for wrong TIN input on personal details page
  packages/account/src/Components/form-sub-header/form-sub-header.jsx
  packages/account/src/Configs/personal-details-config.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Styles/account.scss
Labels: Core, Bot, Account

#3958 Sara / Added SLTP to trade again
  packages/bot-skeleton/src/scratch/blocks/Binary/After Purchase/trade_again.js
  packages/bot-skeleton/src/scratch/xml/main.xml
  packages/bot-skeleton/src/services/tradeEngine/Interface/MiscInterface.js
  packages/bot-skeleton/src/services/tradeEngine/Interface/index.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/tools-test/Misc.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Total.js
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/toolbox/toolbox-items.jsx
  packages/bot-web-ui/src/stores/quick-strategy-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/transactions-store.js
  packages/bot-web-ui/src/xml/dalembert.xml
  packages/bot-web-ui/src/xml/martingale.xml
  packages/bot-web-ui/src/xml/oscars_grind.xml
Labels: Core, Bot, Components, Account, Dashboard

#4183 Bala/make sell expired request
  packages/trader/src/Stores/Modules/Contract/contract-store.js
Labels: Trader

#4237 carol/ P2P: Remove deactivating in status
  packages/p2p/src/components/my-ads/ad-status.jsx
  packages/p2p/src/components/my-ads/ad-status.scss
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
Labels: P2P

#4214 carol/P2P: Add dispute disclaimer message
  packages/p2p/src/components/orders/chat/chat-footer.jsx
  packages/p2p/src/components/orders/chat/chat-footer.scss
Labels: P2P

#4184 farrah/fix withdrawal message if client reached 10k limit
  packages/cashier/src/Components/Error/withdrawal-locked.jsx
  packages/cashier/src/Sass/cashier.scss
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Core

#4041 Henadzi/fix: add check in case event === null
  packages/bot-skeleton/src/scratch/hooks/flyout_base.js
Labels: Bot

#3690 nikolai/remove dbot from platform switcher for france
  packages/bot-web-ui/src/app/app.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/utility.js
Labels: Core, Bot

#4079 nikolai/add binarybot to platform switcher
  packages/core/src/App/Constants/platform-config.js
Labels: Core

#4076 yashim/hotfix: idv text fix
  packages/account/src/Components/poa-button/poa-button.jsx
  packages/account/src/Components/poi-idv-submit-complete/poi-idv-submit-complete.jsx
  packages/account/src/Components/poi-idv-verified/poi-idv-verified.jsx
Labels: Account

#4107 Mahdiyeh/Fix: change metatrader5 to dmt5
  packages/core/src/App/Constants/platform-config.js
  packages/core/src/App/Containers/WelcomeModal/welcome-modal-2.jsx
Labels: Core

#4046 Bala/ broadcast on switch to new account
  packages/core/src/Stores/client-store.js
Labels: Core

#4065 Akmal / Fix tbody structure
  packages/account/src/Components/account-limits/account-limits.jsx
Labels: Account

#4040 Artsem / Crypto service down error message improvement
  packages/cashier/src/Containers/crypto-deposit.jsx
  packages/cashier/src/Sass/deposit.scss
Labels: Components

#3947 George/aligned error message on MyProfile tab on dp2p
  packages/p2p/src/components/buy-sell/buy-sell-header.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header.scss
  packages/p2p/src/components/my-profile/my-profile.jsx
Labels: P2P

#3922 Mahdi / redirect logged out users to the login page when they click on the investor password reset link
  packages/trader/src/Modules/CFD/Containers/cfd-reset-password-modal.jsx
Labels: Trader

#4027 MaryiaF/feat: add padding for chart container as per the design on responsive
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Labels: Trader

#4084 Maryia/Memoizing the marker components data
  packages/trader/src/Modules/SmartChart/Components/Markers/marker.jsx
Labels: Trader

#3942 Hubert / Restricting Jersey postcode with UK residence.
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Core, Bot, Account

#4256 Revert "Sara / Added SLTP to trade again (#3958)"
  packages/bot-skeleton/src/scratch/blocks/Binary/After Purchase/trade_again.js
  packages/bot-skeleton/src/scratch/xml/main.xml
  packages/bot-skeleton/src/services/tradeEngine/Interface/MiscInterface.js
  packages/bot-skeleton/src/services/tradeEngine/Interface/index.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/tools-test/Misc.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Total.js
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/toolbox/toolbox-items.jsx
  packages/bot-web-ui/src/stores/quick-strategy-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/transactions-store.js
  packages/bot-web-ui/src/xml/dalembert.xml
  packages/bot-web-ui/src/xml/martingale.xml
  packages/bot-web-ui/src/xml/oscars_grind.xml
Labels: Bot

#4255 Revert "Sara / Added SLTP to trade again (#3958)"
  packages/bot-skeleton/src/scratch/blocks/Binary/After Purchase/trade_again.js
  packages/bot-skeleton/src/scratch/xml/main.xml
  packages/bot-skeleton/src/services/tradeEngine/Interface/MiscInterface.js
  packages/bot-skeleton/src/services/tradeEngine/Interface/index.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/tools-test/Misc.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Total.js
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/toolbox/toolbox-items.jsx
  packages/bot-web-ui/src/stores/quick-strategy-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/transactions-store.js
  packages/bot-web-ui/src/xml/dalembert.xml
  packages/bot-web-ui/src/xml/martingale.xml
  packages/bot-web-ui/src/xml/oscars_grind.xml
Labels: Bot

#4077 Akmal / Fix unwanted authentication redirect on mobile fa
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
Labels: Account

#4267 nikolai/remove BinaryBot, Dbot, SmartTrader from platform switcher for multip…
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/utility.js
Labels: Core, Bot

#4039 hojjat / extend device size for unsupported devices on landscape
  packages/core/src/App/app.jsx
  packages/shared/src/utils/screen/responsive.js
Labels: Core, Shared

#4073 MaryiaF/fix: display tooltip hover on top of the red dot, no flicker …
  packages/components/src/components/calendar/calendar.scss
  packages/components/src/components/calendar/views/calendar-days.jsx
  packages/components/src/components/popover/popover.jsx
  packages/components/src/components/popover/popover.scss
Labels: Components

#4038 Artsem / Crypto withdraw pop up close and retry buttons fix
  packages/cashier/src/Components/error-dialog.jsx
Labels: Components

#3874 yashim/fix + feat: hide header for mobile platforms + active/default routes
  packages/account/src/Components/Routes/route-with-sub-routes.jsx
  packages/account/src/Containers/account.jsx
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/cashier/src/Containers/cashier.jsx
  packages/components/src/components/page-overlay/page-overlay.jsx
  packages/components/src/components/vertical-tab/vertical-tab.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/app.js
  packages/core/src/Stores/common-store.js
  packages/core/src/sass/app/_common/layout/header.scss
  packages/shared/src/utils/config/platform-config.js
  packages/shared/src/utils/route/route.js
Labels: Core, Shared, Components, Account

#4269 yashim/fix: checks in poa
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address.jsx
Labels: Account

#4058 Mahdi / Fixed LastPass autofill validation bug on password form
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.jsx
Labels: Trader

#4069 hojjat/make popover more dominant layer in z axis
  packages/components/src/components/popover/popover.jsx
  packages/core/src/App/Components/Elements/LiveChat/live-chat.jsx
  packages/core/src/App/Components/Layout/Footer/account-limits.jsx
  packages/core/src/App/Components/Layout/Footer/go-to-deriv.jsx
  packages/core/src/App/Components/Layout/Footer/help-centre.jsx
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
  packages/core/src/App/Components/Layout/Footer/responsible-trading.jsx
  packages/core/src/App/Components/Layout/Footer/toggle-fullscreen.jsx
  packages/core/src/App/Components/Layout/Footer/toggle-settings.jsx
  packages/core/src/App/Containers/server-time.jsx
Labels: Core, Components

#4043 hojjat/hide purchase popover error when market is closed
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.jsx
  packages/trader/src/Modules/Trading/Components/Form/TimePicker/trading-time-picker.jsx
  packages/trader/src/Modules/Trading/Components/Form/screen-large.jsx
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
Labels: Trader

#4020 Mahdiyeh/ fix: undefined or null object error
  packages/account/src/Components/self-exclusion/self-exclusion.jsx
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Account

#4168 MaryiaF/fix: appear notification "Install the DTrader web app" on the screen on the mobile version
  packages/core/src/App/Containers/app-notification-messages.jsx
Labels: Core

#4056 Mahdi / Fixed demo/real redirection on MT5 password change
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-password-manager-modal.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.jsx
  packages/trader/src/Modules/CFD/Containers/trading-password-manager.jsx
Labels: Trader, Core

#4215 Mahdi / Hiding DerivX for EU logged out users
  packages/core/src/Stores/client-store.js
  packages/trader/src/Modules/CFD/Components/cfd-demo-account-display.jsx
  packages/trader/src/Modules/CFD/Components/cfd-real-account-display.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
Labels: Trader, Core

#4213 Mahdi / Fixed empty notification box for MF clients
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Core

#4310 yashim/fix: add fallback if account_status is undefined
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Core

#4322 Mamali/Fixes for MLT account closure
  packages/components/src/components/page-error/page-error.jsx
  packages/components/src/components/page-error/page-error.scss
  packages/core/src/App/Components/Elements/Errors/error-component.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification-close-mx-mlt.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Containers/CloseMXAccountModal/close-mx-account-modal.jsx
  packages/core/src/App/Containers/CloseMXAccountModal/index.js
  packages/core/src/App/Containers/CloseMxMltAccountModal/close-mx-mlt-account-modal.jsx
  packages/core/src/App/Containers/CloseMxMltAccountModal/close-mx-mlt-account-modal.scss
  packages/core/src/App/Containers/CloseMxMltAccountModal/index.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/components/notification-close-mx-mlt.scss
  packages/trader/src/Stores/Modules/Trading/Helpers/active-symbols.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Core, Components

#4234 Ako/ add proposal-private-method to silence the loose mode error
  babel.config.json
  packages/cashier/babel.config.json
  packages/core/babel.config.json
  packages/dashboard/babel.config.json
Labels: Core, Dashboard

#4274 yashim/feat: add Brazil to idv document list
  packages/account/src/Components/poi-idv-document-submit/poi-idv-document-submit.jsx
  packages/account/src/Components/poi-idv-document-submit/utils.js
Labels: Account

#4303 Fix Account label
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Components/Layout/Header/account-info.jsx
Labels: Core

#4171 yashim/chore: remove @deriv/web-push-notifications & add official one
  docs/Dependencies/README.md
  packages/core/package.json
  packages/core/src/Stores/pushwoosh-store.js
Labels: Core, Docs

#3851 Mikita / removed PA disalbe logic
  packages/cashier/src/Stores/Cashier/cashier-store.js
Labels: Core

#4232 farrah/fix_crypto_service_error_background_color
  packages/cashier/src/Sass/deposit.scss
Labels: Shared

#4268 George/convert PlatformDropdown to func component
  packages/core/src/App/Components/Layout/Header/__tests__/platform-dropdown.spec.js
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
Labels: Core

#4191 Maryia/Fix for fetching relevant trading_times on DTrader reload
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#4339 Bala/downgrade sendbird version
  packages/p2p/package.json
Labels: P2P

#4018 George/ replaced the link with a text
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Labels: Core, Account

#4016 carol/ P2P: Show real name feature
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/utils/date-time.js
  packages/p2p/src/utils/orders.js
Labels: P2P

#3837 carol/ P2P: Freeze chat
  packages/p2p/src/components/orders/chat/chat-footer.jsx
  packages/p2p/src/components/orders/chat/chat-footer.scss
  packages/p2p/src/components/orders/chat/chat.jsx
  packages/p2p/src/stores/sendbird-store.js
Labels: P2P

#3512 carol/ DP2P: Rename DP2P to Deriv P2P
  packages/cashier/src/Config/cashier-default-providers.js
  packages/cashier/src/Constants/routes-config.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header.jsx
  packages/p2p/src/components/dp2p-blocked/dp2p-blocked.jsx
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/my-profile/my-profile-balance/my-profile-balance.jsx
  packages/p2p/src/components/order-details/order-details-cancel-modal.jsx
  packages/p2p/src/components/verification/download.jsx
  packages/p2p/src/components/verification/download.scss
  packages/p2p/src/components/verification/verification.jsx
  packages/shared/src/utils/config/platform-config.js
Labels: Core, Shared, P2P

#3551 nikolai/remove jd filtering
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_market.js
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.jsx
Labels: Bot

#4271 yashim/fix: POA button behaviour for virtual accounts
  packages/account/src/Components/icon-with-message/icon-with-message.jsx
Labels: Account

#4337 carol/P2P: Add rate and range error messages
  packages/p2p/src/components/my-ads/create-ad-error-modal.jsx
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#4294 yashim/feat: allow age_verified to show poi status without allow_document_upload flag
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Labels: Account

#4258 Hubert / Upgrading POA page
  packages/account/src/Components/file-uploader-container/file-uploader-container.jsx
  packages/account/src/Components/file-uploader-container/file-uploader.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/icon/common/ic-image.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components, Account

#4272 Mahdiyeh/ Improvement:convert ContractTypeMenu class component to functional component
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/contract-type-menu.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-item.spec.js
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-menu.spec.js
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-display.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-list.jsx
Labels: Trader

#4325 george/convert PlatformSwitcher to functional component, added tests
  packages/core/src/App/Components/Layout/Header/__tests__/platform-switcher.spec.js
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
Labels: Core

#4292 Hubert / Removing options from onboarding modal for EU accounts
  packages/core/src/App/Containers/WelcomeModal/welcome-modal-1.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome.jsx
  packages/core/src/Stores/client-store.js
Labels: Core
