Repository deriv-com/deriv-app, pull requests merged in 2021-08, with the labels that each got.

#3682 Hojjat / chores: remove datadog script
  e2e_tests/src/objects/common.js
  packages/core/src/index.html
Labels: Core

#3628 Sara | Hojjat / Update readme
  README.md
  docs/Dependencies/README.md
  docs/JavaScript/README.md
  docs/Modules/README.md
  docs/Stylesheet/README.md
  e2e_tests/README.md
  packages/bot-skeleton/README.md
  packages/bot-web-ui/README.md
  packages/cashier/package.json
  packages/components/README.md
  packages/core/README.md
  packages/core/docs/Modules/README.md
  packages/core/docs/README.md
  packages/dashboard/README.md
  packages/indicators/README.md
  packages/p2p/README.md
  packages/p2p/docs/Modules/README.md
  packages/p2p/docs/README.md
  packages/publisher/README.md
  packages/shared/README.md
  packages/shared/docs/Modules/README.md
  packages/shared/docs/README.md
  packages/trader/README.md
  packages/trader/docs/README.md
  packages/translations/README.md
  packages/translations/docs/Modules/README.md
  packages/translations/docs/README.md
Labels: Bot, Components, Core, Dashboard, Docs, P2P, Shared, Trader, Translations

#3672 Hubert / Removing dmt5 add financial account button if user already has one.
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/AccountSwitcher/helpers/account-helper.js
Labels: Core

#3645 Maryia/Changed side note width to fix alignment
  packages/components/src/components/vertical-tab/vertical-tab.scss
Labels: Components

#3678 Akmal / Fix deactivateAccount state update after fields cleared
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
Labels: Account

#3687 carol/ P2P: Remove limit on advertiser page ads
  packages/p2p/src/stores/advertiser-page-store.js
Labels: P2P

#3652 Maryia/Updated the timeout of success state change for submit button
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Account

#3689 Maryia/Removed transition effect from an active step of adding a real money account
  packages/components/src/components/form-progress/form-progress.scss
Labels: Components

#3646 Akmal / Update currency symbols according to latest unicode table
  packages/trader/src/Modules/SmartChart/Components/all-markers.jsx
Labels: Trader

#3702 translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/it.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3704 Maryia/Changed side note width to fix alignment in cashier
  packages/cashier/src/Sass/cashier.scss
  packages/components/src/components/vertical-tab/vertical-tab.scss
Labels: Components

#3724 Kseniya/Recent Transactions component - Crypto cashier
  packages/cashier/src/Components/recent-transaction.jsx
  packages/cashier/src/Constants/transaction-status.js
  packages/cashier/src/Sass/recent-transaction.scss
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/cashier/src/Stores/Cashier/transaction-history-store.js
  packages/core/src/_common/base/socket_base.js
Labels: Core

#3728 farrah/responsive crypto-fiat converter
  packages/cashier/src/Components/Form/crypto-fiat-converter.jsx
  packages/cashier/src/Sass/cashier.scss
  packages/components/src/components/icon/common/ic-arrow-down-bold.svg
  packages/components/src/components/icon/common/ic-arrow-up-bold.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components

#3732 Hojjat/change sonar badges urls
  README.md
Labels: Docs

#3716 amam/fix typo assetlinks.json
  packages/core/build/config.js
Labels: Core

#3718 Mahdiyeh/Fix: reapearing submit button before appearing of green tick
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
Labels: Account

#3675 Hojjat / update web-push-notifications package
  packages/core/package-lock.json
  packages/core/package.json
Labels: Core

#3686 Maryia/Enabled viewing the submitted FA in real money accounts
  packages/account/src/Containers/account.jsx
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/dashboard-platform-header.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/Modules/Dashboard/dashboard.jsx
  packages/core/src/Stores/client-store.js
  packages/dashboard/src/components/elements/account-wizard/account-wizard.tsx
  packages/dashboard/src/components/elements/account-wizard/types.ts
  packages/dashboard/src/stores/client-store.ts
  packages/dashboard/src/types/props.types.ts
  packages/dashboard/src/types/stores.types.ts
Labels: Core, Account, Dashboard

#3713 Maryia/Showing any disabled accounts regardless of currency in account switcher
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
Labels: Core

#3673 Akmal / Remove required sign from postal label
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/trader/src/Modules/CFD/Components/cfd-poa.jsx
Labels: Trader, Account

#3703 Hojjat/add passthrough authentication redirect
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#3684 Prince/ Error when market is closed and checking open position for PT language
  packages/trader/src/App/Components/Elements/market-countdown-timer.jsx
Labels: Trader

#3710 Maryia/Trimming string values entered in form
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Labels: Core

#3453 Bala/Fix change currency condition
  packages/cashier/src/Components/Form/crypto-fiat-converter.jsx
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/components/stories/button-link/button-link.stories.js
  packages/components/stories/shared/styles.scss
  packages/components/stories/text/styles.scss
  packages/core/src/Stores/client-store.js
Labels: Trader, Core, Components

#3680 carol/ Mobile app brand login
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/cashier/src/Containers/p2p-cashier.jsx
  packages/core/src/App/app.jsx
  packages/core/src/Stores/common-store.js
  packages/p2p/src/components/dp2p-blocked/dp2p-blocked-checklist.jsx
  packages/shared/src/utils/config/index.js
  packages/shared/src/utils/config/platform-config.js
Labels: Core, Shared, P2P, Account

#3737 Maryia/Prevented reset of duration in TickPicker after switching from other duration units
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
Labels: Trader

#3729 Mahdiyeh/ Fix: transfer notification when value is less than possible minimum value
  packages/shared/src/utils/validation/declarative-validation-rules.js
Labels: Shared

#3709 yashim/fix: firefox width scrollbar
  packages/components/src/hooks/use-blockscroll.js
Labels: Components

#3712 Bala/fix multipliers contract history update
  packages/trader/src/App/Components/Elements/ContractAudit/contract-audit.jsx
  packages/trader/src/Stores/Modules/Contract/Helpers/limit-orders.js
  packages/trader/src/Stores/Modules/Contract/contract-store.js
Labels: Trader

#3705 Mahdiyeh/ fix: disable closing modal when click on backdrop
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#3723 Akmal / Fix console errors when account gets disabled
  packages/core/src/Stores/client-store.js
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.js
Labels: Trader, Core

#3726 Kseniya/Deposit page - Crypto cashier
  packages/cashier/package.json
  packages/cashier/src/Containers/crypto-deposit.jsx
  packages/cashier/src/Containers/deposit.jsx
  packages/cashier/src/Sass/deposit.scss
  packages/components/src/components/clipboard/clipboard.jsx
  packages/components/src/components/icon/cashier/ic-cashier-clipboard.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components

#3775 Bala/fix demo account specs
  packages/trader/src/Modules/CFD/Components/cfd-demo-account-display.jsx
Labels: Trader

#3781 translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#3784 Bala/show CFD change password when the password is set
  packages/account/src/Sections/Security/Passwords/passwords.jsx
Labels: Account

#3786 Bala/update reset password title
  packages/account/src/Components/reset-trading-password-modal/reset-trading-password-modal.jsx
  packages/account/src/Sections/Security/Passwords/passwords-footer.jsx
Labels: Account

#3787 translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#3794 Bala/Revert derivx real
  packages/account/src/Components/currency-selector/currency-selector.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-steps.jsx
  packages/cashier/src/Components/Error/account-transfer-no-account.jsx
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/change-account-currency.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
Labels: Trader, Core, Account

#3773 Matin/Fix: duration type misinterpretation
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
Labels: Trader

#3798 carol/ Fix hard redirect bug
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
Labels: Account

#3719 Mahdiyeh/ Add close button to reset password modal
  packages/components/src/components/dialog/dialog.jsx
  packages/components/src/components/dialog/dialog.scss
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
Labels: Core, Components

#3630 Revert "Revert "Nijil/DBot - Add multipliers""
  packages/bot-skeleton/src/constants/config.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/index.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/multiplier_stop_loss.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/multiplier_take_profit.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_multiplier.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartonerror.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-skeleton/src/services/api/contracts-for.js
  packages/bot-skeleton/src/services/tradeEngine/trade/OpenContract.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/summary/summary-card.jsx
  packages/bot-web-ui/src/components/summary/summary-card.scss
  packages/bot-web-ui/src/components/summary/summary.jsx
  packages/bot-web-ui/src/components/toolbar/toolbar.jsx
  packages/bot-web-ui/src/components/toolbox/toolbox-items.jsx
  packages/bot-web-ui/src/constants/contract.js
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/quick-strategy-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/summary-card-store.js
  packages/bot-web-ui/src/utils/multiplier.js
  packages/bot-web-ui/src/utils/validator/errors.js
  packages/bot-web-ui/src/utils/validator/index.js
  packages/bot-web-ui/src/utils/validator/validator.js
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-dialog.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-footer.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-item.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-sell.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-type-cell.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-update-form.jsx
  packages/components/src/components/contract-card/contract-card-items/sass/contract-card-dialog.scss
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.jsx
  packages/components/src/components/contract-card/contract-card.jsx
  packages/components/src/components/dialog/dialog.jsx
Labels: Bot, Components

#3783 Akmal / Fix endless loading when a market is closed
  packages/trader/src/App/Components/Elements/market-countdown-timer.jsx
Labels: Trader

#3806 translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#3811 Nijil/DBot - hotfix: Disabling TP/SL inside multiplier block not letting multiplier contract to be purchased.
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_multiplier.js
  packages/bot-skeleton/src/scratch/dbot.js
Labels: Bot

#3692 yashim/feat: hide headers for account + cashier when opened in mobile app
  packages/account/src/Components/Routes/route-with-sub-routes.jsx
  packages/account/src/Containers/account.jsx
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/cashier/src/Containers/cashier.jsx
  packages/components/src/components/page-overlay/page-overlay.jsx
  packages/components/src/components/vertical-tab/vertical-tab.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/app.js
  packages/core/src/Stores/common-store.js
  packages/core/src/sass/app/_common/layout/header.scss
  packages/shared/src/utils/config/platform-config.js
  packages/shared/src/utils/route/route.js
Labels: Trader, Core, Shared, Components, Account

#3822 Hojjat/add more info to log sw register error
  packages/core/src/Utils/pwa/register-service-worker.js
Labels: Core

#3815 Matin/Handle EU synthetics for multipliers trade types
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/underlying/ic-underlying-1HZ200V.svg
  packages/components/src/components/icon/underlying/ic-underlying-1HZ300V.svg
  packages/components/src/components/icon/underlying/ic-underlying-BOOM300N.svg
  packages/components/src/components/icon/underlying/ic-underlying-CRASH300N.svg
  packages/components/src/components/icon/underlying/ic-underlying-JD150.svg
  packages/components/src/components/icon/underlying/ic-underlying-JD200.svg
  packages/components/stories/contract-card/statics/contract.js
  packages/components/stories/icon/icons.js
  packages/core/src/Constants/contract.js
  packages/shared/src/utils/shortcode/shortcode.js
  packages/trader/src/Constants/contract.js
  packages/trader/src/Modules/Reports/Helpers/market-underlying.js
Labels: Trader, Core, Shared, Components

#3789 yashim/chore: upgrade internal pushwoosh version
  packages/core/package-lock.json
  packages/core/package.json
Labels: Core

#3828 Bala/bump up deriv-api and deriv-charts version
  packages/bot-skeleton/package-lock.json
  packages/bot-skeleton/package.json
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/cashier/package-lock.json
  packages/cashier/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#3813 Hojjat/fix reading from undefined
  packages/core/src/App/app.js
Labels: Core

#3804 Hojjat / add optional chaining to read status
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.jsx
Labels: Trader

#3823 Hojjat / fix: set livechat to not empty string
  packages/core/src/App/Components/Elements/LiveChat/live-chat.jsx
Labels: Core

#3668 Bala/Fix active symbols
  packages/bot-web-ui/src/components/chart/chart.jsx
  packages/core/build/webpack.config.js
  packages/core/src/_common/base/socket_cache.js
  packages/trader/src/App/init-store.js
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Core, Bot

#3722 Shayan / fixing see open market for when user choose a close market
  packages/core/src/Stores/client-store.js
  packages/trader/src/App/Components/Elements/market-is-closed-overlay.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Core

#3741 Al-amin/added message on MF account signup flow
  packages/account/src/Components/personal-details/personal-details.jsx
Labels: Account

#3764 Maryia/Fixed deal cancellation status displayed after closing contract
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
  packages/trader/src/Stores/Modules/Contract/Helpers/logic.js
Labels: Trader

#3681 Mehrzad/update google drive api scope
  packages/bot-web-ui/src/stores/google-drive-store.js
Labels: Bot

#3817 daniil/ track.js offsetwidth
  packages/bot-skeleton/src/scratch/dbot.js
Labels: Bot

#3833 Mehrzad / console-error-switch-account
  packages/bot-skeleton/src/scratch/dbot.js
Labels: Bot
