Repository deriv-com/deriv-app, pull requests merged in 2021-02, with the labels that each got.

#2402 Sara / Refactored span on p2p package
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/create-ad-summary.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
Labels: P2P

#2404 Sara / Refactored span with text on bot-web-ui package
  packages/bot-web-ui/src/components/contract-result-overlay/contract-result-overlay.jsx
  packages/bot-web-ui/src/components/contract-result-overlay/contract-result-overlay.scss
  packages/bot-web-ui/src/components/flyout/flyout.jsx
  packages/bot-web-ui/src/components/flyout/flyout.scss
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-help-base.jsx
  packages/bot-web-ui/src/components/journal/journal.jsx
  packages/bot-web-ui/src/components/journal/journal.scss
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.jsx
  packages/bot-web-ui/src/components/transactions/transactions.jsx
  packages/bot-web-ui/src/components/transactions/transactions.scss
Labels: Bot

#2349 Nijil/ DBot - Refactor FlyoutBlock to functional component
  packages/bot-web-ui/src/components/flyout/flyout-block.jsx
Labels: Bot

#2314 mamali/Refactor MobileWidget to Functional Component
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
Labels: Trader

#2341 Nijil/Refactor RunPanel to functional component
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
  packages/components/src/components/drawer/drawer.scss
Labels: Bot, Components

#2262 bahar/Refactoring dbot app jsx
  packages/bot-web-ui/src/app/app.jsx
Labels: Bot

#2321 bahar/refactor-routes-component
  packages/core/src/App/Containers/Routes/routes.jsx
  packages/core/src/Stores/common-store.js
Labels: Core

#2454 suthesh/error-livechat-routing
  packages/core/src/App/Components/Elements/LiveChat/index.js
  packages/core/src/App/Components/Elements/LiveChat/live-chat.js
  packages/core/src/App/Components/Elements/LiveChat/live-chat.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
Labels: Core

#2219 Akmal / Refactor: ExpansionPanel class component to functional
  packages/bot-web-ui/src/components/journal/journal.jsx
  packages/bot-web-ui/src/components/notify-item/notify-item.jsx
  packages/components/src/components/expansion-panel/array-renderer.jsx
  packages/components/src/components/expansion-panel/expansion-panel.jsx
Labels: Bot, Components

#2516 Akmal / Added logout after session duration limit reached
  packages/core/src/Services/socket-general.js
Labels: Core

#2561 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2122 Sara / Replaced paragraph with text on trader package
  packages/cashier/src/Components/Email/send-email.jsx
  packages/cashier/src/Components/Error/no-balance.jsx
  packages/cashier/src/Components/Error/virtual.jsx
  packages/components/src/components/text/text.jsx
  packages/components/src/components/text/text.scss
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar-mobile.jsx
  packages/trader/src/Modules/MT5/Components/mt5-form-submit-button.jsx
  packages/trader/src/Modules/MT5/Components/mt5-pending-verification-modal.jsx
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard-container.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-reset-password-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-top-up-demo-modal.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/marker-spot-label.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/no-results-message.jsx
  packages/trader/src/Modules/Trading/Containers/allow-equals.jsx
  packages/trader/src/sass/app/_common/components/composite-calendar.scss
  packages/trader/src/sass/app/_common/components/contract-type-no-result.scss
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
  packages/trader/src/sass/app/modules/smart-chart.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Components, Core, Shared, Trader

#2346 Nijil/ DBot - Refactor Transactions to functional component
  packages/bot-web-ui/src/components/transactions/transactions.jsx
  packages/bot-web-ui/src/components/transactions/transactions.scss
Labels: Bot

#2562 Shayan / add Text component to market component
  packages/trader/src/Modules/SmartChart/Components/Markers/marker-spot-label.jsx
Labels: Trader

#2556 Mehrzad / update p2p chat button
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/chat/chat-wrapper.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/stores/sendbird-store.js
Labels: P2P

#2343 Kevin/feat - trader-statement add filters
  packages/account/src/Styles/account.scss
  packages/cashier/src/Sass/cashier.scss
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/dropdown/list.scss
  packages/components/src/components/icon/common/ic-filter.svg
  packages/components/src/components/select-native/select-native.jsx
  packages/components/src/components/select-native/select-native.scss
  packages/trader/src/Modules/Reports/Components/account-statistics.jsx
  packages/trader/src/Modules/Reports/Components/filter-component.jsx
  packages/trader/src/Modules/Reports/Components/reports-meta.jsx
  packages/trader/src/Modules/Reports/Containers/profit-table.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/Stores/Modules/Statement/statement-store.js
  packages/trader/src/sass/app.scss
  packages/trader/src/sass/app/_common/components/select.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Account, Components, Trader

#2495 Abdalla/Retrieve: signup_device and date_first_contact from Cookies
  packages/shared/src/utils/login/login.js
Labels: Shared

#2563 update p2p translations
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_tw.json
Labels: P2P

#2546 Fix CSV generation
  packages/bot-web-ui/src/stores/download-store.js
Labels: Bot

#2377 Sara / Refactored paragraph on bot-web-ui package
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-text.jsx
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/save-modal/save-modal.jsx
  packages/bot-web-ui/src/components/save-modal/save-modal.scss
  packages/bot-web-ui/src/components/trade-animation/trade-animation.jsx
Labels: Bot

#2074 Sara / Replaced span with text on trader package
  packages/trader/src/App/Components/Elements/ContractAudit/contract-audit-item.jsx
  packages/trader/src/App/Components/Elements/ContractAudit/contract-history.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.jsx
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.jsx
  packages/trader/src/App/Components/Form/RangeSlider/range-slider.jsx
  packages/trader/src/Modules/Contract/Components/InfoBox/info-box-longcode.jsx
  packages/trader/src/Modules/Contract/Components/LastDigitPrediction/digit-spot.jsx
  packages/trader/src/Modules/MT5/Components/mt5-info-copy.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
  packages/trader/src/Modules/Reports/Components/account-statistics.jsx
  packages/trader/src/Modules/Reports/Components/empty-portfolio-message.jsx
  packages/trader/src/Modules/Reports/Components/empty-trade-history-message.jsx
  packages/trader/src/Modules/SmartChart/Components/top-widgets.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info-header.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-item.jsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/widgets.jsx
  packages/trader/src/sass/app/_common/components/contract-audit.scss
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
  packages/trader/src/sass/app/_common/components/contract-type-list.scss
  packages/trader/src/sass/app/_common/components/purchase-button.scss
  packages/trader/src/sass/app/_common/components/range-slider.scss
  packages/trader/src/sass/app/_common/drawer/positions-drawer.scss
  packages/trader/src/sass/app/_common/drawer/positions-modal-card.scss
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/contract.scss
  packages/trader/src/sass/app/modules/contract/digits.scss
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/portfolio.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Components, Trader

#2374 Sara / Refactored Paragraph on p2p package
  packages/p2p/src/components/form/error.jsx
  packages/p2p/src/components/form/form.scss
  packages/p2p/src/components/nickname/nickname-form.jsx
  packages/p2p/src/components/nickname/nickname-form.scss
  packages/p2p/src/components/order-details/order-details.scss
  packages/p2p/src/components/order-details/order-info-block.jsx
  packages/p2p/src/components/table/table-error.jsx
  packages/p2p/src/components/table/table.scss
  packages/p2p/src/components/verification/verification.jsx
  packages/p2p/src/components/verification/verification.scss
Labels: P2P

#2527 Ali / Fix back button bug on MT5 page
  packages/components/src/components/tabs/tabs.jsx
Labels: Components

#2566 zaki / fix_dropdown_and_error_messages
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/select-native/select-native.jsx
  packages/components/src/components/select-native/select-native.scss
Labels: Account, Components

#2568 Kevin/fix: statement filter padding
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader

#2567 Sara / Reverted changes on mt5-password-manager-modal
  packages/components/src/components/field/field.scss
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
Labels: Components, Trader

#2072 carol/Show message for barred users
  packages/components/src/components/hint-box/hint-box.jsx
  packages/components/src/components/hint-box/hint-box.scss
  packages/components/src/components/icon/common/ic-delete.svg
  packages/p2p/src/components/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/toggle-ads.jsx
  packages/p2p/src/components/table/table.scss
  packages/p2p/src/utils/date-time.js
  packages/p2p/stores/buy-sell-store.js
  packages/p2p/stores/general-store.js
  packages/p2p/stores/my-ads-store.js
  packages/p2p/stores/my-profile-store.js
  packages/p2p/stores/order-details-store.js
  packages/p2p/stores/order-store.js
Labels: Components, Core, P2P, Shared, Trader

#2558 aaron/P2P updates
  packages/p2p/src/assets/svgComponents/dp2p-app-icon.svg
  packages/p2p/src/assets/svgComponents/get-on-apple-app-store.svg
  packages/p2p/src/assets/svgComponents/get-on-google-play-store.svg
  packages/p2p/src/assets/svgComponents/logo-play-store.svg
  packages/p2p/src/components/order-details/order-details-timer.jsx
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/verification/download.jsx
  packages/p2p/src/components/verification/download.scss
  packages/p2p/src/utils/orders.js
  packages/p2p/stores/general-store.js
Labels: P2P

#2565 salar / Fix typo: 'on' should be 'one'
  packages/bot-skeleton/src/scratch/help-content/help-strings/trade_definition.js
Labels: Bot

#2537 Akmal / Fixed multiplier validation on integers
  packages/components/src/components/input-field/input-field.jsx
  packages/components/src/components/input-wth-checkbox/input-with-checkbox.jsx
Labels: Components

#2578 Mahdi Aryayi / Fix mt5 stp password modal note [production]
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Trader

#2576 Mahdi Aryayi / Fix mt5 stp password modal note (Add BVI)
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Trader

#2584 zaki / fix_step_rng_multiup|down_sell
  packages/shared/src/utils/shortcode/shortcode.js
Labels: Shared

#2569 Abdalla/Fix: MT5 Account Creation error
  packages/account/src/Configs/personal-details-config.js
  packages/components/src/components/dialog/dialog.jsx
  packages/components/src/components/text/text.jsx
Labels: Account, Components, Core

#2435 bahar/add_pop_up_component_with_tabs
  packages/components/src/components/button/button.jsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/mobile-full-page-modal/mobile-full-page-modal.jsx
  packages/components/src/components/mobile-full-page-modal/mobile-full-page-modal.scss
  packages/components/src/components/modal/modal-body.jsx
  packages/components/src/components/modal/modal-footer.jsx
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/modal/modal.scss
  packages/components/src/components/popup/index.js
  packages/components/src/components/popup/popup-body.jsx
  packages/components/src/components/popup/popup-footer.jsx
  packages/components/src/components/popup/popup-header.jsx
  packages/components/src/components/popup/popup.jsx
  packages/components/src/components/popup/popup.scss
  packages/components/src/components/tabs/tab.jsx
  packages/components/src/components/tabs/tabs.jsx
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/index.js
  packages/core/src/sass/add-or-manage.scss
Labels: Components, Core

#2429 Matin/Add: new component AccountsButtonToggle
  packages/components/src/components/button-toggle/button-highlight-wrapper.jsx
  packages/components/src/components/button-toggle/button-highlight.jsx
  packages/components/src/components/button-toggle/button-toggle.jsx
  packages/components/src/components/button-toggle/button-toggle.scss
  packages/dashboard/src/components/pages/about-us/about-us.scss
  packages/dashboard/src/components/pages/about-us/about-us.tsx
  packages/dashboard/src/components/template/accounts-button-toggle/accounts-button-toggle.scss
  packages/dashboard/src/components/template/accounts-button-toggle/accounts-button-toggle.tsx
  packages/dashboard/src/components/template/accounts-button-toggle/index.ts
  packages/shared/src/styles/themes.scss
Labels: Components, Dashboard, Shared

#2570 aaron/P2P: verification screen should no longer show after verifying
  packages/p2p/stores/buy-sell-store.js
  packages/p2p/stores/general-store.js
Labels: P2P

#2574 mamali/Fix duplicate MT5 account
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#2355 mamali/Universal password
  packages/account/src/Sections/Security/DerivPassword/change-password-form.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/dialog/dialog.jsx
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/icon/common/ic-warning.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-one-password.svg
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/modal/modal.scss
  packages/components/stories/icon/icons.js
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-server-error-dialog.jsx
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Account, Components, Core, Trader

#2589 carol/DP2P: Fix redirect bug
  packages/p2p/stores/my-profile-store.js
Labels: P2P

#2597 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2596 Matin/Fix: notification button colour should not be greyed out
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
Labels: Core

#2598 Matin/Fix: currency badge size and line height
  packages/components/src/components/currency-badge/currency-badge.jsx
Labels: Components

#2603 Revert "mamali/Universal password"
  packages/account/src/Sections/Security/DerivPassword/change-password-form.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/dialog/dialog.jsx
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/icon/common/ic-warning.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-one-password.svg
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/modal/modal.scss
  packages/components/stories/icon/icons.js
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-server-error-dialog.jsx
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Account, Components, Trader

#2582 Zaki|Bala/ Wallet creation flow
  packages/account/src/Components/address-details/address-details.jsx
  packages/account/src/Components/currency-selector/currency-selector.jsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/terms-of-use/terms-of-use.jsx
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-modal.jsx
  packages/core/src/Modules/Dashboard/dashboard.jsx
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/modules/account-signup.scss
  packages/dashboard/package-lock.json
  packages/dashboard/package.json
  packages/dashboard/src/components/elements/account-wizard/account-wizard.tsx
  packages/dashboard/src/components/elements/account-wizard/containers/currency-selector-form/currency-selector.tsx
  packages/dashboard/src/components/elements/account-wizard/items.ts
  packages/dashboard/src/components/elements/account-wizard/types.ts
  packages/dashboard/src/components/pages/home/home.tsx
  packages/dashboard/src/components/pages/temp-get-dmt5-wallet/index.ts
  packages/dashboard/src/components/pages/temp-get-dmt5-wallet/temp-get-dmt5-wallet.scss
  packages/dashboard/src/components/pages/temp-my-apps/index.ts
  packages/dashboard/src/components/pages/temp-my-apps/temp-my-apps.scss
  packages/dashboard/src/components/pages/temp-my-apps/temp-my-apps.tsx
  packages/dashboard/src/stores/client-store.ts
  packages/dashboard/src/types/api.types.ts
  packages/dashboard/src/types/stores.types.ts
  packages/shared/src/utils/string/string_util.js
Labels: Account, Components, Core, Dashboard, Shared

#2552 Shayan / Upgrade @deriv/deriv-charts to 0.3.15 and integerate chart with it
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/SmartChart/Components/top-widgets.jsx
  packages/trader/src/Modules/SmartChart/index.js
  packages/trader/src/Stores/Modules/Contract/contract-replay-store.js
Labels: Bot, Core, Trader

#2600 Sara / Fixed issue on forgot password page
  packages/components/src/components/send-email-template/send-email-template.jsx
Labels: Components

#2590 hojjat / Console error on clicking the 'Deposit Now' button
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#2587 suthesh/adr-odr-amendment
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
Labels: Core

#2403 salar / Regulated change currency
  packages/account/src/Components/currency-selector/currency-selector.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
Labels: Account, Components, Core

#2602 Bala/fix dropdown list
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/hooks/use-state-callback.js
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
Labels: Components, Trader

#1721 Shayan/adding indicator to mobile mode
  packages/trader/src/Modules/SmartChart/Components/toolbar-widgets.jsx
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Labels: Trader

#2580 salar / Fix: 'this' to 'these', 'transfers' to 'transfer'
  packages/bot-skeleton/src/scratch/blocks/Binary/After Purchase/trade_again.js
Labels: Bot

#2559 Bala/fix total assets balance update
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/core/src/Stores/client-store.js
Labels: Core

#2607 Bala/fix add currency
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
Labels: Core

#2608 Bala/fix set currency header alignment
  packages/core/src/App/Containers/RealAccountSignup/set-currency.jsx
Labels: Core

#2606 Shayan/Hiding indicator in mobile mode
  packages/trader/src/Modules/SmartChart/Components/toolbar-widgets.jsx
Labels: Trader

#2601 Ali / Fix routing in unsupported contracts modal
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
Labels: Trader

#2609 Bala/fix auto height wrapper
  packages/components/src/components/auto-height-wrapper/auto-height-wrapper.jsx
Labels: Components

#2604 Akmal / Fixed inability to change state
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
Labels: Trader

#2616 aaron/P2P: Hotfix
  packages/p2p/stores/order-store.js
Labels: P2P

#2623 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2588 Bala/select correct mt5 account in account transfer
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/shared/src/utils/mt5/mt5.js
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
Labels: Shared, Trader

#2612 Bala/fix duration style issues
  packages/components/src/components/numpad/numpad.jsx
  packages/components/src/components/tick-picker/tick-picker.jsx
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Components, Trader

#2617 aaron/DBot: Hotfix
  packages/bot-web-ui/src/components/journal/journal.jsx
  packages/bot-web-ui/src/components/journal/journal.scss
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.jsx
  packages/bot-web-ui/src/components/save-modal/save-modal.jsx
Labels: Bot

#2624 amam/update_rudder_production
  packages/core/src/index.html
Labels: Core

#2629 zaki / add_gross_text
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/multiplier.jsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-options-modal.jsx
Labels: Trader

#2633 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2618 negar/redirect_to_login
  packages/account/src/Components/Routes/route-with-sub-routes.jsx
  packages/account/src/Duplicated/App/Components/Elements/login-prompt.jsx
  packages/cashier/src/Components/Routes/login-prompt.jsx
  packages/cashier/src/Components/Routes/route-with-sub-routes.jsx
  packages/components/src/components/route-with-subroutes/route-with-subroutes.jsx
  packages/core/src/App/Components/Elements/login-prompt.jsx
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/core/src/App/Containers/RealAccountSignup/modal-login-prompt.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Modules/Dashboard/dashboard.jsx
  packages/dashboard/README.md
  packages/dashboard/src/components/routes/routes.tsx
  packages/dashboard/src/types/props.types.ts
  packages/dashboard/src/types/stores.types.ts
  packages/trader/src/App/Components/Elements/__tests__/login-prompt.spec.js
  packages/trader/src/App/Components/Elements/login-prompt.jsx
  packages/trader/src/App/Components/Routes/route-with-sub-routes.jsx
Labels: Account, Components, Core, Dashboard, Docs, Trader

#2635 aaron/P2P: Hide verification under a new route vs. a hash
  packages/cashier/src/Constants/routes-config.js
  packages/cashier/src/Containers/cashier.jsx
  packages/cashier/src/Containers/p2p-cashier.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/common-store.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/verification/verification.jsx
  packages/p2p/src/components/verification/verification.scss
  packages/shared/src/utils/routes/routes.js
Labels: Core, P2P, Shared

#2591 Matin/Update: Dashboard colors
  packages/components/src/components/button-toggle/button-highlight-wrapper.jsx
  packages/components/src/components/button-toggle/button-highlight.jsx
  packages/components/src/components/button-toggle/button-toggle.jsx
  packages/components/src/components/button/button.jsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/icon/wallet/ic-wallet-explore.svg
  packages/components/src/components/icon/wallet/ic-wallet-markets.svg
  packages/components/src/components/icon/wallet/ic-wallet-platforms.svg
  packages/components/src/components/icon/wallet/ic-wallet-trade-types.svg
  packages/components/src/components/icon/wallet/ic-wallet-wallets.svg
  packages/components/stories/button/button.stories.js
  packages/dashboard/src/components/pages/home/home.scss
  packages/dashboard/src/components/template/accounts-button-toggle/index.ts
  packages/dashboard/src/components/template/accounts-toggle-button/accounts-toggle-button.scss
  packages/dashboard/src/components/template/accounts-toggle-button/accounts-toggle-button.tsx
  packages/dashboard/src/components/template/accounts-toggle-button/index.ts
  packages/dashboard/src/components/template/app-to-trade/app-to-trade.scss
  packages/dashboard/src/components/total-balance/total-balance.scss
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
Labels: Components, Dashboard, Shared

#2614 Matin/Add: Clear funds modal
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/wallet/ic-wallet-clear-funds.svg
  packages/components/src/components/modal/modal-footer.jsx
  packages/components/src/components/modal/modal.scss
  packages/components/stories/icon/icons.js
  packages/dashboard/src/components/modals/clear-funds-modal/clear-funds-modal.scss
  packages/dashboard/src/components/modals/clear-funds-modal/clear-funds-modal.tsx
  packages/dashboard/src/components/modals/clear-funds-modal/index.ts
  packages/dashboard/src/stores/ui-store.ts
  packages/dashboard/src/types/stores.types.ts
Labels: Components, Dashboard

#2579 Matin/Feature: Add Trade Modal
  packages/components/src/components/icon/common/ic-linux.svg
  packages/components/src/components/icon/common/ic-macos.svg
  packages/components/src/components/icon/common/ic-web-terminal.svg
  packages/components/src/components/icon/common/ic-windows.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/modal/modal-body.jsx
  packages/components/stories/icon/icons.js
  packages/dashboard/src/assets/images/qrcode-placeholder.png
  packages/dashboard/src/components/modals/trade-modal/index.ts
  packages/dashboard/src/components/modals/trade-modal/trade-modal-body/index.ts
  packages/dashboard/src/components/modals/trade-modal/trade-modal-body/trade-modal-body.scss
  packages/dashboard/src/components/modals/trade-modal/trade-modal-body/trade-modal-body.tsx
  packages/dashboard/src/components/modals/trade-modal/trade-modal-header/index.ts
  packages/dashboard/src/components/modals/trade-modal/trade-modal-header/trade-modal-header.scss
  packages/dashboard/src/components/modals/trade-modal/trade-modal-header/trade-modal-header.tsx
  packages/dashboard/src/components/modals/trade-modal/trade-modal-types.ts
  packages/dashboard/src/components/modals/trade-modal/trade-modal.scss
  packages/dashboard/src/components/modals/trade-modal/trade-modal.tsx
  packages/dashboard/src/stores/ui-store.ts
  packages/dashboard/src/types/stores.types.ts
Labels: Components, Dashboard

#2581 Ali / Fix warning for forwardRef in checkbox
  packages/components/src/components/checkbox/checkbox.jsx
Labels: Components

#2571 Sara / Replaced header with Text component on account package
  packages/account/src/Components/article/article.jsx
  packages/account/src/Components/form-sub-header/form-sub-header.jsx
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/account/src/Sections/Security/LoginHistory/login-history.jsx
  packages/account/src/Sections/Security/SelfExclusion/article.jsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/dropdown/display-text.jsx
  packages/core/src/sass/account-wizard.scss
Labels: Account, Components, Core

#2549 Ali / Fix MT5 add new trade server availability
  packages/core/src/Stores/client-store.js
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, Core, Trader

#2619 mamali/Mt5 small fixes
  packages/core/src/Stores/client-store.js
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
Labels: Core, Trader

#2615 amam/add_pushwoosh
  packages/account/src/Stores/index.js
  packages/core/build/config.js
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/App/app.js
  packages/core/src/Stores/index.js
  packages/core/src/Stores/pushwoosh-store.js
  packages/core/src/index.html
  packages/core/src/templates/app/manifest.json
  packages/core/src/templates/app/pushwoosh/pushwoosh-service-worker.js
  packages/trader/src/Stores/index.js
Labels: Account, Core, Trader

#2512 Kseniya/UI improvement for ES language on DMT5 page
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Trader

#2640 khalid/added a new type transfer
  packages/components/src/components/icon/common/ic-account-transfer-colored.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/label/label.jsx
  packages/components/src/components/label/label.scss
  packages/components/stories/icon/icons.js
  packages/shared/src/styles/themes.scss
  packages/trader/src/Modules/Reports/Components/filter-component.jsx
  packages/trader/src/Modules/Reports/Components/market-symbol-icon-row.jsx
  packages/trader/src/Modules/Reports/Constants/data-table-constants.js
  packages/trader/src/Modules/Reports/Containers/statement.jsx
Labels: Components, Shared, Trader

#2637 Kseniya/Minor issue on settings menu on deriv.app
  packages/components/src/components/vertical-tab/vertical-tab-headers.jsx
Labels: Components

#2642 Kseniya/Font issue in Contract Details page
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.jsx
Labels: Components

#2650 khalid/removd account details message
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#2630 Sara / Refactored mobile body wrapper
  packages/components/src/components/mobile-full-page-modal/mobile-full-page-modal.jsx
  packages/components/src/components/mobile-full-page-modal/mobile-full-page-modal.scss
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/components/order-details/order-details-complain-modal.jsx
Labels: Components, P2P

#2622 Shayan / dashboard dynamic route regards context
  packages/core/src/App/Components/Routes/binary-link.jsx
  packages/core/src/App/Components/Routes/binary-routes.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/shared/src/utils/routes/routes.js
Labels: Core, Shared

#2625 bahar/add_platforms_dashboard_header
  packages/components/src/components/icon/common/ic-gear-light.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/wallet/ic-wallet-deriv-apps.svg
  packages/components/src/components/icon/wallet/ic-wallet-my-apps.svg
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Header/index.js
  packages/core/src/App/Containers/Layout/header/dashboard-platform-header.jsx
  packages/core/src/App/Containers/Layout/header/header.jsx
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/layout/dashboard-platform-header.scss
  packages/shared/src/styles/themes.scss
Labels: Components, Core, Shared

#2664 chore: bump @deriv/api-types to 1.0.16
  packages/dashboard/package-lock.json
  packages/dashboard/package.json
Labels: Dashboard

#2668 zaki / fix_sign_in_bug
  packages/core/src/App/Constants/routes-config.js
Labels: Core

#2669 Remove auto refresh with multiple service workers
  packages/core/src/Utils/pwa/register-service-worker.js
Labels: Core

#2666 Bala/fix forward starting for multipliers contracts
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/Stores/Modules/Contract/contract-replay-store.js
  packages/trader/src/Stores/Modules/Statement/Helpers/__tests__/format-response.spec.js
  packages/trader/src/Stores/Modules/Statement/Helpers/format-response.js
Labels: Trader

#2674 zaki / fix_broken_button_toggle_highlight
  packages/components/src/components/button-toggle/button-highlight-wrapper.jsx
  packages/components/src/components/button-toggle/button-highlight.jsx
Labels: Components

#2505 amam/onfido_daily_limit
  packages/account/src/Components/icon-message-list/icon-message-list.jsx
  packages/account/src/Components/icon-message-list/index.js
  packages/account/src/Components/poi-limited/index.js
  packages/account/src/Components/poi-limited/poi-limited.jsx
  packages/account/src/Components/poi-rejected-reasons/index.js
  packages/account/src/Components/poi-rejected-reasons/poi-rejected-reasons.jsx
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#2660 amam/add_email_datalayer
  packages/core/src/Stores/gtm-store.js
Labels: Core

#2661 Sara / Refactored Radio Group Component
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/bot-web-ui/src/components/save-modal/save-modal.jsx
  packages/components/src/components/radio-group/radio-group.jsx
  packages/p2p/src/components/order-details/order-details-complain-modal-radio-group.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/Trading/Components/Elements/Multiplier/cancel-deal-mobile.jsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-options-modal.jsx
Labels: Account, Bot, Components, P2P, Trader

#2658 Amir / Fix: Remove console error in account switcher
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#2651 Amir / Fix error message on invalid inputs-DP2P-Create Ads
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/stores/my-ads-store.js
Labels: P2P

#2652 Nikolai/Dbot type error fix
  packages/bot-web-ui/src/stores/toolbox-store.js
Labels: Bot

#2620 Mehrzad / mt5 server badge
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/sass/app/_common/components/account-switcher.scss
Labels: Core

#2631 daniil/contract_summary_not_fully_visible_in_iphone_7
  packages/bot-web-ui/src/components/summary/summary.jsx
Labels: Bot

#2632 Nikolai/Flyout mobx warning fix
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-help-base.jsx
Labels: Bot

#2572 aaron/P2P: Block high risk clients from accessing P2P
  packages/p2p/stores/general-store.js
Labels: P2P

#2643 Ali / Add performance test
  README.md
  e2e_tests/.gitignore
  e2e_tests/README.md
  e2e_tests/create_test.js
  e2e_tests/jest.config.json
  e2e_tests/package.json
  e2e_tests/src/__tests__/performance/resources.test.js
  e2e_tests/src/__tests__/performance/time_to_chart_ready.test.js
  e2e_tests/src/__tests__/performance/time_to_interactive.test.js
  e2e_tests/src/_utils/cli_reporter.js
  e2e_tests/src/_utils/logger.js
  package.json
Labels: Docs

#2613 Nikolai/Input placeholder text UI issue in Firefox
  packages/components/src/components/input/input.scss
Labels: Components

#2586 Amir / Refactor deriv-crypto build for Dwallet dashboard
  .circleci/config.yml
  package.json
  packages/account/src/Components/Routes/__tests__/route-with-sub-routes.spec.js
  packages/account/src/Components/Routes/binary-link.jsx
  packages/account/src/Components/Routes/binary-routes.jsx
  packages/account/src/Components/currency-selector/currency-selector.jsx
  packages/account/src/Components/terms-of-use/terms-of-use.jsx
  packages/account/src/Constants/routes-config.js
  packages/account/src/Sections/Security/AccountDeactivated/account-deactivated.jsx
  packages/account/src/Sections/Security/SelfExclusion/article-content.jsx
  packages/cashier/src/Components/Routes/binary-link.jsx
  packages/cashier/src/Components/Routes/binary-routes.jsx
  packages/cashier/src/Constants/routes-config.js
  packages/components/src/components/static-url/static-url.jsx
  packages/components/stories/static-url/stories/basic.js
  packages/core/build/constants.js
  packages/core/build/webpack.config.js
  packages/core/package.json
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Components/Layout/Footer/go-to-deriv.jsx
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Components/Layout/Header/signup-button.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Components/Routes/__tests__/binary-link.spec.js
  packages/core/src/App/Components/Routes/__tests__/route-with-sub-routes.spec.js
  packages/core/src/App/Components/Routes/binary-link.jsx
  packages/core/src/App/Components/Routes/binary-routes.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/App/Containers/Layout/header/dashboard-header.jsx
  packages/core/src/App/Containers/PlatformContainer/PlatformContainer.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/Modules/Dashboard/dashboard.jsx
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/core/src/Modules/SmartTraderIFrame/SmartTraderIFrame.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/core/src/root_files/localstorage-sync.html
  packages/dashboard/README.md
  packages/dashboard/src/components/routes/routes.tsx
  packages/dashboard/src/constants/routes-config.ts
  packages/dashboard/src/stores/config-store.ts
  packages/dashboard/src/types/props.types.ts
  packages/dashboard/src/types/stores.types.ts
  packages/shared/src/utils/config/app-config.js
  packages/shared/src/utils/config/config.js
  packages/shared/src/utils/login/login.js
  packages/shared/src/utils/platform/platform-context.js
  packages/shared/src/utils/url/__tests__/url.js
  packages/shared/src/utils/url/constants.js
  packages/shared/src/utils/url/helpers.js
  packages/shared/src/utils/url/url.js
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/authorization-required-modal.jsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/services-error-modal.jsx
  packages/trader/src/App/Components/Routes/__tests__/route-with-sub-routes.spec.js
  packages/translations/src/i18next/i18next.js
Labels: Account, Components, Core, Shared

#2025 mehrzad/deriv-api
  packages/bot-skeleton/package-lock.json
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/api/__tests__/active-symbols.js
  packages/bot-skeleton/src/services/api/appId.js
  packages/bot-skeleton/src/services/api/footer-checks.js
  packages/bot-skeleton/src/services/api/shared.js
  packages/bot-skeleton/src/services/api/symbolApi/activeSymbols.js
  packages/bot-skeleton/src/services/api/symbolApi/index.js
  packages/bot-skeleton/src/services/api/ticks_service.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Balance.js
  packages/bot-skeleton/src/services/tradeEngine/trade/OpenContract.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Proposal.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Purchase.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Sell.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Ticks.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/cliTools.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-skeleton/src/utils/error.js
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#2683 Mehrzad / resolve error on tick service test
  packages/bot-skeleton/src/services/api/__tests__/ticks-service.js
Labels: Bot

#2678 aaron/P2P: translations update + fix
  packages/p2p/crowdin/messages.json
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/base_store.js
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/index.js
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/stores/my-profile-store.js
  packages/p2p/src/stores/order-details-store.js
  packages/p2p/src/stores/order-store.js
  packages/p2p/src/stores/sendbird-store.js
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_tw.json
  packages/p2p/webpack.config.js
Labels: P2P

#2692 P2P: update p2p translations
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_tw.json
Labels: P2P

#2687 Shayan / Modify the way of passing ENV parameters
  packages/core/package.json
  packages/trader/package.json
Labels: Core, Trader
