Repository deriv-com/deriv-app, pull requests merged in 2021-03, with the labels that each got.

#2690 Bala/Add risk warning - V20210216_0 - Prod
  packages/account/src/Components/terms-of-use/terms-of-use.jsx
  packages/core/src/App/Containers/RealAccountSignup/accept-risk-form.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/real-account-signup.scss
Labels: Account, Components, Core

#2689 Bala/add risk warning
  packages/account/src/Components/terms-of-use/terms-of-use.jsx
  packages/core/src/App/Containers/RealAccountSignup/accept-risk-form.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/real-account-signup.scss
Labels: Account, Components, Core

#2699 Bump @deriv/api-types to 1.0.17
  packages/bot-skeleton/package-lock.json
  packages/dashboard/package-lock.json
  packages/dashboard/package.json
Labels: Bot, Dashboard

#2709 aaron/DBot: Ensure line is shown in full
  packages/bot-web-ui/src/components/journal/journal.jsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/transactions/transactions.scss
Labels: Bot

#2594 aaron/P2P: Ensure page doesn't go into loading state
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/general-store.js
Labels: Dashboard, P2P

#2706 negar/less_strict_phone_validation [Prod]
  packages/account/src/Configs/personal-details-config.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/core/src/Constants/form-error-messages.js
  packages/shared/src/utils/validation/declarative-validation-rules.js
Labels: Account, Core, Shared

#2705 negar/less_strict_phone_validation
  packages/account/src/Configs/personal-details-config.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/core/src/Constants/form-error-messages.js
  packages/shared/src/utils/validation/declarative-validation-rules.js
Labels: Account, Core, Shared

#2711 mamali/remove SW refresh mechanism
  packages/core/src/Utils/pwa/register-service-worker.js
Labels: Core

#2710 zaki / fix_signup_refresh
  packages/core/src/Utils/pwa/register-service-worker.js
Labels: Core

#2712 Bala/fix trade header extensions onmount hook
  packages/trader/src/App/Containers/trade-header-extensions.jsx
Labels: Trader

#2713 Bala/Fix trade header extensions onmount hook - production
  packages/trader/src/App/Containers/trade-header-extensions.jsx
Labels: Trader

#2721 negar/handle_multi_tax_residence [Prod]
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Account

#2720 negar/handle_multi_tax_residence
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Account

#2701 Shayan / Remove chart setting on user signup
  packages/core/src/App/app.js
  packages/p2p/src/stores/general-store.js
Labels: Core, P2P

#2723 Shayan / clean on signup
  Sample.ts
  packages/core/src/App/app.js
  sample2.ts
Labels: Core

#2726 Nijil/Fix contract card header text style - production
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.jsx
Labels: Components

#2732 zaki / fix_qabox_refresh_on_signup
  packages/core/src/Services/socket-general.js
Labels: Core

#2725 mamali/Exclude InvalidTokens from redirecting user to root path
  packages/core/src/Services/socket-general.js
Labels: Core

#2742 Matin/Fix:Popover flickering
  packages/account/src/Components/currency-selector/radio-button.jsx
  packages/components/src/components/input-wth-checkbox/input-with-checkbox.jsx
  packages/components/src/components/popover/popover.jsx
  packages/trader/src/App/Components/Form/fieldset.jsx
  packages/trader/src/Modules/Trading/Components/Elements/Multiplier/cancel-deal-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/cancel-deal.jsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-amount-modal.jsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-options-modal.jsx
Labels: Account, Components, Core, Shared, Trader

#2733 Matin/Fix: Popover flickering issue
  packages/account/src/Components/currency-selector/radio-button.jsx
  packages/components/src/components/input-wth-checkbox/input-with-checkbox.jsx
  packages/components/src/components/popover/popover.jsx
  packages/trader/src/App/Components/Form/fieldset.jsx
  packages/trader/src/Modules/Trading/Components/Elements/Multiplier/cancel-deal-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/cancel-deal.jsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-amount-modal.jsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-options-modal.jsx
Labels: Account, Components, Trader

#2695 Matin/Fix: Complain modal body height
  packages/p2p/src/components/order-details/order-details-complain-modal.jsx
  packages/p2p/src/components/order-details/order-details-complain-modal.scss
Labels: P2P

#2696 Bala/fix forward starting logic
  packages/shared/src/utils/shortcode/shortcode.js
Labels: Shared

#2708 Bala/fix mt5 accounts display style
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Trader

#2722 zaki / fix_uk_poi [production]
  packages/account/src/Components/poi-missing-personal-details/missing-personal-details.jsx
  packages/account/src/Components/real-account-signup/helpers/dialog-buttons.jsx
  packages/account/src/Components/real-account-signup/helpers/dialog-heading.jsx
  packages/account/src/Components/real-account-signup/helpers/dialog-message.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/account/src/Styles/account.scss
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-buttons.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-heading.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-message.jsx
Labels: Account, Core

#2737 zaki / fix_uk_poi
  packages/account/src/Components/poi-missing-personal-details/missing-personal-details.jsx
  packages/account/src/Components/real-account-signup/helpers/dialog-buttons.jsx
  packages/account/src/Components/real-account-signup/helpers/dialog-heading.jsx
  packages/account/src/Components/real-account-signup/helpers/dialog-message.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/account/src/Styles/account.scss
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-buttons.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-heading.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-message.jsx
Labels: Account, Core

#2731 negar/hide_redundant_notification [Prod]
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Core

#2746 mamali/Remove redirect_url from sessionStorage if flow is broken mid-level
  packages/core/src/App/Containers/Redirect/redirect.jsx
Labels: Core

#2727 Nijil/Fix contract card header text style
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.jsx
Labels: Components

#2739 amam/poi_poa_fix_prod
  packages/account/src/Components/file-uploader-container/file-uploader-container.jsx
  packages/account/src/Components/poa-button/poa-button.jsx
  packages/account/src/Components/poa-needs-review/needs-review.jsx
  packages/account/src/Components/poa-submitted/submitted.jsx
  packages/account/src/Components/poa-verified/verified.jsx
  packages/account/src/Components/poi-button/poi-button.jsx
  packages/account/src/Components/poi-upload-complete/upload-complete.jsx
  packages/account/src/Components/poi-verified/verified.jsx
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.js
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/account/src/Styles/account.scss
  packages/shared/src/utils/platform/platform.js
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
Labels: Account, Core, Shared, Trader

#2738 amam/poi_poa_fix
  packages/account/src/Components/file-uploader-container/file-uploader-container.jsx
  packages/account/src/Components/poa-button/poa-button.jsx
  packages/account/src/Components/poa-needs-review/needs-review.jsx
  packages/account/src/Components/poa-submitted/submitted.jsx
  packages/account/src/Components/poa-verified/verified.jsx
  packages/account/src/Components/poi-button/poi-button.jsx
  packages/account/src/Components/poi-upload-complete/upload-complete.jsx
  packages/account/src/Components/poi-verified/verified.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.js
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/account/src/Styles/account.scss
  packages/trader/src/Modules/MT5/Components/mt5-poa.jsx
Labels: Account, Trader

#2754 fixed duplicate prop error
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Labels: Account

#2750 fix: add conditions for high risk clients
  packages/p2p/src/stores/general-store.js
Labels: P2P

#2755 zaki / fix_poa_address_state
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
Labels: Account

#2752 Khalid/remove transfer filter
  packages/trader/src/Modules/Reports/Components/filter-component.jsx
Labels: Account, Trader

#2729 Bump @deriv/api-types from 1.0.17 to 1.0.19
  packages/dashboard/package-lock.json
  packages/dashboard/package.json
Labels: Dashboard

#2763 aaron/Deriv.app: POI redirect fix
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
Labels: Account

#2745 aaron/Deriv.app: "needs_poa" and "needs_poi" fixes
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/ui-store.js
Labels: Core

#2756 Matin/Fix: Design discrepancies in wizard status dialog
  packages/account/src/Components/real-account-signup/helpers/constants.js
  packages/account/src/Components/real-account-signup/helpers/dialog-buttons.jsx
  packages/account/src/Components/real-account-signup/helpers/dialog-heading.jsx
  packages/account/src/Components/real-account-signup/helpers/dialog-message.jsx
  packages/core/src/App/Containers/RealAccountSignup/finished-set-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-buttons.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-heading.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-message.jsx
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
  packages/core/src/sass/add-or-manage.scss
Labels: Account, Core

#2768 mamali/Show Upgrade to MLT when client is on MF
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#2761 mamali/update multipliers trade category icon
  packages/components/src/components/icon/common/ic-cat-multiplier.svg
Labels: Components

#2767 mamali/Update multipliers trade category icon
  packages/components/src/components/icon/common/ic-cat-multiplier.svg
Labels: Components

#2770 Matin/Update: Tether popover description
  packages/account/src/Components/currency-selector/radio-button.jsx
  packages/components/src/components/popover/popover.scss
Labels: Account, Components

#2769 Matin/Update: Tether popover description
  packages/account/src/Components/currency-selector/radio-button.jsx
  packages/components/src/components/popover/popover.scss
Labels: Account, Components

#2779 carol/ DP2P: Fix order details responsive styles
  packages/p2p/src/components/order-details/order-details-wrapper.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/order-details/order-details.scss
Labels: P2P

#2777 Hojjat / fix network monitor on switching accounts
  packages/core/src/_common/base/socket_base.js
Labels: Core

#2772 Hojjat / fix network monitor on switching accounts
  packages/core/src/_common/base/socket_base.js
Labels: Core

#2781 mitchell/Removed the squiggly line icons
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/sass/app/modules/account-types.scss
Labels: Core

#2783 amam/fix_push_woosh
  packages/core/src/Stores/pushwoosh-store.js
Labels: Core

#2784 zaki / fix_account_types_box_mobile_spacing
  packages/core/src/sass/app/modules/account-types.scss
Labels: Core

#2785 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2788 amam/fix_is_release
  packages/core/build/config.js
  packages/core/build/constants.js
Labels: Core

#2792 Bala/remove barriers when clicked on apply in contract update form
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-update-form.jsx
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card.jsx
Labels: Components, Trader

#2795 amam/put pushwoosh to workbox
  packages/core/build/config.js
  packages/core/src/Stores/pushwoosh-store.js
  packages/core/src/templates/app/pushwoosh/pushwoosh-service-worker.js
Labels: Core

#2798 Amam/fix service worker prod
  packages/core/build/config.js
  packages/core/src/Stores/pushwoosh-store.js
  packages/core/src/templates/app/pushwoosh/pushwoosh-service-worker.js
Labels: Core

#2774 Matin/Fix: MLT Manage account issue
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#2831 Amam/check test links
  packages/core/build/config.js
  packages/core/build/constants.js
  packages/core/src/Stores/pushwoosh-store.js
Labels: Core

#2836 Sara / Removed extra title
  packages/account/src/Configs/personal-details-config.js
Labels: Account

#2816 Sara / Removed extra titles
  packages/account/src/Configs/personal-details-config.js
Labels: Account

#2782 mamali/fix Validation message for address_line_1
  packages/account/src/Configs/address-details-config.js
Labels: Account

#2806 Matin/update: Trade types icon color
  packages/components/src/components/icon/common/ic-cat-all.svg
  packages/components/src/components/icon/common/ic-cat-multiplier.svg
  packages/components/src/components/icon/common/ic-cat-options.svg
Labels: Components

#2748 mitchell/minimized padding for text to fit
  packages/components/src/components/dropdown/dropdown.scss
Labels: Components

#2704 Hojjat / fix: reduce chars count in deactivate
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
Labels: Account

#2734 Bala/fix residence autocomplete
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
Labels: Core

#2715 mitchell/removed uneccessary text from forgot pass section
  packages/account/src/Sections/Security/DerivPassword/forgot-your-password.jsx
Labels: Account

#2802 Sara / Fixed 2 line issue on iphon 12 mini
  packages/trader/src/sass/app/modules/smart-chart.scss
Labels: Trader

#2858 translations: sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2657 Hojjat / fix: add address validations
  packages/account/src/Components/address-details/address-details.jsx
  packages/account/src/Configs/address-details-config.js
Labels: Account

#2682 mitchell/404 pages remove redirection
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/trader/src/App/Components/Routes/route-with-sub-routes.jsx
Labels: Core, Trader

#2702 Mahdi Aryayi / Fixed removing query string after password reset
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
Labels: Core

#2703 Amir / On changing currency reload other tabs
  packages/core/src/App/app.js
  packages/core/src/Stores/client-store.js
Labels: Core

#2446 behnaz/self-exclusion-datepicker
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/components/src/components/calendar/calendar.jsx
  packages/components/src/components/calendar/views/calendar-days.jsx
Labels: Account, Components

#2728 Kseniya/Show processing time for processed withdrawals
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/Stores/Modules/Statement/Helpers/format-response.js
Labels: Bot, Dashboard, P2P, Trader

#2626 Sara / Refactoring header components in component package
  packages/components/src/components/checkbox/checkbox.jsx
  packages/components/src/components/composite-checkbox/composite-checkbox.jsx
  packages/components/src/components/dialog/dialog.jsx
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/form-progress/form-progress.jsx
  packages/components/src/components/form-progress/form-progress.scss
  packages/components/src/components/loading/loading.jsx
  packages/components/src/components/loading/loading.scss
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/components/src/components/mobile-dialog/mobile-dialog.scss
  packages/components/src/components/mobile-drawer/mobile-drawer-submenu-section.jsx
  packages/components/src/components/mobile-drawer/mobile-drawer-submenu.jsx
  packages/components/src/components/mobile-drawer/mobile-drawer.jsx
  packages/components/src/components/mobile-drawer/mobile-drawer.scss
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/modal/modal.scss
  packages/components/src/components/page-error/page-error.jsx
  packages/components/src/components/page-error/page-error.scss
  packages/components/src/components/send-email-template/send-email-template.jsx
  packages/components/src/components/send-email-template/send-email-template.scss
  packages/components/src/components/timeline/timeline.jsx
  packages/components/src/components/timeline/timeline.scss
  packages/core/src/templates/app/components/loading.jsx
  packages/trader/src/templates/app/components/loading.jsx
Labels: Components, Core, Trader

#2644 Upgrade Playwright
  .env.example
  e2e_tests/.env.example
  e2e_tests/.eslintrc.js
  e2e_tests/jest.config.js
  e2e_tests/jest.config.json
  e2e_tests/jest.setup.js
  e2e_tests/package-lock.json
  e2e_tests/package.json
  e2e_tests/src/__tests__/core/cr_signup.test.js
  e2e_tests/src/__tests__/core/website_status.test.js
  e2e_tests/src/__tests__/performance/resources.test.js
  e2e_tests/src/__tests__/performance/time_to_chart_ready.test.js
  e2e_tests/src/__tests__/performance/time_to_interactive.test.js
  e2e_tests/src/__tests__/trader/contract_purchase.test.js
  e2e_tests/src/_utils/logger.js
  e2e_tests/src/_utils/test_template.js
  e2e_tests/src/_utils/websocket.js
  e2e_tests/src/bootstrap.js
  e2e_tests/src/objects/common.js
  e2e_tests/src/objects/deriv_com.js
  e2e_tests/src/objects/qa_emails.js
  e2e_tests/src/objects/trader.js
  package-lock.json
  package.json
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
Labels: Core, P2P

#2649 Hojjat / fix deactivate account characters validation
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
Labels: Account

#2508 Sara / Refactoring header component in core package
  packages/account/src/Components/terms-of-use/terms-of-use-messages.jsx
  packages/account/src/Components/terms-of-use/terms-of-use.scss
  packages/cashier/src/Components/Error/account-transfer-no-account.jsx
  packages/cashier/src/Components/Error/cashier-locked.jsx
  packages/cashier/src/Components/Error/deposit-locked.jsx
  packages/cashier/src/Components/Error/error.jsx
  packages/cashier/src/Components/Error/funds-protection.jsx
  packages/cashier/src/Components/Error/no-balance.jsx
  packages/cashier/src/Components/Error/transfer-locked.jsx
  packages/cashier/src/Components/Error/virtual.jsx
  packages/cashier/src/Components/Error/withdrawal-locked.jsx
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/cashier/src/Components/Form/max-turnover-form.jsx
  packages/cashier/src/Components/Form/payment-agent-transfer-form.jsx
  packages/cashier/src/Components/Receipt/account-transfer-receipt.jsx
  packages/cashier/src/Components/Receipt/payment-agent-transfer-receipt.jsx
  packages/cashier/src/Components/confirm.jsx
  packages/cashier/src/Components/usdt-side-note.jsx
  packages/cashier/src/Sass/cashier.scss
  packages/core/src/App/Components/Elements/NotificationMessage/notification-banner.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Components/Elements/Notifications/empty-notification.jsx
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-card.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/change-account-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/finished-set-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-heading.jsx
  packages/core/src/App/Containers/RealAccountSignup/modal-login-prompt.jsx
  packages/core/src/App/Containers/RealAccountSignup/signup-error-content.jsx
  packages/core/src/App/Containers/SettingsModal/settings-theme.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-modal.jsx
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/app/_common/components/app-notification-message.scss
  packages/core/src/sass/app/_common/components/notification-banner.scss
  packages/core/src/sass/app/_common/components/platform-switcher.scss
  packages/core/src/sass/app/_common/components/theme-select.scss
  packages/core/src/sass/app/modules/account-types.scss
  packages/core/src/sass/app/modules/notifications-dialog.scss
  packages/core/src/sass/app/modules/welcome.scss
  packages/core/src/sass/change-account.scss
  packages/core/src/sass/modal-login-prompt.scss
  packages/core/src/templates/app/components/loading.jsx
Labels: Account, Components, Core

#2803 [Production] Mahdi Aryayi / New design for mt5 production
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/components/src/components/carousel/carousel.jsx
  packages/components/src/components/clipboard/clipboard.jsx
  packages/components/src/components/icon/common/ic-installation-linux.svg
  packages/components/src/components/icon/common/ic-installation-windows.svg
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/client-store.js
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/trader/src/Modules/MT5/Components/mt5-account-copy.jsx
  packages/trader/src/Modules/MT5/Components/mt5-info-copy.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard-container.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/MT5/Helpers/constants.js
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Components, Core, Trader

#2639 Mahdi Aryayi / New design for mt5
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/components/src/components/carousel/carousel.jsx
  packages/components/src/components/clipboard/clipboard.jsx
  packages/components/src/components/icon/common/ic-installation-linux.svg
  packages/components/src/components/icon/common/ic-installation-windows.svg
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/client-store.js
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/trader/src/Modules/MT5/Components/mt5-account-copy.jsx
  packages/trader/src/Modules/MT5/Components/mt5-info-copy.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard-container.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
  packages/trader/src/Modules/MT5/Helpers/constants.js
  packages/trader/src/Stores/Modules/MT5/mt5-store.js
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Components, Core, Trader

#2811 Bala/ fix shortcode extraction - production
  packages/shared/src/utils/shortcode/shortcode.js
Labels: Core, Shared

#2810 Bala/ fix shortcode extraction
  packages/shared/src/utils/shortcode/shortcode.js
Labels: Shared

#2866 Kseniya/Payment Processor need to be displayed in the statement page as well
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/Stores/Modules/Statement/Helpers/format-response.js
Labels: Trader

#2845 mitchell/24782 disable st for mf users
  packages/core/src/App/Containers/Layout/header/default-header.jsx
Labels: Core

#2876 carol/ DTrader: Statement row doesn't reflect DP2P withdrawal description
  packages/trader/src/Modules/Reports/Containers/statement.jsx
Labels: Trader

#2875 Bala/fix notification style
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
Labels: Core

#2841 Daniil/Blockhain copy button
  packages/components/src/components/data-list/data-list-row.jsx
  packages/components/src/components/data-table/data-table.scss
  packages/components/src/components/data-table/table-row-info.jsx
  packages/trader/src/sass/app/modules/reports.scss
Labels: Components, Trader

#2545 salar / Market close notif
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/utility.js
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/market-closed-contract-overlay.jsx
  packages/trader/src/App/Components/Elements/market-countdown-timer.jsx
  packages/trader/src/App/Components/Elements/market-is-closed-overlay.jsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/SmartChart/Components/top-widgets.jsx
  packages/trader/src/Modules/Trading/Containers/chart-widgets.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Contract/contract-replay-store.js
  packages/trader/src/Stores/Modules/Trading/Helpers/active-symbols.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/_common/components/market-is-closed-overlay.scss
  packages/trader/src/sass/app/_common/drawer/contract-drawer.scss
Labels: Core, Shared, Trader

#2653 Kseniya/Space issue in DMT5 landing page when logged In
  packages/components/src/components/carousel/carousel.jsx
  packages/components/src/components/carousel/carousel.scss
  packages/trader/src/Modules/MT5/Components/mt5-account-card.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, Core, Trader

#2670 carol/ DP2P: Restrict invalid total amount
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#2656 Nikolai/Quick strategy scrollbar overlay
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.jsx
Labels: Bot

#2636 Mehrzad / journal filter blank
  packages/bot-web-ui/src/components/journal/journal.jsx
Labels: Bot

#2735 amam/display_message
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Styles/account.scss
  packages/trader/src/Modules/MT5/Components/mt5-poi.jsx
Labels: Account, Trader

#2838 Kseniya / Localstorage storage still exceeds allowed size
  packages/bot-skeleton/package-lock.json
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-skeleton/src/utils/local-storage.js
  packages/bot-web-ui/src/stores/load-modal-store.js
Labels: Bot

#2310 carol/My ads responsive
  packages/components/src/components/horizontal-swipe/horizontal-swipe.jsx
  packages/components/src/components/horizontal-swipe/horizontal-swipe.scss
  packages/components/src/components/horizontal-swipe/index.js
  packages/components/src/components/infinite-data-list/infinite-data-list.jsx
  packages/components/src/components/themed-scrollbars/themed-scrollbars.jsx
  packages/components/src/components/themed-scrollbars/themed-scrollbars.scss
  packages/components/src/index.js
  packages/p2p/src/components/empty/empty.scss
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads-delete-modal.jsx
  packages/p2p/src/components/my-ads/my-ads-delete-modal.scss
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
  packages/p2p/src/components/page-return/page-return.jsx
  packages/p2p/src/components/verification/verification.scss
  packages/p2p/src/stores/my-ads-store.js
Labels: Components, P2P

#2744 Kseniya/Responsive Dbot allows user to upload any file as strategy
  packages/bot-web-ui/src/components/load-modal/local.jsx
  packages/bot-web-ui/src/stores/load-modal-store.js
Labels: Bot

#2753 Kseniya/No error message when Purchase > Rise block was removed
  packages/bot-skeleton/src/constants/config.js
Labels: Bot

#2813 suthesh/ignore-customersdk-testlink
  packages/core/src/Services/logout.js
  packages/shared/src/utils/config/config.js
Labels: Core, Shared

#2897 Akmal / Fixed minor issues in UK sign up
  packages/account/src/Components/terms-of-use/terms-of-use-messages.jsx
  packages/core/src/App/Containers/AccountTypesModal/account-types-modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/dashboard/src/components/pages/platforms/dmt5_synthetic/dmt5-synthetic.tsx
Labels: Account, Core, Dashboard

#2839 Shayan / Fix Deriv console error
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.jsx
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/allow-equals.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Components, Trader

#2882 suthesh/pushwoosh-double-subscription
  packages/core/src/Stores/pushwoosh-store.js
Labels: Core

#2700 khalid/external-link-modal-for-mobile
  packages/core/src/App/Components/Elements/Modals/RedirectNotice/redirect-notice-modal.jsx
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
Labels: Core

#2903 zaki / fix_pw_woes
  packages/components/src/components/password-input/password-input.jsx
  packages/components/src/components/password-input/password-input.scss
Labels: Components

#2895 Nijil/DBot - Fix duplicate journal entry
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-web-ui/src/stores/transactions-store.js
Labels: Bot

#2883 Shayan / upgrade Smartchart to version 0.3.16
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
Labels: Bot, Core, Trader

#2805 suthesh/sitemap-indexing
  packages/core/src/root_files/robots.txt
Labels: Core

#2913 Update deriv app translations
  packages/translations/crowdin/messages.json
  packages/translations/scripts/extract-string.js
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2904 Bala/fix mt5 carousel style issues
  packages/components/src/components/carousel/carousel-nav.jsx
  packages/components/src/components/carousel/carousel.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Components, Trader

#2915 Adjust auto-refresh threshold and check for proper SW
  packages/core/src/Utils/pwa/register-service-worker.js
Labels: Core

#2918 amam/fix_push_woosh
  packages/core/build/config.js
  packages/core/build/webpack.config.js
  packages/core/src/import-pushwoosh.js
Labels: Core

#2922 Revert "amam/fix_push_woosh"
  packages/core/build/config.js
  packages/core/build/webpack.config.js
  packages/core/src/import-pushwoosh.js
Labels: Core

#2924 reza-amam/fix_sw
  packages/core/src/Utils/pwa/register-service-worker.js
Labels: Core

#2916 carol/ DTrader: Remove copy icon for non-crypto desc in statements
  packages/components/src/components/data-list/data-list-row.jsx
  packages/components/src/components/data-table/table-row-info.jsx
Labels: Components

#2925 translations: 📚 sync translations with crowdin
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2880 Bump @deriv/api-types from 1.0.19 to 1.0.24
  packages/dashboard/package-lock.json
  packages/dashboard/package.json
Labels: Dashboard

#2928 Bala/fix copy blockchain hash in statement report
  packages/components/src/components/clipboard/clipboard.jsx
  packages/components/src/components/data-list/data-list-row.jsx
  packages/components/src/components/data-table/table-row-info.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/sass/app/modules/reports.scss
Labels: Components, Trader
