Repository deriv-com/deriv-app, pull requests merged in 2021-09, with the labels that each got.

#3831 amam/modify check and set endpoint from url to accept staging and production
  packages/shared/src/utils/config/config.js
Labels: Shared

#3838 Revert "yashim/feat: hide headers for account + cashier when opened in mobile app"
  packages/account/src/Components/Routes/route-with-sub-routes.jsx
  packages/account/src/Containers/account.jsx
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/cashier/src/Containers/cashier.jsx
  packages/components/src/components/page-overlay/page-overlay.jsx
  packages/components/src/components/vertical-tab/vertical-tab.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/app.js
  packages/core/src/Stores/common-store.js
  packages/core/src/sass/app/_common/layout/header.scss
  packages/shared/src/utils/config/platform-config.js
  packages/shared/src/utils/route/route.js
Labels: Core, Shared, Components, Account

#3845 amam/test_mobile_endpoint
  packages/core/src/App/app.js
  packages/core/src/App/app.jsx
  packages/shared/src/utils/config/config.js
Labels: Core, Shared

#3843 amam/fix_translation_checkout
  .github/workflows/push_and_pull_crowdin_translations.yml
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Labels: Core

#3848 translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#3836 Bala/Fix cfd platform issues
  packages/account/src/Components/reset-trading-password-modal/reset-trading-password-modal.jsx
  packages/account/src/Components/sent-email-modal/sent-email-modal.jsx
  packages/components/src/components/dialog/dialog.jsx
  packages/components/src/components/send-email-template/send-email-template.scss
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.jsx
  packages/trader/src/sass/app/modules/mt5/cfd.scss
Labels: Trader, Components, Account

#3720 Mehrzad/ update popover position
  packages/core/src/App/Components/Layout/Header/account-info.jsx
Labels: Core

#3827 MaryiaF/fix: copying the extra text on Reports - Statement with the t…
  packages/trader/src/Modules/Reports/Containers/statement.jsx
Labels: Trader

#3770 Hubert / Fixing description that is getting trimmed in statement overview
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader, Core, Components

#3738 Maryia/Fixed POA alignment in mobile version
  packages/account/src/Components/poa-verified/verified.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#3807 Henadzi/feat: add total to profit/loss
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
Labels: Bot

#3812 Akmal / Remove extra redirect
  packages/account/src/Containers/account.jsx
Labels: Account

#3734 Ali / Poi bugfix on creating MT5 STP account
  packages/shared/src/utils/validation/declarative-validation-rules.js
  packages/trader/src/Modules/CFD/Components/cfd-poa.jsx
Labels: Trader, Core, Shared, Components

#3777 Artsem / add account form subtitle color fix
  packages/core/src/sass/details-form.scss
Labels: Core

#3674 Maryia/added dynamic height measurer to DataTable
  packages/account/src/Sections/Security/ConnectedApps/connected-apps.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/data-table/data-table.jsx
Labels: Components, Account

#3830 Akmal / Fixed mobile validation on financial assessment
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
Labels: Account

#3825 Maryia/Redirecting to a specific Help Centre article when account is invalid
  packages/core/src/App/Containers/RealAccountSignup/signup-error-content.jsx
  packages/shared/src/utils/url/__tests__/url.js
  packages/shared/src/utils/url/url.js
Labels: Core, Shared

#3792 Maryia/Increased max mobile width to include any mobile device
  packages/shared/src/utils/screen/responsive.js
Labels: Shared

#3763 Hubert / Adding validation for tax identification number input
  packages/account/src/Configs/personal-details-config.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/shared/src/utils/validation/declarative-validation-rules.js
Labels: Trader, Core, Shared, Account

#3778 Hubert / Popup timer doesn't resume after changing pages, instead resets.
  packages/components/src/components/linear-progress/linear-progress-container.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
Labels: Trader, Core, Components

#3816 Maryia/Prevented deposit lock if docs resubmission is allowed for previously authenticated accounts
  packages/core/src/Stores/client-store.js
Labels: Core

#3768 MaryiaF/fix: styles of financial assessment of modal window input text
  packages/account/src/Styles/account.scss
  packages/components/src/components/dropdown/display-text.jsx
  packages/components/src/components/dropdown/dropdown.scss
Labels: Components, Account

#3772 nikolai/replace example imgs with blocks
  packages/bot-skeleton/src/assets/images/break_out.png
  packages/bot-skeleton/src/assets/images/candle_list.png
  packages/bot-skeleton/src/assets/images/candle_list_1.png
  packages/bot-skeleton/src/assets/images/check_result.png
  packages/bot-skeleton/src/assets/images/compare_logic.png
  packages/bot-skeleton/src/assets/images/constrain.png
  packages/bot-skeleton/src/assets/images/continue.png
  packages/bot-skeleton/src/assets/images/controls_for.png
  packages/bot-skeleton/src/assets/images/controls_forEach.png
  packages/bot-skeleton/src/assets/images/controls_if.png
  packages/bot-skeleton/src/assets/images/epoch.png
  packages/bot-skeleton/src/assets/images/get_candle.png
  packages/bot-skeleton/src/assets/images/if-return.png
  packages/bot-skeleton/src/assets/images/in_candle_list_read.png
  packages/bot-skeleton/src/assets/images/notify_telegram.png
  packages/bot-skeleton/src/assets/images/read_candle_value.png
  packages/bot-skeleton/src/assets/images/repeat_until.png
  packages/bot-skeleton/src/assets/images/repeat_while.png
  packages/bot-skeleton/src/assets/images/sell_available.png
  packages/bot-skeleton/src/assets/images/sell_pl.png
  packages/bot-skeleton/src/assets/images/sma_array.png
  packages/bot-skeleton/src/assets/images/sma_block_example.png
  packages/bot-skeleton/src/assets/images/sma_block_example_1.png
  packages/bot-skeleton/src/assets/images/todatetime.png
  packages/bot-skeleton/src/assets/images/totimestamp.png
  packages/bot-skeleton/src/assets/images/trade_again.png
  packages/bot-skeleton/src/scratch/help-content/help-content.config.js
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-help-base.jsx
  packages/bot-web-ui/src/components/toolbox/toolbox-items.jsx
  packages/bot-web-ui/src/stores/flyout-help-store.js
  packages/bot-web-ui/src/stores/toolbox-store.js
Labels: Bot

#3540 Hubert / Selecting a market type from menu, does not scroll to the correct market on mobile
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/trader/src/Modules/CFD/Components/cfd-account-card.jsx
Labels: Trader, Core, Components

#3814 carol/ FA redirect to app
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/shared/src/utils/config/platform-config.js
Labels: Shared, Account

#3735 farrah/ crypto transfer page
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/cashier/src/Components/Form/crypto-fiat-converter.jsx
  packages/cashier/src/Components/Receipt/account-transfer-receipt.jsx
  packages/cashier/src/Components/percentage-selector/percentage-selector.jsx
  packages/cashier/src/Components/percentage-selector/percentage-selector.scss
  packages/cashier/src/Containers/account-transfer.jsx
  packages/cashier/src/Sass/account-transfer.scss
  packages/cashier/src/Sass/cashier.scss
  packages/cashier/src/Sass/recent-transaction.scss
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/components/src/components/vertical-tab/vertical-tab.scss
Labels: Core, Bot, Components, Docs, Account

#3878 amam/revert_set_endpoint_staging_production
  packages/shared/src/utils/config/config.js
Labels: Shared

#3727 bahar/crypto_withdraw
  packages/cashier/src/Components/Email/send-email.jsx
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/cashier/src/Components/Form/crypto-fiat-converter.jsx
  packages/cashier/src/Components/Form/crypto-withdraw-form.jsx
  packages/cashier/src/Components/Receipt/account-transfer-receipt.jsx
  packages/cashier/src/Components/Receipt/crypto-withdraw-receipt.jsx
  packages/cashier/src/Components/error-dialog.jsx
  packages/cashier/src/Components/percentage-selector/percentage-selector.jsx
  packages/cashier/src/Components/percentage-selector/percentage-selector.scss
  packages/cashier/src/Containers/cashier.jsx
  packages/cashier/src/Containers/withdrawal.jsx
  packages/cashier/src/Sass/account-transfer.scss
  packages/cashier/src/Sass/cashier.scss
  packages/cashier/src/Sass/withdraw.scss
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/cashier/src/Stores/error-dialog-store.js
  packages/components/src/components/clipboard/clipboard.jsx
  packages/components/src/components/icon/cashier/ic-cashier-clipboard.svg
  packages/components/src/components/icon/cashier/ic-cashier-withdraw-wallet.svg
  packages/components/src/components/icon/common/ic-circle-dynamic-color.svg
  packages/components/src/components/icon/icon.jsx
  packages/components/src/components/icon/icon.scss
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/_common/base/socket_base.js
Labels: Core, Bot, Components, Account

#3882 Bala/remeasure statement row height
  packages/components/src/components/data-list/data-list-row.jsx
  packages/components/src/components/data-list/data-list.jsx
  packages/components/src/components/data-list/data-list.scss
  packages/components/src/components/data-table/data-table.jsx
  packages/components/src/components/data-table/table-row-info.jsx
  packages/components/src/components/data-table/table-row.jsx
  packages/trader/src/Modules/Reports/Containers/statement.jsx
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader, Components

#3730 farrah/feat: crypto transactions history
  packages/cashier/src/Components/Form/crypto-transactions-history/crypto-transactions-cancel-modal.jsx
  packages/cashier/src/Components/Form/crypto-transactions-history/crypto-transactions-history.jsx
  packages/cashier/src/Components/Form/crypto-transactions-history/crypto-transactions-renderer.jsx
  packages/cashier/src/Components/Form/crypto-transactions-history/crypto-transactions-status-modal.jsx
  packages/cashier/src/Components/Form/crypto-transactions-history/index.js
  packages/cashier/src/Components/recent-transaction.jsx
  packages/cashier/src/Constants/transaction-status.js
  packages/cashier/src/Containers/cashier.jsx
  packages/cashier/src/Containers/deposit.jsx
  packages/cashier/src/Sass/crypto-transactions-history.scss
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/cashier/src/Stores/Cashier/transaction-history-store.js
  packages/components/src/components/icon/common/ic-chevron-left-bold.svg
  packages/components/src/components/icon/common/ic-cross-light.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/_common/base/socket_base.js
  packages/shared/src/utils/routes/routes.js
Labels: Core, Bot, Shared, Components, Account

#3884 Hubert / TNC button hotfix
  packages/account/src/Configs/personal-details-config.js
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
Labels: Core

#3887 bahar/crypto_cashier_integration
  packages/cashier/src/Components/Email/send-email.jsx
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/cashier/src/Components/Form/crypto-transactions-history/crypto-transactions-history.jsx
  packages/cashier/src/Components/Form/crypto-withdraw-form.jsx
  packages/cashier/src/Components/Receipt/crypto-withdraw-receipt.jsx
  packages/cashier/src/Containers/account-transfer.jsx
  packages/cashier/src/Containers/crypto-deposit.jsx
  packages/cashier/src/Containers/deposit.jsx
  packages/cashier/src/Containers/withdrawal.jsx
  packages/cashier/src/Sass/withdraw.scss
  packages/components/src/components/icon/cashier/ic-cashier-clipboard.svg
Labels: Components

#3897 Bala/Fix cashier reaction error
  packages/cashier/src/Components/Form/crypto-transactions-history/crypto-transactions-cancel-modal.jsx
  packages/cashier/src/Components/Form/crypto-transactions-history/crypto-transactions-renderer.jsx
  packages/cashier/src/Components/Form/crypto-transactions-history/crypto-transactions-status-modal.jsx
  packages/cashier/src/Components/recent-transaction.jsx
  packages/cashier/src/Constants/transaction-status.js
  packages/cashier/src/Sass/crypto-transactions-history.scss
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/cashier/src/Stores/Cashier/transaction-history-store.js
  packages/core/src/_common/base/socket_base.js
Labels: Core

#3911 Hojjat/handle SW registration update failure
  packages/core/src/Utils/pwa/register-service-worker.js
Labels: Core

#3955 mahdiyeh/Fix: disconnect trackJS
  packages/p2p/src/stores/sendbird-store.js
Labels: P2P

#3963 mamali/Fixing serving the icons in storybook
  packages/components/.storybook/webpack.config.js
Labels: Components

#3902 Matin/Fix: P2P notification to redirect to the correct deriv.com url
  packages/core/src/App/Components/Elements/NotificationMessage/notification-banner.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Core

#3962 Mahdi / Fixed chevron color of carousel in dark theme
  packages/components/src/components/icon/common/ic-chevron-left-bold-mt5.svg
  packages/components/src/components/icon/common/ic-chevron-right-bold-mt5.svg
Labels: Components

#3888 Matin/Clear purchase info on buy service error for mobile
  packages/core/src/Stores/common-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Core

#3885 Akmal / Resubscribe balances when account currency is changed
  packages/core/src/Services/socket-general.js
Labels: Core

#3877 Akmal / Fix validation on api token page
  packages/account/src/Components/api-token/api-token.jsx
Labels: Account

#3839 Maryia/Showing 'account opening unavailable' to users from restricted countries
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#3840 Hadi/Disable mandatory error for detached blocks
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/utils/index.js
Labels: Bot

#3903 Henadzi/Work with context menu
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
  packages/bot-skeleton/src/scratch/hooks/contextmenu.js
Labels: Bot

#3846 Mahdiyeh/ Fix: number of assets
  CNAME
  packages/trader/src/Modules/CFD/Components/cfd-demo-account-display.jsx
  packages/trader/src/Modules/CFD/Constants/cfd-specifications.js
  packages/trader/src/Modules/CFD/Containers/compare-accounts-modal.jsx
Labels: Trader

#3875 Nikita / On copy pasting valid password Add Account button is disabled
  packages/components/src/components/input/input.jsx
Labels: Components

#3956 Artsem / fix: min/max transfer validation for unlisted pa
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/core/src/_common/base/socket_base.js
Labels: Core

#3920 Mahdi / Fixed late account status update
  packages/trader/src/Stores/Modules/CFD/cfd-store.js
Labels: Trader

#3731 hojjat/show manage account when fiat account exist
  packages/account/src/Components/currency-selector/currency-selector.jsx
  packages/account/src/Components/currency-selector/radio-button-group.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.scss
  packages/core/src/Stores/client-store.js
Labels: Core, Account

#3883 Nikita/For EU clients, the validation_failed error still persists
  packages/account/src/Configs/address-details-config.js
Labels: Account

#3951 Matin/Fix: Increased sidebar z-index for trade types to overlap notification messages
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Labels: Trader, Core

#3810 Artsem / Create Ad Form error appearing prioritisation
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#3952 yashim/fix: poa form data should not be mutated on submit
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
Labels: Account

#3507 Nikita / Checkmark for the successful changing password pop up is not per design
  packages/components/src/components/icon/common/ic-success-reset-trading-password.svg
  packages/core/src/sass/app/modules/reset-password.scss
Labels: Core, Components

#4007 hojjat/fix create fiat account for mlt and mx and mf
  packages/account/src/Components/currency-selector/currency-selector.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.jsx
Labels: Core, Account

#4013 Mahdi / hotfix MT5 password modal glitch
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.jsx
  packages/trader/src/Stores/Modules/CFD/cfd-store.js
Labels: Trader

#4012 Nikita/Numbers are not allowed to enter in the city field.
  packages/account/src/Configs/address-details-config.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/core/src/Constants/form-error-messages.js
Labels: Core, Account

#3890 Henadzi/fix: add disabling of stop btn between the moment purchase sent and purchase resived.
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#3876 Matin/Website changes post DEL UKGC licence surrender
  packages/account/src/Components/self-exclusion/self-exclusion-article-content.jsx
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
Labels: Core, Account
