Repository deriv-com/deriv-app, pull requests merged in 2021-04, with the labels that each got.

#2945 translations: 📚 sync translations with crowdin
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/vi.json
Labels: Translations

#2943 yashim/updated maintenance notice message
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
Labels: Trader

#2905 carol/ DP2P: Reset form error message
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
Labels: P2P

#2932 yashim/fix: corrected the click region of footer links
  packages/core/src/App/Components/Elements/LiveChat/live-chat.jsx
  packages/core/src/App/Components/Layout/Footer/go-to-deriv.jsx
  packages/core/src/App/Components/Layout/Footer/help-centre.jsx
  packages/core/src/App/Components/Layout/Footer/responsible-trading.jsx
  packages/core/src/App/Components/Layout/Footer/toggle-fullscreen.jsx
  packages/core/src/App/Components/Layout/Footer/toggle-settings.jsx
Labels: Core

#2818 mitchell/Account switcher dmt5 accounts
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/sass/app/_common/components/account-switcher.scss
Labels: Core

#2775 bahar/no_error_message_when_mandatory_blocks_are_disabled
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/utils/index.js
Labels: Bot

#2931 Habib/suspected status issue [prod]
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Labels: Account, Core

#2714 mitchell/Bug #22602-fix some minor issues re styling image-icon was not properly aligned
  packages/trader/src/sass/app/modules/reports.scss
Labels: Account, Trader

#2655 Bala/clear portfolio on trader unmount
  packages/trader/src/App/Containers/Routes/routes.jsx
  packages/trader/src/App/Containers/trade-header-extensions.jsx
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#2840 Akmal / Fix: datepicker mobile disabled text color
  packages/components/src/components/date-picker/date-picker-native.jsx
  packages/components/src/components/date-picker/date-picker.scss
Labels: Components

#2741 daniil/function block text overflow
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
Labels: Bot

#2040 carol/Responsive Advertiser Page
  packages/components/src/components/tabs/tabs.jsx
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/components/themed-scrollbars/themed-scrollbars.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page-adverts.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page-stats.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
  packages/p2p/src/components/buy-sell/buy-sell-header.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header.scss
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/empty/empty.jsx
  packages/p2p/src/components/empty/empty.scss
  packages/p2p/src/components/misc/animation-wrapper.jsx
  packages/p2p/src/components/misc/animation-wrapper.scss
  packages/p2p/src/components/page-return/page-return.scss
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/index.js
  packages/p2p/src/utils/height_constants.js
Labels: Components, P2P, Shared

#2946 Bala/clear duration input fix
  packages/trader/src/Stores/Modules/Trading/Actions/duration.js
  packages/trader/src/Stores/Modules/Trading/Helpers/process.js
Labels: Trader

#2963 fix suspected status issue prod
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Labels: Account

#2966 Mehrzad /remove salutation for cr
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Account

#2967 translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#2974 Mehrzad / update svg bg dark mode
  packages/components/src/components/icon/common/ic-poa-verified-dashboard.svg
Labels: Components

#2980 Bala/get tracking data from url params during signup
  packages/core/src/Stores/Helpers/device.js
  packages/core/src/Stores/client-store.js
Labels: Core

#3001 Hojjat / fix: unfilter disabled values for citizenship
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/components/src/components/select-native/select-native.jsx
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
Labels: Account, Components, Trader

#2985 Mehrzad / chart initial loading problem
  packages/bot-web-ui/src/components/chart/chart.scss
  packages/bot-web-ui/src/components/main-content/main-content.jsx
Labels: Bot

#2970 Bala/fix forward starting regex pattern
  packages/shared/src/utils/shortcode/shortcode.js
Labels: Shared

#2972 Shayan / MDT5 account POI issue
  packages/trader/src/Modules/MT5/Components/mt5-poi.jsx
Labels: Trader

#2837 Hojjat|Khalid|Mamali / Trigger MT5 account creation BO
  packages/cashier/src/Components/Error/form-error.jsx
  packages/core/src/_common/base/socket_base.js
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-financial-stp-real-account-signup.jsx
Labels: Core, Trader

#2940 zaki / remove_account_signup_headers_mobile
  packages/account/src/Components/address-details/address-details.jsx
  packages/account/src/Components/currency-selector/currency-selector.jsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/terms-of-use/terms-of-use.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
Labels: Account, Core

#2927 bahar/data_collection_store_endpoint_error
  packages/bot-web-ui/src/stores/data-collection-store.js
Labels: Bot

#2996 Hojjat / fix: country modal title alignment
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
Labels: Core

#2986 mitchell/25646 flickering profit table
  packages/trader/src/Modules/Reports/Components/market-symbol-icon-row.jsx
Labels: Trader

#2773 mitchell/Disabled user selection of disabled countries in tax residence field
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/dropdown-list/dropdown-list.jsx
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
Labels: Account, Components, Trader

#2599 Akmal / Added dashboard routes & responsive sidebar
  packages/components/src/components/icon/common/ic-trade.svg
  packages/components/src/components/vertical-tab/vertical-tab-header-group.jsx
  packages/components/src/components/vertical-tab/vertical-tab-headers.jsx
  packages/components/src/components/vertical-tab/vertical-tab.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Components/Routes/binary-link.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Layout/header/dashboard-header.jsx
  packages/core/src/Modules/Dashboard/dashboard.jsx
  packages/core/src/sass/app/_common/layout/dashboard-header.scss
  packages/core/src/sass/app/_common/layout/header.scss
  packages/dashboard/src/components/pages/explore/explore.scss
  packages/dashboard/src/components/pages/home/home.scss
  packages/dashboard/src/components/pages/home/home.tsx
  packages/dashboard/src/components/temp-buttons/temp-buttons.scss
  packages/dashboard/src/constants/routes-config.ts
  packages/dashboard/src/stores/config-store.ts
  packages/dashboard/src/types/params.types.ts
  packages/dashboard/src/types/props.types.ts
  packages/shared/src/utils/routes/routes.js
Labels: Components, Core, Dashboard, Shared

#3021 translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#3005 🤟
  .github/CODEOWNERS
  packages/bot-skeleton/src/scratch/help-content/help-strings/notify_telegram.js
Labels: Account, Bot, Components, Core, Dashboard, Docs, EU, Mobile, Needs Review, P2P, Shared, Trader, Translations, dependencies

#3027 carol/ DP2P: Buy/Sell tab responsive hotfix
  packages/p2p/src/components/buy-sell/buy-sell.scss
Labels: P2P

#3036 Bala/Revert Disabled user selection of disabled countries in tax residence field
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/dropdown-list/dropdown-list.jsx
  packages/trader/src/Modules/MT5/Components/mt5-personal-details-form.jsx
Labels: Account, Components, Trader

#3040 translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#3046 Kevin/change financial arbiter url
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
Labels: Core

#2968 suthesh/rudderstack-analysis
  packages/core/src/Stores/rudderstack-store.js
  packages/core/src/index.html
Labels: Core

#3035 mahdi aryayi / Added Stock and indeces to info of finaincal table and card
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Trader

#3043 Ali(Ako)/ static contents convention added to readme file
  docs/JavaScript/README.md
Labels: Docs

#3042 carol/ DP2P: Fix Buy/Sell tab text + style
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
Labels: P2P

#3004 Mehrzad / update WS on change platform
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/core/src/Stores/common-store.js
Labels: Core, Shared

#3029 khalid/fix limit modal
  packages/bot-web-ui/src/components/self-exclusion/self-exclusion.jsx
Labels: Bot

#2994 suthesh/livechat-engagement
  packages/core/src/App/Components/Elements/LiveChat/live-chat.jsx
  packages/core/src/Services/logout.js
Labels: Core

#3002 Amir / Fix: Some hidden text behind the cant change fiat currency banner
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/change-account-currency.jsx
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
Labels: Core

#2998 Amir/ fix: Message appears in split second in POI page for MX
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Labels: Account

#3032 Mehrzad / update send email template dashboard
  packages/components/src/components/send-email-template/send-email-template.scss
Labels: Components

#2999 hubert/ wrongly declared prop in api-token-table
  packages/account/src/Components/api-token/api-token-table.jsx
Labels: Account, Bot, Components, Core

#3028 Mehrzad / update DBot stake message error
  packages/bot-skeleton/src/constants/messages.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-skeleton/src/services/tradeEngine/utils/sanitize.js
Labels: Bot

#2794 daniil/russian label alignment
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.jsx
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.scss
  packages/components/src/components/input/input.scss
  packages/shared/src/index.js
  packages/shared/src/utils/browser/browser_detect.js
  packages/shared/src/utils/browser/index.js
Labels: Bot, Components, Dashboard, Shared

#2989 Amir / Fix scroll on TNC section of account wizard modal
  packages/account/src/Components/terms-of-use/terms-of-use.jsx
  packages/account/src/Components/terms-of-use/terms-of-use.scss
  packages/components/src/components/form-cancel-button/form-cancel-button.scss
  packages/components/src/components/form-submit-button/form-submit-button.scss
Labels: Account, Components

#2971 Kseniya/Instruction field in P2P Ad Template accepts too many empty line spaces
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/order-details/order-details.jsx
Labels: P2P

#2988 khalid/converted h tags to Text component
  packages/bot-web-ui/src/components/flyout/flyout.jsx
  packages/bot-web-ui/src/components/flyout/flyout.scss
  packages/bot-web-ui/src/components/journal/journal.jsx
  packages/bot-web-ui/src/components/journal/journal.scss
  packages/bot-web-ui/src/components/transactions/transactions.jsx
  packages/bot-web-ui/src/components/transactions/transactions.scss
  packages/shared/src/styles/themes.scss
Labels: Bot, Dashboard, Shared

#3069 translations: 📚 sync translations with crowdin
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#3076 suthesh/rudderstack-hotfix
  packages/core/src/Stores/rudderstack-store.js
  packages/core/src/index.html
Labels: Core

#2991 Ali (Ako)/ Fix manage account text overlap
  packages/components/src/components/mobile-dialog/mobile-dialog.scss
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/change-account-currency.jsx
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
Labels: Components, Core

#3077 carol/ Account: Fix terms of use style (Hotfix)
  packages/account/src/Components/terms-of-use/terms-of-use.scss
Labels: Account, Dashboard

#3087 translations: 📚 sync translations with crowdin
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#3092 khalid/Hide smartTrader for Australia
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/utility.js
Labels: Core

#3081 Hojjat / fix: mt5 financial stp when tin is not required
  packages/core/src/Stores/client-store.js
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
Labels: Core, Trader

#3084 mahdiyeh/fix:place_of_birth_dropdown_for_restricted_countries_in_mobile
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Account

#3082 Kseniya/[Safari] Page not scrollable once clicked on My Profile
  packages/p2p/src/components/my-profile/my-profile-form/my-profile-form.scss
Labels: P2P

#3073 nikolai/Outdated message removal
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
Labels: Bot

#3045 carol/ DP2P: Fix responsive Buy/Sell modal
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell-modal.scss
Labels: P2P

#3074 daniil/Filter alignment
  packages/bot-web-ui/src/components/journal/journal.scss
Labels: Bot

#3071 nikolai/ input limitation added
  packages/bot-skeleton/src/scratch/blocks/Math/math_number.js
Labels: Bot

#3106 mahdiyeh/fix: change choosing currency info message
  packages/account/src/Components/currency-selector/radio-button-group.jsx
Labels: Account

#3048 daniil/ Trackjs.js error - Cannot read property 'hasRedoStack' of undefined
  packages/bot-web-ui/src/stores/toolbar-store.js
Labels: Bot

#3078 Sara / Fixed issue with markest for CR countries
  packages/core/src/Stores/client-store.js
Labels: Core

#3047 bahar/shadows_appear_in_transaction_tab_when_bot_is_not_running
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/summary-card-store.js
Labels: Bot

#3044 zaki / fix_p2p_notification_banner_design_issues
  packages/core/src/App/Components/Elements/NotificationMessage/notification-banner.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/sass/app/_common/components/notification-banner.scss
Labels: Core

#3090 Bala/update trade picker duration when the duration is changed in trade store
  packages/components/src/components/date-picker/date-picker.jsx
  packages/trader/src/Modules/Trading/Components/Form/DatePicker/trading-date-picker.jsx
Labels: Components, Trader

#3085 Sara / Fixed issue with CSS broken in mt5 password
  packages/account/src/Components/icon-message-list/icon-message-list.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
Labels: Account, Trader

#2993 Kseniya/Alignment Issue- Buy/sell tab and Orders Tab in Spanish language
  packages/components/src/components/tabs/tab.jsx
  packages/components/src/components/tabs/tabs.jsx
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/components/themed-scrollbars/themed-scrollbars.scss
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/orders/orders.scss
Labels: Components, P2P

#2736 Hojjat / change address validation message
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Configs/address-details-config.js
  packages/components/src/components/input/input.scss
  packages/core/src/Constants/form-error-messages.js
Labels: Account, Components, Core

#2936 yashim/fixed change password instant redirect
  packages/account/src/Sections/Security/DerivPassword/change-password-form.jsx
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/core/src/App/Containers/RedirectToLoginModal/redirect-to-login-modal.jsx
  packages/shared/src/utils/login/login.js
Labels: Account, Core, Shared

#2975 Kseniya/Safari - No spacing between fields
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell-modal.scss
Labels: P2P

#3136 translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3137 Mehrzad / restrict au account
  packages/bot-web-ui/src/stores/app-store.js
Labels: Bot

#3113 Habib/update url redirection deriv
  packages/core/src/App/Components/Elements/LiveChat/live-chat.jsx
  packages/core/src/App/Components/Layout/Footer/go-to-deriv.jsx
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/root_files/localstorage-sync.html
  packages/shared/src/utils/config/config.js
  packages/shared/src/utils/login/login.js
  packages/shared/src/utils/storage/storage.js
  packages/shared/src/utils/url/constants.js
Labels: Core, Shared

#3149 translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
Labels: P2P, Translations
