Repository deriv-com/deriv-app, pull requests merged in 2021-05, with the labels that each got.

#3128 aaron+carol/P2P: Direct user to FA rather than CS (High risk/No FA)
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/components/src/components/input/input.jsx
  packages/components/src/components/mobile-full-page-modal/mobile-full-page-modal.jsx
  packages/components/src/hooks/index.js
  packages/components/src/hooks/use-safe-state.js
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/dp2p-blocked/dp2p-blocked-checklist.jsx
  packages/p2p/src/components/dp2p-blocked/dp2p-blocked-description.jsx
  packages/p2p/src/components/dp2p-blocked/dp2p-blocked.jsx
  packages/p2p/src/components/dp2p-blocked/dp2p-blocked.scss
  packages/p2p/src/components/dp2p-blocked/index.js
  packages/p2p/src/components/nickname-form/index.js
  packages/p2p/src/components/nickname-form/nickname-form-wrapper.jsx
  packages/p2p/src/components/nickname-form/nickname-form.jsx
  packages/p2p/src/components/nickname-form/nickname-form.scss
  packages/p2p/src/components/order-details/order-details-complain-modal.jsx
  packages/p2p/src/components/order-details/order-details-wrapper.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/orders/popup.jsx
  packages/p2p/src/components/temporarily-barred-hint/index.js
  packages/p2p/src/components/temporarily-barred-hint/temporarily-barred-hint.jsx
  packages/p2p/src/components/temporarily-barred-hint/temporarily-barred-hint.scss
  packages/p2p/src/components/unsupported-account/index.js
  packages/p2p/src/components/unsupported-account/unsupported-account.jsx
  packages/p2p/src/components/unsupported-account/unsupported-account.scss
  packages/p2p/src/components/verification/verification.jsx
  packages/p2p/src/components/verification/verification.scss
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/sendbird-store.js
Labels: Account, Components, P2P

#3163 Remove cashier onboarding for eu prod
  packages/cashier/src/Components/CashierDefault/cashier-default.jsx
  packages/cashier/src/Containers/cashier.jsx
  packages/cashier/src/Containers/deposit.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#3157 bahar/remove_cashier_onboarding_for_eu
  packages/cashier/src/Components/CashierDefault/cashier-default.jsx
  packages/cashier/src/Containers/cashier.jsx
  packages/cashier/src/Containers/deposit.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#3147 Hubert/ Missing message for withdrawal limits for authenticated accounts
  packages/account/src/Components/account-limits/account-limits.jsx
Labels: Account

#3097 Hubert/ Account details highlighted in grey
  packages/components/src/components/date-picker/date-picker.scss
  packages/components/src/components/form-submit-button/form-submit-button.scss
  packages/components/src/components/input/input.scss
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/details-form.scss
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Components, Core, Trader

#3156 Kseniya/DP2P - Back arrow icon on the order details page is not vertically centered
  packages/p2p/src/components/page-return/page-return.scss
Labels: P2P

#3145 fix: make consistent modal width for different browsers
  packages/p2p/src/components/nickname-form/nickname-form-wrapper.jsx
Labels: P2P

#3050 mahdiyeh/fix_birth_input_color_in_dark_theme_of_mobile
  packages/components/src/components/date-picker/date-picker-native.jsx
Labels: Components

#2759 bahar/not_available_error_for_some_of_the_blocks_value
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.jsx
  packages/bot-web-ui/src/stores/quick-strategy-store.js
Labels: Bot

#3105 Ali(Ako)/ End to end test refactor
  e2e_tests/src/__tests__/trader/contract_purchase.test.js
  e2e_tests/src/objects/common.js
  e2e_tests/src/objects/trader.js
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/carousel/carousel-nav.jsx
  packages/components/src/components/input/input.jsx
  packages/components/src/components/password-input/password-input.jsx
  packages/components/src/components/select-native/select-native.jsx
  packages/core/src/App/Components/Elements/CookieBanner/cookie-banner.jsx
  packages/core/src/App/Components/Layout/Header/account-info.jsx
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-modal.jsx
Labels: Components, Core

#2992 Mehrzad / update account limits and forget password
  packages/account/src/Components/account-limits/account-limits.jsx
  packages/account/src/Components/demo-message/demo-message.jsx
  packages/account/src/Components/icon-with-message/icon-with-message.jsx
  packages/account/src/Components/icon-with-message/icon-with-message.scss
  packages/account/src/Components/self-exclusion/self-exclusion.jsx
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/icon/common/ic-poa-lock-demo.svg
Labels: Account, Components, Dashboard

#3188 Habib/add 'deriv.me url support'
  packages/shared/src/utils/url/constants.js
Labels: Shared

#3162 Habib/update url redirection deriv
  packages/shared/src/utils/url/constants.js
Labels: Core, Shared

#3079 Bala/handle both gaming and synthetic as market type
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/cashier/src/Stores/Cashier/cashier-store.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/mt5/mt5.js
  packages/trader/src/Modules/MT5/Containers/mt5-password-modal.jsx
Labels: Core, Shared, Trader

#3143 Hubert/ adding localize function to translate copy key text
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
Labels: Account

#3194 translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3196 amam/fix_production_domain_plus_refactor_appids
  packages/shared/src/utils/config/config.js
Labels: Shared

#3197 amam/fix_domain_regex
  packages/shared/src/utils/config/config.js
Labels: Shared

#3203 Bala/fix mt5 synthetic add button
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#3206 Bump @deriv/api-types from 1.0.24 to 1.0.36
  packages/dashboard/package-lock.json
  packages/dashboard/package.json
Labels: Dashboard

#3205 translations: 📚 sync translations with crowdin
  packages/translations/src/translations/es.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#3202 carol/ DP2P + Account: FA Submission page hotfix
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/components/src/components/tabs/tabs.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/stores/my-profile-store.js
  packages/p2p/src/stores/order-store.js
Labels: Account, Components, P2P

#3214 translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/ru.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/pt.json
Labels: P2P, Translations

#3215 translate: download jsons
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/vi.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/th.json
Labels: P2P, Translations

#3209 bahar/remove_cashier_onboarding
  packages/cashier/src/Containers/cashier.jsx
  packages/cashier/src/Containers/deposit.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#3219 Nikolai/feat: make EMA inputs shadow
  packages/bot-web-ui/src/components/toolbox/toolbox-items.jsx
Labels: Bot

#3160 suthesh/translation-fix
  packages/core/src/App/Components/Layout/Footer/go-to-deriv.jsx
Labels: Core

#3187 farrah/ Change Agree and Accept in self exclusion page
  packages/account/src/Components/self-exclusion/self-exclusion-confirm-page.jsx
Labels: Account

#3193 Prince/ P2P tab loading issue
  packages/p2p/src/stores/general-store.js
Labels: P2P

#3140 Prince/Compare accounts button
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
Labels: Trader

#3088 Prince/ Fixed Confirm Leave X Button
  packages/account/src/Components/leave-confirm/leave-confirm.jsx
Labels: Account

#3019 khalid/Account switcher count
  packages/components/src/components/content-expander/content-expander.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Bot, Components, Core, P2P, Shared, Translations

#3171 Ako/ padding bottom of cashier left side tab fixed
  packages/components/src/components/vertical-tab/vertical-tab.scss
Labels: Components

#3220 farrah/Modify char limit in deactivate account
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
Labels: Account

#3189 farrah/Fix overlapping text and button in notification for RU language
  packages/core/src/sass/app/_common/components/app-notification-message.scss
Labels: Core

#3222 farrah/Fix add or manage account modal text and alignment
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/sass/add-or-manage.scss
Labels: Core

#3112 daniil/info icon overlap
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.jsx
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.scss
  packages/components/src/components/input/input.jsx
Labels: Bot, Components

#3248 translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/es.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3255 bahar/quick_strategy_openning_console_error
  packages/bot-web-ui/src/stores/quick-strategy-store.js
Labels: Bot

#3264 fix: handle bot appid
  packages/shared/src/utils/config/config.js
Labels: Shared

#3263 fix: handle bot appid
  packages/shared/src/utils/config/config.js
Labels: Shared

#3265 translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/it.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3260 zaki / fix_missing_popover_transition
  packages/account/src/Components/account-limits/account-limits-extra-info.jsx
  packages/components/src/components/popover/popover.jsx
  packages/components/src/components/popover/popover.scss
Labels: Account, Components

#3167 Ako/ Jest todo added for personal details form
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Account

#3269 bahar/updating_banxa_logo
  packages/components/src/components/icon/cashier/ic-cashier-banxa-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-banxa-light.svg
Labels: Components

#3271 Hubert / Fixing real account creation errors on mobile in different languages
  packages/account/src/Components/financial-details/financial-details-partials.jsx
  packages/account/src/Components/personal-details/personal-details.jsx
Labels: Account

#3253 mahdiyeh/fix: gmt_time_popover
  packages/core/src/App/Containers/server-time.jsx
  packages/shared/src/utils/date/date-time.js
Labels: Core, Shared

#3266 Hojjat / fix: update postal code error message
  packages/core/src/Constants/form-error-messages.js
Labels: Core

#3154 nikolai/Function block label readability
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
Labels: Bot

#3256 Akmal / Deriv Onboarding Tour component
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/guide-tour/guide-tour.jsx
  packages/components/src/components/guide-tour/guide-tour.scss
  packages/components/src/components/guide-tour/index.js
  packages/components/src/index.js
  packages/components/stories/guide-tour/README.md
  packages/components/stories/guide-tour/guide-tour.stories.js
  packages/components/stories/guide-tour/guide-tour.stories.scss
Labels: Components, Docs

#3148 Hubert/ Removed conflicting style tags
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/sass/app/modules/mt5/mt5-dashboard.scss
Labels: Trader

#2969 Sara / Fixed issue with iphone x landscape mode
  packages/core/src/App/app.jsx
  packages/shared/src/utils/screen/responsive.js
Labels: Core, Dashboard, Shared

#3110 carol/ DP2P: Cancellations remaining
  packages/p2p/src/components/buy-sell/buy-sell-form-receive-amount.jsx
  packages/p2p/src/components/my-profile/my-profile-form/my-profile-form.jsx
  packages/p2p/src/components/order-details/order-details-cancel-modal.jsx
  packages/p2p/src/components/order-details/order-details-cancel-modal.scss
  packages/p2p/src/components/order-details/order-details-footer.jsx
  packages/p2p/src/stores/order-store.js
Labels: P2P

#3031 Sean/fix: poi poa CTA button margins
  packages/account/src/Components/poa-continue-trading-button/continue-trading-button.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#3230 mitchell/removed redundant message
  packages/trader/src/Modules/MT5/Containers/mt5-password-manager-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-reset-password-modal.jsx
Labels: Trader

#3003 yashim/feat: add useLiveDocumentCapture to onfido verification
  packages/account/package-lock.json
  packages/account/package.json
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Styles/account.scss
  packages/bot-skeleton/package-lock.json
  packages/bot-web-ui/package-lock.json
  packages/cashier/package-lock.json
  packages/components/package-lock.json
  packages/core/package-lock.json
  packages/dashboard/package-lock.json
  packages/indicators/package-lock.json
  packages/p2p/package-lock.json
  packages/shared/package-lock.json
  packages/trader/package-lock.json
  packages/translations/package-lock.json
Labels: Account, Bot, Components, Core, Dashboard, P2P, Shared, Trader, Translations

#3153 Hubert/ Chat function shows undefined in name input
  packages/core/src/App/Components/Elements/LiveChat/live-chat.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#3305 Matin/Unlink modal bug fix
  packages/account/src/Sections/Security/Passwords/deriv-password.jsx
  packages/core/src/App/Containers/ResetTradingPasswordModal/reset-trading-password-modal.jsx
  packages/core/src/Services/socket-general.js
  packages/core/src/sass/app/modules/reset-password.scss
  packages/trader/src/Modules/MT5/Containers/mt5-reset-password-modal.jsx
  packages/trader/src/sass/app/modules/mt5/mt5.scss
Labels: Account, Core, Trader

#3311 translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/vi.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3324 bahar/cashier_does_not_load_because_of_tnc_prod
  packages/cashier/src/Containers/cashier.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#3317 bahar/cashier_does_not_load_because_of_tnc
  packages/cashier/src/Containers/cashier.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#3323 Matin/Added loading to passwords page
  packages/account/src/Sections/Security/Passwords/deriv-password.jsx
  packages/account/src/Sections/Security/Passwords/passwords.jsx
  packages/account/src/Sections/Security/Passwords/trading-password.jsx
Labels: Account

#3306 Hojjat/ fix: make account limits link in footer fully clickable
  packages/core/src/App/Components/Layout/Footer/account-limits.jsx
Labels: Core

#3301 carol/ DP2P: High risk + no FA should prompt FA
  packages/p2p/src/stores/general-store.js
Labels: P2P

#3283 carol/DP2P: Fix Complain modal + Buy/Sell header
  packages/p2p/src/components/buy-sell/buy-sell-header.scss
  packages/p2p/src/components/misc/animation-wrapper.scss
  packages/p2p/src/components/order-details/order-details-complain-modal.jsx
  packages/p2p/src/components/order-details/order-details-complain-modal.scss
  packages/p2p/src/components/orders/orders.scss
Labels: P2P

#3292 farrah/fix broken crypto tab in manage account
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/sass/add-or-manage.scss
Labels: Core

#3277 Hubert / Fixing validation message for too long password.
  packages/account/src/Sections/Security/DerivPassword/change-password-form.jsx
  packages/components/src/components/password-input/password-input.scss
Labels: Account, Components

#3315 Sara / Fixed issue with account modal title
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#3300 Hojjat/fix: center password modal title
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
Labels: Core

#3261 Mikita / changed color for Text which is not visible when highlighted in Dark mode
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/cashier/src/Sass/cashier.scss
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/input/input.jsx
  packages/components/src/components/select-native/select-native.jsx
Labels: Components

#3201 Suthesh/be-language
  packages/core/src/App/Containers/SettingsModal/settings-language.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Utils/Language/language.js
Labels: Core

#3298 Kseniya/Reordering elements inside the Text block
  packages/bot-skeleton/src/scratch/blocks/Text/text_join.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_statement.js
Labels: Bot

#3274 daniil/ block detach button
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
  packages/bot-skeleton/src/scratch/hooks/contextmenu.js
Labels: Bot

#3313 Nikita/Trackjs error - Cannot read property 'style' of null
  packages/bot-skeleton/src/scratch/hooks/tooltip.js
Labels: Bot

#3075 Sara / Fixed issue with MF accounts after sign up
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#3314 Shayan / close the chat by user logout
  packages/core/src/Services/logout.js
Labels: Core

#2973 Sean/feat(account-closure): add pending withdrawals as a third reason for disallowing account closures
  packages/account/src/Sections/Security/DeactivateAccount/account-has-balance.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#3345 translations: 📚 sync translations with crowdin
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: P2P, Translations

#3270 Mahdi Aryayi / Updated specs of financial MT5 accounts for Australian users
  packages/trader/src/Modules/MT5/Components/mt5-demo-account-display.jsx
  packages/trader/src/Modules/MT5/Components/mt5-real-account-display.jsx
  packages/trader/src/Modules/MT5/Constants/mt5-specifications.js
  packages/trader/src/Modules/MT5/Containers/mt5-compare-accounts-modal.jsx
  packages/trader/src/Modules/MT5/Containers/mt5-dashboard.jsx
Labels: Trader
