Repository deriv-com/deriv-app, pull requests merged in 2022-03, with the labels that each got.

#4893 george / add tests for CryptoDeposit component
  packages/cashier/src/Containers/__tests__/crypto-deposit.spec.js
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/items.jsx
Labels: Components

#4956 carol/ P2P: Missing PM name (Hotfix)
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
Labels: P2P

#4955 carol/ P2P: Deleted payment method is sent (hotfix)
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
Labels: P2P

#4706 Hirad/Cfd reset password modal js to ts
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-reset-password-modal.tsx
  packages/trader/src/Modules/CFD/Containers/props.types.ts
Labels: Trader

#4970 Chore: Added NIN option in IDV dropdown for Nigerian clients
  packages/account/src/Components/poi-idv-document-submit/poi-idv-document-submit.jsx
Labels: Account

#4978 carol/ P2P: Payment info issue
  packages/p2p/src/stores/buy-sell-store.js
Labels: P2P

#4894 Maryia/TrackJS_Avoiding_Pushwoosh_Failed_to_fetch_error
  packages/core/src/Stores/pushwoosh-store.js
Labels: Core

#5000 NJ/Feat: Added product card component for Appstore
  packages/appstore/src/components/product-card/index.ts
  packages/appstore/src/components/product-card/product-card.scss
  packages/appstore/src/components/product-card/product-card.tsx
  packages/components/src/components/icon/appstore/ic-appstore-cfds-trade-type.svg
  packages/components/src/components/icon/appstore/ic-appstore-checked-transparent.svg
  packages/components/src/components/icon/appstore/ic-appstore-checked.svg
  packages/components/src/components/icon/appstore/ic-appstore-multipliers-trade-type.svg
  packages/components/src/components/icon/appstore/ic-appstore-option-trade-type.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/public/images/common/static_images/appstore/appstore_cfds_trade_type_bg.png
  packages/core/src/public/images/common/static_images/appstore/appstore_multipliers_trade_type_bg.png
  packages/core/src/public/images/common/static_images/appstore/appstore_options_trade_type_bg.png
Labels: Core, Components, AppStore

#4989 salar / Hotfix/multiplier eu
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_multiplier.js
  packages/bot-web-ui/src/app/app.jsx
  packages/bot-web-ui/src/stores/app-store.js
  packages/cashier/src/_common/utility.js
  packages/core/src/_common/utility.js
  packages/shared/src/utils/digital-options/digital-options.js
  packages/shared/src/utils/location/location.js
Labels: Core, Bot, Shared

#5002 bahar/Create wallet component appstore
  packages/appstore/src/components/create-wallet/create-wallet-details.tsx
  packages/appstore/src/components/create-wallet/create-wallet-provider.ts
  packages/appstore/src/components/create-wallet/create-wallet.scss
  packages/appstore/src/components/create-wallet/create-wallet.tsx
  packages/appstore/src/components/create-wallet/index.ts
  packages/appstore/src/components/wallet-radio-button/index.ts
  packages/appstore/src/components/wallet-radio-button/wallet-radio-button-group.tsx
  packages/appstore/src/components/wallet-radio-button/wallet-radio-button.scss
  packages/appstore/src/components/wallet-radio-button/wallet-radio-button.tsx
  packages/components/src/components/icon/appstore/ic-appstore-check.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-aud-light.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-bitcoin-light.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-ethereum-light.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-eur-light.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-eusdt-light.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-gbp-light.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-litecoin-light.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-p2p-light.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-pa-light.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-usd-light.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-usdc-light.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-usdt-light.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components, AppStore

#4992 Bala/ refactor investor password
  packages/trader/src/Modules/CFD/Containers/cfd-password-manager-modal.jsx
  packages/trader/src/Modules/CFD/Containers/investor-password-manager.jsx
Labels: Trader

#4969 Nuri/Refactor: Refactor compare account
  packages/trader/src/Modules/CFD/Containers/compare-accounts-content.tsx
  packages/trader/src/Modules/CFD/Containers/compare-accounts-modal.tsx
Labels: Trader

#4832 likhith/OrderConfirmCompleted error status displayed on slow n/w
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/order-details/order-details-confirm-modal.jsx
  packages/p2p/src/components/unsupported-account/index.js
  packages/p2p/src/components/unsupported-account/unsupported-account.jsx
  packages/p2p/src/components/unsupported-account/unsupported-account.scss
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/utils/websocket.js
Labels: P2P

#4997 Bala/fix storybook build
  packages/components/.storybook/webpack.config.js
  packages/components/package.json
Labels: Components

#4892 MaryiaF/fix: TrackJS error - i.resetVirtualBalance is not a function
  packages/core/src/Stores/notification-store.js
Labels: Core

#4761 Maryia/Fix for styles of POI & POA steps in Settings and CFD modals
  packages/trader/src/sass/app/modules/mt5/cfd-dashboard.scss
Labels: Trader

#4941 Hirad/Cfd dashboard container JS to TS
  packages/trader/src/Modules/CFD/Components/cfd-demo-account-display.tsx
  packages/trader/src/Modules/CFD/Components/cfd-real-account-display.tsx
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.tsx
  packages/trader/src/Modules/CFD/index.js
Labels: Trader

#5001 Akmal / IDV notification changes and refactoring
  packages/core/src/Stores/notification-store.js
Labels: Core

#4974 Akmal / Add trustpilot notification
  packages/components/src/components/icon/common/ic-alert-trustpilot.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Elements/NotificationMessage/notification-banner.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/notification-store.js
  packages/core/src/public/images/common/static_images/trustpilot_banner.png
  packages/core/src/sass/app/_common/components/notification-banner.scss
Labels: Core, Components

#4948 Vijayasree/Manage Account modal from Cashier Onboarding links are broken on iphoneSE
  packages/core/src/App/Containers/RealAccountSignup/add-currency.jsx
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
Labels: Core

#4876 likhith/Added jest config and test cases for App-Content component
  packages/p2p/src/components/__tests__/app-content.spec.js
  packages/p2p/src/components/app-content.jsx
  packages/p2p/webpack.config.js
Labels: P2P

#4880 george / added tests for OnRampProviderCard
  packages/cashier/src/Components/__tests__/on-ramp-provider-card.spec.js
  packages/cashier/src/Components/on-ramp-provider-card.jsx
  packages/components/src/components/icon/icon.jsx
Labels: Components

#4916 likhith/Added test cases to order and order-table component
  packages/p2p/jest.config.js
  packages/p2p/src/components/orders/__test__/orders.spec.js
  packages/p2p/src/components/orders/order-table/__test__/order-table.spec.js
Labels: P2P

#4965 MaryiaF/fix: bold the menu option when the user has gone by the child…
  packages/components/src/components/mobile-drawer/mobile-drawer-submenu.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Labels: Core, Components

#4900 Artsem / <SearchBox /> test coverage
  packages/p2p/src/components/buy-sell/__tests__/search-box.spec.js
  packages/p2p/src/components/buy-sell/search-box.jsx
Labels: P2P

#4890 Artsem / <Verification /> test coverage
  packages/p2p/src/components/dp2p-blocked/dp2p-blocked.jsx
  packages/p2p/src/components/verification/__tests__/verification.spec.js
  packages/p2p/src/components/verification/verification.jsx
Labels: P2P

#5006 Amina/test_coverage_for_poi-verified_component_in_account_package
  packages/account/src/Components/poi-verified/__tests__/verified.spec.js
Labels: Account

#4993 Amina/test_coverage_for_poa_unverified_component_in_account_package
  packages/account/src/Components/poa-unverified/__tests__/unverified.spec.js
Labels: Account

#4990 Amina/test coverage for poa-submitted
  packages/account/src/Components/poa-submitted/__tests__/poa-submitted.spec.js
Labels: Account

#4838 george / test coverage for "recent transaction" component
  packages/cashier/src/Components/__tests__/recent-transaction.spec.js
  packages/cashier/src/Components/recent-transaction.jsx
Labels: Components

#5010 Niloofar Sadeghi / Update the link of account limit help center
  packages/account/src/Components/account-limits/account-limits-article.jsx
Labels: Account

#4958 Maryia/Set notifications together with each handling of notifications
  packages/core/src/App/app.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/sass/app/_common/components/app-notification-message.scss
Labels: Core

#4942 Mitra/Fix design for DMT5 investor password reset modal
  packages/trader/src/Modules/CFD/Containers/cfd-reset-password-modal.tsx
  packages/trader/src/sass/app/modules/mt5/cfd.scss
Labels: Trader

#5053 Ako/ Codecov integration
  .github/workflows/codecov.yml
  README.md
Labels: Docs

#4976 Vijayasree/Crypto icon in withdrawal page is not shown for specific device IOS
  packages/cashier/src/Sass/cashier.scss
Labels: Components

#4966 Sara / Fixed issue with error handling
  packages/bot-skeleton/src/scratch/blocks/Math/math_on_list.js
Labels: Bot

#5059 MaryiaF/chore: remove consoles
  packages/trader/src/Modules/CFD/Components/cfd-demo-account-display.tsx
  packages/trader/src/Modules/CFD/Components/cfd-poa.tsx
Labels: Trader

#5073 Matin/Add: TS files for translation extraction
  packages/translations/scripts/extract-string.js
Labels: Translations

#5075 Bala/Remove appstore package from translations
  packages/translations/scripts/extract-string.js
Labels: Translations

#5083 NJ/feat : Appstore app card
  packages/appstore/src/components/app-card/app-card.scss
  packages/appstore/src/components/app-card/app-card.tsx
  packages/appstore/src/components/app-card/index.ts
  packages/components/src/components/icon/appstore/ic-appstore-app-card-default-background-small.svg
  packages/components/src/components/icon/appstore/ic-appstore-app-card-default-background.svg
  packages/components/src/components/icon/appstore/ic-appstore-checked-red-bg.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-card-placeholder-dark-red-line.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-card-placeholder-dark.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-card-placeholder-light-red-line.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-card-placeholder-light.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallet-card-xs-background.svg
  packages/components/stories/icon/icons.js
Labels: Components, AppStore

#5084 Bala/Change components package name
  .eslintrc.js
  packages/appstore/package.json
  packages/appstore/src/components/wallet/wallet-card.tsx
Labels: AppStore

#5087 Fix Russian script injection
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core

#4815 carol/ P2P: Ratings
  packages/p2p/src/components/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page-stats.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell-row.scss
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/empty/empty.scss
  packages/p2p/src/components/misc/toggle-container.scss
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/my-profile/my-profile-content.jsx
  packages/p2p/src/components/my-profile/my-profile-form/my-profile-form.jsx
  packages/p2p/src/components/my-profile/my-profile-form/my-profile-form.scss
  packages/p2p/src/components/my-profile/my-profile-header/my-profile-header.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-balance/my-profile-balance.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-balance/my-profile-balance.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-details-container/index.js
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-details-container/my-profile-details-container.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-details-container/my-profile-details-container.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-details-table/index.js
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-details-table/my-profile-details-table.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-details-table/my-profile-details-table.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-privacy/my-profile-privacy.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-privacy/my-profile-privacy.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats-table/my-profile-stats-table.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats-table/my-profile-stats-table.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats.jsx
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-empty/payment-methods-empty.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.scss
  packages/p2p/src/components/trade-badge/index.js
  packages/p2p/src/components/trade-badge/trade-badge.jsx
  packages/p2p/src/components/trade-badge/trade-badge.scss
  packages/p2p/src/stores/my-profile-store.js
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
  packages/shared/src/utils/date/date-time.js
Labels: Shared, Components, P2P

#5093 carol/ Hotfix: Fix stats text
  packages/p2p/src/components/my-profile/my-profile-header/my-profile-header.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats.jsx
Labels: P2P

#5099 carol/ Hotfix: Trade volume updated
  packages/p2p/src/components/advertiser-page/advertiser-page-stats.jsx
Labels: P2P

#5094 fix wallet checkmark circle
  packages/appstore/src/components/wallet/wallet-card.tsx
Labels: AppStore

#5102 carol/ Hotfix: Header alignment
  packages/p2p/src/components/buy-sell/buy-sell-header.scss
Labels: P2P

#5105 Bala/Skeleton card
  packages/appstore/.storybook/preview-body.html
  packages/appstore/src/assets/svgs/wallet/aud-dark.svg
  packages/appstore/src/assets/svgs/wallet/aud-light.svg
  packages/appstore/src/assets/svgs/wallet/eur-dark.svg
  packages/appstore/src/assets/svgs/wallet/eur-light.svg
  packages/appstore/src/assets/svgs/wallet/gbp-dark.svg
  packages/appstore/src/assets/svgs/wallet/gbp-light.svg
  packages/appstore/src/assets/svgs/wallet/usd-dark.svg
  packages/appstore/src/assets/svgs/wallet/usd-light.svg
  packages/appstore/src/components/skeleton-card/index.ts
  packages/appstore/src/components/skeleton-card/skeleton-card.scss
  packages/appstore/src/components/skeleton-card/skeleton-card.tsx
  packages/appstore/src/components/skeleton-card/stories/skeleton-card.stories.tsx
  packages/appstore/src/components/wallet/stories/wallet-card.stories.tsx
  packages/appstore/src/components/wallet/wallet-card.scss
  packages/components/src/components/icon/appstore/ic-appstore-skeleton-card-border.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components, AppStore

#5109 NJ/fix - Appstore Appcard styling fixes
  packages/appstore/src/components/app-card/app-card.scss
  packages/appstore/src/components/app-card/app-card.tsx
Labels: AppStore

#5112 NJ/Feat: Appstore app-card storybook
  packages/appstore/src/components/app-card/stories/app-card.stories.tsx
Labels: AppStore

#4975 Artsem / Floating rate banner and warning for existing ads
  packages/p2p/src/components/my-ads/ad-status.scss
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
Labels: P2P

#5130 carol/ P2P: Fix badge
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
Labels: P2P

#5128 Bala/Choose product
  packages/appstore/src/components/choose-product/choose-product.scss
  packages/appstore/src/components/choose-product/choose-product.tsx
  packages/appstore/src/components/choose-product/index.ts
Labels: AppStore

#5127 Cards link
  packages/appstore/src/components/cards-link/cards-link.scss
  packages/appstore/src/components/cards-link/cards-link.tsx
  packages/appstore/src/components/cards-link/index.ts
  packages/appstore/src/components/cards-link/stories/cards-link.stories.tsx
  packages/components/src/components/icon/appstore/ic-appstore-link-wallet.svg
  packages/components/src/components/icon/appstore/ic-appstore-linked-wallets.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components, AppStore

#5062 fix for last digit number
  packages/bot-skeleton/src/services/tradeEngine/trade/Ticks.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
Labels: Bot

#5079 george / fix accessibility of withdrawal page on DerivGO
  packages/core/src/Stores/client-store.js
Labels: Core
