Repository deriv-com/deriv-app, pull requests merged in 2022-07, with the labels that each got.

#5872 carol/ Temporary solution for mobile team
  packages/account/src/Constants/routes-config.js
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account.jsx
  packages/account/src/Sections/Security/DeactivateAccount/index.js
  packages/account/src/Sections/index.js
  packages/shared/src/utils/routes/routes.js
Labels: Shared, Account

#5770 likhith/incorporated market rate calculation with 6 decimals
  packages/p2p/src/components/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form-receive-amount.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/floating-rate/floating-rate.jsx
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.jsx
  packages/p2p/src/components/my-ads/create-ad-summary.jsx
  packages/p2p/src/components/my-ads/edit-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/components/my-ads/edit-ad-summary.jsx
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/order-details/order-details-confirm-modal.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/floating-rate-store.js
  packages/p2p/src/utils/format-value.js
Labels: P2P

#5684 Adrienne / Blocked user count icon with tooltip
  packages/components/src/components/icon/common/ic-user-blocked-outline.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/p2p/src/components/advertiser-page/block-user/block-user-count.jsx
  packages/p2p/src/components/advertiser-page/block-user/block-user-count.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.jsx
Labels: Components, P2P

#5852 likhith/fix css issue in onfido selfie camera
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/components/onfido-container.scss
Labels: Core, Account

#5793 MaryiaF_67109/refactor: convert Journal, DateItem, FormatMessage, Filters, FilterDialog, Tools, getJournalItemContent, JournalLoader, JournalItem to TS to TS
  packages/bot-web-ui/src/components/journal/index.ts
  packages/bot-web-ui/src/components/journal/journal-components/date-item.tsx
  packages/bot-web-ui/src/components/journal/journal-components/filter-dialog.tsx
  packages/bot-web-ui/src/components/journal/journal-components/filters.tsx
  packages/bot-web-ui/src/components/journal/journal-components/format-message.tsx
  packages/bot-web-ui/src/components/journal/journal-components/index.ts
  packages/bot-web-ui/src/components/journal/journal-components/journal-item.tsx
  packages/bot-web-ui/src/components/journal/journal-components/journal-loader.tsx
  packages/bot-web-ui/src/components/journal/journal-components/journal-tools.tsx
  packages/bot-web-ui/src/components/journal/journal.jsx
  packages/bot-web-ui/src/components/journal/journal.tsx
  packages/bot-web-ui/src/components/journal/journal.types.ts
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
Labels: Bot

#5688 Jim | Niloofar / Typescript fix issue
  packages/core/babel.config.json
  packages/core/src/App/app.jsx
  packages/core/src/App/initStore.js
  packages/core/src/index.tsx
  packages/p2p/babel.config.json
Labels: Core, P2P

#5910 likhith/Sync effective rate calc in web and api
  packages/p2p/src/components/floating-rate/floating-rate.jsx
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.jsx
  packages/p2p/src/components/my-ads/create-ad-summary.jsx
  packages/p2p/src/components/my-ads/edit-ad-summary.jsx
  packages/p2p/src/utils/format-value.js
Labels: Components, P2P

#5900 farrah/ fixed order table row spacing
  packages/p2p/src/components/orders/orders.scss
Labels: P2P

#5912 farrah/ disable post ad button if buy/sell form is not valid
  packages/p2p/src/components/my-ads/create-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/create-ad-form.jsx
Labels: P2P

#5911 farrah/ update received amount if rate has changed
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
Labels: P2P

#5913 farrah/ formatted invalid buy/sell amount
  packages/p2p/src/components/buy-sell/buy-sell-form-receive-amount.jsx
Labels: P2P

#5874 Niloofar/ Fix eslint errors and warns on appstore
  .eslintrc.js
  packages/appstore/.eslintrc.js
  packages/appstore/src/components/app.tsx
  packages/appstore/src/stores/index.ts
  packages/appstore/src/stores/root-store.ts
  packages/appstore/src/types/stores.types.ts
Labels: AppStore

#5905 fix: refactored code to remove circular dependency
  packages/core/src/App/app.jsx
  packages/shared/package.json
  packages/shared/src/utils/config/platform-config.js
  packages/translations/package.json
  packages/translations/src/i18next/i18next.js
Labels: Core, Shared, Translations

#5379 likhith/resolved language translation issue in p2p
  packages/cashier/src/pages/p2p-cashier/p2p-cashier.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/my-ads/ad-status.scss
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/utils/websocket.js
Labels: Shared, Translations, P2P

#5885 MaryiaF/refactor: convert Summary to TS
  packages/bot-web-ui/src/components/summary/index.ts
  packages/bot-web-ui/src/components/summary/summary.tsx
Labels: Bot

#5928 farrah/ fixed input amount validation on buy/sell form
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/stores/buy-sell-store.js
Labels: P2P

#5926 farrah/ disabled edit button for temporary banned users
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
Labels: P2P

#5931 Ameerrul /User rating button component
  packages/p2p/src/components/user-rating-button/index.js
  packages/p2p/src/components/user-rating-button/user-rating-button.jsx
  packages/p2p/src/components/user-rating-button/user-rating-button.scss
Labels: P2P

#5950 farrah/ fixed overlapping status in order page
  packages/p2p/src/components/order-details/order-details.scss
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/orders/orders.scss
Labels: P2P

#5899 farrah/ fixed buy and sell form spacing
  packages/p2p/src/components/buy-sell/buy-sell-modal.scss
Labels: P2P

#5825 Niloofar / Indicators documentation review
  packages/indicators/README.md
Labels: Docs

#5792 Niloofar / Trader documentation review
  packages/trader/README.md
  packages/trader/docs/Modules/README.md
Labels: Trader, Docs

#5800 shayan / cfd documentation updated
  packages/cfd/README.md
Labels: Docs

#5741 yauheni / Notify users about sharing tokens with admin scope selected
  packages/account/src/Components/api-token/__tests__/api-token.spec.js
  packages/account/src/Components/api-token/api-token-card.jsx
  packages/account/src/Components/api-token/api-token-clipboard.jsx
  packages/account/src/Components/api-token/api-token-delete-button.jsx
  packages/account/src/Components/api-token/api-token-delete-buttons.jsx
  packages/account/src/Components/api-token/api-token-footer.jsx
  packages/account/src/Components/api-token/api-token-overlay.jsx
  packages/account/src/Components/api-token/api-token-table-row-cell.jsx
  packages/account/src/Components/api-token/api-token-table-row-header.jsx
  packages/account/src/Components/api-token/api-token-table-row-scopes-cell.jsx
  packages/account/src/Components/api-token/api-token-table-row-token-cell.jsx
  packages/account/src/Components/api-token/api-token-table-row.jsx
  packages/account/src/Components/api-token/api-token-table.jsx
  packages/account/src/Components/api-token/api-token.jsx
  packages/account/src/Components/api-token/api-token.scss
  packages/account/src/Components/inline-note-with-icon/__tests__/inline-note-with-icon.spec.js
  packages/account/src/Components/inline-note-with-icon/index.js
  packages/account/src/Components/inline-note-with-icon/inline-note-with-icon.jsx
  packages/account/src/Components/inline-note-with-icon/inline-note-with-icon.scss
  packages/components/src/components/composite-checkbox/composite-checkbox.jsx
  packages/components/src/components/icon/common/ic-password-eye-visible.svg
Labels: Components, Account

#5764 yashim/feat: add TTI Measurement
  packages/core/src/index.html
Labels: Core

#5824 Niloofar / Fix eslint errors for translation package
  packages/translations/.eslintrc.js
  packages/translations/scripts/__tests__/extract-string.spec.js
  packages/translations/scripts/extract-string.js
  packages/translations/src/components/localize.jsx
Labels: Translations

#5846 shayan / cashier documentation updated
  packages/cashier/README.md
Labels: Docs

#5826 Niloofar / Review shared documentation
  packages/shared/README.md
Labels: Shared, Docs

#5901 likhith/remove unreachable code
  packages/account/src/Components/reset-trading-password-modal/reset-trading-password-modal.jsx
Labels: Account

#5884 Test Case for splitValidationResultTypes
  packages/account/src/Components/real-account-signup/helpers/__tests__/splitValidationResultTypes.spec.js
Labels: Account

#5660 Test case for text container
  packages/account/src/Components/text-container/__tests__/text-container.spec.js
  packages/account/src/Components/text-container/text-container.jsx
Labels: Account

#5881 Niloofar Sadeghi / Fix account eslint errors and warns
  packages/account/src/Components/Routes/binary-link.jsx
  packages/account/src/Components/account-limits/account-limits-table-header.jsx
  packages/account/src/Components/account-limits/account-limits.jsx
  packages/account/src/Components/api-token/api-token-table-row-cell.jsx
  packages/account/src/Components/article/article.spec.js
  packages/account/src/Components/currency-selector/currency-selector.jsx
  packages/account/src/Components/demo-message/__test__/demo-message.spec.js
  packages/account/src/Components/demo-message/demo-message.jsx
  packages/account/src/Components/error-component/error-component.jsx
  packages/account/src/Components/error-component/error-component.spec.js
  packages/account/src/Components/icon-message-content/icon-message-content.jsx
  packages/account/src/Components/icon-with-message/icon-with-message.jsx
  packages/account/src/Components/poa/status/verified/verified.jsx
  packages/account/src/Components/poi/status/unsupported/__test__/unsupported.spec.js
  packages/account/src/Components/poi/status/verified/verified.jsx
  packages/account/src/Components/self-exclusion/self-exclusion.jsx
  packages/account/src/Containers/account.jsx
  packages/account/src/Containers/routes.jsx
Labels: Account

#5924 Add Image example for Uganda
  packages/account/src/Components/poi/idv-document-submit/utils.js
  packages/core/src/public/images/common/static_images/ug_national_identity_card.png
Labels: Core, Account

#5750 hamid/refactor-cashier-side-note
  packages/cashier/src/components/cashier-onboarding/__tests__/cashier-onboarding-side-note.spec.js
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding-side-note.jsx
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding.jsx
  packages/cashier/src/components/side-note/__tests__/side-note.spec.js
  packages/cashier/src/components/side-note/side-note.jsx
  packages/cashier/src/components/side-note/side-note.scss
  packages/cashier/src/containers/cashier/cashier.jsx
  packages/cashier/src/containers/cashier/cashier.scss
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.jsx
  packages/cashier/src/pages/deposit/deposit.jsx
  packages/cashier/src/pages/on-ramp/on-ramp.jsx
  packages/cashier/src/pages/on-ramp/on-ramp.scss
  packages/cashier/src/pages/withdrawal/withdrawal.jsx
Labels: Shared

#5986 Fix appstore build
  package-lock.json
  packages/appstore/.storybook/webpack.config.js
  packages/appstore/package.json
  packages/appstore/src/components/cards-link/cards-link.tsx
  packages/appstore/tsconfig.json
  packages/components/.storybook/webpack.config.js
  packages/components/package.json
Labels: Components, AppStore

#5850 Yauheni / routes account components test coverage
  packages/account/src/Components/Routes/__tests__/binary-link.spec.js
  packages/account/src/Components/Routes/__tests__/binary-routes.spec.js
  packages/account/src/Components/Routes/__tests__/helpers.spec.js
Labels: Account

#5966 yauheni / 70020 fix blank option in mobile view for document submission select
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/poi-country-selector/poi-country-selector.jsx
Labels: Account

#5994 Bala/Fix appstore storybook
  packages/appstore/package.json
  packages/components/package.json
Labels: Components, AppStore

#5858 Ameerul /Task 65494 list of blocked users feature
  packages/p2p/src/components/block-user/block-user-modal/block-user-modal.jsx
  packages/p2p/src/components/my-profile/block-user/block-user-table/block-user-row.jsx
  packages/p2p/src/components/my-profile/block-user/block-user-table/block-user-table.jsx
  packages/p2p/src/components/my-profile/block-user/block-user-table/index.js
  packages/p2p/src/components/my-profile/block-user/block-user.scss
  packages/p2p/src/components/my-profile/my-profile-content.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/cancel-add-payment-method-modal.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/edit-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.jsx
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#5798 carol/My profile rating
  packages/components/src/components/icon/common/ic-thumbs-up.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/popover/popover.jsx
  packages/components/stories/icon/icons.js
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.scss
  packages/p2p/src/components/recommended-by/index.js
  packages/p2p/src/components/recommended-by/recommended-by.jsx
  packages/p2p/src/components/recommended-by/recommended-by.scss
  packages/p2p/src/components/recommended-by/recommended-modal.jsx
  packages/p2p/src/components/recommended-by/recommended-modal.scss
  packages/p2p/src/components/star-rating/star-rating.jsx
Labels: Components, P2P

#5786 farrah/ fixed delay in updating the payment method card
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
Labels: P2P

#5983 Adrienne / Made buy button to be responsive and flex when text is overflowing in mobile
  packages/p2p/src/components/buy-sell/buy-sell-row.scss
Labels: P2P

#5740 Vinu/fix: responsive screen fix for payment-agent-transfer-receipt
  packages/cashier/src/components/confirm/__tests__/confirm.spec.js
  packages/cashier/src/components/confirm/confirm.jsx
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-confirm/__tests__/payment-agent-transfer-confirm.spec.js
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-confirm/payment-agent-transfer-confirm.jsx
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-form/payment-agent-transfer-form.jsx
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-receipt/__tests__/payment-agent-transfer-receipt.spec.js
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-receipt/payment-agent-transfer-receipt.jsx
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-receipt/payment-agent-transfer-receipt.scss
  packages/components/src/components/icon/cashier/ic-cashier-payment-agent.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components

#5949 likhith/Incorporated POI DOB mismatch banner
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
Labels: Core, Account

#5789 Akmal / Fix no error message shown
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/components/src/components/input/input.scss
Labels: Components, Account

#6018 Bala/update package
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#5876 Ameerul /Task 69028 user rating button
  packages/p2p/src/components/orders/order-table/order-table-header.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/user-rating-button/user-rating-button.scss
Labels: P2P

#6021 Revert "Bala/update package"
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#6024 MaryiaF/fix: P/L is not getting updated when a contract is terminated…
  packages/bot-web-ui/src/stores/transactions-store.js
Labels: Bot

#6034 Revert "MaryiaF/fix: P/L is not getting updated when a contract is terminated…"
  packages/bot-web-ui/src/stores/transactions-store.js
Labels: Bot

#5276 Vinu/App wallet modal
  packages/appstore/package.json
  packages/appstore/src/assets/svgs/wallet/index.tsx
  packages/appstore/src/components/app-wallet-modal/app-wallet-modal-body.tsx
  packages/appstore/src/components/app-wallet-modal/app-wallet-modal-trigger.tsx
  packages/appstore/src/components/app-wallet-modal/app-wallet-modal.scss
  packages/appstore/src/components/app-wallet-modal/app-wallet-modal.tsx
  packages/appstore/src/components/app-wallet-modal/index.ts
  packages/appstore/src/components/app-wallet-modal/stories/app-wallet-modal.stories.tsx
  packages/appstore/src/components/app-wallet-modal/wallets.ts
  packages/components/src/components/icon/appstore/ic-appstore-circle.svg
  packages/components/src/components/icon/appstore/ic-appstore-close-dark.svg
  packages/components/src/components/icon/appstore/ic-appstore-close-light.svg
  packages/components/src/components/icon/appstore/ic-appstore-ellipse.svg
  packages/components/src/components/icon/appstore/ic-appstore-error.svg
  packages/components/src/components/icon/appstore/ic-appstore-information.svg
  packages/components/src/components/icon/appstore/ic-appstore-success.svg
  packages/components/src/components/icon/appstore/ic-appstore-warning.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components, AppStore

#6046 farrah/ fixed exchange rate subscription error
  packages/p2p/src/stores/floating-rate-store.js
Labels: P2P

#6047 farrah/ fixed sell form validation
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
Labels: P2P

#5795 Ameerul /Task #62328 Add star ratings in Buy/Sell row
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell-row.scss
  packages/p2p/src/components/star-rating/star-rating.jsx
Labels: P2P
