Repository deriv-com/deriv-app, pull requests merged in 2022-09, with the labels that each got.

#6344 Hirad/74908/trigger animation
  packages/appstore/src/components/app.scss
Labels: AppStore

#6345 Hirad/ Onboarding progress bar
  packages/components/src/components/progress-bar-onboarding/index.ts
  packages/components/src/components/progress-bar-onboarding/progress-bar-onboarding.scss
  packages/components/src/components/progress-bar-onboarding/progress-bar-onboarding.tsx
  packages/components/src/index.js
Labels: Components

#6341 Mahdiyeh/Feature: add more derived acounts component
  packages/appstore/src/components/add-derived/add-derived.scss
  packages/appstore/src/components/add-derived/add-derived.tsx
  packages/appstore/src/components/add-derived/index.ts
  packages/appstore/src/components/add-derived/stories/add-derived.stories.tsx
  packages/components/src/components/icon/appstore/ic-appstore-add-rounded.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components, AppStore

#6372 Bala/Fix wallet test case
  __mocks__/fileMock.js
  packages/appstore/jest.config.js
  packages/appstore/src/components/wallet/__tests__/wallet-card.spec.tsx
  packages/appstore/src/components/wallet/wallet-card.tsx
Labels: AppStore

#6376 george / fix failed test in payment-agent-container
  packages/cashier/src/pages/payment-agent/payment-agent-container/__tests__/payment-agent-container.spec.js
  packages/components/src/components/dropdown/dropdown.jsx
Labels: Components

#6044 yauheni/ 70488/ edit note in self-exclusion message box
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-article.spec.js
  packages/account/src/Components/self-exclusion/self-exclusion-article-content.jsx
  packages/account/src/Components/self-exclusion/self-exclusion-article.jsx
Labels: Account

#4644 Akmal / Ignore IDV verification if client is high risk && withdrawals are locked
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/cfd/src/Components/cfd-poi.tsx
Labels: Trader, Docs, Account

#6386 carol/Update derivgo redirection
  packages/core/src/public/.well-known/apple-app-site-association
Labels: Core

#6032 Farzin/68320/Update cashier withdrawal locked status if PA already withdraw all his allowable withdrawal amount
  packages/cashier/src/components/cashier-locked/__tests__/cashier-locked.spec.tsx
  packages/cashier/src/components/cashier-locked/cashier-locked.tsx
Labels: Shared

#6208 Jim/73479/appstore-workspace-ts-fix
  packages/appstore/package.json
  packages/appstore/tsconfig.json
  packages/components/src/components/fade-wrapper/index.js
  packages/components/src/components/icon-trade-types/index.js
Labels: Components, AppStore

#6275 Niloofar Sadeghi / Trader Typescript configuration issue
  packages/components/src/components/fade-wrapper/index.js
  packages/components/src/components/icon-trade-types/index.js
  packages/trader/globals.d.ts
  packages/trader/tsconfig.json
Labels: Trader, Components

#5727 Vinu/Ts onramp cashier
  packages/cashier/src/pages/on-ramp/__tests__/on-ramp.spec.tsx
  packages/cashier/src/pages/on-ramp/index.js
  packages/cashier/src/pages/on-ramp/index.ts
  packages/cashier/src/pages/on-ramp/on-ramp-provider-card/__tests__/on-ramp-provider-card.spec.tsx
  packages/cashier/src/pages/on-ramp/on-ramp-provider-card/index.js
  packages/cashier/src/pages/on-ramp/on-ramp-provider-card/index.ts
  packages/cashier/src/pages/on-ramp/on-ramp-provider-card/on-ramp-provider-card.tsx
  packages/cashier/src/pages/on-ramp/on-ramp-provider-popup/__tests__/on-ramp-provider-popup.spec.tsx
  packages/cashier/src/pages/on-ramp/on-ramp-provider-popup/index.js
  packages/cashier/src/pages/on-ramp/on-ramp-provider-popup/index.ts
  packages/cashier/src/pages/on-ramp/on-ramp-provider-popup/on-ramp-provider-popup.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/types/shared/index.ts
  packages/cashier/src/types/shared/provider.types.ts
Labels: Core, Bot, P2P, Docs, Account

#6402 Niloofar Sadeghi / Circleci issue
  packages/components/src/components/fade-wrapper/index.js
  packages/components/src/components/icon-trade-types/index.js
Labels: Components

#6306 Niloofar Sadeghi / Add typescript to each workspace dependency
  .eslintrc.js
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-skeleton/package.json
  packages/bot-web-ui/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/shared/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot, Shared, Components, P2P, Account, AppStore

#6351 Shayan/74388/fix ts config on cfd
  packages/cfd/globals.d.ts
  packages/cfd/tsconfig.json
Labels: Components

#6304 Mahdiyeh/Feature: add more options accounts component
  packages/appstore/src/components/add-options/add-options.scss
  packages/appstore/src/components/add-options/add-options.tsx
  packages/appstore/src/components/add-options/index.ts
  packages/appstore/src/components/add-options/stories/add-options.stories.tsx
  packages/components/src/components/icon/appstore/ic-appstore-add.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/shared/src/styles/constants.scss
Labels: Shared, Components, AppStore

#6297 Ashraf pre appstore
  packages/appstore/src/assets/svgs/wallet/ic-brand-binarybot.svg
  packages/appstore/src/assets/svgs/wallet/ic-brand-dbot.svg
  packages/appstore/src/assets/svgs/wallet/ic-brand-derivgo.svg
  packages/appstore/src/assets/svgs/wallet/ic-brand-dtrader.svg
  packages/appstore/src/assets/svgs/wallet/ic-brand-smarttrader.svg
  packages/appstore/src/assets/svgs/wallet/index.tsx
  packages/appstore/src/components/platform-launcher/index.ts
  packages/appstore/src/components/platform-launcher/platform-launcher.scss
  packages/appstore/src/components/platform-launcher/platform-launcher.tsx
  packages/appstore/src/components/platform-launcher/stories/platform-launcher.stories.tsx
  packages/components/src/components/icon/brand/ic-brand-derivgo.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/README.md
  packages/components/stories/icon/icons.js
Labels: Components, Docs, AppStore

#6367 Ashraf/74903/pre app store account
  packages/appstore/src/assets/svgs/wallet/currency-usd.svg
  packages/appstore/src/assets/svgs/wallet/drop-down.svg
  packages/appstore/src/assets/svgs/wallet/ic-brand-demo.svg
  packages/appstore/src/assets/svgs/wallet/index.tsx
  packages/appstore/src/components/account/account.scss
  packages/appstore/src/components/account/account.tsx
  packages/appstore/src/components/account/index.ts
  packages/appstore/src/components/account/stories/accunt.stories.tsx
Labels: Components, Docs, AppStore

#6299 carol/ P2P: Email verification for orders
  packages/cashier/src/pages/p2p-cashier/p2p-cashier.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/p2p/jest.config.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/components/email-link-blocked-modal/email-link-blocked-modal.jsx
  packages/p2p/src/components/email-link-verified-modal/email-link-verified-modal.jsx
  packages/p2p/src/components/email-verification-modal/email-verification-modal.jsx
  packages/p2p/src/components/email-verification-modal/email-verification-modal.scss
  packages/p2p/src/components/error-modal/error-modal.jsx
  packages/p2p/src/components/error-modal/index.js
  packages/p2p/src/components/invalid-verification-link-modal/invalid-verification-link-modal.jsx
  packages/p2p/src/components/loading-modal/index.js
  packages/p2p/src/components/loading-modal/loading-modal.jsx
  packages/p2p/src/components/order-details/order-details-cancel-modal.jsx
  packages/p2p/src/components/order-details/order-details-confirm-modal.jsx
  packages/p2p/src/components/order-details/order-details-footer.jsx
  packages/p2p/src/components/order-details/order-details-wrapper.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/rating-modal/rating-modal.jsx
  packages/p2p/src/stores/order-store.js
Labels: Core, Components, P2P

#6422 P2p 2fa feature
  packages/cashier/src/pages/p2p-cashier/p2p-cashier.jsx
  packages/components/src/components/icon/common/ic-email-sent-p2p.svg
  packages/components/src/components/icon/common/ic-email-verification-link-blocked.svg
  packages/components/src/components/icon/common/ic-email-verification-link-invalid.svg
  packages/components/src/components/icon/common/ic-email-verification-link-valid.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/p2p/jest.config.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/components/email-link-blocked-modal/email-link-blocked-modal.jsx
  packages/p2p/src/components/email-link-blocked-modal/email-link-blocked-modal.scss
  packages/p2p/src/components/email-link-blocked-modal/index.js
  packages/p2p/src/components/email-link-verified-modal/email-link-verified-modal.jsx
  packages/p2p/src/components/email-link-verified-modal/email-link-verified-modal.scss
  packages/p2p/src/components/email-link-verified-modal/index.js
  packages/p2p/src/components/email-verification-modal/email-verification-modal.jsx
  packages/p2p/src/components/email-verification-modal/email-verification-modal.scss
  packages/p2p/src/components/email-verification-modal/index.js
  packages/p2p/src/components/error-modal/error-modal.jsx
  packages/p2p/src/components/error-modal/index.js
  packages/p2p/src/components/invalid-verification-link-modal/index.js
  packages/p2p/src/components/invalid-verification-link-modal/invalid-verification-link-modal.jsx
  packages/p2p/src/components/invalid-verification-link-modal/invalid-verification-link-modal.scss
  packages/p2p/src/components/loading-modal/index.js
  packages/p2p/src/components/loading-modal/loading-modal.jsx
  packages/p2p/src/components/order-details/order-details-cancel-modal.jsx
  packages/p2p/src/components/order-details/order-details-confirm-modal.jsx
  packages/p2p/src/components/order-details/order-details-footer.jsx
  packages/p2p/src/components/order-details/order-details-wrapper.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/rating-modal/rating-modal.jsx
  packages/p2p/src/stores/order-store.js
Labels: Core, Components, P2P

#6434 Blocked user feature sanity check
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.scss
Labels: P2P

#6370 Hirad/75012/CFD Account Manager component
  packages/appstore/src/components/cfd-account-manager/cfd-account-manager.scss
  packages/appstore/src/components/cfd-account-manager/cfd-account-manager.tsx
  packages/appstore/src/components/cfd-account-manager/index.ts
  packages/appstore/src/types/common.types.ts
  packages/components/src/components/icon/appstore/ic-appstore-derived.svg
  packages/components/src/components/icon/appstore/ic-appstore-derivx.svg
  packages/components/src/components/icon/appstore/ic-appstore-financial.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components, AppStore

#6369 Hirad/ Total Assets Component
  packages/appstore/src/components/total-assets/index.ts
  packages/appstore/src/components/total-assets/total-assets.scss
  packages/appstore/src/components/total-assets/total-assets.tsx
  packages/appstore/src/types/common.types.ts
Labels: AppStore

#6446 Blocked user count not appearing in my profile
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.scss
Labels: P2P

#6284 Shayan/74387/Update TS Config and Fix TS Errors on Cashier
  packages/cashier/globals.d.ts
  packages/cashier/src/components/cashier-locked/cashier-locked.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/tsconfig.json
Labels: Components

#6027 Farzin/70813/Fix date picker month issue for non english languages
  packages/components/src/components/calendar/calendar-header.jsx
  packages/components/src/components/calendar/helpers/constants.js
  packages/components/src/components/calendar/helpers/index.js
  packages/components/src/components/calendar/views/calendar-months.jsx
Labels: Shared, Components

#6236 Amina/remove disabled country validation from citizenship
  packages/core/src/App/Containers/AccountSignupModal/validate-signup-fields.jsx
Labels: Core

#6241 farabi/improved-numpad-for-visibility
  packages/bot-skeleton/src/scratch/hooks/css.js
Labels: Bot

#6189 farabi / added a new tooltip for contract type 'both'
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_contracttype.js
Labels: Bot

#6175 likhith/incorporating a nation id image for ZW
  packages/account/src/Components/poi/idv-document-submit/utils.js
  packages/core/src/public/images/common/static_images/zw_national_identity_card.png
Labels: Core, Account

#6481 Amina/citizenship_modal_mobile_fix
  packages/core/src/App/Containers/CitizenshipModal/set-citizenship-form.jsx
Labels: Core

#6265 Feature develop dashboard tabs
  package-lock.json
  packages/bot-skeleton/src/scratch/hooks/css.js
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/app/app.jsx
  packages/bot-web-ui/src/app/app.scss
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/index.ts
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/index.ts
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar-button.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar-icon.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/index.ts
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/search-box.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox-items.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/workspace-wrapper.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-components/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-components/constants.ts
  packages/bot-web-ui/src/components/dashboard/dashboard-components/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-components/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-components/index.ts
  packages/bot-web-ui/src/components/dashboard/dashboard-components/sidebar.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/main-content/toolbox.scss
  packages/bot-web-ui/src/components/toolbar/run-strategy.tsx
  packages/bot-web-ui/src/components/toolbar/toolbar.jsx
  packages/bot-web-ui/src/stores/dashboard-store.js
  packages/bot-web-ui/src/stores/index.js
  packages/components/src/components/icon/common/ic-bot-builder-tab-icon.svg
  packages/components/src/components/icon/common/ic-bot-builder.svg
  packages/components/src/components/icon/common/ic-charts-tab-dbot.svg
  packages/components/src/components/icon/common/ic-close-icon-dbot.svg
  packages/components/src/components/icon/common/ic-dashboard-component-tab.svg
  packages/components/src/components/icon/common/ic-dashboard-dbot-icon.svg
  packages/components/src/components/icon/common/ic-google-drive-dbot.svg
  packages/components/src/components/icon/common/ic-my-computer.svg
  packages/components/src/components/icon/common/ic-quick-strategy-icon.svg
  packages/components/src/components/icon/common/ic-quick-strategy.svg
  packages/components/src/components/icon/common/ic-tour-guide-step2.svg
  packages/components/src/components/icon/common/ic-tutorials-tabs.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Bot, Components, Account, AppStore

#6445 carol/Derivgo link
  packages/shared/src/utils/config/config.js
Labels: Shared

#6202 likhith/test cases for CFD password modal
  packages/cfd/jest.config.js
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/components/src/components/input/input.jsx
Labels: Components

#6104 hamid/hide-reset-balance
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core, Components

#6309 Hirad/ Onboarding component
  packages/appstore/src/components/app.scss
  packages/appstore/src/components/app.tsx
  packages/appstore/src/components/onboarding/index.ts
  packages/appstore/src/components/onboarding/onboarding.scss
  packages/appstore/src/components/onboarding/onboarding.tsx
  packages/appstore/src/constants/trading-hub-content.ts
  packages/appstore/src/modules/trading-hub/index.tsx
Labels: AppStore

#6430 carol/ P2P: Remove confirm modal
  packages/p2p/src/components/email-verification-modal/email-verification-modal.jsx
  packages/p2p/src/components/order-details/order-details-footer.jsx
Labels: P2P

#6358 Suisin/created scam warning pop up message
  packages/components/src/components/icon/common/ic-account-cross.svg
  packages/components/src/components/icon/common/ic-account-dont-get-scam.svg
  packages/components/src/components/icon/common/ic-account-tick.svg
  packages/components/src/components/icon/common/ic-account-website.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/correct-message-content.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/fake-message-content.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/index.js
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-checkbox-content.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-content.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-modal.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-modal.scss
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-title.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
Labels: Core, Shared, Components

#6452 likhith/track js reading loginid of undefined
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/choose-currency.jsx
  packages/p2p/src/utils/orders.js
Labels: Core, P2P

#6537 thisyahlen/create an options account component
  packages/appstore/src/components/add-options-account/add-options-account.scss
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/appstore/src/components/add-options-account/index.ts
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core, AppStore

#6552 Mahdiyeh/ fix: convert cfd-account-manager to account-manager
  packages/appstore/src/components/account-manager/account-manager.scss
  packages/appstore/src/components/account-manager/account-manager.tsx
  packages/appstore/src/components/account-manager/index.ts
  packages/appstore/src/components/cfd-account-manager/cfd-account-manager.tsx
  packages/appstore/src/components/cfd-account-manager/index.ts
  packages/components/src/components/icon/appstore/ic-appstore-options.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components, AppStore

#6553 Adrienne / Aligned avatar to flex start in advertiser page
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
Labels: P2P

#6529 Adrienne / Hide block user dropdown when user views their own advertiser page
  packages/p2p/src/components/advertiser-page/advertiser-page-dropdown-menu.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
Labels: P2P

#6527 Adrienne / Fixed alignment issues with block user count in responsive and bug where Blocked Advertisers responsive tab is not fully visible
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.scss
  packages/p2p/src/components/my-profile/my-profile.scss
Labels: P2P

#6561 Adrienne / Made block user count to be subscribed to updates
  packages/p2p/src/components/advertiser-page/block-user/block-user-count.jsx
  packages/p2p/src/stores/general-store.js
Labels: P2P

#6565 Ameerul /Bug 76978 Blocked advertiser list is not loading after barred one user and showing console error
  packages/components/src/components/icon/common/ic-blocked-advertisers-barred.svg
  packages/components/stories/icon/icons.js
  packages/p2p/src/components/my-profile/block-user/block-user-table/block-user-table-error.jsx
  packages/p2p/src/components/my-profile/block-user/block-user-table/block-user-table.jsx
  packages/p2p/src/components/my-profile/block-user/block-user.scss
  packages/p2p/src/stores/my-profile-store.js
Labels: Components, P2P

#6567 Adrienne / Removed hover styling for responsive in blocked advertisers list
  packages/p2p/src/components/my-profile/block-user/block-user.scss
Labels: P2P

#6580 Ameerul /Bug 77176 The Block modal keep on looping for Disable P2P user
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/error-modal/error-modal.jsx
  packages/p2p/src/stores/general-store.js
Labels: P2P

#6350 Vinu / refactor: TS migration of cashier onboarding component
  packages/cashier/index.d.ts
  packages/cashier/src/components/cashier-onboarding/__tests__/cashier-onboarding-details.spec.tsx
  packages/cashier/src/components/cashier-onboarding/__tests__/cashier-onboarding-side-note.spec.tsx
  packages/cashier/src/components/cashier-onboarding/__tests__/cashier-onboarding.spec.tsx
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding-details.tsx
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding-providers.tsx
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding-side-note.tsx
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding.tsx
  packages/cashier/src/components/cashier-onboarding/index.js
  packages/cashier/src/types/stores/client-store.types.ts
  packages/cashier/src/types/stores/ui-store.types.ts
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message.jsx
Labels: Core

#6432 Akmal / Fix styles for cfd financial stp modal
  packages/account/build/webpack.config.js
  packages/account/src/Components/proof-of-identity-container-for-mt5/proof-of-identity-container-for-mt5.scss
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/cfd/src/Components/__tests__/cfd-poi.spec.js
  packages/cfd/src/Components/cfd-poi.tsx
  packages/cfd/src/Containers/jurisdiction-modal.tsx
  packages/cfd/src/sass/cfd-dashboard.scss
Labels: Account

#6544 farrah/75506/fixed TrackJS error: Command received no ack
  packages/p2p/src/components/orders/chat/chat-messages.jsx
  packages/p2p/src/stores/sendbird-store.js
Labels: P2P

#6363 Jim/75250/bot skeleton ts config fix
  packages/bot-skeleton/globals.d.ts
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/app.ts
  packages/bot-skeleton/tsconfig.json
Labels: Bot

#6455 Jim/74989/card component ts migration
  packages/components/src/components/card/card.jsx
  packages/components/src/components/card/card.tsx
  packages/components/src/components/card/index.ts
Labels: Components

#6300 Adrienne / Removed banner for existing floating rate ads that has expired in a fixed rate ad country
  packages/p2p/src/components/my-ads/my-ads-table.jsx
Labels: P2P

#6093 fix: display the status for manual upload
  packages/account/src/Components/poi/status/unsupported/unsupported.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
Labels: Docs, Account

#6590 Revert "fix: display the status for manual upload"
  packages/account/src/Components/poi/status/unsupported/unsupported.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
Labels: Account

#6474 yauheni/76174/ total assets not reflected at account switcher when client have crypto account
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#6555 sandeep/65842/unifiy-websocket -- using the same websocket instance from the core …
  packages/bot-skeleton/src/services/api/__tests__/ticks-service.js
  packages/bot-skeleton/src/services/api/appId.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Balance.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/cliTools.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-web-ui/src/app/app.jsx
Labels: Bot

#6247 george / rm72476 / account switching issue when using p2p/cash-deposit with crypto account
  packages/cashier/src/components/account-prompt-dialog/__tests__/account-prompt-dialog.spec.js
  packages/cashier/src/components/account-prompt-dialog/account-prompt-dialog.jsx
  packages/cashier/src/components/cashier-onboarding/__tests__/cashier-onboarding.spec.js
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding.jsx
  packages/cashier/src/stores/__tests__/account-prompt-dialog-store.spec.js
  packages/cashier/src/stores/account-prompt-dialog-store.js
Labels: Docs

#6582 Suisin/Update Text Translation by removing brandName
  packages/core/src/App/Containers/WarningScamMessageModal/fake-message-content.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-content.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-title.jsx
Labels: Core

#6062 Mahdiyeh/ logout client when enable or disable 2FA in different windows
  packages/core/src/App/initStore.js
Labels: Core

#6237 yauheni / 70832 Trackjs internal server error
  packages/shared/src/services/trackjs.js
Labels: Shared

#6253 likhith/73914/refactored import of assets in account package
  packages/account/build/constants.js
  packages/account/jest.config.js
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.js
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/idv-status/idv-limited/__tests__/idv-limited.spec.js
  packages/account/src/Components/poi/idv-status/idv-limited/idv-limited.jsx
  packages/account/src/Components/poi/idv-status/idv-rejected/__tests__/idv-rejected.spec.js
  packages/account/src/Components/poi/idv-status/idv-rejected/idv-rejected.jsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/__tests__/idv-submit-complete.spec.js
  packages/account/src/Components/poi/idv-status/idv-submit-complete/idv-submit-complete.jsx
  packages/account/src/Components/poi/idv-status/idv-verified/__tests__/idv-verified.spec.js
  packages/account/src/Components/poi/idv-status/idv-verified/idv-verified.jsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.jsx
  packages/account/src/Sections/Security/Passwords/deriv-password.jsx
Labels: Account

#6221 Adrienne / Changed border bottom color for order details page in responsive for dark mode
  packages/p2p/src/components/buy-sell/buy-sell-modal.scss
  packages/p2p/src/components/order-details/order-details.scss
Labels: P2P

#6262 Farzin/73307/TS migration of deposit related stores
  packages/cashier/globals.d.ts
  packages/cashier/src/stores/__tests__/deposit-store.spec.js
  packages/cashier/src/stores/__tests__/iframe-store.spec.js
  packages/cashier/src/stores/cashier-store.js
  packages/cashier/src/stores/deposit-store.ts
  packages/cashier/src/stores/error-store.ts
  packages/cashier/src/stores/iframe-store.ts
  packages/cashier/src/types/shared/websocket.types.ts
  packages/cashier/src/types/stores/client-store.types.ts
  packages/cashier/src/types/stores/root-store.types.ts
  packages/cashier/tsconfig.json
Labels: Bot, Account, AppStore

#6222 Farzin/73507/Duplicate ads shown on "My ad" page in DP2P, after you edit and close the sell ad.
  packages/p2p/src/stores/my-ads-store.js
Labels: Shared, P2P

#6346 yauheni/74104/ts migration for account DemoMessage component
  packages/account/src/Components/demo-message/__test__/demo-message.spec.js
  packages/account/src/Components/demo-message/__test__/demo-message.spec.tsx
  packages/account/src/Components/demo-message/demo-message.tsx
  packages/account/src/Components/demo-message/index.js
  packages/account/src/Components/demo-message/index.ts
Labels: Account

#6282 yauheni/74383/ converting app.jsx in account to functional component
  packages/account/build/webpack.config.js
  packages/account/src/App.jsx
  packages/account/src/App.tsx
  packages/account/src/Stores/index.js
  packages/account/src/Stores/index.ts
  packages/account/src/index.tsx
Labels: Account

#6378 yauheni/74189/ts_migration_text_container-deleted_being_unused
  packages/account/build/webpack.config.js
  packages/account/src/Components/text-container/__tests__/text-container.spec.js
  packages/account/src/Components/text-container/index.js
  packages/account/src/Components/text-container/text-container.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#6419 feat: added configuration for account package migration
  packages/account/.eslintrc.js
  packages/account/build/constants.js
  packages/account/global.d.ts
  packages/account/package.json
  packages/account/src/Types/common-prop.type.ts
  packages/account/src/Types/context.type.ts
  packages/account/src/Types/index.ts
  packages/account/tsconfig.json
Labels: Account

#6612 Revert "yauheni/74383/ converting app.jsx in account to functional component"
  packages/account/build/webpack.config.js
  packages/account/src/App.jsx
  packages/account/src/App.tsx
  packages/account/src/Stores/index.js
  packages/account/src/Stores/index.ts
  packages/account/src/index.js
Labels: Account

#6613 Revert "feat: added configuration for account package migration"
  packages/account/.eslintrc.js
  packages/account/build/constants.js
  packages/account/global.d.ts
  packages/account/package.json
  packages/account/src/Types/common-prop.type.ts
  packages/account/src/Types/context.type.ts
  packages/account/src/Types/index.ts
  packages/account/tsconfig.json
Labels: Account

#6543 removed endpoint option and made dashboard as default homepage
  packages/bot-web-ui/src/app/app.jsx
  packages/bot-web-ui/src/components/bot-footer-extensions/bot-footer-extensions.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/index.ts
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.scss
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/index.ts
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.scss
  packages/bot-web-ui/src/components/dashboard/bot-builder/workspace-wrapper.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/workspace.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-components/run-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/index.js
  packages/bot-web-ui/src/components/main-content/index.js
  packages/bot-web-ui/src/components/main-content/main-content.jsx
  packages/bot-web-ui/src/components/route-prompt-dialog/index.js
  packages/bot-web-ui/src/components/route-prompt-dialog/index.ts
  packages/bot-web-ui/src/components/route-prompt-dialog/route-prompt-dialog.tsx
  packages/bot-web-ui/src/components/toolbar/index.js
  packages/bot-web-ui/src/components/toolbar/toolbar.jsx
  packages/bot-web-ui/src/components/toolbox/index.js
  packages/bot-web-ui/src/components/toolbox/toolbox-items.jsx
  packages/bot-web-ui/src/components/toolbox/toolbox.jsx
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/blockly-store.js
  packages/bot-web-ui/src/stores/blockly-store.ts
  packages/bot-web-ui/src/stores/index.ts
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/tsconfig.json
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message.jsx
  packages/core/src/Modules/Endpoint/Endpoint.jsx
Labels: Core, Bot

#6618 Suisin/Update to single quote
  packages/core/src/App/Containers/WarningScamMessageModal/fake-message-content.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-content.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-title.jsx
Labels: Core

#6591 Ameerul /Bug 77339 When userA trying to block an advertiser is barred, once userA is unbarred on trying to block advertiser temporary barred error model is displayed
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/error-modal/error-modal.jsx
  packages/p2p/src/components/error-modal/error-modal.scss
  packages/p2p/src/components/my-profile/block-user/block-user-table/block-user-table.jsx
  packages/p2p/src/components/my-profile/block-user/block-user.jsx
Labels: P2P

#6622 Adrienne / Scrollable advertiser page when no ads in responsive
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
Labels: Components, P2P

#6623 Revert "sandeep/65842/unifiy-websocket -- using the same websocket instance from the core …"
  packages/bot-skeleton/src/services/api/__tests__/ticks-service.js
  packages/bot-skeleton/src/services/api/appId.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Balance.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/cliTools.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-web-ui/src/app/app.jsx
Labels: Bot

#6439 CFD accounts
  packages/appstore/src/assets/svgs/wallet/ic-appstore-derived.svg
  packages/appstore/src/assets/svgs/wallet/ic-appstore-derivx.svg
  packages/appstore/src/assets/svgs/wallet/ic-appstore-financial.svg
  packages/appstore/src/assets/svgs/wallet/ic-appstore-options.svg
  packages/appstore/src/assets/svgs/wallet/index.tsx
  packages/appstore/src/components/CFDs/cfd-accounts-container.tsx
  packages/appstore/src/components/CFDs/cfd-accounts.scss
  packages/appstore/src/components/CFDs/cfd-demo-accounts.tsx
  packages/appstore/src/components/CFDs/cfd-real-accounts.tsx
  packages/appstore/src/components/CFDs/index.ts
  packages/appstore/src/components/account-manager/account-manager.scss
  packages/appstore/src/components/account-manager/account-manager.tsx
  packages/appstore/src/components/add-options-account/add-options-account.scss
  packages/appstore/src/components/app.tsx
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/appstore/src/stores/index.ts
  packages/appstore/src/stores/root-store.ts
  packages/appstore/src/types/common.types.ts
  packages/appstore/src/types/stores.types.ts
  packages/core/src/Stores/cfd-account-store.js
  packages/core/src/Stores/index.js
Labels: Core, AppStore

#6006 P2P / Feature - Blocked advertiser
  packages/components/src/components/icon/common/ic-block.svg
  packages/components/src/components/icon/common/ic-blocked-advertisers-barred.svg
  packages/components/src/components/icon/common/ic-empty-blocked-advertisers.svg
  packages/components/src/components/icon/common/ic-menu-dots.svg
  packages/components/src/components/icon/common/ic-user-blocked-outline.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/p2p/src/components/advertiser-page/advertiser-page-dropdown-menu.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page-stats.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
  packages/p2p/src/components/advertiser-page/block-user/block-user-count.jsx
  packages/p2p/src/components/advertiser-page/block-user/block-user-count.scss
  packages/p2p/src/components/advertiser-page/block-user/block-user-overlay/block-user-overlay.jsx
  packages/p2p/src/components/advertiser-page/block-user/block-user-overlay/block-user-overlay.scss
  packages/p2p/src/components/advertiser-page/block-user/block-user-overlay/index.js
  packages/p2p/src/components/block-user/block-user-empty/block-user-empty.jsx
  packages/p2p/src/components/block-user/block-user-empty/block-user-empty.scss
  packages/p2p/src/components/block-user/block-user-empty/index.js
  packages/p2p/src/components/block-user/block-user-modal/block-user-modal.jsx
  packages/p2p/src/components/block-user/block-user-modal/block-user-modal.scss
  packages/p2p/src/components/block-user/block-user-modal/index.js
  packages/p2p/src/components/buy-sell/buy-sell.scss
  packages/p2p/src/components/error-modal/error-modal.jsx
  packages/p2p/src/components/error-modal/error-modal.scss
  packages/p2p/src/components/my-profile/block-user/block-user-table/block-user-row.jsx
  packages/p2p/src/components/my-profile/block-user/block-user-table/block-user-table-error.jsx
  packages/p2p/src/components/my-profile/block-user/block-user-table/block-user-table.jsx
  packages/p2p/src/components/my-profile/block-user/block-user-table/index.js
  packages/p2p/src/components/my-profile/block-user/block-user.jsx
  packages/p2p/src/components/my-profile/block-user/block-user.scss
  packages/p2p/src/components/my-profile/block-user/index.js
  packages/p2p/src/components/my-profile/my-profile-content.jsx
  packages/p2p/src/components/my-profile/my-profile-header/my-profile-header.jsx
  packages/p2p/src/components/my-profile/my-profile-header/my-profile-header.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats-table/my-profile-stats-table.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats.scss
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/my-profile/my-profile.scss
  packages/p2p/src/constants/my-profile-tabs.js
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-profile-store.js
Labels: Components, P2P

#6630 thisyahlen/fix for reset balance
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Utils/ExchangeCurrencyRate/exchange_currency_rate.js
Labels: Core

#6635 Blocked advertiser hotfix
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#6513 Vinu/73308/ts migration withdraw store component
  packages/cashier/src/components/cashier-onboarding/__tests__/cashier-onboarding.spec.tsx
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding.tsx
  packages/cashier/src/components/read-more-wrapper/__tests__/read-more-wrapper.spec.tsx
  packages/cashier/src/components/read-more-wrapper/index.ts
  packages/cashier/src/components/read-more-wrapper/read-more-wrapper.tsx
  packages/cashier/src/components/side-note/side-note.tsx
  packages/cashier/src/stores/__tests__/withdraw-store.spec.js
  packages/cashier/src/stores/cashier-store.js
  packages/cashier/src/stores/deposit-store.ts
  packages/cashier/src/stores/withdraw-store.ts
  packages/cashier/src/types/shared/account.types.ts
  packages/cashier/src/types/shared/websocket.types.ts
  packages/cashier/src/types/stores/client-store.types.ts
  packages/cashier/tsconfig.json
Labels: Core

#6246 MaryiaF/feat: Quick Strategy as per new design
  packages/bot-skeleton/src/constants/config.js
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/app/app.jsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/index.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/components.types.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/container.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/common-input-properties.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/data-fields.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/data-uniq-input-obj.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/footer.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/index.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/input-field.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/market-option.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/select-field.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/trade-type-option.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.types.ts
  packages/bot-web-ui/src/components/index.js
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.jsx
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot
