Repository deriv-com/deriv-app, pull requests merged in 2022-06, with the labels that each got.

#5378 Amina/test_coverage_for_currency_selector
  packages/account/src/Components/currency-selector/__tests__/currency-selector.spec.js
  packages/account/src/Components/currency-selector/__tests__/radio-button-group.spec.js
  packages/account/src/Components/currency-selector/__tests__/radio-button.spec.js
  packages/account/src/Components/currency-selector/currency-selector.jsx
Labels: Account

#5587 Amina/Poi idv verified spec
  packages/account/src/Components/poi-idv-verified/__tests__/poi-idv-verified.spec.js
  packages/account/src/Components/poi-idv-verified/poi-idv-verified.jsx
Labels: Account, AppStore

#5517 MaryiaF/fix: TrackJS error - Loading chunk 2016 failed
  packages/account/src/Constants/routes-config.js
  packages/account/src/index.js
  packages/appstore/src/index.tsx
  packages/bot-web-ui/src/app/app.js
  packages/cashier/src/Constants/routes-config.js
  packages/cashier/src/index.tsx
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/app.jsx
  packages/shared/src/index.js
  packages/shared/src/utils/loader-handler/index.js
  packages/shared/src/utils/loader-handler/loader-handler.js
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/Modules/SmartChart/index.js
  packages/trader/src/index.tsx
Labels: Trader, Core, Bot, Shared, Account, AppStore

#5603 Sara / Fixed issue with responsive issue
  packages/core/src/Modules/Endpoint/Endpoint.jsx
Labels: Core

#5491 Bala/add prettier ignore
  .prettierignore
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components

#5518 Ameerul /Task #63633 p2p blocking notification pa
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/dp2p-blocked/dp2p-blocked-checklist.jsx
  packages/p2p/src/components/dp2p-blocked/dp2p-blocked-description.jsx
  packages/p2p/src/stores/general-store.js
Labels: P2P

#5584 Hirad/ Audit cfd and trader and security suggestions for other packages
  package-lock.json
  package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/cfd/src/index.tsx
  packages/components/package.json
  packages/components/webpack.config.js
  packages/core/package.json
  packages/core/src/index.tsx
  packages/p2p/package.json
  packages/shared/package.json
  packages/trader/globals.d.ts
  packages/trader/package.json
  packages/trader/src/index.tsx
Labels: Trader, Core, Bot, Shared, Components, P2P, Account, AppStore

#5186 MaryiaF/fix: Bug - To remove ticks_history API call on click Reports …
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
Labels: Trader

#5439 Akmal / add brand config to deriv app
  packages/account/src/Components/currency-selector/currency-selector.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/self-exclusion/self-exclusion-article-content.jsx
  packages/account/src/Components/self-exclusion/self-exclusion-article.jsx
  packages/account/src/Components/self-exclusion/self-exclusion-inputs.jsx
  packages/account/src/Components/self-exclusion/self-exclusion.jsx
  packages/account/src/Components/sent-email-modal/sent-email-modal.jsx
  packages/account/src/Components/terms-of-use/terms-of-use-messages.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-steps.jsx
  packages/account/src/Sections/Security/Passwords/deriv-password.jsx
  packages/account/src/Sections/Security/Passwords/passwords-platform.jsx
  packages/appstore/src/components/modals/cfd-password-modal/cfd-password-modal.tsx
  packages/bot-web-ui/src/components/flyout/flyout.jsx
  packages/cashier/src/Components/CashierDefault/cashier-default-side-note.jsx
  packages/cashier/src/Components/Error/account-transfer-no-account.jsx
  packages/cashier/src/Components/Form/__tests__/account-transfer-form.spec.js
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Constants/platform-config.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-modal-2.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/pushwoosh-store.js
  packages/shared/brand.config.json
  packages/shared/src/index.js
  packages/shared/src/utils/brand/brand.js
  packages/shared/src/utils/brand/index.js
  packages/shared/src/utils/platform/platform.js
  packages/trader/src/App/Components/Elements/Modals/MarketUnavailableModal/market-unavailable.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Core, Bot, Account, AppStore

#5380 Maryia/Fix: Hide URL query params before sending to 3rd parties
  packages/core/src/Stores/client-store.js
Labels: Core

#5562 Bala/update smartcharts version
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#5568 Aizad/entry-time added for all contract types
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
  packages/trader/src/Stores/Modules/Contract/Helpers/chart-marker-helpers.js
Labels: Trader

#5512 Email Confirmation pop up
  packages/core/src/App/Containers/ConfirmEmailModal/confirm-email-modal.jsx
  packages/core/src/App/Containers/ResetEmailModal/reset-email-modal.jsx
  packages/core/src/sass/app/modules/reset-email.scss
Labels: Core

#5218 Adrienne / Showed confirmation popup when user clicks back button in Add Payment mobile page
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/components/buy-sell/buy-sell-modal.scss
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/my-ads/create-ad-add-payment-method-modal.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-profile/my-profile-content.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/cancel-add-payment-method-modal.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods.jsx
Labels: Components, P2P

#5638 farrah/fixed payment method label on my ads page
  packages/p2p/src/components/my-ads/create-ad-add-payment-method-modal.jsx
Labels: P2P

#5644 Revert "Maryia/Fix: Hide URL query params before sending to 3rd parties"
  packages/core/src/Stores/client-store.js
Labels: Core

#5648 Ameerul /Bug #66583 dp2p symbol not visible in dark theme mode
  packages/components/src/components/icon/common/ic-dp2p.svg
Labels: Components

#5589 Ameerul /Task 65488 Reusable modal to block advertiser
  packages/p2p/src/components/advertiser-page/block-user/block-user-modal.jsx
Labels: P2P

#5187 likhith/Fix validation message for payment methods
  packages/p2p/src/components/hooks/index.js
  packages/p2p/src/components/hooks/use-payment-method-validator.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/edit-payment-method-form.jsx
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#5642 Amina/poi_limited_test_case
  packages/account/src/Components/poi-limited/__tests__/poi-limited.spec.js
Labels: Account

#5637 yauheni / IdvRejected test coverage
  packages/account/src/Components/poi-idv-rejected/__tests__/poi-idv-rejected.spec.js
Labels: Account

#5636 yauheni / IdvNoSubmisssions test coverage
  packages/account/src/Components/poi-idv-limited/__tests__/poi-idv-limited.spec.js
Labels: Account

#5635 feat: add check if has restricted parent
  packages/bot-skeleton/src/scratch/hooks/contextmenu.js
Labels: Bot

#5561 Adrienne / P2P responsive add PM full screen modal button footers are now fixed by design
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/components/my-ads/create-ad-add-payment-method-modal.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-ads/quick-add-modal.jsx
  packages/p2p/src/components/my-profile/my-profile-content.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
Labels: P2P

#5680 Update branch
  package.json
  packages/account/src/Components/poi-idv-limited/__tests__/poi-idv-limited.spec.js
  packages/account/src/Components/poi-idv-rejected/__tests__/poi-idv-rejected.spec.js
  packages/account/src/Components/poi-limited/__tests__/poi-limited.spec.js
  packages/bot-skeleton/src/scratch/hooks/contextmenu.js
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/cashier/src/Stores/__tests__/deposit-store.spec.js
  packages/p2p/crowdin/messages.json
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/components/hooks/index.js
  packages/p2p/src/components/hooks/use-payment-method-validator.jsx
  packages/p2p/src/components/my-ads/create-ad-add-payment-method-modal.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-ads/quick-add-modal.jsx
  packages/p2p/src/components/my-profile/my-profile-content.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/edit-payment-method-form.jsx
  packages/p2p/src/stores/my-profile-store.js
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/tr.json
Labels: Bot, P2P, Account

#4988 likhith/created edit my ad screen
  packages/components/src/components/input-field/input-field.jsx
  packages/components/src/components/input-field/input.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/floating-rate/floating-rate.jsx
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/create-ad-summary.jsx
  packages/p2p/src/components/my-ads/edit-ad-cancel-modal.jsx
  packages/p2p/src/components/my-ads/edit-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/components/my-ads/edit-ad-summary.jsx
  packages/p2p/src/components/my-ads/my-ads-floating-rate-switch-modal.jsx
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/stores/floating-rate-store.js
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/utils/format-value.js
  packages/shared/src/styles/themes.scss
Labels: Shared, Components, P2P

#5685 Revert "Adrienne / P2P responsive add PM full screen modal button footers are now fixed by design"
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/components/my-ads/create-ad-add-payment-method-modal.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-ads/quick-add-modal.jsx
  packages/p2p/src/components/my-profile/my-profile-content.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
Labels: P2P

#5687 carol/ P2P: Fix incorrect error
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
Labels: P2P

#5694 refactor-blockly-loading to typescript
  packages/bot-web-ui/src/components/blockly-loading/blockly-loading.tsx
  packages/bot-web-ui/src/components/blockly-loading/index.ts
Labels: Bot

#5641 Amina/two_fa_notification
  packages/account/src/Sections/Security/TwoFactorAuthentication/digit-form.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
Labels: Core, Account

#5365 Amina/ test_coverage_for_file_uploader
  packages/account/src/Components/file-uploader-container/__tests__/file-uploader-container.spec.js
  packages/account/src/Components/file-uploader-container/__tests__/file-uploader.spec.js
  packages/account/src/Components/file-uploader-container/file-uploader-container.jsx
  packages/account/src/Components/file-uploader-container/file-uploader.jsx
  packages/components/src/components/file-dropzone/file-dropzone.jsx
Labels: Components, Account

#5640 Maryia/Added tests for cfd-poi component
  packages/cfd/src/Components/__tests__/cfd-poi.spec.js
  packages/cfd/src/Components/cfd-poi.tsx
  packages/components/src/components/modal/modal-footer.jsx
Labels: Components

#5661 yauheni / poi-idv-document-submit test coverage
  packages/account/src/Components/poi-idv-document-submit/__tests__/poi-idv-document-submit.spec.js
Labels: Account

#5719 Revert "yauheni / poi-idv-document-submit test coverage"
  packages/account/src/Components/poi-idv-document-submit/__tests__/poi-idv-document-submit.spec.js
Labels: Account

#5666 Maryia/Fix: Hide URL query params before sending to 3rd parties
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#5724 yauheni / IdvDocumentSubmit test coverage
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.js
Labels: Account

#5689 carol/ P2P: Search box component
  packages/p2p/src/components/buy-sell/__tests__/search-box.spec.js
  packages/p2p/src/components/buy-sell/buy-sell-header.jsx
  packages/p2p/src/components/search-box/index.js
  packages/p2p/src/components/search-box/search-box.jsx
  packages/p2p/src/components/search-box/search-box.scss
Labels: P2P

#5701 Mehrzad / 67136 / refactor bot-footer-extentions to TS
  packages/bot-web-ui/src/components/bot-footer-extensions/bot-footer-extensions.jsx
  packages/bot-web-ui/src/components/bot-footer-extensions/bot-footer-extensions.tsx
  packages/bot-web-ui/src/components/bot-footer-extensions/footer-tabs.tsx
  packages/bot-web-ui/src/components/bot-footer-extensions/index.ts
  packages/bot-web-ui/src/components/bot-footer-extensions/security-and-privacy.tsx
  packages/bot-web-ui/src/constants/bot-contents.js
  packages/bot-web-ui/src/constants/bot-contents.ts
Labels: Bot

#5348 Adrienne / Editable PM list in Create/Edit buy ad page
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.jsx
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.scss
  packages/p2p/src/components/my-ads/create-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/edit-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/components/my-ads/quick-add-modal.scss
Labels: P2P

#5749 carol/ Search box hotfix
  packages/p2p/src/components/search-box/search-box.jsx
Labels: P2P

#5487 likhith/Feature buy sell confirmation
  packages/cashier/src/pages/p2p-cashier/p2p-cashier.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/components/buy-sell/buy-sell-modal.scss
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/rate-change-modal.jsx
  packages/p2p/src/components/buy-sell/rate-change-modal.scss
  packages/p2p/src/components/floating-rate/__test__/floating-rate.spec.js
  packages/p2p/src/components/floating-rate/floating-rate.jsx
  packages/p2p/src/components/floating-rate/floating-rate.scss
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/create-ad-summary.jsx
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/components/my-ads/edit-ad-summary.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
  packages/p2p/src/components/my-profile/payment-methods/payment-method-card/payment-method-card.jsx
  packages/p2p/src/components/order-details/__test__/order-details-confirm-modal.spec.js
  packages/p2p/src/components/order-details/__test__/order-details.spec.js
  packages/p2p/src/components/order-details/order-details-confirm-modal.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/order-details/order-details.scss
  packages/p2p/src/components/order-details/order-info-block.jsx
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/components/orders/popup.jsx
  packages/p2p/src/components/p2p-accordion/p2p-accordion.jsx
  packages/p2p/src/constants/api-error-codes.js
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/floating-rate-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/utils/orders.js
  packages/shared/src/styles/themes.scss
Labels: Shared, Components, P2P

#5658 carol/Star rating
  package-lock.json
  packages/components/src/components/icon/common/ic-empty-star.svg
  packages/components/src/components/icon/common/ic-full-star.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
  packages/p2p/src/components/star-rating/index.js
  packages/p2p/src/components/star-rating/star-rating.jsx
Labels: Core, Components, P2P

#5564 Jest v 1.21
  e2e_tests/package-lock.json
  package-lock.json
  package.json
  packages/account/package.json
  packages/account/src/Components/terms-of-use/__tests__/terms-of-use.spec.js
  packages/cashier/src/components/cashier-onboarding/__tests__/cashier-onboarding.spec.js
  packages/cashier/src/pages/on-ramp/on-ramp-provider-popup/__tests__/on-ramp-provider-popup.spec.js
  packages/cashier/src/stores/__tests__/account-prompt-dialog-store.spec.js
  packages/cashier/src/stores/__tests__/account-transfer-store.spec.js
  packages/cashier/src/stores/__tests__/crypto-fiat-converter-store.spec.js
  packages/cashier/src/stores/__tests__/deposit-store.spec.js
  packages/cashier/src/stores/__tests__/error-dialog-store.spec.js
  packages/cashier/src/stores/__tests__/error-store.spec.js
  packages/cashier/src/stores/__tests__/general-store.spec.js
  packages/cashier/src/stores/__tests__/iframe-store.spec.js
  packages/cashier/src/stores/__tests__/on-ramp-store.spec.js
  packages/cashier/src/stores/__tests__/payment-agent-store.spec.js
  packages/cashier/src/stores/__tests__/payment-agent-transfer-store.spec.js
  packages/cashier/src/stores/__tests__/transaction-history-store.spec.js
  packages/cashier/src/stores/__tests__/verification-store.spec.js
  packages/cashier/src/stores/__tests__/withdraw-store.spec.js
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/components/stories/icon/icons.js
  packages/core/src/index.tsx
Labels: Core, Components, Account

#5702 Mehrzad/ 67099 / refactor bot-notification-messages to TS
  packages/bot-web-ui/src/components/bot-notification-messages/bot-notification-messages.tsx
  packages/bot-web-ui/src/components/bot-notification-messages/index.ts
Labels: Bot

#5703 Mehrzad/ 67100 / refactor chart.jsx to TS
  packages/bot-web-ui/src/components/chart/chart.jsx
  packages/bot-web-ui/src/components/chart/chart.tsx
  packages/bot-web-ui/src/components/chart/index.ts
  packages/bot-web-ui/src/components/chart/toolbar-widgets.tsx
Labels: Bot

#5726 yauheni / poa-verified test coverage
  packages/account/src/Components/icon-message-content/icon-message-content.jsx
  packages/account/src/Components/poa/status/verified/__tests__/verified.spec.js
  packages/account/src/Components/poa/status/verified/verified.jsx
Labels: Account

#5692 yauheni / scrollbars-container test coverage
  packages/account/src/Components/scrollbars-container/__tests__/scrollbars-container.spec.js
Labels: Account

#5736 Mehrzad / 67104 / refactor dashboard to ts
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/index.ts
Labels: Bot

#5717 Mehrzad / 67103 / refactor cotnract result overlay to TS
  packages/bot-web-ui/src/components/contract-result-overlay/contract-result-overlay.tsx
  packages/bot-web-ui/src/components/contract-result-overlay/index.ts
Labels: Bot

#5723 yauheni / poi-rejected-reasons test coverage
  packages/account/src/Components/icon-message-list/__tests__/icon-message-list.spec.js
  packages/account/src/Components/icon-message-list/icon-message-list.jsx
  packages/account/src/Components/poi/status/rejected-reasons/__tests__/rejected-reasons.spec.js
Labels: Account

#5590 Adrienne / Create blocked advertisers tab
  packages/components/src/components/icon/common/ic-empty-blocked-advertisers.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/p2p/src/components/advertiser-page/block-user/block-user-empty.jsx
  packages/p2p/src/components/advertiser-page/block-user/block-user-empty.scss
  packages/p2p/src/components/my-profile/my-profile-content.jsx
  packages/p2p/src/components/my-profile/my-profile-header/my-profile-header.jsx
  packages/p2p/src/components/my-profile/my-profile-header/my-profile-header.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats.jsx
  packages/p2p/src/constants/my-profile-tabs.js
Labels: Components, P2P

#5754 Edited deactivate-account-steps and reactivation details
  packages/account/src/Constants/routes-config.js
  packages/account/src/Sections/Security/AccountClosed/account-closed.jsx
  packages/account/src/Sections/Security/AccountClosed/index.js
  packages/account/src/Sections/Security/AccountDeactivated/index.js
  packages/account/src/Sections/Security/ClosingAccount/__tests__/closing-account-reason-form.spec.js
  packages/account/src/Sections/Security/ClosingAccount/__tests__/closing-account-reason.spec.js
  packages/account/src/Sections/Security/ClosingAccount/account-has-balance.jsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-reason-form.jsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-reason.jsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-steps.jsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account.jsx
  packages/account/src/Sections/Security/ClosingAccount/index.js
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-steps.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account.jsx
  packages/account/src/Sections/Security/DeactivateAccount/index.js
  packages/account/src/Sections/index.js
  packages/account/src/Styles/account.scss
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/modules/account-closed.scss
  packages/shared/src/utils/routes/routes.js
Labels: Core, Shared, Components, Account

#5737 Mehrzad / 67105 / refactor download to TS
  packages/bot-web-ui/src/components/download/download.tsx
  packages/bot-web-ui/src/components/download/index.ts
Labels: Bot

#5833 likhith/removed address validation in PoA
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
Labels: Account

#5406 Adrienne/Fixed Quick Add PM Ads modal navigation and button issues
  packages/p2p/src/components/my-ads/quick-add-modal.jsx
  packages/p2p/src/components/my-ads/quick-add-modal.scss
Labels: P2P

#5677 likhith/fix glitch in delete payment-method screen
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/delete-payment-method-error-modal.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.jsx
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#5725 Test case for unverified update
  packages/account/src/Components/poi/status/unverified/__tests__/unverified.spec.js
Labels: Account

#5535 Adrienne/Added back button link for edit PM form
  packages/p2p/src/components/my-profile/my-profile-content.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/cancel-add-payment-method-modal.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/edit-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods.jsx
Labels: P2P

#5857 Block unblock function draft
  packages/p2p/src/stores/general-store.js
Labels: P2P

#5763 Ako/ Add general doc for ts and git
  docs/Typescript/README.md
  docs/git/README.md
Labels: Docs

#5788 thisyahlen/ add terms and conditions link to the error message
  packages/core/src/Stores/common-store.js
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/company-wide-limit-exceeded-modal.jsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/services-error-modal.jsx
Labels: Trader, Core

#5832 farrah/ removed the transaction time banner in p2p
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/my-ads/reduce-order-time-banner.jsx
  packages/p2p/src/components/orders/order-table/__test__/order-table.spec.js
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/utils/date-time.js
Labels: P2P

#5732 Niloofar / Review root documentation
  README.md
  docs/JavaScript/README.md
  docs/Modules/README.md
  docs/README.md
Labels: Docs

#5716 Mehrzad / 67102 / refactor contract card loading to TS
  packages/bot-web-ui/src/components/contract-card-loading/contract-card-loading.tsx
  packages/bot-web-ui/src/components/contract-card-loading/index.js
  packages/bot-web-ui/src/components/contract-card-loading/index.ts
Labels: Bot

#5466 likhith/fix Error modal title in Edit ad
  packages/p2p/src/components/my-ads/create-ad-error-modal.jsx
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/constants/api-error-codes.js
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/utils/adverts.js
Labels: P2P

#5822 likhith/display trustpilot notification only after a week since account creation
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
Labels: Core

#5284 Adrienne / Changed layout for PM cards list in Ads page
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/my-ads/create-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/edit-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-ads/quick-add-modal.jsx
  packages/p2p/src/components/my-ads/sell-ad-payment-methods-list.jsx
  packages/p2p/src/components/my-ads/sell-ad-payment-methods-list.scss
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.scss
Labels: Components, P2P

#4915 Bala/Dx trade service token
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Containers/cfd-dashboard-container.tsx
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/cfd/src/Helpers/constants.ts
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/socket_base.js
Labels: Trader, Core

#5851 Bala/regenerate package lock
  package-lock.json
  packages/p2p/package-lock.json
Labels: P2P
