Repository deriv-com/deriv-app, pull requests merged in 2022-01, with the labels that each got.

#4392 Maryia/Showing DBot in Welcome modal only if DBot is allowed to a user
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome-modal-2.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#4358 nikolai/fix navigation to dtrader after coming from external platform
  packages/shared/src/utils/platform/platform.js
Labels: Shared

#4420 bahar/confusing_information_for_crypto_withdraw
  packages/cashier/src/Components/error-dialog.jsx
  packages/cashier/src/Stores/error-dialog-store.js
  packages/cashier/src/Stores/withdraw-store.js
  packages/components/src/components/read-more/read-more.jsx
  packages/components/src/components/read-more/read-more.scss
Labels: Components

#4483 Matin/Fix: Hide Bot, DBot and DSmartTrader for logged out EU IPs
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#4450 NikitaK/Bug In Dp2p page /my ads tab if hover on records the active …
  packages/p2p/src/components/my-ads/my-ads.scss
Labels: P2P

#4260 Hubert / Fixing Jersey postcode error for UK mf accounts
  packages/account/src/Configs/address-details-config.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/shared/src/utils/validation/index.js
  packages/shared/src/utils/validation/regex-validation.js
Labels: Shared, Account

#4478 Amina/Duration toggle for forex market -high low trade type
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-wrapper.jsx
Labels: Trader

#4453 Hojjat|Mahdiyeh/ Improvement: convert DeactivateAccountReason class component to funct…
  packages/account/src/Sections/Security/DeactivateAccount/__tests__/deactivate-account-reason-form.spec.js
  packages/account/src/Sections/Security/DeactivateAccount/__tests__/deactivate-account-reason.spec.js
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason-form.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
Labels: Account

#4495 Artsem / Virtual component test coverage
  packages/cashier/src/Components/Error/__tests__/virtual.spec.js
Labels: Trader

#4485 Artsem / FundsProtection component test coverage
  packages/cashier/src/Components/Error/__tests__/funds-protection.spec.js
Labels: Trader, Translations

#4556 Matin/Fix: Remove duplicated is_bot_allowed flag
  packages/core/src/Stores/client-store.js
Labels: Core

#4558 Matin/Fix: replaceCashierMenuOnClick prop
  packages/core/src/App/Containers/Layout/header/default-header.jsx
Labels: Core

#4451 yashim/fix: filter query params during PTA redirect
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/routes/routes.js
  packages/shared/src/utils/url/url.js
Labels: Core, Shared

#4431 MaryiaF/fix: open positions should show up when switched to demo account
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
  packages/trader/src/App/Containers/Routes/routes.jsx
  packages/trader/src/App/Containers/trade-header-extensions.jsx
  packages/trader/src/Modules/Reports/Containers/__tests__/open-positions.spec.js
  packages/trader/src/Modules/Reports/Containers/open-positions.jsx
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
Labels: Trader

#4527 Amina/notification to upload poi on fraud_detection
  packages/cashier/src/Components/Error/cashier-locked.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
Labels: Core

#4493 hirad/Trader ts config
  babel.config.json
  package-lock.json
  package.json
  packages/components/src/components/linear-progress/linear-progress-container.jsx
  packages/dashboard/package.json
  packages/trader/.eslintrc.js
  packages/trader/.eslintrc.ts
  packages/trader/build/constants.js
  packages/trader/build/webpack.config-test.js
  packages/trader/build/webpack.config.js
  packages/trader/globals.d.ts
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/App/app.tsx
  packages/trader/src/App/index.js
  packages/trader/src/App/index.tsx
  packages/trader/src/Modules/CFD/Containers/cfd-change-password-confirmation.tsx
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.jsx
  packages/trader/src/Modules/CFD/Containers/props.types.ts
  packages/trader/src/Modules/CFD/Containers/trading-password-manager.jsx
  packages/trader/src/index.tsx
  packages/trader/tsconfig.json
Labels: Trader, Components, Dashboard

#4588 Maryia/Replaced "Warning" message with "Appropriateness Test" message for MF users
  packages/core/src/App/Containers/RealAccountSignup/accept-risk-form.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/sass/real-account-signup.scss
Labels: Core

#3835 Artsem / #39890 enable transfer from crypto to crypto
  packages/cashier/src/Components/Error/form-error.jsx
  packages/cashier/src/Components/Form/account-transfer-form.jsx
  packages/cashier/src/Sass/cashier.scss
Labels: Trader, Core, Bot, Components, Account

#4607 Bala/update deriv charts version
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#4603 farrah/fix_test_warnings_on_bot_skeleton_package
  packages/bot-skeleton/src/scratch/blockly.js
  packages/bot-skeleton/src/scratch/blocks/Logic/controls_if.js
Labels: Bot

#4574 Matin/Fix:Eslint issue
  packages/shared/src/utils/platform/platform.js
  packages/trader/build/webpack.config-test.js
  packages/trader/build/webpack.config.js
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-wrapper.jsx
Labels: Trader, Shared

#4567 Mahdiyeh/Improvement: convert drawer class component to functional
  packages/components/src/components/drawer/__tests__/drawer.spec.js
  packages/components/src/components/drawer/drawer.jsx
Labels: Shared, Components, Translations

#4571 hirad/Refactored cfd-dashboard class component to functional component
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
Labels: Trader

#4423 George/convert 'personal details form' class component to functional component
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Account

#4538 Nikita/Linked with social account should not be intractable when mouse hover
  packages/account/src/Styles/account.scss
Labels: Core, Account

#4563 george/added closing of modal on ESC button
  packages/components/src/components/modal/modal.jsx
Labels: Components

#4633 Revert "george/added closing of modal on ESC button"
  packages/components/src/components/modal/modal.jsx
Labels: Components

#4629 Mahdiyeh/Fix error on cfd password modal close
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
Labels: Trader

#4424 nikolai/fix audio notifications for ios
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/sounds/announcement.mp3
  packages/bot-skeleton/src/scratch/sounds/announcement.ogg
  packages/bot-skeleton/src/scratch/sounds/coins.mp3
  packages/bot-skeleton/src/scratch/sounds/coins.ogg
  packages/bot-skeleton/src/scratch/sounds/i-am-being-serious.mp3
  packages/bot-skeleton/src/scratch/sounds/i-am-being-serious.ogg
  packages/bot-skeleton/src/scratch/sounds/job-done.mp3
  packages/bot-skeleton/src/scratch/sounds/job-done.ogg
  packages/bot-skeleton/src/scratch/sounds/out-of-bounds.mp3
  packages/bot-skeleton/src/scratch/sounds/out-of-bounds.ogg
  packages/bot-web-ui/src/components/audio/audio.jsx
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#4608 Mitra/Update deriv x synthetic leverage info
  packages/trader/src/Modules/CFD/Constants/cfd-specifications.js
  packages/trader/src/Modules/CFD/Containers/compare-accounts-modal.jsx
Labels: Trader, Shared

#4489 khalid/add deriv.be domain
  packages/core/src/index.html
  packages/core/src/root_files/localstorage-sync.html
  packages/shared/src/utils/config/config.js
  packages/shared/src/utils/url/constants.js
Labels: Core, Shared

#4587 farrah/fix_test_warnings_on_shared_package
  packages/shared/src/utils/cfd/index.js
  packages/shared/src/utils/dom/index.js
  packages/shared/src/utils/files/index.js
  packages/shared/src/utils/hooks/index.js
  packages/shared/src/utils/loader/index.js
  packages/shared/src/utils/validation/declarative-validation-rules.js
  packages/shared/src/utils/validation/regex-validation.js
Labels: Shared

#4623 Akmal / remove eslint warnings on dashboard package
  packages/dashboard/src/components/elements/account-wizard/account-wizard.tsx
  packages/dashboard/src/components/elements/account-wizard/containers/wallet-selector-form/wallet-selector.tsx
  packages/dashboard/src/components/elements/account-wizard/types.ts
  packages/dashboard/src/components/pages/home/home.tsx
  packages/dashboard/src/constants/wallet-labels.ts
Labels: Dashboard

#4594 Hirad/Cfd account copy js to ts
  packages/trader/src/Modules/CFD/Components/cfd-account-card.jsx
  packages/trader/src/Modules/CFD/Components/cfd-account-copy.tsx
  packages/trader/src/Modules/CFD/Components/props.types.ts
Labels: Trader

#4599 Matin/Fix: All core package warnings
  packages/core/src/App/Components/Elements/NotificationMessage/index.js
  packages/core/src/App/Components/Layout/Footer/toggle-fullscreen.jsx
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header/dashboard-header.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/_common/base/socket_cache.js
Labels: Core

#4674 Revert "khalid/add deriv.be domain"
  packages/core/src/index.html
  packages/core/src/root_files/localstorage-sync.html
  packages/shared/src/utils/config/config.js
  packages/shared/src/utils/url/constants.js
Labels: Core, Shared

#4560 Al-amin/Spacing in address section in personal details page, is changed.
  packages/account/src/Styles/account.scss
Labels: Account

#4689 george/added closing of modal on ESC button
  packages/components/src/components/modal/modal.jsx
Labels: Components

#4628 Mahdiyeh/Fix: convert change button to edit icon
  packages/components/src/components/button/button.jsx
  packages/components/src/components/button/button.scss
  packages/trader/src/Modules/CFD/Components/cfd-account-card.jsx
  packages/trader/src/sass/app/modules/mt5/cfd-dashboard.scss
Labels: Trader, Components

#4621 Maryia/Migrating CFDPersonalDetailsForm to TS
  package-lock.json
  packages/dashboard/package.json
  packages/dashboard/src/stores/client-store.ts
  packages/trader/globals.d.ts
  packages/trader/src/Modules/CFD/Components/cfd-personal-details-form.jsx
  packages/trader/src/Modules/CFD/Components/cfd-personal-details-form.tsx
  packages/trader/src/Modules/CFD/Components/cfd-poa.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-financial-stp-real-account-signup.jsx
Labels: Trader, Dashboard

#4590 Ako/ Fix forwardRef error in tests
  packages/components/src/components/linear-progress/linear-progress-container.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
Labels: Core, Components

#4627 Bala/settle contract based on transaction
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
Labels: Trader

#4604 Hirad/Trading password manager js to ts
  packages/trader/src/Modules/CFD/Containers/cfd-password-manager-modal.jsx
  packages/trader/src/Modules/CFD/Containers/props.types.ts
  packages/trader/src/Modules/CFD/Containers/trading-password-manager.tsx
Labels: Trader

#4540 salar / Refactor/remove babel polyfill
  babel.config.json
  jest.config.base.js
  jest.setup.js
  package.json
  packages/components/webpack.config.js
  packages/core/package.json
  packages/core/src/index.js
  packages/trader/package.json
  packages/trader/src/index.tsx
Labels: Trader, Core, Components

#4656 Hirad/Loading cfd real account display js to ts
  packages/trader/src/App/Components/Elements/chart-loader.jsx
  packages/trader/src/Modules/CFD/Components/cfd-demo-account-display.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
  packages/trader/src/Modules/CFD/Containers/loading-cfd-real-account-display.tsx
  packages/trader/src/Modules/Reports/Components/placeholder-component.jsx
  packages/trader/src/templates/_common/components/loading.tsx
Labels: Trader

#4678 Amina/ personal-details_add_ismounted
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Account

#4319 suthesh/add-2fa-notifications
  packages/core/src/Stores/Helpers/client-notifications.js
Labels: Core

#4684 MaryiaF/fix: missing toggle effect when clicking on the amount of the menu-switcher
  packages/core/src/sass/app/_common/components/account-switcher.scss
Labels: Trader, Core, Dashboard

#4688 yashim/chore: bump pushwoosh version
  packages/core/package.json
Labels: Core

#4636 Hirad/Missing real accout js to ts
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
  packages/trader/src/Modules/CFD/Containers/missing-real-account.tsx
  packages/trader/src/Modules/CFD/Containers/props.types.ts
Labels: Trader

#4605 Hirad/Mt5 account opening real financial stp modal js to ts
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
  packages/trader/src/Modules/CFD/Containers/mt5-account-opening-real-financial-stp-modal.tsx
  packages/trader/src/Modules/CFD/Containers/props.types.ts
Labels: Trader

#4606 Mahdiyeh/ Fix: trader package test warning
  packages/trader/src/App/Components/Elements/PositionsDrawer/PositionsDrawerCard/positions-drawer-card.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
  packages/trader/src/App/Components/Elements/market-countdown-timer.jsx
  packages/trader/src/App/Containers/trade-settings-extensions.jsx
  packages/trader/src/Modules/CFD/Components/cfd-account-card.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-financial-stp-real-account-signup.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.jsx
  packages/trader/src/Modules/CFD/Containers/compare-accounts-modal.jsx
  packages/trader/src/Modules/CFD/Containers/trading-password-manager.tsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/Contract/Containers/contract.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/marker.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
  packages/trader/src/Modules/Trading/Components/Form/DatePicker/trading-date-picker.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-wrapper.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader

#4596 hirad/Cfd dashboard container container js to ts
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard-container.tsx
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
  packages/trader/src/Modules/CFD/Containers/props.types.ts
  packages/trader/src/Modules/CFD/Helpers/constants.ts
Labels: Trader

#4600 farrah/fix_test_warnings_on_account_package
  packages/account/src/Configs/personal-details-config.js
  packages/account/src/Containers/account.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Security/AccountDeactivated/account-deactivated.jsx
  packages/account/src/Sections/Security/ConnectedApps/connected-apps.jsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
Labels: Account

#4639 Mahdiyeh/ convert CFDFinancialStpPendingDialog to TS
  packages/trader/src/Modules/CFD/Components/cfd-financial-stp-pending-dialog.tsx
  packages/trader/src/Modules/CFD/Components/props.types.ts
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
Labels: Trader

#4685 Mahdiyeh/ convert CFDServerErrorDialog component to typscript
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-server-error-dialog.tsx
  packages/trader/src/Modules/CFD/index.js
Labels: Trader

#4654 MaryiaF/refactor: convert CFDPOI to TS
  package-lock.json
  package.json
  packages/account/src/Components/file-uploader-container/file-uploader.jsx
  packages/components/src/components/data-list/data-list.jsx
  packages/components/src/components/date-picker/date-picker.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/dashboard/src/stores/client-store.ts
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar-mobile.jsx
  packages/trader/src/Modules/CFD/Components/cfd-poi.tsx
  packages/trader/src/Modules/CFD/Containers/cfd-financial-stp-real-account-signup.jsx
Labels: Trader, Core, Components, Account, Dashboard

#4708 Maryia/Migrated cfd-password-modal to TS
  packages/trader/package.json
  packages/trader/src/App/Containers/Modals/success-dialog.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-change-password-confirmation.tsx
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.tsx
  packages/trader/src/Modules/CFD/Containers/props.types.ts
  packages/trader/src/Modules/CFD/index.js
Labels: Trader

#4753 Revert "MaryiaF/refactor: convert CFDPOI to TS"
  package-lock.json
  package.json
  packages/account/src/Components/file-uploader-container/file-uploader.jsx
  packages/components/src/components/data-list/data-list.jsx
  packages/components/src/components/date-picker/date-picker.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/dashboard/src/stores/client-store.ts
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar-mobile.jsx
  packages/trader/src/Modules/CFD/Components/cfd-poi.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-financial-stp-real-account-signup.jsx
Labels: Trader, Core, Components, Account, Dashboard

#4755 Revert "Maryia/Migrated cfd-password-modal to TS"
  packages/trader/package.json
  packages/trader/src/App/Containers/Modals/success-dialog.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-change-password-confirmation.tsx
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.jsx
  packages/trader/src/Modules/CFD/Containers/props.types.ts
  packages/trader/src/Modules/CFD/index.js
Labels: Trader

#4752 carol/ P2P: Fix incorrect price issue
  packages/p2p/src/components/order-details/order-details-confirm-modal.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/orders/popup.jsx
Labels: P2P

#4758 NEW PR: Maryia/Migrated cfd-password-modal to TS
  packages/trader/package.json
  packages/trader/src/App/Containers/Modals/success-dialog.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-change-password-confirmation.tsx
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-password-modal.tsx
  packages/trader/src/Modules/CFD/Containers/props.types.ts
  packages/trader/src/Modules/CFD/index.js
Labels: Trader

#4645 farrah/connect_to_crypto_config_api
  packages/cashier/src/Stores/withdraw-store.js
  packages/core/src/_common/base/socket_base.js
Labels: Core

#4757 NEW PR: MaryiaF/refactor: convert CFDPOI to TS
  package-lock.json
  package.json
  packages/account/src/Components/file-uploader-container/file-uploader.jsx
  packages/components/src/components/data-list/data-list.jsx
  packages/components/src/components/date-picker/date-picker.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/dashboard/src/stores/client-store.ts
  packages/trader/src/App/Components/Form/CompositeCalendar/composite-calendar-mobile.jsx
  packages/trader/src/Modules/CFD/Components/cfd-poi.tsx
  packages/trader/src/Modules/CFD/Containers/cfd-financial-stp-real-account-signup.jsx
Labels: Trader, Core, Components, Account, Dashboard

#4743 salar | Fix: Do not round while getting last digit
  packages/bot-skeleton/src/services/tradeEngine/trade/Ticks.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
Labels: Bot

#4572 bahar/broken_withdrawal_iframe_if_no_payment_method
  packages/cashier/src/Containers/cashier.jsx
  packages/cashier/src/Sass/cashier.scss
  packages/components/src/components/vertical-tab/vertical-tab-content-container.jsx
  packages/components/src/components/vertical-tab/vertical-tab.jsx
Labels: Components

#4716 Mahdiyeh/Improvement: convert CfdAccountCard component to typscript(WIP)
  package-lock.json
  package.json
  packages/trader/package-lock.json
  packages/trader/src/Modules/CFD/Components/cfd-account-card.tsx
  packages/trader/src/Modules/CFD/Components/cfd-demo-account-display.jsx
  packages/trader/src/Modules/CFD/Components/cfd-poi.tsx
  packages/trader/src/Modules/CFD/Components/cfd-real-account-display.jsx
  packages/trader/src/Modules/CFD/Components/props.types.ts
Labels: Trader

#4778 Amina/Cfd account fix
  packages/trader/src/Modules/CFD/Components/cfd-account-card.tsx
Labels: Trader
