Repository deriv-com/deriv-app, pull requests merged in 2022-11, with the labels that each got.

#6836 farabi/fix--bot-builder-tour-design
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/dialog.scss
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#6831 Suisin/not able to create account when click on account switcher in cashier
  packages/p2p/src/components/buy-sell/currency-selector/currency-selector.scss
Labels: P2P

#6374 yauheni/74190/ ts migration for account unlink modal
  packages/account/src/Components/unlink-modal/__tests__/unlink-modal.spec.js
  packages/account/src/Components/unlink-modal/__tests__/unlink-modal.spec.tsx
  packages/account/src/Components/unlink-modal/index.js
  packages/account/src/Components/unlink-modal/index.ts
  packages/account/src/Components/unlink-modal/unlink-modal.tsx
Labels: Account

#6824 yauheni/79513/no language redirection from derivapp
  packages/components/src/components/static-url/static-url.jsx
Labels: Components

#6849 Rupato/79937/feature add tour retrigger
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-content.tsx
  packages/components/src/components/icon/common/ic-dbot-user-guide.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/public/images/common/static_images/builder-tour.png
  packages/core/src/public/images/common/static_images/onboard-tour.png
  packages/core/src/public/images/common/static_images/video_dbot.png
Labels: Core, Bot, Components

#6810 Akmal / Change highlighted market to subgroup
  packages/components/src/components/icon/underlying/ic-underlying-1HZ100V.svg
  packages/components/src/components/icon/underlying/ic-underlying-1HZ10V.svg
  packages/components/src/components/icon/underlying/ic-underlying-1HZ200V.svg
  packages/components/src/components/icon/underlying/ic-underlying-1HZ25V.svg
  packages/components/src/components/icon/underlying/ic-underlying-1HZ300V.svg
  packages/components/src/components/icon/underlying/ic-underlying-1HZ50V.svg
  packages/components/src/components/icon/underlying/ic-underlying-1HZ75V.svg
  packages/components/src/components/icon/underlying/ic-underlying-BOOM1000.svg
  packages/components/src/components/icon/underlying/ic-underlying-BOOM300N.svg
  packages/components/src/components/icon/underlying/ic-underlying-BOOM500.svg
  packages/components/src/components/icon/underlying/ic-underlying-CRASH1000.svg
  packages/components/src/components/icon/underlying/ic-underlying-CRASH300N.svg
  packages/components/src/components/icon/underlying/ic-underlying-CRASH500.svg
  packages/components/src/components/icon/underlying/ic-underlying-JD10.svg
  packages/components/src/components/icon/underlying/ic-underlying-JD100.svg
  packages/components/src/components/icon/underlying/ic-underlying-JD25.svg
  packages/components/src/components/icon/underlying/ic-underlying-JD50.svg
  packages/components/src/components/icon/underlying/ic-underlying-JD75.svg
  packages/components/src/components/icon/underlying/ic-underlying-R_10.svg
  packages/components/src/components/icon/underlying/ic-underlying-R_100.svg
  packages/components/src/components/icon/underlying/ic-underlying-R_25.svg
  packages/components/src/components/icon/underlying/ic-underlying-R_50.svg
  packages/components/src/components/icon/underlying/ic-underlying-R_75.svg
  packages/components/src/components/icon/underlying/ic-underlying-STPRNG.svg
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader, Components

#6856 Fix: derived and forex account limits structure
  packages/account/src/Components/account-limits/account-limits-table-cell.jsx
  packages/account/src/Components/account-limits/account-limits-turnover-limit-row.jsx
  packages/account/src/Components/account-limits/account-limits.jsx
  packages/account/src/Components/account-limits/account-limits.scss
Labels: Account

#6857 Akmal / Fix: synthetic to derived on welcome modal
  packages/core/src/App/Containers/WelcomeModal/welcome.jsx
Labels: Core

#6855 padding for dashboard import text position
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
Labels: Bot

#6844 farrah/ fixed cross border ad style
  packages/p2p/src/components/buy-sell/currency-selector/currency-selector.scss
  packages/p2p/src/stores/buy-sell-store.js
Labels: P2P

#6753 bahar/extract_copy_to_clipboard_to_hook
  packages/account/src/Components/api-token/__tests__/api-token.spec.js
  packages/account/src/Components/api-token/api-token-clipboard.jsx
  packages/cashier/src/pages/on-ramp/on-ramp-provider-popup/__tests__/on-ramp-provider-popup.spec.tsx
  packages/cashier/src/pages/on-ramp/on-ramp-provider-popup/on-ramp-provider-popup.tsx
  packages/cashier/src/stores/__tests__/on-ramp-store.spec.js
  packages/cashier/src/stores/on-ramp-store.js
  packages/cashier/src/utils/utility.js
  packages/components/src/components/clipboard/clipboard.jsx
  packages/components/src/hooks/index.js
  packages/components/src/hooks/use-copy-to-clipboard.ts
  packages/core/src/_common/utility.js
Labels: Core, Components, P2P, Account

#6677 yauheni/9321/self exclusion validation max balance max open positions for cr clients
  packages/account/src/Components/account-limits/account-limits.jsx
Labels: Account

#6798 Matin/Aizad: Acuity Social Trading
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Components/cfd-mt5-demo-account-display.tsx
  packages/cfd/src/Components/cfd-real-account-display.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Containers/__tests__/cfd-dashboard.spec.tsx
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/cfd/src/sass/cfd-dashboard.scss
  packages/components/src/components/icon/common/ic-close-dark.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-acuity.svg
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Elements/NotificationMessage/notification-banner.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Containers/AcuityDownloadModal/acuity-download-modal.tsx
  packages/core/src/App/Containers/AcuityDownloadModal/index.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/public/images/common/static_images/acuity_banner.png
  packages/core/src/public/images/common/static_images/acuity_modal.png
  packages/core/src/public/images/common/static_images/acuity_software.png
  packages/core/src/sass/app/_common/components/notification-banner.scss
  packages/core/src/sass/app/modules/acuity-download.scss
Labels: Core, Components

#6865 farrah/80516/fixed currency dropdown style
  packages/p2p/src/stores/buy-sell-store.js
Labels: P2P

#6867 farrah/80646/fixed buy/sell ad rate
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/general-store.js
Labels: P2P

#6809 george / rm78412 / repalce connect in withdrawal page
  packages/cashier/src/components/error-dialog/__tests__/error-dialog.spec.tsx
  packages/cashier/src/components/error-dialog/error-dialog.tsx
  packages/cashier/src/components/error/__tests__/error.spec.tsx
  packages/cashier/src/components/error/error.tsx
  packages/cashier/src/components/side-note/side-note.tsx
  packages/cashier/src/pages/account-transfer/account-transfer.tsx
  packages/cashier/src/pages/withdrawal/__tests__/withdrawal.spec.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/__tests__/crypto-withdraw-form.spec.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/crypto-withdraw-form.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-receipt/__tests__/crypto-withdraw-receipt.spec.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-receipt/crypto-withdraw-receipt.tsx
  packages/cashier/src/pages/withdrawal/withdraw/__tests__/withdraw.spec.tsx
  packages/cashier/src/pages/withdrawal/withdraw/withdraw.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-locked/__tests__/withdrawal-locked.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-locked/withdrawal-locked.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-verification-email/__tests__/withdrawal-verification-email.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-verification-email/withdrawal-verification-email.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/cashier/src/types/shared/error.types.ts
  packages/cashier/src/types/shared/websocket.types.ts
  packages/cashier/src/types/stores/common-store.types.ts
  packages/components/src/components/checklist/checklist.tsx
Labels: Components

#6786 Mitra/77130/Add whatsapp tool in the footer
  packages/components/src/components/icon/common/ic-whats-app.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/mobile-drawer/mobile-drawer.scss
  packages/components/stories/icon/icons.js
  packages/core/global.d.ts
  packages/core/src/App/Components/Elements/LiveChat/live-chat.jsx
  packages/core/src/App/Components/Elements/LiveChat/use-livechat.ts
  packages/core/src/App/Components/Elements/WhatsApp/index.ts
  packages/core/src/App/Components/Elements/WhatsApp/whatsapp.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/App/Containers/Layout/header/dashboard-platform-header.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/app/_common/components/live-chat.scss
  packages/core/src/sass/app/_common/layout/header.scss
  packages/core/tsconfig.json
  packages/shared/src/utils/url/constants.js
Labels: Core, Shared, Components, P2P

#6882 Ameerul /Task 79023 You have no Ads" page shown while adding payment methods.
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#6880 george / rm79831 / add WebMoney icon for payment agent (light/dark) modes
  packages/cashier/src/pages/payment-agent/payment-agent-card/constants/payment-agent-providers.js
  packages/components/src/components/icon/cashier/ic-cashier-web-money-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-web-money-light.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components

#6847 farrah/72116/fixed loading of payment details
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/stores/order-store.js
Labels: P2P

#6883 set tour to trigger first time only
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-content.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/utils/settings.js
Labels: Bot

#6905 Suisin/fix: broken poa page in responsive mode
  packages/account/src/Styles/account.scss
Labels: Account

#6848 carol/ P2P: Update P2p advertiser info subscription
  packages/p2p/src/components/advertiser-page/advertiser-page-stats.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/hooks/index.js
  packages/p2p/src/components/hooks/use-updating-available-balance.jsx
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/create-ad.jsx
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/components/my-profile/my-profile-form/my-profile-form.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-balance/my-profile-balance.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-details-container/my-profile-details-container.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-details-table/my-profile-details-table.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats-table/my-profile-stats-table.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats.jsx
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/order-details/order-details-cancel-modal.jsx
  packages/p2p/src/components/order-details/order-details-footer.jsx
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/stores/my-profile-store.js
  packages/p2p/src/stores/order-store.js
Labels: P2P

#6891 Ameerul /Bug 80766 Search payment method filter on buy/sell page does not work as expected
  packages/p2p/src/components/buy-sell/filter-modal/filter-modal-header.jsx
  packages/p2p/src/components/buy-sell/filter-modal/filter-modal.jsx
Labels: P2P

#6801 Suisin/Create connected-app article
  packages/account/src/Components/article/article.tsx
  packages/account/src/Sections/Security/ConnectedApps/connected-apps-article.jsx
  packages/account/src/Sections/Security/ConnectedApps/connected-apps.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#6838 hamid/78813/rename-dmt5-to-deriv-mt5
  packages/account/src/Components/currency-selector/__tests__/currency-selector.spec.js
  packages/account/src/Components/currency-selector/currency-selector.jsx
  packages/account/src/Components/sent-email-modal/__tests__/sent-email-modal.spec.js
  packages/account/src/Components/sent-email-modal/sent-email-modal.jsx
  packages/appstore/src/components/modals/cfd-password-modal/cfd-password-modal.tsx
  packages/appstore/src/components/temp-buttons/temp-buttons.tsx
  packages/bot-web-ui/src/stores/app-store.js
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
  packages/cashier/src/stores/account-transfer-store.js
  packages/cfd/src/Components/__tests__/cfd-demo-account-display.spec.js
  packages/cfd/src/Components/__tests__/cfd-real-account-display.spec.js
  packages/cfd/src/Containers/__tests__/cfd-dashboard.spec.tsx
  packages/cfd/src/Containers/__tests__/missing-real-account.spec.js
  packages/cfd/src/Containers/__tests__/trading-password-manager.spec.js
  packages/cfd/src/Containers/cfd-reset-password-modal.tsx
  packages/cfd/src/Containers/missing-real-account.tsx
  packages/core/src/App/Components/Elements/Modals/mt5-account-needed-modal.jsx
  packages/core/src/App/Constants/platform-config.js
  packages/core/src/App/Containers/WelcomeModal/welcome-modal-2.jsx
  packages/core/src/Services/socket-general.js
  packages/p2p/scripts/__tests__/extract-string.spec.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/translations/scripts/__tests__/extract-string.spec.js
Labels: Trader, Core, Bot, Translations, P2P, Account, AppStore

#6903 MaryiaF/81160/refactor: fix cognitive complexity of the Quick Strategy store
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot

#6922 thisyahlen/ bugfix: exit trader hub not redirecting to dtrader
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Labels: Core

#6887 Farabi/79321/link guide and faq to tutorial page
  packages/bot-web-ui/src/components/dashboard/dashboard-component/constants.ts
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/info-panel.tsx
Labels: Bot

#6925 thisyahlen/ fix: remove new tab for binary bot
  packages/appstore/src/components/platform-launcher/platform-launcher.tsx
Labels: AppStore

#6926 Hirad/ Trader hub redirection
  packages/core/src/App/Constants/routes-config.js
Labels: Core

#6889 Rupato/80467/Improved delete and save button for dashboard
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-web-ui/src/components/bot-notification-messages/bot-notification-messages.scss
  packages/bot-web-ui/src/components/bot-notification-messages/bot-notification-messages.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/icon-button.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/delete-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/constants/bot-contents.ts
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/save-modal-store.ts
Labels: Bot

#6931 Hirad/ Platform display for eu
  packages/appstore/src/modules/trading-hub/index.tsx
Labels: AppStore

#6932 fix: using different_routes_for_appstore
  packages/core/src/App/Constants/routes-config.js
Labels: Core

#6950 fix: worked on the dashboard constants and fixed run-panel not visibl…
  packages/bot-web-ui/src/components/bot-notification-messages/bot-notification-messages.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/constants/bot-contents.ts
  packages/bot-web-ui/src/stores/save-modal-store.ts
Labels: Bot

#6953 fix: 79580 Login popup doesn't show up when running the bots on dashb…
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
Labels: Bot

#6954 Sandeep/79580/login popup fix
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
Labels: Bot

#6945 Amina/ fix: mt5_server_error_on_mt5_for_trading_hub
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/cfd/build/webpack.config.js
  packages/cfd/src/Containers/cfd-server-error-dialog.tsx
Labels: AppStore

#6907 farrah/81373/lazy loading in p2p
  packages/core/build/config.js
  packages/p2p/index.js
  packages/p2p/package.json
  packages/p2p/webpack.config.js
Labels: Core, P2P

#6963 Sandeep/81850/show user name
  packages/bot-web-ui/src/components/dashboard/dashboard-component/info-panel.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
Labels: Bot

#6965 Revert "Amina/ fix: mt5_server_error_on_mt5_for_trading_hub"
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/cfd/build/webpack.config.js
  packages/cfd/src/Containers/cfd-server-error-dialog.tsx
Labels: AppStore

#6966 Revert "thisyahlen /fix: trade button cursor not allowed"
  packages/appstore/src/components/onboarding/static-applauncher.scss
  packages/appstore/src/components/onboarding/static-platform-launcher.scss
Labels: AppStore

#6967 Revert "fix: using different_routes_for_appstore"
  packages/core/src/App/Constants/routes-config.js
Labels: Core

#6969 Revert "thisyahlen/ fix: remove new tab for binary bot"
  packages/appstore/src/components/platform-launcher/platform-launcher.tsx
Labels: AppStore

#6970 Revert "thisyahlen/ bugfix: exit trader hub not redirecting to dtrader"
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Labels: Core

#6971 Revert "translations: 📚 sync translations with crowdin"
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations, P2P

#6914 Adrienne / Show online-offline status in buy-sell page
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/online-status/index.js
  packages/p2p/src/components/online-status/online-status-avatar.jsx
  packages/p2p/src/components/online-status/online-status-icon.jsx
  packages/p2p/src/components/online-status/online-status-label.jsx
  packages/p2p/src/components/online-status/online-status.scss
Labels: Components, P2P

#6763 MaryiaF/78803/refactor: cognitive complexity of the Quick Strategy Form and other code smells of new DBot
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/components.types.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/common-input-properties.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/data-fields.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/data-uniq-input-obj.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/description.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/duration-fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/index.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/input-field.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/inputs.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/selects.tsx
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot

#6843 MaryiaF/feat: responsive styles as per mobile version design
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/components.types.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/footer.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.types.ts
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot, Components

#6939 Farabi/81086/add congrats dialog for tour
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/dialog.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#6986 Rupato/81796/fix: for the tutorials video loading
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/dialog.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-content.tsx
  packages/core/src/public/images/common/static_images/video_dbot.webp
Labels: Core, Bot

#6994 fix: for--tour-guides-missing-state
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
Labels: Bot

#6996 Sandeep/81850/show user name
  packages/bot-web-ui/src/components/dashboard/dashboard-component/info-panel.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
Labels: Bot

#6998 MaryiaF/81969/Quick strategy--On entering 2 in Martingale strategy throwing error message, Create is only displayed instead of Create and Edit
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/footer.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
Labels: Bot

#6999 Rupato/81776/fix: Unable_to_view_the_loaded_strategy_under_Dashboard_page
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#6997 fix: for the previous button and added overlays to the tour guides
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
Labels: Bot

#5831 Aizad|Likhith/Task Appropriateness Testing Implementation
  .husky/pre-commit
  packages/account/build/webpack.config.js
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/trading-assessment/index.js
  packages/account/src/Components/trading-assessment/risk-tolerance-warning-modal.jsx
  packages/account/src/Components/trading-assessment/test-warning-modal.jsx
  packages/account/src/Components/trading-assessment/trading-assessment-dropdown.jsx
  packages/account/src/Components/trading-assessment/trading-assessment-form.jsx
  packages/account/src/Components/trading-assessment/trading-assessment-new-user.jsx
  packages/account/src/Components/trading-assessment/trading-assessment-radio-buttons.jsx
  packages/account/src/Configs/personal-details-config.js
  packages/account/src/Configs/trading-assessment-config.js
  packages/account/src/Constants/routes-config.js
  packages/account/src/Containers/account.jsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-information-list.js
  packages/account/src/Sections/Assessment/FinancialAssessment/index.js
  packages/account/src/Sections/Assessment/TradingAssessment/index.js
  packages/account/src/Sections/Assessment/TradingAssessment/trading-assessment.jsx
  packages/account/src/Sections/Profile/FinancialAssessment/index.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/index.js
  packages/account/src/Styles/account.scss
  packages/cashier/src/pages/withdrawal/disable-withdrawal-modal.jsx
  packages/cashier/src/types/stores/client-store.types.ts
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/icon/common/ic-assessment.svg
  packages/components/src/components/icon/common/ic-verification-success.svg
  packages/components/src/components/icon/currency/ic-currency-eur-check.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/components/src/components/radio-group/radio-group.jsx
  packages/components/src/components/radio-group/radio-group.scss
  packages/components/src/components/select-native/select-native.jsx
  packages/components/src/components/select-native/select-native.scss
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/completed-assessment-modal.jsx
  packages/core/src/App/Containers/Modals/cooldown-warning-modal.jsx
  packages/core/src/App/Containers/Modals/success-dialog.jsx
  packages/core/src/App/Containers/Modals/trading-assessment-existing-user.jsx
  packages/core/src/App/Containers/Modals/trading-experience-modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard-form.js
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/_common/base/socket_base.js
  packages/core/src/sass/account-wizard.scss
  packages/shared/src/utils/routes/routes.ts
Labels: Core, Components, Translations, Account

#7005 Farabi/81770/fix-dashboard UI bugs
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
Labels: Bot

#7013 Farabi/81922/fix--bot-builder UI bugs
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
Labels: Bot

#6911 farabi/81427/blocks-menu-list-issue
  packages/bot-skeleton/src/scratch/hooks/css.js
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.scss
  packages/bot-web-ui/src/components/dashboard/bot-builder/workspace.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/flyout/flyout.scss
Labels: Bot

#7004 Rupato/82003/edit-button-in-dashboard-does-not-open-strategy
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#7011 farabi/82013/fix--search-in-tutorials-in-dark-mode
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
Labels: Bot

#7019 likhith/incorporated icon for risk warning
  packages/core/src/App/Containers/Modals/trading-assessment-existing-user.jsx
Labels: Core

#7008 MaryiaF/81969_2/should go throw properly for 2 which is minimum for Martingale
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
Labels: Bot

#7021 likhith/appropriateness test bug fixes
  packages/account/src/Containers/account.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/Modals/trading-assessment-existing-user.jsx
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/account-wizard.scss
Labels: Core, Account

#7025 MaryiaF/81969/fix: validation martingale-size of quick strategy form
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
Labels: Bot

#7014 Rupato/81862/fix tour guide previous button
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#7028 likhith/page-navigation-fix
  packages/account/src/Components/trading-assessment/trading-assessment-form.jsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#7029 Fix: Aizad/82151/page navigation fix
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.jsx
Labels: Account

#7034 Aizad/ Fix: show cooldown modal in cfd when trading is disabled
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Components/cfd-real-account-display.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/cfd/src/Containers/compare-accounts-modal.tsx
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#7037 likhith/scroll issue when banner is present
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.jsx
Labels: Account

#7035 farabi/82299/fix--load-issue-for-block-menu-items
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
Labels: Bot

#7036 farabi/82274/fix--your-bots-section-should-not-be-clickable
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
Labels: Bot

#6896 Vinu/79411/derivez cashier transfer
  packages/cashier/src/pages/account-transfer/account-transfer-form/__tests__/account-transfer-form.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form-side-note.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
  packages/cashier/src/stores/__tests__/account-transfer-store.spec.js
  packages/cashier/src/stores/account-transfer-store.js
  packages/cashier/src/stores/general-store.js
  packages/cashier/src/types/shared/account.types.ts
  packages/components/src/components/icon/derivez/ic-derivez.svg
  packages/core/src/Constants/cfd-text.js
  packages/shared/brand.config.json
  packages/shared/src/utils/brand/brand.ts
  packages/shared/src/utils/cfd/cfd.ts
  packages/shared/src/utils/platform/platform.ts
Labels: Core, Shared, Components, Account, AppStore

#7016 Likith/pr to tigger translations
  packages/account/src/Components/personal-details/personal-details.jsx
Labels: Account

#7042 Farabi/82329/fix change light theme and dark theme tour color
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/dialog.scss
  packages/shared/src/styles/themes.scss
Labels: Bot, Shared

#6956 MaryiaF/81635/Fix element colors on Dark Mode
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.scss
  packages/components/src/components/icon/common/ic-bot-builder-tab-icon.svg
  packages/components/src/components/icon/common/ic-charts-tab-dbot.svg
  packages/components/src/components/icon/common/ic-dashboard-component-tab.svg
  packages/components/src/components/icon/common/ic-quick-strategy-icon.svg
  packages/components/src/components/icon/common/ic-tutorials-tabs.svg
  packages/shared/src/styles/themes.scss
Labels: Bot, Shared, Components

#7053 MaryiaF/82437/fix: any style's remarks as per new design DBot
  packages/bot-skeleton/src/scratch/hooks/css.js
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/workspace-control.tsx
Labels: Bot, Shared
