Repository deriv-com/deriv-app, pull requests merged in 2022-05, with the labels that each got.

#5368 Maryia/Fix: Using relevant allow equals state to subscribe to correct proposal
  packages/trader/src/Stores/Modules/Trading/Helpers/process.js
Labels: Trader

#5302 Vinu/Wallet names from be
  packages/appstore/src/components/app.tsx
  packages/appstore/src/components/create-wallet/create-wallet-provider.ts
  packages/appstore/src/components/create-wallet/create-wallet-wrapper.tsx
  packages/appstore/src/components/create-wallet/create-wallet.tsx
  packages/appstore/src/components/create-wallet/stories/create-wallet.stories.tsx
  packages/appstore/src/constants/wallet-types.ts
  packages/appstore/src/stores/root-store.ts
  packages/appstore/src/stores/wallet-store.ts
  packages/appstore/src/types/stores.types.ts
Labels: Core, AppStore

#5266 carol/ P2P: Fix payment methods footer
  packages/p2p/src/components/my-ads/create-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/edit-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.scss
Labels: P2P

#5220 likhith/Implemented order reduced banner
  packages/components/src/components/hint-box/hint-box.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-ads/reduce-order-time-banner.jsx
  packages/p2p/src/components/orders/order-table/__test__/order-table.spec.js
  packages/p2p/src/components/orders/order-table/order-table.jsx
  packages/p2p/src/components/orders/orders.scss
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/utils/date-time.js
Labels: Components, P2P

#5362 Maryia/fix: trackjs error 'failed to fetch GET /manifest.json'
  packages/core/build/config.js
  packages/core/src/index.html
Labels: Trader, Core

#5358 Sara / Fixed issue with authorized api
  packages/bot-skeleton/src/services/api/ticks_service.js
Labels: Bot

#5222 Amina/mobile-apps-environment_undefined_on_logout_history
  packages/account/src/Sections/Security/LoginHistory/login-history.jsx
Labels: Account

#5267 Amina/ test_coverage_for_Account_limits_component_in_Accounts_package
  packages/account/src/Components/account-limits/__tests__/account-limit-overlay.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-article.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-extra-info.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-footer.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-table-cell.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-table-header.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-turnover-limit-row.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits.spec.js
  packages/account/src/Components/account-limits/account-limits-footer.jsx
  packages/account/src/Components/account-limits/account-limits-table-cell.jsx
  packages/account/src/Components/account-limits/account-limits-table-header.jsx
  packages/account/src/Components/account-limits/account-limits-turnover-limit-row.jsx
  packages/account/src/Components/account-limits/account-limits.jsx
Labels: Account

#5217 Amina/State_name_used_for_address_state_in_set_settings_API_call
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
Labels: Account

#5219 likhith/resolved table render issue with IPhone
  packages/cashier/src/Components/Form/crypto-withdraw-form.jsx
  packages/cashier/src/Sass/cashier.scss
  packages/cashier/src/Sass/crypto-withdraw-form.scss
Labels: Components

#5113 Vijayasree/ POI-Resubmission
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#5173 yauheni / #59664 SEO rel canonical added
  packages/account/src/Components/Routes/route-with-sub-routes.jsx
  packages/cashier/src/Components/Routes/route-with-sub-routes.jsx
  packages/components/src/components/route-with-subroutes/route-with-subroutes.jsx
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/core/src/index.html
  packages/shared/src/utils/dom/index.js
  packages/shared/src/utils/dom/seo_optimization.js
  packages/trader/src/App/Components/Routes/route-with-sub-routes.jsx
Labels: Trader, Core, Shared, Components, Account

#4944 likhith/P2p console error
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/my-profile-store.js
  packages/p2p/src/utils/websocket.js
Labels: P2P

#5216 Nikita/ Task - Add test coverage for "LeaveConfirm" component in accounts package
  packages/account/src/Components/leave-confirm/__tests__/leave-confirm.spec.js
  packages/account/src/Components/leave-confirm/leave-confirm.jsx
Labels: Account

#5249 re:61762 fix: Sometimes the error keep happening in the loop and the …
  packages/bot-skeleton/src/constants/messages.js
Labels: Bot

#5123 likhith/Testing P2P Empty component
  packages/p2p/src/components/empty/__test__/p2p-empty.spec.js
Labels: P2P

#5417 Revert "Niloofar / Global ts config - ts configuration for trader and cfd and appstore packages"
  .eslintrc.js
  package-lock.json
  package.json
  packages/appstore/package.json
  packages/appstore/src/components/routes/routes.tsx
  packages/appstore/src/types/params.types.ts
  packages/appstore/tsconfig.json
  packages/cfd/package.json
  packages/cfd/tsconfig.json
  packages/trader/globals.d.ts
  packages/trader/package.json
  packages/trader/tsconfig.json
  tsconfig.json
Labels: Trader, AppStore

#5193 george / remove "set a new currency" side note on cashier page and Manage accounts button for ML clients if they visited cashier page at least 1 time
  packages/cashier/src/Components/CashierDefault/__tests__/cashier-default-side-note.spec.js
  packages/cashier/src/Components/CashierDefault/cashier-default-side-note.jsx
  packages/cashier/src/Components/CashierDefault/cashier-default.jsx
  packages/cashier/src/Stores/deposit-store.js
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/change-account-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
Labels: Core

#5156 likhith/fixed autocomplete issue while adding new payment method
  packages/p2p/src/components/my-ads/create-ad-form-payment-methods.jsx
Labels: P2P

#5035 Sara / Refactor bot interfaces
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/tradeEngine/Interface/BotInterface.js
  packages/bot-skeleton/src/services/tradeEngine/Interface/CandleInterface.js
  packages/bot-skeleton/src/services/tradeEngine/Interface/IndicatorsInterface.js
  packages/bot-skeleton/src/services/tradeEngine/Interface/MiscInterface.js
  packages/bot-skeleton/src/services/tradeEngine/Interface/TicksInterface.js
  packages/bot-skeleton/src/services/tradeEngine/Interface/ToolsInterface.js
  packages/bot-skeleton/src/services/tradeEngine/Interface/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/cliTools.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot, Components

#5403 SuiSin/Fixed Change Currency UI Button
  packages/core/src/sass/add-or-manage.scss
Labels: Core, Components, P2P

#5317 Hubert| Mahdiyeh/ refactore: convert PurchaseFieldset class component to functional
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.jsx
Labels: Trader

#5322 Amina/updating state_regex to accept more characters
  packages/shared/src/utils/validation/regex-validation.js
Labels: Shared

#5359 Fix dbot network error ext
  packages/bot-web-ui/src/app/app.jsx
  packages/bot-web-ui/src/components/index.js
  packages/bot-web-ui/src/components/network-toast-popup/index.js
  packages/bot-web-ui/src/components/network-toast-popup/network-toast-popup.jsx
  packages/core/src/Stores/notification-store.js
Labels: Core, Bot

#5166 Hirad / Derivx fund transfer bug
  packages/cfd/src/Containers/cfd-dashboard.tsx
Labels: Trader

#5410 Aizad/Fix carousel bug
  packages/components/src/components/carousel/carousel.jsx
  packages/components/src/components/carousel/carousel.scss
Labels: Components

#5421 Aizad /remove mt5 reset password section for users coming from deriv go
  packages/account/src/Sections/Security/Passwords/passwords.jsx
Labels: Account

#5192 MaryiaF/fix: suspend message should be visible without a refresh for …
  packages/cfd/src/Containers/cfd-dashboard.tsx
Labels: Trader

#5420 Niloofar / Typescript main configs
  .eslintrc.js
  package-lock.json
  package.json
  packages/appstore/package.json
  packages/appstore/src/components/routes/routes.tsx
  packages/appstore/src/types/params.types.ts
  packages/appstore/tsconfig.json
  packages/cfd/package.json
  packages/cfd/tsconfig.json
  packages/trader/globals.d.ts
  packages/trader/package.json
  packages/trader/tsconfig.json
  tsconfig.json
Labels: Trader, AppStore

#5270 Adrienne / Adjusted Buy order modal to be 100% in height
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
Labels: P2P

#5470 Mahdiyeh/Refactor: Prettier issues in files
  packages/bot-web-ui/src/app/app.jsx
  packages/bot-web-ui/src/components/network-toast-popup/network-toast-popup.jsx
  packages/cashier/src/Containers/__tests__/routes.spec.js
  packages/p2p/src/utils/validations.js
Labels: Bot, P2P

#5469 check slow build
  .circleci/config.yml
  packages/account/package.json
  packages/core/package-lock.json
Labels: Core, Account

#5434 MaryiaF/fix: The amount of Balance is not Properly shown in the Journal
  packages/bot-skeleton/src/services/tradeEngine/trade/Balance.js
Labels: Bot

#5384 Mahdiyeh/remove fe msg error
  packages/account/src/Styles/account.scss
  packages/core/src/App/Containers/ResetEmailModal/reset-email-modal.jsx
Labels: Core, Account

#5272 Adrienne / Added name in modal title when deleting PM for Others payment method
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.jsx
Labels: P2P

#4964 likhith/create floating-rate ad
  packages/components/src/components/input-field/input-field.jsx
  packages/components/src/components/input-field/input.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/floating-rate/__test__/floating-rate.spec.js
  packages/p2p/src/components/floating-rate/floating-rate.jsx
  packages/p2p/src/components/floating-rate/floating-rate.scss
  packages/p2p/src/components/my-ads/ad-status.scss
  packages/p2p/src/components/my-ads/ad-type.jsx
  packages/p2p/src/components/my-ads/ad-type.scss
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/create-ad-summary.jsx
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/page-return/page-return.scss
  packages/p2p/src/stores/floating-rate-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/index.js
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/utils/format-value.js
  packages/p2p/src/utils/validations.js
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
Labels: Bot, Shared, Components, P2P, Account

#5444 yauheni/bug 55036 MF real account creation unset currency notifocation
  packages/core/src/Stores/client-store.js
Labels: Core

#5478 Amina/poi_name_mismatch_notification_content_update
  packages/core/src/Stores/notification-store.js
Labels: Core

#5422 Sara / Fix issue lasttick
  packages/bot-skeleton/src/scratch/blocks/Binary/Tick Analysis/tick.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tick Analysis/ticks.js
  packages/bot-skeleton/src/scratch/blocks/Math/math_on_list.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Ticks.js
Labels: Bot

#5472 farrah/ fix modal when choosing accounts from deposit page
  packages/cashier/src/Components/account-prompt-dialog.jsx
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core, Components

#5467 Ameerul /Bug #64006 Non advertiser account -- Inconsistent Behaviour
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
Labels: P2P

#5282 Adrienne / Cancel Edit modal shown when user cancels editing PM in Profile page
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/cancel-edit-payment-method-modal.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/edit-payment-method-form.jsx
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#5435 2falogout enable logout session
  packages/account/src/Sections/Security/TwoFactorAuthentication/digit-form.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
Labels: Account

#5189 MaryiaF/fix: TrackJS error - Loading chunk 2016 failed
  packages/account/src/Constants/routes-config.js
  packages/account/src/index.js
  packages/appstore/src/index.tsx
  packages/bot-web-ui/src/app/app.js
  packages/cashier/src/Constants/routes-config.js
  packages/cashier/src/index.js
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/app.jsx
  packages/shared/src/index.js
  packages/shared/src/utils/loader-handler/index.js
  packages/shared/src/utils/loader-handler/loader-handler.js
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/Modules/SmartChart/index.js
  packages/trader/src/index.tsx
Labels: Trader, Core, Bot, Shared, Account, AppStore

#5513 Revert "MaryiaF/fix: TrackJS error - Loading chunk 2016 failed"
  packages/account/src/Constants/routes-config.js
  packages/account/src/index.js
  packages/appstore/src/index.tsx
  packages/bot-web-ui/src/app/app.js
  packages/cashier/src/Constants/routes-config.js
  packages/cashier/src/index.js
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/app.jsx
  packages/shared/src/index.js
  packages/shared/src/utils/loader-handler/index.js
  packages/shared/src/utils/loader-handler/loader-handler.js
  packages/trader/src/App/Constants/routes-config.js
  packages/trader/src/Modules/SmartChart/index.js
  packages/trader/src/index.tsx
Labels: Trader, Core, Bot, Shared, Account, AppStore

#5493 fix not showing ticks on different trade type
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration.jsx
Labels: Trader

#5407 ameerul / changed the margin-top for mobile view for buy-sell
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
Labels: P2P

#5443 george / pa wrong transfer improvement
  packages/cashier/src/Components/Confirm/__tests__/payment-agent-transfer-confirm.spec.js
  packages/cashier/src/Components/Confirm/payment-agent-transfer-confirm.jsx
  packages/cashier/src/Components/__tests__/confirm.spec.js
  packages/cashier/src/Components/confirm.jsx
  packages/cashier/src/Sass/confirm.scss
  packages/cashier/src/Sass/payment-agent-transfer-confirm.scss
  packages/components/src/components/icon/cashier/ic-cashier-red-warning.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components

#5436 Jim | Kahlid/Precommit hooks fix
  .eslintrc.js
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/appstore/src/components/elements/account-wizard/containers/wallet-selector-form/wallet-selector.tsx
  packages/appstore/src/components/modals/cfd-password-modal/cfd-password-modal.tsx
  packages/bot-skeleton/package.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/components/toolbox/toolbox-items.jsx
  packages/cashier/package.json
  packages/cfd/.eslintrc.js
  packages/cfd/.eslintrc.ts
  packages/cfd/build/config.js
  packages/cfd/src/Components/Errors/index.js
  packages/cfd/src/Components/Routes/index.js
  packages/cfd/src/Containers/cfd-password-manager-modal.jsx
  packages/cfd/src/Containers/index.js
  packages/cfd/src/Modules/Page404/index.js
  packages/cfd/src/Utils/Validator/index.js
  packages/cfd/src/_common/base/server_time.js
  packages/components/package.json
  packages/components/src/components/themed-scrollbars/index.js
  packages/core/package.json
  packages/indicators/package.json
  packages/p2p/package.json
  packages/publisher/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/translations/package.json
Labels: Trader, Core, Bot, Shared, Components, Translations, P2P, Account, AppStore

#5492 yauheni / fix: cannot read find of undefined 62643
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-display.jsx
Labels: Trader

#5411 Niloofar / Typescript configuration for account package
  packages/account/build/constants.js
  packages/account/build/webpack.config.js
  packages/account/globals.d.ts
  packages/account/tsconfig.json
Labels: Account

#5225 yauheni/54666 poi expired test coverage
  packages/account/src/Components/poi-expired/__tests__/expired.spec.js
Labels: Account

#5424 Ameerul /Task #57939 design difference
  packages/components/src/components/hint-box/hint-box.jsx
  packages/components/src/components/hint-box/hint-box.scss
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/components/buy-sell/buy-sell-modal.scss
  packages/shared/src/styles/themes.scss
Labels: Shared, Components, P2P

#5536 Ameerul /Bug 65392 order already exists
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/stores/buy-sell-store.js
Labels: P2P

#5412 Niloofar / Typescript config for bot-skeleton and bot-web-ui
  packages/bot-skeleton/globals.d.ts
  packages/bot-skeleton/tsconfig.json
  packages/bot-web-ui/globals.d.ts
  packages/bot-web-ui/tsconfig.json
  packages/bot-web-ui/webpack.config.js
Labels: Bot

#5488 farrah/fix continue button in account deactivation
  packages/account/src/Sections/Security/DeactivateAccount/__tests__/deactivate-account-reason.spec.js
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account-reason-form.jsx
Labels: Account

#5441 yauheni/ address-details test coverage
  packages/account/src/Components/address-details/__tests__/address-details.spec.js
Labels: Components, Account

#5364 Yauheni/ Api token test coverage
  packages/account/src/Components/api-token/__tests__/api-token.spec.js
Labels: Account

#5373 likhith/Test coverage for misc and order components
  packages/components/src/components/form-submit-error-message/__test__/form-submit-error-message.spec.js
  packages/components/src/components/form-submit-error-message/form-submit-error-message.jsx
  packages/p2p/src/components/buy-sell/__tests__/sort-dropdown.spec.js
  packages/p2p/src/components/buy-sell/sort-dropdown.jsx
  packages/p2p/src/components/misc/__test__/animation-wrapper.spec.js
  packages/p2p/src/components/misc/__test__/toggle-container.spec.js
  packages/p2p/src/components/order-details/__test__/order-details-cancel-modal.spec.js
  packages/p2p/src/components/order-details/__test__/order-details-complain-modal-radio-group.spec.js
  packages/p2p/src/components/order-details/__test__/order-details-complain-modal.spec.js
  packages/p2p/src/components/order-details/__test__/order-details-confirm-modal.spec.js
  packages/p2p/src/components/order-details/__test__/order-details-footer.spec.js
  packages/p2p/src/components/order-details/__test__/order-details-timer.spec.js
  packages/p2p/src/components/order-details/__test__/order-details.spec.js
  packages/p2p/src/components/order-details/__test__/order-info-block.spec.js
  packages/p2p/src/components/table/__test__/table-error.spec.js
  packages/p2p/src/components/user/user-avatar/__test__/user-avatar.spec.js
Labels: Components, P2P

#5377 Terms of use test coverage
  packages/account/src/Components/terms-of-use/__tests__/terms-of-use.spec.js
Labels: Account

#5520 Amina/Welcome_modal_not_sure_content_update
  packages/core/src/App/Containers/WelcomeModal/welcome-item.jsx
  packages/core/src/App/Containers/WelcomeModal/welcome.jsx
Labels: Core

#5542 Bot freeze issue fix when the client face the msg
  packages/bot-skeleton/src/constants/messages.js
Labels: Bot

#5565 Jim / chore: update @binary-com-binary-document-uploader to version 2_4_7
  packages/account/package.json
  packages/core/package-lock.json
Labels: Core, Account

#5414 Niloofar / Typescript configs for components, core and shared workspaces
  packages/components/globals.d.ts
  packages/components/src/components/wizard/index.tsx
  packages/components/tsconfig.json
  packages/core/build/constants.js
  packages/core/build/webpack.config.js
  packages/core/globals.d.ts
  packages/core/src/index.tsx
  packages/core/tsconfig.json
  packages/shared/globals.d.ts
  packages/shared/package.json
  packages/shared/tsconfig.json
Labels: Core, Shared, Components

#5283 carol/ P2P: Remove patch fix for price
  packages/p2p/src/components/order-details/order-details-confirm-modal.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/orders/popup.jsx
Labels: P2P

#5543 yauheni/54666 poi expired test coverage
  packages/account/src/Components/poi-expired/__tests__/expired.spec.js
Labels: Account

#5551 Ako/ replace inequality sign with strict inequality in webpack config files
  packages/account/build/webpack.config.js
  packages/bot-web-ui/webpack.config.js
  packages/cashier/build/webpack.config.js
  packages/core/build/webpack.config-test.js
Labels: Core, Bot, Account

#5558 Ameerul /Bug #65388 hint box dark theme
  packages/shared/src/styles/themes.scss
Labels: Shared

#5533 george / Amend "Withdrawal Locked" Notification on Deriv Platform to include Upload Instruction for POA
  packages/core/src/Stores/notification-store.js
Labels: Core

#5445 MaryiaF/fix: DBot stop button is not getting enabled during attempt t…
  packages/bot-web-ui/src/components/trade-animation/trade-animation.jsx
Labels: Bot

#5184 tests: coverage order-details-wrapper component
  packages/p2p/src/components/order-details/__tests__/order-details-wrapper.spec.js
  packages/p2p/src/components/order-details/order-details-wrapper.jsx
  packages/p2p/src/components/page-return/page-return.jsx
Labels: P2P

#5325 Adrienne / Removed repeated PM display names on My Profile PM section as per design specs
  packages/p2p/src/components/my-profile/payment-methods/payment-method-card/payment-method-card.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.jsx
Labels: P2P

#5475 yauheni / poi-idv-submit-complete test coverage
  packages/account/src/Components/poi-idv-submit-complete/__tests__/poi-idv-submit-complete.spec.js
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/core/src/Stores/client-store.js
  packages/p2p/src/components/my-profile/my-profile-form/my-profile-form.jsx
Labels: Core, P2P, Account

#5415 Niloofar / Typescript config for p2p
  packages/p2p/globals.d.ts
  packages/p2p/tsconfig.json
  packages/p2p/webpack.config.js
Labels: P2P
