Repository deriv-com/deriv-app, pull requests merged in 2022-10, with the labels that each got.

#6568 Akmal / Rename Synthetic accounts into Derived
  packages/account/src/Components/reset-trading-password-modal/__tests__/reset-trading-password-modal.spec.js
  packages/appstore/src/components/modals/cfd-password-modal/cfd-password-modal.tsx
  packages/cfd/src/Components/__tests__/cfd-account-card.spec.tsx
  packages/cfd/src/Components/__tests__/cfd-demo-account-display.spec.js
  packages/cfd/src/Components/__tests__/cfd-real-account-display.spec.js
  packages/cfd/src/Components/cfd-demo-account-display.tsx
  packages/cfd/src/Components/cfd-mt5-demo-account-display.tsx
  packages/cfd/src/Components/cfd-real-account-display.tsx
  packages/cfd/src/Constants/cfd-shared-strings.js
  packages/cfd/src/Containers/__tests__/cfd-change-password-confirmation.spec.js
  packages/cfd/src/Containers/__tests__/cfd-dashboard.spec.tsx
  packages/cfd/src/Containers/__tests__/cfd-password-manager-modal.spec.js
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
  packages/cfd/src/Containers/__tests__/cfd-top-up-demo-modal.spec.js
  packages/cfd/src/Containers/__tests__/compare-accounts-content.spec.js
  packages/cfd/src/Containers/__tests__/trading-password-manager.spec.js
  packages/cfd/src/Containers/cfd-password-manager-modal.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/compare-accounts-content.tsx
  packages/cfd/src/Containers/jurisdiction-modal-content.tsx
  packages/cfd/src/Containers/jurisdiction-modal.tsx
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
  packages/cfd/src/Containers/trading-password-manager.tsx
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
  packages/cfd/src/sass/cfd-dashboard.scss
  packages/components/src/components/icon/dxtrade/ic-dxtrade-derived.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-derived.svg
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Header/account-info.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Constants/cfd-text.js
  packages/shared/src/utils/cfd/cfd.js
Labels: Core, Shared, Components, Account, AppStore

#6652 carol/ React simple star rating dependency
  packages/p2p/package.json
Labels: P2P

#6352 74461/Amina/new_kyc_flow_for_mt5
  packages/account/build/webpack.config.js
  packages/account/src/Components/poa/status/unverified/unverified.jsx
  packages/account/src/Components/poi-poa-docs-submitted/poi-poa-docs-submitted.jsx
  packages/account/src/Components/poi/status/unsupported/detail-component.jsx
  packages/account/src/Components/poi/status/unsupported/unsupported.jsx
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/stores/account-transfer-store.js
  packages/cashier/src/types/stores/client-store.types.ts
  packages/cfd/src/Components/cfd-personal-details-form.tsx
  packages/cfd/src/Components/cfd-poa.tsx
  packages/cfd/src/Constants/jurisdiction-contents.ts
  packages/cfd/src/Containers/__tests__/cfd-dashboard.spec.tsx
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/cfd/src/Containers/cfd-dbvi-onboarding.tsx
  packages/cfd/src/Containers/cfd-financial-stp-real-account-signup.tsx
  packages/cfd/src/Containers/jurisdiction-modal-content.tsx
  packages/cfd/src/Containers/jurisdiction-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-banner.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-checkbox.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-foot-note.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/cfd/src/sass/cfd-dashboard.scss
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/timeline/timeline.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/shared/src/utils/cfd/cfd.js
Labels: Core, Bot, Shared, Components, Account, AppStore

#6573 thisyahlen/ added tour guide component
  package-lock.json
  packages/appstore/package.json
  packages/appstore/src/components/onboarding/onboarding.tsx
  packages/appstore/src/components/toggle-account-type/toggle-account-type.scss
  packages/appstore/src/components/toggle-account-type/toggle-account-type.tsx
  packages/appstore/src/constants/tour-steps-config.tsx
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/appstore/src/types/params.types.ts
  packages/appstore/tsconfig.json
  packages/components/src/components/icon/icons.js
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
  packages/shared/src/styles/constants.scss
Labels: Core, Shared, Components, Account, AppStore

#6676 Mahdiyeh/Cfd store implementation
  package-lock.json
  packages/appstore/package.json
  packages/appstore/src/components/CFDs/cfd-accounts-container.tsx
  packages/appstore/src/declarations.d.ts
  packages/appstore/src/stores/root-store.ts
  packages/appstore/src/types/stores.types.ts
  packages/appstore/webpack.config.js
  packages/cfd/build/webpack.config.js
  packages/core/build/loaders-config.js
  packages/core/globals.d.ts
  packages/core/src/App/app.jsx
  packages/core/src/Stores/cfd-account-store.js
  packages/core/src/Stores/index.js
  packages/shared/src/loaders/deriv-cfd-loader.js
Labels: Core, Shared, AppStore

#6230 Hirad/ Updated api-types to version 1.0.53 and updated some of cfd types
  package-lock.json
  packages/cfd/src/Components/cfd-real-account-display.tsx
Labels: Trader, AppStore

#6418 Ameerul /Bug 63121 Buy/Sell ads are both listed after quickly switching tabs
  packages/p2p/src/components/buy-sell/buy-sell-header.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/stores/buy-sell-store.js
Labels: P2P

#6408 Ameerul / Bug 74750 Responsive : Inconsistent behaviour when doing rating from Order list page
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/rating-modal/rating-modal.jsx
  packages/p2p/src/components/recommend-user/recommend-user.jsx
  packages/p2p/src/stores/order-store.js
  packages/p2p/src/utils/orders.js
Labels: P2P

#6509 yauheni/75860/responsive change password modal is not shown for dmt5 and deriv x
  packages/account/src/Sections/Security/Passwords/passwords-platform.jsx
Labels: Account

#6457 Farzin/76191/The names of advertisers change to red color and looks like a hyperlink when a user hoverers over them but not clickable
  packages/p2p/src/components/buy-sell/buy-sell.scss
Labels: P2P

#6312 farrah/69587/fixed floating rate limit
  packages/p2p/src/stores/floating-rate-store.js
Labels: P2P

#6272 Adrienne / Made Fixed rate field for edit ad form to be highlighted
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
Labels: P2P

#6368 yauheni/74098/ts migration account article component
  packages/account/src/Components/account-limits/account-limits-article.jsx
  packages/account/src/Components/api-token/api-token-article.jsx
  packages/account/src/Components/article/__tests__/article.spec.tsx
  packages/account/src/Components/article/article.spec.js
  packages/account/src/Components/article/article.tsx
  packages/account/src/Components/article/index.js
  packages/account/src/Components/article/index.ts
  packages/account/src/Components/self-exclusion/self-exclusion-article.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication-article.jsx
Labels: Account

#6530 farrah/72082/added local currency to rate
  packages/p2p/src/components/order-details/order-details.jsx
Labels: P2P

#6412 Jim/74982/auto-height-wrapper-component-ts-migration
  packages/components/src/components/auto-height-wrapper/auto-height-wrapper.tsx
  packages/components/src/components/auto-height-wrapper/index.js
  packages/components/src/components/auto-height-wrapper/index.ts
Labels: Components

#6339 Farzin/POC/74924/Add `useStore` and `useWS` hooks
  packages/cashier/package.json
  packages/cashier/src/app.jsx
  packages/cashier/src/hooks/__tests__/useCountdown.test.tsx
  packages/cashier/src/hooks/__tests__/useWS.test.tsx
  packages/cashier/src/hooks/index.ts
  packages/cashier/src/hooks/useCountdown.ts
  packages/cashier/src/hooks/useStore.tsx
  packages/cashier/src/hooks/useVerifyEmail.ts
  packages/cashier/src/hooks/useWS.ts
  packages/cashier/src/types/index.ts
  packages/cashier/src/types/stores/client-store.types.ts
  packages/cashier/src/types/types.ts
  packages/cashier/src/types/utils.ts
  packages/shared/src/services/index.js
  packages/shared/src/services/ws-methods.js
Labels: Shared

#5929 Farzin/70772/Refactor cashier locked component
  packages/cashier/src/components/cashier-locked/cashier-locked-provider.tsx
  packages/cashier/src/components/cashier-locked/cashier-locked.tsx
  packages/cashier/src/components/empty-state/empty-state.scss
  packages/cashier/src/components/empty-state/empty-state.tsx
  packages/cashier/src/components/empty-state/index.ts
  packages/components/src/components/vertical-tab/vertical-tab-content-container.jsx
Labels: Bot, Shared, Components, Docs, Account

#6579 Hirad/76734/onboarding static dashboard
  packages/appstore/src/assets/svgs/wallet/ic-appstore-binarybot-blue.svg
  packages/appstore/src/assets/svgs/wallet/ic-appstore-deriv-logo.svg
  packages/appstore/src/assets/svgs/wallet/ic-appstore-derivgo-black.svg
  packages/appstore/src/assets/svgs/wallet/ic-appstore-derivx.svg
  packages/appstore/src/assets/svgs/wallet/ic-appstore-smarttrader-blue.svg
  packages/appstore/src/assets/svgs/wallet/index.tsx
  packages/appstore/src/components/onboarding/onboarding.scss
  packages/appstore/src/components/onboarding/onboarding.tsx
  packages/appstore/src/components/onboarding/static-applauncher.scss
  packages/appstore/src/components/onboarding/static-applauncher.tsx
  packages/appstore/src/components/onboarding/static-cfd-account-manager.scss
  packages/appstore/src/components/onboarding/static-cfd-account-manager.tsx
  packages/appstore/src/components/onboarding/static-dashboard.scss
  packages/appstore/src/components/onboarding/static-dashboard.tsx
  packages/appstore/src/components/onboarding/static-platform-launcher.scss
  packages/appstore/src/components/onboarding/static-platform-launcher.tsx
  packages/appstore/src/components/platform-launcher/platform-launcher.scss
  packages/appstore/src/constants/trading-hub-content.ts
  packages/appstore/src/constants/trading-hub-content.tsx
  packages/components/src/components/icon/appstore/ic-appstore-add-square.svg
  packages/components/src/components/icon/appstore/ic-appstore-deriv-logo.svg
  packages/components/src/components/icon/appstore/ic-appstore-derived.svg
  packages/components/src/components/icon/appstore/ic-appstore-derivx.svg
  packages/components/src/components/icon/appstore/ic-appstore-financial.svg
  packages/components/src/components/icon/appstore/ic-appstore-options.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components, Account, AppStore

#6629 hamid/74165/ts-migration-shared-stores
  packages/cashier/package.json
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding.tsx
  packages/cashier/src/stores/__tests__/account-prompt-dialog-store.spec.ts
  packages/cashier/src/stores/__tests__/crypto-fiat-converter-store.spec.ts
  packages/cashier/src/stores/__tests__/error-dialog-store.spec.ts
  packages/cashier/src/stores/__tests__/general-store.spec.ts
  packages/cashier/src/stores/__tests__/transaction-history-store.spec.ts
  packages/cashier/src/stores/__tests__/verification-store.spec.ts
  packages/cashier/src/stores/account-prompt-dialog-store.ts
  packages/cashier/src/stores/account-transfer-store.ts
  packages/cashier/src/stores/base-store.ts
  packages/cashier/src/stores/crypto-fiat-converter-store.ts
  packages/cashier/src/stores/error-dialog-store.ts
  packages/cashier/src/stores/error-store.ts
  packages/cashier/src/stores/general-store.ts
  packages/cashier/src/stores/on-ramp-store.ts
  packages/cashier/src/stores/payment-agent-store.js
  packages/cashier/src/stores/transaction-history-store.ts
  packages/cashier/src/stores/verification-store.ts
  packages/cashier/src/types/shared/account.types.ts
  packages/cashier/src/types/shared/websocket.types.ts
  packages/cashier/src/types/stores/client-store.types.ts
  packages/cashier/src/types/stores/common-store.types.ts
  packages/cashier/src/types/stores/index.ts
  packages/cashier/src/types/stores/menu-store.types.ts
  packages/cashier/src/types/stores/root-store.types.ts
  packages/cashier/src/types/stores/ui-store.types.ts
  packages/cashier/src/utils/validator/validator.js
  packages/shared/src/utils/cfd/cfd.js
  packages/shared/src/utils/validation/declarative-validation-rules.js
Labels: Bot, Shared, Account, AppStore

#6672 implementation of guide tab in tutorials
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/components/dashboard/dashboard-components/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/dialog.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.ts
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
  packages/bot-web-ui/src/stores/dashboard-store.js
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/root-store.ts
  packages/components/stories/icon/icons.js
Labels: Bot, Components

#6542 tib/chore: remove storybook deployment
  .circleci/config.yml
  storybook.Dockerfile
  storybook/README.md
  storybook/docker-compose.yaml
Labels: Docs, Devops

#6718 hotfix: fixed blocks color not switching on switch from dtrader to dbot
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/colours.js
Labels: Bot

#6721 Mahdiyeh/73628/compare account modal
  packages/appstore/src/components/CFDs/cfd-accounts-container.tsx
  packages/appstore/src/components/CFDs/cfd-accounts.scss
  packages/appstore/src/components/toggle-account-type/toggle-account-type.tsx
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/cfd/build/webpack.config.js
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Components/cfd-demo-account-display.tsx
  packages/cfd/src/Components/cfd-dxtrade-demo-account-display.tsx
  packages/cfd/src/Components/cfd-mt5-demo-account-display.tsx
  packages/cfd/src/Components/cfd-poi.tsx
  packages/cfd/src/Components/cfd-real-account-display.tsx
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/cfd/src/Containers/cfd-dbvi-onboarding.tsx
  packages/cfd/src/Containers/cfd-financial-stp-real-account-signup.tsx
  packages/cfd/src/Containers/cfd-password-manager-modal.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/cfd-personal-details-modal.tsx
  packages/cfd/src/Containers/cfd-reset-password-modal.tsx
  packages/cfd/src/Containers/cfd-server-error-dialog.tsx
  packages/cfd/src/Containers/cfd-top-up-demo-modal.tsx
  packages/cfd/src/Containers/compare-accounts-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal-content.tsx
  packages/cfd/src/Containers/jurisdiction-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-banner.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/cfd/src/Stores/connect.js
  packages/cfd/src/sass/cfd-dashboard.scss
  packages/components/src/components/icon/icons.js
Labels: Components, AppStore

#6575 Making Blockly workspace globally available
  packages/bot-skeleton/src/utils/workspace.js
  packages/bot-web-ui/src/app/app.jsx
  packages/bot-web-ui/src/app/app.scss
  packages/bot-web-ui/src/components/bot-notification-messages/bot-notification-messages.scss
  packages/bot-web-ui/src/components/bot-notification-messages/bot-notification-messages.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.scss
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/constants.ts
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.ts
  packages/bot-web-ui/src/components/dashboard/dashboard-component/info-panel.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/run-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-components/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-components/index.ts
  packages/bot-web-ui/src/components/dashboard/dashboard-components/sidebar.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#6749 Mahdiyeh/Update pre appstore with master
  .github/workflows/codecov.yml
  nx-cloud.env.example
  nx.json
  package-lock.json
  package.json
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/colours.js
  packages/components/src/components/app-card/app-card.jsx
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
Labels: Bot, Components, Translations, P2P

#6670 thisyahlen/ redirect new users to trading hub
  packages/appstore/src/constants/routes-config.ts
  packages/appstore/src/modules/onboarding/index.ts
  packages/appstore/src/modules/onboarding/onboarding.scss
  packages/appstore/src/modules/onboarding/onboarding.tsx
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/appstore/src/stores/config-store.ts
  packages/appstore/src/types/params.types.ts
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/App/Containers/Layout/header/header.jsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/shared/src/utils/routes/routes.js
Labels: Core, Shared, AppStore

#6716 bahar/crypto_deposit_address_copy_does_not_work_first_time
  packages/components/src/components/clipboard/clipboard.jsx
Labels: Components

#6551 Shayan/73332/fix ts config on core
  packages/core/globals.d.ts
  packages/core/tsconfig.json
Labels: Core

#6473 Adrienne / Fixed an issue where notification count is not synced up with completed orders
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/notification-store.js
  packages/p2p/src/stores/general-store.js
Labels: Core, P2P

#6347 hamid/74870/remove-extra-scrollbar-in-p2p-payment-methods
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.jsx
Labels: P2P

#6443 Ameerul /Bug 66772 On pausing the ads , PM tiles are not getting greyed out
  packages/p2p/src/components/my-ads/ad-type.jsx
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
Labels: P2P

#6626 Yauheni/74383/convert app in accounts to functional component
  packages/account/build/webpack.config.js
  packages/account/src/App.jsx
  packages/account/src/App.tsx
  packages/account/src/Stores/index.js
  packages/account/src/Stores/index.ts
  packages/account/src/index.tsx
Labels: Account

#6533 carol/P2P: Fix repeating character
  packages/p2p/src/stores/general-store.js
Labels: P2P

#6421 Ameerul /Task 65799 Buyer instruction and seller detail are being truncated
  packages/p2p/src/components/order-details/order-details.scss
  packages/p2p/src/components/order-details/payment-method-accordion-content.scss
  packages/p2p/src/components/order-details/payment-method-accordion-header.jsx
Labels: P2P

#6484 Ameerul /Bug 63130 Ads "Status" hover icons are still enabled for temporary barred account
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
Labels: P2P

#6641 Adrienne / Made advertiser page scrollable for very small screen heights
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
Labels: P2P

#6648 yauheni/77756/remove all links thech.binary.com
  packages/shared/src/utils/url/url.js
Labels: Shared

#6642 thisyahlen/added a gap between ticks and duration
  packages/components/src/components/dropdown/dropdown.scss
Labels: Components

#6643 Adrienne / Real name is now shown at bottom of alternative name when it is too long in advertiser page
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
Labels: P2P

#6534 farrah/56738/fixed filter modal in dark mode
  packages/p2p/src/components/buy-sell/filter-modal/filter-modal.scss
Labels: P2P

#6375 farrah/57001/fixed delete ad modal with active orders
  packages/p2p/src/components/my-ads/my-ads-delete-modal.jsx
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#6735 Vinu/renamed dmt5 to deriv mt5 in cashier
  packages/cashier/src/pages/account-transfer/account-transfer-form/__tests__/account-transfer-form.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form-side-note.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-no-account/__tests__/account-transfer-no-account.spec.tsx
  packages/cashier/src/stores/__tests__/account-transfer-store.spec.js
  packages/cashier/src/stores/account-transfer-store.js
  packages/cfd/src/Containers/__tests__/cfd-dashboard.spec.tsx
  packages/shared/brand.config.json
  packages/shared/src/utils/cfd/cfd.ts
Labels: Shared

#6679 MaryiaF/77948/refactor: implementation of new design DBot Hompage
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/container.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/data-fields.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/data-uniq-input-obj.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot

#6558 farabi/Added tutorial faq content
  packages/bot-web-ui/package-lock.json
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-content.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/components/src/components/icon/common/ic-bot-builder-arrow.svg
  packages/components/src/components/icon/common/ic-botbuilder-tab-icon.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/package-lock.json
  packages/core/src/public/images/common/static_images/blocks_menu.png
  packages/core/src/public/images/common/static_images/blocks_menu_search.png
  packages/core/src/public/images/common/static_images/loss_control.png
  packages/core/src/public/images/common/static_images/loss_control_purchase_conditions.png
  packages/core/src/public/images/common/static_images/loss_control_restart_trade_conditions.png
  packages/core/src/public/images/common/static_images/loss_control_trade_parameters.png
  packages/core/src/public/images/common/static_images/reset_transaction_log.png
  packages/core/src/public/images/common/static_images/reset_transaction_log_message.png
  packages/shared/src/styles/constants.scss
Labels: Core, Bot, Shared, Components

#6754 thisyahlen/ add total assets
  packages/appstore/src/components/total-assets/total-assets.scss
  packages/appstore/src/components/total-assets/total-assets.tsx
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/common-store.js
  packages/core/src/Utils/ExchangeCurrencyRate/exchange_currency_rate.js
  packages/core/src/Utils/ExchangeCurrencyRate/index.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
Labels: Core, AppStore

#6768 farrah/ added modal manager component
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/modal-manager/index.js
  packages/p2p/src/components/modal-manager/modal-manager-context-provider.jsx
  packages/p2p/src/components/modal-manager/modal-manager-context.js
  packages/p2p/src/components/modal-manager/modal-manager.jsx
Labels: P2P

#6767 added react joyride tour configuration
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
Labels: Bot, Components, P2P

#6746 Farzin/78410/Replace `connect` method with `useStore` hook for components related to `Deposit`
  packages/cashier/src/pages/deposit/__tests__/deposit.spec.tsx
  packages/cashier/src/pages/deposit/crypto-deposit/__tests__/crypto-deposit.spec.tsx
  packages/cashier/src/pages/deposit/crypto-deposit/crypto-deposit.tsx
  packages/cashier/src/pages/deposit/deposit-locked/__tests__/deposit-locked.spec.tsx
  packages/cashier/src/pages/deposit/deposit-locked/deposit-locked.tsx
  packages/cashier/src/pages/deposit/deposit.tsx
Labels: Translations, P2P

#6682 Farzin/77937/Alignment difference in API token and 2FA page
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
Labels: Components, Translations, P2P

#6656 refactor: :arrow_up: upgraded depenedency that caused build failure
  packages/account/.eslintrc.js
  packages/account/build/constants.js
  packages/account/build/global.d.ts
  packages/account/package.json
  packages/account/src/Types/common-prop.type.ts
  packages/account/src/Types/context.type.ts
  packages/account/src/Types/index.ts
  packages/account/tsconfig.json
Labels: Account

#6684 thisyahlen/create new account text align in button
  packages/core/src/App/Containers/PasswordSelectionModal/password-selection-modal.jsx
Labels: Core

#6668 Farzin/77730/Change `DMT5` to `Deriv MT5` in setting
  packages/account/src/Sections/Security/Passwords/passwords-platform.jsx
Labels: Account

#6621 Farzin/77435/add `useSubscription` hook
  packages/cashier/src/hooks/__tests__/useCountdown.spec.tsx
  packages/cashier/src/hooks/__tests__/useDepositLocked.spec.tsx
  packages/cashier/src/hooks/__tests__/useNeedAuthentication.spec.tsx
  packages/cashier/src/hooks/__tests__/useNeedFinancialAssessment.spec.tsx
  packages/cashier/src/hooks/__tests__/useNeedTNC.spec.tsx
  packages/cashier/src/hooks/__tests__/useRealSTPAccount.spec.tsx
  packages/cashier/src/hooks/__tests__/useStore.spec.tsx
  packages/cashier/src/hooks/__tests__/useSubscription.spec.tsx
  packages/cashier/src/hooks/__tests__/useWS.spec.tsx
  packages/cashier/src/hooks/index.ts
  packages/cashier/src/hooks/useDepositLocked.ts
  packages/cashier/src/hooks/useNeedAuthentication.ts
  packages/cashier/src/hooks/useNeedFinancialAssessment.ts
  packages/cashier/src/hooks/useNeedTNC.ts
  packages/cashier/src/hooks/useRealSTPAccount.ts
  packages/cashier/src/hooks/useSubscription.ts
  packages/cashier/src/hooks/useWS.ts
  packages/cashier/src/types/types.ts
Labels: Shared

#6546 chore: remove unnecessary appcard, virtualwalletcard and realwalletca…
  packages/components/src/components/app-card/app-card-items/app-card-action-item.jsx
  packages/components/src/components/app-card/app-card-items/app-card-actions.jsx
  packages/components/src/components/app-card/app-card-items/app-card-body.jsx
  packages/components/src/components/app-card/app-card-items/app-card-footer-item.jsx
  packages/components/src/components/app-card/app-card-items/app-card-footer.jsx
  packages/components/src/components/app-card/app-card-items/app-card-header.jsx
  packages/components/src/components/app-card/app-card-items/real-app-card-background.jsx
  packages/components/src/components/app-card/app-card.jsx
  packages/components/src/components/app-card/app-card.scss
  packages/components/src/components/app-card/index.js
  packages/components/src/components/real-wallet-card/index.js
  packages/components/src/components/real-wallet-card/real-wallet-card-content.jsx
  packages/components/src/components/real-wallet-card/real-wallet-card-footer-actions.jsx
  packages/components/src/components/real-wallet-card/real-wallet-card-footer.jsx
  packages/components/src/components/real-wallet-card/real-wallet-card-header.jsx
  packages/components/src/components/real-wallet-card/real-wallet-card.jsx
  packages/components/src/components/real-wallet-card/real-wallet-card.scss
  packages/components/src/components/virtual-wallet-card/index.js
  packages/components/src/components/virtual-wallet-card/virtual-wallet-card-content.jsx
  packages/components/src/components/virtual-wallet-card/virtual-wallet-card-footer-actions.jsx
  packages/components/src/components/virtual-wallet-card/virtual-wallet-card-footer.jsx
  packages/components/src/components/virtual-wallet-card/virtual-wallet-card-header.jsx
  packages/components/src/components/virtual-wallet-card/virtual-wallet-card.jsx
  packages/components/src/components/virtual-wallet-card/virtual-wallet-card.scss
  packages/components/src/index.js
  packages/components/stories/app-card/README.md
  packages/components/stories/app-card/app-card.stories.js
  packages/components/stories/app-card/statics/labels.js
  packages/components/stories/real-wallet-card/README.md
  packages/components/stories/real-wallet-card/real-wallet-card.stories.js
  packages/components/stories/real-wallet-card/wallet-labels.js
  packages/components/stories/virtual-wallet-card/README.md
  packages/components/stories/virtual-wallet-card/virtual-wallet-card.stories.js
Labels: Components, Docs

#6550 carol/P2P: Error codes cleanup
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/constants/api-error-codes.js
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/stores/my-profile-store.js
  packages/p2p/src/stores/order-store.js
Labels: P2P

#6495 likhith/ preventing over throttling of onfido token fetch API
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.jsx
Labels: Account

#6420 Added margin spacing between advertiser page header and description
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
Labels: P2P

#6645 farrah/68222/fixed decimal point in buy/sell amount
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
Labels: P2P

#6649 Ameerul /Bug 64212 Order limit is not reflected correctly in the buy sell pop up modal
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-details-table/my-profile-details-table.jsx
  packages/p2p/src/stores/general-store.js
Labels: P2P

#6681 Ameerul /Bug 73568 Unable to click on +Add button under My Ads
  packages/p2p/src/components/my-ads/my-ads.scss
Labels: P2P

#6740 Worked on code improvements
  packages/bot-skeleton/src/scratch/hooks/css.js
  packages/bot-web-ui/src/components/bot-footer-extensions/bot-footer-extensions.tsx
  packages/bot-web-ui/src/components/chart/chart.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar-icon.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.scss
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/search-box/index.ts
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/search-box/search-box.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/search-box/search-icon.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.scss
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/workspace-wrapper.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/workspace.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/info-panel.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/run-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/stores/blockly-store.ts
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/root-store.ts
  packages/components/src/components/icon/common/ic-botbuilder-tab-icon.svg
  packages/components/src/components/icon/icons.js
Labels: Bot, Components, P2P

#6771 feat: make new dasboard tabs vertically scrollable
  packages/bot-web-ui/src/app/app.scss
  packages/bot-web-ui/src/components/chart/chart.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.scss
Labels: Bot

#6788 Hirad/78900/add derived functionality
  packages/appstore/src/components/CFDs/cfd-real-accounts.tsx
Labels: AppStore

#6793 Hirad/79281/disable available accounts
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/cfd/build/webpack.config.js
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-banner.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-checkbox.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-foot-note.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
  packages/cfd/src/Containers/props.types.ts
Labels: AppStore

#6755 Mahdiyeh/73607/trading hub dashboard
  packages/appstore/src/components/CFDs/cfd-accounts-container.tsx
  packages/appstore/src/components/CFDs/cfd-accounts.scss
  packages/appstore/src/components/account-manager/account-manager.scss
  packages/appstore/src/components/account-manager/account-manager.tsx
  packages/appstore/src/components/account/account.scss
  packages/appstore/src/components/add-derived/add-derived.scss
  packages/appstore/src/components/add-derived/add-derived.tsx
  packages/appstore/src/components/options/options-accounts.scss
  packages/appstore/src/components/platform-launcher/platform-launcher.tsx
  packages/appstore/src/components/total-assets/total-assets.tsx
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/appstore/src/modules/trading-hub/trading-hub.scss
Labels: Translations, AppStore

#6425 george / rm73311 / TS migration of payment agent related stores
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-form/payment-agent-transfer-form.jsx
  packages/cashier/src/stores/__tests__/payment-agent-store.spec.tsx
  packages/cashier/src/stores/__tests__/payment-agent-transfer-store.spec.tsx
  packages/cashier/src/stores/cashier-store.js
  packages/cashier/src/stores/payment-agent-store.ts
  packages/cashier/src/stores/payment-agent-transfer-store.ts
  packages/cashier/src/types/shared/props.types.ts
  packages/cashier/src/types/shared/websocket.types.ts
  packages/cashier/src/types/stores/index.ts
  packages/cashier/src/types/stores/payment-agent-store.types.ts
  packages/cashier/src/types/stores/payment-agent-transfer-store.types.ts
Labels: Account, AppStore

#6803 farrah/79440/fixed advertiser buy and sell balance
  packages/p2p/src/stores/general-store.js
Labels: P2P

#6784 fixed tutorial tab sidebar to stick
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.scss
Labels: Bot

#6806 updated icons and text as per design
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
Labels: Bot

#6627 farrah/76187/Ad filter flow
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/dropdown-list/dropdown-list.jsx
  packages/components/src/components/dropdown/dropdown.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header.scss
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/currency-dropdown.jsx
  packages/p2p/src/components/buy-sell/currency-dropdown.scss
  packages/p2p/src/components/buy-sell/currency-selector.scss
  packages/p2p/src/components/buy-sell/currency-selector/currency-selector-modal.jsx
  packages/p2p/src/components/buy-sell/currency-selector/currency-selector.jsx
  packages/p2p/src/components/buy-sell/currency-selector/currency-selector.scss
  packages/p2p/src/components/buy-sell/currency-selector/index.js
  packages/p2p/src/components/floating-rate/__test__/floating-rate.spec.js
  packages/p2p/src/components/floating-rate/floating-rate.jsx
  packages/p2p/src/components/my-ads/create-ad-summary.jsx
  packages/p2p/src/components/my-ads/edit-ad-summary.jsx
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/p2p-accordion/p2p-accordion.jsx
  packages/p2p/src/components/search-box/search-box.scss
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/floating-rate-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/utils/format-value.js
Labels: Components, P2P

#6381 Adrienne / Fixed issues with newlines not detecting in order details page
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/order-details/order-details.scss
Labels: P2P, Account

#6675 farrah/55725/add test coverage for BuySellFormReceiveAmount component
  packages/p2p/src/components/buy-sell/__tests__/buy-sell-form-receive-amount.spec.js
Labels: P2P

#6564 P2p cross border ad feature
  packages/cashier/src/stores/general-store.js
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/dropdown-list/dropdown-list.jsx
  packages/components/src/components/dropdown/dropdown.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header.scss
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/currency-dropdown.jsx
  packages/p2p/src/components/buy-sell/currency-dropdown.scss
  packages/p2p/src/components/buy-sell/currency-selector/currency-selector-modal.jsx
  packages/p2p/src/components/buy-sell/currency-selector/currency-selector.jsx
  packages/p2p/src/components/buy-sell/currency-selector/currency-selector.scss
  packages/p2p/src/components/buy-sell/currency-selector/index.js
  packages/p2p/src/components/floating-rate/__test__/floating-rate.spec.js
  packages/p2p/src/components/floating-rate/floating-rate.jsx
  packages/p2p/src/components/my-ads/create-ad-summary.jsx
  packages/p2p/src/components/my-ads/edit-ad-summary.jsx
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/p2p-accordion/p2p-accordion.jsx
  packages/p2p/src/components/search-box/search-box.scss
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/floating-rate-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/utils/format-value.js
Labels: Components, P2P

#6760 bahar|bala/handle_redirection_on_withdrawal_links_for_deriv_go
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/core/src/Stores/common-store.js
  packages/shared/src/utils/config/config.ts
Labels: Core, Shared

#6818 farrah/fixed ads exchange rate
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/general-store.js
Labels: P2P

#6736 Amina/real_mt5_dashboard_in demo_account_banner fix
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container-for-mt5.jsx
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-banner.tsx
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/cfd/src/Containers/switch-to-real-account.tsx
  packages/cfd/src/sass/cfd-dashboard.scss
  packages/core/src/Stores/ui-store.js
Labels: Core, Account

#6671 Ameerul /Bug 66642 Display the Ewallet name on PaymentMethod tiles
  packages/p2p/src/components/my-profile/payment-methods/payment-method-card/payment-method-card.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.scss
  packages/p2p/src/components/my-profile/payment-methods/payment-methods.jsx
  packages/p2p/src/stores/my-profile-store.js
Labels: Components, P2P

#6750 Jim/78604/remove-unused-appsetings-component-and-tempappsettings
  packages/account/src/Components/account-limits/__tests__/account-limits-footer.spec.js
  packages/account/src/Components/account-limits/account-limits-footer.jsx
  packages/account/src/Components/account-limits/index.js
  packages/account/src/Components/api-token/api-token-footer.jsx
  packages/account/src/Components/api-token/index.js
  packages/account/src/Components/self-exclusion/index.js
  packages/account/src/Components/self-exclusion/self-exclusion-footer.jsx
  packages/account/src/Sections/Security/AccountLimits/account-limits.jsx
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/components/src/components/app-settings/app-settings-footer.jsx
  packages/components/src/components/app-settings/app-settings-footer.scss
  packages/components/src/components/app-settings/app-settings-menu-item.jsx
  packages/components/src/components/app-settings/app-settings.jsx
  packages/components/src/components/app-settings/app-settings.scss
  packages/components/src/components/app-settings/index.js
  packages/components/src/index.js
  packages/core/src/App/Components/Elements/AppSettings/account-limits.jsx
  packages/core/src/App/Components/Elements/AppSettings/api-token.jsx
  packages/core/src/App/Components/Elements/AppSettings/index.js
  packages/core/src/App/Components/Elements/AppSettings/self-exclusion.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/Layout/temp-app-settings.jsx
Labels: Core, Components, P2P, Account

#6816 Akmal / Content changes for market restructures
  packages/cfd/src/Components/cfd-real-account-display.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#6825 Amina / remove observable from store
  packages/core/src/Stores/ui-store.js
Labels: Core

#6830 Bala/fix validation setup flow
  packages/cashier/src/stores/base-store.js
  packages/cfd/src/Stores/base-store.js
  packages/core/src/Stores/base-store.js
  packages/reports/src/Stores/base-store.js
  packages/trader/src/Stores/base-store.js
Labels: Trader, Core

#6796 Farabi/78937/fix--tutorial tour improvement
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/shared/src/styles/themes.scss
Labels: Bot, Shared

#6829 Farabi/79319/fix blocks overlapping issue
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
Labels: Bot

#6835 Niloofar / Page not loading when end time is shown
  packages/trader/src/Modules/Trading/Components/Form/DatePicker/trading-date-picker.jsx
Labels: Trader
