Repository deriv-com/deriv-app, pull requests merged in 2022-12, with the labels that each got.

#7048 Matin/fix: moment format unit translation
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/expiration.jsx
Labels: Trader

#7062 Jim/82523/show-multipliers-for-mf-accounts
  packages/appstore/src/modules/trading-hub/index.tsx
Labels: AppStore

#7023 MaryiaF/81793/Tutorials - Minor UI bugs
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
Labels: Bot

#7063 thisyahlen/ bugfix: fix onboarding options for eu
  packages/appstore/src/components/onboarding/static-dashboard.scss
  packages/appstore/src/components/onboarding/static-dashboard.tsx
Labels: AppStore

#7072 MaryiaF/81793(2)/fix: rename 2 guide titles
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
Labels: Bot

#7067 Farabi/82527/fix--bot builder tour pointing wrongly
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
Labels: Bot

#7065 Farabi/82520/fix--user guide button on dashboard preview
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
Labels: Bot

#7078 fix: xml error on edit
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#7087 fix: run-panel should not close when tour is running
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
Labels: Bot

#7086 Jim/82775/learn-more-redirects-to-mt5-instead-of-cfd-page
  packages/appstore/src/components/CFDs/cfd-accounts.tsx
  packages/cfd/src/Components/cfd-account-card.tsx
Labels: AppStore

#7049 fix: xml-error
  packages/bot-web-ui/src/app/app.jsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/flyout/flyout.scss
  packages/bot-web-ui/src/components/load-modal/load-modal.scss
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#7071 MaryiaF/82150/Dashboard - preview for the recent strategy is not getting displayed, saved strategy -> status should be "Local"
  packages/bot-skeleton/src/scratch/hooks/css.js
  packages/bot-web-ui/src/stores/save-modal-store.ts
Labels: Bot

#7093 thisyahlen/ chore: add citizenship title to signup
  packages/core/src/App/Containers/CitizenshipModal/same-citizenship-modal.jsx
  packages/core/src/sass/app/modules/account-signup.scss
Labels: Core

#7098 fix: rename--tour-button
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
Labels: Bot

#7009 hamid/82065/allow-all-market-type-on-current-deriv-x-dashboard
  packages/cashier/src/stores/account-transfer-store.js
  packages/cfd/src/Components/__tests__/cfd-real-account-display.spec.js
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Components/cfd-real-account-display.tsx
  packages/cfd/src/Constants/cfd-specifications.ts
  packages/cfd/src/Containers/__tests__/compare-accounts-modal.spec.js
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/compare-accounts-modal.tsx
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/shared/src/utils/cfd/cfd.ts
Labels: Core, Shared, Components

#7104 MaryiaF/82060/fix: martingale_size field of quick strategy before compile xml, required strict name
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.types.ts
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot

#7102 MaryiaF/82458/fix: clicking on create and edit should update dashboard page
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/utils/local-storage.js
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#7113 Akmal / Fix merge conflict
  packages/cashier/src/stores/account-transfer-store.js
  packages/cfd/src/Components/__tests__/cfd-real-account-display.spec.js
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Components/cfd-real-account-display.tsx
  packages/cfd/src/Constants/cfd-specifications.ts
  packages/cfd/src/Containers/__tests__/compare-accounts-modal.spec.js
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/compare-accounts-modal.tsx
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/shared/src/utils/cfd/cfd.ts
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Core, Shared, Translations, P2P

#7114 fix: for the run panel css
  packages/bot-web-ui/src/components/journal/journal.scss
  packages/bot-web-ui/src/components/transactions/transactions.scss
Labels: Bot

#7117 hamid/83046/unable-to-create-deriv-x-real-account-via-trader-hub
  packages/appstore/src/components/CFDs/cfd-real-accounts.tsx
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
Labels: AppStore

#7076 Farabi/82581/fix--strategy tab UI
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
Labels: Bot

#7116 Rupato/81862/tour issue toggle button
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
Labels: Bot

#7121 hamid/83106/resolve-conflicts-on-develop-branch
  packages/appstore/src/components/CFDs/cfd-real-accounts.tsx
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
Labels: AppStore

#6917 george / rm80404 / unify payment agent's payment method list on cashier
  packages/cashier/src/constants/constants.js
  packages/cashier/src/pages/payment-agent/payment-agent-card/constants/payment-agent-providers.js
  packages/cashier/src/pages/payment-agent/payment-agent-card/helpers/__tests__/heplers.spec.js
  packages/cashier/src/pages/payment-agent/payment-agent-card/helpers/helpers.js
  packages/cashier/src/pages/payment-agent/payment-agent-card/payment-agent-card.scss
  packages/cashier/src/pages/payment-agent/payment-agent-container/payment-agent-container.jsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.scss
  packages/cashier/src/stores/__tests__/payment-agent-store.spec.js
  packages/cashier/src/stores/payment-agent-store.js
  packages/cashier/src/utils/utility.js
Labels: Translations

#7047 Aizad/fix: login id error
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#6944 Suisin: update feature: hide change email button for Deriv Go users
  packages/account/src/Sections/Security/Passwords/deriv-email.jsx
Labels: Account

#7094 Suisin/fix: bugs on netherlands client
  packages/core/src/Stores/client-store.js
Labels: Core

#7099 Amina/fix: title in compare accounts modal
  packages/appstore/src/components/CFDs/cfd-accounts.tsx
  packages/appstore/src/components/onboarding/static-dashboard.tsx
Labels: AppStore

#7081 Aizad/fix: making the text button on mobile phone white
  packages/appstore/src/components/platform-launcher/platform-launcher.tsx
  packages/components/src/components/button-toggle/button-toggle.scss
Labels: Components, AppStore

#6912 Ameerul /Bug 80941 Wrong error modal when creating ads while pausing ads
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#6899 likhith/removed unused component
  packages/components/src/components/mobile-carousel/index.js
  packages/components/src/components/mobile-carousel/mobile-carousel.jsx
  packages/components/src/components/mobile-carousel/mobile-carousel.scss
  packages/components/src/index.js
  packages/components/stories/mobile-carousel/README.md
  packages/components/stories/mobile-carousel/mobile-carousel.stories.js
Labels: Components, Docs

#6898 yauheni/76886/guidetour removing
  packages/components/src/components/guide-tour/guide-tour.jsx
  packages/components/src/components/guide-tour/guide-tour.scss
  packages/components/src/components/guide-tour/index.js
  packages/components/src/index.js
  packages/components/stories/guide-tour/README.md
  packages/components/stories/guide-tour/guide-tour.stories.js
  packages/components/stories/guide-tour/guide-tour.stories.scss
Labels: Components, Docs

#6281 Farzin/POC/74925/Replace `VerificationStore` with `useVerifyEmail` hook
  packages/cashier/package.json
  packages/cashier/src/components/email-verification-empty-state/__tests__/email-verification-empty-state.test.tsx
  packages/cashier/src/components/email-verification-empty-state/email-verification-empty-state.scss
  packages/cashier/src/components/email-verification-empty-state/email-verification-empty-state.tsx
  packages/cashier/src/components/email-verification-empty-state/email-verification-resend-empty-state.tsx
  packages/cashier/src/components/email-verification-empty-state/index.ts
  packages/cashier/src/components/empty-state/__tests__/empty-state.test.tsx
  packages/cashier/src/components/empty-state/empty-state.scss
  packages/cashier/src/components/empty-state/empty-state.tsx
  packages/cashier/src/components/resend-email-button-wrapper/__tests__/resend-email-button-wrapper.spec.tsx
  packages/cashier/src/components/resend-email-button-wrapper/index.ts
  packages/cashier/src/components/resend-email-button-wrapper/resend-email-button-wrapper.tsx
  packages/cashier/src/components/side-note/side-note.tsx
  packages/cashier/src/components/verification-email/__tests__/verification-email.spec.tsx
  packages/cashier/src/components/verification-email/index.ts
  packages/cashier/src/components/verification-email/verification-email.scss
  packages/cashier/src/components/verification-email/verification-email.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/__tests__/payment-agent-list.spec.js
  packages/cashier/src/pages/payment-agent/payment-agent-list/deposit-tab.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/index.js
  packages/cashier/src/pages/payment-agent/payment-agent-list/index.ts
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.jsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/withdrawal-tab.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-withdrawal-locked/payment-agent-withdrawal-locked.jsx
  packages/cashier/src/pages/payment-agent/payment-agent.jsx
  packages/cashier/src/pages/withdrawal/withdrawal-verification-email/__tests__/withdrawal-verification-email.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-verification-email/withdrawal-verification-email.scss
  packages/cashier/src/pages/withdrawal/withdrawal-verification-email/withdrawal-verification-email.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/cashier/src/stores/__tests__/general-store.spec.js
  packages/cashier/src/stores/__tests__/payment-agent-store.spec.js
  packages/cashier/src/stores/__tests__/verification-store.spec.js
  packages/cashier/src/stores/__tests__/withdraw-store.spec.js
  packages/cashier/src/stores/cashier-store.js
  packages/cashier/src/stores/general-store.js
  packages/cashier/src/stores/payment-agent-store.js
  packages/cashier/src/stores/verification-store.js
  packages/cashier/src/stores/withdraw-store.js
  packages/components/src/components/vertical-tab/vertical-tab-content-container.jsx
  packages/hooks/src/index.ts
  packages/hooks/src/useVerifyEmail.ts
Labels: Shared

#6813 hamid/78413/replace-connect-with-hook-for-on-ramp
  packages/cashier/src/pages/on-ramp/__tests__/on-ramp.spec.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/stores/on-ramp-store.js
Labels: Components, P2P

#6910 Aizad/Updated new market closed overlay
  packages/trader/src/App/Components/Elements/market-is-closed-overlay.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#6923 Adrienne / Show popup on changes in rates
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/constants/api-error-codes.js
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P, Account, AppStore

#7055 farabi/82407/fix--sonarcloud-code-smells
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/selects.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/save-modal-store.ts
Labels: Bot

#7134 Farzin/83168/Payment agent page is showing error and cant be loaded
  packages/cashier/src/pages/payment-agent/payment-agent-list/deposit-tab.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/withdrawal-tab.tsx
Labels: Translations, P2P

#7115 Jim/83029/fix-develop-branch
  packages/shared/src/utils/validation/declarative-validation-rules.ts
  packages/shared/src/utils/validation/form-validations.ts
Labels: Shared

#7136 fix: for safari scroll
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
Labels: Bot

#7139 Akmal / fix: trader's hub bad UI
  packages/core/src/sass/app/_common/layout/header.scss
Labels: Core

#7141 fix: rerender for first dialog
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
Labels: Bot

#7146 farrah/83304/fixed trading assessment alignment
  packages/core/src/sass/account-wizard.scss
Labels: Core

#7120 feat: use BE flag for traders hub ui
  packages/core/src/App/Containers/PlatformContainer/PlatformContainer.jsx
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#7127 bugfix: refactor menu links in trade hub as memoise component
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
Labels: Core

#7105 Hirad/80671/user keeps clicking next button of onboarding
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/Stores/tradinghub-store.js
Labels: Core, AppStore

#7156 Revert "Vinu/79411/derivez cashier transfer (#6896)"
  packages/cashier/src/pages/account-transfer/account-transfer-form/__tests__/account-transfer-form.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form-side-note.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
  packages/cashier/src/stores/__tests__/account-transfer-store.spec.js
  packages/cashier/src/stores/account-transfer-store.js
  packages/cashier/src/stores/general-store.js
  packages/cashier/src/types/shared/account.types.ts
  packages/components/src/components/icon/derivez/ic-derivez.svg
  packages/core/src/Constants/cfd-text.js
  packages/shared/brand.config.json
  packages/shared/src/utils/brand/brand.ts
  packages/shared/src/utils/cfd/cfd.ts
  packages/shared/src/utils/platform/platform.ts
Labels: Core, Shared, Components

#7158 [Prod] Revert "Vinu/79411/derivez cashier transfer (#6896)"
  packages/cashier/src/pages/account-transfer/account-transfer-form/__tests__/account-transfer-form.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form-side-note.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
  packages/cashier/src/stores/__tests__/account-transfer-store.spec.js
  packages/cashier/src/stores/account-transfer-store.js
  packages/cashier/src/stores/general-store.js
  packages/cashier/src/types/shared/account.types.ts
  packages/components/src/components/icon/derivez/ic-derivez.svg
  packages/core/src/Constants/cfd-text.js
  packages/shared/brand.config.json
  packages/shared/src/utils/brand/brand.ts
  packages/shared/src/utils/cfd/cfd.ts
  packages/shared/src/utils/platform/platform.ts
Labels: Core, Shared, Components

#7089 thisyahlen/ chore: change options and multiplers descriptions & onboarding
  packages/appstore/src/components/CFDs/cfd-demo-accounts.tsx
  packages/appstore/src/components/CFDs/cfd-real-accounts.tsx
  packages/appstore/src/components/onboarding/static-dashboard.tsx
  packages/appstore/src/components/options/options-accounts.tsx
Labels: AppStore

#7125 chore: restructure account.tsx file and stylings
  packages/appstore/src/components/account/account.scss
  packages/appstore/src/components/account/account.tsx
  packages/appstore/src/components/options/options-accounts.scss
Labels: AppStore

#7073 thisyahlen/fix: change text and add beta tag in menu drawer
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/sass/app/_common/layout/header.scss
Labels: Core

#7126 Amina/ fix:Client_are_unable_to_access_DMT5_dashboard
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/sass/cfd-dashboard.scss
Labels: Core, Shared, Translations, P2P, AppStore

#6972 bahar/81197/pa-infobox
  packages/cashier/src/containers/cashier/cashier.scss
  packages/cashier/src/pages/payment-agent/missing-payment-method-note/index.ts
  packages/cashier/src/pages/payment-agent/missing-payment-method-note/missing-payment-method-note.scss
  packages/cashier/src/pages/payment-agent/missing-payment-method-note/missing-payment-method-note.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-card/payment-agent-card.scss
  packages/cashier/src/pages/payment-agent/payment-agent-container/payment-agent-container.jsx
  packages/cashier/src/pages/payment-agent/payment-agent-container/payment-agent-container.scss
  packages/cashier/src/pages/payment-agent/payment-agent-disclaimer/payment-agent-disclaimer.jsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.tsx
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components, Docs

#7155 Yauheni/74158/unused unverified component delete
  packages/account/build/webpack.config.js
  packages/account/src/Components/poi/status/unverified/__tests__/unverified.spec.js
  packages/account/src/Components/poi/status/unverified/index.js
  packages/account/src/Components/poi/status/unverified/unverified.jsx
Labels: Account

#7045 Ameerul /Bug 64530 Scrolling issue for android--create ad screen
  packages/p2p/src/components/buy-sell/buy-sell-form-receive-amount.jsx
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/components/buy-sell/buy-sell-modal.scss
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-ads/sell-ad-payment-methods-list.scss
Labels: P2P

#7138 Amina/ 83129/fix: Compare_accounts_modal_is_broken
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
Labels: Translations, P2P

#7074 Aizad/fix: added help centre inside mobile drawer
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Labels: Core

#6961 Mitra/81286/show whatsapp to all countries
  packages/core/src/App/Components/Elements/WhatsApp/whatsapp.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/dashboard-platform-header.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#7173 farrah/78924/refactor MyAdsFloatingRateSwitchModal
  packages/p2p/src/components/modal-manager/modal-manager-context-provider.jsx
  packages/p2p/src/components/modal-manager/modal-manager.jsx
  packages/p2p/src/components/modal-manager/modals/my-ads-floating-rate-switch-modal/index.js
  packages/p2p/src/components/modal-manager/modals/my-ads-floating-rate-switch-modal/my-ads-floating-rate-switch-modal.jsx
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/webpack.config.js
Labels: P2P

#7024 farrah/78921/refactor MyAdsDeleteModal
  packages/p2p/src/components/modal-manager/modals/my-ads-delete-error-modal/index.js
  packages/p2p/src/components/modal-manager/modals/my-ads-delete-error-modal/my-ads-delete-error-modal.jsx
  packages/p2p/src/components/modal-manager/modals/my-ads-delete-modal/index.js
  packages/p2p/src/components/modal-manager/modals/my-ads-delete-modal/my-ads-delete-modal.jsx
  packages/p2p/src/components/modal-manager/modals/my-ads-delete-modal/my-ads-delete-modal.scss
  packages/p2p/src/components/my-ads/my-ads-delete-modal.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/my-ads-store.js
Labels: Core, P2P

#7027 farrah/78922/refactor AdExceedsDailyLimitModal
  packages/p2p/src/components/modal-manager/modals/ad-exceeds-daily-limit-modal/ad-exceeds-daily-limit-modal.jsx
  packages/p2p/src/components/modal-manager/modals/ad-exceeds-daily-limit-modal/index.js
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#6906 farrah/78909/refactor FilterModal
  packages/p2p/src/components/buy-sell/buy-sell-header.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/modal-manager/modal-manager-context-provider.jsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal-header.jsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal-no-results.jsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal-no-results.scss
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal-search.jsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal-search.scss
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal.jsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal.scss
  packages/p2p/src/components/modal-manager/modals/filter-modal/index.js
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/buy-sell-store.js
Labels: P2P

#7018 farrah/78919/refactor OrderDetailsCancelModal
  packages/p2p/src/components/modal-manager/modals/order-details-cancel-modal/__tests__/order-details-cancel-modal.spec.js
  packages/p2p/src/components/modal-manager/modals/order-details-cancel-modal/index.js
  packages/p2p/src/components/modal-manager/modals/order-details-cancel-modal/order-details-cancel-modal.jsx
  packages/p2p/src/components/modal-manager/modals/order-details-cancel-modal/order-details-cancel-modal.scss
  packages/p2p/src/components/order-details/__test__/order-details-cancel-modal.spec.js
  packages/p2p/src/components/order-details/order-details-footer.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/order-store.js
Labels: P2P

#7101 fix: update questions
  packages/account/src/Configs/trading-assessment-config.js
  packages/components/src/components/radio-group/radio-group.scss
  packages/components/src/components/radio-group/radio-group.tsx
  packages/core/src/sass/account-wizard.scss
Labels: Core, Components, Translations, P2P, Account

#7149 farrah/83181/fix ad form for new advertisers
  packages/p2p/src/stores/general-store.js
Labels: Core, Translations, P2P

#6258 Ameerul /Task 67580 Improve behaviour of editing payment method in Buy Ads
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/icon/icon.tsx
  packages/components/src/components/types/icons.types.ts
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.jsx
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.scss
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/stores/my-ads-store.js
Labels: Components, P2P, Docs, Account, AppStore

#6441 hamid/75900/hide-sidenote-when-switch-account
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/stores/deposit-store.ts
Labels: Components

#7166 rupato/83192/fix for missing user guide button
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#7077 Adrienne / BuySellModal and CancelAddPaymentMethodModal component with saved form state component
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/modal-manager/index.js
  packages/p2p/src/components/modal-manager/modal-form/index.js
  packages/p2p/src/components/modal-manager/modal-form/modal-form.jsx
  packages/p2p/src/components/modal-manager/modal-manager-context-provider.jsx
  packages/p2p/src/components/modal-manager/modal-manager.jsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.jsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.scss
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/index.js
  packages/p2p/src/components/modal-manager/modals/cancel-add-payment-method-modal.jsx
  packages/p2p/src/components/my-profile/my-profile-content.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/general-store.js
Labels: Components, P2P

#7151 MaryiaF/82458/fix: the page behavior for quick strategy "create and edit", after clicking go to bot-builder
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/footer.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.types.ts
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/blockly-store.ts
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot

#6990 Hubert / Adding IDV verification mechanisms
  packages/account/src/Components/hooks/useToggleValidation.tsx
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.js
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/idv-document-submit/utils.js
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.jsx
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components, Account

#6947 Ameerul/ Bug 81474 Total amount got reversed when user creating an ad in landscape mode in Android
  packages/cashier/src/pages/p2p-cashier/p2p-cashier.jsx
  packages/cashier/src/stores/general-store.js
  packages/core/src/App/app.jsx
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/p2p/src/stores/general-store.js
Labels: Core, P2P

#7040 Adrienne / Localized unit time and fixed ui bug for online status avatar
  packages/p2p/crowdin/messages.json
  packages/p2p/src/components/online-status/online-status-label.jsx
Labels: Core, Shared, Components, Translations, P2P

#7199 Ameerul /Bug 83922 P2P page is blocked in portrait mode in tablet view
  packages/core/src/index.html
  packages/core/src/sass/app/_common/layout/app-layouts.scss
Labels: Core

#7202 Suisin/fix: bugs on validation message showing when flag not added to URL
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.jsx
Labels: Account

#7205 fix: bugs on validation message showing when flag not added to URL
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.jsx
Labels: Account

#7182 fix: made improvements in stratagy loading and fixed error strategy load
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-skeleton/src/utils/local-storage.js
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/components/load-modal/load-modal.scss
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/save-modal-store.ts
Labels: Bot

#7210 Adrienne / Refactored Create Ad Add Payment Method Modal and Add Payment Method Error Modal
  packages/p2p/src/components/modal-manager/modal-manager-context-provider.jsx
  packages/p2p/src/components/modal-manager/modals/add-payment-method-error-modal.jsx
  packages/p2p/src/components/modal-manager/modals/cancel-add-payment-method-modal.jsx
  packages/p2p/src/components/modal-manager/modals/create-ad-add-payment-method-modal/create-ad-add-payment-method-modal.jsx
  packages/p2p/src/components/modal-manager/modals/create-ad-add-payment-method-modal/create-ad-add-payment-method-modal.scss
  packages/p2p/src/components/modal-manager/modals/create-ad-add-payment-method-modal/index.js
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.jsx
  packages/p2p/src/components/my-ads/create-ad-add-payment-method-modal.jsx
  packages/p2p/src/components/my-ads/create-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/edit-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/cancel-add-payment-method-modal.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/select-payment-method.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/edit-payment-method-form.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#7124 chore: update acuity download modal with user guide link
  packages/core/build/config.js
  packages/core/build/constants.js
  packages/core/src/App/Containers/AcuityDownloadModal/acuity-download-modal.tsx
  packages/core/src/public/pdf/Acuity_tool_user_guide_EU.pdf
  packages/core/src/public/pdf/Acuity_tool_user_guide_Portuguese.pdf
  packages/core/src/public/pdf/Acuity_tool_user_guide_ROW.pdf
  packages/core/src/public/pdf/Acuity_tool_user_guide_Spanish.pdf
  packages/core/src/sass/app/modules/acuity-download.scss
Labels: Core

#7186 yauheni/83718/remove all popup notifications from deriv app)
  packages/core/src/App/Containers/Layout/header/dashboard-platform-header.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/notification-store.js
Labels: Trader, Core

#7196 chore: ammend last question on trading assessment
  packages/account/src/Configs/trading-assessment-config.js
Labels: Account

#7195 yauheni/76915/delete unused popovermobile component
  packages/components/src/components/popover-mobile/index.js
  packages/components/src/components/popover-mobile/popover-mobile.jsx
  packages/components/src/components/popover-mobile/popover-mobile.scss
  packages/components/src/index.js
Labels: Components

#7223 Rupato/82435/fix: unable to run bot
  packages/bot-web-ui/src/app/app.jsx
Labels: Bot

#7224 fix: highlight for bot builder tour
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
Labels: Bot

#7226 fix: for toolbox flyout menu
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.tsx
Labels: Bot

#7237 Rupato/83996/fix: for toggle info button
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
Labels: Bot

#7056 farrah/78918/refactor EmailVerificationModal
  packages/p2p/src/components/modal-manager/modals/email-verification-modal/email-verification-modal.jsx
  packages/p2p/src/components/modal-manager/modals/email-verification-modal/email-verification-modal.scss
  packages/p2p/src/components/modal-manager/modals/email-verification-modal/index.js
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/order-store.js
Labels: P2P

#7229 MaryiaF/82106/feat: Charts Tab - responsive
  packages/bot-web-ui/src/components/chart/chart.scss
  packages/bot-web-ui/src/components/chart/chart.tsx
  packages/bot-web-ui/src/components/chart/toolbar-widgets.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/components/src/components/collapsible/arrow-button.tsx
  packages/components/src/components/collapsible/collapsible.tsx
Labels: Bot, Components

#7038 farrah/78920/refactor OrderDetailsConfirmModal
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/__tests__/order-details-confirm-modal.spec.js
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/index.js
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/order-details-confirm-modal.jsx
  packages/p2p/src/components/order-details/__test__/order-details-confirm-modal.spec.js
  packages/p2p/src/components/order-details/order-details-footer.jsx
  packages/p2p/src/constants/modals.js
Labels: P2P

#7122 farrah/78927/refactor EditAdCancelModal
  packages/p2p/src/components/modal-manager/modals/edit-ad-cancel-modal/edit-ad-cancel-modal.jsx
  packages/p2p/src/components/modal-manager/modals/edit-ad-cancel-modal/index.js
  packages/p2p/src/components/my-ads/edit-ad-cancel-modal.jsx
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/constants/modals.js
Labels: P2P

#7052 farrah/78925/refactor CreateAdErrorModal
  packages/p2p/src/components/modal-manager/modal-manager.jsx
  packages/p2p/src/components/modal-manager/modals/create-ad-error-modal/create-ad-error-modal.jsx
  packages/p2p/src/components/modal-manager/modals/create-ad-error-modal/index.js
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#7243 fix: bot builder tour text alignments
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
Labels: Bot

#7251 fix: removed the sidebar content
  packages/bot-web-ui/src/components/dashboard/dashboard-component/constants.ts
Labels: Bot

#7252 fix: added bot builder missing content
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
Labels: Bot

#7255 fix: transaction summary run panel
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/transactions/transactions.scss
Labels: Bot

#7256 Jim/84450/settings-alignment-not-as-per-design
  packages/account/src/Components/poo/statuses/poo-not-required/not-required.jsx
  packages/account/src/Components/poo/statuses/poo-rejected/rejected.jsx
  packages/account/src/Components/poo/statuses/poo-submitted/submitted.jsx
  packages/account/src/Components/poo/statuses/poo-verified/verified.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#7265 fix: pro tip text and fullstop
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
Labels: Bot

#7132 Adrienne / Rating modal and Recommended modal
  packages/p2p/src/components/__tests__/app-content.spec.js
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/modal-manager/index.js
  packages/p2p/src/components/modal-manager/modal-manager-context-provider.jsx
  packages/p2p/src/components/modal-manager/modal-manager.jsx
  packages/p2p/src/components/modal-manager/modals/rating-modal/index.js
  packages/p2p/src/components/modal-manager/modals/rating-modal/rating-modal.jsx
  packages/p2p/src/components/modal-manager/modals/rating-modal/rating-modal.scss
  packages/p2p/src/components/modal-manager/modals/recommended-modal/index.js
  packages/p2p/src/components/modal-manager/modals/recommended-modal/recommended-modal.jsx
  packages/p2p/src/components/modal-manager/modals/recommended-modal/recommended-modal.scss
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/recommended-by/recommended-by.jsx
  packages/p2p/src/components/recommended-by/recommended-modal.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/order-store.js
Labels: P2P

#7222 Adrienne / Refactored Delete Payment Method Error modal and Cancel Edit Payment method modal
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/modal-manager/modals/cancel-edit-payment-method-modal.jsx
  packages/p2p/src/components/modal-manager/modals/delete-payment-method-error-modal.jsx
  packages/p2p/src/components/my-profile/my-profile-content.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/edit-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#7228 chore: fix bugs occur when contract type is change
  packages/shared/src/utils/helpers/duration.ts
  packages/trader/src/Stores/Modules/Trading/Actions/contract-type.js
  packages/trader/src/Stores/Modules/Trading/Helpers/allow-equals.js
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.js
Labels: Trader, Shared

#7217 Niloofar Sadeghi / Refactor tests in the route-with-sub-routes.spec.tsx file (trader)
  packages/trader/src/App/Components/Routes/__tests__/route-with-sub-routes.spec.tsx
  packages/trader/src/App/Components/Routes/route-with-sub-routes.jsx
Labels: Trader

#7261 Niloofar | Refactor tests in the platform-switcher.spec.tsx file
  packages/core/src/App/Components/Layout/Header/__tests__/platform-switcher.spec.tsx
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
Labels: Core

#7239 Niloofar | Refactor tests in the toggle-settings.spec.tsx file
  packages/core/src/App/Components/Layout/Footer/__tests__/toggle-settings.spec.tsx
  packages/core/src/App/Components/Layout/Footer/toggle-settings.jsx
Labels: Core

#7200 yauheni/83578/hreflang tag uppercase lang add
  packages/core/src/index.html
  packages/shared/src/utils/dom/seo_optimization.ts
Labels: Core, Shared

#7108 Farzin/R&D/83007/Use CFD components in Appstore without prop drilling
  packages/appstore/package.json
  packages/appstore/src/components/app.tsx
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/appstore/src/stores/index.ts
  packages/appstore/webpack.config.js
  packages/cfd/@deriv-stores.d.ts
  packages/cfd/build/loaders-config.js
  packages/cfd/package.json
  packages/cfd/src/Containers/__tests__/cfd-dashboard.spec.tsx
  packages/cfd/src/Containers/__tests__/cfd-server-error-dialog.spec.js
  packages/cfd/src/Containers/cfd-server-error-dialog.tsx
  packages/cfd/src/app.tsx
  packages/cfd/tsconfig.json
  packages/stores/src/useStore.tsx
  packages/stores/types.ts
Labels: AppStore

#7241 Ameerul /Bug 84394 Ad details tab not loading
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#7248 Sergei / 84373 / stable text sequence in Derived section of Account limits
  packages/account/src/Components/account-limits/account-limits.jsx
Labels: Account

#7242 Kate/84375/Need update copy to Create new CR account
  packages/appstore/src/components/add-options-account/add-options-account.tsx
Labels: AppStore

#7181 Ameerul /Cancel and Add button in Add PM Modal getting cropped in Mobile browsers
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/components/buy-sell/buy-sell-modal.scss
  packages/p2p/src/components/my-ads/create-ad-add-payment-method-modal.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-profile/my-profile-content.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/edit-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.scss
  packages/p2p/src/components/my-profile/payment-methods/payment-methods.jsx
Labels: P2P

#7262 Kate/78088/fix: trimming POA input fields
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
Labels: Account

#7254 hamza/fix: UI Changes for 2FA and Api Token: Line Height changes for mentio…
  packages/account/src/Components/api-token/api-token.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/components/src/components/timeline/timeline.jsx
  packages/components/src/components/timeline/timeline.tsx
Labels: Components, Account

#7258 Ameerul /Task 73424 Padding issues in P2P page for different language
  packages/p2p/src/components/my-profile/my-profile-header/my-profile-header.scss
Labels: P2P

#7167 Adrienne / fix issue where rate change modal is shown when buy sell page is loaded for the first time
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
Labels: P2P

#7209 sergei / 83340 / set auto height of modal container
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
Labels: Core
