Repository deriv-com/deriv-app, pull requests merged in 2022-02, with the labels that each got.

#4714 Maryia/Migrated compare-accounts-modal to TS
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
  packages/trader/src/Modules/CFD/Containers/compare-accounts-modal.tsx
Labels: Trader

#4739 Maryia/Removed a duration-related pop-up from Multipliers
  packages/trader/src/Stores/Modules/Contract/contract-trade-store.js
Labels: Trader

#4655 Ako/ Fix components package warnings
  packages/components/src/components/carousel/carousel.jsx
  packages/components/src/components/clipboard/clipboard.jsx
  packages/components/src/components/content-expander/content-expander.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-update-form.jsx
  packages/components/src/components/data-list/data-list-row.jsx
  packages/components/src/components/data-table/table-row-info.jsx
  packages/components/src/components/dropdown/dropdown.jsx
  packages/components/src/components/dropdown/items.jsx
  packages/components/src/components/expansion-panel/expansion-panel.jsx
  packages/components/src/components/input-field/input.jsx
  packages/components/src/components/linear-progress/linear-progress-container.jsx
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/numpad/numpad.jsx
  packages/components/src/components/password-meter/password-meter.jsx
  packages/components/src/components/read-more/read-more.jsx
  packages/components/src/components/real-wallet-card/real-wallet-card.jsx
  packages/components/src/components/tabs/tab.jsx
  packages/components/src/components/tabs/tabs.jsx
  packages/components/src/components/text/text.jsx
  packages/components/src/components/tick-picker/tick-picker.jsx
  packages/components/src/components/toast/toast.jsx
  packages/components/src/components/vertical-tab/vertical-tab-content-container.jsx
  packages/components/src/components/vertical-tab/vertical-tab-header-group.jsx
  packages/components/src/components/vertical-tab/vertical-tab-headers.jsx
  packages/components/src/components/vertical-tab/vertical-tab.jsx
  packages/components/src/hooks/use-hover.js
  packages/components/src/hooks/use-onclickoutside.js
  packages/components/src/hooks/use-onlongpress.js
Labels: Components

#4738 Mahdiyeh/ Fix: language redirection
  packages/shared/src/utils/url/helpers.js
Labels: Shared

#4568 Artsem / AccountTransferForm component tests coverage
  packages/cashier/src/Components/Form/__tests__/account-transfer-form.spec.js
Labels: Trader, Core, Bot, Shared, Components, Account

#4646 Artsem / Disable buttons in mobile view when user is barred
  packages/p2p/src/components/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
Labels: P2P

#4783 Maryia/Fix for non-Jersey postcode regex
  packages/account/src/Configs/address-details-config.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/shared/src/utils/validation/regex-validation.js
Labels: Shared, Account

#4687 yashim/feat: remove margin when viewed from mobile app
  packages/cashier/src/Containers/cashier.jsx
  packages/cashier/src/Sass/cashier.scss
  packages/components/src/components/page-overlay/page-overlay.jsx
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/sass/app/_common/layout/app-layouts.scss
Labels: Core, Components

#4459 Maryia/Refactoring Notifications System
  packages/account/src/Sections/Profile/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/bot-web-ui/src/stores/index.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/core/src/App/Components/Elements/Errors/error-component.jsx
  packages/core/src/App/Containers/CloseMxMltAccountModal/close-mx-mlt-account-modal.jsx
  packages/core/src/App/Containers/Layout/header/dashboard-platform-header.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/App/app.js
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/common-store.js
  packages/core/src/Stores/index.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/ui-store.js
  packages/trader/src/Modules/CFD/Components/cfd-poi.tsx
  packages/trader/src/Modules/CFD/Containers/cfd-financial-stp-real-account-signup.jsx
  packages/trader/src/Stores/Modules/Contract/contract-replay-store.js
  packages/trader/src/Stores/Modules/Contract/contract-trade-store.js
  packages/trader/src/Stores/Modules/Portfolio/portfolio-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/Stores/index.js
Labels: Trader, Core, Bot, Components, Account

#4808 Mahdiyeh/ Hotfix:remove plus symbol
  packages/trader/src/Modules/CFD/Components/cfd-account-card.tsx
Labels: Trader

#4811 Maryia/Hotfix to show correct notifications
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
Labels: Core

#4827 Ako/ fix crash on mobile's modal
  packages/components/src/components/modal/modal.jsx
  packages/components/src/components/numpad/numpad.jsx
  packages/components/src/components/tick-picker/tick-picker.jsx
Labels: Components

#4829 yashim/feat: disable certain document type for certain country
  packages/account/src/Components/poi-idv-document-submit/poi-idv-document-submit.jsx
Labels: Account

#4786 Amina/Test coverage for icon message content
  packages/account/src/Components/icon-message-content/__tests__/icon-message-content.spec.js
Labels: Account

#4744 Amina/test coverage for icon-with-message
  packages/account/src/Components/icon-with-message/__tests__/icon-with-message.spec.js
  packages/account/src/Components/icon-with-message/icon-with-message.jsx
Labels: Account

#3941 Ako/ Change language without reload
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/stores/app-store.js
  packages/core/package.json
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/SettingsModal/settings-language.jsx
  packages/core/src/App/app.jsx
  packages/core/src/Stores/common-store.js
  packages/core/src/Utils/Language/language.js
  packages/core/src/_common/base/socket_base.js
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/Modules/CFD/Components/cfd-account-card.tsx
  packages/trader/src/Modules/CFD/Components/props.types.ts
  packages/trader/src/Modules/CFD/Constants/cfd-specifications.js
  packages/trader/src/Modules/SmartChart/Components/toolbar-widgets.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
  packages/trader/src/Modules/Trading/Containers/chart-widgets.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader, Core, Bot, Components, Translations, P2P

#4813 Niloofar Sadeghi / Test coverage for form footer component
  packages/account/src/Components/form-footer/__tests__/form-footer.spec.js
  packages/account/src/Components/form-footer/form-footer.jsx
Labels: Account

#4713 Nikita/Add test coverage for "Article" component in accounts package
  packages/account/src/Components/article/article.spec.js
Labels: Account

#4712 Nikita/Add test coverage for "ErrorComponent" in accounts package
  packages/account/src/Components/error-component/error-component.spec.js
Labels: Account

#4772 Artsem / setup testing library for p2p package
  packages/p2p/jest.config.js
  packages/p2p/package-lock.json
  packages/p2p/package.json
Labels: P2P

#4856 Revert "Ako/ Change language without reload"
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/stores/app-store.js
  packages/core/package.json
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/SettingsModal/settings-language.jsx
  packages/core/src/App/app.jsx
  packages/core/src/Stores/common-store.js
  packages/core/src/Utils/Language/language.js
  packages/core/src/_common/base/socket_base.js
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/Modules/CFD/Components/cfd-account-card.tsx
  packages/trader/src/Modules/CFD/Components/props.types.ts
  packages/trader/src/Modules/CFD/Constants/cfd-specifications.js
  packages/trader/src/Modules/SmartChart/Components/toolbar-widgets.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
  packages/trader/src/Modules/Trading/Containers/chart-widgets.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader, Core, Bot

#4773 Amina/ remove_checkbox_from_signup_modal
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/socket_base.js
  packages/core/src/sass/app/modules/account-signup.scss
Labels: Trader, Core, Account

#4812 MaryiaF/refactor: convert CFDPOA component to ts
  packages/trader/src/Modules/CFD/Components/cfd-poa.jsx
  packages/trader/src/Modules/CFD/Components/cfd-poa.tsx
  packages/trader/src/Modules/CFD/Containers/cfd-financial-stp-real-account-signup.jsx
Labels: Trader

#4746 MaryiaF/refactor: convert CFDDemoAccountDisplay component to ts
  package-lock.json
  packages/trader/package-lock.json
  packages/trader/src/Modules/CFD/Components/cfd-account-card.tsx
  packages/trader/src/Modules/CFD/Components/cfd-demo-account-display.tsx
  packages/trader/src/Modules/CFD/Components/cfd-real-account-display.tsx
  packages/trader/src/Modules/CFD/Components/props.types.ts
  packages/trader/src/Modules/CFD/Constants/cfd-specifications.ts
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
Labels: Trader

#4833 Maryia/Fix: for error in CFD thrown upon real Deriv account creation
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/trader/src/Modules/CFD/Containers/cfd-dashboard.jsx
  packages/trader/src/Stores/Modules/CFD/cfd-store.js
Labels: Trader, Core

#4747 Matin/Chore: Added invalid token modal for investor password reset
  packages/trader/src/Modules/CFD/Containers/cfd-reset-password-modal.jsx
  packages/trader/src/sass/app/modules/mt5/cfd.scss
Labels: Trader

#4782 salar / Fix: dbot - remove starting zeros for trade options
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Ticks.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
Labels: Bot

#4819 Yauheni/Recent positions button on hover should have hand cursor
  packages/core/src/sass/app/_common/layout/footer.scss
Labels: Core

#4850 khalid/add deriv.be domain
  packages/core/src/index.html
  packages/core/src/root_files/localstorage-sync.html
  packages/shared/src/utils/config/config.js
  packages/shared/src/utils/url/constants.js
Labels: Core, Shared

#4889 khalid/deriv-be app IDs
  packages/shared/src/utils/config/config.js
  packages/shared/src/utils/url/constants.js
  packages/shared/src/utils/url/helpers.js
Labels: Shared

#4780 Mahdiyeh/ Improvement: convert CFDFinancialStpRealAccountSignup component to typescript
  packages/trader/src/Modules/CFD/Containers/cfd-financial-stp-real-account-signup.tsx
  packages/trader/src/Modules/CFD/Containers/mt5-account-opening-real-financial-stp-modal.tsx
Labels: Trader

#4745 MaryiaF/refactor: convert CFDRealAccountDisplay component to ts
  packages/trader/src/Modules/CFD/Components/cfd-account-card.tsx
  packages/trader/src/Modules/CFD/Components/cfd-demo-account-display.tsx
  packages/trader/src/Modules/CFD/Components/cfd-poa.tsx
  packages/trader/src/Modules/CFD/Components/cfd-real-account-display.tsx
  packages/trader/src/Modules/CFD/Components/props.types.ts
Labels: Trader

#4871 Ako/ Change language without refresh
  package-lock.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/stores/app-store.js
  packages/components/src/components/vertical-tab/vertical-tab-header.jsx
  packages/components/src/components/vertical-tab/vertical-tab-headers.jsx
  packages/core/package.json
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/SettingsModal/settings-language.jsx
  packages/core/src/App/app.jsx
  packages/core/src/Stores/common-store.js
  packages/core/src/Utils/Language/language.js
  packages/core/src/_common/base/socket_base.js
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/Modules/CFD/Components/cfd-account-card.tsx
  packages/trader/src/Modules/CFD/Components/props.types.ts
  packages/trader/src/Modules/CFD/Constants/cfd-specifications.ts
  packages/trader/src/Modules/SmartChart/Components/toolbar-widgets.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/contract-type-menu.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-menu.spec.js
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-dialog.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
  packages/trader/src/Modules/Trading/Containers/chart-widgets.jsx
  packages/trader/src/Modules/Trading/Containers/contract-type.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Modules/Trading/Helpers/contract-type.js
Labels: Trader, Core, Bot, Components

#4826 Maryia/Fix: Avoiding console error by checking login status
  packages/core/src/Stores/notification-store.js
Labels: Core

#4848 Matin/Chore: Added hint to certain personal details fields
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/components/src/components/date-picker/date-picker-input.jsx
  packages/components/src/components/date-picker/date-picker-native.jsx
  packages/components/src/components/date-picker/date-picker.jsx
  packages/components/src/components/date-picker/date-picker.scss
  packages/components/src/components/input/input.jsx
  packages/components/src/components/input/input.scss
Labels: Components, Account

#4899 Mahdieyh/Fix: empty password page for apple
  packages/account/src/Sections/Security/Passwords/passwords.jsx
Labels: Account

#4874 Bala/ Fix async trade params process
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-wrapper.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/simple-duration.jsx
  packages/trader/src/Stores/Modules/Trading/Actions/start-date.js
  packages/trader/src/Stores/Modules/Trading/Helpers/process.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#4877 Maryia/Avoiding error in Blockly Generator (cannot read property reduce of undefined)
  packages/bot-skeleton/src/scratch/blocks/Math/math_on_list.js
Labels: Bot

#4878 Hirad/fix--account switcher US-East bug is fixed
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#4817 Niloofar Sadeghi / Test coverage for form-body-section component
  packages/account/src/Components/form-body-section/__tests__/form-body-section.spec.js
  packages/account/src/Components/form-body-section/form-body-section.jsx
Labels: Account

#4814 Niloofar Sadeghi / Test coverage for form-sub-header component
  packages/account/src/Components/form-sub-header/__tests__/form-sub-header.spec.js
  packages/account/src/Components/form-sub-header/form-sub-header.jsx
Labels: Account

#4520 Ako/ update github branch to version name in the meta tags
  packages/core/build/config.js
Labels: Core

#4837 Niloofar Sadeghi / Test coverage for demo-message component
  packages/account/src/Components/demo-message/__test__/demo-message.spec.js
Labels: Account

#4771 MaryiaF/fix: duration unit is missing for Highs/Lows trade type
  packages/components/src/components/dropdown/dropdown.scss
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/advanced-duration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration.jsx
Labels: Trader, Components

#4835 Niloofar Sadeghi / Add test cases for unsupported
  packages/account/src/Components/poi-unsupported/__test__/unsupported.spec.js
Labels: Account

#4851 likhith/Removed UnsupportedAccount Component
  packages/cashier/src/Stores/general-store.js
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/unsupported-account/index.js
  packages/p2p/src/components/unsupported-account/unsupported-account.jsx
  packages/p2p/src/components/unsupported-account/unsupported-account.scss
  packages/p2p/src/stores/general-store.js
Labels: P2P

#4897 Track js error cannot read prop undefined logout
  packages/core/src/Stores/client-store.js
Labels: Core

#4896 bahar/withdrawal_page_is_not_accessible_on_deriv_go_app
  packages/core/src/Stores/client-store.js
Labels: Trader, Core

#4891 Artsem / <AdStatus /> test coverage
  packages/p2p/jest.config.js
  packages/p2p/src/components/my-ads/__tests__/ad-status.spec.js
Labels: P2P

#4887 Artsem / <BuySellHeader /> test coverage
  packages/p2p/src/components/buy-sell/__tests__/buy-sell-header.spec.js
  packages/p2p/src/components/buy-sell/buy-sell-header.jsx
Labels: P2P

#4805 Ashraf/Font colorchange settingsmodal
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/sass/app/_common/components/theme-select.scss
Labels: Core

#4737 farrah/add_test_coverage_for_cashier_component
  packages/cashier/src/Containers/__tests__/cashier.spec.js
  packages/cashier/src/Containers/cashier.jsx
  packages/components/src/components/page-overlay/page-overlay.jsx
  packages/components/src/components/vertical-tab/vertical-tab-content-container.jsx
Labels: Components

#4532 carol/ P2P: Add modal to explain why ads are not visible
  packages/p2p/src/components/my-ads/ad-exceeds-daily-limit-modal.jsx
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#4882 george / added tests for OnRampProviderPopup component
  packages/cashier/src/Components/__tests__/on-ramp-provider-popup.spec.js
  packages/cashier/src/Components/on-ramp-provider-popup.jsx
  packages/components/src/components/icon/icon.jsx
Labels: Components

#4836 Yauheni/add test for UnlinkModal
  packages/account/src/Components/unlink-modal/__tests__/unlink-modal.spec.js
Labels: Account

#4898 bahar/grey_out_disabled_accounts_of_user_from_cashier_onboarding_account_se…
  packages/core/src/App/Containers/RealAccountSignup/choose-currency.js
  packages/core/src/App/Containers/RealAccountSignup/choose-currency.jsx
Labels: Core

#4888 task57277 Region label at the account switcher MT5 Real synthetic acc…
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#4939 Revert "likhith/Removed UnsupportedAccount Component"
  packages/cashier/src/Stores/general-store.js
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/unsupported-account/index.js
  packages/p2p/src/components/unsupported-account/unsupported-account.jsx
  packages/p2p/src/components/unsupported-account/unsupported-account.scss
  packages/p2p/src/stores/general-store.js
Labels: P2P

#4947 delete tests for <BuySellHeader />
  packages/p2p/src/components/buy-sell/__tests__/buy-sell-header.spec.js
  packages/p2p/src/components/buy-sell/buy-sell-header.jsx
Labels: P2P
