Repository deriv-com/deriv-app, pull requests merged in 2022-04, with the labels that each got.

#4971 likhith/Created Floating rate custom component
  packages/cashier/src/Containers/p2p-cashier.jsx
  packages/components/src/components/input-field/increment-buttons.jsx
  packages/components/src/components/input-field/input-field.jsx
  packages/p2p/src/components/floating-rate/floating-rate.jsx
  packages/p2p/src/components/floating-rate/floating-rate.scss
  packages/p2p/src/components/floating-rate/index.js
  packages/p2p/src/constants/floating-rate.js
  packages/p2p/src/stores/floating-rate-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/index.js
  packages/shared/src/styles/themes.scss
Labels: Shared, Components, P2P

#5110 bahar/create_fiat_currency_wallet_component
  packages/appstore/src/assets/svgs/wallet/index.tsx
  packages/appstore/src/assets/svgs/wallet/instant-bank-transfer-dark.svg
  packages/appstore/src/assets/svgs/wallet/instant-bank-transfer-light.svg
  packages/appstore/src/components/create-wallet/create-wallet-details.tsx
  packages/appstore/src/components/create-wallet/create-wallet-provider.ts
  packages/appstore/src/components/create-wallet/create-wallet.scss
  packages/appstore/src/components/create-wallet/create-wallet.tsx
  packages/appstore/src/components/create-wallet/stories/create-wallet.stories.tsx
  packages/appstore/src/components/wallet-radio-button/index.ts
  packages/appstore/src/components/wallet-radio-button/wallet-radio-button-group.tsx
  packages/appstore/src/components/wallet-radio-button/wallet-radio-button.scss
  packages/appstore/src/components/wallet-radio-button/wallet-radio-button.tsx
Labels: Components, AppStore

#5154 Cfd account type description
  packages/appstore/src/components/cfd-account-type-details/cfd-account-type-details.scss
  packages/appstore/src/components/cfd-account-type-details/cfd-account-type-details.tsx
  packages/appstore/src/components/cfd-account-type-details/index.ts
  packages/appstore/src/components/cfd-account-type-details/stories/cfd-account-type-details.stories.tsx
  packages/appstore/src/constants/cfd-account-type-details.ts
Labels: AppStore

#5150 bahar/Add an app component
  packages/appstore/src/components/add-app/add-app.scss
  packages/appstore/src/components/add-app/add-app.tsx
  packages/appstore/src/components/add-app/index.ts
  packages/appstore/src/components/add-app/stories/add-app.stories.tsx
  packages/appstore/src/components/toggle-account-type/index.ts
  packages/appstore/src/components/toggle-account-type/stories/toggle-account-type.stories.tsx
  packages/appstore/src/components/toggle-account-type/toggle-account-type.scss
  packages/appstore/src/components/toggle-account-type/toggle-account-type.tsx
Labels: AppStore

#5135 NJ/Feat: Product card component
  packages/appstore/src/components/choose-product/choose-product.tsx
  packages/appstore/src/components/product-card/index.ts
  packages/appstore/src/components/product-card/platform-card.tsx
  packages/appstore/src/components/product-card/product-card-modal.tsx
  packages/appstore/src/components/product-card/product-card.scss
  packages/appstore/src/components/product-card/stories/platform-card.stories.tsx
  packages/appstore/src/components/product-card/stories/trade-type-card.stories.tsx
  packages/appstore/src/components/product-card/trade-type-card.tsx
Labels: AppStore

#4776 Matin/Chore: Rename Smart Fx to Basket indices - DMT5 & Deriv X
  packages/trader/src/Modules/CFD/Components/cfd-demo-account-display.tsx
  packages/trader/src/Modules/CFD/Components/cfd-real-account-display.tsx
  packages/trader/src/Modules/CFD/Constants/cfd-shared-strings.js
  packages/trader/src/Modules/CFD/Containers/compare-accounts-content.tsx
  packages/trader/src/sass/app/modules/mt5/cfd-dashboard.scss
Labels: Trader

#5172 Maryia/Loading favicons based on size & excluded them from service worker
  packages/core/build/config.js
  packages/trader/build/config.js
Labels: Trader, Core

#5174 Maryia/Hotfix for basket indices in Open Positions & in DBot Quick strategy
  packages/bot-skeleton/src/services/api/contracts-for.js
  packages/bot-web-ui/src/xml/dalembert.xml
  packages/bot-web-ui/src/xml/martingale.xml
  packages/bot-web-ui/src/xml/oscars_grind.xml
  packages/components/src/components/icon/underlying/ic-underlying-WLDAUD.svg
  packages/components/src/components/icon/underlying/ic-underlying-WLDEUR.svg
  packages/components/src/components/icon/underlying/ic-underlying-WLDGBP.svg
  packages/components/src/components/icon/underlying/ic-underlying-WLDUSD.svg
  packages/components/src/components/icon/underlying/ic-underlying-WLDXAU.svg
  packages/components/stories/contract-card/statics/contract.js
  packages/core/src/Constants/contract.js
  packages/trader/src/Constants/contract.js
  packages/trader/src/public/images/app/portfolio/underlying-icons/ic-WLDAUD.svg
  packages/trader/src/public/images/app/portfolio/underlying-icons/ic-WLDEUR.svg
  packages/trader/src/public/images/app/portfolio/underlying-icons/ic-WLDGBP.svg
  packages/trader/src/public/images/app/portfolio/underlying-icons/ic-WLDUSD.svg
Labels: Trader, Core, Bot, Components

#5177 Revert "Maryia/Loading favicons based on size & excluded them from service worker"
  packages/core/build/config.js
  packages/trader/build/config.js
Labels: Trader, Core

#5163 Wallet description component
  packages/appstore/src/components/wallet-description/index.ts
  packages/appstore/src/components/wallet-description/stories/wallet-description.stories.tsx
  packages/appstore/src/components/wallet-description/wallet-description.scss
  packages/appstore/src/components/wallet-description/wallet-description.tsx
  packages/appstore/src/constants/wallet-description.ts
Labels: AppStore

#4917 bahar/landing_on_dtrader_responsive_page_frequently_after_clicking_cashier
  packages/account/src/Components/account-limits/account-limits-article.jsx
  packages/account/src/Components/account-limits/account-limits.jsx
  packages/account/src/Containers/account.jsx
  packages/account/src/Sections/Security/AccountLimits/account-limits.jsx
  packages/cashier/src/Components/CashierDefault/cashier-default.jsx
  packages/cashier/src/Components/Receipt/account-transfer-receipt.jsx
  packages/cashier/src/Components/Receipt/payment-agent-receipt.jsx
  packages/cashier/src/Components/Receipt/payment-agent-transfer-receipt.jsx
  packages/cashier/src/Containers/cashier.jsx
  packages/cashier/src/Sass/payment-agent-receipt.scss
  packages/components/src/components/page-overlay/page-overlay.jsx
  packages/core/src/Stores/common-store.js
  packages/trader/src/Modules/Reports/Containers/reports.jsx
Labels: Trader, Core, Components, Account

#5160 Sara / Fixed issue with list rename
  packages/bot-skeleton/src/scratch/blocks/Math/math_on_list.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_charAt.js
Labels: Bot

#5215 Mehrzad / resolve startsWith error
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
Labels: Bot

#5120 likhith/fixed:Payment method FE issues
  packages/p2p/src/components/my-ads/create-ad-add-payment-method-modal.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-ads/quick-add-modal.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-method-card/payment-method-card.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/edit-payment-method-form.jsx
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#5115 Ako/ Codecov master branch coverage
  .github/workflows/codecov.yml
Labels: Docs

#5030 likhith/Test cases for nickname form
  packages/components/src/components/input/input.jsx
  packages/p2p/src/assets/icon-close.jsx
  packages/p2p/src/components/nickname-form/__test__/nickname-form-wrapper.spec.js
  packages/p2p/src/components/nickname-form/__test__/nickname-form.spec.js
  packages/p2p/src/components/nickname-form/nickname-form-wrapper.jsx
Labels: Components, P2P

#5182 Amina/test_coverage_for_missing_personal_details_in_accounts_package
  packages/account/src/Components/poi-missing-personal-details/__tests__/missing-personal-details.spec.js
Labels: Account

#5213 yauheni/#54657 poa-needs-review test coverage
  packages/account/src/Components/poa-needs-review/__tests__/needs-review-spec.js
Labels: Account

#5208 yauheni/added test coverage for poa-expired
  packages/account/src/Components/poa-expired/__tests__/expired.spec.js
Labels: Account

#5091 Amina/test coverage for Poa_continue_button in accounts package
  packages/account/src/Components/poa-continue-trading-button/__tests__/continue-trading-button.spec.js
  packages/account/src/Components/poa-continue-trading-button/continue-trading-button.jsx
Labels: Account

#5090 Amina/test coverage for poa-button in accounts package
  packages/account/src/Components/poa-button/__tests__/poa-button.spec.js
  packages/account/src/Components/poa-button/poa-button.jsx
Labels: Account

#5176 Amina/ test_coverage_for_personal_details_in_accounts_package
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/components/src/components/date-picker/date-picker-native.jsx
  packages/components/src/components/date-picker/date-picker.jsx
  packages/components/src/components/select-native/select-native.jsx
Labels: Components, Account

#5097 Amina/test_coverage for icon_message_list in account package
  packages/account/src/Components/icon-message-list/__tests__/icon-message-list.spec.js
  packages/account/src/Components/icon-message-list/icon-message-list.jsx
Labels: Account

#5226 Amina/test_coverage_for_Formbody_component_in_accounts_package
  packages/account/src/Components/form-body/__tests__/form-body.spec.js
Labels: Account

#5223 carol/ P2P: Fix incorrect trade badge in My profile
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.jsx
Labels: P2P

#5060 Amina/test coverage for accounts_limits spec
  packages/account/src/Components/account-limits/__tests__/account-limit-overlay.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-article.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-extra-info.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-footer.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-table-cell.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-table-header.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-turnover-limit-row.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits.spec.js
  packages/account/src/Components/account-limits/account-limits-footer.jsx
  packages/account/src/Components/account-limits/account-limits-table-cell.jsx
  packages/account/src/Components/account-limits/account-limits-table-header.jsx
  packages/account/src/Components/account-limits/account-limits-turnover-limit-row.jsx
  packages/account/src/Components/account-limits/account-limits.jsx
Labels: Account

#5122 yashim/chore: bumped postcss/babel related packages. fixed bootstrap warnings
  babel.config.json
  package.json
  packages/account/package.json
  packages/appstore/babel.config.json
  packages/appstore/package.json
  packages/cashier/babel.config.json
  packages/cashier/package.json
  packages/components/stories/icon/icons.js
  packages/core/babel.config.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/p2p/babel.config.json
  packages/p2p/package-lock.json
  packages/p2p/package.json
  packages/trader/package.json
Labels: Trader, Core, Components, P2P, Account, AppStore

#4959 Aswathy/test case for error dialog box
  packages/cashier/src/Components/__tests__/error-dialog.spec.js
  packages/cashier/src/Components/error-dialog.jsx
Labels: Core

#5263 Revert "Amina/test coverage for accounts_limits spec"
  packages/account/src/Components/account-limits/__tests__/account-limit-overlay.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-article.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-extra-info.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-footer.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-table-cell.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-table-header.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits-turnover-limit-row.spec.js
  packages/account/src/Components/account-limits/__tests__/account-limits.spec.js
  packages/account/src/Components/account-limits/account-limits-footer.jsx
  packages/account/src/Components/account-limits/account-limits-table-cell.jsx
  packages/account/src/Components/account-limits/account-limits-table-header.jsx
  packages/account/src/Components/account-limits/account-limits-turnover-limit-row.jsx
  packages/account/src/Components/account-limits/account-limits.jsx
Labels: Account

#5038 automate email change for non social accounts
  packages/account/src/Components/Routes/binary-link.jsx
  packages/account/src/Components/Routes/binary-routes.jsx
  packages/account/src/Components/sent-email-modal/sent-email-modal.jsx
  packages/account/src/Constants/routes-config.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Security/Passwords/deriv-email.jsx
  packages/account/src/Sections/Security/Passwords/deriv-password.jsx
  packages/account/src/Sections/Security/Passwords/passwords.jsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/icon/common/ic-email-firewall.svg
  packages/components/src/components/icon/common/ic-email-spam.svg
  packages/components/src/components/icon/common/ic-email-typo.svg
  packages/components/src/components/icon/common/ic-email-verified.svg
  packages/components/src/components/icon/common/ic-email.svg
  packages/components/src/components/modal/modal.scss
  packages/components/src/components/send-email-template/send-email-template.jsx
  packages/components/src/components/send-email-template/send-email-template.scss
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Components/Routes/binary-link.jsx
  packages/core/src/App/Components/Routes/binary-routes.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Layout/header/dashboard-header.jsx
  packages/core/src/App/Containers/Layout/header/dashboard-platform-header.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/App/Containers/ResetEmailModal/index.js
  packages/core/src/App/Containers/ResetEmailModal/reset-email-modal.jsx
  packages/core/src/App/Containers/UpdateEmailModal/index.js
  packages/core/src/App/Containers/UpdateEmailModal/update-email-modal.jsx
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/_common/base/socket_base.js
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/modules/reset-email.scss
  packages/shared/src/utils/url/helpers.js
  packages/shared/src/utils/validation/declarative-validation-rules.js
Labels: Core, Shared, Components, Account

#5118 Hirad/The issue with trust pilot button styling is fixed
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/sass/app/_common/components/notification-banner.scss
Labels: Core

#5175 MaryiaF/fix: hash = undefined in URL on DMT5 and DerivX
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/components/src/components/tabs/tabs.jsx
Labels: Trader, Components

#5286 Mahdiyeh/ Fix: rerendering the TradingPasswordModal component
  packages/account/src/Components/reset-trading-password-modal/reset-trading-password-modal.jsx
  packages/cfd/src/Containers/cfd-reset-password-modal.tsx
  packages/cfd/src/sass/cfd.scss
Labels: Account

#5300 Amina /Uk_account_closure_ toastbox
  packages/core/src/App/Containers/CloseUKAccountModal/close-uk-account-modal.jsx
  packages/core/src/App/Containers/CloseUKAccountModal/close-uk-account-modal.scss
  packages/core/src/App/Containers/CloseUKAccountModal/index.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/ui-store.js
Labels: Core

#5288 Sara / fixed issue with nested list
  packages/bot-skeleton/src/scratch/blocks/Math/math_on_list.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
Labels: Bot

#5275 Mahdiyeh/Fix: empty positions on mobile
  packages/trader/src/App/Containers/trade-header-extensions.jsx
  packages/trader/src/Modules/Reports/Components/empty-portfolio-message.jsx
  packages/trader/src/sass/app/modules/portfolio.scss
Labels: Trader

#5195 Fix zero last digit list block
  packages/bot-skeleton/src/services/tradeEngine/trade/Ticks.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
Labels: Bot

#5301 carol/ P2P: Fix ads paused modal visibility
  packages/p2p/src/components/my-ads/create-ad-form.jsx
Labels: P2P

#5096 Hubert / Unexpected token u in JSON at position 0
  packages/core/src/Stores/client-store.js
Labels: Core

#5041 likhith/fixed errors logged in console when cashier status is locked
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#4991 likhith/greying out payment method when ad is disabled
  packages/p2p/src/components/my-ads/my-ads.scss
Labels: P2P

#5171 khalid/precommit hooks
  .eslintrc.js
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-skeleton/package.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/components/toolbox/toolbox-items.jsx
  packages/cashier/package.json
  packages/components/package.json
  packages/core/package.json
  packages/indicators/package.json
  packages/p2p/package.json
  packages/publisher/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/translations/package.json
Labels: Trader, Core, Bot, Shared, Components, Translations, P2P, Account, AppStore

#5324 Revert "khalid/precommit hooks"
  .eslintrc.js
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-skeleton/package.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/components/toolbox/toolbox-items.jsx
  packages/cashier/package.json
  packages/components/package.json
  packages/core/package.json
  packages/indicators/package.json
  packages/p2p/package.json
  packages/publisher/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/translations/package.json
Labels: Trader, Core, Bot, Shared, Components, Translations, P2P, Account, AppStore

#5206 george / automation of pa withdrawals activation
  packages/cashier/src/Components/Error/payment-agent-withdrawal-locked.jsx
  packages/cashier/src/Components/__tests__/payment-agent-list.spec.js
  packages/cashier/src/Components/payment-agent-list.jsx
  packages/cashier/src/Sass/payment-agent-withdrawal-locked.scss
  packages/cashier/src/Stores/verification-store.js
  packages/core/src/_common/base/socket_base.js
Labels: Core, Components

#4999 likhith/payment method selection resets on tab change
  packages/p2p/src/components/buy-sell/filter-modal/filter-modal.jsx
  packages/p2p/src/stores/buy-sell-store.js
Labels: P2P

#5007 likhith/fixed the toggle issue in privacy setting
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#5132 Hirad/Mobile active language update issue
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Labels: Core

#5199 george / fix refreshNotifications action in notification store
  packages/core/src/Stores/notification-store.js
Labels: Core

#5151 fix for search content overflow on flyout search popup
  packages/bot-web-ui/src/components/flyout/flyout.scss
Labels: Bot

#5155 Fix notify messsage color block
  packages/bot-web-ui/src/components/journal/journal.scss
  packages/bot-web-ui/src/stores/journal-store.js
Labels: Bot

#5180 Maryia/Loading favicons based on size & excluded them from service worker
  packages/core/build/config.js
  packages/trader/build/config.js
Labels: Trader, Core

#5136 likhith/Fixed title of add Payment method
  packages/p2p/src/components/my-ads/create-ad-add-payment-method-modal.jsx
  packages/p2p/src/components/my-ads/quick-add-modal.jsx
Labels: P2P

#5253 Nikita / Task - Add test coverage for "LoadErrorMessage" component in accounts package
  packages/account/src/Components/load-error-message/__tests__/load-error-message.spec.js
Labels: Account

#5252 yauheni/#54693 SelfExclusion and subcomponents test coverage
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-article-content.spec.js
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-article.spec.js
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-confirm-limits.spec.js
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-confirm-page.spec.js
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-footer.spec.js
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-form.spec.js
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-inputs.spec.js
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-modal.spec.js
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-wrapper.spec.js
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion.spec.js
Labels: Account

#5191 Artsem / Disable popovers + change color if user is barred
  packages/components/src/components/icon/common/ic-archive.svg
  packages/components/src/components/icon/common/ic-unarchive.svg
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/stores/my-ads-store.js
Labels: Components, P2P

#5129 Akmal / Add onfido name comparison notifications
  packages/core/src/Stores/notification-store.js
Labels: Core

#5168 Adrienne/Fixed floating-point notations on buy/sell ads input amount
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/utils/validations.js
Labels: P2P

#5009 Vinu/Change in style of add new link inside payment method tab in p2p
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/select-payment-method.jsx
Labels: Core, P2P

#5280 yauheni/54663 poi_button test coverage
  packages/account/src/Components/poi-button/__tests__/poi-button.spec.js
Labels: Account

#5299 yauheni/54639 financial-details test coverage
  packages/account/src/Components/financial-details/__tests__/financial-details.spec.js
Labels: Account

#5298 yauheni/54664 poi-country-selector test coverage
  packages/account/src/Components/poi-country-selector/__tests__/poi-country-selector.spec.js
Labels: Account

#5356 Amina/update_content_close_uk_modal
  packages/core/src/App/Containers/CloseUKAccountModal/close-uk-account-modal.jsx
Labels: Core
