Repository deriv-com/deriv-app, pull requests merged in 2022-08, with the labels that each got.

#6028 Bala/update charts
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#5799 Ameerul /Task #63933 filter to sort the ads based on user rating
  packages/components/src/components/icon/cashier/ic-cashier-sort.svg
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/buy-sell/sort-dropdown.scss
  packages/p2p/src/components/my-ads/ad-status.scss
  packages/p2p/src/stores/buy-sell-store.js
Labels: Trader, Core, Shared, Components, P2P, Docs

#5927 review core readme && core docs
  packages/core/README.md
Labels: Core, Docs

#6026 Niloofar/ Translation documentation update
  packages/translations/README.md
Labels: Translations, Docs

#5873 Termsandconditionslink
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/company-wide-limit-exceeded-modal.jsx
Labels: Trader, Core

#5653 yashim/chore: upgrade onfido
  package-lock.json
  packages/account/package.json
Labels: Account

#5829 shayan / 67210/ p2p documentation updated
  packages/p2p/README.md
Labels: P2P, Docs

#5942 Shayan/69364/fix eslint errors for p2p
  packages/p2p/.eslintrc.js
  packages/p2p/index.js
  packages/p2p/package.json
  packages/p2p/scripts/__tests__/extract-string.spec.js
  packages/p2p/scripts/extract-string.js
  packages/p2p/src/components/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form-receive-amount.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header.jsx
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/buy-sell/filter-modal/filter-modal.jsx
  packages/p2p/src/components/empty/empty.jsx
  packages/p2p/src/components/floating-rate/floating-rate.jsx
  packages/p2p/src/components/misc/animation-wrapper.jsx
  packages/p2p/src/components/my-ads/ad-status.scss
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.jsx
  packages/p2p/src/components/my-ads/create-ad-error-modal.jsx
  packages/p2p/src/components/my-ads/create-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/create-ad-summary.jsx
  packages/p2p/src/components/my-ads/edit-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/components/my-ads/edit-ad-summary.jsx
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/quick-add-modal.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/cancel-add-payment-method-modal.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/edit-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.jsx
  packages/p2p/src/components/order-details/order-details-complain-modal.jsx
  packages/p2p/src/components/order-details/order-details-confirm-modal.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/order-details/order-info-block.jsx
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/orders/popup.jsx
  packages/p2p/src/components/p2p-accordion/p2p-accordion.jsx
  packages/p2p/src/components/page-return/page-return.jsx
  packages/p2p/src/components/user/user-avatar/__test__/user-avatar.spec.js
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/utils/adverts.js
Labels: P2P

#6088 farrah/ fixed component eslint errors
  packages/components/src/components/accordion/accordion.jsx
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/src/components/input-field/input-field.jsx
  packages/components/src/components/input-field/input.jsx
Labels: Components

#6045 Ako/ Enable eslint on ts files globally
  packages/account/package.json
  packages/bot-skeleton/package.json
  packages/bot-web-ui/package.json
  packages/cashier/package.json
  packages/components/package.json
  packages/indicators/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/translations/package.json
Labels: Trader, Core, Bot, Shared, Components, Translations, P2P, Account

#6005 Adrienne / Added search functionality for list of blocked advertisers
  packages/p2p/src/components/my-profile/block-user/block-user-table/block-user-table.jsx
  packages/p2p/src/components/my-profile/block-user/block-user.jsx
  packages/p2p/src/components/my-profile/block-user/block-user.scss
  packages/p2p/src/components/my-profile/block-user/index.js
  packages/p2p/src/components/my-profile/my-profile-content.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats-table/my-profile-stats-table.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats.scss
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/my-profile/my-profile.scss
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#5970 george / rm66637 / PA list improvements. Search bar
  packages/cashier/package.json
  packages/cashier/src/components/cashier-search-box/__tests__/cashier-search-box.spec.js
  packages/cashier/src/components/cashier-search-box/cashier-search-box.jsx
  packages/cashier/src/components/cashier-search-box/cashier-search-box.scss
  packages/cashier/src/components/cashier-search-box/index.js
  packages/cashier/src/pages/payment-agent/payment-agent-container/__tests__/payment-agent-container.spec.js
  packages/cashier/src/pages/payment-agent/payment-agent-container/payment-agent-container.jsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.scss
  packages/cashier/src/pages/payment-agent/payment-agent-search-box/index.js
  packages/cashier/src/pages/payment-agent/payment-agent-search-box/payment-agent-search-box.jsx
  packages/cashier/src/stores/__tests__/payment-agent-store.spec.js
  packages/cashier/src/stores/payment-agent-store.js
  packages/components/src/components/icon/cashier/ic-cashier-search.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components

#6112 george: fix proptypes for value, add number type (DisplayText component)
  packages/components/src/components/dropdown/display-text.jsx
Labels: Components

#6101 Akmal / Convert string into integer
  packages/components/src/components/input-field/input-field.jsx
Labels: Components

#6096 Maryia/fix: CompositeCalendarMobile loading in Statements
  packages/components/src/components/data-list/data-list-row.jsx
  packages/reports/src/Components/placeholder-component.jsx
Labels: Components

#6022 farrah/fixed trackJS connection error
  packages/p2p/src/stores/sendbird-store.js
Labels: P2P

#6057 farrah/ fixed typo error in price rate validation message
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#6056 george / rm71464 / align api token
  packages/account/src/Components/api-token/api-token.scss
Labels: Account

#6053 thisyahlen/added space between the buttons in the mt5 page error
  packages/components/src/components/page-error/page-error.scss
Labels: Components

#6051 Message validation first name
  packages/shared/src/utils/validation/declarative-validation-rules.js
  packages/shared/src/utils/validation/regex-validation.js
Labels: Shared

#6025 Mahdiyeh/ Fix: show barrier price when hover on open positions cards
  packages/core/src/Stores/portfolio-store.js
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Core

#6052 thisyahlen/changed expiry box and tooltip date format
  packages/shared/src/utils/date/date-time.js
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/expiration-modal.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/expiration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/widgets.jsx
Labels: Trader, Shared

#5925 carol/ Fix P2P notification counter style
  packages/components/src/components/vertical-tab/vertical-tab.scss
Labels: Components

#4198 Akmal / update: Add document upload for Nigerian clients
  packages/account/src/Components/currency-selector/__tests__/radio-button-group.spec.js
  packages/account/src/Components/file-uploader-container/upload-file.js
  packages/account/src/Components/poi-unsupported-failed/index.js
  packages/account/src/Components/poi-unsupported-failed/unsupported-failed.jsx
  packages/account/src/Components/poi/status/unsupported/__test__/unsupported.spec.js
  packages/account/src/Components/poi/status/unsupported/card-details/card-details.jsx
  packages/account/src/Components/poi/status/unsupported/card-details/card-details.scss
  packages/account/src/Components/poi/status/unsupported/card-details/documents-upload.jsx
  packages/account/src/Components/poi/status/unsupported/card-details/index.js
  packages/account/src/Components/poi/status/unsupported/card-details/input-field.jsx
  packages/account/src/Components/poi/status/unsupported/card-details/selfie-upload.jsx
  packages/account/src/Components/poi/status/unsupported/card-details/uploader.jsx
  packages/account/src/Components/poi/status/unsupported/card-details/utils.js
  packages/account/src/Components/poi/status/unsupported/card-with-arrow.jsx
  packages/account/src/Components/poi/status/unsupported/constants.js
  packages/account/src/Components/poi/status/unsupported/detail-component.jsx
  packages/account/src/Components/poi/status/unsupported/documents.jsx
  packages/account/src/Components/poi/status/unsupported/index.js
  packages/account/src/Components/poi/status/unsupported/unsupported.jsx
  packages/account/src/Components/poi/status/unsupported/unsupported.scss
  packages/account/src/Components/poi/status/upload-complete/upload-complete.jsx
  packages/account/src/Components/proof-of-identity-container/proof-of-identity-container.scss
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/components/src/components/date-picker/date-picker.jsx
  packages/components/src/components/file-dropzone/file-dropzone.jsx
  packages/components/src/components/file-dropzone/file-dropzone.scss
  packages/components/src/components/icon/common/ic-button-back.svg
  packages/components/src/components/icon/common/ic-dop.svg
  packages/components/src/components/icon/common/ic-driving-licence-front.svg
  packages/components/src/components/icon/common/ic-id-card-back.svg
  packages/components/src/components/icon/common/ic-id-card-front.svg
  packages/components/src/components/icon/common/ic-passport.svg
  packages/components/src/components/icon/common/ic-poi-clear-photo.svg
  packages/components/src/components/icon/common/ic-poi-doc-expiry.svg
  packages/components/src/components/icon/common/ic-poi-driving-licence.svg
  packages/components/src/components/icon/common/ic-poi-file-format.svg
  packages/components/src/components/icon/common/ic-poi-file-size.svg
  packages/components/src/components/icon/common/ic-poi-frame.svg
  packages/components/src/components/icon/common/ic-poi-identity-card.svg
  packages/components/src/components/icon/common/ic-poi-nimc-slip-horizontal.svg
  packages/components/src/components/icon/common/ic-poi-nimc-slip.svg
  packages/components/src/components/icon/common/ic-poi-passport.svg
  packages/components/src/components/icon/common/ic-selfie.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/timeline/timeline.jsx
  packages/components/src/components/timeline/timeline.scss
  packages/components/stories/icon/icons.js
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/files/file-uploader-utils.js
Labels: Components, Docs, Account

#6134 farrah/ fixed town/city validation
  packages/shared/src/utils/validation/declarative-validation-rules.js
Labels: Shared

#6145 Suisin/Update validation rules
  packages/shared/src/utils/validation/declarative-validation-rules.js
Labels: Shared

#6097 Adrienne / Refactored blocked user overlay css and advertiser page css
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
  packages/p2p/src/components/advertiser-page/block-user/block-user-overlay/block-user-overlay.scss
Labels: P2P

#6147 Suisin/Renew validation rules
  packages/shared/src/utils/validation/declarative-validation-rules.js
Labels: Shared

#6040 limit the number of chunks creating by webpack
  packages/core/build/constants.js
  packages/core/build/webpack.config.js
Labels: Core

#6001 MaryiaF/refactor: convert summary-card to ts
  packages/bot-web-ui/src/components/contract-card-loading/contract-card-loading.tsx
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/components/summary/summary-card.types.ts
Labels: Bot

#5968 yauheni / 69770 try submitting an id document instead message remove
  packages/account/src/Components/poi/poi-country-selector/__tests__/poi-country-selector.spec.js
  packages/account/src/Components/poi/poi-country-selector/poi-country-selector.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
Labels: Account

#5823 likith/testing functionality of reset trading password modal
  packages/account/src/Components/reset-trading-password-modal/__tests__/reset-trading-password-modal.spec.js
  packages/components/src/components/dialog/dialog.jsx
  packages/components/src/components/password-input/password-input.jsx
Labels: Components, Account

#5887 Vinu/Service worker caching
  packages/core/build/config.js
Labels: Core

#5463 Vinu/Test coverage sent email modal
  packages/account/src/Components/sent-email-modal/__tests__/sent-email-modal.spec.js
  packages/account/src/Components/sent-email-modal/sent-email-modal.jsx
Labels: Account

#6060 thisyahlen/ added icon for tether trc20
  packages/account/src/Components/currency-selector/__tests__/radio-button.spec.js
  packages/account/src/Components/currency-selector/radio-button.jsx
  packages/components/src/components/icon/currency/ic-currency-tusdt.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/shared/src/utils/currency/currency.js
Labels: Shared, Components, Account

#5997 carol/Advertiser page recommended
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/buy-sell.scss
Labels: Components, P2P

#6009 carol/ P2P: 2FA
  packages/components/src/components/icon/common/ic-email-sent-p2p.svg
  packages/components/src/components/icon/common/ic-email-verification-link-blocked.svg
  packages/components/src/components/icon/common/ic-email-verification-link-invalid.svg
  packages/components/src/components/icon/common/ic-email-verification-link-valid.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/p2p/src/components/email-link-blocked-modal/email-link-blocked-modal.jsx
  packages/p2p/src/components/email-link-blocked-modal/email-link-blocked-modal.scss
  packages/p2p/src/components/email-link-blocked-modal/index.js
  packages/p2p/src/components/email-link-verified-modal/email-link-verified-modal.jsx
  packages/p2p/src/components/email-link-verified-modal/email-link-verified-modal.scss
  packages/p2p/src/components/email-link-verified-modal/index.js
  packages/p2p/src/components/email-verification-modal/email-verification-modal.jsx
  packages/p2p/src/components/email-verification-modal/email-verification-modal.scss
  packages/p2p/src/components/email-verification-modal/index.js
  packages/p2p/src/components/invalid-verification-link-modal/index.js
  packages/p2p/src/components/invalid-verification-link-modal/invalid-verification-link-modal.jsx
  packages/p2p/src/components/invalid-verification-link-modal/invalid-verification-link-modal.scss
Labels: Components, P2P

#6002 Jim / Publisher documentation
  packages/publisher/README.md
Labels: Docs

#6008 Jim / Components documentation
  packages/components/README.md
  packages/components/docs/Modules/README.md
  packages/components/docs/README.md
Labels: Components, Docs

#6049 Mahdiyeh/Improvement:move PositionsDrawerCard from reports to components
  packages/components/src/components/positions-drawer-card/index.js
  packages/components/src/components/positions-drawer-card/positions-drawer-card.jsx
  packages/components/src/index.js
  packages/reports/build/webpack.config.js
  packages/reports/src/Components/Elements/PositionsDrawerCard/index.js
  packages/reports/src/Containers/open-positions.jsx
  packages/trader/build/loaders-config.js
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-drawer.jsx
Labels: Trader, Components

#5999 yauheni/#69488 changing language for closed market redirecting fix
  packages/core/src/Stores/common-store.js
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Core

#6107 Ameerul /Bug 64559 delete pm name handle for long value
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.scss
Labels: P2P

#5622 Hirad/ Account switcher demo total asset change
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Utils/ExchangeCurrencyRate/exchange_currency_rate.js
  packages/core/src/Utils/ExchangeCurrencyRate/index.js
  packages/core/src/_common/base/socket_base.js
Labels: Core

#6210 Hirad/ Fixed the bug in account switcher which causes the app to crash
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#6182 Ameerul /Bug 69036 rating thumbs removed when the user is not recommended
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.jsx
  packages/p2p/src/components/recommended-by/recommended-by.jsx
  packages/p2p/src/components/recommended-by/recommended-by.scss
  packages/p2p/src/components/user-rating-button/user-rating-button.jsx
Labels: P2P

#6058 MaryiaF/fix: P/L is not getting updated when a contract is terminated in between and contract time is finished
  packages/bot-web-ui/src/stores/transactions-store.js
Labels: Bot, Components

#6223 Bala/Add pre appstore flag
  packages/core/src/App/Containers/PlatformContainer/PlatformContainer.jsx
  packages/core/src/Modules/Endpoint/Endpoint.jsx
Labels: Core

#6187 added hotjar script and fixed eslint errors
  packages/bot-web-ui/src/app/app.jsx
Labels: Bot

#5464 The summary run panel tab is shown at the right section of Dbot
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/stores/toolbox-store.js
  packages/components/src/components/drawer/drawer.jsx
  packages/components/src/components/modal/modal.scss
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/shared/src/utils/screen/responsive.js
Labels: Core, Bot, Shared, Components

#6100 Fix: Storybook run issue
  package-lock.json
  packages/cashier/package-lock.json
  packages/components/.storybook/addons.js
  packages/components/.storybook/config.js
  packages/components/.storybook/main.js
  packages/components/.storybook/preview.js
  packages/components/.storybook/scss-loader.scss
  packages/components/.storybook/webpack.config.js
  packages/components/package.json
  packages/components/stories/icon/icons.js
Labels: Components

#6209 yauheni / 65898 out of bound index mobx warning
  packages/core/src/App/Containers/Layout/header/default-header.jsx
Labels: Core

#5696 Sara / Added size limit to martingale
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.jsx
  packages/bot-web-ui/src/stores/quick-strategy-store.js
  packages/bot-web-ui/src/xml/dalembert.xml
  packages/bot-web-ui/src/xml/oscars_grind.xml
Labels: Bot

#5734 Update Test case for Upload Complete
  packages/account/src/Components/poi/status/upload-complete/__tests__/upload-complete.spec.js
Labels: Account

#5904 likhith/CSS alignment of header and data wrt all languages
  packages/reports/src/app.jsx
  packages/reports/src/sass/app/modules/reports.scss
  packages/trader/src/sass/app/modules/reports.scss
Labels: Trader

#5969 carol/ P2P: Orders rating
  packages/components/src/components/icon/common/ic-thumbs-down.svg
  packages/components/src/components/icon/common/ic-thumbs-up.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/p2p/jest.config.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/order-details/order-details-confirm-modal.jsx
  packages/p2p/src/components/order-details/order-details-footer.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/order-details/order-details.scss
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/rating-cell-renderer/index.js
  packages/p2p/src/components/rating-cell-renderer/rating-cell-renderer.jsx
  packages/p2p/src/components/rating-cell-renderer/rating-cell-renderer.scss
  packages/p2p/src/components/rating-modal/index.js
  packages/p2p/src/components/rating-modal/rating-modal.jsx
  packages/p2p/src/components/rating-modal/rating-modal.scss
  packages/p2p/src/components/recommend-user/index.js
  packages/p2p/src/components/recommend-user/recommend-user.jsx
  packages/p2p/src/components/recommend-user/recommend-user.scss
  packages/p2p/src/components/recommended-by/recommended-by.jsx
  packages/p2p/src/components/star-rating/star-rating.jsx
  packages/p2p/src/components/user-rating-button/user-rating-button.jsx
  packages/p2p/src/components/user-rating-button/user-rating-button.scss
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/order-details-store.js
  packages/p2p/src/stores/order-store.js
  packages/p2p/src/utils/date-time.js
  packages/p2p/src/utils/orders.js
  packages/publisher/README.md
  packages/shared/README.md
  packages/shared/src/utils/helpers/validation-rules.js
Labels: Trader, Core, Shared, Components, P2P, Docs

#6231 Mahdiyeh/fix: UploadComplete test file
  packages/account/src/Components/poi/status/upload-complete/__tests__/upload-complete.spec.js
Labels: Account

#6238 thisyahlen/ mobile drawer glitch
  packages/components/src/components/mobile-drawer/mobile-drawer.scss
Labels: Components

#6239 MaryiaF/fix: Quick Strategy - Size textbox error always displays as …
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.jsx
  packages/bot-web-ui/src/stores/quick-strategy-store.js
Labels: Bot

#6140 farrah/ added push notification upon order completion
  packages/cashier/src/pages/p2p-cashier/__tests__/p2p-cashier.spec.js
  packages/cashier/src/pages/p2p-cashier/p2p-cashier.jsx
  packages/cashier/src/stores/general-store.js
  packages/core/src/App/Components/Elements/NotificationMessage/notification-order.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/notification-store.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/order-store.js
  packages/shared/README.md
Labels: Core, Shared, Components, P2P, Docs

#6243 Amina/onfido_version_set_to_8.1.1
  package-lock.json
  packages/account/package.json
Labels: Account

#6249 Sara / Fixed issue with qs validation
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.jsx
  packages/bot-web-ui/src/stores/quick-strategy-store.js
Labels: Bot

#6254 farrah/61359/rating-popup
  packages/p2p/src/components/advertiser-page/advertiser-page.scss
  packages/p2p/src/components/buy-sell/buy-sell-row.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-name/my-profile-name.scss
  packages/p2p/src/components/order-details/order-details.scss
  packages/p2p/src/components/rating-cell-renderer/rating-cell-renderer.scss
  packages/p2p/src/components/rating-modal/rating-modal.scss
Labels: P2P

#6268 farrah/61359/fixed default recommendation
  packages/p2p/src/components/order-details/order-details.jsx
Labels: P2P

#6178 Vinu/feat: add app launcher component
  packages/appstore/src/components/app-launcher/app-launcher.scss
  packages/appstore/src/components/app-launcher/app-launcher.tsx
  packages/appstore/src/components/app-launcher/index.ts
  packages/appstore/src/components/app-launcher/stories/app-launcher.stories.tsx
Labels: AppStore

#6274 farrah/74372/fixed order notification
  packages/core/src/Stores/notification-store.js
Labels: Core

#6278 farrah/74404/fixed client notifications
  packages/core/src/Stores/notification-store.js
Labels: Core

#6248 Niloofar / Fix: Typescript config issue on shared workspace
  packages/shared/globals.d.ts
  packages/shared/tsconfig.json
Labels: Shared

#6206 Jim/73331/components-workspace-ts-fix
  packages/components/globals.d.ts
  packages/components/tsconfig.json
Labels: Components

#6232 Amina/trackjs: reading tostring() of undefined
  packages/core/src/Stores/rudderstack-store.js
Labels: Core

#5753 thisyahlen/test coverage for cfd-dashboard-container
  packages/cfd/src/Containers/__tests__/cfd-dashboard-container.spec.js
  packages/cfd/src/Containers/cfd-dashboard-container.tsx
Labels: Core, Shared

#5777 thisyahlen/test coverage for compare-accounts-modal
  packages/cfd/src/Containers/__tests__/compare-accounts-modal.spec.js
Labels: Components

#5731 Update node 16.16.0
  .circleci/config.yml
  .eslintrc.js
  .github/workflows/codecov.yml
  .github/workflows/generate_and_push_deriv_api_types.yml
  .github/workflows/push_and_pull_crowdin_translations.yml
  .prettierignore
  README.md
  e2e_tests/README.md
  package-lock.json
  package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/cashier/package.json
  packages/cashier/src/stores/__tests__/account-transfer-store.spec.js
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/indicators/package.json
  packages/p2p/package.json
  packages/p2p/src/components/order-details/__test__/order-details-cancel-modal.spec.js
  packages/publisher/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/translations/package.json
Labels: Trader, Core, Bot, Shared, Components, Translations, P2P, Docs, Account, AppStore

#6269 Hirad/ Removed MFSA from MF cfds
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/core/src/Constants/cfd-text.js
  packages/shared/src/utils/cfd/cfd.js
Labels: Core, Shared

#6285 Shayan/74390/Fix TS Config for P2P
  packages/p2p/globals.d.ts
  packages/p2p/tsconfig.json
Labels: P2P

#5974 Adrienne / Changed styling for Inactive chip and long text is wrapped when overflown
  packages/p2p/src/components/my-ads/ad-status.jsx
  packages/p2p/src/components/my-ads/ad-status.scss
Labels: P2P

#5505 Ameerul /Bug #65052 Inconsistent scrolling behaviour
  packages/cashier/src/containers/cashier/cashier.jsx
  packages/cashier/src/containers/cashier/cashier.scss
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/my-profile/my-profile-form/my-profile-form.scss
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/my-profile/my-profile.scss
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/select-payment-method.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-empty/payment-methods-empty.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-empty/payment-methods-empty.scss
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.scss
  packages/p2p/src/components/order-details/order-details-wrapper.jsx
  packages/p2p/src/components/orders/orders.scss
Labels: Trader, Core, Shared, P2P

#6163 Suisin/suspended message added
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#6156 Aizad / Fix Gap Dtrader Multiplier
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader

#6179 likhith/fix warnings and errors on app startup
  packages/account/src/Duplicated/_common/base/login.js
  packages/account/src/Layout/send-email.jsx
  packages/components/src/components/composite-checkbox/composite-checkbox.jsx
  packages/components/src/components/dropdown/display-text.jsx
  packages/components/src/components/dropdown/dropdown.jsx
  packages/shared/src/utils/date/__tests__/date-time.spec.js
  packages/shared/src/utils/date/date-time.js
Labels: Shared, Components, Account

#6126 Suisin/Updated Sign up Modal Message
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/CitizenshipModal/same-citizenship-modal.jsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
Labels: Core, Components

#6106 Ameerul /Task 71473 update string for selecting payment method
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
Labels: P2P

#6211 yauheni / 73461 extra white space between Choose Country and Next button
  packages/core/src/sass/app/modules/account-signup.scss
Labels: Core

#6108 farrah/ fixed payment method field validations
  packages/p2p/src/components/hooks/index.js
  packages/p2p/src/components/hooks/use-payment-method-validator.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/edit-payment-method-form.jsx
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#6161 Farzin/72980/Migrate `cashier` to `mobx-react-lite`
  packages/cashier/build/webpack.config.js
  packages/cashier/package.json
  packages/cashier/src/containers/routes/routes.jsx
  packages/cashier/src/pages/payment-agent/payment-agent-deposit/payment-agent-deposit.jsx
  packages/cashier/src/stores/connect.js
Labels: Shared

#6327 Add redirect url for p2p in AASA
  packages/core/src/public/.well-known/apple-app-site-association
Labels: Core

#6328 farrah/74829/fixed errors on change of payment method fields
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#6331 Matin / Fix: Issue with real accounts with no currency assigned
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#6329 Matin/Fix: issue on real accounts with no currency
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core, Bot, Account, AppStore

#6334 Niloofar Sadeghi / Account switcher issue
  package-lock.json
  packages/bot-web-ui/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot, Components, P2P
