Repository deriv-com/deriv-app, pull requests merged in 2023-12, with the labels that each got.

#11930 [wallets]thisyahlen/WALL-2821/fix: remove border and adjust padding in add more wallets section to match design
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.scss
Labels: Wallets

#11931 [WALL-2252] Mahdiyeh/fix: options link issue
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
Labels: AppStore

#11941 Sandeep/bot 912/add long description for oscars grind 2
  packages/bot-web-ui/src/components/quick-strategy/descriptions/martingale.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/oscar_grind.ts
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/form-tabs.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/mobile-form-wrapper.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/strategy-description.tsx
  packages/bot-web-ui/src/components/quick-strategy/types.ts
Labels: Bot

#11950 Sandeep/bot 912/add long description for oscars grind 2
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
Labels: Bot

#11934 [wallets]thisyahlen/WALL-2833/fix: title for ctrader success modal
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
Labels: Wallets

#11196 [DTRA] Ahmad/FEQ-853/Feat launch modal
  packages/trader/src/Assets/SvgComponents/launch/ic-chart-launch-dark.svg
  packages/trader/src/Assets/SvgComponents/launch/ic-chart-launch.svg
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal-continue-button.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal-info-dark.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal-info.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal-continue-button.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal-info.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal.scss
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal.tsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader, Core, Components

#11962 [DTRA] Bala/Fix switcher test case
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal.spec.tsx
Labels: Trader

#11598 [DTRA] / Kate / DTRA-503 / Create reusable mocked contract_info for tests
  packages/components/src/components/contract-card/contract-card-items/__tests__/accumulator-card-body.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/__tests__/contract-update-form.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/__tests__/multiplier-card-body.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/__tests__/turbos-card-body.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/__tests__/vanilla-options-card-body.spec.tsx
  packages/shared/src/utils/contract/__tests__/contract.spec.ts
  packages/shared/src/utils/contract/contract-info.ts
  packages/shared/src/utils/contract/index.ts
  packages/shared/src/utils/helpers/__tests__/start-date.ts
  packages/trader/src/App/Components/Elements/ContractAudit/__tests__/contract-audit.spec.tsx
  packages/trader/src/App/Components/Elements/ContractAudit/__tests__/contract-details.spec.tsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/__tests__/position-modal-card.spec.tsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/__tests__/positions-drawer.spec.tsx
  packages/trader/src/App/Components/Elements/TogglePositions/__tests__/toggle-positions-mobile.spec.tsx
  packages/trader/src/Modules/Contract/Components/InfoBox/__tests__/info-box-longcode.spec.tsx
  packages/trader/src/Modules/Contract/Components/InfoBox/__tests__/info-box.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/purchase-button.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/purchase-fieldset.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/__tests__/cancel-deal-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/__tests__/contract-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/__tests__/accumulators-sell-button.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/duration-wrapper.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/barrier.spec.tsx
  packages/trader/src/Modules/Trading/Containers/__tests__/purchase.spec.tsx
Labels: Trader, Shared, Components

#11293 [FEQ] Ameerul / FEQ-872 / Getting console error while adding payment method in P2P
  packages/components/src/components/modal/modal.scss
  packages/components/src/components/modal/modal.tsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal-title/__tests__/buy-sell-modal-title.spec.tsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal-title/buy-sell-modal-title.tsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.tsx
  packages/p2p/src/pages/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/pages/my-profile/payment-methods/payment-methods-list/edit-payment-method-form.jsx
  packages/p2p/src/stores/my-profile-store.js
Labels: Components, P2P

#11717 [P2PS]-fix: issue where checkbox toggling for a long time freezes the app
  packages/p2p/src/components/modal-manager/modals/disclaimer-modal/disclaimer-modal.tsx
Labels: P2P

#11973 [wallets]thisyahlen/WALL-2840/refactor: remove all hardcoded CFD platform and use constants
  packages/wallets/src/components/SentEmailContent/SentEmailContent.tsx
  packages/wallets/src/components/WalletTourGuide/WalletMobileTourGuide.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
  packages/wallets/src/features/cfd/components/CTraderList/CTraderList.tsx
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/ChangePassword.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordInputsScreen.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/MT5ChangePasswordScreens.tsx
  packages/wallets/src/features/cfd/screens/DynamicLeverage/DynamicLeverageScreen.tsx
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
  packages/wallets/src/utils/cfd.ts
Labels: Wallets

#11841 [BOT] fix: Account switcher tooltip getting cut off on mobile devices
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Components/Layout/Header/account-info.jsx
Labels: Core, Bot

#11998 yashim/fix: analytics types
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Translations, P2P

#11993 [BOT]Maryia/BOT-1012/Adapt to changes made in SmartCharts to show chart while building bot on desktop
  packages/bot-web-ui/src/components/chart/chart.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/chart-modal-desktop.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/chart-modal.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/chart-modal/chart-modal-desktop.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/chart-modal/chart-modal.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/chart-modal/chart-modal.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/chart-modal/index.ts
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.ts
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/draggable/draggable.scss
  packages/bot-web-ui/src/components/draggable/draggable.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#12002 Farabi/bot 1148/fix UI bug of qs description
  packages/bot-web-ui/src/components/quick-strategy/descriptions/d_alembert.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/oscar_grind.ts
Labels: Bot

#11945 [DTRA] / Kate / WEBREL-53 / Test coverage: TradeSettingsExtensions + ChartSettings in Trader package
  packages/trader/src/App/Containers/SettingsModal/__tests__/settings-chart.spec.tsx
  packages/trader/src/App/Containers/__tests__/trade-settings-extensions.spec.tsx
Labels: Trader

#10069 Ameerul /P2PS-1559 Migrate date-time.js to Typescript
  packages/p2p/src/components/order-details/__test__/order-details-timer.spec.js
  packages/p2p/src/components/order-details/order-details-timer.jsx
  packages/p2p/src/pages/orders/order-table/order-table-row.jsx
  packages/p2p/src/utils/__tests__/date-time.spec.ts
  packages/p2p/src/utils/date-time.js
  packages/p2p/src/utils/date-time.ts
  packages/p2p/src/utils/orders.js
Labels: P2P

#10047 Ameerul /P2PS-1564 Migrate validations.js file to typescript
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/utils/__tests__/validations.spec.ts
  packages/p2p/src/utils/validations.js
  packages/p2p/src/utils/validations.ts
Labels: P2P

#11781 [Trader's Hub] EU banner is missing for MF only account
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: AppStore

#10813 shahzaib / COJ-147 / hide TIN field for NPJ configured countries
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Components/__tests__/cfd-personal-details-form.spec.js
  packages/cfd/src/Components/cfd-personal-details-form.tsx
  packages/hooks/src/__tests__/useLandingCompanyDetails.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useLandingCompanyDetails.ts
Labels: Components, AppStore

#12010 [dtra]/Ahmad/showing digits on the Matchers/Differs contract type on mobile screen
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader

#10064 [P2P]-refactor: advert util typescript migration and added unit test
  packages/p2p/src/components/modal-manager/modals/ad-create-edit-error-modal/__tests__/ad-create-edit-error-modal.spec.tsx
  packages/p2p/src/components/online-status/__tests__/online-status-label.spec.tsx
  packages/p2p/src/components/online-status/online-status-label.tsx
  packages/p2p/src/pages/my-ads/edit-ad-form.jsx
  packages/p2p/src/pages/my-ads/my-ads.scss
  packages/p2p/src/utils/__tests__/adverts.spec.ts
  packages/p2p/src/utils/adverts.js
  packages/p2p/src/utils/adverts.ts
  packages/p2p/src/utils/height_constants.js
  packages/p2p/src/utils/sendbird.js
Labels: P2P

#10358 [P2PS] Ameerul / P2PS-1644 / Blank Page In Deriv P2P
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/p2p/src/pages/app.jsx
Labels: Core, P2P

#11861 [BOT] Farabi/BOT-909/long description tab for martingale (#11745)
  packages/bot-web-ui/src/components/quick-strategy/__tests__/quick-strategy.spec.tsx
  packages/bot-web-ui/src/components/quick-strategy/config.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/d_alembert.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/index.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/martingale.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/oscar_grind.ts
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/form-tabs.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/mobile-form-wrapper.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/strategy-description.tsx
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/quick-strategy/types.ts
  packages/bot-web-ui/src/public/images/common/static_images/ic-new-user-step-five.png
  packages/bot-web-ui/src/public/images/common/static_images/ic-new-user-step-four.png
  packages/bot-web-ui/src/public/images/common/static_images/ic-new-user-step-seven.png
  packages/bot-web-ui/src/public/images/common/static_images/ic-new-user-step-six.png
  packages/bot-web-ui/src/public/images/common/static_images/ic-new-user-step-three.png
  packages/bot-web-ui/src/public/images/common/static_images/ic-new-user-step-two.png
  packages/core/src/public/images/common/static_images/dalembert.svg
  packages/core/src/public/images/common/static_images/martingale.svg
  packages/core/src/public/images/common/static_images/oscar-grind.svg
Labels: Core, Bot

#11844 [BOT] Rupato/BOT-1108/Improve performance tutorial tab search
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/common/common-tabs/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/common/search-input/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/config/index.ts
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content/__tests__/guide-content.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-tab.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorials-tab-desktop.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorials-tab-mobile.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#11943 [BOT] shafin/BOT-862/fix dont show warning pop-up when leaving bot if bot is not running
  packages/bot-web-ui/src/stores/__tests__/route-prompt-store.spec.tsx
  packages/bot-web-ui/src/stores/route-prompt-dialog-store.js
Labels: Bot

#11649 shontzu/CFDS-1358/jurisdiction-modal-Next-button-padding-inconsistent
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.scss
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
Labels: AppStore

#11953 [BOT] Farabi/bot-968/stop bot modal content test case
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/stop-bot-modal-content.spec.tsx
Labels: Bot

#11865 [CFDs] Hirad/ Added the icon functionality to cTrader
  packages/appstore/src/components/containers/trading-app-card.tsx
Labels: AppStore

#12047 Revert "[dtra]/Ahmad/showing digits on the Matchers/Differs contract type on mobile screen"
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader

#12048 Revert "[DTRA] Bala/Fix switcher test case"
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal.spec.tsx
Labels: Trader

#12053 Revert "[DTRA] Ahmad/FEQ-857/Worldwide launch smartchart2 (#11195)"
  package-lock.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/components/chart/__tests__/chart.spec.tsx
  packages/bot-web-ui/src/components/chart/chart.tsx
  packages/bot-web-ui/src/components/chart/toolbar-widgets.tsx
  packages/bot-web-ui/src/components/chart/v2.ts
  packages/bot-web-ui/src/stores/chart-store.js
  packages/components/src/components/contract-card/result-overlay/result-overlay.scss
  packages/components/src/components/contract-card/result-overlay/result-overlay.tsx
  packages/core/build/config.js
  packages/core/build/constants.js
  packages/core/package.json
  packages/core/src/App/app.jsx
  packages/core/src/Stores/Helpers/chart-markers.js
  packages/core/src/Stores/Helpers/logic.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/contract-store.js
  packages/core/src/Stores/contract-trade-store.js
  packages/core/src/Utils/Hotjar/index.ts
  packages/reports/src/sass/app/modules/smart-chart.scss
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/package.json
  packages/trader/src/Modules/Contract/Containers/contract-replay-widget.tsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/delayed-accu-barriers-marker.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-chart-elements.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-text.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-tooltip.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/delayed-accu-barriers-marker.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/marker.tsx
  packages/trader/src/Modules/SmartChart/Components/all-markers.jsx
  packages/trader/src/Modules/SmartChart/Components/top-widgets.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/Markers/marker.jsx
  packages/trader/src/Modules/SmartChartBeta/Components/toolbar-widgets.jsx
  packages/trader/src/Modules/SmartChartBeta/index.js
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/purchase-fieldset.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.tsx
  packages/trader/src/Modules/Trading/Containers/chart-widgets.tsx
  packages/trader/src/Modules/Trading/Containers/purchase.tsx
  packages/trader/src/Modules/Trading/Containers/smart-chart-switcher.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
  packages/trader/src/sass/app/modules/smart-chart.scss
Labels: Trader, Core, Bot, Components

#12057 Revert "[DTRA] Ahmad/FEQ-853/Feat launch modal (#11196)"
  packages/trader/src/Assets/SvgComponents/launch/ic-chart-launch-dark.svg
  packages/trader/src/Assets/SvgComponents/launch/ic-chart-launch.svg
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal-continue-button.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal-info-dark.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal-info.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal-continue-button.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal-info.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal.scss
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal.tsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader

#11959 [WALL] wojtek/WALL-2837/example component test suite for crypto withdrawal
  .github/workflows/integration-tests.yml
  jest.config.base.js
  jest.config.js
  package.json
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/wallets/component-tests/crypto-payment-redirection.spec.tsx
  packages/wallets/component-tests/menu.spec.tsx
  packages/wallets/component-tests/mocks/mockBalance.ts
  packages/wallets/component-tests/mocks/mockCryptoConfig.ts
  packages/wallets/component-tests/mocks/mockGetAccountTypes.ts
  packages/wallets/component-tests/mocks/mockProposalOpenContract.ts
  packages/wallets/component-tests/mocks/mockWalletsAuthorize.ts
  playwright.config.ts
Labels: Core

#11578 [DTRA] henry/webrel-64/fix: test coverage for smartchart modules components
  packages/trader/src/Modules/Contract/Containers/__tests__/contract-replay-widget.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/__tests__/bottom-widgets.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/__tests__/buy-toast-notification.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/__tests__/control-widgets.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/__tests__/recent-trade-info.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/__tests__/toolbar-widgets.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/__tests__/top-widgets.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/recent-trade-info.tsx
  packages/trader/src/Modules/SmartChart/Components/top-widgets.tsx
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/mobile-widget.spec.tsx
  packages/trader/src/Modules/Trading/Containers/__tests__/chart-widgets.spec.tsx
Labels: Trader

#12021 Shayan/Sergei/TRAH-2198/fix: tradershub page freezes
  packages/core/src/index.tsx
  packages/stores/src/providers/ExchangeRatesProvider.tsx
Labels: Core

#12091 [wallets]thisyahlen/wall-3006/chore: add unit test for usedevice hook
  packages/wallets/src/hooks/__tests__/useDevice.spec.ts
Labels: Wallets

#12103 Revert "[BOT] Rupato/WALL-2263/Logout issue on dbot"
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#12108 [BOT]Maryia/WEBREL-1741/fix: In Firefox , chart tab is not disabled when user has opened the …
  packages/bot-web-ui/src/components/dashboard/dashboard-component/chart-modal/chart-modal.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
Labels: Bot

#11551 [DTRA] Maryia/DTRA-445/feat: new Swipeable notifications for trade statuses
  packages/components/package.json
  packages/components/src/components/swipeable-notification/__tests__/swipeable-notification.spec.tsx
  packages/components/src/components/swipeable-notification/index.ts
  packages/components/src/components/swipeable-notification/swipeable-notification.scss
  packages/components/src/components/swipeable-notification/swipeable-notification.tsx
  packages/components/src/index.ts
  packages/core/src/App/Containers/__tests__/app-notification-messages.spec.tsx
  packages/core/src/App/Containers/__tests__/trade-notifications.spec.tsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/App/Containers/trade-notifications.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/portfolio-store.js
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/reports/src/Components/market-symbol-icon-row.tsx
  packages/reports/src/Helpers/market-underlying.ts
  packages/shared/src/styles/constants.scss
  packages/shared/src/utils/date/__tests__/date-time.spec.ts
  packages/shared/src/utils/date/date-time.ts
  packages/shared/src/utils/helpers/market-underlying.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/Modules/SmartChart/Components/__tests__/buy-toast-notification.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/__tests__/top-widgets.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/buy-toast-notification.tsx
  packages/trader/src/Modules/SmartChart/Components/top-widgets.tsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
  packages/trader/src/Utils/Helpers/market-underlying.ts
Labels: Trader, Core, Shared, Components

#11733 [DTRA] henry/webrel-26/test-coverage-trading-helper-files
  packages/stores/src/mockStore.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/allow-equals.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/contract-type.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/end-time.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/limit-orders.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/logic.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/multiplier.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/preview-proposal.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/process.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/proposal.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/start-date.spec.ts
Labels: Trader

#12114 [wallets]thisyahlen/WALL-3011/chore: add unit test to WalletListingRoute
  packages/wallets/src/routes/WalletsListingRoute/__tests__/WalletsListingRoute.spec.tsx
Labels: Wallets

#12115 [wallets]thisyahlen/WALL-3010/chore: unit test for CashierModalRoute
  packages/wallets/src/routes/CashierModalRoute/__tests__/CashierModalRoute.spec.tsx
Labels: Wallets

#11866 [WALL] Arshad wall-2719 wallets cfd compare accounts
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useAuthentication.ts
  packages/api/src/hooks/useCFDCompareAccounts.tsx
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/shared/src/utils/routes/routes.ts
  packages/wallets/src/components/Base/Tooltip/Tooltip.scss
  packages/wallets/src/components/Base/Tooltip/Tooltip.tsx
  packages/wallets/src/components/Base/WalletText/WalletText.scss
  packages/wallets/src/features/cfd/CFDPlatformsList.scss
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
  packages/wallets/src/features/cfd/components/CompareAccountsCarousel/CompareAccountsCarousel.scss
  packages/wallets/src/features/cfd/components/CompareAccountsCarousel/CompareAccountsCarousel.tsx
  packages/wallets/src/features/cfd/components/CompareAccountsCarousel/CompareAccountsCarouselButton.scss
  packages/wallets/src/features/cfd/components/CompareAccountsCarousel/CompareAccountsCarouselButton.tsx
  packages/wallets/src/features/cfd/components/CompareAccountsCarousel/index.ts
  packages/wallets/src/features/cfd/components/index.ts
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/CTraderSuccessModal.tsx
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/index.ts
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsButton.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsButton.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsCard.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsCard.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsDescription.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsDescription.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsHeader.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsHeader.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsPlatformLabel.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsPlatformLabel.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsScreen.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsScreen.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsTitleIcon.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsTitleIcon.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsIconWithLabel.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsIconWithLabel.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsLabelHighlighted.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsLabelHighlighted.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/compareAccountsConfig.ts
  packages/wallets/src/features/cfd/screens/CompareAccounts/constants.ts
  packages/wallets/src/features/cfd/screens/CompareAccounts/index.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/tradingPlatformIcons.tsx
  packages/wallets/src/public/images/ic-info-outline.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-baskets.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-commodities.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-cryptocurrencies.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-derived-fx.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-etf.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-forex.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-stock-indices.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-stocks.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-synthetics.svg
  packages/wallets/src/public/images/tradingInstruments/index.tsx
  packages/wallets/src/routes/CompareAccountsRoute/CompareAccountsRoute.scss
  packages/wallets/src/routes/CompareAccountsRoute/CompareAccountsRoute.tsx
  packages/wallets/src/routes/CompareAccountsRoute/index.ts
  packages/wallets/src/routes/Router.tsx
  packages/wallets/webpack.config.js
Labels: Core, Shared

#12123 [wallets]thisyahlen/WALL-2932/chore: add unit test for addedctraderaccountlist
  packages/wallets/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/__tests__/AddedCTraderAccountsList.spec.tsx
Labels: Wallets

#11933 [Refactoring] shontzu/cfds-1485/replace-usestores-with-hooks-in-cfd-packages
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useIsEuRegion.ts
  packages/api/src/hooks/useMT5Deposit.ts
  packages/api/src/hooks/useOtherCFDPlatformsDeposit.ts
  packages/cfd/src/features/Containers/__tests__/top-up-demo-modal.spec.js
  packages/cfd/src/features/Containers/top-up-demo-modal.tsx
Labels: Account

#12118 Rupato/WEBREL-1739/fix for run and video dialog
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-tab.tsx
Labels: Bot

#12105 fix: leaving already pop up not shown at all issue
  packages/bot-web-ui/src/stores/route-prompt-dialog-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#11041 shontzu/CFDS-605/When-refresh-the-page-incorrect-Total-Asset-is-displayed-for-few-second
  packages/appstore/src/components/main-title-bar/__tests__/index.spec.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
Labels: AppStore

#11656 shontzu/CFDS-1322/space-in-synthetic-jurisdiction-modal
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
Labels: AppStore

#12131 [wallets]thisyahlen/WALL-2919/chore: add unit test for CommonMistakesExamples
  packages/wallets/src/features/accounts/screens/CommonMistakesExamples/__tests__/CommonMistakesExamples.spec.tsx
Labels: Wallets

#10794 [COJ] Evgeniy/coj-152/Add proof of income to account verification
  packages/account/src/Components/file-uploader-container/__tests__/file-uploader-container.spec.tsx
  packages/account/src/Components/file-uploader-container/__tests__/file-uploader.spec.tsx
  packages/account/src/Components/file-uploader-container/file-uploader-container.tsx
  packages/account/src/Components/file-uploader-container/file-uploader.tsx
  packages/account/src/Components/file-uploader-container/files-descriptions.tsx
  packages/account/src/Components/poa/common-mistakes/common-mistake-examples.scss
  packages/account/src/Components/poinc/statuses/poinc-failed/__tests__/failed.spec.tsx
  packages/account/src/Components/poinc/statuses/poinc-failed/failed.tsx
  packages/account/src/Components/poinc/statuses/poinc-failed/index.ts
  packages/account/src/Components/poinc/statuses/poinc-limited/__tests__/limited.spec.tsx
  packages/account/src/Components/poinc/statuses/poinc-limited/index.ts
  packages/account/src/Components/poinc/statuses/poinc-limited/limited.tsx
  packages/account/src/Components/poinc/statuses/poinc-received/__tests__/received.spec.tsx
  packages/account/src/Components/poinc/statuses/poinc-received/index.ts
  packages/account/src/Components/poinc/statuses/poinc-received/received.tsx
  packages/account/src/Components/poinc/statuses/poinc-verified/__tests__/verified.spec.tsx
  packages/account/src/Components/poinc/statuses/poinc-verified/index.ts
  packages/account/src/Components/poinc/statuses/poinc-verified/verified.tsx
  packages/account/src/Constants/file-uploader.tsx
  packages/account/src/Constants/routes-config.js
  packages/account/src/Containers/Account/account.tsx
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Sections/Verification/ProofOfIncome/__tests__/proof-of-income.spec.tsx
  packages/account/src/Sections/Verification/ProofOfIncome/index.ts
  packages/account/src/Sections/Verification/ProofOfIncome/proof-of-income-container.tsx
  packages/account/src/Sections/Verification/ProofOfIncome/proof-of-income-form.tsx
  packages/account/src/Sections/Verification/ProofOfIncome/proof-of-income-utils.ts
  packages/account/src/Sections/Verification/ProofOfIncome/proof-of-income.tsx
  packages/account/src/Sections/index.js
  packages/account/src/Styles/account.scss
  packages/account/src/Types/common.type.ts
  packages/components/src/components/icon/common/ic-poinc-failed.svg
  packages/components/src/components/icon/common/ic-poinc-limited.svg
  packages/components/src/components/icon/common/ic-poinc-received.svg
  packages/components/src/components/icon/common/ic-poinc-verified.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/sass/app/_common/components/account-common.scss
  packages/hooks/src/useFileUploader.ts
  packages/shared/src/utils/routes/routes.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Components, Account

#12136 [wallets]thisyahlen/WALL-3038/fix: password validation and button alignment
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.scss
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.scss
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
Labels: Wallets

#11820 [WALL] Matin/2785/Reality check modal removal
  packages/bot-web-ui/src/components/self-exclusion/self-exclusion.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/RealityCheckModal/brief-modal.jsx
  packages/core/src/App/Containers/RealityCheckModal/index.js
  packages/core/src/App/Containers/RealityCheckModal/reality-check-modal.jsx
  packages/core/src/App/Containers/RealityCheckModal/summary-modal.jsx
  packages/core/src/App/initStore.js
  packages/core/src/Services/outdated-browser.js
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/socket_base.js
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/modules/reality-check.scss
  packages/reports/src/Containers/reports.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Bot

#12093 [FEQ] Moved useP2PAdvertList from hooks to api package
  packages/api/src/__tests__/useP2PAdvertList.spec.tsx
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/p2p/index.ts
  packages/api/src/hooks/p2p/useP2PAdvertList.ts
Labels: P2P

#10848 [DTRA] / Kate / DTRA-420 / [Package 7] Tech debt: TS migration + Refactoring
  packages/components/src/components/numpad/numpad.tsx
  packages/components/src/components/numpad/step-input.tsx
  packages/components/src/components/tick-picker/tick-picker.tsx
  packages/shared/src/utils/contract/contract-types.ts
  packages/shared/src/utils/helpers/details.ts
  packages/shared/src/utils/helpers/logic.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.tsx
  packages/trader/src/App/Components/Elements/chart-loader.tsx
  packages/trader/src/App/app.tsx
  packages/trader/src/App/init-store.ts
  packages/trader/src/Documents/STYLE-GUIDE.MD
  packages/trader/src/Modules/Contract/Components/Digits/digits.tsx
  packages/trader/src/Modules/Contract/Containers/contract-replay-widget.tsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.tsx
  packages/trader/src/Modules/Contract/Containers/contract.tsx
  packages/trader/src/Modules/Contract/Containers/replay-chart.tsx
  packages/trader/src/Modules/Contract/index.js
  packages/trader/src/Modules/Contract/index.ts
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-chart-elements.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-chart-elements.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-tooltip.tsx
  packages/trader/src/Modules/SmartChart/Components/toolbar-widgets.tsx
  packages/trader/src/Modules/SmartChart/Components/top-widgets.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/toolbar-widgets.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/duration-range-text.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/expiry-text.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/advanced-duration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/advanced-duration.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-range-text.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-toggle.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-toggle.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-wrapper.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/expiry-text.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/index.js
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/index.ts
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/simple-duration.tsx
  packages/trader/src/Modules/Trading/Containers/chart-widgets.tsx
  packages/trader/src/Modules/Trading/Containers/smart-chart-switcher.jsx
  packages/trader/src/Modules/Trading/Containers/smart-chart-switcher.tsx
  packages/trader/src/Modules/Trading/Containers/test.jsx
  packages/trader/src/Modules/Trading/Containers/trade-chart.tsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.tsx
  packages/trader/src/Modules/Trading/Containers/trade-params.tsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Modules/Trading/Containers/trade.tsx
  packages/trader/src/Modules/Trading/index.js
  packages/trader/src/Modules/Trading/index.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
  packages/trader/src/Types/common-prop.type.ts
Labels: Trader, Shared, Components, Docs

#12107 [DTRA] / Kate / DTRA-558 / Marker console error
  packages/core/src/Components/markers/marker-spot-label.jsx
Labels: Core

#12078 [DTRA] henry/dtra-535/hotjar-events-for-trade-types
  packages/core/src/Utils/Hotjar/index.ts
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core

#11636 [DTRA] / Kate / WEBREL-75 / Test coverage + Refactoring: Multiplier trade params in Trader package
  packages/components/src/components/button/button.scss
  packages/components/src/components/modal/modal.scss
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/__tests__/cancel-deal.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/__tests__/expiration-modal.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/__tests__/expiration.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/__tests__/info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/__tests__/multiplier.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/__tests__/stop-loss.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/__tests__/take-profit.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/__tests__/widgets.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/expiration-modal.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/expiration.tsx
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader, Components

#11365 [DTRA] / Kate / WEBREL-37 / Test coverage: Components/Elements/ContractDrawer files in Trader package
  packages/trader/src/App/Components/Elements/ContractDrawer/__tests__/contract-drawer-card.spec.tsx
  packages/trader/src/App/Components/Elements/ContractDrawer/__tests__/contract-drawer.spec.tsx
  packages/trader/src/App/Components/Elements/ContractDrawer/__tests__/market-closed-contract-overlay.spec.tsx
  packages/trader/src/App/Components/Elements/ContractDrawer/__tests__/swipeable-components.spec.tsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.tsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/__tests__/position-modal-card.spec.tsx
Labels: Trader

#11742 [CFDS] [Trader's Hub] Update API limit error message
  packages/components/src/components/error-modal/__tests__/error-modal-content.spec.tsx
  packages/components/src/components/error-modal/__tests__/error-modal.spec.tsx
  packages/components/src/components/error-modal/error-modal-content.tsx
  packages/components/src/components/error-modal/error-modal.scss
  packages/components/src/components/error-modal/error-modal.tsx
  packages/components/src/components/error-modal/index.ts
  packages/components/src/components/page-error-container/page-error-container.tsx
  packages/components/src/index.ts
Labels: Components

#11331 [WALL] shahzaib / WALL-506 / fix: real account signup wizard index being reset on selected currency submission
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
  packages/core/src/App/Containers/Layout/header/traders-hub-header.tsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#11674 [P2PS]-fix: issue where reason was not listed for fixed-to-float or viceversa
  packages/p2p/src/pages/my-ads/my-ads-row-renderer.jsx
Labels: P2P

#11505 [COJ] 🪜 shaheer / FEQ-869 / refactors, migrates and resolves TrackJS Can't perform a React state update issue
  packages/account/src/Components/currency-selector/currency-selector.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/components/src/components/mobile-drawer/mobile-drawer-footer.tsx
  packages/core/src/App/Components/Elements/LiveChat/index.js
  packages/core/src/App/Components/Elements/LiveChat/index.ts
  packages/core/src/App/Components/Elements/LiveChat/live-chat-initializer.js
  packages/core/src/App/Components/Elements/LiveChat/live-chat.jsx
  packages/core/src/App/Components/Elements/LiveChat/live-chat.tsx
  packages/core/src/App/Components/Elements/LiveChat/use-livechat.ts
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/__tests__/default-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/dtrader-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/header.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/dashboard-header.jsx
  packages/core/src/App/Containers/Layout/header/dashboard-platform-header.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/Layout/header/default-header.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.tsx
  packages/core/src/App/Containers/Layout/header/header-account-actions.tsx
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-header.tsx
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/change-account-currency.jsx
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/layout/dashboard-header.scss
  packages/core/src/sass/app/_common/layout/dashboard-platform-header.scss
  packages/shared/src/utils/currency/currency.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Components, Account, AppStore

#11254 [P2PS] Ameerul / P2PS-1833 / Enhancement for Mandatory POT
  packages/p2p/src/utils/file-uploader.js
Labels: P2P

#11167 Arshad/cfds 732/mt5 password reset modal redirection fix
  packages/account/src/Components/reset-trading-password-modal/reset-trading-password-modal.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
Labels: Core, Account

#11683 [COJ]/likhith/[COJ-223]/fix: redirection issue in multiplier account
  packages/account/src/Configs/__test__/get-status-badge-config.spec.tsx
  packages/account/src/Configs/get-status-badge-config.tsx
  packages/account/src/Types/common.type.ts
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-switcher.tsx
  packages/appstore/src/components/wallet-header/wallet-header-balance.tsx
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/core/src/App/Containers/CurrencySelectionModal/curreny-selection-modal.tsx
Labels: Core, Account, AppStore

#12191 [COJ]/Amina/fix: scrolling in address details form
  packages/account/src/Components/address-details/address-details.tsx
  packages/core/src/sass/details-form.scss
Labels: Core, Account

#12196 [COJ] Shaheer / WEBREL-1758 / Regression styling issue
  packages/core/src/App/Containers/VerificationModal/verification-modal.scss
  packages/core/src/sass/app/_common/components/account-common.scss
Labels: Core

#12202 [DTRA] henry/dtra-569/fix: change to clicked_item.value for current contract type
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.tsx
Labels: Trader

#11877 [DTRA] / Kate / DTRA-519 / Duration Range updates
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/duration-range-text.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/duration-wrapper.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/advanced-duration.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/simple-duration.tsx
  packages/trader/src/Modules/Trading/Containers/__tests__/trade-params-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.tsx
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader

#12152 [DTRA] / Kate / WEBREL-59 / Test coverage: digits.tsx in Trader package
  packages/trader/src/Modules/Contract/Components/Digits/__tests__/digits.spec.tsx
Labels: Trader

#12184 Akmal / rename test case file name
  packages/trader/src/App/Components/Elements/PositionsDrawer/__tests__/positions-modal-card.spec.tsx
Labels: Trader

#12148 [FEQ] Shayan/FEQ-994/implement useCreateAdvertiser hook
  packages/api/src/hooks/p2p/useCreateAdvertiser.ts
Labels: Core

#12209 Akmal / fix: jest error in digits test file
  packages/trader/src/Modules/Contract/Components/Digits/__tests__/digits.spec.tsx
Labels: Trader

#12215 [COJ] WEBREL-1757 / fix: condition to render the modal in real account creation
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#12212 [DTRA] henry/webrel-1760/fix: manipulate call/put to higher/lower or rise/fall accordingly
  packages/shared/src/utils/contract/contract.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core, Shared

#12155 [COJ] Evgeniy/COJ-1024/fix track.js error Object.hasOwn is not a function
  packages/account/src/Components/forms/scroll-to-field-with-error.tsx
Labels: Account

#12153 [DTRA] / Kate / DTRA-565 / Console error in responsive [Vanilla]
  packages/trader/src/App/Components/Elements/PositionsDrawer/__tests__/positions-modal-card.spec.tsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.tsx
Labels: Trader

#12156 [DTRA] / Kate / DTRA-566 / Console error while switching between DTrader and TraderHub
  packages/core/src/App/Components/Layout/Header/__tests__/toggle-menu-drawer.spec.jsx
Labels: Core

#11951 [DTRA] henry/webrel-46/chore: add test cases for trading time picker
  packages/trader/src/App/Components/Form/TimePicker/__tests__/dialog.spec.tsx
  packages/trader/src/App/Components/Form/TimePicker/__tests__/time-picker.spec.tsx
  packages/trader/src/App/Components/Form/TimePicker/time-picker.tsx
  packages/trader/src/Modules/Trading/Components/Form/DatePicker/__tests__/trading-date-picker.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TimePicker/__tests__/trading-time-picker.spec.tsx
Labels: Trader

#12067 [BOT] Rupato/BOT-1137/fix learn more button
  packages/bot-skeleton/src/scratch/hooks/css.js
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
Labels: Bot

#12040 [BOT] shafin/BOT-869/fix google drive showing connected even on abort action
  packages/bot-web-ui/src/stores/google-drive-store.js
Labels: Bot

#12278 Revert "[BOT] shafin/BOT-869/fix google drive showing connected even on abort action"
  packages/bot-web-ui/src/stores/google-drive-store.js
Labels: Bot

#12216 Suisin/chore: update scss to not use max height for jurisdiction modal
  packages/cfd/src/sass/cfd.scss
Labels: Components

#11868 [P2PS] Ameerul /P2PS-2005 Refactor AdErrorTooltipModal
  packages/p2p/src/components/modal-manager/modals/ad-error-tooltip-modal/__tests__/ad-error-tooltip-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/ad-error-tooltip-modal/ad-error-tooltip-modal.tsx
  packages/p2p/src/components/modal-manager/modals/ad-error-tooltip-modal/ad-rate-error/ad-rate-error.tsx
  packages/p2p/src/components/modal-manager/modals/ad-error-tooltip-modal/ad-rate-error/index.ts
  packages/p2p/src/components/modal-manager/modals/ad-error-tooltip-modal/index.ts
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/constants/api-error-codes.ts
  packages/p2p/src/pages/my-ads/create-ad-form.jsx
  packages/p2p/src/pages/my-ads/my-ads-row-renderer.jsx
Labels: P2P

#12030 [P2PS] Ameerul / P2PS-969 / Improve validation message for amount fields (FE)
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#10115 [P2P]-refactor: order util refactor
  packages/p2p/src/constants/order-list.js
  packages/p2p/src/utils/__tests__/orders.spec.ts
  packages/p2p/src/utils/orders.js
  packages/p2p/src/utils/orders.ts
Labels: P2P

#12208 [TRAH] Thisyahlen/traders hub package
  .github/workflows/test.yml
  package-lock.json
  package.json
  packages/core/build/config.js
  packages/core/package.json
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-home-button.tsx
  packages/shared/src/utils/routes/routes.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
  packages/tradershub/.eslintignore
  packages/tradershub/.eslintrc.js
  packages/tradershub/babel.config.json
  packages/tradershub/declarations.d.ts
  packages/tradershub/jest.config.js
  packages/tradershub/package-lock.json
  packages/tradershub/package.json
  packages/tradershub/postcss.config.ts
  packages/tradershub/src/App.tsx
  packages/tradershub/src/AppContent.scss
  packages/tradershub/src/AppContent.tsx
  packages/tradershub/src/index.scss
  packages/tradershub/src/index.tsx
  packages/tradershub/src/routes/Router.tsx
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
  packages/tradershub/src/routes/TradersHubRoute/index.ts
  packages/tradershub/src/routes/index.ts
  packages/tradershub/src/styles/devices.scss
  packages/tradershub/src/styles/fonts.scss
  packages/tradershub/src/styles/index.js
  packages/tradershub/src/utils/loader/index.ts
  packages/tradershub/src/utils/loader/lazy-load.tsx
  packages/tradershub/src/utils/loader/module-loader.tsx
  packages/tradershub/tailwind.config.ts
  packages/tradershub/tsconfig.json
  packages/tradershub/webpack.config.js
  postcss.config.js
  tailwind.config.ts
Labels: Core, Shared, AppStore, Trader's Hub

#12259 [COJ] shahzaib / COJ-414 / verify button alignment in POI accounts screen
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/core/src/sass/app/_common/components/account-common.scss
Labels: Core, Account

#12194 [WALL] george / WALL-3084 / unexpected account switching after successful transfer/withdraw
  packages/api/src/APIProvider.tsx
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/routes/routes.ts
Labels: Core, Shared

#12281 [COJ]/likhith/KYC-1523/display appropriate POI screen for Highrisk user
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
Labels: Account

#12133 [BOT] Sandeep/BOT-1154/refactor: Replace isMobile with is_mobile from the ui store
  packages/bot-web-ui/src/components/blockly-loading/__tests__/blockly-loading.spec.tsx
  packages/bot-web-ui/src/components/bot-snackbar/__tests__/bot-snackbar.spec.tsx
  packages/bot-web-ui/src/components/chart/__tests__/toolbar-widgets.spec.tsx
  packages/bot-web-ui/src/components/chart/chart.tsx
  packages/bot-web-ui/src/components/chart/toolbar-widgets.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar-icon.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/chart-modal-desktop.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/__tests__/local-footer.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/__tests__/recent-footer.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local-footer.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/save-modal.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/__tests__/tour-content.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/bot-builder-tour/bot-builder-tour-desktop.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/bot-builder-tour/bot-builder-tour-mobile.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/bot-builder-tour/index.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/common/accordion.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/common/tour-end-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/common/tour-start-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/onboarding-tour/index.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/onboarding-tour/onboarding-tour-desktop.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/onboarding-tour/onboarding-tour-mobile.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/tour-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/config/index.ts
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content/index.tsx
  packages/bot-web-ui/src/components/draggable/__tests__/draggable.spec.tsx
  packages/bot-web-ui/src/components/journal/journal.tsx
  packages/bot-web-ui/src/components/load-modal/__tests__/local-footer.spec.tsx
  packages/bot-web-ui/src/components/load-modal/__tests__/workspace-control.spec.tsx
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/components/load-modal/local-footer.tsx
  packages/bot-web-ui/src/components/load-modal/local.tsx
  packages/bot-web-ui/src/components/self-exclusion/self-exclusion.jsx
  packages/bot-web-ui/src/components/summary/__tests__/summary.spec.tsx
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/components/summary/summary.tsx
  packages/bot-web-ui/src/components/transaction-details/__tests__/transaction-details-desktop.spec.tsx
  packages/bot-web-ui/src/components/transaction-details/__tests__/transaction-details-mobile.spec.tsx
  packages/bot-web-ui/src/components/transactions/transactions.jsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/toolbox-store.js
Labels: Bot

#12065 [BOT] Farabi/bot-1131/add-long-description-for-martingale-in-tutorials
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/__tests__/tutorial-tab-desktop.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/__tests__/tutorial-tab-mobile.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/common/search-input/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/config/index.ts
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content/__tests__/faq-content.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content/__tests__/guide-content.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/quick-strategy-content/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/quick-strategy-content/quick-strategy-cards.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/quick-strategy-content/quick-strategy-guides-details.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/quick-strategy-content/quick-strategy-guides.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-tab.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorials-tab-desktop.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorials-tab-mobile.tsx
  packages/bot-web-ui/src/components/quick-strategy/config.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/index.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/oscars_grind.ts
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/strategy-description.tsx
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.scss
Labels: Bot

#12305 thisyahlen/chore: add api provider to tradershub
  packages/core/build/constants.js
  packages/tradershub/src/App.tsx
  packages/tradershub/tsconfig.json
  packages/tradershub/webpack.config.js
  packages/wallets/package-lock.json
Labels: Core, Trader's Hub

#12310 [BOT] Maryia/BOT-970/test: google-drive.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/__tests__/google-drive.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/google-drive.tsx
Labels: Bot

#11344 [FEQ] chore: reduce airbnb linting overrides
  docs/JavaScript/README.md
Labels: Docs

#12322 [BOT] Farabi/bot-969/test case for info panel
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/info-panel.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/info-panel.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/__tests__/google-drive.spec.tsx
Labels: Bot

#12328 [trah]thisyahlen/chore: add components to tradershub package
  packages/tradershub/src/App.tsx
  packages/tradershub/src/components/ModalProvider/ModalProvider.tsx
  packages/tradershub/src/components/ModalProvider/index.ts
  packages/tradershub/src/components/ModalStepWrapper/ModalStepWrapper.scss
  packages/tradershub/src/components/ModalStepWrapper/ModalStepWrapper.tsx
  packages/tradershub/src/components/ModalStepWrapper/index.ts
  packages/tradershub/src/components/ModalWrapper/ModalWrapper.scss
  packages/tradershub/src/components/ModalWrapper/ModalWrapper.tsx
  packages/tradershub/src/components/ModalWrapper/index.tsx
  packages/tradershub/src/components/TradingAccountCard/TradingAccountCard.scss
  packages/tradershub/src/components/TradingAccountCard/TradingAccountCard.tsx
  packages/tradershub/src/components/TradingAccountCard/index.ts
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/constants/constants.tsx
  packages/tradershub/src/helpers/urls.ts
  packages/tradershub/src/public/images/ic-appstore-binary-bot.svg
  packages/tradershub/src/public/images/ic-appstore-deriv-bot.svg
  packages/tradershub/src/public/images/ic-appstore-deriv-go.svg
  packages/tradershub/src/public/images/ic-appstore-deriv-trader.svg
  packages/tradershub/src/public/images/ic-appstore-smart-trader.svg
  packages/tradershub/src/public/images/ic-close-dark.svg
  packages/tradershub/src/types.ts
Labels: Trader's Hub

#12077 [Dtra]/Ahmad/Flutter Charts PR
  package-lock.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/components/chart/__tests__/chart.spec.tsx
  packages/bot-web-ui/src/components/chart/chart.tsx
  packages/bot-web-ui/src/components/chart/toolbar-widgets.tsx
  packages/bot-web-ui/src/components/chart/v2.ts
  packages/bot-web-ui/src/stores/chart-store.js
  packages/components/src/components/contract-card/result-overlay/result-overlay.scss
  packages/components/src/components/contract-card/result-overlay/result-overlay.tsx
  packages/core/build/config.js
  packages/core/build/constants.js
  packages/core/package.json
  packages/core/src/App/app.jsx
  packages/core/src/Stores/Helpers/chart-markers.js
  packages/core/src/Stores/Helpers/logic.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/contract-store.js
  packages/core/src/Stores/contract-trade-store.js
  packages/core/src/Utils/Hotjar/index.ts
  packages/reports/src/sass/app/modules/smart-chart.scss
  packages/shared/src/utils/brand/brand.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/package.json
  packages/trader/src/Assets/SvgComponents/launch/ic-chart-launch-dark.svg
  packages/trader/src/Assets/SvgComponents/launch/ic-chart-launch.svg
  packages/trader/src/Modules/Contract/Containers/contract-replay-widget.tsx
  packages/trader/src/Modules/Contract/Containers/replay-chart.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/delayed-accu-barriers-marker.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-chart-elements.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-text.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-tooltip.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/delayed-accu-barriers-marker.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/marker.tsx
  packages/trader/src/Modules/SmartChart/Components/all-markers.jsx
  packages/trader/src/Modules/SmartChart/Components/recent-trade-info.tsx
  packages/trader/src/Modules/SmartChart/Components/top-widgets.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal-continue-button.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal-info-dark.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal-info.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal-continue-button.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal-info.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal.scss
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/Markers/marker.jsx
  packages/trader/src/Modules/SmartChartBeta/Components/toolbar-widgets.tsx
  packages/trader/src/Modules/SmartChartBeta/index.js
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/purchase-fieldset.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.tsx
  packages/trader/src/Modules/Trading/Containers/chart-widgets.tsx
  packages/trader/src/Modules/Trading/Containers/purchase.tsx
  packages/trader/src/Modules/Trading/Containers/smart-chart-switcher.tsx
  packages/trader/src/Modules/Trading/Containers/trade-chart.tsx
  packages/trader/src/Modules/Trading/Containers/trade.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/smart-chart.scss
Labels: Trader, Core, Bot, Shared, Components

#12347 thisyahlen/fix: rename type hook
  packages/tradershub/src/types.ts
Labels: Trader's Hub

#12345 [trah]chore: add get more accounts and account type modal
  packages/tradershub/declarations.d.ts
  packages/tradershub/src/App.tsx
  packages/tradershub/src/components/ModalProvider/ModalProvider.tsx
  packages/tradershub/src/components/ModalWrapper/ModalWrapper.tsx
  packages/tradershub/src/components/TradingAccountCard/TradingAccountCard.tsx
  packages/tradershub/src/features/cfd/constants.tsx
  packages/tradershub/src/features/cfd/modals/MT5AccountTypeModal/MT5AccountTypeModal.tsx
  packages/tradershub/src/features/cfd/modals/MT5AccountTypeModal/index.ts
  packages/tradershub/src/features/cfd/modals/index.ts
  packages/tradershub/src/features/cfd/screens/GetMoreMT5Accounts/GetMoreMT5Accounts.tsx
  packages/tradershub/src/features/cfd/screens/GetMoreMT5Accounts/index.ts
  packages/tradershub/src/features/cfd/screens/MT5AccountType/MT5AccountType.tsx
  packages/tradershub/src/features/cfd/screens/MT5AccountType/index.ts
  packages/tradershub/src/features/cfd/screens/MT5AccountTypeCard/MT5AccountTypeCard.tsx
  packages/tradershub/src/features/cfd/screens/MT5AccountTypeCard/index.ts
  packages/tradershub/src/features/cfd/screens/index.ts
  packages/tradershub/src/public/images/add-icon.svg
  packages/tradershub/src/public/images/cfd/ctrader.svg
  packages/tradershub/src/public/images/cfd/derivx.svg
  packages/tradershub/src/public/images/cfd/mt5-derived.svg
  packages/tradershub/src/public/images/cfd/mt5-financial.svg
  packages/tradershub/src/public/images/cfd/mt5-swap-free.svg
  packages/tradershub/src/routes/Router.tsx
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
  packages/tradershub/src/types.ts
Labels: Trader's Hub

#10093 Ameerul /P2PS-1560 Migrate format-value.js file to typescript
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/utils/__tests__/format-value.spec.ts
  packages/p2p/src/utils/format-value.js
  packages/p2p/src/utils/format-value.ts
Labels: P2P

#10107 Ameerul /P2PS-1562 Migrate server-ts.js fiile to typescript
  packages/p2p/src/components/order-details/__test__/order-details-timer.spec.js
  packages/p2p/src/components/order-details/order-details-timer.jsx
  packages/p2p/src/pages/app.jsx
  packages/p2p/src/pages/orders/order-table/order-table-row.jsx
  packages/p2p/src/stores/floating-rate-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/utils/__tests__/server_time.spec.ts
  packages/p2p/src/utils/server-time.js
  packages/p2p/src/utils/server_time.ts
Labels: P2P

#12261 [BOT] Farabi/bot-999/improve behaviour for qs modal input
  packages/bot-web-ui/src/components/quick-strategy/descriptions/d_alembert.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/oscars_grind.ts
  packages/bot-web-ui/src/components/quick-strategy/form.tsx
  packages/bot-web-ui/src/components/quick-strategy/inputs/qs-input.tsx
  packages/core/src/public/images/common/static_images/oscar-grind.svg
  packages/core/src/public/images/common/static_images/oscars_grind.png
Labels: Core, Bot

#12340 [COJ]/evgeniy/coj-423/fix handling unusual IDV errors
  packages/shared/src/utils/helpers/format-response.ts
Labels: Shared

#12343 [BOT] Maryia/test: recent component from load-modal folder
  packages/bot-web-ui/src/components/load-modal/__tests__/recent.spec.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#12268 [DTRA] henry/webrel-55/fix: add test cases and add history as dev dependency
  packages/trader/package.json
  packages/trader/src/App/Containers/__tests__/trade-footer-extensions.spec.tsx
Labels: Trader

#12355 [DTRA] henry/webrel-54/fix: test coverage for portfolio component in the header
  packages/trader/src/App/Containers/__tests__/populate-header.spec.tsx
  packages/trader/src/App/Containers/__tests__/trade-header-extensions.spec.tsx
Labels: Trader

#12159 [DTRA] Maryia/DTRA-555/fix: show 'See open markets' button for closed market if has no Synthetics
  packages/trader/src/App/Components/Elements/__tests__/market-countdown-timer.spec.tsx
  packages/trader/src/App/Components/Elements/market-countdown-timer.tsx
  packages/trader/src/App/Components/Elements/market-is-closed-overlay.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader

#12370 [TRAH] Aizad/updated @deriv/quill-design and install class-variance-authority
  package-lock.json
  packages/tradershub/package.json
Labels: Trader's Hub

#12342 [BOT] Farabi/bot-971/test-case-for-local-component
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/__tests__/local.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
Labels: Bot

#12393 thisyahlen/TRAH-2303/chore: add breakpointprovider for device flags
  packages/tradershub/src/App.tsx
Labels: Trader's Hub

#12367 [TRAH] shontzu/TRAH-2292/Move-ctrader-components-to-tradershub-package
  packages/tradershub/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.tsx
  packages/tradershub/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/index.ts
  packages/tradershub/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
  packages/tradershub/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/index.ts
  packages/tradershub/src/features/cfd/flows/CTrader/index.ts
Labels: Trader's Hub

#12382 refactor: dxtrade trading accounts card
  packages/tradershub/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
  packages/tradershub/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/index.ts
  packages/tradershub/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/tradershub/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/index.ts
  packages/tradershub/src/features/cfd/flows/OtherCFDs/Dxtrade/index.ts
  packages/tradershub/src/features/cfd/flows/OtherCFDs/index.ts
Labels: Trader's Hub

#11337 [COJ]Likhith/[WALL]-2362/manage occupation field drop down
  packages/account/src/Components/financial-details/__tests__/financial-details.spec.tsx
  packages/account/src/Components/financial-details/financial-details-partials.tsx
  packages/account/src/Components/financial-details/financial-details.tsx
  packages/account/src/Configs/financial-details-config.ts
  packages/account/src/Constants/financial-details.ts
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
  packages/account/src/Types/common.type.ts
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/shared/src/utils/constants/signup_fields.ts
  packages/shared/src/utils/types.ts
  packages/shared/src/utils/validation/__tests__/form-validation.spec.ts
  packages/shared/src/utils/validation/form-validations.ts
  packages/stores/types.ts
Labels: Core, Shared, Account

#12404 Revert "[COJ]Likhith/[WALL]-2362/manage occupation field drop down"
  packages/account/src/Components/financial-details/__tests__/financial-details.spec.tsx
  packages/account/src/Components/financial-details/financial-details-partials.tsx
  packages/account/src/Components/financial-details/financial-details.tsx
  packages/account/src/Configs/financial-details-config.ts
  packages/account/src/Constants/financial-details.ts
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
  packages/account/src/Types/common.type.ts
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/shared/src/utils/constants/signup_fields.ts
  packages/shared/src/utils/types.ts
  packages/shared/src/utils/validation/__tests__/form-validation.spec.ts
  packages/shared/src/utils/validation/form-validations.ts
  packages/stores/types.ts
Labels: Core, Shared, Account

#12413 Amina/fix: console error on tradingassessment page
  packages/account/src/Sections/Assessment/TradingAssessment/trading-assessment.jsx
Labels: Account

#12397 [TRAH] shontzu/TRAH-2304/ButtonGroup-component-in-tradershub-package
  packages/tradershub/src/components/Base/ButtonGroup/ButtonGroup.tsx
  packages/tradershub/src/components/Base/ButtonGroup/index.ts
Labels: Trader's Hub

#12418 [TRAH] Hamza/2302/create password component
  packages/tradershub/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
  packages/tradershub/src/features/cfd/screens/CreatePassword/index.ts
  packages/tradershub/src/features/cfd/screens/index.ts
Labels: Trader's Hub

#12409 [TRAH] Aizad/TRAH-2305/Content Switcher
  packages/tradershub/src/components/ContentSwitcher/ContentHeaderList.tsx
  packages/tradershub/src/components/ContentSwitcher/ContentPanelContainer.tsx
  packages/tradershub/src/components/ContentSwitcher/ContentSwitcher.tsx
  packages/tradershub/src/components/ContentSwitcher/ContentTabPanel.tsx
  packages/tradershub/src/components/ContentSwitcher/index.ts
  packages/tradershub/src/components/index.ts
Labels: Trader's Hub

#11881 [DTRA] Maryia/DTRA-484/feat: hide uncontrolled popover tooltip when target icon is tapped again
  packages/components/package.json
  packages/components/src/components/popover/__tests__/popover.spec.tsx
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/types/popover.types.ts
  packages/components/src/hooks/__tests__/use-device.spec.tsx
  packages/components/src/hooks/index.ts
  packages/components/src/hooks/use-device.ts
  packages/components/stories/popover/README.md
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/widgets.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/barrier-selector.tsx
  packages/trader/src/Modules/Trading/Containers/__tests__/strike-param-modal.spec.tsx
  packages/trader/src/Modules/Trading/Containers/strike-param-modal.tsx
Labels: Trader, Components, Docs

#12434 Ako/ fix account status type
  package-lock.json
  packages/account/src/Components/poi/idv-status/idv-submit-complete/__tests__/idv-submit-complete.spec.tsx
  packages/account/src/Configs/__test__/personal-details-config.spec.ts
  packages/account/src/Sections/Verification/ProofOfIdentity/__tests__/proof-of-identity-container.spec.js
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card-front.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card-section.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-foot-note.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-title-indicator.spec.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/integration/src/mocks/auth/getAccountStatus.ts
  packages/stores/src/mockStore.ts
Labels: Account

#12388 [P2PS] / P2PS-2127 Ameerul / Remove payment_methods_list_values in MyProfileStore
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#12433 [TRAH] Hamza/TRAH-2315/added JurisdictionTncSection
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/index.ts
Labels: Trader's Hub

#12430 [trah]thisyahlen/chore: add get a deriv account banner
  packages/tradershub/src/components/GetADerivAccountBanner/GetADerivAccountBanner.tsx
  packages/tradershub/src/components/GetADerivAccountBanner/index.ts
  packages/tradershub/src/components/index.ts
Labels: Trader's Hub

#12338 [COJ]Amina/coj 407 success message after upgrade
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Components/migration-success-modal/__tests__/migration-success-modal-content.spec.tsx
  packages/cfd/src/Components/migration-success-modal/index.tsx
  packages/cfd/src/Components/migration-success-modal/migration-success-modal-content.tsx
  packages/cfd/src/Components/migration-success-modal/migration-success-modal.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-bvi.svg
  packages/components/src/components/icon/mt5/ic-mt5-derived-financial-bvi.svg
  packages/components/src/components/icon/mt5/ic-mt5-derived-financial-vanuatu.svg
  packages/components/src/components/icon/mt5/ic-mt5-vanuatu.svg
  packages/components/stories/icon/icons.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Components, AppStore

#12336 [DTRA] Maryia/DTRA-674/fix: Vanilla profit & contract value in mobile
  packages/trader/src/App/Components/Elements/PositionsDrawer/__tests__/positions-modal-card.spec.tsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.tsx
Labels: Trader

#11462 [BOT]Maryia/BOT-958/feat: adding matches/differs and over/under contract types on quick strategies
  packages/bot-skeleton/src/constants/config.js
  packages/bot-skeleton/src/services/api/contracts-for.js
  packages/bot-web-ui/src/components/quick-strategy/config.ts
  packages/bot-web-ui/src/components/quick-strategy/form.tsx
  packages/bot-web-ui/src/components/quick-strategy/inputs/qs-input.tsx
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/__tests__/contract_type.spec.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/__tests__/trade-type.spec.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/contract-type.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/duration-type.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/trade-type.tsx
  packages/bot-web-ui/src/components/quick-strategy/types.ts
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
  packages/bot-web-ui/src/utils/xml-dom-quick-strategy.ts
Labels: Bot, Components

#12458 Amina/fix: idv_fix_for_diel
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#12455 Aizad/TRAH-2312/DialogComponent
  packages/tradershub/src/components/Dialog/Dialog.classnames.ts
  packages/tradershub/src/components/Dialog/Dialog.tsx
  packages/tradershub/src/components/Dialog/DialogAction.tsx
  packages/tradershub/src/components/Dialog/DialogContent.tsx
  packages/tradershub/src/components/Dialog/DialogHeader.tsx
  packages/tradershub/src/components/Dialog/index.tsx
  packages/tradershub/src/components/ModalWrapper/ModalWrapper.scss
  packages/tradershub/src/components/ModalWrapper/ModalWrapper.tsx
  packages/tradershub/src/components/ModalWrapper/index.tsx
  packages/tradershub/src/components/index.ts
Labels: Trader's Hub

#12218 Ako/ Initiate p2p v2
  package-lock.json
  packages/cashier/src/containers/routes/binary-routes.tsx
  packages/core/build/config.js
  packages/core/package.json
  packages/core/src/App/Constants/routes-config.js
  packages/p2p-v2/.eslintignore
  packages/p2p-v2/.eslintrc.js
  packages/p2p-v2/.stylelintrc.js
  packages/p2p-v2/babel.config.json
  packages/p2p-v2/jest.config.js
  packages/p2p-v2/package.json
  packages/p2p-v2/src/App.tsx
  packages/p2p-v2/src/components/index.ts
  packages/p2p-v2/src/index.scss
  packages/p2p-v2/src/index.tsx
  packages/p2p-v2/src/routes/Home/index.scss
  packages/p2p-v2/src/routes/Home/index.tsx
  packages/p2p-v2/src/routes/Router.tsx
  packages/p2p-v2/src/routes/index.tsx
  packages/p2p-v2/src/utils/loader/index.ts
  packages/p2p-v2/src/utils/loader/lazy-load.tsx
  packages/p2p-v2/src/utils/loader/module-loader.tsx
  packages/p2p-v2/tsconfig.json
  packages/p2p-v2/webpack.config.js
  packages/shared/src/utils/routes/routes.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
Labels: Core, Shared, Components

#12101 [COJ]Likhith/kyc-1441/re-trigger idv for selfish provided rejections
  packages/shared/src/utils/constants/poi-failure-codes.tsx
  packages/shared/src/utils/helpers/__tests__/format-response.spec.ts
  packages/shared/src/utils/helpers/format-response.ts
Labels: Shared

#12481 Bala/update charts version
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#12425 [P2PS] nada/P2PS-560/date filter for past orders
  packages/p2p/src/components/composite-calendar/__tests__/calendar-icon.spec.tsx
  packages/p2p/src/components/composite-calendar/__tests__/composite-calendar.spec.tsx
  packages/p2p/src/components/composite-calendar/__tests__/two-month-picker.spec.tsx
  packages/p2p/src/components/composite-calendar/calendar-icon.tsx
  packages/p2p/src/components/composite-calendar/calendar-radio-buton/__tests__/calendar-radio-button.spec.tsx
  packages/p2p/src/components/composite-calendar/calendar-radio-buton/calendar-radio-button.scss
  packages/p2p/src/components/composite-calendar/calendar-radio-buton/calendar-radio-button.tsx
  packages/p2p/src/components/composite-calendar/calendar-radio-buton/index.ts
  packages/p2p/src/components/composite-calendar/calendar-side-list/__tests__/calendar-side-list.spec.tsx
  packages/p2p/src/components/composite-calendar/calendar-side-list/__tests__/list-item.spec.tsx
  packages/p2p/src/components/composite-calendar/calendar-side-list/calendar-side-list.scss
  packages/p2p/src/components/composite-calendar/calendar-side-list/calendar-side-list.tsx
  packages/p2p/src/components/composite-calendar/calendar-side-list/index.ts
  packages/p2p/src/components/composite-calendar/calendar-side-list/list-item.tsx
  packages/p2p/src/components/composite-calendar/composite-calendar-mobile/__tests__/composite-calendar-mobile-footer.spec.tsx
  packages/p2p/src/components/composite-calendar/composite-calendar-mobile/__tests__/composite-calendar-mobile.spec.tsx
  packages/p2p/src/components/composite-calendar/composite-calendar-mobile/composite-calendar-mobile-footer.tsx
  packages/p2p/src/components/composite-calendar/composite-calendar-mobile/composite-calendar-mobile.scss
  packages/p2p/src/components/composite-calendar/composite-calendar-mobile/composite-calendar-mobile.tsx
  packages/p2p/src/components/composite-calendar/composite-calendar-mobile/index.ts
  packages/p2p/src/components/composite-calendar/composite-calendar.scss
  packages/p2p/src/components/composite-calendar/composite-calendar.tsx
  packages/p2p/src/components/composite-calendar/index.ts
  packages/p2p/src/components/composite-calendar/two-month-picker.tsx
  packages/p2p/src/components/p2p-empty/p2p-empty.scss
  packages/p2p/src/components/p2p-empty/p2p-empty.tsx
  packages/p2p/src/pages/advertiser-page/advertiser-page-adverts.jsx
  packages/p2p/src/pages/orders/order-table/__test__/order-table.spec.js
  packages/p2p/src/pages/orders/order-table/order-table-content.jsx
  packages/p2p/src/pages/orders/order-table/order-table-header.jsx
  packages/p2p/src/pages/orders/order-table/order-table-header.scss
  packages/p2p/src/pages/orders/order-table/order-table-row.jsx
  packages/p2p/src/pages/orders/order-table/order-table.jsx
  packages/p2p/src/pages/orders/order-table/order-table.scss
  packages/p2p/src/stores/order-store.js
  packages/p2p/src/utils/date-time.ts
  packages/p2p/src/utils/orders.ts
Labels: Components, P2P

#12288 [DTRA] henry/dtra-567/fix: revert previous changes to add new label for multipliers leverage
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/dropdown/dropdown.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/__tests__/multiplier.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/__tests__/widgets.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/multiplier.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/widgets.tsx
  packages/trader/src/Modules/Trading/Helpers/contract-type.tsx
  packages/trader/src/sass/app/_common/mobile-widget.scss
Labels: Trader, Components

#12467 [trah]thisyahlen/2290/chore: add options and multipliers section for tradershub v2
  package-lock.json
  packages/tradershub/package.json
  packages/tradershub/src/App.tsx
  packages/tradershub/src/components/OptionsAndMultiplersSection/OptionsAndMultiplersSection.tsx
  packages/tradershub/src/components/OptionsAndMultiplersSection/OptionsAndMultipliersContent/OptionsAndMultipliersContent.tsx
  packages/tradershub/src/components/OptionsAndMultiplersSection/OptionsAndMultipliersContent/index.ts
  packages/tradershub/src/components/OptionsAndMultiplersSection/index.ts
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/routes/Router.tsx
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Labels: Trader's Hub

#12453 [TRAH] Hamza/TRAH-2316/added verification tag component
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardVerificationTag.tsx
  packages/tradershub/src/public/images/ic-verification-failed-status.svg
  packages/tradershub/src/public/images/ic-verification-pending-status.svg
  packages/tradershub/src/public/images/ic-verification-success-status.svg
Labels: Trader's Hub

#12501 thisyahlen/fix: tradershub types
  packages/tradershub/src/features/cfd/constants.tsx
  packages/tradershub/src/features/cfd/screens/MT5AccountTypeCard/MT5AccountTypeCard.tsx
Labels: Trader's Hub

#12339 [CRO] NikitK/CRO-357/Questionary adding by ab testing approach for new users right after email verification
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/QuestionnaireModal/__tests__/questionnaire-modal.spec.tsx
  packages/core/src/App/Containers/QuestionnaireModal/index.ts
  packages/core/src/App/Containers/QuestionnaireModal/questionnaire-modal.scss
  packages/core/src/App/Containers/QuestionnaireModal/questionnaire-modal.tsx
Labels: Trader, Core, AppStore

#12415 [BOT]/Maryia/BOT-1141/fix: Reset the asset field to the previous value after an invalid search
  packages/bot-web-ui/src/components/quick-strategy/selects/symbol.tsx
Labels: Bot

#12477 [TRAH] Hamza/TRAH-2318/Added JurisdictionCardRow component
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardRow.tsx
Labels: Trader's Hub

#12062 [P2PS] Ameerul / P2PS-1327 / Show "Cashier maintenance" in P2P when Cashier is down due to maintenance
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/cashier-under-maintenance/__tests__/cashier-under-maintentance.spec.tsx
  packages/p2p/src/components/cashier-under-maintenance/cashier-under-maintenance.scss
  packages/p2p/src/components/cashier-under-maintenance/cashier-under-maintenance.tsx
  packages/p2p/src/components/cashier-under-maintenance/index.ts
  packages/p2p/src/components/routes/routes.jsx
Labels: P2P

#11802 [WALL] wojtek/WALL-3012/feat: dynamic load of zxcvbn library for password scoring
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.tsx
  packages/wallets/src/components/Base/WalletPasswordField/index.ts
  packages/wallets/src/components/Base/WalletPasswordFieldLazy/WalletPasswordFieldLazy.tsx
  packages/wallets/src/components/Base/WalletPasswordFieldLazy/index.ts
  packages/wallets/src/components/Base/index.ts
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordInputsScreen.tsx
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
  packages/wallets/src/utils/password.ts
Labels: Docs, Account

#12497 [trah]Thisyahlen/TRAH-2331/currency switcher container
  packages/tradershub/package.json
  packages/tradershub/src/components/CurrencySwitcher/CurrencySwitcher.tsx
  packages/tradershub/src/components/CurrencySwitcher/index.ts
  packages/tradershub/src/components/OptionsAndMultiplersSection/OptionsAndMultiplersSection.tsx
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/constants/constants.tsx
Labels: Trader's Hub

#12526 Revert: Nikita/questionnarie feature
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/QuestionnaireModal/__tests__/questionnaire-modal.spec.tsx
  packages/core/src/App/Containers/QuestionnaireModal/index.ts
  packages/core/src/App/Containers/QuestionnaireModal/questionnaire-modal.scss
  packages/core/src/App/Containers/QuestionnaireModal/questionnaire-modal.tsx
Labels: Core

#12517 [trah]Thisyahlen/TRAH-2337/static link
  packages/tradershub/src/components/OptionsAndMultiplersSection/OptionsAndMultiplersSection.tsx
  packages/tradershub/src/components/OptionsAndMultiplersSection/index.ts
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultiplersHeading/OptionsAndMultipliersHeading.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultiplersHeading/index.ts
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersContent/OptionsAndMultipliersContent.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersContent/index.ts
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersSection.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/index.ts
  packages/tradershub/src/components/StaticLink/StaticLink.tsx
  packages/tradershub/src/components/StaticLink/index.ts
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Labels: Trader's Hub

#12435 [BOT]Maryia/BOT-1109/fix: User should not be able to delete the duration and trade type or purchase condition values
  packages/bot-web-ui/src/components/quick-strategy/selects/contract-type.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/duration-type.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/trade-type.tsx
Labels: Bot

#12529 [trah]thisyahlen/TRAH-2339/chore: reset virtual balance in currency switcher
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useResetVirtualBalance.ts
  packages/tradershub/src/components/CurrencySwitcher/CurrencySwitcher.tsx
Labels: Trader's Hub

#12528 [WEBREL] farrah/WEBREL-1835/fix date filter issues
  packages/p2p/src/components/composite-calendar/composite-calendar.tsx
  packages/p2p/src/pages/orders/order-table/order-table.jsx
  packages/p2p/src/stores/order-store.js
Labels: P2P
