Repository deriv-com/deriv-app, pull requests merged in 2023-08, with the labels that each got.

#9521 fix: fix failing tests
  packages/p2p/src/components/buy-sell/__tests__/buy-sell.spec.jsx
Labels: P2P

#9535 fix: updated deriv/api-types in p2p
  packages/appstore/src/components/main-title-bar/__tests__/index.spec.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/modules/traders-hub/__tests__/index.spec.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/core/src/Stores/notification-store.js
  packages/p2p/package.json
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, P2P, AppStore

#9532 Hamza/1423/notification helper popup
  packages/components/src/components/u-i-loader/ui-loader.tsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/mt5-notification/index.ts
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification-description.tsx
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.scss
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.tsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/App/Containers/trade-settings-extensions.tsx
Labels: Trader, Core, Components

#9466 bugfix: logout issue
  packages/api/src/APIProvider.tsx
  packages/api/src/useFetch.ts
  packages/api/src/utils.ts
  packages/appstore/src/modules/wallets/wallets.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/useAuthorize.ts
  packages/hooks/src/useAvailableWallets.ts
  packages/shared/src/utils/config/config.ts
Labels: Core, Shared, AppStore

#9556 Hamza/hotfix: overflowing instruction in non-english language
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#9570 Jim/WEBREL-902/when-advertiser-is-having-multiple-orders-chats-are-overlapping-each-other
  package-lock.json
  package.json
  packages/p2p/package.json
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/stores/sendbird-store.ts
Labels: P2P

#9070 farabi/bot-383/update block menu label
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox-items.tsx
Labels: Bot

#9545 Kate / OPT-322 / [Mobile] Delete pop-up when the contract starts for Accumulators and Multiplayers
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#9438 Shaheer/wall 656
  packages/components/src/components/icon/common/ic-email-verification-resent.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Containers/LinkExpiredModal/__tests__/email-resent.spec.tsx
  packages/core/src/App/Containers/LinkExpiredModal/__tests__/link-expired-modal.spec.tsx
  packages/core/src/App/Containers/LinkExpiredModal/email-resent.tsx
  packages/core/src/App/Containers/LinkExpiredModal/index.ts
  packages/core/src/App/Containers/LinkExpiredModal/link-expired-modal.tsx
  packages/core/src/App/Containers/ResetOrUnlinkPasswordModal/reset-or-unlink-password-modal.jsx
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.jsx
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app/modules/reset-password.scss
  packages/hooks/src/useVerifyEmail.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Components

#9470 Kate / DTRA-320 / Expiry date Updates
  packages/components/src/components/dropdown/dropdown.scss
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/advanced-duration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader, Components

#9548 maryia/DTRA-333/feat: Reorder trade types
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
Labels: Trader

#9294 refactor: to fix authorization required message issue fix
  packages/bot-skeleton/src/services/api/api-base.js
Labels: Bot

#8568 FarhanNurzi/P2PS-646/For sell USD order , Confirm button is not enabling for first time
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
Labels: P2P, Docs, Account

#9467 Aizad/wall 567/responsive fix
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.tsx
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.scss
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/components/onboarding-new/static-trading-app-card.tsx
  packages/appstore/src/modules/onboarding/__test__/empty-onboarding.spec.tsx
  packages/appstore/src/modules/onboarding/empty-onboarding.tsx
  packages/appstore/src/modules/onboarding/onboarding.scss
  packages/appstore/src/modules/onboarding/onboarding.tsx
  packages/bot-web-ui/src/components/dashboard/bot-notification.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-footer.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content.tsx
  packages/bot-web-ui/src/components/download/download.tsx
  packages/bot-web-ui/src/components/load-modal/recent-footer.tsx
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/p2p/src/components/floating-rate/__test__/floating-rate.spec.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
  packages/trader/src/Modules/Trading/Helpers/__tests__/contract-type.spec.tsx
Labels: Trader, Core, Bot, P2P, AppStore

#8909 Evgeniy/91706/improve poa address mismatch test coverage
  packages/account/src/Components/poa-address-mismatch-hint-box/__tests__/poa-address-mismatch-hint-box.spec.tsx
Labels: Account

#9589 chore: added test case for multi action button group
  packages/appstore/src/components/multi-action-button-group/__test__/multi-action-button-group.spec.tsx
Labels: AppStore

#9026 likhith/fix: :bug: reset scroll to top when there user selects a new section
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.js
  packages/components/src/components/themed-scrollbars/themed-scrollbars.scss
  packages/core/src/App/Containers/Layout/__tests__/app-contents.spec.js
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/strike.jsx
  packages/trader/src/Modules/Trading/Containers/strike-param-modal.jsx
Labels: Trader, Core, Components, Account

#9443 Amina/wall 1349/tax residence fix
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
  packages/account/src/Configs/__test__/personal-details-config.spec.ts
  packages/account/src/Configs/personal-details-config.ts
  packages/cfd/src/Components/Errors/error-component.jsx
  packages/trader/src/App/Components/Elements/Errors/error-component.jsx
Labels: Trader, Account

#9550 Aum/FEQ-503/proper-wallet-listing-logic-with-feature-flag
  packages/appstore/src/components/routes/routes.tsx
  packages/components/src/components/wallet-card/wallet-card.scss
  packages/hooks/src/index.ts
  packages/hooks/src/useWalletsList.ts
Labels: Components, Account, AppStore

#9492 Aum/wall 1332/implementing the colors updating the components
  packages/appstore/src/components/modals/real-wallets-upgrade/real-wallets-upgrade.tsx
  packages/appstore/src/constants/mock_wallet_migration_response.ts
  packages/core/src/sass/app/_common/components/wallet.scss
Labels: Core, Account, AppStore

#9617 Shaheer/wall 1469 hotfix
  packages/cashier/src/components/email-verification-empty-state/email-verification-empty-state.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-verification-email/withdrawal-verification-email.tsx
  packages/core/src/App/Containers/LinkExpiredModal/__tests__/link-expired-modal.spec.tsx
  packages/core/src/App/Containers/LinkExpiredModal/link-expired-modal.tsx
Labels: Core

#9231 Rostislav / WALL-1157 / [API Integration] [Real & Demo] Fiat transactions - the complete flow (excluding the transfer type)
  packages/api/src/index.ts
  packages/api/src/usePaginatedFetch.ts
  packages/api/types.ts
  packages/appstore/src/components/modals/wallet-modal/provider.tsx
  packages/appstore/src/components/transaction-list/non-pending-transaction.tsx
  packages/appstore/src/components/transaction-list/transaction-list.scss
  packages/appstore/src/components/transaction-list/transaction-list.tsx
  packages/hooks/src/__tests__/useWalletTransactions.spec.tsx
  packages/hooks/src/useWalletTransactions.ts
  packages/utils/src/__tests__/getTradingAccountName.spec.ts
  packages/utils/src/getTradingAccountName.ts
  packages/utils/src/index.ts
Labels: AppStore

#9337 george / WALL-15 / add fiat withdrawal component
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.tsx
  packages/appstore/src/components/wallet-withdrawal/__tests__/wallet-withdrawal.spec.tsx
  packages/appstore/src/components/wallet-withdrawal/__tests__/wallet-withdrawal.tsx
  packages/appstore/src/components/wallet-withdrawal/wallet-withdrawal.scss
  packages/appstore/src/components/wallet-withdrawal/wallet-withdrawal.tsx
  packages/cashier/src/components/cashier-container/real/real.tsx
  packages/cashier/src/pages/withdrawal/withdraw/withdraw.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
Labels: Core, AppStore

#9510 Sergei / wall 1397 / Wrong trading account number in wallet
  packages/appstore/src/components/containers/listing-container.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-transfer-block.spec.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-transfer-block.tsx
  packages/appstore/src/components/wallet-transfer/__tests__/wallet-transfer.spec.tsx
  packages/appstore/src/components/wallet-transfer/transfer-account-selector/__tests__/transfer-account-list.spec.tsx
  packages/components/src/components/message-list/__tests__/message-list.spec.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/__tests__/useTradingAccountsList.spec.tsx
  packages/hooks/src/__tests__/useTransferBetweenAccounts.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useTradingAccountsList.ts
  packages/utils/src/__tests__/groupTransactionsByDay.spec.ts
Labels: Core, Components, AppStore

#9372 hamid/wall-21/crypto-withdraw-form
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.tsx
  packages/appstore/src/components/wallet-withdrawal/wallet-withdrawal.scss
  packages/appstore/src/components/wallet-withdrawal/wallet-withdrawal.tsx
  packages/cashier/src/components/crypto-fiat-converter/crypto-fiat-converter.scss
  packages/cashier/src/components/percentage-selector/percentage-selector.scss
  packages/cashier/src/components/percentage-selector/percentage-selector.tsx
  packages/cashier/src/components/recent-transaction/__tests__/recent-transaction.spec.tsx
  packages/cashier/src/components/recent-transaction/recent-transaction.scss
  packages/cashier/src/components/recent-transaction/recent-transaction.tsx
  packages/cashier/src/pages/withdrawal/__tests__/withdrawal.spec.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/__tests__/crypto-withdraw-form.spec.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/crypto-withdraw-form.scss
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/crypto-withdraw-form.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-receipt/crypto-withdraw-receipt.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdrawal/crypto-withdrawal.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdrawal/index.ts
  packages/cashier/src/pages/withdrawal/withdrawal-verification-email/withdrawal-verification-email.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/cashier/src/stores/withdraw-store.ts
  packages/core/src/App/Containers/Redirect/redirect.jsx
Labels: Core, Translations, Account, AppStore

#9162 feat: Wallets Onboarding
  packages/appstore/src/components/containers/trading-app-card.scss
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.tsx
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/appstore/src/constants/tour-steps-config-new.tsx
  packages/appstore/src/constants/tour-steps-config.tsx
  packages/appstore/src/constants/utils.ts
  packages/appstore/src/modules/tour-guide/tour-guide.tsx
  packages/appstore/src/modules/tour-guide/wallet-tour-guide.tsx
  packages/appstore/src/modules/traders-hub/traders-hub.scss
  packages/appstore/src/modules/wallets/wallets.scss
  packages/appstore/src/modules/wallets/wallets.tsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Bot, Components, AppStore

#9536 chore: test case for Poa Address Mismatch Hint Box
  packages/account/src/Components/poa-address-mismatch-hint-box/__test__/poa-address-mismatch-hint-box.spec.tsx
Labels: Account

#9238 thisyahlen/fix: cfd list for wallets
  package-lock.json
  packages/api/types.ts
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-content.spec.tsx
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-crypto-cfd.tsx
  packages/appstore/src/components/wallet-content/wallet-fiat-cfd.tsx
  packages/appstore/src/components/wallet-content/wallet-fiat-mt5-content.tsx
  packages/appstore/src/components/wallet-content/wallet-mt5/__tests__/wallet-mt5-card-list.spec.tsx
  packages/appstore/src/components/wallet-content/wallet-mt5/added-mt5-card.tsx
  packages/appstore/src/components/wallet-content/wallet-mt5/available-mt5-card.tsx
  packages/appstore/src/components/wallet-content/wallet-mt5/wallet-mt5-card-list.tsx
  packages/appstore/src/components/wallet-content/wallet-other-cfds/wallet-other-cfd-content.tsx
  packages/appstore/src/helpers/account-helper.ts
  packages/appstore/src/types/common.types.ts
  packages/bot-web-ui/package-lock.json
  packages/components/src/components/wallet-card/wallet-card.tsx
  packages/components/stories/icon/icons.js
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/package.json
  packages/hooks/src/__tests__/useAvailableMT5Accounts.spec.tsx
  packages/hooks/src/__tests__/useExistingCFDAccounts.spec.tsx
  packages/hooks/src/__tests__/useFilteredCFDAccounts.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useAvailableMT5Accounts.ts
  packages/hooks/src/useAvailableWallets.ts
  packages/hooks/src/useExistingCFDAccounts.ts
  packages/hooks/src/useFilteredCFDAccounts.ts
  packages/hooks/src/useWalletsList.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  types/utils.d.ts
Labels: Trader, Core, Bot, Shared, Components, Account, AppStore

#9564 Kate / WEBREL-35 / Tests for Trading/Containers files in Trader package
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/Modules/Trading/Containers/__tests__/allow-equals.spec.jsx
  packages/trader/src/Modules/Trading/Containers/__tests__/contract-type.spec.jsx
  packages/trader/src/Modules/Trading/Containers/__tests__/radio-group-options-modal.spec.jsx
  packages/trader/src/Modules/Trading/Containers/__tests__/toast-popup.spec.jsx
Labels: Trader

#9642 fix: type, sonarcloud issue
  packages/appstore/src/components/wallet-transfer/wallet-transfer.tsx
  packages/appstore/src/types/common.types.ts
Labels: AppStore

#9645 yashiim/fix: updated bi data collection endpoint
  packages/bot-web-ui/src/stores/data-collection-store.js
Labels: Bot

#7474 Bala/Flutter chart integration
  packages/bot-web-ui/src/components/chart/chart.tsx
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.scss
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.tsx
  packages/core/build/config.js
  packages/core/src/Stores/Helpers/__tests__/chart-markers.spec.ts
  packages/core/src/Stores/Helpers/chart-markers.js
  packages/core/src/Stores/Helpers/logic.js
  packages/core/src/Stores/contract-store.js
  packages/core/src/Stores/contract-trade-store.js
  packages/reports/src/sass/app/modules/smart-chart.scss
  packages/shared/src/utils/contract/contract.ts
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/delayed-accu-barriers-marker.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-text.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/delayed-accu-barriers-marker.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/marker.jsx
  packages/trader/src/Modules/SmartChart/Components/all-markers.jsx
  packages/trader/src/Modules/SmartChart/Components/top-widgets.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/modules/smart-chart.scss
Labels: Trader, Core, Bot, Shared, Components, P2P, Account, AppStore

#9655 Maryia/Kate/webrel-1084/hotfix: limit order
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.js
Labels: Trader

#9155 Kate / WEBREL-50 / Tests for trade-modals.jsx in Trader package
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/App/Containers/Modals/__tests__/trade-modals.spec.jsx
Labels: Trader

#9074 Kate / WEBREL-40 / Test coverage: MarketUnavailableModal + UnsupportedContractModal in Trader package
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/App/Components/Elements/Modals/MarketUnavailableModal/__tests__/market-unavailable.spec.jsx
  packages/trader/src/App/Components/Elements/Modals/UnsupportedContractModal/__tests__/unsupported-contract-modal.spec.jsx
Labels: Trader

#8521 henry/test: ts migration and test coverage for ServicesErrorModal folder
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/account-verification-required-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/authorization-required-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/company-wide-limit-exceeded-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/constants.spec.ts
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/insufficient-balance-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/services-error-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/authorization-required-modal.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/company-wide-limit-exceeded-modal.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/constants.ts
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/insufficient-balance-modal.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/services-error-modal.tsx
Labels: Trader

#9574 feat: :white_check_mark: Adding disclaimer on Sign up page when the user selects "Brazil"
  packages/components/src/components/checkbox/checkbox.tsx
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/SetResidenceModal/__tests__/set-residence-form.spec.tsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
  packages/core/src/sass/app/modules/account-signup.scss
Labels: Core, Components

#9653 fix: blinking wallet banner, double scroll
  packages/appstore/src/components/main-title-bar/__tests__/index.spec.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/routes/routes.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner.tsx
  packages/appstore/src/modules/wallets/wallets.scss
Labels: AppStore

#9662 Sergei / just fix wallet carousel for responsive
  packages/appstore/src/components/wallet-cards-carousel/cards-slider-swiper.tsx
Labels: AppStore

#9684 Prince/ translation workflow trigger
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
Labels: Bot

#9686 Revert "Prince/ translation workflow trigger"
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
Labels: Bot

#9464 Kate / WEBREL-51 / Test coverage: ProgressSliderStream in Trader package
  packages/trader/src/App/Containers/ProgressSliderStream/__tests__/progress-slider-stream.spec.jsx
Labels: Trader

#8398 Kate / Test coverage: ChartLoader + Loading in Trader package
  packages/trader/src/App/Components/Elements/__tests__/chart-loader.spec.jsx
  packages/trader/src/App/Components/Elements/chart-loader.jsx
  packages/trader/src/_common/components/__tests__/loading.spec.tsx
  packages/trader/src/_common/components/loading.tsx
Labels: Trader

#9401 likhith/fix: :bug: display onfido error message
  packages/account/src/Sections/Verification/ProofOfIdentity/__tests__/proof-of-identity-container.spec.js
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Labels: Account

#8483 Henry/fix: test coverage and ts migration for asset/trading/categories
  packages/trader/src/Assets/Trading/Categories/__tests__/icon-trade-categories.spec.tsx
  packages/trader/src/Assets/Trading/Categories/__tests__/trade-categories-gif.spec.tsx
  packages/trader/src/Assets/Trading/Categories/__tests__/trade-categories.spec.tsx
  packages/trader/src/Assets/Trading/Categories/contract-type-description-video.tsx
  packages/trader/src/Assets/Trading/Categories/icon-trade-categories.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories-gif.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-display.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-item.jsx
  types/svg.d.ts
Labels: Trader

#9426 Matin/WALL-1308/Adding Korean language
  package-lock.json
  packages/account/src/Sections/Security/LoginHistory/login-history.jsx
  packages/bot-web-ui/package.json
  packages/components/src/components/icon/flag/ic-flag-en.svg
  packages/components/src/components/icon/flag/ic-flag-es.svg
  packages/components/src/components/icon/flag/ic-flag-fr.svg
  packages/components/src/components/icon/flag/ic-flag-id.svg
  packages/components/src/components/icon/flag/ic-flag-it.svg
  packages/components/src/components/icon/flag/ic-flag-ko.svg
  packages/components/src/components/icon/flag/ic-flag-pl.svg
  packages/components/src/components/icon/flag/ic-flag-pt.svg
  packages/components/src/components/icon/flag/ic-flag-ru.svg
  packages/components/src/components/icon/flag/ic-flag-th.svg
  packages/components/src/components/icon/flag/ic-flag-uk.svg
  packages/components/src/components/icon/flag/ic-flag-vi.svg
  packages/components/src/components/icon/flag/ic-flag-zh-cn.svg
  packages/components/src/components/icon/flag/ic-flag-zh-tw.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/package.json
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/p2p/src/components/i18next/index.js
  packages/trader/package.json
  packages/translations/src/i18next/i18next.ts
Labels: Trader, Core, Bot, Components, Translations, P2P, Account, AppStore

#9555 Amina/fix: disable account when proof failed
  packages/appstore/src/components/cfds-listing/__tests__/index.spec.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: AppStore

#9691 fix: duplicate_types
  packages/appstore/src/components/cfds-listing/__tests__/index.spec.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: AppStore

#9336 likhith/fix: :bug: translation of IDV documents dropdown option
  packages/account/src/Components/account-limits/account-limits-article.tsx
  packages/account/src/Components/forms/idv-form.tsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Constants/idv-document-config.ts
  packages/account/src/Helpers/utils.ts
  packages/account/src/Types/common-prop.type.ts
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/shared/src/utils/constants/idv-options.ts
Labels: Core, Shared, Account

#9610 maryia/DTRA-350/feat: handle displayed positions locally in TogglePositionsMobile
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.jsx
  packages/trader/src/App/Components/Elements/TogglePositions/__tests__/toggle-positions-mobile.spec.tsx
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.jsx
  packages/trader/src/App/Containers/populate-header.jsx
Labels: Trader

#9620 FarhanNurzi/P2PS-1417/2FA order confirm modal is not showing up on mobile browsers
  packages/p2p/jest.config.js
  packages/p2p/src/components/orders/chat/__tests__/chat.spec.tsx
  packages/p2p/src/components/orders/chat/chat.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/stores/buy-sell-store.js
Labels: P2P

#8544 Adrienne / Implemented new navigation flow for filtering payment methods in buy/sell page
  packages/p2p/src/components/buy-sell/buy-sell-header.jsx
  packages/p2p/src/components/buy-sell/buy-sell-header.scss
  packages/p2p/src/components/modal-manager/modal-manager-context-provider.jsx
  packages/p2p/src/components/modal-manager/modals/cancel-add-payment-method-modal.jsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal-header.jsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal-search.scss
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal.jsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal.scss
  packages/p2p/src/components/modal-manager/modals/leave-page-modal/index.js
  packages/p2p/src/components/modal-manager/modals/leave-page-modal/leave-page-modal.jsx
  packages/p2p/src/components/modal-manager/modals/leave-page-modal/leave-page-modal.scss
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/quick-add-modal.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/buy-sell-store.js
Labels: Shared, P2P

#9064 Amina/wall 575/maintenance notifications for site and cashier
  packages/account/src/App.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/sass/app/_common/components/app-notification-message.scss
Labels: Trader, Core, Account

#9240 Shaheer/wall 1229
  packages/core/src/App/Components/Elements/NotificationMessage/__tests__/notification.spec.tsx
  packages/core/src/App/Containers/__tests__/app-notification-messages.spec.tsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#9577 Kate / OPT-306 / Update Accumulator to Accumulators
  packages/components/src/components/contract-card/contract-card.scss
  packages/components/stories/contract-card/statics/contract.js
  packages/core/src/Constants/contract.js
  packages/shared/src/utils/constants/contract.tsx
  packages/trader/src/Constants/contract.js
  packages/trader/src/Modules/Trading/Helpers/__tests__/contract-type.spec.tsx
Labels: Trader, Core, Shared, Components

#9618 likhith/chore: incorporated the API response to save the opt-out user data
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/account/src/Types/common-prop.type.ts
  packages/core/src/App/Containers/RealAccountSignup/__tests__/account-wizard.spec.tsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/shared/src/utils/config/__tests__/adapters.spec.ts
  packages/shared/src/utils/config/adapters.ts
  packages/shared/src/utils/config/index.ts
  packages/shared/src/utils/constants/idv-options.ts
Labels: Core, Shared, Account

#9707 Matin / Remove ESLint Ignore
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Labels: Core, Account

#9714 fix: circle ci error
  packages/appstore/src/components/cfds-listing/__tests__/index.spec.tsx
Labels: AppStore

#9700 Sergei / FEQ-591 / Fix unlimited authorize requests in responsive mode
  packages/appstore/src/components/cfds-listing/__tests__/index.spec.tsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
Labels: Core, AppStore

#9711 fix: set dbot as external in platform config for authorize logout isssue
  packages/appstore/src/constants/platform-config.ts
Labels: AppStore

#9032 feat: transaction details modal
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/app/app.scss
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/run-panel/run-panel.tsx
  packages/bot-web-ui/src/components/transaction-details/__tests__/desktop-transaction-table.spec.tsx
  packages/bot-web-ui/src/components/transaction-details/__tests__/transaction-details-desktop.spec.tsx
  packages/bot-web-ui/src/components/transaction-details/__tests__/transaction-details-mobile.spec.tsx
  packages/bot-web-ui/src/components/transaction-details/__tests__/transaction-details.spec.tsx
  packages/bot-web-ui/src/components/transaction-details/desktop-transaction-table.tsx
  packages/bot-web-ui/src/components/transaction-details/index.tsx
  packages/bot-web-ui/src/components/transaction-details/mobile-transaction-card.tsx
  packages/bot-web-ui/src/components/transaction-details/transaction-details-desktop.scss
  packages/bot-web-ui/src/components/transaction-details/transaction-details-desktop.tsx
  packages/bot-web-ui/src/components/transaction-details/transaction-details-mobile.scss
  packages/bot-web-ui/src/components/transaction-details/transaction-details-mobile.tsx
  packages/bot-web-ui/src/components/transaction-details/transaction-details.tsx
  packages/bot-web-ui/src/components/transaction-details/transaction-details.types.ts
  packages/bot-web-ui/src/components/transactions/transactions.jsx
  packages/bot-web-ui/src/components/transactions/transactions.scss
  packages/bot-web-ui/src/stores/transactions-store.js
Labels: Bot

#9551 fix: gtm issue
  packages/bot-web-ui/src/utils/gtm.js
Labels: Bot

#9573 fix: registration flow in buy/sell tab
  packages/p2p/src/components/advertiser-page/__tests__/advertiser-page.spec.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/buy-sell/__tests__/buy-sell.spec.jsx
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/stores/general-store.js
Labels: P2P

#8574 FarhanNurzi/P2PS-458/User need to scroll the page to see the cancel and Add button in PM Modal in DP2P
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/quick-add-modal.jsx
Labels: P2P

#9315 Farabi/bot 296/update responsive of tour in light mode
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
Labels: Bot

#9098 Maryia/Bot-303/feat: add crash/boom to markets list
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_multiplier.js
  packages/bot-skeleton/src/services/api/active-symbols.js
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot

#8998 Kate / DTRA-166 / Implement Contract pages for Ends/ Stays contracts
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-type-cell.tsx
  packages/components/src/components/contract-card/contract-card.scss
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/tradetype/ic-tradetype-expirymiss.svg
  packages/components/src/components/icon/tradetype/ic-tradetype-expiryrange.svg
  packages/components/src/components/icon/tradetype/ic-tradetype-expiryrangee.svg
  packages/components/stories/contract-card/statics/contract.js
  packages/components/stories/icon/icons.js
  packages/core/src/Constants/contract.js
  packages/core/src/Stores/Helpers/chart-marker-helpers.js
  packages/core/src/Stores/Helpers/chart-markers.js
  packages/reports/src/sass/app/modules/smart-chart.scss
  packages/shared/src/utils/constants/contract.tsx
  packages/shared/src/utils/contract/contract.ts
  packages/trader/src/App/Components/Elements/ContractAudit/contract-audit.jsx
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.jsx
  packages/trader/src/Constants/contract.js
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/sass/app/modules/smart-chart.scss
Labels: Trader, Core, Shared, Components

#9352 Henry/dtra 282/rewrite contract type info component
  packages/components/src/components/vertical-tab/vertical-tab-header-group.tsx
  packages/components/src/components/vertical-tab/vertical-tab-header.tsx
  packages/components/stories/icon/icons.js
  packages/shared/src/utils/route/route.ts
  packages/trader/src/Modules/SmartChart/Components/buy-toast-notification.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info-header.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/index.js
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/contract-type-menu.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/index.js
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/no-results-message.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/search-input.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/search-input.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-dialog.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-display.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-info-header.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-item.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-list.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-menu.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-widget.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/no-results-message.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/search-input.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-dialog.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-display.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-item.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-item.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-list.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-list.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/index.js
  packages/trader/src/Modules/Trading/Components/Form/ContractType/types.ts
  packages/trader/src/Modules/Trading/Containers/contract-type.jsx
  packages/trader/src/Modules/Trading/Helpers/contract-type.tsx
  packages/trader/src/sass/app/_common/components/contract-type-dialog.scss
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
  packages/trader/src/sass/app/_common/components/contract-type-widget.scss
Labels: Trader, Shared, Components

#9377 farabi/bot-228/fix-step-5-modal-alignment
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
Labels: Bot

#9583 chore: test case for dbot-providers
  packages/bot-web-ui/src/app/__tests__/dbot-providers.spec.tsx
  packages/bot-web-ui/src/utils/mock/index.js
  packages/bot-web-ui/src/utils/mock/ws-mock.js
Labels: Bot

#9735 Ameerul /WEBREL-1098 Fix codecov and circleci issues
  packages/p2p/src/components/orders/__test__/orders.spec.js
Labels: P2P

#9774 Rostislav / WEBREL-1106, WEBREL-1107 / Cashier withdrawal tab fixes for crypto
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/components/src/components/vertical-tab/vertical-tab.scss
Labels: Components

#9616 Thisyahlen/new account wallet creation
  packages/api/types.ts
  packages/appstore/src/components/add-more-wallets/add-more-wallets.scss
  packages/appstore/src/components/add-more-wallets/wallet-add-card.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/modals/wallet-modal/__tests__/wallet-modal.spec.tsx
  packages/appstore/src/components/modals/wallet-success-dialog/wallet-success-dialog.scss
  packages/appstore/src/components/modals/wallet-success-dialog/wallet-success-dialog.tsx
  packages/appstore/src/components/wallet-cards-carousel/cards-slider-swiper.tsx
  packages/appstore/src/modules/wallets/wallets.tsx
  packages/components/src/components/modal/modal.tsx
  packages/components/src/components/wallet-card/wallet-card.scss
  packages/components/src/components/wallet-card/wallet-card.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/hooks/src/__tests__/useCreateWallet.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useAvailableMT5Accounts.ts
  packages/hooks/src/useCreateWallet.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Components, Account, AppStore

#9646 Aizad/WALL-1158/ Responsive CFD Section fix
  packages/appstore/src/components/add-more-wallets/add-more-wallets.scss
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.scss
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/get-more-accounts/get-more-accounts.scss
  packages/appstore/src/components/pre-loader/platform-loader.tsx
  packages/appstore/src/components/wallet-cards-carousel/cards-slider-swiper.tsx
  packages/appstore/src/components/wallet-cards-carousel/wallet-cards-carousel.scss
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-content.scss
  packages/appstore/src/components/wallet-content/wallet-fiat-cfd.tsx
  packages/appstore/src/components/wallet-content/wallet-fiat-mt5-content.tsx
  packages/appstore/src/components/wallet-content/wallet-mt5/wallet-mt5-card-list.tsx
  packages/appstore/src/components/wallet-content/wallet-other-cfds/wallet-other-cfd-content.tsx
  packages/appstore/src/modules/wallets/mobile-wallets-carousel.tsx
  packages/appstore/src/modules/wallets/wallets.scss
  packages/appstore/src/modules/wallets/wallets.tsx
Labels: AppStore

#9794 Remove duplicate ThemeScrollbars
  packages/appstore/src/modules/wallets/wallets.tsx
Labels: AppStore

#9804 thisyahlen/chore: add useMT5LoginList to deriv/api
  package-lock.json
  packages/account/package.json
  packages/api/package.json
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useMT5LoginList.ts
  packages/appstore/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/p2p/package.json
  packages/shared/package.json
  packages/stores/package.json
  packages/utils/package.json
Labels: Shared, P2P, Account, AppStore

#9798 fix(cashier): :bug: fix fiat withdrawal issue on mobile
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-side-notes/deposit-crypto-side-note-try-fiat-onramp.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/cashier/src/stores/general-store.ts
  packages/cashier/src/stores/withdraw-store.ts
  packages/components/src/components/vertical-tab/vertical-tab.tsx
Labels: Components

#9838 Ako/ fix `Cannot read properties of null (reading 'Login ID')` on PushWoosh
  packages/core/src/Stores/pushwoosh-store.js
Labels: Core

#9756 feat(wallets): :package: add `@deriv/wallets` workspace
  .circleci/config.yml
  packages/api/src/APIProvider.tsx
  packages/appstore/package.json
  packages/appstore/src/components/routes/routes.tsx
  packages/stores/src/stores/FeatureFlagsStore.ts
  packages/utils/src/index.ts
  packages/wallets/jest.config.js
  packages/wallets/package.json
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/index.tsx
  packages/wallets/tsconfig.json
Labels: AppStore

#9137 Shafin/bot 368/feat draggable transaction modal
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/app/app.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/draggable/__tests__/draggable.spec.tsx
  packages/bot-web-ui/src/components/draggable/draggable.scss
  packages/bot-web-ui/src/components/draggable/draggable.tsx
  packages/bot-web-ui/src/components/draggable/index.ts
  packages/bot-web-ui/src/components/transaction-details/__tests__/transaction-details-desktop.spec.tsx
  packages/bot-web-ui/src/components/transaction-details/desktop-transaction-table.tsx
  packages/bot-web-ui/src/components/transaction-details/transaction-details-desktop.scss
  packages/bot-web-ui/src/components/transaction-details/transaction-details-desktop.tsx
Labels: Bot

#9419 farabi/bot-385/embed hotjar attribution
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/utils/hotjar.js
Labels: Trader, Bot, P2P

#9680 Arshad/ WALL-833/ show correct platform on trader's hub onboarding
  packages/appstore/src/components/onboarding-new/__tests__/static-dashboard.spec.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
Labels: AppStore

#9732 Kate / OPT-347 / Opening the Duration Tab for the first time will show incorrect expiry time
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
Labels: Trader

#9739 likhith/fix: sending empty payload to non idv countries
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Labels: Core

#9542 Farabi/bot 399/hide bot too risky modal
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/run-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.scss
  packages/bot-web-ui/src/components/dashboard/bot-stop-notifiaction.spec.tsx
  packages/bot-web-ui/src/components/dashboard/bot-stop-notification.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/run-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/strategy-notification.tsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/trade-animation/trade-animation.jsx
  packages/bot-web-ui/src/components/trade-animation/trade-animation.scss
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/toolbar-store.ts
  packages/components/src/components/icon/common/ic-bot-stop.svg
Labels: Bot, Components

#9829 Thisyahlen/wallet-list-desktop
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/WalletList/WalletList.scss
  packages/wallets/src/components/WalletList/WalletList.tsx
  packages/wallets/src/components/WalletList/index.ts
Labels: AppStore

#9847 Farhan/Added Wallet Carousel to @deriv/wallets
  packages/wallets/package-lock.json
  packages/wallets/package.json
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/AccountsList/AccountsList.scss
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/AccountsList/index.ts
  packages/wallets/src/components/WalletCarousel/WalletsCarousel.scss
  packages/wallets/src/components/WalletCarousel/WalletsCarousel.tsx
  packages/wallets/src/components/WalletCarousel/index.ts
Labels: AppStore

#9866 thisyahlen/chore: update wallet loginids
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
  packages/shared/src/utils/config/config.ts
Labels: Core, Shared

#9398 Farabi/rupato/bot 313 update tour step
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
Labels: Bot

#9871 adrienne / added svg bundling for wallets
  packages/appstore/webpack.config.js
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/app-content.scss
  packages/wallets/src/public/ic-appstore-deriv-logo.svg
  packages/wallets/src/public/ic-appstore-deriv-trading-logo.svg
  packages/wallets/src/public/ic-brand-derivgo.svg
Labels: AppStore

#9746 farabi/bot 444/highlight the tutorials tab
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useAccountTypes.ts
  packages/api/src/hooks/useAllAvailableAccounts.ts
  packages/api/src/hooks/useAvailableAccounts.ts
  packages/api/src/hooks/useCurrencyConfig.ts
  packages/api/src/hooks/useGetAccountStatus.ts
  packages/api/src/hooks/useLandingCompany.ts
  packages/api/src/hooks/useSettings.ts
  packages/appstore/webpack.config.js
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-content.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/core/src/public/images/common/static_images/bot-builder-tour-step-4.gif
  packages/core/src/public/images/common/static_images/bot-builder-tour-step-5.gif
  packages/core/src/public/images/common/static_images/bot-builder-tour.png
  packages/core/src/public/images/common/static_images/builder-tour.png
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-1.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-3.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-5.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-6.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-7.png
  packages/core/src/public/images/common/static_images/dbot-onboard-tour.png
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-1.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-2.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-3.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-5.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-6.gif
  packages/core/src/public/images/common/static_images/loss_control.png
  packages/core/src/public/images/common/static_images/loss_control_purchase_conditions.png
  packages/core/src/public/images/common/static_images/loss_control_restart_trade_conditions.png
  packages/core/src/public/images/common/static_images/loss_control_trade_parameters.png
  packages/core/src/public/images/common/static_images/onboard-tour.png
  packages/core/src/public/videos/bot-builder-tour-step-4.mp4
  packages/core/src/public/videos/bot-builder-tour-step-5.mp4
  packages/core/src/public/videos/dbot-mobile-onboarding-step-1.mp4
  packages/core/src/public/videos/dbot-mobile-onboarding-step-2.mp4
  packages/core/src/public/videos/dbot-mobile-onboarding-step-3.mp4
  packages/core/src/public/videos/dbot-mobile-onboarding-step-5.mp4
  packages/core/src/public/videos/dbot-mobile-onboarding-step-6.mp4
  packages/core/src/public/videos/dbot-onboarding-tour-step-1.mp4
  packages/core/src/public/videos/dbot-onboarding-tour-step-2.mp4
  packages/core/src/public/videos/dbot-onboarding-tour-step-3.mp4
  packages/core/src/public/videos/dbot-onboarding-tour-step-5.mp4
  packages/core/src/public/videos/dbot-onboarding-tour-step-6.mp4
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/app-content.scss
  packages/wallets/src/public/ic-appstore-deriv-logo.svg
  packages/wallets/src/public/ic-appstore-deriv-trading-logo.svg
  packages/wallets/src/public/ic-brand-derivgo.svg
Labels: Core, Bot, AppStore

#9880 Sandeep/bot 404/onboarding tour improvements
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/react-joyride-wrapper.tsx
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Bot, Components

#9885 Farabi/rupato/bot 313 update tour step
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
Labels: Bot

#9887 Farabi/bot 444/highlight the tutorials tab
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-content.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/core/src/public/images/common/static_images/bot-builder-tour-step-4.gif
  packages/core/src/public/images/common/static_images/bot-builder-tour-step-5.gif
  packages/core/src/public/images/common/static_images/bot-builder-tour.png
  packages/core/src/public/images/common/static_images/builder-tour.png
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-1.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-3.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-5.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-6.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-7.png
  packages/core/src/public/images/common/static_images/dbot-onboard-tour.png
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-1.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-2.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-3.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-5.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-6.gif
  packages/core/src/public/images/common/static_images/loss_control.png
  packages/core/src/public/images/common/static_images/loss_control_purchase_conditions.png
  packages/core/src/public/images/common/static_images/loss_control_restart_trade_conditions.png
  packages/core/src/public/images/common/static_images/loss_control_trade_parameters.png
  packages/core/src/public/images/common/static_images/onboard-tour.png
  packages/core/src/public/videos/bot-builder-tour-step-4.mp4
  packages/core/src/public/videos/bot-builder-tour-step-5.mp4
  packages/core/src/public/videos/dbot-mobile-onboarding-step-1.mp4
  packages/core/src/public/videos/dbot-mobile-onboarding-step-2.mp4
  packages/core/src/public/videos/dbot-mobile-onboarding-step-3.mp4
  packages/core/src/public/videos/dbot-mobile-onboarding-step-5.mp4
  packages/core/src/public/videos/dbot-mobile-onboarding-step-6.mp4
  packages/core/src/public/videos/dbot-onboarding-tour-step-1.mp4
  packages/core/src/public/videos/dbot-onboarding-tour-step-2.mp4
  packages/core/src/public/videos/dbot-onboarding-tour-step-3.mp4
  packages/core/src/public/videos/dbot-onboarding-tour-step-5.mp4
  packages/core/src/public/videos/dbot-onboarding-tour-step-6.mp4
Labels: Core, Bot

#9894 Sandeep/bot 404/onboarding tour improvements 1
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/react-joyride-wrapper.tsx
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
Labels: Bot

#9883 Shafin/bot 531/chore toolbar widget test
  packages/bot-web-ui/src/components/chart/__tests__/toolbar-widgets.spec.tsx
Labels: Bot

#9884 chore: contract card loading tests
  packages/bot-web-ui/src/components/contract-card-loading/__tests__/contract-card-loading.spec.tsx
  packages/bot-web-ui/src/components/contract-card-loading/contract-card-loading.tsx
Labels: Bot

#9886 Farabi/bot 533/contract result overlay test case
  packages/bot-web-ui/src/components/contract-result-overlay/contract-result-overlay.spec.tsx
Labels: Bot

#9893 Maryia/Bot-535/test: react-joyride-wrapper component
  packages/bot-web-ui/src/components/dashboard/__tests__/react-joyride-wrapper.spec.tsx
Labels: Bot

#9892 Maryia/BOT-537/test: RunStrategy
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/run-strategy.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/run-strategy.tsx
Labels: Bot

#9888 Farabi/bot 536/test case for icon button
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/icon-button.tsx
Labels: Bot

#9898 henry/webrel-1160/hotfix: space issue dropdown
  packages/components/src/components/dropdown/dropdown.scss
Labels: Trader, Components

#9876 Ameerul /WEBREL-1159 Sort by column alignment in P2P Buy/Sell page is off
  packages/p2p/src/components/buy-sell/buy-sell-header.scss
  packages/p2p/src/components/buy-sell/currency-dropdown.scss
  packages/p2p/src/components/buy-sell/sort-dropdown.scss
Labels: P2P

#9908 george / PRODQA-1316 / Transfer from Tradershub validation
  packages/appstore/src/components/account-transfer-modal/__tests__/account-transfer-modal.spec.tsx
  packages/appstore/src/components/account-transfer-modal/account-transfer-modal.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
Labels: AppStore
