Repository deriv-com/deriv-app, pull requests merged in 2023-05, with the labels that each got.

#8395 Hirad/94054/Added localize to demo text
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.tsx
Labels: AppStore

#8407 Mahdiyeh/ fix: account swircher blincking
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
Labels: Core

#7939 Suisin/90979/asterisk title getting overlapped
  packages/account/src/Components/poi/status/unsupported/card-details/card-details.scss
  packages/account/src/Styles/account.scss
  packages/cashier/src/components/cashier-search-box/cashier-search-box.scss
  packages/cashier/src/components/crypto-fiat-converter/crypto-fiat-converter.scss
  packages/cashier/src/containers/cashier/cashier.scss
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-form/payment-agent-transfer-form.scss
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/crypto-withdraw-form.scss
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/crypto-withdraw-form.tsx
  packages/components/src/components/autocomplete/autocomplete.scss
  packages/components/src/components/date-picker/date-picker-native.jsx
  packages/components/src/components/date-picker/date-picker.scss
  packages/components/src/components/field/field.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/input.tsx
  packages/components/src/components/password-input/password-input.scss
  packages/components/src/components/search-box/search-box.scss
  packages/components/src/components/select-native/select-native.scss
  packages/components/src/components/select-native/select-native.tsx
  packages/core/src/sass/details-form.scss
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/floating-rate/floating-rate.scss
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.scss
  packages/p2p/src/components/modal-manager/modals/currency-selector-modal/currency-selector.scss
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal-search.scss
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.scss
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-profile/my-profile-form/my-profile-form.scss
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
  packages/p2p/src/components/nickname-form/nickname-form.scss
Labels: Core, Components, P2P, Account

#8030 george / rm91310 / remove continueRoute method from cashier general-store
  packages/cashier/src/stores/__tests__/general-store.spec.ts
  packages/cashier/src/stores/general-store.ts
  packages/core/src/App/Containers/RealAccountSignup/finished-add-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/finished-set-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#8188 Ameerul /Task P2PS-490 Handle cookie to be removed when user logs out
  packages/core/src/Stores/client-store.js
Labels: Core

#8333 Amina 90109 consisitency in error messages
  packages/account/src/Components/currency-selector/__tests__/currency-selector.spec.tsx
  packages/account/src/Components/currency-selector/currency-selector.tsx
  packages/account/src/Types/common-prop.type.ts
  packages/cashier/src/containers/routes/__tests__/routes.spec.tsx
  packages/cashier/src/containers/routes/error-component/__tests__/error-component.spec.tsx
  packages/cashier/src/containers/routes/error-component/error-component.tsx
  packages/cfd/src/Components/Errors/error-component.jsx
  packages/cfd/src/Containers/__tests__/cfd-server-error-dialog.spec.js
  packages/cfd/src/Containers/cfd-server-error-dialog.tsx
  packages/components/src/components/icon/common/ic-invalid-error.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/page-error-container/index.ts
  packages/components/src/components/page-error-container/page-error-container.tsx
  packages/components/src/components/unhandled-error-modal/__tests__/unhandled-error-modal.spec.tsx
  packages/components/src/components/unhandled-error-modal/index.ts
  packages/components/src/components/unhandled-error-modal/unhandled-error-modal.scss
  packages/components/src/components/unhandled-error-modal/unhandled-error-modal.tsx
  packages/components/src/index.js
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Elements/Errors/error-component.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/signup-error-content.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/sass/account-wizard.scss
  packages/reports/src/Components/Errors/error-component.jsx
  packages/shared/src/utils/constants/error.ts
  packages/shared/src/utils/constants/index.ts
  packages/shared/src/utils/constants/signup_fields.ts
  packages/trader/src/App/Components/Elements/Errors/error-component.jsx
Labels: Trader, Core, Shared, Components, Account

#7927 george / rm91014 / replace "should_set_currency_modal_title_change" with hook
  packages/cashier/src/stores/__tests__/general-store.spec.ts
  packages/cashier/src/stores/general-store.ts
  packages/core/src/App/Containers/SetAccountCurrencyModal/set-currency-modal.jsx
Labels: Core

#7953 Suisin/chore: changed content message for create real account warning pop up…
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/warning-close-create-real-account-content.jsx
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/warning-close-create-real-account-modal.scss
Labels: Core

#7682 fix: after going back to myprofile from mycounterparties no clicks de…
  packages/p2p/src/components/block-user/block-user-empty/block-user-empty.jsx
  packages/p2p/src/components/my-profile/block-user/block-user.jsx
Labels: P2P

#8034 fix: Move NEW! button from multipleirs to options
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
Labels: Trader

#8201 Sergei / wall 147 / in progress and migrated banner
  packages/appstore/src/assets/svgs/wallets/image-types.tsx
  packages/appstore/src/assets/svgs/wallets/index.tsx
  packages/appstore/src/assets/svgs/wallets/wallets-ready-desktop-eu.svg
  packages/appstore/src/assets/svgs/wallets/wallets-ready-desktop.svg
  packages/appstore/src/assets/svgs/wallets/wallets-ready-mobile-eu.svg
  packages/appstore/src/assets/svgs/wallets/wallets-ready-mobile.svg
  packages/appstore/src/assets/svgs/wallets/wallets-upgrade-desktop.svg
  packages/appstore/src/assets/svgs/wallets/wallets-upgrade-mobile.svg
  packages/appstore/src/components/wallets-banner/__tests__/wallets-banner.spec.tsx
  packages/appstore/src/components/wallets-banner/index.ts
  packages/appstore/src/components/wallets-banner/wallets-banner-ready.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner.scss
  packages/appstore/src/components/wallets-banner/wallets-banner.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/appstore/src/modules/traders-hub/traders-hub.scss
  packages/appstore/src/types/common.types.ts
  packages/components/src/components/icon/appstore/ic-appstore-tick-white.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
Labels: Shared, Components, AppStore

#7903 Rupato/90819 /fix: mobile and desktop scroll
  packages/bot-web-ui/jest.config.js
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/dashboard-component.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/user-guide.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/user-guide.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
  packages/bot-web-ui/src/components/trade-animation/trade-animation.jsx
  packages/bot-web-ui/src/utils/journal-notifications.js
Labels: Bot

#8419 Ako/ update service name on Datadog config
  packages/core/src/Utils/Datadog/index.ts
Labels: Core

#7969 likhith/fix: :bug: fixed missing translation
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
  packages/trader/src/sass/app/_common/components/strike.scss
Labels: Trader, Core, Account

#7619 Sergei / 67781 / live chat color
  packages/core/src/App/Components/Elements/LiveChat/use-livechat.ts
  packages/core/src/App/Containers/Routes/routes.jsx
  packages/shared/src/utils/url/url.ts
Labels: Core, Shared, P2P

#8428 Farabi/94164/fix remove congrats dialog modal
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#8384 george / WALL-520 / create badge component
  packages/components/src/components/badge/__tests__/badge.spec.tsx
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/badge/badge.tsx
  packages/components/src/components/badge/index.ts
  packages/components/src/index.js
Labels: Components

#8437 Farzin/94196/Console error when open staging
  packages/core/src/Stores/client-store.js
  packages/shared/package.json
Labels: Core, Shared

#8450 Farabi/94160/fix yellow dots on gif in firefox
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/core/src/public/images/common/static_images/dbot-onboarding-step-1.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-step-2.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-step-5.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-1.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-2.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-3.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-5.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-6.gif
Labels: Core, Bot

#8444 FarhanNurzi/ is_p2p_disabled cookie doesn't get removed when user logs out
  packages/core/src/Stores/client-store.js
Labels: Core

#8447 Sergei / Livechat reinit without page refresh when user changes theme or language
  packages/core/src/App/Components/Elements/LiveChat/use-livechat.ts
Labels: Core

#8460 Farabi/94235/fix blurred gif
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-1.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-2.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-5.gif
Labels: Core, Bot

#8455 feat: setup routing new bot builder, market dropdown
  packages/core/build/config.js
  packages/core/globals.d.ts
  packages/core/package.json
  packages/core/src/App/Constants/platform-config.js
  packages/core/src/App/Constants/routes-config.js
  packages/new-bot-web-ui/package.json
  packages/new-bot-web-ui/src/app/app.js
  packages/new-bot-web-ui/src/components/blocks/blocks.scss
  packages/new-bot-web-ui/src/components/blocks/blocks.tsx
  packages/new-bot-web-ui/src/components/blocks/index.ts
  packages/new-bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/new-bot-web-ui/src/components/index.js
  packages/new-bot-web-ui/src/stores/app-store.js
  packages/new-bot-web-ui/webpack.config.js
  packages/shared/brand.config.json
  packages/shared/src/utils/brand/brand.ts
  packages/shared/src/utils/platform/platform.ts
  packages/shared/src/utils/routes/routes.ts
  packages/translations/scripts/extract-string.js
Labels: Core, Shared, Translations

#8462 Farabi/94239/fix multiple tour modal in bot builder
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#8465 Farabi/94240/fix change bot tour to dark in dark theme
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
Labels: Bot

#8466 george / rm94252 / smartchart constant loading after switching the language
  packages/core/src/Stores/common-store.js
Labels: Core

#8472 Revert "Sergei / Livechat reinit without page refresh when user changes theme or language"
  packages/core/src/App/Components/Elements/LiveChat/use-livechat.ts
Labels: Core

#8473 Revert "Sergei / 67781 / live chat color"
  packages/core/src/App/Components/Elements/LiveChat/use-livechat.ts
  packages/core/src/App/Containers/Routes/routes.jsx
  packages/shared/src/utils/url/url.ts
Labels: Core, Shared

#8479 Ako/ use circleci CIRCLE_TAG as version in datadog
  packages/core/build/constants.js
  packages/core/src/Utils/Datadog/index.ts
Labels: Core

#8461 Maryia/94162/fix: unable to see chart setting modal on any devices
  packages/bot-web-ui/src/components/chart/chart.scss
  packages/bot-web-ui/src/stores/save-modal-store.ts
Labels: Bot

#8467 Niloofar Sadeghi / Bug - Getting "Sorry for interruption" error message while trying to open P2P page on responsive
  packages/components/src/components/data-list/data-list.tsx
  packages/core/src/App/Containers/Modals/trading-assessment-existing-user.jsx
Labels: Core, Components, Account

#8498 Farabi/94284/fix minor language issue in bot steps
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
Labels: Bot

#8451 farrah/94203/fix overlapping textarea values
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/edit-payment-method-form.jsx
Labels: P2P

#8508 likhith/fix: :art: resolved incorrect CSS style
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
Labels: Trader

#8513 Farzin/94405/Deriv P2P tab is not loading for first time login in mobile
  packages/core/src/App/app.jsx
Labels: Core

#8516 chore: fix error message for unavailable platform
  packages/core/src/App/Components/Elements/Errors/error-component.jsx
Labels: Core

#8512 Farabi/94408/fix change aud to usd on bot tour
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
Labels: Bot

#8356 henry/93321/fix: unable to view chart for digit contracts in mobile for non tick …
  packages/trader/src/Modules/SmartChart/Components/toolbar-widgets.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader

#8433 thisyahlen/fix: able to create EU real account from pop up after failing trading…
  packages/core/src/App/Containers/Modals/ready-to-deposit-modal/ready-to-deposit-modal.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#8438 Suisin/chore: mobile search function for residence and citizen
  packages/core/src/App/Containers/CitizenshipModal/set-citizenship-form.jsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
Labels: Core

#8524 Farabi/94395/fix blocks menu issue
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/css.js
Labels: Bot

#8484 Maryia/94248/fix: there is collapsable menu present on quick strategy page
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
Labels: Bot

#8310 refactor: removing websocket error log from trackjs
  packages/core/src/Services/ws-methods.js
  packages/shared/src/services/index.ts
  packages/shared/src/services/trackjs.ts
  types/global.d.ts
Labels: Core, Shared

#8528 Bala/update charts version - 1.2.0
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#8488 Maryia/94247/fix: on changing asset type, the duration and trade types dont get updated
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/__tests__/toolbar.spec.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/components.types.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/container.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.types.ts
Labels: Bot

#8499 Ameerul /Bug P2PS-598 Confirmation popup showing 2 times in DP2P
  packages/p2p/src/components/modal-manager/modals/email-link-verified-modal/email-link-verified-modal.jsx
Labels: P2P

#8189 Niloofar Sadeghi | DP2P - Audit NPM Packages
  package-lock.json
  package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/cashier/package-lock.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/shared/src/utils/url/__tests__/url.js
  packages/trader/package.json
Labels: Trader, Core, Bot, Shared, Components, P2P, Account, AppStore

#8446 fix: :bug: adds optional chaining for landing_companies. variable
  packages/core/src/Stores/client-store.js
Labels: Core

#8264 Amina/fix: password validation to match BE
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
  packages/shared/src/utils/validation/declarative-validation-rules.ts
Labels: Shared

#8341 Suisin/chore: resolve poa screen incorrect display
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
Labels: Account

#8491 Shayan/feq116/add test for exchange rates hooks
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/hooks/src/__tests__/useCFDAccounts.spec.tsx
  packages/hooks/src/__tests__/useCFDAllAccounts.spec.tsx
  packages/hooks/src/__tests__/useCFDDemoAccounts.spec.tsx
  packages/hooks/src/__tests__/useCFDRealAccounts.spec.tsx
  packages/hooks/src/__tests__/useExchangeRate.spec.tsx
  packages/hooks/src/__tests__/usePlatformAccounts.spec.tsx
  packages/hooks/src/__tests__/usePlatformDemoAccount.spec.tsx
  packages/hooks/src/__tests__/usePlatformRealAccounts.spec.tsx
  packages/hooks/src/__tests__/useTotalAccountBalance.spec.tsx
  packages/hooks/src/__tests__/useTotalAssetCurrency.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useCFDAccounts.ts
  packages/hooks/src/useTotalAccountBalance.ts
  packages/stores/src/mockStore.ts
  packages/stores/src/storeProvider.tsx
  packages/stores/types.ts
Labels: AppStore

#8315 thisyahlen/chore: add test coverage for balance-text component
  packages/appstore/src/components/elements/text/__tests__/balance-text.spec.tsx
  packages/appstore/src/components/elements/text/balance-text.tsx
Labels: AppStore

#8449 thisyahlen/chore: add test coverage for currency switcher container
  packages/appstore/src/components/containers/__tests__/currency-switcher-container.spec.tsx
  packages/appstore/src/components/containers/currency-switcher-container.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: AppStore

#8523 Farabi/94449/fix user guide button to redirect to guide tab
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/dashboard-component.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/user-guide.tsx
Labels: Bot

#8552 Revert "thisyahlen/chore: add test coverage in asset-summary"
  packages/appstore/src/components/main-title-bar/__tests__/asset-summary.spec.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: AppStore

#8537 Ako/ add ability to track staging and production with different service names
  packages/core/build/constants.js
  packages/core/src/Utils/Datadog/index.ts
Labels: Core

#8343 Aum/wall 228/crypto cashier changes for third party processor coinspaid
  packages/cashier/src/components/alert-banner/__tests__/alert-banner.spec.tsx
  packages/cashier/src/components/alert-banner/alert-banner.scss
  packages/cashier/src/components/alert-banner/alert-banner.tsx
  packages/cashier/src/components/crypto-transactions-history/__tests__/crypto-transactions-renderer.spec.tsx
  packages/cashier/src/components/crypto-transactions-history/crypto-transactions-history.scss
  packages/cashier/src/components/crypto-transactions-history/crypto-transactions-history.tsx
  packages/cashier/src/components/crypto-transactions-history/crypto-transactions-renderer.tsx
  packages/cashier/src/pages/deposit/crypto-deposit/__tests__/crypto-deposit.spec.tsx
  packages/cashier/src/pages/deposit/crypto-deposit/crypto-deposit.scss
  packages/cashier/src/pages/deposit/crypto-deposit/crypto-deposit.tsx
  packages/components/src/components/icon/common/ic-alert-warning-dark.svg
  packages/components/src/components/icon/icons.js
Labels: Components

#8558 Farabi/94503/fix update loss control faq section
  packages/core/src/public/images/common/static_images/loss_control.png
  packages/core/src/public/images/common/static_images/loss_control_purchase_conditions.png
  packages/core/src/public/images/common/static_images/loss_control_restart_trade_conditions.png
  packages/core/src/public/images/common/static_images/loss_control_trade_parameters.png
Labels: Core

#8556 Farabi/94166/fix add gif for mobile onboarding tour
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-1.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-2.png
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-3.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-4.png
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-5.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-6.gif
  packages/core/src/public/images/common/static_images/ic-new-user-step-five.png
  packages/core/src/public/images/common/static_images/ic-new-user-step-four.png
  packages/core/src/public/images/common/static_images/ic-new-user-step-seven.png
  packages/core/src/public/images/common/static_images/ic-new-user-step-six.png
  packages/core/src/public/images/common/static_images/ic-new-user-step-three.png
  packages/core/src/public/images/common/static_images/ic-new-user-step-two.png
  packages/core/src/public/images/common/static_images/ic_onb_step_1.png
  packages/core/src/public/images/common/static_images/ic_onb_step_2.png
  packages/core/src/public/images/common/static_images/ic_onb_step_3.png
  packages/core/src/public/images/common/static_images/ic_onb_step_4.png
  packages/core/src/public/images/common/static_images/ic_onb_step_5.png
  packages/core/src/public/images/common/static_images/ic_onb_step_6.png
  packages/core/src/public/images/common/static_images/ic_onb_step_7.png
Labels: Core, Bot

#8507 chore: remove unused icons from wallet folder inside components package
  packages/cashier/src/components/cashier-onboarding/__tests__/cashier-onboarding-details.spec.tsx
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding-providers.ts
  packages/components/src/components/icon/cashier/ic-cashier-credit-debit-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-credit-debit-light.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/wallet/ic-wallet-clear-funds.svg
  packages/components/src/components/icon/wallet/ic-wallet-credit.svg
  packages/components/src/components/icon/wallet/ic-wallet-crypto-light.svg
  packages/components/src/components/icon/wallet/ic-wallet-deriv.svg
  packages/components/src/components/icon/wallet/ic-wallet-dp2p-light.svg
  packages/components/src/components/icon/wallet/ic-wallet-explore.svg
  packages/components/src/components/icon/wallet/ic-wallet-fasapay-dark.svg
  packages/components/src/components/icon/wallet/ic-wallet-fasapay-light.svg
  packages/components/src/components/icon/wallet/ic-wallet-jeton-dark.svg
  packages/components/src/components/icon/wallet/ic-wallet-jeton-light.svg
  packages/components/src/components/icon/wallet/ic-wallet-markets.svg
  packages/components/src/components/icon/wallet/ic-wallet-neteller-dark.svg
  packages/components/src/components/icon/wallet/ic-wallet-neteller-light.svg
  packages/components/src/components/icon/wallet/ic-wallet-neteller.svg
  packages/components/src/components/icon/wallet/ic-wallet-payment-agent-light.svg
  packages/components/src/components/icon/wallet/ic-wallet-paytrust-dark.svg
  packages/components/src/components/icon/wallet/ic-wallet-paytrust-light.svg
  packages/components/src/components/icon/wallet/ic-wallet-platforms.svg
  packages/components/src/components/icon/wallet/ic-wallet-skrill-dark.svg
  packages/components/src/components/icon/wallet/ic-wallet-skrill-light.svg
  packages/components/src/components/icon/wallet/ic-wallet-sticpay-dark.svg
  packages/components/src/components/icon/wallet/ic-wallet-sticpay-light.svg
  packages/components/src/components/icon/wallet/ic-wallet-sticpay.svg
  packages/components/src/components/icon/wallet/ic-wallet-trade-types.svg
  packages/components/src/components/icon/wallet/ic-wallet-transactions-empty.svg
  packages/components/src/components/icon/wallet/ic-wallet-wallets.svg
  packages/components/src/components/icon/wallet/ic-wallet-webmoney-light.svg
  packages/components/src/components/icon/wallet/ic-wallet-webmoney.svg
  packages/components/src/components/icon/wallet/ic-wallet-zingpay-dark.svg
  packages/components/src/components/icon/wallet/ic-wallet-zingpay-light.svg
Labels: Components

#8566 Farabi/fix image height on responsive
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-1.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-2.png
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-3.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-4.png
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-5.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-6.gif
Labels: Core, Bot

#8569 Ako/ Distinguish dd staging logs
  packages/core/src/Utils/Datadog/index.ts
Labels: Core

#8511 fix: refactored dark mode
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/toolbar-store.ts
  packages/components/stories/icon/icons.js
Labels: Bot, Components

#8571 Farabi/94572/fix back button should not stop bot
  packages/bot-web-ui/src/components/dashboard/dashboard-component/stop-bot-modal-content.tsx
Labels: Bot

#8458 maryia/dtra-82/fix: stake value for non-eng languages
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.js
Labels: Trader

#8183 fix: redirect to traders hub by default on login
  packages/core/src/Stores/client-store.js
Labels: Core

#7958 Hamza/90782/useless tooltip deal cancellation
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.tsx
Labels: Components

#8206 chore: fix error rules delay on amount
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#8411 Aizad/ Chore: Added a wrapper for the logo in traders hub and scss styles
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/sass/app/_common/layout/trading-hub-header.scss
Labels: Core

#7673 Ameerul /Task 77336 Error model content required when user tries to block an advertiser who is banned from P2P
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/modal-manager/modals/error-modal/error-modal.jsx
  packages/p2p/src/components/my-profile/block-user/block-user-list/block-user-list.jsx
  packages/p2p/src/components/my-profile/block-user/block-user.jsx
  packages/p2p/src/constants/api-error-codes.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-profile-store.js
Labels: Core, Shared, Translations, P2P, AppStore

#8413 thisyahlen/chore: add test coverage for demo account card
  packages/appstore/src/components/currency-switcher-card/demo/__tests__/demo-account-card.spec.tsx
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.tsx
  packages/stores/types.ts
Labels: AppStore

#8014 test: evgeniy/ 91704/ language settings radio button test coverage
  packages/account/src/Components/language-settings/__tests__/language-radio-button.spec.tsx
  packages/account/src/Components/language-settings/language-radio-button.tsx
Labels: Account

#8497 shahzaib/94216/ prevent closing signup flow modal on external link click
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#8371 fix: disabled buttons until chat url is updated
  packages/p2p/src/components/order-details/order-details-footer.jsx
Labels: P2P

#8443 thisyahlen/chore: add test coverage for account transfer modal
  packages/appstore/src/components/account-transfer-modal/__tests__/account-transfer-modal.spec.tsx
  packages/appstore/src/components/account-transfer-modal/account-transfer-modal.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: AppStore

#8414 Suisin/chore: solve input characters error at idv dropdown
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
Labels: Account

#8526 feat: :sparkles: adds new complaints policy for EU clients
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
  packages/core/src/sass/app/modules/complaints-policy.scss
Labels: Core

#8602 Ameerul /Bug 94561 Unable to access P2P on staging
  packages/p2p/src/stores/general-store.js
Labels: P2P

#8601 Farabi/94644/fix step count and image quality
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-2.png
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-4.png
Labels: Core, Bot

#8605 Shaheer/94647/complaints policy regression
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
  packages/core/src/sass/app/modules/complaints-policy.scss
Labels: Core

#8603 chore: fix issue when changing language
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#8578 Farabi/bot-210/fix step 1 tour repeating on mobile
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
Labels: Bot

#8584 Farabi/bot-194/fix remove vol 150(1s) and 250(1s) from asset list
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/container.tsx
Labels: Bot

#8610 fix: for-save-strategy-popup
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/save-modal-store.ts
Labels: Bot

#8625 Farabi/94642/fix hide first dot on progress bar carousel
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#8626 fix: for load strategy
  packages/bot-web-ui/src/components/chart/chart.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#8178 chore: create component for consent wallet popup
  packages/appstore/package.json
  packages/appstore/src/assets/svgs/wallets/index.tsx
  packages/appstore/src/assets/svgs/wallets/ready_to_update_wallets_image.svg
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/ready-to-update-wallets/index.ts
  packages/appstore/src/components/ready-to-update-wallets/ready-to-update-wallets.scss
  packages/appstore/src/components/ready-to-update-wallets/ready-to-update-wallets.tsx
  packages/appstore/src/components/ready-to-update-wallets/ready-to-upgrade-form.tsx
  packages/appstore/src/components/ready-to-update-wallets/test/ready-to-update-wallets.spec.tsx
  packages/appstore/src/constants/upgrade-info-lists-config.tsx
  packages/appstore/src/types/common.types.ts
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Docs, AppStore

#8478 thisyahlen/fix: account switcher in cashier not updating
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
Labels: Core

#8080 maryia/92124/fix: add long text support to AccumulatorsInfoDisplay
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulators-info-display.jsx
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader

#8062 henry/92122/fix: spacing issue in russian and french languages accumulator
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.tsx
  packages/components/src/components/contract-card/contract-card.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader, Components

#8530 Rupato/fix binary bot language switcher
  packages/shared/src/utils/url/helpers.ts
Labels: Shared

#8459 Ruapto/fix platform switcher bot on deriv
  packages/core/src/App/Containers/RealAccountSignup/finished-add-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/common-store.js
  packages/shared/src/utils/platform/platform.ts
Labels: Core, Shared, Components

#8489 Farzin/Hamid/wall 250/withdraw hooks
  packages/cashier/src/components/cashier-locked/__tests__/cashier-locked.spec.tsx
  packages/cashier/src/components/cashier-locked/cashier-locked.tsx
  packages/cashier/src/pages/withdrawal/__tests__/withdrawal.spec.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/__tests__/crypto-withdraw-form.spec.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/crypto-withdraw-form.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/cashier/src/stores/__tests__/withdraw-store.spec.ts
  packages/cashier/src/stores/withdraw-store.ts
  packages/core/src/Stores/client-store.js
  packages/hooks/src/__tests__/useCurrentAccountDetails.spec.tsx
  packages/hooks/src/__tests__/useNeedPOI.spec.tsx
  packages/hooks/src/__tests__/useWithdrawLocked.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useCashierLocked.ts
  packages/hooks/src/useCurrentAccountDetails.ts
  packages/hooks/src/useIsSystemMaintenance.ts
  packages/hooks/src/useNeedPOI.ts
  packages/hooks/src/useTotalAccountBalance.ts
  packages/hooks/src/useWithdrawLocked.ts
  packages/stores/types.ts
Labels: Core

#8351 thisyahlen/chore: add test coverage for real-account-card
  packages/appstore/src/assets/svgs/currency/index.tsx
  packages/appstore/src/components/containers/currency-switcher-container.tsx
  packages/appstore/src/components/currency-switcher-card/real/__tests__/real-account-card.spec.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-card.tsx
  packages/stores/types.ts
Labels: AppStore

#8308 thisyahlen/chore: add test coverage for real_account_switcher
  packages/appstore/src/components/currency-switcher-card/real/__tests__/real-account-switcher.spec.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-switcher.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: AppStore

#8163 Henry/92565/fix: disable tooltip in desktop if amount is not valid, show rate for…
  packages/trader/src/App/Components/Form/fieldset.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.jsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/RadioGroupWithInfoMobile/radio-group-with-info-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulator.jsx
  packages/trader/src/Modules/Trading/Containers/purchase.jsx
  packages/trader/src/Modules/Trading/Containers/radio-group-options-modal.jsx
Labels: Trader

#8313 thisyahlen/chore: add test coverage for currency switcher card index component
  packages/appstore/src/components/currency-switcher-card/__tests__/index.spec.tsx
  packages/appstore/src/components/currency-switcher-card/index.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: AppStore

#8631 fix: for xml error
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#8611 Suisin/chore: solve deriv bot input field issues
  packages/bot-skeleton/src/scratch/hooks/data_category.js
  packages/components/src/components/input/input.tsx
Labels: Bot, Components

#8652 fix: fix--sync
  packages/core/src/Modules/BinaryBotIFrame/BinaryBotIFrame.jsx
Labels: Core

#8658 Ameerul /Instruction text is out of the Textbox while Creating Ad in P2P
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.scss
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-profile/my-profile-form/my-profile-form.scss
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
  packages/p2p/src/components/nickname-form/nickname-form.scss
Labels: P2P

#8684 Henry/fix: navigate to accu trade type in reports page after purchasing a c…
  packages/reports/src/Containers/open-positions.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Components

#8701 Henry/95026/tooltip icon flickering
  packages/trader/src/App/Components/Form/fieldset.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulator.jsx
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader

#8442 Rostislav / WALL-361 / Cashier Fiat Transfer amount input field
  packages/components/src/components/amount-input/__tests__/amount-input.test.tsx
  packages/components/src/components/amount-input/amount-input.scss
  packages/components/src/components/amount-input/amount-input.tsx
  packages/components/src/components/amount-input/index.ts
  packages/components/src/components/input/input.tsx
  packages/components/src/index.js
Labels: Components, AppStore

#8580 Aum/wall 278/create wallet card component
  packages/components/src/components/gradient-background/gradient-background.scss
  packages/components/src/components/wallet-card/index.ts
  packages/components/src/components/wallet-card/wallet-card.scss
  packages/components/src/components/wallet-card/wallet-card.tsx
  packages/components/src/components/wallet-icon/wallet-icon.scss
  packages/components/src/components/wallet-icon/wallet-icon.tsx
  packages/components/src/index.js
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
Labels: Shared, Components, AppStore

#8686 fix: remove loader on signup
  packages/core/src/Stores/client-store.js
Labels: Core

#8725 Sergei / wall-738 and wall-749 / Add char 's' to 'Total asset' and change trade to open
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
  packages/appstore/src/components/onboarding-new/static-trading-app-card.tsx
  packages/appstore/src/components/trade-button/trade-button.tsx
Labels: AppStore

#8198 Swap free
  packages/appstore/package.json
  packages/appstore/src/assets/svgs/trading-platform/ic-appstore-swap-free.svg
  packages/appstore/src/assets/svgs/trading-platform/index.tsx
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.tsx
  packages/appstore/src/components/modals/account-type-modal/types.ts
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.scss
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/helpers/account-helper.ts
  packages/appstore/src/types/common.types.ts
  packages/cashier/src/assets/svgs/trading-platform/ic-appstore-swap-free.svg
  packages/cashier/src/assets/svgs/trading-platform/index.tsx
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-swap-free.svg
  packages/cfd/src/Assets/svgs/trading-platform/index.tsx
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Components/cfd-dxtrade-demo-account-display.tsx
  packages/cfd/src/Components/cfd-mt5-demo-account-display.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Constants/cfd-specifications.ts
  packages/cfd/src/Constants/jurisdiction-contents.ts
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/derivx-trade-modal.tsx
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-banner.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-foot-note.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/cfd/src/sass/cfd-dashboard.scss
  packages/cfd/types.ts
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-swap-free-platform.svg
  packages/components/stories/icon/icons.js
  packages/core/src/Constants/cfd-text.js
  packages/core/src/Stores/Helpers/client.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/__tests__/useHasSwapFreeAccount.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useHasSwapFreeAccount.ts
  packages/shared/src/utils/cfd/cfd.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: AppStore

#8035 Kate/91594/Cannot input barrier manually
  packages/components/src/components/input-field/input-field.jsx
  packages/reports/src/sass/app/modules/trading-mobile.scss
  packages/trader/src/Modules/Trading/Components/Form/LabeledQuantityInputMobile/labeled-quantity-input-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/barrier.jsx
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.js
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Trader, Components

#8720 fix: instructions overlap in buy sell modal fixed
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.scss
Labels: P2P

#8495 Farzin/WALL-651/95140/Fix `@deriv/api` type issue
  packages/api/jest.config.js
  packages/api/src/__tests__/useFetch.spec.tsx
  packages/api/src/__tests__/useRequest.spec.tsx
  packages/api/src/__tests__/useSubscription.spec.tsx
  packages/api/src/useFetch.ts
  packages/api/src/useRequest.ts
  packages/api/src/useSubscription.ts
  packages/api/src/utils.ts
  packages/api/tsconfig.json
  packages/api/types.ts
  packages/cashier/src/pages/deposit/crypto-deposit/crypto-deposit.tsx
  packages/hooks/jest.config.js
  packages/hooks/src/useIsP2PEnabled.ts
  packages/hooks/src/usePaymentAgentList.ts
  packages/hooks/src/usePaymentAgentTransferVisible.ts
  packages/hooks/tsconfig.json
  packages/stores/jest.config.js
  packages/stores/src/__tests__/useStore.spec.tsx
  packages/stores/src/index.ts
  packages/stores/src/mockStore.ts
  packages/stores/src/providers/ExchangeRatesProvider.tsx
  packages/stores/src/storeProvider.tsx
  packages/stores/src/stores/BaseStore.ts
  packages/stores/src/stores/ExchangeRatesStore.ts
  packages/stores/src/useStore.ts
  packages/stores/tsconfig.json
  packages/stores/types.ts
  packages/trader/build/loaders-config.js
  tsconfig.json
  types/utils.d.ts
Labels: Trader

#8412 thisyahlen/chore: add test coverage for add-options-account
  packages/appstore/src/components/add-options-account/__tests__/add-options-account.spec.tsx
  packages/appstore/src/components/add-options-account/add-options-account.tsx
Labels: AppStore

#8692 thisyahlen/chore: add test coverage for empty state
  packages/appstore/src/components/empty-state/__tests__/empty-state.spec.tsx
  packages/appstore/src/components/empty-state/empty-state.tsx
Labels: AppStore

#8042 henry/91707/test: add test coverage for PoaNotRequired component
  packages/account/src/Components/poa/status/not-required/__tests__/not-required.spec.tsx
Labels: Account

#8339 Farzin/WALL-652/95141/Add TypeScript check in CI job
  .circleci/config.yml
  packages/hooks/src/__tests__/useAccountTransferVisible.spec.tsx
  packages/hooks/src/__tests__/useHasActiveRealAccount.spec.tsx
  packages/hooks/src/__tests__/useHasFiatCurrency.spec.tsx
  packages/hooks/src/__tests__/useHasMaltaInvestAccount.spec.tsx
  packages/hooks/src/__tests__/useHasUSDCurrency.spec.tsx
  packages/hooks/src/__tests__/useIsP2PEnabled.spec.tsx
  packages/hooks/src/__tests__/useOnrampVisible.spec.tsx
  packages/hooks/src/__tests__/useP2PNotificationCount.spec.tsx
  packages/hooks/src/__tests__/usePaymentAgentList.spec.tsx
  packages/hooks/src/__tests__/usePaymentAgentTransferVisible.spec.tsx
  packages/hooks/src/__tests__/useVerifyEmail.spec.tsx
  scripts/check-tests.sh
Labels: Core, AppStore

#8699 Ako/fix codecov
  packages/api/src/APIProvider.tsx
  packages/components/src/components/auto-height-wrapper/auto-height-wrapper.tsx
  packages/components/src/components/auto-height-wrapper/index.ts
  packages/components/src/index.js
Labels: Components

#8659 thisyahlen/chore: add test coverage for get more accounts
  packages/appstore/src/components/get-more-accounts/__tests__/get-more-accounts.spec.tsx
Labels: AppStore

#8657 thisyahlen/chore: add test coverage for account-type-dropdown
  package-lock.json
  packages/appstore/package.json
  packages/appstore/src/components/main-title-bar/__tests__/account-type-dropdown.spec.tsx
  packages/appstore/src/components/main-title-bar/account-type-dropdown.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: AppStore

#8745 Revert "Farzin/Hamid/wall 250/withdraw hooks"
  packages/cashier/src/components/cashier-locked/__tests__/cashier-locked.spec.tsx
  packages/cashier/src/components/cashier-locked/cashier-locked.tsx
  packages/cashier/src/pages/withdrawal/__tests__/withdrawal.spec.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/__tests__/crypto-withdraw-form.spec.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/crypto-withdraw-form.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/cashier/src/stores/__tests__/withdraw-store.spec.ts
  packages/cashier/src/stores/withdraw-store.ts
  packages/core/src/Stores/client-store.js
  packages/hooks/src/__tests__/useCurrentAccountDetails.spec.tsx
  packages/hooks/src/__tests__/useNeedPOI.spec.tsx
  packages/hooks/src/__tests__/useWithdrawLocked.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useCashierLocked.ts
  packages/hooks/src/useCurrentAccountDetails.ts
  packages/hooks/src/useIsSystemMaintenance.ts
  packages/hooks/src/useNeedPOI.ts
  packages/hooks/src/useTotalAccountBalance.ts
  packages/hooks/src/useWithdrawLocked.ts
  packages/stores/types.ts
Labels: Core

#8749 fix: fix serve error
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/index.ts
  packages/hooks/src/useCfdAccounts.ts
Labels: Core

#8757 Hirad/95173/Fixed the issue where swap free name is shown as empty
  packages/core/src/Stores/traders-hub-store.js
Labels: Core

#8758 hamid/wall-432/transfer-account-selector-refactor
  packages/components/src/components/app-linked-with-wallet-icon/app-linked-with-wallet-icon.scss
  packages/components/src/components/app-linked-with-wallet-icon/app-linked-with-wallet-icon.tsx
  packages/components/src/components/transfer-account-selector/index.ts
  packages/components/src/components/transfer-account-selector/transfer-account-selector.scss
  packages/components/src/components/transfer-account-selector/transfer-account-selector.tsx
  packages/components/src/components/wallet-icon/wallet-icon.scss
  packages/components/src/components/wallet-icon/wallet-icon.tsx
  packages/components/src/components/wallet-tile/index.ts
  packages/components/src/components/wallet-tile/wallet-tile.scss
  packages/components/src/components/wallet-tile/wallet-tile.tsx
  packages/components/src/index.js
Labels: Components

#8750 george / WALL-306 / add wallet cashier modal new
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/modals/wallet-modal/__tests__/wallet-modal-body.spec.tsx
  packages/appstore/src/components/modals/wallet-modal/__tests__/wallet-modal-header.spec.tsx
  packages/appstore/src/components/modals/wallet-modal/__tests__/wallet-modal.spec.tsx
  packages/appstore/src/components/modals/wallet-modal/index.ts
  packages/appstore/src/components/modals/wallet-modal/provider.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-body.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-header.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.scss
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.tsx
  packages/appstore/src/constants/utils.ts
  packages/appstore/src/public/images/index.ts
  packages/appstore/src/public/images/wallet-demo-bg-dark.svg
  packages/appstore/src/public/images/wallet-demo-bg-light.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/wallet/ic-wallet-modal-tether-dark.svg
  packages/components/src/components/mobile-dialog/mobile-dialog.tsx
  packages/components/src/components/watermark/watermark.scss
  packages/components/src/components/watermark/watermark.tsx
  packages/components/stories/icon/icons.js
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/Stores/ui-store.js
  packages/shared/src/styles/themes.scss
  packages/shared/src/utils/screen/responsive.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Shared, Components, AppStore

#8761 Bala/fix: livechat on changing account
  packages/core/src/App/Components/Elements/LiveChat/live-chat.jsx
  packages/core/src/App/Components/Elements/LiveChat/use-livechat.ts
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Labels: Core

#8770 Vinu/ fix: the position of flyout
  packages/bot-web-ui/src/components/flyout/flyout.jsx
Labels: Bot

#8780 Vinu/Dbot homepage pr review comments
  packages/components/src/components/collapsible/collapsible.tsx
  packages/core/package-lock.json
Labels: Core, Components

#8784 Farabi/95295/fix change to strategy in congrats popup
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
Labels: Bot

#8792 Vinu/ fix: close the dashboard dialog when xml is uploaded
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#8790 fix: change zindex to 1
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.scss
Labels: Bot

#8788 Rupato/fix: for icons on language change
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
Labels: Bot

#8440 Aizad/Chore: filter platforms for autralia
  packages/core/src/Stores/traders-hub-store.js
Labels: Core

#8703 Suisin/chore: remove dot from error message of empty address
  packages/core/src/Constants/form-error-messages.js
Labels: Core

#8751 Aum/wall 5/the upgrade modal which wallets will be created and linked
  packages/appstore/package.json
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-account/wallet-account.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-account/wallet-account.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/real-wallets-upgrade.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/wallet-linking-step/wallet-linking-step.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/wallet-linking-step/wallet-linking-step.tsx
  packages/appstore/src/constants/mock_wallet_migration_response.ts
  packages/components/src/components/icon/appstore/ic-appstore-wallets-link.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/rebranding/ic-rebranding-mt5-cfds.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-mt5-derived-dashboard.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-mt5-financial-dashboard.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-mt5-swap-free.svg
  packages/components/src/components/wallet-card/wallet-card.scss
  packages/components/src/components/wallet-card/wallet-card.tsx
  packages/components/stories/icon/icons.js
Labels: Components, Account, AppStore

#8786 Sergei/wall 273/ (NEW) Complete wallets
  packages/appstore/package.json
  packages/appstore/src/components/containers/__tests__/wallets.spec.tsx
  packages/appstore/src/components/containers/currency-switcher-container.tsx
  packages/appstore/src/components/containers/listing-container.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/containers/wallet.scss
  packages/appstore/src/components/containers/wallet.tsx
  packages/appstore/src/components/elements/text/__tests__/balance-text.spec.tsx
  packages/appstore/src/components/elements/text/balance-text.tsx
  packages/appstore/src/components/eu-disclaimer/__tests__/eu-disclaimer.spec.tsx
  packages/appstore/src/components/eu-disclaimer/eu-disclaimer.scss
  packages/appstore/src/components/eu-disclaimer/eu-disclaimer.tsx
  packages/appstore/src/components/eu-disclaimer/index.ts
  packages/appstore/src/components/trade-button/trade-button.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-content-divider.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-content.spec.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-transfer-block.spec.tsx
  packages/appstore/src/components/wallet-content/index.ts
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-content-divider.tsx
  packages/appstore/src/components/wallet-content/wallet-content.scss
  packages/appstore/src/components/wallet-content/wallet-content.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-transfer-block.tsx
  packages/appstore/src/components/wallet-header/__tests__/wallet-header.spec.tsx
  packages/appstore/src/components/wallet-header/wallet-currency-card.tsx
  packages/appstore/src/components/wallet-header/wallet-header-balance.tsx
  packages/appstore/src/components/wallet-header/wallet-header-buttons.tsx
  packages/appstore/src/components/wallet-header/wallet-header-title.tsx
  packages/appstore/src/components/wallet-header/wallet-header.scss
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/appstore/src/modules/traders-hub/account-with-wallets.tsx
  packages/appstore/src/modules/traders-hub/account-without-wallets.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/appstore/src/modules/traders-hub/traders-hub.scss
  packages/appstore/src/types/common.types.ts
  packages/hooks/src/__tests__/useContentFlag.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useContentFlag.ts
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: AppStore

#8763 feat: create success toast message for wallets
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#8482 Shahzaib/20696747/wall 500/remove platform icons for eu client
  packages/account/src/Sections/Security/Passwords/__tests__/deriv-password.spec.js
  packages/account/src/Sections/Security/Passwords/deriv-password.jsx
  packages/account/src/Sections/Security/Passwords/passwords.jsx
Labels: Account

#8713 FarhanNurzi/PRODQA-902/Improve the cancel order pop message
  packages/p2p/src/components/modal-manager/modals/order-details-cancel-modal/order-details-cancel-modal.jsx
Labels: P2P

#8729 thisyahlen/chore: deriv icon redirect to deriv com
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/sass/app/_common/layout/trading-hub-header.scss
Labels: Core

#8752 Sergei / wall - 734 / Change logo to new branding
  packages/appstore/src/modules/onboarding/empty-onboarding.tsx
  packages/appstore/src/modules/onboarding/onboarding.scss
Labels: AppStore

#8774 thisyahlen/fix: remove pointer events from onboarding buttons
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.scss
  packages/appstore/src/components/onboarding-new/static-dashboard.scss
  packages/appstore/src/components/onboarding-new/static-trading-app-card.scss
Labels: AppStore

#8765 Sergei / wall-578 / (Updated) Pop up for wallet migration failed
  packages/appstore/package.json
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/modals/wallets-migration-failed/__tests__/wallets-migration-failed.spec.tsx
  packages/appstore/src/components/modals/wallets-migration-failed/index.ts
  packages/appstore/src/components/modals/wallets-migration-failed/wallets-migration-failed.scss
  packages/appstore/src/components/modals/wallets-migration-failed/wallets-migration-failed.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, AppStore

#8779 chore: fix language error when clients sign up
  packages/core/src/Stores/client-store.js
Labels: Core

#8796 Bala/Update deriv-chart version - 1.2.2
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#7609 fix: fixed redirection back to dp2p
  packages/account/src/Components/poi/idv-status/idv-submit-complete/idv-submit-complete.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Styles/account.scss
  packages/core/src/Stores/common-store.js
  packages/p2p/src/components/verification/verification.jsx
  packages/shared/src/utils/platform/platform.ts
Labels: Core, Shared, P2P, Account

#8619 Suisin/chore: added vietnamese language to allowed language
  packages/translations/src/i18next/i18next.ts
Labels: Translations

#8712 Ameerul /P2PS-868 Add payment method modal is showing in buy/sell page
  packages/p2p/src/components/my-profile/my-profile.jsx
Labels: P2P
