Repository deriv-com/deriv-app, pull requests merged in 2023-06, with the labels that each got.

#8754 george / WALL-739 / clickable trade platform logo, title and description in Trader's hub
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.scss
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/constants/platform-config.ts
  packages/shared/src/utils/url/helpers.ts
Labels: Shared, AppStore

#8836 Shafin/bot 188/refactor connect removal in master
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/info-panel.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/delete-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local-footer.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/journal/journal.tsx
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/components/load-modal/local-footer.tsx
  packages/bot-web-ui/src/components/load-modal/local.tsx
  packages/bot-web-ui/src/components/self-exclusion/self-exclusion.jsx
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/components/summary/summary-card.types.ts
  packages/bot-web-ui/src/components/summary/summary.tsx
  packages/bot-web-ui/src/components/trade-animation/trade-animation.jsx
  packages/bot-web-ui/src/components/transactions/transaction.jsx
  packages/bot-web-ui/src/components/transactions/transactions.jsx
Labels: Bot, Components

#8833 Rupato/BOT-186/refactor--of-connect-function
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-footer.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/workspace-control.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#8832 Vinu/refactor: replaced connect blockly-loading,bot-footer-extensions,bot-…
  packages/bot-web-ui/src/components/blockly-loading/blockly-loading.tsx
  packages/bot-web-ui/src/components/bot-footer-extensions/bot-footer-extensions.tsx
  packages/bot-web-ui/src/components/bot-notification-messages/bot-notification-messages.tsx
  packages/bot-web-ui/src/components/chart/chart.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Bot

#8827 Vinu/refactor: replace connect function in bot-notification, faq-content, …
  packages/bot-web-ui/src/components/dashboard/bot-notification.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
Labels: Bot

#8826 Vinu/refactor: replaced connect function in download, flyout-block, flyout…
  packages/bot-web-ui/src/components/download/download.tsx
  packages/bot-web-ui/src/components/flyout/flyout-block.jsx
  packages/bot-web-ui/src/components/flyout/flyout.jsx
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-help-base.jsx
Labels: Bot

#8685 Jim/feq 181/enable source map generation for releases
  packages/account/build/loaders-config.js
  packages/account/build/webpack.config.js
  packages/appstore/webpack.config.js
  packages/bot-web-ui/webpack.config.js
  packages/cashier/build/loaders-config.js
  packages/cashier/build/webpack.config.js
  packages/cfd/build/loaders-config.js
  packages/cfd/build/webpack.config-test.js
  packages/cfd/build/webpack.config.js
  packages/core/build/loaders-config.js
  packages/core/build/webpack.config-test.js
  packages/core/build/webpack.config.js
  packages/p2p/webpack.config.js
  packages/reports/build/loaders-config.js
  packages/reports/build/webpack.config-test.js
  packages/reports/build/webpack.config.js
  packages/trader/build/loaders-config.js
  packages/trader/build/webpack.config-test.js
  packages/trader/build/webpack.config.js
Labels: Trader, Core, Bot, P2P, Account, AppStore

#8816 Farzin/wall 740/Deposit CTA should bring user to the exact deposit page
  packages/appstore/src/components/currency-switcher-card/real/real-account-card.tsx
  packages/cashier/src/app-content.tsx
  packages/cashier/src/containers/routes/useUnsafeCashierRouteHandler.ts
  packages/stores/types.ts
Labels: AppStore

#8778 thisyahlen/fix: translation on refresh bug
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
Labels: AppStore

#8839 farabi/bot-326/unable-to-see-price-on-chart
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
Labels: Bot

#8840 farabi/bot-325/unable-to-scroll-through-quick-strategy
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
Labels: Bot

#8660 Rupato/fix: language switcher on traders hub
  packages/core/src/App/Components/Layout/Header/__tests__/platform-switcher.spec.tsx
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
  packages/core/src/Modules/BinaryBotIFrame/BinaryBotIFrame.jsx
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/url/helpers.ts
Labels: Core, Bot, Shared, Components, AppStore

#8320 thisyahlen/chore: add test coverage for regulators-switcher component
  packages/appstore/src/components/main-title-bar/__tests__/regulators-switcher.spec.tsx
  packages/appstore/src/components/main-title-bar/regulators-switcher.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, AppStore

#8656 thisyahlen/fix: change algo for realAccountSignup
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/core/src/App/Components/Elements/Modals/deriv-real-account-required-modal.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Modals/need-real-account-for-cashier-modal/need-real-account-for-cashier-modal.tsx
  packages/core/src/App/Containers/Modals/ready-to-deposit-modal/ready-to-deposit-modal.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/ui-store.js
  packages/stores/types.ts
Labels: Core, Bot, AppStore

#8829 Vinu/bot 179/replace connect function
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/components/load-modal/recent-footer.tsx
  packages/bot-web-ui/src/components/load-modal/recent-workspace.tsx
  packages/bot-web-ui/src/components/load-modal/recent.tsx
Labels: Bot

#8828 Vinu/refactor: replaced connect method in save-modal, stop-bot-modal and w…
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/save-modal.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/stop-bot-modal.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/workspace-control.tsx
  packages/bot-web-ui/src/components/load-modal/workspace-control.tsx
Labels: Bot

#8886 likhith/fix: :bug: resolved required field error
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Account

#8901 revert: george-/-WALL-739-/-clickable-trade-platform-logo,-tit…
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.scss
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/constants/platform-config.ts
Labels: AppStore

#8920 Rupato/fix: refactored code
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/google-drive.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/save-modal.scss
  packages/bot-web-ui/src/components/index.js
  packages/bot-web-ui/src/components/network-toast-popup/index.js
  packages/bot-web-ui/src/components/network-toast-popup/index.ts
  packages/bot-web-ui/src/components/network-toast-popup/network-toast-popup.tsx
  packages/bot-web-ui/src/components/route-prompt-dialog/route-prompt-dialog.tsx
  packages/bot-web-ui/src/components/run-panel/index.ts
  packages/bot-web-ui/src/components/run-panel/run-panel.tsx
  packages/bot-web-ui/src/components/save-modal/google-drive.scss
  packages/bot-web-ui/src/components/save-modal/index.js
  packages/bot-web-ui/src/components/save-modal/save-modal.jsx
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#8913 fix: :bug: adds scrollable content support for low res screens
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
Labels: AppStore

#8877 Amir/FEQ-219/Upgrade node version to 18
  .circleci/config.yml
  .github/workflows/codecov.yml
  .github/workflows/generate_and_push_deriv_api_types.yml
  .github/workflows/push_and_pull_crowdin_translations.yml
  README.md
  end-to-end-test/.github/workflows/playwright.yml
  package-lock.json
  package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/indicators/package.json
  packages/p2p/package.json
  packages/publisher/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/shared/src/utils/url/__tests__/url.js
  packages/trader/package.json
  packages/translations/package.json
Labels: Trader, Core, Bot, Shared, Components, Translations, P2P, Docs, Account, AppStore

#8934 chore: remove connect files completely from Dbot
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/components/bot-footer-extensions/bot-footer-extensions.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/dashboard-component.spec.tsx
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/stores/connect.js
  packages/bot-web-ui/src/utils/multiplier.js
Labels: Bot

#8947 shahzaib / fix / poi field width overflow
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/core/src/sass/app/_common/components/onfido-container.scss
Labels: Trader, Core, Bot, Shared, Components, Translations, P2P, Docs, Account, AppStore

#8949 fix: poi field width overflow
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/core/src/sass/app/_common/components/onfido-container.scss
Labels: Core, Account

#8850 Fix: set `config.platform` in sessionStorage instead of localStorage
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/core/src/Stores/common-store.js
  packages/shared/src/utils/config/config.ts
  packages/shared/src/utils/platform/platform.ts
Labels: Core, Shared, Account

#8800 Amina/fix: account_currency_icon
  packages/appstore/src/components/currency-switcher-card/real/real-account-card.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-switcher.tsx
Labels: AppStore

#8894 refactor: update close icon style
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/sass/app/_common/components/app-notification-message.scss
Labels: Core

#8820 Shayan/ Remove exchange_rates legacy codes
  packages/cashier/src/components/crypto-fiat-converter/crypto-fiat-converter.tsx
  packages/cashier/src/components/percentage-selector/__tests__/percentage-selector.spec.tsx
  packages/cashier/src/components/percentage-selector/percentage-selector.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/crypto-withdraw-form.tsx
  packages/cashier/src/stores/__tests__/account-transfer-store.spec.ts
  packages/cashier/src/stores/__tests__/crypto-fiat-converter-store.spec.ts
  packages/cashier/src/stores/__tests__/withdraw-store.spec.ts
  packages/cashier/src/stores/account-transfer-store.ts
  packages/cashier/src/stores/cashier-store.ts
  packages/cashier/src/stores/crypto-fiat-converter-store.ts
  packages/cashier/src/stores/withdraw-store.ts
  packages/core/src/Stores/common-store.js
  packages/core/src/Utils/ExchangeCurrencyRate/exchange_currency_rate.js
  packages/core/src/_common/base/socket_base.js
Labels: Core

#8241 henry/93255/fix: push accumulators to top of trade types dropdown
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
Labels: Trader

#8317 Adrienne / Sanitized rename utility function from regular expression injection
  packages/components/utils/rename.js
Labels: Components

#8855 Farzin/R&D/WALL-746/FeatureFlag
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/hooks/src/__tests__/useFeatureFlags.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useFeatureFlags.ts
  packages/stores/src/mockStore.ts
  packages/stores/src/storeProvider.tsx
  packages/stores/src/stores/BaseStore.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
  packages/stores/src/stores/index.ts
  packages/stores/types.ts
Labels: Core

#8912 Farzin/WALL-979/Add `@deriv/utils`
  .circleci/config.yml
  packages/api/src/__tests__/useRequest.spec.tsx
  packages/api/src/useRequest.ts
  packages/appstore/package.json
  packages/cashier/src/components/funds-protection/funds-protection.tsx
  packages/hooks/src/useVerifyEmail.ts
  packages/utils/jest.config.js
  packages/utils/package.json
  packages/utils/src/__tests__/unFormatLocaleString.spec.tsx
  packages/utils/src/index.ts
  packages/utils/src/unFormatLocaleString.ts
  packages/utils/tsconfig.json
Labels: AppStore

#8841 fix: fix the imports in journal-notifications
  packages/bot-web-ui/src/utils/journal-notifications.js
Labels: Bot

#8888 shontzu/PRODQA-975/DerivX-Topup-page-shows-DerivX-Demo-Swap-Free-accountderiv X demo topup modal have swap-free term on it
  packages/cfd/src/Containers/__tests__/cfd-top-up-demo-modal.spec.js
  packages/cfd/src/Containers/cfd-top-up-demo-modal.tsx
Labels: Components

#8923 chore: :sparkles: added survicate script for dbot
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/app/app.tsx
Labels: Bot

#8946 chore: :bug: quick strategy dialog scrolling fix
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
Labels: Bot

#8772 Farzin/WALL-851/Reusable components and hooks
  packages/cashier/src/components/side-note/side-note.scss
  packages/cashier/src/components/side-note/side-note.tsx
  packages/cashier/src/stores/on-ramp-store.ts
  packages/components/src/components/inline-message/index.ts
  packages/components/src/components/inline-message/inline-message.scss
  packages/components/src/components/inline-message/inline-message.tsx
  packages/components/src/components/side-note/index.ts
  packages/components/src/components/side-note/side-note.scss
  packages/components/src/components/side-note/side-note.tsx
  packages/components/src/index.js
  packages/hooks/package.json
  packages/hooks/src/__tests__/useCurrencyConfig.spec.tsx
  packages/hooks/src/__tests__/useDepositCryptoAddress.spec.tsx
  packages/hooks/src/__tests__/useInputATMFormatter.spec.tsx
  packages/hooks/src/__tests__/useInputDecimalFormatter.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useCurrencyConfig.ts
  packages/hooks/src/useDepositCryptoAddress.ts
  packages/hooks/src/useInputATMFormatter.ts
  packages/hooks/src/useInputDecimalFormatter.ts
  packages/p2p/src/components/orders/orders.scss
  packages/shared/src/styles/constants.scss
  types/utils.d.ts
Labels: Shared, Components, P2P

#8606 Kate / Update text content for accumulators
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/multiplier_stop_loss.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/multiplier_take_profit.js
  packages/bot-web-ui/src/constants/contract.js
  packages/components/src/components/contract-card/contract-card-items/accumulator-card-body.jsx
  packages/reports/src/Constants/data-table-constants.tsx
  packages/reports/src/Containers/open-positions.tsx
  packages/reports/src/sass/app/modules/reports.scss
  packages/shared/src/utils/constants/contract.tsx
  packages/trader/src/Constants/contract.js
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/__tests__/accumulator.spec.js
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/__tests__/accumulators-info-display.spec.js
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulator.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulators-info-display.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/stop-loss.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/take-profit.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/widgets.jsx
  packages/trader/src/Modules/Trading/Containers/radio-group-options-modal.jsx
  packages/trader/src/sass/app/modules/reports.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader, Bot, Shared, Components

#8926 thisyahlen/fix: sorting of wallets list
  packages/appstore/src/components/containers/__tests__/wallets.spec.tsx
  packages/appstore/src/components/containers/listing-container.tsx
  packages/appstore/src/components/containers/wallet.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-content.spec.tsx
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-content.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
  packages/appstore/src/modules/traders-hub/account-with-wallets.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/appstore/src/types/common.types.ts
  packages/core/src/Stores/client-store.js
  packages/hooks/src/__tests__/useWalletsList.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useWalletsList.ts
  packages/stores/types.ts
Labels: Core, AppStore

#8984 Vinu/ fix: imports of functions in journal-notifications
  packages/bot-web-ui/src/utils/journal-notifications.js
Labels: Bot

#9004 Revert "Shaheer/wall 565/language related fixes"
  packages/core/src/App/Components/Elements/LiveChat/use-livechat.ts
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/storage/storage.ts
  packages/shared/src/utils/url/constants.ts
  packages/shared/src/utils/url/helpers.ts
  packages/translations/src/i18next/i18next.ts
Labels: Core, Shared, Translations

#8753 Rostislav / WALL-454 / Fiat transaction list (post feature branch update)
  packages/appstore/package.json
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list-item.tsx
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list.scss
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list.tsx
  packages/appstore/src/components/fiat-transaction-list/index.ts
  packages/appstore/src/components/modals/wallet-modal/__tests__/wallet-modal-body.spec.tsx
  packages/appstore/src/components/modals/wallet-modal/provider.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.scss
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/wallet/ic-wallet-options-dark.svg
  packages/components/src/components/icon/wallet/ic-wallet-options-light.svg
  packages/components/src/components/wallet-icon/wallet-icon.tsx
  packages/components/stories/icon/icons.js
  packages/hooks/package.json
  packages/hooks/src/__tests__/useGroupedFiatTransactions.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useGroupedFiatTransactions.ts
  packages/stores/types.ts
  types/utils.d.ts
Labels: Components, AppStore

#8962 synchronize amount inputs, add transfer button (WALL-554) with test link
  packages/appstore/src/components/wallet-transfer/wallet-transfer.scss
  packages/appstore/src/components/wallet-transfer/wallet-transfer.tsx
  packages/components/src/components/amount-input/amount-input.tsx
Labels: Components, AppStore

#9021 yashim/chore: disable PT
  packages/core/src/App/Containers/AcuityDownloadModal/acuity-download-modal.tsx
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/translations/src/i18next/i18next.ts
Labels: Core, Translations

#9030 Fix: leave confirm tests failed
  packages/account/src/Components/leave-confirm/__tests__/leave-confirm.spec.tsx
Labels: Account

#8125 henry/91713/test: Test coverage for POO statuses components
  packages/account/src/Components/poo/statuses/poo-not-required/__tests__/not-required.spec.tsx
  packages/account/src/Components/poo/statuses/poo-rejected/__tests__/rejected.spec.tsx
  packages/account/src/Components/poo/statuses/poo-rejected/index.js
  packages/account/src/Components/poo/statuses/poo-rejected/rejected.jsx
  packages/account/src/Components/poo/statuses/poo-submitted/__tests__/submitted.spec.tsx
  packages/account/src/Components/poo/statuses/poo-verified/__tests__/verified.spec.tsx
Labels: Account

#8041 henry/91709/test: add test coverage for poi unsupported
  packages/account/src/Components/poi-unsupported-failed/__tests__/unsupported-failed.spec.tsx
Labels: Account

#8727 henry/dtra-131/feat: dropdown style and description change for all trade types
  packages/components/src/components/carousel/carousel.tsx
  packages/shared/src/styles/themes.scss
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-accumulator.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-even-odd.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-high-low.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-match-diff.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-multiplier.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-over-under.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-rise-fall.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-touch.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-vanilla.svg
  packages/trader/src/Assets/Trading/Categories/accumulator-trade-description.jsx
  packages/trader/src/Assets/Trading/Categories/accumulator-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/contract-type-menu.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-glossary.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-dialog.jsx
  packages/trader/src/sass/app/_common/components/contract-type-dialog.scss
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
Labels: Trader, Shared, Components, Account

#8927 fix: remove Change password text for DMT5
  packages/account/src/Sections/Security/Passwords/passwords-platform.jsx
Labels: Account

#7998 henry/91133/refactor: Refactored, migrated to TS and added test cases
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/services-error-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/index.js
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/services-error-modal.jsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/services-error-modal.tsx
Labels: Trader

#8825 farabi/bot-324/remove-security-and-privacy-from-dbot-footer
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/components/bot-footer-extensions/bot-footer-extensions.scss
  packages/bot-web-ui/src/components/bot-footer-extensions/bot-footer-extensions.tsx
  packages/bot-web-ui/src/components/bot-footer-extensions/index.ts
  packages/bot-web-ui/src/components/bot-footer-extensions/security-and-privacy.tsx
  packages/bot-web-ui/src/components/index.js
Labels: Bot, Components

#8649 Jim/FEQ-147/e2e-test-cases-for-traders-hub-dashboard
  end-to-end-test/.env.example
  end-to-end-test/README.md
  end-to-end-test/package-lock.json
  end-to-end-test/package.json
  end-to-end-test/playwright.config.ts
  end-to-end-test/tests/change-endpoint/change-endpoint.tsx
  end-to-end-test/tests/onboarding/onboarding.ts
  end-to-end-test/tests/traders-hub/dashboard-demo.spec.tsx
  end-to-end-test/tests/traders-hub/dashboard-real.spec.tsx
  end-to-end-test/utils/constants.ts
  end-to-end-test/utils/helpers.ts
  end-to-end-test/utils/index.ts
  package.json
Labels: Docs

#8766 Suisin/chore: add thai language into deriv app
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/translations/src/i18next/i18next.ts
Labels: Core, Bot, Translations

#8955 farabi/bot-315/dbot-to-deriv-bot
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/dashboard-component.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/constants.ts
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-content.tsx
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/utils/bot-notifications.js
  packages/bot-web-ui/src/utils/help-content/help-strings/before_purchase.js
  packages/bot-web-ui/src/utils/help-content/help-strings/notify_telegram.js
Labels: Bot

#8837 feat: added wallets notifications to wallets
  packages/appstore/package.json
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, AppStore

#9062 henry/fix: dtrader translation issue
  packages/trader/src/Assets/Trading/Categories/accumulator-trade-description.tsx
Labels: Trader

#9071 farrah/WEBREL-517/fix: thai language
  packages/p2p/src/components/i18next/index.js
Labels: P2P

#9068 henry/fix: broken account adder modal in mobile
  packages/trader/src/sass/app/_common/components/contract-type-dialog.scss
Labels: Trader

#8540 Suisin/chore: add Duplicate Currency Check
  packages/core/src/App/Containers/RealAccountSignup/signup-error-content.jsx
Labels: Core

#8551 Yaswanth/88554/remove connect from account
  packages/account/package.json
  packages/account/src/App.tsx
  packages/account/src/Components/Routes/__tests__/binary-link.spec.tsx
  packages/account/src/Components/Routes/__tests__/binary-routes.spec.tsx
  packages/account/src/Components/account-limits/__tests__/account-limits.spec.tsx
  packages/account/src/Components/account-limits/account-limits.tsx
  packages/account/src/Components/api-token/_tests_/api-token.spec.js
  packages/account/src/Components/api-token/api-token.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/icon-with-message/__tests__/icon-with-message.spec.tsx
  packages/account/src/Components/icon-with-message/icon-with-message.tsx
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion.spec.tsx
  packages/account/src/Components/self-exclusion/self-exclusion.tsx
  packages/account/src/Containers/account.jsx
  packages/account/src/Containers/reset-trading-password.jsx
  packages/account/src/Containers/routes.jsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Assessment/TradingAssessment/trading-assessment.jsx
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Security/AccountClosed/account-closed.jsx
  packages/account/src/Sections/Security/AccountLimits/account-limits.jsx
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/account/src/Sections/Security/ClosingAccount/__tests__/closing-account-reason.spec.js
  packages/account/src/Sections/Security/ClosingAccount/closing-account-reason.jsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-steps.jsx
  packages/account/src/Sections/Security/LoginHistory/login-history.jsx
  packages/account/src/Sections/Security/Passwords/deriv-email.jsx
  packages/account/src/Sections/Security/Passwords/passwords.jsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/__test__/proof-of-ownership.spec.js
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership.jsx
  packages/account/src/Stores/connect.js
  packages/account/src/Stores/index.ts
  packages/account/src/Stores/init-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Account

#8722 Ameerul /PRODQA-12 Change the content for 2FA email verification
  packages/p2p/src/components/modal-manager/modals/email-verification-modal/__tests__/email-verification-modal.spec.js
  packages/p2p/src/components/modal-manager/modals/email-verification-modal/email-verification-modal.jsx
  packages/p2p/src/components/modal-manager/modals/email-verification-modal/email-verification-modal.scss
  packages/p2p/src/components/order-details/order-details.jsx
Labels: P2P

#8897 Shayan/FEQ-172/fixed redirection popup not showing when clicking on hyperlinks inside popover component
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/components/src/components/mobile-dialog/mobile-dialog.tsx
Labels: Trader, Core, Bot, Shared, Components, P2P, Docs, Account, AppStore

#8157 Kate/92424/To make steps of increasing/decreasing mobile barrier equal
  packages/components/src/components/input-field/input-field.jsx
  packages/shared/src/utils/helpers/barrier.ts
Labels: Trader, Shared, Components

#8677 Akmal / feat: change vanilla options decimals rounding
  packages/trader/src/App/Components/Elements/ContractAudit/__tests__/contract-details.spec.js
  packages/trader/src/App/Components/Elements/ContractAudit/contract-audit-item.jsx
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
Labels: Trader

#8989 Maryia/bot-159/feat: send data to datadog
  packages/bot-skeleton/jest.config.js
  packages/bot-skeleton/src/services/api/__tests__/datadog-middleware.spec.ts
  packages/bot-skeleton/src/services/api/api-middleware.js
  packages/bot-skeleton/src/services/api/appId.js
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/webpack.config.js
Labels: Bot

#8609 Suisin/chore: solve broken page redirect from error msg
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#8941 Akmal / feat: vanilla options content update and UI changes
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/advanced-duration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-wrapper.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/expiry-text.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/strike.jsx
  packages/trader/src/Modules/Trading/Containers/strike-param-modal.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/modules/trading-mobile.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader

#8108 henry/85290/fix: accumulators enabled for real trading in DTrader
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#8801 fix: css broken for philipine japan norway
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
  packages/cfd/src/Containers/props.types.ts
Labels: AppStore

#8919 shontzu/WALL-823/inaccurate-jurisdictions-displayed-when-language-is-non-English
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
Labels: AppStore

#8352 shontzu/93860/add-derivez-to-tradershub
  packages/appstore/src/assets/svgs/trading-platform/branding/ic-branding-derivez-dashboard.svg
  packages/appstore/src/assets/svgs/trading-platform/branding/ic-branding-dxtrade-dashboard.svg
  packages/appstore/src/assets/svgs/trading-platform/index.tsx
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/onboarding-new/__tests__/static-dashboard.spec.tsx
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/types/common.types.ts
  packages/cfd/build/webpack.config.js
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-derivez.svg
  packages/cfd/src/Assets/svgs/trading-platform/index.tsx
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Components/passwordbox.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Components/specbox.tsx
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/cfd-top-up-demo-modal.tsx
  packages/cfd/src/Containers/derivx-trade-modal.tsx
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/cfd/src/Containers/trade-modal.tsx
  packages/cfd/src/Helpers/config.tsx
  packages/cfd/src/Helpers/constants.ts
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/cfd/src/sass/cfd-dashboard.scss
  packages/components/src/components/icon/brand/ic-brand-deriv-ez-wordmark.svg
  packages/components/src/components/icon/brand/ic-brand-deriv-ez.svg
  packages/components/src/components/icon/brand/ic-brand-dxtrade-wordmark.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/rebranding/ic-rebranding-deriv-ez-wordmark.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-deriv-ez.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-derivez-dashboard.svg
  packages/components/src/components/icon/rebranding/ic-rebranding-dxtrade-wordmark.svg
  packages/components/stories/icon/icons.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
  packages/core/src/_common/base/socket_base.js
  packages/hooks/src/useCFDAllAccounts.ts
  packages/shared/src/utils/cfd/available-cfd-accounts.ts
  packages/shared/src/utils/cfd/cfd.ts
  packages/shared/src/utils/config/platform-config.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Bot, Shared, Components, Account, AppStore

#9110 fix: change other CFDS to other CFD platforms
  packages/appstore/src/components/cfds-listing/index.tsx
Labels: AppStore

#9132 Revert "Yaswanth/88554/remove connect from account (#8551)"
  packages/account/package.json
  packages/account/src/App.tsx
  packages/account/src/Components/Routes/__tests__/binary-link.spec.tsx
  packages/account/src/Components/Routes/__tests__/binary-routes.spec.tsx
  packages/account/src/Components/account-limits/__tests__/account-limits.spec.tsx
  packages/account/src/Components/account-limits/account-limits.tsx
  packages/account/src/Components/api-token/__tests__/api-token.spec.tsx
  packages/account/src/Components/api-token/api-token.tsx
  packages/account/src/Components/icon-with-message/__tests__/icon-with-message.spec.tsx
  packages/account/src/Components/icon-with-message/icon-with-message.tsx
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion.spec.tsx
  packages/account/src/Components/self-exclusion/self-exclusion.tsx
  packages/account/src/Containers/account.jsx
  packages/account/src/Containers/reset-trading-password.jsx
  packages/account/src/Containers/routes.jsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Assessment/TradingAssessment/trading-assessment.jsx
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Security/AccountClosed/account-closed.jsx
  packages/account/src/Sections/Security/AccountLimits/account-limits.jsx
  packages/account/src/Sections/Security/ApiToken/api-token.jsx
  packages/account/src/Sections/Security/ClosingAccount/__tests__/closing-account-reason.spec.js
  packages/account/src/Sections/Security/ClosingAccount/closing-account-reason.jsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-steps.jsx
  packages/account/src/Sections/Security/LoginHistory/login-history.jsx
  packages/account/src/Sections/Security/Passwords/deriv-email.jsx
  packages/account/src/Sections/Security/Passwords/passwords.jsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/__test__/proof-of-ownership.spec.js
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership.jsx
  packages/account/src/Stores/connect.js
  packages/account/src/Stores/index.ts
  packages/account/src/Stores/init-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Account

#9133 Vinu/ fix: datadog env for clientToken fixed
  packages/bot-skeleton/src/services/api/api-middleware.js
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/webpack.config.js
Labels: Bot

#9112 WEBREL-602 - Invalid success message for swap-free account
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
Labels: Account

#9166 Ako/ Fix custom invalid token error
  packages/core/src/Services/socket-general.js
Labels: Core

#9008 Hamid/wallet card colors mixin
  packages/appstore/src/components/containers/__tests__/wallets.spec.tsx
  packages/appstore/src/components/containers/wallet.tsx
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list-item.tsx
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list.tsx
  packages/appstore/src/components/modals/wallet-modal/__tests__/wallet-modal.spec.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-header.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.scss
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.tsx
  packages/appstore/src/components/wallet-header/__tests__/wallet-header.spec.tsx
  packages/appstore/src/components/wallet-header/wallet-currency-card.tsx
  packages/appstore/src/components/wallet-header/wallet-header.scss
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/appstore/src/components/wallet-transfer/mock_accounts/mock_accounts.tsx
  packages/appstore/src/public/images/index.ts
  packages/appstore/src/public/images/wallet-demo-bg-dark.svg
  packages/appstore/src/public/images/wallet-demo-bg-light.svg
  packages/appstore/src/public/images/wallet-header-demo-bg.svg
  packages/components/src/components/app-linked-with-wallet-icon/app-linked-with-wallet-icon.tsx
  packages/components/src/components/wallet-card/wallet-card.scss
  packages/components/src/components/wallet-card/wallet-card.tsx
  packages/components/src/components/wallet-icon/wallet-icon.tsx
  packages/components/src/components/wallet-tile/wallet-tile.tsx
  packages/components/src/components/watermark/index.ts
  packages/components/src/components/watermark/watermark.scss
  packages/components/src/components/watermark/watermark.tsx
  packages/components/src/index.js
  packages/core/src/public/images/app/wallet/wallet-demo-bg-dark.svg
  packages/core/src/public/images/app/wallet/wallet-demo-bg-light.svg
  packages/core/src/sass/app/_common/components/wallet.scss
  packages/hooks/src/__tests__/useWalletsList.spec.tsx
  packages/hooks/src/useWalletsList.ts
Labels: Core, Components, AppStore

#8899 hamid/wall-582/demo-reset-balance-tab
  packages/appstore/package.json
  packages/appstore/src/components/demo-reset-balance/__tests__/demo-reset-balance.spec.tsx
  packages/appstore/src/components/demo-reset-balance/demo-reset-balance.scss
  packages/appstore/src/components/demo-reset-balance/demo-reset-balance.tsx
  packages/appstore/src/components/demo-reset-balance/index.ts
  packages/appstore/src/components/modals/wallet-modal/provider.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-body.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
  packages/components/src/components/icon/common/ic-demo-reset-balance-done.svg
  packages/components/src/components/icon/common/ic-demo-reset-balance.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components, Account, AppStore

#9173 Hirad/ fixed the issue of deriv ez token
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/core/src/_common/base/socket_base.js
Labels: Core

#9170 fix: :wrench: dd remove time and unwanted logs also reduce datadogses…
  packages/bot-skeleton/src/services/api/api-middleware.js
Labels: Bot

#9174 Hirad/derivez issue of token
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
Labels: Core

#9175 Hirad/ hidding deriv ez
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/onboarding-new/__tests__/static-dashboard.spec.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/stores/types.ts
Labels: AppStore

#9010 Thisyahlen/WALL-1020/ List of wallets according to authorize and balance
  package-lock.json
  packages/appstore/package.json
  packages/appstore/src/components/containers/__tests__/wallets.spec.tsx
  packages/appstore/src/components/containers/wallet.tsx
  packages/appstore/src/components/modals/wallet-modal/__tests__/wallet-modal-body.spec.tsx
  packages/appstore/src/components/modals/wallet-modal/__tests__/wallet-modal.spec.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-body.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-content.spec.tsx
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-content.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
  packages/appstore/src/components/wallet-header/__tests__/wallet-header.spec.tsx
  packages/appstore/src/components/wallet-header/wallet-currency-card.tsx
  packages/appstore/src/components/wallet-header/wallet-header-balance.tsx
  packages/appstore/src/components/wallet-header/wallet-header-buttons.tsx
  packages/appstore/src/components/wallet-header/wallet-header-title.tsx
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/appstore/src/constants/utils.ts
  packages/appstore/src/modules/traders-hub/account-with-wallets.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/appstore/src/types/common.types.ts
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/__tests__/useActiveWallet.spec.tsx
  packages/hooks/src/__tests__/useWalletsList.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useActiveWallet.ts
  packages/hooks/src/useWalletsList.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, AppStore

#9079 henry/fix: add video to accumulators info description
  packages/core/src/public/images/common/static_images/accumulator_description_dark.mp4
  packages/core/src/public/images/common/static_images/accumulator_description_dark.webm
  packages/core/src/public/images/common/static_images/accumulator_description_light.mp4
  packages/core/src/public/images/common/static_images/accumulator_description_light.webm
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-accumulator.svg
  packages/trader/src/Assets/Trading/Categories/contract-type-description-video.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories-gif.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.jsx
  packages/trader/src/sass/app/_common/components/contract-type-dialog.scss
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
Labels: Trader, Core

#8997 Akmal / feat: add longcode collapsed view
  packages/reports/src/sass/app/modules/contract.scss
  packages/trader/src/Modules/Contract/Components/InfoBox/info-box-longcode.jsx
  packages/trader/src/sass/app/modules/contract.scss
Labels: Trader

#9080 Farabi/bot 359/update user guide button
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/user-guide.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/components/src/components/icon/common/ic-dbot-user-guide.svg
Labels: Bot, Components

#8117 Mahdiyeh/fix: padding for language
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/SettingsModal/settings-language.jsx
  packages/core/src/sass/app/_common/components/settings-language.scss
Labels: Core

#8199 fix: translation issue for change theme
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
Labels: Core

#9163 chore: fix cfd modal display
  packages/appstore/src/components/account-transfer-modal/account-transfer-modal.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/__tests__/account-transfer-receipt.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
  packages/cashier/src/pages/account-transfer/account-transfer.tsx
  packages/cashier/src/stores/account-transfer-store.ts
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, AppStore
