Repository deriv-com/deriv-app, pull requests merged in 2023-11, with the labels that each got.

#11080 [wallets] Thisyahlen/wall 2367/mt5 demo account creation cleanup
  packages/wallets/src/components/WalletsAccordion/WalletsAccordion.scss
  packages/wallets/src/features/cfd/components/MT5PlatformsList/MT5PlatformsList.tsx
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
  packages/wallets/src/features/cfd/screens/Success/Success.tsx
Labels: Wallets

#11085 Ako/add test env app id
  .github/workflows/release_test.yml
  .github/workflows/test.yml
  packages/shared/src/utils/config/config.ts
Labels: Shared

#10568 Kate / DTRA-465 / Responsive UI fixes
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/dropdown/dropdown.tsx
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/widgets.jsx
  packages/trader/src/Modules/Trading/Components/Form/__tests__/screen-small.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.tsx
  packages/trader/src/sass/app/_common/components/contract-type-widget.scss
  packages/trader/src/sass/app/_common/mobile-widget.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
Labels: Trader, Components

#10974 WALL-2337: [Wallet] Farhan/Hide `wallet` feature flag
  packages/core/src/Modules/Endpoint/Endpoint.jsx
Labels: Core

#10858 henry/dtra-447/ fix: call authorize before active symbols to display correct active symbols
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader

#10895 henry/dtra-446/fix: change content width for firefox only
  packages/trader/src/Assets/Trading/Categories/Description/accumulator-trade-description.tsx
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
Labels: Trader

#11028 Maryia/DTRA-471/feat: add new 'Payout per point' tooltip message for Turbos
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/payout-per-point-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/payout-per-point-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/__tests__/contract-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.tsx
Labels: Trader

#11100 Akmal / fix: modernize test cases for vanilla
  packages/components/src/components/contract-card/contract-card-items/__tests__/vanilla-options-card-body.spec.tsx
Labels: Components

#11011 Farabi/bot-760/test case for route prompt dialog store
  packages/bot-web-ui/src/stores/__tests__/route-prompt-store.spec.tsx
Labels: Bot

#10577 Maryia/fix: (production UI bug) remove an unnecessary empty button for clients EU
  packages/components/src/components/page-error/__tests__/page-error.spec.tsx
  packages/components/src/components/page-error/page-error.tsx
  packages/shared/src/utils/digital-options/digital-options.ts
Labels: Shared, Components

#11045 fix: error on test-links application id is not configured, no RUM data will be collected
  packages/core/src/Utils/Datadog/index.ts
Labels: Core

#10213 fix: edit buy ad not displaying added payment methods for the first time
  packages/p2p/src/pages/my-ads/edit-ad-form.jsx
  packages/p2p/src/pages/my-ads/my-ads.jsx
Labels: P2P

#11124 [wallets] Thisyahlen/wall 2388/balance loader
  packages/wallets/src/components/WalletCard/WalletCard.scss
  packages/wallets/src/components/WalletCard/WalletCard.tsx
  packages/wallets/src/components/WalletListCardIBalance/WalletListCardIBalance.scss
  packages/wallets/src/components/WalletListCardIBalance/WalletListCardIBalance.tsx
Labels: Wallets

#11094 fix: jurisdiction modal next button issue
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.scss
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-checkbox.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-checkbox.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
Labels: Components, AppStore

#10321 Ameerul /P2PS-1322 My profile tab is not fully visible in responsive view when switching to other languages
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/pages/app.scss
Labels: P2P

#10477 Farhan/P2PS-1662/On Buy/Sell tab the spacing for UPI is shown more
  packages/p2p/src/pages/buy-sell/buy-sell-table.scss
  packages/p2p/src/pages/buy-sell/buy-sell.scss
  packages/p2p/src/pages/my-ads/my-ads-table.scss
Labels: P2P

#11134 Bala/Add hotjar to core
  packages/bot-web-ui/src/app/app-content.jsx
  packages/core/src/App/app.jsx
  packages/core/src/Utils/Hotjar/index.ts
  packages/core/tsconfig.json
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Bot

#10314 feat: 🔩 updated 'Connected apps' page in profile settings
  packages/account/src/Components/article/__tests__/article.spec.tsx
  packages/account/src/Components/article/article.tsx
  packages/account/src/Constants/connected-apps-config.tsx
  packages/account/src/Sections/Security/ConnectedApps/__tests__/connected-apps-earn-more.spec.tsx
  packages/account/src/Sections/Security/ConnectedApps/__tests__/connected-apps-empty.spec.tsx
  packages/account/src/Sections/Security/ConnectedApps/__tests__/connected-apps-info-bullets.spec.tsx
  packages/account/src/Sections/Security/ConnectedApps/__tests__/connected-apps-info.spec.tsx
  packages/account/src/Sections/Security/ConnectedApps/__tests__/connected-apps-know-more.spec.tsx
  packages/account/src/Sections/Security/ConnectedApps/__tests__/connected-apps.spec.js
  packages/account/src/Sections/Security/ConnectedApps/__tests__/connected-apps.spec.tsx
  packages/account/src/Sections/Security/ConnectedApps/__tests__/data-list-template-entry.spec.tsx
  packages/account/src/Sections/Security/ConnectedApps/__tests__/data-list-template.spec.tsx
  packages/account/src/Sections/Security/ConnectedApps/connected-apps-earn-more.tsx
  packages/account/src/Sections/Security/ConnectedApps/connected-apps-empty.tsx
  packages/account/src/Sections/Security/ConnectedApps/connected-apps-info-bullets.tsx
  packages/account/src/Sections/Security/ConnectedApps/connected-apps-info.tsx
  packages/account/src/Sections/Security/ConnectedApps/connected-apps-know-more.tsx
  packages/account/src/Sections/Security/ConnectedApps/connected-apps-revoke-modal.tsx
  packages/account/src/Sections/Security/ConnectedApps/connected-apps.scss
  packages/account/src/Sections/Security/ConnectedApps/connected-apps.tsx
  packages/account/src/Sections/Security/ConnectedApps/data-list-template-entry.tsx
  packages/account/src/Sections/Security/ConnectedApps/data-list-template.tsx
  packages/account/src/Sections/Security/ConnectedApps/data-table-template.tsx
  packages/account/src/Sections/Security/ConnectedApps/index.ts
  packages/account/src/Sections/Security/ConnectedApps/template-helper.tsx
  packages/account/src/Styles/account.scss
  packages/components/src/components/icon/common/ic-account-trash-can-dashboard.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components, Account

#11151 Farabi/quick-strategy-initial-stake-issue
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.tsx
Labels: Bot

#10826 Kate / DTRA-436 / Consistency for Responsive for all trade types (except Multipliers)
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.tsx
  packages/components/src/components/contract-card/contract-card.scss
  packages/trader/src/App/Components/Elements/PositionsDrawer/__tests__/position-modal-card.spec.tsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.tsx
Labels: Trader, Components

#11067 Maryia/FEQ-867/fix: console error about the wrong type of a data.header
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
Labels: Core

#11081 [Wallet] Lubega / WALL-2174 / Withdrawal fiat main screen and redirection
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/shared/src/utils/routes/routes.ts
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/WalletWithdrawal.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalFiat/WithdrawalFiat.scss
  packages/wallets/src/features/cashier/modules/WithdrawalFiat/WithdrawalFiat.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalFiat/index.ts
  packages/wallets/src/features/cashier/modules/index.ts
Labels: Core, Shared

#11176 fix--duration-style
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/quick-strategy/selects/contract-type.tsx
Labels: Bot

#11074 Maryia/BOT-767/test: add test case for settings.js
  packages/bot-web-ui/src/utils/__tests__/settings.spec.tsx
Labels: Bot, Components

#11157 fix: renamed payload props for file upload
  packages/account/src/Components/poi/status/unsupported/detail-component.tsx
Labels: Account

#11190 chore: temporarily disable whatsapp
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
Labels: Core, Components

#10579 Ameerul /P2PS 1705 Change Dropdown name for My Counterparties tab
  packages/p2p/src/pages/my-profile/block-user/block-user-dropdown/block-user-dropdown.jsx
Labels: P2P

#11201 chore: Test case for session-storage.js
  packages/bot-web-ui/src/utils/__tests__/session-storage.spec.ts
Labels: Bot

#9385 Amir/feq 236/tfa is not defined
  packages/core/src/index.html
Labels: Core, Stale

#11095 shahzaib / KYC-583 / hide verification section for DIEL client if already EU verified
  packages/account/build/webpack.config.js
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/poa/status/status-codes/index.ts
  packages/account/src/Components/poa/status/status-codes/status-codes.ts
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Helpers/utils.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
  packages/core/src/sass/app/_common/components/onfido-container.scss
  packages/shared/src/utils/constants/auth-status-codes.ts
  packages/shared/src/utils/constants/index.ts
Labels: Core, Shared, Account

#11219 Revert "chore: temporarily disable whatsapp"
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
Labels: Core, Components

#11206 chore: Test for multiplier.js in utils
  packages/bot-web-ui/src/utils/__tests__/multiplier.spec.ts
Labels: Bot

#11221 Revert "yashim/chore: temporarily disable whatsapp (#11190)" (#11219)
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
Labels: Core, Components

#11211 thisyahlen/WALL-2440/fix: dtrade linked login id
  packages/api/src/hooks/useActiveLinkedToTradingAccount.ts
  packages/wallets/src/components/DerivAppsSection/DerivAppsSection.scss
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
Labels: Wallets

#11072 refactor: to remove telegram token from datadog rum
  packages/core/src/Utils/Datadog/index.ts
Labels: Core

#11245 WEBREL-1626 / add condition to fix idv section design change
  packages/account/src/Components/forms/personal-details-form.jsx
Labels: Account

#11193 [wallets] thisyahlen/wall-2434/chore: add loading state after api call
  packages/wallets/src/components/Base/WalletButton/WalletButton.scss
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
Labels: Wallets

#11039 [wallets] thisyahlen/WALL-2370/chore: update the jurisdiction footnote text to be according to the clicked jurisdiction
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionFootNoteTitle/JurisdictionFootNoteTitle.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionFootNoteTitle/index.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionScreen.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionScreen.tsx
Labels: Wallets

#11136 [Wallets] adrienne / added onfido integration hook to api
  package-lock.json
  packages/api/package.json
  packages/api/src/constants/countries.ts
  packages/api/src/constants/index.ts
  packages/api/src/constants/onfido.ts
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useOnfido.ts
  packages/api/src/hooks/useOnfidoNotificationEvent.ts
  packages/api/src/hooks/useOnfidoServiceToken.ts
  packages/api/src/types/onfido.ts
  packages/api/types.ts
Labels: Account

#11150 Hamza/ chore: Strong password message overlap with progressbar
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/sass/cfd-dashboard.scss
  packages/trader/src/sass/app/modules/mt5/cfd-dashboard.scss
Labels: Trader, AppStore

#11005 chore: add chinese languages into deriv-app
  packages/translations/src/i18next/i18next.ts
Labels: Translations

#11137 fix: added InvalidtoBuy to stop bot on error
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
Labels: Bot

#10907 [wallet] Aizad feat: Created WalletPasswordMeter component
  package-lock.json
  packages/wallets/package.json
  packages/wallets/src/components/Base/WalletPasswordField/PasswordMeter.tsx
  packages/wallets/src/components/Base/WalletPasswordField/PasswordViewerIcon.tsx
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.scss
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.tsx
  packages/wallets/src/components/Base/WalletPasswordField/index.ts
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.tsx
  packages/wallets/src/components/Base/index.ts
  packages/wallets/src/public/images/ic-password-hide.svg
Labels: Account

#11281 Maryia/BOT-768/test: test coverage for the file window-size.js
  packages/bot-web-ui/src/utils/__tests__/window-size.spec.tsx
Labels: Bot

#11284 likhith/fix: field layout in financial info
  packages/account/src/Styles/account.scss
Labels: Account

#10668 [DTRA] Maryia/DTRA-411/fix: chart template issues
  packages/trader/src/Modules/Trading/Helpers/__tests__/digits.spec.ts
  packages/trader/src/Modules/Trading/Helpers/digits.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/chart.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader

#10560 Likhith/kyc 363/onfido sdk updation
  packages/account/package.json
  packages/account/src/App.tsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/poi/poi-country-selector/__tests__/poi-country-selector.spec.tsx
  packages/account/src/Components/poi/poi-country-selector/index.ts
  packages/account/src/Components/poi/poi-country-selector/poi-country-selector.tsx
  packages/account/src/Constants/onfido.js
  packages/account/src/Helpers/__tests__/utils.spec.tsx
  packages/account/src/Helpers/poi-context.tsx
  packages/account/src/Helpers/utils.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Styles/account.scss
  packages/account/src/Types/index.ts
  packages/account/src/Types/onfido.type.ts
  packages/api/src/hooks/index.ts
  packages/api/types.ts
  packages/core/src/sass/app/_common/components/account-common.scss
  packages/hooks/src/__tests__/useNotificationEvent.spec.tsx
  packages/hooks/src/__tests__/useServiceToken.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useNotificationEvent.ts
  packages/hooks/src/useServiceToken.ts
Labels: Core, Account

#11290 [wallets] thisyahlen/WALL-2491/chore: close modal on escape key
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.tsx
  packages/wallets/src/components/Base/ModalWrapper/ModalWrapper.tsx
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/features/cfd/modals/MT5AccountTypeModal/MT5AccountTypeModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
Labels: Wallets

#8296 fix: indication for ads that are not listed
  packages/p2p/src/components/modal-manager/modals/ad-error-tooltip-modal/__tests__/ad-error-tooltip-modal.spec.jsx
  packages/p2p/src/components/modal-manager/modals/ad-error-tooltip-modal/ad-error-tooltip-modal.jsx
  packages/p2p/src/pages/my-ads/__tests__/my-ads-row-renderer.spec.jsx
  packages/p2p/src/pages/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/pages/my-ads/my-ads-table.jsx
  packages/p2p/src/pages/my-ads/my-ads-table.scss
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P, Docs

#11207 Farabi/bot-154/improve the oscars grind strategy
  packages/bot-web-ui/src/components/quick-strategy/config.ts
  packages/bot-web-ui/src/xml/oscars_grind_max-stake.xml
Labels: Bot

#9317 Arshad/WEBREL-639/Update Trader's Hub Styling
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.scss
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-card.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.scss
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/modules/onboarding/onboarding.scss
  packages/components/src/components/icon/common/ic-installation-google.svg
  packages/components/src/components/modal/modal.scss
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
Labels: Core, Components, AppStore

#11140 Kate / WEBREL-73 / [DTRA]Test coverage: Form/TradeParams files in Trader package
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/allow-equals.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/amount-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/amount.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/barrier.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/last-digit.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/strike.spec.jsx
Labels: Trader

#11115 Kate / WEBREL-1595 / Calendar console errors
  packages/components/src/components/date-picker/date-picker.tsx
Labels: Components

#11327 thisyahlen/WALL-2512chore: update missing key prop to jurisdiction modal
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
Labels: Wallets

#11330 thisyahlen/WALL-2514/chore: on first login switch to the first wallet by default
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
Labels: Wallets

#10984 [Wallets] Thisyahlen/wall 2340/dont show cashier when next wallet is enabled
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Labels: Core

#11338 thisyahlen/WALL-2519/chore: update description for deriv x enter password modal
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
Labels: Wallets

#11345 [DTRA] Maryia/WEBREL-1645/Hotfix: Vanilla Duration disappears when switching from unavailable duration
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-wrapper.jsx
Labels: Trader

#11229 [CFDS] Hamza/ chore: hide the reassembly notification and popup
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/notification-store.js
Labels: Core

#11250 [WALL] Feature/wall 2444 balance subscription
  packages/api/src/__tests__/useActiveWalletBalance.spec.tsx
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useActiveWalletBalance.ts
  packages/components/stories/icon/icons.js
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/__tests__/WalletCashierHeader.spec.tsx
Labels: Components

#11349 [wallets] Feature/WALL-2497 error handling for withdrawals, moved away from storing
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/WalletWithdrawal.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalFiat/WithdrawalFiat.tsx
Labels: Core

#11154 Mahdiyeh/ WALL- 1923/chore: add animation to the step 6 of onboarding
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/components/onboarding-new/static-trading-app-card.scss
  packages/appstore/src/components/onboarding-new/static-trading-app-card.tsx
  packages/appstore/src/constants/trading-hub-content.tsx
Labels: AppStore

#11376 WALL-2578/chore: cfd trade modal description fix for different platforms and css cleanup
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.scss
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
Labels: Wallets

#11391 Ako/ use one rudderstack key
  .github/actions/build/action.yml
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
  .github/workflows/release_test.yml
  .github/workflows/release_uat.yml
  packages/core/build/constants.js
  packages/core/src/App/app.jsx
Labels: Core

#11294 [Wallet] Farhan/WALL-2502/Implement `available_accounts` endpoint
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useAllWalletAccounts.ts
  packages/api/src/hooks/useAvailableWallets.ts
  packages/api/src/hooks/useCreateWallet.ts
  packages/api/types.ts
  packages/wallets/src/components/WalletAddMoreCurrencyIcon/WalletAddMoreCurrencyIcon.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
  packages/wallets/src/components/WalletsAddMoreCard/WalletsAddMoreCard.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsAddMoreCardContent/WalletsAddMoreCardContent.tsx
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.tsx
  packages/wallets/src/types.ts
Labels: Wallets

#11399 WALL-2590/chore: add useStatesList hook to api package
  packages/api/src/hooks/useStatesList.ts
Labels: Wallets

#11359 [DTRA] / Kate / DTRA-498 / Fix: remove extra symbol from contract type list
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-list.tsx
Labels: Trader

#11322 [DTRA] / Kate / DTRA-495 / Show total PNL in the contract details card
  packages/components/src/components/contract-card/contract-card.scss
  packages/components/src/components/contract-card/contract-card.tsx
  packages/components/src/components/contract-card/result-overlay/__tests__/result-overlay.spec.tsx
  packages/components/src/components/contract-card/result-overlay/result-overlay.scss
  packages/components/src/components/contract-card/result-overlay/result-overlay.tsx
Labels: Components

#11424 likhith/[WEBREL-1665]/removed unwanted wrapper tag
  packages/account/src/Components/account-limits/account-limits-table-cell.tsx
  packages/account/src/Components/account-limits/withdrawal-limits-table.tsx
Labels: Account

#11277 [COJ]/WALL_1460/Amina/fix: reset balance notification
  packages/core/src/Stores/notification-store.js
Labels: Core

#11038 [dtra] Akmal / feat: replace existing responsive longcode UI with a modal
  packages/components/src/components/modal/modal.tsx
  packages/reports/src/sass/app/modules/contract.scss
  packages/trader/src/Modules/Contract/Components/InfoBox/__tests__/info-box-longcode.spec.tsx
  packages/trader/src/Modules/Contract/Components/InfoBox/__tests__/info-box.spec.tsx
  packages/trader/src/Modules/Contract/Components/InfoBox/info-box-longcode.tsx
  packages/trader/src/sass/app/modules/contract.scss
Labels: Trader, Components

#10345 shontzu/CFDS-723/standardize-product-offerings-for-MT5-Financial-accounts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-bvi-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-labuan-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-svg-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-vanuatu-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction_maltainvest_contents.ts
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-content.spec.tsx
Labels: Core, Shared

#9029 Amir/feq 209/command received with no ack
  packages/p2p/src/stores/sendbird-store.ts
Labels: P2P

#9485 [P2PS] Ameerul /P2PS-675 Share my ads modal
  package-lock.json
  packages/account/package.json
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/cashier/package.json
  packages/cashier/src/components/error-dialog/error-dialog.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-wallet-address/deposit-crypto-wallet-address.tsx
  packages/components/src/components/clipboard/clipboard.tsx
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/icon/common/ic-edit.svg
  packages/components/src/components/icon/common/ic-facebook.svg
  packages/components/src/components/icon/common/ic-share-link.svg
  packages/components/src/components/icon/common/ic-share.svg
  packages/components/src/components/icon/common/ic-telegram.svg
  packages/components/src/components/icon/common/ic-whatsapp-filled.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/modal/modal.tsx
  packages/core/src/index.html
  packages/hooks/src/__tests__/useP2PAdvertInfo.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useP2PAdvertInfo.ts
  packages/p2p/jest.config.js
  packages/p2p/package.json
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.jsx
  packages/p2p/src/components/modal-manager/modals/error-modal/error-modal.jsx
  packages/p2p/src/components/modal-manager/modals/error-modal/error-modal.scss
  packages/p2p/src/components/modal-manager/modals/share-my-ads-modal/__tests__/share-my-ads-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/share-my-ads-modal/index.ts
  packages/p2p/src/components/modal-manager/modals/share-my-ads-modal/share-my-ads-card/index.ts
  packages/p2p/src/components/modal-manager/modals/share-my-ads-modal/share-my-ads-card/share-my-ads-card.scss
  packages/p2p/src/components/modal-manager/modals/share-my-ads-modal/share-my-ads-card/share-my-ads-card.tsx
  packages/p2p/src/components/modal-manager/modals/share-my-ads-modal/share-my-ads-modal.scss
  packages/p2p/src/components/modal-manager/modals/share-my-ads-modal/share-my-ads-modal.tsx
  packages/p2p/src/components/modal-manager/modals/share-my-ads-modal/share-my-ads-socials/index.ts
  packages/p2p/src/components/modal-manager/modals/share-my-ads-modal/share-my-ads-socials/share-my-ads-socials.scss
  packages/p2p/src/components/modal-manager/modals/share-my-ads-modal/share-my-ads-socials/share-my-ads-socials.tsx
  packages/p2p/src/constants/base64-images.ts
  packages/p2p/src/constants/modals.js
  packages/p2p/src/pages/advertiser-page/__tests__/advertiser-page.spec.tsx
  packages/p2p/src/pages/advertiser-page/advertiser-page.jsx
  packages/p2p/src/pages/app.jsx
  packages/p2p/src/pages/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/pages/my-ads/my-ads-table.scss
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/types/adverts.types.ts
  packages/p2p/src/types/index.ts
  packages/p2p/tsconfig.json
  packages/p2p/webpack.config.js
  packages/wallets/package.json
Labels: Core, Components, P2P, Account

#11353 [DTRA] / Kate / WEBREL-43 / Test coverage: positions-drawer.tsx in Trader package
  packages/trader/src/App/Components/Elements/PositionsDrawer/__tests__/positions-drawer.spec.tsx
Labels: Trader

#11295 [COJ] Likhith/186/enhance idv form for uganda
  packages/account/src/Components/forms/__tests__/idv-form.spec.tsx
  packages/account/src/Components/forms/idv-form.tsx
  packages/account/src/Constants/idv-document-config.ts
  packages/account/src/Helpers/__tests__/utils.spec.tsx
  packages/account/src/Helpers/utils.tsx
  packages/core/src/sass/app/_common/components/account-common.scss
Labels: Core, Account

#11465 WALL-2620/chore: fix deriv x account text and styles
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.scss
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.scss
Labels: Wallets

#11314 Hirad/cfds-1213/cfd listing type incompatibility
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/stores/types.ts
Labels: AppStore

#11464 WALL-2622/chore: close the modals on escape key by default
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.tsx
  packages/wallets/src/components/Base/ModalWrapper/ModalWrapper.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/features/cfd/modals/MT5AccountTypeModal/MT5AccountTypeModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/ChangePassword.tsx
Labels: Wallets

#11218 [DTRA] / Kate / DTRA-476 / [Code refactoring]: SonarCloud accessibility issues
  packages/shared/src/utils/contract/contract.tsx
  packages/trader/src/Assets/Trading/Categories/Description/accumulator-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/multiplier-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/turbos-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/vanilla-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories.tsx
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/__tests__/widgets.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/widgets.tsx
  packages/trader/src/sass/app/_common/mobile-widget.scss
Labels: Trader, Shared

#11469 [Wallets] Lubega / WALL-2615 / Extend WalletDropdown with WalletTextfield
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.scss
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.tsx
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.tsx
  packages/wallets/src/components/FlowField/FlowTextField.tsx
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/IDVDocumentUpload.scss
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/IDVDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/PersonalDetails/PersonalDetails.tsx
  packages/wallets/src/features/accounts/screens/ResubmitPOA/ResubmitPOA.scss
  packages/wallets/src/features/accounts/screens/ResubmitPOA/ResubmitPOA.tsx
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.tsx
Labels: Wallets

#11034 Shayan/P2PS-1753/refactor exchange rates hook
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/appstore/src/components/app.tsx
  packages/appstore/src/components/main-title-bar/__tests__/index.spec.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/cashier/src/app.tsx
  packages/cashier/src/components/crypto-fiat-converter/__tests__/crypto-fiat-converter.spec.tsx
  packages/cashier/src/components/crypto-fiat-converter/crypto-fiat-converter.tsx
  packages/cashier/src/components/percentage-selector/__tests__/percentage-selector.spec.tsx
  packages/cashier/src/components/percentage-selector/percentage-selector.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/__tests__/account-transfer-form.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/__tests__/withdrawal-crypto-form.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/withdrawal-crypto-form.tsx
  packages/core/src/App/app.jsx
  packages/hooks/package.json
  packages/hooks/src/__tests__/useExchangeRate.spec.tsx
  packages/hooks/src/__tests__/useP2PExchangeRate.spec.tsx
  packages/hooks/src/__tests__/useTotalAccountBalance.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useExchangeRate.ts
  packages/hooks/src/useP2PAdvertList.ts
  packages/hooks/src/useP2PExchangeRate.ts
  packages/hooks/src/useTotalAccountBalance.ts
  packages/p2p/src/components/floating-rate/__tests__/floating-rate.spec.tsx
  packages/p2p/src/components/floating-rate/floating-rate.tsx
  packages/p2p/src/pages/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/pages/app.jsx
  packages/p2p/src/pages/buy-sell/buy-sell-form.jsx
  packages/p2p/src/pages/buy-sell/buy-sell-row.jsx
  packages/p2p/src/pages/my-ads/__tests__/my-ads-row-renderer.spec.jsx
  packages/p2p/src/pages/my-ads/create-ad-form.jsx
  packages/p2p/src/pages/my-ads/create-ad-summary.jsx
  packages/p2p/src/pages/my-ads/edit-ad-summary.jsx
  packages/p2p/src/pages/my-ads/my-ads-row-renderer.jsx
  packages/stores/package.json
  packages/stores/src/index.ts
  packages/stores/src/mockStore.ts
  packages/stores/src/providers/ExchangeRatesProvider.tsx
  packages/stores/src/storeProvider.tsx
  packages/stores/src/stores/ExchangeRatesContext.tsx
  packages/stores/src/stores/ExchangeRatesStore.ts
  packages/stores/src/stores/index.ts
  packages/stores/types.ts
Labels: Core, P2P, Account, AppStore

#11046 [P2P]-feat: disclaimer modal for p2p users
  packages/components/src/components/icon/common/ic-warning.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/modal-manager/modals/disclaimer-modal/__tests__/disclaimer-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/disclaimer-modal/disclaimer-modal.scss
  packages/p2p/src/components/modal-manager/modals/disclaimer-modal/disclaimer-modal.tsx
  packages/p2p/src/components/modal-manager/modals/disclaimer-modal/index.ts
  packages/p2p/src/constants/modals.js
  packages/p2p/src/utils/date-time.js
Labels: Components, P2P

#11452 [COJ] shahzaib / idv poi not redirecting to onfido if failed in last attempt
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
Labels: Account

#11450 [BOT] chore: fix quick strategy max stake disable error issue
  packages/bot-web-ui/src/components/quick-strategy/inputs/qs-checkbox.tsx
  packages/bot-web-ui/src/components/quick-strategy/inputs/qs-input-label.tsx
  packages/bot-web-ui/src/components/quick-strategy/inputs/qs-input.tsx
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.tsx
Labels: Bot

#11298 [BOT] Farabi/bot-155/add reverse martingale strategy
  packages/bot-web-ui/src/components/quick-strategy/config.ts
  packages/bot-web-ui/src/xml/reverse_martingale.xml
Labels: Bot

#11388 [BOT] Farabi/bot-985/remove survicate code snippet
  packages/bot-web-ui/src/app/__tests__/app-main.spec.tsx
  packages/bot-web-ui/src/app/app-main.tsx
  packages/bot-web-ui/src/public-path.ts
Labels: Bot

#11288 [DTRA] Maryia/OPT-266/Accumulators: Display profit_percentage instead of profit for crypto with long fractional part
  packages/shared/src/utils/currency/__tests__/currency.spec.ts
  packages/shared/src/utils/currency/currency.ts
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-profit-loss-text.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-profit-loss-tooltip.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-text.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-tooltip.tsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader, Shared

#11555 WALL-2656/refactor: dropdown label fix and general code cleanup
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.tsx
  packages/wallets/src/components/SentEmailContent/SentEmailContent.tsx
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/IDVDocumentUpload.scss
  packages/wallets/src/features/accounts/screens/ResubmitPOA/ResubmitPOA.tsx
Labels: Wallets

#10205 Jim/feq 612/use p2p advert list hook inside p2p and remove the old usages new
  packages/hooks/src/__tests__/useP2PAdvertList.spec.tsx
  packages/hooks/src/useP2PAdvertList.ts
  packages/p2p/jest.config.js
  packages/p2p/package.json
  packages/p2p/src/hooks/__tests__/use-p2p-advertiser-adverts.spec.ts
  packages/p2p/src/hooks/__tests__/use-p2p-rendered-adverts.spec.tsx
  packages/p2p/src/hooks/index.ts
  packages/p2p/src/hooks/use-p2p-advertiser-adverts.ts
  packages/p2p/src/hooks/use-p2p-rendered-adverts.ts
  packages/p2p/src/pages/advertiser-page/__tests__/advertiser-page.spec.tsx
  packages/p2p/src/pages/advertiser-page/advertiser-page-adverts.jsx
  packages/p2p/src/pages/advertiser-page/advertiser-page.jsx
  packages/p2p/src/pages/buy-sell/buy-sell-header.jsx
  packages/p2p/src/pages/buy-sell/buy-sell-table.jsx
  packages/p2p/src/pages/buy-sell/buy-sell.jsx
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/tsconfig.json
  packages/p2p/webpack.config.js
Labels: P2P

#11571 shayan/feq-931/ fixed ts error for OrderedPlatformSections component
  packages/appstore/src/modules/traders-hub/index.tsx
Labels: AppStore

#11582 WALL-2668/chore: link all the flow for mt5 real account signup including idv, onfido and manual upload
  packages/api/src/hooks/useSettings.ts
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/ManualDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/DocumentSelection/DocumentSelection.scss
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/DocumentSelection/DocumentSelection.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/constants.tsx
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
Labels: Wallets

#11538 [BOT] chore: trackjs appspot issue
  packages/bot-web-ui/src/stores/data-collection-store.js
Labels: Bot

#11585 [WALL] Fix input text validation
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.tsx
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.tsx
Labels: Components

#11589 WALL-2673/chore: personal details cleanup
  packages/wallets/src/features/accounts/screens/PersonalDetails/PersonalDetails.tsx
  packages/wallets/src/features/accounts/screens/ResubmitPOA/ResubmitPOA.tsx
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
Labels: Wallets

#11461 [WALL] Sergei / wall 2625 / iOS success modal
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.scss
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
Labels: Core

#11607 Update charts 1.4.1
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#10975 [dtra] Akmal / feat: move price spot when overlaps with barrier
  packages/core/src/Stores/chart-barrier-store.js
  packages/core/src/Stores/contract-store.js
  packages/core/src/Stores/portfolio-store.js
  packages/shared/src/utils/constants/barriers.ts
  packages/shared/src/utils/contract/contract.tsx
  packages/stores/types.ts
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/SmartChart/chart-barrier-store.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/barrier-utils.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/barrier-utils.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core, Shared

#11604 WALL-2679/chore: error message for idv screen for expired and rejected status
  packages/wallets/src/features/accounts/constants.tsx
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/IDVDocumentUpload.scss
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/IDVDocumentUpload.tsx
  packages/wallets/src/types.ts
Labels: Wallets

#11532 [DTRA] / Kate / DTRA-518/ Profit/Loss in not shown when it is equal to zero
  packages/components/src/components/contract-card/contract-card-items/__tests__/turbos-card-body.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/turbos-card-body.tsx
  packages/reports/src/Constants/data-table-constants.tsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/__tests__/position-modal-card.spec.tsx
Labels: Trader, Components

#11594 [BOT] chore: test case for app-content
  packages/bot-web-ui/src/app/__tests__/app-content.spec.tsx
Labels: Bot

#10995 Maryia/BOT-888/fix: adaptation of BBot blocks for DBot to migration users
  packages/bot-skeleton/src/scratch/backward-compatibility.js
Labels: Bot

#11486 [BOT] Farabi/bot-960/test coverage for chart
  packages/bot-web-ui/src/components/chart/__tests__/chart.spec.tsx
Labels: Bot

#11617 fix: quick strategy duration issue
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/duration-type.tsx
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot

#11463 [DTRA] Maryia/DTRA-494/fix: console error about preventDefault inside passive event listener
  packages/components/src/hooks/__tests__/use-onlongpress.spec.tsx
  packages/components/src/hooks/use-onlongpress.ts
Labels: Components

#11502 [COJ]/likhith/[213]-fix: POA layout for MT5
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Components/cfd-poa.tsx
  packages/core/src/sass/app/_common/components/cfd-poa.scss
Labels: Core, Account, AppStore

#11012 Rupato/bot 583/feature include all search results
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/dashboard-component.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/user-guide.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/__tests__/tutorial-tab-desktop.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/__tests__/tutorial-tab-mobile.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/__tests__/tutorial-tab.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/common/common-tabs/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/common/no-search-result-found/index.ts
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/common/no-search-result-found/no-search-result.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/common/search-input/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/config/index.ts
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/dialog.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content/__tests__/faq-content.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content/__tests__/guide-content.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content/index.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.ts
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-tab.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorials-tab-desktop.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorials-tab-mobile.tsx
  packages/bot-web-ui/src/components/trade-animation/trade-animation.scss
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/components/src/components/icon/common/ic-dbot-close.svg
  packages/components/src/components/icon/common/ic-dbot-no-search-result.svg
Labels: Core, Bot, Components

#11335 [BOT] Farabi/bot-157/add 1-3-2-6 strategy to qs
  packages/bot-web-ui/src/components/quick-strategy/config.ts
  packages/bot-web-ui/src/xml/1_3_2_6.xml
Labels: Bot

#11113 [WALL] Aum / WALL-2176 / wallet-withdrawal-crypto-module
  packages/wallets/src/components/Base/WalletButton/WalletButton.tsx
  packages/wallets/src/components/WalletsPercentageSelector/WalletsPercentageSelector.scss
  packages/wallets/src/components/WalletsPercentageSelector/WalletsPercentageSelector.tsx
  packages/wallets/src/components/index.ts
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/WalletWithdrawal.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/WithdrawalCrypto.scss
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/WithdrawalCrypto.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoDisclaimer/WithdrawalCryptoDisclaimer.scss
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoDisclaimer/WithdrawalCryptoDisclaimer.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoDisclaimer/index.ts
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/WithdrawalCryptoForm.scss
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/WithdrawalCryptoForm.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoAmountConverter/WithdrawalCryptoAmountConverter.scss
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoAmountConverter/WithdrawalCryptoAmountConverter.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoAmountConverter/index.ts
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/index.ts
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/index.ts
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/index.ts
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/index.ts
  packages/wallets/src/features/cashier/modules/index.ts
  packages/wallets/src/types.ts
Labels: Core, Components

#11440 [P2PS] Ameerul / P2PS-1941 Facing Console errors on staging environment
  packages/p2p/src/pages/buy-sell/buy-sell-form.jsx
  packages/p2p/src/stores/general-store.js
Labels: P2P

#11643 WALL-2700/chore: fix jurisdiction tnc section and add proper terms and condition links
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionFootNoteTitle/JurisdictionFootNoteTitle.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionScreen.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionScreen.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/index.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/index.ts
Labels: Wallets

#11550 Amir/CRO-284/Add tracking for tradershub onboarding flow
  __mocks__/globals.js
  package-lock.json
  package.json
  packages/appstore/jest.config.js
  packages/appstore/src/components/wallet-cards-carousel/cards-slider-swiper.tsx
  packages/appstore/src/hooks/index.ts
  packages/appstore/src/hooks/use-tradershub-tracking.ts
  packages/appstore/src/modules/onboarding/onboarding.tsx
  packages/appstore/src/modules/tour-guide/tour-guide.tsx
  packages/appstore/tsconfig.json
  packages/appstore/webpack.config.js
  packages/bot-web-ui/src/components/dashboard/dbot-tours/bot-builder-tour/bot-builder-tour-mobile.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/onboarding-tour/onboarding-tour-mobile.tsx
  packages/components/package.json
  packages/components/src/components/progress-bar-tracker/progress-bar-tracker.tsx
  packages/core/package.json
  packages/core/src/App/Containers/Layout/header/traders-hub-onboarding.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
  packages/reports/package.json
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/package.json
Labels: Trader, Core, Bot, Components, AppStore

#11418 chore: refactor integration tests for wallets
  packages/account/integration-tests/personal-details/menu.spec.tsx
  packages/account/integration-tests/personal-details/personal-details.spec.tsx
  packages/integration/src/exampleMock.ts
  packages/integration/src/index.ts
  packages/integration/src/mocks/auth/accountSecurity.ts
  packages/integration/src/mocks/auth/authorize.ts
  packages/integration/src/mocks/auth/balanceAll.ts
  packages/integration/src/mocks/auth/balanceOne.ts
  packages/integration/src/mocks/auth/getAccountStatus.ts
  packages/integration/src/mocks/auth/getFinancialAssessment.ts
  packages/integration/src/mocks/auth/getLimits.ts
  packages/integration/src/mocks/auth/getSelfExclusion.ts
  packages/integration/src/mocks/auth/getSettings.ts
  packages/integration/src/mocks/auth/index.ts
  packages/integration/src/mocks/auth/landingCompany.ts
  packages/integration/src/mocks/auth/mt5LoginList.ts
  packages/integration/src/mocks/auth/p2pAdvertiserInfo.ts
  packages/integration/src/mocks/auth/p2pOrderList.ts
  packages/integration/src/mocks/auth/paymentagentList.ts
  packages/integration/src/mocks/auth/platformDxtrade.ts
  packages/integration/src/mocks/auth/platformMt5.ts
  packages/integration/src/mocks/auth/portfolio.ts
  packages/integration/src/mocks/auth/statement.ts
  packages/integration/src/mocks/auth/tradingPlatformAccounts.ts
  packages/integration/src/mocks/auth/tradingPlatformAvailableAccounts.ts
  packages/integration/src/mocks/auth/transaction.ts
  packages/integration/src/mocks/general/exchangeRates.ts
  packages/integration/src/mocks/general/index.ts
  packages/integration/src/mocks/general/payoutCurrencies.ts
  packages/integration/src/mocks/general/residentsList.ts
  packages/integration/src/mocks/general/statesList.ts
  packages/integration/src/mocks/general/time.ts
  packages/integration/src/mocks/general/websiteStatus.ts
  packages/integration/src/utils/mocks/mocks.ts
  packages/wallets/integration-tests/menu.spec.tsx
  packages/wallets/integration-tests/mocks/mockBalance.ts
  packages/wallets/integration-tests/mocks/mockCryptoConfig.ts
  packages/wallets/integration-tests/mocks/mockGetAccountTypes.ts
  packages/wallets/integration-tests/mocks/mockProposalOpenContract.ts
  packages/wallets/integration-tests/mocks/mockWalletsAuthorize.ts
  packages/wallets/package.json
  playwright.config.ts
Labels: Account

#11666 Revert 11034
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/appstore/src/components/app.tsx
  packages/appstore/src/components/main-title-bar/__tests__/index.spec.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/cashier/src/app.tsx
  packages/cashier/src/components/crypto-fiat-converter/__tests__/crypto-fiat-converter.spec.tsx
  packages/cashier/src/components/crypto-fiat-converter/crypto-fiat-converter.tsx
  packages/cashier/src/components/percentage-selector/__tests__/percentage-selector.spec.tsx
  packages/cashier/src/components/percentage-selector/percentage-selector.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/__tests__/account-transfer-form.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/__tests__/withdrawal-crypto-form.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/withdrawal-crypto-form.tsx
  packages/core/src/App/app.jsx
  packages/hooks/package.json
  packages/hooks/src/__tests__/useExchangeRate.spec.tsx
  packages/hooks/src/__tests__/useP2PExchangeRate.spec.tsx
  packages/hooks/src/__tests__/useTotalAccountBalance.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useExchangeRate.ts
  packages/hooks/src/useP2PAdvertList.ts
  packages/hooks/src/useP2PExchangeRate.ts
  packages/hooks/src/useTotalAccountBalance.ts
  packages/p2p/src/components/floating-rate/__tests__/floating-rate.spec.tsx
  packages/p2p/src/components/floating-rate/floating-rate.tsx
  packages/p2p/src/pages/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/pages/app.jsx
  packages/p2p/src/pages/buy-sell/buy-sell-form.jsx
  packages/p2p/src/pages/buy-sell/buy-sell-row.jsx
  packages/p2p/src/pages/my-ads/__tests__/my-ads-row-renderer.spec.jsx
  packages/p2p/src/pages/my-ads/create-ad-form.jsx
  packages/p2p/src/pages/my-ads/create-ad-summary.jsx
  packages/p2p/src/pages/my-ads/edit-ad-summary.jsx
  packages/p2p/src/pages/my-ads/my-ads-row-renderer.jsx
  packages/stores/package.json
  packages/stores/src/index.ts
  packages/stores/src/mockStore.ts
  packages/stores/src/providers/ExchangeRatesProvider.tsx
  packages/stores/src/storeProvider.tsx
  packages/stores/src/stores/ExchangeRatesContext.tsx
  packages/stores/src/stores/ExchangeRatesStore.ts
  packages/stores/src/stores/index.ts
  packages/stores/types.ts
Labels: Core, P2P, Account, AppStore

#11675 [WALL-2714]/fix: cfd account title
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
Labels: Wallets

#11307 [COJ] | wall-2430, fix for trading assessment form (showing the error, even not all fields have been touched)
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/trading-assessment/trading-assessment-form.jsx
  packages/components/src/components/checkbox/checkbox.scss
Labels: Components, Account

#10711 Likhith/wall 1714/enhance error message handling for poi
  packages/account/src/Components/icon-message-list/__tests__/icon-message-list.spec.tsx
  packages/account/src/Components/icon-message-list/__tests__/list-item.spec.tsx
  packages/account/src/Components/icon-message-list/icon-message-list.tsx
  packages/account/src/Components/icon-message-list/list-item.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/__tests__/idv-failed.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/__tests__/idv-submit-complete.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/idv-submit-complete.tsx
  packages/account/src/Components/poi/poi-country-selector/__tests__/poi-country-selector.spec.tsx
  packages/account/src/Components/poi/poi-country-selector/poi-country-selector.tsx
  packages/account/src/Components/poi/status/rejected-reasons/__tests__/rejected-reasons.spec.tsx
  packages/account/src/Components/poi/status/rejected-reasons/index.ts
  packages/account/src/Configs/__test__/poi-error-config.spec.ts
  packages/account/src/Configs/poi-error-config.tsx
  packages/account/src/Helpers/__tests__/utils.spec.tsx
  packages/account/src/Helpers/utils.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Styles/account.scss
  packages/components/stories/icon/icons.js
  packages/shared/src/utils/constants/idv-failure-codes.ts
  packages/shared/src/utils/constants/index.ts
  packages/shared/src/utils/constants/poi-failure-codes.tsx
  packages/shared/src/utils/helpers/format-response.ts
Labels: Shared, Components, Account

#11116 Maryia/BOT-905/Quick Strategy minor bug fixes and improvements
  packages/bot-web-ui/src/components/quick-strategy/inputs/__tests__/qs-input.spec.tsx
  packages/bot-web-ui/src/components/quick-strategy/inputs/qs-input.tsx
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/quick-strategy/selects/__tests__/symbol.spec.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/symbol.tsx
  packages/components/src/components/autocomplete/autocomplete.tsx
Labels: Bot, Components

#11657 [WALL] Aizad/WALL-2637/password-validation-issue
  package-lock.json
  packages/wallets/package-lock.json
  packages/wallets/package.json
  packages/wallets/src/components/Base/WalletPasswordField/PasswordFieldUtils.ts
  packages/wallets/src/components/Base/WalletPasswordField/PasswordMeter.tsx
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.scss
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.tsx
  packages/wallets/src/components/Base/WalletText/WalletText.tsx
  packages/wallets/src/components/Base/WalletTextField/HelperMessage.tsx
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.tsx
  packages/wallets/src/constants/passwordConstants.ts
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
  packages/wallets/src/utils/passwordUtils.ts
Labels: Components

#11694 Revert "Likhith/wall 1714/enhance error message handling for poi"
  packages/account/src/Components/icon-message-list/__tests__/icon-message-list.spec.tsx
  packages/account/src/Components/icon-message-list/__tests__/list-item.spec.tsx
  packages/account/src/Components/icon-message-list/icon-message-list.tsx
  packages/account/src/Components/icon-message-list/list-item.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/__tests__/idv-failed.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/__tests__/idv-submit-complete.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/idv-submit-complete.tsx
  packages/account/src/Components/poi/poi-country-selector/__tests__/poi-country-selector.spec.tsx
  packages/account/src/Components/poi/poi-country-selector/poi-country-selector.tsx
  packages/account/src/Components/poi/status/rejected-reasons/__tests__/rejected-reasons.spec.tsx
  packages/account/src/Components/poi/status/rejected-reasons/index.js
  packages/account/src/Configs/__test__/poi-error-config.spec.ts
  packages/account/src/Configs/poi-error-config.tsx
  packages/account/src/Helpers/__tests__/utils.spec.tsx
  packages/account/src/Helpers/utils.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Styles/account.scss
  packages/components/stories/icon/icons.js
  packages/shared/src/utils/constants/idv-failure-codes.ts
  packages/shared/src/utils/constants/index.ts
  packages/shared/src/utils/constants/poi-failure-codes.tsx
  packages/shared/src/utils/helpers/format-response.ts
Labels: Shared, Components, Account

#11249 [FEQ] Add websocketurl to timeout
  packages/core/src/Services/socket-general.js
Labels: Core

#11714 [BOT]/Maryia/WEBREL-1698/fix: duration field validation error is not displayed in mobile
  packages/bot-web-ui/src/components/quick-strategy/inputs/qs-input.tsx
Labels: Bot

#11640 [P2PS] Ameerul /P2PS-1933 Remove the unused function in BuySellStore
  packages/p2p/src/stores/buy-sell-store.js
Labels: P2P

#11641 [P2PS] Ameerul /P2PS-1936 Remove the unused observables and functions in MyProfileStore
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#11642 [P2PS] Ameerul /P2PS-1937 Remove the unused observables and functions in OrderStore
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/stores/order-store.js
Labels: P2P

#11703 refactor: remove unused observable and functions from general-store
  packages/p2p/src/stores/general-store.js
Labels: P2P

#11721 WALL-2736/refactor: break down the poa screen components
  packages/wallets/src/features/accounts/screens/AddressSection/AddressSection.scss
  packages/wallets/src/features/accounts/screens/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/screens/AddressSection/index.ts
  packages/wallets/src/features/accounts/screens/DocumentSubmission/DocumentSubmission.scss
  packages/wallets/src/features/accounts/screens/DocumentSubmission/DocumentSubmission.tsx
  packages/wallets/src/features/accounts/screens/DocumentSubmission/index.ts
  packages/wallets/src/features/accounts/screens/PoaScreen/PoaScreen.scss
  packages/wallets/src/features/accounts/screens/PoaScreen/PoaScreen.tsx
  packages/wallets/src/features/accounts/screens/PoaScreen/index.ts
  packages/wallets/src/features/accounts/screens/ResubmitPOA/ResubmitPOA.scss
  packages/wallets/src/features/accounts/screens/ResubmitPOA/ResubmitPOA.tsx
  packages/wallets/src/features/accounts/screens/ResubmitPOA/index.ts
  packages/wallets/src/features/accounts/screens/index.ts
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
Labels: Wallets

#11677 [P2PS]-fix: remove unsed functions and values from my-ads-store
  packages/p2p/src/stores/__tests__/my-ads-store.spec.js
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#11725 WALL-2742/fix: financial mt5 account creation
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
Labels: Wallets

#11729 WALL-2746/fix: dxtrade password button fix
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
Labels: Wallets

#11734 WALL-2749/feat: add error modal to cfd
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoAmountConverter/WithdrawalCryptoAmountConverter.tsx
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
Labels: Wallets

#11736 WALL-2753/fix: jurisdiction modal checkbox
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
Labels: Wallets

#11744 [Bot] test: added unit test case for workspace-group file in bot-web-ui
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/__tests__/workspace-group.spec.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar-icon.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/workspace-group.tsx
Labels: Bot

#11761 WALL-2763/fix: password meter to be full width
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.scss
Labels: Wallets

#11760 WALL-2764/chore: fix swap free title in success modal
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
Labels: Wallets

#11758 WALL-2761/fix: landing company name in the terms and conditions checkbox according to selected jurisdiction
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.tsx
Labels: Wallets

#11759 WALL-2762/fix: account name in enter password modal
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
Labels: Wallets

#11730 [WALL] Farhan/WALL-2747/Implement POA document submission
  packages/wallets/src/features/accounts/screens/DocumentSubmission/DocumentSubmission.scss
  packages/wallets/src/features/accounts/screens/DocumentSubmission/DocumentSubmission.tsx
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
Labels: Wallets

#11757 Amir/CRO-284/tradershub onboarding tracking issue fix
  packages/appstore/package.json
  packages/appstore/webpack.config.js
Labels: AppStore

#11618 [DTRA] / Kate / DTRA-536 / [Console error] Error after purchasing Accumulator contract
  packages/trader/src/Modules/Trading/Containers/purchase.tsx
Labels: Trader

#11782 [wallets]thisyahlen/WALL-2768/chore: fix border bottom for jurisdiction modal and is_mt5_password_not_set for password modal
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardRow.scss
Labels: Wallets

#11783 [WALL] thisyahlen/WALL-2772/chore: dont show get more accounts button if all the mt5 accounts are created
  packages/api/src/hooks/useSortedMT5Accounts.ts
  packages/wallets/src/features/cfd/components/MT5PlatformsList/MT5PlatformsList.tsx
Labels: Wallets

#11788 [wallets]thisyahlen/WALL-2771/fix: verification badge for pending based on poa and poi
  packages/api/src/hooks/useJurisdictionStatus.ts
Labels: Wallets

#11746 [FEQ] - Remove optimize tag
  packages/core/src/index.html
Labels: Core

#11793 [wallets]thisyahlen/WALL-2770/chore: add error handling for ctrader account creation
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.scss
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
Labels: Wallets

#10053 Ameerul /P2PS-1563 Migrate string.js to typescript
  packages/p2p/src/utils/__tests__/string.spec.ts
  packages/p2p/src/utils/string.js
  packages/p2p/src/utils/string.ts
Labels: P2P

#10942 Likhith/wall 1728/impriove error message for high risk client
  packages/account/src/Components/poi/poi-country-selector/__tests__/poi-country-selector.spec.tsx
  packages/account/src/Components/poi/poi-country-selector/poi-country-selector.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/hooks/src/useNotificationEvent.ts
  packages/shared/src/utils/constants/idv-failure-codes.ts
  packages/shared/src/utils/helpers/format-response.ts
Labels: Core, Shared, Account

#11809 [wallets]thisyahlen/WALL-2766/chore: remove minus icon for svg jurisdiction
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
Labels: Wallets

#11808 [WEBREL] farrah/fix: chat message and buttons alignment
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal.scss
  packages/p2p/src/pages/orders/chat/chat-message-text.jsx
Labels: P2P

#11784 yashim/feat: add switching environment handler
  packages/api/src/APIProvider.tsx
  packages/api/src/hooks/useAuthorize.ts
  packages/p2p/src/components/modal-manager/modals/disclaimer-modal/__tests__/disclaimer-modal.spec.tsx
Labels: Components, P2P
