Repository deriv-com/deriv-app, pull requests merged in 2023-10, with the labels that each got.

#10401 Matin / Fix language switch issue
  packages/core/src/App/Components/Routes/language-link.tsx
Labels: Core

#10016 Ako/ Migrate from CircleCI to Github workflows
  .github/actions/build/action.yml
  .github/actions/invalidate_master_cache/action.yml
  .github/actions/npm_install_from_cache/action.yml
  .github/actions/publish_to_pages_production/action.yml
  .github/actions/publish_to_pages_staging/action.yml
  .github/actions/send_slack_notifications/action.yml
  .github/actions/setup_node/action.yml
  .github/actions/versioning/action.yml
  .github/workflows/coveralls.yml
  .github/workflows/generate_and_push_deriv_api_types.yml
  .github/workflows/lighthouse.yml
  .github/workflows/merge_and_release_to_staging.yml
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
  .github/workflows/test.yml
  jest.config.base.js
  jest.config.js
  nx.json
  package.json
  packages/components/src/components/cellmeasurer/CellMeasurer.d.ts
  packages/components/src/components/cellmeasurer/CellMeasurerCache.d.ts
Labels: Components, P2P

#10334 aum/WALL-1983/fix-description-font-size-in-empty-state
  packages/components/src/components/empty-state/empty-state.scss
  packages/components/src/components/empty-state/empty-state.tsx
Labels: Components

#10350 george / WALL-1985 / fix style issues (PA withdarwal, fiat withdrawals)
  packages/appstore/src/components/elements/text/__tests__/balance-text.spec.tsx
  packages/appstore/src/components/elements/text/balance-text.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-header.tsx
  packages/cashier/src/components/email-verification-empty-state/email-verification-empty-state.scss
  packages/cashier/src/components/email-verification-empty-state/email-verification-empty-state.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.scss
  packages/components/src/components/empty-state/empty-state.scss
Labels: Components, AppStore

#9582 shahzaib / KYC-305 / IDV personal details section improvement
  packages/account/src/Assets/ic-poi-name-dob-example.svg
  packages/account/src/Components/form-body-section/__tests__/form-body-section.spec.tsx
  packages/account/src/Components/form-body-section/form-body-section.tsx
  packages/account/src/Components/forms/confirmation-checkbox/__tests__/confirmation-checkbox.spec.tsx
  packages/account/src/Components/forms/confirmation-checkbox/confirmation-checkbox.tsx
  packages/account/src/Components/forms/confirmation-checkbox/index.ts
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/__test__/proof-of-ownership-form.spec.js
  packages/account/src/Styles/account.scss
  packages/core/src/sass/app/_common/components/onfido-container.scss
Labels: Core, Components, Account

#9562 chore:Fix tap twice for manage account
  packages/components/src/hooks/use-hover.ts
  packages/core/src/App/Containers/Layout/header/default-mobile-links.tsx
Labels: Core, Components

#10376 Rostislav / WALL-1986 / Alignment issues in Transfer limit message
  packages/cashier/src/components/crypto-fiat-converter/crypto-fiat-converter.scss
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
Labels: Components

#10347 Maryia/BOT-312/fix: text content on FAQ
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-content.tsx
Labels: Bot

#9447 Jim/feq 420/resolve sonar cloud failure because of deplication
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/constants/contract.js
  packages/bot-web-ui/src/stores/summary-card-store.js
  packages/bot-web-ui/src/utils/validator/errors.js
  packages/bot-web-ui/src/utils/validator/index.js
  packages/bot-web-ui/src/utils/validator/validator.js
  packages/cfd/src/Containers/compare-accounts-content.tsx
  packages/cfd/src/Stores/base-store.js
  packages/cfd/src/Utils/Validator/__tests__/error.spec.js
  packages/cfd/src/Utils/Validator/errors.js
  packages/cfd/src/Utils/Validator/index.js
  packages/cfd/src/Utils/Validator/validator.js
  packages/cfd/src/_common/__tests__/utility.js
  packages/cfd/src/_common/utility.js
  packages/components/src/components/remaining-time/remaining-time.tsx
  packages/core/src/Stores/base-store.js
  packages/core/src/Utils/Validator/errors.js
  packages/core/src/Utils/Validator/index.js
  packages/core/src/Utils/Validator/validator.js
  packages/core/src/_common/__tests__/utility.js
  packages/core/src/_common/utility.js
  packages/reports/src/Stores/base-store.js
  packages/reports/src/Utils/Validator/__tests__/error.spec.js
  packages/reports/src/Utils/Validator/errors.js
  packages/reports/src/Utils/Validator/index.js
  packages/reports/src/Utils/Validator/validator.js
  packages/reports/src/_common/__tests__/utility.js
  packages/reports/src/_common/utility.js
  packages/shared/src/utils/constants/contract.ts
  packages/shared/src/utils/validator/__tests__/validator.spec.js
  packages/shared/src/utils/validator/index.ts
  packages/shared/src/utils/validator/validator.ts
  packages/trader/src/Utils/Validator/__tests__/error.spec.ts
  packages/trader/src/Utils/Validator/errors.ts
  packages/trader/src/Utils/Validator/validator.ts
  packages/trader/src/_common/__tests__/utility.js
  packages/trader/src/_common/utility.js
Labels: Core, Bot, Shared, Components, P2P

#9961 fix: 🔘 makes radio button clickable from label for iOS
  packages/account/src/Components/forms/__tests__/personal-details-form.spec.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/core/src/sass/account-wizard.scss
Labels: Core, Components, Account

#10184 fix: 🔮 displays the 'Set residence' button for the user to complete submission
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-modal.jsx
  packages/core/src/sass/app/modules/set-residence.scss
Labels: Core

#10052 Farabi/bot-568/refactor the recentWorkspace function
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
Labels: Bot

#9571 Shafin/bot 321/fix bot unsaved on running issue
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/utils/index.js
  packages/bot-skeleton/src/utils/strategy-helper.js
Labels: Bot

#10061 farrah/P2PS-1589/fix: layout issue on matching ads toggle
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal.scss
Labels: P2P

#9431 feat: land on buy tab when coming from outside p2p
  packages/p2p/src/components/__tests__/app-content.spec.js
  packages/p2p/src/components/app-content.jsx
Labels: P2P

#10274 henry/dtra-422/fix: hide deal cancellation component when cancellation is not available
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/cancel-deal.jsx
Labels: Trader

#10057 Shafin/bot 402/chore add account info journal
  packages/bot-skeleton/src/constants/messages.js
  packages/bot-web-ui/src/components/journal/journal-components/format-message.tsx
  packages/bot-web-ui/src/components/journal/journal.types.ts
  packages/bot-web-ui/src/stores/download-store.js
  packages/bot-web-ui/src/stores/journal-store.js
Labels: Bot

#8632 Ameerul /Task P2PS-577 Deriv P2P error message: After high-risk clients complete FA, they must submit POA
  packages/p2p/src/components/dp2p-blocked/dp2p-blocked-description.tsx
  packages/p2p/src/components/dp2p-blocked/dp2p-blocked.scss
  packages/p2p/src/components/dp2p-blocked/dp2p-blocked.tsx
  packages/p2p/src/stores/general-store.js
Labels: P2P

#10395 Mahdiyeh/FEQ-693/chore: import sorting
  docs/JavaScript/README.md
  package-lock.json
  package.json
  packages/appstore/src/modules/onboarding/onboarding.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/bot-web-ui/.eslintrc.js
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/components/bot-notification-messages/bot-notification-messages.tsx
Labels: Bot, Docs, AppStore

#10073 Shafin/bot 679/fix disable empty trx download
  packages/bot-web-ui/src/components/download/download.tsx
  packages/bot-web-ui/src/stores/download-store.js
Labels: Bot

#10439 Revert "Mahdiyeh/FEQ-693/chore: import sorting"
  docs/JavaScript/README.md
  package-lock.json
  package.json
  packages/appstore/src/modules/onboarding/onboarding.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/bot-web-ui/.eslintrc.js
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/components/bot-notification-messages/bot-notification-messages.tsx
Labels: Bot, Docs, AppStore

#10447 shahzaib / WEBREL-1349 / hide confirmation checkbox upon idv opt-out
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Components/personal-details/personal-details.jsx
Labels: Account

#10441 fix: run panel download button style issues
  packages/bot-web-ui/src/components/download/download.tsx
Labels: Bot

#10449 fix: journal welcome msg translation
  packages/bot-web-ui/src/components/journal/journal-components/format-message.tsx
Labels: Bot

#10452 fix: trx dwnld btn should be disabled if bot is running
  packages/bot-web-ui/src/components/download/download.tsx
Labels: Bot

#8884 yauheni/likhith/Combined/wall 400/idv error message handled
  packages/account/src/Assets/ic-poi-dob-example.svg
  packages/account/src/Assets/ic-poi-name-example.svg
  packages/account/src/Components/form-body/form-body.tsx
  packages/account/src/Components/forms/__tests__/idv-form.spec.tsx
  packages/account/src/Components/forms/idv-form.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/poa/continue-trading-button/continue-trading-button.tsx
  packages/account/src/Components/poa/poa-button/poa-button.tsx
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Components/poi/idv-status/idv-expired/__tests__/idv-expired.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-expired/idv-expired.tsx
  packages/account/src/Components/poi/idv-status/idv-expired/index.js
  packages/account/src/Components/poi/idv-status/idv-failed/__tests__/idv-failed.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/index.ts
  packages/account/src/Components/poi/idv-status/idv-limited/__tests__/idv-limited.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-limited/idv-limited.tsx
  packages/account/src/Components/poi/idv-status/idv-limited/index.js
  packages/account/src/Components/poi/idv-status/idv-limited/index.ts
  packages/account/src/Components/poi/idv-status/idv-rejected/__tests__/idv-rejected.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-rejected/idv-rejected.tsx
  packages/account/src/Components/poi/idv-status/idv-rejected/index.js
  packages/account/src/Components/poi/idv-status/idv-submit-complete/__tests__/idv-submit-complete.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/idv-submit-complete.tsx
  packages/account/src/Components/poi/idv-status/idv-verified/idv-verified.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Components/poi/poi-country-selector/__tests__/poi-country-selector.spec.tsx
  packages/account/src/Components/poi/poi-country-selector/poi-country-selector.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Configs/poi-error-config.tsx
  packages/account/src/Constants/api-error-codes.ts
  packages/account/src/Helpers/utils.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/__tests__/proof-of-identity-container.spec.js
  packages/account/src/Sections/Verification/ProofOfIdentity/idv.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Styles/account.scss
  packages/account/src/Types/common.type.ts
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/components/src/components/hint-box/hint-box.scss
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/components/account-common.scss
  packages/core/src/sass/app/_common/components/onfido-container.scss
  packages/core/src/sass/real-account-signup.scss
  packages/shared/src/utils/constants/error.ts
  packages/shared/src/utils/constants/idv-failure-codes.ts
  packages/shared/src/utils/constants/index.ts
  packages/shared/src/utils/helpers/format-response.ts
Labels: Account

#10398 Kate / Fix: last_contract was not defined on the first page load
  packages/core/src/Stores/contract-trade-store.js
Labels: Trader, Core

#8176 refactor: evgeniy/92724/language settings improvements
  package-lock.json
  packages/account/src/Sections/Profile/LanguageSettings/__tests__/language-settings.spec.tsx
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/components/src/components/mobile-drawer/mobile-drawer-submenu.tsx
  packages/core/package.json
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/index.ts
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/menu-title.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/mobile-language-menu.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/menu-link.spec.tsx
  packages/core/src/App/Components/Layout/Header/menu-link.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Components/Routes/__tests__/language-link.spec.tsx
  packages/core/src/App/Components/Routes/language-link.tsx
  packages/core/src/App/Containers/SettingsModal/settings-language.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/common-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app/_common/components/settings-language.scss
  packages/shared/src/utils/files/file-uploader-utils.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/utils/src/__tests__/parse-url.spec.tsx
  packages/utils/src/index.ts
  packages/utils/src/parse-url.ts
Labels: Trader, Core, Bot, Shared, Components, P2P, Account

#9452 FarhanNurzi/P2PS-1122/Toast message is disappearing automatically after completing a buy order
  packages/core/src/Stores/notification-store.js
Labels: Core, P2P, Account

#10026 Rupato/fix: added content search for different languages
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-content.ts
Labels: Bot

#8915 Ameerul /P2PS-721 Move the registration to the My Profile tab on the website to ensure consistency across Mobile App and Website
  packages/p2p/src/components/__tests__/app-content.spec.js
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
  packages/p2p/src/pages/app.jsx
  packages/p2p/src/pages/my-profile/__tests__/my-profile.spec.js
  packages/p2p/src/pages/my-profile/my-profile.jsx
Labels: P2P

#10379 Hamza/Bug: CFDS 598/mt5 account type icons
  packages/account/src/Sections/Security/ClosingAccount/account-has-balance.jsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-reason.jsx
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-cfds.svg
  packages/components/src/components/icon/mt5/ic-mt5-financial.svg
  packages/components/src/components/icon/mt5/ic-mt5-swap-free.svg
  packages/components/src/components/icon/mt5/ic-mt5-synthetic.svg
  packages/shared/src/utils/cfd/cfd.ts
Labels: Shared, Components, Account

#10445 Ameerul /P2PS-1704 Overlap of buy modal when sellers instructions are too long
  packages/p2p/src/pages/buy-sell/buy-sell-form.scss
  packages/p2p/src/pages/my-profile/payment-methods/add-payment-method/add-payment-method-form.scss
Labels: P2P

#10320 Ameerul /P2PS-1577 Change the maximum file upload size to 5 MB in POT popup for FE
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/__tests__/order-details-confirm-modal.spec.js
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/order-details-confirm-modal.jsx
  packages/p2p/src/utils/file-uploader.js
Labels: P2P

#10480 Nijil/Comment out usage of useWalletList and useWalletMigration
  package-lock.json
  packages/appstore/src/components/main-title-bar/__tests__/index.spec.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/routes/routes.tsx
  packages/appstore/src/components/wallet-cards-carousel/__tests__/wallet-cards-carousel.spec.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
  packages/hooks/src/__tests__/useActiveWallet.spec.tsx
  packages/hooks/src/__tests__/useTransferBetweenAccounts.spec.tsx
  packages/hooks/src/__tests__/useWalletTransactions.spec.tsx
  packages/wallets/src/components/WalletTransactions/WalletTransactions.tsx
Labels: Core, AppStore

#10225 Maryia/DTRA-424/build: update deriv-charts to 1.4.0
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot, P2P

#10509 Revert "FarhanNurzi/P2PS-1122/Toast message is disappearing automatically after completing a buy order"
  packages/core/src/Stores/notification-store.js
Labels: Core

#10559 feat: reduced appstore bundle size due to onfido
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
  packages/appstore/webpack.config.js
Labels: Account, AppStore

#10408 Farabi/bot-635/test case for workspace control
  packages/bot-web-ui/src/components/load-modal/__tests__/workspace-control.spec.tsx
  packages/bot-web-ui/src/components/load-modal/workspace-control.tsx
Labels: Bot

#10546 Farabi/bot 680/test case for flyout block
  packages/bot-web-ui/src/components/flyout/__tests__/flyout-block.spec.tsx
  packages/bot-web-ui/src/components/flyout/flyout-block-group.jsx
  packages/bot-web-ui/src/components/flyout/flyout-block.tsx
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-help-base.jsx
Labels: Bot

#10548 Maryia/Bot-682/test: add test case for flyout-text.jsx
  packages/bot-web-ui/src/components/flyout/__tests__/flyout-text.spec.tsx
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-help-base.jsx
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-text.tsx
Labels: Bot

#10528 chore: add test case for date-item.tsx
  packages/bot-web-ui/src/components/journal/journal-components/__tests__/date-item.spec.tsx
Labels: Bot

#10540 Shafin/bot 685/chore filter dialog test case
  packages/bot-web-ui/src/components/journal/journal-components/__tests__/filter-dialog.spec.tsx
Labels: Bot

#10554 Maryia/BOT-683/test: add test case for flyout-video.jsx
  packages/bot-web-ui/src/components/flyout/__tests__/flyout-video.spec.tsx
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-help-base.jsx
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-video.jsx
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-video.tsx
Labels: Bot

#10533 Maryia/Bot-681/test: add test case for flyout-img.jsx
  packages/bot-web-ui/src/components/flyout/__tests__/flyout-img.spec.tsx
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-img.tsx
Labels: Bot

#10192 Arshad/ WALL-1587/ Responsive account dropdown dtrader
  packages/appstore/src/components/modals/wallet-success-dialog/wallet-success-dialog.scss
  packages/appstore/src/components/modals/wallet-success-dialog/wallet-success-dialog.tsx
  packages/components/src/components/badge/badge.tsx
  packages/core/src/App/Components/Layout/Header/wallets/account-actions-wallets.tsx
  packages/core/src/App/Components/Layout/Header/wallets/account-info-wallets.tsx
  packages/core/src/App/Components/Layout/Header/wallets/wallet-badge.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/__tests__/account-switcher-wallet-list.spec.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/__tests__/account-switcher-wallet-mobile.spec.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-list.scss
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-list.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-mobile.scss
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-mobile.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet.scss
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/index.ts
  packages/core/src/sass/app/_common/components/account-switcher.scss
Labels: Core, Components, AppStore

#10581 adrienne / load Onfido through CDN
  __mocks__/globals.js
  package-lock.json
  packages/account/package.json
  packages/account/src/Containers/__tests__/routes.spec.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/__tests__/proof-of-identity-container.spec.js
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
  packages/appstore/webpack.config.js
  packages/core/src/index.html
  types/global.d.ts
Labels: Core, Account, AppStore

#10479 refactor: to ignore telegram token in datadog logs
  packages/core/src/Utils/Datadog/index.ts
Labels: Core

#10323 shontzu/CFDS-597/In-Trade-Section-Account-type-label-is-wrong-for-CFD
  packages/shared/src/utils/cfd/cfd.ts
Labels: Core, Shared

#10399 Maryia/OPT-484/fix: barriers animation in inactive browser tab + avoid highlighting outdated barriers crossed by latest tick
  packages/core/src/Stores/contract-trade-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core

#10503 henry/dtra-440/fix: deal cancellation state is reset everytime we switch symbol
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
Labels: Trader

#9865 shahzaib / WALL-1386 / UI for the additional kyc request
  packages/account/src/Components/additional-kyc-info-modal/__test__/additional-kyc-info-form.spec.tsx
  packages/account/src/Components/additional-kyc-info-modal/__test__/additional-kyc-info-modal.spec.tsx
  packages/account/src/Components/additional-kyc-info-modal/__test__/form-config.spec.tsx
  packages/account/src/Components/additional-kyc-info-modal/additional-kyc-info-form.tsx
  packages/account/src/Components/additional-kyc-info-modal/additional-kyc-info-modal.scss
  packages/account/src/Components/additional-kyc-info-modal/additional-kyc-info-modal.tsx
  packages/account/src/Components/additional-kyc-info-modal/form-config.tsx
  packages/account/src/Components/additional-kyc-info-modal/index.ts
  packages/account/src/Components/form-field-info/__tests__/form-field-info.spec.tsx
  packages/account/src/Components/form-field-info/form-field-info.tsx
  packages/account/src/Components/form-field-info/index.ts
  packages/account/src/Components/forms/__test__/form-select-field.spec.tsx
  packages/account/src/Components/forms/form-select-field.tsx
  packages/account/src/Constants/external-urls.ts
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/information-submitted-modal/__test__/information-submitted-modal.spec.tsx
  packages/core/src/App/Containers/Modals/information-submitted-modal/index.ts
  packages/core/src/App/Containers/Modals/information-submitted-modal/information-submitted-modal.tsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/ui-store.js
  packages/shared/src/utils/validation/form-validations.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Bot, Shared, Components, P2P, Account

#10227 Kate / OPT-356 / Add range duration info for Vanilla
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/duration-range-text.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/expiry-text.spec.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/advanced-duration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-range-text.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/expiry-text.jsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.tsx
  packages/trader/src/sass/app/modules/trading-mobile.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader, Components, Account

#10465 likhith/feat: :art: remove the sample images
  packages/account/src/Components/forms/idv-form.tsx
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Constants/idv-document-config.ts
  packages/account/src/Helpers/__tests__/utils.spec.tsx
  packages/account/src/Helpers/utils.tsx
  packages/account/src/Styles/account.scss
  packages/account/src/Types/common.type.ts
  packages/core/src/public/images/common/static_images/ke_alien_card.png
  packages/core/src/public/images/common/static_images/ke_national_identity_card.png
  packages/core/src/public/images/common/static_images/ke_passport.png
  packages/core/src/public/images/common/static_images/ng_drivers_license.png
  packages/core/src/public/images/common/static_images/ng_nin_slip.png
  packages/core/src/public/images/common/static_images/ng_voter_id.png
  packages/core/src/public/images/common/static_images/ug_national_identity_card.png
  packages/core/src/public/images/common/static_images/za_national_identity_card.png
  packages/core/src/public/images/common/static_images/zw_national_identity_card.png
  packages/core/src/sass/app/_common/components/onfido-container.scss
  packages/shared/src/utils/config/adapters.ts
Labels: Core, Shared, Account

#10122 Matin / cTrader trading_platform_available_accounts API call is removed.
  packages/core/src/Stores/client-store.js
Labels: Core

#10363 Maryia/DTRA-428/fix: determine last marker index correctly
  packages/core/src/Stores/contract-trade-store.js
  packages/shared/src/utils/contract/__tests__/contract.spec.ts
  packages/shared/src/utils/contract/contract.tsx
Labels: Trader, Core, Bot, Shared, P2P

#10354 Kate / DTRA-432 / [Bug] Spot alignment in Vanillas trade type
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader

#9918 Ameerul /P2PS-1499 Issue with chatbox if the user enters more than 50 messages
  packages/p2p/src/pages/orders/chat/chat-messages.jsx
  packages/p2p/src/stores/sendbird-store.ts
Labels: P2P

#10393 chore: show snackbar if strategy changed while running bot
  packages/bot-web-ui/src/app/app.scss
  packages/bot-web-ui/src/components/bot-snackbar/__tests__/bot-snackbar.spec.tsx
  packages/bot-web-ui/src/components/bot-snackbar/bot-snackbar.scss
  packages/bot-web-ui/src/components/bot-snackbar/bot-snackbar.tsx
  packages/bot-web-ui/src/components/bot-snackbar/index.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
Labels: Bot

#10526 Shafin/bot 582/chore inform download btn disable reason
  packages/bot-web-ui/src/components/download/download.tsx
Labels: Bot

#10562 Test coverage dbot
  packages/bot-web-ui/src/components/flyout/__tests__/flyout-block.spec.tsx
  packages/bot-web-ui/src/components/flyout/__tests__/flyout-img.spec.tsx
  packages/bot-web-ui/src/components/flyout/__tests__/flyout-text.spec.tsx
  packages/bot-web-ui/src/components/flyout/__tests__/flyout-video.spec.tsx
  packages/bot-web-ui/src/components/flyout/flyout-block-group.jsx
  packages/bot-web-ui/src/components/flyout/flyout-block.tsx
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-help-base.jsx
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-img.tsx
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-text.tsx
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-video.jsx
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-video.tsx
  packages/bot-web-ui/src/components/journal/journal-components/__tests__/date-item.spec.tsx
  packages/bot-web-ui/src/components/journal/journal-components/__tests__/filter-dialog.spec.tsx
  packages/bot-web-ui/src/components/load-modal/__tests__/workspace-control.spec.tsx
  packages/bot-web-ui/src/components/load-modal/workspace-control.tsx
Labels: Bot, Account

#10580 Ameerul /P2PS-1733 Move test files to __tests__ folder and remove the unnecessary prop
  packages/p2p/src/components/floating-rate/__tests__/floating-rate.spec.tsx
  packages/p2p/src/components/floating-rate/floating-rate.tsx
  packages/p2p/src/components/p2p-empty/__tests__/p2p-empty.spec.tsx
  packages/p2p/src/components/page-return/__tests__/page-return.spec.tsx
  packages/p2p/src/components/recommend-user/__tests__/recommend-user.spec.tsx
  packages/p2p/src/components/star-rating/__tests__/star-rating.spec.tsx
  packages/p2p/src/components/temporarily-barred-hint/__tests__/temporarily-barred-hint.spec.tsx
  packages/p2p/src/components/user/user-avatar/__tests__/user-avatar.spec.tsx
Labels: P2P

#10569 fix: changed the percentage
  packages/appstore/src/modules/traders-hub/index.tsx
Labels: AppStore

#10453 Farabi/bot-785/fix performance panel not closing
  packages/bot-web-ui/src/components/dashboard/dbot-tours/bot-builder-tour/bot-builder-tour-desktop.tsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/run-panel/run-panel.tsx
  packages/bot-web-ui/src/components/summary/summary.tsx
Labels: Bot

#10618 Kate/ Fix: file extension
  packages/trader/src/Modules/Trading/Components/Form/__tests__/screen-small.spec.tsx
Labels: Trader

#10624 Revert "fix: remove bot bundle chunk from landing page"
  packages/core/src/App/Constants/routes-config.js
Labels: Core

#10626 Revert "adrienne / added routing for wallets and wallets build workflow"
  .circleci/config.yml
  .github/workflows/test.yml
  packages/appstore/webpack.config.js
  packages/core/build/config.js
  packages/core/package.json
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-home-button.spec.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-home-button.tsx
  packages/shared/src/utils/routes/routes.ts
  packages/stores/types.ts
  packages/wallets/.eslintignore
  packages/wallets/babel.config.json
  packages/wallets/declarations.d.ts
  packages/wallets/package.json
  packages/wallets/src/App.tsx
  packages/wallets/src/components/WalletGradientBackground/WalletGradientBackground.scss
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletsAccordion/WalletsAccordion.scss
  packages/wallets/src/features/cashier/components/WalletCashierContent/WalletCashierContent.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/features/cashier/screens/WalletTransactionsScreens/WalletTransactionsNoDataState/WalletTransactionsNoDataState.tsx
  packages/wallets/src/index.tsx
  packages/wallets/src/routes/Router.tsx
  packages/wallets/src/utils/loader/index.ts
  packages/wallets/src/utils/loader/lazy-load.tsx
  packages/wallets/src/utils/loader/module-loader.tsx
  packages/wallets/tsconfig.json
  packages/wallets/webpack.config.js
Labels: Core, Shared, AppStore

#10629 Revert "Revert "fix: remove bot bundle chunk from landing page""
  packages/core/src/App/Constants/routes-config.js
Labels: Core

#10636 Revert "Farabi/bot-726/fix snackbar shown on opening gdrive"
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/stores/google-drive-store.js
Labels: Bot

#10638 Revert "Revert "Farabi/bot-726/fix snackbar shown on opening gdrive""
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/stores/google-drive-store.js
Labels: Bot

#10631 Kate / WEBREL-1501 / While clicking on duration field (Ticks) we are getting error
  packages/shared/src/utils/helpers/__tests__/detail.ts
  packages/shared/src/utils/helpers/details.ts
Labels: Shared

#10643 fix: cr account creation for DIEL clients
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Helpers/__tests__/utils.spec.tsx
  packages/account/src/Helpers/utils.tsx
  packages/core/src/sass/account-wizard.scss
Labels: Core, Account

#10657 Ako/ remove circular imports from index files of bots package
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/container.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/data-fields.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/duration-fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/input-field.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/inputs.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/selects.tsx
  packages/bot-web-ui/src/components/journal/journal-components/filter-dialog.tsx
  packages/bot-web-ui/src/components/journal/journal-components/journal-item.tsx
  packages/bot-web-ui/src/components/journal/journal-components/journal-tools.tsx
  packages/bot-web-ui/src/utils/journal-notifications.js
Labels: Bot

#10663 Revert "fix: remove bot bundle chunk from landing page"
  packages/core/src/App/Constants/routes-config.js
Labels: Core

#10664 Revert "Farabi/bot-785/fix performance panel not closing"
  packages/bot-web-ui/src/components/dashboard/dbot-tours/bot-builder-tour/bot-builder-tour-desktop.tsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/run-panel/run-panel.tsx
  packages/bot-web-ui/src/components/summary/summary.tsx
Labels: Bot

#10670 Revert "Shafin/bot 582/chore inform download btn disable reason"
  packages/bot-web-ui/src/components/download/download.tsx
Labels: Bot

#10671 Revert "chore: show snackbar if strategy changed while running bot"
  packages/bot-web-ui/src/app/app.scss
  packages/bot-web-ui/src/components/bot-snackbar/__tests__/bot-snackbar.spec.tsx
  packages/bot-web-ui/src/components/bot-snackbar/bot-snackbar.scss
  packages/bot-web-ui/src/components/bot-snackbar/bot-snackbar.tsx
  packages/bot-web-ui/src/components/bot-snackbar/index.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
Labels: Bot

#9307 chore: remove sudo and run on localhost
  README.md
  packages/core/README.md
  packages/core/build/webpack.config.js
  packages/core/package.json
  packages/reports/README.md
  packages/shared/src/utils/config/config.ts
Labels: Core, Shared, Docs

#10475 [42069] Farhan/Skeleton Loader and Cashier Responsive Header
  packages/api/src/hooks/useAvailableMT5Accounts.ts
  packages/api/src/hooks/useCtraderAccountsList.ts
  packages/api/src/hooks/useDerivezAccountsList.ts
  packages/api/src/hooks/useDxtradeAccountsList.ts
  packages/api/src/hooks/useMT5AccountsList.ts
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/DesktopWalletsList/DesktopWalletsList.tsx
  packages/wallets/src/components/SkeletonLoader/SkeletonLoader.scss
  packages/wallets/src/components/SkeletonLoader/WalletsAccordionLoader/WalletsAccordionLoader.scss
  packages/wallets/src/components/SkeletonLoader/WalletsAccordionLoader/WalletsAccordionLoader.tsx
  packages/wallets/src/components/SkeletonLoader/WalletsAddMoreLoader/WalletsAddMoreLoader.scss
  packages/wallets/src/components/SkeletonLoader/WalletsAddMoreLoader/WalletsAddMoreLoader.tsx
  packages/wallets/src/components/SkeletonLoader/WalletsCarouselLoader/WalletsCarouselLoader.scss
  packages/wallets/src/components/SkeletonLoader/WalletsCarouselLoader/WalletsCarouselLoader.tsx
  packages/wallets/src/components/SkeletonLoader/index.ts
  packages/wallets/src/components/WalletCardIcon/WalletCardIcon.tsx
  packages/wallets/src/components/WalletListCardBadge/WalletListCardBadge.scss
  packages/wallets/src/components/WalletsAccordion/WalletsAccordion.tsx
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/src/features/cashier/WalletCashier.scss
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.scss
  packages/wallets/src/features/cashier/flows/WalletTransfer/WalletTransfer.scss
  packages/wallets/src/features/cashier/screens/WalletDepositScreens/WalletDepositCrypto/WalletDepositCrypto.scss
  packages/wallets/src/features/cashier/screens/WalletDepositScreens/WalletDepositCryptoAddress/WalletDepositCryptoAddress.scss
  packages/wallets/src/features/cashier/screens/WalletDepositScreens/WalletDepositCryptoCurrencyDetails/WalletDepositCryptoCurrencyDetails.scss
  packages/wallets/src/features/cashier/screens/WalletTransferScreens/WalletTransferFormInputField/WalletTransferFormInputField.scss
Labels: Bot

#10587 adrienne / jurisdiction selection modal
  packages/wallets/src/components/JurisdictionModal/JurisdictionCard.scss
  packages/wallets/src/components/JurisdictionModal/JurisdictionCard.tsx
  packages/wallets/src/components/JurisdictionModal/JurisdictionModal.scss
  packages/wallets/src/components/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/components/JurisdictionModal/jurisdiction-contents/jurisdiction-bvi-contents.ts
  packages/wallets/src/components/JurisdictionModal/jurisdiction-contents/jurisdiction-contents.ts
  packages/wallets/src/components/JurisdictionModal/jurisdiction-contents/jurisdiction-labuan-contents.ts
  packages/wallets/src/components/JurisdictionModal/jurisdiction-contents/jurisdiction-svg-contents.ts
  packages/wallets/src/components/JurisdictionModal/jurisdiction-contents/jurisdiction-vanuatu-contents.ts
  packages/wallets/src/components/JurisdictionModal/jurisdiction-contents/jurisdiction-verification-contents.ts
  packages/wallets/src/components/JurisdictionModal/jurisdiction-contents/jurisdiction_maltainvest_contents.ts
  packages/wallets/src/components/JurisdictionModal/jurisdiction-contents/props.types.ts
  packages/wallets/src/public/images/ic-documents.svg
  packages/wallets/src/public/images/ic-id-card.svg
  packages/wallets/src/public/images/ic-not-applicable.svg
  packages/wallets/src/public/images/ic-selfie.svg
Labels: Trader, Core, Bot, P2P

#10271 [42069] adrienne / account ready modal for wallets
  packages/wallets/src/components/Base/ModalWrapper/ModalWrapper.scss
  packages/wallets/src/components/WalletGradientBackground/WalletGradientBackground.scss
  packages/wallets/src/components/WalletGradientBackground/WalletGradientBackground.tsx
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.scss
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
  packages/wallets/src/components/WalletMarketCurrencyIcon/index.ts
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/screens/AccountReady/AccountReady.scss
  packages/wallets/src/features/cfd/screens/AccountReady/AccountReady.tsx
  packages/wallets/src/features/cfd/screens/AccountReady/index.tsx
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.scss
  packages/wallets/src/features/cfd/screens/index.ts
Labels: Components

#10684 likhith/fix: removed condition to re-render again in same session
  packages/core/src/Stores/notification-store.js
Labels: Core

#10687 Ako/ fix bot package circular dependecies
  packages/bot-web-ui/src/stores/blockly-store.ts
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
  packages/bot-web-ui/src/stores/save-modal-store.ts
  packages/bot-web-ui/src/stores/toolbar-store.ts
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-update-form.tsx
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.tsx
  packages/components/src/components/contract-card/contract-card-items/turbos-card-body.tsx
  packages/components/src/components/data-list/data-list-row.tsx
  packages/components/src/components/data-list/data-list.tsx
  packages/components/src/components/data-table/data-table.tsx
  packages/components/src/components/data-table/table-row.tsx
  packages/components/src/components/input-field/increment-buttons.tsx
  packages/components/src/components/input-field/input-field.tsx
  packages/components/src/components/input-field/input.tsx
  packages/shared/src/utils/files/file-uploader-utils.ts
  packages/shared/src/utils/files/image/image_utility.ts
Labels: Bot, Shared, Components

#10689 [42069] thisyahlen/chore: show traders hub header and hide cashier in wallets
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/__tests__/default-mobile-links.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/default-mobile-links.tsx
  packages/core/src/App/Containers/Layout/header/header.tsx
Labels: Core

#10448 [42069] Farhan/CFD Section empty state for crypto account
  packages/api/src/index.ts
  packages/bot-skeleton/src/scratch/dbot.js
  packages/cfd/src/Stores/base-store.js
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/PasswordSelectionModal/password-selection-modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-modal.jsx
  packages/core/src/Stores/base-store.js
  packages/hooks/src/__tests__/usePlatformAccounts.spec.tsx
  packages/p2p/src/pages/buy-sell/buy-sell-row.jsx
  packages/p2p/src/stores/general-store.js
  packages/reports/src/Stores/base-store.js
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/cancel-deal.jsx
  packages/wallets/src/components/DesktopWalletsList/DesktopWalletsList.tsx
  packages/wallets/src/components/WalletGradientBackground/WalletGradientBackground.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/features/cfd/CFDPlatformsList.scss
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
  packages/wallets/src/features/cfd/CFDPlatformsListEmptyState.tsx
  packages/wallets/src/features/cfd/components/MT5PlatformsList/MT5PlatformsList.tsx
  packages/wallets/src/features/cfd/components/OtherCFDPlatformsList/OtherCFDPlatformsList.tsx
Labels: Trader, Core, Bot, P2P

#10518 Hamza/chore: cTrader- Show icons to download cTrader mobile apps(Android)
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/trade-modal.tsx
  packages/cfd/src/Helpers/config.tsx
  packages/cfd/src/Helpers/constants.ts
Labels: AppStore

#9569 FarhanNurzi/P2PS-1329/Advertisers ads are duplicating in other advertiser profile after manual refresh
  packages/p2p/src/pages/advertiser-page/__tests__/advertiser-page.spec.jsx
  packages/p2p/src/pages/advertiser-page/__tests__/advertiser-page.spec.tsx
  packages/p2p/src/pages/advertiser-page/advertiser-page.jsx
  packages/p2p/src/pages/advertiser-page/block-user/block-user-overlay/block-user-overlay.jsx
  packages/p2p/src/pages/app.jsx
  packages/p2p/src/pages/my-profile/payment-methods/__tests__/payment-methods.spec.tsx
  packages/p2p/src/pages/my-profile/payment-methods/payment-methods.jsx
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#10551 chore: removed help centre from account-limits-article and updates te…
  packages/account/src/Components/account-limits/__tests__/account-limits-article.spec.tsx
  packages/account/src/Components/account-limits/__tests__/account-limits.spec.tsx
  packages/account/src/Components/account-limits/account-limits-article.tsx
  packages/account/src/Components/account-limits/account-limits.tsx
Labels: Account

#10584 Ameerul /P2PS-1726 Add the path /cashier/p2p/advertiser to apple-app-site-association file
  packages/core/src/public/.well-known/apple-app-site-association
Labels: Core

#10574 Kate / WEBREL-36 / Test coverage: Components/Elements/ContractAudit files in Trader package
  packages/trader/src/App/Components/Elements/ContractAudit/__tests__/contract-audit-item.spec.tsx
  packages/trader/src/App/Components/Elements/ContractAudit/__tests__/contract-audit.spec.tsx
  packages/trader/src/App/Components/Elements/ContractAudit/__tests__/contract-details.spec.tsx
  packages/trader/src/App/Components/Elements/ContractAudit/__tests__/contract-history.spec.tsx
  packages/trader/src/App/Components/Elements/ContractAudit/contract-history.tsx
  packages/trader/src/App/Components/Elements/ContractAudit/index.ts
Labels: Trader

#10564 Kate / DTRA-438 / Add 'NEW!' label for Multipliers dropdown and widget
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/dropdown/dropdown.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/__tests__/widgets.spec.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/multiplier.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/widgets.jsx
  packages/trader/src/Modules/Trading/Helpers/contract-type.tsx
  packages/trader/src/sass/app/_common/mobile-widget.scss
Labels: Trader, Components

#10557 Henry/opt 233/cherry pick of turbos content changes
  packages/components/stories/icon/icons.js
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-turbos.svg
  packages/trader/src/Assets/Trading/Categories/__tests__/turbos-trade-description.spec.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories.tsx
  packages/trader/src/Assets/Trading/Categories/turbos-trade-description.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-glossary.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/barrier-selector.tsx
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
Labels: Trader, Components

#10553 Kate / DTRA-358 / Incomplete notification message in Digits trade type
  packages/shared/src/utils/constants/__tests__/contract.spec.ts
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/Modules/Contract/Components/Digits/digits.tsx
  packages/trader/src/Modules/Contract/Components/Digits/index.ts
  packages/trader/src/Modules/Trading/Containers/contract-type.tsx
Labels: Trader, Shared

#10594 Kate / WEBREL-45 / Test coverage: MarketIsClosedOverlay + MarketCountdownTimer in Trader package
  packages/trader/src/App/Components/Elements/__tests__/market-countdown-timer.spec.tsx
  packages/trader/src/App/Components/Elements/__tests__/market-is-closed-overlay.spec.tsx
Labels: Trader

#10678 Kate / WEBREL-34 / Test coverage: TradeParams + TradeParamsMobile in Trader package
  packages/trader/src/Modules/Trading/Containers/__tests__/trade-params-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Containers/__tests__/trade-params.spec.tsx
Labels: Trader

#10525 fix: issue with nickname popup not closing
  packages/p2p/src/components/nickname-form/nickname-form.tsx
  packages/p2p/src/stores/general-store.js
Labels: P2P

#10662 Revert "Revert "Revert "Revert "Farabi/bot-726/fix snackbar shown on opening gdrive""""
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/stores/google-drive-store.js
Labels: Bot

#10731 fix: remove bot bundle chunk from landing page
  packages/core/src/App/Constants/routes-config.js
Labels: Core

#10710 Farabi/bot 785/fix performance panel not closing
  packages/bot-web-ui/src/components/dashboard/dbot-tours/bot-builder-tour/bot-builder-tour-desktop.tsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/run-panel/run-panel.tsx
  packages/bot-web-ui/src/components/summary/summary.tsx
Labels: Bot

#10732 chore: notify users that changes made wont affect running bot
  packages/bot-web-ui/src/app/app.scss
  packages/bot-web-ui/src/components/bot-snackbar/__tests__/bot-snackbar.spec.tsx
  packages/bot-web-ui/src/components/bot-snackbar/bot-snackbar.scss
  packages/bot-web-ui/src/components/bot-snackbar/bot-snackbar.tsx
  packages/bot-web-ui/src/components/bot-snackbar/index.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
Labels: Bot

#10699 [42069] adrienne / wallets flow provider
  packages/wallets/docs/examples/FlowProvider/AccountFlow/AccountFlow.tsx
  packages/wallets/docs/examples/FlowProvider/AccountFlow/VerificationFlow.tsx
  packages/wallets/docs/examples/FlowProvider/AccountFlow/index.ts
  packages/wallets/src/components/FlowProvider/FlowProvider.tsx
  packages/wallets/src/components/FlowProvider/index.ts
Labels: Components

#10760 Maryia/fix: allow localhost domain
  packages/shared/src/utils/brand/brand.ts
Labels: Shared

#10765 [42069] thisyahlen/chore: code cleanup and add routing for internal platforms
  packages/core/src/App/Containers/NotificationsDialog/notification-list-wrapper.tsx
  packages/wallets/docs/examples/FlowProvider/AccountFlow/AccountFlow.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/routes/Router.tsx
Labels: Core

#10696 Hamza/cfds 1196/enable mt5 notification message
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification-description.tsx
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.scss
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.tsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/notification-store.js
  packages/shared/src/utils/cfd/cfd.ts
Labels: Core, Shared

#10524 Kate / OPT-398 / Content changes for Multipliers
  packages/trader/src/Assets/Trading/Categories/Description/__tests__/accumulator-trade-description.spec.tsx
  packages/trader/src/Assets/Trading/Categories/Description/__tests__/multiplier-trade-description.spec.tsx
  packages/trader/src/Assets/Trading/Categories/Description/__tests__/turbos-trade-description.spec.tsx
  packages/trader/src/Assets/Trading/Categories/Description/accumulator-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/multiplier-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/Description/turbos-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/__tests__/trade-categories.spec.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories.tsx
  packages/trader/src/Modules/Trading/Components/Elements/Multiplier/cancel-deal-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-glossary.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/RadioGroupWithInfoMobile/__tests__/radio-group-with-info-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/RadioGroupWithInfoMobile/radio-group-with-info-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/cancel-deal.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/info.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/stop-loss.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/take-profit.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.tsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-amount-modal.tsx
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-options.tsx
  packages/trader/src/Modules/Trading/Containers/__tests__/contract-type.spec.jsx
  packages/trader/src/Modules/Trading/Containers/radio-group-options-modal.tsx
  packages/trader/src/Modules/Trading/Containers/strike-param-modal.tsx
  packages/trader/src/Modules/Trading/Helpers/contract-type.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
  packages/trader/src/sass/app/modules/trading-mobile.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader, Core, Bot, P2P

#9953 Maryia/BOT-93/fix: Remove the Contract proposal call if no payout block in the strategy & if payout block exists || basis: "payout"
  packages/bot-skeleton/src/services/api/__tests__/datadog-middleware.spec.ts
  packages/bot-skeleton/src/services/api/api-middleware.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Purchase.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Ticks.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-skeleton/src/services/tradeEngine/trade/state/actions/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/wallets/src/features/cashier/flows/WalletResetBalance/WalletResetBalance.scss
Labels: Trader, Bot

#10539 maryia/DTRA-147/feat: update trade types list
  packages/components/src/components/mobile-dialog/mobile-dialog.scss
  packages/components/src/components/mobile-dialog/mobile-dialog.tsx
  packages/shared/src/utils/constants/__tests__/contract.spec.ts
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/contract-type-menu.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-menu.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-widget.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-dialog.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-list.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/types.ts
  packages/trader/src/Modules/Trading/Containers/__tests__/contract-type.spec.jsx
  packages/trader/src/Modules/Trading/Containers/contract-type.tsx
  packages/trader/src/Modules/Trading/Helpers/__tests__/contract-type.spec.tsx
  packages/trader/src/Modules/Trading/Helpers/contract-type.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
  packages/trader/src/sass/app/_common/components/contract-type-dialog.scss
  packages/trader/src/sass/app/_common/components/contract-type-list.scss
Labels: Trader, Shared, Components

#10619 fix: remove unused files
  packages/p2p/src/assets/icon-close.jsx
  packages/p2p/src/assets/svgComponents/dp2p-app-icon.svg
  packages/p2p/src/assets/svgComponents/get-on-apple-app-store.svg
  packages/p2p/src/assets/svgComponents/get-on-google-play-store.svg
Labels: P2P

#10686 ako/ Split p2p chunks
  packages/p2p/webpack.config.js
Labels: P2P

#10235 Suisin/wall1895/add turkish language
  packages/appstore/src/components/onboarding-new/static-trading-app-card.scss
  packages/components/src/components/icon/flag/ic-flag-tr.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/p2p/src/components/i18next/index.ts
  packages/translations/src/i18next/i18next.ts
Labels: Trader, Core, Bot, Components, Translations, P2P, AppStore

#10464 Kate / WEBREL-28 / Test coverage: validation-rules.ts in Trader package
  packages/trader/src/Stores/Modules/Trading/Constants/__tests__/validation-rules.spec.ts
Labels: Trader

#10704 Kate / WEBREL-72 / Components/Form/Purchase files in Trader package
  packages/trader/src/Modules/Trading/Components/Form/Purchase/__tests__/cancel-deal-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/__tests__/contract-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/cancel-deal-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.tsx
Labels: Trader

#10812 Kate / Fixes tests cases on master
  packages/trader/src/Stores/Modules/Trading/Constants/__tests__/validation-rules.spec.ts
Labels: Trader

#10644 Maryia/BOT-795/fix: snackbar close icon appearance on Safari doesn't match rest of the browsers
  packages/bot-web-ui/src/components/trade-animation/trade-animation.scss
Labels: Bot

#10572 Rupato/BOT-651/fix: added fix for dark mode
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#10573 Maryia/BOT-80/fix: the positioning of Next and Previous buttons on the footer for onboarding tour on responsive
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
Labels: Bot

#10819 Revert "maryia/DTRA-147/feat: update trade types list"
  packages/components/src/components/mobile-dialog/mobile-dialog.scss
  packages/components/src/components/mobile-dialog/mobile-dialog.tsx
  packages/shared/src/utils/constants/__tests__/contract.spec.ts
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/contract-type-menu.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-menu.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-widget.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-dialog.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-list.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/types.ts
  packages/trader/src/Modules/Trading/Containers/__tests__/contract-type.spec.jsx
  packages/trader/src/Modules/Trading/Containers/contract-type.tsx
  packages/trader/src/Modules/Trading/Helpers/__tests__/contract-type.spec.tsx
  packages/trader/src/Modules/Trading/Helpers/contract-type.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
  packages/trader/src/sass/app/_common/components/contract-type-dialog.scss
  packages/trader/src/sass/app/_common/components/contract-type-list.scss
Labels: Trader, Shared, Components

#10815 Maryia/WEBREL-1520/hotfix: multipliers translation issue
  packages/trader/src/Assets/Trading/Categories/Description/multiplier-trade-description.tsx
Labels: Trader

#10829 Farabi/bot-753/add test case for recent footer
  packages/bot-web-ui/src/components/load-modal/__tests__/recent-footer.spec.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#10590 Farabi/bot-736/fix reset button function
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/stores/toolbar-store.ts
Labels: Core, Bot

#10853 chore: add user id to response timeout error
  packages/core/src/Services/socket-general.js
Labels: Core

#10799 fix: change coordinate of mouse on flyout dragging
  packages/bot-skeleton/src/scratch/hooks/flyout_base.js
Labels: Bot

#10762 test: :white_check_mark: add test case for local-footer component
  packages/bot-web-ui/src/components/load-modal/__tests__/local-footer.spec.tsx
Labels: Bot

#10842 Maryia/Bot-687/test: add test case for journal-item.tsx
  packages/bot-web-ui/src/components/journal/journal-components/__tests__/journal-item.spec.tsx
  packages/bot-web-ui/src/components/journal/journal-components/journal-item.tsx
  packages/bot-web-ui/src/components/journal/journal.types.ts
Labels: Bot

#10586 Rupato/BOT-686/fix: added test case for filters
  packages/bot-web-ui/src/components/journal/journal-components/__tests__/filters.spec.tsx
Labels: Bot

#10843 Maryia/Bot-688/test: add test case for journal-loader.tsx
  packages/bot-web-ui/src/components/journal/journal-components/__tests__/journal-loader.spec.tsx
Labels: Bot

#10702 shahzaib / KYC-805 / remove expiry date for nimc slip from manual upload screen
  packages/account/src/Components/poi/status/unsupported/card-details/card-details.scss
  packages/account/src/Components/poi/status/unsupported/card-details/card-details.tsx
  packages/account/src/Components/poi/status/unsupported/card-details/documents-upload.tsx
  packages/account/src/Components/poi/status/unsupported/card-details/utils.ts
  packages/account/src/Components/poi/status/unsupported/constants.ts
  packages/account/src/Components/poi/status/unsupported/detail-component.tsx
Labels: Account

#10872 Ako/fix chunks split config
  packages/core/build/webpack.config.js
  packages/p2p/webpack.config.js
  packages/wallets/webpack.config.js
Labels: Core, P2P

#10685 Ako/setup uat environment
  .github/actions/publish_to_pages_uat/action.yml
  .github/workflows/release_uat.yml
Labels: Bot, Shared, Components, P2P, Docs, Account, AppStore

#10615 Sandeep/bot 398/quick strategy refactor 2
  packages/bot-skeleton/src/constants/config.js
  packages/bot-skeleton/src/services/api/active-symbols.js
  packages/bot-skeleton/src/services/api/contracts-for.js
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/__tests__/toolbar.spec.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/__tests__/toolbox.spec.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/components.types.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/container.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/common-input-properties.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/data-fields.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/data-uniq-input-obj.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/description.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/duration-fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/footer.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/index.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/input-field.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/inputs.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/market-option.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/select-field.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/selects.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/trade-type-option.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.types.ts
  packages/bot-web-ui/src/components/index.js
  packages/bot-web-ui/src/components/quick-strategy/__tests__/form.spec.tsx
  packages/bot-web-ui/src/components/quick-strategy/__tests__/quick-strategy.spec.tsx
  packages/bot-web-ui/src/components/quick-strategy/config.ts
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/__tests__/desktop-form-wrapper.spec.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/__tests__/mobile-form-wrapper.spec.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/mobile-form-wrapper.tsx
  packages/bot-web-ui/src/components/quick-strategy/form.tsx
  packages/bot-web-ui/src/components/quick-strategy/index.ts
  packages/bot-web-ui/src/components/quick-strategy/inputs/__tests__/qs-input-label.spec.tsx
  packages/bot-web-ui/src/components/quick-strategy/inputs/__tests__/qs-input.spec.tsx
  packages/bot-web-ui/src/components/quick-strategy/inputs/qs-input-label.tsx
  packages/bot-web-ui/src/components/quick-strategy/inputs/qs-input.tsx
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/__tests__/duration_type.spec.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/__tests__/symbol.spec.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/__tests__/trade-type.spec.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/duration-type.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/symbol.tsx
  packages/bot-web-ui/src/components/quick-strategy/selects/trade-type.tsx
  packages/bot-web-ui/src/components/quick-strategy/types.ts
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot

#10890 Revert "chore: test case for JournalTools (#10656)"
  packages/bot-web-ui/src/components/journal/journal-components/__tests__/filter-dialog.spec.tsx
  packages/bot-web-ui/src/components/journal/journal-components/__tests__/journal-tools.spec.tsx
Labels: Bot

#9375 Adrienne / Refactored some shared files for sonarcloud errors
  packages/shared/src/test_utils/test_common.ts
  packages/shared/src/utils/helpers/duration.ts
Labels: Shared, Stale

#10802 [Wallets] Aizad/WALL-2277 : Improvements on Base Components
  packages/components/stories/icon/icons.js
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.tsx
  packages/wallets/src/components/Base/WalletAlertMessage/WalletAlertMessage.tsx
  packages/wallets/src/components/Base/WalletButton/WalletButton.module.css
  packages/wallets/src/components/Base/WalletButton/WalletButton.scss
  packages/wallets/src/components/Base/WalletButton/WalletButton.tsx
  packages/wallets/src/components/Base/WalletText/WalletText.module.css
  packages/wallets/src/components/Base/WalletText/WalletText.scss
  packages/wallets/src/components/Base/WalletText/WalletText.tsx
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.tsx
  packages/wallets/src/components/Base/types.ts
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/WalletCard/WalletCard.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListCardBadge/WalletListCardBadge.tsx
  packages/wallets/src/components/WalletListCardIBalance/WalletListCardIBalance.tsx
  packages/wallets/src/components/WalletListCardTitle/WalletListCardTitle.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
  packages/wallets/src/components/WalletsActionScreen/WalletsActionScreen.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsAddMoreCardContent/WalletsAddMoreCardContent.tsx
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.tsx
  packages/wallets/src/features/cfd/screens/Success/Success.tsx
Labels: Components

#10888 [Wallet] aum / WALL-2269 / fix-iframe-UI-issues
  packages/wallets/src/AppContent.scss
  packages/wallets/src/features/cashier/WalletCashier.scss
  packages/wallets/src/features/cashier/modules/DepositFiat/DepositFiat.scss
Labels: Bot

#10709 Maryia/BOT-846/fix: avoid showing "Lets build a bot" when user opens quick strategy in dbot
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/bot-builder-tour/bot-builder-tour-mobile.tsx
Labels: Bot

#10869 chore: test case for RecentWorkspace
  packages/bot-web-ui/src/components/load-modal/__tests__/recent-workspace.spec.tsx
  packages/bot-web-ui/src/components/load-modal/recent-workspace.tsx
Labels: Bot

#10935 refactor: quick-strategy add missing translation
  packages/bot-web-ui/src/components/quick-strategy/config.ts
Labels: Bot

#10944 chore: quick-strategy - fix breaking dbot
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/bot-builder-tour/bot-builder-tour-mobile.tsx
Labels: Bot

#10326 Nada/p2 ps 1656/chat bot message fix
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/pages/orders/chat/__tests__/chat-messages.spec.jsx
  packages/p2p/src/pages/orders/chat/chat-messages.jsx
  packages/p2p/src/stores/sendbird-store.ts
Labels: Trader, Core, Bot, P2P

#10457 WEBREL-1132 / refactor file uploader
  packages/account/global.d.ts
  packages/account/src/Components/file-uploader-container/__tests__/file-uploader-container.spec.tsx
  packages/account/src/Components/file-uploader-container/__tests__/file-uploader.spec.tsx
  packages/account/src/Components/file-uploader-container/file-uploader-container.tsx
  packages/account/src/Components/file-uploader-container/file-uploader.tsx
  packages/account/src/Components/file-uploader-container/upload-file.ts
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/tsconfig.json
  packages/cfd/globals.d.ts
  packages/cfd/src/Components/__tests__/cfd-poa.spec.tsx
  packages/core/src/Stores/client-store.js
  packages/hooks/index.d.ts
  packages/hooks/package.json
  packages/hooks/src/__tests__/useFileUploader.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useFileUploader.ts
  packages/hooks/tsconfig.json
  packages/shared/src/utils/files/file-uploader-utils.ts
  packages/shared/src/utils/files/image/image_utility.ts
  packages/trader/index.d.ts
  packages/trader/tsconfig.json
Labels: Trader, Core, Bot, Shared, Components, Account

#8355 Akmal | Likhith / feat: vanilla financials
  packages/components/src/components/contract-card/contract-card-items/__tests__/vanilla-options-card-body.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/vanilla-options-card-body.tsx
  packages/core/src/Stores/contract-replay-store.js
  packages/shared/src/utils/constants/contract.ts
  packages/shared/src/utils/contract/contract.tsx
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.tsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories.tsx
  packages/trader/src/Modules/Trading/Components/Elements/payout-per-point-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.tsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-display.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.tsx
  packages/trader/src/Modules/Trading/Containers/purchase.tsx
  packages/trader/src/Modules/Trading/Helpers/contract-type.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core, Shared, Components

#10835 Ako/feq 823/use dws endpoint
  .github/workflows/generate_app_id.yml
  packages/bot-skeleton/README.md
  packages/bot-web-ui/README.md
  packages/core/src/App/Devtools.tsx
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/shared/src/utils/config/config.ts
Labels: Core, Bot, Shared, Docs

#10010 kyc / wall-1551: CTA 'Next' button enhancement
  packages/account/src/Components/address-details/address-details.tsx
  packages/account/src/Components/currency-selector/currency-selector.tsx
  packages/account/src/Components/financial-details/financial-details.tsx
  packages/account/src/Components/forms/confirmation-checkbox/__tests__/confirmation-checkbox.spec.tsx
  packages/account/src/Components/forms/confirmation-checkbox/confirmation-checkbox.tsx
  packages/account/src/Components/forms/confirmation-checkbox/index.ts
  packages/account/src/Components/forms/idv-form.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/forms/scroll-to-field-with-error.tsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Components/trading-assessment/trading-assessment-dropdown.jsx
  packages/account/src/Components/trading-assessment/trading-assessment-form.jsx
  packages/account/src/Components/trading-assessment/trading-assessment-radio-buttons.jsx
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Constants/trading-assessment.ts
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/checkbox/checkbox.tsx
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/radio-group/radio-group.scss
  packages/components/src/components/radio-group/radio-group.tsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/sass/account-wizard.scss
Labels: Core, Bot, Shared, Components, Account

#10948 Ako/remove circleci deps
  .github/actions/build/action.yml
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
  packages/account/build/loaders-config.js
  packages/analytics/src/__tests__/rudderstack.spec.tsx
  packages/analytics/src/rudderstack.ts
  packages/appstore/webpack.config.js
  packages/bot-skeleton/src/services/api/api-middleware.js
  packages/bot-web-ui/webpack.config.js
  packages/cashier/build/loaders-config.js
  packages/cfd/build/config.js
  packages/cfd/build/loaders-config.js
  packages/core/build/constants.js
  packages/core/build/loaders-config.js
  packages/core/src/Utils/Datadog/index.ts
  packages/p2p/webpack.config.js
  packages/reports/build/loaders-config.js
  packages/trader/build/loaders-config.js
  packages/wallets/webpack.config.js
Labels: Trader, Core, Bot, P2P, Account, AppStore

#10360 Amina/comp 515/amend financial information dropdown
  packages/account/src/Components/financial-details/__tests__/financial-details.spec.tsx
  packages/account/src/Components/financial-details/financial-details-partials.tsx
  packages/account/src/Components/financial-details/financial-details.tsx
  packages/account/src/Configs/financial-details-config.ts
  packages/account/src/Constants/financial-details.ts
  packages/account/src/Sections/Assessment/FinancialAssessment/__tests__/financial-assessment.spec.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Labels: Trader, Core, Bot, Components, P2P, Account

#10827 bug: KYC-1344/ getChangeableFields fetching bug
  packages/core/src/Stores/Helpers/__tests__/chart-markers.spec.ts
  packages/core/src/Stores/client-store.js
Labels: Core

#9295 Amir/FEQ-242/Fix TypeError (is_virtual) from TrackJS
  packages/core/src/Stores/notification-store.js
Labels: Core, Stale

#10971 [Wallets] adrienne / derived trade modal
  packages/wallets/src/AppContent.scss
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.scss
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.tsx
  packages/wallets/src/components/ModalProvider/ModalProvider.tsx
  packages/wallets/src/components/WalletsAccordion/WalletsAccordion.scss
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.scss
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.tsx
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/index.ts
  packages/wallets/src/features/cfd/components/index.ts
  packages/wallets/src/features/cfd/modals/MT5TradeModal/MT5TradeModal.tsx
  packages/wallets/src/features/cfd/modals/MT5TradeModal/index.ts
  packages/wallets/src/features/cfd/modals/index.ts
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/index.ts
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/index.ts
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/index.ts
  packages/wallets/src/features/cfd/screens/index.ts
  packages/wallets/src/public/images/ic-edit.svg
  packages/wallets/src/public/images/ic-important.svg
  packages/wallets/src/public/images/ic-installation-apple.svg
  packages/wallets/src/public/images/ic-installation-google.svg
  packages/wallets/src/public/images/ic-installation-huawei.svg
  packages/wallets/src/public/images/ic-linux-logo.svg
  packages/wallets/src/public/images/ic-macos-logo.svg
  packages/wallets/src/public/images/ic-mt5.svg
  packages/wallets/src/public/images/ic-windows-logo.svg
Labels: Components

#10534 Hamza/ real flow without password
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.scss
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form-side-note.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/trade-modal.tsx
  packages/cfd/src/Helpers/constants.ts
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/core/src/Stores/traders-hub-store.js
  packages/shared/src/utils/url/helpers.ts
Labels: Core, Shared, AppStore

#10951 Farabi/bot-756/add test case for recent workspace
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/bot-preview.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/workspace-control.tsx
Labels: Bot
