Repository deriv-com/deriv-app, pull requests merged in 2023-09, with the labels that each got.

#9611 Hirad-Hamza-ShonTzu/Feature revamp compare account re-deployment
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/compare-account/compare-account.scss
  packages/appstore/src/components/compare-account/compare-account.tsx
  packages/appstore/src/components/compare-account/index.ts
  packages/appstore/src/constants/routes-config.ts
  packages/appstore/src/stores/config-store.ts
  packages/cfd/src/Assets/svgs/trading-instruments/ic-instrument-baskets.svg
  packages/cfd/src/Assets/svgs/trading-instruments/ic-instrument-commodities.svg
  packages/cfd/src/Assets/svgs/trading-instruments/ic-instrument-cryptocurrencies.svg
  packages/cfd/src/Assets/svgs/trading-instruments/ic-instrument-derived-fx.svg
  packages/cfd/src/Assets/svgs/trading-instruments/ic-instrument-etf.svg
  packages/cfd/src/Assets/svgs/trading-instruments/ic-instrument-forex.svg
  packages/cfd/src/Assets/svgs/trading-instruments/ic-instrument-stock-indices.svg
  packages/cfd/src/Assets/svgs/trading-instruments/ic-instrument-stocks.svg
  packages/cfd/src/Assets/svgs/trading-instruments/ic-instrument-synthetics.svg
  packages/cfd/src/Assets/svgs/trading-instruments/index.tsx
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-deriv-x.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-derived.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-financial.svg
  packages/cfd/src/Assets/svgs/trading-platform/index.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Constants/routes-config.js
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-button.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-card.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-description.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-platform-label.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-title-icon.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-instruments-label-highlighted.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/instruments-icon-with-label.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-button.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-card.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-description.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-platform-label.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-title-icon.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.scss
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-instruments-label-highlighted.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/index.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/instruments-icon-with-label.tsx
  packages/cfd/src/Helpers/compare-accounts-config.ts
  packages/components/package.json
  packages/components/src/components/cfd-compare-accounts-carousel/cfd-compare-accounts-carousel-button.tsx
  packages/components/src/components/cfd-compare-accounts-carousel/cfd-compare-accounts-carousel.scss
  packages/components/src/components/cfd-compare-accounts-carousel/cfd-compare-accounts-carousel.tsx
  packages/components/src/components/cfd-compare-accounts-carousel/index.ts
  packages/components/src/index.js
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Layout/header/header.jsx
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
  packages/shared/src/utils/routes/routes.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: AppStore

#9314 Arshad/Matin/WALL-1226/Dynamic leverage for MT5 financial accounts
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/appstore/src/modules/onboarding/onboarding.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Constants/dynamic-leverage-content/dynamic-leverage-content.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-bvi-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-svg-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-vanuatu-contents.ts
  packages/cfd/src/Containers/dynamic-leverage/__test__/dynamic-leverage-market-card.spec.tsx
  packages/cfd/src/Containers/dynamic-leverage/__test__/dynamic-leverage-modal-content.spec.tsx
  packages/cfd/src/Containers/dynamic-leverage/dynamic-leverage-context.tsx
  packages/cfd/src/Containers/dynamic-leverage/dynamic-leverage-market-card.tsx
  packages/cfd/src/Containers/dynamic-leverage/dynamic-leverage-modal-content.tsx
  packages/cfd/src/Containers/dynamic-leverage/dynamic-leverage-table-column-header.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-clickable-description.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-content.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-title.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-clickable-description.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-title.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/components/README.md
  packages/components/package.json
  packages/components/src/components/progress-bar-onboarding/index.ts
  packages/components/src/components/progress-bar-onboarding/progress-bar-onboarding.tsx
  packages/components/src/components/progress-bar-tracker/index.ts
  packages/components/src/components/progress-bar-tracker/progress-bar-tracker.scss
  packages/components/src/components/progress-bar-tracker/progress-bar-tracker.tsx
  packages/components/src/index.ts
Labels: Bot, Components, Docs, AppStore

#9946 george / CFD accounts and Options broken markup, appstore build failed
  packages/appstore/src/components/containers/trading-app-card.scss
  packages/components/src/index.ts
Labels: Components, AppStore

#9853 chore: initial commit
  packages/api/src/utils.ts
  packages/appstore/src/components/add-more-wallets/__test__/add-more-wallets.spec.tsx
  packages/appstore/src/components/add-more-wallets/wallet-add-card.tsx
  packages/appstore/src/components/main-title-bar/__tests__/index.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/__tests__/real-wallets-upgrade.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-linking-step/wallet-linking-step.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.tsx
  packages/appstore/src/components/transaction-list/transaction-for-day.tsx
  packages/appstore/src/components/transaction-list/transaction-list.tsx
  packages/appstore/src/components/wallet-button/__tests__/wallet-button.spec.tsx
  packages/appstore/src/components/wallet-cards-carousel/__tests__/wallet-cards-carousel.spec.tsx
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
  packages/appstore/src/components/wallet-jurisdiction-badge/wallet-jurisdiction-badge.tsx
  packages/appstore/src/components/wallet-transfer/transfer-account-selector/transfer-account-list.tsx
  packages/appstore/src/components/wallet-transfer/wallet-transfer-tile/wallet-transfer-tile.tsx
  packages/appstore/src/components/wallet-transfer/wallet-transfer.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner-ready.tsx
  packages/appstore/src/modules/wallets/wallets.tsx
  packages/appstore/src/types/common.types.ts
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/__tests__/toolbar.spec.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/info-panel.tsx
  packages/bot-web-ui/src/components/run-panel/run-panel.tsx
  packages/bot-web-ui/src/components/transaction-details/__tests__/transaction-details.spec.tsx
  packages/bot-web-ui/src/components/transaction-details/transaction-details.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/crypto-withdraw-form.tsx
  packages/hooks/src/__tests__/useTransferBetweenAccounts.spec.tsx
  packages/hooks/src/__tests__/useWalletsList.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/account-verification-required-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/company-wide-limit-exceeded-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/insufficient-balance-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/account-verification-required-modal.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/company-wide-limit-exceeded-modal.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/insufficient-balance-modal.tsx
  packages/trader/src/Assets/Trading/Categories/__tests__/contract-type-description-video.spec.tsx
  packages/trader/src/Assets/Trading/Categories/contract-type-description-video.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-menu.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-widget.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/barriers-list.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/barriers-list-body.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/min-max-stake-info.tsx
Labels: Bot, AppStore

#9950 Hamza/ hotfix: compare account text size difference
  packages/appstore/src/components/compare-account/compare-account.tsx
Labels: AppStore

#9681 hamid/wall-1279/crypto withdrawal under review
  packages/appstore/src/components/wallet-withdrawal/__tests__/wallet-withdrawal.spec.tsx
  packages/appstore/src/components/wallet-withdrawal/wallet-withdrawal.scss
  packages/appstore/src/components/wallet-withdrawal/wallet-withdrawal.tsx
  packages/cashier/src/modules/crypto-transactions/components/crypto-transactions-side-note-resent-transaction/crypto-transactions-side-note-recent-transaction.tsx
  packages/cashier/src/pages/withdrawal/__tests__/withdrawal.spec.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-form/crypto-withdraw-form.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-receipt-wallet/crypto-withdraw-receipt-wallet.scss
  packages/cashier/src/pages/withdrawal/crypto-withdraw-receipt-wallet/crypto-withdraw-receipt-wallet.tsx
  packages/cashier/src/pages/withdrawal/crypto-withdraw-receipt-wallet/index.ts
  packages/cashier/src/pages/withdrawal/crypto-withdrawal/crypto-withdrawal.scss
  packages/cashier/src/pages/withdrawal/crypto-withdrawal/crypto-withdrawal.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/wallet/ic-wallet-clipboard.svg
  packages/components/stories/icon/icons.js
Labels: Components, AppStore

#9341 Mahdiyeh/fix: change market price movements to market movements
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
Labels: AppStore

#9501 shahzaib / KYC-304 / additional kyc questions in the real account creation
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Configs/__test__/personal-details-config.spec.ts
  packages/account/src/Configs/personal-details-config.ts
  packages/appstore/src/components/cfds-listing/__tests__/index.spec.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/core/src/App/Containers/RealAccountSignup/__tests__/account-wizard.spec.tsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/Stores/traders-hub-store.js
  packages/core/src/sass/app/_common/components/onfido-container.scss
  packages/hooks/package.json
  packages/hooks/src/__tests__/useCFDCanGetMoreMT5Accounts.spec.tsx
  packages/hooks/src/__tests__/useIsClientHighRiskForMT5.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useCFDCanGetMoreMT5Accounts.ts
  packages/hooks/src/useIsClientHighRiskForMT5.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Account, AppStore

#9576 Rupato/PRODQA-1167/fix: updated error handling for dbot skeleton
  packages/bot-skeleton/src/scratch/blocks/Binary/Before Purchase/before_purchase.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-skeleton/src/utils/error-config.js
  packages/bot-skeleton/src/utils/error-handling.js
  packages/bot-skeleton/src/utils/index.js
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
Labels: Bot

#9461 chore: updated z-index for language switcher
  packages/components/src/components/mobile-drawer/mobile-drawer.scss
Labels: Components

#9472 farabi/bot-512/tour content sizing and responsiveness on small screen
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
Labels: Bot

#9549 Shafin/bot 301/fix preview delete save edit issue
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/constants.ts
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/delete-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/save-modal.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/hooks/useComponentVisibility.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
  packages/bot-web-ui/src/stores/save-modal-store.ts
  packages/bot-web-ui/src/stores/toolbar-store.ts
  packages/bot-web-ui/src/types/index.ts
  packages/bot-web-ui/src/types/strategy.types.ts
  packages/bot-web-ui/src/utils/dom-observer.ts
  types/blockly.d.ts
  types/global.d.ts
Labels: Bot

#9547 Vinu/bot 92/ticks history refactor
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradetype.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/api/ticks_service.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Balance.js
  packages/bot-skeleton/src/services/tradeEngine/trade/OpenContract.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Proposal.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Ticks.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#9812 fix: change file accept format
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/load-modal/local.tsx
Labels: Bot

#9490 Prince/ allow custom variables and function values for limit order
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_multiplier.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Total.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
Labels: Bot

#9632 chore: fix language not correct when redirect from deriv-com
  packages/core/src/Stores/client-store.js
  packages/translations/src/i18next/i18next.ts
Labels: Core, Translations

#9460 Rupato/509/fix--for-blockly-alignment
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
  packages/bot-skeleton/src/utils/index.js
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot, Components

#9896 Improvement/dbot tutorials
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/react-joyride-wrapper.tsx
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-content.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/core/src/public/images/common/static_images/bot-builder-tour-step-4.gif
  packages/core/src/public/images/common/static_images/bot-builder-tour-step-5.gif
  packages/core/src/public/images/common/static_images/bot-builder-tour.png
  packages/core/src/public/images/common/static_images/builder-tour.png
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-1.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-3.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-5.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-6.gif
  packages/core/src/public/images/common/static_images/dbot-mobile-onboarding-step-7.png
  packages/core/src/public/images/common/static_images/dbot-onboard-tour.png
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-1.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-2.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-3.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-5.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-tour-step-6.gif
  packages/core/src/public/images/common/static_images/loss_control.png
  packages/core/src/public/images/common/static_images/loss_control_purchase_conditions.png
  packages/core/src/public/images/common/static_images/loss_control_restart_trade_conditions.png
  packages/core/src/public/images/common/static_images/loss_control_trade_parameters.png
  packages/core/src/public/images/common/static_images/onboard-tour.png
  packages/core/src/public/videos/bot-builder-tour-step-4.mp4
  packages/core/src/public/videos/bot-builder-tour-step-5.mp4
  packages/core/src/public/videos/dbot-mobile-onboarding-step-1.mp4
  packages/core/src/public/videos/dbot-mobile-onboarding-step-2.mp4
  packages/core/src/public/videos/dbot-mobile-onboarding-step-3.mp4
  packages/core/src/public/videos/dbot-mobile-onboarding-step-5.mp4
  packages/core/src/public/videos/dbot-mobile-onboarding-step-6.mp4
  packages/core/src/public/videos/dbot-onboarding-tour-step-1.mp4
  packages/core/src/public/videos/dbot-onboarding-tour-step-2.mp4
  packages/core/src/public/videos/dbot-onboarding-tour-step-3.mp4
  packages/core/src/public/videos/dbot-onboarding-tour-step-5.mp4
  packages/core/src/public/videos/dbot-onboarding-tour-step-6.mp4
Labels: Core, Bot, Account, AppStore

#9993 fix: test case for tour
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#9913 Sergei / fix logout issue #2 by adding Loading to UI
  packages/api/src/useFetch.ts
  packages/appstore/src/modules/wallets/wallets.tsx
  packages/hooks/src/__tests__/useWalletMigration.spec.tsx
  packages/hooks/src/useWalletMigration.ts
Labels: Components, AppStore

#9994 fix: onboarding tour for mobile
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
Labels: Bot

#9873 Rupato/BOT-540/fix: removed unused sidebar.tsx component from src/components/dashboard/dashboard-component
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/dashboard-component.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/sidebar.tsx
Labels: Bot

#9951 chore: test case for BotPreview
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/__tests__/bot-preview.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/bot-preview.tsx
Labels: Bot

#9998 Fix Review Comments Wallets Feature branch
  packages/components/src/components/wallet-card/wallet-card.tsx
  packages/core/src/App/Components/dev-tools/mock-dialog.scss
  packages/core/src/App/Components/dev-tools/mock-dialog.tsx
  packages/hooks/src/__tests__/useAvailableWallets.spec.tsx
  packages/hooks/src/useAuthorize.ts
  packages/hooks/src/useWalletTransactions.ts
  packages/shared/src/styles/constants.scss
Labels: Core, Shared, Components

#9634 Rostislav / WALL-23 / Crypto transactions: Successfully completed transactions
  packages/appstore/src/components/transaction-list/completed-transaction/__tests__/completed-transaction.spec.tsx
  packages/appstore/src/components/transaction-list/completed-transaction/completed-transaction.tsx
  packages/appstore/src/components/transaction-list/completed-transaction/index.ts
  packages/appstore/src/components/transaction-list/daily-transactions/__tests__/daily-transactions.spec.tsx
  packages/appstore/src/components/transaction-list/daily-transactions/daily-transactions.tsx
  packages/appstore/src/components/transaction-list/daily-transactions/index.ts
  packages/appstore/src/components/transaction-list/transaction-list.scss
  packages/appstore/src/components/transaction-list/transaction-list.tsx
  packages/hooks/src/useWalletTransactions.ts
Labels: Bot, Components, Account, AppStore

#9867 FarhanNurzi | WALL-1648 | Add Responsive/Desktop breakpoints handling
  package-lock.json
  packages/appstore/webpack.config.js
  packages/wallets/package-lock.json
  packages/wallets/package.json
  packages/wallets/src/AppContent.scss
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/AccountsList/index.ts
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
  packages/wallets/src/components/WalletsCarousel/index.ts
  packages/wallets/src/components/index.ts
  packages/wallets/src/hooks/useDevice.tsx
  packages/wallets/src/index.scss
  packages/wallets/src/index.tsx
  packages/wallets/src/styles/devices.scss
  packages/wallets/src/styles/index.js
Labels: AppStore

#9744 FarhanNurzi/P2PS-1398/Symbol for Bank Transfers payment method is incorrect
  packages/components/utils/helper.js
  packages/hooks/src/__tests__/useHasP2PSupportedCurrencies.spec.tsx
  packages/hooks/src/__tests__/useP2PAdvertiserPaymentMethods.spec.tsx
  packages/hooks/src/__tests__/useP2PPaymentMethods.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useP2PAdvertiserPaymentMethods.ts
  packages/hooks/src/useP2PPaymentMethods.ts
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/modal-manager/modals/add-payment-method-error-modal.jsx
  packages/p2p/src/components/modal-manager/modals/delete-payment-method-confirmation-modal/__tests__/delete-payment-method-confirmation-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/delete-payment-method-confirmation-modal/delete-payment-method-confirmation-modal.scss
  packages/p2p/src/components/modal-manager/modals/delete-payment-method-confirmation-modal/delete-payment-method-confirmation-modal.tsx
  packages/p2p/src/components/modal-manager/modals/delete-payment-method-confirmation-modal/index.ts
  packages/p2p/src/components/modal-manager/modals/delete-payment-method-error-modal.jsx
  packages/p2p/src/components/modal-manager/modals/delete-payment-method-error-modal.tsx
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/quick-add-modal.jsx
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.jsx
  packages/p2p/src/components/my-ads/create-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/edit-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/sell-ad-payment-methods-list.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-method-card/payment-method-card.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/edit-payment-method-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/payment-methods-list.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-methods.jsx
  packages/p2p/src/components/order-details/payment-method-accordion-header.jsx
  packages/p2p/src/components/payment-method-icon/__tests__/payment-method-icon.spec.tsx
  packages/p2p/src/components/payment-method-icon/index.ts
  packages/p2p/src/components/payment-method-icon/payment-method-icon.tsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/my-profile-store.js
Labels: Components, P2P

#8267 feat: mandatory pot upload
  packages/components/src/components/icon/common/ic-pdf.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/p2p/src/components/file-uploader-component/__test__/file-uploader-component.spec.js
  packages/p2p/src/components/file-uploader-component/file-uploader-component.jsx
  packages/p2p/src/components/file-uploader-component/file-uploader-component.scss
  packages/p2p/src/components/file-uploader-component/index.js
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/__tests__/order-details-confirm-modal.spec.js
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/order-details-confirm-modal.jsx
  packages/p2p/src/components/order-details/order-details-confirm-modal.scss
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/chat/chat-message-text.jsx
  packages/p2p/src/components/orders/chat/chat-messages.jsx
  packages/p2p/src/components/orders/chat/chat-messages.scss
  packages/p2p/src/utils/chat-message.ts
  packages/p2p/src/utils/file-uploader.js
Labels: Components, P2P

#10021 Sergei / wall - 1817 / fix wallet carousel
  packages/appstore/src/components/wallet-cards-carousel/cards-slider-swiper.tsx
Labels: AppStore

#9957 thisyahlen/chore: add styles to wallet card carousel
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/ProgressBar/ProgressBar.scss
  packages/wallets/src/components/ProgressBar/ProgressBar.tsx
  packages/wallets/src/components/ProgressBar/index.ts
  packages/wallets/src/components/WalletCard/WalletCard.scss
  packages/wallets/src/components/WalletCard/WalletCard.tsx
  packages/wallets/src/components/WalletCard/index.ts
  packages/wallets/src/components/WalletListCardIActions/WalletListCardIActions.scss
  packages/wallets/src/components/WalletListCardIActions/WalletListCardIActions.tsx
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.scss
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.scss
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/src/components/WalletsCarouselContent/index.ts
  packages/wallets/src/components/index.ts
  packages/wallets/src/hooks/useDevice.tsx
Labels: Trader

#9938 FarhanNurzi/WALL-1669/Add accordion to Wallet header
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/components/stories/icon/icons.js
  packages/wallets/package.json
  packages/wallets/src/AppContent.scss
  packages/wallets/src/components/AccountsList/AccountsList.scss
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/DesktopWalletsList/DesktopWalletsList.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.scss
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/index.ts
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.scss
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.tsx
  packages/wallets/src/components/TradingAccountCard/index.ts
  packages/wallets/src/components/WalletListCard/WalletListCard.scss
  packages/wallets/src/components/WalletListCard/WalletListCard.tsx
  packages/wallets/src/components/WalletsAccordion/WalletsAccordion.scss
  packages/wallets/src/components/WalletsAccordion/WalletsAccordion.tsx
  packages/wallets/src/components/WalletsAccordion/index.ts
  packages/wallets/src/components/WalletsAccordionContainer/WalletsAccordionContainer.scss
  packages/wallets/src/components/WalletsAccordionContainer/WalletsAccordionContainer.tsx
  packages/wallets/src/components/WalletsAccordionContainer/index.ts
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
  packages/wallets/src/components/index.ts
  packages/wallets/src/public/images/ic-appstore-binary-bot.svg
  packages/wallets/src/public/images/ic-appstore-deriv-bot.svg
  packages/wallets/src/public/images/ic-appstore-deriv-go.svg
  packages/wallets/src/public/images/ic-appstore-deriv-trader.svg
  packages/wallets/src/public/images/ic-appstore-smart-trader.svg
Labels: Components, Account

#10045 farrah/fix: translations
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/order-details-confirm-modal.jsx
  packages/p2p/src/utils/file-uploader.js
Labels: P2P

#10046 FarhanNurzi/WEBREL-1223/Payment details not getting added while creating / editing sell ad when fist time adding payment method
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/quick-add-modal.jsx
  packages/p2p/src/components/my-ads/create-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/edit-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/sell-ad-payment-methods-list.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
Labels: P2P

#10049 likhith/fix: :coffin: removed old text related to appstore
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Components/personal-details/personal-details.jsx
Labels: Account

#9761 Niloofar | Mark | @deriv/integration and playwright implementations [POC]
  .circleci/config.yml
  .gitignore
  end-to-end-test/.env.example
  end-to-end-test/.github/workflows/playwright.yml
  end-to-end-test/.gitignore
  end-to-end-test/README.md
  end-to-end-test/global-setup.ts
  end-to-end-test/package.json
  end-to-end-test/playwright.config.ts
  end-to-end-test/tests/change-endpoint/change-endpoint.tsx
  end-to-end-test/tests/onboarding/onboarding.ts
  end-to-end-test/tests/sample-test/buy.spec.tsx
  end-to-end-test/tests/traders-hub/dashboard-demo.spec.tsx
  end-to-end-test/tests/traders-hub/dashboard-real.spec.tsx
  end-to-end-test/utils/constants.ts
  end-to-end-test/utils/helpers.ts
  end-to-end-test/utils/index.ts
  jest.config.base.js
  package-lock.json
  package.json
  packages/account/integration-tests/personal-details/personal-details.spec.tsx
  packages/account/package.json
  packages/integration/README.md
  packages/integration/package.json
  packages/integration/src/exampleMock.ts
  packages/integration/src/index.ts
  packages/integration/src/mocks/auth/authorize.ts
  packages/integration/src/mocks/auth/balance_all.ts
  packages/integration/src/mocks/auth/balance_one.ts
  packages/integration/src/mocks/auth/get_account_status.ts
  packages/integration/src/mocks/auth/get_financial_assessment.ts
  packages/integration/src/mocks/auth/get_limits.ts
  packages/integration/src/mocks/auth/get_self_exclusion.ts
  packages/integration/src/mocks/auth/get_settings.ts
  packages/integration/src/mocks/auth/index.ts
  packages/integration/src/mocks/auth/landing_company.ts
  packages/integration/src/mocks/auth/mt5_login_list.ts
  packages/integration/src/mocks/auth/paymentagent_list.ts
  packages/integration/src/mocks/auth/platform_dxtrade.ts
  packages/integration/src/mocks/auth/platform_mt5.ts
  packages/integration/src/mocks/auth/trading_platform_accounts.ts
  packages/integration/src/mocks/auth/trading_platform_available_accounts.ts
  packages/integration/src/mocks/general/exchange_rates.ts
  packages/integration/src/mocks/general/index.ts
  packages/integration/src/mocks/general/payout_currencies.ts
  packages/integration/src/mocks/general/time.ts
  packages/integration/src/mocks/general/website_status.ts
  packages/integration/src/mocks/location/residents_list.ts
  packages/integration/src/mocks/location/states_list.ts
  packages/integration/src/utils/mocks/mocks.ts
  packages/integration/src/utils/suspend/suspend.ts
  packages/integration/tsconfig.json
  playwright.config.ts
Labels: Core, Docs, Account, AppStore

#10062 fix: issue with page breaking in edit ad form payment methods
  packages/p2p/src/components/my-ads/create-ad-form-payment-methods.jsx
  packages/p2p/src/components/my-ads/edit-ad-form-payment-methods.jsx
Labels: P2P

#10041 Fix feature/wallets with traders hub
  packages/appstore/src/components/containers/wallet.tsx
  packages/appstore/src/components/demo-reset-balance/__tests__/demo-reset-balance.spec.tsx
  packages/appstore/src/components/eu-disclaimer/__tests__/eu-disclaimer.spec.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-linking-step/wallet-linking-step.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/wallets-migration-failed/wallets-migration-failed.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/components/transaction-list/non-pending-transaction.tsx
  packages/appstore/src/components/wallet-button/__tests__/wallet-button.spec.tsx
  packages/appstore/src/components/wallet-button/wallet-button.tsx
  packages/appstore/src/components/wallet-cards-carousel/cards-slider-swiper.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-content.spec.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-transfer-block.spec.tsx
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-transfer-block.tsx
  packages/components/src/components/message-list/__tests__/message-list.spec.tsx
Labels: Components, AppStore

#8464 feat: 3rd party payment dispute reason added
  packages/components/src/components/radio-group/radio-group.tsx
  packages/p2p/src/components/order-details/__tests__/order-details-complain-modal-radio-group.spec.js
  packages/p2p/src/components/order-details/order-details-complain-modal-radio-group.jsx
Labels: Trader, Bot, Components, P2P

#9351 Niloofar Sadeghi / Refactor exchange_rates subscription in p2p package
  packages/hooks/src/__tests__/useIsP2PEnabled.spec.tsx
  packages/hooks/src/__tests__/useP2PConfig.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useHasP2PSupportedCurrencies.ts
  packages/hooks/src/useIsP2PEnabled.ts
  packages/hooks/src/useP2PConfig.ts
  packages/p2p/package.json
  packages/p2p/src/components/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/buy-sell/currency-dropdown.jsx
  packages/p2p/src/components/floating-rate/__test__/floating-rate.spec.js
  packages/p2p/src/components/floating-rate/floating-rate.jsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.jsx
  packages/p2p/src/components/modal-manager/modals/rate-change-modal/rate-change-modal.jsx
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/create-ad-summary.jsx
  packages/p2p/src/components/my-ads/edit-ad-summary.jsx
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/floating-rate-store.js
  packages/p2p/src/stores/general-store.js
Labels: Core, Shared, P2P

#9990 refactor--dbot-tours
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/common/tour-end-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/common/tour-start-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/config/__tests__/config.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/config/index.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/desktop-tours/bot-builder-tour.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/desktop-tours/common/react-joyride-wrapper.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/desktop-tours/common/tour-steps.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/desktop-tours/desktop-tours.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/desktop-tours/index.ts
  packages/bot-web-ui/src/components/dashboard/dbot-tours/desktop-tours/onboarding-tour.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/bot-builder-tour.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/mobile-tours.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/onboarding-tour.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/bot-builder-tour.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/common/__tests__/accordion.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/common/__tests__/tour-button.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/common/accordion.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/common/tour-button.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/index.ts
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/mobile-tours.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/onboarding-tour.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/utils/index.ts
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#9960 evgeniy / wall-1482 / remove document number when i want to do it later options is chosen
  packages/account/src/Components/forms/idv-form.tsx
Labels: Account

#10074 henry/wall-1652/fix: design and content for wallets add more card desktop and responsive
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/bot-builder-tour.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/onboarding-tour.spec.tsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/wallets/src/components/WalletCard/WalletCard.scss
  packages/wallets/src/components/WalletGradientBackground/WalletGradientBackground.tsx
  packages/wallets/src/components/WalletsAddMoreCard/WalletsAddMoreCard.scss
  packages/wallets/src/components/WalletsAddMoreCard/WalletsAddMoreCard.tsx
  packages/wallets/src/components/WalletsAddMoreCard/index.ts
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.scss
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/index.ts
  packages/wallets/src/components/WalletsAddMoreCardContent/WalletsAddMoreCardContent.scss
  packages/wallets/src/components/WalletsAddMoreCardContent/WalletsAddMoreCardContent.tsx
  packages/wallets/src/components/WalletsAddMoreCardContent/index.ts
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.scss
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.tsx
Labels: Bot, P2P

#10075 Adrienne/ Wallet accounts list mobile and generic tab component
  package-lock.json
  packages/wallets/package.json
  packages/wallets/src/components/AccountsList/AccountsList.scss
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.scss
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/Tabs/TabList.scss
  packages/wallets/src/components/Tabs/TabList.tsx
  packages/wallets/src/components/Tabs/TabPanel.tsx
  packages/wallets/src/components/Tabs/TabPanels.tsx
  packages/wallets/src/components/Tabs/Tabs.tsx
  packages/wallets/src/components/Tabs/index.ts
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.scss
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.tsx
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.scss
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
Labels: Components

#9349 Likhith/kyc 274/add missing example formats for idv countries
  packages/account/src/Components/forms/idv-form.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/poa/poa-button/__tests__/poa-button.spec.tsx
  packages/account/src/Components/poa/poa-button/index.ts
  packages/account/src/Components/poa/poa-button/poa-button.tsx
  packages/account/src/Components/poi-unsupported-failed/unsupported-failed.tsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/__tests__/idv-submit-complete.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/idv-submit-complete.tsx
  packages/account/src/Components/poi/idv-status/idv-verified/__tests__/idv-verified.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-verified/idv-verified.tsx
  packages/account/src/Components/poi/missing-personal-details/missing-personal-details.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Components/poi/poi-country-selector/__tests__/poi-country-selector.spec.tsx
  packages/account/src/Components/poi/poi-country-selector/index.js
  packages/account/src/Components/poi/poi-country-selector/poi-country-selector.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Components/poi/status/limited/limited.tsx
  packages/account/src/Components/poi/status/unsupported/detail-component.tsx
  packages/account/src/Components/poi/status/unsupported/unsupported.tsx
  packages/account/src/Components/poi/status/upload-complete/__tests__/upload-complete.spec.tsx
  packages/account/src/Components/poi/status/upload-complete/upload-complete.tsx
  packages/account/src/Constants/idv-document-config.ts
  packages/account/src/Helpers/__tests__/utils.spec.ts
  packages/account/src/Helpers/utils.ts
  packages/account/src/Sections/Verification/ProofOfIdentity/__tests__/proof-of-identity-container.spec.js
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/account/src/Types/common.type.ts
  packages/cfd/src/Components/__tests__/cfd-poi.spec.js
  packages/cfd/src/Components/cfd-poi.tsx
  packages/components/src/components/autocomplete/autocomplete.tsx
  packages/components/src/components/dropdown-list/dropdown-list.tsx
  packages/core/src/sass/app/_common/components/onfido-container.scss
  packages/shared/src/utils/config/adapters.ts
  packages/shared/src/utils/constants/default-options.ts
  packages/shared/src/utils/constants/idv-options.ts
  packages/shared/src/utils/constants/index.ts
Labels: Core, Shared, Account

#9738 shahzaib / KYC-350 / refetch onfido service token on each verification attempt
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
Labels: Account

#10048 fix: update bot name on saving bot
  packages/bot-web-ui/src/stores/save-modal-store.ts
Labels: Bot

#10097 Rupato/fix eslint order
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/bot-builder-tour.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/onboarding-tour.spec.tsx
Labels: Bot

#10003 george / codesmells fixes from sonarcloud
  packages/appstore/src/components/add-more-wallets/__test__/wallet-add-card.spec.tsx
  packages/appstore/src/components/add-more-wallets/wallet-add-card.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/transaction-list/completed-transaction/completed-transaction.tsx
  packages/appstore/src/components/wallet-content/wallet-mt5/wallet-mt5-card-list.tsx
  packages/appstore/src/components/wallet-withdrawal/wallet-withdrawal.tsx
  packages/appstore/src/constants/currency-to-icon-mapper.ts
  packages/appstore/src/constants/tour-steps-config.tsx
  packages/appstore/src/constants/utils.ts
  packages/hooks/src/__tests__/useCreateWallet.spec.tsx
  packages/hooks/src/__tests__/useTradingAccountsList.spec.tsx
  packages/hooks/src/__tests__/useWalletTransactions.spec.tsx
  packages/hooks/src/useWalletTransactions.ts
  packages/stores/types.ts
  packages/utils/src/__tests__/getWalletCurrencyIcon.spec.ts
  packages/utils/src/getWalletCurrencyIcon.ts
  packages/utils/src/index.ts
Labels: AppStore

#10109 Rupato/fix eslint order sort
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/bot-builder-tour.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/mobile-tours/__tests__/onboarding-tour.spec.tsx
Labels: Bot

#10111 Hirad/ fixed the cTrader australia issue
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
Labels: AppStore

#9734 Hamza/chore: remove the broker code mt5 notification from traders hub
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
Labels: Core

#8112 Ameerul /Bug 68819 Design mismatch in Quick add PM Pop up on existing ads in My ads page
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/quick-add-modal.jsx
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/quick-add-modal.scss
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.jsx
  packages/p2p/src/components/my-ads/filter-payment-methods/filter-payment-method-results/filter-payment-methods-results.jsx
  packages/p2p/src/components/my-ads/filter-payment-methods/filter-payment-method-results/filter-payment-methods-results.scss
  packages/p2p/src/components/my-ads/filter-payment-methods/filter-payment-method-results/index.js
  packages/p2p/src/components/my-ads/filter-payment-methods/filter-payment-methods.jsx
  packages/p2p/src/components/my-ads/filter-payment-methods/filter-payment-methods.scss
  packages/p2p/src/components/my-ads/filter-payment-methods/index.js
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/select-payment-method.jsx
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#10063 WALL-1836 / make TIN & tax residence optional for real account creation
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Configs/personal-details-config.ts
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Labels: Core, Account

#9706 Ameerul /P2PS-1023 P2P Order Chat Box's Placeholder Refinement
  packages/p2p/src/components/orders/chat/chat-footer.jsx
  packages/p2p/src/components/orders/chat/chat-footer.scss
Labels: P2P

#8405 feat: chat box message after order creation
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/chat/__tests__/chat-messages.spec.jsx
  packages/p2p/src/components/orders/chat/chat-footer.jsx
  packages/p2p/src/components/orders/chat/chat-footer.scss
  packages/p2p/src/components/orders/chat/chat-message-text.jsx
  packages/p2p/src/components/orders/chat/chat-messages.jsx
  packages/p2p/src/components/orders/chat/chat-messages.scss
  packages/p2p/src/stores/sendbird-store.ts
  packages/p2p/src/utils/chat-message.ts
Labels: P2P

#8232 FarhanNurzi/PSP-397/advertiser-online-status-in-chat-order-screen
  packages/p2p/src/components/online-status/__tests__/online-status-label.spec.tsx
  packages/p2p/src/components/online-status/online-status-avatar.jsx
  packages/p2p/src/components/online-status/online-status-label.jsx
  packages/p2p/src/components/orders/__tests__/orders.spec.js
  packages/p2p/src/components/orders/chat/__tests__/chat-header.spec.tsx
  packages/p2p/src/components/orders/chat/chat-header.jsx
  packages/p2p/src/stores/sendbird-store.ts
  packages/p2p/src/utils/adverts.js
Labels: P2P, Docs

#9330 FarhanNurzi/P2PS-1311/Translation issue with VI in P2P Web
  packages/p2p/src/components/buy-sell/sort-dropdown.jsx
  packages/p2p/src/components/i18next/index.js
Labels: P2P

#9868 Kate / DTRA-384 /Video improvement
  packages/trader/src/Assets/Trading/Categories/__tests__/contract-type-description-video.spec.tsx
  packages/trader/src/Assets/Trading/Categories/contract-type-description-video.tsx
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
Labels: Trader

#8573 Suisin/chore: resolve account transfer form dropdown being cropped
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/components/src/components/dropdown/dropdown.tsx
Labels: Components

#9651 Jim/FEQ-436/issues-in-the-account-package
  packages/account/src/Components/Routes/binary-routes.tsx
  packages/account/src/Components/Routes/helpers.ts
  packages/account/src/Components/Routes/route-with-sub-routes.tsx
  packages/account/src/Components/account-limits/account-limits-table-cell.tsx
  packages/account/src/Components/account-limits/account-limits-table-header.tsx
  packages/account/src/Components/account-limits/account-limits.tsx
  packages/account/src/Components/account-limits/withdrawal-limits-table.tsx
  packages/account/src/Components/api-token/api-token-table-row-token-cell.tsx
  packages/account/src/Components/api-token/api-token-table-row.tsx
  packages/account/src/Components/api-token/api-token-table.tsx
  packages/account/src/Components/api-token/api-token.tsx
  packages/account/src/Components/error-component/error-component.tsx
  packages/account/src/Components/financial-details/financial-details.tsx
  packages/account/src/Components/icon-message-list/icon-message-list.tsx
  packages/account/src/Components/poi/missing-personal-details/missing-personal-details.tsx
  packages/account/src/Components/poi/status/unsupported/card-details/utils.ts
  packages/account/src/Components/poi/status/unsupported/documents.tsx
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion.spec.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-confirm-page.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-inputs.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-information-list.ts
Labels: Account

#9650 Matin / WALL-1507 / Code clean up - Removing closing mx mlt modal
  packages/components/src/components/page-error-container/page-error-container.tsx
  packages/components/src/components/page-error/page-error.scss
  packages/components/src/components/page-error/page-error.tsx
  packages/core/src/App/Components/Elements/Errors/error-component.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/__tests__/notification.spec.tsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification-close-mx-mlt.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Containers/CloseMxMltAccountModal/close-mx-mlt-account-modal.jsx
  packages/core/src/App/Containers/CloseMxMltAccountModal/close-mx-mlt-account-modal.scss
  packages/core/src/App/Containers/CloseMxMltAccountModal/index.js
  packages/core/src/App/Containers/CloseUKAccountModal/close-uk-account-modal.jsx
  packages/core/src/App/Containers/CloseUKAccountModal/close-uk-account-modal.scss
  packages/core/src/App/Containers/CloseUKAccountModal/index.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/components/notification-close-mx-mlt.scss
  packages/shared/src/utils/helpers/active-symbols.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Core, Shared, Components

#8086 Have the matching ads feature enabled by default under the filter section in Deriv P2P
  packages/p2p/src/components/modal-manager/modals/filter-modal/filter-modal.jsx
  packages/p2p/src/stores/buy-sell-store.js
Labels: P2P

#10040 george / resolve comments for FB1 (feature/wallets_with_traders_hub)
  packages/appstore/src/components/app-content.tsx
  packages/appstore/src/components/cfds-listing/__tests__/index.spec.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/currency-switcher-container.tsx
  packages/appstore/src/components/demo-reset-balance/__tests__/demo-reset-balance.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/__tests__/real-wallets-upgrade.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/desktop-real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/mobile-real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/wallet_steps.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/wallets-upgrade-content.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/wallets-upgrade-footer.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/ready-to-upgrade-wallets/test/ready-to-upgrade-wallets.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/wallets-migration-failed/__tests__/wallets-migration-failed.spec.tsx
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/types/common.types.ts
  packages/components/src/components/modal/modal.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Components, AppStore

#10001 Vinu/ refactor: qs structure refactor
  packages/bot-skeleton/src/constants/config.js
  packages/bot-skeleton/src/services/api/active-symbols.js
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/components.types.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/container.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/common-data-fields.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/common-input-properties.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/dalembert-data-fields.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/data-fields.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/data-uniq-input-obj.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/martingale-data-fields.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/oscars-grind-data-fields.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/schema-validation.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/strategies-config.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/description.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/duration-fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/footer.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/index.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/input-field.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/inputs.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/market-option.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/select-field.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/selects.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/trade-type-option.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.types.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/tests/quick-strategy.spec.tsx
  packages/bot-web-ui/src/constants/quick-strategies-validation.ts
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot

#10153 Ameerul /WEBREL-1253 P2P Chatbox bot-message is not translated in any of the languages other than English
  packages/p2p/src/utils/chat-message.ts
Labels: P2P

#10149 farrah/WEBREL-1254/fix: chat footer alignment
  packages/p2p/src/pages/orders/chat/chat-footer.scss
Labels: P2P

#10159 farrah/ fix: extracting of translation strings
  packages/p2p/scripts/extract-string.js
Labels: P2P

#10150 Ameerul /WEBREL-1255 Created payment method is not reflected from Add payment methods model for SELL ads
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/quick-add-modal.jsx
Labels: P2P

#10158 chore: use index instead of title and path for react key
  packages/account/src/Components/Routes/binary-routes.tsx
Labels: Account

#10106 fix: styling issues, change arrow to less than greater than, and rena…
  packages/wallets/src/components/WalletListCardIcon/WalletListCardIcon.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.scss
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.tsx
  packages/wallets/src/public/images/bitcoin.svg
Labels: War Room

#10172 Revert "Ameerul /WEBREL-1255 Created payment method is not reflected from Add payment methods model for SELL ads"
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/quick-add-modal.jsx
Labels: P2P

#10148 george / fix: modal component (revert to master implementation)
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/desktop-real-wallets-upgrade.tsx
  packages/components/src/components/modal/modal.tsx
Labels: Components, AppStore

#10147 georege / fix circle ci errors, fix modal header visibility
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/desktop-real-wallets-upgrade.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-transfer-block.spec.tsx
  packages/components/src/components/modal/modal.tsx
Labels: Components, AppStore

#10174 Revert Ameerul /Bug 68819 Design mismatch
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/quick-add-modal.jsx
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/quick-add-modal.scss
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
  packages/p2p/src/pages/my-ads/buy-ad-payment-methods-list.jsx
  packages/p2p/src/pages/my-ads/filter-payment-methods/filter-payment-method-results/filter-payment-methods-results.jsx
  packages/p2p/src/pages/my-ads/filter-payment-methods/filter-payment-method-results/filter-payment-methods-results.scss
  packages/p2p/src/pages/my-ads/filter-payment-methods/filter-payment-method-results/index.js
  packages/p2p/src/pages/my-ads/filter-payment-methods/filter-payment-methods.jsx
  packages/p2p/src/pages/my-ads/filter-payment-methods/filter-payment-methods.scss
  packages/p2p/src/pages/my-ads/filter-payment-methods/index.js
  packages/p2p/src/pages/my-profile/payment-methods/add-payment-method/select-payment-method.jsx
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#10008 FarhanNurzi/WALL-1649/feat: create switchAccount function
  packages/api/src/hooks/useAuthorize.ts
  packages/p2p/src/components/recommend-user/__test__/recommend-user.spec.tsx
  packages/wallets/src/components/AccountsList/AccountsList.scss
  packages/wallets/src/components/DesktopWalletsList/DesktopWalletsList.scss
  packages/wallets/src/components/DesktopWalletsList/DesktopWalletsList.tsx
  packages/wallets/src/components/ProgressBar/ProgressBar.tsx
  packages/wallets/src/components/WalletsAccordion/WalletsAccordion.tsx
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.tsx
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.scss
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.scss
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
Labels: Components, P2P, Account

#10123 adrienne / added icons for add more wallets
  packages/wallets/src/components/WalletAddMoreCurrencyIcon/WalletAddMoreCurrencyIcon.scss
  packages/wallets/src/components/WalletAddMoreCurrencyIcon/WalletAddMoreCurrencyIcon.tsx
  packages/wallets/src/components/WalletAddMoreCurrencyIcon/index.ts
  packages/wallets/src/components/WalletsAddMoreCard/WalletsAddMoreCard.scss
  packages/wallets/src/components/WalletsAddMoreCard/WalletsAddMoreCard.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.scss
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.scss
  packages/wallets/src/public/images/check.svg
  packages/wallets/src/public/images/currencies/aud.svg
  packages/wallets/src/public/images/currencies/btc.svg
  packages/wallets/src/public/images/currencies/eth.svg
  packages/wallets/src/public/images/currencies/eur.svg
  packages/wallets/src/public/images/currencies/eusdt.svg
  packages/wallets/src/public/images/currencies/gbp.svg
  packages/wallets/src/public/images/currencies/ltc.svg
  packages/wallets/src/public/images/currencies/usd.svg
  packages/wallets/src/public/images/currencies/usdc.svg
  packages/wallets/src/public/images/plus.svg
Labels: AppStore, War Room

#10176 Farzin/ESLint
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useAccountStatus.ts
  packages/p2p/src/components/recommend-user/__test__/recommend-user.spec.tsx
  packages/wallets/.eslintrc.js
  packages/wallets/package.json
  packages/wallets/src/components/ProgressBar/ProgressBar.tsx
  packages/wallets/src/components/WalletGradientBackground/WalletGradientBackground.tsx
  packages/wallets/src/components/WalletListCardIcon/WalletListCardIcon.tsx
  packages/wallets/src/components/WalletsAccordion/WalletsAccordion.tsx
  packages/wallets/src/components/index.ts
Labels: P2P

#9676 Kate / OPT-329 / Accumulators: Sell button functionality
  packages/components/src/components/input-field/increment-buttons.tsx
  packages/components/src/components/popover/popover.scss
  packages/core/src/Stores/portfolio-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/App/Components/Form/number-selector.jsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/__tests__/accumulator.spec.js
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/__tests__/accumulators-amount-mobile.spec.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/__tests__/accumulators-info-display.spec.js
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/__tests__/accumulators-sell-button.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulator.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulators-amount-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulators-info-display.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulators-sell-button.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/__tests__/widgets.spec.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/take-profit.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/widgets.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.jsx
  packages/trader/src/Modules/Trading/Containers/purchase.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/_common/components/number-selector.scss
  packages/trader/src/sass/app/_common/components/purchase-button.scss
  packages/trader/src/sass/app/_common/mobile-widget.scss
  packages/trader/src/sass/app/modules/trading-mobile.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader, Core, Components

#9928 maryia/WEBREL-1166/build: update deriv-charts version to 1.3.5
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#10182 Hamza/chore: added ctrader coming soon banner for responsive + desktop
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/cfd/src/Containers/trade-modal.tsx
Labels: AppStore

#10178 Rostislav / Wallets feature branch refactors
  packages/appstore/src/components/wallet-cards-carousel/cards-slider-swiper.tsx
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-content.tsx
  packages/appstore/src/components/wallet-header/wallet-currency-card.tsx
  packages/appstore/src/components/wallet-header/wallet-header-buttons.tsx
  packages/appstore/src/modules/wallets/mobile-wallets-carousel.tsx
  packages/core/src/sass/app/_common/components/wallet.scss
Labels: Core, AppStore

#10180 Wallet feature branch fixes
  packages/appstore/src/components/add-more-wallets/__test__/add-more-wallets.spec.tsx
  packages/appstore/src/components/add-more-wallets/wallet-add-card.tsx
  packages/appstore/src/components/containers/currency-switcher-container.tsx
  packages/appstore/src/components/main-title-bar/__tests__/index.spec.tsx
Labels: AppStore

#10188 translations: 📚 sync translations with crowdin
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/de.json
  packages/p2p/src/translations/es.json
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/p2p/src/translations/it.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/pl.json
  packages/p2p/src/translations/pt.json
  packages/p2p/src/translations/ru.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/th.json
  packages/p2p/src/translations/tr.json
  packages/p2p/src/translations/vi.json
  packages/p2p/src/translations/zh_cn.json
  packages/p2p/src/translations/zh_tw.json
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations, P2P

#9554 maryia/OPT-323/feat: Accumulators barriers improvements
  packages/core/src/Stores/contract-store.js
  packages/core/src/Stores/contract-trade-store.js
  packages/reports/src/sass/app/_common/layout/trader-layouts.scss
  packages/reports/src/sass/app/modules/contract.scss
  packages/reports/src/sass/app/modules/smart-chart.scss
  packages/shared/src/utils/contract/__tests__/contract.spec.ts
  packages/shared/src/utils/contract/contract.ts
  packages/trader/src/Modules/Contract/Components/InfoBox/info-box-longcode.jsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-text.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-tooltip.jsx
  packages/trader/src/Modules/SmartChart/Components/all-markers.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/trader/src/sass/app/modules/contract.scss
  packages/trader/src/sass/app/modules/smart-chart.scss
Labels: Trader, Core, Bot, Shared

#10191 adrienne / added modal provider for wallets
  packages/core/src/index.html
  packages/wallets/src/components/ModalProvider/ModalProvider.tsx
  packages/wallets/src/components/ModalProvider/index.ts
  packages/wallets/src/index.tsx
Labels: Core

#9639 Suisin/prodqa 891/refresh during sign up
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#8983 Amina/ make phone field immutable if it is immutable by BE
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Account

#10067 Shafin/bot 644/chore transaction frozen issue
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/api/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/stores/transactions-store.js
Labels: Bot

#9996 refactor: transaction store refactor to adjust trx by loginid
  packages/bot-web-ui/src/components/transaction-details/desktop-transaction-table.tsx
  packages/bot-web-ui/src/components/transaction-details/mobile-transaction-card.tsx
  packages/bot-web-ui/src/components/transaction-details/transaction-details-desktop.tsx
  packages/bot-web-ui/src/components/transaction-details/transaction-details-mobile.tsx
  packages/bot-web-ui/src/components/transaction-details/transaction-details.types.ts
  packages/bot-web-ui/src/components/transactions/transactions.jsx
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/src/stores/transactions-store.js
Labels: Bot

#9900 chore: add indicator for selected block in flyout
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.scss
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.tsx
Labels: Bot

#10179 Vinu: fix: fixed the issue where accountinfo is undefined.
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
Labels: Bot

#8691 Suisin/chore: solve validation message issue
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Helpers/__tests__/utils.spec.tsx
  packages/account/src/Helpers/utils.tsx
Labels: Bot, Account

#9968 farabi/bot-703/snackbar shown when server error stops bot
  packages/bot-web-ui/src/components/trade-animation/trade-animation.jsx
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#9822 Vinu/fix: fixed minor code smells in bot-web-ui
  packages/bot-web-ui/src/app/app.tsx
  packages/bot-web-ui/src/app/dbot-providers.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.types.ts
  packages/bot-web-ui/src/components/network-toast-popup/network-toast-popup.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/save-modal-store.ts
  packages/bot-web-ui/src/types/root-stores.types.ts
  packages/hooks/src/__tests__/useCFDAllAccounts.spec.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Bot, P2P

#9825 Test coverage dbot
  packages/bot-web-ui/src/components/audio/__tests__/audio.spec.tsx
  packages/bot-web-ui/src/components/bot-notification-messages/__tests__/bot-notification-messages.spec.tsx
  packages/bot-web-ui/src/components/bot-notification-messages/bot-notification-messages.tsx
  packages/bot-web-ui/src/components/chart/__tests__/toolbar-widgets.spec.tsx
  packages/bot-web-ui/src/components/contract-card-loading/__tests__/contract-card-loading.spec.tsx
  packages/bot-web-ui/src/components/contract-card-loading/contract-card-loading.tsx
  packages/bot-web-ui/src/components/contract-result-overlay/contract-result-overlay.spec.tsx
  packages/bot-web-ui/src/components/dashboard/__tests__/react-joyride-wrapper.spec.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/icon-button.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/__tests__/search-icon.spec.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/search-box/search-icon.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/dashboard-component.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/run-strategy.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/__tests__/bot-preview.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/bot-preview.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/run-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/sidebar.tsx
Labels: Bot, Docs, Account

#9076 Rupato/146/fix: stop bot if device in sleep mode
  packages/bot-skeleton/src/services/api/api-base.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/components/dashboard/bot-stopped.spec.tsx
  packages/bot-web-ui/src/components/dashboard/bot-stopped.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Bot, Components

#9614 Rupato/bot 274/fix scrollable recent strategies
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
Labels: Bot

#9628 Rupato/BOT-515/Test cases for appJS -- DBOT
  packages/bot-web-ui/src/app/__tests__/app-main.spec.tsx
  packages/bot-web-ui/src/app/__tests__/app.spec.js
  packages/bot-web-ui/src/app/__tests__/dbot-providers.spec.tsx
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/app/app-main.tsx
  packages/bot-web-ui/src/app/app.js
  packages/bot-web-ui/src/components/blockly-loading/__tests__/blockly-loading.spec.tsx
  packages/bot-web-ui/src/components/bot-notification-messages/__tests__/bot-notification-messages.spec.tsx
  packages/bot-web-ui/src/components/chart/__tests__/toolbar-widgets.spec.tsx
  packages/bot-web-ui/src/components/contract-card-loading/__tests__/contract-card-loading.spec.tsx
  packages/bot-web-ui/src/components/contract-result-overlay/contract-result-overlay.spec.tsx
  packages/bot-web-ui/src/components/dashboard/bot-stop-notifiaction.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/__tests__/bot-preview.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/desktop-tours/common/__tests__/react-joyride-wrapper.spec.tsx
  packages/bot-web-ui/src/components/draggable/__tests__/draggable.spec.tsx
  packages/bot-web-ui/src/components/transaction-details/__tests__/transaction-details-desktop.spec.tsx
  packages/bot-web-ui/src/components/transaction-details/__tests__/transaction-details-mobile.spec.tsx
  packages/bot-web-ui/src/components/transaction-details/__tests__/transaction-details.spec.tsx
  packages/bot-web-ui/src/public-path.ts
  packages/bot-web-ui/src/utils/mock/ws-mock.js
  packages/wallets/src/components/ExternalTradingPlatforms/CFDPlatformsList/CFDPlatformsList.tsx
  packages/wallets/src/components/ExternalTradingPlatforms/CTraderList/CTraderList.tsx
  packages/wallets/src/components/ExternalTradingPlatforms/MT5PlatformsList/MT5PlatformsList.tsx
  packages/wallets/src/components/InlineMessage/InlineMessage.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/ProgressBar/ProgressBar.tsx
  packages/wallets/src/components/WalletCard/WalletCard.tsx
  packages/wallets/src/components/WalletDepositFiat/WalletDepositFiat.tsx
  packages/wallets/src/components/WalletGradientBackground/WalletGradientBackground.tsx
  packages/wallets/src/components/WalletListCardBadge/WalletListCardBadge.tsx
  packages/wallets/src/components/WalletModal/WalletModal.tsx
  packages/wallets/src/components/WalletsAddMoreCard/WalletsAddMoreCard.tsx
Labels: Bot, Docs, Account, AppStore

#9806 Shafin/bot 406/chore update run panel download icon
  packages/bot-web-ui/src/components/download/download.scss
  packages/bot-web-ui/src/components/download/download.tsx
  packages/bot-web-ui/src/components/journal/journal-components/journal-tools.tsx
  packages/bot-web-ui/src/components/transactions/transactions.jsx
  packages/bot-web-ui/src/components/transactions/transactions.scss
  packages/components/src/components/icon/common/ic-dbot-download.svg
  packages/components/src/components/icon/common/ic-dbot-view-detail.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Bot, Components

#9902 chore: improve FAQ scrolling improvement
  packages/bot-web-ui/src/app/app-main.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/utils/window-size.js
Labels: Bot

#9962 george / WALL-1491 / Horizontal autoscrolling for Wallet modal tabs of a responsive Wallet
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-body.tsx
  packages/components/src/components/tabs/tabs.tsx
Labels: Components, AppStore

#10226 Arshad/feature/wallets with traders hub fixes
  packages/appstore/src/components/add-more-wallets/__test__/add-more-wallets.spec.tsx
  packages/appstore/src/components/add-more-wallets/add-more-wallets.scss
  packages/appstore/src/components/add-more-wallets/add-more-wallets.tsx
  packages/appstore/src/components/add-more-wallets/carousel-buttons.tsx
  packages/appstore/src/components/add-more-wallets/carousel-container.tsx
  packages/appstore/src/components/containers/__tests__/wallets.spec.tsx
  packages/appstore/src/components/containers/currency-switcher-container.tsx
  packages/appstore/src/components/containers/listing-container.tsx
  packages/appstore/src/components/demo-reset-balance/__tests__/demo-reset-balance.spec.tsx
  packages/appstore/src/components/demo-reset-balance/demo-reset-balance.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/ready-to-upgrade-wallets/ready-to-upgrade-wallets.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-account/wallet-account.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-linking-step/wallet-linking-step.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-linking-step/wallet-linking-step.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-intro/__tests__/wallets-intro.spec.tsx
  packages/appstore/src/components/modals/wallet-modal/__tests__/wallet-modal.spec.tsx
  packages/appstore/src/components/modals/wallet-modal/provider.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-body.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.scss
  packages/appstore/src/components/transaction-list/transaction-for-day.tsx
  packages/appstore/src/components/transaction-list/transaction-list.tsx
  packages/appstore/src/components/wallet-button/wallet-button.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-content.spec.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-transfer-block.spec.tsx
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-transfer-block.tsx
  packages/appstore/src/components/wallet-header/__tests__/wallet-header.spec.tsx
  packages/appstore/src/components/wallet-header/wallet-currency-card.tsx
  packages/appstore/src/components/wallet-header/wallet-header-balance.tsx
  packages/appstore/src/components/wallet-header/wallet-header-title.tsx
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/appstore/src/components/wallet-transfer/transfer-account-selector/__tests__/transfer-account-selector.spec.tsx
  packages/appstore/src/components/wallet-transfer/transfer-account-selector/transfer-account-list.tsx
  packages/appstore/src/components/wallet-transfer/wallet-transfer-tile/wallet-transfer-tile.tsx
  packages/appstore/src/components/wallet-transfer/wallet-transfer.tsx
  packages/appstore/src/components/wallets-banner/__tests__/wallets-banner.spec.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner-ready.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/constants/mock_wallet_migration_response.ts
  packages/appstore/src/modules/wallets/desktop-wallets-list.tsx
  packages/components/src/components/amount-input/__tests__/amount-input.spec.tsx
  packages/components/src/components/input/input.tsx
  packages/components/src/components/wallet-card/wallet-card.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/useLocalStorageData.ts
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/barriers-list.spec.tsx
Labels: AppStore

#10060 Rostislav / WALL-1843 / Wallet transaction list fixes
  packages/appstore/src/components/transaction-list/transaction-list.scss
  packages/appstore/src/components/transaction-list/transaction-list.tsx
Labels: AppStore

#10196 refactor: remove unused functions in store
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/stores/my-profile-store.js
  packages/p2p/src/stores/order-details-store.js
Labels: P2P

#10089 fix: :bug: fixed re-render-issue
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/__tests__/poi-confirm-with-example-form-container.spec.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
Labels: Account

#9966 feat: 🍄 updated PWA icon and color as per the latest branding
  packages/cfd/src/public/images/common/logos/platform_logos/ic_platform_deriv_144x144.png
  packages/cfd/src/public/images/common/logos/platform_logos/ic_platform_deriv_192x192.png
  packages/cfd/src/public/images/common/logos/platform_logos/ic_platform_deriv_256x256.png
  packages/cfd/src/public/images/common/logos/platform_logos/ic_platform_deriv_384x384.png
  packages/cfd/src/public/images/common/logos/platform_logos/ic_platform_deriv_512x512.png
  packages/cfd/src/public/images/common/logos/platform_logos/ic_platform_deriv_72x72.png
  packages/cfd/src/public/images/common/logos/platform_logos/ic_platform_deriv_96x96.png
  packages/cfd/src/public/images/favicons/apple-touch-icon-114.png
  packages/cfd/src/public/images/favicons/apple-touch-icon-120.png
  packages/cfd/src/public/images/favicons/apple-touch-icon-144.png
  packages/cfd/src/public/images/favicons/apple-touch-icon-152.png
  packages/cfd/src/public/images/favicons/apple-touch-icon-180.png
  packages/cfd/src/public/images/favicons/apple-touch-icon-57.png
  packages/cfd/src/public/images/favicons/apple-touch-icon-60.png
  packages/cfd/src/public/images/favicons/apple-touch-icon-72.png
  packages/cfd/src/public/images/favicons/apple-touch-icon-76.png
  packages/core/src/index.html
  packages/core/src/public/images/common/logos/platform_logos/ic_platform_deriv_144x144.png
  packages/core/src/public/images/common/logos/platform_logos/ic_platform_deriv_192x192.png
  packages/core/src/public/images/common/logos/platform_logos/ic_platform_deriv_256x256.png
  packages/core/src/public/images/common/logos/platform_logos/ic_platform_deriv_384x384.png
  packages/core/src/public/images/common/logos/platform_logos/ic_platform_deriv_512x512.png
  packages/core/src/public/images/common/logos/platform_logos/ic_platform_deriv_72x72.png
  packages/core/src/public/images/common/logos/platform_logos/ic_platform_deriv_96x96.png
  packages/core/src/public/images/favicons/apple-touch-icon-114.png
  packages/core/src/public/images/favicons/apple-touch-icon-120.png
  packages/core/src/public/images/favicons/apple-touch-icon-144.png
  packages/core/src/public/images/favicons/apple-touch-icon-152.png
  packages/core/src/public/images/favicons/apple-touch-icon-180.png
  packages/core/src/public/images/favicons/apple-touch-icon-57.png
  packages/core/src/public/images/favicons/apple-touch-icon-60.png
  packages/core/src/public/images/favicons/apple-touch-icon-72.png
  packages/core/src/public/images/favicons/apple-touch-icon-76.png
  packages/core/src/templates/app/manifest.json
  packages/trader/src/public/images/common/logos/platform_logos/ic_platform_deriv_144x144.png
  packages/trader/src/public/images/common/logos/platform_logos/ic_platform_deriv_192x192.png
  packages/trader/src/public/images/common/logos/platform_logos/ic_platform_deriv_256x256.png
  packages/trader/src/public/images/common/logos/platform_logos/ic_platform_deriv_384x384.png
  packages/trader/src/public/images/common/logos/platform_logos/ic_platform_deriv_512x512.png
  packages/trader/src/public/images/common/logos/platform_logos/ic_platform_deriv_72x72.png
  packages/trader/src/public/images/common/logos/platform_logos/ic_platform_deriv_96x96.png
  packages/trader/src/public/images/favicons/apple-touch-icon-114.png
  packages/trader/src/public/images/favicons/apple-touch-icon-120.png
  packages/trader/src/public/images/favicons/apple-touch-icon-144.png
  packages/trader/src/public/images/favicons/apple-touch-icon-152.png
  packages/trader/src/public/images/favicons/apple-touch-icon-180.png
  packages/trader/src/public/images/favicons/apple-touch-icon-57.png
  packages/trader/src/public/images/favicons/apple-touch-icon-60.png
  packages/trader/src/public/images/favicons/apple-touch-icon-72.png
  packages/trader/src/public/images/favicons/apple-touch-icon-76.png
Labels: Trader, Core

#10020 Arshad / WALL-1766 / Trader's hub onboarding get button animation
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.scss
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
Labels: AppStore

#9832 accounts/refactor: :recycle: container section in accounts package
  packages/account/src/Components/Routes/binary-link.tsx
  packages/account/src/Components/Routes/binary-routes.tsx
  packages/account/src/Components/Routes/helpers.ts
  packages/account/src/Components/Routes/route-with-sub-routes.tsx
  packages/account/src/Components/error-component/error-component.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/reset-trading-password-modal/reset-trading-password-modal.tsx
  packages/account/src/Constants/routes-config.js
  packages/account/src/Containers/Account/__tests__/account.spec.tsx
  packages/account/src/Containers/Account/__tests__/tradinghub-logout.spec.tsx
  packages/account/src/Containers/Account/account.tsx
  packages/account/src/Containers/Account/page-overlay-wrapper.tsx
  packages/account/src/Containers/Account/tradinghub-logout.tsx
  packages/account/src/Containers/__tests__/reset-trading-passwords.spec.tsx
  packages/account/src/Containers/__tests__/routes.spec.tsx
  packages/account/src/Containers/account.jsx
  packages/account/src/Containers/reset-trading-password.tsx
  packages/account/src/Containers/routes.tsx
  packages/account/src/Helpers/flatten.js
  packages/account/src/Helpers/utils.tsx
  packages/account/src/Sections/index.js
  packages/account/src/Types/common.type.ts
  packages/cfd/src/types/types.ts
  packages/components/src/components/page-error/page-error.tsx
  packages/components/src/components/vertical-tab/vertical-tab.tsx
  packages/core/src/Stores/ui-store.js
  packages/shared/src/utils/constants/jurisdictions-config.ts
  packages/shared/src/utils/route/route.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Shared, Components, Account

#9710 fix: change document title for trader's hub
  packages/appstore/src/constants/routes-config.ts
  packages/core/src/App/Constants/routes-config.js
Labels: Core, AppStore

#9285 likhith/feat: :adhesive_bandage: prioritizing BE data over FE config
  packages/account/src/Components/forms/idv-form.tsx
  packages/shared/src/utils/config/adapters.ts
Labels: Core, Shared, Account

#9819 henry/opt-348/responsive-stake-duration-improvement-vanilla
  packages/trader/src/Modules/Trading/Components/Elements/mobile-widget.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/min-max-stake-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/min-max-stake-info.tsx
  packages/trader/src/Modules/Trading/Containers/trade-params-mobile.jsx
  packages/trader/src/sass/app/_common/mobile-widget.scss
Labels: Trader

#10236 Farzin/Routing
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useAvailableWallets.ts
  packages/api/src/hooks/useCountryConfig.ts
  packages/wallets/src/AppContent.scss
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/WalletCashier/WalletCashier.scss
  packages/wallets/src/components/WalletCashier/WalletCashier.tsx
  packages/wallets/src/components/WalletCashierContent/WalletCashierContent.tsx
  packages/wallets/src/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.tsx
  packages/wallets/src/hooks/useCashierParam.tsx
  packages/wallets/src/routes/CashierModalRoute/CashierModalRoute.scss
  packages/wallets/src/routes/CashierModalRoute/CashierModalRoute.tsx
  packages/wallets/src/routes/CashierModalRoute/index.ts
  packages/wallets/src/routes/Router.tsx
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.scss
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
  packages/wallets/src/routes/WalletsListingRoute/index.ts
  packages/wallets/src/routes/index.tsx
Labels: War Room

#9153 FarhanNurzi/P2PS-1068/Trader's hub transfer limit reaches error message
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/components/src/components/hint-box/hint-box.tsx
Labels: Components

#9145 FarhanNurzi/P2PS-1067/Show "Cashier maintenance" when click on "transfer" in Trader's Hub
  packages/cashier/src/components/cashier-locked/__tests__/cashier-locked.spec.tsx
  packages/cashier/src/components/cashier-locked/cashier-locked-provider.tsx
  packages/components/src/components/icon/cashier/ic-cashier-under-maintenance.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components

#8917 fix: issue with height inconsistency in buy sell modal
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.jsx
Labels: P2P

#8394 farrah/P2PS-532/make the checklist item component clickable
  packages/components/src/components/checklist/checklist.scss
  packages/components/src/components/checklist/checklist.tsx
Labels: Components

#9737 chore: add german language for deriv.app
  package-lock.json
  packages/appstore/src/components/containers/currency-switcher-container.scss
  packages/bot-web-ui/package.json
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/components/src/components/contract-card/contract-card.scss
  packages/core/package.json
  packages/core/src/App/Components/Elements/Notifications/empty-notification.tsx
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/core/src/sass/app/modules/notifications-dialog.scss
  packages/p2p/src/components/i18next/index.ts
  packages/trader/package.json
  packages/trader/src/sass/app/_common/components/contract-type-list.scss
  packages/trader/src/sass/app/_common/components/contract-type-widget.scss
  packages/translations/src/i18next/i18next.ts
Labels: Trader, Core, Bot, Components, Translations, P2P, AppStore

#10228 FarhanNurzi/Cashier Transfer Form
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/__tests__/poi-confirm-with-example-form-container.spec.tsx
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useTransferBetweenAccounts.ts
  packages/wallets/package.json
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/DesktopWalletsList/DesktopWalletsList.tsx
  packages/wallets/src/components/WalletCard/WalletCard.tsx
  packages/wallets/src/components/WalletCashier/WalletCashier.scss
  packages/wallets/src/components/WalletCashierContent/WalletCashierContent.tsx
  packages/wallets/src/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/components/WalletDepositCrypto/WalletDepositCrypto.scss
  packages/wallets/src/components/WalletListCard/WalletListCard.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListCardBadge/WalletListCardBadge.tsx
  packages/wallets/src/components/WalletListCardIDetails/WalletListCardIDetails.tsx
  packages/wallets/src/components/WalletListCardIcon/WalletListCardIcon.tsx
  packages/wallets/src/components/WalletTransfer/WalletTransfer.scss
  packages/wallets/src/components/WalletTransfer/WalletTransfer.tsx
  packages/wallets/src/components/WalletTransfer/index.ts
  packages/wallets/src/components/WalletTransferFormAccountCard/WalletTransferFormAccountCard.scss
  packages/wallets/src/components/WalletTransferFormAccountCard/WalletTransferFormAccountCard.tsx
  packages/wallets/src/components/WalletTransferFormAccountCard/index.ts
  packages/wallets/src/components/WalletTransferFormAccountSelection/WalletTransferFormAccountSelection.scss
  packages/wallets/src/components/WalletTransferFormAccountSelection/WalletTransferFormAccountSelection.tsx
  packages/wallets/src/components/WalletTransferFormAccountSelection/index.ts
  packages/wallets/src/components/WalletTransferFormDropdown/WalletTransferFormDropdown.scss
  packages/wallets/src/components/WalletTransferFormDropdown/WalletTransferFormDropdown.tsx
  packages/wallets/src/components/WalletTransferFormDropdown/index.ts
  packages/wallets/src/components/WalletTransferFormInputField/WalletTransferFormInputField.scss
  packages/wallets/src/components/WalletTransferFormInputField/WalletTransferFormInputField.tsx
  packages/wallets/src/components/WalletTransferFormInputField/index.ts
  packages/wallets/src/components/index.ts
  packages/wallets/src/hooks/useInputATMFormatter.ts
  packages/wallets/src/hooks/useInputDecimalFormatter.ts
Labels: Account

#10256 likhith/fix: resolved routing
  packages/account/src/Containers/Account/page-overlay-wrapper.tsx
Labels: Account

#10185 chore: write test case for icon-radio.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/__tests__/icon-radio.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/icon-radio.tsx
Labels: Bot

#10234 chore: dashboard local footer test
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/__tests__/local-footer.spec.tsx
Labels: Bot

#10260 chore: test case for recent-footer
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/__tests__/recent-footer.spec.tsx
Labels: Bot

#10112 Farabi/bot 634/test case for bot stop modal
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/__tests__/stop-bot-modal.spec.tsx
Labels: Bot

#10277 yashim/fix: radio button
  packages/account/src/Components/currency-selector/radio-button.tsx
  packages/api/src/hooks/usePOIStatus.ts
Labels: Account

#10280 Sergei / feq 740 / wallet migration notifications by default
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
  packages/core/src/Stores/notification-store.js
  packages/hooks/src/useWalletMigration.ts
Labels: Core

#9995 Farzin/WALL-1854/add `standalone` support for `@deriv/api`
  packages/api/package.json
  packages/api/src/APIContext.ts
  packages/api/src/APIProvider.tsx
  packages/api/src/__tests__/useMutation.spec.tsx
  packages/api/src/__tests__/usePaginatedFetch.spec.tsx
  packages/api/src/__tests__/useQuery.spec.tsx
  packages/api/src/__tests__/useSubscription.spec.tsx
  packages/api/src/hooks/useAccountTypes.ts
  packages/api/src/hooks/useAuthorize.ts
  packages/api/src/hooks/useAvailableMT5Accounts.ts
  packages/api/src/hooks/useBalance.ts
  packages/api/src/hooks/useCountryConfig.ts
  packages/api/src/hooks/useCreateMT5Account.ts
  packages/api/src/hooks/useCreateOtherCFDAccount.ts
  packages/api/src/hooks/useCtraderAccountsList.ts
  packages/api/src/hooks/useCtraderServiceToken.ts
  packages/api/src/hooks/useCurrencyConfig.ts
  packages/api/src/hooks/useDepositCryptoAddress.ts
  packages/api/src/hooks/useDepositFiatAddress.ts
  packages/api/src/hooks/useDerivezAccountsList.ts
  packages/api/src/hooks/useDerivezServiceToken.ts
  packages/api/src/hooks/useDxtradeAccountsList.ts
  packages/api/src/hooks/useGetAccountStatus.ts
  packages/api/src/hooks/useLandingCompany.ts
  packages/api/src/hooks/useMT5AccountsList.ts
  packages/api/src/hooks/useSettings.ts
  packages/api/src/hooks/useTradingPlatformInvestorPasswordChange.ts
  packages/api/src/hooks/useTradingPlatformInvestorPasswordReset.ts
  packages/api/src/hooks/useTradingPlatformPasswordChange.ts
  packages/api/src/hooks/useTransferBetweenAccounts.ts
  packages/api/src/hooks/useVerifyEmail.ts
  packages/api/src/index.ts
  packages/api/src/useAPI.ts
  packages/api/src/useFetch.ts
  packages/api/src/useInvalidateQuery.ts
  packages/api/src/useMutation.ts
  packages/api/src/usePaginatedFetch.ts
  packages/api/src/useQuery.ts
  packages/api/src/useSubscription.ts
  packages/api/src/utils.ts
  packages/cashier/src/components/crypto-transactions-history/__tests__/crypto-transactions-history.spec.tsx
  packages/cashier/src/components/crypto-transactions-history/crypto-transactions-history.tsx
  packages/cashier/src/modules/crypto-transactions/components/crypto-transactions-side-note-resent-transaction/crypto-transactions-side-note-recent-transaction.tsx
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Devtools.scss
  packages/core/src/App/Devtools.tsx
  packages/core/src/App/app.jsx
  packages/hooks/src/__tests__/useP2PNotificationCount.spec.tsx
  packages/stores/src/storeProvider.tsx
  packages/wallets/src/index.tsx
Labels: Trader, Core, Bot, Account, AppStore, War Room

#9758 Add turbos markers
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.scss
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.tsx
  packages/core/src/Stores/Helpers/chart-markers.js
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.tsx
  packages/trader/src/Modules/Trading/Containers/chart-widgets.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Core, Components

#8980 henry/webrel-70/fix: TS-migration and Test Coverage of Form/ContractTypes
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/search-input.spec.tsx
Labels: Trader, Shared, Components

#9531 henry/dtra-284/fix: move input text
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader

#9952 Kate / DTRA-371 / Lines of the candlestick, hollow and OHLC changes to dash after purchasing a contract
  packages/trader/src/Modules/SmartChart/Components/all-markers.jsx
Labels: Trader

#9964 Kate / OPT-328 / Responsive: tooltips for Take profit get cut off
  packages/components/src/components/input-field/input-field.tsx
Labels: Components

#10033 Kate / DTRA-406 / margin of the dropdown for stake
  packages/components/src/components/dropdown/dropdown.scss
Labels: Components

#9831 Kate / DTRA-359 / The issue of parallel usage of DTrader
  packages/core/src/Stores/contract-trade-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Core, Shared

#8852 Henry/dtra 77/ts migration test coverage accu components
  packages/components/src/components/contract-card/contract-card-items/__tests__/accumulator-card-body.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/__tests__/tick-counter-bar.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/accumulator-card-body.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.tsx
  packages/components/src/components/contract-card/contract-card-items/tick-counter-bar.tsx
  packages/components/src/components/contract-card/result-overlay/result-overlay.tsx
  packages/components/src/components/div100vh-container/div100vh-container.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/Assets/Trading/Categories/__tests__/accumulator-trade-description.spec.tsx
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/__tests__/accumulators-stats-manual-modal.spec.tsx
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/__tests__/accumulators-stats.spec.tsx
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/__tests__/ticks-history-counter.spec.tsx
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/accumulators-stats-manual-modal.tsx
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/accumulators-stats.tsx
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/expanded-ticks-history.tsx
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/index.js
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/ticks-history-counter.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-chart-elements.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-profit-loss-text.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-profit-loss-tooltip.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-chart-elements.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-text.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-tooltip.tsx
  packages/trader/src/Modules/Trading/Components/Form/RadioGroupWithInfoMobile/__tests__/radio-group-with-info-mobile.spec.js
  packages/trader/src/Modules/Trading/Components/Form/RadioGroupWithInfoMobile/__tests__/radio-group-with-info-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/RadioGroupWithInfoMobile/index.js
  packages/trader/src/Modules/Trading/Components/Form/RadioGroupWithInfoMobile/radio-group-with-info-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/__tests__/accumulator.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/__tests__/accumulators-info-display.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulator.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulators-amount-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulators-info-display.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/__tests__/widgets.spec.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/widgets.jsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.jsx
  packages/trader/src/Modules/Trading/Containers/__tests__/radio-group-options-modal.spec.tsx
  packages/trader/src/Modules/Trading/Containers/radio-group-options-modal.tsx
  packages/trader/src/Modules/Trading/Containers/trade-params.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader, Components

#8143 henry/92673/fix: implement redirect action for add and manage account
  packages/core/src/App/Containers/Redirect/redirect.jsx
Labels: Core

#8805 Kate / Test coverage + TS migration: ContractError + SellButton + SellInfo in Trader package
  packages/trader/src/Modules/Contract/Components/InfoBox/info-box.jsx
  packages/trader/src/Modules/Contract/Components/Sell/sell-button.jsx
  packages/trader/src/Modules/Contract/Components/Sell/sell-info.jsx
  packages/trader/src/Modules/Contract/Components/__tests__/contract-error.spec.tsx
  packages/trader/src/Modules/Contract/Components/contract-error.tsx
Labels: Trader

#9050 Kate / DTRA-178 / Enable Asians contract from SmartTrader
  packages/components/stories/contract-card/statics/contract.js
  packages/shared/src/utils/constants/contract.ts
  packages/shared/src/utils/contract/contract.ts
  packages/shared/src/utils/helpers/__tests__/format-response.ts
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
Labels: Trader, Core, Shared, Components

#9446 henry/matin/feq-79/remove-connect-from-reports
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.tsx
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.tsx
  packages/components/src/components/contract-card/contract-card.tsx
  packages/components/src/components/contract-card/result-overlay/result-overlay.tsx
  packages/components/src/components/data-list/data-list-cell.tsx
  packages/components/src/components/data-list/data-list-row.tsx
  packages/components/src/components/data-list/data-list.tsx
  packages/components/src/components/data-table/data-table.tsx
  packages/components/src/components/data-table/table-row-info.tsx
  packages/components/src/components/data-table/table-row.tsx
  packages/components/src/components/dialog/dialog.tsx
  packages/components/src/components/filter-dropdown/filter-dropdown.tsx
  packages/components/src/components/infinite-data-list/infinite-data-list.tsx
  packages/components/src/components/input-field/input-field.tsx
  packages/components/src/components/input-field/input.tsx
  packages/components/src/components/positions-drawer-card/positions-drawer-card.tsx
  packages/components/src/components/types/common.types.ts
  packages/components/src/components/types/contract.types.ts
  packages/reports/build/webpack.config.js
  packages/reports/package.json
  packages/reports/src/Components/Form/CompositeCalendar/composite-calendar-mobile.tsx
  packages/reports/src/Components/Form/CompositeCalendar/composite-calendar.tsx
  packages/reports/src/Components/account-statistics.tsx
  packages/reports/src/Components/filter-component.tsx
  packages/reports/src/Components/indicative-cell.tsx
  packages/reports/src/Constants/data-table-constants.tsx
  packages/reports/src/Containers/open-positions.tsx
  packages/reports/src/Containers/profit-table.tsx
  packages/reports/src/Containers/progress-slider-stream.tsx
  packages/reports/src/Containers/routes.tsx
  packages/reports/src/Containers/statement.tsx
  packages/reports/src/Stores/connect.js
  packages/reports/src/Stores/index.ts
  packages/reports/src/Stores/useReportsStores.tsx
  packages/reports/src/Types/common-prop.type.ts
  packages/reports/src/_common/base/server_time.js
  packages/reports/src/_common/utility.js
  packages/reports/src/app.tsx
  packages/reports/src/init-store.js
  packages/reports/src/reports-providers.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Shared, Components

#8457 Kate / Test coverage + TS migration: Components/Elements/Media files in Trader package
  packages/trader/src/App/Components/Elements/Media/__tests__/media-description.spec.tsx
  packages/trader/src/App/Components/Elements/Media/__tests__/media-heading.spec.tsx
  packages/trader/src/App/Components/Elements/Media/__tests__/media-icon.spec.tsx
  packages/trader/src/App/Components/Elements/Media/__tests__/media-item.spec.tsx
  packages/trader/src/App/Components/Elements/Media/index.js
  packages/trader/src/App/Components/Elements/Media/index.ts
  packages/trader/src/App/Components/Elements/Media/media-description.jsx
  packages/trader/src/App/Components/Elements/Media/media-description.tsx
  packages/trader/src/App/Components/Elements/Media/media-heading.jsx
  packages/trader/src/App/Components/Elements/Media/media-heading.tsx
  packages/trader/src/App/Components/Elements/Media/media-icon.jsx
  packages/trader/src/App/Components/Elements/Media/media-icon.tsx
  packages/trader/src/App/Components/Elements/Media/media-item.jsx
  packages/trader/src/App/Components/Elements/Media/media-item.tsx
Labels: Trader, Account

#8849 Kate / Test coverage + TS migration of InfoBox files in Trader package
  packages/trader/src/Modules/Contract/Components/InfoBox/__tests__/info-box-longcode.spec.tsx
  packages/trader/src/Modules/Contract/Components/InfoBox/__tests__/info-box.spec.tsx
  packages/trader/src/Modules/Contract/Components/InfoBox/index.js
  packages/trader/src/Modules/Contract/Components/InfoBox/index.ts
  packages/trader/src/Modules/Contract/Components/InfoBox/info-box-longcode.tsx
  packages/trader/src/Modules/Contract/Components/InfoBox/info-box.tsx
Labels: Trader, Shared

#9848 maryia/dtra-369/Set up rudderstack analytics collection for charts
  packages/analytics/src/rudderstack.ts
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/Stores/client-store.js
  packages/trader/build/webpack.config.js
  packages/trader/package.json
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/chart.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/chart.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Core

#8424 Kate / Test coverage + TS migration: Fieldset + NumberSelector in Trader package
  packages/trader/src/App/Components/Form/__tests__/fieldset.spec.tsx
  packages/trader/src/App/Components/Form/__tests__/number-selector.spec.tsx
  packages/trader/src/App/Components/Form/fieldset.tsx
  packages/trader/src/App/Components/Form/number-selector.jsx
  packages/trader/src/App/Components/Form/number-selector.tsx
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/__tests__/accumulators-stats.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-chart-elements.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/Multiplier/cancel-deal-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Elements/payout-per-point-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.tsx
  packages/trader/src/Modules/Trading/Components/Form/LabeledQuantityInputMobile/labeled-quantity-input-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/RadioGroupWithInfoMobile/__tests__/radio-group-with-info-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulator.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulators-info-display.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/accumulators-sell-button.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/cancel-deal.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/expiration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/stop-loss.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/take-profit.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/barrier-selector.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/barrier.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/barriers-list.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/last-digit.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/strike.jsx
  packages/trader/src/Modules/Trading/Components/Form/screen-large.tsx
  packages/trader/src/Modules/Trading/Containers/trade-params.jsx
Labels: Trader, Account

#10302 lubega/feq 750/fix: withdraw page spacing issue
  packages/cashier/src/components/email-verification-empty-state/email-verification-empty-state.scss
  packages/cashier/src/components/email-verification-empty-state/email-verification-empty-state.tsx
  packages/components/src/components/empty-state/empty-state.scss
  packages/components/src/components/empty-state/empty-state.tsx
Labels: Core, Components, AppStore

#10252 nijil/aum/FEQ-739/fix alignment issues for feature branch 1
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-body.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-header.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.scss
Labels: AppStore

#10316 sergei / fix fb1 test for min-max-stake
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/min-max-stake-info.spec.tsx
Labels: Trader

#10317 maryia/WEBREL-1322/hotfix: revert override of profit fix by old ts migration changes
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-profit-loss-text.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-text.tsx
Labels: Trader

#10282 Sergei / FEQ 741 / add prevent logout logic as for fb2
  packages/appstore/src/modules/wallets/wallets.tsx
  packages/hooks/src/__tests__/useWalletMigration.spec.tsx
  packages/hooks/src/useWalletMigration.ts
  packages/hooks/src/useWalletsList.ts
Labels: AppStore

#9331 Akmal / feat: implement rudderstack metrics for contract types widget
  packages/analytics/src/rudderstack.ts
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/contract-type-menu.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/search-input.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/search-input.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-dialog.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.tsx
Labels: Trader, Core

#9733 Kate / OPT-346 / Refactor Strike component for Vanillas
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/strike.spec.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/strike.jsx
Labels: Trader

#9708 henry/dtra-336/fix: translation issues
  packages/trader/src/Modules/Trading/Components/Form/form-layout.tsx
Labels: Trader
