Repository deriv-com/deriv-app, pull requests merged in 2023-01, with the labels that each got.

#7007 MaryiaF/81936/fix: replace all variables is_mobile from ui store(core) to isMobile …
  packages/bot-web-ui/src/components/chart/chart.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local-footer.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/save-modal.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/components.types.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/container.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/duration-fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/inputs.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/selects.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.types.ts
  packages/bot-web-ui/src/components/journal/journal.tsx
  packages/bot-web-ui/src/components/journal/journal.types.ts
  packages/bot-web-ui/src/components/load-modal/google-drive.tsx
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/components/load-modal/local-footer.tsx
  packages/bot-web-ui/src/components/load-modal/local.tsx
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
  packages/bot-web-ui/src/components/save-modal/save-modal.jsx
  packages/bot-web-ui/src/components/self-exclusion/self-exclusion.jsx
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/components/summary/summary-card.types.ts
  packages/bot-web-ui/src/components/summary/summary.tsx
  packages/bot-web-ui/src/components/trade-animation/trade-animation.jsx
  packages/bot-web-ui/src/components/transactions/transactions.jsx
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.jsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.jsx
  packages/components/src/components/positions-drawer-card/positions-drawer-card.jsx
  packages/core/src/App/Components/Routes/__tests__/helpers.spec.js
  packages/p2p/scripts/__tests__/extract-string.spec.js
  packages/reports/src/Components/Routes/__tests__/helpers.spec.js
  packages/shared/src/utils/currency/__tests__/currency.spec.ts
  packages/shared/src/utils/object/__tests__/object.spec.ts
  packages/shared/src/utils/url/__tests__/url.js
  packages/trader/build/constants.js
  packages/trader/src/App/Components/Routes/__tests__/helpers.spec.js
Labels: Bot

#7268 Maryia/84436/feat: change styles of the market container on the tab charts
  packages/bot-web-ui/src/components/chart/chart.scss
Labels: Bot

#7277 fix: made tutorials tab mobile responsive
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/dialog.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
Labels: Bot

#7260 feat: added new ProgressBarOnboarding package
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/dialog.scss
  packages/core/src/public/images/common/static_images/ic_onb_step_1.png
  packages/core/src/public/images/common/static_images/ic_onb_step_2.png
  packages/core/src/public/images/common/static_images/ic_onb_step_3.png
  packages/core/src/public/images/common/static_images/ic_onb_step_4.png
  packages/core/src/public/images/common/static_images/ic_onb_step_5.png
  packages/core/src/public/images/common/static_images/ic_onb_step_6.png
  packages/core/src/public/images/common/static_images/ic_onb_step_7.png
Labels: Core, Bot

#7281 Ameerul /Bug 84647 [Staging, Deriv app, p2p, My profile,Stats] Elements are displayed incorrectly in ID and FR languages
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats-table/my-profile-stats-table.scss
Labels: P2P

#7274 Rupato/84003/feat: added new bot builder tour
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.scss
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/toolbox-store.js
Labels: Bot

#7293 feat: fixed margins and padding for mobile also added scroll into vie…
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.scss
Labels: Bot

#7017 farrah/78916/refactor InvalidVerificationLinkModal
  packages/p2p/src/components/modal-manager/modals/invalid-verification-link-modal/index.js
  packages/p2p/src/components/modal-manager/modals/invalid-verification-link-modal/invalid-verification-link-modal.jsx
  packages/p2p/src/components/modal-manager/modals/invalid-verification-link-modal/invalid-verification-link-modal.scss
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/order-store.js
Labels: Core, P2P

#7272 Maryia/82103/feat: responsive - dashboard tab
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/user-guide.tsx
Labels: Bot

#7302 fix: summary panel scroll fix and quick stratgy alignment when run-st…
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
Labels: Bot

#7299 Farabi/84651/fix--responsive dashboard tab save and delete bot modal
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/delete-dialog.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/delete-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/save-modal/save-modal.jsx
  packages/bot-web-ui/src/components/save-modal/save-modal.scss
  packages/components/src/components/icon/common/ic-local.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Bot, Components

#7303 Rupato/84002/feature custom tour onboarding
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/dialog.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
Labels: Bot

#7304 Maryia/84643/feat: implement appearance when the user has saved strategies for responsive
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/components/src/components/dialog/dialog.tsx
  packages/components/src/components/icon/common/ic-bot-builder.svg
  packages/components/src/components/icon/common/ic-context-menu.svg
  packages/components/src/components/icon/common/ic-google-drive-dbot.svg
  packages/components/src/components/icon/common/ic-local.svg
  packages/components/src/components/icon/common/ic-my-computer.svg
  packages/components/src/components/icon/common/ic-quick-strategy.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Bot, Components

#7313 fix: on preview open button is not visible, and alignment fixes
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/load-modal/load-modal.scss
Labels: Bot

#7103 fix: dbot performance issue -- unified websocket connection and moved…
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/api/api-base.js
  packages/bot-skeleton/src/services/api/appId.js
  packages/bot-skeleton/src/services/api/ticks_service.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Balance.js
  packages/bot-skeleton/src/services/tradeEngine/trade/OpenContract.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Proposal.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Purchase.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Sell.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/cliTools.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-web-ui/src/components/trade-animation/trade-animation.jsx
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#7249 maryia/83951/feat: responsive Performance panel and Run panel
  packages/bot-web-ui/src/components/chart/chart.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/footer.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.scss
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/summary/summary-card.scss
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/components/summary/summary.scss
  packages/bot-web-ui/src/components/transactions/transactions.scss
  packages/bot-web-ui/src/constants/z-indexes.js
  packages/components/src/components/contract-card/contract-card.scss
Labels: Bot, Components

#7320 Maryia/85246/on the responsive dashboard should have 4 icons in 1 line on the big screen like iPhone 13 Pro Max
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
Labels: Bot

#7321 fix: summary panel flickering
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/api/api-base.js
  packages/bot-web-ui/src/stores/app-store.js
Labels: Bot

#7275 Hamza/ fix: Spacing between lines in 2FA page
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
Labels: Account

#7279 Adrienne / Currency Selector modal
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/buy-sell/currency-dropdown.jsx
  packages/p2p/src/components/buy-sell/currency-selector/index.js
  packages/p2p/src/components/modal-manager/modals/currency-selector-modal/currency-selector-modal.jsx
  packages/p2p/src/components/modal-manager/modals/currency-selector-modal/currency-selector.scss
  packages/p2p/src/components/modal-manager/modals/currency-selector-modal/index.js
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/buy-sell-store.js
Labels: P2P

#7318 chore: fix translation issue on acuity modal
  packages/core/src/App/Containers/AcuityDownloadModal/acuity-download-modal.tsx
Labels: Core

#7334 Revert V20230106_0
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/api/api-base.js
  packages/bot-skeleton/src/services/api/appId.js
  packages/bot-skeleton/src/services/api/ticks_service.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Balance.js
  packages/bot-skeleton/src/services/tradeEngine/trade/OpenContract.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Proposal.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Purchase.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Sell.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/cliTools.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-web-ui/src/components/trade-animation/trade-animation.jsx
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/p2p/src/translations/fr.json
  packages/p2p/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
Labels: Bot, Translations, P2P

#7215 Niloofar Sadeghi / Refactor tests in the route-with-sub-routes.spec.tsx file (Core)
  packages/core/src/App/Components/Routes/__tests__/route-with-sub-routes.spec.tsx
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
Labels: Core

#7245 Niloofar | Refactor tests in the login-button.spec.tsx file
  packages/core/src/App/Components/Layout/Header/__tests__/login-button.spec.tsx
Labels: Core

#7244 Niloofar | Refactor tests in the account-info.spec.tsx file
  packages/components/src/components/popover/popover.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/account-info.spec.tsx
  packages/core/src/App/Components/Layout/Header/account-info.jsx
Labels: Core, Components

#7230 Niloofar Sadeghi / Refactor tests in the network-status.spec.tsx file
  packages/components/src/components/popover/popover.tsx
  packages/core/src/App/Components/Layout/Footer/__tests__/network-status.spec.tsx
  packages/core/src/App/Components/Layout/Footer/network-status.jsx
Labels: Core, Components

#6673 Farzin/67865/Add an option in BackOffice for clients to update their residential address (when the address differs from the one on the submitted document)
  packages/account/src/Components/poa-address-mismatch-hint-box/index.ts
  packages/account/src/Components/poa-address-mismatch-hint-box/poa-address-mismatch-hint-box.scss
  packages/account/src/Components/poa-address-mismatch-hint-box/poa-address-mismatch-hint-box.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/notification-store.js
Labels: Core, Bot, P2P, Account

#7220 bahar/83538/feat: deriv-ez-fund-transfer-web-page-development
  packages/cashier/src/pages/account-transfer/account-transfer-form/__tests__/account-transfer-form.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form-side-note.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
  packages/cashier/src/stores/__tests__/account-transfer-store.spec.js
  packages/cashier/src/stores/account-transfer-store.js
  packages/cashier/src/stores/general-store.js
  packages/cashier/src/types/shared/account.types.ts
  packages/components/src/components/icon/derivez/ic-derivez.svg
  packages/core/src/Constants/cfd-text.js
  packages/shared/brand.config.json
  packages/shared/src/utils/brand/brand.ts
  packages/shared/src/utils/cfd/cfd.ts
  packages/shared/src/utils/platform/platform.ts
Labels: Core, Shared, Components

#7232 Niloofar / Task - Refactor tests in the toggle-fullscreen.spec.tsx file
  packages/components/src/components/popover/popover.tsx
  packages/core/src/App/Components/Layout/Footer/__tests__/toggle-fullscreen.spec.tsx
  packages/core/src/App/Components/Layout/Footer/toggle-fullscreen.jsx
  packages/core/src/App/Components/Layout/Header/__tests__/account-info.spec.tsx
Labels: Core, Components

#7236 Ameerul /Bug 84324 Instruction details added in Profile page are not field automatically when creating an Ad
  packages/p2p/src/components/my-ads/create-ad-form.jsx
Labels: P2P

#7264 Ameerul /Bug 84478 Instruction details are trimmed in the order details page for both buy/sell orders.
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/order-details/order-details.scss
Labels: P2P

#7319 Kate/ 84780/ trade instruments are flashing after choosing Digits trade type on mobile
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader

#7266 Adrienne / Rate Change Modal
  packages/p2p/src/components/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/buy-sell/buy-sell-modal.jsx
  packages/p2p/src/components/buy-sell/buy-sell-modal.scss
  packages/p2p/src/components/buy-sell/buy-sell.jsx
  packages/p2p/src/components/modal-manager/modal-manager-context-provider.jsx
  packages/p2p/src/components/modal-manager/modals/add-payment-method-error-modal.jsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.jsx
  packages/p2p/src/components/modal-manager/modals/cancel-add-payment-method-modal.jsx
  packages/p2p/src/components/modal-manager/modals/create-ad-add-payment-method-modal/create-ad-add-payment-method-modal.jsx
  packages/p2p/src/components/modal-manager/modals/rate-change-modal/index.js
  packages/p2p/src/components/modal-manager/modals/rate-change-modal/rate-change-modal.jsx
  packages/p2p/src/components/modal-manager/modals/rate-change-modal/rate-change-modal.scss
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/floating-rate-store.js
Labels: P2P

#7280 Tib|Bala/No 404 during cloudflare pages routing
  default.conf
  packages/cfd/build/config.js
  packages/core/build/config.js
  packages/core/src/root_files/custom404.html
  packages/reports/build/config.js
  packages/trader/build/config.js
  vercel.json
Labels: Trader, Core

#6908 Shayan/52349/react17 migration
  e2e_tests/jest.config.js
  jest.config.base.js
  jest.config.js
  package-lock.json
  package.json
  packages/account/package.json
  packages/account/src/Components/account-limits/account-limits-extra-info.tsx
  packages/account/src/Components/api-token/api-token-clipboard.tsx
  packages/account/src/Components/api-token/api-token-delete-button.tsx
  packages/account/src/Components/currency-selector/radio-button.tsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/sent-email-modal/sent-email-modal.tsx
  packages/api/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/constants/z-indexes.js
  packages/cashier/package.json
  packages/cfd/package.json
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/components/package.json
  packages/components/src/components/autosizer/AutoSizer.d.ts
  packages/components/src/components/autosizer/index.ts
  packages/components/src/components/carousel/carousel.tsx
  packages/components/src/components/data-list/data-list.jsx
  packages/components/src/components/data-table/data-table.jsx
  packages/components/src/components/fade-wrapper/fade-wrapper.tsx
  packages/components/src/components/horizontal-swipe/horizontal-swipe.tsx
  packages/components/src/components/infinite-data-list/infinite-data-list.jsx
  packages/components/src/components/mobile-drawer/mobile-drawer.jsx
  packages/components/src/components/mobile-drawer/mobile-drawer.scss
  packages/components/src/components/page-overlay/page-overlay.scss
  packages/components/src/components/popover/popover.tsx
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.jsx
  packages/components/src/components/themed-scrollbars/themed-scrollbars.tsx
  packages/components/src/components/types/popover.types.ts
  packages/components/stories/data-list/README.md
  packages/components/tsconfig.json
  packages/components/webpack.config.js
  packages/core/package.json
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Components/Routes/__tests__/helpers.spec.js
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/hooks/package.json
  packages/indicators/package.json
  packages/p2p/package.json
  packages/p2p/scripts/__tests__/extract-string.spec.js
  packages/reports/package.json
  packages/reports/src/Components/Routes/__tests__/helpers.spec.js
  packages/shared/package.json
  packages/shared/src/utils/currency/__tests__/currency.spec.ts
  packages/shared/src/utils/object/__tests__/object.spec.ts
  packages/shared/src/utils/url/__tests__/url.js
  packages/stores/package.json
  packages/trader/build/constants.js
  packages/trader/package.json
  packages/trader/src/App/Components/Animations/bounce.jsx
  packages/trader/src/App/Components/Animations/slide-in.jsx
  packages/trader/src/App/Components/Routes/__tests__/helpers.spec.js
  packages/translations/package.json
Labels: Bot, Components, Account, AppStore

#7308 Adrienne / Quick Add Modal and integrating new payment method dropdown component for buy ads in the modal
  packages/p2p/src/components/modal-manager/modal-manager-context-provider.jsx
  packages/p2p/src/components/modal-manager/modals/cancel-add-payment-method-modal.jsx
  packages/p2p/src/components/modal-manager/modals/create-ad-add-payment-method-modal/create-ad-add-payment-method-modal.jsx
  packages/p2p/src/components/modal-manager/modals/error-modal/error-modal.jsx
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/index.js
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/quick-add-modal.jsx
  packages/p2p/src/components/modal-manager/modals/quick-add-modal/quick-add-modal.scss
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.jsx
  packages/p2p/src/components/my-ads/buy-ad-payment-methods-list.scss
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-ads/quick-add-modal.jsx
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method-form.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/stores/my-profile-store.js
  packages/p2p/src/stores/order-store.js
Labels: P2P

#7344 Kate/ 84150/ Cannot read properties of undefined (reading 'min')
  packages/trader/src/Modules/Trading/Components/Form/DatePicker/trading-date-picker.jsx
Labels: Trader

#7291 likhith/fix: :bug: resolved issue with trade modal
  packages/core/src/App/Containers/Modals/app-modals.jsx
Labels: Core

#7340 Maryia/84645/fix: indent of the toolbar widget
  packages/bot-web-ui/src/components/chart/chart.scss
Labels: Bot

#7310 Farabi/84652/fix--responsive import strategy local and google drive
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/save-modal.tsx
  packages/bot-web-ui/src/components/load-modal/google-drive.tsx
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/components/load-modal/local.tsx
  packages/bot-web-ui/src/components/save-modal/save-modal.jsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#7339 Farabi/84653/feat pop up message for successful import and delete bot
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/delete-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#6935 Amina/feat: milestone_2_dbvi
  packages/account/src/Components/address-details/address-details.jsx
  packages/account/src/Components/poa/status/submitted/__tests__/submitted.spec.tsx
  packages/account/src/Components/poa/status/submitted/submitted.tsx
  packages/account/src/Components/poi-poa-docs-submitted/poi-poa-docs-submitted.jsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/__tests__/idv-submit-complete.spec.js
  packages/account/src/Components/poi/idv-status/idv-submit-complete/idv-submit-complete.jsx
  packages/account/src/Components/poi/status/unsupported/card-details/uploader.jsx
  packages/account/src/Components/poi/status/unsupported/detail-component.jsx
  packages/account/src/Components/poi/status/unsupported/unsupported.jsx
  packages/account/src/Components/poi/status/upload-complete/__tests__/upload-complete.spec.js
  packages/account/src/Components/poi/status/upload-complete/upload-complete.jsx
  packages/account/src/Configs/address-details-config.js
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/appstore/src/components/CFDs/cfd-accounts.scss
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/cfd/build/webpack.config.js
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Components/cfd-personal-details-form.tsx
  packages/cfd/src/Components/cfd-poa.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Constants/jurisdiction-contents.ts
  packages/cfd/src/Containers/__tests__/cfd-dashboard.spec.tsx
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/cfd/src/Containers/cfd-dbvi-onboarding.tsx
  packages/cfd/src/Containers/cfd-financial-stp-real-account-signup.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/cfd-personal-details-container.tsx
  packages/cfd/src/Containers/jurisdiction-modal-content.tsx
  packages/cfd/src/Containers/jurisdiction-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-banner.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-checkbox.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-foot-note.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/cfd/src/sass/cfd-dashboard.scss
  packages/cfd/src/sass/cfd.scss
  packages/components/src/components/icon/mt5/ic-mt5-financial-platform.svg
  packages/components/src/components/icon/mt5/ic-mt5-synthetic-platform.svg
  packages/components/src/components/page-overlay/page-overlay.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/root_files/custom404.html
  packages/shared/src/utils/cfd/cfd.ts
  packages/trader/src/sass/app/modules/mt5/cfd-dashboard.scss
Labels: Core, Account, AppStore

#7322 Maryia/85089/fix: code smells of sonar cloud
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/footer.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#7350 Farabi/85641/fix alignment of google drive popup
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
Labels: Bot

#7298 feat: added new context menu for mobile view
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/bot-preview.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/constants.ts
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/workspace-control.tsx
  packages/bot-web-ui/src/components/dashboard/hooks/index.ts
  packages/bot-web-ui/src/components/dashboard/hooks/useComponentVisibility.tsx
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
  packages/bot-web-ui/src/components/load-modal/local-footer.tsx
  packages/bot-web-ui/src/components/load-modal/local.tsx
  packages/bot-web-ui/src/components/load-modal/recent.tsx
  packages/bot-web-ui/src/components/load-modal/workspace-control.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/components/src/components/icon/common/ic-menu-dots.svg
  packages/components/src/components/icon/common/ic-preview-icon.svg
  packages/components/src/components/icon/common/ic-preview.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Bot, Components

#7364 Revert "likhith/fix: :bug: resolved issue with trade modal"
  packages/core/src/App/Containers/Modals/app-modals.jsx
Labels: Core

#7309 fix: info panel should not appear again if closed once
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/info-panel.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#7362 Farabi/85749/fix unable to scroll to bottom of faq list
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
Labels: Bot

#7368 Maryia/85333/feat: appearance markets dropdown
  packages/bot-web-ui/src/components/chart/chart.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
Labels: Bot

#7369 Rupato/85596/fix general tour fixes
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/dialog.scss
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#7325 Niloofar Sadeghi / Task - Refactor tests in the language.spec.js file
  packages/core/src/Utils/Language/__tests__/language.spec.js
Labels: Trader, Core, Account, AppStore

#7327 Niloofar Sadeghi / Task - Refactor tests in the proposal.js file
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/proposal.js
Labels: Trader, Bot

#7324 Niloofar Sadeghi / Task - Refactor tests in the error.spec.js file
  packages/cfd/src/Utils/Validator/__tests__/error.spec.js
  packages/reports/src/Utils/Validator/__tests__/error.spec.js
  packages/trader/src/Utils/Validator/__tests__/error.spec.js
Labels: Trader

#7288 Niloofar Sadeghi / Task - Refactor tests in the binary-link.spec.tsx file
  packages/trader/src/App/Components/Routes/__tests__/binary-link.spec.tsx
  packages/trader/src/App/Components/Routes/binary-link.jsx
Labels: Trader

#7353 Niloofar Sadeghi / Task - Refactor tests in the money.spec.tsx file
  packages/components/src/components/money/__tests__/money.spec.tsx
  packages/components/src/components/money/money.tsx
  packages/trader/src/App/Components/Elements/__tests__/money.spec.tsx
Labels: Trader, Components

#7287 Niloofar Sadeghi / Task - Refactor tests in the toggle-positions.spec.tsx file
  packages/trader/src/App/Components/Elements/TogglePositions/__tests__/toggle-positions.spec.tsx
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions.jsx
Labels: Trader

#7330 Niloofar Sadeghi / Task - Refactor tests in the toggle-button-group.spec.tsx file
  packages/trader/src/App/Components/Elements/ToggleButton/__tests__/toggle-button-group.spec.js
  packages/trader/src/App/Components/Elements/ToggleButton/__tests__/toggle-button-group.spec.tsx
  packages/trader/src/App/Components/Elements/ToggleButton/toggle-button-group.jsx
Labels: Trader

#7374 Niloofar Sadeghi / Task - Refactor tests in the open-positions.spec.tsx file
  packages/components/src/components/data-list/data-list.jsx
  packages/components/src/components/data-table/data-table.jsx
  packages/reports/src/Components/empty-trade-history-message.jsx
  packages/reports/src/Components/placeholder-component.jsx
  packages/reports/src/Containers/__tests__/open-positions-table.spec.js
  packages/reports/src/Containers/__tests__/open-positions.spec.tsx
  packages/reports/src/_common/components/loading.jsx
Labels: Components, Translations

#7355 Niloofar Sadeghi / Task - Refactor tests in the marker-spot-label.spec.tsx file
  packages/core/src/Components/markers/__tests__/marker-spot-label.spec.tsx
  packages/core/src/Components/markers/marker-spot-label.jsx
  packages/reports/src/Modules/SmartChart/Components/Markers/__tests__/marker-spot-label.spec.tsx
  packages/reports/src/Modules/SmartChart/Components/Markers/marker-spot-label.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/marker-spot-label.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/marker-spot-label.jsx
Labels: Trader, Core

#7286 Niloofar Sadeghi / Task - Refactor tests in the binary-link.spec.tsx file
  packages/core/src/App/Components/Routes/__tests__/binary-link.spec.tsx
  packages/core/src/App/Components/Routes/binary-link.jsx
Labels: Core

#7285 Niloofar Sadeghi / Task - Refactor tests in the contract-type-dialog.spec.tsx file
  packages/components/src/components/mobile-dialog/mobile-dialog.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeMenu/contract-type-menu.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-dialog.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-menu.spec.js
Labels: Trader, Components

#7282 Niloofar Sadeghi / Task - Refactor tests in the platform-dropdown.spec.tsx file
  packages/core/src/App/Components/Layout/Header/__tests__/platform-dropdown.spec.tsx
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
Labels: Core

#7376 Maryia/fix: handle edge chart tool issue
  packages/bot-web-ui/src/components/chart/chart.scss
Labels: Bot

#7375 Farabi/fix faq content scroll on mobile
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
Labels: Bot

#7377 Farabi/84475/remove extra dash on tutorials guide
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/sidebar.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-content.tsx
Labels: Bot

#7317 Adrienne / Github actions Lighthouse report workflow
  .github/lighthouse/lighthouserc.json
  .github/workflows/lighthouse.yml
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#7354 Farabi/85639/fix responsive and implementation of import popup message
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/bot-notification.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/delete-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/load-modal/local-footer.tsx
  packages/bot-web-ui/src/components/load-modal/recent-footer.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#7380 fix: mobile issues for tutorial tab
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
Labels: Bot

#6792 likhith/POI status fix
  packages/account/src/Components/poi/status/unsupported/unsupported.jsx
  packages/account/src/Modules/Page404/index.js
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/components/src/components/label/label.tsx
  packages/p2p/scripts/__tests__/extract-string.spec.js
  packages/trader/build/constants.js
Labels: Trader, Core, Shared, Components, P2P, Account

#7384 fix: toolbar is not working as expected on mobile
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar-icon.tsx
Labels: Bot

#7356 Maryia/85354/fix: ui issues on the run performance panel
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/journal/journal.scss
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/summary/summary-card.scss
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/components/summary/summary-card.types.ts
  packages/bot-web-ui/src/components/summary/summary.scss
  packages/bot-web-ui/src/components/summary/summary.tsx
  packages/bot-web-ui/src/components/transactions/transactions.scss
  packages/bot-web-ui/src/constants/bot-contents.ts
Labels: Bot

#7381 Suisin/chore: Notifications for gathering users POI and POA
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
Labels: Core, AppStore

#7389 Shayan/86260/fix collapsable panel placeholder alignment
  packages/bot-web-ui/src/components/contract-card-loading/contract-card-loading.tsx
  packages/bot-web-ui/src/components/journal/journal-components/journal-loader.tsx
  packages/bot-web-ui/src/components/transactions/transaction.jsx
  packages/core/src/App/Components/Layout/Header/Components/Preloader/accounts-info.jsx
  packages/core/src/App/Components/Layout/Header/Components/Preloader/accounts-item.jsx
  packages/core/src/App/Components/Layout/Header/Components/Preloader/header-items.jsx
  packages/core/src/App/Components/Layout/Header/Components/Preloader/platform-switcher.jsx
  packages/reports/src/Components/Elements/ContentLoader/positions-card.jsx
  packages/reports/src/Components/Elements/ContentLoader/reports-table-row.jsx
  packages/trader/src/App/Components/Elements/ContentLoader/positions-card.jsx
  packages/trader/src/App/Components/Elements/ContentLoader/trade-params.jsx
Labels: Trader, Core, Bot

#7403 Farabi/86460/fix UI bugs on dashboard page
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
Labels: Bot

#7402 Farabi/86477/fix martingale strategy description
  packages/bot-skeleton/src/constants/config.js
Labels: Bot

#7407 Revert "sandeep/fix: dbot-slowness issue v2"
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/api/api-base.js
  packages/bot-skeleton/src/services/api/appId.js
  packages/bot-skeleton/src/services/api/ticks_service.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Balance.js
  packages/bot-skeleton/src/services/tradeEngine/trade/OpenContract.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Proposal.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Purchase.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Sell.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/cliTools.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-web-ui/src/components/trade-animation/trade-animation.jsx
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#7348 Hamza/85369/clear button for notifications
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/Stores/notification-store.js
  packages/core/src/sass/app/modules/notifications-dialog.scss
Labels: Core

#7409 Hamza/85884 /chore: textual change 85884
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
Labels: Account

#7413 Hamza/85884/ chore: removal of the statement from poa [Prod]
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
Labels: Account

#7178 Akmal / fix position drawer background
  packages/trader/src/sass/app/_common/drawer/positions-drawer.scss
Labels: Trader

#7342 likhith/fix: :bug: resolved flickering issue in platform switcher
  packages/core/src/App/Components/Layout/Header/account-info.jsx
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/App/Containers/Layout/header/dashboard-platform-header.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#6712 carol/P2P: Fix recommendation bug
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
Labels: P2P

#7337 Ameerul /Bug 56864 Improve error dialogue box
  packages/p2p/src/components/my-profile/payment-methods/payment-methods-list/delete-payment-method-error-modal.jsx
Labels: P2P

#7336 Kate/ 84149/ getting error after changing language from account setting page
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.jsx
Labels: Account

#7257 Ameerul /Task 84193 Deriv P2P - Encourage/Initiate Users to Create Ads when there are no ads on the Buy/Sell screen
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/buy-sell/no-ads/index.js
  packages/p2p/src/components/buy-sell/no-ads/no-ads.jsx
  packages/p2p/src/components/buy-sell/no-ads/no-ads.scss
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/my-ads.jsx
  packages/p2p/src/stores/buy-sell-store.js
Labels: P2P

#7221 Ameerul /Task 84018 Currency filter UI breaks for lengthy legacy currencies
  packages/p2p/src/components/buy-sell/currency-dropdown.scss
  packages/p2p/src/stores/buy-sell-store.js
Labels: P2P

#7263 Rostislav / 82947 / Task remove Changelly and Xanpool from Fiat Onramp
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding-providers.js
  packages/cashier/src/config/on-ramp-providers.js
  packages/cashier/src/pages/on-ramp/on-ramp-provider-card/__tests__/on-ramp-provider-card.spec.tsx
  packages/cashier/src/pages/on-ramp/on-ramp-provider-popup/__tests__/on-ramp-provider-popup.spec.tsx
  packages/cashier/src/stores/__tests__/on-ramp-store.spec.js
  packages/cashier/src/stores/on-ramp-store.js
  packages/components/src/components/icon/cashier/ic-cashier-changelly-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-changelly-light.svg
  packages/components/src/components/icon/cashier/ic-cashier-changelly-row-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-changelly-row-light.svg
  packages/components/src/components/icon/cashier/ic-cashier-changelly.svg
  packages/components/src/components/icon/cashier/ic-cashier-xanpool-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-xanpool-light.svg
  packages/components/src/components/icon/cashier/ic-cashier-xanpool-small-dark.svg
  packages/components/src/components/icon/cashier/ic-cashier-xanpool-small-light.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components

#7408 Sandeep/85441/dbot performance fix 2 clone
  packages/bot-skeleton/package.json
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/services/api/api-base.js
  packages/bot-skeleton/src/services/api/appId.js
  packages/bot-skeleton/src/services/api/ticks_service.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Balance.js
  packages/bot-skeleton/src/services/tradeEngine/trade/OpenContract.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Proposal.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Purchase.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Sell.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-skeleton/src/services/tradeEngine/utils/cliTools.js
  packages/bot-skeleton/src/services/tradeEngine/utils/helpers.js
  packages/bot-skeleton/src/services/tradeEngine/utils/interpreter.js
  packages/bot-web-ui/src/components/trade-animation/trade-animation.jsx
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#7395 Maryia/86306/fix: UI issues on Iphone(SE)
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/shared/src/styles/devices.scss
Labels: Bot, Shared

#7387 Farabi/86310/fix popup code refactor
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/load-modal/local-footer.tsx
  packages/bot-web-ui/src/components/load-modal/recent-footer.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#7392 Farabi/86308/fix open button cannot be seen on some devices
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
Labels: Bot

#7404 Maryia/86513/fix: summary tab of run panel
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/summary/summary.tsx
Labels: Bot

#7425 farrah/86745/ fix clear all button in notifications dialog
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/sass/app/modules/notifications-dialog.scss
Labels: Core

#7227 Suisin/84164/wrong fe request format
  packages/appstore/src/components/total-assets/total-assets.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core, AppStore

#7433 hamza/hotfix: dp2p notification comming incase of 2 accounts
  packages/core/src/Stores/notification-store.js
Labels: Core

#7420 farrah/86702/fix missing dropdown menu
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Labels: Trader, Core, Account

#7390 Rupato/86177/fix tour guide general fixes
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/load-modal/local.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Bot, Components

#7379 Maryia/86112/fix: handle edge chart tool issue
  packages/bot-web-ui/src/components/chart/chart.scss
Labels: Bot

#7435 Farabi/86460/fix recent strategies UI bug
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
Labels: Bot

#7365 Farzin/85855/Refactor `ToggleMenuDrawer` component to use `useStore` hook
  packages/core/build/loaders-config.js
  packages/core/package.json
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/dashboard-header.jsx
  packages/core/src/App/Containers/Layout/header/dashboard-platform-header.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/App/app.jsx
  packages/stores/types.ts
Labels: Core

#7432 fix: wrong error message gets displayed for duration value on changin…
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot

#7401 Farabi/86459/fix unable to scroll the recent strategies
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
Labels: Bot

#7449 fix: switch strategy on strategy preview
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/constants/load-modal.js
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#7451 Farabi/86998/fix your bots section resizing on import
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
Labels: Bot

#7234 kate/83755/change text in frame for creation a new MF account
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/components/src/components/label/label.tsx
Labels: Components, AppStore

#7428 kate/ 86205/console errors in local host
  packages/components/src/components/checkbox/checkbox.tsx
Labels: Components

#7430 Kate/86838/ add one more available proptype for component DigitDisplay
  packages/trader/src/Modules/Contract/Components/LastDigitPrediction/digit-display.jsx
Labels: Trader
