Repository deriv-com/deriv-app, pull requests merged in 2023-02, with the labels that each got.

#7455 Hamza/78834/banner blinks on adding new account
  packages/core/src/App/Containers/app-notification-messages.jsx
Labels: Core

#7467 thisyahlen/chore: remove Volatility 150 Index and Volatility 250 Index for eu regulation
  packages/appstore/src/constants/regulators-modal-content.ts
Labels: AppStore

#7468 thisyahlen/fix: empty notification dropdown
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
Labels: Core

#7465 Amina/fix: close_button_on_responsive
  packages/account/src/Containers/account.jsx
Labels: Account

#7463 Amina/fix: cfd listing fix
  packages/core/src/Stores/traders-hub-store.js
Labels: Core

#7482 Amina/ fix: console_error
  packages/core/src/Stores/traders-hub-store.js
Labels: Core

#7473 bahar/87404/fix: deposit_locked_for_cr_account
  packages/cashier/src/components/cashier-locked/__tests__/cashier-locked.spec.tsx
  packages/cashier/src/components/no-balance/__tests__/no-balance.spec.tsx
  packages/cashier/src/pages/account-transfer/__tests__/account-transfer.spec.tsx
  packages/cashier/src/pages/deposit/__tests__/deposit.spec.tsx
  packages/cashier/src/pages/deposit/deposit.tsx
  packages/cashier/src/pages/on-ramp/__tests__/on-ramp.spec.tsx
  packages/cashier/src/stores/__tests__/general-store.spec.js
  packages/cashier/src/stores/general-store.js
  packages/hooks/package.json
  packages/hooks/src/__tests__/useDepositLocked.spec.tsx
  packages/hooks/src/__tests__/useNeedAuthentication.spec.tsx
  packages/hooks/src/useNeedAuthentication.ts
  packages/p2p/src/stores/general-store.js
  packages/stores/types.ts
Labels: P2P

#7483 thisyahlen/fix: trade button
  packages/appstore/src/components/options-multipliers-listing/index.tsx
Labels: AppStore

#7477 Mahdiyeh/ fix: showing notice popup for LOW_RISK/NON_EU
  packages/core/src/App/Components/Elements/Modals/RedirectNotice/redirect-notice-modal.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
Labels: Core

#7480 thisyahlen/fix: exit traders hub and account switcher
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Modals/exit-traders-hub-modal/exit-traders-hub-modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard-form.js
Labels: Core

#7370 fix: :bug: added condition to fix FA popup for old MF clients
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/trading-assessment-existing-user.jsx
  packages/trader/build/constants.js
Labels: Trader, Core, Components

#7454 Farabi/85872/fix code smells
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/info-panel.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/intro-card.tsx
  packages/bot-web-ui/src/components/dashboard/tour-slider.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content.tsx
  packages/bot-web-ui/src/components/load-modal/recent.tsx
Labels: Bot

#7502 Amina/ fix: is_eu_flag and dbot
  packages/bot-web-ui/src/stores/app-store.js
  packages/core/src/Stores/client-store.js
Labels: Core, Bot

#7500 Hirad/87604/Account creation currency issue
  packages/core/src/Stores/client-store.js
Labels: Core

#7507 Amina fix is eu flag
  packages/bot-web-ui/src/stores/app-store.js
  packages/core/src/Stores/client-store.js
Labels: Core, Bot

#7508 Hirad/87604/account creation currency issue
  packages/core/src/Stores/client-store.js
Labels: Core

#7459 Adrienne / Wrong popup message counterparty block user modal
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#7509 Thisyahlen/exittradershub
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
  packages/core/src/App/Containers/Modals/exit-traders-hub-modal/exit-traders-hub-modal.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#7516 Amina/ fix: mf_list
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#7491 Ameerul /Task 74218 Incorrect Deriv P2P Balance Information
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-balance/my-profile-balance.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-balance/my-profile-balance.scss
Labels: P2P

#7504 Aizad/87647/open real dialog issue
  packages/core/src/App/Components/Elements/Modals/deriv-real-account-required-modal.jsx
  packages/core/src/App/Components/Elements/Modals/deriv-real-account-required-modal.scss
Labels: Core, AppStore

#7527 87814/fix blank onboarding for non en lang
  packages/core/src/Stores/client-store.js
Labels: Core

#7443 Henry/86550/feat/change tabs to dropdown reports
  packages/components/src/components/data-table/table-row.jsx
  packages/reports/src/Containers/__tests__/open-positions-table.spec.js
  packages/reports/src/Containers/open-positions.jsx
  packages/reports/src/sass/app/modules/reports.scss
Labels: Components

#7372 Hubert / fixing IDV validation
  packages/account/src/Components/hooks/useToggleValidation.tsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.jsx
Labels: Account

#7427 fix: console error on edit ad where payment method is disabled from bo
  packages/p2p/src/components/my-ads/edit-ad-form.jsx
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#7447 Kate/80001/Remove unused query params from the URL on initialize
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/url/url.ts
Labels: Core, Shared

#7444 Ameerul /Bug 86546 P2P clients (Not POI verified clients) are not temp. banned when we block temporary until 14th of next month or any further dates.
  packages/p2p/src/stores/general-store.js
Labels: P2P

#7475 Farzin/87456/Extract `is_onramp_tab_visible` method from cashier `OnRampStore` to reusable hook
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/stores/on-ramp-store.js
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/index.ts
  packages/hooks/src/useOnrampVisible.ts
  packages/stores/types.ts
Labels: Core

#7388 chore: updated the readme file
  README.md
Labels: Docs

#7448 hamid/86888/refactor-hook-test-files-to-use-testing-library-react-hooks
  package-lock.json
  package.json
  packages/api/package.json
  packages/api/src/__tests__/useSubscription.spec.tsx
  packages/api/src/__tests__/useWS.spec.tsx
  packages/components/stories/icon/icons.js
  packages/hooks/package.json
  packages/hooks/src/__tests__/useCountdown.spec.tsx
  packages/hooks/src/__tests__/useDepositLocked.spec.tsx
  packages/hooks/src/__tests__/useNeedAuthentication.spec.tsx
  packages/hooks/src/__tests__/useNeedFinancialAssessment.spec.tsx
  packages/hooks/src/__tests__/useNeedTNC.spec.tsx
  packages/hooks/src/__tests__/useRealSTPAccount.spec.tsx
  packages/stores/package.json
  packages/stores/src/__tests__/useStore.spec.tsx
Labels: Components

#7426 fix: issue with payment method search filter
  packages/p2p/src/components/buy-sell/filter-modal/filter-modal-search.jsx
  packages/p2p/src/components/buy-sell/filter-modal/filter-modal.jsx
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#7543 fix: regulatory information
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
Labels: Core

#7552 Revert "fix: regulatory information"
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
Labels: Core

#7550 henry/87966/hotfix: contract details for digits trade types from open positions w…
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.tsx
Labels: Components

#7553 Aizad/87939/lan fix platform switch
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/App/Containers/Modals/exit-traders-hub-modal/exit-traders-hub-modal.jsx
Labels: Core

#7558 maryia/build: Update @deriv/deriv-charts to 1.1.1
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#7031 feat: Remove official logos for unofficial domains
  packages/shared/brand.config.json
  packages/shared/src/utils/brand/brand.js
  packages/shared/src/utils/brand/brand.ts
Labels: Shared

#7556 Mahdiyeh/ fix: regulatory information for non-eu client
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
Labels: Core

#7528 Sergei / 87595 / While adding crypto account, it showing the real account creation flow
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core, Docs, Account, AppStore

#7530 Sergei / 87639 / disable the phone and adress editing while user creation for account with MF+CR
  packages/account/src/Components/address-details/address-details.jsx
  packages/account/src/Components/personal-details/personal-details.jsx
Labels: Account

#7506 Amina/ fix: verifiication modal
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/modals/failed-veriification-modal/failed-verification-modal.tsx
  packages/appstore/src/types/common.types.ts
  packages/components/src/components/status-badge/status-badge.tsx
  packages/core/src/Stores/traders-hub-store.js
Labels: Core, Components, Docs, Account, AppStore

#7554 thisyahlen/fix: all dem barrel spins
  packages/appstore/src/components/currency-switcher-card/real/real-account-switcher.scss
  packages/appstore/src/components/currency-switcher-card/real/real-account-switcher.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.scss
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/components/main-title-bar/regulators-switcher.scss
  packages/appstore/src/components/main-title-bar/regulators-switcher.tsx
Labels: AppStore

#7555 Sergei / 88004 / Rephrase EU/Non-EU regulation pop-up
  packages/appstore/src/constants/tour-steps-config-new.tsx
Labels: AppStore

#7557 Sergei / 88006 / Remove 's' from the Non-EU and EU regulations pop up
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal-content.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.tsx
Labels: AppStore

#7576 Henry/88126/feat add two new icons for volatility index dtrader
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/underlying/ic-underlying-1HZ150V.svg
  packages/components/src/components/icon/underlying/ic-underlying-1HZ250V.svg
  packages/components/stories/contract-card/statics/contract.js
  packages/components/stories/icon/icons.js
  packages/core/src/Constants/contract.js
  packages/reports/src/_common/contract.js
  packages/shared/src/utils/constants/contract.tsx
  packages/trader/src/Constants/contract.js
Labels: Trader, Core, Shared, Components

#7545 Adrienne / Fix issue verification link modal showing twice
  packages/p2p/src/components/modal-manager/modals/email-verification-modal/email-verification-modal.jsx
  packages/p2p/src/stores/order-store.js
Labels: P2P

#7505 Adrienne / Add payment method not dismissed create ad
  packages/p2p/src/components/modal-manager/modal-manager-context-provider.jsx
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/my-profile-store.js
  packages/p2p/src/stores/order-store.js
Labels: P2P

#7478 Adrienne / Market rate change popup not displayed
  packages/p2p/src/components/buy-sell/buy-sell-form.jsx
  packages/p2p/src/components/modal-manager/modals/rate-change-modal/rate-change-modal.jsx
  packages/p2p/src/stores/buy-sell-store.js
Labels: P2P

#7547 bahar/87991/fix: transfer_to_cashier_error
  packages/appstore/src/components/app.tsx
Labels: AppStore

#7590 Mahdiyeh/ fix: error on traders hub page
  packages/shared/src/utils/brand/brand.ts
Labels: Shared

#7581 Sergei / 88005 / page not loading after create demo account
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/url/url.ts
Labels: Trader, Core, Bot, Shared, Components

#7571 thisyahlen/fix: regulation switcher for high risk
  packages/core/src/Stores/traders-hub-store.js
Labels: Core

#7565 Sergei / 88009 / replace total assets tooltip
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/components/total-assets/total-assets.tsx
Labels: Trader, Core, Components, Translations, AppStore

#7541 MaryiaF/86306_3/fix: texts are being cut off under the recent tabs
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
Labels: Bot

#7549 evgeniy/87910/update meta tags og:title and og:description on proof of identity page
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/core/src/index.html
  packages/shared/src/utils/dom/seo_optimization.ts
Labels: Core, Shared, Account

#7606 Sergei / 88629 / When refreshing the traders hub onboarding page the page block size changes
  packages/core/src/Stores/client-store.js
Labels: Core

#7595 Amina /88161 account switcher label change
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
  packages/core/src/Stores/client-store.js
Labels: Core

#7566 Aizad/88091/onboarding sign-up fix
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/App/Containers/Modals/exit-traders-hub-modal/exit-traders-hub-modal.jsx
  packages/core/src/Stores/client-store.js
Labels: Core, Shared, AppStore

#7525 Niloofar / Fix repository security issue: Incomplete regular expression for hostnames
  packages/core/src/App/Components/Elements/Modals/RedirectNotice/redirect-notice-modal.jsx
  packages/core/src/Stores/gtm-store.js
Labels: Core

#7603 thisyahlen/fix: add back notifications in traders hub
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/sass/app/_common/components/app-notification-message.scss
Labels: Core, Bot, Account, AppStore

#7623 fix: localstorage sync
  packages/core/src/Services/socket-general.js
Labels: Core, Shared

#7629 Fix local storage sync
  packages/core/src/Services/socket-general.js
Labels: Core

#7631 Fix local storage sync
  packages/account/src/Sections/Security/AccountClosed/account-closed.jsx
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/cashier/src/stores/base-store.ts
  packages/cfd/src/Stores/base-store.js
  packages/core/src/App/Containers/RedirectToLoginModal/redirect-to-login-modal.jsx
  packages/core/src/App/initStore.js
  packages/core/src/Services/logout.js
  packages/core/src/Stores/base-store.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/portfolio-store.js
  packages/reports/src/Stores/base-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/Stores/base-store.js
Labels: Trader, Core, Bot, Account

#7638 Revert "Fix local storage sync"
  packages/account/src/Sections/Security/AccountClosed/account-closed.jsx
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/cashier/src/stores/base-store.ts
  packages/cfd/src/Stores/base-store.js
  packages/core/src/App/Containers/RedirectToLoginModal/redirect-to-login-modal.jsx
  packages/core/src/App/initStore.js
  packages/core/src/Services/logout.js
  packages/core/src/Stores/base-store.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/portfolio-store.js
  packages/reports/src/Stores/base-store.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/Stores/base-store.js
Labels: Trader, Core, Bot, Account

#7639 Revert "Fix local storage sync"
  packages/core/src/Services/socket-general.js
Labels: Core

#7640 Revert "fix: localstorage sync"
  packages/core/src/Services/socket-general.js
Labels: Core

#7624 Adrienne / Fix bug in buy sell header and refactored code
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.jsx
Labels: P2P

#7645 Amina/ fix: account label
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#7620 Suisin/fix: remove css that causes overlapping in production
  packages/account/src/Styles/account.scss
Labels: Account

#7637 maryia/88811/build: Update @deriv/deriv-charts to 1.1.2
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#7659 Revert "build: Update @deriv/deriv-charts to 1.1.2 (#7637)"
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#7660 Revert "maryia/88811/build: Update @deriv/deriv-charts to 1.1.2"
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#7568 Aizad/85385/added support for special symbols
  packages/shared/src/utils/validation/regex-validation.ts
Labels: Shared

#7644 Sergei / 88770 / While adding crypto account from demo tab, it showing the real account creation flow
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#7626 Refactor shaheer/87591/app modals
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/risk-accept-test-warning-modal.jsx
  packages/core/src/App/Containers/Modals/trading-assessment-existing-user.jsx
Labels: Core

#7668 Amina/fix: 89022_personal_details_section_on_signup
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#7653 Mitra/fix contact us link
  packages/account/src/Components/self-exclusion/self-exclusion-article-content.jsx
Labels: Account

#7662 fix: :bug: safely pulls lang from query params, defaults to english
  packages/core/src/Stores/client-store.js
Labels: Core

#7680 thisyahlen/fix: Unable to add CR fiat account
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#7431 Sergei / 86749 / delete some console errors when user watches onboarding
  packages/appstore/src/constants/tour-steps-config-new.tsx
  packages/appstore/src/constants/tour-steps-config.tsx
  packages/appstore/src/modules/tour-guide/tour-guide.tsx
  packages/appstore/src/modules/trading-hub/index.tsx
  packages/components/src/components/button/button.tsx
  packages/components/src/components/span-button/index.ts
  packages/components/src/components/span-button/span-button.tsx
  packages/components/src/index.js
Labels: Core, Components, AppStore

#7633 Sergei / 88771 / Australian VRTC accounts are not able to create real account
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#7481 Sergei / 77641 / Cannot read properties of undefined (reading 'rates')
  packages/cashier/src/stores/crypto-fiat-converter-store.ts
  packages/p2p/src/stores/floating-rate-store.js
Labels: P2P

#7520 Thisyahlen/87700/no option to change currency for mf
  packages/appstore/src/components/containers/currency-switcher-container.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-card.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-switcher.tsx
Labels: AppStore

#7519 Thisyahlen/87555/switching to mf account upon login if no cr account for low risk
  packages/core/src/App/Containers/Modals/exit-traders-hub-modal/exit-traders-hub-modal.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#7615 Aizad/87648/scroll-issue-onboarding-tradershub
  packages/appstore/src/components/onboarding-new/static-dashboard.scss
  packages/appstore/src/modules/onboarding/onboarding.scss
Labels: AppStore

#7648 Sergei / 88801 / Add button does not allow to add crypto accounts under Non EU Deriv Account when inside of Traders Hub
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#7551 Farabi/87978/fix update dashboard tour guide
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-guide.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#7548 Farabi/87979/fix update bot builder tour guide
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
Labels: Bot

#7688 Amina/fix: 89134_real_account_signup_fields_not_editable
  packages/account/src/Components/address-details/address-details.jsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Configs/address-details-config.js
  packages/account/src/Configs/personal-details-config.js
Labels: Account

#7579 Maryia/87976/feat: pop-up for multipliers & options when users try to stop the run…
  packages/bot-web-ui/src/components/dashboard/bot-builder/workspace-wrapper.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/stop-bot-modal.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/components.types.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/container.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/footer.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.types.ts
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot

#7600 Niloofar Sadeghi / Task - Fix repository security issue: Client-side URL redirect
  packages/reports/src/Containers/open-positions.jsx
  packages/reports/src/Containers/profit-table.jsx
  packages/reports/src/Containers/statement.jsx
  packages/trader/src/App/Containers/Modals/trade-modals.jsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
Labels: Trader

#7597 Niloofar Sadeghi / Incomplete URL substring sanitization
  packages/shared/src/utils/url/url.ts
Labels: Shared

#7657 thisyahlen/fix: add and manage account button logic in account switcher
  package-lock.json
  packages/bot-skeleton/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/reports/package.json
  packages/stores/src/mockStore.ts
  packages/trader/package.json
Labels: Trader, Core, Bot

#7628 Farabi/88605/fix blocks overlapping issues
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
  packages/bot-skeleton/src/scratch/xml/main.xml
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
Labels: Bot

#7709 george / 89176 / transfer between cryptocurrency to other currencies is not possible
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
  packages/cashier/src/stores/account-transfer-store.ts
  packages/core/src/Constants/form-error-messages.js
  packages/shared/src/utils/validation/declarative-validation-rules.ts
  packages/shared/src/utils/validation/form-error-messages-types.ts
Labels: Core, Shared

#7717 yashim/fix: enable strings extraction
  packages/translations/scripts/extract-string.js
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Translations

#7719 Sergei / 89384 / Wrong Total assets for Demo account EU country after added MT5 accounts
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#7714 george / rm89361 / wrong validation error message in transfer page
  packages/core/src/Constants/form-error-messages.js
  packages/shared/src/utils/validation/declarative-validation-rules.ts
  packages/shared/src/utils/validation/form-error-messages-types.ts
Labels: Core, Shared

#7723 thisyahlen/fix: account switcher for mf
  packages/core/src/App/Containers/RealAccountSignup/add-or-manage-accounts.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#7700 hamza/89107/fix: trade type highlight changed to All + Rise Fall not highlighted fix
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-item.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
Labels: Trader

#7672 thisyahlen/fix: barrel rolls on loader
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/main-title-bar/main-title-bar.scss
Labels: AppStore

#7669 fix: :bug: fixes the truncated cookie banner for non-en languages
  packages/core/src/sass/app/_common/components/cookie-banner.scss
Labels: Core

#7720 Mahdiyeh/fix: localize
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/components/options/options-accounts.tsx
Labels: AppStore

#7728 Sergei / 89437 / Traders Hub: Total assets showing wrong amount when clients having multiple currency
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
Labels: AppStore

#7647 fix: evgeniy/ 88007/ enable paste in idv information
  packages/account/src/Components/hooks/useToggleValidation.tsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/idv-document-submit/utils.js
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.jsx
Labels: Account

#7750 yashim/fix: missing localise/improper use of localise
  packages/appstore/src/components/CFDs/cfd-accounts.tsx
  packages/appstore/src/components/CFDs/cfd-demo-accounts.tsx
  packages/appstore/src/components/CFDs/cfd-real-accounts.tsx
  packages/appstore/src/components/onboarding/static-dashboard.tsx
  packages/appstore/src/components/options/options-accounts.tsx
  packages/appstore/src/components/platform-launcher/platform-launcher.tsx
Labels: AppStore

#7754 yashim/fix: translations
  packages/appstore/src/components/CFDs/cfd-real-accounts.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/shared/src/utils/cfd/available-cfd-accounts.ts
Labels: Core, Shared, AppStore

#7757 yashim/fix: onboarding translations
  packages/appstore/src/constants/trading-hub-content.tsx
  packages/appstore/src/modules/onboarding/onboarding.tsx
Labels: AppStore

#7758 yashim/fix: onboarding carousel translations
  packages/appstore/src/constants/tour-steps-config-new.tsx
  packages/appstore/src/modules/tour-guide/tour-guide.tsx
Labels: AppStore

#7761 yashim/fix: translation in tour-steps-config
  packages/appstore/src/constants/tour-steps-config-new.tsx
Labels: AppStore

#7572 feat: made changes in the skeleton to align the trashcan
  packages/bot-skeleton/src/scratch/hooks/trashcan.js
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/run-panel/run-panel.jsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
Labels: Bot, Components

#7764 carol/Update translations
  packages/appstore/src/components/CFDs/cfd-real-accounts.tsx
  packages/appstore/src/components/add-derived/add-derived.tsx
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.tsx
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/components/onboarding-new/static-trading-app-card.tsx
  packages/appstore/src/components/onboarding/static-dashboard.tsx
  packages/appstore/src/constants/tour-steps-config.tsx
  packages/appstore/src/constants/trading-hub-content.tsx
  packages/cfd/src/Containers/trading-password-manager.tsx
  packages/core/src/App/Containers/Modals/exit-traders-hub-modal/exit-traders-hub-modal.jsx
Labels: Core, AppStore

#7765 yashim/fix: update extraction regex
  packages/appstore/src/components/CFDs/cfd-real-accounts.tsx
  packages/translations/scripts/__tests__/extract-string.spec.js
  packages/translations/scripts/extract-string.js
Labels: Translations, AppStore

#7769 yashim/fix: improper formatted strings
  packages/appstore/src/constants/tour-steps-config.tsx
  packages/appstore/src/constants/trading-hub-content.tsx
  packages/translations/scripts/__tests__/extract-string.spec.js
  packages/translations/scripts/extract-string.js
Labels: Translations, AppStore

#7434 Farzin/85955/Extract `replaceCashierMenuOnclick` method from cashier `GeneralStore` to reusable hook in `@deriv/hooks`
  packages/cashier/src/components/cashier-notifications/__tests__/cashier-notifications.spec.tsx
  packages/cashier/src/components/cashier-notifications/cashier-notifications.tsx
  packages/cashier/src/components/cashier-notifications/index.ts
  packages/cashier/src/stores/__tests__/general-store.spec.ts
  packages/cashier/src/stores/general-store.ts
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Components/Layout/Header/menu-links.scss
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/index.js
  packages/core/src/Stores/menu-store.js
  packages/hooks/src/index.ts
  packages/hooks/src/useHasActiveRealAccount.ts
  packages/hooks/src/useHasSetCurrency.ts
  packages/hooks/src/useP2PNotificationCount.ts
  packages/p2p/src/stores/general-store.js
  packages/stores/types.ts
Labels: Core, P2P
