Repository deriv-com/deriv-app, pull requests merged in 2023-04, with the labels that each got.

#8096 Farabi/92253/fix not matching font size for tutorial
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/info-panel.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
Labels: Bot

#8098 Fix patch for multiple layers darkmode
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#8116 maryia/92446/fix: allow equals checkbox to set correct checked value
  packages/components/src/components/checkbox/checkbox.tsx
Labels: Components

#8087 Suisin/chore: fixed text alignment issue in personal detail page
  packages/account/src/Styles/account.scss
Labels: Account

#8106 maryia/92212/fix: RadioGroupOptionsModal for Multiplier options in all languages
  packages/trader/src/Modules/Trading/Containers/radio-group-options-modal.jsx
Labels: Trader

#8051 thisyahlen/fix: z-index for dark theme popover
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
Labels: Core

#8046 henry/92021/fix: make trade types clickable in responsive for digits contracts
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.scss
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.tsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Components

#8029 thisyahlen/chore: real account needed for cashier popup
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/need-real-account-for-cashier-modal/index.ts
  packages/core/src/App/Containers/Modals/need-real-account-for-cashier-modal/need-real-account-for-cashier-modal.scss
  packages/core/src/App/Containers/Modals/need-real-account-for-cashier-modal/need-real-account-for-cashier-modal.tsx
  packages/core/src/Stores/ui-store.js
  packages/hooks/src/__tests__/useHasSvgAccount.spec.tsx
  packages/hooks/src/__tests__/useIsRealAccountNeededForCashier.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useHasSvgAccount.ts
  packages/hooks/src/useIsRealAccountNeededForCashier.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#8064 Jim/91761/delay in real account creation flow after clicking add account in the account creation popup
  packages/cashier/src/stores/__tests__/payment-agent-transfer-store.spec.js
  packages/cashier/src/stores/payment-agent-transfer-store.js
  packages/core/src/Stores/client-store.js
Labels: Core

#7960 henry/91320/Fix: Pass should show eu content flag to smartchart
  packages/core/src/Stores/client-store.js
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader, Core

#7938 fix: Add redirect action that opens multipliers account modal for ext…
  packages/core/src/App/Containers/Redirect/redirect.jsx
Labels: Core

#7963 thisyahlen/fix: login change language error
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/common-store.js
Labels: Core

#8021 evgeniy/ 91778/ remove validation for sequental and repetitive digits idv
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.js
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/idv-document-submit/utils.js
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.jsx
Labels: Account

#7922 Hamza/90545/responsive user awareness
  packages/components/src/components/toast/toast.scss
  packages/components/src/components/toast/toast.tsx
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/trader/@deriv-stores.d.ts
  packages/trader/build/loaders-config.js
  packages/trader/package.json
  packages/trader/src/App/app.tsx
  packages/trader/src/Modules/SmartChart/Components/BuyToastNotification/__tests__/buy-toast-notification.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/buy-toast-notification.tsx
  packages/trader/src/Modules/SmartChart/Components/top-widgets.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/tsconfig.json
  packages/translations/src/components/localize.jsx
Labels: Trader, Core, Components, Translations

#7894 Rostislav / 90547 / Improve the "Transfer page" when there is only 1 Deriv Account with no siblings and CFDs account
  packages/appstore/src/components/account-transfer-modal/account-transfer-modal.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-no-account/__tests__/account-transfer-no-account.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-no-account/account-transfer-no-account.tsx
  packages/cashier/src/pages/account-transfer/account-transfer.tsx
Labels: AppStore

#7845 Farzin/90439/R&D/Make use of `react-query` in `@deriv/api` package
  packages/account/package.json
  packages/api/package.json
  packages/api/src/APIProvider.tsx
  packages/api/src/__tests__/useFetch.spec.tsx
  packages/api/src/__tests__/useRequest.spec.tsx
  packages/api/src/__tests__/useSubscription.spec.tsx
  packages/api/src/__tests__/useWS.spec.tsx
  packages/api/src/index.ts
  packages/api/src/useFetch.ts
  packages/api/src/useInvalidateQuery.ts
  packages/api/src/useRequest.ts
  packages/api/src/useSubscription.ts
  packages/api/src/useWS.ts
  packages/api/src/utils.ts
  packages/api/types.ts
  packages/appstore/package.json
  packages/cashier/package.json
  packages/cashier/src/cashier-providers.tsx
  packages/cashier/src/components/funds-protection/__tests__/funds-protection.spec.tsx
  packages/cashier/src/components/funds-protection/funds-protection.tsx
  packages/cfd/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/useVerifyEmail.ts
  packages/reports/package.json
  packages/shared/package.json
  packages/stores/package.json
  packages/trader/package.json
Labels: Trader, Shared, Account, AppStore

#7996 fix: sets the contract language whenever there is a change
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#8012 Maryia/fix: switching user guide btn, refactor usage of constant active tab
  packages/bot-web-ui/src/components/bot-footer-extensions/footer-tabs.tsx
  packages/bot-web-ui/src/components/bot-notification-messages/bot-notification-messages.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/info-panel.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/user-guide.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/footer.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
  packages/bot-web-ui/src/constants/bot-contents.ts
  packages/bot-web-ui/src/stores/save-modal-store.ts
Labels: Bot

#8110 Farabi/92444/fix remove run panel in tutorial tab
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
Labels: Bot

#8101 Vinu/91344/fix code smell
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/__tests__/toolbar.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/data-fields.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/duration-fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/input-field.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/inputs.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.types.ts
  packages/bot-web-ui/src/public-path.ts
  packages/bot-web-ui/src/stores/save-modal-store.ts
Labels: Bot

#8165 chore: change reaction and call validateAllProperties
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#8160 Henry/92021/trade types cant change in responsive
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.scss
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.tsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader, Components

#8155 fix: fix scrolling issue for blocks menu accordion
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
Labels: Bot

#8169 fix: load-bot-preview field text alignment issue
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
Labels: Bot

#8166 fix: load-bot-preview cursor style issue
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
Labels: Bot

#8182 Revert "chore: change reaction and call validateAllProperties"
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#8185 thisyahlen/fix: firefox staging fix
  packages/core/src/Stores/common-store.js
  packages/translations/src/i18next/i18next.ts
Labels: Core, Translations

#8194 likhith/sync-with-master
  .github/workflows/generate_app_id.yml
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.scss
  packages/components/src/components/swipeable-wrapper/swipeable-wrapper.tsx
  packages/core/src/Stores/common-store.js
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/translations/src/i18next/i18next.ts
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Trader, Core, Components, Translations

#7897 Hirad/89746/reusable trade component
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/build/webpack.config.js
  packages/cfd/src/Components/passwordbox.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Components/specbox.tsx
  packages/cfd/src/Containers/derivx-trade-modal.tsx
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/cfd/src/Containers/trade-modal.tsx
  packages/cfd/src/Helpers/config.tsx
  packages/cfd/src/Helpers/constants.ts
  packages/cfd/src/sass/cfd-dashboard.scss
  packages/components/src/components/icon/brand/ic-brand-ctrader-wordmark.svg
  packages/components/src/components/icon/brand/ic-brand-ctrader.svg
  packages/components/src/components/icon/brand/ic-brand-deriv-ez-wordmark.svg
  packages/components/src/components/icon/brand/ic-brand-deriv-ez.svg
  packages/components/src/components/icon/brand/ic-brand-dxtrade-wordmark.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components, Account, AppStore

#7928 Shontzu/89402/adding static contents on onboarding page for cTrader
  packages/appstore/src/assets/svgs/trading-platform/ic-brand-deriv-ctrader.svg
  packages/appstore/src/assets/svgs/trading-platform/index.tsx
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/types/common.types.ts
  packages/shared/src/utils/platform/platform.ts
Labels: Shared, AppStore

#7809 Ameerul /Task 79587 To revert FE changes for unsupported payment method after BE card released
  packages/p2p/src/components/p2p-accordion/p2p-accordion.jsx
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/buy-sell-store.js
Labels: P2P

#7674 Ameerul /Task 86619 Need content for there is users in Trade Partner list
  packages/p2p/src/components/block-user/block-user-empty/block-user-empty.jsx
Labels: P2P

#7599 Niloofar Sadeghi / Task - Fix repository security issue: DOM text reinterpreted as HTML [CODE-SCANNING]
  package-lock.json
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/shared/src/utils/login/login.ts
Labels: Core, Shared

#7835 Jim/90305/disable poo tab until enabled in bo
  packages/account/src/Containers/account.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/payment-method-config.js
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Account

#7895 maryia/90752/test: add tests for ButtonToggle component
  packages/components/src/components/button-toggle/__test__/button-toggle.spec.tsx
  packages/components/src/components/button-toggle/button-highlight.tsx
Labels: Components

#8159 fix: evgeniy/92716/overlapping error msg when selecting citizenship
  packages/core/src/App/Containers/AccountSignupModal/validate-signup-fields.jsx
Labels: Core

#8224 fix: sub_account_type type
  packages/shared/src/utils/cfd/cfd.ts
Labels: Shared

#7777 Ameerul /remove p2p from cashier
  packages/cashier/src/constants/routes-config.ts
  packages/cashier/src/pages/index.js
  packages/cashier/src/pages/p2p-cashier/__tests__/p2p-cashier.spec.tsx
  packages/cashier/src/pages/p2p-cashier/index.ts
  packages/cashier/src/pages/p2p-cashier/p2p-cashier.tsx
  packages/core/src/Stores/notification-store.js
  packages/p2p/package.json
  packages/p2p/src/components/__tests__/app-content.spec.js
  packages/p2p/src/components/advertiser-page/advertiser-page-adverts.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/components/advertiser-page/advertiser-page-stats.jsx
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/buy-sell/buy-sell-table.jsx
  packages/p2p/src/components/daily-limit-modal/daily-limit-modal.jsx
  packages/p2p/src/components/dp2p-blocked/dp2p-blocked-checklist.jsx
  packages/p2p/src/components/floating-rate/__test__/floating-rate.spec.js
  packages/p2p/src/components/floating-rate/floating-rate.jsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.jsx
  packages/p2p/src/components/modal-manager/modals/rate-change-modal/rate-change-modal.jsx
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/create-ad-summary.jsx
  packages/p2p/src/components/my-ads/edit-ad-summary.jsx
  packages/p2p/src/components/my-ads/my-ads-table.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-balance/my-profile-balance.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-details-table/my-profile-details-table.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats-table/my-profile-stats-table.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/orders/popup.jsx
  packages/p2p/src/components/verification/verification.jsx
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/index.js
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/stores/my-profile-store.js
  packages/p2p/src/stores/order-store.js
  packages/p2p/src/stores/sendbird-store.js
  packages/p2p/src/utils/orders.js
  packages/p2p/src/utils/server-time.js
  packages/p2p/webpack.config.js
Labels: Core, Components, P2P

#8229 Fix broken tik issue
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/helpers/duration.ts
  packages/shared/src/utils/storage/storage.ts
Labels: Core, Shared

#8097 Sergei / 80947 / Cannot convert undefined or null to object
  packages/core/src/Stores/notification-store.js
Labels: Core

#8186 Amina/fix: error in investor password
  packages/cfd/src/Containers/cfd-reset-password-modal.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/core/src/Stores/client-store.js
Labels: Core

#8151 Amina/92662/unable to add mt5 derived due to incorrect jurisdictions in other lang
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.tsx
  packages/cfd/src/Constants/cfd_compare_account_content.ts
  packages/cfd/src/Constants/jurisdiction-contents.ts
  packages/cfd/src/Containers/compare-accounts-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card.tsx
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
  packages/cfd/src/Containers/props.types.ts
Labels: AppStore

#7707 perf: removed individual POC calls made against contracts, added glob…
  packages/bot-skeleton/src/scratch/dbot-store.js
  packages/bot-skeleton/src/services/api/api-base.js
  packages/bot-skeleton/src/services/tradeEngine/trade/OpenContract.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Proposal.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Purchase.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/summary-card-store.js
  packages/bot-web-ui/src/stores/transactions-store.js
Labels: Bot

#8124 Sergei / 92264 / Page is broken when user selects stored details from chrome
  packages/account/src/Components/personal-details/personal-details.jsx
Labels: Account

#8115 yashim/fix: input dark mode color
  packages/components/src/components/autocomplete/autocomplete.scss
  packages/components/src/components/date-picker/date-picker.scss
  packages/components/src/components/dropdown/dropdown.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/select-native/select-native.scss
Labels: Components

#8171 fix: react-joy ride alignment on first load in bot-builder page
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
Labels: Bot

#7964 Shontzu/91016/adding static contents on onboarding page for deriv ez
  packages/appstore/src/assets/svgs/trading-platform/ic-brand-deriv-ctrader.svg
  packages/appstore/src/assets/svgs/trading-platform/ic-brand-deriv-ez.svg
  packages/appstore/src/assets/svgs/trading-platform/index.tsx
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/types/common.types.ts
  packages/components/src/components/icon/brand/ic-brand-ctrader.svg
Labels: Components, AppStore

#8231 fix: add types for root-store
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/types/dbot.types.ts
  packages/bot-web-ui/src/types/index.ts
  packages/bot-web-ui/src/types/ws.types.ts
  packages/bot-web-ui/tsconfig.json
  packages/bot-web-ui/webpack.config.js
  packages/stores/package.json
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Bot

#8203 fix: remove unused var and unnecessary type assertion
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/duration-fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/fields.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/input-field.tsx
  packages/bot-web-ui/src/components/load-modal/recent.tsx
Labels: Bot

#8247 Hirad/89816/cTrader flow
  packages/appstore/src/assets/svgs/trading-platform/ic-appstore-ctrader.svg
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/cashier/src/stores/account-transfer-store.ts
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-ctrader.svg
  packages/cfd/src/Assets/svgs/trading-platform/index.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/cfd/src/sass/cfd-dashboard.scss
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
  packages/shared/src/utils/cfd/available-cfd-accounts.ts
  packages/shared/src/utils/cfd/cfd.ts
  packages/stores/types.ts
Labels: Core, Shared, AppStore

#8254 fix: fix notification count on p2p orders tab
  packages/components/src/components/tabs/tabs.tsx
  packages/p2p/src/components/app-content.jsx
Labels: Components, P2P

#8204 Vinu/ci: change config.yml file to read google api key from env variables
  package-lock.json
  package.json
  packages/bot-skeleton/src/constants/config.js
  packages/bot-web-ui/src/stores/google-drive-store.js
  packages/bot-web-ui/webpack.config.js
Labels: Bot

#8210 Amina/93124/empty blank page after logged out from mf account
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
Labels: Core

#8211 thisyahlen/fix: deposit button not translated
  packages/appstore/src/components/currency-switcher-card/real/real-account-card.tsx
Labels: Shared, AppStore

#8011 Shaheer/89647/2 fa changes
  packages/account/src/Sections/Security/TwoFactorAuthentication/digit-form.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Account

#8250 Suisin/chore: solve tradershub dropdown translation issue
  packages/appstore/src/components/main-title-bar/account-type-dropdown.scss
  packages/appstore/src/components/main-title-bar/account-type-dropdown.tsx
  packages/appstore/src/constants/platform-config.ts
Labels: AppStore

#8032 Nada/p2 ps 106/sendbird exception
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/stores/sendbird-store.js
Labels: P2P

#8123 likhith/fix: :bug: wait for authorize before making any call
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/core/src/App/Components/Routes/language-link.tsx
  packages/core/src/Stores/common-store.js
  packages/core/src/Stores/notification-store.js
  packages/p2p/src/stores/general-store.js
Labels: Core, P2P, Account

#8253 thisyahlen/fix: Reduce of empty array with no initial value
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/Stores/Modules/Trading/Helpers/currency.js
  packages/indicators/src/utils/math.js
  packages/trader/src/Stores/Modules/Trading/Helpers/currency.js
Labels: Trader, Core, Bot

#8122 thisyahlen/fix: remove deriv x for norway and japan
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/cfd/src/Containers/compare-accounts-modal.tsx
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/core/src/Stores/traders-hub-store.js
Labels: Core, AppStore

#7833 Sergei / 90124 / Account verification required pop up after clearing notification in DTrader
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
Labels: Core

#7524 Ako/80792/playwright setup
  .github/workflows/run-e2e-test.yml
  e2e_tests/.env.example
  e2e_tests/.eslintrc.js
  e2e_tests/.gitignore
  e2e_tests/README.md
  e2e_tests/create_test.js
  e2e_tests/jest.config.js
  e2e_tests/jest.setup.js
  e2e_tests/package-lock.json
  e2e_tests/package.json
  e2e_tests/src/__tests__/core/cr_signup.test.js
  e2e_tests/src/__tests__/core/website_status.test.js
  e2e_tests/src/__tests__/performance/resources.test.js
  e2e_tests/src/__tests__/performance/time_to_chart_ready.test.js
  e2e_tests/src/__tests__/performance/time_to_interactive.test.js
  e2e_tests/src/__tests__/trader/contract_purchase.test.js
  e2e_tests/src/_config/context.js
  e2e_tests/src/_utils/cli_reporter.js
  e2e_tests/src/_utils/logger.js
  e2e_tests/src/_utils/test_template.js
  e2e_tests/src/_utils/websocket.js
  e2e_tests/src/bootstrap.js
  e2e_tests/src/objects/common.js
  e2e_tests/src/objects/deriv_com.js
  e2e_tests/src/objects/qa_emails.js
  e2e_tests/src/objects/trader.js
  e2e_tests/states/.gitignore
  end-to-end-test/.env.example
  end-to-end-test/.github/workflows/playwright.yml
  end-to-end-test/.gitignore
  end-to-end-test/README.md
  end-to-end-test/global-setup.ts
  end-to-end-test/package-lock.json
  end-to-end-test/package.json
  end-to-end-test/playwright.config.ts
  end-to-end-test/tests/change-endpoint/change-endpoint.tsx
  end-to-end-test/tests/onboarding/onboarding.ts
  end-to-end-test/tests/sample-test/buy.spec.tsx
  end-to-end-test/utils/suspend/suspend.ts
  package-lock.json
  package.json
  packages/core/build/constants.js
  packages/core/build/webpack.config.js
  packages/core/package.json
Labels: Docs

#8212 thisyahlen/fix: close the modal if live chat btn is clicked
  packages/core/src/App/Containers/RealAccountSignup/change-account-currency.jsx
Labels: Core

#8179 Amina/fix: reports_page_visible_in_cashier_and_account_settings_page
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
Labels: Core

#7932 Aum/90082/derivez transfer icon fixed
  packages/cashier/src/components/account-platform-icon/account-platform-icon.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/__tests__/account-transfer-form.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/stores/account-transfer-store.ts
  packages/components/src/components/icon/derivez/ic-derivez.svg
Labels: Components

#8299 thisyahlen/fix: getHeightWidthError issue
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
Labels: Bot

#8304 Kate/93656/Track JS Minified React error #188
  packages/components/src/components/data-list/data-list-row.jsx
Labels: Components

#7726 Ameerul /Bug 74980 No error message pop up when user is still on same page after 10 minutes of expiration time
  packages/components/src/components/icon/common/ic-email-sent-expired.svg
  packages/components/src/components/icon/icons.js
  packages/p2p/src/components/modal-manager/modal-manager-context-provider.jsx
  packages/p2p/src/components/modal-manager/modals/email-link-blocked-modal/email-link-blocked-modal.jsx
  packages/p2p/src/components/modal-manager/modals/email-link-blocked-modal/email-link-blocked-modal.scss
  packages/p2p/src/components/modal-manager/modals/email-link-blocked-modal/index.js
  packages/p2p/src/components/modal-manager/modals/email-link-expired-modal/email-link-expired-modal.jsx
  packages/p2p/src/components/modal-manager/modals/email-link-expired-modal/email-link-expired-modal.scss
  packages/p2p/src/components/modal-manager/modals/email-link-expired-modal/index.js
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/order-store.js
Labels: Components, P2P

#8301 Rupato/93229/localstorage sync to get token from accounts
  packages/core/src/Stores/client-store.js
Labels: Core, Shared

#7920 fix: error shown for a glimpse fixed
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/components/my-ads/create-ad.jsx
Labels: P2P

#7911 Ameerul /Bug 90713 Not redirecting to My Profile page if via notification bell
  packages/p2p/src/components/app.jsx
Labels: Core, Bot, P2P, Account, AppStore

#8091 thisyahlen/chore: add cta for platform switcher
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/default-header.jsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
  packages/core/src/sass/app/_common/components/platform-dropdown.scss
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Account, AppStore

#8054 thisyahlen/fix: add set currency pop up in traders hub
  packages/core/src/App/Containers/CurrencySelectionModal/curreny-selection-modal.tsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/hooks/src/__tests__/useHasSetCurrency.spec.tsx
  packages/hooks/src/useHasSetCurrency.ts
Labels: Core

#8147 Shayan/88538/exchange rate api is called too many times
  package-lock.json
  packages/appstore/package.json
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/cashier/src/pages/account-transfer/__tests__/account-transfer.spec.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/index.ts
  packages/hooks/src/useCFDAllAccounts.ts
  packages/hooks/src/useCFDDemoAccounts.ts
  packages/hooks/src/useCFDRealAccounts.ts
  packages/hooks/src/useCfdAccounts.ts
  packages/hooks/src/useCurrencyExchangeRate.ts
  packages/hooks/src/usePlatformAccounts.ts
  packages/hooks/src/usePlatformDemoAccount.ts
  packages/hooks/src/usePlatformRealAccounts.ts
  packages/hooks/src/useTotalAccountBalance.ts
  packages/hooks/src/useTotalAssetCurrency.ts
  packages/p2p/src/stores/order-store.js
  packages/stores/package.json
  packages/stores/src/__tests__/useStore.spec.tsx
  packages/stores/src/index.ts
  packages/stores/src/mockStore.ts
  packages/stores/src/providers/ExchangeRatesProvider.tsx
  packages/stores/src/providers/index.ts
  packages/stores/src/storeContext.ts
  packages/stores/src/storeProvider.tsx
  packages/stores/src/stores/BaseStore.ts
  packages/stores/src/stores/CounterStore.ts
  packages/stores/src/stores/ExchangeRatesStore.ts
  packages/stores/src/stores/__tests__/CounterStore.spec.tsx
  packages/stores/src/stores/index.ts
  packages/stores/src/useStore.ts
  packages/stores/src/useStore.tsx
  packages/stores/types.ts
Labels: Trader, Core, P2P, AppStore

#8335 thisyahlen/fix: design on CTA platform dropdown
  packages/core/src/sass/app/_common/components/platform-dropdown.scss
Labels: Core

#8292 refactor: Dbot store providers, remove connect fn - dashboard-component
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/app/app.js
  packages/bot-web-ui/src/app/app.tsx
  packages/bot-web-ui/src/app/dbot-providers.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/stores/useDBotStore.tsx
  packages/bot-web-ui/webpack.config.js
Labels: Bot

#8336 thisyahlen/fix: no currency popup for mf
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/SetAccountCurrencyModal/set-currency-modal.jsx
Labels: Core

#8342 thisyahlen/fix: Trader's Hub text
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/constants/tour-steps-config-new.tsx
  packages/appstore/src/constants/trading-hub-content.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-no-account/__tests__/account-transfer-no-account.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-no-account/account-transfer-no-account.tsx
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
Labels: Core, AppStore

#8303 Farabi/93628/fix bot tour flow and add gifs
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/core/src/public/images/common/static_images/bot-tour-step-4.gif
  packages/core/src/public/images/common/static_images/bot-tour-step-5.gif
Labels: Core, Bot

#8344 refactor: RootSotre for gradually refactoring all dbot stores
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/app/app.tsx
  packages/bot-web-ui/src/app/dbot-providers.tsx
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/useDBotStore.tsx
  packages/bot-web-ui/src/types/index.ts
  packages/bot-web-ui/src/types/root-stores.types.ts
Labels: Bot

#8357 Farabi/93845/fix update dashboard tour gif
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/core/src/public/images/common/static_images/bot-builder-tour-step-4.gif
  packages/core/src/public/images/common/static_images/bot-builder-tour-step-5.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-step-1.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-step-2.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-step-3.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-step-5.gif
  packages/core/src/public/images/common/static_images/dbot-onboarding-step-6.gif
Labels: Core, Bot

#8358 feat: wallet styles
  packages/components/stories/icon/icons.js
  packages/core/src/sass/app.scss
  packages/core/src/sass/app/_common/components/wallet.scss
Labels: Core, Components

#8354 refactor: AppStore, SummaryCardStore
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/summary-card-store.js
Labels: Bot

#8360 refactor: JournalStore, RunPanelStore
  packages/bot-web-ui/src/stores/journal-store.js
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#8365 refactor: TransactionStore, ToolboxStore
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/toolbox-store.js
  packages/bot-web-ui/src/stores/transactions-store.js
Labels: Bot

#8366 refactor: RoutePromptDialogStore, SelfExclusionStore
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/route-prompt-dialog-store.js
  packages/bot-web-ui/src/stores/self-exclusion-store.js
Labels: Bot

#8367 refactor: DashboardStore, DataCollectionStore
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/data-collection-store.js
  packages/bot-web-ui/src/stores/root-store.ts
Labels: Bot

#8045 Likhith/89416/place holder change for ghana poi
  packages/account/jest.config.js
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/idv-document-submit/utils.js
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.jsx
  packages/account/src/Helpers/__tests__/utils.spec.js
  packages/account/src/Helpers/utils.js
Labels: Account

#7715 likhith/feat: :sparkles: upgraded onfido and configured it to not display country selection
  package-lock.json
  packages/account/package.json
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.jsx
Labels: Account

#8156 Akmal / fix: tick history logic on language change
  packages/core/src/Stores/contract-replay-store.js
Labels: Core

#8274 Aizad/wall 213/mobile language issue
  packages/components/src/components/page-overlay/page-overlay.tsx
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/notification-store.js
  packages/p2p/src/stores/general-store.js
Labels: Core, Components, P2P

#8322 Ako/FEQ-113/Datadog Integration
  package-lock.json
  packages/core/build/constants.js
  packages/core/package.json
  packages/core/src/Utils/Datadog/index.ts
  packages/core/src/index.tsx
Labels: Core

#8246 chore: added account-switcher in cashier
  packages/cashier/src/components/cashier-container/virtual/virtual.tsx
  packages/cashier/src/components/cashier-onboarding/__tests__/cashier-onboarding-side-note.spec.tsx
  packages/cashier/src/components/cashier-onboarding/cashier-onboarding-side-note.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Containers/Layout/header/header.jsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/App/Containers/Modals/ready-to-deposit-modal/ready-to-deposit-modal.tsx
  packages/core/src/sass/app/_common/layout/trading-hub-header.scss
  packages/hooks/package.json
  packages/hooks/src/__tests__/useSwitchToRealAccount.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useSwitchToRealAccount.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#7273 Rostislav / 78085 / fix: POA form submit button now doesn't remain disabled after invalid address data is being submitted
  packages/account/src/Configs/address-details-config.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/cfd/src/Components/cfd-poa.tsx
  packages/core/src/Constants/form-error-messages.js
  packages/shared/src/utils/validation/__tests__/declarative-validation-rules.spec.js
  packages/shared/src/utils/validation/declarative-validation-rules.ts
  packages/shared/src/utils/validation/form-error-messages-types.ts
  packages/shared/src/utils/validation/regex-validation.ts
Labels: Core, Shared, Account

#7532 Ameerul /Task 87020 To fix this scenario : Order expired before the verification link expired
  packages/p2p/src/components/order-details/order-details-timer.jsx
Labels: Trader, Core, Bot, P2P

#8387 refactor: remove core properties from RootStore
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/useDBotStore.tsx
Labels: Bot

#8390 thisyahlen/fix: deriv logo in traders hub
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/sass/app/_common/layout/trading-hub-header.scss
Labels: Core

#8391 hamid/wallet-icon-and-small
  packages/components/src/components/wallet/icon/icon.scss
  packages/components/src/components/wallet/icon/icon.tsx
  packages/components/src/components/wallet/icon/index.ts
  packages/components/src/components/wallet/index.ts
  packages/components/src/components/wallet/small/index.ts
  packages/components/src/components/wallet/small/small.scss
  packages/components/src/components/wallet/small/small.tsx
  packages/components/src/index.js
Labels: Components
