Repository deriv-com/deriv-app, pull requests merged in 2023-03, with the labels that each got.

#7445 Farzin/87070/Extract `is_account_transfer_visible` method from cashier `AccountTransferStore` to reusable hook
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/stores/__tests__/account-transfer-store.spec.ts
  packages/cashier/src/stores/account-transfer-store.ts
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/hooks/src/index.ts
  packages/hooks/src/useAccountTransferVisible.ts
  packages/hooks/src/useHasMaltaInvestAccount.ts
  packages/stores/types.ts
Labels: Core

#7613 Farzin/88636/Debounce `p2p_order_list` call
  packages/cashier/src/stores/general-store.ts
  packages/core/src/Stores/notification-store.js
Labels: Core

#7712 henry/89211/fix: pass is_eu_country flag to SmartChart
  package.json
  packages/trader/src/Modules/Trading/Containers/trade.jsx
Labels: Trader

#7649 likhith/feat:incorporated string normalization to match non english characters
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/components/utils/__tests__/helper.spec.js
  packages/components/utils/helper.js
Labels: Components

#7701 Aizad/89056/deriv go text change
  packages/account/package.json
  packages/api/package.json
  packages/appstore/package.json
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/components/trade-button/trade-button.tsx
  packages/appstore/src/constants/platform-config.ts
  packages/cashier/package.json
  packages/cfd/package.json
  packages/reports/package.json
  packages/shared/brand.config.json
  packages/shared/package.json
  packages/stores/package.json
  packages/trader/package.json
Labels: Trader, Shared, Account, AppStore

#7685 Likhith/88162/sub section navigation for trading assessment
  packages/account/src/Components/trading-assessment/trading-assessment-form.jsx
  packages/account/src/Components/trading-assessment/trading-assessment-new-user.jsx
  packages/account/src/Configs/trading-assessment-config.js
  packages/components/src/components/form-progress/form-progress.scss
  packages/components/src/components/form-progress/form-progress.tsx
  packages/core/src/App/Containers/Modals/trading-assessment-existing-user.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard-form.js
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/Stores/ui-store.js
  packages/core/src/sass/account-wizard.scss
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Components, Account

#7679 Amina/88919_fix_ policy_page_reload_issue
  packages/components/src/components/static-url/static-url.jsx
  packages/core/src/App/Components/Elements/CookieBanner/cookie-banner.jsx
Labels: Core, Components

#7708 fix: :pencil2: fixes text content & size in Account Limits settings
  packages/account/src/Components/account-limits/__tests__/account-limits.spec.js
  packages/account/src/Components/account-limits/account-limits-table-header.tsx
  packages/account/src/Components/account-limits/account-limits.jsx
Labels: Account

#7667 Kate/88725/No quick access to trade type description
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-dialog.jsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-item.jsx
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
  packages/trader/src/sass/app/_common/components/contract-type-list.scss
Labels: Trader

#7429 fix: shows cancel dialog on selecting payment method
  packages/components/src/components/dropdown-list/dropdown-list.jsx
Labels: Components

#7664 carol/Search box
  packages/components/src/components/search-box/index.js
  packages/components/src/components/search-box/search-box.jsx
  packages/components/src/components/search-box/search-box.scss
  packages/components/src/index.js
  packages/p2p/src/components/buy-sell/buy-sell-header.jsx
  packages/p2p/src/components/my-profile/block-user/block-user-list/block-user-list.jsx
Labels: Components, P2P

#7592 Jim/85458/allow poo submission on valid data
  packages/account/src/Sections/Verification/ProofOfOwnership/__test__/proof-of-ownership-form.spec.js
  packages/account/src/Sections/Verification/ProofOfOwnership/card.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/expanded-card.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/file-uploader.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership-form.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership.jsx
  packages/core/src/Stores/notification-store.js
Labels: Trader, Core, Bot, Shared, Components, Account, AppStore

#7608 Niloofar Sadeghi / Dependabot alerts
  package-lock.json
  packages/translations/package.json
  packages/translations/scripts/extract-string.js
Labels: Trader, Core, Shared, Translations, Account, AppStore

#7457 Ameerul /Bug 87254 Scrolling is not working when reduce the screen size
  packages/p2p/src/components/my-profile/block-user/block-user-table/block-user-table.scss
Labels: P2P

#7681 Suisin/chore: create a warning pop up modal for closing create real account modal
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/index.js
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/warning-close-create-real-account-content.jsx
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/warning-close-create-real-account-modal.jsx
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/warning-close-create-real-account-modal.scss
  packages/core/src/Stores/ui-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#7727 Amina/fix: 89069#Hide_traders_hub_header_on_for_users_from_Deriv_GO
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/sass/app/_common/layout/trading-hub-header.scss
Labels: Core

#7759 thisyahlen/fix: deriv x and mt5 is showing in platform switcher when traders hub…
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Labels: Core

#7792 Sergei / 89602 / Account verification required pop appears again even after closing it
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/core/src/Stores/client-store.js
Labels: Core, AppStore

#7775 thisyahlen/fix: change language without rerender in personal details page
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
Labels: Account

#7815 yashim/feat: add continent to cookie
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/utility.js
Labels: Core

#7812 likhith/89901/feat: :bug: fixed issue in trading assessment
  packages/account/src/Sections/Assessment/TradingAssessment/trading-assessment.jsx
Labels: Account

#7790 thisyahlen/chore: add CTA for CFDs in Traders hub account switcher in dtrader
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/sass/app/_common/components/account-switcher.scss
Labels: Core

#7825 Suisin/90174/fix conflict when sync develop branch
  packages/account/src/Sections/Assessment/TradingAssessment/trading-assessment.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/index.js
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/warning-close-create-real-account-content.jsx
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/warning-close-create-real-account-modal.jsx
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/warning-close-create-real-account-modal.scss
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/core/src/_common/base/socket_cache.js
  packages/core/src/_common/utility.js
  packages/core/src/sass/app/_common/components/account-switcher.scss
  packages/core/src/sass/app/_common/layout/trading-hub-header.scss
  packages/p2p/src/components/modal-manager/modal-manager.jsx
  packages/reports/src/Constants/routes-config.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/translations/crowdin/messages.json
  packages/translations/src/translations/ach.json
  packages/translations/src/translations/es.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/it.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/th.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Core, Translations, P2P, Account, AppStore

#7839 thisyahlen/fix: show cashier button in header for all
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
Labels: Core

#7841 Amina/fix: show reports tab for products
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
Labels: Core

#7808 Farzin/89765/On doing self exclusion and going to deposit page, for the text below deposits locked live chat should be hyperlinked
  global.d.ts
  packages/account/tsconfig.json
  packages/cashier/globals.d.ts
  packages/cashier/src/components/cashier-locked/__tests__/cashier-locked.spec.tsx
  packages/cashier/src/components/cashier-locked/cashier-locked-provider.tsx
  packages/cashier/tsconfig.json
  packages/p2p/src/components/dp2p-blocked/dp2p-blocked-description.jsx
  packages/p2p/tsconfig.json
Labels: P2P, Account

#7796 thisyahlen/fix: add button outside traders hub in account switcher
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#7772 Utkarsha/89614/languagechange
  packages/account/src/Components/language-settings/language-radio-button.tsx
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/core/src/sass/app/_common/components/settings-language.scss
  packages/translations/src/i18next/i18next.js
Labels: Core, Translations, Account

#7810 likhith/88504/feat: incorporated default value for tax-residence
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Configs/personal-details-config.js
Labels: Account

#7729 fix: added link to personal details in proof of identity page
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view.jsx
Labels: Account

#6137 MaryiaF/fix: suspended demo or real server on DerivX/MT5 only should block actions in corresponding server
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core, Components, P2P, AppStore

#7817 fix: on remove of mandatory blocks, the bot is not throwing error
  packages/bot-skeleton/src/scratch/utils/index.js
Labels: Bot

#7689 Sergei / 88325 / Cannot read properties of undefined (reading 'payout_currencies')
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
  packages/trader/src/Stores/Modules/Trading/Actions/currency.js
Labels: Trader, Core

#7848 maryia/90504/update charts to 1.1.5
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#7231 refactor: update i18next to latest version and migrate i18next.js to …
  package-lock.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/translations/package.json
  packages/translations/src/i18next/i18next.ts
Labels: Core, Shared, Translations, P2P

#7702 Ameerul /Bug 88237 Counterparty list not updating when there is more than 50 trade partner
  packages/p2p/src/components/my-profile/block-user/block-user-list/block-user-list.jsx
  packages/p2p/src/components/my-profile/block-user/block-user-table/block-user-table.jsx
  packages/p2p/src/stores/my-profile-store.js
Labels: Trader, Core, Bot, Shared, Translations, P2P, Account

#7838 Aizad/90216/cool down warning popup
  packages/account/src/Components/trading-assessment/risk-tolerance-warning-modal.jsx
  packages/account/src/Sections/Assessment/TradingAssessment/trading-assessment.jsx
  packages/core/src/App/Containers/Modals/cooldown-warning-modal.jsx
  packages/core/src/App/Containers/Modals/trading-assessment-existing-user.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/sass/account-wizard.scss
Labels: Core, Account

#7706 Sergei / 83280 / Trader's hub text overflows in Espanol Language
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/sass/app/_common/layout/header.scss
Labels: Core

#7142 farrah/80906/feat: automate daily limit increase
  packages/cashier/src/pages/p2p-cashier/p2p-cashier.tsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/daily-limit-modal/daily-limit-modal.jsx
  packages/p2p/src/components/daily-limit-modal/daily-limit-modal.scss
  packages/p2p/src/components/daily-limit-modal/index.js
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-details-table/my-profile-details-table.jsx
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-details-table/my-profile-details-table.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-privacy/my-profile-privacy.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-stats.jsx
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-profile-store.js
  packages/shared/src/utils/routes/routes.ts
Labels: Core, Shared, P2P

#7450 Suisin/chore: idv data zoo integration
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/idv-document-submit/utils.js
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.jsx
  packages/components/src/components/input/input.scss
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/Stores/client-store.js
Labels: Core, Components, Account

#7756 Likhith/89495/translation issue fix
  packages/account/src/Components/trading-assessment/trading-assessment-dropdown.jsx
  packages/account/src/Components/trading-assessment/trading-assessment-form.jsx
  packages/core/src/sass/account-wizard.scss
Labels: Core, Components, Account

#7877 Adrienne / fixed an issue where is_notifications_visible is undefined and displays error console
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/Stores/notification-store.js
Labels: Core

#7577 Maryia/87941/feat: DBot - Quick strategy - returns to modal window approach as per new design, remove tab from top navigation, apply behavior Quick strategy tab on Bot Builder tab, apply user events of opening & closing
  packages/bot-skeleton/src/constants/config.js
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar-button.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.scss
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/stop-bot-modal.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/components.types.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/container.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/footer.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.types.ts
  packages/bot-web-ui/src/constants/bot-contents.ts
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot

#7884 Ameerul /Bug 90562 Unable to click on Increase My Limits button
  packages/cashier/src/pages/p2p-cashier/p2p-cashier.tsx
  packages/core/src/Stores/notification-store.js
  packages/p2p/src/stores/general-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, P2P

#7888 fix: popup empty for error thrown when activating ad from table
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#7807 Farabi/89169/fix implement new google api process ⚡
  packages/bot-skeleton/src/constants/config.js
  packages/bot-skeleton/src/utils/google-drive-helper.js
  packages/bot-web-ui/src/stores/google-drive-store.js
Labels: Bot

#7863 Hamza/90331/icon title name update of stock indices
  packages/components/src/components/icon/underlying/ic-underlying-OTC_AEX.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_AS51.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_DJI.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_FCHI.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_FTSE.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_GDAXI.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_HSI.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_N225.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_NDX.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_SPC.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_SSMI.svg
  packages/components/src/components/icon/underlying/ic-underlying-OTC_SX5E.svg
  packages/components/stories/contract-card/statics/contract.js
  packages/core/src/Constants/contract.js
  packages/reports/src/_common/contract.js
  packages/shared/src/utils/constants/contract.tsx
  packages/trader/src/Constants/contract.js
Labels: Trader, Core, Shared, Components

#7847 Sergei / 90218 / Change Account Number to Username in Deriv X Trader's Hub Dashboard
  packages/appstore/src/components/cfds-listing/index.tsx
Labels: AppStore

#7752 Suisin/chore: asterisk title overlapped solved
  packages/account/src/Components/poi/status/unsupported/card-details/card-details.scss
  packages/account/src/Styles/account.scss
  packages/cashier/src/components/cashier-search-box/cashier-search-box.scss
  packages/components/src/components/autocomplete/autocomplete.scss
  packages/components/src/components/date-picker/date-picker-native.jsx
  packages/components/src/components/date-picker/date-picker.scss
  packages/components/src/components/field/field.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/input.tsx
  packages/components/src/components/password-input/password-input.scss
  packages/components/src/components/search-box/search-box.scss
  packages/components/src/components/select-native/select-native.scss
  packages/components/src/components/select-native/select-native.tsx
  packages/core/src/sass/details-form.scss
  packages/p2p/src/components/my-profile/my-profile-form/my-profile-form.scss
Labels: Core, Components, P2P, Account

#7906 maryia/90766/build: to update deriv-charts to 1.1.6
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#7902 Sergei / 88327 / Trackjs Error: t is not a function
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
  packages/components/src/components/dropdown/items.jsx
Labels: Components

#7842 feat: Added appstore link to MT5
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Components/__tests__/cfd-download-container.spec.js
  packages/cfd/src/Components/cfd-download-container.tsx
  packages/cfd/src/Containers/derivx-trade-modal.tsx
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/cfd/src/Helpers/constants.ts
  packages/cfd/src/sass/cfd-dashboard.scss
  packages/components/src/components/icon/common/ic-installation-apple.svg
  packages/components/src/components/icon/common/ic-installation-huawei.svg
Labels: Components, AppStore

#7905 fix: :bug: validation for TnC & PEP declaration
  packages/account/src/Configs/terms-of-use-config.js
Labels: Account

#7921 Revert "Suisin/chore: asterisk title overlapped solved"
  packages/account/src/Components/poi/status/unsupported/card-details/card-details.scss
  packages/account/src/Styles/account.scss
  packages/cashier/src/components/cashier-search-box/cashier-search-box.scss
  packages/components/src/components/autocomplete/autocomplete.scss
  packages/components/src/components/date-picker/date-picker-native.jsx
  packages/components/src/components/date-picker/date-picker.scss
  packages/components/src/components/field/field.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/input/input.tsx
  packages/components/src/components/password-input/password-input.scss
  packages/components/src/components/search-box/search-box.scss
  packages/components/src/components/select-native/select-native.scss
  packages/components/src/components/select-native/select-native.tsx
  packages/core/src/sass/details-form.scss
  packages/p2p/src/components/my-profile/my-profile-form/my-profile-form.scss
Labels: Core, Components, P2P, Account

#7931 fix: not showing cooldown modal when user clicks no on signup
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Labels: Core

#7523 Amina/86159/vanuatu on derived
  packages/account/src/Styles/account.scss
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Components/cfd-personal-details-form.tsx
  packages/cfd/src/Constants/cfd_compare_account_content.ts
  packages/cfd/src/Constants/jurisdiction-contents.ts
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
  packages/cfd/src/Containers/cfd-dbvi-onboarding.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/compare-accounts-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-banner.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-checkbox.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-foot-note.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/cfd/src/sass/cfd-dashboard.scss
  packages/core/src/Constants/cfd-text.js
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/cfd/cfd.ts
Labels: Core, Shared, Account, AppStore

#7864 fix: traders hub issue
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
  packages/core/src/Stores/ui-store.js
  packages/shared/src/utils/config/config.ts
  packages/shared/src/utils/platform/platform.ts
Labels: Core, Shared, Components

#7797 yashim/fix: translation not respecting selected language
  packages/account/build/webpack.config.js
  packages/account/src/Configs/get-status-badge-config.js
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-switcher.tsx
  packages/appstore/src/components/main-title-bar/regulators-switcher.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal-content.tsx
  packages/appstore/src/components/onboarding-new/static-trading-app-card.tsx
  packages/appstore/src/constants/platform-config.ts
  packages/appstore/src/constants/regulators-modal-content.ts
  packages/appstore/src/types/common.types.ts
  packages/components/src/components/status-badge/status-badge.tsx
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/CurrencySelectionModal/curreny-selection-modal.tsx
  packages/core/src/App/Containers/SettingsModal/settings-language.jsx
  packages/core/src/Stores/common-store.js
  packages/core/src/Stores/traders-hub-store.js
  packages/core/src/Utils/Language/language.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/constants.js
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/services-error-modal.jsx
Labels: Trader, Core, Components, P2P, Account, AppStore

#7696 thisyahlen/fix: Demo client should be prompted to create real account via the ac…
  packages/cashier/src/app.jsx
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.jsx
  packages/core/src/App/Containers/Layout/header/trading-hub-header.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/ready-to-deposit-modal/index.ts
  packages/core/src/App/Containers/Modals/ready-to-deposit-modal/ready-to-deposit-modal.scss
  packages/core/src/App/Containers/Modals/ready-to-deposit-modal/ready-to-deposit-modal.tsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/ui-store.js
  packages/hooks/package.json
  packages/hooks/src/__tests__/useSwitchToRealAccount.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useSwitchToRealAccount.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#7891 Kate/62645/TrackJS error: Cannot read properties of undefined (reading 'includes')
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/idv-document-submit/utils.js
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.jsx
Labels: Account

#7705 Suisin/87952/pro acc req btn on acc setting
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/components/src/components/hint-box/hint-box.scss
  packages/components/src/components/hint-box/hint-box.tsx
Labels: Trader, Core, Bot, Shared, Components, Translations, Account, AppStore

#7940 Vinu/fix: to resolve 500 error from google server on upload
  packages/bot-web-ui/src/stores/google-drive-store.js
Labels: Bot

#7954 Kate/91181/Unable to create real account from Kenya country
  packages/account/src/Components/poi/idv-document-submit/utils.js
Labels: Account

#7936 thisyahlen/chore: new account verification modal for purchase authentication
  packages/core/src/Stores/common-store.js
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/account-verification-required-modal.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/services-error-modal.jsx
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader, Core

#7846 thisyahlen/fix: remove financial mt5 for norway and japan
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/compare-accounts-modal.tsx
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/core/src/Stores/traders-hub-store.js
Labels: Core, AppStore

#7926 Jim/88166/delay in real account creation flow after clicking add account button in the account creation popup
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/socket_cache.js
Labels: Core

#7832 fix: :sparkles: allows users to enter accented name characters
  packages/account/src/Configs/personal-details-config.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/core/src/Constants/form-error-messages.js
  packages/shared/src/utils/validation/declarative-validation-rules.ts
  packages/shared/src/utils/validation/form-error-messages-types.ts
Labels: Core, Shared, Account

#7743 Evgeniy / 89431 / no error message for idv duplicated document numbers
  packages/account/src/Components/hooks/useToggleValidation.tsx
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.js
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.jsx
  packages/account/src/Components/poi/idv-document-submit/utils.js
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
Labels: Core, Account

#7933 Hamid/90702/account switchers to wrong deriv account when performing deposit via bank wire
  packages/cashier/src/stores/account-prompt-dialog-store.ts
  packages/components/stories/icon/icons.js
Labels: Components

#7824 Ameerul /Task 89855 Add a checkbox to select/deselect a payment method when creating or updating a sell ad and making a sell order
  packages/p2p/src/components/my-profile/payment-methods/payment-method-card/payment-method-card.jsx
  packages/p2p/src/components/my-profile/payment-methods/payment-method-card/payment-method-card.scss
Labels: P2P

#7218 Maryia/80948/fix: avoid rate limit error by storing counter after sending verification email in Withdrawal
  packages/cashier/src/components/email-verification-empty-state/__tests__/email-verification-empty-state.test.tsx
  packages/cashier/src/components/email-verification-empty-state/email-verification-empty-state.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/withdrawal-tab.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-verification-email/withdrawal-verification-email.tsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/useVerifyEmail.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Trader, Core, Shared, P2P, Account, AppStore

#7778 thisyahlen/fix: error when switch to mf
  packages/core/src/Stores/notification-store.js
Labels: Core

#7871 chore: fix tooltip language not updating on change language
  packages/trader/src/Stores/Modules/Trading/trade-store.js
Labels: Trader

#7697 Aizad/89113/sidebar platform fix
  packages/core/src/sass/app/_common/components/platform-dropdown.scss
Labels: Trader, Core, Bot

#7798 Nada/88951/change chat url
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/order-store.js
  packages/p2p/src/stores/sendbird-store.js
Labels: P2P

#7665 thisyahlen/fix: top up mt5 demo
  packages/appstore/src/components/cfds-listing/index.tsx
Labels: AppStore

#7567 Aizad/85686/acuity pdf typo
  packages/core/src/public/pdf/Acuity_tool_user_guide_EU.pdf
  packages/core/src/public/pdf/Acuity_tool_user_guide_ROW.pdf
Labels: Core

#7493 farrah/79331/search ads by currency name
  packages/components/src/components/autocomplete/autocomplete.jsx
  packages/p2p/src/components/buy-sell/currency-selector/currency-selector.jsx
  packages/p2p/src/stores/buy-sell-store.js
Labels: Components, P2P

#7693 fix: changed pop up message for no recommendations
  packages/p2p/src/components/recommended-by/recommended-by.jsx
Labels: P2P

#7813 Aizad/89700/onboarding btn fix
  packages/appstore/src/components/onboarding-new/static-dashboard.scss
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/components/onboarding-new/static-trading-app-card.scss
  packages/appstore/src/components/onboarding-new/static-trading-app-card.tsx
Labels: AppStore

#7753 Nada/89550/remove validation ad amount
  packages/p2p/src/components/modal-manager/modals/ad-error-tooltip-modal/ad-error-tooltip-modal.jsx
  packages/p2p/src/components/modal-manager/modals/ad-error-tooltip-modal/index.js
  packages/p2p/src/components/modal-manager/modals/ad-exceeds-daily-limit-modal/ad-exceeds-daily-limit-modal.jsx
  packages/p2p/src/components/modal-manager/modals/ad-exceeds-daily-limit-modal/index.js
  packages/p2p/src/components/modal-manager/modals/ad-visibility-error-modal/ad-visibility-error-modal.jsx
  packages/p2p/src/components/modal-manager/modals/ad-visibility-error-modal/index.js
  packages/p2p/src/components/my-ads/create-ad-form.jsx
  packages/p2p/src/constants/api-error-codes.js
  packages/p2p/src/constants/modals.js
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#7663 Aizad/88786/mt5 redirection modal fix
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/components/src/components/modal/modal.tsx
  packages/components/src/components/page-overlay/page-overlay.tsx
  packages/core/src/App/Components/Elements/Modals/RedirectNotice/redirect-notice-modal.jsx
Labels: Trader, Core, Bot, Components

#7999 yashim/chore: remove indonesia from production
  packages/translations/src/i18next/i18next.ts
Labels: Translations

#7831 Farabi/89628/fix add stop bot function on popup
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/stop-bot-modal.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/components.types.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/container.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/footer.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.types.ts
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#8005 chore: remove trading experience incomplete
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/trading-experience-modal.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#8006 thisyahlen/hotfix: wrong restriction message for austria
  packages/core/src/Services/socket-general.js
Labels: Core

#8013 Revert "thisyahlen/hotfix: wrong restriction message for austria"
  packages/core/src/Services/socket-general.js
Labels: Core

#8016 Revert "Jim/88166/delay in real account creation flow after clicking add account button in the account creation popup"
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/socket_cache.js
Labels: Core

#8002 fix: :bug: fetches latest personal details every time intead of cache…
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/core/src/Stores/client-store.js
Labels: Core, Account

#8020 Revert "Maryia/80948/fix: avoid rate limit error by storing counter a…
  packages/cashier/src/components/email-verification-empty-state/__tests__/email-verification-empty-state.test.tsx
  packages/cashier/src/components/email-verification-empty-state/email-verification-empty-state.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/withdrawal-tab.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-verification-email/withdrawal-verification-email.tsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/useVerifyEmail.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#8022 Revert "fix: :bug: fetches latest personal details every time intead of cache…"
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/core/src/Stores/client-store.js
Labels: Core, Account

#7961 hamza/90127/91316/sub-feat: swapfree onboarding screen addition v1.0
  packages/appstore/src/assets/svgs/trading-platform/ic-appstore-swap-free.svg
  packages/appstore/src/assets/svgs/trading-platform/index.tsx
  packages/appstore/src/components/onboarding-new/static-cfd-account-manager.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
Labels: AppStore

#8027 Adrienne / Prefetched email verification modal
  packages/p2p/src/stores/order-store.js
Labels: P2P

#7544 Amina /77701_make signup form fields immutable if they are immutable from BE
  packages/account/src/Components/address-details/__tests__/address-details.spec.js
  packages/account/src/Components/address-details/address-details.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/trading-assessment/trading-assessment-dropdown.jsx
  packages/account/src/Components/trading-assessment/trading-assessment-form.jsx
  packages/account/src/Components/trading-assessment/trading-assessment-new-user.jsx
  packages/account/src/Components/trading-assessment/trading-assessment-radio-buttons.jsx
  packages/account/src/Configs/address-details-config.js
  packages/account/src/Configs/personal-details-config.js
  packages/account/src/Configs/trading-assessment-config.js
  packages/core/src/App/Containers/RealAccountSignup/account-wizard-form.js
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Labels: Trader, Core, Bot, Shared, Account

#7904 Maryia/feat: setup config file jest tests for bot-web-ui package
  packages/bot-web-ui/jest.config.js
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/__tests__/toolbar.spec.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
Labels: Bot

#8057 fix: console error in existing mf user
  packages/account/src/Configs/trading-assessment-config.js
Labels: Account

#8063 Bala/update smartcharts version
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#8025 feat: :sparkles: incorporated FA to MF real account creation
  packages/account/src/Components/financial-details/__tests__/financial-details.spec.js
  packages/account/src/Components/financial-details/financial-details.jsx
  packages/account/src/Configs/financial-details-config.js
  packages/account/src/Configs/personal-details-config.js
  packages/account/src/Containers/account.jsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.jsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/cashier/src/pages/withdrawal/disable-withdrawal-modal.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard-form.js
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/sass/details-form.scss
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Account

#7955 chore: implement new changes to the singup modal
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/CitizenshipModal/same-citizenship-modal.jsx
  packages/core/src/App/Containers/CitizenshipModal/set-citizenship-form.jsx
  packages/core/src/App/Containers/PasswordSelectionModal/password-selection-modal.jsx
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
  packages/core/src/sass/app/modules/account-signup.scss
Labels: Core

#7959 Suisin/chore: remove toast and push notification for poi and poa after first…
  packages/core/src/Stores/notification-store.js
Labels: Core

#8052 chore: update message when screen size is not supported
  packages/core/src/index.html
  packages/core/src/sass/app/_common/layout/app-layouts.scss
Labels: Core

#7875 Ameerul /Task 86076 Use `disabled` from website_status instead of calling `p2p_advertiser_info` on load of deriv-app.
  packages/account/package.json
  packages/api/package.json
  packages/api/types.ts
  packages/appstore/package.json
  packages/cashier/package.json
  packages/cashier/src/stores/__tests__/general-store.spec.ts
  packages/cashier/src/stores/general-store.ts
  packages/cashier/src/types/websocket.types.ts
  packages/cfd/package.json
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/socket_base.js
  packages/reports/package.json
  packages/shared/package.json
  packages/stores/package.json
  packages/trader/package.json
Labels: Trader, Core, Shared, Account, AppStore

#7949 Sergei / 90484 / Update Livechat when widget crashes
  packages/core/src/App/Components/Elements/LiveChat/use-livechat.ts
Labels: Core

#8065 Kate/92181/Content change for unavailable contract details error message from Deriv SmartTrader on Deriv's Report.
  packages/reports/src/Containers/open-positions.jsx
  packages/reports/src/Containers/profit-table.jsx
  packages/reports/src/Containers/statement.jsx
  packages/shared/src/utils/constants/contract.tsx
Labels: Shared

#8084 thisyahlen/fix: language switcher css
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/SettingsModal/settings-language.jsx
  packages/core/src/sass/app/_common/components/settings-language.scss
Labels: Core

#7584 fix: dark mode on dbot
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/colours.js
  packages/bot-skeleton/src/utils/index.js
  packages/bot-web-ui/src/app/app.jsx
  packages/bot-web-ui/src/components/bot-footer-extensions/security-and-privacy.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/cards.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/hooks/index.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
  packages/core/src/Stores/ui-store.js
Labels: Core, Bot

#7893 Maryia/89714/fix: responsive ui quick strategy as per new figma design
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.scss
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/__tests__/toolbox.spec.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/stop-bot-modal.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/stop-bot-modal-content.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/components.types.ts
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/container.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/description.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/footer.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/form.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy.tsx
  packages/components/src/components/mobile-full-page-modal/mobile-full-page-modal.tsx
Labels: Bot, Components

#8095 fix: placeholder signup modal typo
  packages/core/src/App/Containers/SetResidenceModal/set-residence-form.jsx
Labels: Core

#8089 thisyahlen/fix: disable language button till language is fully loaded
  packages/core/src/App/Components/Layout/Footer/toggle-language-settings.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/sass/app/_common/components/settings-language.scss
  packages/core/src/sass/app/_common/layout/footer.scss
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#8103 likhith/fix: :bug: button not disabled for account signup
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
Labels: Core
