Repository deriv-com/deriv-app, pull requests merged in 2023-07, with the labels that each got.

#9199 Ako/ add overrides attr to eslintrc to fix husky pre commit issue
  packages/components/package.json
Labels: Components

#9201 Fix husky issue
  packages/components/.eslintrc.js
  packages/components/package.json
Labels: Components

#9125 feat: implement withdraw verification reques
  packages/appstore/src/components/modals/wallet-modal/provider.tsx
  packages/appstore/src/components/wallet-withdrawal/__tests__/wallet-withdrawal.tsx
  packages/appstore/src/components/wallet-withdrawal/index.ts
  packages/appstore/src/components/wallet-withdrawal/wallet-withdrawal.tsx
  packages/cashier/src/components/email-verification-empty-state/email-verification-empty-state.tsx
  packages/cashier/src/components/email-verification-empty-state/email-verification-resend-empty-state.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-verification-email/__tests__/withdrawal-verification-email.test.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-verification-email/withdrawal-verification-email.tsx
  packages/components/src/components/icon/common/ic-withdraw-request-verification-sent.svg
  packages/components/src/components/icon/common/ic-withdraw-request-verification.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
Labels: Components, AppStore

#9210 Niloofar Sadeghi / Fixed close account message doesn't show up issue
  packages/account/src/Sections/Security/AccountClosed/account-closed.tsx
Labels: Account

#9003 yashim/feat: add mock server integration
  package-lock.json
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/bot-skeleton/package.json
  packages/bot-web-ui/package-lock.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/src/components/div100vh-container/div100vh-container.tsx
  packages/components/src/components/icon/icons.js
  packages/components/src/components/input/input.tsx
  packages/components/stories/icon/icons.js
  packages/core/package.json
  packages/core/src/App/Components/dev-tools/index.tsx
  packages/core/src/App/Components/dev-tools/mock-dialog.scss
  packages/core/src/App/Components/dev-tools/mock-dialog.tsx
  packages/core/src/App/app.jsx
  packages/core/src/_common/base/api_middleware.js
  packages/core/src/_common/base/socket_base.js
  packages/hooks/src/__tests__/useLocalStorageData.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useLocalStorageData.ts
  packages/reports/package.json
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/package.json
  packages/utils/src/__tests__/getLocalStorage.spec.ts
  packages/utils/src/getLocalStorage.ts
  packages/utils/src/index.ts
Labels: Trader, Core, Bot, Shared, Components, Account, AppStore

#9216 Jim/WEBREL-667/fix-bug-revealed-during-ts-migration
  packages/account/src/Configs/__test__/address-details-config.spec.ts
  packages/account/src/Configs/address-details-config.ts
Labels: Account

#9220 update feature_branch with master
  packages/account/src/Configs/__test__/address-details-config.spec.ts
  packages/account/src/Configs/address-details-config.ts
  packages/account/src/Sections/Security/AccountClosed/account-closed.tsx
Labels: Account

#9225 Niloofar Sadeghi / Discrepancy compared to production
  packages/components/src/components/numpad/numpad.tsx
  packages/components/src/components/numpad/step-input.tsx
Labels: Components

#9007 Rostislav / Wall-455 / Transaction list filter (Demo&Real)
  packages/appstore/package.json
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list.scss
  packages/appstore/src/components/fiat-transaction-list/fiat-transaction-list.tsx
  packages/appstore/src/components/fiat-transaction-list/index.ts
  packages/appstore/src/components/modals/wallet-modal/__tests__/wallet-modal-body.spec.tsx
  packages/appstore/src/components/modals/wallet-modal/provider.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-header.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.tsx
  packages/appstore/src/components/transaction-list/index.ts
  packages/appstore/src/components/transaction-list/non-pending-transaction.tsx
  packages/appstore/src/components/transaction-list/transaction-list.scss
  packages/appstore/src/components/transaction-list/transaction-list.tsx
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/wallet/ic-wallet-ethereum-dark.svg
  packages/components/src/components/icon/wallet/ic-wallet-ethereum-light.svg
  packages/components/stories/icon/icons.js
  packages/hooks/package.json
  packages/hooks/src/__tests__/useGroupedFiatTransactions.spec.tsx
  packages/hooks/src/__tests__/usePlatformAccounts.spec.tsx
  packages/hooks/src/__tests__/useWalletTransactions.spec.tsx
  packages/hooks/src/__tests__/useWalletsList.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useCurrencyConfig.ts
  packages/hooks/src/usePlatformDemoAccount.ts
  packages/hooks/src/usePlatformRealAccounts.ts
  packages/hooks/src/useWalletTransactions.ts
  packages/hooks/src/useWalletsList.ts
  packages/utils/package.json
  packages/utils/src/__tests__/getWalletCurrencyIcon.spec.tsx
  packages/utils/src/__tests__/groupTransactionsByDay.spec.tsx
  packages/utils/src/getWalletCurrencyIcon.ts
  packages/utils/src/groupTransactionsByDay.ts
  packages/utils/src/index.ts
Labels: Components, P2P, Docs, Account, AppStore

#9006 Sergei / wall 680 / Desktop wallet dark theme
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
  packages/appstore/src/components/wallet-header/wallet-header-balance.tsx
  packages/appstore/src/components/wallet-header/wallet-header-buttons.tsx
  packages/appstore/src/components/wallet-header/wallet-header.scss
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/appstore/src/public/images/wallet-header-demo-bg-dark.svg
  packages/hooks/src/__tests__/useWalletsList.spec.tsx
  packages/hooks/src/useWalletTransactions.ts
  packages/hooks/src/useWalletsList.ts
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
Labels: Shared, AppStore

#9060 george / wall-14 / fiat deposit
  packages/appstore/src/components/modals/wallet-modal/__tests__/wallet-modal-body.spec.tsx
  packages/appstore/src/components/modals/wallet-modal/provider.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-body.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal-header.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.tsx
  packages/appstore/src/components/wallet-deposit/index.ts
  packages/appstore/src/components/wallet-deposit/wallet-deposit.scss
  packages/appstore/src/components/wallet-deposit/wallet-deposit.tsx
  packages/appstore/src/components/wallet-transfer/wallet-transfer.tsx
  packages/components/src/components/transfer-account-selector/transfer-account-selector.tsx
Labels: Components, AppStore

#9212 Vinu/fix: reduce the number of logs send to datadog
  packages/bot-skeleton/src/services/api/api-middleware.js
  packages/bot-web-ui/src/stores/app-store.js
  packages/bot-web-ui/src/stores/run-panel-store.js
  packages/bot-web-ui/webpack.config.js
Labels: Bot

#9013 Adrienne / Rudderstack integration
  .circleci/config.yml
  packages/analytics/jest.config.js
  packages/analytics/package.json
  packages/analytics/src/__tests__/rudderstack.spec.tsx
  packages/analytics/src/index.ts
  packages/analytics/src/rudderstack.ts
  packages/analytics/tsconfig.json
  packages/cfd/src/Stores/index.js
  packages/core/package.json
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/index.js
  packages/core/src/Stores/rudderstack-store.js
  packages/core/src/index.html
  packages/reports/src/Stores/index.ts
  packages/trader/src/Stores/index.js
Labels: Trader, Core, Shared, P2P, Account

#7814 Akmal / feat: remove unnecessary API calls while loading chart
  packages/core/src/Stores/contract-replay-store.js
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/market-closed-contract-overlay.jsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
Labels: Trader, Core

#9028 Suisin/wall1040/add derivez to password changing
  packages/account/src/Sections/Security/Passwords/__tests__/deriv-password.spec.js
  packages/account/src/Sections/Security/Passwords/deriv-password.jsx
  packages/account/src/Styles/account.scss
Labels: Account

#8623 Ameerul | Niloofar | Add routing for all P2P pages
  package-lock.json
  packages/cashier/build/webpack.config.js
  packages/cashier/src/constants/routes-config.ts
  packages/cashier/src/types/routes.types.ts
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/notification-store.js
  packages/p2p/README.md
  packages/p2p/package.json
  packages/p2p/src/components/__tests__/app-content.spec.js
  packages/p2p/src/components/advertiser-page/advertiser-page.jsx
  packages/p2p/src/components/advertiser-page/index.js
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/app.jsx
  packages/p2p/src/components/app.scss
  packages/p2p/src/components/buy-sell/buy-sell-row.jsx
  packages/p2p/src/components/buy-sell/index.js
  packages/p2p/src/components/buy-sell/no-ads/no-ads.jsx
  packages/p2p/src/components/dp2p-blocked/dp2p-blocked.scss
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.jsx
  packages/p2p/src/components/modal-manager/modals/email-link-verified-modal/email-link-verified-modal.jsx
  packages/p2p/src/components/my-ads/index.js
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-profile/block-user/block-user-table/block-user-row/block-user-row.jsx
  packages/p2p/src/components/my-profile/block-user/block-user-table/block-user-table.scss
  packages/p2p/src/components/my-profile/my-profile-content.jsx
  packages/p2p/src/components/my-profile/my-profile-form/my-profile-form.scss
  packages/p2p/src/components/my-profile/my-profile-stats/my-profile-details-table/my-profile-details-table.scss
  packages/p2p/src/components/my-profile/my-profile.jsx
  packages/p2p/src/components/my-profile/my-profile.scss
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/select-payment-method.jsx
  packages/p2p/src/components/order-details/order-details-wrapper.jsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/orders/index.js
  packages/p2p/src/components/orders/order-table/order-table-content.jsx
  packages/p2p/src/components/orders/order-table/order-table-row.jsx
  packages/p2p/src/components/orders/orders.jsx
  packages/p2p/src/components/page-404/index.js
  packages/p2p/src/components/page-404/page-404.jsx
  packages/p2p/src/components/routes/binary-routes.jsx
  packages/p2p/src/components/routes/error-component.jsx
  packages/p2p/src/components/routes/index.js
  packages/p2p/src/components/routes/route-with-sub-routes.jsx
  packages/p2p/src/components/routes/routes.jsx
  packages/p2p/src/constants/routes-config.js
  packages/p2p/src/index.js
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-profile-store.js
  packages/p2p/src/stores/order-store.js
  packages/p2p/src/stores/sendbird-store.js
  packages/p2p/webpack.config.js
  packages/shared/src/utils/route/__tests__/route.spec.ts
  packages/shared/src/utils/route/route.ts
  packages/shared/src/utils/routes/routes.ts
Labels: Core, Bot, P2P, Docs, Account

#8576 fix: renamed your ads are running to hide my ads
  packages/p2p/src/components/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/components/my-ads/my-ads.scss
  packages/p2p/src/components/my-ads/toggle-ads.jsx
Labels: Bot, P2P, Account

#8977 chore: Add comma in Swap-free description after cryptocurrencies
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/helpers/account-helper.ts
  packages/cfd/src/Components/cfd-mt5-demo-account-display.tsx
  packages/core/src/Stores/traders-hub-store.js
Labels: Core, AppStore

#8397 Shaheer/92065/error message translation
  packages/account/src/Sections/Security/TwoFactorAuthentication/digit-form.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
Labels: Account

#8209 Task 88555 remove legacy connect from cfd
  packages/appstore/src/components/app.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/cfd/@deriv-stores.d.ts
  packages/cfd/src/Components/__tests__/cfd-account-card.spec.tsx
  packages/cfd/src/Components/__tests__/cfd-demo-account-display.spec.js
  packages/cfd/src/Components/__tests__/cfd-poi.spec.js
  packages/cfd/src/Components/__tests__/cfd-real-account-display.spec.js
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Components/cfd-demo-account-display.tsx
  packages/cfd/src/Components/cfd-dxtrade-demo-account-display.tsx
  packages/cfd/src/Components/cfd-mt5-demo-account-display.tsx
  packages/cfd/src/Components/cfd-personal-details-form.tsx
  packages/cfd/src/Components/cfd-poi.tsx
  packages/cfd/src/Components/cfd-real-account-display.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Containers/__tests__/cfd-financial-stp-real-account-signup.spec.js
  packages/cfd/src/Containers/__tests__/cfd-password-manager-modal.spec.js
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
  packages/cfd/src/Containers/__tests__/cfd-server-error-dialog.spec.js
  packages/cfd/src/Containers/__tests__/cfd-top-up-demo-modal.spec.js
  packages/cfd/src/Containers/__tests__/compare-accounts-modal.spec.js
  packages/cfd/src/Containers/cfd-dashboard.tsx
  packages/cfd/src/Containers/cfd-dbvi-onboarding.tsx
  packages/cfd/src/Containers/cfd-financial-stp-real-account-signup.tsx
  packages/cfd/src/Containers/cfd-password-manager-modal.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/cfd-personal-details-container.tsx
  packages/cfd/src/Containers/cfd-reset-password-modal.tsx
  packages/cfd/src/Containers/cfd-server-error-dialog.tsx
  packages/cfd/src/Containers/cfd-top-up-demo-modal.tsx
  packages/cfd/src/Containers/compare-accounts-modal.tsx
  packages/cfd/src/Containers/derivx-trade-modal.tsx
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-card-back.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-checkbox.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-foot-note.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-title-indicator.tsx
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/cfd/src/Containers/routes.jsx
  packages/cfd/src/Containers/switch-to-real-account.tsx
  packages/cfd/src/Containers/trade-modal.tsx
  packages/cfd/src/Stores/Modules/CFD/Helpers/useCfdStores.tsx
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/cfd/src/Stores/connect.js
  packages/cfd/src/app.tsx
  packages/cfd/src/cfd-providers.tsx
  packages/cfd/src/types/cfd-store.types.ts
  packages/cfd/tsconfig.json
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Account, AppStore

#9084 maryia/861mz0p4e/build: update deriv-charts version to 1.3.0
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#8939 Amir/feq 183/client tnc status type error fix
  packages/core/src/Stores/client-store.js
Labels: Core

#9055 Amir/FEQ-315/_ is not a function
  packages/trader/src/Modules/Trading/Containers/Multiplier/multiplier-options.jsx
Labels: Trader

#9031 Jim/feq 235/container is not in current document
  packages/bot-web-ui/src/components/flyout/help-contents/flyout-text.jsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#9244 Shafin/bot 117/feat connect method remove finalize
  packages/bot-web-ui/src/components/blockly-loading/__tests__/blockly-loading.spec.tsx
  packages/bot-web-ui/src/components/blockly-loading/blockly-loading.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/stores/useDBotStore.tsx
  packages/bot-web-ui/src/utils/journal-notifications.js
Labels: Bot

#8702 Adrienne / integrated useSubscription hook for website status
  packages/cfd/src/Containers/__tests__/cfd-server-error-dialog.spec.js
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/src/providers/WebsiteStatusProvider.tsx
  packages/stores/src/providers/index.ts
  packages/stores/src/storeProvider.tsx
  packages/stores/src/stores/WebsiteStatusStore.ts
  packages/stores/src/stores/index.ts
  packages/stores/types.ts
Labels: Core, Shared, P2P

#8200 maryia/ACCUM-125/feat: Accumulator updates for barriers and markers in C.Details and DTrader
  package.json
  packages/core/src/Stores/Helpers/__tests__/chart-markers.spec.ts
  packages/core/src/Stores/Helpers/chart-markers.js
  packages/core/src/Stores/contract-store.js
  packages/core/src/Stores/contract-trade-store.js
  packages/core/src/Stores/portfolio-store.js
  packages/reports/src/sass/app/modules/smart-chart.scss
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
  packages/shared/src/utils/contract/__tests__/contract.spec.ts
  packages/shared/src/utils/contract/contract.ts
  packages/shared/src/utils/helpers/__tests__/barrier.ts
  packages/shared/src/utils/helpers/barrier.ts
  packages/shared/src/utils/helpers/logic.ts
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/__tests__/ticks-history-counter.spec.js
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/ticks-history-counter.jsx
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/ticks-history-counter.tsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-chart-elements.spec.js
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/accumulators-profit-loss-tooltip.spec.js
  packages/trader/src/Modules/SmartChart/Components/Markers/__tests__/delayed-accu-barriers-marker.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-chart-elements.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/accumulators-profit-loss-tooltip.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/current-spot-emphasizer.jsx
  packages/trader/src/Modules/SmartChart/Components/Markers/delayed-accu-barriers-marker.tsx
  packages/trader/src/Modules/SmartChart/Components/all-markers.jsx
  packages/trader/src/Modules/Trading/Containers/trade.jsx
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.js
  packages/trader/src/Stores/Modules/Trading/trade-store.js
  packages/trader/src/sass/app/modules/contract/accumulators-stats.scss
  packages/trader/src/sass/app/modules/smart-chart.scss
Labels: Trader, Core, Bot, Shared

#9018 feat: added add-wallets section
  packages/appstore/package.json
  packages/appstore/src/components/add-more-wallets/__test__/add-more-wallets.spec.tsx
  packages/appstore/src/components/add-more-wallets/__test__/wallet-add-card.spec.tsx
  packages/appstore/src/components/add-more-wallets/add-more-wallets.scss
  packages/appstore/src/components/add-more-wallets/add-more-wallets.tsx
  packages/appstore/src/components/add-more-wallets/carousel-buttons.tsx
  packages/appstore/src/components/add-more-wallets/carousel-container.tsx
  packages/appstore/src/components/add-more-wallets/index.ts
  packages/appstore/src/components/add-more-wallets/wallet-add-card.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner.scss
  packages/appstore/src/constants/wallet_description_mapper.ts
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/appstore/src/types/common.types.ts
  packages/components/src/components/wallet-card/wallet-card.scss
  packages/components/src/components/wallet-card/wallet-card.tsx
  packages/hooks/src/__tests__/useAuthorize.spec.tsx
  packages/hooks/src/__tests__/useAvailableWallets.spec.tsx
  packages/hooks/src/__tests__/useWalletsList.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useAuthorize.ts
  packages/hooks/src/useAvailableWallets.ts
  packages/hooks/src/useCurrencyConfig.ts
  packages/hooks/src/useWalletTransactions.ts
  packages/hooks/src/useWalletsList.ts
  packages/shared/src/styles/constants.scss
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/advanced-duration.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.jsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/strike.jsx
  packages/trader/src/Modules/Trading/Containers/strike-param-modal.jsx
Labels: Trader, Shared, Components, AppStore

#9266 Ameerul /WEBREL 711 Displaying incorrect tab when switch it "transfer to client" page
  packages/p2p/package.json
  packages/shared/src/utils/route/route.ts
  packages/shared/src/utils/routes/routes.ts
Labels: Shared, P2P

#9267 Vinu/fix: session sample rate in dbot
  packages/bot-skeleton/src/services/api/api-middleware.js
  packages/bot-web-ui/src/stores/run-panel-store.js
Labels: Bot

#9260 FarhanNurzi/WEBREL-709/hide my ads is not translated
  packages/p2p/src/components/my-ads/toggle-ads.jsx
Labels: P2P

#9218 Ako/ Add coveralls badge
  README.md
Labels: Docs

#9275 fix: removed save-collection radio button
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/save-modal.tsx
Labels: Bot

#9278 Revert "Adrienne / integrated useSubscription hook for website status"
  packages/cfd/src/Containers/__tests__/cfd-server-error-dialog.spec.js
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/src/providers/WebsiteStatusProvider.tsx
  packages/stores/src/providers/index.ts
  packages/stores/src/storeProvider.tsx
  packages/stores/src/stores/WebsiteStatusStore.ts
  packages/stores/src/stores/index.ts
  packages/stores/types.ts
Labels: Core

#9286 Maryia/webrel-721/build: upgrade deriv-charts to v1.3.1
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#9292 Shafin/bot 117/feat connect method remove code smells
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/stop-bot-modal.tsx
Labels: Bot

#9144 likhith/incorporated useStore in Accounts package
  packages/account/package.json
  packages/account/src/App.tsx
  packages/account/src/Components/Routes/__tests__/binary-link.spec.tsx
  packages/account/src/Components/Routes/__tests__/binary-routes.spec.tsx
  packages/account/src/Components/account-limits/__tests__/account-limits.spec.tsx
  packages/account/src/Components/account-limits/account-limits.tsx
  packages/account/src/Components/api-token/_tests_/api-token.spec.js
  packages/account/src/Components/api-token/api-token.tsx
  packages/account/src/Components/icon-with-message/__tests__/icon-with-message.spec.tsx
  packages/account/src/Components/icon-with-message/icon-with-message.tsx
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion.spec.tsx
  packages/account/src/Components/self-exclusion/self-exclusion.tsx
  packages/account/src/Containers/account.jsx
  packages/account/src/Containers/reset-trading-password.jsx
  packages/account/src/Containers/routes.jsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
  packages/account/src/Sections/Assessment/TradingAssessment/trading-assessment.jsx
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.js
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Security/AccountClosed/account-closed.tsx
  packages/account/src/Sections/Security/AccountLimits/account-limits.tsx
  packages/account/src/Sections/Security/ApiToken/api-token.tsx
  packages/account/src/Sections/Security/ClosingAccount/__tests__/closing-account-reason.spec.js
  packages/account/src/Sections/Security/ClosingAccount/closing-account-reason.jsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-steps.jsx
  packages/account/src/Sections/Security/LoginHistory/login-history.jsx
  packages/account/src/Sections/Security/Passwords/deriv-email.jsx
  packages/account/src/Sections/Security/Passwords/passwords.jsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.jsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/__test__/proof-of-ownership.spec.js
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership.jsx
  packages/account/src/Stores/connect.js
  packages/account/src/Stores/index.ts
  packages/account/src/Stores/init-store.js
  packages/cfd/src/Components/cfd-real-account-display.tsx
  packages/cfd/src/Components/props.types.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Account

#9203 Amina/wall-1225/fix: translation_for_hint_text
  packages/account/src/Components/forms/personal-details-form.jsx
Labels: Account

#9160 Shayan/feq 275/fix reduce of empty array with no initial value
  packages/bot-skeleton/src/scratch/blocks/Math/math_on_list.js
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
  packages/indicators/src/utils/math.js
  packages/shared/src/utils/string/string_util.ts
Labels: Bot, Shared

#8904 Rupato/fix: for current_language proptype
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
Labels: Core

#9224 Amina/fix: hide placeholder in input fields
  packages/account/src/Components/address-details/__tests__/address-details.spec.tsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.js
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
  packages/cfd/src/Components/__tests__/cfd-poa.spec.js
  packages/components/src/components/input/input.tsx
Labels: Components, Account

#9172 Suisin/chore: add italian language to production
  packages/translations/src/i18next/i18next.ts
Labels: Translations

#9316 likhith/fix: :bug: fixed failing testcase
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.js
Labels: Account

#8928 Rupato/fix: for z-index of performance panel
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
Labels: Bot

#9017 Aum/prodqa 38/client redirection to correct withdrawal page using loginid
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#9204 fix: css for compare account af pakistan madagascar afghanistan
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
  packages/cfd/src/Containers/props.types.ts
Labels: Core, AppStore

#8893 fix: get more button should disappear on creating all mt5 accounts
  packages/core/src/Stores/client-store.js
Labels: Core

#9230 fix: Make-the-tour-previous-and-next-button-bold
  packages/bot-web-ui/src/components/dashboard/react-joyride-wrapper.tsx
Labels: Bot

#9236 Farzin/Putting wallet behind feature flag [WIP]
  packages/account/package.json
  packages/api/package.json
  packages/appstore/package.json
  packages/appstore/src/components/transaction-list/transaction-list.tsx
  packages/appstore/src/components/wallet-content/wallet-content.tsx
  packages/cashier/package.json
  packages/cashier/src/containers/routes/error-component/error-component.tsx
  packages/cashier/src/pages/account-transfer/__tests__/account-transfer.spec.tsx
  packages/cashier/src/pages/on-ramp/__tests__/on-ramp.spec.tsx
  packages/cashier/src/pages/payment-agent-transfer/__tests__/payment-agent-transfer.spec.tsx
  packages/cashier/src/pages/payment-agent/__tests__/payment-agent.spec.tsx
  packages/cashier/src/pages/withdrawal/__tests__/withdrawal.spec.tsx
  packages/cashier/src/stores/general-store.ts
  packages/cfd/package.json
  packages/hooks/package.json
  packages/hooks/src/__tests__/useAuthorize.spec.tsx
  packages/hooks/src/__tests__/useWalletsList.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useActiveWallet.ts
  packages/hooks/src/useAuthorize.ts
  packages/hooks/src/useAvailableWallets.ts
  packages/hooks/src/useWalletTransactions.ts
  packages/hooks/src/useWalletsList.ts
  packages/p2p/crowdin/messages.json
  packages/p2p/src/translations/ar.json
  packages/p2p/src/translations/bn.json
  packages/p2p/src/translations/ko.json
  packages/p2p/src/translations/si.json
  packages/p2p/src/translations/th.json
  packages/reports/package.json
  packages/shared/package.json
  packages/stores/package.json
  packages/stores/src/mockStore.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
  packages/stores/types.ts
  packages/trader/package.json
  packages/translations/src/translations/ar.json
  packages/translations/src/translations/bn.json
  packages/translations/src/translations/de.json
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/id.json
  packages/translations/src/translations/ko.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/si.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
  packages/utils/package.json
  types/utils.d.ts
Labels: Shared, P2P, Account, AppStore

#9342 shontzu/WEBREL-732/Unable-to-see-get-more-section-before-creating-all-MT5-accounts
  packages/core/src/Stores/client-store.js
Labels: Core

#9313 Jim/FEQ-423/update-release-automation-config-and-shift-is_release-to-another-file
  .github/workflows/automationrc.json
  packages/account/build/constants.js
  packages/account/build/loaders-config.js
  packages/cashier/build/constants.js
  packages/cashier/build/loaders-config.js
  packages/cfd/build/constants.js
  packages/cfd/build/loaders-config.js
  packages/core/build/constants.js
  packages/core/build/loaders-config.js
  packages/reports/build/config.js
  packages/reports/build/constants.js
  packages/reports/build/loaders-config.js
  packages/trader/build/config.js
  packages/trader/build/constants.js
  packages/trader/build/loaders-config.js
Labels: Trader, Core, Account

#9001 shahzaib / KYC-133 / fix: remove default max length from form input field
  packages/account/src/Components/forms/form-fields.jsx
Labels: Account

#9276 shontzu/WALL-563/Missing-icon-in-notifications
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.jsx
  packages/core/src/Stores/notification-store.js
Labels: Core

#8930 fix: issue with instruction error overlapping with value inside
  packages/p2p/src/components/my-profile/payment-methods/add-payment-method/add-payment-method.scss
Labels: P2P

#9340 likhith/fix: :bug: removal of document image in POI
  packages/account/src/Components/poi/status/unsupported/card-details/uploader.tsx
Labels: Account

#9223 Arshad/wall-938/made the trade platform logo clickable
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/constants/platform-config.ts
Labels: AppStore

#9088 Amina/wall 736 redirect to deriv com
  packages/account/src/Containers/account.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Trader, Core, Account

#9226 likhith/feat: :sparkles: remove Back to DerivGo redirection button
  packages/account/src/Components/poa/status/needs-review/needs-review.tsx
  packages/account/src/Components/poa/status/submitted/submitted.tsx
  packages/account/src/Components/poa/status/verified/verified.tsx
  packages/account/src/Components/poi/status/upload-complete/upload-complete.tsx
  packages/account/src/Components/poi/status/verified/verified.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/shared/src/utils/config/platform-config.ts
  packages/shared/src/utils/platform/platform.ts
Labels: Shared, Account

#9015 Sergei / wall-348 / Responsive Wallets: The complete flow
  packages/appstore/src/components/add-more-wallets/add-more-wallets.scss
  packages/appstore/src/components/containers/__tests__/wallets.spec.tsx
  packages/appstore/src/components/containers/listing-container.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/containers/wallet.tsx
  packages/appstore/src/components/modals/wallet-modal/wallet-modal.tsx
  packages/appstore/src/components/wallet-button/__tests__/wallet-button.spec.tsx
  packages/appstore/src/components/wallet-button/index.ts
  packages/appstore/src/components/wallet-button/wallet-button.scss
  packages/appstore/src/components/wallet-button/wallet-button.tsx
  packages/appstore/src/components/wallet-cards-carousel/__tests__/wallet-cards-carousel.spec.tsx
  packages/appstore/src/components/wallet-cards-carousel/cards-slider-swiper.tsx
  packages/appstore/src/components/wallet-cards-carousel/index.ts
  packages/appstore/src/components/wallet-cards-carousel/wallet-cards-carousel.scss
  packages/appstore/src/components/wallet-cards-carousel/wallet-cards-carousel.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-content-divider.spec.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-content.spec.tsx
  packages/appstore/src/components/wallet-content/__tests__/wallet-transfer-block.spec.tsx
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-content.scss
  packages/appstore/src/components/wallet-content/wallet-content.tsx
  packages/appstore/src/components/wallet-content/wallet-option-multipliers-listing.tsx
  packages/appstore/src/components/wallet-content/wallet-transfer-block.tsx
  packages/appstore/src/components/wallet-header/__tests__/wallet-header.spec.tsx
  packages/appstore/src/components/wallet-header/wallet-currency-card.tsx
  packages/appstore/src/components/wallet-header/wallet-header-buttons.tsx
  packages/appstore/src/components/wallet-header/wallet-header.scss
  packages/appstore/src/components/wallet-header/wallet-header.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner.scss
  packages/appstore/src/constants/utils.ts
  packages/appstore/src/modules/traders-hub/account-with-wallets.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/appstore/src/modules/traders-hub/traders-hub.scss
  packages/appstore/src/types/common.types.ts
  packages/components/src/components/progress-bar-onboarding/progress-bar-onboarding.scss
  packages/components/src/components/progress-bar-onboarding/progress-bar-onboarding.tsx
  packages/components/src/components/wallet-card/wallet-card.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/useAuthorize.ts
  packages/hooks/src/useAvailableWallets.ts
  packages/hooks/src/useWalletsList.ts
  packages/shared/src/styles/constants.scss
  packages/shared/src/styles/themes.scss
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Components, Account, AppStore

#8298 Maryia-Farabi/90550/feat: updating the dbot error messages flow
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/stores/app-store.js
  packages/cashier/src/containers/routes/error-component/__tests__/error-component.spec.tsx
  packages/components/src/components/page-error/__tests__/page-error.spec.tsx
  packages/components/src/components/page-error/page-error.tsx
  packages/core/src/App/Components/Elements/Errors/error-component.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/common-store.js
  packages/shared/src/utils/digital-options/digital-options.ts
  packages/stores/types.ts
Labels: Core, Bot, Shared, Components

#9287 Amir/Feq-235/_tfa is not defined
  packages/core/src/Stores/gtm-store.js
Labels: Core

#9353 fix: fix console errors arising from bot-skeleton related to datadog
  packages/bot-skeleton/src/services/api/__tests__/datadog-middleware.spec.ts
  packages/bot-skeleton/src/services/api/api-middleware.js
Labels: Core, Bot, Account, AppStore

#9366 Revert "Amir/Feq-235/_tfa is not defined"
  packages/core/src/Stores/gtm-store.js
Labels: Core

#9354 Rupato/fix: added hash check
  packages/bot-web-ui/src/stores/route-prompt-dialog-store.js
Labels: Bot

#9384 Adrienne / fix an issue where pages are not tracked in rudderstack page view
  packages/analytics/src/__tests__/rudderstack.spec.tsx
  packages/analytics/src/rudderstack.ts
  packages/core/src/App/Containers/Layout/app-contents.jsx
Labels: Core

#9397 Adrienne / Fix issues with environment variable not in webpack config for core
  packages/analytics/src/__tests__/rudderstack.spec.tsx
  packages/analytics/src/rudderstack.ts
  packages/core/build/constants.js
Labels: Core

#9362 Farzin/Putting wallet behind feature flag [WIP]
  packages/appstore/src/components/add-more-wallets/add-more-wallets.scss
  packages/appstore/src/components/app-content.tsx
  packages/appstore/src/components/app.tsx
  packages/appstore/src/components/containers/wallet.scss
  packages/appstore/src/components/routes/routes-wrapper.tsx
  packages/appstore/src/components/routes/routes.tsx
  packages/appstore/src/components/wallet-cards-carousel/__tests__/wallet-cards-carousel.spec.tsx
  packages/appstore/src/components/wallet-cards-carousel/cards-slider-swiper.tsx
  packages/appstore/src/components/wallet-cards-carousel/wallet-cards-carousel.scss
  packages/appstore/src/components/wallet-cards-carousel/wallet-cards-carousel.tsx
  packages/appstore/src/constants/routes-config.ts
  packages/appstore/src/modules/traders-hub/account-with-wallets.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/appstore/src/modules/traders-hub/traders-hub.scss
  packages/appstore/src/modules/wallets/desktop-wallets-list.tsx
  packages/appstore/src/modules/wallets/index.ts
  packages/appstore/src/modules/wallets/mobile-wallets-carousel.tsx
  packages/appstore/src/modules/wallets/wallets.scss
  packages/appstore/src/modules/wallets/wallets.tsx
  packages/appstore/src/services/websocket.ts
  packages/appstore/src/stores/base-store.ts
  packages/appstore/src/stores/config-store.ts
  packages/appstore/src/stores/index.ts
  packages/appstore/src/stores/root-store.ts
  packages/appstore/src/types/api.types.ts
  packages/appstore/src/types/index.ts
  packages/appstore/src/types/params.types.ts
  packages/appstore/src/types/props.types.ts
  packages/appstore/src/types/stores.types.ts
  packages/appstore/src/types/ws.types.ts
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/cfd/src/Utils/Validator/validator.js
  packages/core/src/Stores/client-store.js
  packages/hooks/src/useAuthorize.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
Labels: Core, AppStore

#9108 Farabi/bot 317/translation fixes for dbot homepage
  packages/bot-skeleton/src/scratch/blocks/Math/math_modulo.js
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/quick-strategy/quick-strategy-components/data/data-fields.ts
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
Labels: Bot

#9222 shahzaib / KYC-270 / fix POI flow after IDV failure and retries
  packages/account/src/Components/poi/status/unsupported/detail-component.tsx
  packages/account/src/Components/poi/status/unsupported/documents.tsx
  packages/account/src/Components/poi/status/unsupported/unsupported.scss
  packages/account/src/Components/poi/status/unsupported/unsupported.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
Labels: Account

#8883 Kate / DTRA-175 / Enable 'Only ups/downs' in reports and contract details page
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-type-cell.tsx
  packages/components/src/components/contract-card/contract-card.scss
  packages/components/src/components/positions-drawer-card/positions-drawer-card.tsx
  packages/components/stories/contract-card/statics/contract.js
  packages/core/src/Constants/contract.js
  packages/core/src/Stores/Helpers/chart-marker-helpers.js
  packages/core/src/Stores/Helpers/chart-markers.js
  packages/reports/src/sass/app/modules/smart-chart.scss
  packages/shared/src/utils/constants/contract.tsx
  packages/shared/src/utils/contract/contract.ts
  packages/trader/src/App/Components/Elements/ContractAudit/contract-audit.jsx
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.jsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.jsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.jsx
  packages/trader/src/Constants/contract.js
  packages/trader/src/Modules/Contract/Containers/contract-replay.jsx
  packages/trader/src/sass/app/modules/smart-chart.scss
Labels: Trader, Core, Shared, Components

#9000 Suisin/fix: token leakage to third party api
  packages/core/src/App/Components/Elements/LiveChat/use-livechat.ts
  packages/core/src/index.html
  types/global.d.ts
Labels: Core

#9118 refactor: to resolve cannot create proxy with non object track js issue
  packages/core/src/_common/base/socket_base.js
Labels: Core

#9106 refactor: to resolve trackjs issue
  packages/core/src/_common/base/socket_base.js
Labels: Core

#9427 farabi/webrel 800/fix missing translations
  packages/bot-web-ui/src/components/dashboard/joyride-config.tsx
  packages/bot-web-ui/src/components/dashboard/tour-trigger-dialog.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content.tsx
Labels: Bot

#9408 fix: fix scrolling issue for trade types mobile
  packages/trader/src/sass/app/_common/components/contract-type-dialog.scss
Labels: Trader

#9328 Vinu/ fix: added history call to the list of request for datadog
  packages/bot-skeleton/src/services/api/api-middleware.js
Labels: Bot

#9394 Farabi/prodqa 1168/change sort placement on toolbar
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
Labels: Bot

#9454 farabi/webrel 806/translation and ui issue
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
Labels: Bot

#7646 Likhith/87594/trigger onfido checks for high risk client
  packages/account/package.json
  packages/account/src/Components/poa/status/status-codes/status-codes.ts
  packages/account/src/Types/common-prop.type.ts
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/cfd/package.json
  packages/cfd/src/Components/cfd-poa.tsx
  packages/cfd/src/Containers/__tests__/cfd-financial-stp-real-account-signup.spec.js
  packages/cfd/src/Containers/cfd-dbvi-onboarding.tsx
  packages/cfd/src/Containers/cfd-financial-stp-real-account-signup.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
  packages/cfd/types.ts
  packages/hooks/src/__tests__/useIsAccountStatusPresent.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useIsAccountStatusPresent.ts
  packages/shared/src/utils/cfd/cfd.ts
Labels: Core, Bot, Shared, Account, AppStore

#9035 shahzaib / KYC-93 / add issuing country to uploading files in manual verification
  packages/account/package.json
  packages/account/src/Components/file-uploader-container/__tests__/file-uploader-container.spec.tsx
  packages/account/src/Components/file-uploader-container/__tests__/file-uploader.spec.tsx
  packages/account/src/Components/file-uploader-container/file-uploader-container.tsx
  packages/account/src/Components/file-uploader-container/file-uploader.tsx
  packages/account/src/Components/poi/status/unsupported/detail-component.tsx
  packages/account/src/Sections/Verification/ProofOfOwnership/__test__/proof-of-ownership-form.spec.js
  packages/account/src/Sections/Verification/ProofOfOwnership/__test__/proof-of-ownership.spec.js
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership-form.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership.jsx
  packages/components/src/components/cellmeasurer/CellMeasurerCache.d.ts
  packages/components/src/components/date-picker/date-picker-input.tsx
  packages/shared/src/utils/files/file-uploader-utils.ts
  packages/trader/src/Modules/Contract/Components/InfoBox/info-box-longcode.jsx
Labels: Trader, Shared, Components, Account

#8907 shahzaib/WALL-756/allow idv for vanuatu jurisdiction on MT5
  packages/account/src/Components/poi-poa-docs-submitted/poi-poa-docs-submitted.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/appstore/src/components/modals/failed-veriification-modal/failed-verification-modal.tsx
  packages/cfd/src/Components/__tests__/cfd-poi.spec.js
  packages/cfd/src/Components/cfd-poi.tsx
  packages/cfd/src/Containers/__tests__/cfd-financial-stp-real-account-signup.spec.js
  packages/cfd/src/Containers/cfd-dbvi-onboarding.tsx
  packages/cfd/src/Containers/cfd-financial-stp-real-account-signup.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-title-indicator.tsx
  packages/cfd/src/Containers/mt5-compare-table-content.tsx
  packages/cfd/src/Containers/props.types.ts
  packages/shared/src/utils/cfd/cfd.ts
  packages/shared/src/utils/helpers/__tests__/format-response.ts
  packages/shared/src/utils/helpers/format-response.ts
Labels: Shared, Account, AppStore

#9161 thisyahlen/fix: wallet migration using mock server
  packages/api/types.ts
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/__tests__/real-wallets-upgrade.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/real-wallets-upgrade.tsx
  packages/appstore/src/components/wallets-banner/wallets-banner.tsx
  packages/appstore/src/types/common.types.ts
  packages/hooks/src/__tests__/useWalletMigration.spec.tsx
  packages/hooks/src/__tests__/useWalletsList.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useWalletMigration.ts
Labels: AppStore

#9498 hamza/update the broker name in mt5 trade modal
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Helpers/constants.ts
Labels: AppStore

#9502 hotfix/alignment changed
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
Labels: AppStore

#9389 Amina/fix: empty currency selector screen
  packages/core/src/App/Containers/RealAccountSignup/__tests__/account-wizard.spec.tsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#9442 Maryia/PRODQA-1140/fix: avoid showing "Lets build a bot" when user opens quick strategy …
  packages/bot-web-ui/src/components/dashboard/dashboard.tsx
Labels: Bot

#9233 Akmal / feat: replace number-of-contracts with updated display-number-of-cont…
  packages/trader/src/App/Components/Elements/ContractAudit/__tests__/contract-details.spec.js
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.jsx
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.js
Labels: Trader

#9378 Jim/FEQ-300/sendbird-connection-should-be-made-first
  package-lock.json
  package.json
  packages/p2p/package.json
  packages/p2p/src/components/__tests__/app-content.spec.js
  packages/p2p/src/components/buy-sell/__tests__/buy-sell-form-receive-amount.spec.js
  packages/p2p/src/components/buy-sell/__tests__/sort-dropdown.spec.js
  packages/p2p/src/components/floating-rate/__test__/floating-rate.spec.js
  packages/p2p/src/components/modal-manager/modals/email-verification-modal/__tests__/email-verification-modal.spec.js
  packages/p2p/src/components/modal-manager/modals/order-details-cancel-modal/__tests__/order-details-cancel-modal.spec.js
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/__tests__/order-details-confirm-modal.spec.js
  packages/p2p/src/components/nickname-form/__test__/nickname-form-wrapper.spec.js
  packages/p2p/src/components/nickname-form/__test__/nickname-form.spec.js
  packages/p2p/src/components/orders/chat/chat-message-receipt.jsx
  packages/p2p/src/components/orders/chat/chat.jsx
  packages/p2p/src/components/verification/__tests__/verification.spec.js
  packages/p2p/src/stores/sendbird-store.ts
  packages/p2p/src/utils/chat-message.js
  packages/p2p/src/utils/chat-message.ts
Labels: P2P

#9346 fix: fix for ads are deactivated/activated automatically
  packages/p2p/src/components/my-ads/__mocks__/mock-data.ts
  packages/p2p/src/stores/__tests__/my-ads-store.spec.js
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#9339 feat: :cherries: cherrypicks cf95773 DIEL for switching positions of …
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/appstore/src/components/main-title-bar/__tests__/index.spec.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.tsx
  packages/appstore/src/components/onboarding-new/__tests__/static-dashboard.spec.tsx
  packages/appstore/src/components/onboarding-new/static-dashboard.scss
  packages/appstore/src/components/onboarding-new/static-dashboard.tsx
  packages/appstore/src/components/trade-button/trade-button.tsx
  packages/appstore/src/modules/traders-hub/__tests__/index.spec.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/appstore/src/modules/traders-hub/traders-hub.scss
  packages/components/src/components/button-toggle/button-toggle.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Components, AppStore

#8771 Kate / TS migration + Tests for Helpers files in Trader package
  packages/trader/src/Modules/SmartChart/Components/buy-toast-notification.tsx
  packages/trader/src/Modules/Trading/Helpers/__tests__/contract-type.spec.tsx
  packages/trader/src/Modules/Trading/Helpers/__tests__/digits.spec.ts
  packages/trader/src/Modules/Trading/Helpers/contract-type.tsx
  packages/trader/src/Modules/Trading/Helpers/digits.js
  packages/trader/src/Modules/Trading/Helpers/digits.ts
Labels: Trader
