Repository deriv-com/deriv-app, pull requests merged in 2024-01, with the labels that each got.

#12548 [TRAH] Aizad/FEQ-1352/Refactoring Modal Step Wrapper
  packages/tradershub/src/components/Modal/Modal.classnames.ts
  packages/tradershub/src/components/Modal/Modal.tsx
  packages/tradershub/src/components/Modal/ModalContent.tsx
  packages/tradershub/src/components/Modal/ModalFooter.tsx
  packages/tradershub/src/components/Modal/ModalHeader.tsx
  packages/tradershub/src/components/Modal/index.ts
  packages/tradershub/src/components/index.ts
Labels: Trader's Hub

#12646 fix: fix for failing testcase in recent-workspace.spec.ts
  packages/bot-web-ui/src/components/load-modal/__tests__/recent-workspace.spec.tsx
Labels: Bot

#12489 [COJ]Amina/ feat: migration button tracking
  package-lock.json
  package.json
  packages/appstore/package.json
  packages/appstore/src/components/traders-hub-banner/__test__/migration-banner.spec.tsx
  packages/appstore/src/components/traders-hub-banner/migration-banner.tsx
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
Labels: Trader, Core, AppStore

#12056 [P2PS] Ameerul / P2PS-1804 / Desktop : When user click on their own link, they are able to see the order modal
  packages/p2p/src/pages/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/pages/advertiser-page/advertiser-page.jsx
Labels: P2P

#12570 [TRAH] TRAH-2320 /Hamza/trah 2320/jurisdiction card component
  packages/tradershub/src/components/StaticLink/StaticLink.tsx
  packages/tradershub/src/features/cfd/components/DynamicLeverageContext/DynamicLeverageContext.tsx
  packages/tradershub/src/features/cfd/components/DynamicLeverageContext/index.ts
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.classnames.ts
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-bvi-contents.ts
  packages/tradershub/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-contents.ts
  packages/tradershub/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-labuan-contents.ts
  packages/tradershub/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-svg-contents.ts
  packages/tradershub/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-vanuatu-contents.ts
  packages/tradershub/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-verification-contents.ts
  packages/tradershub/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction_maltainvest_contents.ts
  packages/tradershub/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/props.types.ts
  packages/tradershub/tailwind.config.js
Labels: Trader's Hub

#11842 thisyahlen/WALL-2765/chore: fix wallet redirection issue if next_wallet flag is enabled upon login
  packages/core/src/Stores/client-store.js
  packages/shared/src/utils/config/config.ts
  packages/shared/src/utils/url/helpers.ts
  packages/translations/src/i18next/i18next.ts
Labels: Core, Shared, Translations

#12645 [Bot]test: add test case for save-modal in bot-web-ui
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/__tests__/save-modal.spec.tsx
Labels: Bot

#10508 lubega / WALL-1265 / fix: payment agent details design fix
  packages/cashier/src/pages/payment-agent/payment-agent-deposit-details/__tests__/payment-agent-card-deposit-details.spec.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-deposit-details/payment-agent-deposit-details.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-detail/payment-agent-detail.tsx
Labels: Account

#12085 [P2PS] Ameerul / P2PS-1806 / Deleted ads : opening the link took sometime to show the error message
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/pages/advertiser-page/advertiser-page.jsx
Labels: P2P

#12679 [trah]thisyahlen/TRAH-2567/chore: remove ModalProvider in tradershub and use @deriv/library
  packages/tradershub/src/components/Modal/ModalHeader.tsx
  packages/tradershub/src/components/ModalProvider/ModalProvider.tsx
  packages/tradershub/src/components/ModalProvider/index.ts
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
Labels: Trader's Hub

#12685 Bala/update version 2.0.1
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#12100 [P2PS] farrah/P2PS-2014/Mandatory poa for new p2p users
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/p2p/src/components/__tests__/app-content.spec.js
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.scss
  packages/p2p/src/components/modal-manager/modals/error-modal/__tests__/error-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/error-modal/error-modal.tsx
  packages/p2p/src/components/modal-manager/modals/nickname-modal/__tests__/nickname-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/nickname-modal/index.ts
  packages/p2p/src/components/modal-manager/modals/nickname-modal/nickname-modal.scss
  packages/p2p/src/components/modal-manager/modals/nickname-modal/nickname-modal.tsx
  packages/p2p/src/components/nickname-form/index.ts
  packages/p2p/src/components/nickname-form/nickname-form.scss
  packages/p2p/src/components/nickname-form/nickname-form.tsx
  packages/p2p/src/components/p2p-empty/p2p-empty.scss
  packages/p2p/src/components/verification/__tests__/verification.spec.tsx
  packages/p2p/src/components/verification/verification.tsx
  packages/p2p/src/constants/account-status-codes.ts
  packages/p2p/src/constants/api-error-codes.ts
  packages/p2p/src/pages/advertiser-page/__tests__/advertiser-page.spec.tsx
  packages/p2p/src/pages/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/pages/advertiser-page/advertiser-page.jsx
  packages/p2p/src/pages/buy-sell/__tests__/buy-sell.spec.jsx
  packages/p2p/src/pages/buy-sell/buy-sell-row.jsx
  packages/p2p/src/pages/buy-sell/buy-sell.jsx
  packages/p2p/src/pages/buy-sell/no-ads/__tests__/no-ads.spec.jsx
  packages/p2p/src/pages/buy-sell/no-ads/no-ads.jsx
  packages/p2p/src/pages/my-ads/my-ads.jsx
  packages/p2p/src/pages/my-profile/__tests__/my-profile.spec.tsx
  packages/p2p/src/pages/my-profile/my-profile-form/my-profile-form.tsx
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-name/__tests__/my-profile-name.spec.tsx
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-name/my-profile-name.tsx
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-stats-table/my-profile-stats-table.tsx
  packages/p2p/src/pages/my-profile/my-profile.tsx
  packages/p2p/src/pages/orders/orders.scss
  packages/p2p/src/stores/advertiser-page-store.js
  packages/p2p/src/stores/general-store.js
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/stores/my-profile-store.js
  packages/p2p/src/stores/order-store.js
Labels: Core, P2P

#11996 [COJ] Evgeniy/coj-266/Add "I dont have any of these to idv options and redirect to manual"
  packages/account/src/Components/forms/__tests__/idv-form.spec.tsx
  packages/account/src/Components/forms/idv-form.tsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Components/poi/poi-country-selector/poi-country-selector.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Components/poi/status/expired/expired.tsx
  packages/account/src/Components/poi/status/unsupported/card-details/card-details.scss
  packages/account/src/Components/poi/status/unsupported/card-details/documents-upload.tsx
  packages/account/src/Components/poi/status/unsupported/card-details/input-field.tsx
  packages/account/src/Components/poi/status/unsupported/card-details/selfie-upload.tsx
  packages/account/src/Components/poi/status/unsupported/detail-component.tsx
  packages/account/src/Components/poi/status/unsupported/documents.tsx
  packages/account/src/Components/poi/status/unsupported/unsupported.scss
  packages/account/src/Components/poi/status/unsupported/unsupported.tsx
  packages/account/src/Components/proof-of-identity-container-for-mt5/proof-of-identity-container-for-mt5.scss
  packages/account/src/Components/proof-of-identity-container/proof-of-identity-container.scss
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/core/src/sass/app/_common/components/account-common.scss
  packages/core/src/sass/real-account-signup.scss
  packages/shared/src/utils/constants/default-options.ts
Labels: Core, Bot, Shared, Components, P2P, Account, AppStore

#12198 [BOT]Maryia/BOT-1003/Improve the positioning of the QS short description
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dbot-tours/common/__tests__/accordion.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dbot-tours/common/accordion.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/quick-strategy-content/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/quick-strategy-content/quick-strategy-guides-details.tsx
  packages/bot-web-ui/src/components/quick-strategy/__tests__/quick-strategy.spec.tsx
  packages/bot-web-ui/src/components/quick-strategy/config.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/1_3_2_6.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/d_alembert.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/index.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/martingale.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/oscars_grind.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/reverse_dalembert.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/reverse_martingale.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/strategy-description.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/accordion-strategy-group.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/form-tabs.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/mobile-form-wrapper.tsx
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/strategy-accordion.scss
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/strategy-tab-content.tsx
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/components/quick-strategy/types.ts
Labels: Bot, Components

#12531 [bot] sandeep/bot-1147/responsive scrolling fix
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.scss
Labels: Bot

#12608 [BOT] Farabi/bot-914/add long description for reverse dalembert
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/config/index.ts
  packages/bot-web-ui/src/components/quick-strategy/config.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/d_alembert.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/martingale.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/oscars_grind.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/reverse_dalembert.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/reverse_martingale.ts
  packages/core/src/public/images/common/static_images/reverse_dalembert.svg
Labels: Core, Bot

#12617 [BOT] Farabi/bot-915/add long description for 1-3-2-6
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/config/index.ts
  packages/bot-web-ui/src/components/quick-strategy/config.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/1_3_2_6.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/d_alembert.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/index.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/martingale.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/oscars_grind.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/reverse_dalembert.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/reverse_martingale.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/strategy_1_3_2_6.ts
  packages/bot-web-ui/src/components/quick-strategy/form-wrappers/strategy-tab-content.tsx
  packages/core/src/public/images/common/static_images/1-3-2-6.svg
Labels: Core, Bot

#12427 [TRAH] shontzu/TRAH-2311/WalletClipboard-component
  packages/tradershub/src/components/Base/Clipboard/Clipboard.tsx
  packages/tradershub/src/components/Base/Clipboard/index.ts
  packages/tradershub/src/components/Base/Tooltip/Tooltip.classnames.ts
  packages/tradershub/src/components/Base/Tooltip/Tooltip.tsx
  packages/tradershub/src/components/Base/Tooltip/index.ts
  packages/tradershub/src/components/Base/index.ts
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/public/images/clipboard.svg
  packages/tradershub/src/public/images/ic-checkmark-circle.svg
Labels: Bot, Account, AppStore, Trader's Hub

#12539 [TRAH] shontzu/TRAH-2309/MT5TradeDetailsItem
  packages/tradershub/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.tsx
  packages/tradershub/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/index.ts
  packages/tradershub/src/public/images/ic-edit.svg
Labels: Trader's Hub

#12642 shontzu/ctrader-dxtrade-accountList-fix
  packages/tradershub/src/features/cfd/components/CTraderList/CTraderList.tsx
  packages/tradershub/src/features/cfd/components/OtherCFDPlatformsList/OtherCFDPlatformsList.tsx
  packages/tradershub/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
Labels: Trader's Hub

#12651 [TRAH] shontzu/TRAH-2293/AddedMT5-and-AvailableMT5-Accounts-List
  packages/tradershub/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/tradershub/src/features/cfd/flows/MT5/AddedMT5AccountsList/index.ts
  packages/tradershub/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/tradershub/src/features/cfd/flows/MT5/AvailableMT5AccountsList/index.ts
  packages/tradershub/src/features/cfd/flows/MT5/MT5AccountIcon.tsx
  packages/tradershub/src/features/cfd/flows/MT5/index.ts
Labels: Trader's Hub

#12639 [trah]TRAH-2277/thisyahlen/chore: add total assets component and logic
  packages/api/src/APIProvider.tsx
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useCFDAccountsList.ts
  packages/api/src/hooks/useCtraderAccountsList.ts
  packages/api/src/hooks/useDxtradeAccountsList.ts
  packages/api/src/hooks/useExchangeRates.ts
  packages/api/src/hooks/useMT5AccountsList.ts
  packages/api/src/hooks/useTotalAssets.ts
  packages/api/src/hooks/useTradingAccountsList.ts
  packages/api/src/utils/crypto.utils.ts
  packages/api/src/utils/index.ts
  packages/tradershub/src/components/TotalAssets/TotalAssets.tsx
  packages/tradershub/src/components/TotalAssets/index.ts
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Labels: Trader's Hub

#12584 [trah]Thisyahlen/trah 2307/dxtrade password modal
  packages/tradershub/src/components/ButtonGroup/ButtonGroup.tsx
  packages/tradershub/src/components/ButtonGroup/index.ts
  packages/tradershub/src/components/Dialog/Dialog.tsx
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/features/cfd/modals/DxtradePasswordModal/DxtradePasswordModal.tsx
  packages/tradershub/src/features/cfd/modals/DxtradePasswordModal/index.ts
  packages/tradershub/src/features/cfd/modals/index.ts
  packages/tradershub/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
  packages/tradershub/src/features/cfd/screens/index.ts
  packages/tradershub/src/public/images/cfd/dxtrade-password.svg
Labels: Trader's Hub

#12727 [TRAH] Hamza/TRAH-2613/chore: added Description component
  packages/tradershub/src/features/cfd/screens/CFDCompareAccounts/CompareAccountsDescription.tsx
Labels: Trader's Hub

#12719 [TRAH]Hamza/TRAH-2607/compare accounts title icon component
  packages/tradershub/src/features/cfd/screens/CFDCompareAccounts/CompareAccountsConfig.ts
  packages/tradershub/src/features/cfd/screens/CFDCompareAccounts/CompareAccountsTitleIcon.tsx
  packages/tradershub/src/features/cfd/screens/CFDCompareAccounts/constants.ts
  packages/tradershub/src/features/cfd/screens/CFDCompareAccounts/tradingPlatformIcons.tsx
  packages/tradershub/src/public/images/cfd/mt5-cfds.svg
  packages/tradershub/src/public/images/ic-info-outline.svg
Labels: Trader's Hub

#12735 [TRAH] Aizad/Fix Build Failed on Traderhub
  packages/tradershub/src/components/Base/index.ts
  packages/tradershub/src/components/Clipboard/Clipboard.tsx
  packages/tradershub/src/components/Clipboard/index.ts
  packages/tradershub/src/components/Tooltip/Tooltip.classnames.ts
  packages/tradershub/src/components/Tooltip/Tooltip.tsx
  packages/tradershub/src/components/Tooltip/index.ts
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/features/cfd/modals/DxtradePasswordModal/DxtradePasswordModal.tsx
  packages/tradershub/src/features/cfd/screens/CFDCompareAccounts/CompareAccountsTitleIcon.tsx
  packages/tradershub/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.tsx
Labels: Trader's Hub

#12683 [P2PS] / Ameerul P2PS-2176 / Overlap of buy modal when sellers instructions are too long (recurring bug)
  packages/p2p/src/pages/buy-sell/buy-sell-form.scss
Labels: P2P

#10650 Ameerul / P2PS-1732 / Refactor FileUploaderComponent
  packages/p2p/package.json
  packages/p2p/src/components/file-dropzone/fade-in-message/fade-in-message.scss
  packages/p2p/src/components/file-dropzone/fade-in-message/fade-in-message.tsx
  packages/p2p/src/components/file-dropzone/fade-in-message/index.ts
  packages/p2p/src/components/file-dropzone/file-dropzone.scss
  packages/p2p/src/components/file-dropzone/file-dropzone.tsx
  packages/p2p/src/components/file-dropzone/index.ts
  packages/p2p/src/components/file-dropzone/preview-single/__tests__/preview-single.spec.tsx
  packages/p2p/src/components/file-dropzone/preview-single/index.ts
  packages/p2p/src/components/file-dropzone/preview-single/preview-single.scss
  packages/p2p/src/components/file-dropzone/preview-single/preview-single.tsx
  packages/p2p/src/components/file-uploader-component/__tests__/file-uploader-component.spec.tsx
  packages/p2p/src/components/file-uploader-component/file-uploader-component.tsx
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/__tests__/order-details-confirm-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/order-details-confirm-modal.tsx
  packages/p2p/src/types/file-dropzone.types.ts
  packages/p2p/src/types/index.ts
  packages/p2p/src/utils/__tests__/file-uploader.spec.ts
  packages/p2p/src/utils/file-uploader.js
  packages/p2p/src/utils/file-uploader.ts
  packages/p2p/tsconfig.json
Labels: P2P

#10515 Farhan/P2PS-1721/order complete toast msg disappeared immediately
  packages/core/src/App/Components/Elements/NotificationMessage/notification-order.jsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Containers/Layout/header/__tests__/header.spec.tsx
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/core/src/Services/logout.js
  packages/core/src/Stores/notification-store.js
  packages/hooks/src/__tests__/useP2PCompletedOrdersNotification.spec.tsx
  packages/hooks/src/__tests__/useP2POrderList.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useP2PCompletedOrdersNotification.ts
  packages/hooks/src/useP2POrderList.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#12271 Suisin/coj406/upgrade your mt5 account popup
  packages/cfd/src/Containers/mt5-migration-modal/__test__/mt5-migration-account-icons.spec.tsx
  packages/cfd/src/Containers/mt5-migration-modal/__test__/mt5-migration-front-side-content.spec.tsx
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-account-icons.tsx
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-front-side-content.tsx
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-modal.scss
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-modal.tsx
Labels: Components

#12628 [DTRA] Maryia/DTRA-563/Default trade type: Turbos or Multipliers if Turbos are unavailable
  packages/shared/src/utils/contract/__tests__/contract.spec.ts
  packages/shared/src/utils/contract/contract.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
Labels: Trader, Shared

#12313 [DTRA] Maryia/WEBREL-25/Test coverage + Refactor: Validator & market-underlying files
  packages/reports/src/Containers/open-positions.tsx
  packages/reports/src/Helpers/market-underlying.ts
  packages/shared/src/utils/helpers/__tests__/market-underlying.spec.ts
  packages/shared/src/utils/helpers/market-underlying.ts
  packages/shared/src/utils/string/string_util.ts
  packages/shared/src/utils/validation/declarative-validation-rules.ts
  packages/shared/src/utils/validator/__tests__/validator.spec.js
  packages/shared/src/utils/validator/__tests__/validator.spec.ts
  packages/shared/src/utils/validator/validator.ts
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.tsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.tsx
  packages/trader/src/Stores/Modules/Trading/Constants/__tests__/validation-rules.spec.ts
  packages/trader/src/Stores/Modules/Trading/Constants/validation-rules.ts
  packages/trader/src/Stores/base-store.ts
  packages/trader/src/Utils/Helpers/market-underlying.ts
  packages/trader/src/Utils/Validator/index.ts
  packages/trader/src/Utils/Validator/validator.ts
Labels: Trader, Shared

#12738 [TRAH] Hamza / TRAH-2615 /Added Carousel component
  packages/tradershub/src/features/cfd/components/CompareAccountsCarousel/CompareAccountsCarousel.tsx
  packages/tradershub/src/features/cfd/components/CompareAccountsCarousel/CompareAccountsCarouselButton.tsx
  packages/tradershub/src/features/cfd/components/CompareAccountsCarousel/index.ts
Labels: Trader's Hub

#12715 thisyahlen/TRAH-2563/chore: sent email content
  packages/tradershub/src/components/SentEmailContent/SentEmailContent.tsx
  packages/tradershub/src/components/SentEmailContent/index.ts
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/public/images/change-password-email.svg
  packages/tradershub/src/utils/cfd.ts
  packages/wallets/src/components/SentEmailContent/SentEmailContent.tsx
Labels: Trader's Hub

#12499 [COJ] WALL-2735 / CRS confirmation on real account creation
  packages/account/src/Components/forms/__tests__/personal-details-form.spec.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Configs/personal-details-config.ts
  packages/cfd/src/Components/__tests__/cfd-personal-details-form.spec.js
  packages/cfd/src/Components/cfd-personal-details-form.tsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Labels: Core, Account

#12635 [TRAH] Aizad/TRAH-2268/DemoRealAccountSwitcher
  packages/api/src/hooks/useTradingAccountsList.ts
  packages/tradershub/package.json
  packages/tradershub/src/components/DemoRealSwitcher/DemoRealSwitcher.tsx
  packages/tradershub/src/components/DemoRealSwitcher/index.ts
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Labels: Trader's Hub

#12387 [P2PS] / P2PS-981 Ameerul / Add a Title for the Currency Dropdown Box on the Buy/Sell Screen.
  packages/p2p/src/pages/buy-sell/currency-dropdown.jsx
Labels: P2P

#12749 [BOT] Farabi/webrel-1868/quick strategy content
  packages/bot-web-ui/src/components/quick-strategy/descriptions/reverse_dalembert.ts
  packages/bot-web-ui/src/components/quick-strategy/descriptions/strategy_1_3_2_6.ts
Labels: Bot

#12762 thisyahlen/TRAH-2622/chore: switching logic in real demo dropdown
  packages/api/src/hooks/useTotalAssets.ts
  packages/tradershub/src/components/DemoRealSwitcher/DemoRealSwitcher.tsx
Labels: Trader's Hub

#12747 [TRAH] Arshad / TRAH-2617 / DynamicLeverageTableColumnHeader Component to Trader's Hub
  packages/tradershub/src/features/cfd/screens/DynamicLeverage/DynamicLeverageTableColumnHeader.tsx
Labels: Trader's Hub

#12373 [WALL] wojtek/Feature/wall-3075 swiping improvements
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useMobileCarouselWalletsList.ts
  packages/integration/src/index.ts
  packages/wallets/component-tests/mocks/mockWalletsBalances.ts
  packages/wallets/component-tests/mocks/mockWalletsLoggedIn.ts
  packages/wallets/component-tests/wallets-carousel-content.spec.tsx
  packages/wallets/src/components/Base/ProgressBar/ProgressBar.tsx
  packages/wallets/src/components/Base/ProgressBar/__tests__/ProgressBar.spec.tsx
  packages/wallets/src/components/Base/WalletClipboard/WalletClipboard.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/components/WithdrawalCryptoDestinationAddress/WithdrawalCryptoDestinationAddress.tsx
Labels: Components

#12772 [BOT]/Maryia/WEBREL-1870/fix: Responsive/ On Quick strategy modal, the dropdown in overlapping with the text
  packages/bot-web-ui/src/components/quick-strategy/quick-strategy.scss
Labels: Bot

#12778 [COJ]/likhith/COJ-240/feat: swapped uploader and common mistakes section
  packages/account/src/Components/file-uploader-container/file-uploader-container.tsx
Labels: Account

#12739 [TRAH]/mahdiyeh/TRAH-2616/fix: changed cfd loss for EU desclaimer
  packages/appstore/src/components/eu-disclaimer/eu-disclaimer.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
Labels: AppStore

#12799 Ako/ remove datadog session replay
  packages/core/src/Utils/Datadog/index.ts
Labels: Core

#12554 [COJ] KYC / lazy load onfido script on demand while verification
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
  packages/core/src/index.html
Labels: Core, Account

#12801 [TRAH] Aizad/TRAH-2621/Responsive view for Tradershub
  packages/tradershub/src/App.tsx
  packages/tradershub/src/AppContent.tsx
  packages/tradershub/src/components/CurrencySwitcher/CurrencySwitcher.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultiplersHeading/OptionsAndMultipliersHeading.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersSection.tsx
  packages/tradershub/src/components/TotalAssets/TotalAssets.tsx
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Labels: Trader's Hub

#12811 fix: loading of onfido script upon component mount
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
Labels: Account

#12768 [COJ]/likhith/fix: used correct prop to display error message
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
Labels: Account

#12693 [TRAH]/mahdiyeh/TRAH-2565/ctrader success modal
  packages/tradershub/src/components/CurrencySwitcher/CurrencySwitcher.tsx
  packages/tradershub/src/components/Modal/Modal.tsx
  packages/tradershub/src/components/Modal/ModalHeader.tsx
  packages/tradershub/src/components/ModalStepWrapper/ModalStepWrapper.scss
  packages/tradershub/src/components/ModalStepWrapper/ModalStepWrapper.tsx
  packages/tradershub/src/components/ModalStepWrapper/index.ts
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/features/cfd/modals/CTraderSuccessModal/CTraderSuccessModal.tsx
  packages/tradershub/src/features/cfd/modals/CTraderSuccessModal/index.ts
  packages/tradershub/src/features/cfd/modals/DxtradePasswordModal/DxtradePasswordModal.tsx
  packages/tradershub/src/features/cfd/modals/MT5AccountTypeModal/MT5AccountTypeModal.tsx
  packages/tradershub/src/features/cfd/modals/index.ts
  packages/tradershub/tailwind.config.js
Labels: Trader's Hub

#12775 thisyahlen/TRAH-2623/chore: add loader for currency switcher cause its showing demo as default
  packages/tradershub/src/components/CurrencySwitcher/CurrencySwitcher.tsx
  packages/tradershub/src/components/Loaders/CurrencySwitcherLoader.tsx
  packages/tradershub/src/components/Loaders/index.ts
Labels: Trader's Hub

#12828 [TRAH] Aizad/ ESLint error in tailwind.config.js inside of Tradershub
  packages/tradershub/.eslintignore
Labels: Trader's Hub

#12824 [WEBREL] Farhan/WEBREL-1875/Unable to signup and create DIEL account
  packages/core/src/App/Components/Layout/Header/toggle-notifications.jsx
  packages/core/src/App/Containers/Layout/header/header.tsx
Labels: Core

#12827 [TRAH] Aizad/TRAH-2627/Currency Switcher Modal for responsive
  packages/tradershub/src/AppContent.tsx
  packages/tradershub/src/components/CurrencySwitcher/CurrencySwitcher.tsx
  packages/tradershub/src/components/Loaders/CurrencySwitcherLoader.tsx
  packages/tradershub/src/components/Modal/Modal.tsx
  packages/tradershub/src/components/Modal/ModalContent.tsx
  packages/tradershub/src/components/TradingAccountsList/TradingAccountsList.tsx
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Labels: Trader's Hub

#12839 [WEBREL] Sergei / WEBREL - 1877 / Console error on regulation tooltip on Trader's Hub page
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal-content.tsx
Labels: AppStore

#12853 [TRAH] Aizad/Cleanup Tradershub Homepage
  packages/tradershub/src/components/CurrencySwitcher/CurrencySwitcher.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultiplersHeading/OptionsAndMultipliersHeading.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersContent/OptionsAndMultipliersContent.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersSection.tsx
  packages/tradershub/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
  packages/tradershub/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/tradershub/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Labels: Trader's Hub

#12832 [DTRA] / Kate / DTRA-718 / Hide launch popup
  packages/trader/src/Assets/SvgComponents/launch/ic-chart-launch-dark.svg
  packages/trader/src/Assets/SvgComponents/launch/ic-chart-launch.svg
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal-info-dark.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal-info.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal-info.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal.scss
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal.tsx
  packages/trader/src/Modules/Trading/Containers/trade.tsx
Labels: Trader

#12017 [DTRA] Maryia/DTRA-540/feat: ArrowIndicator
  packages/components/src/components/arrow-indicator/__tests__/arrow-indicator.spec.tsx
  packages/components/src/components/arrow-indicator/arrow-indicator.tsx
  packages/components/src/components/arrow-indicator/index.ts
  packages/components/src/components/contract-card/contract-card-items/__tests__/accumulator-card-body.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/__tests__/contract-update-form.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/__tests__/multiplier-card-body.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/__tests__/vanilla-options-card-body.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/accumulator-card-body.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-update-form.tsx
  packages/components/src/components/contract-card/contract-card-items/multiplier-card-body.jsx
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.tsx
  packages/components/src/components/contract-card/contract-card-items/turbos-card-body.tsx
  packages/components/src/components/contract-card/contract-card-items/vanilla-options-card-body.tsx
  packages/components/src/components/contract-card/contract-card.scss
  packages/components/src/components/positions-drawer-card/positions-drawer-card.tsx
  packages/components/src/index.ts
  packages/core/src/Stores/contract-replay-store.js
  packages/reports/src/Components/indicative-cell.tsx
  packages/reports/src/Constants/data-table-constants.tsx
  packages/reports/src/Containers/open-positions.tsx
  packages/stores/types.ts
  packages/trader/src/App/Components/Elements/ContractDrawer/__tests__/contract-drawer-card.spec.tsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.tsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.tsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.tsx
  packages/trader/src/Modules/Contract/Containers/contract-replay.tsx
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/purchase-button.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/purchase-fieldset.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/payout-per-point-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.tsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/__tests__/cancel-deal-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/__tests__/contract-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/value-movement.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/barrier.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/limit-orders.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/proposal.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader, Core, Components

#12698 [DTRA] / Kate / DTRA-677 / Translation issue in Marked closed section
  packages/trader/src/App/Components/Elements/market-countdown-timer.tsx
Labels: Trader

#12795 [FEQ] P2P Advertiser Stats component, mixins for devices, useAdvertiserStats hook
  packages/p2p-v2/package.json
  packages/p2p-v2/src/hooks/index.ts
  packages/p2p-v2/src/hooks/useAdvertiserStats.ts
  packages/p2p-v2/src/index.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileStats/MyProfileStats.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileStats/MyProfileStats.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileStats/MyProfileStatsItem.scss
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileStats/MyProfileStatsItem.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileStats/index.ts
  packages/p2p-v2/src/pages/my-profile/screens/index.ts
  packages/p2p-v2/src/routes/Home/index.tsx
  packages/p2p-v2/styles/devices.scss
Labels: Components

#12678 [BOT} Sandeep/bot-1174/minor UI bug fixing and style refactoring
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/css.js
  packages/bot-skeleton/src/utils/workspace.js
  packages/bot-web-ui/src/components/dashboard/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbar/toolbar.scss
  packages/bot-web-ui/src/components/dashboard/bot-builder/workspace.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/user-guide.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/dashboard-component.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/__tests__/local.spec.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/index.scss
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/local.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/load-bot-preview/recent.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard-component/user-guide.tsx
  packages/bot-web-ui/src/components/dashboard/dashboard.scss
  packages/bot-web-ui/src/components/dashboard/dbot-tours/bot-builder-tour/bot-builder-tour-mobile.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/faq-content/index.tsx
  packages/bot-web-ui/src/components/load-modal/__tests__/recent.spec.tsx
  packages/bot-web-ui/src/components/load-modal/load-modal.scss
  packages/bot-web-ui/src/components/load-modal/recent-workspace.tsx
  packages/bot-web-ui/src/components/load-modal/recent.tsx
  packages/bot-web-ui/src/components/quick-strategy/inputs/qs-input.tsx
  packages/bot-web-ui/src/constants/bot-contents.ts
  packages/bot-web-ui/src/stores/toolbar-store.ts
Labels: Bot

#12871 Thisyahlen/trah 2642/eu screen deriv platform section
  packages/api/src/hooks/useIsEuRegion.ts
  packages/tradershub/src/components/Loaders/CurrencySwitcherLoader/CurrencySwitcherLoader.tsx
  packages/tradershub/src/components/Loaders/CurrencySwitcherLoader/index.ts
  packages/tradershub/src/components/Loaders/TitleDescriptionLoader/TitleDescriptionLoader.tsx
  packages/tradershub/src/components/Loaders/TitleDescriptionLoader/index.ts
  packages/tradershub/src/components/Loaders/index.ts
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultiplersHeading/OptionsAndMultipliersHeading.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersContent/OptionsAndMultipliersContent.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersHeading/OptionsAndMultipliersHeading.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersHeading/index.ts
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersSection.tsx
  packages/tradershub/src/constants/constants.tsx
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Labels: Trader's Hub

#12875 [TRAH] Aizad/TRAH-2638/EU Tab Switcher Responsive
  packages/tradershub/src/components/RegulationSwitcher/RegulationSwitcherMobile.tsx
  packages/tradershub/src/components/RegulationSwitcher/index.ts
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Labels: Trader's Hub

#12807 [TRAH] shontzu/TRAH-2576/MT5PlatformList-2
  packages/tradershub/src/features/cfd/components/CTraderList/CTraderList.tsx
  packages/tradershub/src/features/cfd/components/MT5PlatformsList/MT5PlatformsList.tsx
  packages/tradershub/src/features/cfd/components/MT5PlatformsList/index.ts
  packages/tradershub/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/tradershub/src/features/cfd/screens/GetMoreMT5Accounts/GetMoreMT5Accounts.tsx
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Labels: Trader's Hub

#12793 [TRAH] Sergei / TRAH-2591 / MT5 Trade Screen
  packages/library/src/providers/CFDProvider/CFDProvider.tsx
  packages/tradershub/src/App.tsx
  packages/tradershub/src/components/Clipboard/Clipboard.tsx
  packages/tradershub/src/components/Modal/Modal.tsx
  packages/tradershub/src/features/cfd/constants.tsx
  packages/tradershub/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.tsx
  packages/tradershub/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/tradershub/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
  packages/tradershub/src/features/cfd/modals/TradeModal/TradeModal.tsx
  packages/tradershub/src/features/cfd/modals/TradeModal/index.ts
  packages/tradershub/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.tsx
  packages/tradershub/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.tsx
  packages/tradershub/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
  packages/tradershub/src/features/cfd/screens/MT5TradeScreen/index.ts
  packages/tradershub/src/public/images/ic-important.svg
  packages/tradershub/src/public/images/ic-installation-apple.svg
  packages/tradershub/src/public/images/ic-installation-google.svg
  packages/tradershub/src/public/images/ic-installation-huawei.svg
Labels: Trader's Hub

#12883 [COJ]Likhith/coj-359/manage occupation field drop down
  packages/account/src/Components/financial-details/__tests__/financial-details.spec.tsx
  packages/account/src/Components/financial-details/financial-details-partials.tsx
  packages/account/src/Components/financial-details/financial-details.tsx
  packages/account/src/Configs/financial-details-config.ts
  packages/account/src/Constants/financial-details.ts
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
  packages/account/src/Types/common.type.ts
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/shared/src/utils/constants/signup_fields.ts
  packages/shared/src/utils/types.ts
  packages/shared/src/utils/validation/__tests__/form-validation.spec.ts
  packages/shared/src/utils/validation/form-validations.ts
  packages/stores/types.ts
Labels: Core, Shared, Account

#10694 Ameerul / P2P-1735 / Refactor routes components
  packages/p2p/package.json
  packages/p2p/src/components/routes/__tests__/binary-routes.spec.tsx
  packages/p2p/src/components/routes/__tests__/error-component.spec.tsx
  packages/p2p/src/components/routes/__tests__/routes-with-sub-routes.spec.tsx
  packages/p2p/src/components/routes/__tests__/routes.spec.tsx
  packages/p2p/src/components/routes/binary-routes.tsx
  packages/p2p/src/components/routes/error-component.tsx
  packages/p2p/src/components/routes/index.ts
  packages/p2p/src/components/routes/route-with-sub-routes.tsx
  packages/p2p/src/components/routes/routes.tsx
  packages/p2p/src/constants/routes-config.ts
  packages/p2p/src/pages/app.jsx
  packages/p2p/src/types/index.ts
  packages/p2p/src/types/routes.types.ts
Labels: P2P

#12890 Suisin/chore: add deriv.dev into isDomainAllowed
  packages/shared/src/utils/brand/brand.ts
Labels: Shared

#12610 [COJ]/account-v2/Likhith/feq-1107/create timeline component
  packages/account-v2/.eslintignore
  packages/account-v2/.eslintrc.js
  packages/account-v2/src/App.tsx
  packages/account-v2/src/components/form-progress/form-progress.classnames.ts
  packages/account-v2/src/components/form-progress/index.tsx
  packages/account-v2/src/components/form-progress/step-connector.tsx
  packages/account-v2/src/components/form-progress/stepper.tsx
  packages/account-v2/src/mocks/form-progress.mock.ts
  packages/account-v2/tailwind.config.ts
Labels: Core, Components, Account

#12895 thisyahlen/TRAH-2263/chore: regulation switcher logic switch in desktop
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useDerivAccountsList.ts
  packages/api/src/hooks/useIsDIELEnabled.ts
  packages/api/src/hooks/useIsEuRegion.ts
  packages/tradershub/src/components/RegulationSwitcher/RegulationSwitcherDesktop.tsx
  packages/tradershub/src/components/RegulationSwitcher/index.ts
  packages/tradershub/src/components/TradingAccountsList/TradingAccountsList.tsx
  packages/tradershub/src/constants/constants.tsx
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Labels: Trader's Hub

#12892 [TRAH] Aizad/TRAH-2640/Responsive Tradershub View for CFD Section
  packages/account-v2/src/App.tsx
  packages/tradershub/src/components/CFDSection/CFDContent/CFDContent.tsx
  packages/tradershub/src/components/CFDSection/CFDContent/index.ts
  packages/tradershub/src/components/CFDSection/CFDHeading/CFDHeading.tsx
  packages/tradershub/src/components/CFDSection/CFDHeading/index.ts
  packages/tradershub/src/components/CFDSection/CFDSection.tsx
  packages/tradershub/src/components/CFDSection/index.ts
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/features/cfd/components/CFDPlatformLayout/CFDPlatformLayout.tsx
  packages/tradershub/src/features/cfd/components/CFDPlatformLayout/index.ts
  packages/tradershub/src/features/cfd/components/CTraderList/CTraderList.tsx
  packages/tradershub/src/features/cfd/components/MT5PlatformsList/MT5PlatformsList.tsx
  packages/tradershub/src/features/cfd/components/OtherCFDPlatformsList/OtherCFDPlatformsList.tsx
  packages/tradershub/src/features/cfd/components/index.ts
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Labels: Trader's Hub

#12894 [TRAH] Hamza/TRAH-2564/ compare accounts button component
  packages/tradershub/src/features/cfd/components/DummyComponent/DummyComponent.tsx
  packages/tradershub/src/features/cfd/components/DummyComponent/index.ts
  packages/tradershub/src/features/cfd/constants.tsx
  packages/tradershub/src/features/cfd/screens/CFDCompareAccounts/CompareAccountsButton.tsx
Labels: Trader's Hub

#12856 [COJ] likhith / COJ-462 / fix: CSS for POI and POA status
  packages/account/src/Components/poa/status/expired/__tests__/expired.spec.tsx
  packages/account/src/Components/poa/status/expired/expired.tsx
  packages/account/src/Styles/account.scss
  packages/core/src/sass/app/_common/components/account-common.scss
Labels: Core, Account

#12872 [COJ]: Amina/COJ-311/mt5_migration_banner_improvement
  packages/appstore/src/assets/svgs/banner/migrate-card-dark.svg
  packages/appstore/src/assets/svgs/banner/migrate-card.svg
  packages/appstore/src/assets/svgs/banner/migrate-desktop.svg
  packages/appstore/src/assets/svgs/banner/migrate-mobile.svg
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/migration-banner/__test__/migration-banner.spec.tsx
  packages/appstore/src/components/migration-banner/index.ts
  packages/appstore/src/components/migration-banner/migration-banner-image.tsx
  packages/appstore/src/components/migration-banner/migration-banner.scss
  packages/appstore/src/components/migration-banner/migration-banner.tsx
  packages/appstore/src/components/traders-hub-banner/index.ts
  packages/appstore/src/components/traders-hub-banner/migration-banner.tsx
  packages/appstore/src/components/traders-hub-banner/traders-hub-banner-image.tsx
  packages/appstore/src/components/traders-hub-banner/traders-hub-banner.scss
  packages/appstore/src/components/traders-hub-banner/traders-hub-banner.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
Labels: AppStore

#12870 [DTRA] Farhan/DTRA-727/Cannot read properties of undefined (reading 'key')
  packages/core/src/Stores/notification-store.js
Labels: Core

#12901 [WEBREL-1889]/likhith/fix: add required prop
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
Labels: Account

#12681 [P2PS] / Ameerul P2PS-1961 / Uniform Avatar Color Scheme
  packages/p2p/src/components/online-status/online-status-avatar.tsx
  packages/p2p/src/components/user/user-avatar/user-avatar.scss
  packages/p2p/src/components/user/user-avatar/user-avatar.tsx
  packages/p2p/src/utils/string.ts
Labels: P2P

#12915 thisyahlen/TRAH-2664/chore: swap the order of cfd and deriv platform section and hide ctrader and derivx for eu
  packages/tradershub/src/components/CFDSection/CFDContent/CFDContent.tsx
  packages/tradershub/src/components/TradersHubContent/TradersHubContent.tsx
  packages/tradershub/src/components/TradersHubContent/index.ts
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Labels: Trader's Hub

#12899 [TRAH] Aizad/TRAH-2651/Trading App Card improvements
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersContent/OptionsAndMultipliersContent.tsx
  packages/tradershub/src/components/TradingAccountCard/TradingAccountCardComponent.tsx
  packages/tradershub/src/components/TradingAccountCard/index.ts
  packages/tradershub/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
  packages/tradershub/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/tradershub/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
Labels: Trader's Hub

#12736 [BOT] Farabi/bot-997/search functionality for strategy description
  packages/bot-web-ui/src/components/dashboard/dashboard-component/__tests__/user-guide.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/config/index.ts
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/guide-content/__tests__/guide-content.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/index.scss
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/quick-strategy-content/__tests__/quick-strategy-guide.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/quick-strategy-content/__tests__/quick-strategy-guides-details.spec.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/quick-strategy-content/quick-strategy-guides-details.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/quick-strategy-content/quick-strategy-guides.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorial-tab.tsx
  packages/bot-web-ui/src/components/dashboard/tutorial-tab/tutorials-tab-mobile.tsx
  packages/bot-web-ui/src/components/quick-strategy/config.ts
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#11751 [COJ]likhith/[COJ-210]/fix: changed condition for POA trigger based on jurisdiction
  packages/cfd/src/Containers/__tests__/cfd-financial-stp-real-account-signup.spec.js
  packages/cfd/src/Containers/cfd-dbvi-onboarding.tsx
  packages/cfd/src/Containers/cfd-financial-stp-real-account-signup.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
  packages/hooks/src/useIsAccountStatusPresent.ts
  packages/shared/src/utils/cfd/cfd.ts
Labels: Shared

#12332 Suisin/chore: add polish language to deriv-app
  packages/appstore/src/modules/onboarding/onboarding.scss
  packages/translations/src/i18next/i18next.ts
Labels: Translations, AppStore

#12073 [WALL] Sergei / wall - 3029/ Dropdown should hide
  packages/core/src/App/Components/Layout/Header/wallets/account-info-wallets.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-item.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet.tsx
  packages/stores/types.ts
Labels: Core

#12930 [COJ]/likhith/WEBREL-1894/fix: poa trigger issue
  packages/cfd/src/Containers/__tests__/cfd-financial-stp-real-account-signup.spec.js
  packages/cfd/src/features/Containers/__tests__/real-account-signup-verifications.spec.js
  packages/shared/src/utils/cfd/cfd.ts
Labels: Shared

#12912 [TRAH] Sergei / TRAH - 2625 / Improve MT5 components to be useful for other platforms
  packages/tradershub/src/features/cfd/modals/TradeModal/TradeModal.tsx
  packages/tradershub/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/index.ts
  packages/tradershub/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/index.ts
  packages/tradershub/src/features/cfd/screens/MT5TradeScreen/index.ts
  packages/tradershub/src/features/cfd/screens/TradeScreen/TradeDetailsItem/TradeDetailsItem.tsx
  packages/tradershub/src/features/cfd/screens/TradeScreen/TradeDetailsItem/index.ts
  packages/tradershub/src/features/cfd/screens/TradeScreen/TradeLink/TradeLink.tsx
  packages/tradershub/src/features/cfd/screens/TradeScreen/TradeLink/index.ts
  packages/tradershub/src/features/cfd/screens/TradeScreen/TradeScreen.tsx
  packages/tradershub/src/features/cfd/screens/TradeScreen/index.ts
Labels: Trader's Hub

#12764 [DTRA] henry/dtra-675/fix: remove tick history subscribe and show chart when market is closed
  packages/core/src/_common/base/socket_base.js
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core

#12938 thisyahlen/chore: show proper mt5 account for available in eu side
  packages/api/src/hooks/useSortedMT5Accounts.ts
  packages/tradershub/src/features/cfd/constants.tsx
  packages/tradershub/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/tradershub/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/tradershub/src/features/cfd/flows/MT5/MT5AccountIcon.tsx
  packages/tradershub/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionFootNoteTitle/JurisdictionFootNoteTitle.tsx
  packages/tradershub/src/features/cfd/screens/TradeScreen/TradeScreen.tsx
  packages/tradershub/src/public/images/cfd/eu-mt5-financial.svg
Labels: Trader's Hub

#12936 [TRAH] Aizad/ TRAH-2264/ EU disclaimer banner
  packages/tradershub/src/AppContent.tsx
  packages/tradershub/src/components/CFDSection/CFDContent/CFDContent.tsx
  packages/tradershub/src/components/CFDSection/CFDHeading/CFDHeading.tsx
  packages/tradershub/src/components/EUDisclaimerMessage/EUDisclaimerMessage.tsx
  packages/tradershub/src/components/EUDisclaimerMessage/index.ts
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/routes/Router.tsx
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
  packages/tradershub/tailwind.config.js
Labels: Trader's Hub

#12951 [BOT] test: test for search-box.tsx
  packages/bot-web-ui/src/components/dashboard/bot-builder/toolbox/__tests__/search-box.spec.tsx
Labels: Bot

#12970 [BOT] test: update the folder structure for search-box test
  packages/bot-web-ui/src/pages/bot-builder/toolbox/__tests__/search-box.spec.tsx
Labels: Bot

#12687 [P2PS] / Ameerul / P2PS-2044 Disclaimer for Mandatory POT
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal-error/buy-sell-modal-error.scss
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal-error/buy-sell-modal-error.tsx
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/__tests__/order-details-confirm-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/order-details-confirm-modal.scss
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/order-details-confirm-modal.tsx
  packages/p2p/src/components/order-details/order-details.jsx
  packages/p2p/src/components/order-details/order-details.scss
  packages/p2p/src/components/temporarily-barred-hint/temporarily-barred-hint.scss
  packages/p2p/src/components/temporarily-barred-hint/temporarily-barred-hint.tsx
  packages/p2p/src/pages/buy-sell/buy-sell-form.jsx
  packages/p2p/src/pages/buy-sell/buy-sell-form.scss
  packages/p2p/src/types/file.types.ts
  packages/p2p/src/types/index.ts
  packages/p2p/src/utils/__tests__/responsive.spec.ts
  packages/p2p/src/utils/responsive.ts
Labels: P2P

#12977 [BOT] fix: test google drive issue
  packages/bot-web-ui/src/stores/google-drive-store.js
Labels: Bot

#12981 Revert "[BOT] fix: test google drive issue"
  packages/bot-web-ui/src/stores/google-drive-store.js
Labels: Bot

#12987 thisyahlen/TRAH-2674/chore: show ctrader success modal after creating ctrader account
  packages/tradershub/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
Labels: Trader's Hub

#11339 [WALL] Suisin/wall1813/personal details migration
  packages/account/package.json
  packages/account/src/Components/additional-kyc-info-modal/form-config.tsx
  packages/account/src/Components/forms/form-select-field.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/input-group.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details-form.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details.spec.js
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/validation.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/constants.ts
  packages/account/src/Sections/Profile/PersonalDetails/index.js
  packages/account/src/Sections/Profile/PersonalDetails/index.ts
  packages/account/src/Sections/Profile/PersonalDetails/input-group.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details.jsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/account/src/Types/common.type.ts
  packages/api/src/hooks/useStatesList.ts
  packages/components/src/components/date-picker/date-picker-input.tsx
  packages/core/src/App/Components/Elements/Errors/error-component.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/integration/src/mocks/auth/getSettings.ts
  packages/shared/src/utils/location/location.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Shared, Components, Account

#12969 Thisyahlen/TRAH-2672/UI provider for eu and non eu states
  packages/api/src/hooks/useIsEuRegion.ts
  packages/api/src/hooks/useSortedMT5Accounts.ts
  packages/tradershub/src/App.tsx
  packages/tradershub/src/AppContent.tsx
  packages/tradershub/src/components/CFDSection/CFDContent/CFDContent.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersContent/OptionsAndMultipliersContent.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersHeading/OptionsAndMultipliersHeading.tsx
  packages/tradershub/src/components/RegulationSwitcher/RegulationSwitcherDesktop.tsx
  packages/tradershub/src/components/TradersHubContent/TradersHubContent.tsx
  packages/tradershub/src/components/TradingAccountsList/TradingAccountsList.tsx
  packages/tradershub/src/components/UIProvider/UIProvider.tsx
  packages/tradershub/src/components/UIProvider/index.ts
  packages/tradershub/src/components/index.ts
  packages/tradershub/src/constants/constants.tsx
  packages/tradershub/src/features/cfd/components/MT5PlatformsList/MT5PlatformsList.tsx
  packages/tradershub/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/tradershub/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/tradershub/src/features/cfd/flows/MT5/MT5AccountIcon.tsx
  packages/tradershub/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
  packages/tradershub/src/features/cfd/screens/TradeScreen/TradeScreen.tsx
  packages/tradershub/src/hooks/useRegulationFlags.ts
Labels: Trader's Hub

#12887 Arshad / TRAH-2646 / Jurisdiction Screen Component in Traders hub
  packages/tradershub/src/features/cfd/constants.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.classnames.ts
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardBack.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardRow.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardTag.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardVerificationTag.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/index.ts
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionFootNoteTitle/JurisdictionFootNoteTitle.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionScreen.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/index.ts
  packages/tradershub/tailwind.config.js
Labels: Trader's Hub

#12996 thisyahlen/chore: use text from deriv-com/ui
  packages/tradershub/package.json
  packages/tradershub/src/components/RegulationSwitcher/RegulationSwitcherDesktop.tsx
Labels: Trader's Hub

#12979 [COJ]/likhith/coj-531/fix fianncial assessment form submission
  packages/account/src/Sections/Assessment/FinancialAssessment/__tests__/financial-assessment.spec.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
Labels: Account

#12904 [BOT] Farabi/bot-1244/fix--dbot-ui-bugs
  packages/bot-web-ui/src/constants/quick-strategies/martingale.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/pages/tutorials/constants.ts
  packages/bot-web-ui/src/pages/tutorials/faq-content/index.tsx
  packages/bot-web-ui/src/pages/tutorials/guide-content/index.tsx
  packages/bot-web-ui/src/pages/tutorials/quick-strategy-content/__tests__/quick-strategy-guide.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/quick-strategy-content/index.scss
  packages/bot-web-ui/src/pages/tutorials/quick-strategy-content/quick-strategy-guides-details.tsx
  packages/bot-web-ui/src/pages/tutorials/quick-strategy-content/quick-strategy-guides.tsx
  packages/bot-web-ui/src/pages/tutorials/tutorials.scss
  packages/bot-web-ui/src/pages/tutorials/tutorials.types.ts
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#12946 [TRAH]/2663/Mahdiyeh: Fix: eu disclaimer for french
  packages/appstore/src/components/eu-disclaimer/eu-disclaimer.scss
  packages/appstore/src/modules/traders-hub/traders-hub.scss
Labels: AppStore

#12888 Arshad / TRAH-2647 / Jurisdiction modal component
  packages/library/src/providers/CFDProvider/CFDProvider.tsx
  packages/tradershub/src/components/Modal/Modal.classnames.ts
  packages/tradershub/src/components/Modal/Modal.tsx
  packages/tradershub/src/components/Modal/ModalContent.tsx
  packages/tradershub/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/tradershub/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/tradershub/src/features/cfd/modals/JurisdictionModal/index.ts
  packages/tradershub/src/features/cfd/screens/DynamicLeverage/DynamicLeverageScreen.tsx
  packages/tradershub/src/features/cfd/screens/DynamicLeverage/DynamicLeverageTitle.tsx
  packages/tradershub/src/features/cfd/screens/DynamicLeverage/index.ts
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardBack.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardTag.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionScreen.tsx
  packages/tradershub/tailwind.config.js
Labels: Trader's Hub

#12960 [Bot] fix: handle error for AuthorizationRequired
  packages/bot-skeleton/src/services/api/api-base.js
Labels: Bot

#13011 Ako/ to disable whatsapp icon from footer
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
Labels: Core

#12465 [P2PS] / Ameerul P2PS-2147 / Refactor BuySellTable Component
  packages/hooks/src/useP2PAdvertList.ts
  packages/p2p/src/pages/buy-sell/buy-sell-table.jsx
Labels: P2P

#13024 thisyahlen/TRAH-2680/fix: mt5 account type screen not showing in modal
  packages/library/src/providers/CFDProvider/CFDProvider.tsx
  packages/tradershub/src/features/cfd/screens/MT5AccountType/MT5AccountType.tsx
Labels: Trader's Hub

#13026 Ako/ enable back the wa icon
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
Labels: Core

#13032 chore: update validation errors and regex
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Labels: Account

#13027 [TRAH]/Hamza/trah 2673/compare accounts screen
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/shared/src/utils/routes/routes.ts
  packages/tradershub/src/components/CFDSection/CFDHeading/CFDHeading.tsx
  packages/tradershub/src/features/cfd/components/CompareAccountsCarousel/CompareAccountsCarousel.tsx
  packages/tradershub/src/features/cfd/components/CompareAccountsCarousel/CompareAccountsCarouselButton.tsx
  packages/tradershub/src/features/cfd/screens/CFDCompareAccounts/CompareAccountsCard.tsx
  packages/tradershub/src/features/cfd/screens/CFDCompareAccounts/CompareAccountsScreen.tsx
  packages/tradershub/src/routes/Router.tsx
Labels: Core, Shared, Trader's Hub

#13023 thisyahlen/chore: fix mt5 created accounts for demo and real
  packages/api/src/hooks/useSortedMT5Accounts.ts
Labels: Trader's Hub

#13031 fix: debug gdrive response
  packages/bot-web-ui/src/stores/google-drive-store.js
Labels: Bot

#13041 update with latest master
  .github/workflows/release_uat.yml
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/api/src/hooks/useSortedMT5Accounts.ts
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
  packages/p2p/src/translations/it.json
  packages/shared/src/utils/routes/routes.ts
  packages/tradershub/src/components/CFDSection/CFDHeading/CFDHeading.tsx
  packages/tradershub/src/features/cfd/components/CompareAccountsCarousel/CompareAccountsCarousel.tsx
  packages/tradershub/src/features/cfd/components/CompareAccountsCarousel/CompareAccountsCarouselButton.tsx
  packages/tradershub/src/features/cfd/screens/CFDCompareAccounts/CompareAccountsCard.tsx
  packages/tradershub/src/features/cfd/screens/CFDCompareAccounts/CompareAccountsScreen.tsx
  packages/tradershub/src/routes/Router.tsx
  packages/translations/src/translations/es.json
  packages/translations/src/translations/pl.json
  packages/translations/src/translations/pt.json
  packages/translations/src/translations/ru.json
  packages/translations/src/translations/sw.json
  packages/translations/src/translations/tr.json
  packages/translations/src/translations/vi.json
  packages/translations/src/translations/zh_cn.json
  packages/translations/src/translations/zh_tw.json
Labels: Core, Shared, Translations, P2P, Account

#13037 Suisin/chore: update validation check from object to function
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Labels: Account

#13047 [trah]thisyahlen/fix: undefined category in mt5 financial jurisdiction modal
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
Labels: Trader's Hub

#13048 [trah]thisyahlen/chore: only show malta jurisdiction in the modal for eu and filter out malta jurisdiction for non-eu
  packages/tradershub/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
  packages/tradershub/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-contents.ts
Labels: Trader's Hub

#13046 thisyahlen/chore: update regulation edge cases if one of regulations does not have an account
  packages/tradershub/src/AppContent.tsx
  packages/tradershub/src/components/CFDSection/CFDSection.tsx
  packages/tradershub/src/components/CurrencySwitcher/CurrencySwitcher.tsx
  packages/tradershub/src/components/DemoRealSwitcher/DemoRealSwitcher.tsx
  packages/tradershub/src/components/Modal/ModalHeader.tsx
  packages/tradershub/src/components/RegulationSwitcher/RegulationSwitcherDesktop.tsx
  packages/tradershub/src/components/UIProvider/UIProvider.tsx
  packages/tradershub/src/hooks/useRegulationFlags.ts
  packages/tradershub/src/routes/TradersHubRoute/TradersHubRoute.tsx
Labels: Trader's Hub

#13056 thisyahlen/TRAH-2684/fix: mt5 get more button not launching jurisdicton modal and cfd maltainvest
  packages/api/src/hooks/useSortedMT5Accounts.ts
  packages/tradershub/src/features/cfd/components/MT5PlatformsList/MT5PlatformsList.tsx
  packages/tradershub/src/features/cfd/modals/MT5AccountTypeModal/MT5AccountTypeModal.tsx
Labels: Trader's Hub

#12924 [P2PS] / Ameerul / P2PS-2084 Improvise Deriv P2P Available Balance Information
  packages/p2p/src/components/modal-manager/modals/my-profile-balance-modal/__tests__/my-profile-balance-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/my-profile-balance-modal/my-profile-balance-modal.scss
  packages/p2p/src/components/modal-manager/modals/my-profile-balance-modal/my-profile-balance-modal.tsx
Labels: P2P

#13053 [CRO] Amir/Add growthbook toggle feature using env var
  packages/core/build/constants.js
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/app.jsx
Labels: Core

#13065 [Account-v2] Shaheer / FEQ-1138 / Adds routing to account-v2 package
  packages/account-v2/package.json
  packages/account-v2/src/App.tsx
  packages/account-v2/src/router/components/dummy-route/dummy-route.tsx
  packages/account-v2/src/router/components/route-links/route-links.tsx
  packages/account-v2/src/router/constants/routesConfig.tsx
  packages/core/src/App/Constants/routes-config.js
Labels: Core

#13038 [COJ]/likhith/COJ-563/fix poa pending error on MT5
  packages/shared/src/utils/cfd/cfd.ts
Labels: Shared

#11906 [WALL] Aizad/WALL-2807/Create Reset Password Popup and Success Popup
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.scss
  packages/wallets/src/components/Base/Tabs/TabTitle.tsx
  packages/wallets/src/components/Base/Tabs/Tabs.tsx
  packages/wallets/src/components/SentEmailContent/SentEmailContent.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletSuccessResetMT5Password.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.scss
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
  packages/wallets/src/components/WalletsResetMT5Password/index.ts
  packages/wallets/src/components/index.ts
  packages/wallets/src/features/cfd/ResetMT5PasswordHandler.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordInputsScreen.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordScreens.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/MT5ChangePasswordScreens.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/TradingPlatformChangePasswordScreens.tsx
  packages/wallets/src/public/images/mt5-success-password-reset.svg
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
  packages/wallets/src/routes/WalletsListingRoute/__tests__/WalletsListingRoute.spec.tsx
Labels: Core, Components

#12541 [DTRA] Henry/webrel 74/refactor test coverage form trade params duration
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/advanced-duration.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/duration-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/duration-numbers-widget-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/duration-ticks-widget-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/duration-toggle.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/duration-utils.spec.ts
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/duration.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/advanced-duration.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-numbers-widget-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-ticks-widget-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-utils.ts
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-wrapper.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration.tsx
Labels: Trader

#12761 [DTRA] / Kate / DTRA-680 / Add popup for "Turbos" launch
  packages/core/src/index.html
  packages/core/src/sass/app/_common/layout/modal-root.scss
  packages/trader/src/App/Components/Elements/LaunchModal/__tests__/launch-modal-button.spec.tsx
  packages/trader/src/App/Components/Elements/LaunchModal/__tests__/launch-modal-info.spec.tsx
  packages/trader/src/App/Components/Elements/LaunchModal/__tests__/launch-modal.spec.tsx
  packages/trader/src/App/Components/Elements/LaunchModal/index.ts
  packages/trader/src/App/Components/Elements/LaunchModal/launch-modal-button.tsx
  packages/trader/src/App/Components/Elements/LaunchModal/launch-modal-info.tsx
  packages/trader/src/App/Components/Elements/LaunchModal/launch-modal.scss
  packages/trader/src/App/Components/Elements/LaunchModal/launch-modal.tsx
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-turbos.svg
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal-continue-button.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/__tests__/launch-modal-info.spec.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal-continue-button.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal-info.tsx
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal.scss
  packages/trader/src/Modules/SmartChartBeta/Components/LaunchModal/launch-modal.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/contract-type-widget.tsx
  packages/trader/src/Modules/Trading/Containers/trade.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core

#12932 [DTRA] / Kate / DTRA-708/ Arrow logic improvements
  packages/components/src/components/contract-card/contract-card-items/__tests__/accumulator-card-body.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/__tests__/multiplier-card-body.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/__tests__/turbos-card-body.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/__tests__/vanilla-options-card-body.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/accumulator-card-body.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-update-form.tsx
  packages/components/src/components/contract-card/contract-card-items/multiplier-card-body.jsx
  packages/components/src/components/contract-card/contract-card-items/turbos-card-body.tsx
  packages/components/src/components/contract-card/contract-card-items/vanilla-options-card-body.tsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/__tests__/positions-modal-card.spec.tsx
  packages/trader/src/App/Components/Elements/PositionsDrawer/positions-modal-card.tsx
Labels: Trader, Components

#12983 [Bot]fix: added condition to forget history call
  packages/bot-skeleton/src/services/api/ticks_service.js
Labels: Bot

#13058 fix: handle google drive error response
  packages/bot-web-ui/src/stores/google-drive-store.js
Labels: Bot

#13093 [DTRA] / Kate / WEBREL-1919/ Fix: height of the pop-up for PT language
  packages/trader/src/App/Components/Elements/LaunchModal/launch-modal.tsx
Labels: Trader

#12959 [TRAH] Sergei / TRAH - 2656 / Date of Birth field in personal details page is not tappable on Responsive
  packages/components/src/components/date-picker/date-picker.scss
Labels: Components

#13111 [BOT] Farabi/bot-1281/unable to run 1-3-2-6 strategy
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/config.ts
Labels: Bot

#12917 [WALL] Farhan/WALL-3309/Multiple p2p order calls causing rate limit
  packages/core/src/App/Components/Layout/Header/toggle-notifications.jsx
  packages/core/src/App/Containers/Routes/routes.jsx
  packages/hooks/src/__tests__/useP2PCompletedOrdersNotification.spec.tsx
  packages/hooks/src/useP2PCompletedOrdersNotification.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#12591 feat: added error config for duplicate-doc
  packages/shared/src/utils/constants/poi-failure-codes.tsx
  packages/shared/src/utils/helpers/__tests__/format-response.spec.ts
Labels: Shared

#13150 thisyahlen/TRAH-2685/chore: update edge cases
  packages/tradershub/src/components/CFDSection/CFDHeading/CFDHeading.tsx
  packages/tradershub/src/components/GetDerivAccount/GetDerivAccount.tsx
  packages/tradershub/src/components/GetDerivAccount/index.ts
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersContent/OptionsAndMultipliersContent.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersSection.tsx
  packages/tradershub/src/features/cfd/constants.tsx
  packages/tradershub/src/public/images/options.svg
Labels: Trader's Hub

#12973 Akmal / fix: accumulators growth rate is not being updated after refresh
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/contract-type.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
  packages/trader/src/sass/app/_common/components/number-selector.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader

#13155 thisyahlen/TRAH-2697/chore: update quill icons and use ui for button
  packages/account-v2/package.json
  packages/library/package.json
  packages/tradershub/package.json
  packages/tradershub/src/components/GetDerivAccount/GetDerivAccount.tsx
  packages/tradershub/src/components/OptionsAndMultipliersSection/OptionsAndMultipliersContent/OptionsAndMultipliersContent.tsx
  packages/tradershub/src/components/TradingAccountCard/TradingAccountCardComponent.tsx
  packages/tradershub/src/public/images/options.svg
Labels: Trader's Hub

#12111 [DTRA] Maryia/DTRA-559/feat: feature flag for dtrader re-design
  packages/core/package.json
  packages/core/src/Modules/Endpoint/Endpoint.jsx
  packages/core/src/Modules/Endpoint/Endpoint.scss
  packages/core/src/Modules/Endpoint/FeatureFlagsSection.tsx
  packages/core/src/Modules/Endpoint/__tests__/FeatureFlagsSection.spec.tsx
  packages/core/src/Modules/Endpoint/index.js
  packages/integration/src/utils/mocks/mocks.ts
  packages/reports/package.json
  packages/reports/src/Containers/open-positions.tsx
  packages/reports/src/Containers/profit-table.tsx
  packages/reports/src/Containers/reports.tsx
  packages/reports/src/Containers/statement.tsx
  packages/shared/src/utils/constants/contract.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
  packages/trader/src/Modules/Contract/Containers/contract-replay.tsx
  packages/trader/src/Modules/Trading/Containers/trade.tsx
Labels: Trader, Core, Shared

#13054 [P2PS] / Ameerul / P2PS-2277 Error message for instruction field is overlapping with the textbox
  packages/p2p/src/components/add-payment-method-form/add-payment-method-form.scss
  packages/p2p/src/pages/my-ads/edit-ad-form.scss
  packages/p2p/src/pages/my-profile/payment-methods/edit-payment-method-form/edit-payment-method-form.scss
Labels: P2P

#13075 [TRAH] Sergei / TRAH - 2265 / Regulation table
  packages/tradershub/src/components/RegulationSwitcher/RegulationSwitcherDesktop.tsx
  packages/tradershub/src/components/RegulationSwitcher/RegulationSwitcherMobile.tsx
  packages/tradershub/src/constants/regulators-modal-content.ts
  packages/tradershub/src/modals/RegulationModal/RegulationModal.tsx
  packages/tradershub/src/modals/RegulationModal/Row.tsx
  packages/tradershub/src/modals/RegulationModal/index.ts
  packages/tradershub/src/modals/index.ts
  packages/tradershub/tailwind.config.js
Labels: Trader's Hub

#13166 Suisin/chore: add authorize check to solve issue
  packages/core/src/App/Containers/Modals/app-modals.jsx
Labels: Core

#13090 [ DTRA] Maryia/DTRA-764/ fix: Console warning about invoking a transformer from outside a reactive context
  packages/core/src/Stores/__tests__/portfolio-store.spec.ts
  packages/core/src/Stores/portfolio-store.js
Labels: Core

#12873 Akmal / feat: add ticks high low contract from smarttrader
  packages/core/src/Stores/Constants/markers.js
  packages/core/src/Stores/Helpers/chart-marker-helpers.js
  packages/core/src/Stores/Helpers/chart-markers.js
  packages/reports/src/sass/app/modules/smart-chart.scss
  packages/shared/src/utils/constants/__tests__/contract.spec.ts
  packages/shared/src/utils/constants/contract.ts
  packages/shared/src/utils/contract/__tests__/contract.spec.ts
  packages/shared/src/utils/contract/contract.tsx
  packages/trader/src/App/Components/Elements/ContractAudit/__tests__/contract-details.spec.tsx
  packages/trader/src/App/Components/Elements/ContractAudit/contract-details.tsx
  packages/trader/src/sass/app/_common/components/contract-audit.scss
  packages/trader/src/sass/app/modules/smart-chart.scss
Labels: Trader, Core, Shared

#13088 [CFDS]/ Hamza/notification content for white label
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification-description.tsx
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.scss
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.tsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/notification-store.js
  packages/shared/src/utils/cfd/cfd.ts
Labels: Core, Shared, CFDs

#13184 thisyahlen/fix: use button from ui library and regulation fix
  packages/tradershub/src/components/CurrencySwitcher/CurrencySwitcher.tsx
  packages/tradershub/src/components/RegulationSwitcher/RegulationSwitcherDesktop.tsx
  packages/tradershub/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.tsx
  packages/tradershub/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/tradershub/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
Labels: Trader's Hub

#13129 [COJ]/likhith/COJ-571/Display single error message in POA section
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/components/src/components/hint-box/hint-box.tsx
Labels: Components, Account

#13100 [BOT] Farabi/bot-1252/update dashboard events rudderstack
  packages/bot-web-ui/src/pages/dashboard/analytics/rudderstack-dashboard.ts
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/dashboard/dashboard.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/delete-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/local.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/pages/dashboard/user-guide.tsx
Labels: Bot

#13145 [Bot] feat: added resize functionality to modal in dbot
  packages/bot-web-ui/src/components/draggable/draggable.tsx
  packages/bot-web-ui/src/components/transaction-details/__tests__/transaction-details-desktop.spec.tsx
  packages/bot-web-ui/src/components/transaction-details/desktop-transaction-table.tsx
  packages/bot-web-ui/src/components/transaction-details/transaction-details-desktop.scss
  packages/bot-web-ui/src/components/transaction-details/transaction-details-desktop.tsx
  packages/bot-web-ui/src/pages/chart/chart-modal/chart-modal-desktop.tsx
  packages/bot-web-ui/src/pages/chart/chart-modal/chart-modal.scss
Labels: Bot

#12922 [BOT] chore: add purchase condition value directly under purchase condition…
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot

#13209 Revert "[CFDS]/ Hamza/notification content for white label"
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification-description.tsx
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.scss
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.tsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/notification-store.js
  packages/shared/src/utils/cfd/cfd.ts
Labels: Core, Shared

#13081 [COJ]likhith/COJ-460/fix mt5 account creation flow
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
Labels: Account

#12877 [FEQ] george / FEQ-1201 / Initial Setup - Create a new cashier_v2 package
  .github/workflows/test.yml
  package-lock.json
  packages/cashier-v2/.eslintignore
  packages/cashier-v2/.eslintrc.js
  packages/cashier-v2/babel.config.json
  packages/cashier-v2/build/build-loaders.ts
  packages/cashier-v2/build/build-optimization.ts
  packages/cashier-v2/build/build-resolvers.ts
  packages/cashier-v2/build/build-webpack-config.ts
  packages/cashier-v2/build/types/build-types.ts
  packages/cashier-v2/jest.config.ts
  packages/cashier-v2/package.json
  packages/cashier-v2/postcss.config.js
  packages/cashier-v2/src/App.tsx
  packages/cashier-v2/src/AppContent.tsx
  packages/cashier-v2/src/assets/.gitkeep
  packages/cashier-v2/src/components/.gitkeep
  packages/cashier-v2/src/constants/.gitkeep
  packages/cashier-v2/src/flows/account-transfer/screens/.gitkeep
  packages/cashier-v2/src/flows/deposit/screens/.gitkeep
  packages/cashier-v2/src/flows/onramp/screens/.gitkeep
  packages/cashier-v2/src/flows/payment-agent-transfer/screens/.gitkeep
  packages/cashier-v2/src/flows/payment-agent/screens/.gitkeep
  packages/cashier-v2/src/flows/withdrawal/screens/.gitkeep
  packages/cashier-v2/src/helpers/.gitkeep
  packages/cashier-v2/src/hooks/.gitkeep
  packages/cashier-v2/src/index.scss
  packages/cashier-v2/src/index.tsx
  packages/cashier-v2/src/lib/.gitkeep
  packages/cashier-v2/src/routes/Home/index.tsx
  packages/cashier-v2/src/routes/Router.tsx
  packages/cashier-v2/src/routes/index.ts
  packages/cashier-v2/src/utils/loader/index.ts
  packages/cashier-v2/src/utils/loader/loader.tsx
  packages/cashier-v2/tailwind.config.ts
  packages/cashier-v2/tsconfig.json
  packages/cashier-v2/webpack.config.ts
  packages/cashier/src/containers/routes/binary-routes.tsx
  packages/core/build/config.js
  packages/core/package.json
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/shared/src/utils/routes/routes.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
Labels: Core, Shared
