Repository deriv-com/deriv-app, pull requests merged in 2024-06, with the labels that each got.

#15138 [TRAH]/MITRA/KYC-1852/Update the validation to accept 1 to 50 character
  packages/account-v2/src/utils/personalDetailsUtils.ts
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.jsx
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Helpers/utils.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details-form.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/shared/src/utils/validation/declarative-validation-rules.ts
  packages/tradershub/src/utils/validations/validations.ts
  packages/wallets/src/features/accounts/validations.ts
Labels: Shared, Account

#15452 [P2PS-3015]/Nada/fix: cannot access t before initialization
  packages/components/src/components/search-box/search-box.jsx
Labels: Components

#15325 Hirad/CFDs-3960/Standard accounts
  packages/appstore/src/assets/svgs/trading-platform/branding/ic-branding-standard-dashboard.svg
  packages/appstore/src/assets/svgs/trading-platform/index.tsx
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/appstore/src/components/containers/__tests__/trading-app-card.spec.tsx
  packages/appstore/src/components/modals/open-positions-svg-modal/__test__/open-positions-svg-modal.spec.tsx
  packages/appstore/src/types/common.types.ts
  packages/cashier/src/assets/svgs/trading-platform/ic-appstore-standard.svg
  packages/cashier/src/assets/svgs/trading-platform/index.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/__tests__/account-transfer-form.spec.tsx
  packages/cashier/src/types/account.types.ts
  packages/cfd/src/Assets/banner/migrate-card-dark.svg
  packages/cfd/src/Assets/banner/migrate-card.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-standard.svg
  packages/cfd/src/Assets/svgs/trading-platform/index.tsx
  packages/cfd/src/Components/__tests__/cfd-account-card.spec.tsx
  packages/cfd/src/Components/migration-success-modal/migration-success-modal.tsx
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-bvi-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-labuan-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-svg-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-vanuatu-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction_maltainvest_contents.ts
  packages/cfd/src/Containers/__tests__/cfd-password-manager-modal.spec.js
  packages/cfd/src/Containers/__tests__/cfd-password-modal.spec.js
  packages/cfd/src/Containers/__tests__/cfd-top-up-demo-modal.spec.js
  packages/cfd/src/Containers/__tests__/dmt5-trade-modal.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-title-icon.spec.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-content.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-foot-note.spec.tsx
  packages/cfd/src/Containers/migration-banner/__test__/migration-banner.spec.tsx
  packages/cfd/src/Containers/mt5-migration-modal/__test__/mt5-migration-account-icons.spec.tsx
  packages/cfd/src/Containers/mt5-migration-modal/__test__/mt5-migration-front-side-content.spec.tsx
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-account-icons.tsx
  packages/cfd/src/Helpers/compare-accounts-config.ts
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
  packages/cfd/src/features/Containers/__tests__/top-up-demo-modal.spec.js
  packages/cfd/src/features/Containers/cfd-password-modal/cfd-password-modal.tsx
  packages/cfd/src/features/Containers/cfd-password-modal/icon-type.tsx
  packages/cfd/src/features/Containers/mt5-trade-modal.tsx
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-bvi-financial.svg
  packages/components/src/components/icon/mt5/ic-mt5-bvi-standard.svg
  packages/components/src/components/icon/mt5/ic-mt5-standard-financial-bvi.svg
  packages/components/src/components/icon/mt5/ic-mt5-standard-financial-vanuatu.svg
  packages/components/src/components/icon/mt5/ic-mt5-standard.svg
  packages/components/src/components/icon/mt5/ic-mt5-svg-financial.svg
  packages/components/src/components/icon/mt5/ic-mt5-svg-standard.svg
  packages/components/src/components/icon/mt5/ic-mt5-vanuatu-financial.svg
  packages/components/src/components/icon/mt5/ic-mt5-vanuatu-standard.svg
  packages/core/src/App/Containers/AccountSwitcher/helpers/account-helper.js
  packages/core/src/Constants/cfd-text.js
  packages/shared/src/utils/cfd/available-cfd-accounts.ts
  packages/shared/src/utils/cfd/cfd.ts
  packages/shared/src/utils/constants/jurisdictions-config.ts
Labels: AppStore

#14623 [TRAH]/Mitra/CSIT-774/Real account creation banner
  packages/appstore/src/components/real-account-creation-banner/__tests__/real-account-creation-banner.spec.tsx
  packages/appstore/src/components/real-account-creation-banner/index.tsx
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.scss
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/core/src/public/images/common/static_images/real-account-banner-desktop-dark.png
  packages/core/src/public/images/common/static_images/real-account-banner-desktop-light.png
  packages/core/src/public/images/common/static_images/real-account-banner-mobile-dark.png
  packages/core/src/public/images/common/static_images/real-account-banner-mobile-light.png
Labels: Core, Components, AppStore

#15009 [WALL] shontzu/WALL-4007/update-ui-for-seamless-mt5-mobile-login-integration
  package-lock.json
  packages/account-v2/package.json
  packages/account/package.json
  packages/account/src/Configs/poa-common-mistake-examples-config.tsx
  packages/api-v2/package.json
  packages/api-v2/types.ts
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/p2p/package.json
  packages/trader/package.json
  packages/trader/src/_common/base/server_time.ts
  packages/tradershub/package.json
  packages/wallets/package.json
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.tsx
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5DesktopRedirectOption.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5MobileRedirectOption.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5MobileRedirectOption.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/constants.ts
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/urlConfig.ts
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
Labels: Trader, Core, Components, P2P, Account

#15468 Update deriv-charts to 2.1.19
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#15460 Aswathy/CRO-615/Binary id userid
  package-lock.json
  package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/core/src/Stores/client-store.js
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
Labels: Trader, Core, Shared, Account, AppStore

#15474 FEQ-2313 / Kate / Android tablet- Long code message content is showing in smaller size
  packages/trader/src/Modules/Contract/Components/InfoBox/info-box-longcode.tsx
  packages/trader/src/sass/app/modules/contract.scss
Labels: Trader

#15469 Fix tablet view issues
  packages/components/src/components/contract-card/contract-card.scss
  packages/reports/src/Containers/__tests__/reports.spec.tsx
  packages/reports/src/sass/app/modules/reports.scss
  packages/trader/jest.config.js
  packages/trader/src/App/Containers/__tests__/trade-header-extensions.spec.tsx
Labels: Trader, Components

#15476 Akmal / set contract type dialog height
  packages/trader/src/sass/app/_common/components/contract-type-dialog.scss
Labels: Trader

#15477 [WEBREL]/Mitra/WEBREL-2794/Replace images with smaller size
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.tsx
  packages/core/src/public/images/common/static_images/real-account-banner-desktop-dark.png
  packages/core/src/public/images/common/static_images/real-account-banner-desktop-dark.svg
  packages/core/src/public/images/common/static_images/real-account-banner-desktop-light.png
  packages/core/src/public/images/common/static_images/real-account-banner-desktop-light.svg
  packages/core/src/public/images/common/static_images/real-account-banner-mobile-dark.png
  packages/core/src/public/images/common/static_images/real-account-banner-mobile-dark.svg
  packages/core/src/public/images/common/static_images/real-account-banner-mobile-light.png
  packages/core/src/public/images/common/static_images/real-account-banner-mobile-light.svg
Labels: Core, AppStore

#15481 Ahmad/Fix Strike Icon color on firefox
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Labels: Trader

#15492 WEBREL/Mitra/WEBREL-2796/Platform toggle issue
  packages/appstore/src/modules/traders-hub/index.tsx
Labels: AppStore

#15497 Bala/Fix tablet issues 2
  packages/components/src/components/contract-card/contract-card.scss
Labels: Components

#15431 [TRAH]/Mitra/[TRAH-3160] Set currency type on account creation from backend
  packages/core/src/Stores/client-store.js
Labels: Core

#15247 [TRAH-3031] shahzaib / duplicate account (Name + DOB)
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/signup-error-content.jsx
  packages/core/src/sass/account-wizard.scss
Labels: Core

#15503 [WEBREL]/MITRA/WEBREL-2800/Should not show banner to eu client
  packages/appstore/src/modules/traders-hub/index.tsx
Labels: AppStore

#15439 feat: added p2p standalone iframe + setup localstorage synchronisation
  packages/core/src/App/AppContent.tsx
  packages/core/src/Modules/P2PIFrame/P2PIFrame.tsx
  packages/core/src/Modules/P2PIFrame/index.ts
  packages/core/src/Stores/client-store.js
  packages/core/src/root_files/localstorage-sync.html
  packages/shared/src/utils/url/constants.ts
  packages/shared/src/utils/url/helpers.ts
Labels: Core, Shared

#15368 [BOT] Farabi/bot-1715/remove bot preview from dashboard
  packages/bot-web-ui/src/constants/dashboard.ts
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/dashboard/dashboard.scss
  packages/bot-web-ui/src/pages/dashboard/dashboard.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/__tests__/dashboard-bot-list.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/__tests__/recent-footer.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/dashboard-bot-list.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/index.scss
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent-footer.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent-workspace.tsx
  packages/components/src/components/icon/common/ic-open.svg
Labels: Bot, Components

#15444 [WALL] aum / WALL-4260 / remove-platform-switcher-from-menu-drawer-for-all-wallets-routes
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/sass/app/_common/layout/header.scss
Labels: Core, Wallets

#15523 Revert "feat: added p2p standalone iframe + setup localstorage synchronisation"
  packages/core/src/App/AppContent.tsx
  packages/core/src/Modules/P2PIFrame/P2PIFrame.tsx
  packages/core/src/Modules/P2PIFrame/index.ts
  packages/core/src/Stores/client-store.js
  packages/core/src/root_files/localstorage-sync.html
  packages/shared/src/utils/url/constants.ts
  packages/shared/src/utils/url/helpers.ts
Labels: Core, Shared

#15495 [WALL] Aizad/Fix Import Issues in Wallets
  packages/wallets/docs/examples/FlowProvider/AccountFlow/AccountFlow.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
Labels: Wallets

#15542 revert problematic commit
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Helpers/utils.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details-form.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/shared/src/utils/validation/declarative-validation-rules.ts
  packages/tradershub/src/utils/validations/validations.ts
  packages/wallets/src/features/accounts/validations.ts
Labels: Shared, Account

#15524 [BOT] Shafin/fix quick strategy issues
  packages/bot-web-ui/src/app/__tests__/app-content.spec.tsx
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/contract-type.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/duration-type.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/symbol.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/trade-type.tsx
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot

#15504 [WALL][CFDS] shontzu/CFDS-3999/Create-New-password-modal-reappears-on-manage-account-settings
  packages/account/src/Components/reset-trading-password-modal/reset-trading-password-modal.tsx
  packages/account/src/Containers/reset-trading-password.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/core/src/Stores/ui-store.js
  packages/wallets/src/components/WalletsResetMT5Password/WalletSuccessResetMT5Password.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
Labels: Core, Account, AppStore

#15365 [WALL] Lubega / WALL-4230 / Add login id in url params for wallet cashier account switching logic
  packages/core/src/Stores/client-store.js
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/__tests__/WalletWithdrawal.spec.tsx
Labels: Core

#15505 Aizad/WALL-4210/Fix Popup Title Message inside of CFD Success Modal
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/MT5AccountAdded.tsx
Labels: Wallets

#15532 [BOT] Farabi/bot-1871/update rudderstack events for qs and tutorial
  packages/bot-web-ui/src/analytics/__tests__/utils.spec.ts
  packages/bot-web-ui/src/analytics/constants.ts
  packages/bot-web-ui/src/analytics/rudderstack-quick-strategy.ts
  packages/bot-web-ui/src/analytics/rudderstack-tutorials.ts
  packages/bot-web-ui/src/analytics/utils.ts
  packages/bot-web-ui/src/components/trade-animation/trade-animation.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/mobile-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/tutorials/common/search-input/index.tsx
  packages/bot-web-ui/src/pages/tutorials/quick-strategy-content/quick-strategy-guides-details.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#15445 [WALL-4249] feat/fixed minor flickering issue
  packages/api-v2/src/hooks/useDepositCryptoAddress.ts
  packages/cashier-v2/src/lib/DepositCrypto/components/DepositCryptoAddress/DepositCryptoAddress.tsx
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/WalletWithdrawal.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.tsx
Labels: Wallets

#15449 [COJ-1143]Amina/ fix: reset_email_modal_refresh_issue
  packages/core/src/App/Containers/ConfirmEmailModal/confirm-email-modal.jsx
  packages/core/src/App/Containers/ResetEmailModal/reset-email-modal.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#15558 [WALL] Aizad/WALL-2886/ WalletAddedSuccess Test Case
  packages/wallets/src/components/WalletAddedSuccess/__test__/WalletAddedSuccess.spec.tsx
Labels: Wallets

#15335 [TRAH] Sergei / TRAH 3496 / Naming correction from "EUSDT" to "eUSDT" and from "TUSDT" to "tUSDT"
  packages/appstore/src/components/currency-switcher-card/real/real-account-card.tsx
Labels: AppStore

#15381 [TRAH-3530] shahzaib / notification popups display removal & content update
  packages/appstore/src/constants/platform-config.ts
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/wallets/src/constants/constants.tsx
Labels: Core, AppStore

#15429 OPT-796 / Kate / Update Take Profit information and functionality for Accumulators contract
  packages/components/src/components/contract-card/contract-card-items/__tests__/accumulator-card-body.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/__tests__/toggle-card-dialog.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/accumulator-card-body.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-body.tsx
  packages/components/src/components/contract-card/contract-card-items/multiplier-card-body.jsx
  packages/components/src/components/contract-card/contract-card-items/sass/contract-card-dialog.scss
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.tsx
  packages/shared/src/utils/constants/__tests__/contract.spec.ts
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/Assets/Trading/Categories/Description/__tests__/accumulator-trade-description.spec.tsx
  packages/trader/src/Assets/Trading/Categories/Description/accumulator-trade-description.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-glossary.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/__tests__/take-profit.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Multiplier/take-profit.tsx
Labels: Trader, Shared, Components

#15570 Revert "[TRAH-3530] shahzaib / notification popups display removal & content update"
  packages/appstore/src/constants/platform-config.ts
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/wallets/src/constants/constants.tsx
Labels: Core, AppStore

#15493 [BOT] maryia/ BOT-1486/[Test Coverage] Folder: bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/accordion-strategy-group.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/desktop-form-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/form-tabs.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/mobile-form-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/useQsSubmitHandler.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/accordion-strategy-group.tsx
Labels: Bot

#15522 [FEX] Sergei / FEQ - 2310, 2311, 2319, 2320, 2344 / Tablet view issues #3
  packages/appstore/src/components/app.scss
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/appstore/src/components/elements/cfds-title/cfds-title.tsx
  packages/appstore/src/components/elements/options-title/options-title.tsx
  packages/appstore/src/components/get-started-trading-banner/get-started-trading-banner.scss
  packages/appstore/src/components/get-started-trading-banner/get-started-trading-banner.tsx
  packages/appstore/src/components/loader/options-and-multipliers-skeleton/optionsAndMultipliers.scss
  packages/appstore/src/components/trustpilot-widget/trustpilot-widget.tsx
  packages/appstore/src/modules/traders-hub-logged-out/traders-hub-logged-out.scss
  packages/appstore/src/modules/traders-hub-logged-out/traders-hub-logged-out.tsx
  packages/appstore/src/modules/traders-hub/traders-hub.scss
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/core/src/sass/app/modules/notifications-dialog.scss
  packages/shared/src/utils/routes/routes.ts
Labels: Core, Shared, AppStore

#15571 Revert "Revert "[TRAH-3530] shahzaib / notification popups display removal & content update""
  packages/appstore/src/constants/platform-config.ts
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/wallets/src/constants/constants.tsx
Labels: Core, AppStore

#15578 Ahmad/Strike Icon Svg fix on Firefox
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Labels: Trader

#15588 fix: V20240606_0 hotfix/Password reset popup not opening for DerivX and MT5
  packages/core/src/App/Containers/Redirect/redirect.jsx
Labels: Core, Bot, Components, Account, AppStore

#15237 refactor: [UPM-1080]/evgeniy/refactor passkeys code, rename flow
  packages/account/src/Sections/Security/Passkeys/__tests__/passkeys.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/no-passkeys.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-card.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-created.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-error-modal.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-modal.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-reminder-modal.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-rename.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-footer-buttons.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-learn-more.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-list.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-status-container.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-status-layout.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-status.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/no-passkeys.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-card.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-created.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-error-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-reminder-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-rename.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-footer-buttons.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-learn-more.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-list.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-layout.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.scss
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/api/types.ts
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/components/icon/common/ic-add-passkey.svg
  packages/components/src/components/icon/common/ic-edit-passkey.svg
  packages/components/src/components/icon/common/ic-info-passkey.svg
  packages/components/src/components/icon/common/ic-success-passkey.svg
  packages/components/src/components/icon/icons.js
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-modal.scss
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-modal.tsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/__tests__/useRegisterPasskey.spec.tsx
  packages/hooks/src/__tests__/useRenamePasskey.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useGetPasskeysList.ts
  packages/hooks/src/useRegisterPasskey.ts
  packages/hooks/src/useRenamePasskey.ts
Labels: Account

#15534 [TRAH] Sergei / TRAHH - 3666 / Investigate get_limits being triggered many times
  packages/account/src/Sections/Security/SelfExclusion/__tests__/self-exclusion.spec.tsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/cashier/src/stores/__tests__/withdraw-store.spec.ts
  packages/cashier/src/stores/withdraw-store.ts
  packages/core/src/Stores/client-store.js
Labels: Core, Account

#15604 Update deriv-charts to 2.1.20
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#15436 [DTRA] Maryia/DTRA-1276/fix: update limit order barriers language without reload + hide them for closed contracts
  packages/core/src/Stores/Helpers/limit-orders.js
  packages/core/src/Stores/chart-barrier-store.js
  packages/core/src/Stores/contract-store.js
  packages/core/src/Stores/index.js
  packages/core/src/Stores/portfolio-store.js
  packages/shared/src/utils/helpers/__tests__/barriers.ts
  packages/shared/src/utils/helpers/__tests__/chart-barrier-store.spec.ts
  packages/shared/src/utils/helpers/__tests__/limit-orders.spec.ts
  packages/shared/src/utils/helpers/barriers.ts
  packages/shared/src/utils/helpers/chart-barrier-store.ts
  packages/shared/src/utils/helpers/index.ts
  packages/shared/src/utils/helpers/limit-orders.ts
  packages/stores/types.ts
  packages/trader/src/Modules/Contract/Containers/replay-chart.tsx
  packages/trader/src/Modules/Trading/Containers/trade-chart.tsx
  packages/trader/src/Stores/Modules/SmartChart/Helpers/__tests__/barriers.ts
  packages/trader/src/Stores/Modules/SmartChart/Helpers/barriers.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core, Shared

#15609 Ahmad/ Fiix Strike Icon in firefox and update Deriv UI Package
  package-lock.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/reports/package.json
  packages/trader/package-lock.json
  packages/trader/package.json
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
  packages/tradershub/package.json
Labels: Trader, Core, Components

#15587 [TRAH]/Mitra/TRAH-3672/Add icon for xrp currency
  packages/appstore/src/assets/svgs/currency/index.tsx
  packages/components/src/components/icon/currency/ic-currency-xrp.svg
  packages/components/src/components/icon/icons.js
Labels: Components, AppStore

#15584 [DTRA] Bala/add router for appv2
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/shared/src/utils/routes/routes.ts
  packages/trader/src/AppV2/Components/BottomNav/__tests__/bottom-nav.spec.tsx
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
  packages/trader/src/AppV2/Containers/Markets/markets.tsx
  packages/trader/src/AppV2/Containers/Menu/menu.tsx
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions-content.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Routes/router.tsx
  packages/trader/src/AppV2/Routes/routes.tsx
  packages/trader/src/AppV2/app.tsx
Labels: Trader, Core, Shared

#15590 [CRO]/Mitra/[CRO-613]/Tracking event improvement
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#15623 [WEBREL] Sergei / WEBREL - 2813 / Logout is not working from Dbot
  packages/bot-web-ui/src/stores/app-store.ts
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/shared/src/utils/digital-options/digital-options.ts
Labels: Core, Bot, Shared

#15620 [BOT] Farabi/bot-1900/add strategy name on run edit qs rudderstack
  packages/bot-web-ui/src/analytics/rudderstack-quick-strategy.ts
Labels: Bot

#15557 [BOT] Farabi/bot-1469/update locators on dbot
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/components/bot-notification/bot-notification.tsx
  packages/bot-web-ui/src/components/transactions/transaction.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/__tests__/form.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/inputs/__tests__/qs-input.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/inputs/qs-input.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/__tests__/contract_type.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/__tests__/duration_type.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/__tests__/symbol.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/__tests__/trade-type.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/contract-type.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/duration-type.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/symbol.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/trade-type.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent-workspace.tsx
Labels: Bot

#15610 [FEQ]farrah/FEQ-2347/refactor: p2p-v2-feature-flag
  package-lock.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/p2p/package.json
  packages/p2p/src/pages/app.jsx
  packages/trader/package.json
  packages/tradershub/package.json
  packages/wallets/package.json
Labels: Trader, Core, P2P, Account

#15624 [BOT] Farabi/bot 1900/fix qs run and edit rudderstack event
  packages/bot-web-ui/src/analytics/utils.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/__tests__/useQsSubmitHandler.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/useQsSubmitHandler.tsx
Labels: Bot

#15613 [BOT] Farabi/bot-1489/test cases for toolbar folder
  packages/bot-web-ui/src/pages/bot-builder/__tests__/workspace-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/__tests__/toolbar.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/__tests__/workspace-group.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/index.scss
Labels: Bot

#15550 [TRAH]/Mitra/TRAH-3670/Regex for first and last name validation
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Helpers/utils.tsx
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/personal-details-form.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/shared/src/utils/validation/declarative-validation-rules.ts
  packages/wallets/src/features/accounts/validations.ts
Labels: Shared, Account

#15639 Update deriv-charts to 2.1.21
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#15539 [DTRA] Maryia/CRO-624/Stop Rudderstack tracking of open/close actions for ce_chart_types_form and ce_market_types_form
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/chart.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/chart.ts
Labels: Trader

#15630 [COJ]/likhith/coj-1236/incorporated css fix for mt5 poi
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/sass/app.scss
Labels: Core

#15645 Shayan/sync p2p and deriv app localstorage
  packages/core/src/App/AppContent.tsx
  packages/core/src/Modules/P2PIFrame/P2PIFrame.tsx
  packages/core/src/Modules/P2PIFrame/index.ts
  packages/core/src/Stores/client-store.js
  packages/core/src/root_files/localstorage-sync.html
  packages/shared/src/utils/url/constants.ts
  packages/shared/src/utils/url/helpers.ts
Labels: Account

#15593 farrah/P2PS-3011/update available balance
  packages/p2p/src/components/modal-manager/modals/my-profile-balance-modal/__tests__/my-profile-balance-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/my-profile-balance-modal/my-profile-balance-modal.scss
  packages/p2p/src/components/modal-manager/modals/my-profile-balance-modal/my-profile-balance-modal.tsx
Labels: P2P

#15649 Shayan/sync p2p and deriv app localstorage
  packages/core/src/Modules/P2PIFrame/P2PIFrame.tsx
  packages/shared/src/utils/url/constants.ts
Labels: Core, Shared

#15659 [FEQ] Sergei / FEQ - 2374, 2375, 2376 / Tablet view issues 4
  packages/account/src/Components/poa/common-mistakes/common-mistake-examples.scss
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Styles/account.scss
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.scss
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.tsx
Labels: Account, AppStore

#15661 Revert "[FEQ] Sergei / FEQ - 2374, 2375, 2376 / Tablet view issues 4"
  packages/account/src/Components/poa/common-mistakes/common-mistake-examples.scss
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Styles/account.scss
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.scss
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.tsx
Labels: Account, AppStore

#15656 [WEBREL-2822]/Mitra/Accept one character for first name
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Labels: Account

#15652 Shayan/sync p2p and deriv app localstorage
  packages/core/src/App/AppContent.tsx
  packages/core/src/Modules/P2PIFrame/P2PIFrame.tsx
  packages/core/src/Modules/P2PIFrame/index.ts
  packages/core/src/Stores/client-store.js
  packages/core/src/root_files/localstorage-sync.html
  packages/shared/src/utils/url/constants.ts
  packages/shared/src/utils/url/helpers.ts
Labels: Core, Shared

#15660 [BOT] sandeep/bot-1910/eu-access-bot
  packages/bot-web-ui/src/stores/app-store.ts
Labels: Bot

#15666 [FEQ] Sergei / FEQ - 2374, 2375, 2376 / Tablet view issues 4 (2)
  packages/account/build/constants.js
  packages/account/package.json
  packages/account/src/Components/poa/common-mistakes/common-mistake-examples.scss
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Styles/account.scss
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.scss
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.tsx
Labels: Account, AppStore

#15441 [TRAH]/MITRA/[TRAH-3372]Remove regulation switcher for new client
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core, AppStore

#15575 [WALL] Aizad/WALL-4339/CTraderSuccessModalButton Unit Test
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/components/__test__/CTraderSuccessModalButtons.spec.tsx
Labels: Wallets

#14536 [PERF] george / WALL-3732 / P2P package lazy loading
  packages/p2p/src/pages/app.jsx
  packages/p2p/src/pages/app.scss
  packages/p2p/src/pages/index.scss
  packages/p2p/src/pages/index.tsx
  packages/p2p/src/stores/general-store.js
  packages/p2p/webpack.config.js
Labels: P2P

#15485 DTRA-1328 / Kate / [Position and Contract Details page] Filtration refactoring
  package-lock.json
  packages/core/package.json
  packages/reports/src/Stores/Modules/Profit/profit-store.js
  packages/reports/src/Stores/useReportsStores.tsx
  packages/trader/package.json
  packages/trader/src/AppV2/Components/Chip/__tests__/chip.spec.tsx
  packages/trader/src/AppV2/Components/Chip/chip.scss
  packages/trader/src/AppV2/Components/Chip/chip.tsx
  packages/trader/src/AppV2/Components/Chip/index.ts
  packages/trader/src/AppV2/Components/DatePicker/__tests__/date-picker.spec.tsx
  packages/trader/src/AppV2/Components/DatePicker/date-picker.tsx
  packages/trader/src/AppV2/Components/EmptyPositions/__tests__/empty-positions.spec.tsx
  packages/trader/src/AppV2/Components/EmptyPositions/empty-positions.tsx
  packages/trader/src/AppV2/Components/Filter/__tests__/contract-type-filter.spec.tsx
  packages/trader/src/AppV2/Components/Filter/__tests__/time-filter.spec.tsx
  packages/trader/src/AppV2/Components/Filter/contract-type-filter.tsx
  packages/trader/src/AppV2/Components/Filter/filter.scss
  packages/trader/src/AppV2/Components/Filter/time-filter.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
  packages/trader/src/AppV2/Utils/__tests__/positions-utils.spec.ts
  packages/trader/src/AppV2/Utils/positions-utils.ts
  packages/trader/src/Stores/Modules/Positions/__tests__/positions-store.spec.ts
  packages/trader/src/Stores/Modules/Positions/positions-store.ts
Labels: Trader, Core, Shared, Components

#15682 fix: fixed p2p iframe url issue + send language to p2p
  packages/core/src/Modules/P2PIFrame/P2PIFrame.tsx
  packages/core/src/Stores/client-store.js
Labels: Core

#15531 [BOT] maryia/ BOT-1623/feat: Bring user to top of page when switching between strategies on QS modal
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/save-modal.tsx
Labels: Bot

#15693 [BOT] Farabi/bot-1490/test coverage for toolbox
  packages/bot-web-ui/src/pages/bot-builder/toolbox/__tests__/toolbox.spec.tsx
Labels: Bot

#15594 [TRAH] Sergei / TRAH - 3678 / The deriv.com redirection('d' icon) in the footer bar needs to be removed
  packages/core/src/App/Components/Layout/Footer/go-to-deriv.jsx
  packages/core/src/App/Components/Layout/Footer/index.js
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
Labels: Core

#15407 [TRAH-3380] shahzaib / auth call from options multipliers
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/listing-container.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/options-multipliers-listing-logged-out/options-multipliers-listing-logged-out.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/modules/traders-hub/__tests__/index.spec.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
Labels: Core, AppStore

#12985 [BOT] [Experemental]Maryia/bot-1230/feat: ui server-side bot MVP
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/constants/bot-contents.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/pages/main/main.tsx
  packages/bot-web-ui/src/pages/server-bot/index.ts
  packages/bot-web-ui/src/pages/server-bot/notifications.tsx
  packages/bot-web-ui/src/pages/server-bot/request_schema.ts
  packages/bot-web-ui/src/pages/server-bot/server-bot-list.tsx
  packages/bot-web-ui/src/pages/server-bot/server-bot.scss
  packages/bot-web-ui/src/pages/server-bot/server-bot.tsx
  packages/bot-web-ui/src/pages/server-bot/server-qs-form.tsx
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/server-bot-store.ts
  packages/bot-web-ui/src/types/stores.types.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
Labels: Bot, Components

#15348 [WALL] Rostislav / WALL-4202 / Narrow down condition for wallets migration banner
  packages/appstore/src/components/main-title-bar/index.tsx
Labels: Core, AppStore

#15685 [WALL] Aizad/WALL-2899/WalletMarketCurrencyIcon-test-case
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
  packages/wallets/src/components/WalletMarketCurrencyIcon/__test__/WalletMarketCurrencyIcon.spec.tsx
Labels: Wallets

#15705 [TRAH]/Mitra/TRAH-3722/show eu real account creation in account switcher
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
Labels: Core

#15690 [FEQ] Sergei / FEQ - 2376 / "Get real account" button for DIEL
  packages/appstore/src/components/real-account-creation-banner/real-account-creation-banner.scss
Labels: AppStore

#15248 Suisin/upm1061/add mongolian language
  packages/account/src/Components/language-settings/__tests__/language-radio-button.spec.tsx
  packages/account/src/Components/language-settings/language-radio-button.tsx
  packages/account/src/Sections/Profile/LanguageSettings/__tests__/language-settings.spec.tsx
  packages/components/src/components/icon/flag/ic-flag-ar.svg
  packages/components/src/components/icon/flag/ic-flag-bn.svg
  packages/components/src/components/icon/flag/ic-flag-de.svg
  packages/components/src/components/icon/flag/ic-flag-en.svg
  packages/components/src/components/icon/flag/ic-flag-es.svg
  packages/components/src/components/icon/flag/ic-flag-fr.svg
  packages/components/src/components/icon/flag/ic-flag-id.svg
  packages/components/src/components/icon/flag/ic-flag-it.svg
  packages/components/src/components/icon/flag/ic-flag-pl.svg
  packages/components/src/components/icon/flag/ic-flag-pt.svg
  packages/components/src/components/icon/flag/ic-flag-ru.svg
  packages/components/src/components/icon/flag/ic-flag-si.svg
  packages/components/src/components/icon/flag/ic-flag-sw.svg
  packages/components/src/components/icon/flag/ic-flag-th.svg
  packages/components/src/components/icon/flag/ic-flag-tr.svg
  packages/components/src/components/icon/flag/ic-flag-uk.svg
  packages/components/src/components/icon/flag/ic-flag-vi.svg
  packages/components/src/components/icon/flag/ic-flag-zh-cn.svg
  packages/components/src/components/icon/flag/ic-flag-zh-tw.svg
  packages/components/src/components/icon/icons.js
  packages/core/src/App/Components/Layout/Footer/toggle-language-settings.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/menu-title.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/mobile-language-menu.tsx
  packages/core/src/App/Components/Routes/__tests__/language-link.spec.tsx
  packages/core/src/App/Components/Routes/language-link.tsx
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/core/src/sass/app/_common/layout/footer.scss
  packages/p2p/src/components/i18next/index.ts
  packages/p2p/src/translations/mn.json
  packages/shared/package.json
  packages/shared/src/utils/constants/index.ts
  packages/shared/src/utils/constants/translation-flag.tsx
  packages/translations/src/i18next/i18next.ts
Labels: Core, Components, Translations, P2P, Account

#15448 [COJ]/likhith/COJ-1231/integrate deriv-translations in account-package
  .github/workflows/sync-translations.yml
  __mocks__/translation.mock.js
  jest.config.base.js
  package-lock.json
  packages/account/build/constants.js
  packages/account/build/webpack.config.js
  packages/account/jest.config.js
  packages/account/package.json
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Sections/Profile/LanguageSettings/__tests__/language-settings.spec.tsx
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/appstore/jest.config.js
  packages/appstore/package.json
  packages/appstore/src/components/app.tsx
  packages/appstore/webpack.config.js
  packages/cfd/build/webpack.config.js
  packages/cfd/jest.config.js
  packages/cfd/package.json
  packages/core/build/constants.js
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/src/App/Components/Layout/Footer/toggle-language-settings.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/mobile-language-menu.tsx
  packages/core/src/App/Components/Routes/__tests__/language-link.spec.tsx
  packages/core/src/App/Components/Routes/language-link.tsx
  packages/core/src/App/Containers/SettingsModal/settings-language.jsx
  packages/core/src/App/app.jsx
  packages/core/src/Stores/common-store.js
  packages/shared/src/utils/constants/default-options.ts
Labels: Core, Shared, Account, AppStore

#15516 DTRA-1315 / Kate / Minor UI issue: increase max width of cancel btn for tablet and mobile
  packages/components/src/components/contract-card/contract-card.scss
  packages/reports/src/sass/app/modules/reports.scss
Labels: Components

#15676 [DTRA] Maryia/DTRA-1234/fix: always show search params in DTrader URL when DTrader is open
  packages/core/package.json
  packages/core/src/App/Components/Layout/Header/__tests__/platform-dropdown.spec.tsx
  packages/core/src/App/Components/Layout/Header/platform-dropdown.jsx
  packages/shared/src/utils/contract/trade-url-params-config.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core, Shared

#15675 [DTRA] Maryia/DTRA-1360/fix: is_loading state in portfolio-store.js
  packages/core/src/Stores/portfolio-store.js
  packages/trader/src/AppV2/Components/EmptyPositions/__tests__/empty-positions.spec.tsx
  packages/trader/src/AppV2/Components/EmptyPositions/empty-positions.tsx
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions-content.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Labels: Trader, Core

#15635 Amina/coj 737/duplicate document error fix
  packages/account/src/Components/icon-message-content/icon-message-content.tsx
  packages/account/src/Components/poa/status/unverified/unverified.tsx
  packages/account/src/Components/poi-manual-upload-failed/__tests__/poi-manual-upload-failed.spec.tsx
  packages/account/src/Components/poi-manual-upload-failed/index.ts
  packages/account/src/Components/poi-manual-upload-failed/poi-manual-upload-failed.tsx
  packages/account/src/Components/poi-unsupported-failed/__tests__/unsupported-failed.spec.tsx
  packages/account/src/Components/poi-unsupported-failed/index.ts
  packages/account/src/Components/poi-unsupported-failed/unsupported-failed.tsx
  packages/account/src/Components/poi/status/unsupported/detail-component.tsx
  packages/account/src/Components/poi/status/unsupported/unsupported.tsx
  packages/account/src/Constants/api-error-codes.ts
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission.jsx
  packages/account/src/Sections/Verification/ProofOfOwnership/proof-of-ownership-form.tsx
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Components/__tests__/cfd-poa.spec.tsx
  packages/cfd/src/Components/cfd-poa.tsx
  packages/cfd/src/features/Components/proof-of-address.tsx
Labels: Account, AppStore

#15653 [WALL] george / WALL-4161 / Update the design for the manage password modal for DerivX and MT5 accs
  packages/wallets/src/components/Base/ModalWrapper/ModalWrapper.scss
  packages/wallets/src/components/SentEmailContent/SentEmailContent.scss
  packages/wallets/src/components/SentEmailContent/SentEmailContent.tsx
  packages/wallets/src/components/WalletError/WalletError.scss
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.scss
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/ChangePassword.scss
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordInputsScreen.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordScreens.scss
  packages/wallets/src/features/cfd/screens/ChangePassword/MT5ChangePasswordScreens.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/TradingPlatformChangePasswordScreens.tsx
Labels: Bot, Account, AppStore

#15726 Suisin/chore: fix size for translation flag
  packages/account/src/Components/language-settings/language-radio-button.tsx
  packages/core/src/App/Components/Layout/Footer/toggle-language-settings.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/menu-title.tsx
  packages/core/src/App/Components/Routes/language-link.tsx
  packages/shared/src/utils/constants/translation-flag.tsx
Labels: Core, Shared, Account

#15706 [WALL] Aizad/WALL-4421/Replace Reset With Transfer Icon inside of Demo Wallet
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
Labels: Wallets

#15603 [P2PS] / Ameerul / P2PS-2607 'Invalid verification link' header text and 'Get new link' button is seen when user clicks on Resend Email Pop Up
  packages/p2p/src/components/modal-manager/modals/email-link-blocked-modal/email-link-blocked-modal.tsx
  packages/p2p/src/components/modal-manager/modals/invalid-verification-link-modal/__tests__/invalid-verification-link-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/invalid-verification-link-modal/invalid-verification-link-modal.scss
  packages/p2p/src/components/modal-manager/modals/invalid-verification-link-modal/invalid-verification-link-modal.tsx
  packages/p2p/src/stores/order-store.js
Labels: P2P

#15272 [P2PS] / Ameerul / P2PS-2880 p2p_advert_info sends empty ID causing the page to go blank
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#15689 [UPM-1205]/evgeniy/reset and confirm email modals TS migration
  packages/account/src/Components/sent-email-modal/sent-email-modal.tsx
  packages/api/types.ts
  packages/core/src/App/Containers/ConfirmEmailModal/__tests__/confirm-email-modal.spec.tsx
  packages/core/src/App/Containers/ConfirmEmailModal/confirm-email-modal.tsx
  packages/core/src/App/Containers/ResetEmailModal/__tests__/reset-email-modal.spec.tsx
  packages/core/src/App/Containers/ResetEmailModal/index.js
  packages/core/src/App/Containers/ResetEmailModal/index.ts
  packages/core/src/App/Containers/ResetEmailModal/reset-email-modal.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Account

#15605 [P2PS] / Ameerul / P2PS-2970 Share My Ads - 'This ad is currently unavailable' pop not showing
  packages/hooks/src/useP2PAdvertInfo.ts
  packages/p2p/src/pages/advertiser-page/__tests__/advertiser-page.spec.tsx
  packages/p2p/src/pages/advertiser-page/advertiser-page-row.jsx
  packages/p2p/src/pages/advertiser-page/advertiser-page.jsx
Labels: P2P

#15719 [BOT] [Server Side Bot]maryia/bot 1913/Test link bug fixing and improvements
  packages/bot-web-ui/src/pages/server-bot/server-bot-list.tsx
  packages/bot-web-ui/src/pages/server-bot/server-bot.scss
  packages/bot-web-ui/src/pages/server-bot/server-bot.tsx
  packages/bot-web-ui/src/stores/server-bot-store.ts
Labels: Bot

#15744 [COJ]/likhith/coj-1246/fix: awaited language change before update
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/core/src/App/Components/Routes/language-link.tsx
  packages/core/src/App/Containers/SettingsModal/settings-language.jsx
Labels: Core, Account

#15695 [WALL] Aizad/WALL-4436/Refactor Options Multiplier Listings
  packages/wallets/src/components/OptionsAndMultipliersListing/LinkTitle.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/WalletMarketIcon/WalletMarketIcon.tsx
  packages/wallets/src/constants/constants.tsx
Labels: Wallets

#15698 [CFDS]/Hasan/CFDS-4164/Add ETF's and Stocks on Compare account table and Jurisdiction modal for Standard Accounts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-bvi-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-svg-contents.ts
  packages/cfd/src/Constants/jurisdiction-contents/jurisdiction-vanuatu-contents.ts
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-card.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal-content.spec.tsx
  packages/cfd/src/Helpers/compare-accounts-config.ts
Labels: Core, Account

#15574 [WALL][CFDS] shontzu/CFDS-4018/MT5-drv-to-stn-on-wallets
  packages/wallets/src/components/WalletMarketIcon/WalletMarketIcon.tsx
  packages/wallets/src/features/cashier/constants/constants.ts
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsTitleIcon.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/compareAccountsConfig.ts
  packages/wallets/src/features/cfd/screens/CompareAccounts/constants.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardRow.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-bvi-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-labuan-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-svg-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-vanuatu-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction-verification-contents.ts
  packages/wallets/src/features/cfd/screens/Jurisdiction/jurisdiction-contents/jurisdiction_maltainvest_contents.ts
Labels: Components

#15731 [TRAH] Sergei / TRAH - 3740 / Description update for "Options" and "CFDs"
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/elements/cfds-description/cfds-description.tsx
  packages/appstore/src/components/elements/options-description/options-description.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
Labels: AppStore

#15760 Update deriv-charts to 2.1.22
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#15721 [DTRA] Maryia/OPT-860/fix: styles of Multipliers contract card with crypto currency in Contract Details on desktop
  packages/components/src/components/contract-card/contract-card-items/multiplier-card-body.jsx
  packages/components/src/components/progress-slider-mobile/progress-slider-mobile.tsx
  packages/trader/src/App/Components/Elements/ContractDrawer/__tests__/contract-drawer-card.spec.tsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer-card.tsx
Labels: Trader, Components

#15670 [TRAH] Sergei / TRAH - 3699 / 'Compare CFDs accounts' page does not have side arrow options for navigation for Arabic language
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.tsx
  packages/components/src/components/cfd-compare-accounts-carousel/cfd-compare-accounts-carousel-button.tsx
  packages/components/src/components/cfd-compare-accounts-carousel/cfd-compare-accounts-carousel.tsx
Labels: Components

#15422 Hirad/CFDs-3919/ Adding zero spread as one of MT5 options
  packages/appstore/src/assets/svgs/trading-platform/ic-appstore-zero-spread.svg
  packages/appstore/src/assets/svgs/trading-platform/index.tsx
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card.scss
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/modules/traders-hub/traders-hub.scss
  packages/appstore/src/types/common.types.ts
  packages/cashier-v2/src/types.ts
  packages/cashier/src/assets/svgs/trading-platform/ic-appstore-zero-spread.svg
  packages/cashier/src/assets/svgs/trading-platform/index.tsx
  packages/cashier/src/stores/account-transfer-store.ts
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-zero-spread.svg
  packages/cfd/src/Assets/svgs/trading-platform/index.tsx
  packages/cfd/src/Components/props.types.ts
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-title-icon.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-card.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-description.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-title-icon.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.scss
  packages/cfd/src/Containers/cfd-password-change.tsx
  packages/cfd/src/Containers/cfd-password-modal-info.tsx
  packages/cfd/src/Containers/cfd-password-modal-tnc.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/cfd-reset-password-modal.tsx
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/cfd/src/Helpers/cfd-config.ts
  packages/cfd/src/Helpers/compare-accounts-config.ts
  packages/cfd/src/Stores/Modules/CFD/Helpers/cfd-config.ts
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/cfd/src/features/Containers/cfd-reset-password-modal.tsx
  packages/cfd/src/sass/cfd.scss
  packages/cfd/src/types/cfd-store.types.ts
  packages/components/src/components/icon/common/ic-info-light.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/mt5/ic-mt5-zero-spread.svg
  packages/core/src/Constants/cfd-text.js
  packages/core/src/Stores/traders-hub-store.js
  packages/shared/src/styles/constants.scss
  packages/shared/src/utils/cfd/available-cfd-accounts.ts
  packages/shared/src/utils/cfd/cfd.ts
  packages/stores/types.ts
Labels: Core, Shared, Components, AppStore

#15770 chore: removed currently string from modal title
  packages/p2p/src/pages/advertiser-page/advertiser-page.jsx
Labels: P2P

#14857 [P2PS] / Ameerul / P2PS-2493 Enhancement for Implement a Real-time Exchange Rate When a P2P Order is Placed
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/__tests__/buy-sell-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.tsx
  packages/p2p/src/components/modal-manager/modals/error-modal/error-modal.scss
  packages/p2p/src/components/modal-manager/modals/error-modal/error-modal.tsx
  packages/p2p/src/components/modal-manager/modals/market-rate-change-error-modal/__tests__/market-rate-change-error-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/market-rate-change-error-modal/market-rate-change-error-modal.scss
  packages/p2p/src/components/modal-manager/modals/market-rate-change-error-modal/market-rate-change-error-modal.tsx
  packages/p2p/src/components/modal-manager/modals/my-ads-floating-rate-switch-modal/__tests__/my-ads-floating-rate-switch-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/my-ads-floating-rate-switch-modal/my-ads-floating-rate-switch-modal.tsx
  packages/p2p/src/components/modal-manager/modals/rate-change-modal/index.js
  packages/p2p/src/components/modal-manager/modals/rate-change-modal/rate-change-modal.jsx
  packages/p2p/src/components/modal-manager/modals/rate-change-modal/rate-change-modal.scss
  packages/p2p/src/constants/api-error-codes.ts
  packages/p2p/src/constants/modals.ts
  packages/p2p/src/pages/buy-sell/__tests__/buy-sell-form-receive-amount.spec.js
  packages/p2p/src/pages/buy-sell/buy-sell-form.jsx
  packages/p2p/src/pages/buy-sell/buy-sell-form.scss
  packages/p2p/src/stores/buy-sell-store.js
Labels: Core, Components, P2P

#15806 fix: :ambulance: fix test time execution
  jest.config.base.js
  packages/cashier-v2/jest.config.ts
  packages/components/jest.config.js
  packages/p2p-v2/jest.config.js
  packages/p2p/jest.config.js
  packages/trader/jest.config.js
Labels: Trader, Components, P2P

#15797 Amina/fix: update translation library version to support mn language
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/core/src/App/Containers/Layout/header/traders-hub-onboarding.tsx
Labels: Core, Account, AppStore

#15814 [WEBREL] / Ameerul / WEBREL-2858 Order unsuccessful error modal showing in glitch when trying to place order again after market rate change
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.tsx
  packages/p2p/src/stores/buy-sell-store.js
Labels: Core, P2P, Account, AppStore

#15832 [WEBREL] / Ameerul / WEBREL-2860 UI Bug : The search and filter boxes on P2P buy/sell tab are not aligned in desktop and responsive mode
  packages/components/src/components/dropdown/dropdown.scss
Labels: Components

#15826 [WEBREL] Sergei / WEBREL - 2869 / Spacing between fields and container size is different in Financial assessment page
  packages/account/src/Styles/account.scss
Labels: Account

#15831 [WEBREL] Sergei / WEBREL - 2872 / EU disclaimer content font size is smaller in staging
  packages/appstore/src/modules/traders-hub/index.tsx
Labels: AppStore

#15823 [WEBREL] Sergei / WEBREL - 2863 / Wallet issues
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.tsx
Labels: Core, AppStore

#15825 [WEBREL] Sergei / WEBREL - 2866, 2867 / TradersHub title is not aligned with real/demo switcher as in production and change TH container size
  packages/appstore/src/components/main-title-bar/account-type-dropdown.scss
  packages/appstore/src/modules/traders-hub/traders-hub.scss
Labels: AppStore

#15815 [WEBREL] Sergei / WEBREL - 2856 / UI Bugs for Tablet View Implementation
  packages/account/src/Components/address-details/__tests__/address-details.spec.tsx
  packages/account/src/Components/address-details/address-details.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/cfd/src/Containers/ctrader-derivx-trade-modal.tsx
  packages/cfd/src/Containers/dmt5-trade-modal.tsx
  packages/cfd/src/Containers/mt5-trade-modal.tsx
  packages/cfd/src/features/Containers/cfd-trade-modal.tsx
  packages/cfd/src/features/Containers/mt5-trade-modal.tsx
  packages/cfd/src/features/Containers/other-cfds-trade-modal.tsx
  packages/cfd/src/sass/cfd.scss
  packages/components/src/components/form-progress/form-progress.scss
  packages/components/src/components/form-progress/form-progress.tsx
  packages/components/src/components/page-overlay/page-overlay.scss
  packages/core/src/App/Containers/RealAccountSignup/finished-add-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
  packages/core/src/App/Containers/VerificationModal/verification-modal.scss
  packages/core/src/Constants/ui.js
  packages/core/src/sass/account-wizard.scss
  packages/core/src/sass/add-or-manage.scss
  packages/shared/src/utils/screen/responsive.ts
Labels: Core, Shared, Components, Account, AppStore
