Repository deriv-com/deriv-app, pull requests merged in 2024-09, with the labels that each got.

#16537 [DTRA]/DTRA-1467/Ahmad/Duration Params
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/chips.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/datepicker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.scss
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/__tests__/trade-type-list.spec.jsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core, Account

#16568 [WALL] Lubega / WALL-4689 / Replace wallets action screen with deriv-com/ui
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/DerivAppsSection/__tests__/DerivAppsGetAccount.spec.tsx
  packages/wallets/src/components/Page404/Page404.tsx
  packages/wallets/src/components/Page404/__test__/Page404.spec.tsx
  packages/wallets/src/components/SentEmailContent/SentEmailContent.tsx
  packages/wallets/src/components/SentEmailContent/__test__/SentEmailContent.spec.tsx
  packages/wallets/src/components/WalletAddedSuccess/WalletAddedSuccess.tsx
  packages/wallets/src/components/WalletAddedSuccess/WalletAddedSuccessFooter.tsx
  packages/wallets/src/components/WalletAddedSuccess/__tests__/WalletAddedSuccess.spec.tsx
  packages/wallets/src/components/WalletAddedSuccess/__tests__/WalletAddedSuccessFooter.spec.tsx
  packages/wallets/src/components/WalletError/WalletError.tsx
  packages/wallets/src/components/WalletSuccess/WalletSuccess.tsx
  packages/wallets/src/components/WalletSuccess/__tests__/WalletSuccess.spec.tsx
  packages/wallets/src/components/WalletsActionScreen/WalletsActionScreen.scss
  packages/wallets/src/components/WalletsActionScreen/WalletsActionScreen.tsx
  packages/wallets/src/components/WalletsActionScreen/index.ts
  packages/wallets/src/components/WalletsAddMoreCardContent/WalletsAddMoreCardContent.tsx
  packages/wallets/src/components/WalletsErrorScreen/WalletsErrorScreen.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletSuccessResetMT5Password.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletsErrorMT5InvestorPassword.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
  packages/wallets/src/components/WalletsResetMT5Password/__test__/WalletsResetMT5Password.spec.tsx
  packages/wallets/src/components/index.ts
  packages/wallets/src/features/cashier/modules/CashierLocked/CashierLocked.tsx
  packages/wallets/src/features/cashier/modules/CashierLocked/__tests__/CashierLocked.spec.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/DepositLocked.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/__tests__/DepositLocked.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsNoDataState/TransactionsNoDataState.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/WithdrawalLocked.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/__tests__/WithdrawalLocked.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/WithdrawalVerificationRequest/WithdrawalVerificationRequest.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/WithdrawalVerificationSent/WithdrawalVerificationSent.tsx
  packages/wallets/src/features/cashier/screens/DepositErrorScreen/DepositErrorScreen.tsx
  packages/wallets/src/features/cashier/screens/TransferNotAvailable/TransferNotAvailable.tsx
  packages/wallets/src/features/cashier/screens/TransferNotAvailable/TransferNotAvailableProvider.tsx
  packages/wallets/src/features/cashier/screens/TransferNotAvailable/__tests__/TransferNotAvailable.spec.tsx
  packages/wallets/src/features/cashier/screens/TransferNotAvailable/__tests__/TransferNotAvailableProvider.spec.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalErrorScreen/WithdrawalErrorScreen.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalNoBalance/WithdrawalNoBalance.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalNoBalance/__tests__/WithdrawalNoBalance.spec.tsx
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/CTraderSuccessModal.tsx
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/MT5AccountAdded.tsx
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/__tests__/MT5AccountAdded.spec.tsx
  packages/wallets/src/features/cfd/modals/SuccessModal/SuccessModal.tsx
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
  packages/wallets/src/features/cfd/screens/CFDSuccess/__test__/CFDSuccess.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordInputsScreen.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordSavedScreen.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/__tests__/MT5ChangeInvestorPasswordInputsScreen.spec.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/TradingPlatformChangePasswordScreens.tsx
Labels: Trader, Core

#16675 [BOT]maryia/test: improve guide-content
  packages/bot-web-ui/src/pages/tutorials/guide-content/__tests__/guide-content.spec.tsx
Labels: Bot

#16667 shafin/fix: server bot empty name save issue fix
  packages/bot-web-ui/src/components/load-modal/__tests__/load-modal.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/add-text-input.tsx
Labels: Bot

#16565 [WALL] Aizad/WALL-4691/ Replace WalletCheckbox with Checkbox from deriv-com/ui
  packages/wallets/src/components/Base/WalletCheckbox/WalletCheckbox.scss
  packages/wallets/src/components/Base/WalletCheckbox/WalletCheckbox.tsx
  packages/wallets/src/components/Base/WalletCheckbox/index.ts
  packages/wallets/src/components/Base/index.ts
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriority/WithdrawalCryptoPriority.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.tsx
Labels: Wallets

#16517 Lubega / TRAH-3965 / Trader's hub link underline fix
  packages/appstore/src/components/containers/listing-container.scss
Labels: AppStore

#16570 [WALL] Aizad/WALL-4655/Translating the migration video to Arabic
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/appstore/src/constants/wallet-migration-video-translations.ts
  packages/components/package.json
  packages/components/src/components/video-player/video-player.tsx
Labels: Components, AppStore, Wallets

#16716 Suisin/webrel3128/hyperlink changed colour
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/RiskManagementInfoModal/__tests__/risk-management-info-modal.spec.tsx
Labels: Trader, Core, Account

#16718 [TRAH-4046] shahzaib / added action to open live chat
  packages/core/src/App/Containers/Redirect/redirect.jsx
Labels: Core

#16473 DTRA / Kate / DTRA-1473 / Implement Risk management trade param functionality
  packages/trader/src/AppV2/Components/TradeParamDefinition/__tests__/trade-param-definition.spec.tsx
  packages/trader/src/AppV2/Components/TradeParamDefinition/trade-param-definition.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.scss
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.scss
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersDealCancellationInfo/__tests__/multipliers-deal-cancellation-info.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersDealCancellationInfo/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersDealCancellationInfo/multipliers-deal-cancellation-info.scss
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersDealCancellationInfo/multipliers-deal-cancellation-info.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/__tests__/deal-cancellation.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/__tests__/risk-management-content.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/__tests__/risk-management.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/__tests__/risk_management-picker.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/__tests__/take-profit-and-stop-loss-container.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/__tests__/take-profit-and-stop-loss-input.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/deal-cancellation.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management-content.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management-picker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.scss
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.scss
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/__tests__/take-profit.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.scss
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/AppV2/Components/TradeParameters/__tests__/trade-parameters.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/preview-proposal.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core, Account

#16705 DTRA / Kate / DTRA-1722 / Show error message on purchase button if index was turned off from BO
  packages/trader/src/AppV2/Components/PurchaseButton/__tests__/purchase-button-content.spec.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/__tests__/purchase-button.spec.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button-content.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AccumulatorsInformation/__tests__/accumulators-information.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AccumulatorsInformation/accumulators-information.tsx
  packages/trader/src/AppV2/Components/TradeParameters/BarrierInfo/__tests__/barrier-info.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/BarrierInfo/barrier-info.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPointInfo/payout-per-point-info.tsx
Labels: Trader

#16589 DTRA / Vinu, Kate / DTRA-1670 / Onboarding Guide [DTrader-V2]
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/core/src/public/videos/user-onboarding-guide-trade-page.mp4
  packages/trader/package.json
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/__tests__/guide-container.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/__tests__/guide-tooltip.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/__tests__/onboarding-guide.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/__tests__/onboarding-video.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/guide-container.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/guide-tooltip.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/index.ts
  packages/trader/src/AppV2/Components/OnboardingGuide/onboarding-guide.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/onboarding-guide.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/onboarding-video.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/steps-config.tsx
  packages/trader/src/AppV2/Components/RiskManagementInfoModal/__tests__/risk-management-info-modal.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Labels: Trader, Core, Account

#16730 DTRA-1810 / Kate / [DTrader-V2]: Risk Management bug fixes
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/__tests__/risk_management-picker.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management-picker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/risk-management.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
Labels: Trader

#16701 [DTRA]/Ahmad/Add Accumulator Stats Video
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-description.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
  packages/trader/src/Modules/Trading/Helpers/video-config.ts
Labels: Trader

#16511 [TRAH] Sergei / TRAH - 3966 / Pre-Select the FATCA declaration as "NO" on T&C page
  packages/account/src/Configs/terms-of-use-config.ts
Labels: Account

#15968 [FEQ] Sergei / FEQ - 2446 / TrackJS: gn.replaceAll is not a function
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
Labels: AppStore

#16466 [TRAH] Sergei / TRAH - 3958 / "Change currency" modal improvement
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal.tsx
Labels: Core

#16465 [TRAH] Sergei / TRAH - 3959 / To fix Add funds and start trading modal
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/deposit-now-or-later-modal.tsx
Labels: Core

#16713 Ako/ CRO-724/ Pass growthbook attributes on initialisation
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/appstore/src/components/modals/setup-real-account-or-go-to-demo-modal/__tests__/setup-real-account-or-go-to-demo-modal-content.spec.tsx
  packages/appstore/src/components/modals/setup-real-account-or-go-to-demo-modal/__tests__/setup-real-account-or-go-to-demo-modal.spec.tsx
  packages/cashier/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/core/src/Stores/client-store.js
  packages/core/src/Utils/Analytics/index.ts
  packages/hooks/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Labels: Trader, Core, Shared, Components, P2P, Account, AppStore

#16607 [DTRA] Maryia/DTRA-1685/feat: design updates for DTrader V2 pages
  packages/components/src/components/loading/dtrader-v2-loaders/positions-loader.tsx
  packages/trader/src/AppV2/Components/CardWrapper/card-wrapper.scss
  packages/trader/src/AppV2/Components/ContractCard/contract-card.scss
  packages/trader/src/AppV2/Components/ContractCard/contract-card.tsx
  packages/trader/src/AppV2/Components/ContractDetailsFooter/__tests__/contract-details-footer.spec.tsx
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.scss
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.tsx
  packages/trader/src/AppV2/Components/DealCancellationRemainingTime/__tests__/deal-cancellation-remaining-time.spec.tsx
  packages/trader/src/AppV2/Components/DealCancellationRemainingTime/deal-cancellation-remaining-time.tsx
  packages/trader/src/AppV2/Components/EmptyPositions/__tests__/empty-positions.spec.tsx
  packages/trader/src/AppV2/Components/EmptyPositions/empty-positions.tsx
  packages/trader/src/AppV2/Components/EntryExitDetails/entry-exit-details.scss
  packages/trader/src/AppV2/Components/Filter/__tests__/contract-type-filter.spec.tsx
  packages/trader/src/AppV2/Components/Filter/contract-type-filter.tsx
  packages/trader/src/AppV2/Components/OrderDetails/order-details.scss
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.scss
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Components/RiskManagementInfoModal/risk-management-info-modal.scss
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.scss
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Components/TakeProfitHistory/take-profit-history.scss
  packages/trader/src/AppV2/Components/TotalProfitLoss/total-profit-loss.scss
  packages/trader/src/AppV2/Components/TotalProfitLoss/total-profit-loss.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Containers/Chart/contract-details-chart.scss
  packages/trader/src/AppV2/Containers/Chart/contract-details-chart.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
  packages/trader/src/Modules/Contract/Containers/replay-chart.tsx
Labels: Trader, Core, Components, Account

#16754 Update deriv-charts to 2.5.1
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#16600 [WALL] Jim/WALL-4792/redirect all errors to cashier instead of handling them in appstore
  packages/appstore/src/components/account-transfer-modal/account-transfer-modal.tsx
Labels: AppStore

#16715 [BOT] sandeep/bot-2143/ fix: :bug: fixed stop bot warning inherited from quick-strategy form
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/__tests__/add-bot.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/__tests__/form.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/add-bot.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/config.ts
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/desktop-form-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/mobile-form-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/useSubmitHandler.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/mobile-form-wrapper.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/useQsSubmitHandler.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/useSubmitHandler.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/add-input.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/parts/__tests__/loss-threshold-warning.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/parts/loss-threshold-warning-dialog.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/selects/contract-type.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/selects/duration-type.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/selects/symbol.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/selects/trade-type.tsx
  packages/bot-web-ui/src/pages/server-side-bot/config.ts
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Labels: Bot

#16390 [WALL] Lubega / WALL-4668 / Replace WalletButton with deriv-com/ui Button
  packages/wallets/src/components/Base/WalletButton/WalletButton.scss
  packages/wallets/src/components/Base/WalletButton/WalletButton.tsx
  packages/wallets/src/components/Base/WalletButton/index.ts
  packages/wallets/src/components/Base/index.ts
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsSuccessFooter.tsx
  packages/wallets/src/components/Dropzone/Dropzone.tsx
  packages/wallets/src/components/SentEmailContent/SentEmailContent.tsx
  packages/wallets/src/components/SentEmailContent/__test__/SentEmailContent.spec.tsx
  packages/wallets/src/components/WalletAddedSuccess/WalletAddedSuccess.tsx
  packages/wallets/src/components/WalletAddedSuccess/WalletAddedSuccessFooter.tsx
  packages/wallets/src/components/WalletError/WalletError.tsx
  packages/wallets/src/components/WalletError/__tests__/WalletError.spec.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.scss
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/__tests__/WalletsAddMoreCardBanner.spec.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletSuccessResetMT5Password.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
  packages/wallets/src/features/cfd/CFDPlatformsListEmptyState.tsx
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/components/CTraderSuccessModalButtons.tsx
  packages/wallets/src/features/cfd/modals/CreatePasswordModal/CreatePasswordModal.tsx
  packages/wallets/src/features/cfd/modals/EnterPasswordModal/EnterPasswordModal.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/MT5AccountAdded.tsx
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/__tests__/MT5AccountAdded.spec.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModalFooters.tsx
  packages/wallets/src/features/cfd/modals/PasswordLimitExceededModal/PasswordLimitExceededModal.tsx
  packages/wallets/src/features/cfd/modals/SuccessModal/SuccessModal.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordSavedScreen.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/TradingPlatformChangePasswordScreens.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/__tests__/TradingPlatformChangePasswordScreens.spec.tsx
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
  packages/wallets/src/features/cfd/screens/MT5ResetPasswordModal/MT5ResetPasswordModal.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
  packages/wallets/src/features/cfd/screens/TradingPlatformStatus/TradingPlatformStatus.tsx
  packages/wallets/src/features/cfd/screens/VerificationFailed/VerificationFailed.tsx
  packages/wallets/src/hooks/useSyncLocalStorageClientAccounts.ts
Labels: Trader, Core

#16619 [CFDS]/Hasan/CFDS-4491/MT5 new password policy tablet version
  packages/account/package.json
  packages/appstore/package.json
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cashier/package.json
  packages/cfd/package.json
  packages/cfd/src/Containers/cfd-password-change.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/sass/cfd.scss
  packages/components/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/shared/src/styles/devices.scss
  packages/trader/package.json
  packages/trader/src/App/Containers/__tests__/trade-header-extensions.spec.tsx
  packages/wallets/package.json
Labels: Trader, Core, Shared, Components, P2P, Account, AppStore

#16636 [P2PS] / Ameerul / P2PS-2351 Adding Safety Disclaimer to P2P Chatbox
  packages/p2p/src/pages/orders/chat/__tests__/chat-messages.spec.jsx
  packages/p2p/src/pages/orders/chat/chat-message-text.jsx
  packages/p2p/src/pages/orders/chat/chat-messages.jsx
  packages/p2p/src/pages/orders/chat/chat-messages.scss
Labels: P2P

#15865 Ahmad/OPT-811/Turbos Redesign
  packages/shared/src/utils/constants/contract.ts
  packages/shared/src/utils/helpers/barrier.ts
  packages/trader/src/App/Components/Form/fieldset.tsx
  packages/trader/src/Assets/Trading/Categories/Description/turbos-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/__tests__/trade-categories-gif.spec.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories-gif.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/__tests__/payout-per-point-input.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/__tests__/payout-per-point-mobile-input.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-input.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point-mobile-input.tsx
  packages/trader/src/Modules/Trading/Components/Elements/PayoutPerPoint/payout-per-point.scss
  packages/trader/src/Modules/Trading/Components/Elements/purchase-fieldset.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-glossary.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/__tests__/contract-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/contract-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/value-movement.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/__tests__/barrier-selector.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/__tests__/payout-selector.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/barrier-selector.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/payout-selector.scss
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Turbos/payout-selector.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/__tests__/wheel-picker-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/__tests__/wheel-picker.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/index.ts
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.scss
  packages/trader/src/Modules/Trading/Components/Form/WheelPicker/wheel-picker.tsx
  packages/trader/src/Modules/Trading/Components/Form/__tests__/screen-small.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/screen-small.tsx
  packages/trader/src/Modules/Trading/Containers/__tests__/trade-params.spec.tsx
  packages/trader/src/Modules/Trading/Containers/trade-params.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/preview-proposal.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core, Bot, Shared, Components, P2P, Account, AppStore

#16747 DTRA-1707 / Kate / [DTrader-V2]: Fix UX issue for Turbos,Vanillas,Higher/Lower and Touch/No Touch trade type
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.scss
  packages/trader/src/AppV2/Components/TradeParameters/__tests__/trade-parameters-container.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Containers/Trade/trade.scss
Labels: Trader, Core, Account

#16763 [BOT] sandeep/bot-1262fix: :construction: fix on switch account the server bot should resume
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
  packages/stores/types.ts
Labels: Bot

#16684 [BOT] sandeep/bot-2116/refactor: :ambulance: removed datadog implementation from bot
  packages/bot-skeleton/jest.config.js
  packages/bot-skeleton/src/services/api/__tests__/datadog-middleware.spec.ts
  packages/bot-skeleton/src/services/api/__tests__/ticks-service.js
  packages/bot-skeleton/src/services/api/api-middleware.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/BotApi.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/Core.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/StopStart.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/UI.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/After.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/Before.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/During.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/Ticks.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/indicators.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/sanitize-test/Blocks.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/sanitize-test/Trade.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/tools-test/Candles.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/tools-test/Misc.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/block-tests/tools-test/Time.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/jsi.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/shouldRestartOnError.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/stages.js
  packages/bot-skeleton/src/services/tradeEngine/__tests__/tools.js
  packages/bot-skeleton/src/services/tradeEngine/trade/state/actions/index.spec.js
  packages/bot-skeleton/src/services/tradeEngine/trade/state/reducers/index.spec.js
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/pages/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/types/global.d.ts
  packages/bot-web-ui/src/utils/datadog-logs.ts
  packages/bot-web-ui/webpack.config.js
Labels: Bot

#16773 DTRA-1855 / Kate / [DTrader-V2]: Change chart height calculations based on the latest design
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Utils/__tests__/layout-utils.spec.ts
  packages/trader/src/AppV2/Utils/layout-utils.tsx
Labels: Trader

#16744 [DTRA]/Ahmad/Duration Fixes
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/datepicker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.scss
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Labels: Trader

#16777 [DTRA]fix: fix the animation and scrolling behavior in step 4 for onboarding
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/guide-container.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/onboarding-guide.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/steps-config.tsx
Labels: Trader

#16762 [DTRA-V2]fix: contract details scroll
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
Labels: Trader

#16759 DTRA-1815 / Kate / [DTrader-V2]: Add Onboarding video for Draggable component (Trade types selection)
  packages/trader/src/AppV2/Components/AccumulatorStats/__tests__/accumulator-stats.spec.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-description.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/__tests__/guide-container.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/__tests__/guide-tooltip.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/__tests__/onboarding-guide.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/__tests__/onboarding-video.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/guide-container.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/guide-tooltip.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/index.ts
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-guide.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-guide.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-video.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/steps-config.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/__tests__/trade-types-selection-guide.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/index.ts
  packages/trader/src/AppV2/Components/OnboardingGuide/TradeTypesSelectionGuide/trade-types-selection-guide.tsx
  packages/trader/src/AppV2/Components/StreamIframe/__tests__/stream-iframe.spec.tsx
  packages/trader/src/AppV2/Components/StreamIframe/index.ts
  packages/trader/src/AppV2/Components/StreamIframe/stream-iframe.scss
  packages/trader/src/AppV2/Components/StreamIframe/stream-iframe.tsx
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/Modules/Trading/Helpers/video-config.ts
Labels: Trader

#16797 Ahmad/Trade Spec fix
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
Labels: Trader

#16768 Rupato/BOT-2117/fix: adding is dbot to every strategy action
  packages/bot-skeleton/src/scratch/backward-compatibility.js
  packages/bot-skeleton/src/utils/index.js
  packages/bot-skeleton/src/utils/local-storage.js
  packages/bot-web-ui/src/stores/data-collection-store.ts
Labels: Bot

#16774 [BOT] Farabi/bot-1488/test-coverage-for-qs-selects
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/__tests__/contract_type.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/__tests__/duration_type.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/__tests__/symbol.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/__tests__/trade-type.spec.tsx
Labels: Bot

#16727 Rupato/BOT-2099/Blockly icon are not shown upon collapsing blocks
  packages/bot-skeleton/src/scratch/blocks/Advanced/Functions/procedures_defnoreturn.js
  packages/bot-skeleton/src/scratch/blocks/Binary/After Purchase/after_purchase.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Before Purchase/before_purchase.js
  packages/bot-skeleton/src/scratch/blocks/Binary/During Purchase/during_purchase.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition.js
  packages/bot-skeleton/src/scratch/index.scss
  packages/bot-skeleton/src/scratch/utils/index.js
Labels: Bot

#16714 DTRA/Ahmad/Contract Details For Smart Trader Contract
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/AppV2/Components/OrderDetails/order-details.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Labels: Trader, Shared, Components

#16765 [DTRA-V2] fix: change actionsheet content
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier-description.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.scss
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/__tests__/strike.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
Labels: Trader

#16783 DTRA-1474 / Kate / Implement Payout per point trade param functionality
  packages/stores/src/mockStore.ts
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/__tests__/payout-per-point.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point-wheel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point.scss
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPoint/payout-per-point.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader

#16573 [WALL] Aizad/WALL-4690/Replace InlineMessage with InlineMessage from deriv-com/ui
  packages/wallets/src/components/Base/InlineMessage/InlineMessage.scss
  packages/wallets/src/components/Base/InlineMessage/InlineMessage.tsx
  packages/wallets/src/components/Base/InlineMessage/__tests__/InlineMessage.spec.tsx
  packages/wallets/src/components/Base/InlineMessage/index.ts
  packages/wallets/src/components/Base/index.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/components/IDVServiceErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/Onfido/Onfido.scss
  packages/wallets/src/features/accounts/modules/DocumentService/components/Onfido/Onfido.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/VerifyPersonalDetails.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/components/VerifyPersonalDetailsErrorMessage/VerifyPersonalDetailsErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/components/NeedHelpMessage/NeedHelpMessage.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoDisclaimers/DepositCryptoDisclaimers.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoDisclaimer/WithdrawalCryptoDisclaimer.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.scss
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeScreen.tsx
Labels: Wallets

#16811 aum / WALL-4881 / remove-deposit-pop-up-for-mf-clients-real-account-creation
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/__test__/deposit-now-or-later-modal.spec.tsx
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/deposit-now-or-later-modal.tsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core

#16786 [WALL] Lubega / WALL-4842 / tUSDT notice banner and notification
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cashier/package.json
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-info-notice/__test__/deposit-crypto-info-notice.test.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-info-notice/deposit-crypto-info-notice.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-info-notice/index.ts
  packages/cashier/src/modules/deposit-crypto/components/index.ts
  packages/cashier/src/modules/deposit-crypto/deposit-crypto.tsx
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/core/src/Stores/notification-store.js
  packages/p2p/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.scss
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoInfoNotice/DepositCryptoInfoNotice.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoInfoNotice/__tests__/DepositCryptoInfoNotice.spec.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoInfoNotice/index.ts
Labels: Trader, Core, Components, P2P, Account, AppStore

#16671 [CFDS][WALL] shontzu/CFDS-4166/Improve-design-for-cTrader-and-dxtrade-Web-terminal-CTA-button
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/ctrader-derivx-trade-modal.tsx
  packages/cfd/src/Helpers/config.tsx
  packages/core/src/App/Containers/AccountSwitcher/helpers/account-helper.js
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.tsx
Labels: Core, AppStore

#16808 DTRA-1893 / Kate / [DTrader-V2]: Improvements - Parameter for Rise/Fall in minimize view is scrollable vertically
  packages/shared/src/utils/routes/routes.ts
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals.scss
  packages/trader/src/AppV2/Containers/Markets/index.ts
  packages/trader/src/AppV2/Containers/Markets/markets.scss
  packages/trader/src/AppV2/Containers/Markets/markets.tsx
  packages/trader/src/AppV2/Containers/Menu/index.ts
  packages/trader/src/AppV2/Containers/Menu/menu.scss
  packages/trader/src/AppV2/Containers/Menu/menu.tsx
  packages/trader/src/AppV2/Routes/routes.tsx
Labels: Trader, Shared

#16806 DTRA-1891 / Kate / [DTrader-V2]: Bug - Plus stepper on risk management showing NaN
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
Labels: Trader

#16816 [TRAH-4153] shahzaib / one_time_deposit url param to trigger deposit modal if logged in
  packages/appstore/src/components/app-content.tsx
Labels: AppStore

#16849 [WEBREL] george / WEBREL-3155 / Reports link on Dtrader page not appearing for wallet accounts
  packages/core/src/App/Containers/Layout/header/dtrader-header-wallets.tsx
Labels: Core

#16472 [TRAH] Sergei / TRAH - 3858 / Blank screen shown for accounts with no currency
  packages/account/src/Components/currency-selector/currency-selector.tsx
  packages/core/src/Services/socket-general.js
Labels: Core, Account

#16564 Jim/wall 4348/replace wallet text with text from UI library
  packages/wallets/src/components/AppCard/AppCard.tsx
  packages/wallets/src/components/Base/Tabs/TabTitle.tsx
  packages/wallets/src/components/Base/WalletAlertMessage/WalletAlertMessage.tsx
  packages/wallets/src/components/Base/WalletText/WalletText.scss
  packages/wallets/src/components/Base/WalletText/WalletText.tsx
  packages/wallets/src/components/Base/WalletText/index.ts
  packages/wallets/src/components/Base/WalletTextField/HelperMessage.tsx
  packages/wallets/src/components/Base/index.ts
  packages/wallets/src/components/Dropzone/Dropzone.tsx
  packages/wallets/src/components/SkeletonLoader/WalletsCarouselLoader/WalletsCarouselLoader.tsx
  packages/wallets/src/components/WalletListCardBalance/WalletListCardBalance.tsx
  packages/wallets/src/components/WalletsPercentageSelector/WalletsPercentageSelectorBlock.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/IDVService.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/IDVService/components/IDVServiceErrorMessage.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/VerifyPersonalDetails.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentRules/components/DocumentRuleTile/DocumentRuleTile.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentSelection/DocumentSelection.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DocumentSelection/components/DocumentSelectionCard/DocumentSelectionCard.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/DrivingLicenseUpload/DrivingLicenseUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/IdentityCardUpload/IdentityCardUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/NIMCSlipUpload/NIMCSlipUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/PassportUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/SelfieUpload/SelfieUpload.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/CommonMistakesExamples/CommonMistakesExamples.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/DocumentSubmission/DocumentSubmission.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/TaxInformation.tsx
  packages/wallets/src/features/accounts/modules/TaxInformation/components/NeedHelpMessage/NeedHelpMessage.tsx
  packages/wallets/src/features/cashier/components/WalletActionModal/WalletActionModal.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoAddress/DepositCryptoAddress.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/TransactionsCompletedRowAccountDetails.tsx
  packages/wallets/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsDescription.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsPlatformLabel.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsIconWithLabel.tsx
  packages/wallets/src/features/cfd/screens/DynamicLeverage/DynamicLeverageMarketCard.tsx
  packages/wallets/src/features/cfd/screens/DynamicLeverage/DynamicLeverageTableColumnHeader.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardBack.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardTag.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionScreen.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/__tests__/JurisdictionScreen.spec.tsx
Labels: Trader, Core

#16827 fix: tooltip added for dashboard icons
  packages/bot-web-ui/src/constants/dashboard.ts
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent-workspace.tsx
Labels: Bot

#16834 [BOT] Farabi/bot-2205/rudderstack-upload-strategy-complete-event
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#16577 [BOT]maryia/BOT-1981/feat: Add a "What's new" section to the dashboar…
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/pages/dashboard/__tests__/user-guide.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcement-dialog.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcement.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcements.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-components.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/config.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/index.ts
  packages/bot-web-ui/src/pages/dashboard/announcements/utils/accumulator-helper-functions.ts
  packages/bot-web-ui/src/pages/dashboard/dashboard.tsx
  packages/bot-web-ui/src/pages/dashboard/user-guide.tsx
  packages/bot-web-ui/src/pages/tutorials/constants.ts
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/core/src/public/images/common/static_images/introducing_accumulators_on_deriv_bot.png
  packages/p2p/package.json
  packages/reports/package.json
  packages/reports/src/Containers/__tests__/reports.spec.tsx
  packages/trader/package.json
  packages/wallets/package.json
Labels: Trader, Core, Bot, Components, P2P, Account, AppStore

#16810 fix: server side pdf fix
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Labels: Bot

#16764 [UPM-1474]/evgeniy/passkey remove without verification
  packages/account/src/Components/network-status-toast-popup/network-status-toast-popup.scss
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/Security/Passkeys/__tests__/passkeys.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-card.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-removed.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-rename.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-status-container.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/description-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/no-passkeys.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-card.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-created.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-error-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-reminder-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-remove-confirmation-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-removed.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-rename.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-learn-more.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-list.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/tips-block.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/account/src/Sections/index.js
  packages/core/src/Stores/client-store.js
  packages/hooks/src/__tests__/useGetPasskeysList.spec.tsx
  packages/hooks/src/__tests__/useRegisterPasskey.spec.tsx
  packages/hooks/src/__tests__/useRemovePasskey.spec.tsx
  packages/hooks/src/__tests__/useRenamePasskey.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useGetPasskeysList.ts
  packages/hooks/src/useRegisterPasskey.ts
  packages/hooks/src/useRemovePasskey.ts
  packages/hooks/src/useRenamePasskey.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Account

#16802 [WALL] george / WALL-4846 / Crypto withdrawal redirection link issue
  packages/cashier/src/pages/withdrawal/__tests__/withdrawal.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#16881 update master
  packages/account/src/Components/network-status-toast-popup/network-status-toast-popup.scss
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/Security/Passkeys/__tests__/passkeys.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-card.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-removed.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkey-rename.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-status-container.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/description-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/no-passkeys.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-card.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-created.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-error-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-reminder-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-remove-confirmation-modal.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-removed.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkey-rename.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-learn-more.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-list.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/tips-block.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/account/src/Sections/index.js
  packages/cashier/src/pages/withdrawal/__tests__/withdrawal.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/__tests__/useGetPasskeysList.spec.tsx
  packages/hooks/src/__tests__/useRegisterPasskey.spec.tsx
  packages/hooks/src/__tests__/useRemovePasskey.spec.tsx
  packages/hooks/src/__tests__/useRenamePasskey.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useGetPasskeysList.ts
  packages/hooks/src/useRegisterPasskey.ts
  packages/hooks/src/useRemovePasskey.ts
  packages/hooks/src/useRenamePasskey.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Account

#16838 [BOT] sandeep/test: 🔥 added test suite for main component
  packages/bot-web-ui/src/pages/main/__tests__/main.spec.tsx
  packages/bot-web-ui/src/pages/main/main.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Bot

#16829 DTRA-1880 / Kate / [DTrader-V2] Chunks loading order issue
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/core/src/App/app.jsx
Labels: Core, Components

#16796 [DTRA]/Ahmad/Accumulator fixes
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-modal.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-row.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.tsx
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
Labels: Trader

#16612 [DTRA] henry/dtra-1672/refactor hooks and make url trade params and trade types work
  packages/shared/src/utils/contract/contract.tsx
  packages/shared/src/utils/helpers/active-symbols.ts
  packages/shared/src/utils/platform/platform.ts
  packages/trader/package.json
  packages/trader/src/AppV2/Components/ActiveSymbolsList/__tests__/active-symbols-list.spec.tsx
  packages/trader/src/AppV2/Components/ActiveSymbolsList/active-symbols-list.tsx
  packages/trader/src/AppV2/Components/MarketCategories/__tests__/market-categories.spec.tsx
  packages/trader/src/AppV2/Components/MarketSelector/__tests__/market-selector.spec.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list.tsx
  packages/trader/src/AppV2/Containers/Chart/trade-chart.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade-types.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useActiveSymbols.spec.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useContractsForCompany.spec.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useDTraderQuery.spec.ts
  packages/trader/src/AppV2/Hooks/__tests__/useDefaultSymbol.spec.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useGetSymbolSearchResults.spec.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Hooks/useContractsForCompany.ts
  packages/trader/src/AppV2/Hooks/useDefaultSymbol.ts
  packages/trader/src/AppV2/Hooks/useDtraderQuery.ts
  packages/trader/src/AppV2/Utils/client.ts
  packages/trader/src/AppV2/Utils/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/Actions/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
  packages/trader/src/Types/common-prop.type.ts
  packages/utils/src/getLocalStorage.ts
  packages/utils/src/index.ts
Labels: Trader, Shared

#16556 [UPM-1368]/evgeniy/add uzbek language
  package-lock.json
  packages/account/package.json
  packages/api-v2/src/hooks/useOnfido.ts
  packages/api/src/hooks/useOnfido.ts
  packages/appstore/package.json
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/package.json
  packages/components/src/components/icon/icons.js
  packages/core/package.json
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/core/src/sass/app/_common/components/app-notification-message.scss
  packages/p2p/src/components/i18next/index.ts
  packages/p2p/src/pages/buy-sell/buy-sell-row.scss
  packages/shared/package.json
  packages/shared/src/utils/constants/translation-flag.tsx
  packages/shared/src/utils/url/helpers.ts
  packages/translations/src/i18next/i18next.ts
  packages/wallets/package.json
  packages/wallets/src/helpers/urls.ts
Labels: Trader, Core, Bot, Shared, Components, Translations, P2P, Account, AppStore

#16809 [BOT]maryia/feat: [Server Bot] - [Improvement] - Summary and Journal panels
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/clear-journal-transactions.tsx
  packages/bot-web-ui/src/pages/server-side-bot/journal/journal.tsx
  packages/bot-web-ui/src/pages/server-side-bot/performance-panel/performance-panel.tsx
  packages/bot-web-ui/src/pages/server-side-bot/summary/summary.tsx
Labels: Bot

#16822 DTRA-1816 / Kate / [DTrader-V2] Add a video for Position page Onboarding guide
  packages/core/src/public/videos/user-onboarding-guide-positions-page.mp4
  packages/trader/src/AppV2/Components/Guide/Description/video-preview.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/__tests__/onboarding-guide.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/__tests__/onboarding-video.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-guide.scss
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-guide.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-video.tsx
Labels: Trader, Core

#16861 [DTRA-V2] fix: add margin to favorites
  packages/trader/src/AppV2/Components/FavoriteSymbols/favorite-symbols.scss
Labels: Trader

#16892 Akmal / fix: improve take profit and stop loss validation handling
  packages/core/src/Stores/contract-store.js
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
Labels: Trader, Core

#16904 DTRA-1913 / Kate / [DTrader-V2] Stake field header and the amount is not aligned properly
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Containers/Positions/positions.scss
Labels: Trader

#16913 Akmal / feat: swap payout per point and stake in trade params
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
Labels: Trader

#16864 fix: speed up animation time
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot-display.tsx
Labels: Trader

#16862 [DTRA-V2] fix: display max payout
  packages/trader/src/AppV2/Components/TradeParameters/Stake/__tests__/stake.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake-details.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
Labels: Trader

#16869 [UPM-1450]/evgeniy/add passkey attribute to hotjar
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/app.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Utils/Hotjar/index.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#16910 [WALL] Jim/WALL-4923/update gh dependency to version 6
  package-lock.json
  packages/bot-web-ui/package.json
  packages/components/package.json
  packages/core/package.json
Labels: Core, Bot, Components

#16865 Rupato/BOT-2103/fix: maximum call stack exceeded
  packages/bot-skeleton/src/scratch/hooks/gesture.js
Labels: Bot

#16909 [PNV] - (UPM1501) Suisin/chore: update stepper for pnv flow
  packages/account/src/Sections/Profile/PhoneVerification/__test__/confirm-phone-number.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/otp-verification.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
Labels: Account

#16880 DTRA-1923 / Kate / [DTrader-V2]Commission amount is showing in invalid format
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier-wheel-picker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/RiskManagement/take-profit-and-stop-loss-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake-details.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Labels: Trader

#16850 DTRA-1903 / Kate / [DTrader-V2] Digit Duration maintains the duration chips when there’s only one available
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/chips.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
Labels: Trader

#16950 DTRA-1921 / Kate / [DTrader-V2] The stake details on the purchase button are appearing in black
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.scss
Labels: Trader

#16951 fix: [WEBREL-3186]/evgeniy/unable to signup - blank screen
  packages/core/src/Stores/client-store.js
Labels: Core

#16961 webrel-3187 - wrong lang value passed to url
  package-lock.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/api/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Labels: Trader, Core, Shared, P2P, Account

#16954 fix: [WEBREL-3185]/evgeniy/dbot is navigated to EN page from non-EN TH page
  packages/translations/src/i18next/i18next.ts
Labels: Translations

#16860 fix: test cases
  packages/bot-web-ui/src/utils/__tests__/dom-observer.spec.ts
  packages/bot-web-ui/src/utils/__tests__/download.spec.ts
  packages/bot-web-ui/src/utils/__tests__/gtm.spec.ts
  packages/bot-web-ui/src/utils/__tests__/xml-dom-quick-strategy.spec.ts
  packages/bot-web-ui/src/utils/download.ts
  packages/bot-web-ui/src/utils/xml-dom-quick-strategy.ts
Labels: Bot

#16870 [BOT] Sandeep/bot-1494/test--load-bot-preview
  packages/bot-web-ui/src/components/load-modal/google-drive/__tests__/google-drive.spec.tsx
  packages/bot-web-ui/src/components/load-modal/google-drive/google-drive.scss
  packages/bot-web-ui/src/components/load-modal/google-drive/google-drive.tsx
  packages/bot-web-ui/src/components/load-modal/google-drive/index.ts
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/hooks/useComponentVisibility.tsx
  packages/bot-web-ui/src/pages/bot-builder/__tests__/stop-bot-modal.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/__tests__/workspace-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/pages/bot-builder/stop-bot-modal-content.tsx
  packages/bot-web-ui/src/pages/bot-builder/stop-bot-modal.tsx
  packages/bot-web-ui/src/pages/bot-builder/workspace-wrapper.tsx
  packages/bot-web-ui/src/pages/dashboard/__tests__/cards.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/__tests__/stop-bot-modal-content.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/__tests__/dashboard-bot-list.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/__tests__/recent-workspace.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/dashboard-bot-list.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/delete-dialog/__tests__/delete-dialog.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/delete-dialog/delete-dialog.scss
  packages/bot-web-ui/src/pages/dashboard/bot-list/delete-dialog/delete-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/delete-dialog/index.ts
  packages/bot-web-ui/src/pages/dashboard/bot-list/index.scss
  packages/bot-web-ui/src/pages/dashboard/bot-list/recent-workspace.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/save-modal/__tests__/icon-radio.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/save-modal/__tests__/save-modal.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/save-modal/icon-radio.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/save-modal/index.ts
  packages/bot-web-ui/src/pages/dashboard/bot-list/save-modal/save-modal.scss
  packages/bot-web-ui/src/pages/dashboard/bot-list/save-modal/save-modal.tsx
  packages/bot-web-ui/src/pages/dashboard/bot-list/types.ts
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/dashboard/dashboard.scss
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/__tests__/bot-preview.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/__tests__/local-footer.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/__tests__/local.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/bot-preview.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/index.ts
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/local-footer.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/local.tsx
  packages/bot-web-ui/src/stores/google-drive-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/save-modal-store.ts
Labels: Bot

#16897 [DTRA]Ahmad/DTRA-1938/ Duration Fixes
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/chips.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/datepicker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.scss
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
Labels: Trader, Core, Components, Account

#16921 [PNV] - (UPM1500) Suisin/chore: create expiry count down timer
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-verification-card.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/phone-verification-page.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-card.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification-page.tsx
  packages/account/src/Sections/Profile/PhoneVerification/phone-verification.scss
  packages/hooks/src/__tests__/usePhoneNumberVerificationSessionTimer.spec.tsx
  packages/hooks/src/usePhoneNumberVerificationSessionTimer.ts
Labels: Account

#16887 [PNV] - (UPM1498) Suisin/chore: strip any characters other than + and numbers for phone number
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
Labels: Core, Account

#16970 update deriv-com/utils version
  package-lock.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/api/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Labels: Trader, Core, Shared, P2P, Account

#16924 [PNV] - (UPM1519) Suisin/chore: on click verify button should save others personal details con…
  packages/account/src/Sections/Profile/PersonalDetails/__tests__/verify-button.spec.tsx
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
Labels: Account

#16898 [PNV] - (UPM1499) Suisin/chore: on click notification should directly go into phone number ver…
  packages/account/src/Sections/Profile/PersonalDetails/verify-button.tsx
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/ui-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Account

#16934 [PNV] - (UPM1502) Suisin/chore: update content based on latest design
  packages/account/src/Sections/Profile/PhoneVerification/__test__/confirm-phone-number.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/__test__/otp-verification.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/confirm-phone-number.tsx
  packages/account/src/Sections/Profile/PhoneVerification/didnt-get-the-code-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
Labels: Account

#16848 Rupato/BOT-2196/feat: Implementation--for-new-accumulator-blocks
  packages/bot-skeleton/src/scratch/accumulators-proposal-handler.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tick Analysis/index.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tick Analysis/stat.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tick Analysis/stat_list.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Time/index.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Tools/Time/tickdelay.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_accumulator.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-skeleton/src/services/tradeEngine/Interface/TicksInterface.js
  packages/bot-skeleton/src/services/tradeEngine/trade/Ticks.js
  packages/bot-skeleton/src/services/tradeEngine/trade/index.js
  packages/bot-web-ui/src/pages/bot-builder/toolbox/toolbox-items.tsx
Labels: Bot

#16855 DTRA-1714 and 1887 / Kate / [DTrader-V2]: Position of notification is not as per requirement + Fix spelling
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/trader/src/AppV2/Components/MarketCategory/__tests__/market-category.spec.tsx
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
  packages/trader/src/AppV2/Utils/__tests__/symbol-categories-utils.spec.ts
  packages/trader/src/AppV2/Utils/symbol-categories-utils.ts
Labels: Trader, Core

#16989 [UPM-1598]/evgeniy/trackJS error, reading passkeys_list.length
  packages/core/src/Utils/Hotjar/index.ts
Labels: Core

#16905 [TRAH] george / TRAH-3946 / Notification is truncated in CFD compare account and Wallet cashier page
  packages/core/src/App/Containers/NotificationsDialog/notification-list-wrapper.tsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.tsx
  packages/core/src/sass/app/modules/notifications-dialog.scss
Labels: Core

#16973 DTRA-1959 / Kate / [DTrader-V2]: Close button for Acc is visible for other contracts
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
Labels: Trader

#16999 [PNV] UPM1635 Suisin/chore: fix growthbook FF off pnv routing issue
  packages/account/src/Sections/Profile/PhoneVerification/__test__/cancel-phone-verification-modal.spec.tsx
  packages/account/src/Sections/Profile/PhoneVerification/cancel-phone-verification-modal.tsx
  packages/account/src/Sections/Profile/PhoneVerification/otp-verification.tsx
  packages/hooks/src/usePhoneNumberVerificationSessionTimer.ts
Labels: Account

#16996 Akmal / feat: show only available trade types in guide
  packages/trader/src/AppV2/Components/Guide/__tests__/guide-description-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.tsx
Labels: Trader

#16919 DTRA-1879 / Kate / [DTrader-V2]: Implement Rise/Fall forward starting contract and change card structure
  packages/shared/src/utils/shortcode/shortcode.ts
  packages/trader/src/AppV2/Components/ContractCard/__tests__/contract-card-status-timer.spec.tsx
  packages/trader/src/AppV2/Components/ContractCard/__tests__/contract-card.spec.tsx
  packages/trader/src/AppV2/Components/ContractCard/__tests__/forward-starting-tag.spec.tsx
  packages/trader/src/AppV2/Components/ContractCard/contract-card-status-timer.tsx
  packages/trader/src/AppV2/Components/ContractCard/contract-card.scss
  packages/trader/src/AppV2/Components/ContractCard/contract-card.tsx
  packages/trader/src/AppV2/Components/ContractCard/forward-starting-tag.tsx
  packages/trader/src/AppV2/Components/ForwardStartingBanner/__tests__/forward-starting-banner.spec.tsx
  packages/trader/src/AppV2/Components/ForwardStartingBanner/forward-starting-banner.scss
  packages/trader/src/AppV2/Components/ForwardStartingBanner/forward-starting-banner.tsx
  packages/trader/src/AppV2/Components/ForwardStartingBanner/index.ts
  packages/trader/src/AppV2/Components/TakeProfitHistory/__tests__/take-profit-history.spec.tsx
  packages/trader/src/AppV2/Components/TakeProfitHistory/take-profit-history.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/__tests__/contract-details.spec.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Labels: Trader, Shared

#16854 DTRA-1902 / Kate / [DTrader-V2] Video seek timer bug when dragged to a different timestamp
  packages/components/src/components/video-player/__tests__/video-controls.spec.tsx
  packages/components/src/components/video-player/video-controls.tsx
  packages/components/src/components/video-player/video-player.scss
  packages/components/src/components/video-player/video-player.tsx
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.scss
Labels: Trader, Components

#17013 DTRA / Kate / Fix failing tests
  packages/trader/src/AppV2/Components/ForwardStartingBanner/__tests__/forward-starting-banner.spec.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
Labels: Trader

#16980 DTRA-2014 / Kate / [DTrader-V2] Broken trade onboarding after Step 3
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/steps-config.tsx
Labels: Trader

#16967 Akmal / feat: delay position card animation until onboarding is closed
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/__tests__/onboarding-guide.spec.tsx
  packages/trader/src/AppV2/Components/OnboardingGuide/GuideForPages/onboarding-guide.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
Labels: Trader

#16938 [DTRA-V2] DTRA-1899 fix: add snackbar message when theres an error on initial mount
  packages/trader/src/AppV2/Components/TradeParameters/Stake/__tests__/stake.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-container.tsx
Labels: Trader

#16977 DTRA-2003 / Kate / [DTrader-V2] Blinking of 'Close' market
  packages/trader/src/AppV2/Components/MarketSelector/__tests__/market-selector.spec.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
Labels: Trader

#17009 DTRA-2036 / Kate / Loader for DTrader-V2 is shown outside of DTrader
  packages/core/src/App/Components/Routes/binary-routes.jsx
Labels: Core
