Repository deriv-com/deriv-app, pull requests merged in 2024-08, with the labels that each got.

#16279 [DTRA] Maryia/DTRA-1557/feat: [V2] make 1 active_symbols API call for each pair of Vanillas and Turbos contract types
  packages/trader/src/AppV2/Hooks/__tests__/useActiveSymbols.spec.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
Labels: Trader

#16224 DTRA / Kate / DTRA-1475 / Implement Take profit trade param functionality
  packages/trader/src/AppV2/Components/Carousel/__tests__/carousel-header.spec.tsx
  packages/trader/src/AppV2/Components/Carousel/carousel-header.tsx
  packages/trader/src/AppV2/Components/Carousel/carousel.scss
  packages/trader/src/AppV2/Components/Carousel/carousel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/__tests__/take-profit.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-description.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.scss
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/purchase-button.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/purchase-fieldset.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/__tests__/cancel-deal-info.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/Purchase/__tests__/contract-info.spec.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader

#16298 Ako/ update analytics package to version 1.11.0
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Labels: Trader, Core, Shared, Account, AppStore

#16312 [BOT] sandeep/server-bot-typo-fix
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.tsx
Labels: Bot

#16196 [DTRA] Henry/dtra 1443/market closed message v2
  packages/trader/src/AppV2/Components/ActiveSymbolsList/active-symbols-list.scss
  packages/trader/src/AppV2/Components/ClosedMarketMessage/closed-market-message.scss
  packages/trader/src/AppV2/Components/ClosedMarketMessage/closed-market-message.tsx
  packages/trader/src/AppV2/Components/ClosedMarketMessage/index.ts
  packages/trader/src/AppV2/Components/MarketCategory/market-category.tsx
  packages/trader/src/AppV2/Components/MarketCountdownTimer/__tests__/market-countdown-timer.spec.tsx
  packages/trader/src/AppV2/Components/MarketCountdownTimer/index.ts
  packages/trader/src/AppV2/Components/MarketCountdownTimer/market-countdown-timer.scss
  packages/trader/src/AppV2/Components/MarketCountdownTimer/market-countdown-timer.tsx
  packages/trader/src/AppV2/Components/MarketOpeningTimeBanner/__tests__/market-opening-time-banner.spec.tsx
  packages/trader/src/AppV2/Components/MarketOpeningTimeBanner/index.ts
  packages/trader/src/AppV2/Components/MarketOpeningTimeBanner/market-opening-time-banner.scss
  packages/trader/src/AppV2/Components/MarketOpeningTimeBanner/market-opening-time-banner.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Utils/__tests__/closed-market-message-utils.spec.ts
  packages/trader/src/AppV2/Utils/closed-market-message-utils.ts
Labels: Trader

#16321 fix: build failure
  packages/trader/src/AppV2/Components/ClosedMarketMessage/closed-market-message.tsx
Labels: Trader

#16323 Nijil / WALL-4548 / Fix UI issues raised for Cashier Tablet UI
  packages/cashier/src/components/cashier-locked/cashier-locked.scss
  packages/cashier/src/components/page-container/page-container.scss
  packages/cashier/src/components/page-container/page-container.tsx
  packages/cashier/src/containers/cashier/cashier.scss
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/pages/account-transfer/__tests__/account-transfer.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.scss
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.scss
  packages/cashier/src/pages/account-transfer/account-transfer-receipt/account-transfer-receipt.tsx
  packages/cashier/src/pages/account-transfer/account-transfer.tsx
  packages/cashier/src/pages/on-ramp/__tests__/on-ramp.spec.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.scss
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/pages/payment-agent-transfer/__tests__/payment-agent-transfer.spec.tsx
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer-form/payment-agent-transfer-form.tsx
  packages/cashier/src/pages/payment-agent-transfer/payment-agent-transfer.tsx
  packages/cashier/src/pages/payment-agent/__tests__/payment-agent.spec.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.scss
  packages/cashier/src/pages/payment-agent/payment-agent.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/withdrawal-crypto-form.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/withdrawal-crypto-receipt.scss
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/withdrawal-crypto-receipt.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/components/src/components/page-overlay/page-overlay.scss
  packages/p2p/src/components/cashier-under-maintenance/cashier-under-maintenance.scss
Labels: Components, P2P

#16272 [Rupato]/fix: for custom variable strategy
  packages/bot-skeleton/src/scratch/hooks/index.js
  packages/bot-skeleton/src/scratch/hooks/variable.js
  packages/bot-web-ui/src/stores/app-store.ts
  packages/bot-web-ui/src/stores/save-modal-store.ts
Labels: Bot

#16332 Rupato/fix: controls if statement
  packages/bot-skeleton/src/scratch/blocks/Logic/controls_if.js
  packages/bot-skeleton/src/scratch/hooks/flyout_base.js
Labels: Bot

#16161 Akmal / fix: pass currency across closed positions and contract details
  packages/trader/src/AppV2/Components/ContractCard/contract-cards-sections.tsx
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Labels: Trader

#16121 [DTRA]/Ahmad/DTRA-1490/Deal Cancellation Status Fix Trader-V2
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Labels: Trader, Shared

#15417 [TRAH] Sergei / TRAH - 3145 / Configure webpack setting to remove downloading redundant chunks
  packages/api/package.json
  packages/api/src/hooks/useRemoteConfig.ts
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/webpack.config.js
  packages/bot-web-ui/src/app/dbot-providers.tsx
  packages/bot-web-ui/src/pages/bot-builder/__tests__/bot-builder.spec.tsx
  packages/cashier/src/app.tsx
  packages/cashier/src/cashier-providers.tsx
  packages/cashier/src/components/email-verification-empty-state/__tests__/email-verification-empty-state.test.tsx
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-side-notes/__test__/deposit-crypto-side-notes.test.tsx
  packages/cashier/src/modules/deposit-fiat/components/deposit-fiat-iframe/__test__/deposit-fiat-iframe.spec.tsx
  packages/cashier/src/pages/withdrawal/__tests__/withdrawal.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/__tests__/withdrawal-crypto-receipt.spec.tsx
  packages/cfd/src/cfd-providers.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/toggle-menu-drawer.spec.jsx
  packages/p2p/src/components/modal-manager/modals/copy-advert-modal/__tests__/copy-advert-modal.spec.tsx
  packages/p2p/src/pages/my-profile/payment-methods/edit-payment-method-form/__tests__/edit-payment-method-form.spec.tsx
  packages/stores/package.json
  packages/stores/src/storeProvider.tsx
Labels: Core, Bot, P2P, AppStore

#16356 Update localstorage-sync.html
  packages/core/src/root_files/localstorage-sync.html
Labels: Core

#16199 Nijil / WALL-4502 / Wallet upgrade banner UI fixes for Tablet screen sizes
  packages/appstore/src/components/banners/wallets-banner/__tests__/wallets-banner.spec.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
  packages/components/src/components/icon/appstore/ic-appstore-wallets-upgrade-coins-horizontal.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallets-upgrade-coins.svg
  packages/components/src/components/icon/appstore/ic-appstore-wallets-upgrade-unsuccessful.svg
Labels: Components, AppStore

#16328 DTRA / Kate / DTRA-1561 / Update layout for Even / Odd
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/__tests__/last-digit-prediction.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.scss
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-selector.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Labels: Trader

#16180 [DTRA]/Ahmad/DTRA-1539/Adding Current Chart in Contract Details Page V2
  package-lock.json
  packages/trader/src/AppV2/Containers/Chart/__tests__/chart-placeholder.spec.tsx
  packages/trader/src/AppV2/Containers/Chart/__tests__/contract-details-chart.spec.tsx
  packages/trader/src/AppV2/Containers/Chart/chart-placeholder.tsx
  packages/trader/src/AppV2/Containers/Chart/chart.scss
  packages/trader/src/AppV2/Containers/Chart/contract-details-chart.scss
  packages/trader/src/AppV2/Containers/Chart/contract-details-chart.tsx
  packages/trader/src/AppV2/Containers/Chart/index.ts
  packages/trader/src/AppV2/Containers/ContractDetails/__tests__/contract-details.spec.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.tsx
  packages/trader/src/Modules/Contract/Containers/replay-chart.tsx
Labels: Trader

#16244 Rupato/fix: getBlocksInStatement trackjs error
  packages/bot-skeleton/src/scratch/backward-compatibility.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Before Purchase/purchase.js
Labels: Bot

#16348 [BOT] Sandeep/bot-2072/ssb-fix-already-subscribed
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.tsx
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Labels: Bot

#16372 Hirad/TRAH-3854/Adding a new empty div for clever tap
  packages/appstore/src/modules/traders-hub/index.tsx
Labels: AppStore

#16360 [BOT]TrackJS/Rupato/BOT-1320/Fix-Cannot-Read-Properties-undefined-set
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/stores/app-store.ts
  packages/bot-web-ui/src/stores/toolbox-store.ts
Labels: Bot

#16364 [WALL] [WEBREL] aum / WEBREL-3055 / wallet-password-validation-error-DerivX-MT5
  packages/wallets/src/constants/password.ts
Labels: Trader, Bot, Components, AppStore

#16368 [WEBREL] Sergei / WEBREL - 3054 / Change Investor Password Link is Not Working
  packages/appstore/src/components/modals/modal-manager.tsx
Labels: AppStore

#16192 Matin/WALL-3643/Remove UKGC Fund Protection logic from FE code
  packages/api-v2/src/hooks/useAccountStatus.ts
  packages/api-v2/src/hooks/useCashierValidation.ts
  packages/api/src/hooks/useAccountStatus.ts
  packages/api/src/hooks/useCashierValidation.ts
  packages/cashier/src/components/cashier-locked/__tests__/cashier-locked.spec.tsx
  packages/cashier/src/components/cashier-locked/cashier-locked-provider.tsx
  packages/cashier/src/components/error-state/error-state.tsx
  packages/cashier/src/components/funds-protection/__tests__/funds-protection.spec.tsx
  packages/cashier/src/components/funds-protection/funds-protection.tsx
  packages/cashier/src/components/funds-protection/index.ts
  packages/cashier/src/stores/__tests__/error-store.spec.ts
  packages/cashier/src/stores/error-store.ts
  packages/cashier/src/types/error.types.ts
  packages/core/src/Stores/notification-store.js
  packages/hooks/src/useIsAccountStatusPresent.ts
Labels: Core

#16290 DTRA / Kate / DTRA-1560 / DTRADER-V2]: Implement Notification banner for opened and closed position
  packages/core/src/Stores/portfolio-store.js
  packages/shared/src/utils/helpers/__tests__/dtrader-v2-helpers.spec.ts
  packages/shared/src/utils/helpers/dtrader-v2-helpers.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Containers/Notifications/__tests__/notifications.spec.tsx
  packages/trader/src/AppV2/Containers/Notifications/index.ts
  packages/trader/src/AppV2/Containers/Notifications/notifications.scss
  packages/trader/src/AppV2/Containers/Notifications/notifications.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core, Shared

#16315 [DTRA]/Ahmad/DTRA-1439/Barrier Trade Params Dtrader V2
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/Carousel/__tests__/carousel.spec.tsx
  packages/trader/src/AppV2/Components/Carousel/carousel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/__tests__/barrier-input.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/__tests__/barrier.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier-description.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier-header.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.scss
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/index.ts
Labels: Trader, Core, Account

#16108 [CFDS]/Hasan/CFDS-4260/tnc design update
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-checkbox.tsx
  packages/cfd/src/sass/cfd.scss
  packages/core/src/sass/app/_common/base/common.scss
Labels: Core

#16387 fix: subscribe to api message after account switch
  packages/bot-web-ui/src/app/__tests__/app-content.spec.tsx
  packages/bot-web-ui/src/app/app-content.jsx
Labels: Bot

#16397 Suisin/chore: edit workflows on build docker image
  .github/workflows/build_docker_image.yml
Labels: Account

#16401 Update deriv-charts to 2.3.0
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#16330 [DTRA] Maryia/DTRA-1559/feat: [V2] disable vertical scroll on the chart outside Y-axis
  packages/trader/src/AppV2/Containers/Chart/trade-chart.tsx
Labels: Trader

#16033 User is unable to exit from the flow when trying to access the verification link for change email flow from another logged out device
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Services/logout.js
  packages/core/src/Stores/client-store.js
Labels: Core, Shared

#16267 Fasih/COJ-1146/ Updated modal content and design
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/appstore/src/components/modals/open-positions-svg-modal/__test__/open-positions-svg-modal.spec.tsx
  packages/appstore/src/components/modals/open-positions-svg-modal/open-positions-svg-modal.tsx
  packages/cfd/src/Components/migration-success-modal/__tests__/migration-success-modal-content.spec.tsx
  packages/cfd/src/Components/migration-success-modal/migration-success-modal-content.tsx
  packages/cfd/src/Components/migration-success-modal/migration-success-modal.tsx
Labels: AppStore

#16367 Sergei / Move webpack plugins to default plugins
  packages/appstore/webpack.config.js
Labels: AppStore

#16269 Aswathy/CRO-677/ce_tradershub_dashboard_form unders feature flag
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/appstore/src/components/app-content.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/compare-account/compare-account.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-card.tsx
  packages/appstore/src/components/main-title-bar/account-type-dropdown.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, AppStore

#16093 [WALL] Aizad/WALL-4550/Adding Video Player as Common Components
  packages/appstore/package.json
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/components/package.json
  packages/components/src/components/video-player/__tests__/playback-rate-control.spec.tsx
  packages/components/src/components/video-player/__tests__/video-controls.spec.tsx
  packages/components/src/components/video-player/__tests__/video-overlay.spec.tsx
  packages/components/src/components/video-player/__tests__/video-player.spec.tsx
  packages/components/src/components/video-player/__tests__/volume-control.spec.tsx
  packages/components/src/components/video-player/index.ts
  packages/components/src/components/video-player/playback-rate-control.tsx
  packages/components/src/components/video-player/video-controls.tsx
  packages/components/src/components/video-player/video-overlay.tsx
  packages/components/src/components/video-player/video-player.scss
  packages/components/src/components/video-player/video-player.tsx
  packages/components/src/components/video-player/volume-control.tsx
  packages/components/src/index.ts
  packages/trader/package.json
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
  packages/trader/src/Assets/Trading/Categories/contract-type-description-video.tsx
  packages/trader/src/sass/app.scss
Labels: Trader, Components, AppStore

#16365 [DTRA] Maryia/DTRA-1471/feat: [V2] Implement Growth rate trade param functionality + Accumulator trade features updates
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/Carousel/carousel.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/__tests__/purchase-button.spec.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.scss
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Components/TradeParamDefinition/__tests__/trade-param-definition.spec.tsx
  packages/trader/src/AppV2/Components/TradeParamDefinition/index.ts
  packages/trader/src/AppV2/Components/TradeParamDefinition/trade-param-definition.scss
  packages/trader/src/AppV2/Components/TradeParamDefinition/trade-param-definition.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AccumulatorsInformation/__tests__/accumulators-information.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AccumulatorsInformation/accumulators-information.scss
  packages/trader/src/AppV2/Components/TradeParameters/AccumulatorsInformation/accumulators-information.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/__tests__/growth-rate.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate-picker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.scss
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/index.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/__tests__/take-profit.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-description.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.scss
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
Labels: Trader, Core, Account

#16361 DTRA / Kate / DTRA-1470 / Implement Strike trade param functionality
  packages/trader/src/AppV2/Components/DatePicker/__tests__/date-picker.spec.tsx
  packages/trader/src/AppV2/Components/Filter/__tests__/contract-type-filter.spec.tsx
  packages/trader/src/AppV2/Components/Filter/__tests__/time-filter.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide-definition-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide-description-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/__tests__/allow-equals.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/__tests__/last-digit-prediction.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/__tests__/strike.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike-wheel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.scss
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/__tests__/take-profit.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions-content.spec.tsx
Labels: Trader, Core, Account

#16334 [BOT] Farabi/bot-2027/rudderstack update dashboard shortcut events
  packages/bot-web-ui/src/analytics/__tests__/utils.spec.ts
  packages/bot-web-ui/src/analytics/rudderstack-bot-builder.ts
  packages/bot-web-ui/src/analytics/rudderstack-common-events.ts
  packages/bot-web-ui/src/analytics/rudderstack-dashboard.ts
  packages/bot-web-ui/src/analytics/rudderstack-quick-strategy.ts
  packages/bot-web-ui/src/analytics/rudderstack-tutorials.ts
  packages/bot-web-ui/src/analytics/utils.ts
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/components/trade-animation/trade-animation.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/pages/dashboard/user-guide.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#16316 [BOT] Farabi/bot-2032/add mobile landscape blocker
  packages/bot-web-ui/src/app/app-content.jsx
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.tsx
Labels: Core, Bot

#16377 [BOT] maryia/fix: loader position, amount of progress bar dots
  packages/bot-web-ui/src/components/contract-card-loading/__tests__/contract-card-loading.spec.tsx
  packages/bot-web-ui/src/components/contract-card-loading/__tests__/contract-card-running-bot.spec.tsx
  packages/bot-web-ui/src/components/contract-card-loading/contract-card-loading.tsx
  packages/bot-web-ui/src/components/contract-card-loading/contract-card-running-bot.tsx
  packages/bot-web-ui/src/components/summary/__tests__/summary-card.spec.tsx
  packages/bot-web-ui/src/components/summary/summary-card.scss
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/components/summary/summary-card.types.ts
  packages/bot-web-ui/src/components/summary/summary.scss
  packages/bot-web-ui/src/components/summary/summary.tsx
  packages/bot-web-ui/src/components/trade-animation/__tests__/contract-stage-text.spec.tsx
  packages/bot-web-ui/src/components/trade-animation/contract-stage-text.tsx
  packages/bot-web-ui/src/components/trade-animation/trade-animation.scss
  packages/bot-web-ui/src/components/trade-animation/trade-animation.tsx
  packages/bot-web-ui/src/constants/contract-stage.ts
  packages/bot-web-ui/src/pages/main/main.scss
  packages/bot-web-ui/src/stores/summary-card-store.ts
  packages/components/src/components/icon/common/ic-circle-loader.svg
  packages/components/src/components/icon/icons.js
Labels: Bot, Components

#16349 [UPM] Sergei / UPM - 1209 / Notification and Banner for Senegal business closure
  packages/appstore/src/components/banners/business-closure-banner/__tests__/business-closure-banner.spec.tsx
  packages/appstore/src/components/banners/business-closure-banner/business-closure-banner.scss
  packages/appstore/src/components/banners/business-closure-banner/business-closure-banner.tsx
  packages/appstore/src/components/banners/business-closure-banner/index.ts
  packages/appstore/src/modules/traders-hub/__tests__/index.spec.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/cashier/src/components/cashier-locked/cashier-locked-provider.tsx
  packages/cashier/src/components/cashier-locked/cashier-locked.tsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/ui-store.js
  packages/hooks/src/useDepositLocked.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/__tests__/trading-disabled-by-residence-modal-content.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/__tests__/trading-disabled-by-residence-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/index.ts
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/trading-disabled-by-residence-modal-content.tsx
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/trading-disabled-by-residence-modal.scss
  packages/trader/src/App/Components/Elements/Modals/TradingDisabledByResidenceModal/trading-disabled-by-residence-modal.tsx
  packages/trader/src/App/Containers/Modals/trade-modals.tsx
  packages/trader/src/Modules/Trading/Containers/purchase.tsx
Labels: Trader, Core, AppStore

#16260 [WALL] george / WALL-4522 / Add ce_cashier_deposit_onboarding_form analytics events
  packages/cashier/package.json
  packages/cashier/src/components/deposit-sub-page-analytics-event-tracker/deposit-sub-page-analytics-event-tracker.tsx
  packages/cashier/src/components/deposit-sub-page-analytics-event-tracker/index.ts
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/modules/cashier-onboarding/cashier-onboarding.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/__test__/cashier-onboarding-card.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/cashier-onboarding-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-crypto-card/cashier-onboarding-crypto-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-fiat-card/cashier-onboarding-fiat-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-onramp-card/cashier-onboarding-onramp-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-p2p-card/cashier-onboarding-p2p-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-payment-agent-card/cashier-onboarding-payment-agent-card.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-wallet-address/deposit-crypto-wallet-address.tsx
  packages/cashier/src/modules/deposit-crypto/deposit-crypto.tsx
  packages/cashier/src/modules/deposit-fiat/deposit-fiat.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.tsx
  packages/components/src/components/clipboard/clipboard.tsx
  packages/components/src/components/vertical-tab/vertical-tab-content-container.tsx
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/components/src/components/vertical-tab/vertical-tab.tsx
  packages/p2p/package.json
  packages/p2p/src/pages/app.jsx
  packages/p2p/webpack.config.js
Labels: Components, P2P

#16414 DTRA / Kate / DTRA-1628 / [DTrader-V2]: Change Notification behaviour and position
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/trader/src/AppV2/Containers/Notifications/notifications.tsx
Labels: Trader, Core

#16403 [DTRA] Henry/dtra 1472/multiplier trade params v2
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/__tests__/multiplier.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier-wheel-picker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.scss
  packages/trader/src/AppV2/Components/TradeParameters/Multiplier/multiplier.tsx
Labels: Trader, Core, Account

#16440 [TRAH] Sergei / TRAH - 3947 / Create an empty div for Real account users to support CleverTap
  packages/appstore/src/modules/traders-hub/index.tsx
Labels: AppStore

#16366 [UPM-1064]/evgeniy/AUD currency removal
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
  packages/shared/src/utils/date/__tests__/date-time.spec.ts
  packages/shared/src/utils/date/date-time.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Shared

#16441 [P2P] - Nada/bug fixes tablet view
  packages/p2p/src/components/block-selector/block-selector.scss
  packages/p2p/src/components/floating-rate/floating-rate.scss
  packages/p2p/src/components/modal-manager/modals/order-details-cancel-modal/order-details-cancel-modal.scss
  packages/p2p/src/components/modal-manager/modals/rating-modal/rating-modal.scss
  packages/p2p/src/components/modal-manager/modals/rating-modal/rating-modal.tsx
  packages/p2p/src/components/order-details/order-details-complain-modal-radio-group.scss
  packages/p2p/src/components/order-details/order-details-complain-modal.jsx
  packages/p2p/src/components/order-details/order-details-complain-modal.scss
  packages/p2p/src/components/order-details/order-details-footer.scss
  packages/p2p/src/components/order-details/order-details.scss
  packages/p2p/src/components/toggle-container/toggle-container.scss
  packages/p2p/src/pages/advertiser-page/advertiser-page-adverts.scss
  packages/p2p/src/pages/advertiser-page/advertiser-page-stats.jsx
  packages/p2p/src/pages/advertiser-page/advertiser-page.jsx
  packages/p2p/src/pages/app.scss
  packages/p2p/src/pages/buy-sell/buy-sell-header.scss
  packages/p2p/src/pages/my-ads/ad-type-section/ad-type-section-trailing-icon.tsx
  packages/p2p/src/pages/my-ads/toggle-ads.scss
  packages/p2p/src/pages/orders/chat/chat-header.scss
  packages/p2p/src/pages/orders/chat/chat.scss
  packages/p2p/src/pages/orders/order-table/order-table.scss
Labels: P2P

#16459 [WEBREL] Farabi/webrel-3071/dbot not loading for CRW account
  packages/bot-web-ui/src/app/app-content.jsx
Labels: Bot

#16337 Rupato/BOT-2069/fix: for all commented render method code
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_getSublist.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_split.js
  packages/bot-skeleton/src/scratch/blocks/Math/math_number_property.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_charAt.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_getSubstring.js
  packages/bot-skeleton/src/scratch/blocks/Text/text_prompt_ext.js
Labels: Bot

#16469 [BOT] Farabi/bot-1493/test coverage analytics folder
  packages/bot-web-ui/src/analytics/__tests__/utils.spec.ts
Labels: Bot

#15958 [UPM-1153]/evgeniy/network status component replace to quill-ui component
  packages/account/src/App.tsx
  packages/account/src/Components/network-status-toast-popup/__tests__/network-status-toast-popup.spec.tsx
  packages/account/src/Components/network-status-toast-popup/index.ts
  packages/account/src/Components/network-status-toast-popup/network-status-toast-popup.scss
  packages/account/src/Components/network-status-toast-popup/network-status-toast-popup.tsx
  packages/account/src/Containers/toast-popup.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
Labels: Trader, Core, Account

#16341 [CFDS] shontzu/CFDS-4266/new-password-input-field-is-misaligned-in-MT5-new-password-policy-modal
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/sass/cfd.scss
Labels: AppStore

#16231 [WALL] Lubega / WALL-4559 / Withdrawal and deposit translations
  __mocks__/translation.mock.js
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/components/Base/WalletClipboard/WalletClipboard.tsx
  packages/wallets/src/components/Page404/Page404.tsx
  packages/wallets/src/components/WalletCard/WalletCard.tsx
  packages/wallets/src/components/WalletListCardBadge/WalletListCardBadge.tsx
  packages/wallets/src/components/WalletsErrorScreen/WalletsErrorScreen.tsx
  packages/wallets/src/components/WalletsErrorScreen/__tests__/WalletsErrorScreen.spec.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoCurrencyDetails/DepositCryptoCurrencyDetails.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoDisclaimers/DepositCryptoDisclaimers.scss
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoDisclaimers/DepositCryptoDisclaimers.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoDisclaimers/__tests__/DepositCryptoDisclaimers.spec.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoTryFiatOnRamp/DepositCryptoTryFiatOnRamp.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/FiatOnRamp.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/components/FiatOnRampDisclaimer/FiatOnRampDisclaimer.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/components/FiatOnRampProviderCard/FiatOnRampProviderCard.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/constants.tsx
  packages/wallets/src/features/cashier/modules/ResetBalance/ResetBalance.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/WithdrawalCrypto.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoDisclaimer/WithdrawalCryptoDisclaimer.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/WithdrawalCryptoForm.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPercentageSelector/WithdrawalCryptoPercentageSelector.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriority/WithdrawalCryptoPriority.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriorityFeeInfo/WithdrawalCryptoPriorityFeeInfo.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/WithdrawalCryptoReceipt.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/__tests__/WithdrawalCryptoReceipt.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/components/WithdrawalCryptoDestinationAddress/WithdrawalCryptoDestinationAddress.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/utils/withdrawalCryptoValidators.ts
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/WithdrawalVerificationRequest/WithdrawalVerificationRequest.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/WithdrawalVerificationSent/WithdrawalVerificationSent.tsx
  packages/wallets/src/features/cashier/screens/DepositErrorScreen/DepositErrorScreen.tsx
  packages/wallets/src/features/cashier/screens/TransferErrorScreen/TransferErrorScreen.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalErrorScreen/WithdrawalErrorScreen.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalNoBalance/WithdrawalNoBalance.tsx
Labels: Trader, Core, Components, Account, AppStore

#16439 Matin/Update GH Workflows
  .github/workflows/coveralls.yml
  .github/workflows/integration-tests.yml
Labels: Bot, AppStore

#16496 [WEBREL] Farabi/webrel-3079/translation-for-senegal-account-closure-banner
  packages/appstore/src/components/banners/business-closure-banner/business-closure-banner.tsx
Labels: AppStore

#16408 DTRA / Kate / DTRA-1594 / console error fix
  packages/trader/src/AppV2/Components/ContractCard/contract-card-status-timer.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Containers/Notifications/notifications.tsx
Labels: Trader

#16419 DTRA / Kate / DTRA-1613 / [DTreader-V2]: Add missed scenarios to TP component and fix minor ui issue with keyboard type
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/__tests__/take-profit.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
Labels: Trader

#16394 DTRA / Kate / DTRA-1434 / Guide component bug fixes
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/accumulators-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/multiplier-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/turbos-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/vanillas-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/accumulators-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/multipliers-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/turbos-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/vanillas-trade-description.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide-definition-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
  packages/trader/src/AppV2/Components/Guide/guide-definition-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.scss
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Utils/__tests__/contract-description.spec.tsx
  packages/trader/src/AppV2/Utils/contract-description-utils.tsx
Labels: Trader

#16436 Rupato/bot 2098/fix delete and zoom after blockly update
  packages/bot-skeleton/src/scratch/hooks/gesture.js
Labels: Bot

#16333 henry/dtra-1563/fix: asset/symbol selection bug fix
  packages/trader/src/AppV2/Components/ActiveSymbolsList/active-symbols-list.tsx
  packages/trader/src/AppV2/Components/MarketCategories/__tests__/market-categories.spec.tsx
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.tsx
  packages/trader/src/AppV2/Components/MarketCategory/market-category.tsx
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.scss
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
  packages/trader/src/AppV2/Components/SymbolsSearchField/__tests__/symbols-search-field.spec.tsx
  packages/trader/src/AppV2/Components/SymbolsSearchField/symbols-search-field.scss
  packages/trader/src/AppV2/Components/SymbolsSearchField/symbols-search-field.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Utils/sort-symbols-utils.ts
  packages/trader/src/AppV2/Utils/symbol-categories-utils.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core, Account

#16432 [UPM-1358]/evgeniy/text area in account closure menu are not bold
  packages/account/src/Styles/account.scss
Labels: Account

#16464 [CFDS][TRAH] shontzu/CFDS-3959/Financial-Assessment-hyperlink-is-not-working-from-transfer-page
  packages/appstore/src/components/account-transfer-modal/__tests__/account-transfer-modal.spec.tsx
  packages/appstore/src/components/account-transfer-modal/account-transfer-modal.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/__tests__/account-transfer-form.spec.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.scss
  packages/components/src/components/cfd-compare-accounts-carousel/cfd-compare-accounts-carousel.scss
Labels: Components, AppStore

#16395 [P2PS] / Ameerul / P2PS-3224 P2P page is stuck on loading when switching accounts
  packages/p2p/src/stores/general-store.js
Labels: P2P

#16442 DTRA / Kate / DTRA-1629 / Bug: selected value is set on page refresh
  packages/stores/src/mockStore.ts
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate-picker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike-wheel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/contract-type.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/__tests__/trade-store.spec.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader

#16479 [BOT] sandeep/bot-2063/fix: disable the delete button when a bot is running
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form.tsx
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list-menu.tsx
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.scss
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.tsx
Labels: Bot

#16431 [DTRA]/Ahmad/DTRA-1607/Add Accumulator Stats
  packages/trader/src/AppV2/Components/AccumulatorStats/__tests__/accumulator-stats.spec.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-description.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-modal.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats-row.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.scss
  packages/trader/src/AppV2/Components/AccumulatorStats/accumulator-stats.tsx
  packages/trader/src/AppV2/Components/AccumulatorStats/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/__tests__/barrier-input.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/__tests__/barrier.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier-header.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier-input.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.scss
  packages/trader/src/AppV2/Components/TradeParameters/Barrier/barrier.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Labels: Trader

#16288 [DTRA] Bala/Remove the purchase loader when switching trade types
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-actions-dtrader-v2.tsx
  packages/stores/src/mockStore.ts
  packages/trader/src/AppV2/Components/PurchaseButton/__tests__/purchase-button-content.spec.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/__tests__/purchase-button.spec.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button-content.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useActiveSymbols.spec.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/process.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/process.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core

#16410 Aswathy/fix: test analytics for country screen
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/PasswordSelectionModal/password-selection-modal.jsx
  packages/core/src/Utils/Analytics/analytics.ts
  packages/core/src/Utils/Analytics/index.ts
Labels: Core

#16533 [WEBREL] / Ameerul / WEBREL-3084 Nickname pop is getting displayed in my profile page for P2P advertiser whose nickname is already added
  packages/p2p/src/pages/my-profile/__tests__/my-profile.spec.tsx
  packages/p2p/src/pages/my-profile/my-profile.tsx
Labels: P2P

#16383 [WALL] Aizad/WALL-4274/FIx Success Button on MT5 Account Added Modal
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/MT5AccountAdded.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModalFooters.tsx
Labels: Wallets

#16475 [BOT] sandeep/bot-2077/fix: on scrolling the value changes to negative
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/inputs/qs-input.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/add-bot.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/constants.ts
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/__tests__/qs-input-label.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/__tests__/qs-input.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/__tests__/qs-toggle-switch.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/add-input-label.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/add-input.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/add-text-input.scss
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/add-text-input.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/add-toggle-switch.tsx
  packages/bot-web-ui/src/pages/server-side-bot/summary/summary.scss
  packages/bot-web-ui/src/pages/server-side-bot/summary/summary.tsx
Labels: Bot

#16514 [BOT]maryia/BOT-2108/refactor: Remove dangerouslySetInnerHTML
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/descriptions/strategy-description.tsx
  packages/bot-web-ui/src/pages/tutorials/faq-content/index.tsx
Labels: Bot

#16359 DTRA-1569 / Kate / Filter resetting issue
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
  packages/reports/src/Stores/Modules/Profit/profit-store.js
  packages/trader/src/AppV2/Components/Filter/time-filter.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/Stores/Modules/Positions/__tests__/positions-store.spec.ts
  packages/trader/src/Stores/Modules/Positions/positions-store.ts
Labels: Trader

#16555 [P2PS] farrah/P2PS-3323/fix: update assetlinks.json
  packages/core/src/public/.well-known/assetslinks.json
Labels: Core

#16378 Akmal / fix: wrong duration unit for digit contracts
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Labels: Trader, Account

#16195 Akmal / fix: take profit & stop loss decimals
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
Labels: Trader, Core, Account

#16541 [TRAH-3987] shahzaib / populate localstorage from cookies to be authorized
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/shared/src/utils/brand/brand.ts
Labels: Core, Shared

#16548 Niloofar/Implemented Feature flag for Signup button
  packages/core/src/App/Components/Layout/Header/signup-button.jsx
Labels: Core

#16369 [BOT]maryia/BOT-1981/feat: Add a "What's new" section to the dashboard to promote Accumulators
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/pages/dashboard/__tests__/user-guide.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcement-dialog.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcement.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcements.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-components.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/config.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/index.ts
  packages/bot-web-ui/src/pages/dashboard/announcements/utils/accumulator-helper-functions.ts
  packages/bot-web-ui/src/pages/dashboard/dashboard.tsx
  packages/bot-web-ui/src/pages/dashboard/user-guide.tsx
  packages/bot-web-ui/src/pages/tutorials/constants.ts
  packages/core/src/public/images/common/static_images/introducing_accumulators_on_deriv_bot.png
Labels: Core, Bot, Shared

#16488 [WALL] Jim/WALL-4610/remove unnecessary check for has_wallet
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.tsx
Labels: Trader

#16535 chore: [UPM-1366]/evgeniy/page keeps loading after reastablishing the connection
  packages/account/src/Components/network-status-toast-popup/network-status-toast-popup.tsx
  packages/hooks/src/__tests__/useGetPasskeysList.spec.tsx
  packages/hooks/src/useGetPasskeysList.ts
Labels: Account

#16392 Suisin/chore: upgrade @deriv-com/analytics to version 1.12.0
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Labels: Trader, Core, Shared, P2P, Account, AppStore

#16559 [BOT] sandeep/bot-2145/fix Fixed empty tradetype field being shown in quick strategy
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/__tests__/form.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/trade-type.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/__tests__/form.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/selects/trade-type.tsx
Labels: Bot

#16569 [DTRA] Maryia/OPT-909/feat: add Step Indices 300 & 400
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/underlying/ic-underlying-STPRNG3.svg
  packages/components/src/components/icon/underlying/ic-underlying-STPRNG4.svg
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/AppV2/Utils/market-icons.ts
Labels: Trader, Shared, Components

#16594 Update deriv-charts to 2.4.0
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#16506 [DTRA] henry/dtra-1645/remove-extra-and-invalid-contractsfor-calls-trader-v2
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader

#16486 [DTRA] Maryia/DTRA-1468/feat: Stake functionality for V2
  packages/stores/src/mockStore.ts
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button-content.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.scss
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate-picker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/GrowthRate/growth-rate.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/__tests__/stake.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake-details.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.scss
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike-wheel.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Strike/strike.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/__tests__/take-profit.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TakeProfit/take-profit.tsx
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/contract-type.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
  packages/trader/src/Stores/Modules/Trading/__tests__/trade-store.spec.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader

#16423 [DTRA] henry/dtra-1492/trade-param-updates-v2
  packages/stores/src/mockStore.ts
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.scss
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Components/TradeParameters/BarrierInfo/__tests__/barrier-info.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/BarrierInfo/barrier-info.scss
  packages/trader/src/AppV2/Components/TradeParameters/BarrierInfo/barrier-info.tsx
  packages/trader/src/AppV2/Components/TradeParameters/BarrierInfo/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersExpirationInfo/__tests__/multipliers-expiration-info.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersExpirationInfo/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersExpirationInfo/multipliers-expiration-info.scss
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersExpirationInfo/multipliers-expiration-info.tsx
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersInformation/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersInformation/multipliers-information.scss
  packages/trader/src/AppV2/Components/TradeParameters/MultipliersInformation/multipliers-information.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPointInfo/__tests__/payout-per-point-info.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPointInfo/index.ts
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPointInfo/payout-per-point-info.scss
  packages/trader/src/AppV2/Components/TradeParameters/PayoutPerPointInfo/payout-per-point-info.tsx
  packages/trader/src/AppV2/Components/TradeParameters/__tests__/trade-parameters.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Routes/router.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core, Account

#16603 refactor: improvement accourding to comments
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcement-dialog.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcements.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
Labels: Bot

#16527 [BOT] Farabi/bot-2133/show-proper-message-on-loading-invalid-strategy
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/components/bot-notification/bot-notification-utils.ts
Labels: Bot

#16230 Rupato/BOT-2004/fix: refactored bot functions
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/components/load-modal/__tests__/local-footer.spec.tsx
  packages/bot-web-ui/src/components/load-modal/__tests__/recent-footer.spec.tsx
  packages/bot-web-ui/src/components/load-modal/__tests__/recent-workspace.spec.tsx
  packages/bot-web-ui/src/components/load-modal/local-footer.tsx
  packages/bot-web-ui/src/components/load-modal/recent-footer.tsx
  packages/bot-web-ui/src/components/load-modal/recent-workspace.tsx
  packages/bot-web-ui/src/constants/load-modal.ts
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#16391 [TRAH] Sergei / TRAH - 3857 / Hide Binary Bot from Traders Hub/Wallets
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-article.spec.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article.tsx
  packages/appstore/src/assets/svgs/trading-platform/branding/ic-branding-binarybot-dashboard.svg
  packages/appstore/src/assets/svgs/trading-platform/ic-appstore-binarybot-blue.svg
  packages/appstore/src/assets/svgs/trading-platform/index.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/constants/platform-config.ts
  packages/appstore/src/types/common.types.ts
  packages/components/src/components/icon/rebranding/ic-rebranding-binary-bot.svg
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Components/Layout/Header/platform-switcher.jsx
  packages/core/src/App/Constants/platform-config.ts
  packages/core/src/App/Containers/Layout/header/default-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/default-header.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header.tsx
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/warning-close-create-real-account-content.jsx
  packages/core/src/Modules/BinaryBotIFrame/BinaryBotIFrame.jsx
  packages/core/src/Modules/BinaryBotIFrame/index.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/common-store.js
  packages/shared/brand.config.json
  packages/shared/src/utils/brand/brand.ts
  packages/shared/src/utils/platform/platform.ts
  packages/shared/src/utils/routes/routes.ts
  packages/shared/src/utils/url/constants.ts
  packages/shared/src/utils/url/helpers.ts
  packages/stores/types.ts
  packages/wallets/src/components/AccountsList/__tests__/AccountsList.spec.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/LinkTitle.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/__test__/LinkTitle.spec.tsx
  packages/wallets/src/constants/constants.tsx
  packages/wallets/src/constants/icons.ts
  packages/wallets/src/features/cashier/constants/constants.ts
  packages/wallets/src/features/cashier/helpers/helpers.ts
  packages/wallets/src/helpers/urls.ts
Labels: Core, Shared, Components, Account, AppStore

#16461 [BOT] Farabi/bot-2104/dont show notifications on theme change
  packages/bot-skeleton/src/scratch/blockly.js
  packages/bot-skeleton/src/scratch/hooks/colours.js
  packages/bot-web-ui/src/components/summary/summary.scss
  packages/bot-web-ui/src/pages/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/stores/dashboard-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/toolbar-store.ts
  packages/bot-web-ui/src/types/blockly.types.ts
Labels: Bot

#16485 fix: p2p toast message nick name fix
  packages/core/src/App/Containers/Layout/header/header-account-actions.tsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-list.tsx
  packages/p2p/src/components/modal-manager/modals/nickname-modal/nickname-modal.tsx
  packages/stores/types.ts
Labels: Core, P2P

#16574 DTRA / Kate / DTRA-1611 / Add a new video for Turbos in DTrader-V2
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/video-preview.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/video-preview.tsx
  packages/trader/src/AppV2/Utils/__tests__/contract-description.spec.tsx
  packages/trader/src/AppV2/Utils/contract-description-utils.tsx
  packages/trader/src/Modules/Trading/Helpers/__tests__/video-config.spec.ts
  packages/trader/src/Modules/Trading/Helpers/video-config.ts
Labels: Trader

#16149 [DTRA-1306] DTRA/DTrader V2 Position and contract details fixes
  packages/reports/src/Stores/Modules/Profit/__tests__/profit-store.spec.ts
  packages/reports/src/Stores/Modules/Profit/profit-store.js
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/AppV2/Components/ContractCard/contract-card.tsx
  packages/trader/src/AppV2/Components/ContractCard/contract-cards-sections.tsx
  packages/trader/src/AppV2/Components/ContractDetailsFooter/contract-details-footer.tsx
  packages/trader/src/AppV2/Components/Filter/time-filter.tsx
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Components/TakeProfitHistory/__tests__/take-profit-history.spec.tsx
  packages/trader/src/AppV2/Components/TakeProfitHistory/take-profit-history.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
  packages/trader/src/Stores/Modules/Positions/__tests__/positions-store.spec.ts
  packages/trader/src/Stores/Modules/Positions/positions-store.ts
Labels: Trader, Shared

#16103 [P2PS] farrah/P2PS-2815/fix: add leave page modal
  packages/p2p/src/components/modal-manager/modals/leave-page-modal/__tests__/leave-page-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/leave-page-modal/leave-page-modal.scss
  packages/p2p/src/components/modal-manager/modals/leave-page-modal/leave-page-modal.tsx
  packages/p2p/src/components/modal-manager/modals/preferred-countries-modal/__tests__/preferred-countries-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/preferred-countries-modal/preferred-countries-modal.tsx
Labels: P2P

#16581 [TRAH] Sergei / Add margin for clevertap banner in Trader's Hub
  packages/appstore/src/modules/traders-hub/traders-hub.scss
Labels: AppStore

#15992 [WALL] george / WALL-4476 / Support XRP Deposits and Withdrawals in Cashier
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-disclaimers/__test__/deposit-crypto-disclaimers.test.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-disclaimers/deposit-crypto-disclaimers.tsx
  packages/cashier/src/pages/deposit/__tests__/deposit.spec.tsx
  packages/cashier/src/pages/deposit/deposit.tsx
  packages/cashier/src/pages/withdrawal/__tests__/withdrawal.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/cashier/src/stores/withdraw-store.ts
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal-content.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal-content.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal.tsx
  packages/hooks/src/__tests__/useCryptoConfig.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useCryptoConfig.ts
  packages/hooks/src/useCurrencyConfig.ts
Labels: Core

#16557 [DTRA]refactor: reverted to production header for dtrader v2
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/core/src/sass/app/_common/layout/header.scss
  packages/shared/src/styles/constants.scss
  packages/trader/src/AppV2/Components/BottomNav/__tests__/bottom-nav.spec.tsx
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
  packages/trader/src/AppV2/Utils/layout-utils.tsx
Labels: Trader, Core, Shared

#16148 [WALL] Aizad/WALL-4683/Refactoring Trading App Card
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsSection.scss
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/DerivAppsSection/__tests__/DerivAppsGetAccount.spec.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.scss
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.scss
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.tsx
  packages/wallets/src/components/TradingAccountCard/TradingAccountCardButton.tsx
  packages/wallets/src/components/TradingAccountCard/TradingAccountCardContent.tsx
  packages/wallets/src/components/TradingAccountCard/TradingAccountCardIcon.tsx
  packages/wallets/src/components/TradingAccountCard/__tests__/TradingAccountCard.spec.tsx
  packages/wallets/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.scss
  packages/wallets/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.scss
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.scss
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.scss
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.scss
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.scss
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
Labels: Wallets

#16626 [WEBREL] [WALL] shontzu/WEBREL-3106/The-text-for-the-Verification-failed-is-yellow-in-staging
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.scss
Labels: Core, Bot, Components, Account, AppStore

#16543 [BOT]maryia/test: [Test Coverage] Folder: bot-web-ui/src/pages/tutorials/guide-content
  packages/bot-web-ui/src/pages/tutorials/guide-content/__tests__/guide-content.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/guide-content/guide-content.tsx
Labels: Bot

#16550 [BOT] Farabi/bot-2155/faq-accordion-not-scrolling-into-content-view
  packages/bot-web-ui/src/pages/tutorials/faq-content/__tests__/faq-content.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/faq-content/index.tsx
Labels: Bot

#16301 [TRAH] Sergei / TRAH - 3497 / Pop up message for the clients when client creates a new duplicate account (DoB + Phone Number)
  packages/cashier/src/components/cashier-locked/cashier-locked-provider.tsx
  packages/cashier/src/components/cashier-locked/cashier-locked.tsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/same-dob-phone-modal/__test__/same-dob-phone-modal-content.spec.tsx
  packages/core/src/App/Containers/Modals/same-dob-phone-modal/__test__/same-dob-phone-modal.spec.tsx
  packages/core/src/App/Containers/Modals/same-dob-phone-modal/index.ts
  packages/core/src/App/Containers/Modals/same-dob-phone-modal/same-dob-phone-modal-content.tsx
  packages/core/src/App/Containers/Modals/same-dob-phone-modal/same-dob-phone-modal.scss
  packages/core/src/App/Containers/Modals/same-dob-phone-modal/same-dob-phone-modal.tsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/hooks/src/__tests__/useDuplicateDOBPhone.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useDuplicateDOBPhone.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#16604 [CFDS] CFDS-4278/shontzu/Overlapping-in-reset-investor-password-modal
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/ui-store.js
Labels: Core, AppStore

#16629 [TRAH-3987] shahzaib / populate localstorage from cookies to be authorized
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/shared/src/utils/brand/brand.ts
Labels: Core, Shared

#16635 Aizad/WALL-2948/Unit test for CreatePassword
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
  packages/wallets/src/features/cfd/screens/CreatePassword/__test__/CreatePassword.spec.tsx
Labels: Wallets

#16651 Update deriv-charts to 2.5.0
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#15967 Akmal / feat: add trade types v2
  package-lock.json
  packages/core/src/_common/base/socket_base.js
  packages/stores/src/mockStore.ts
  packages/trader/package.json
  packages/trader/src/AppV2/Components/DraggableList/__tests__/draggable-list-item.spec.tsx
  packages/trader/src/AppV2/Components/DraggableList/__tests__/draggable-list.spec.tsx
  packages/trader/src/AppV2/Components/DraggableList/draggable-list-item.tsx
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.scss
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.tsx
  packages/trader/src/AppV2/Components/DraggableList/index.ts
  packages/trader/src/AppV2/Components/TradeTypeList/__tests__/trade-type-list-item.spec.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/__tests__/trade-type-list.spec.jsx
  packages/trader/src/AppV2/Components/TradeTypeList/index.ts
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list-item.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list.scss
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade-types.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useContractsForCompany.spec.tsx
  packages/trader/src/AppV2/Hooks/useContractsForCompany.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader, Core

#16587 [DTRA] Maryia/DTRA-1410/fix: show all chart tools for minimized screen on a desktop device
  packages/trader/src/Modules/SmartChart/Components/__tests__/toolbar-widgets.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/toolbar-widgets.tsx
Labels: Trader

#16648 [TRAH] Sergei / Add margin to wrapper instead of children for clevertap banner in Trader's Hub
  packages/appstore/src/modules/traders-hub/traders-hub.scss
Labels: AppStore

#16434 [DTRA] Maryia/DTRA-1632/fix: Chart Scroll Behavior improvement for V2
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav-item.tsx
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters-container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
Labels: Trader

#16666 [DTRA] henry/dtra-1708/fix: resolve console errors in dtrader v2
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.tsx
Labels: Trader

#16642 Niloofar / Added a condition to ensure that Growthbook is fully loaded before assigning or using any feature flags
  packages/core/src/App/Components/Layout/Header/signup-button.jsx
Labels: Core

#16513 Suisin/chore: remove mongolian language
  packages/components/src/components/autocomplete/autocomplete.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/shared/src/utils/config/adapters.ts
  packages/shared/src/utils/constants/default-options.ts
  packages/translations/src/i18next/i18next.ts
Labels: Core, Shared, Components, Translations

#16630 [BOT] sandeep/bot-2144/ server-bot fix: :fire: fixed digits contract bot error
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/constants.ts
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/useQsSubmitHandler.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/parts/__tests__/loss-threshold-warning.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/parts/loss-threshold-warning-dialog.tsx
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Labels: Bot

#16638 refactor: bottom navigation in dtraderV2 with component from quill
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/BottomNav/__tests__/bottom-nav-item.spec.tsx
  packages/trader/src/AppV2/Components/BottomNav/__tests__/bottom-nav.spec.tsx
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav-item.tsx
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
Labels: Trader, Core, Account
