Repository deriv-com/deriv-app, pull requests merged in 2024-07, with the labels that each got.

#15195 [WALL] feat: added crypto priority withdrawal feature for wallets
  packages/api-v2/package.json
  packages/api-v2/src/hooks/index.ts
  packages/api-v2/src/hooks/useCryptoEstimations.ts
  packages/api-v2/src/hooks/useGrowthbookIsOn.ts
  packages/api-v2/src/hooks/useIsGrowthbookLoaded.ts
  packages/api-v2/types.ts
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useCryptoEstimations.ts
  packages/api/types.ts
  packages/cashier/build/constants.js
  packages/cashier/build/webpack.config.js
  packages/cashier/src/modules/transactions-crypto/components/transactions-crypto-transaction-status-side-note/transactions-crypto-transaction-status-side-note.scss
  packages/cashier/src/modules/transactions-crypto/components/transactions-crypto-transaction-status-side-note/transactions-crypto-transaction-status-side-note.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/__tests__/withdrawal-crypto-form.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/withdrawal-crypto-form.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-priority/__tests__/withdrawal-crypto-priority.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-priority/index.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-priority/withdrawal-crypto-priority.scss
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-priority/withdrawal-crypto-priority.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/__tests__/withdrawal-crypto-receipt.spec.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/withdrawal-crypto-receipt.scss
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-receipt/withdrawal-crypto-receipt.tsx
  packages/cashier/src/stores/withdraw-store.ts
  packages/core/src/_common/base/socket_base.js
  packages/wallets/src/components/Base/WalletCheckbox/WalletCheckbox.scss
  packages/wallets/src/components/Base/WalletCheckbox/WalletCheckbox.tsx
  packages/wallets/src/components/Base/WalletCheckbox/index.ts
  packages/wallets/src/components/Base/index.ts
  packages/wallets/src/components/SkeletonLoader/WalletsPriorityCryptoWithdrawLoader/WalletsPriorityCryptoWithdrawLoader.scss
  packages/wallets/src/components/SkeletonLoader/WalletsPriorityCryptoWithdrawLoader/WalletsPriorityCryptoWithdrawLoader.tsx
  packages/wallets/src/components/SkeletonLoader/WalletsPriorityCryptoWithdrawLoader/__tests__/WalletsPriorityCryptoWithdrawLoader.spec.tsx
  packages/wallets/src/components/SkeletonLoader/index.ts
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/CryptoTransaction/CryptoTransaction.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusSuccess/TransactionStatusSuccess.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/WithdrawalCryptoForm.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/__tests__/WithdrawalCryptoForm.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriority/WithdrawalCryptoPriority.scss
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriority/WithdrawalCryptoPriority.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriority/__tests__/WithdrawalCryptoPriority.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriority/index.ts
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriorityFeeInfo/WithdrawalCryptoPriorityFeeInfo.scss
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriorityFeeInfo/WithdrawalCryptoPriorityFeeInfo.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriorityFeeInfo/__tests__/WithdrawalCryptoPriorityFeeInfo.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriorityFeeInfo/index.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/WithdrawalCryptoReceipt.scss
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/WithdrawalCryptoReceipt.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/__tests__/WithdrawalCryptoReceipt.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/provider/WithdrawalCryptoProvider.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/provider/__tests__/WithdrawalCryptoProvider.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/types/types.ts
  packages/wallets/webpack.config.js
Labels: Core

#15876 fix: failing test cases for drawer component
  packages/components/src/components/drawer/__tests__/drawer.spec.tsx
Labels: Components

#15720 chore: redirect to login and from login for email request modal
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#15750 Sui Sin/chore: remove brazil scam warning message pop up
  packages/components/src/components/icon/common/ic-account-dont-get-scam.svg
  packages/components/src/components/icon/common/ic-account-website.svg
  packages/components/src/components/icon/icons.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/correct-message-content.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/fake-message-content.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/index.js
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-checkbox-content.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-content.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-modal.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-modal.scss
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message-title.jsx
  packages/core/src/App/Containers/WarningScamMessageModal/warning-scam-message.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
Labels: Core, Components

#15718 [WALL] Aizad/WALL-4433/Desktop Wallet migration process flow update
  packages/appstore/package.json
  packages/appstore/src/components/banners/wallets-banner/__tests__/wallets-banner.spec.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/__tests__/real-wallets-upgrade.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/desktop-real-wallets-upgrade/desktop-real-wallets-upgrade.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/desktop-real-wallets-upgrade/desktop-real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/desktop-real-wallets-upgrade/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/mobile-real-wallets-upgrade/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/mobile-real-wallets-upgrade/mobile-real-wallets-upgrade.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/mobile-real-wallets-upgrade/mobile-real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/wallet_steps.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-account/wallet-account.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-account/wallet-account.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallet-link/wallet-link-wrapper.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-one/__tests__/wallets-upgrade-step-one.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-one/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-one/wallets-upgrade-step-one.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-one/wallets-upgrade-step-one.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-two/__tests__/wallets-upgrade-step-two.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-two/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-two/wallets-upgrade-step-two.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-two/wallets-upgrade-step-two.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/__tests__/wallets-upgrade-modal.spec.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/shared/src/styles/themes.scss
Labels: Core, AppStore, Wallets

#15713 [WALL] Lubega / DERG-2459 / Deriv go redirection blank issue
  packages/core/src/Stores/client-store.js
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/WalletWithdrawal.tsx
Labels: Core

#15774 [WALL] Aizad/WALL-2856/OptionsAndMultipliersListing Test Case
  packages/wallets/src/components/OptionsAndMultipliersListing/LinkTitle.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/__test__/LinkTitle.spec.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/__test__/OptionsAndMultipliersListing.spec.tsx
Labels: Wallets

#15423 [WALL] farrah/WALL-3720/feat: faq side note
  packages/cashier/src/components/side-notes/index.ts
  packages/cashier/src/components/side-notes/side-note-faq/__tests__/side-note-faq.spec.tsx
  packages/cashier/src/components/side-notes/side-note-faq/index.ts
  packages/cashier/src/components/side-notes/side-note-faq/side-note-faq.scss
  packages/cashier/src/components/side-notes/side-note-faq/side-note-faq.tsx
  packages/cashier/src/components/side-notes/side-note-payment-methods-learn-more/__test__/side-note-payment-methods-learn-more.test.tsx
  packages/cashier/src/components/side-notes/side-note-payment-methods-learn-more/index.ts
  packages/cashier/src/components/side-notes/side-note-payment-methods-learn-more/side-note-payment-methods-learn-more.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-side-notes/__test__/cashier-onboarding-side-notes.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-side-notes/cashier-onboarding-side-note-fiat.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-side-notes/cashier-onboarding-side-notes.tsx
  packages/cashier/src/modules/deposit-fiat/components/deposit-fiat-iframe/deposit-fiat-iframe.scss
  packages/cashier/src/modules/deposit-fiat/deposit-fiat.tsx
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/withdrawal-crypto-form.scss
  packages/cashier/src/pages/withdrawal/withdrawal-crypto-form/withdrawal-crypto-form.tsx
  packages/cashier/src/pages/withdrawal/withdrawal.tsx
  packages/components/src/components/icon/cashier/ic-cashier-chevron-up.svg
  packages/components/src/components/icon/icons.js
Labels: Components, Wallets

#15768 DTRA-1368 / Kate / Position and Contract Details Page refactor: add CALLE/PUTE filtration
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
  packages/trader/src/AppV2/Utils/__tests__/contract-details-config.spec.ts
  packages/trader/src/AppV2/Utils/__tests__/positions-utils.spec.ts
  packages/trader/src/AppV2/Utils/positions-utils.ts
Labels: Trader

#15784 DTRA-1371 / Kate / [Position and Contract Details page]: add tabs routing navigation
  package-lock.json
  packages/core/package.json
  packages/core/src/App/Containers/Layout/header/dtrader-v2-contract-detail-header.tsx
  packages/trader/package.json
  packages/trader/src/AppV2/Components/ContractCard/contract-card-list.tsx
  packages/trader/src/AppV2/Components/ContractCard/contract-card.tsx
  packages/trader/src/AppV2/Components/EmptyPositions/empty-positions.tsx
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/AppV2/Utils/__tests__/positions-utils.spec.ts
  packages/trader/src/AppV2/Utils/positions-utils.ts
Labels: Trader, Core

#15749 DTRA-1366 / Kate / Fix: console error on the test links for DTrader-V2
  packages/trader/src/AppV2/Components/Filter/contract-type-filter.tsx
  packages/trader/src/AppV2/Components/Filter/time-filter.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Labels: Trader

#15855 [BOT]maryia/BOT-1487/test: increase test coverage for input folder: bot-web-ui/src/pages/bot-builder/quick-strategy/inputs
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/inputs/__tests__/qs-input.spec.tsx
Labels: Bot

#15759 [BOT]maryia/BOT-1485/test: Folder bot-web-ui/src/analytics
  packages/bot-web-ui/src/analytics/__tests__/utils.spec.ts
  packages/bot-web-ui/src/analytics/utils.ts
  packages/bot-web-ui/src/pages/tutorials/__tests__/tutorial-tab-desktop.spec.tsx
Labels: Bot

#15904 [BOT] Farabi/webrel 2882/dbot UI bugs from tablet implementation
  packages/bot-web-ui/src/pages/dashboard/dashboard.scss
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/index.scss
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/pages/tutorials/tutorials.scss
Labels: Bot

#15912 fix: dashboard shortcuts on tablet view
  packages/bot-web-ui/src/pages/dashboard/dashboard.scss
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/index.scss
Labels: Bot

#15915 DTRA / Kate/ Fix: typo
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
Labels: Trader

#15914 fix: remove mixin for tablet-mobile
  packages/components/src/components/themed-scrollbars/themed-scrollbars.scss
Labels: Components

#15920 Fasih/WEBREL-2885/ Fixed tablet view spacing issue
  packages/account/src/Components/article/article.scss
  packages/account/src/Styles/account.scss
  packages/components/src/components/icon/icons.js
  packages/core/src/sass/app/_common/components/account-common.scss
Labels: Core, Components, Account

#15919 [COJ]/likhith/fix: title of language change modal
  packages/core/src/App/Components/Layout/Footer/toggle-language-settings.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/mobile-language-menu.tsx
Labels: Core

#15929 Niloofar/trustpilot
  packages/appstore/webpack.config.js
Labels: Account, AppStore

#15930 Niloofar/ trustpilot issue
  packages/appstore/webpack.config.js
Labels: AppStore

#15852 [BOT] Farabi/bot-1492/dashboard folder test coverage
  packages/bot-web-ui/src/pages/dashboard/__tests__/dashboard.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/__tests__/info-panel.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/intro-card.tsx
Labels: Bot

#15820 fix: scroll to top when tutorial tab switch on mobile
  packages/bot-web-ui/src/pages/tutorials/quick-strategy-content/quick-strategy-guides-details.tsx
  packages/bot-web-ui/src/pages/tutorials/tutorials-tab-mobile.tsx
Labels: Bot

#15804 [BOT]maryia/BOT-1895/feat: for the clients with the country of residence as `Australia/Norway/Japan/Singapore` we should show the blocker
  packages/bot-web-ui/src/stores/app-store.ts
Labels: Bot

#15785 [BOT] shafin/fix: balance destructure from undefined trackjs issue
  packages/bot-skeleton/src/services/tradeEngine/trade/Balance.js
Labels: Bot

#15782 [BOT] Farabi/bot 1914/rudderstack strategy upload journey
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/analytics/constants.ts
  packages/bot-web-ui/src/analytics/rudderstack-bot-builder.ts
  packages/bot-web-ui/src/analytics/rudderstack-common-events.ts
  packages/bot-web-ui/src/analytics/rudderstack-dashboard.ts
  packages/bot-web-ui/src/analytics/rudderstack-quick-strategy.ts
  packages/bot-web-ui/src/analytics/utils.ts
  packages/bot-web-ui/src/components/load-modal/load-modal.tsx
  packages/bot-web-ui/src/components/trade-animation/trade-animation.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/pages/dashboard/__tests__/user-guide.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/google-drive.tsx
  packages/bot-web-ui/src/pages/dashboard/load-bot-preview/recent-workspace.tsx
  packages/bot-web-ui/src/pages/dashboard/user-guide.tsx
  packages/bot-web-ui/src/stores/google-drive-store.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#15861 Aizad/WALL-2937/Unit test for AvailableDxtradeAccountsList in DxTrade flow
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/__test__/AvailableDxtradeAccountsList.spec.tsx
Labels: Wallets

#15866 Aizad/WALL-2936/Unit test for AddedDxtradeAccountsList in Dxtrade flow
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/__test__/AddedDxtradeAccountsList.spec.tsx
Labels: Wallets

#15827 chore: fix description crop
  packages/core/src/sass/app/modules/notifications-dialog.scss
Labels: Core

#15691 [P2PS] / Ameerul / P2PS-3075 Remove unnecessary p2p_advertiser_info call
  packages/p2p/src/pages/my-profile/block-user/block-user-table/block-user-row/__tests__/block-user-row.spec.tsx
  packages/p2p/src/pages/my-profile/block-user/block-user-table/block-user-row/block-user-row.tsx
  packages/p2p/src/stores/my-profile-store.js
Labels: P2P

#15781 Remove local assets in Accounts package/dhruv
  packages/account/build/webpack.config.js
  packages/account/src/Assets/ic-brand-deriv-go-dark.svg
  packages/account/src/Assets/ic-brand-deriv-go-light.svg
  packages/account/src/Assets/ic-brand-deriv-red.svg
  packages/account/src/Assets/ic-document-submit-icon.svg
  packages/account/src/Assets/ic-error-badge.svg
  packages/account/src/Assets/ic-idv-document-pending.svg
  packages/account/src/Assets/ic-idv-document-rejected.svg
  packages/account/src/Assets/ic-idv-verified.svg
  packages/account/src/Assets/ic-poi-back-btn.svg
  packages/account/src/Assets/ic-poi-dob-example.svg
  packages/account/src/Assets/ic-poi-name-dob-example.svg
  packages/account/src/Assets/ic-poi-name-example.svg
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
  packages/account/src/Components/personal-details/personal-details.tsx
  packages/account/src/Components/poa/common-mistakes/__tests__/common-mistake-examples.spec.tsx
  packages/account/src/Components/poa/common-mistakes/common-mistake-examples.tsx
  packages/account/src/Components/poi/idv-document-submit/__tests__/idv-document-submit.spec.tsx
  packages/account/src/Components/poi/idv-document-submit/idv-document-submit.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/__tests__/idv-failed.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Components/poi/idv-status/idv-limited/__tests__/idv-limited.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-limited/idv-limited.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/__tests__/idv-submit-complete.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-submit-complete/idv-submit-complete.tsx
  packages/account/src/Components/poi/idv-status/idv-verified/__tests__/idv-verified.spec.tsx
  packages/account/src/Components/poi/idv-status/idv-verified/idv-verified.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/__tests__/poi-confirm-with-example-form-container.spec.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Components/poi/poi-form-on-signup/idv-doc-submit-on-signup/idv-doc-submit-on-signup.tsx
  packages/account/src/Configs/poi-error-config.tsx
  packages/account/src/Sections/Security/Passwords/__tests__/deriv-password.spec.tsx
  packages/account/src/Sections/Security/Passwords/__tests__/passwords.spec.tsx
  packages/account/src/Sections/Security/Passwords/deriv-password.tsx
  packages/account/src/Styles/account.scss
Labels: Account

#15643 [CFDS]/Hasan/CFDS-3370/updated dxtrade reset password description
  packages/account/src/Components/reset-trading-password-modal/reset-trading-password-modal.tsx
Labels: Account

#15775 [BOT]maryia/BOT-1543/style: Loss Threshold Popup: Edit Amount Button Truncated
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/parts/loss-threshold-warning-dialog.scss
Labels: Bot

#15901 Update deriv-charts to 2.1.23
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#15728 [DTRA] Bala/Fix trader-store mobx warnings
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader

#14948 [CFDS] Hasan/CFDS-3901/removed cfds features
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/parts/loss-threshold-warning-dialog.scss
  packages/cfd/src/features/Components/__tests__/copy-text-component.js
  packages/cfd/src/features/Components/__tests__/personal-details-form.spec.js
  packages/cfd/src/features/Components/__tests__/proof-of-address.spec.tsx
  packages/cfd/src/features/Components/__tests__/proof-of-identity.spec.js
  packages/cfd/src/features/Components/copy-text-component.tsx
  packages/cfd/src/features/Components/personal-details-form.tsx
  packages/cfd/src/features/Components/proof-of-address.tsx
  packages/cfd/src/features/Components/proof-of-identity.tsx
  packages/cfd/src/features/Containers/__tests__/real-account-signup-verifications.spec.js
  packages/cfd/src/features/Containers/__tests__/server-error-dialog.spec.js
  packages/cfd/src/features/Containers/__tests__/top-up-demo-modal.spec.js
  packages/cfd/src/features/Containers/cfd-password-manager-modal/cfd-password-manager-modal.tsx
  packages/cfd/src/features/Containers/cfd-password-manager-modal/cfd-password-manager-tab-content.tsx
  packages/cfd/src/features/Containers/cfd-password-manager-modal/cfd-password-reset.tsx
  packages/cfd/src/features/Containers/cfd-password-manager-modal/countdown-component.tsx
  packages/cfd/src/features/Containers/cfd-password-modal/cfd-create-password-form.tsx
  packages/cfd/src/features/Containers/cfd-password-modal/cfd-password-form.tsx
  packages/cfd/src/features/Containers/cfd-password-modal/cfd-password-modal.scss
  packages/cfd/src/features/Containers/cfd-password-modal/cfd-password-modal.tsx
  packages/cfd/src/features/Containers/cfd-password-modal/create-password.tsx
  packages/cfd/src/features/Containers/cfd-password-modal/icon-type.tsx
  packages/cfd/src/features/Containers/cfd-password-modal/password-modal-header.tsx
  packages/cfd/src/features/Containers/cfd-password-modal/types.tsx
  packages/cfd/src/features/Containers/cfd-reset-password-modal.tsx
  packages/cfd/src/features/Containers/cfd-trade-modal.tsx
  packages/cfd/src/features/Containers/compare-accounts/__tests__/compare-accounts.spec.tsx
  packages/cfd/src/features/Containers/compare-accounts/compare-accounts.tsx
  packages/cfd/src/features/Containers/mt5-trade-modal.tsx
  packages/cfd/src/features/Containers/other-cfds-trade-modal.tsx
  packages/cfd/src/features/Containers/personal-details-container.tsx
  packages/cfd/src/features/Containers/real-account-signup-verifications.tsx
  packages/cfd/src/features/Containers/server-error-dialog.tsx
  packages/cfd/src/features/Containers/top-up-demo-modal.tsx
  packages/cfd/src/features/Containers/trading-password-manager/change-password.tsx
  packages/cfd/src/features/Containers/trading-password-manager/password-reset.tsx
  packages/cfd/src/features/Containers/trading-password-manager/trading-password-manager.tsx
  packages/cfd/src/features/hooks/useCurrentList.ts
  packages/cfd/src/features/types/components.types.ts
  packages/cfd/src/features/types/containers.types.ts
  packages/cfd/src/features/types/shared.types.ts
Labels: Bot, Account

#15961 Revert "chore: redirect to login and from login for email request modal"
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#15802 [WALL] Rostislav / WALL-4218 / Compare accounts modal new icons
  package-lock.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/core/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsIconWithLabel.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsIconWithLabel.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/InstrumentsLabelHighlighted.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/compareAccountsConfig.ts
  packages/wallets/src/public/images/tradingInstruments.tsx
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-baskets.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-commodities.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-cryptocurrencies.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-derived-fx.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-etf.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-forex.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-stock-indices.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-stocks.svg
  packages/wallets/src/public/images/tradingInstruments/ic-instrument-synthetics.svg
  packages/wallets/src/public/images/tradingInstruments/index.tsx
Labels: Trader, Core, Shared, Account

#15563 [WALL-4335] feat: fixed skeleton while account is being switched on wallets
  packages/core/src/App/Containers/Layout/header/dtrader-header-wallets.tsx
  packages/core/src/sass/app/_common/components/account-switcher.scss
Labels: Core

#15836 [WALL] Jim/WALL-4432/no badge displayed at the transfer and transaction page
  packages/wallets/src/components/WalletListCardBadge/WalletListCardBadge.tsx
  packages/wallets/src/components/WalletListCardBadge/__tests__/WalletListCardBadge.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/TransactionsCompletedRowAccountDetails.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/__tests__/TransactionsCompletedRowAccountDetails.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowTransferAccountDetails/TransactionsCompletedRowTransferAccountDetails.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/__tests__/TransferFormAccountCard.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.tsx
Labels: Wallets

#15798 [WALL] Aizad/WALL-4228/Consistent Icons Across Wallet Overlay and TH Main Page
  packages/wallets/src/components/WalletsCarouselHeader/WalletsCarouselHeader.scss
  packages/wallets/src/components/WalletsCarouselHeader/WalletsCarouselHeader.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.scss
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
Labels: Wallets

#15957 [BOT] Farabi/bot-1723/unable to scroll transactions details modal on firefox
  packages/bot-web-ui/src/components/draggable/draggable.tsx
Labels: Bot

#15631 [WALL] Lubega / WALL-4357 / Replace loader with deriv-com/ui loader
  package-lock.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/cashier-v2/src/components/Clipboard/Clipboard.tsx
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/components/Base/WalletButton/WalletButton.scss
  packages/wallets/src/components/Base/WalletButton/WalletButton.tsx
  packages/wallets/src/components/Base/WalletPasswordFieldLazy/WalletPasswordFieldLazy.tsx
  packages/wallets/src/components/Base/WalletTextField/WalletTextField.scss
  packages/wallets/src/components/Loader/Loader.scss
  packages/wallets/src/components/Loader/Loader.tsx
  packages/wallets/src/components/Loader/__tests__/Loader.spec.tsx
  packages/wallets/src/components/Loader/index.ts
  packages/wallets/src/components/index.ts
  packages/wallets/src/features/accounts/screens/PersonalDetails/PersonalDetails.tsx
  packages/wallets/src/features/accounts/screens/VerifyDocumentDetails/VerifyDocumentDetails.scss
  packages/wallets/src/features/cashier/WalletCashier.tsx
  packages/wallets/src/features/cashier/__tests__/WalletCashier.spec.tsx
  packages/wallets/src/features/cashier/flows/WalletTransfer/WalletTransfer.tsx
  packages/wallets/src/features/cashier/flows/WalletTransfer/__tests__/WalletTransfer.spec.tsx
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/WalletWithdrawal.tsx
  packages/wallets/src/features/cashier/flows/WalletWithdrawal/__tests__/WalletWithdrawal.spec.tsx
  packages/wallets/src/features/cashier/modules/CashierLocked/CashierLocked.tsx
  packages/wallets/src/features/cashier/modules/CashierLocked/__tests__/CashierLocked.spec.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.tsx
  packages/wallets/src/features/cashier/modules/DepositFiat/DepositFiat.tsx
  packages/wallets/src/features/cashier/modules/DepositFiat/__tests__/DepositFiat.spec.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/DepositLocked.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/__tests__/DepositLocked.spec.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/components/FiatOnRampDisclaimer/__tests__/FiatOnRampDisclaimer.spec.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/TransactionStatus.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/__tests__/TransactionStatus.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompleted/TransactionsCompleted.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompleted/__tests__/TransactionsCompleted.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedDemoResetBalance/TransactionsCompletedDemoResetBalance.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedDemoResetBalance/__tests__/TransactionsCompletedDemoResetBalance.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPending/TransactionsPending.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPending/__tests__/TransactionsPending.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferForm/TransferForm.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferForm/__tests__/TransferForm.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/WithdrawalCrypto.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalFiat/WithdrawalFiat.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalFiat/__tests__/WithdrawalFiat.spec.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/WithdrawalLocked.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/__tests__/WithdrawalLocked.spec.tsx
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
  packages/wallets/src/features/cfd/modals/CTraderSuccessModal/CTraderSuccessModal.tsx
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionTncSection/JurisdictionTncSection.scss
  packages/wallets/src/features/cfd/screens/VerificationFailed/VerificationFailed.tsx
  packages/wallets/src/routes/Router.tsx
Labels: Trader, Core, Components, Account

#15741 [P2PS] - Nada/2788/fix: issue with my ads page in firefox browser
  packages/p2p/src/pages/my-ads/my-ads.scss
Labels: P2P

#15715 [P2PS] / Ameerul / P2PS-3051 Clicking on Clear button is not unchecking the preferred country list
  packages/p2p/src/components/modal-manager/modals/preferred-countries-modal/__tests__/preferred-countries-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/preferred-countries-modal/preferred-countries-modal.tsx
Labels: P2P

#15646 [WALL] Lubega / WALL-4350 / Replace divider with deriv-com/ui divider
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/Base/Divider/Divider.scss
  packages/wallets/src/components/Base/Divider/Divider.tsx
  packages/wallets/src/components/Base/Divider/__tests__/Divider.spec.tsx
  packages/wallets/src/components/Base/Divider/index.ts
  packages/wallets/src/components/Base/index.ts
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.scss
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/DrivingLicenseDocumentUpload/DrivingLicenseDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/IdentityCardDocumentUpload/IdentityCardDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/NIMCSlipDocumentUpload/NIMCSlipDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/ManualDocumentUpload/components/PassportDocumentUpload/PassportDocumentUpload.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/TransactionStatus.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/__tests__/TransactionStatus.spec.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusError/TransactionStatusError.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusSuccess/TransactionStatusSuccess.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/TransactionsCompletedRow.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/TransactionsCompletedRow.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountSelection/TransferFormAccountSelection.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountSelection/TransferFormAccountSelection.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountSelection/__tests__/TransferFormAccountSelection.spec.tsx
  packages/wallets/src/features/cfd/CFDPlatformsList.scss
  packages/wallets/src/features/cfd/components/CFDPlatformsListAccounts/CFDPlatformsListAccounts.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsTitleIcon.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsTitleIcon.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCard.tsx
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardBack.scss
  packages/wallets/src/features/cfd/screens/Jurisdiction/JurisdictionCard/JurisdictionCardBack.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.scss
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.tsx
Labels: Trader, Core, Components, Account

#15808 [COJ]/TRAH-3753/fix: synced language change in Deriv-app
  packages/account/src/Sections/Profile/LanguageSettings/__tests__/language-settings.spec.tsx
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Components/Layout/Footer/__tests__/toggle-language-settings.spec.tsx
  packages/core/src/App/Components/Layout/Footer/toggle-language-settings.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/mobile-language-menu.tsx
  packages/core/src/App/Components/Routes/language-link.tsx
  packages/core/src/App/app.jsx
  packages/core/src/Stores/client-store.js
  packages/translations/src/i18next/i18next.ts
Labels: Core, Translations, Account

#15654 Dhruv/COJ-1145/Fixed-MT5&POI-OnfidoPageSection-BUGS
  packages/account/src/Components/form-body/form-body.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-submission-for-mt5.jsx
  packages/core/src/App/Containers/VerificationModal/verification-modal.scss
  packages/core/src/sass/app/_common/components/account-common.scss
Labels: Core, Account

#15984 fix: :fire: replaced section message with custom comp
  packages/bot-web-ui/src/components/load-modal/load-modal.scss
  packages/bot-web-ui/src/components/load-modal/local.tsx
  packages/bot-web-ui/src/components/load-modal/section-message/index.ts
  packages/bot-web-ui/src/components/load-modal/section-message/section-message.scss
  packages/bot-web-ui/src/components/load-modal/section-message/section-message.tsx
Labels: Bot

#15430 Sergei / Fix Localize issue
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/compare-account/compare-account.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.tsx
  packages/appstore/src/components/get-started-trading-banner/get-started-trading-banner.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/main-title-bar/regulators-switcher.tsx
  packages/appstore/src/components/modals/failed-veriification-modal/failed-verification-modal.tsx
  packages/appstore/src/components/modals/open-positions-svg-modal/open-positions-svg-modal.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal-content.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/appstore/src/components/multi-action-button-group/multi-action-button-group.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/components/routes/routes.tsx
  packages/appstore/src/components/trade-button/trade-button.tsx
  packages/appstore/src/modules/Page404/Components/Page404.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/translations/src/components/localize.jsx
  packages/translations/src/i18next/i18next.ts
Labels: Translations, AppStore

#15717 [TRAH] Sergei / TRAH - 3669 / Total assets of real accounts keeps adding balance when page refresh
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, AppStore

#15998 Update deriv-charts to 2.1.24
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#15890 [WALL] george / WALL-4501 / update "@deriv-com/analytics" to v1.8.0
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions.spec.tsx
  packages/wallets/package.json
Labels: Trader, Core, Shared, Account, AppStore

#16002 [BOT]maryia/BOT-1969/fix: allow Japan and Norway to use the Bot platform
  packages/bot-web-ui/src/stores/app-store.ts
Labels: Bot

#15700 [WALL] Aizad/WALL-4435/Refactor Icons inside of Cashier
  packages/wallets/src/components/AppCard/AppCard.tsx
  packages/wallets/src/components/AppCard/__tests__/AppCard.spec.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/WalletCurrencyCard/WalletCurrencyCard.scss
  packages/wallets/src/components/WalletCurrencyCard/WalletCurrencyCard.tsx
  packages/wallets/src/components/WalletCurrencyIcon/WalletCurrencyIcon.tsx
  packages/wallets/src/components/WalletListCard/WalletListCard.tsx
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
  packages/wallets/src/components/WalletMarketIcon/WalletMarketIcon.tsx
  packages/wallets/src/components/WalletMarketIcon/__tests__/WalletMarketIcon.spec.tsx
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/WalletsAppLinkedWithWalletIcon.scss
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/WalletsAppLinkedWithWalletIcon.tsx
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/__tests__/WalletsAppLinkedWithWalletIcon.spec.tsx
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/index.ts
  packages/wallets/src/components/index.ts
  packages/wallets/src/constants/icons.ts
  packages/wallets/src/features/cashier/constants/constants.ts
  packages/wallets/src/features/cashier/helpers/helpers.ts
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/__tests__/TransferFormAccountCard.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountSelection/TransferFormAccountSelection.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountSelection/TransferFormAccountSelection.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.tsx
  packages/wallets/src/public/images/demo-logo.svg
  packages/wallets/src/types.ts
Labels: Wallets

#16009 [WEBREL] Sergei / WEBREL - 2898 / Found an extra symbol of semicolon on the NEW! label for MT5 Zero Spread account on Trader's Hub Real/Demo site
  packages/appstore/src/components/containers/trading-app-card.tsx
Labels: AppStore

#15707 [P2PS]farrah/P2PS-2640/poa for idv-authenticated users
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
  packages/p2p/src/components/verification/verification.tsx
  packages/p2p/src/pages/buy-sell/buy-sell-row.jsx
  packages/p2p/src/pages/buy-sell/no-ads/no-ads.jsx
  packages/p2p/src/pages/my-ads/my-ads.jsx
  packages/p2p/src/pages/my-profile/my-profile.tsx
  packages/p2p/src/stores/general-store.js
  packages/shared/src/utils/platform/platform.ts
Labels: Shared, P2P, Account

#16007 fix: remove_khmer_language_from_langugaes_list
  package-lock.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
Labels: Core, Account, AppStore

#16013 Draft wallet translations
  .github/workflows/sync-translations.yml
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
  packages/wallets/jest.config.js
  packages/wallets/package.json
  packages/wallets/src/App.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListCardBalance/WalletListCardBalance.tsx
  packages/wallets/src/components/WalletListCardDetails/WalletListCardDetails.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletListHeader/WalletListHeader.tsx
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
  packages/wallets/webpack.config.js
Labels: Core

#16008 Dhruv/webrel 2896/poi status page fix
  packages/core/src/sass/app/_common/components/account-common.scss
Labels: Core

#15993 Remove `@deriv/reports` from DTrader dependencies
  packages/trader/build/webpack.config.js
  packages/trader/package.json
Labels: Trader

#16025 Revert "Sergei / Fix Localize issue (#15430)"
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/cfds-listing-logged-out/cfds-listing-logged-out.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/compare-account/compare-account.tsx
  packages/appstore/src/components/containers/trading-app-card-actions.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/demo/demo-account-card.tsx
  packages/appstore/src/components/get-started-trading-banner/get-started-trading-banner.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/main-title-bar/regulators-switcher.tsx
  packages/appstore/src/components/modals/failed-veriification-modal/failed-verification-modal.tsx
  packages/appstore/src/components/modals/open-positions-svg-modal/open-positions-svg-modal.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal-content.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/appstore/src/components/multi-action-button-group/multi-action-button-group.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/components/routes/routes.tsx
  packages/appstore/src/components/trade-button/trade-button.tsx
  packages/appstore/src/modules/Page404/Components/Page404.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/translations/src/components/localize.jsx
  packages/translations/src/i18next/i18next.ts
Labels: Translations, AppStore

#16026 Footer issue in POi aligned in Desktop view
  packages/core/src/sass/app/_common/components/account-common.scss
Labels: Core

#15987 dhruv/Fix-console-error-POI/POA/COJ-1248
  packages/account/src/Components/poi-poa-docs-submitted/poi-poa-docs-submitted.tsx
Labels: Account

#15854 [DTRA] Maryia/DTRA-1351/feat: Skeleton loader for DTrader V2
  packages/components/package.json
  packages/components/src/components/loading/dtrader-v2-loaders/__tests__/loading-dtrader-v2.spec.tsx
  packages/components/src/components/loading/dtrader-v2-loaders/contract-card-loader.tsx
  packages/components/src/components/loading/dtrader-v2-loaders/contract-details-loader.tsx
  packages/components/src/components/loading/dtrader-v2-loaders/positions-loader.tsx
  packages/components/src/components/loading/dtrader-v2-loaders/trade-loader.tsx
  packages/components/src/components/loading/loading-dtrader-v2.tsx
  packages/components/src/components/loading/loading.scss
  packages/components/src/components/loading/loading.tsx
  packages/components/src/components/skeleton/__tests__/skeleton.spec.tsx
  packages/components/src/components/skeleton/index.ts
  packages/components/src/components/skeleton/skeleton.scss
  packages/components/src/components/skeleton/skeleton.tsx
  packages/components/src/index.ts
  packages/core/src/App/Components/Layout/Header/dtrader-v2/__tests__/account-actions-dtrader-v2.spec.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/__tests__/notifications-icon-dtrader-v2.spec.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-actions-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-info-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/header-account-actions-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/notifications-icon-dtrader-v2.tsx
  packages/core/src/App/Components/Routes/binary-routes.jsx
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/Layout/header/__tests__/dtrader-v2-header-loader.spec.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-v2-header-loader.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-v2-header.tsx
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/core/src/sass/app/_common/layout/header.scss
  packages/shared/src/utils/helpers/__tests__/dtrader-v2-helpers.spec.ts
  packages/shared/src/utils/helpers/dtrader-v2-helpers.ts
  packages/shared/src/utils/helpers/index.ts
  packages/trader/src/AppV2/Components/ContractCard/__tests__/contract-cards-sections.spec.tsx
  packages/trader/src/AppV2/Components/ContractCard/contract-cards-sections.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/__tests__/contract-details.spec.tsx
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.scss
  packages/trader/src/AppV2/Containers/ContractDetails/contract-details.tsx
  packages/trader/src/AppV2/Containers/Positions/__tests__/positions-content.spec.tsx
  packages/trader/src/AppV2/Containers/Positions/positions-content.tsx
  packages/trader/src/AppV2/Containers/Positions/positions.scss
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Utils/__tests__/positions-utils.spec.ts
  packages/trader/src/AppV2/Utils/positions-utils.ts
  packages/trader/src/index.tsx
Labels: Trader, Core, Bot, Shared, Components, Account

#15934 [BOT] Farabi/bot-529/remove limits from multiplier block
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_multiplier.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradeoptions.js
Labels: Bot

#15985 [P2PS]- Nada/3162/fix: responsive tabs not scrolling
  packages/p2p/src/pages/app.scss
Labels: P2P

#15956 [P2PS] - Nada/P2PS-3086/fix: translation handle for edit ad header
  packages/p2p/src/pages/my-ads/edit-ad-form.jsx
Labels: P2P

#15822 [WALL] george / WALL-4420 / Persist selected accounts tab (CFDs or Options) in Mobile view
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/AccountsList/__tests__/AccountsList.spec.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListCardActions/__tests__/WalletListCardActions.spec.tsx
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/__tests__/WalletCashierHeader.spec.tsx
  packages/wallets/src/routes/Router.tsx
Labels: Components

#15839 Fasih/COJ-1247/Added lazy loading for some section
  packages/account/src/Components/api-token/api-token-article.tsx
  packages/account/src/Components/api-token/api-token-clipboard.tsx
  packages/account/src/Components/api-token/api-token-context.ts
  packages/account/src/Components/api-token/api-token-delete-button.tsx
  packages/account/src/Components/api-token/api-token-table-row.tsx
  packages/account/src/Components/api-token/api-token-table.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article.tsx
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/Security/ApiToken/api-token.tsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-pending-conditions/closing-account-has-pending-conditions.tsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-pending-conditions/closing-account-pending-balance.tsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-pending-conditions/closing-account-pending-positions.tsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-reason-form.tsx
  packages/account/src/Sections/Security/ClosingAccount/closing-account-reason.tsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/digit-form.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication-article.tsx
  packages/account/src/Sections/Security/TwoFactorAuthentication/two-factor-authentication.tsx
  packages/account/src/Sections/index.js
Labels: Components, Account

#16049 [WEBREL] george / WEBREL-2905 / downgrade deriv-com/analytics to v1.5.9
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Labels: Trader, Core, Shared, Account, AppStore

#16050 [FEQ] george / FEQ-2462 / downgrade deriv-com/analytics package to v1.5.9
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Labels: Trader, Core, Shared, Account, AppStore

#15965 [FEQ] / Ameerul / FEQ-2028 [TrackJS] Error:Cannot read properties of undefined (reading 'includes')
  packages/p2p/src/stores/general-store.js
Labels: P2P

#15817 [WALL] Aizad/WALL-4397/Wallet migration banner and pop up window for Arabic language is misaligned
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.scss
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/core/src/App/Containers/Modals/wallets-upgrade-logout-modal/wallets-upgrade-logout-modal.scss
  packages/core/src/App/Containers/Modals/wallets-upgrade-logout-modal/wallets-upgrade-logout-modal.tsx
Labels: Core, Components, AppStore, Wallets

#16067 Feature/server side bot
  packages/bot-skeleton/src/services/api/api-base.js
  packages/bot-web-ui/src/pages/main/main.tsx
  packages/bot-web-ui/src/pages/server-bot/notifications.tsx
  packages/bot-web-ui/src/pages/server-bot/request_schema.ts
  packages/bot-web-ui/src/pages/server-bot/server-bot-list.tsx
  packages/bot-web-ui/src/pages/server-bot/server-bot.scss
  packages/bot-web-ui/src/pages/server-bot/server-bot.tsx
  packages/bot-web-ui/src/pages/server-bot/server-qs-form.tsx
  packages/bot-web-ui/src/stores/server-bot-store.ts
Labels: Bot

#15921 [BOT]maryia/BOT-1683/feat: Placeholder value changes from 0.00 to 0 after user edits the field
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/inputs/qs-input.tsx
Labels: Bot

#15922 [BOT]maryia/BOT-1889/fix: Cannot read properties of undefined (reading 'shouldRestartOnError')
  packages/bot-web-ui/src/stores/run-panel-store.ts
Labels: Bot

#16071 habib/fix-cookie-sharing-for-deriv.be
  packages/core/src/Stores/client-store.js
  packages/hooks/src/useIsP2PEnabled.ts
Labels: Core

#16076 Maryia/bot 1644
  packages/bot-web-ui/src/components/contract-card-loading/__tests__/contract-card-loading.spec.tsx
  packages/bot-web-ui/src/components/contract-card-loading/__tests__/contract-card-running-bot.spec.tsx
  packages/bot-web-ui/src/components/contract-card-loading/contract-card-loading.tsx
  packages/bot-web-ui/src/components/contract-card-loading/contract-card-running-bot.tsx
  packages/bot-web-ui/src/components/summary/__tests__/summary-card.spec.tsx
  packages/bot-web-ui/src/components/summary/summary-card.scss
  packages/bot-web-ui/src/components/summary/summary-card.tsx
  packages/bot-web-ui/src/components/summary/summary-card.types.ts
  packages/bot-web-ui/src/components/summary/summary.scss
  packages/bot-web-ui/src/components/summary/summary.tsx
  packages/bot-web-ui/src/components/trade-animation/__tests__/contract-stage-text.spec.tsx
  packages/bot-web-ui/src/components/trade-animation/contract-stage-text.tsx
  packages/bot-web-ui/src/constants/contract-stage.ts
  packages/bot-web-ui/src/pages/main/main.scss
  packages/bot-web-ui/src/stores/summary-card-store.ts
  packages/components/src/components/icon/common/ic-circle-loader.svg
  packages/components/src/components/icon/icons.js
Labels: Bot, Components

#16065 [CFDS]/Hasan/CFDS-4115/Removed Deriv MT5 login popup
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/mt5-notification/index.ts
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification-description.tsx
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.scss
  packages/core/src/App/Containers/Modals/mt5-notification/mt5-notification.tsx
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#16068 [BOT] Farabi/bot-1990/update dbot blogs url in faq
  packages/bot-web-ui/src/pages/tutorials/constants.ts
Labels: Bot

#16070 [BOT] Farabi/bot-1991/add new deriv bot videos in tutorials guide
  packages/bot-web-ui/src/pages/tutorials/__tests__/tutorial-tab-desktop.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/__tests__/tutorial-tab-mobile.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/constants.ts
  packages/bot-web-ui/src/pages/tutorials/guide-content/__tests__/guide-content.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/tutorials.scss
  packages/core/src/public/images/common/static_images/build_a_bot.png
  packages/core/src/public/images/common/static_images/how_to_use_martingale.jpg
  packages/core/src/public/images/common/static_images/intro_to_deriv_bot.png
  packages/core/src/public/images/common/static_images/video_dbot.png
Labels: Core, Bot

#15924 [WALL] george / WALL-4489 / A delay to show In-progress migration banner right after enabled migration
  packages/appstore/src/components/banners/wallets-banner/__tests__/wallets-banner.spec.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.tsx
  packages/core/src/Stores/client-store.js
Labels: Core, AppStore

#16096 Nada/fix: sonar issues
  packages/p2p/src/components/floating-rate/floating-rate.tsx
  packages/p2p/src/components/modal-manager/modals/block-user-filter-modal/block-user-filter-modal.tsx
  packages/p2p/src/components/modal-manager/modals/filter-modal/__tests__/filter-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/invalid-verification-link-modal/__tests__/invalid-verification-link-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/order-details-confirm-modal/order-details-confirm-modal.tsx
  packages/p2p/src/pages/my-profile/block-user/block-user-table/block-user-table-error/__tests__/block-user-table-error.spec.tsx
Labels: P2P

#16094 Suisin/fix: text not bold in email and password page
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Account

#16069 [WALL] Lubega/ WALL-4549 / Wallets multi language support
  .github/actions/build/action.yml
  .github/workflows/release_staging.yml
  .github/workflows/release_test.yml
  .github/workflows/sync-translations.yml
  __mocks__/translation.mock.js
  packages/wallets/crowdin.yml
  packages/wallets/jest.config.js
  packages/wallets/package.json
  packages/wallets/scripts/update-translations.sh
  packages/wallets/src/App.tsx
  packages/wallets/src/AppContent.scss
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/Page404/Page404.tsx
  packages/wallets/src/components/SentEmailContent/SentEmailContent.tsx
  packages/wallets/src/components/WalletLanguageSidePanel/WalletLanguageSidePanel.scss
  packages/wallets/src/components/WalletLanguageSidePanel/WalletLanguageSidePanel.tsx
  packages/wallets/src/components/WalletLanguageSidePanel/index.ts
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListCardDetails/WalletListCardDetails.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletListHeader/WalletListHeader.scss
  packages/wallets/src/components/WalletListHeader/WalletListHeader.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletSuccessResetMT5Password.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
  packages/wallets/src/components/index.ts
  packages/wallets/src/constants/constants.tsx
  packages/wallets/src/constants/languages.tsx
  packages/wallets/src/features/accounts/constants.tsx
  packages/wallets/src/features/accounts/screens/DocumentSubmission/DocumentSubmission.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/features/cashier/modules/CashierLocked/CashierLocked.tsx
  packages/wallets/src/features/cashier/modules/CashierLocked/CashierLockedContent.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/DepositLocked.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/DepositLockedContent.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/__tests__/DepositLockedContent.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferMessages/TransferMessages.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/WithdrawalLocked.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/WithdrawalLockedContent.tsx
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.tsx
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordInputsScreen.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5MobileRedirectOption.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.tsx
  packages/wallets/src/translations/de.json
  packages/wallets/src/translations/en.json
  packages/wallets/src/translations/i18n.ts
  packages/wallets/src/translations/id.json
  packages/wallets/src/translations/ms.json
  packages/wallets/webpack.config.js
Labels: Account

#16020 Fasih/COJ-1275/ Implemented lazy load
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/index.js
Labels: Account

#16004 [WALL] george / WALL-4402 / feat(wallets): ✨ add analytics to track wallets events
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/core/src/App/Containers/Modals/wallets-upgrade-logout-modal/wallets-upgrade-logout-modal.tsx
  packages/wallets/package.json
  packages/wallets/src/AppContent.tsx
Labels: Core, AppStore

#16024 [WALL] Aizad/WALL-4403/Adding a Max button in the transfer screen for client to select max value to transfer for crypto
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAmountInput/TransferFormAmountInput.scss
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAmountInput/TransferFormAmountInput.tsx
Labels: Wallets

#16112 [WALL] Lubega / Wallets translations update
  __mocks__/translation.mock.js
  package-lock.json
  packages/account/package.json
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/index.js
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/modals/wallets-upgrade-modal/wallets-upgrade-modal.tsx
  packages/core/package.json
  packages/core/src/App/Containers/Modals/wallets-upgrade-logout-modal/wallets-upgrade-logout-modal.tsx
  packages/trader/package.json
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/features/cashier/modules/CashierLocked/CashierLockedContent.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/DepositLockedContent.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/WithdrawalLockedContent.tsx
Labels: Trader, Core, Account, AppStore

#15877 [DTRA] Maryia/DTRA-1336/feat: update chart 'Interval duration' setting
  packages/core/src/sass/app/_common/components/media-item.scss
  packages/trader/src/App/Containers/SettingsModal/__tests__/settings-chart.spec.tsx
  packages/trader/src/App/Containers/SettingsModal/settings-chart.tsx
Labels: Trader, Core

#16081 DTRA / Kate / DTRA-1420 / [DTrader-V2]: Performance improvement - to introduce a new video format
  package-lock.json
  packages/core/src/public/videos/accumulators_mobile.lottie
  packages/core/src/public/videos/accumulators_mobile.mp4
  packages/core/src/public/videos/differs_mobile.lottie
  packages/core/src/public/videos/differs_mobile.mp4
  packages/core/src/public/videos/even_mobile.lottie
  packages/core/src/public/videos/even_mobile.mp4
  packages/core/src/public/videos/fall_mobile.lottie
  packages/core/src/public/videos/fall_mobile.mp4
  packages/core/src/public/videos/higher_mobile.lottie
  packages/core/src/public/videos/higher_mobile.mp4
  packages/core/src/public/videos/lower_mobile.lottie
  packages/core/src/public/videos/lower_mobile.mp4
  packages/core/src/public/videos/matches_mobile.lottie
  packages/core/src/public/videos/matches_mobile.mp4
  packages/core/src/public/videos/multipliers_down_mobile.lottie
  packages/core/src/public/videos/multipliers_down_mobile.mp4
  packages/core/src/public/videos/multipliers_up_mobile.lottie
  packages/core/src/public/videos/multipliers_up_mobile.mp4
  packages/core/src/public/videos/no_touch_mobile.lottie
  packages/core/src/public/videos/no_touch_mobile.mp4
  packages/core/src/public/videos/odd_mobile.lottie
  packages/core/src/public/videos/odd_mobile.mp4
  packages/core/src/public/videos/over_mobile.lottie
  packages/core/src/public/videos/over_mobile.mp4
  packages/core/src/public/videos/rise_mobile.lottie
  packages/core/src/public/videos/rise_mobile.mp4
  packages/core/src/public/videos/touch_mobile.lottie
  packages/core/src/public/videos/touch_mobile.mp4
  packages/core/src/public/videos/turbos_down_mobile.lottie
  packages/core/src/public/videos/turbos_down_mobile.mp4
  packages/core/src/public/videos/turbos_up_mobile.lottie
  packages/core/src/public/videos/turbos_up_mobile.mp4
  packages/core/src/public/videos/under_mobile.lottie
  packages/core/src/public/videos/under_mobile.mp4
  packages/core/src/public/videos/vanillas_call_mobile.lottie
  packages/core/src/public/videos/vanillas_call_mobile.mp4
  packages/core/src/public/videos/vanillas_put_mobile.lottie
  packages/core/src/public/videos/vanillas_put_mobile.mp4
  packages/trader/package.json
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/accumulators-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/even-odd-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/higher-lower-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/matches-differs-trade-descriptioon.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/multiplier-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/over-under-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/rise-fall-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/touch-no-touch-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/turbos-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/ContractDescription/__tests__/vanillas-trade-description.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/__tests__/video-fragment.spec.tsx
  packages/trader/src/AppV2/Components/Guide/Description/video-fragment.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide-definition-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide-description-modal.spec.tsx
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
  packages/trader/src/AppV2/Components/Guide/guide.scss
  packages/trader/src/AppV2/Utils/__tests__/contract-description.spec.tsx
  packages/trader/src/AppV2/__tests__/app.spec.tsx
Labels: Trader, Core

#16105 Update the naming conventions of dtrader
  packages/trader/README.md
Labels: Trader, Docs

#16061 [UPM-1260]Amina/fix: reset_password_modal_in_logged_in_state
  packages/api/types.ts
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/core/src/App/Containers/ConfirmEmailModal/__tests__/confirm-email-modal.spec.tsx
  packages/core/src/App/Containers/ConfirmEmailModal/confirm-email-modal.tsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
  packages/core/src/App/Containers/ResetPasswordModal/index.js
  packages/core/src/App/Containers/ResetPasswordModal/index.ts
  packages/core/src/App/Containers/ResetPasswordModal/reset-password-modal.tsx
  packages/core/src/App/Containers/UnlinkPasswordModal/unlink-password-modal.jsx
  packages/core/src/App/Containers/UpdateEmailModal/update-email-modal.jsx
  packages/shared/src/utils/url/helpers.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Shared, AppStore

#16129 DTRA / Kate / DTRA-1533 / Reset default button and link tags' style in DTrader V-2
  packages/core/src/sass/app/_common/layout/header.scss
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/ContractCard/contract-card.scss
  packages/trader/src/AppV2/Components/Filter/filter.scss
  packages/trader/src/AppV2/Components/Guide/guide.scss
Labels: Trader, Core

#15931 [WALL] Lubega / WALL-4354 / Update wallets dropdown component with @deriv-com/ui
  package-lock.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/cashier-v2/src/flows/FiatOnRamp/FiatOnRamp.tsx
  packages/cashier-v2/src/lib/PaymentAgent/components/PaymentAgentMethodsDropdown/PaymentAgentMethodsDropdown.tsx
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/component-tests/crypto-payment-redirection.spec.tsx
  packages/wallets/package.json
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.scss
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.tsx
  packages/wallets/src/components/Base/WalletDropdown/index.ts
  packages/wallets/src/components/Base/index.ts
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.scss
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletListCardDropdown/__tests__/WalletListCardDropdown.spec.tsx
  packages/wallets/src/features/accounts/screens/AddressSection/AddressSection.scss
  packages/wallets/src/features/accounts/screens/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/IDVDocumentUpload.scss
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/IDVDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/PersonalDetails/PersonalDetails.scss
  packages/wallets/src/features/accounts/screens/PersonalDetails/PersonalDetails.tsx
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.scss
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.tsx
  packages/wallets/src/features/cashier/modules/Transactions/__tests__/Transactions.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.tsx
Labels: Trader, Core, Components, Account

#15758 [TRAH] Sergei / TRAH - 3679 / Add a full screen modal after Sign up - to allow users to go to demo or proceed with real account creation
  packages/appstore/src/components/after-signup-flow/__tests__/after-signup-flow.spec.tsx
  packages/appstore/src/components/after-signup-flow/after-signup-flow.tsx
  packages/appstore/src/components/after-signup-flow/index.ts
  packages/appstore/src/components/app.scss
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/modals/setup-real-account-or-go-to-demo-modal/__tests__/setup-real-account-or-go-to-demo-modal-content.spec.tsx
  packages/appstore/src/components/modals/setup-real-account-or-go-to-demo-modal/__tests__/setup-real-account-or-go-to-demo-modal.spec.tsx
  packages/appstore/src/components/modals/setup-real-account-or-go-to-demo-modal/index.ts
  packages/appstore/src/components/modals/setup-real-account-or-go-to-demo-modal/setup-real-account-or-go-to-demo-modal-content.tsx
  packages/appstore/src/components/modals/setup-real-account-or-go-to-demo-modal/setup-real-account-or-go-to-demo-modal.scss
  packages/appstore/src/components/modals/setup-real-account-or-go-to-demo-modal/setup-real-account-or-go-to-demo-modal.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/components/src/components/icon/appstore/ic-appstore-account.svg
  packages/components/src/components/icon/icons.js
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Components, AppStore

#16134 [WALL] Lubega / Wallets translations update pt. ii
  package-lock.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/cashier-v2/src/flows/FiatOnRamp/FiatOnRamp.tsx
  packages/cashier-v2/src/lib/PaymentAgent/components/PaymentAgentMethodsDropdown/PaymentAgentMethodsDropdown.tsx
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/core/src/sass/app/_common/layout/header.scss
  packages/reports/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/ContractCard/contract-card.scss
  packages/trader/src/AppV2/Components/Filter/filter.scss
  packages/trader/src/AppV2/Components/Guide/guide.scss
  packages/wallets/component-tests/crypto-payment-redirection.spec.tsx
  packages/wallets/package.json
  packages/wallets/src/AppContent.scss
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.scss
  packages/wallets/src/components/Base/WalletDropdown/WalletDropdown.tsx
  packages/wallets/src/components/Base/WalletDropdown/index.ts
  packages/wallets/src/components/Base/index.ts
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.scss
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletListCardDropdown/__tests__/WalletListCardDropdown.spec.tsx
  packages/wallets/src/constants/languages.tsx
  packages/wallets/src/features/accounts/screens/AddressSection/AddressSection.scss
  packages/wallets/src/features/accounts/screens/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/IDVDocumentUpload.scss
  packages/wallets/src/features/accounts/screens/IDVDocumentUpload/IDVDocumentUpload.tsx
  packages/wallets/src/features/accounts/screens/PersonalDetails/PersonalDetails.scss
  packages/wallets/src/features/accounts/screens/PersonalDetails/PersonalDetails.tsx
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.scss
  packages/wallets/src/features/cashier/modules/Transactions/Transactions.tsx
  packages/wallets/src/features/cashier/modules/Transactions/__tests__/Transactions.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormDropdown/TransferFormDropdown.tsx
Labels: Trader, Core, Components, Account

#16130 chore: add staging-hub as allowed domains for storage sync
  packages/core/src/root_files/localstorage-sync.html
Labels: Core

#16111 [FEQ] george / FEQ-2494/ Update @deriv-com/analytics package to v1.9.0
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/AppContent.tsx
Labels: Trader, Core, Shared, Components, Account, AppStore

#15974 [UPM-1233]/evgeniy/add "passkey_available" flag to cookie
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Account

#16018 Ahmad/DTRA-1408/Fix Vanilla Contract in Contract Details V2
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Labels: Trader

#16017 Ahmad/DTRA-1405/Multipliers fix on Contract Details V2
  packages/shared/src/utils/constants/contract.ts
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
  packages/trader/src/AppV2/Components/TakeProfitHistory/__tests__/take-profit-history.spec.tsx
  packages/trader/src/AppV2/Components/TakeProfitHistory/take-profit-history.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useOrderDetails.spec.tsx
  packages/trader/src/AppV2/Hooks/useOrderDetails.ts
Labels: Trader, Shared

#16012 Ahmad/DTRA-1401/DTRA-1402/Add currency in payout per point and decimal point in take profit
  packages/trader/src/AppV2/Components/RiskManagementItem/risk-management-item.tsx
Labels: Trader

#16151 Amina/ fix: deriv-x password modal
  packages/appstore/src/components/modals/modal-manager.tsx
Labels: AppStore

#16156 Rupato/BOT-2013/fix: added missing translations for blockly context menu
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_create_with.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_getIndex.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_getSublist.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_indexOf.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_isEmpty.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_length.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_repeat.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_setIndex.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_sort.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_split.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/List/lists_statement.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_flow_statements.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_for.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_forEach.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_repeat.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_repeat_ext.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Loops/controls_whileUntil.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Variable/variables_get.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Variable/variables_set.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/accumulator_take_profit.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_candleinterval.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_contracttype.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_market.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartbuysell.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartonerror.js
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_tradetype.js
  packages/bot-skeleton/src/scratch/utils/index.js
Labels: Bot

#16147 Aswathy/CRO-675/feat: added the residence in the analytics
  package-lock.json
  package.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/core/src/Stores/client-store.js
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
Labels: Trader, Core, Shared, Account, AppStore

#15776 [DTRA] Henry/dtra 1353/available assets trader v2
  packages/stores/src/mockStore.ts
  packages/trader/src/AppV2/Components/ActiveSymbolsList/__tests__/active-symbols-list.spec.tsx
  packages/trader/src/AppV2/Components/ActiveSymbolsList/active-symbols-list.scss
  packages/trader/src/AppV2/Components/ActiveSymbolsList/active-symbols-list.tsx
  packages/trader/src/AppV2/Components/ActiveSymbolsList/index.ts
  packages/trader/src/AppV2/Components/FavoriteSymbols/__tests__/favorite-symbols.spec.tsx
  packages/trader/src/AppV2/Components/FavoriteSymbols/__tests__/no-favorite-symbols.spec.tsx
  packages/trader/src/AppV2/Components/FavoriteSymbols/favorite-symbols.scss
  packages/trader/src/AppV2/Components/FavoriteSymbols/favorite-symbols.tsx
  packages/trader/src/AppV2/Components/FavoriteSymbols/index.ts
  packages/trader/src/AppV2/Components/FavoriteSymbols/no-favorite-symbols.tsx
  packages/trader/src/AppV2/Components/MarketCategories/__tests__/market-categories.spec.tsx
  packages/trader/src/AppV2/Components/MarketCategories/index.ts
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.scss
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.tsx
  packages/trader/src/AppV2/Components/MarketCategory/__tests__/market-category.spec.tsx
  packages/trader/src/AppV2/Components/MarketCategory/index.ts
  packages/trader/src/AppV2/Components/MarketCategory/market-category.scss
  packages/trader/src/AppV2/Components/MarketCategory/market-category.tsx
  packages/trader/src/AppV2/Components/MarketCategoryItem/__tests__/market-category-item.spec.tsx
  packages/trader/src/AppV2/Components/MarketCategoryItem/index.ts
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.scss
  packages/trader/src/AppV2/Components/MarketCategoryItem/market-category-item.tsx
  packages/trader/src/AppV2/Components/MarketCategoryTab/__tests__/market-category-tab.spec.tsx
  packages/trader/src/AppV2/Components/MarketCategoryTab/market-category-tab.tsx
  packages/trader/src/AppV2/Components/MarketSelector/__tests__/market-selector.spec.tsx
  packages/trader/src/AppV2/Components/MarketSelector/index.ts
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.scss
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Components/SymbolIconsMapper/__tests__/symbol-icons-mapper.spec.tsx
  packages/trader/src/AppV2/Components/SymbolIconsMapper/symbol-icons-mapper.tsx
  packages/trader/src/AppV2/Components/SymbolNotFound/__tests__/symbol-not-found.spec.tsx
  packages/trader/src/AppV2/Components/SymbolNotFound/index.ts
  packages/trader/src/AppV2/Components/SymbolNotFound/symbol-not-found.scss
  packages/trader/src/AppV2/Components/SymbolNotFound/symbol-not-found.tsx
  packages/trader/src/AppV2/Components/SymbolSearchResults/__tests__/symbol-search-results.spec.tsx
  packages/trader/src/AppV2/Components/SymbolSearchResults/index.ts
  packages/trader/src/AppV2/Components/SymbolSearchResults/symbol-search-results.scss
  packages/trader/src/AppV2/Components/SymbolSearchResults/symbol-search-results.tsx
  packages/trader/src/AppV2/Components/SymbolsSearchField/__tests__/symbols-search-field.spec.tsx
  packages/trader/src/AppV2/Components/SymbolsSearchField/index.ts
  packages/trader/src/AppV2/Components/SymbolsSearchField/symbols-search-field.scss
  packages/trader/src/AppV2/Components/SymbolsSearchField/symbols-search-field.tsx
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useActiveSymbols.spec.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useGetFavoriteSymbols.spec.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useGetSymbolSearchResults.spec.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Hooks/useGetFavoriteSymbols.ts
  packages/trader/src/AppV2/Hooks/useGetSymbolSearchResults.ts
  packages/trader/src/AppV2/Utils/__tests__/sort-symbols-utils.spec.ts
  packages/trader/src/AppV2/Utils/__tests__/symbol-categories-utils.spec.ts
  packages/trader/src/AppV2/Utils/market-icons.ts
  packages/trader/src/AppV2/Utils/sort-symbols-utils.ts
  packages/trader/src/AppV2/Utils/symbol-categories-utils.ts
  packages/trader/src/AppV2/app.tsx
  packages/trader/src/Stores/Modules/Markets/markets-store.spec.ts
  packages/trader/src/Stores/Modules/Markets/markets-store.ts
  packages/trader/src/Stores/Modules/index.ts
Labels: Trader, Core, Account

#16176 Update deriv-charts to 2.1.25
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#15714 Suisin/chore: add Khmer language into deriv-app
  package-lock.json
  packages/account/package.json
  packages/account/src/Components/language-settings/language-radio-button.tsx
  packages/appstore/package.json
  packages/bot-skeleton/src/scratch/blocks/index.js
  packages/bot-web-ui/src/components/bot-notification/bot-notification.scss
  packages/cfd/package.json
  packages/components/src/components/icon/flag/ic-flag-ko.svg
  packages/components/src/components/icon/icons.js
  packages/components/src/components/types/icons.types.ts
  packages/core/package.json
  packages/core/src/App/Components/Routes/language-link.tsx
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/p2p/src/components/i18next/index.ts
  packages/shared/src/utils/constants/translation-flag.tsx
  packages/shared/src/utils/date/date-time.ts
  packages/translations/src/i18next/i18next.ts
  packages/translations/src/translations/km.json
Labels: Trader, Core, Bot, Shared, Components, Translations, P2P, Account, AppStore

#16109 Fasih/COJ-1341/ Fixed console error by adding use effect
  packages/core/src/App/Containers/Redirect/redirect.jsx
Labels: Core

#15966 [WALL] Aizad/WALL-4353/ Replace Tooltip with Tooltip from deriv-com/ui
  package-lock.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/components/Base/Tooltip/Tooltip.scss
  packages/wallets/src/components/Base/Tooltip/Tooltip.tsx
  packages/wallets/src/components/Base/Tooltip/__tests__/Tooltip.spec.tsx
  packages/wallets/src/components/Base/Tooltip/index.ts
  packages/wallets/src/components/Base/WalletClipboard/WalletClipboard.scss
  packages/wallets/src/components/Base/WalletClipboard/WalletClipboard.tsx
  packages/wallets/src/components/Base/WalletClipboard/__tests__/WalletClipboard.spec.tsx
  packages/wallets/src/components/Base/index.ts
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoAddress/DepositCryptoAddress.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/components/DepositCryptoAddress/__tests__/DepositCryptoAddress.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/__tests__/TransactionsPendingRow.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/components/TransactionsPendingRowField/TransactionsPendingRowField.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriority/WithdrawalCryptoPriority.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/components/WithdrawalCryptoPriorityFeeInfo/WithdrawalCryptoPriorityFeeInfo.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsTitleIcon.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsTitleIcon.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.tsx
Labels: Trader, Core, Bot, Components, Account, Wallets

#16175 Fasih/TRAH-3827/ Enable tooltip again
  packages/account/src/Components/additional-kyc-info-modal/additional-kyc-info-form.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Components/personal-details/__tests__/personal-details.spec.tsx
Labels: Account

#16146 [WALL] Jim/WALL-4349/replace walletbutton with button
  package-lock.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/components/package.json
  packages/core/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/wallets/component-tests/crypto-payment-redirection.spec.tsx
  packages/wallets/package.json
  packages/wallets/src/components/WalletsErrorScreen/WalletsErrorScreen.tsx
  packages/wallets/src/features/cashier/components/WalletActionModal/WalletActionModal.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/FiatOnRamp.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/components/FiatOnRampDisclaimer/FiatOnRampDisclaimer.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/components/FiatOnRampDisclaimer/__tests__/FiatOnRampDisclaimer.spec.tsx
  packages/wallets/src/features/cashier/modules/FiatOnRamp/components/FiatOnRampProviderCard/FiatOnRampProviderCard.tsx
  packages/wallets/src/features/cashier/modules/ResetBalance/ResetBalance.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/CryptoTransaction/CryptoTransaction.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusError/TransactionStatusError.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusSuccess/TransactionStatusSuccess.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
  packages/wallets/src/features/cashier/modules/Transfer/Transfer.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferForm/TransferForm.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferForm/__tests__/TransferForm.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferMessages/TransferMessages.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoForm/WithdrawalCryptoForm.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/WithdrawalCryptoReceipt.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/WithdrawalVerificationRequest/WithdrawalVerificationRequest.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalVerification/WithdrawalVerificationSent/WithdrawalVerificationSent.tsx
  packages/wallets/src/features/cashier/screens/TransferNotAvailable/TransferNotAvailableProvider.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalErrorScreen/WithdrawalErrorScreen.tsx
  packages/wallets/src/features/cashier/screens/WithdrawalNoBalance/WithdrawalNoBalance.tsx
Labels: Trader, Core, Components, Account

#16119 [DTRA] henry/dtra-1448/enable-landscape-blocker-dtrader
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.tsx
  packages/shared/src/utils/os/os_detect.ts
Labels: Core, Shared

#16204 Update deriv-charts to 2.2.0
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#15889 [DTRA] Maryia/OPT-862/feat: update Step Indices config and icons
  packages/components/src/components/icon/icons.js
  packages/components/src/components/icon/underlying/ic-underlying-STPRNG.svg
  packages/components/src/components/icon/underlying/ic-underlying-STPRNG2.svg
  packages/components/src/components/icon/underlying/ic-underlying-STPRNG5.svg
  packages/shared/src/utils/constants/contract.ts
  packages/shared/src/utils/helpers/__tests__/market-underlying.spec.ts
  packages/shared/src/utils/helpers/market-underlying.ts
  packages/shared/src/utils/shortcode/__tests__/shortcode.spec.ts
  packages/shared/src/utils/shortcode/shortcode.ts
Labels: Shared, Components

#16193 Niloofar/[TRAH-3826]/Bottom disclaimer on Traders Hub for EU
  package-lock.json
  packages/appstore/package.json
  packages/appstore/src/components/disclaimer/disclaimer.scss
  packages/appstore/src/components/disclaimer/disclaimer.tsx
  packages/appstore/src/components/disclaimer/index.ts
  packages/appstore/src/modules/traders-hub-logged-out/traders-hub-logged-out.scss
  packages/appstore/src/modules/traders-hub-logged-out/traders-hub-logged-out.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/appstore/src/modules/traders-hub/traders-hub.scss
Labels: AppStore

#16029 [CFDS]/Hasan/CFDS-4165/Update STN abbreviation to STD on Trader's Hub & Wallets
  packages/appstore/src/assets/svgs/trading-platform/branding/ic-branding-standard-dashboard.svg
  packages/cashier/src/assets/svgs/trading-platform/ic-appstore-standard.svg
  packages/cfd/src/Assets/banner/migrate-card-dark.svg
  packages/cfd/src/Assets/banner/migrate-card.svg
  packages/cfd/src/Assets/svgs/trading-platform/ic-appstore-standard.svg
  packages/cfd/src/Containers/migration-banner/migration-banner.scss
  packages/cfd/src/Containers/migration-banner/migration-banner.tsx
  packages/components/src/components/icon/mt5/ic-mt5-bvi-standard.svg
  packages/components/src/components/icon/mt5/ic-mt5-standard-financial-bvi.svg
  packages/components/src/components/icon/mt5/ic-mt5-standard-financial-vanuatu.svg
  packages/components/src/components/icon/mt5/ic-mt5-svg-standard.svg
  packages/components/src/components/icon/mt5/ic-mt5-vanuatu-standard.svg
  packages/wallets/src/constants/icons.ts
  packages/wallets/src/features/cfd/screens/CompareAccounts/compareAccountsConfig.ts
Labels: Components, AppStore

#16145 Hirad/CFDs-4392/Fixed the tablet view CFD modal issues
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/cfd-password-manager-modal.tsx
  packages/cfd/src/Containers/cfd-password-modal.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-foot-note.tsx
  packages/components/src/components/form-submit-button/form-submit-button.scss
Labels: Components, AppStore

#15710 [P2PS] - Nada/P2PS-2639/fix: order completion list to be taken from BE
  packages/p2p/src/pages/my-ads/create-ad-form.jsx
  packages/p2p/src/pages/my-ads/order-time-selection/__tests__/order-time-selection.spec.tsx
  packages/p2p/src/pages/my-ads/order-time-selection/order-time-selection.tsx
  packages/stores/src/stores/P2PSettingsContext.tsx
Labels: Shared, P2P

#16089 [WALL] george / WALL-4522 / Add ce_cashier_deposit_onboarding_form analytics event
  packages/cashier/package.json
  packages/cashier/src/components/deposit-sub-page-event-tracker/deposit-sub-page-analytics-event-tracker.tsx
  packages/cashier/src/components/deposit-sub-page-event-tracker/index.ts
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/modules/cashier-onboarding/cashier-onboarding.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/__test__/cashier-onboarding-card.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/cashier-onboarding-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-crypto-card/cashier-onboarding-crypto-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-fiat-card/cashier-onboarding-fiat-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-onramp-card/cashier-onboarding-onramp-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-p2p-card/cashier-onboarding-p2p-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-payment-agent-card/cashier-onboarding-payment-agent-card.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-wallet-address/deposit-crypto-wallet-address.tsx
  packages/cashier/src/modules/deposit-crypto/deposit-crypto.tsx
  packages/cashier/src/modules/deposit-fiat/deposit-fiat.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.tsx
  packages/components/src/components/clipboard/clipboard.tsx
  packages/components/src/components/vertical-tab/vertical-tab-content-container.tsx
  packages/components/src/components/vertical-tab/vertical-tab.tsx
  packages/p2p/package.json
  packages/p2p/src/pages/app.jsx
  packages/p2p/webpack.config.js
Labels: Components, P2P

#15980 [P2PS] - Nada/2570/fix payment method checkbox issue, condition issue
  packages/p2p/src/components/payment-method-card/__tests__/payment-method-card.spec.tsx
  packages/p2p/src/components/payment-method-card/payment-method-card.tsx
  packages/p2p/src/pages/buy-sell/buy-sell-form.jsx
Labels: P2P

#16220 [DTRA] henry/webrel-3029/hotfix: hide recent positions modal and show landscape blocker for contract details and reports
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.tsx
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.tsx
Labels: Trader, Core

#16215 DTRA / Kate / DTRA-1542 / [DTreader-V2]: Guide and Allow equal changes
  package-lock.json
  packages/account/package.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/Components/Guide/guide.scss
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button-content.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/__tests__/allow-equals.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals-header.tsx
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals.scss
  packages/trader/src/AppV2/Components/TradeParameters/AllowEquals/allow-equals.tsx
  packages/trader/src/AppV2/Components/TradeParameters/LastDigitPrediction/last-digit-prediction.tsx
  packages/trader/src/AppV2/Components/TradeParameters/trade-parameters.scss
  packages/trader/src/AppV2/Containers/Trade/trade.scss
Labels: Trader, Core, Account

#16110 [DTRA]fix: fixed the issue of digit contract tick count value getting truncated in responsive view
  packages/trader/src/sass/app/modules/contract/digits.scss
Labels: Trader

#16165 DTRA / Kate / DTRA-1432 / Account switcher DTrader-V2 fixes
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-switcher-account-list-dtrader-v2.tsx
  packages/core/src/App/Components/Layout/Header/dtrader-v2/account-switcher-dtrader-v2.tsx
  packages/core/src/sass/app/_common/components/real-signup-banner-dtrader-v2.scss
Labels: Core

#16106 [BOT] Farabi/bot-1624/ui inconsistencies on dashboard
  packages/bot-web-ui/src/components/trade-animation/trade-animation.scss
  packages/bot-web-ui/src/components/trade-animation/trade-animation.tsx
  packages/bot-web-ui/src/pages/tutorials/tutorials.scss
Labels: Bot

#16172 [TRAH] Sergei / Niloofar / TRAH - 3546 / Take user to deposit screen after real account creation for ROW
  packages/components/src/components/button/button.tsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/__test__/crypto-transaction-processing-modal-content.spec.tsx
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/__test__/crypto-transaction-processing-modal.spec.tsx
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/crypto-transaction-processing-modal-content.tsx
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/crypto-transaction-processing-modal.scss
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/crypto-transaction-processing-modal.tsx
  packages/core/src/App/Containers/Modals/crypto-transaction-processing-modal/index.ts
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/__test__/deposit-now-or-later-modal.spec.tsx
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/deposit-now-or-later-modal.scss
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/deposit-now-or-later-modal.tsx
  packages/core/src/App/Containers/Modals/deposit-now-or-later-modal/index.ts
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal-content.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/__test__/one-time-deposit-modal.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/index.ts
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal-content.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal.scss
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal.spec.tsx
  packages/core/src/App/Containers/OneTimeDepositModal/one-time-deposit-modal.tsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/App/Containers/RealAccountSignup/new-status-dialog-container.jsx
  packages/core/src/App/Containers/RealAccountSignup/new-status-dialog-container.scss
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/ui-store.js
  packages/hooks/src/useCryptoTransactions.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Components

#16225 [DTRA] Maryia/DTRA-1546/fix: [V2] style & animation for Digits Current spot price + active_symbols request
  packages/trader/src/AppV2/Components/ActiveSymbolsList/active-symbols-list.tsx
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot.scss
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot.tsx
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Containers/Chart/trade-chart.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useActiveSymbols.spec.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Hooks/useGetFavoriteSymbols.ts
  packages/trader/src/AppV2/Hooks/useGetSymbolSearchResults.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/contract-type.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
Labels: Trader

#16253 master update
  packages/cashier/package.json
  packages/cashier/src/components/deposit-sub-page-event-tracker/deposit-sub-page-analytics-event-tracker.tsx
  packages/cashier/src/components/deposit-sub-page-event-tracker/index.ts
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/modules/cashier-onboarding/cashier-onboarding.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/__test__/cashier-onboarding-card.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-card/cashier-onboarding-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-crypto-card/cashier-onboarding-crypto-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-fiat-card/cashier-onboarding-fiat-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-onramp-card/cashier-onboarding-onramp-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-p2p-card/cashier-onboarding-p2p-card.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-payment-agent-card/cashier-onboarding-payment-agent-card.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-wallet-address/deposit-crypto-wallet-address.tsx
  packages/cashier/src/modules/deposit-crypto/deposit-crypto.tsx
  packages/cashier/src/modules/deposit-fiat/deposit-fiat.tsx
  packages/cashier/src/pages/on-ramp/on-ramp.tsx
  packages/cashier/src/pages/payment-agent/payment-agent-list/payment-agent-list.tsx
  packages/components/src/components/clipboard/clipboard.tsx
  packages/components/src/components/vertical-tab/vertical-tab-content-container.tsx
  packages/components/src/components/vertical-tab/vertical-tab.tsx
  packages/p2p/package.json
  packages/p2p/src/pages/app.jsx
  packages/p2p/webpack.config.js
  packages/trader/src/AppV2/Components/ActiveSymbolsList/active-symbols-list.tsx
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot.scss
  packages/trader/src/AppV2/Components/CurrentSpot/current-spot.tsx
  packages/trader/src/AppV2/Components/MarketCategories/market-categories.tsx
  packages/trader/src/AppV2/Components/MarketSelector/market-selector.tsx
  packages/trader/src/AppV2/Containers/Chart/trade-chart.tsx
  packages/trader/src/AppV2/Hooks/__tests__/useActiveSymbols.spec.tsx
  packages/trader/src/AppV2/Hooks/useActiveSymbols.ts
  packages/trader/src/AppV2/Hooks/useGetFavoriteSymbols.ts
  packages/trader/src/AppV2/Hooks/useGetSymbolSearchResults.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/contract-type.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/contract-type.ts
  vercel.dr.json
Labels: Trader, Components, P2P

#16140 chore: replace localize import with new library
  __mocks__/translation.mock.js
  packages/account/src/Components/financial-details/financial-details-partials.tsx
  packages/account/src/Components/trading-assessment/risk-tolerance-warning-modal.tsx
  packages/account/src/Components/trading-assessment/test-warning-modal.tsx
  packages/account/src/Components/trading-assessment/trading-assessment-dropdown.tsx
  packages/account/src/Components/trading-assessment/trading-assessment-form.tsx
  packages/account/src/Configs/financial-details-config.ts
  packages/account/src/Containers/toast-popup.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-information-list.ts
  packages/account/src/Sections/Assessment/TradingAssessment/trading-assessment.jsx
Labels: Account

#16259 [Server Bot]Rupato/fix login and icons
  packages/bot-web-ui/src/pages/main/main.tsx
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.tsx
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/common/login-modal.scss
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/common/login-modal.tsx
  packages/bot-web-ui/src/pages/server-side-bot/container/container.scss
  packages/bot-web-ui/src/pages/server-side-bot/container/container.tsx
  packages/bot-web-ui/src/pages/server-side-bot/summary/summary.tsx
  packages/components/src/components/icon/common/ic-server-bot-loss.svg
  packages/components/src/components/icon/common/ic-server-bot-profit.svg
  packages/components/src/components/icon/common/ic-server-bot.svg
  packages/components/src/components/icon/icons.js
Labels: Bot, Components

#16158 [WALL] Lubega / WALL-4549 / Wallets initial translations setup
  .github/actions/build/action.yml
  .github/workflows/release_staging.yml
  .github/workflows/release_test.yml
  .github/workflows/sync-translations.yml
  __mocks__/translation.mock.js
  packages/wallets/crowdin.yml
  packages/wallets/jest.config.js
  packages/wallets/package.json
  packages/wallets/scripts/update-translations.sh
  packages/wallets/src/App.tsx
  packages/wallets/src/AppContent.tsx
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/Page404/Page404.tsx
  packages/wallets/src/components/SentEmailContent/SentEmailContent.tsx
  packages/wallets/src/components/WalletLanguageSidePanel/WalletLanguageSidePanel.scss
  packages/wallets/src/components/WalletLanguageSidePanel/WalletLanguageSidePanel.tsx
  packages/wallets/src/components/WalletLanguageSidePanel/index.ts
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListCardDetails/WalletListCardDetails.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletListHeader/WalletListHeader.scss
  packages/wallets/src/components/WalletListHeader/WalletListHeader.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletSuccessResetMT5Password.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
  packages/wallets/src/components/index.ts
  packages/wallets/src/constants/constants.tsx
  packages/wallets/src/features/accounts/constants.tsx
  packages/wallets/src/features/accounts/screens/DocumentSubmission/DocumentSubmission.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/features/cashier/modules/CashierLocked/CashierLocked.tsx
  packages/wallets/src/features/cashier/modules/CashierLocked/CashierLockedContent.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/DepositLocked.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/DepositLockedContent.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/__tests__/DepositLockedContent.spec.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferMessages/TransferMessages.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/WithdrawalLocked.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalLocked/WithdrawalLockedContent.tsx
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
  packages/wallets/src/features/cfd/components/ModalTradeWrapper/ModalTradeWrapper.tsx
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordInputsScreen.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5MobileRedirectOption.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeLink/MT5TradeLink.tsx
  packages/wallets/src/translations/de.json
  packages/wallets/src/translations/en.json
  packages/wallets/src/translations/i18n.ts
  packages/wallets/src/translations/id.json
  packages/wallets/src/translations/ms.json
  packages/wallets/webpack.config.js
Labels: Bot

#16234 [BOT] maryia/BOT-1479/[Test Coverage] Folder: bot-web-ui/src/components/self-exclusion
  packages/bot-web-ui/src/components/self-exclusion/__tests__/self-exclusion.spec.tsx
  packages/bot-web-ui/src/components/self-exclusion/self-exclusion.jsx
Labels: Bot

#15757 chore: [UPM-613]/evgeniy/add passkey notification in tray / remove effortless modal
  packages/account/src/Sections/Security/Passkeys/components/passkey-card.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/__test__/effortless-login-modal.spec.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-description.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-modal.scss
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-modal.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-tips.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/index.ts
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.tsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-list.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/hooks/src/useGetPasskeysList.ts
  packages/hooks/src/useRegisterPasskey.ts
  packages/hooks/src/useRenamePasskey.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Account, AppStore

#16273 [BOT] Shafin/bot/chore server side bot journal
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/add-bot.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/config.ts
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/qs-text-input.scss
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/inputs/qs-text-input.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/types.ts
  packages/bot-web-ui/src/pages/server-side-bot/bot-list/bot-list.tsx
  packages/bot-web-ui/src/stores/server-side-bot-store.ts
Labels: Bot

#16248 [DTRA] Maryia/DTRA-1554/feat: [V2] add trade type tabs for Higher/Lower & Touch/No Touch
  packages/stores/src/mockStore.ts
  packages/trader/src/AppV2/Components/PurchaseButton/__tests__/purchase-button.spec.tsx
  packages/trader/src/AppV2/Components/PurchaseButton/purchase-button.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TradeTypeTabs/__tests__/trade-type-tabs.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/TradeTypeTabs/trade-type-tabs.tsx
  packages/trader/src/AppV2/Components/TradeParameters/__tests__/trade-parameters.spec.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
  packages/trader/src/Stores/Modules/Trading/__tests__/trade-store.spec.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader

#16254 [BOT] Farabi/bot-1499/dbot tours tutorials test coverage
  packages/bot-web-ui/src/pages/tutorials/dbot-tours/__tests__/tour-content.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/dbot-tours/bot-builder-tour/__tests__/bot-builder-tour-desktop.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/dbot-tours/bot-builder-tour/__tests__/bot-builder-tour-handler.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/dbot-tours/bot-builder-tour/__tests__/bot-builder-tour-mobile.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/dbot-tours/bot-builder-tour/bot-builder-tour-desktop.tsx
  packages/bot-web-ui/src/pages/tutorials/dbot-tours/common/__tests__/tour-button.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/dbot-tours/common/__tests__/tour-end-dialog.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/dbot-tours/common/__tests__/tour-start-dialog.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/dbot-tours/common/__tests__/tour-steps.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/dbot-tours/onboarding-tour/__tests__/onboarding-tour-desktop.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/dbot-tours/onboarding-tour/__tests__/onboarding-tour-handler.spec.tsx
  packages/bot-web-ui/src/pages/tutorials/dbot-tours/onboarding-tour/__tests__/onboarding-tour-mobile.spec.tsx
Labels: Bot

#16289 Farabi/fix-test-cases
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/__tests__/quick-strategy.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/accordion-strategy-group.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/desktop-form-wrapper.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/form-tabs.spec.tsx
  packages/bot-web-ui/src/pages/server-side-bot/add-bot/form-wrappers/__tests__/mobile-form-wrapper.spec.tsx
Labels: Bot

#16300 fix: :fire: updated file names
  packages/bot-web-ui/src/stores/load-modal-store.ts
Labels: Bot

#16066 dhruv/Fixed console errors in personal details/COJ-1334
  packages/account/src/Components/leave-confirm/leave-confirm.tsx
  packages/core/src/App/Containers/ResetPasswordModal/__tests__/reset-password-modal.spec.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/src/mockStore.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
  packages/stores/types.ts
Labels: Core, Account
