Repository deriv-com/deriv-app, pull requests merged in 2024-04, with the labels that each got.

#14105 [DTRA] / Kate / DTRA-919 / Update Turbos Contract
  packages/components/stories/contract-card/statics/contract.js
  packages/core/src/Stores/notification-store.js
  packages/shared/src/utils/constants/contract.ts
  packages/shared/src/utils/contract/__tests__/contract.spec.ts
  packages/shared/src/utils/contract/contract.tsx
  packages/shared/src/utils/helpers/__tests__/market-underlying.spec.ts
  packages/shared/src/utils/helpers/market-underlying.ts
  packages/trader/src/App/Components/Elements/PositionsDrawer/__tests__/positions-modal-card.spec.tsx
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-turbos.svg
  packages/trader/src/Assets/Trading/Categories/Description/turbos-trade-description.tsx
  packages/trader/src/Assets/Trading/Categories/__tests__/trade-categories-gif.spec.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories-gif.tsx
  packages/trader/src/Modules/Trading/Components/Elements/__tests__/purchase-button.spec.tsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/trade-type-tabs.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/trade-type-tabs.tsx
  packages/trader/src/Modules/Trading/Helpers/__tests__/video-config.spec.ts
  packages/trader/src/Modules/Trading/Helpers/video-config.ts
  packages/trader/src/sass/app/_common/components/purchase-button.scss
Labels: Trader, Core, Shared, Components

#14368 [BOT] Shafin/bot 1586/fix RTL workspace issue
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/stores/toolbox-store.js
Labels: Bot

#14415 "Akmal / feat: update entry spot description""
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-glossary.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/__tests__/contract-type-glossary.spec.tsx
Labels: Trader

#14294 [WALL] Lubega / WALL-3630 / Header account switcher wallet redirection
  packages/core/src/App/Containers/AccountSwitcherWallet/__tests__/account-switcher-wallet-mobile.spec.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/__tests__/account-switcher-wallet.spec.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-mobile.scss
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-mobile.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet.scss
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet.tsx
Labels: Core

#14411 [WALL] Aizad/WALL-3689/ Replace currency icons in Add More Wallets section
  packages/wallets/src/components/WalletAddMoreCurrencyIcon/WalletAddMoreCurrencyIcon.scss
  packages/wallets/src/components/WalletAddMoreCurrencyIcon/WalletAddMoreCurrencyIcon.tsx
  packages/wallets/src/components/WalletAddMoreCurrencyIcon/index.ts
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.scss
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/public/images/check.svg
  packages/wallets/src/public/images/currencies/eusdt.svg
  packages/wallets/src/public/images/plus.svg
Labels: Wallets

#14407 [WALL] Aizad/WALL-3688/Replace Icons inside of CFD Compare Modal with quill-icons
  packages/wallets/src/components/WalletsAddMoreCarousel/WalletsAddMoreCarousel.tsx
  packages/wallets/src/features/cfd/components/CompareAccountsCarousel/CompareAccountsCarouselButton.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsTitleIcon.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/constants.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/tradingPlatformIcons.tsx
  packages/wallets/src/public/images/left-arrow.svg
  packages/wallets/src/public/images/right-arrow.svg
Labels: Wallets

#14423 [UPM-887]/evgeniy/remove error cannot read properties of undefined (reading 'length')
  packages/core/src/Stores/client-store.js
Labels: Core

#14337 [WALL] Lubega / WALL-3411 / Update deriv apps to options
  packages/core/src/App/Containers/AccountSwitcherWallet/__tests__/account-switcher-wallet-mobile.spec.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/__tests__/account-switcher-wallet.spec.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-item.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-mobile.tsx
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet.tsx
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/AccountsList/__tests__/AccountsList.spec.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.scss
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/features/cashier/constants/constants.ts
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
Labels: Core

#14432 Suisin/chore: update sass loader package
  packages/components/src/components/input-field/input-field.scss
  packages/core/build/loaders-config.js
Labels: Core, Components

#14441 Suisin/chore: fix alignment issue based on Proof of Read
  packages/components/src/components/popover/popover.scss
  packages/trader/src/sass/app/_common/components/purchase-button.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader, Components

#14453 Update deriv-charts to 2.1.11
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#14452 Suisin/chore: update alignment for learn about trade type descriptions
  packages/trader/src/sass/app/_common/components/contract-type-info.scss
  packages/trader/src/sass/app/_common/components/purchase-button.scss
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader

#14455 Aizad/ WALL-3700 / Fix Footer Buttons for Enter MT5 Password Modal
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
Labels: Wallets

#14458 Aizad/WALL-3701/ Update missing MT5 Password Validation
  packages/wallets/src/utils/password-validation.ts
Labels: Wallets

#14400 [COJ]/Amina/COJ_682/fix: poi for authenticated scans
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Labels: Account

#14318 [TRAH]/Mitra/ TRAH-3032/ Using currency type from account list for removing GBP for eu client
  packages/core/src/Stores/client-store.js
Labels: Core

#14270 [BOT] Farabi/bot 323/show undo notification when block is deleted
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/components/bot-notification/bot-notification-utils.ts
  packages/bot-web-ui/src/components/bot-notification/bot-notification.scss
  packages/bot-web-ui/src/components/bot-notification/bot-notification.tsx
  packages/bot-web-ui/src/components/load-modal/__tests__/load-modal.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/bot-builder.tsx
  packages/bot-web-ui/src/stores/__tests__/toolbar-store.spec.tsx
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/toolbar-store.ts
  packages/bot-web-ui/src/types/blockly.types.ts
  packages/bot-web-ui/src/types/index.ts
Labels: Bot

#13728 Mahdiyeh/TRAH- 2824/chore: changed the EU disclaimer
  packages/appstore/src/components/eu-disclaimer/__tests__/eu-disclaimer.spec.tsx
  packages/appstore/src/components/eu-disclaimer/eu-disclaimer.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/tradershub/src/components/EUDisclaimerMessage/EUDisclaimerMessage.tsx
  packages/tradershub/src/components/EUDisclaimerMessage/__tests__/EUDisclaimerMessage.spec.tsx
Labels: AppStore

#14477 fix: [WEBREL-2641]/evgeniy/account settings flickering, not showing the error in passkeys page
  packages/account/src/Containers/Account/account.tsx
  packages/account/src/Sections/Security/Passkeys/__tests__/passkeys.spec.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/account/src/Types/common.type.ts
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/hooks/src/useGetPasskeysList.ts
  packages/shared/src/utils/object/__tests__/object.spec.ts
  packages/shared/src/utils/object/object.ts
  packages/shared/src/utils/route/route.tsx
Labels: Core, Shared, Account

#14402 [FEQ] / Ameerul / FEQ-1946 Refactor Router Component
  packages/p2p-v2/src/App.tsx
  packages/p2p-v2/src/components/AdvertsTableRow/AdvertsTableRow.tsx
  packages/p2p-v2/src/components/BuySellForm/BuySellForm.scss
  packages/p2p-v2/src/components/BuySellForm/BuySellForm.tsx
  packages/p2p-v2/src/components/Modals/FilterModal/FilterModal.scss
  packages/p2p-v2/src/components/Modals/ShareAdsModal/ShareAdsModal.tsx
  packages/p2p-v2/src/components/Modals/ShareAdsModal/__tests__/ShareAdsModal.spec.tsx
  packages/p2p-v2/src/constants/url.ts
  packages/p2p-v2/src/pages/advertiser/screens/Advertiser/Advertiser.scss
  packages/p2p-v2/src/pages/advertiser/screens/Advertiser/Advertiser.tsx
  packages/p2p-v2/src/pages/advertiser/screens/Advertiser/__tests__/Advertiser.spec.tsx
  packages/p2p-v2/src/pages/advertiser/screens/AdvertiserAdvertsTable/AdvertiserAdvertsTable.tsx
  packages/p2p-v2/src/pages/advertiser/screens/AdvertiserAdvertsTable/__tests__/AdvertiserAdvertsTable.spec.tsx
  packages/p2p-v2/src/pages/buy-sell/screens/BuySellHeader/BuySellHeader.tsx
  packages/p2p-v2/src/pages/buy-sell/screens/BuySellHeader/__tests__/BuySellHeader.spec.tsx
  packages/p2p-v2/src/pages/buy-sell/screens/BuySellTable/BuySellTable.tsx
  packages/p2p-v2/src/pages/buy-sell/screens/BuySellTable/__tests__/BuySellTable.spec.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAds.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTable/MyAdsDisplayWrapper.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTable/MyAdsTable.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/__tests__/MyAds.spec.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileCounterparties/MyProfileCounterpartiesTableRow/MyProfileCounterpartiesTableRow.tsx
  packages/p2p-v2/src/pages/my-profile/screens/MyProfileCounterparties/MyProfileCounterpartiesTableRow/__tests__/MyProfileCounterpartiesTableRow.spec.tsx
  packages/p2p-v2/src/pages/orders/screens/OrderDetails/OrderDetails.tsx
  packages/p2p-v2/src/pages/orders/screens/OrderDetails/__tests__/OrderDetails.spec.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/Orders.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersEmpty/OrdersEmpty.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableRow/OrdersTableRow.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/OrdersTableRow/__tests__/OrderTableRow.spec.tsx
  packages/p2p-v2/src/pages/orders/screens/Orders/__tests__/Orders.spec.tsx
  packages/p2p-v2/src/routes/AppContent/__tests__/AppContent.spec.tsx
  packages/p2p-v2/src/routes/AppContent/index.scss
  packages/p2p-v2/src/routes/AppContent/index.tsx
  packages/p2p-v2/src/routes/Home/index.tsx
  packages/p2p-v2/src/routes/Router.tsx
  packages/p2p-v2/src/routes/routes-config.ts
Labels: Bot, Account

#14485 [WALL] Aizad / WALL-3702 / Remove Transaction Button in Wallets Header
  packages/wallets/src/components/SkeletonLoader/WalletsCarouselLoader/WalletsCarouselLoader.tsx
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletListCardActions/__tests__/WalletListCardActions.spec.tsx
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/public/images/ic-cashier-statement.svg
Labels: Wallets

#14469 [WALL] Aizad / WALL-3703 / Fix email verification for MT5 Password Modal
  packages/wallets/src/components/SentEmailContent/SentEmailContent.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/public/images/change-password-email.svg
Labels: Wallets

#14520 [WALL] Aizad/WALL-3728/Re-add Transaction tab inside of Cashier
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/public/images/ic-cashier-statement.svg
Labels: Wallets

#14493 [WALL] Aizad/WALL-3698/Update Wallet Header
  packages/wallets/src/components/Base/WalletButton/WalletButton.scss
  packages/wallets/src/components/Base/WalletButton/WalletButton.tsx
  packages/wallets/src/components/SkeletonLoader/WalletsCarouselLoader/WalletsCarouselLoader.scss
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.scss
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
Labels: Wallets

#14509 [FEQ] P2P-V2 update advert
  packages/p2p-v2/src/components/Modals/AdCancelCreateEditModal/AdCancelCreateEditModal.scss
  packages/p2p-v2/src/components/Modals/AdCancelCreateEditModal/AdCancelCreateEditModal.tsx
  packages/p2p-v2/src/components/Modals/AdCancelCreateEditModal/__tests__/AdCancelCreateEditModal.spec.tsx
  packages/p2p-v2/src/components/Modals/AdCancelCreateEditModal/index.ts
  packages/p2p-v2/src/components/Modals/AdCreateEditErrorModal/AdCreateEditErrorModal.tsx
  packages/p2p-v2/src/components/Modals/AdCreateEditErrorModal/__tests__/AdCreateEditErrorModal.spec.tsx
  packages/p2p-v2/src/components/Modals/PreferredCountriesModal/PreferredCountriesDropdown/PreferredCountriesDropdown.tsx
  packages/p2p-v2/src/components/Modals/index.ts
  packages/p2p-v2/src/components/PopoverDropdown/PopoverDropdown.tsx
  packages/p2p-v2/src/components/PopoverDropdown/__tests__/PopoverDropdown.spec.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdConditionsSection/__tests__/AdConditionsSection.spec.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdFormController/AdFormController.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdFormInput/AdFormInput.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdPaymentDetailsSection/__tests__/AdPaymentDetailsSection.spec.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdTypeSection/AdTypeSection.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdTypeSection/__tests__/AdTypeSection.spec.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdWizard/AdWizard.scss
  packages/p2p-v2/src/pages/my-ads/components/AdWizard/AdWizard.tsx
  packages/p2p-v2/src/pages/my-ads/components/AlertComponent/AlertComponent.scss
  packages/p2p-v2/src/pages/my-ads/components/AlertComponent/AlertComponent.tsx
  packages/p2p-v2/src/pages/my-ads/screens/CreateEditAd/CreateEditAd.tsx
  packages/p2p-v2/src/pages/my-ads/screens/CreateEditAd/__tests__/CreateEditAd.spec.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTable/MyAdsDisplayWrapper.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTable/MyAdsTable.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTableRow/MyAdsTableRow.scss
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTableRow/MyAdsTableRow.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTableRow/__tests__/MyAdsTableRow.spec.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAdsEmpty/MyAdsEmpty.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAdsEmpty/__tests__/MyAdsEmpty.spec.tsx
  packages/p2p-v2/src/routes/AppContent/__tests__/AppContent.spec.tsx
  packages/p2p-v2/src/routes/routes-config.ts
Labels: Components

#14163 fix: Cannot convert undefined or null to object
  packages/core/src/Stores/client-store.js
Labels: Core

#14531 [BOT] Farabi/bot-1166/ts migration of stores
  packages/bot-web-ui/src/components/summary/summary-card.types.ts
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
  packages/bot-web-ui/src/stores/root-store.ts
  packages/bot-web-ui/src/stores/self-exclusion-store.ts
  packages/bot-web-ui/src/stores/summary-card-store.ts
  packages/bot-web-ui/src/stores/summary-store.js
  packages/bot-web-ui/src/stores/toolbox-store.ts
  packages/bot-web-ui/src/stores/transactions-store.ts
  packages/components/src/components/dropdown/dropdown.scss
Labels: Bot, Components

#14226 [DTRA] / Kate / DTRA-964 / Multipliers update
  packages/components/src/components/contract-card/contract-card-items/__tests__/contract-type-cell.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-card-header.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-type-cell.tsx
  packages/components/src/components/contract-card/contract-card.scss
  packages/components/src/components/types/common.types.ts
  packages/components/stories/contract-card/statics/contract.js
  packages/core/src/Stores/notification-store.js
  packages/reports/src/Components/market-symbol-icon-row.tsx
  packages/shared/src/utils/constants/__tests__/contract.spec.ts
  packages/shared/src/utils/constants/contract.ts
  packages/shared/src/utils/contract/contract-types.ts
  packages/shared/src/utils/helpers/__tests__/market-underlying.spec.ts
  packages/shared/src/utils/helpers/market-underlying.ts
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-multiplier.svg
  packages/trader/src/Assets/Trading/Categories/__tests__/trade-categories-gif.spec.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories-gif.tsx
  packages/trader/src/Modules/Trading/Components/Elements/purchase-button.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Accumulator/__tests__/accumulators-amount-mobile.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/__tests__/strike.spec.jsx
  packages/trader/src/Modules/Trading/Helpers/__tests__/video-config.spec.ts
  packages/trader/src/Modules/Trading/Helpers/video-config.ts
Labels: Trader, Core, Bot, Shared, Components

#14280 [DTRA] Maryia/DTRA-1032/fix: payload for actions of 'ce_contracts_set_up_form' Rudderstack event
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/simple-duration.tsx
  packages/trader/src/Stores/Modules/Trading/__tests__/trade-store.spec.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader

#14492 [BOT] feat: replace react-rnd modal with custom draggable modal
  package-lock.json
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/components/draggable/__tests__/draggable-utils.spec.tsx
  packages/bot-web-ui/src/components/draggable/__tests__/draggable.spec.tsx
  packages/bot-web-ui/src/components/draggable/draggable-resize-wrapper.tsx
  packages/bot-web-ui/src/components/draggable/draggable-utils.ts
  packages/bot-web-ui/src/components/draggable/draggable.scss
  packages/bot-web-ui/src/components/draggable/draggable.tsx
  packages/bot-web-ui/src/components/trading-view-chart/__tests__/trading-view-modal.spec.tsx
  packages/bot-web-ui/src/components/trading-view-chart/trading-view-modal.tsx
  packages/bot-web-ui/src/components/transaction-details/__tests__/transaction-details-desktop.spec.tsx
  packages/bot-web-ui/src/components/transaction-details/transaction-details-desktop.scss
  packages/bot-web-ui/src/components/transaction-details/transaction-details-desktop.tsx
  packages/bot-web-ui/src/pages/chart/chart-modal/__tests__/chart-modal-desktop.spec.tsx
  packages/bot-web-ui/src/pages/chart/chart-modal/chart-modal-desktop.tsx
  packages/bot-web-ui/src/pages/chart/chart-modal/chart-modal.scss
  packages/bot-web-ui/src/pages/main/main.scss
Labels: Bot

#14545 Shayan/FEQ-1834/fixed remote config fetch request fails
  packages/api/src/hooks/useRemoteConfig.ts
  packages/bot-web-ui/src/pages/bot-builder/bot-builder.tsx
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
Labels: Core, Bot

#14238 Thisyahlen/WALL-3281/chore: show POB & account opening reason fields regardless restricted or not
  packages/account/src/Configs/__test__/personal-details-config.spec.ts
  packages/account/src/Configs/personal-details-config.ts
  packages/appstore/src/modules/onboarding/onboarding.tsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
Labels: Core, Account, AppStore

#14537 [DTRA] Maryia/DTRA-1081/chore: add videos for Matches/Differs & Over/Under
  packages/core/src/Assets/SvgComponents/trade_explanations/img-higher-lower-dark.svg
  packages/core/src/Assets/SvgComponents/trade_explanations/img-higher-lower-light.svg
  packages/core/src/Assets/SvgComponents/trade_explanations/img-matches-differs-dark.svg
  packages/core/src/Assets/SvgComponents/trade_explanations/img-matches-differs-light.svg
  packages/core/src/Assets/SvgComponents/trade_explanations/img-over-under-dark.svg
  packages/core/src/Assets/SvgComponents/trade_explanations/img-over-under-light.svg
  packages/core/src/Assets/SvgComponents/trade_explanations/img-rise-fall-dark.svg
  packages/core/src/Assets/SvgComponents/trade_explanations/img-rise-fall-light.svg
  packages/core/src/Assets/SvgComponents/trade_explanations/img-touch-no-touch-dark.svg
  packages/core/src/Assets/SvgComponents/trade_explanations/img-touch-no-touch-light.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-match-diff.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-over-under.svg
  packages/trader/src/Assets/Trading/Categories/__tests__/trade-categories-gif.spec.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories-gif.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Helpers/__tests__/video-config.spec.ts
  packages/trader/src/Modules/Trading/Helpers/video-config.ts
Labels: Trader, Core

#14301 CRO/490: Real sign up Tracking: nulls, CR, MF, ML, nu? data quality
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/Stores/client-store.js
Labels: Core

#13361 [BOT]/Maryia/feat: Collapse button for the blocks from the quick strategy Dbot
  packages/bot-skeleton/src/scratch/blocks/Advanced/Functions/procedures_defnoreturn.js
  packages/bot-skeleton/src/scratch/blocks/Advanced/Functions/procedures_defreturn.js
  packages/bot-skeleton/src/scratch/dbot.js
  packages/bot-skeleton/src/scratch/hooks/block_svg.js
  packages/bot-skeleton/src/scratch/hooks/field_image.js
Labels: Bot, Components

#14593 [BOT] fix: unable to load dbot chart
  packages/bot-web-ui/src/pages/main/main.scss
Labels: Bot

#14594 chore: updated robots.txt file
  packages/core/src/root_files/robots.txt
Labels: Core

#14560 Hirad/CFDs-3368/Fix: trackJS undefined platform
  packages/core/src/Stores/client-store.js
Labels: Core

#14612 [WALL] Aizad/WALL-3769/Deposit Button text to be Bold
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
Labels: Wallets

#14428 Code split routes in wallets
  package-lock.json
  packages/wallets/babel.config.json
  packages/wallets/package.json
  packages/wallets/src/features/cfd/flows/index.ts
  packages/wallets/src/features/cfd/modals/JurisdictionModal/JurisdictionModal.tsx
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsButton.tsx
  packages/wallets/src/features/cfd/screens/VerificationFailed/VerificationFailed.tsx
  packages/wallets/src/routes/Router.tsx
  packages/wallets/webpack.config.js
Labels: Components

#14618 Amina/ fix: FEQ_2005_refactor_deprecated_validaton_regex
  package-lock.json
  packages/account-v2/package.json
  packages/account-v2/src/modules/src/AddressFields/__tests__/validations.spec.ts
  packages/account-v2/src/modules/src/AddressFields/validations.ts
  packages/cashier-v2/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/p2p/package.json
  packages/trader/package.json
  packages/tradershub/package.json
  packages/wallets/package.json
Labels: Trader, Core, P2P

#14609 Aizad/wall 3768/adding tradershub word in mobile
  packages/wallets/src/components/SkeletonLoader/WalletsCarouselLoader/WalletsCarouselLoader.scss
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.scss
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.scss
Labels: Wallets

#13998 [CRO] Amir/CRO-480/console warning for switch off onboarding flow
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
Labels: Core, AppStore

#14639 [WALL] Aizad/WALL-3780/ Change Reset Balance Color Button
  packages/wallets/src/components/WalletListCardActions/WalletListCardActions.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.scss
Labels: Wallets

#14636 [WALL] Aizad/WALL-3757/Fix text mismatch on MT5 Reset Modal
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.scss
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
  packages/wallets/src/features/cfd/screens/CreatePassword/CreatePassword.tsx
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
Labels: Wallets

#14429 Fasih/COJ-665/Fix input field validation
  packages/account/src/Components/forms/form-fields/form-input-field.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
Labels: Account

#14582 [BOt]Maryia/BOT-1417/test: arrayAsMessage of notify-item file
  packages/bot-web-ui/src/components/notify-item/__tests__/notify-item.spec.tsx
Labels: Bot

#14445 Arshad COJ-689 Leave confirm modal
  packages/account-v2/.eslintrc.js
  packages/account-v2/src/App.tsx
  packages/account-v2/src/assets/status-message/ic-unsaved-changes.svg
  packages/account-v2/src/components/FormFields/FormDropDownField.tsx
  packages/account-v2/src/components/LeaveConfirm/LeaveConfirm.tsx
  packages/account-v2/src/components/LeaveConfirm/__tests__/LeaveConfirm.spec.tsx
  packages/account-v2/src/components/LeaveConfirm/index.ts
  packages/account-v2/src/containers/AccountClosureForm/AccountClosureConfirmModal.tsx
  packages/account-v2/src/containers/AccountClosureForm/AccountClosureForm.tsx
  packages/account-v2/src/containers/AccountClosureForm/AccountClosureSuccessModal.tsx
  packages/account-v2/src/containers/ConnectedAppsContainer/ConnectedAppsRevokeModal.tsx
  packages/account-v2/src/containers/POAForm/AddressDetailsForm.tsx
  packages/account-v2/src/containers/POAForm/__tests__/AddressDetailsForm.spec.tsx
  packages/account-v2/src/containers/PersonalDetailsForm/PersonalDetailsForm.tsx
  packages/account-v2/src/containers/PersonalDetailsForm/__tests__/PersonalDetailsForm.spec.tsx
  packages/account-v2/src/index.tsx
  packages/account-v2/src/modules/src/FinancialAssessment/FinancialAssessmentForm.tsx
  packages/account-v2/src/modules/src/FinancialAssessment/__tests__/FinancialAssessmentForm.spec.tsx
  packages/account-v2/src/modules/src/FinancialAssessmentFields/FinancialAssessmentFields.tsx
  packages/account-v2/src/modules/webpack.config.ts
  packages/account-v2/src/utils/personalDetailsUtils.ts
Labels: Components

#14658 [WALL] Aizad/WALL-3758/ Update Button Copy to OK
  packages/wallets/src/features/cfd/screens/ChangePassword/InvestorPassword/MT5ChangeInvestorPasswordSavedScreen.tsx
Labels: Wallets

#14650 [WALL] Aizad/WALL-3762/ Update Reset MT5 Password Fix based on new MT5 Policy changes
  packages/wallets/src/components/WalletsResetMT5Password/WalletSuccessResetMT5Password.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
Labels: Wallets

#14378 [UPM] Suisin/chore: create TradingAssessmentForm and TradingAssessment Container
  packages/account-v2/src/containers/TradingAssessmentForm/RiskToleranceWarningModal.tsx
  packages/account-v2/src/containers/TradingAssessmentForm/TestWarningModal.tsx
  packages/account-v2/src/containers/TradingAssessmentForm/TradingAssessmentContainer.tsx
  packages/account-v2/src/containers/TradingAssessmentForm/TradingAssessmentForm.tsx
  packages/account-v2/src/containers/TradingAssessmentForm/__test__/RiskToleranceWarningModal.spec.tsx
  packages/account-v2/src/containers/TradingAssessmentForm/__test__/TestWarningModal.spec.tsx
  packages/account-v2/src/containers/TradingAssessmentForm/__test__/TradingAssessmentContainer.spec.tsx
  packages/account-v2/src/containers/TradingAssessmentForm/__test__/TradingAssessmentForm.spec.tsx
  packages/account-v2/src/containers/TradingAssessmentForm/index.ts
  packages/account-v2/src/modules/src/TradingAssessmentConfig/index.ts
  packages/account-v2/src/modules/src/TradingAssessmentConfig/riskToleranceWarningModalConfig.ts
  packages/account-v2/src/modules/src/TradingAssessmentConfig/testWarningModalConfig.ts
  packages/account-v2/src/modules/src/TradingAssessmentConfig/tradingAssessmentQuestions.ts
  packages/account-v2/src/router/routesConfig.tsx
Labels: Components, Account

#14546 [DTRA] henry/dtra-967/fix: get start time on the chart translated
  packages/core/src/Stores/Helpers/chart-markers.js
Labels: Core

#14566 [DTRA-1018] / Kate / Fix last digit prediction
  packages/trader/src/Modules/Contract/Components/Digits/digits.tsx
  packages/trader/src/Modules/Contract/Components/LastDigitPrediction/__tests__/last-digit-prediction.spec.tsx
  packages/trader/src/Modules/Contract/Components/LastDigitPrediction/last-digit-prediction.tsx
Labels: Trader

#14655 [BOT]Rupato/BOT-1633/Fix-Sanitization-Function
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/stores/dashboard-store.ts
Labels: Bot

#14426 [TRAH] Sergei / TRAH 3103 / Add events to track performance
  packages/appstore/src/components/currency-switcher-card/real/real-account-card.tsx
  packages/appstore/src/components/main-title-bar/account-type-dropdown.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/cashier/src/components/no-balance/no-balance.tsx
  packages/cashier/src/containers/cashier/cashier.tsx
  packages/cashier/src/modules/deposit-crypto/components/deposit-crypto-wallet-address/deposit-crypto-wallet-address.tsx
  packages/cashier/src/modules/deposit-fiat/components/deposit-fiat-iframe/deposit-fiat-iframe.tsx
  packages/cashier/src/pages/account-transfer/account-transfer-form/account-transfer-form.tsx
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/CurrencySelectionModal/curreny-selection-modal.tsx
  packages/core/src/App/initStore.js
  packages/shared/package.json
  packages/shared/src/services/index.ts
  packages/shared/src/services/performance-metrics-methods.ts
Labels: Core, Shared, AppStore

#14659 [TRAH]/Mitra/TRAH-3183/Change cfd description for eu
  packages/core/src/Stores/traders-hub-store.js
  packages/tradershub/src/features/cfd/constants.tsx
Labels: Core

#14573 [TRAH-3161] shahzaib / Tradershub v2 route feature flag
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/tradershub/src/routes/Router.tsx
Labels: Core

#14665 [WALL] Aum / WALL-3775 / fix-migration-logout-popup-on-logout-with-wallets
  packages/core/src/App/Containers/Modals/app-modals.jsx
Labels: Core

#14634 [UPM] Suisin/upm670/add email address issue
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Labels: Account

#14683 [WALL] Aizad/WALL-3802/Error Message doesn't appear when Failed Reset MT5 Password Modal
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
Labels: Wallets

#14341 [WALL] Aizad/WALL-3421/Update Trader's hub logo icon
  packages/components/src/components/icon/appstore/ic-appstore-traders-hub-home-updated.svg
  packages/components/src/components/icon/icons.js
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/defaut-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-home-button.tsx
  packages/core/src/Assets/SvgComponents/header/wallets-logo.svg
  packages/core/src/sass/app/_common/layout/header.scss
  packages/core/src/sass/app/_common/layout/traders-hub-header.scss
Labels: Core, Components, Wallets

#14638 [P2PS] farrah/P2PS-2733/fix: p2p app redirection
  packages/core/src/public/.well-known/apple-app-site-association
  packages/core/src/public/.well-known/assetslinks.json
Labels: Core

#14283 [P2PS] farrah/P2PS-2244/feat: copy advert
  packages/components/src/components/icon/cashier/ic-cashier-vertical-ellipsis.svg
  packages/p2p/src/components/floating-rate/floating-rate.scss
  packages/p2p/src/components/modal-manager/__mocks__/mock-modal-manager-context-provider.tsx
  packages/p2p/src/components/modal-manager/__tests__/modal-manager-context-provider.spec.tsx
  packages/p2p/src/components/modal-manager/modals/ad-cancel-modal/__tests__/ad-cancel-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/ad-cancel-modal/ad-cancel-modal.tsx
  packages/p2p/src/components/modal-manager/modals/ad-cancel-modal/index.ts
  packages/p2p/src/components/modal-manager/modals/ad-create-edit-error-modal/ad-create-edit-error-modal.tsx
  packages/p2p/src/components/modal-manager/modals/ad-created-modal/ad-created-modal.tsx
  packages/p2p/src/components/modal-manager/modals/ad-created-modal/index.ts
  packages/p2p/src/components/modal-manager/modals/copy-advert-modal/__tests__/copy-advert-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/copy-advert-modal/copy-advert-modal.scss
  packages/p2p/src/components/modal-manager/modals/copy-advert-modal/copy-advert-modal.tsx
  packages/p2p/src/components/modal-manager/modals/copy-advert-modal/index.ts
  packages/p2p/src/components/modal-manager/modals/edit-ad-cancel-modal/index.ts
  packages/p2p/src/components/modal-manager/modals/my-ads-floating-rate-switch-modal/__tests__/my-ads-floating-rate-switch-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/my-ads-floating-rate-switch-modal/my-ads-floating-rate-switch-modal.scss
  packages/p2p/src/components/modal-manager/modals/my-ads-floating-rate-switch-modal/my-ads-floating-rate-switch-modal.tsx
  packages/p2p/src/constants/modals.ts
  packages/p2p/src/pages/my-ads/__mocks__/mock-data.ts
  packages/p2p/src/pages/my-ads/ad-status.scss
  packages/p2p/src/pages/my-ads/copy-advert-form/copy-advert-form.scss
  packages/p2p/src/pages/my-ads/copy-advert-form/copy-advert-form.tsx
  packages/p2p/src/pages/my-ads/copy-advert-form/copy-advert-from-trailing-icon.tsx
  packages/p2p/src/pages/my-ads/copy-advert-form/index.ts
  packages/p2p/src/pages/my-ads/create-ad-form.jsx
  packages/p2p/src/pages/my-ads/create-ad-form.scss
  packages/p2p/src/pages/my-ads/create-ad.jsx
  packages/p2p/src/pages/my-ads/edit-ad-form.jsx
  packages/p2p/src/pages/my-ads/edit-ad-form.scss
  packages/p2p/src/pages/my-ads/edit-ad.jsx
  packages/p2p/src/pages/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/pages/my-ads/my-ads-table.jsx
  packages/p2p/src/pages/my-ads/my-ads-table.scss
  packages/p2p/src/pages/my-ads/my-ads.scss
  packages/p2p/src/pages/my-ads/order-time-selection/order-time-selection.scss
  packages/p2p/src/pages/my-ads/order-time-selection/order-time-selection.tsx
  packages/p2p/src/stores/my-ads-store.js
  packages/p2p/src/types/adverts.types.ts
Labels: Components, P2P

#14713 [P2PS]- replace twiter icon with x
  packages/components/src/components/icon/common/ic-x.svg
  packages/components/src/components/icon/icons.js
  packages/components/stories/icon/icons.js
  packages/p2p/src/components/modal-manager/modals/share-my-ads-modal/share-my-ads-socials/share-my-ads-socials.tsx
Labels: Components, P2P

#14698 [FEQ]- P2PV2 floating rate + implementation in ad create/edit, ads table
  packages/account-v2/src/router/components/RouteLinks/RouteLinks.tsx
  packages/api-v2/src/hooks/p2p/entity/payment-method/p2p-payment-methods/usePaymentMethods.ts
  packages/p2p-v2/src/components/FloatingRate/FloatingRate.scss
  packages/p2p-v2/src/components/FloatingRate/FloatingRate.tsx
  packages/p2p-v2/src/components/FloatingRate/__tests__/FloatingRate.spec.tsx
  packages/p2p-v2/src/components/FloatingRate/index.ts
  packages/p2p-v2/src/components/InputField/InputField.scss
  packages/p2p-v2/src/components/InputField/InputField.tsx
  packages/p2p-v2/src/components/InputField/__tests__/InputField.spec.tsx
  packages/p2p-v2/src/components/InputField/index.ts
  packages/p2p-v2/src/components/Modals/AdCancelCreateEditModal/AdCancelCreateEditModal.tsx
  packages/p2p-v2/src/components/Modals/AdErrorTooltipModal/AdErrorTooltipModal.scss
  packages/p2p-v2/src/components/Modals/AdErrorTooltipModal/AdErrorTooltipModal.tsx
  packages/p2p-v2/src/components/Modals/AdErrorTooltipModal/__tests__/AdErrorTooltipModal.spec.tsx
  packages/p2p-v2/src/components/Modals/AdRateSwitchModal/AdRateSwitchModal.scss
  packages/p2p-v2/src/components/Modals/AdRateSwitchModal/AdRateSwitchModal.tsx
  packages/p2p-v2/src/components/Modals/AdRateSwitchModal/__tests__/AdRateSwitchModal.spec.tsx
  packages/p2p-v2/src/components/Modals/AdRateSwitchModal/index.ts
  packages/p2p-v2/src/components/Modals/ErrorModal/ErrorModal.scss
  packages/p2p-v2/src/components/Modals/ErrorModal/ErrorModal.tsx
  packages/p2p-v2/src/components/Modals/ErrorModal/__tests__/ErrorModal.spec.tsx
  packages/p2p-v2/src/components/Modals/ErrorModal/index.ts
  packages/p2p-v2/src/components/Modals/index.ts
  packages/p2p-v2/src/components/PopoverDropdown/PopoverDropdown.scss
  packages/p2p-v2/src/components/PopoverDropdown/PopoverDropdown.tsx
  packages/p2p-v2/src/components/index.ts
  packages/p2p-v2/src/constants/ad-constants.ts
  packages/p2p-v2/src/hooks/useFloatingRate.ts
  packages/p2p-v2/src/pages/my-ads/components/AdFormController/AdFormController.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdFormInput/AdFormInput.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdRateError/AdRateError.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdRateError/__tests__/AdRateError.spec.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdTypeSection/AdTypeSection.tsx
  packages/p2p-v2/src/pages/my-ads/components/AdTypeSection/__tests__/AdTypeSection.spec.tsx
  packages/p2p-v2/src/pages/my-ads/components/AlertComponent/AlertComponent.scss
  packages/p2p-v2/src/pages/my-ads/components/AlertComponent/AlertComponent.tsx
  packages/p2p-v2/src/pages/my-ads/components/AlertComponent/__tests__/AlertComponent.spec.tsx
  packages/p2p-v2/src/pages/my-ads/components/BuyAdPaymentSelection/BuyAdPaymentSelection.tsx
  packages/p2p-v2/src/pages/my-ads/screens/CreateEditAd/CreateEditAd.tsx
  packages/p2p-v2/src/pages/my-ads/screens/CreateEditAd/__tests__/CreateEditAd.spec.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTable/MyAdsTable.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTableRow/MyAdsTableRow.scss
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTableRow/MyAdsTableRow.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTableRow/MyAdsTableRowView.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTableRow/__tests__/MyAdsTableRow.spec.tsx
  packages/p2p-v2/src/pages/my-ads/screens/MyAds/MyAdsTableRow/__tests__/MyAdsTableRowView.spec.tsx
  packages/p2p-v2/src/utils/ad-utils.ts
  packages/p2p-v2/src/utils/format-value.ts
  packages/p2p-v2/src/utils/index.ts
  packages/p2p-v2/src/utils/os.ts
Labels: Components

#14700 [BOT] Shafin/bot 1309/improve toolbar position
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/pages/bot-builder/toolbar/toolbar.scss
  packages/bot-web-ui/src/pages/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/stores/app-store.ts
  packages/bot-web-ui/src/stores/toolbox-store.js
  packages/bot-web-ui/src/types/stores.types.ts
Labels: Bot

#14732 chore: small fix for navbar icons
  packages/core/src/sass/app/_common/layout/header.scss
Labels: Core

#14726 Aizad/WEBREL-2689/Minor Fix Navbar Icons
  packages/core/src/sass/app/_common/layout/header.scss
Labels: Core

#14715 [UPM-924]/evgeniy/update content for passkeys
  packages/account/src/Sections/Security/Passkeys/__tests__/passkeys.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/description-container.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-status-container.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/description-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-container.tsx
  packages/account/src/Sections/Security/Passkeys/components/tips-block.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.scss
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-description.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-modal.scss
Labels: Core, Account

#14579 [BOT] Maryia/BOT-1618/ fix: Transaction infos are not being shown under the run panel stats …
  packages/bot-web-ui/src/components/transaction-details/transaction-details-desktop.tsx
  packages/bot-web-ui/src/components/transaction-details/transaction-details-mobile.tsx
  packages/bot-web-ui/src/components/transaction-details/transaction-details.types.ts
Labels: Bot

#14668 [DTRA]Ahmad/Update contract card for Multipliers
  packages/components/src/components/contract-card/contract-card-items/__tests__/multiplier-card-body.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/multiplier-card-body.jsx
  packages/components/src/components/contract-card/contract-card.scss
  packages/reports/src/Constants/data-table-constants.tsx
Labels: Components

#14752 Update deriv-charts to 2.1.12
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#14677 [WALL] george / WALL-3652 / Hide dark theme and language switcher for client with wallet account
  packages/account/src/Containers/Account/__tests__/account.spec.tsx
  packages/account/src/Containers/Account/account.tsx
  packages/account/src/Sections/Profile/LanguageSettings/__tests__/language-settings.spec.tsx
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/menu-title.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
Labels: Core, Account

#14724 [WALL] Aizad/WALL-3822/Added Wrong Password Validation for MT5EnterPassword
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.tsx
  packages/wallets/src/features/cfd/modals/DxtradeEnterPasswordModal/DxtradeEnterPasswordModal.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/screens/EnterPassword/EnterPassword.tsx
Labels: Wallets

#14295 [FEQ] Jim/DSEC-25496/fix risky contexts
  .github/actions/build_and_push_docker_image/action.yml
  .github/actions/download_remote_config_backup/action.yml
  .github/actions/send_slack_notifications/action.yml
  .github/actions/versioning/action.yml
  .github/workflows/release_production.yml
  .github/workflows/remote_config_pr.yml
Labels: Components

#14757 farrah/fix advert dropdown
  packages/p2p/src/pages/my-ads/my-ads-row-renderer.jsx
  packages/p2p/src/pages/my-ads/my-ads-table.jsx
  packages/p2p/src/pages/my-ads/my-ads-table.scss
  packages/p2p/src/pages/my-ads/my-ads.jsx
  packages/p2p/src/stores/my-ads-store.js
Labels: P2P

#14118 [UPM-777]/evgeniy/link hreflang and canonical tags seo
  packages/account/src/Components/Routes/route-with-sub-routes.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity.jsx
  packages/cashier/src/containers/routes/route-with-sub-routes.tsx
  packages/components/src/components/route-with-subroutes/route-with-subroutes.tsx
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/core/src/index.html
  packages/shared/src/utils/dom/index.ts
  packages/shared/src/utils/dom/seo_optimization.ts
  packages/trader/src/App/Components/Routes/route-with-sub-routes.tsx
Labels: Trader, Core, Shared, Components, Account

#14716 [WALL] george / WALL-3306 / Platform switcher and Trade tab should not be seen on Trader's Hub home
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Labels: Core

#14782 farrah/WEBREL-2702/fix: ad dropdown position in Arabic
  packages/p2p/src/pages/my-ads/my-ads-table.scss
Labels: Translations, P2P

#14788 [WEBREL] / Ameerul / WEBREL-2701 Update ad button needs to be clicked twice to dismiss duplicate ad pop up
  packages/p2p/src/pages/my-ads/create-ad-form.jsx
Labels: P2P

#14787 [BOT]Maryia/BOT-1478/test: Run panel component
  packages/bot-web-ui/src/components/run-panel/__tests__/run-panel.spec.tsx
  packages/bot-web-ui/src/stores/run-panel-store.ts
Labels: Bot

#14798 Update deriv-charts to 2.1.13
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#14550 chore: [UPM-839]/evgeniy/add tracking events for effortless login modal
  packages/account/package.json
  packages/core/src/App/Containers/EffortlessLoginModal/__test__/effortless-login-modal.spec.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-modal.tsx
Labels: Core, Translations, Account

#14365 [Blocked] - Matin/BL-386/Remove get more CFD account logic and UI
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/get-more-accounts/__tests__/get-more-accounts.spec.tsx
  packages/appstore/src/components/get-more-accounts/get-more-accounts.tsx
  packages/appstore/src/components/get-more-accounts/index.ts
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.scss
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.tsx
  packages/appstore/src/components/modals/account-type-modal/index.ts
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/helpers/account-helper.ts
  packages/components/src/components/icon/appstore/ic-appstore-get-more-accounts.svg
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/__tests__/useCFDCanGetMoreMT5Accounts.spec.tsx
  packages/hooks/src/__tests__/useHasSwapFreeAccount.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useCFDCanGetMoreMT5Accounts.ts
  packages/hooks/src/useHasSwapFreeAccount.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Shared, Components, AppStore

#14795 chore: remove built icons file
  .gitignore
  packages/components/stories/icon/icons.js
Labels: Components

#14673 [FEQ] Sergei / FEQ-2105 / Add try catch for exchange rates subscription
  packages/appstore/src/components/main-title-bar/__tests__/index.spec.tsx
  packages/appstore/src/helpers/total-assets-helper.ts
  packages/core/src/Stores/client-store.js
Labels: Core, AppStore

#14791 Aizad/WALL-3727/Wallet Currency Icon
  packages/wallets/src/components/WalletAddMoreCurrencyIcon/WalletAddMoreCurrencyIcon.tsx
  packages/wallets/src/components/WalletAddMoreCurrencyIcon/index.ts
  packages/wallets/src/components/WalletCard/WalletCard.tsx
  packages/wallets/src/components/WalletCard/__tests__/WalletCard.spec.tsx
  packages/wallets/src/components/WalletCardIcon/WalletCardIcon.tsx
  packages/wallets/src/components/WalletCardIcon/index.ts
  packages/wallets/src/components/WalletCurrencyCard/WalletCurrencyCard.tsx
  packages/wallets/src/components/WalletCurrencyIcon/WalletCurrencyIcon.tsx
  packages/wallets/src/components/WalletCurrencyIcon/index.ts
  packages/wallets/src/components/WalletGradientBackground/WalletGradientBackground.scss
  packages/wallets/src/components/WalletListCard/WalletListCard.tsx
  packages/wallets/src/components/WalletListCard/__tests__/WalletListCard.spec.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.scss
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
  packages/wallets/src/components/WalletsAddMoreCardBanner/WalletsAddMoreCardBanner.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/src/components/WalletsCarouselHeader/WalletsCarouselHeader.tsx
  packages/wallets/src/components/index.ts
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.tsx
  packages/wallets/src/features/cashier/modules/WithdrawalCrypto/components/WithdrawalCryptoReceipt/__tests__/WithdrawalCryptoReceipt.spec.tsx
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/public/images/aud.svg
  packages/wallets/src/public/images/bitcoin.svg
  packages/wallets/src/public/images/btc-logo.svg
  packages/wallets/src/public/images/demo.svg
  packages/wallets/src/public/images/derivez-label.svg
  packages/wallets/src/public/images/eth-logo.svg
  packages/wallets/src/public/images/eth.svg
  packages/wallets/src/public/images/eur.svg
  packages/wallets/src/public/images/eusdt-logo.svg
  packages/wallets/src/public/images/eusdt.svg
  packages/wallets/src/public/images/gbp.svg
  packages/wallets/src/public/images/ltc-logo.svg
  packages/wallets/src/public/images/ltc.svg
  packages/wallets/src/public/images/usd.svg
  packages/wallets/src/public/images/usdc-logo.svg
  packages/wallets/src/public/images/usdc.svg
Labels: Wallets

#14747 Amina/account limits section for accounts v2
  packages/account-v2/src/components/DemoMessage/DemoMessage.tsx
  packages/account-v2/src/components/IconWithMessage/IconWithMessage.tsx
  packages/account-v2/src/containers/AccountLimitsContainer/AccountLimitsSideNote.tsx
  packages/account-v2/src/containers/AccountLimitsContainer/AccountLimitsTable.tsx
  packages/account-v2/src/containers/index.ts
  packages/account-v2/src/hooks/index.ts
  packages/account-v2/src/hooks/useAccountLimits.ts
  packages/account-v2/src/pages/AccountLimits/AccountLimits.tsx
  packages/account-v2/src/pages/index.ts
  packages/account-v2/src/router/routesConfig.tsx
  packages/account-v2/src/types.ts
  packages/account-v2/src/utils/accountLimitsUtils.ts
  packages/account-v2/src/utils/index.ts
Labels: Components

#14718 [UPM-927]/evgeniy/do not show efforltess passkeys modal if accessed from derivgo
  packages/core/src/App/Containers/Modals/app-modals.jsx
Labels: Core

#14800 chore: implement webpack analysing for each package
  .gitignore
  analyze.html
  package.json
  packages/account-v2/package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/cashier-v2/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/tradershub/package.json
  packages/wallets/package.json
Labels: Trader, Core, Bot, P2P, Account, AppStore

#14789 [WALL] george / WALL-3641 / Remove the cashier lock notification for a migrated wallet account
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core

#14351 Thisyahlen/TRAH-3027/chore: hide TIN section if tin is manually approved in BO
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Components/__tests__/cfd-personal-details-form.spec.js
  packages/cfd/src/Components/cfd-personal-details-form.tsx
Labels: AppStore

#14079 [TRAH] Sergei / TRAH - 3007 / Add lazy loading to legacy trader's hub
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/routes/routes.tsx
  packages/cfd/src/Constants/routes-config.js
  packages/components/src/components/contract-card/contract-card-items/multiplier-card-body.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Layout/header/__tests__/header.spec.tsx
  packages/core/src/App/Containers/Layout/header/default-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/header.tsx
Labels: Core, Components, Account, AppStore

#14839 [WALL] Aizad/WALL-3887/Replacing Currency inside of Cashier
  packages/wallets/src/components/AppCard/AppCard.tsx
  packages/wallets/src/components/WalletCurrencyCard/WalletCurrencyCard.tsx
  packages/wallets/src/components/WalletCurrencyIcon/WalletCurrencyIcon.tsx
  packages/wallets/src/components/WalletResponsiveSvg/WalletResponsiveSvg.tsx
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/WalletsAppLinkedWithWalletIcon.tsx
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/__tests__/WalletsAppLinkedWithWalletIcon.spec.tsx
  packages/wallets/src/features/cashier/constants/constants.ts
  packages/wallets/src/features/cashier/helpers/helpers.ts
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/TransactionsCompletedRowAccountDetails.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferFormAccountCard/TransferFormAccountCard.tsx
  packages/wallets/src/features/cashier/modules/Transfer/components/TransferReceipt/TransferReceipt.tsx
  packages/wallets/src/public/images/currencies/aud.svg
  packages/wallets/src/public/images/currencies/btc-dark.svg
  packages/wallets/src/public/images/currencies/btc.svg
  packages/wallets/src/public/images/currencies/eth-dark.svg
  packages/wallets/src/public/images/currencies/eth.svg
  packages/wallets/src/public/images/currencies/eur.svg
  packages/wallets/src/public/images/currencies/gbp.svg
  packages/wallets/src/public/images/currencies/ltc-dark.svg
  packages/wallets/src/public/images/currencies/ltc.svg
  packages/wallets/src/public/images/currencies/usd.svg
  packages/wallets/src/public/images/currencies/usdc-dark.svg
  packages/wallets/src/public/images/currencies/usdc.svg
  packages/wallets/src/public/images/currencies/usdt-dark.svg
  packages/wallets/src/public/images/currencies/usdt.svg
  packages/wallets/src/public/images/wallet/ic-wallet-deriv-demo-dark.svg
  packages/wallets/src/public/images/wallet/ic-wallet-deriv-demo-light.svg
Labels: Wallets

#14575 [UPM-840]/evgeniy/passkeys account settings tracking events
  packages/account/build/webpack.config.js
  packages/account/package.json
  packages/account/src/Containers/Account/page-overlay-wrapper.tsx
  packages/account/src/Sections/Security/Passkeys/__tests__/passkeys.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/__tests__/passkeys-status-container.spec.tsx
  packages/account/src/Sections/Security/Passkeys/components/passkeys-status-container.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/EffortlessLoginModal/__test__/effortless-login-modal.spec.tsx
  packages/core/src/App/Containers/EffortlessLoginModal/effortless-login-modal.tsx
  packages/hooks/src/useGetPasskeysList.ts
  packages/hooks/src/useRegisterPasskey.ts
  packages/shared/package.json
  packages/shared/src/utils/os/os_detect.ts
Labels: Core, Shared, Account

#14830 Amina/account limits responsive for accounts v2
  packages/account-v2/src/containers/AccountLimitsContainer/AccountLimitsSideNote.tsx
  packages/account-v2/src/containers/AccountLimitsContainer/AccountLimitsTable.tsx
  packages/account-v2/src/pages/AccountLimits/AccountLimits.tsx
  packages/components/src/components/icon/icons.js
Labels: Components

#14806 [P2PS] farrah/P2PS-2718/fix: nickname toggle
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-privacy/my-profile-privacy.scss
  packages/p2p/src/pages/my-profile/my-profile-stats/my-profile-privacy/my-profile-privacy.tsx
Labels: P2P

#14723 chore: [UPM-923]/evgeniy/error message for passkey not supported device
  packages/account/src/Sections/Security/Passkeys/passkeys-configs.tsx
  packages/account/src/Sections/Security/Passkeys/passkeys.tsx
Labels: Core, Account

#13995 [BOT] Maryia/ BOT-1190/ fix: Do not show error messages on opening of the QS input form and other new features
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/__tests__/form.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/__tests__/quick-strategy.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/config.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/mobile-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/useQsSubmitHandler.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/inputs/__tests__/qs-toggle-switch.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/inputs/qs-checkbox.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/inputs/qs-input.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/inputs/qs-toggle-switch.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/contract-type.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/duration-type.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/selects/trade-type.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/types.ts
  packages/bot-web-ui/src/stores/quick-strategy-store.ts
Labels: Bot, Components

#14866 [WEBREL] Hasan/WEBREL-2711/Ctrader trade modal plus icon
  packages/components/src/components/icon/appstore/ic-appstore-get-more-accounts.svg
  packages/components/src/components/icon/icons.js
Labels: Components

#14858 [WALL] Aizad/WALL-3899/WalletResponsiveSvg using quill-icons
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/WalletCurrencyIcon/WalletCurrencyIcon.tsx
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.scss
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
  packages/wallets/src/components/WalletMarketIcon/WalletMarketIcon.tsx
  packages/wallets/src/components/WalletMarketIcon/__tests__/WalletMarketIcon.spec.tsx
  packages/wallets/src/components/WalletMarketIcon/index.ts
  packages/wallets/src/components/WalletResponsiveSvg/WalletResponsiveSvg.scss
  packages/wallets/src/components/WalletResponsiveSvg/WalletResponsiveSvg.tsx
  packages/wallets/src/components/WalletResponsiveSvg/__tests__/WalletResponsiveSvg.spec.tsx
  packages/wallets/src/components/WalletResponsiveSvg/index.ts
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/WalletsAppLinkedWithWalletIcon.tsx
  packages/wallets/src/components/WalletsAppLinkedWithWalletIcon/__tests__/WalletsAppLinkedWithWalletIcon.spec.tsx
  packages/wallets/src/components/index.ts
  packages/wallets/src/features/cfd/screens/MT5AccountType/MT5AccountType.tsx
  packages/wallets/src/public/images/ctrader.svg
  packages/wallets/src/public/images/derivx.svg
  packages/wallets/src/public/images/mt5-cfds.svg
  packages/wallets/src/public/images/mt5-derived.svg
  packages/wallets/src/public/images/mt5-financial.svg
  packages/wallets/src/public/images/mt5-swap-free.svg
  packages/wallets/src/public/images/wallet/ic-wallet-deriv-p2p-dark.svg
  packages/wallets/src/public/images/wallet/ic-wallet-deriv-p2p-light.svg
  packages/wallets/src/public/images/wallet/ic-wallet-options-dark.svg
  packages/wallets/src/public/images/wallet/ic-wallet-options-light.svg
  packages/wallets/src/types.ts
Labels: Wallets

#14870 [CFDS] shontzu/WEBREL-2709/investor-password-reset-password-link-is-not-working
  packages/appstore/src/components/modals/modal-manager.tsx
Labels: AppStore

#14517 Suisin/chore: add Sinhalese language into deriv-app
  packages/components/src/components/icon/flag/ic-flag-ar.svg
  packages/components/src/components/icon/flag/ic-flag-si.svg
  packages/components/src/components/icon/icons.js
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/p2p/src/components/i18next/index.ts
  packages/shared/src/utils/date/date-time.ts
  packages/translations/src/i18next/i18next.ts
  packages/translations/src/translations/si.json
Labels: Core, Shared, Components, Translations, P2P

#14475 Matin/BL-387/Removing business logic regarding MX and MLT
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-article-content.spec.tsx
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-inputs.spec.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-context.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-inputs.tsx
  packages/account/src/Configs/__test__/address-details-config.spec.ts
  packages/account/src/Configs/address-details-config.ts
  packages/account/src/Configs/currency-selector-config.ts
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
  packages/api-v2/src/hooks/useIsEuRegion.ts
  packages/api/src/hooks/useIsEuRegion.ts
  packages/appstore/src/types/common.types.ts
  packages/cashier/src/pages/deposit/deposit-locked/__tests__/deposit-locked.spec.tsx
  packages/cashier/src/pages/deposit/deposit-locked/deposit-locked.tsx
  packages/components/stories/icon/icons.js
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
  packages/core/src/App/Components/Layout/Header/__tests__/account-info.spec.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/display-account-type.spec.tsx
  packages/core/src/App/Components/Layout/Header/display-account-type.tsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-buttons.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-heading.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/dialog-message.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
  packages/core/src/Assets/SvgComponents/footer/mga.svg
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
  packages/core/src/Stores/Helpers/client-notifications.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/__tests__/useAccountTransferVisible.spec.tsx
  packages/hooks/src/useWalletTransactions.ts
  packages/reports/src/Components/account-statistics.tsx
  packages/reports/src/Components/reports-meta.tsx
  packages/reports/src/Containers/statement.tsx
  packages/reports/src/Stores/Modules/Statement/statement-store.js
  packages/shared/src/utils/validation/regex-validation.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Core, Shared, Components, Account, AppStore

#14890 [WALL] Aizad/WALL-3925/Removing SVGs inside of Wallets/Component package and replace it with deriv/quill-icon
  packages/wallets/src/components/Base/WalletAlertMessage/WalletAlertMessage.tsx
  packages/wallets/src/components/Base/WalletClipboard/WalletClipboard.tsx
  packages/wallets/src/components/Base/WalletPasswordField/PasswordViewerIcon.tsx
  packages/wallets/src/components/DatePicker/DatePicker.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/WalletError/WalletError.tsx
  packages/wallets/src/components/WalletsErrorScreen/WalletsErrorScreen.tsx
  packages/wallets/src/public/images/clipboard.svg
  packages/wallets/src/public/images/error-circle-crossmark.svg
  packages/wallets/src/public/images/error-icon.svg
  packages/wallets/src/public/images/ic-appstore-binary-bot.svg
  packages/wallets/src/public/images/ic-appstore-deriv-bot.svg
  packages/wallets/src/public/images/ic-appstore-deriv-go.svg
  packages/wallets/src/public/images/ic-appstore-deriv-trader.svg
  packages/wallets/src/public/images/ic-appstore-smart-trader.svg
  packages/wallets/src/public/images/ic-calendar.svg
  packages/wallets/src/public/images/ic-checkmark-circle.svg
  packages/wallets/src/public/images/ic-password-hide.svg
  packages/wallets/src/public/images/ic-password-show.svg
  packages/wallets/src/public/images/info-circle-dots.svg
  packages/wallets/src/public/images/success-circle-checkmark.svg
Labels: Wallets

#14675 Amina/ COJ-674/fix: verified_status for MT5 jurisdictions for POA submission
  packages/cfd/src/Containers/__tests__/cfd-financial-stp-real-account-signup.spec.js
  packages/cfd/src/features/Containers/__tests__/real-account-signup-verifications.spec.js
  packages/shared/src/utils/cfd/cfd.ts
  packages/wallets/src/features/cfd/flows/Verification/Verification.tsx
Labels: Shared
