Repository deriv-com/deriv-app, pull requests merged in 2024-05, with the labels that each got.

#14606 [P2PS] / Ameerul / P2PS-2719 TrackJS error - Cannot read properties of null (reading 'is_buy_order_for_user')
  packages/p2p/src/stores/order-store.js
Labels: P2P

#14818 feat: remove email field
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Labels: Account

#14915 chore: add console to test passkeys conditions
  packages/core/src/Stores/client-store.js
Labels: Core

#14919 Ako/ test client store
  packages/core/src/Stores/client-store.js
Labels: Core

#14921 Ako/ remove test console
  packages/core/src/Stores/client-store.js
Labels: Core

#14820 Matin/[BL-404]/Defaulting clients to a single jurisdiction
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-button.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts-card.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-button.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts-card.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.scss
  packages/cfd/src/Containers/migration-banner/migration-banner.tsx
  packages/cfd/src/Helpers/compare-accounts-config.ts
  packages/cfd/src/hooks/useCompareAccountsButtonHandler.ts
Labels: Components

#14855 Sergei / Change console warning to log
  packages/core/src/Stores/client-store.js
Labels: Core

#14705 Aswathy/CRO-462/Data layer for banner for PPC Forex ebook campaign
  packages/appstore/src/components/banners/book-banner/banner-template.tsx
  packages/appstore/src/components/banners/book-banner/book-banner.scss
  packages/appstore/src/components/banners/book-banner/book-banner.tsx
  packages/appstore/src/components/banners/book-banner/index.ts
  packages/appstore/src/components/banners/wallets-banner/__tests__/wallets-banner.spec.tsx
  packages/appstore/src/components/banners/wallets-banner/index.ts
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-unsuccessful.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.tsx
  packages/appstore/src/components/main-title-bar/__tests__/index.spec.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
Labels: Core, AppStore

#14949 Ako/ get the clients country from cookies
  packages/core/src/App/AppContent.tsx
Labels: Core

#14662 [BOT]/Rupato/BOT-1600/Fix--Blockly-and-Snackbar-on-RTL
  packages/bot-skeleton/src/scratch/hooks/workspace_svg.js
  packages/bot-skeleton/src/scratch/utils/index.js
  packages/bot-web-ui/src/components/bot-notification/bot-notification-utils.ts
  packages/bot-web-ui/src/stores/load-modal-store.ts
  packages/bot-web-ui/src/stores/toolbox-store.js
Labels: Bot

#14487 [WALL] Password design change wallets
  packages/wallets/src/components/Base/ModalWrapper/ModalWrapper.scss
  packages/wallets/src/components/Base/ModalWrapper/ModalWrapper.tsx
  packages/wallets/src/components/SentEmailContent/SentEmailContent.scss
  packages/wallets/src/components/SentEmailContent/SentEmailContent.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/ChangePassword.scss
  packages/wallets/src/features/cfd/screens/ChangePassword/TradingPlatformChangePasswordScreens.tsx
Labels: Components

#14963 Update deriv-charts to 2.1.14
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#14868 [DTRA] Maryia/DTRA-1199/remove notification about new trade chart
  packages/core/src/App/Containers/app-notification-messages.jsx
  packages/core/src/Stores/notification-store.js
Labels: Core

#14719 [P2PS] / Ameerul / P2PS-2642 No Confirm popup is shown when signed in. 'a.showModal is not a function' console error appears
  packages/p2p/src/components/modal-manager/modals/buy-sell-modal/buy-sell-modal.tsx
  packages/p2p/src/components/modal-manager/modals/email-link-verified-modal/__tests__/email-link-verified-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/email-link-verified-modal/email-link-verified-modal.tsx
  packages/p2p/src/pages/app.jsx
  packages/p2p/src/pages/buy-sell/buy-sell-form.jsx
  packages/p2p/src/pages/orders/__test__/orders.spec.js
  packages/p2p/src/pages/orders/__tests__/orders.spec.js
  packages/p2p/src/pages/orders/orders.jsx
  packages/p2p/src/stores/buy-sell-store.js
  packages/p2p/src/stores/order-store.js
Labels: P2P

#14722 [DTRA] henry/dtra-1025/fix: make sure exit spot is in included in contract audit and on chart
  packages/core/src/Stores/Helpers/chart-marker-helpers.js
  packages/core/src/Stores/portfolio-store.js
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.tsx
Labels: Trader, Core

#14819 [P2PS] farrah/P2PS-2664/fix: update received amount
  packages/p2p/src/pages/buy-sell/__tests__/buy-sell-form-receive-amount.spec.js
  packages/p2p/src/pages/buy-sell/buy-sell-form-receive-amount.jsx
Labels: P2P

#14983 Amina/fix logout issue for DIEL clients
  packages/core/src/Stores/client-store.js
Labels: Core

#14982 feat: add useKycAuthStatus with mobx
  packages/account/src/hooks/__test__/useKycAuthStatus.spec.tsx
  packages/account/src/hooks/index.ts
  packages/account/src/hooks/useKycAuthStatus.ts
  packages/api/types.ts
Labels: Account

#14960 [WALL] Aizad/WALL-3900/Re-add Buttons inside of Compare Account Page
  packages/wallets/src/components/Base/IconButton/IconButton.scss
  packages/wallets/src/features/cfd/components/CompareAccountsCarousel/CompareAccountsCarouselButton.scss
  packages/wallets/src/features/cfd/screens/CompareAccounts/CompareAccountsScreen.tsx
Labels: Wallets

#13396 [TRAH] Sergei / TRAH - 2761 / Trader's hub tablet view
  packages/appstore/src/components/app-content.tsx
  packages/appstore/src/components/cfds-listing/__tests__/index.spec.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/containers/currency-switcher-container.scss
  packages/appstore/src/components/containers/listing-container.scss
  packages/appstore/src/components/main-title-bar/__tests__/index.spec.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.scss
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/components/pre-loader/regulations-switcher-loader.tsx
  packages/appstore/src/components/pre-loader/total-assets-loader.tsx
  packages/appstore/src/components/temporary-overrides.scss
  packages/appstore/src/modules/traders-hub/__tests__/index.spec.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/appstore/src/modules/traders-hub/traders-hub.scss
  packages/components/src/components/dropdown/dropdown.scss
  packages/core/package.json
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Components/Elements/LandscapeBlocker/index.tsx
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.scss
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/menu-link.spec.tsx
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/App/Containers/Layout/header/__tests__/header.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/show-notifications.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-header.tsx
  packages/core/src/Assets/SvgComponents/settings/landscape-blocker.svg
  packages/core/src/index.html
  packages/core/src/sass/app/_common/layout/app-layouts.scss
  packages/core/src/sass/app/_common/layout/footer.scss
  packages/core/src/sass/app/_common/layout/traders-hub-header.scss
  packages/shared/src/styles/devices.scss
  packages/shared/src/utils/routes/routes.ts
Labels: Core, Shared, Components, AppStore

#14799 [TRAH] Sergei / TRAH-2762, TRAH-2763 / Tablet view for Jurisdiction Modal and Compare CFDs Accounts modal
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.scss
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.tsx
  packages/cfd/build/constants.js
  packages/cfd/package.json
  packages/cfd/src/Containers/cfd-compare-accounts/__tests__/cfd-compare-accounts.spec.tsx
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.scss
  packages/cfd/src/Containers/cfd-compare-accounts/cfd-compare-accounts.tsx
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Components, AppStore

#14674 Aswathy/CRO-470/Tracking specs for Traders hub
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/appstore/src/components/app-content.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/compare-account/compare-account.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/currency-switcher-card/real/real-account-card.tsx
  packages/appstore/src/components/main-title-bar/account-type-dropdown.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/components/src/components/dropdown/dropdown.scss
  packages/core/src/Stores/client-store.js
Labels: Core, Components, AppStore

#14772 Farhan/DTRA-1195/Reports's tablet view
  packages/components/src/components/contract-card/contract-card-items/contract-card-sell.tsx
  packages/components/src/components/filter-dropdown/filter-dropdown.tsx
  packages/components/src/components/page-overlay/page-overlay.scss
  packages/core/src/App/Components/Elements/LandscapeBlocker/index.ts
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.scss
  packages/core/src/Assets/SvgComponents/settings/landscape-blocker.svg
  packages/reports/build/constants.js
  packages/reports/package.json
  packages/reports/src/Components/Form/CompositeCalendar/composite-calendar.tsx
  packages/reports/src/Components/account-statistics.tsx
  packages/reports/src/Constants/data-table-constants.tsx
  packages/reports/src/Containers/__tests__/open-positions-table.spec.tsx
  packages/reports/src/Containers/open-positions.tsx
  packages/reports/src/Containers/profit-table.tsx
  packages/reports/src/Containers/reports.tsx
  packages/reports/src/Containers/statement.tsx
  packages/reports/src/sass/app/_common/components/composite-calendar.scss
  packages/reports/src/sass/app/_common/components/market-symbol-icon.scss
  packages/reports/src/sass/app/modules/reports.scss
  packages/shared/src/utils/contract/contract.tsx
  packages/shared/src/utils/routes/routes.ts
Labels: Core, Shared, Components

#14980 [COJ]/likhith/coj-755/fix: resolved IDV last status message
  packages/account/src/Components/poi/idv-status/idv-limited/idv-limited.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
Labels: Account

#14944 [UPM-982]/evgeniy/redirect to error page while clicking contact us link
  packages/account/src/Components/self-exclusion/self-exclusion-article-content.tsx
  packages/components/src/components/open-livechat-link/index.ts
  packages/components/src/components/open-livechat-link/open-livechat-link.scss
  packages/components/src/components/open-livechat-link/open-livechat-link.tsx
  packages/components/src/index.ts
Labels: Components, Account

#14977 [BOT] Farabi/bot-1444/map dbot events to rudderstack
  packages/bot-web-ui/src/components/trade-animation/trade-animation.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/analytics/constants.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/analytics/rudderstack-quick-strategy.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/analytics/utils.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/config.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/mobile-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/types.ts
  packages/bot-web-ui/src/pages/bot-builder/toolbar/toolbar.tsx
  packages/bot-web-ui/src/pages/bot-builder/toolbox/toolbox.tsx
  packages/bot-web-ui/src/pages/dashboard/cards.tsx
  packages/bot-web-ui/src/pages/tutorials/common/search-input/index.tsx
Labels: Bot

#14957 [WALL] Fix notifications misalign in cashier wallets
  packages/core/src/App/Containers/NotificationsDialog/notification-list-wrapper.tsx
Labels: Core

#14229 [WALL] Lubega / WALL-3617 / Third party redirection for wallets cashier
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/shared/src/utils/routes/routes.ts
Labels: Core, Shared, Components

#14976 Dhruv/COJ-751/Account-FinancialAssessment-FieldRequiredError-MobileView-bug
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
Labels: Account

#14946 [WALL] george / WALL-3284 / Blank Page with Invalid token when accessing wallets in desktop (for wallets created using a different device/browser)
  packages/api-v2/src/hooks/useAuthorize.ts
  packages/api-v2/src/hooks/useDerivAccountsList.ts
  packages/core/src/Stores/client-store.js
  packages/utils/src/__tests__/getAccountListWithAuthToken.spec.ts
  packages/utils/src/getAccountListWithAuthToken.ts
  packages/utils/src/index.ts
  packages/wallets/src/features/cashier/components/WalletCashierHeader/WalletCashierHeader.scss
Labels: Core

#14482 [WALL] [Fix] Rostislav / WALL-3426 / Transaction status amount format
  packages/api-v2/package.json
  packages/api-v2/src/utils/__test__/display-money.spec.ts
  packages/api-v2/src/utils/display-money.ts
  packages/wallets/src/features/cashier/components/WalletActionModal/WalletActionModal.scss
  packages/wallets/src/features/cashier/components/WalletActionModal/WalletActionModal.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/CryptoTransaction/CryptoTransaction.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/TransactionStatusSuccess/__tests__/TransactionStatusSuccess.spec.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/components/TransactionsPendingRowField/TransactionsPendingRowField.tsx
Labels: Components

#14995 [WALL] Aizad/WALL-3961/Center Modal Investor Password Modal in responsive
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
  packages/wallets/src/features/cfd/ResetMT5PasswordHandler.tsx
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
Labels: Wallets

#14958 DTRA-1217 / Kate / Add video for Even / Odd contract
  packages/core/src/Assets/SvgComponents/trade_explanations/img-even-odd-dark.svg
  packages/core/src/Assets/SvgComponents/trade_explanations/img-even-odd-light.svg
  packages/trader/src/Assets/SvgComponents/trade_explanations/img-even-odd.svg
  packages/trader/src/Assets/Trading/Categories/__tests__/trade-categories-gif.spec.tsx
  packages/trader/src/Assets/Trading/Categories/trade-categories-gif.tsx
  packages/trader/src/Modules/Trading/Components/Form/ContractType/ContractTypeInfo/contract-type-info.tsx
  packages/trader/src/Modules/Trading/Helpers/__tests__/video-config.spec.ts
  packages/trader/src/Modules/Trading/Helpers/video-config.ts
Labels: Trader, Core

#14774 [CFDs] Hirad/CFDs-1371/ Using the token call on click of the terminal button
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Components/cfd-account-card.tsx
  packages/cfd/src/Containers/ctrader-derivx-trade-modal.tsx
  packages/cfd/src/Helpers/config.tsx
  packages/cfd/src/Helpers/constants.ts
  packages/cfd/src/Stores/Modules/CFD/cfd-store.js
  packages/cfd/src/features/Containers/cfd-trade-modal.tsx
  packages/cfd/src/features/Containers/other-cfds-trade-modal.tsx
  packages/cfd/src/types/cfd-store.types.ts
Labels: AppStore

#14781 Farhan/Lock Dtrader Tablet View on Landscape Mode
  .stylelintrc.js
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.scss
  packages/core/src/App/Components/Elements/LandscapeBlocker/landscape-blocker.tsx
  packages/core/src/App/Components/Layout/Header/toggle-notifications.jsx
  packages/core/src/App/Containers/Layout/footer.jsx
  packages/core/src/App/Containers/Layout/header/__tests__/default-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/default-header.tsx
  packages/core/src/App/Containers/NotificationsDialog/__tests__/notifications-dialog.spec.tsx
  packages/core/src/App/Containers/NotificationsDialog/notifications-dialog.tsx
  packages/shared/src/utils/os/os_detect.ts
  packages/trader/src/App/Components/Elements/TogglePositions/toggle-positions-mobile.tsx
  packages/trader/src/App/app.tsx
  packages/trader/src/Modules/Trading/Containers/trade.tsx
  packages/trader/src/sass/app/modules/trading.scss
Labels: Trader, Core, Shared

#14996 [WALL] Aizad/WALL-3953/fix MT5 create password strength bar doesn't match password strength is some scenarios
  packages/wallets/src/components/Base/WalletPasswordField/WalletPasswordField.tsx
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
  packages/wallets/src/utils/password-validation.ts
Labels: Wallets

#15064 [DTRA-1266] shahzaib / style - accumulator tick count bar misaligned in contract card
  packages/components/src/components/contract-card/contract-card-items/tick-counter-bar.tsx
  packages/components/src/components/contract-card/contract-card.scss
Labels: Components

#14119 [TRAH] Sergei / TRAH - 3061 / Create own useWalletMigration hook
  packages/api/package.json
  packages/appstore/package.json
  packages/appstore/src/components/account-transfer-modal/account-transfer-modal.tsx
  packages/appstore/src/components/account-transfer-modal/index.ts
  packages/appstore/src/components/banners/wallets-banner/index.ts
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.tsx
  packages/appstore/src/components/containers/listing-container.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/modals/failed-veriification-modal/failed-verification-modal.tsx
  packages/appstore/src/components/modals/failed-veriification-modal/index.ts
  packages/appstore/src/components/modals/real-wallets-upgrade/real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/regulators-compare-modal/index.ts
  packages/appstore/src/components/modals/regulators-compare-modal/regulators-compare-modal.tsx
  packages/appstore/src/constants/utils.ts
  packages/appstore/src/types/common.types.ts
  packages/cfd/src/Containers/mt5-migration-modal/index.ts
  packages/cfd/src/Containers/mt5-migration-modal/mt5-migration-modal.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-header.tsx
  packages/core/src/Stores/client-store.js
  packages/core/src/_common/base/socket_base.js
  packages/core/src/sass/app.scss
  packages/hooks/package.json
  packages/hooks/src/__tests__/useWalletMigration.spec.tsx
  packages/hooks/src/useWalletMigration.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Components, Account, AppStore

#14994 [TRAH]/Mitra/TRAH-3381/Set performance value for login time once cfd section is loaded
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/main-title-bar/asset-summary.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/shared/src/services/performance-metrics-methods.ts
Labels: Shared, AppStore

#15066 [CFDS] shontzu/CFDS-3970/Next-button-not-visible-during-account-creation
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-content-wrapper.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
Labels: AppStore

#15012 [WALL] Aizad/WALL-3967/ Fix "USD" is missing from swap free account creation success card
  packages/wallets/src/features/cfd/modals/MT5AccountAdded/MT5AccountAdded.tsx
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.scss
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
Labels: Wallets

#14743 Matin/[BL-396]/Removal of country-level business logic
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-article.spec.tsx
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-confirm-page.spec.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article-content.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-context.tsx
  packages/account/src/Sections/Security/SelfExclusion/__tests__/self-exclusion.spec.tsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/account-info.spec.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/display-account-type.spec.tsx
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Components/Layout/Header/account-info.jsx
  packages/core/src/App/Components/Layout/Header/display-account-type.tsx
  packages/core/src/App/Containers/AccountSwitcher/__tests__/account-switcher.spec.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher-account-list.jsx
  packages/core/src/App/Containers/AccountSwitcher/account-switcher.jsx
  packages/core/src/App/Containers/Layout/header/default-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/header-account-actions.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-header.tsx
  packages/core/src/App/Containers/RealAccountSignup/__tests__/real-account-signup.spec.jsx
  packages/core/src/App/Containers/RealAccountSignup/helpers/constants.js
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/App/Containers/RealAccountSignup/status-dialog-container.jsx
  packages/core/src/Modules/ComplaintsPolicy/Components/complaints-policy-content.jsx
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, Account, AppStore

#15110 Update deriv-charts to 2.1.15
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#14971 Maryia/DTRA-1263/revert: remove should_show_eu_content SmartCharts prop + stop tracking MARKET_INFO_REDIRECT analytics
  packages/core/src/Stores/client-store.js
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/Modules/Trading/Containers/trade-chart.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/__tests__/chart.spec.ts
  packages/trader/src/Stores/Modules/Trading/Helpers/chart.ts
Labels: Trader, Core

#15048 [FEQ-2191]/Rupato/Refactored the adjust workspace function
  packages/bot-web-ui/src/stores/toolbox-store.ts
Labels: Bot

#15083 Check issue with passkey redirection
  packages/core/src/public/.well-known/apple-app-site-association
Labels: Core

#15006 [UPM-817]/evgeniy/submit button disabled while clicking checkbox for demo account
  packages/account/src/Sections/Profile/PersonalDetails/personal-details-form.tsx
  packages/account/src/Sections/Profile/PersonalDetails/validation.ts
Labels: Account

#14954 Niloofar/Used official react-virtualized
  package-lock.json
  packages/components/package.json
Labels: Components

#11216 fix: Add a Deriv Account pop up is broken if user select same duplica…
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
Labels: Core, Account, Stale

#15085 [WALL] Aizad/WALL-4048/Adding Scroll To ModalStepWrapper
  packages/wallets/src/components/Base/ModalStepWrapper/ModalStepWrapper.scss
Labels: Wallets

#14951 Fasih/BL-406/Removed platformContext
  packages/account/src/Components/Routes/__tests__/route-with-sub-routes.spec.tsx
  packages/account/src/Components/account-limits/__tests__/account-limits.spec.tsx
  packages/account/src/Components/account-limits/account-limits.tsx
  packages/account/src/Components/account-limits/withdrawal-limits-table.tsx
  packages/account/src/Components/demo-message/demo-message.tsx
  packages/account/src/Components/poi/missing-personal-details/__tests__/missing-personal-details.spec.tsx
  packages/account/src/Components/poi/missing-personal-details/missing-personal-details.tsx
  packages/account/src/Components/poi/status/upload-complete/__tests__/upload-complete.spec.tsx
  packages/account/src/Components/poi/status/upload-complete/upload-complete.tsx
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-article.spec.tsx
  packages/account/src/Components/self-exclusion/__tests__/self-exclusion-inputs.spec.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article-content.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-context.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-inputs.tsx
  packages/account/src/Configs/personal-details-config.ts
  packages/account/src/Sections/Security/AccountClosed/account-closed.tsx
  packages/cfd/src/Components/Routes/binary-link.jsx
  packages/cfd/src/Components/Routes/binary-routes.jsx
  packages/cfd/src/Containers/props.types.ts
  packages/cfd/src/features/types/containers.types.ts
  packages/components/src/components/send-email-template/send-email-template.tsx
  packages/components/src/components/static-url/static-url.tsx
  packages/components/stories/static-url/README.md
  packages/components/stories/static-url/stories/basic.js
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Components/Elements/NotificationMessage/notification.jsx
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
  packages/core/src/App/Components/Layout/Header/signup-button.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Components/Routes/__tests__/helpers.spec.js
  packages/core/src/App/Components/Routes/binary-link.jsx
  packages/core/src/App/Components/Routes/binary-routes.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/App/Containers/Layout/app-contents.jsx
  packages/core/src/App/Containers/PlatformContainer/PlatformContainer.jsx
  packages/core/src/App/Containers/PlatformContainer/index.js
  packages/core/src/App/Containers/RealAccountSignup/modal-login-prompt.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/hooks/src/__tests__/useStoreLinkedWalletsAccounts.spec.tsx
  packages/hooks/src/useStoreLinkedWalletsAccounts.ts
  packages/p2p/src/components/routes/__tests__/binary-routes.spec.tsx
  packages/shared/src/utils/login/login.ts
  packages/shared/src/utils/platform/index.ts
  packages/shared/src/utils/platform/platform-context.tsx
  packages/shared/src/utils/url/url.ts
  packages/stores/types.ts
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/__tests__/authorization-required-modal.spec.tsx
  packages/trader/src/App/Components/Elements/Modals/ServicesErrorModal/authorization-required-modal.tsx
  packages/wallets/component-tests/mocks/mockWalletsAuthorize.ts
  packages/wallets/src/hooks/__tests__/useSyncLocalStorageClientAccounts.spec.ts
  packages/wallets/src/hooks/useSyncLocalStorageClientAccounts.ts
Labels: Core, Shared, Components, P2P, Docs, Account

#15102 [coj]/likhith/COJ-772/chore: locked Onfido SDK version
  packages/account/src/Sections/Verification/ProofOfIdentity/onfido-sdk-view-container.tsx
  packages/core/src/sass/app/_common/components/account-common.scss
Labels: Core, Account

#14854 [TRAH]/Mitra/TRAH-3251/Update description and texts in traders hub
  packages/appstore/src/components/add-options-account/__tests__/add-options-account.spec.tsx
  packages/appstore/src/components/add-options-account/add-options-account.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/constants/platform-config.ts
  packages/core/src/Stores/traders-hub-store.js
  packages/shared/src/utils/cfd/available-cfd-accounts.ts
Labels: Core, Shared, AppStore

#15143 [TRAH-3462] shahzaib / update eu disclaimer
  packages/appstore/src/modules/traders-hub/index.tsx
Labels: AppStore

#15146 Revert "[TRAH-3462] shahzaib / update eu disclaimer"
  packages/appstore/src/modules/traders-hub/index.tsx
Labels: AppStore

#14978 fix: analyze swallows errors, so this splits it out into a different script
  .github/actions/analyze/action.yml
  .github/workflows/analyze.yml
  package.json
  packages/account-v2/package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/bot-web-ui/package.json
  packages/cashier-v2/package.json
  packages/cashier/package.json
  packages/cfd/package.json
  packages/components/stories/icon/icons.js
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/p2p/package.json
  packages/reports/package.json
  packages/trader/package.json
  packages/tradershub/package.json
  packages/wallets/package.json
Labels: Trader, Core, Bot, Components, P2P, Account, AppStore

#15076 [P2PS] farrah/P2PS-2345/fix: remove disclaimer modal
  packages/p2p/src/components/app-content.jsx
  packages/p2p/src/components/modal-manager/modals/disclaimer-modal/__tests__/disclaimer-modal.spec.tsx
  packages/p2p/src/components/modal-manager/modals/disclaimer-modal/disclaimer-modal.scss
  packages/p2p/src/components/modal-manager/modals/disclaimer-modal/disclaimer-modal.tsx
  packages/p2p/src/components/modal-manager/modals/disclaimer-modal/index.ts
  packages/p2p/src/constants/modals.ts
  packages/p2p/src/utils/date-time.ts
Labels: P2P

#15036 [WALL] Rostislav / WALL-3931 / Wrap wallet migration logic behind feature flag
  packages/account/src/Containers/Account/__tests__/account.spec.tsx
  packages/account/src/Containers/Account/account.tsx
  packages/account/src/Containers/Account/page-overlay-wrapper.tsx
  packages/account/src/Sections/Profile/LanguageSettings/__tests__/language-settings.spec.tsx
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/routes/routes.tsx
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Components/Layout/Header/Components/ToggleMenu/menu-title.tsx
  packages/core/src/App/Components/Layout/Header/__tests__/toggle-menu-drawer.spec.jsx
  packages/core/src/App/Components/Layout/Header/menu-links.jsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/header/__tests__/default-mobile-links.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/header.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-onboarding.spec.tsx
  packages/core/src/App/Containers/Layout/header/default-mobile-links.tsx
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-home-button.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-onboarding.tsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Redirect/redirect.jsx
  packages/core/src/Stores/client-store.js
  packages/trader/src/Modules/Contract/Containers/__tests__/contract-replay.spec.tsx
Labels: Trader, Core, Account, AppStore

#15106 [coj]/likhith/coj-775/added dependencies of accounts to externals to consume from core
  packages/account/build/webpack.config.js
  packages/account/package.json
  packages/account/src/Components/account-limits/account-limits-article.tsx
  packages/account/src/Components/account-limits/account-limits-context.tsx
  packages/account/src/Components/account-limits/account-limits-extra-info.tsx
  packages/account/src/Components/account-limits/account-limits-footer.tsx
  packages/account/src/Components/account-limits/account-limits-overlay.tsx
  packages/account/src/Components/account-limits/account-limits-table-cell.tsx
  packages/account/src/Components/account-limits/account-limits-table-header.tsx
  packages/account/src/Components/account-limits/account-limits-turnover-limit-row.tsx
  packages/account/src/Components/address-details/address-details.tsx
  packages/account/src/Components/address-details/index.ts
  packages/account/src/Components/api-token/api-token-context.ts
  packages/account/src/Components/api-token/api-token.tsx
  packages/account/src/Components/leave-confirm/index.ts
  packages/account/src/Components/personal-details/index.ts
  packages/account/src/Components/poa-address-mismatch-hint-box/__test__/poa-address-mismatch-hint-box.spec.tsx
  packages/account/src/Components/poi/status/unsupported/card-details/input-field.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article-content.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-article.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-confirm-limits.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-confirm-page.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-footer.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-inputs.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-modal.tsx
  packages/account/src/Components/self-exclusion/self-exclusion-wrapper.tsx
  packages/account/src/Sections/Security/SelfExclusion/self-exclusion.tsx
  packages/account/src/Sections/Security/vpn.jsx
Labels: Account

#15043 [DTRA] Maryia/DTRA-1219/fix: month not translated in duration
  packages/shared/src/utils/date/date-time.ts
Labels: Shared

#15150 [TRAH-3462] shahzaib / disclaimer update
  packages/appstore/src/modules/traders-hub/index.tsx
Labels: AppStore

#15151 chore: :fire: fix the active_symbols refetching issue on bot
  packages/bot-web-ui/src/app/app-content.jsx
  packages/bot-web-ui/src/stores/app-store.ts
Labels: Bot

#15099 [WALL] Aizad/wall 3964/wallet onboarding
  packages/wallets/component-tests/wallets-carousel-content.spec.tsx
  packages/wallets/package.json
  packages/wallets/src/components/AccountsList/AccountsList.tsx
  packages/wallets/src/components/AccountsList/__tests__/AccountsList.spec.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/SkeletonLoader/WalletsCarouselLoader/WalletsCarouselLoader.scss
  packages/wallets/src/components/SkeletonLoader/WalletsCarouselLoader/WalletsCarouselLoader.tsx
  packages/wallets/src/components/WalletListHeader/WalletListHeader.scss
  packages/wallets/src/components/WalletListHeader/WalletListHeader.tsx
  packages/wallets/src/components/WalletTourGuide/DesktopSteps.tsx
  packages/wallets/src/components/WalletTourGuide/MobileSteps.tsx
  packages/wallets/src/components/WalletTourGuide/WalletMobileTourGuide.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSettings.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSteps.tsx
  packages/wallets/src/components/WalletTourGuide/index.tsx
  packages/wallets/src/components/WalletsCarousel/WalletsCarousel.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.scss
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/src/features/cfd/CFDPlatformsList.tsx
  packages/wallets/src/features/cfd/components/CFDPlatformsListAccounts/CFDPlatformsListAccounts.tsx
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
  packages/wallets/src/routes/WalletsListingRoute/__tests__/WalletsListingRoute.spec.tsx
Labels: Wallets

#15176 DTRA / Kate / FEQ-2212 / Hide footer navigation links popovers
  packages/core/src/App/Components/Elements/LiveChat/live-chat.tsx
  packages/core/src/App/Components/Elements/WhatsApp/whatsapp.tsx
  packages/core/src/App/Components/Layout/Footer/account-limits.jsx
  packages/core/src/App/Components/Layout/Footer/go-to-deriv.jsx
  packages/core/src/App/Components/Layout/Footer/help-centre.jsx
  packages/core/src/App/Components/Layout/Footer/regulatory-information.jsx
  packages/core/src/App/Components/Layout/Footer/responsible-trading.jsx
  packages/core/src/App/Components/Layout/Footer/toggle-fullscreen.jsx
  packages/core/src/App/Components/Layout/Footer/toggle-language-settings.tsx
  packages/core/src/App/Components/Layout/Footer/toggle-settings.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
  packages/shared/src/utils/os/os_detect.ts
Labels: Core, Shared

#15123 [DTRA] Farhan/Dtrader Tablet Subtasks
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/reports/src/Constants/__tests__/routes-config.spec.tsx
  packages/shared/src/utils/os/os_detect.ts
  packages/shared/src/utils/routes/routes.ts
  packages/trader/src/Modules/SmartChart/Components/__tests__/toolbar-widgets.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/toolbar-widgets.tsx
  packages/trader/src/Modules/Trading/Containers/trade-chart.tsx
  packages/trader/src/sass/app/_common/drawer/positions-drawer.scss
  packages/trader/src/sass/app/_common/layout/trader-layouts.scss
Labels: Trader, Shared, Components

#14547 [CFDS] Hasan/CFDS-3424/mt5 deeplink redirect issue
  packages/cfd/src/Containers/__tests__/mt5-mobile-redirect-option.spec.js
  packages/cfd/src/Containers/mt5-mobile-redirect-option.tsx
  packages/cfd/src/Helpers/constants.ts
  packages/shared/src/utils/os/os_detect.ts
Labels: Shared

#15212 Update deriv-charts to 2.1.16
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot, Shared

#15194 Akmal / feat: add test coverage for empty trade history message and indicative cell
  packages/components/src/components/contract-card/contract-card-items/contract-card-sell.tsx
  packages/reports/src/Components/__tests__/empty-trade-history-message.spec.tsx
  packages/reports/src/Components/__tests__/indicative-cell.spec.tsx
  packages/reports/src/Components/indicative-cell.tsx
Labels: Components

#14991 [DTRA] henry/dtra-1237/fix: dtrader-v2 setup
  package-lock.json
  packages/core/package.json
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/header.spec.tsx
  packages/core/src/App/Containers/Layout/header/dtrader-v2-header.tsx
  packages/core/src/App/Containers/Layout/header/header.tsx
  packages/core/src/sass/app/_common/layout/header.scss
  packages/trader/build/constants.js
  packages/trader/jest.config.js
  packages/trader/package.json
  packages/trader/src/AppV2/Components/BottomNav/__tests__/bottom-nav-item.spec.tsx
  packages/trader/src/AppV2/Components/BottomNav/__tests__/bottom-nav.spec.tsx
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav-item.tsx
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
  packages/trader/src/AppV2/Components/BottomNav/index.ts
  packages/trader/src/AppV2/Containers/Markets/index.ts
  packages/trader/src/AppV2/Containers/Markets/markets.scss
  packages/trader/src/AppV2/Containers/Markets/markets.tsx
  packages/trader/src/AppV2/Containers/Menu/index.ts
  packages/trader/src/AppV2/Containers/Menu/menu.scss
  packages/trader/src/AppV2/Containers/Menu/menu.tsx
  packages/trader/src/AppV2/Containers/Positions/index.ts
  packages/trader/src/AppV2/Containers/Positions/positions.scss
  packages/trader/src/AppV2/Containers/Positions/positions.tsx
  packages/trader/src/AppV2/Containers/Trade/index.ts
  packages/trader/src/AppV2/Containers/Trade/trade.scss
  packages/trader/src/AppV2/Containers/Trade/trade.tsx
  packages/trader/src/AppV2/__tests__/app.spec.tsx
  packages/trader/src/AppV2/app.tsx
  packages/trader/src/AppV2/index.tsx
  packages/trader/src/index.tsx
  packages/trader/tsconfig.json
Labels: Trader, Core

#15141 refactor(deriv_go): updated Deriv Go's app links paths for dev and staging
  packages/core/src/public/.well-known/apple-app-site-association
Labels: Core

#15218 Aizad/WALL-4088/Update Copywriting for Onboarding
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSteps.tsx
Labels: Wallets

#15216 [DTRA] Farhan/Fix test failing
  packages/account-v2/src/containers/AccountLimitsContainer/AccountLimitsTable.tsx
  packages/account-v2/src/containers/ConnectedAppsContainer/ConnectedAppsTable.tsx
  packages/account-v2/src/containers/LoginHistoryTable/LoginHistoryTable.tsx
  packages/core/src/App/Components/Layout/Footer/__tests__/toggle-fullscreen.spec.tsx
  packages/core/src/App/Components/Layout/Footer/toggle-fullscreen.jsx
  packages/core/src/App/Components/Layout/Header/account-actions.jsx
Labels: Core

#15133 [coj]/likhith/wall-4066/locked onfido version to prevent unintended changes
  packages/api-v2/src/hooks/useOnfido.ts
  packages/api/src/hooks/useOnfido.ts
  packages/core/src/sass/app/_common/components/account-common.scss
Labels: Core, Account

#15120 [coj]/likhith/coj-795/install deriv sharable libs to account package
  package-lock.json
  packages/account-v2/package.json
  packages/account-v2/src/modules/package.json
  packages/account/build/webpack.config.js
  packages/account/package.json
  packages/account/src/Assets/ic-6-month-issued-document.svg
  packages/account/src/Assets/ic-blurry-document.svg
  packages/account/src/Assets/ic-cropped-document.svg
  packages/account/src/Assets/ic-document-address-mismatch.svg
  packages/account/src/Assets/ic-document-name-mismatch.svg
  packages/account/src/Assets/ic-envelop.svg
  packages/account/src/Configs/poa-common-mistake-examples-config.tsx
  packages/cashier-v2/package.json
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/trader/package.json
  packages/tradershub/package.json
  packages/wallets/package.json
Labels: Trader, Core, Account

#15235 [DTRA] Maryia/build: update quill-ui library version to 1.9.27 + utilize lib styles
  package-lock.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/app.tsx
Labels: Trader, Core

#15182 [FEQ] Sergei / FEQ - 2203 / Select account popup for tablet
  packages/components/src/components/modal/modal.scss
Labels: Core, Components

#15205 [FEQ] Sergei / FEQ-2200, FEQ-2201 / Add a real MT5 account, Identity verification, Choose a jurisdiction popup for tablet
  packages/account/src/Components/poi/status/unsupported/card-details/card-details.scss
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
  packages/cfd/src/Containers/cfd-dbvi-onboarding.tsx
  packages/cfd/src/Containers/cfd-financial-stp-real-account-signup.tsx
  packages/cfd/src/Containers/jurisdiction-modal/__test__/jurisdiction-modal.spec.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal-title.tsx
  packages/cfd/src/Containers/jurisdiction-modal/jurisdiction-modal.tsx
  packages/cfd/src/features/Containers/real-account-signup-verifications.tsx
  packages/cfd/src/sass/cfd-dashboard.scss
  packages/cfd/src/sass/cfd.scss
  packages/core/src/sass/app/_common/components/account-common.scss
  packages/core/src/sass/app/_common/components/cfd-poa.scss
  packages/core/src/sass/details-form.scss
  packages/core/src/sass/real-account-signup.scss
Labels: Core, Account, AppStore

#15172 [TRAH-3259]: chore: add comment to pull requests with bundle size information
  .github/actions/analyze/action.yml
  .github/actions/analyze/compareReports.js
  .github/workflows/analyze.yml
Labels: Account

#15249 [WALL] Aizad/WALL-4096/Skip Step Add More Wallets
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuideSteps.tsx
Labels: Wallets

#15139 [CFDS] shontzu/CFDS-3502/unexpected-behaviour-upon-clicking-dynamic-leverage
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
Labels: AppStore

#15204 [WALL] aum / WALL-4085 / fix-routing-for-manage-funds-button-in-account-settings
  packages/shared/src/utils/routes/routes.ts
Labels: Shared

#15266 [DTRA] Maryia/build: add quill-tokens library + update quill-ui library
  package-lock.json
  packages/core/package.json
  packages/trader/package.json
  packages/trader/src/AppV2/app.tsx
Labels: Trader, Core

#15224 [DTRA] Farhan/FEQ-2208/Hide indicators and drawing tools toolbar widgets on tablet
  packages/components/src/components/vertical-tab/vertical-tab.scss
  packages/trader/src/Modules/SmartChart/Components/__tests__/toolbar-widgets.spec.tsx
  packages/trader/src/Modules/SmartChart/Components/toolbar-widgets.tsx
Labels: Trader, Components

#15007 [DTRA] Maryia/DTRA-1206/fix: request contract history in Contract details on every language change
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/trader/src/App/Components/Elements/ContractAudit/__tests__/contract-audit.spec.tsx
  packages/trader/src/App/Components/Elements/ContractAudit/contract-audit.tsx
  packages/trader/src/App/Components/Elements/ContractDrawer/contract-drawer.tsx
Labels: Trader, Components

#15273 Update deriv-charts to 2.1.17
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#15157 [DTRA] Bala/market closed
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader

#15013 [TRAH-3380] shahzaib / remove authorization and loader from options & multipliers]
  packages/appstore/src/components/containers/listing-container.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/helpers/available-platforms-helper.ts
  packages/appstore/src/helpers/index.ts
  packages/appstore/src/modules/traders-hub/__tests__/index.spec.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/core/src/Stores/traders-hub-store.js
Labels: Core, AppStore

#14836 [TRAH-3250] thisyahlen / shahzaib - remove disclaimers from real account creation
  packages/account/src/Components/address-details/__tests__/address-details.spec.tsx
  packages/account/src/Components/address-details/address-details.tsx
  packages/account/src/Components/currency-selector/__tests__/currency-selector.spec.tsx
  packages/account/src/Components/currency-selector/currency-selector.tsx
  packages/account/src/Components/currency-selector/radio-button-group.tsx
  packages/account/src/Components/personal-details/personal-details.jsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/__tests__/poi-confirm-with-example-form-container.spec.tsx
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/warning-close-create-real-account-content.jsx
  packages/core/src/App/Containers/WarningCloseCreateRealAccountModal/warning-close-create-real-account-modal.scss
  packages/core/src/sass/details-form.scss
Labels: Core, Account

#15279 Fix bottom nav scroll
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.scss
  packages/trader/src/AppV2/Components/BottomNav/bottom-nav.tsx
Labels: Trader

#15070 Aizad/WALL-4039/Resize Logo in Transfer Summary Details on Transaction Screen
  packages/wallets/src/components/WalletGradientBackground/WalletGradientBackground.scss
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.scss
  packages/wallets/src/components/WalletMarketCurrencyIcon/WalletMarketCurrencyIcon.tsx
  packages/wallets/src/components/index.ts
  packages/wallets/src/features/cashier/helpers/helpers.ts
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/TransactionsCompletedRowAccountDetails.scss
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/components/TransactionsCompletedRowAccountDetails/TransactionsCompletedRowAccountDetails.tsx
  packages/wallets/src/features/cashier/modules/Transfer/hooks/useSortedTransferAccounts.ts
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.scss
  packages/wallets/src/features/cfd/screens/CFDSuccess/CFDSuccess.tsx
Labels: Wallets

#14749 [TRAH]/Mitra/TRAH-3230/Show real sign up modal once demo creation is done
  packages/appstore/src/constants/tour-steps-config.tsx
  packages/appstore/src/constants/tour-steps-styles.ts
  packages/appstore/src/modules/onboarding/onboarding.tsx
  packages/appstore/src/modules/tour-guide/tour-guide.tsx
  packages/appstore/src/modules/traders-hub/__tests__/index.spec.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/core/src/App/Containers/AccountSignupModal/account-signup-modal.jsx
  packages/core/src/App/Containers/Layout/header/__tests__/default-mobile-links.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/default-mobile-links.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-header.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-onboarding.tsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/traders-hub-store.js
  packages/core/src/sass/app/_common/layout/traders-hub-header.scss
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
Labels: Core, AppStore

#15286 Ako/ Fix datadog initialisation on the app
  packages/core/src/Utils/Datadog/index.ts
Labels: Core

#14472 [WALL] Rostislav / WALL-3456 / Wallets post-migration UX (successful & unsuccessful)
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/desktop-real-wallets-upgrade/desktop-real-wallets-upgrade.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/desktop-real-wallets-upgrade/desktop-real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/mobile-real-wallets-upgrade/mobile-real-wallets-upgrade.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/mobile-real-wallets-upgrade/mobile-real-wallets-upgrade.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/modal-elements/wallet_steps.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-two/__tests__/wallets-upgrade-step-two.spec.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-two/wallets-upgrade-step-two.scss
  packages/appstore/src/components/modals/real-wallets-upgrade/components/wallets-upgrade-step-two/wallets-upgrade-step-two.tsx
  packages/appstore/src/components/modals/real-wallets-upgrade/real-wallets-upgrade.tsx
  packages/appstore/src/types/common.types.ts
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/wallets-upgrade-completed-modal/wallets-upgrade-completed-modal.scss
  packages/core/src/App/Containers/Modals/wallets-upgrade-completed-modal/wallets-upgrade-completed-modal.tsx
  packages/core/src/App/Containers/Modals/wallets-upgrade-logout-modal/wallets-upgrade-logout-modal.scss
  packages/core/src/App/Containers/Modals/wallets-upgrade-logout-modal/wallets-upgrade-logout-modal.tsx
Labels: Core, AppStore

#15086 [BOT] Farabi/bot-1601/dbot bugs and improvements
  packages/bot-web-ui/src/components/bot-notification/bot-notification-utils.ts
  packages/bot-web-ui/src/components/bot-notification/bot-notification.tsx
  packages/bot-web-ui/src/components/download/download.tsx
  packages/bot-web-ui/src/components/run-panel/run-panel.scss
  packages/bot-web-ui/src/components/transactions/transactions.scss
  packages/bot-web-ui/src/components/transactions/transactions.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/pages/bot-builder/toolbar/workspace-group.tsx
  packages/bot-web-ui/src/pages/dashboard/dashboard.scss
Labels: Bot

#15304 [BOT]test: added missing test case in qs folder
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/analytics/__tests__/utils.spec.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/descriptions/__tests__/strategy-description.spec.tsx
Labels: Bot

#15310 [WEBREL] nada/fix: translation not handled for header fix
  packages/p2p/src/pages/my-ads/create-ad-form.jsx
Labels: P2P

#15193 [COJ]/likhith/coj-1123/chore: remove unused dependencies in account package
  package-lock.json
  packages/account/build/webpack.config.js
  packages/account/package.json
  packages/account/src/Sections/Profile/LanguageSettings/__tests__/language-settings.spec.tsx
  packages/core/package.json
  packages/utils/package.json
Labels: Core, Account

#15309 [WEBREL]/Mitra/[WEBREL-2748] Remove the condition as we use the component for bot…
  packages/appstore/src/components/containers/listing-container.tsx
Labels: AppStore

#15321 Revert "[WEBREL]/Mitra/[WEBREL-2748] Remove the condition as we use the component for bot…"
  packages/appstore/src/components/containers/listing-container.tsx
Labels: AppStore

#15323 Revert "[TRAH-3380] shahzaib / remove authorization and loader from options & multipliers]"
  packages/appstore/src/components/containers/listing-container.tsx
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/appstore/src/helpers/available-platforms-helper.ts
  packages/appstore/src/helpers/index.ts
  packages/appstore/src/modules/traders-hub/__tests__/index.spec.tsx
  packages/appstore/src/modules/traders-hub/index.tsx
  packages/core/src/Stores/traders-hub-store.js
Labels: Core, AppStore

#15316 [WEBREL]/Mitra/[WEBREL-2753] remove crypto subheader
  packages/account/src/Components/currency-selector/__tests__/currency-selector.spec.tsx
  packages/account/src/Components/currency-selector/currency-selector.tsx
  packages/account/src/Components/currency-selector/radio-button-group.tsx
Labels: Core, Bot, Translations, P2P, Account

#15305 [CRO] Amir/CRO-582/Fix `user_id` attribute missing on rudderstack
  packages/core/src/Stores/client-store.js
Labels: Core

#15134 Aswathy/CRO-566/Tradershub trackevent dashboard updated
  packages/api-v2/src/hooks/useOnfido.ts
  packages/appstore/src/components/app-content.tsx
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/options-multipliers-listing/index.tsx
  packages/core/src/Stores/traders-hub-store.js
  packages/stores/types.ts
Labels: Core, AppStore

#15319 Update deriv-charts to 2.1.18
  package-lock.json
  packages/bot-web-ui/package.json
  packages/core/package.json
  packages/trader/package.json
Labels: Trader, Core, Bot

#15275 [DTRA] Farhan/FEQ-2205/Header notification icon and account settings links are not working as expected
  packages/core/src/App/Containers/Layout/header/show-notifications.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-header-wallets.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-header.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-onboarding.tsx
  packages/core/src/sass/app/_common/components/account-switcher.scss
Labels: Core

#15122 [WALL] aum / WALL-4029 / fix-CFDs-password-flows
  packages/wallets/src/components/WalletsResetMT5Password/WalletSuccessResetMT5Password.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletsErrorMT5InvestorPassword.scss
  packages/wallets/src/components/WalletsResetMT5Password/WalletsErrorMT5InvestorPassword.tsx
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.scss
  packages/wallets/src/components/WalletsResetMT5Password/WalletsResetMT5Password.tsx
  packages/wallets/src/components/WalletsResetMT5Password/index.ts
  packages/wallets/src/features/cfd/constants.tsx
  packages/wallets/src/features/cfd/screens/ChangePassword/MT5ChangePasswordScreens.tsx
Labels: Components

#15320 [COJ]/likhith/[coj-1131]chore: remove account-v2 checks from CI
  .github/workflows/test.yml
  analyze.html
  jest.config.base.js
  jest.config.js
  lerna.json
  package.json
  packages/core/build/config.js
  packages/core/package.json
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
  packages/core/src/App/Constants/routes-config.js
  packages/core/src/root_files/robots.txt
  packages/shared/src/utils/routes/routes.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
  packages/tradershub/package.json
  packages/tradershub/tsconfig.json
  packages/tradershub/webpack.config.js
Labels: Core, Shared

#15298 [WALL] [Fix] Rostislav / WALL-4132 / CFD Trade modal appearance issues
  package-lock.json
  packages/account-v2/package.json
  packages/account-v2/src/modules/package.json
  packages/account/package.json
  packages/cashier-v2/package.json
  packages/core/package.json
  packages/p2p-v2/package.json
  packages/trader/package.json
  packages/tradershub/package.json
  packages/wallets/package.json
  packages/wallets/src/components/Base/WalletClipboard/WalletClipboard.tsx
  packages/wallets/src/features/cfd/screens/MT5TradeScreen/MT5TradeDetailsItem/MT5TradeDetailsItem.tsx
Labels: Trader, Core, Account

#15349 Sergei / FEQ-2201, FEQ-2241, FEQ-2232, FEQ-2223, FEQ-2222 / Fix tablet view issue
  packages/components/src/components/date-picker/date-picker.scss
  packages/components/src/components/date-picker/date-picker.tsx
  packages/components/src/components/form-submit-button/form-submit-button.scss
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/currency-selector.scss
  packages/core/src/sass/account-wizard.scss
Labels: Core, Components

#15362 Sergei / TRAH 3524 / Jurisdiction popup on ipad pro
  packages/appstore/src/components/cfds-listing/cfds-listing.scss
Labels: AppStore

#14558 [DTRA]/Ahmad/Update Dtrader Url
  package-lock.json
  packages/core/src/App/Components/Routes/route-with-sub-routes.jsx
Labels: Trader, Core, Shared, Components, Account, AppStore

#15231 [WALL] [Fix] Rostislav / WALL-4065 / Fix wallets onboarding button when in the overlay / non-root wallets page
  packages/core/src/App/Containers/Layout/header/__tests__/default-mobile-links.spec.tsx
  packages/core/src/App/Containers/Layout/header/default-mobile-links.tsx
  packages/core/src/App/Containers/Layout/header/traders-hub-onboarding.tsx
  packages/core/src/App/Containers/Modals/wallets-upgrade-completed-modal/wallets-upgrade-completed-modal.tsx
  packages/wallets/src/components/WalletTourGuide/WalletTourGuide.tsx
Labels: Core

#15378 [WALL] Aizad/WALL-4223/Error When Receiving Demo Derived & Financial MT5 for Demo Account
  packages/wallets/src/features/cfd/modals/MT5PasswordModal/MT5PasswordModal.tsx
Labels: Wallets

#15387 WEBREL/Mitra/[WEBREL-2776]/Remove platform switcher from tradershub route logged out
  packages/components/src/components/mobile-drawer/mobile-drawer.scss
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/header/__tests__/default-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/default-header.tsx
Labels: Core, Components

#15373 [WEBREL] Sergei / WEBREL - 2770, 2771, 2772 / AR language, Get Started button padding, Content change in logged in TH
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/elements/options-description/index.tsx
  packages/appstore/src/components/get-started-trading-banner/get-started-trading-banner.scss
  packages/appstore/src/components/get-started-trading-banner/get-started-trading-banner.tsx
  packages/appstore/src/components/trustpilot-star-rating/trustpilot-star-rating.tsx
Labels: AppStore

#15376 [DTRA] Farhan/Tablet view subtasks
  packages/components/src/components/contract-card/contract-card-items/__tests__/contract-update-form.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/__tests__/toggle-card-dialog.spec.tsx
  packages/components/src/components/contract-card/contract-card-items/contract-update-form.tsx
  packages/components/src/components/contract-card/contract-card-items/sass/contract-card-dialog.scss
  packages/components/src/components/contract-card/contract-card-items/toggle-card-dialog.tsx
  packages/components/src/components/input-wth-checkbox/input-with-checkbox.tsx
  packages/trader/src/Modules/Contract/Components/AccumulatorsStats/accumulators-stats.tsx
  packages/trader/src/sass/app/modules/contract/accumulators-stats.scss
Labels: Trader, Components

#15095 [P2PS] / Ameerul / P2PS-2819 Unable to click on save button upon getting duplicate error
  packages/p2p/src/components/modal-manager/modals/add-payment-method-error-modal/add-payment-method-error-modal.tsx
  packages/p2p/src/pages/my-profile/payment-methods/edit-payment-method-form/edit-payment-method-form.tsx
Labels: P2P

#15401 Aizad/WEBREL-2778/Remove Cashier Trader Link from Wallets Responsive
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
Labels: Core

#15126 [P2PS] Nada/P2PS-2779/fix: error message not translated for same rate/range
  packages/p2p/src/components/modal-manager/modals/ad-create-edit-error-modal/ad-create-edit-error-modal.tsx
  packages/p2p/src/pages/my-ads/ad-conditions-section/ad-conditions-section.tsx
  packages/p2p/src/utils/__tests__/adverts.spec.ts
  packages/p2p/src/utils/adverts.ts
Labels: P2P

#14748 [CFDS] shontzu/CFDS-3478/to-fix-issue-with-link-to-MT5-app-in-ios-devices
  packages/cfd/src/Containers/__tests__/mt5-mobile-redirect-option.spec.js
  packages/cfd/src/Containers/mt5-mobile-redirect-option.scss
  packages/cfd/src/Containers/mt5-mobile-redirect-option.tsx
  packages/cfd/src/Helpers/constants.ts
  packages/cfd/src/Helpers/url-config.ts
  packages/cfd/src/features/Containers/mt5-trade-modal.tsx
Labels: Shared, Components

#15242 [DTRA] henry/dtra-1281/fix: integrate Notification banners
  package-lock.json
  packages/core/package.json
  packages/stores/types.ts
  packages/trader/package.json
  packages/trader/src/AppV2/Containers/Notifications/index.ts
  packages/trader/src/AppV2/Containers/Notifications/notifications.tsx
  packages/trader/src/AppV2/app.tsx
Labels: Trader, Core

#14831 Amina/COJ-602/Triggering POI POA on new expiring status
  packages/account/src/Sections/Verification/Helpers/verification.js
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-container.tsx
  packages/account/src/Sections/Verification/ProofOfIdentity/__tests__/proof-of-identity-container.spec.js
  packages/account/src/Sections/Verification/ProofOfIdentity/proof-of-identity-container.jsx
Labels: Components, Account

#15186 [WALL] Rostislav / WALL-3496 / Remove `next_wallet` flag for release
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-header.spec.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-home-button.spec.tsx
  packages/core/src/Modules/Endpoint/__tests__/FeatureFlagsSection.spec.tsx
  packages/hooks/src/useFeatureFlags.ts
  packages/integration/src/utils/mocks/mocks.ts
  packages/stores/src/stores/FeatureFlagsStore.ts
Labels: Core, AppStore

#15426 [BOT] Farabi/bot-1809/update rudderstack events
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/analytics/constants.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/analytics/rudderstack-quick-strategy.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/analytics/utils.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/mobile-form-wrapper.tsx
  packages/bot-web-ui/src/pages/tutorials/quick-strategy-content/quick-strategy-guides-details.tsx
Labels: Bot

#15229 [BOT]maryia/FEQ-828/fix: trackJS error Cannot read properties of null (reading 'connect')
  packages/bot-skeleton/src/scratch/blocks/Binary/Trade Definition/trade_definition_restartbuysell.js
Labels: Bot

#15374 chore: created common chunk
  packages/account/build/webpack.config.js
  packages/account/package.json
  packages/account/src/Assets/ic-12-months-expiry.svg
  packages/account/src/Components/account-limits/account-limits-article.tsx
  packages/account/src/Components/account-limits/account-limits.tsx
  packages/account/src/Components/demo-message/demo-message.tsx
  packages/account/src/Components/poa/status/verified/verified.tsx
  packages/account/src/Configs/accept-risk-config.ts
  packages/account/src/Configs/poa-common-mistake-examples-config.tsx
  packages/account/src/Constants/get-login-history-table-headers.tsx
  packages/account/src/Constants/routes-config.tsx
  packages/account/src/Sections/Profile/LanguageSettings/language-settings.tsx
  packages/account/src/Sections/Security/AccountLimits/account-limits.tsx
  packages/account/src/Sections/Security/ConnectedApps/connected-apps-earn-more.tsx
  packages/account/src/Sections/Security/ConnectedApps/connected-apps-info-bullets.tsx
  packages/account/src/Sections/Security/ConnectedApps/connected-apps-know-more.tsx
  packages/account/src/Sections/Security/ConnectedApps/connected-apps.tsx
  packages/account/src/Sections/Security/DeactivateAccount/deactivate-account.tsx
  packages/account/src/Sections/Security/LoginHistory/__test__/login-history.spec.tsx
  packages/account/src/Sections/Security/LoginHistory/login-history-content.tsx
  packages/account/src/Sections/Security/LoginHistory/login-history-list-row.tsx
  packages/account/src/Sections/Security/LoginHistory/login-history-table-row.tsx
  packages/account/src/Sections/Security/LoginHistory/login-history.tsx
  packages/account/src/Sections/Security/Passwords/deriv-email.tsx
  packages/account/src/Sections/Security/Passwords/deriv-password.tsx
  packages/account/src/Sections/Security/Passwords/passwords-platform.tsx
  packages/account/src/Sections/index.js
Labels: Account

#15432 [WEBREL] nada/fix: issue with duplicate PM
  packages/p2p/src/pages/my-profile/payment-methods/edit-payment-method-form/edit-payment-method-form.tsx
Labels: P2P

#15404 [DTRA] Farhan/FEQ-2280/tablet subtasks
  __mocks__/globals.js
  packages/components/src/components/popover/__tests__/popover.spec.tsx
  packages/components/src/components/popover/popover.tsx
  packages/core/src/App/Containers/Layout/header/__tests__/traders-hub-onboarding.spec.tsx
  packages/core/src/sass/app/_common/layout/header.scss
  packages/reports/src/Components/indicative-cell.tsx
  packages/reports/src/sass/app/_common/layout/trader-layouts.scss
  packages/reports/src/sass/app/modules/reports.scss
  packages/trader/src/App/Containers/__tests__/trade-footer-extensions.spec.tsx
  packages/trader/src/Modules/Contract/Components/Digits/__tests__/digits.spec.tsx
  packages/trader/src/Modules/Contract/Components/Digits/digits.tsx
  packages/trader/src/Modules/SmartChart/Components/toolbar-widgets.tsx
  packages/trader/src/Modules/Trading/Containers/__tests__/strike-param-modal.spec.tsx
  packages/trader/src/sass/app/_common/components/positions-toggle.scss
  packages/trader/src/sass/app/modules/contract/digits.scss
Labels: Trader, Core, Components

#14869 Suisin/chore: include swahili translation into deriv-app
  packages/components/src/components/icon/flag/ic-flag-sw.svg
  packages/components/src/components/icon/icons.js
  packages/core/src/Utils/Language/__tests__/language.spec.js
  packages/p2p/src/components/i18next/index.ts
  packages/translations/src/i18next/i18next.ts
Labels: Trader, Core, Bot, Components, Translations, P2P
