Repository deriv-com/deriv-app, pull requests merged in 2024-10, with the labels that each got.

#17032 Suisin/webrel3204/translation issue pnv flow
  packages/hooks/src/__tests__/useSendOTPVerificationCode.spec.tsx
  packages/hooks/src/useRequestPhoneNumberOTP.tsx
  packages/hooks/src/useSendOTPVerificationCode.tsx
Labels: Translations

#16726 [TRAH] Sergei / TRAH - 4040 / Feature toggles doesn't work as expected for initial loading in TH
  packages/core/src/App/AppContent.tsx
  packages/core/src/App/Components/Layout/Header/toggle-menu-drawer.jsx
  packages/core/src/App/Containers/Layout/default-footer.jsx
  packages/core/src/App/Containers/Layout/trading-hub-footer.jsx
  packages/hooks/src/useIsGrowthbookLoaded.ts
Labels: Core, Bot

#16920 Niloofar/ Fixed "cfd-compare-accounts" route typo
  packages/shared/src/utils/routes/routes.ts
Labels: Shared

#16969 [CFDS][WALL] shontzu/TRAH-4220/dxtrade-update-on-TradersHub
  packages/appstore/src/components/containers/trading-app-card.tsx
  packages/shared/src/utils/cfd/available-cfd-accounts.ts
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
Labels: Shared

#16974 [FEQ-2607] [P2PS] - Nada/fix: add back to p2p button for redirection from v2
  packages/shared/src/utils/config/platform-config.ts
  packages/shared/src/utils/platform/platform.ts
Labels: Shared

#16978 [Dtra]fix: show all trade types when logged out or not pinned
  packages/trader/src/AppV2/Components/DraggableList/draggable-list-item.tsx
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.scss
  packages/trader/src/AppV2/Components/DraggableList/draggable-list.tsx
  packages/trader/src/AppV2/Components/TradeTypeList/trade-type-list.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade-types.spec.tsx
  packages/trader/src/AppV2/Containers/Trade/trade-types.tsx
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
Labels: Trader

#17012 [DTRA-V2] henry/dtra-2029/fix: rerender chart on symbol or change
  packages/trader/src/AppV2/Containers/Chart/trade-chart.tsx
Labels: Trader

#16937 Akmal / fix: barrier and stake error messages
  packages/core/src/Constants/form-error-messages.js
  packages/shared/src/utils/validation/declarative-validation-rules.ts
  packages/shared/src/utils/validation/form-error-messages-types.ts
  packages/trader/src/AppV2/Components/TradeParameters/Stake/__tests__/stake.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
Labels: Trader, Core, Shared

#16562 Akmal / feat: remove contract_set_up_form event from rudderstack
  packages/stores/src/mockStore.ts
  packages/trader/src/App/Components/Form/TimePicker/time-picker.tsx
  packages/trader/src/Modules/Trading/Components/Form/DatePicker/trading-date-picker.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/duration-wrapper.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/__tests__/duration.spec.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-mobile.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration-wrapper.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/Duration/duration.tsx
  packages/trader/src/Modules/Trading/Components/Form/TradeParams/amount.tsx
  packages/trader/src/Stores/Modules/Trading/__tests__/trade-store.spec.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
Labels: Trader

#17031 [DTRA-V2] henry/dtra-2039/fix: assign correct barrier category to rise/fall
  packages/trader/src/AppV2/Hooks/useContractsForCompany.ts
Labels: Trader

#16611 Likhith/trah 3856/add poa document type
  packages/account/src/Components/file-uploader-container/__tests__/file-uploader-container.spec.tsx
  packages/account/src/Components/file-uploader-container/file-uploader-container.tsx
  packages/account/src/Components/forms/personal-details-form.jsx
  packages/account/src/Constants/file-uploader.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/__tests__/proof-of-address-form.spec.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/poa-desktop-layout.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/poa-mobile-layout.scss
  packages/account/src/Sections/Verification/ProofOfAddress/poa-mobile-layout.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/account/src/Sections/Verification/ProofOfIncome/__tests__/proof-of-income.spec.tsx
  packages/account/src/Types/common.type.ts
  packages/api-v2/types.ts
  packages/api/types.ts
  packages/cfd/src/Components/__tests__/cfd-poa.spec.tsx
  packages/components/src/components/inline-message/inline-message.tsx
  packages/wallets/src/features/accounts/modules/Poa/Poa.scss
  packages/wallets/src/features/accounts/modules/Poa/Poa.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/AddressSection/AddressSection.scss
  packages/wallets/src/features/accounts/modules/Poa/components/AddressSection/AddressSection.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/DocumentSubmission/DocumentSubmission.scss
  packages/wallets/src/features/accounts/modules/Poa/components/DocumentSubmission/DocumentSubmission.tsx
  packages/wallets/src/features/accounts/modules/Poa/components/POAMobile/POAMobile.scss
  packages/wallets/src/features/accounts/modules/Poa/components/POAMobile/POAMobile.tsx
  packages/wallets/src/features/accounts/modules/Poa/hooks/usePoa.ts
  packages/wallets/src/features/accounts/modules/Poa/types/types.ts
  packages/wallets/src/features/accounts/modules/Poa/utils/constants.tsx
  packages/wallets/src/features/accounts/modules/Poa/utils/poaValidationSchema.ts
Labels: Shared, Components, Account

#16422 Adding a notification for users to accept the updated T&Cs changes
  packages/account/src/Components/terms-of-use/__tests__/terms-of-use.spec.tsx
  packages/account/src/Components/terms-of-use/terms-of-use.tsx
  packages/account/src/Configs/terms-of-use-config.ts
  packages/cashier/src/pages/deposit/deposit-locked/__tests__/deposit-locked.spec.tsx
  packages/cashier/src/pages/deposit/deposit-locked/deposit-locked.tsx
  packages/core/src/App/Containers/Modals/app-modals.jsx
  packages/core/src/App/Containers/Modals/tnc-status-update-modal/__test__/tnc-status-update-modal.spec.tsx
  packages/core/src/App/Containers/Modals/tnc-status-update-modal/index.ts
  packages/core/src/App/Containers/Modals/tnc-status-update-modal/tnc-status-update-modal.scss
  packages/core/src/App/Containers/Modals/tnc-status-update-modal/tnc-status-update-modal.tsx
  packages/core/src/App/Containers/RealAccountSignup/account-wizard.jsx
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/notification-store.js
  packages/core/src/Stores/ui-store.js
  packages/hooks/src/__tests__/useDepositLocked.spec.tsx
  packages/hooks/src/__tests__/useIsTNCNeeded.spec.tsx
  packages/hooks/src/__tests__/useNeedTNC.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useDepositLocked.ts
  packages/hooks/src/useIsTNCNeeded.ts
  packages/hooks/src/useNeedTNC.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/wallets/src/features/cashier/modules/DepositLocked/DepositLocked.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/DepositLockedContent.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/__tests__/DepositLocked.spec.tsx
  packages/wallets/src/features/cashier/modules/DepositLocked/__tests__/DepositLockedContent.spec.tsx
Labels: Core, Components, Account

#16902 [BOT]maryia/BOT-2074/feat: Add Blockly update and migration guide on DBot Announcements section
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/pages/dashboard/announcements/__tests__/announcements.spec.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-components.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcement-dialog.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.scss
  packages/bot-web-ui/src/pages/dashboard/announcements/announcements.tsx
  packages/bot-web-ui/src/pages/dashboard/announcements/config.tsx
  packages/components/src/components/icon/common/ic-migrate-strategy.svg
  packages/components/src/components/icon/common/ic-upgrade-blockly.svg
  packages/components/src/components/icon/icons.js
Labels: Bot, Components

#16976 [WALL] george / WALL-4518 / Update Fiat Onramp Implementation
  packages/cashier/src/containers/cashier/__tests__/cashier.spec.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-onramp-card/__test__/cashier-onboarding-onramp-card.test.tsx
  packages/cashier/src/modules/cashier-onboarding/components/cashier-onboarding-onramp-card/cashier-onboarding-onramp-card.tsx
  packages/cashier/src/modules/deposit-crypto/deposit-crypto.tsx
  packages/cashier/src/pages/deposit/__tests__/deposit.spec.tsx
  packages/core/src/App/Containers/RealAccountSignup/add-crypto-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-currency-note.jsx
  packages/core/src/App/Containers/RealAccountSignup/add-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/choose-currency.js
  packages/core/src/App/Containers/RealAccountSignup/choose-currency.jsx
  packages/core/src/App/Containers/RealAccountSignup/real-account-signup.jsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/__tests__/useOnrampVisible.spec.tsx
  packages/hooks/src/useOnrampVisible.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/wallets/src/features/cashier/WalletCashier.scss
  packages/wallets/src/features/cashier/flows/WalletFiatOnRamp/WalletFiatOnRamp.tsx
  packages/wallets/src/features/cashier/flows/WalletFiatOnRamp/__tests__/WalletFiatOnRamp.spec.tsx
  packages/wallets/src/features/cashier/modules/DepositCrypto/DepositCrypto.tsx
Labels: Core

#17003 DTRA-1964 / Kate / [DTrader-V2] Guide section isn't translated to Kiswahili ,Simplified and Traditional chinese languages [SW,ZH_CN,ZH_TW]
  packages/trader/src/AppV2/Components/Guide/__tests__/guide.spec.tsx
  packages/trader/src/AppV2/Components/Guide/guide-description-modal.tsx
  packages/trader/src/AppV2/Components/Guide/guide.tsx
  packages/trader/src/AppV2/Utils/trade-types-utils.tsx
Labels: Trader

#17024 DTRA-2025 / Kate / Add resetting of stake and TP on trade type and stake on symbol change
  packages/shared/src/utils/constants/contract.ts
  packages/stores/src/mockStore.ts
  packages/trader/src/AppV2/Components/TradeParameters/Stake/__tests__/stake.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Stake/stake.tsx
  packages/trader/src/AppV2/Containers/Trade/__tests__/trade.spec.tsx
  packages/trader/src/AppV2/Hooks/useContractsForCompany.ts
  packages/trader/src/Stores/Modules/Trading/trade-store.ts
  packages/trader/src/Types/common-prop.type.ts
Labels: Trader, Shared

#16984 [DTRA]Ahmad/New Days Duration Screen
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/__tests__/duration_container.spec.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/chips.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/container.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/datepicker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/day.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.scss
  packages/trader/src/AppV2/Components/TradeParameters/Duration/duration.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/timepicker.tsx
  packages/trader/src/AppV2/Components/TradeParameters/Duration/wheelpicker.tsx
  packages/trader/src/AppV2/Utils/__tests__/trade-param-utils.spec.tsx
  packages/trader/src/AppV2/Utils/trade-params-utils.tsx
  packages/trader/src/Stores/Modules/Trading/Helpers/proposal.ts
Labels: Trader, Core, Account

#16971 Nuzhy/fresh chat integration[POC]
  packages/core/src/App/Components/Elements/LiveChat/use-freshchat.ts
Labels: Core

#17010 [WALL] Lubega / WALL-4911 / Migrate wallets utils to deriv-com/utils
  package-lock.json
  packages/account/package.json
  packages/api-v2/package.json
  packages/api/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/p2p/package.json
  packages/shared/package.json
  packages/trader/package.json
  packages/wallets/package.json
  packages/wallets/src/components/DatePicker/DatePicker.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/VerifyPersonalDetails.tsx
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/hooks/useVerifyPersonalDetails.ts
  packages/wallets/src/features/accounts/modules/DocumentService/components/VerifyPersonalDetails/types/types.ts
  packages/wallets/src/features/accounts/modules/ManualService/components/DrivingLicenseUpload/DrivingLicenseUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/IdentityCardUpload/IdentityCardUpload.tsx
  packages/wallets/src/features/accounts/modules/ManualService/components/PassportUpload/PassportUpload.tsx
  packages/wallets/src/features/cashier/modules/TransactionStatus/components/CryptoTransaction/CryptoTransaction.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompleted/TransactionsCompleted.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedDemoResetBalance/TransactionsCompletedDemoResetBalance.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsCompletedRow/TransactionsCompletedRow.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPending/TransactionsPending.tsx
  packages/wallets/src/features/cashier/modules/Transactions/components/TransactionsPendingRow/TransactionsPendingRow.tsx
  packages/wallets/src/utils/__tests__/parse-crypto-longcode.spec.ts
  packages/wallets/src/utils/__tests__/utils.spec.ts
  packages/wallets/src/utils/parse-crypto-longcode.ts
  packages/wallets/src/utils/react-node-to-string.ts
  packages/wallets/src/utils/utils.ts
Labels: Trader, Core, Shared, P2P, Account

#16561 Update pushDataLayer to check logged in state of user
  packages/account/src/Components/poi/idv-status/idv-failed/idv-failed.tsx
  packages/account/src/Components/poi/poi-confirm-with-example-form-container/poi-confirm-with-example-form-container.tsx
  packages/account/src/Sections/Assessment/FinancialAssessment/financial-assessment.tsx
  packages/account/src/Sections/Verification/ProofOfAddress/proof-of-address-form.tsx
  packages/cashier/src/pages/account-transfer/account-transfer.tsx
  packages/core/src/Services/socket-general.js
  packages/core/src/Stores/client-store.js
  packages/core/src/Stores/common-store.js
  packages/core/src/Stores/contract-replay-store.js
  packages/core/src/Stores/gtm-store.js
  packages/core/src/_common/base/socket_base.js
Labels: Core, Account

#16800 Jim/WALL-4695/implement disabled wallet on traders hub screen
  packages/api-v2/src/AuthProvider.tsx
  packages/api-v2/src/constants/errorCodes.ts
  packages/api-v2/src/constants/index.ts
  packages/core/src/App/Containers/AccountSwitcherWallet/account-switcher-wallet-list.tsx
  packages/core/src/App/Containers/RootComponent/root-component.jsx
  packages/core/src/Stores/client-store.js
  packages/hooks/src/useStoreWalletAccountsList.ts
  packages/utils/src/getAccountListWithAuthToken.ts
  packages/utils/src/getToken.ts
  packages/wallets/src/App.tsx
  packages/wallets/src/AuthProvider.tsx
  packages/wallets/src/components/Base/WalletLink/WalletLink.scss
  packages/wallets/src/components/DerivAppsSection/DerivAppsGetAccount.tsx
  packages/wallets/src/components/DerivAppsSection/DerivAppsSection.scss
  packages/wallets/src/components/DerivAppsSection/DerivAppsTradingAccount.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/OptionsAndMultipliersListing.tsx
  packages/wallets/src/components/OptionsAndMultipliersListing/__test__/OptionsAndMultipliersListing.spec.tsx
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.scss
  packages/wallets/src/components/TradingAccountCard/TradingAccountCard.tsx
  packages/wallets/src/components/TradingAccountCard/TradingAccountCardSection.tsx
  packages/wallets/src/components/WalletDisabledAccountModal/WalletDisabledAccountModal.scss
  packages/wallets/src/components/WalletDisabledAccountModal/WalletDisabledAccountModal.tsx
  packages/wallets/src/components/WalletDisabledAccountModal/index.ts
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.scss
  packages/wallets/src/components/WalletListCardDropdown/WalletListCardDropdown.tsx
  packages/wallets/src/components/WalletListCardDropdown/__tests__/WalletListCardDropdown.spec.tsx
  packages/wallets/src/components/WalletListHeader/WalletListHeader.scss
  packages/wallets/src/components/WalletListHeader/WalletListHeader.tsx
  packages/wallets/src/components/WalletListHeader/__tests__/WalletListHeader.spec.tsx
  packages/wallets/src/components/WalletStatusBadge/WalletStatusBadge.tsx
  packages/wallets/src/components/WalletsCarouselContent/WalletsCarouselContent.tsx
  packages/wallets/src/components/WalletsContainer/WalletsContainer.tsx
  packages/wallets/src/components/WalletsContainer/__tests__/WalletsContainer.spec.tsx
  packages/wallets/src/components/WalletsDisabledAccountsBanner/WalletsDisabledAccountsBanner.scss
  packages/wallets/src/components/WalletsDisabledAccountsBanner/WalletsDisabledAccountsBanner.tsx
  packages/wallets/src/components/WalletsDisabledAccountsBanner/__tests__/WalletsDisabledAccountsBanner.spec.tsx
  packages/wallets/src/components/WalletsDisabledAccountsBanner/index.ts
  packages/wallets/src/components/index.ts
  packages/wallets/src/features/cfd/flows/CTrader/AddedCTraderAccountsList/AddedCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/flows/CTrader/AvailableCTraderAccountsList/AvailableCTraderAccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.scss
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/AddedMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/MT5/AddedMT5AccountsList/__tests__/AddedMT5AccountsList.spec.tsx
  packages/wallets/src/features/cfd/flows/MT5/AvailableMT5AccountsList/AvailableMT5AccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AddedDxtradeAccountsList/AddedDxtradeAccountsList.tsx
  packages/wallets/src/features/cfd/flows/OtherCFDs/Dxtrade/AvailableDxtradeAccountsList/AvailableDxtradeAccountsList.tsx
  packages/wallets/src/hooks/useWalletAccountSwitcher.ts
  packages/wallets/src/routes/WalletsListingRoute/WalletsListingRoute.tsx
  packages/wallets/src/routes/WalletsListingRoute/__tests__/WalletsListingRoute.spec.tsx
Labels: Trader, Core, Bot, Components, P2P, Account, AppStore

#17016 [BOT][Accumulators]maryia/bot-1980/feat: Adapt QS form as per new design
  packages/bot-web-ui/package.json
  packages/bot-web-ui/src/constants/bot-contents.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/__tests__/quick-strategy.spec.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/config.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/upgraded-qs-v2/desktop-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/upgraded-qs-v2/mobile-form-wrapper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/upgraded-qs-v2/qs-stepper.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/upgraded-qs-v2/stepper.scss
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/upgraded-qs-v2/strategy-list.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/upgraded-qs-v2/strategy-template-picker.scss
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/upgraded-qs-v2/strategy-template-picker.tsx
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/form-wrappers/upgraded-qs-v2/trade-constants.ts
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.scss
  packages/bot-web-ui/src/pages/bot-builder/quick-strategy/quick-strategy.tsx
  packages/components/src/components/icon/common/ic-server-bot-loss.svg
  packages/components/src/components/icon/common/ic-server-bot-profit.svg
  packages/components/src/components/icon/common/ic-server-bot.svg
  packages/components/src/components/icon/icons.js
  packages/stores/src/stores/FeatureFlagsStore.ts
Labels: Bot
